<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Golden Hour View of Acropolis of Athens, Greece Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Golden-Hour-View-from-Below-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Athens, Greece and plan the perfect trip with our savable Athens Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="athens_greece" />
    <meta name="europe_attraction_guides" content="athens_greece" />
    <meta name="europe_destinations" content="athens_greece" />
    <meta name="europe_destination_guides" content="athens_greece" />
    <meta name="greece_attraction_guides" content="athens" />
    <meta name="greece_destinations" content="athens" />
    <meta name="greece_destination_guides" content="athens" />
    <meta name="national_park_attraction_guides" content="sounio" />
    <meta name="google_maps_list" content="athens" />
    <meta property="og:title" content="Athens, Greece Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Golden-Hour-View-from-Below.jpg">
    <meta name="twitter:title" content="Athens, Greece Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Golden-Hour-View-from-Below.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/athens-attractions-guide">
    <title>Attractions Guide for Athens, Greece</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Athens, Greece<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#athens-acropolis">Athens Acropolis</a></div>
            <div><a href="#temple-of-olympian-zeus">Temple of Zeus</a></div>
            <div><a href="#hills-areopagus-muses">Areopagus &amp; Muses Hills</a></div>
            <div><a href="#mount-lycabettus">Mt. Lycabettus</a></div>
            <div><a href="#ancient-athenian-and-roman-agoras">Ancient Agoras</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#greater-athens-temple-of-poseidon">Temple of Poseidon</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Athens -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Greek's capital city is full of ancient monuments and temples, which are mostly huddled together in the city's center near the ancient Acropolis hill.</p>
    </section>


    <!-- Athens Acropolis Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View of the lit up ancient Acropolis of Athens at night" 
                        src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Acropolis of Athens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%97_%CE%91%CE%BA%CF%81%CF%8C%CF%80%CE%BF%CE%BB%CE%B7_%CE%B1%CF%80%CF%8C_%CF%84%CE%B7%CE%BD_%CE%A0%CE%BD%CF%8D%CE%BA%CE%B1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%97_%CE%91%CE%BA%CF%81%CF%8C%CF%80%CE%BF%CE%BB%CE%B7_%CE%B1%CF%80%CF%8C_%CF%84%CE%B7%CE%BD_%CE%A0%CE%BD%CF%8D%CE%BA%CE%B1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Evangelos Methenitis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking the vast expanse of lovely buildings in Athens and mountains from the Acropolis of Athens"
                        src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Acropolis of Athens (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/piet_theisohn/17171928248" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/piet_theisohn/" rel="noopener noreferrer" target="_blank">
                                    piet theisohn</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Iconic ancient Parthenon and its massive white columns before renovations, atop the Acropolis of Athens"
                        src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Parthenon-Temple.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parthenon (Acropolis&nbsp;of&nbsp;Athens)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/68686051@N00/2416778389" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/maleny_steve/" rel="noopener noreferrer" target="_blank">
                                    Steve Swayne</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ruins of the Erechtheion Temple and its intricately carved figures atop the Acropolis of Athens"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Erechtheion-Temple.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Erechtheion Temple (Acropolis&nbsp;of&nbsp;Athens)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Erechtheum_Acropolis_Athens.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jebulon" rel="noopener noreferrer" target="_blank">
                                    Jebulon</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ancient Theatre of Dionysus seen from the top row seats below the Athens Acropolis"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Theatre-of-Dionysus-Ancient-Greek-Theater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Theatre of Dionysus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2007_Greece_Athens_Theatre_of_Dionysus_Eleuthereus.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Nhartmannphotos" rel="noopener noreferrer" target="_blank">
                                    Nicholas Hartmann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking the Odeon of Herodes Atticus Theatre with its partially-preserved theatre wall and Athens in the background"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Odeon-of-Herodes-Atticus-Ancient-Roman-Theatre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Odeon of Herodes Atticus Theatre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/schwarzbrot/34580450331" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/schwarzbrot/" rel="noopener noreferrer" target="_blank">
                                    Robert Anders</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Athens Acropolis Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="athens-acropolis"></a>
        <h2 class="left-heading destination-section-heading">Acropolis of Athens</h2>
        <p>The most popular sight in the city is the <strong>Acropolis of Athens</strong>, a massive rocky hilltop where you'll find the iconic <strong>Parthenon</strong>, a landmark columned structure which served as the ancient temple for the Greek goddess Athena nearly 2,500 years ago.</p>
        <p>Within the Acropolis you'll find several other impressive ancient Greek temples and ruins, such as the <strong>Erechtheion</strong> temple built to honor Poseidon, and the ancient Greek <strong>Theatre of Dionysus</strong> which sits just below the hill. Also below the Acropolis is the ancient Roman <strong>Odeon of Herodes Atticus</strong> theatre, which was built during Roman occupation of Ancient Greece.</p>
        <p>Just south of the Acropolis is the famous Acropolis Museum, which houses an extensive collection of Ancient Greek artifacts, many of which were found at the Acropolis.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Athens 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5963185305"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Temple of Olympian Zeus, Areopagus Hill, Hill of the Muses, and Mount Lycabettus Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering columns of the Temple of Olympian Zeus with the Acropolis of Athens in the background" 
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Temple-of-Olympian-Zeus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Olympian Zeus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Temple_of_Olympian_Zeus_Athens_Greece_9.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Temple_of_Olympian_Zeus_Athens_Greece_9.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Ava Babili</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view of the Acropolis of Athens in the daytime from Areopagus Hill"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Areopagus-Hill-Acropolis-of-Athens-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Areopagus Hill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Attica_06-13_Athens_15_View_from_Acropolis_Hill.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:A.Savin" rel="noopener noreferrer" target="_blank">
                                    A.Savin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="http://artlibre.org/licence/lal/en/" rel="noopener noreferrer" target="_blank">
                                FAL 1.3</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible view of the Acropolis of Athens in the daytime from Filopappou Hill (or Hill of the Muses)"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Filopappou-Hill-of-the-Muses-Acropolis-of-Athens-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Filopappou Hill (Hill&nbsp;of&nbsp;the&nbsp;Muses)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/carolemage/14220794964/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/carolemage/" rel="noopener noreferrer" target="_blank">
                                    Carole Raddato</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching views overlooking the City of Athens with the deep blue sea in the background seen from the top of Mount Lycabettus"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Mount-Lycabettus-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Lycabettus View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_of_Athens_from_Lycabettus.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dimboukas" rel="noopener noreferrer" target="_blank">
                                    Dimboukas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Part of the view at night from Mount Lycabettus overlooking the lit up Acropolis of Athens surrounded by the city"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night-View-from-Mount-Lycabettus-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Athens Acropolis View (Mount&nbsp;Lycabettus)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Parthenon_at_Night..jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gosspil89" rel="noopener noreferrer" target="_blank">
                                    Gosspil89</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Temple of Olympian Zeus Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="temple-of-olympian-zeus"></a>
        <h2 class="left-heading destination-section-heading">Temple of Olympian Zeus</h2>
        <p>Another magnificent ancient Greek temple located near the Acropolis is the towering 2,500 year old <strong>Temple of Olympian Zeus</strong>, which sits on a small park. At the entrance to the park is the partially ruined Hadrian's Arch, which served as an ancient gateway. The park also hosts great views looking up at the Acropolis.</p>
    </section>


    <!-- Areopagus Hill and Hill of the Muses Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hills-areopagus-muses"></a>
        <h2 class="left-heading destination-section-heading">Areopagus Hill &amp; Hill of the Muses</h2>
        <p>Adjacent to the Acropolis is <strong>Areopagus Hill</strong>, which served as the high court for Ancient Greece. The hill features ruins as well as excellent views of the neighboring Acropolis hill and over Athens. Be sure to take in views from here at night when the Acropolis lights up.</p>
        <p>Very close-by is another important hill, the <strong>Hill of the Muses</strong> (or Filopappou Hill), where you'll find several more ancient structures and ruins, as well as more amazing views.</p>
    </section>


    <!-- Mount Lycabettus Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mount-lycabettus"></a>
        <h2 class="left-heading destination-section-heading">Mount Lycabettus</h2>
        <p>For some of the best views over the city you can head to <strong>Mount Lycabettus</strong>, which rises high above Athens, offering brilliant panoramic views over the entire city. You can reach the top via a 1 mile (1.6 km) round-trip hike, or take the cable car ride up if you prefer. Mount Lycabettus is located just north of the Benaki & Byzantine Museums.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Athens 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2297727876"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Ancient Agora of Athens and Roman Agora Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view of the well-preserved Temple of Hephaestus hiding behind trees, part of the Ancient Agora in Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Ancient-Agora-of-Athens-Temple-of-Hephaestus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Hephaestus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Temple_of_Hephaestus_from_ancient_agora_Athens.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jebulon" rel="noopener noreferrer" target="_blank">
                                    Jebulon</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the magnificently restored white Stoa of Attalos, an ancient marketplace, located in Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Stoa-of-Attalos-Ancient-Marketplace-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stoa of Attalos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%D0%A0%D0%B8%D0%BC%D1%81%D0%BA%D0%B0%D1%8F_%D0%B0%D0%B3%D0%BE%D1%80%D0%B0_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:%D0%A0%D0%B8%D0%BC%D1%81%D0%BA%D0%B0%D1%8F_%D0%B0%D0%B3%D0%BE%D1%80%D0%B0_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Stanislav Amelchyts</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Column-lined walkway along the edge of the Stoa of Attalos ancient marketplace in Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Stoa-of-Attalos-Ancient-Marketplace-Interior-Columns.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stoa of Attalos<br />(Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/athens-columns-greece-greek-museum-1968131/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruins of the Roman Agora built by the Ancient Romans in Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Ancient-Roman-Agora.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Roman Agora</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29172291@N00/28944860512" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andyhay/" rel="noopener noreferrer" target="_blank">
                                    Andy Hay</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ruins of the Hadrian's Library, built by the Ancient Romans in Athens, Greece" 
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Hadrians-Library-Ancient-Roman-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hadrian's Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hadrian_Library_Athen.jpg&action=historyhttps://www.flickr.com/photos/benjamingillet/16484823825" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.photo-natur.net/" rel="noopener noreferrer" target="_blank">
                                    Andreas Trepte</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from a porch above Monastiraki Square with the Acropolis of Athens in the background"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-View-from-Monastiraki-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monastiraki Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/132646954@N02/44869530601/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/132646954@N02/" rel="noopener noreferrer" target="_blank">
                                    Falco Ermert</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ruins of an ancient cemetery in Athens, Greece known as the Kerameikos Archaeological Site" 
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Kerameikos-Archaeological-Site-Ancient-Cemetery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kerameikos Archaeological&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/25182210@N07/5829387560" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dynamosquito/" rel="noopener noreferrer" target="_blank">
                                    dynamosquito</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Ancient Agora of Athens and Roman Agora Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="ancient-athenian-and-roman-agoras"></a>
        <h2 class="left-heading destination-section-heading">Ancient Athenian &amp; Roman Agoras</h2>
        <p>Just behind Areopagus Hill to the north is the Ancient Agora of Athens, which contains many ruins as well as the strikingly well-preserved <strong>Temple of Hephaestus</strong>. The Agora also hosts the incredible reconstructed <strong>Stoa of Attalos</strong> building, a lavish columned ancient marketplace which now houses important artifacts and operates as an archaeological museum.</p>
        <p>Nearby the Athenian Agora you'll find the 2000 year-old ruins of the ancient <strong>Roman Agora</strong>, as well as the remains of <strong>Hadrian's Library</strong>, which was commissioned by the great Roman emperor Hadrian. Just north of these many ruins is the main public plaza of Old Athens, <strong>Monastiraki Square</strong>, which hosts a quaint church, many shops and cafes, and views of the Athens Acropolis.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Just to the west of the Ancient Agora of Athens is the <strong>Kerameikos Archaeological Site</strong>, an ancient Greek cemetery and ruins where you'll also find a small archaeological museum.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Athens 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3228376609"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Museums and Temple of Poseidon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient busts and statues within an exhibit at the Benaki Museum in Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Benaki-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Benaki Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Athens,_Benaki_Museum_07.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Athens,_Benaki_Museum_07.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Palickap</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Artifacts housed within the Byzantine and Christian Museum of Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Byzantine-and-Christian-Museum-BCMA-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Byzantine &amp; Christian Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/telemax/9169380934/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/telemax/" rel="noopener noreferrer" target="_blank">
                                    Tilemahos Efthimiadis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the massive National Archaeological Museum in Athens, Greece which holds many priceless ancient treasures"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-National-Archaeological-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Archaeological Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Building_of_the_National_Archaeological_Museum_of_Athens_(DSC_6212).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Building_of_the_National_Archaeological_Museum_of_Athens_(DSC_6212).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Antonis Giakoumakis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ruins of the Temple of Poseidon and its columns in Sounion which sits above the ocean outside of Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Greater-Athens-Sounion-Temple-of-Poseidon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Poseidon (Sounion)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alexlubbock/23479557476" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alexlubbock/" rel="noopener noreferrer" target="_blank">
                                    alex.lubbock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Temple of Poseidon ancient Greek ruins overlooking the sea and Greek Islands from Sounion outside Athens, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Sounion-Temple-of-Poseidon-Ruins-and-Islands-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Poseidon (Sounion)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/fhmira/2428598008" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/fhmira/" rel="noopener noreferrer" target="_blank">
                                    F Mira</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>East of the Acropolis you'll find the <strong>Benaki Museum</strong>, a stately mansion filled with important artifacts from various periods of Greece. Very close by be sure to visit the <strong>Byzantine and Christian Museum</strong>, which contains one of the wold's foremost collections of Byzantine art such as paintings, sculptures, and frescoes, among many other objects and artifacts.</p>
        <p>Housed in a majestic neoclassical structure north of the Acropolis you'll find Athen's <strong>National Archaeological Museum</strong>, which houses a massive superb collection of ancient Greek artifacts and art. Along with the Acropolis Museum, this museum is one of the two must-see museums in the city.</p>
    </section>


    <!-- Temple of Poseidon and Sounion Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-athens-temple-of-poseidon"></a>
        <h2 class="left-heading destination-section-heading">Temple of Poseidon at Sounion</h2>
        <p>One more extraordinary temple to see near Athens is the ancient <strong>Temple of Poseidon</strong>. This temple is located southeast of Athens at the Archaeological Site of Sounion and sits atop the cliffs high above the ocean. From the temple you can take in amazing coastal views and watch the sunset over the Mediterranean.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The Temple of Poseidon is approximately 1 hour south of Athens by car. Many tours from Athens are also offered that visit this stunning temple. These tours also typically include the Vouliagmenis Lake and caves. Beneath this beautiful lake is a complex labyrinth of caves which has inspired many legends, however most visitors to the simply enjoy the lake's mild thermal waters and the scenic cliffs surrounding it. If visiting the temple via car, you might also consider a stop to enjoy the Vouliagmenis Lake.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Athens Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1915294933"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Athens Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/DPkRFyxkTYQ2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/osK7bExwRCm">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/corinth-and-argolis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient columns of the Temple of Apollo at Corinth, with mountaintop Arcocorinth ancient fortress in the background, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Ancient-Corinth-Archaeological-Site-Temple-of-Apollo.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/corinth-and-argolis-attractions-guide">
                        Corinth &amp; Argolis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Tempio_di_Apollo_e_Acrocorinto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Codas" rel="noopener noreferrer" target="_blank">
                            Davide Mauro</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/delphi-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful ruins of the Athena Pronaia Temple with giant mountains in background at Ancient Delphi, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Temple.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/delphi-attractions-guide">
                        Delphi
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andyhay/28389437462" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andyhay/" rel="noopener noreferrer" target="_blank">
                            Andy Hay</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/meteora-kalabaka-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking several of the clifftop monasteries of Meteora in Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Kalabaka-Kastraki-Meteora-Monasteries-of-Meteora.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/meteora-kalabaka-attractions-guide">
                        Meteora Monasteries (Kalabaka)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mossaiq/32824273591" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mossaiq/" rel="noopener noreferrer" target="_blank">
                            Guillen Perez</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view of the beautiful houses along the coast at Little Venice on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        Mykonos &amp; Delos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/mykonos-sea-water-beach-wave-1635650/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/EvanRoss-2519342/" rel="noopener noreferrer" target="_blank">
                            EvanRoss</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View looking back at Naxos Town from the Portara Apollo Temple's peninsula on Naxos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Naxos-Naxos-City-View-from-Portara-Apollo-Temple.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        Paros &amp; Naxos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/timove/23499802936" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/timove/" rel="noopener noreferrer" target="_blank">
                            TimOve</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic blue domed white buildings of Oia, Santorini, Greece located atop the cliffs above the ocean with views of the caldera"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        Santorini &amp; Oia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/church-santorini-d-greece-island-2020258/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Russell_Yan-3002189/" rel="noopener noreferrer" target="_blank">
                            Russell_Yan</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    