<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View from ancient Acrocorinth Fortress in Corinth, Argolis, Peloponnese Peninsula, Greece Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Acrocorinth-Fortress-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Corinth & Argolis, Greece + Nafplio, Mycenae, & Epidaurus. Plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="corinth_greece" />
    <meta name="attraction_guides" content="argolis_greece" />
    <meta name="attraction_guides" content="nafplio_greece" />
    <meta name="attraction_guides" content="mycenae_greece" />
    <meta name="attraction_guides" content="epidaurus_greece" />
    <meta name="europe_attraction_guides" content="corinth_greece" />
    <meta name="europe_attraction_guides" content="argolis_greece" />
    <meta name="europe_destinations" content="corinth_greece" />
    <meta name="europe_destinations" content="argolis_greece" />
    <meta name="europe_destination_guides" content="corinth_greece" />
    <meta name="europe_destination_guides" content="argolis_greece" />
    <meta name="greece_attraction_guides" content="corinth" />
    <meta name="greece_attraction_guides" content="argolis" />
    <meta name="greece_destinations" content="corinth" />
    <meta name="greece_destinations" content="argolis" />
    <meta name="greece_destinations" content="nafplio" />
    <meta name="greece_destinations" content="mycenae" />
    <meta name="greece_destinations" content="epidaurus" />
    <meta name="greece_destination_guides" content="corinth" />
    <meta name="greece_destination_guides" content="argolis" />
    <meta name="google_maps_list" content="corinth" />
    <meta name="google_maps_list" content="argolis" />
    <meta name="google_maps_list" content="nafplio" />
    <meta name="google_maps_list" content="mycenae" />
    <meta name="google_maps_list" content="epidaurus" />
    <meta property="og:title" content="Corinth & Argolis, Greece Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Acrocorinth-Fortress-View.jpg">
    <meta name="twitter:title" content="Corinth & Argolis, Greece Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Acrocorinth-Fortress-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/corinth-and-argolis-attractions-guide">
    <title>Attractions Guide for Corinth & Argolis, Greece</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Corinth &amp; Agrolis, Greece<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#perachora-heraion">Heraion of Perachora</a></div>
            <div><a href="#peleponnese-corinth">Ancient Corinth</a></div>
            <div><a href="#argolis-mycenae">Ancient Mycenae</a></div>
            <div><a href="#argolis-nafplio">Nafplio, Greece</a></div>
            <div><a href="#argolis-epidaurus">Ancient Epidaurus</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Corinth and Argolis Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route starting near the city of Corinth on Greece's Peloponesse Peninsula, continuing along the Argolis region on the Argolid Peninsula. In this region you'll find serveral incredible ancient sites, as well as the city of Nafplio.</p>
    </section>


    <!-- Perachora, Corinth, and Mycenae, Greece Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ancient Heraion ruins of Perachora set along the beach and coastline of Cape Ireon, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Cape-Ireon-Heraion-of-Perachora-Archaeological-Site.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Archaeological Site Heraion<br />(Perachora)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Heraion_of_Perachora.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/36948929@N08/" rel="noopener noreferrer" target="_blank">
                                    sunrisehomeland</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ancient columns of the Temple of Apollo at Corinth, with mountaintop Arcocorinth ancient fortress in the background, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Ancient-Corinth-Archaeological-Site-Temple-of-Apollo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ancient Corinth</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tempio_di_Apollo_e_Acrocorinto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Codas" rel="noopener noreferrer" target="_blank">
                                    Davide Mauro</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Vast imposing walls of the Acrocorinth Fortress criss-crossing up a steep grass-covered mountain in Corinth, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Acrocorinth-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Acrocorinth Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Korinf_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Korinf_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Tanya Dedyukhina</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Corinth and coast from high above, seen from the top of the Acrocorinth Fortress on the Peloponesse Peninsula"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Acrocorinth-Fortress-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Acrocorinth Fortress (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Akrokorinth_Looking_North.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Vancouverquadra" rel="noopener noreferrer" target="_blank">
                                    Vancouverquadra</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient grave circle structure made of stone bricks, set amongst the ancient ruins and grassy hills of Mycenae, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Mykines-Mycenae-Archaeological-Site-Grave-Circle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mycenae Archaeological Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Grave-Circle-A-Mycenae.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grave-Circle-A-Mycenae.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Andreas Trepte</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway with steep walls on either side leading to the entrance of an underground tomb at Mycenae, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Mykines-Mycenae-Archaeological-Site-Tomb-Agamemnon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Archaeological Site Tomb of Agamemnon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mykene.Treasure.of.Atreus.tholos.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/Adam_Carr" rel="noopener noreferrer" target="_blank">
                                    Adam Carr</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Heraion of Perachora Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="perachora-heraion"></a>
        <h2 class="left-heading destination-section-heading">Heraion of Perachora Archaeological Site</h2>
        <p>If you'd like, you can start the day with a detour to the <strong>Archaeological Site Heraion</strong>, where you can walk amongst 6th century BCE ruins and see a small lighthouse on the end of a peninsula overlooking the Gulf of Corinth.</p>
        <p>The site is formally known as the Heraion of Perachora and mainly consists of a temple to the Greek goddess Hera, although the site contains other interesting structures as well.</p>
    </section>


    <!-- Corinth, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="peleponnese-corinth"></a>
        <h2 class="left-heading destination-section-heading">Corinth, Greece</h2>
        <p>Next continue to the ruins of <strong>Ancient Corinth</strong>, a former ancient Greek city-state. Highlights here include the partially-standing Temple of Apollo, an impressive archaeological museum, and vast ruins that you cane explore amongst.</p>
        <p>Nearby is the incredible massive fortified hilltop of <strong>Acrocorinth</strong> surrounded by vast ancient walls that you can explore and take in far-reaching views from. Acrocorinth translates to Upper Corinth, as it is the upper hilltop section of the ancient city.</p>
    </section>


    <!-- Ancient Mycenae Beach Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="argolis-mycenae"></a>
        <h2 class="left-heading destination-section-heading">Ancient Mycenae</h2>
        <p>Afterwards you can visit the UNESCO listed ancient ruins of <strong>Mycenae</strong>, which date back to approximately 3,200 years ago, which is many centuries older than the Acropolis of Athens. During this period the ancient Mycenaeans ruled over a large part of ancient Greece, and Mycenae was among their most important cities.</p>
        <p>The site contains many incredible ruins such as the <strong>Agamemnon Tomb</strong>, as well as an archaeological museum of artifacts found at the site.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Corinth Argolis 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9602213261"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Nafplio and Epidaurus, Greece Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the imposing, well-preserved walls of the hilltop Venetian Fortress above Nafplio, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Nafplio-Venetian-Fortress-Palamidi.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Venetian Fortress Paladimi (Nafplio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/2215131099" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the city of Nafplio, a castle, and the sea from a staircase leading up to the Palamidi Venetian Fortress"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Nafplio-Venetian-Fortress-Palamidi-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Venetian Fortress Paladimi (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Above_nafplio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Above_nafplio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Stathis floros</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Boats in the harbor of Nafplio in front of the hilltop Venetian Fortress, towering above the buildings along the harbor"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Nafplio-Nafplio-Harbor-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nafplio Harbor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_caslte_of_Nafplio,_Greece_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_caslte_of_Nafplio,_Greece_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    G Da</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the stone Bourtzi Castle on a tiny island just off the harbor of Nafplio"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Nafplio-Bourtzi-Island-Mpourtzi-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bourtzi Castle Island (Nafplio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%9C%CF%80%CE%BF%CF%8D%CF%81%CF%84%CE%B6%CE%B9_%CE%9D%CE%B1%CF%85%CF%80%CE%BB%CE%AF%CE%BF%CF%85_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%9C%CF%80%CE%BF%CF%8D%CF%81%CF%84%CE%B6%CE%B9_%CE%9D%CE%B1%CF%85%CF%80%CE%BB%CE%AF%CE%BF%CF%85_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Meltedrainbow</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the center of the ancient Epidaurus Stadium from the top seats, on the Peloponesse Peninsula in Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Epidaurus-Epidaurus-Ancient-Theatre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Epidaurus Theatre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rosino/192758563/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rosino/" rel="noopener noreferrer" target="_blank">
                                    Rosino</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient ruins of the large Epidaurus Stadium and its remaining stone seats, on the Peloponesse Peninsula in Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Epidaurus-Epidaurus-Ancient-Stadium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Epidaurus Stadium</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Epidaurus_stadium.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Peulle" rel="noopener noreferrer" target="_blank">
                                    Peulle</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Napfplio, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="argolis-nafplio"></a>
        <h2 class="left-heading destination-section-heading">Nafplio, Greece</h2>
        <p>Next continue to Nafplio (Nafplion), where you can visit the magnificent <strong>Venetian Fortress Palamidi</strong>, which sits atop a hill with sweeping coastal views, surrounded by towering fortified walls. The fortress is very well-preserved and is a great place to explore. To reach the top of the fortress from town you'll need to climb up over 1,000 steps.</p>
        <p>Below the towering Venetian Fortress is the city of Nafplio and the <strong>Nafplio Harbor</strong>, which is lined with lovely historic buildings, some of which feature majestic Venetian architecture. Another tall hill towers directly above the Old Town and the Nafplio harbor, atop which are the remains of the Akronauplia Castle. The hike up to this castle may be worth it for the stunning views overlooking the Old Town and the tiny <strong>Bourtzi Castle</strong> island, which sits just off the coast of the harbor.</p>
    </section>


    <!-- Ancient Epidaurus, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="argolis-epidaurus"></a>
        <h2 class="left-heading destination-section-heading">Ancient Epidaurus</h2>
        <p>Lastly you can visit the ruins of the ancient city of Epidaurus, with its main attractions being the 2,300 year old <strong>Epidaurus Theatre</strong>, a huge ancient amphitheater surrounded by ruins and an impressive museum of artifacts. This amphitheater is so well-built that it still hosts concerts and plays which you might like to watch while enjoying the views of the hills in the distance. The theatre is regarded as having the best acoustics in comparison to any other ancient Greek amphitheater.</p>
        <p>The site also hosts the remains of the ancient <strong>Epidaurus Stadium</strong>, as well as the ruins of the Temple, Tholas, and Abaton of Asklepieion structures.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Corinth Argolis Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8433543773"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Corinth &amp; Argolis Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/UYg6pcCZhgE2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Part of the view at night from Mount Lycabettus overlooking the lit up Acropolis of Athens surrounded by the city"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night-View-from-Mount-Lycabettus-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        Athens
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Parthenon_at_Night..jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gosspil89" rel="noopener noreferrer" target="_blank">
                            Gosspil89</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/delphi-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful ruins of the Athena Pronaia Temple with giant mountains in background at Ancient Delphi, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Temple.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/delphi-attractions-guide">
                        Delphi
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andyhay/28389437462" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andyhay/" rel="noopener noreferrer" target="_blank">
                            Andy Hay</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/zakynthos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Breathtaking full-frame view overlooking Navagio Beach and beyond from high above on Zakynthos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Zakynthos-Navagio-Shipwreck-Beach-North-Trail-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/zakynthos-attractions-guide">
                        Zakynthos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/zakynthos-greece-shipwreck-beach-1583127/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/GregMontani-1014946/" rel="noopener noreferrer" target="_blank">
                            GregMontani</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    