<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Oracle of Delphi Athen Pronaia Temple ancient Greek ruins at Delphi, Greece Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Oracle-of-Delphi-Temple-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Delphi, Greece and plan the perfect trip with our savable Delphi Attraction List for Google Maps" />
    <meta name="attraction_guides" content="delphi_greece" />
    <meta name="europe_attraction_guides" content="delphi_greece" />
    <meta name="europe_destinations" content="delphi_greece" />
    <meta name="europe_destination_guides" content="delphi_greece" />
    <meta name="greece_attraction_guides" content="delphi" />
    <meta name="greece_destinations" content="delphi" />
    <meta name="greece_destination_guides" content="delphi" />
    <meta name="google_maps_list" content="delphi" />
    <meta property="og:title" content="Delphi, Greece Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Oracle-of-Delphi-Temple.jpg">
    <meta name="twitter:title" content="Delphi, Greece Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Oracle-of-Delphi-Temple.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/delphi-attractions-guide">
    <title>Attractions Guide for Delphi, Greece</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Delphi, Greece<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>
    
    

    <!-- Delphi Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ruined columns of the Temple of Apollo with mountains and valely in background at Ancient Delphi, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Delphi-Temple-of-Apollo-in-Delphi-View.jpg"/>
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Apollo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chucknado/4975093232" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chucknado/" rel="noopener noreferrer" target="_blank">
                                    Charles Nadeau</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Small stone building known as the Treasury of Athens at Ancient Delphi, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Delphi-Treasury-of-Athens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Treasury of Athens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Delphi_-_Treasury_of_Athens.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ploync" rel="noopener noreferrer" target="_blank">
                                    Ronny Siegel</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking the Ancient Theatre of Delphi with incredible landscape in background at Ancient Delphi, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Delphi-Ancient-Theatre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ancient Theatre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:03.%CE%91%CF%81%CF%87%CE%B1%CE%AF%CE%BF_%CE%B8%CE%AD%CE%B1%CF%84%CF%81%CE%BF_%CE%94%CE%B5%CE%BB%CF%86%CF%8E%CE%BD_GR-H07-0004.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:03.%CE%91%CF%81%CF%87%CE%B1%CE%AF%CE%BF_%CE%B8%CE%AD%CE%B1%CF%84%CF%81%CE%BF_%CE%94%CE%B5%CE%BB%CF%86%CF%8E%CE%BD_GR-H07-0004.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    NikosFF</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast ruins of the Ancient Stadium of Delphi with towering cliffs behind it at Ancient Delphi, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delphi-Delphi-Ancient-Stadium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ancient Stadium</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Delphi_stadium_DSC06305.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:David.Monniaux" rel="noopener noreferrer" target="_blank">
                                    David Monniaux</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/1.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 1.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Sphinx figure atop a column housed within the Delphi Archaeological Museum"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delphi-Delphi-Archaeological-Museum-Interior-Sphinx.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Delphi Archaeological Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Delfos,_Greece,_sphinx1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Delfos,_Greece,_sphinx1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Don Positivo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful ruins of the Athena Pronaia Temple with giant mountains in background at Ancient Delphi, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Temple.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Athena Pronaia Temple</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andyhay/28389437462" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andyhay/" rel="noopener noreferrer" target="_blank">
                                    Andy Hay</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the town of Arachova seen from the highway before reaching the town in Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Greater-Delphi-Arachova-Village-Highway-48-Eastern-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arachova Town Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Arahova_village,_Greece_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Arahova_village,_Greece_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    G Da</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely stone exterior of the Mosios Loukas Monastery in Distomo, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Greater-Delphi-Monastery-of-Hosios-Loukas.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hosios Loukas Monastery (Distomo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:20090803_hosiosloukas09.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jeanhousen" rel="noopener noreferrer" target="_blank">
                                    Jean Housen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Delphi, Greece Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Ancient Delphi</h2>
        <p>The UNESCO listed ancient site of Delphi is among the most famous ancient sites in Greece. Here you can see the remains of the <strong>Temple of Apollo</strong> where the famous Oracle of Delphi resided, as well as many other stunning structures including the partially reconstructed <strong>Treasury of Athens</strong>, and the <strong>Ancient Theatre</strong>, which provides stunning views overlooking the site and the valley below.</p>
        <p>From the Ancient Theatre you can walk up to the large <strong>Delphi Stadium</strong>, which hosted ancient athletic contests such as races, wrestling, jumping, and throwing. The seats of the stadium are impressively well-preserved for their age.</p>
        <p>Be sure to also see the important ancient artifacts displayed at the <strong>Delphi Archaeological Museum</strong>, which hosts an amazing collection of statues and sculptures. Just east of the main archaeological site you can admire the mesmerizing ruins of the <strong>Athena Pronaia Temple</strong>, which tends to be less crowded than the rest of the site.</p>
    </section>


    <!-- Arachova, Greece Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Arachova, Greece (Car Only)</h2>
        <p>Further east from Delphi is the picturesque hillside town of <strong>Arachova</strong>. Some of the best views of the town can be seen from the rock-top tower behind the Folklore Museum Arachova, as well as  the highway pull-off just east of the town.</p>
    </section>


    <!-- Hosios Loukas Monastery Greece Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Hosios Loukas Monastery (Car&nbsp;Only)</h2>
        <p>One more attraction in the area to consider is the UNESCO listed <strong>Hosios Loukas</strong>, a 10th century Byzantine monastery showcasing stunning architecture. Inside the monastery you'll find intricate frescoed interiors as well as a small museum.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Delphi 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3052406348"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Delphi Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Qz82q9aHspF2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Part of the view at night from Mount Lycabettus overlooking the lit up Acropolis of Athens surrounded by the city"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night-View-from-Mount-Lycabettus-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        Athens
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Parthenon_at_Night..jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gosspil89" rel="noopener noreferrer" target="_blank">
                            Gosspil89</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/corinth-and-argolis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient columns of the Temple of Apollo at Corinth, with mountaintop Arcocorinth ancient fortress in the background, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Ancient-Corinth-Archaeological-Site-Temple-of-Apollo.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/corinth-and-argolis-attractions-guide">
                        Corinth &amp; Argolis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Tempio_di_Apollo_e_Acrocorinto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Codas" rel="noopener noreferrer" target="_blank">
                            Davide Mauro</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/meteora-kalabaka-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking several of the clifftop monasteries of Meteora in Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Kalabaka-Kastraki-Meteora-Monasteries-of-Meteora.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/meteora-kalabaka-attractions-guide">
                        Meteora Monasteries (Kalabaka)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mossaiq/32824273591" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mossaiq/" rel="noopener noreferrer" target="_blank">
                            Guillen Perez</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            
        </div>

    </section>


    