<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Greece's top destinations: Athens, Santorini, Zakynthos, Kefalonia, Mykonos, Rhodes, Delphi, Meteora, Paros, Naxos, Crete, & more" />
    <meta name="attraction_guides" content="greece" />
    <meta name="europe_destinations" content="greece" />
    <meta name="destination_guides" content="greece" />
    <meta property="og:title" content="Greece Attraction Guides">
    <meta name="twitter:title" content="Greece Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/greece-attraction-guides">
    <title>Greece Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Greece Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        <img class="destination-image"
                        alt="Part of the view at night from Mount Lycabettus overlooking the lit up Acropolis of Athens surrounded by the city"
                        src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night-View-from-Mount-Lycabettus-Night.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        Athens
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Parthenon_at_Night..jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gosspil89" rel="noopener noreferrer" target="_blank">
                            Gosspil89</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/corinth-and-argolis-attractions-guide">
                        <img class="destination-image"
                        alt="Ancient columns of the Temple of Apollo at Corinth, with mountaintop Arcocorinth ancient fortress in the background, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Peloponnese-Peninsula-Corinth-Ancient-Corinth-Archaeological-Site-Temple-of-Apollo.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/corinth-and-argolis-attractions-guide">
                        Corinth &amp; Argolis
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Tempio_di_Apollo_e_Acrocorinto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Codas" rel="noopener noreferrer" target="_blank">
                            Davide Mauro</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/delphi-attractions-guide">
                        <img class="destination-image"
                        alt="Beautiful ruins of the Athena Pronaia Temple with giant mountains in background at Ancient Delphi, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Delphi-Athena-Pronaia-Temple.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/delphi-attractions-guide">
                        Delphi
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andyhay/28389437462" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andyhay/" rel="noopener noreferrer" target="_blank">
                            Andy Hay</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/heraklion-crete-attractions-guide">
                        <img class="destination-image"
                        alt="Section of the ruins of the ancient Minoan Palace of Knossos in Herklion, Crete, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Minoan-Palace-of-Knossos-Exterior.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/heraklion-crete-attractions-guide">
                        Heraklion, Crete
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Eugen Kalloch</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 2 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/kefalonia-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Picturesque village of Assos sandwiched between the light blue waters of a bay and the ocean on either side on Kefalonia Island, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Kefalonia-Cephalonia-Assos-Village-Harbor-Beach-View-300x225.jpg"
                        data-src="https://www.travelimager.com/images/greece/Greece-Kefalonia-Cephalonia-Assos-Village-Harbor-Beach-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/kefalonia-attractions-guide">
                        Kefalonia
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/greece-assos-island-turquoise-1096724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/NinasCreativeCorner-1224075/" rel="noopener noreferrer" target="_blank">
                            NinasCreativeCorner</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/lefkada-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Massive white cliffs towering above Porto Katsiki Beach on Lefkada Island, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Lefkada-Porto-Katsiki-Beach-South-View-300x225.jpg"
                        data-src="https://www.travelimager.com/images/greece/Greece-Lefkada-Porto-Katsiki-Beach-South-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/lefkada-attractions-guide">
                        Lefkada
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%A0%CE%BF%CF%81%CF%84%CE%BF_%CE%9A%CE%B1%CF%84%CF%83%CE%AF%CE%BA%CE%B9_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%A0%CE%BF%CF%81%CF%84%CE%BF_%CE%9A%CE%B1%CF%84%CF%83%CE%AF%CE%BA%CE%B9_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Michael Paraskevas</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/meteora-kalabaka-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking several of the clifftop monasteries of Meteora in Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Kalabaka-Kastraki-Meteora-Monasteries-of-Meteora-300x225.jpg"
                        data-src="https://www.travelimager.com/images/greece/Greece-Kalabaka-Kastraki-Meteora-Monasteries-of-Meteora.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/meteora-kalabaka-attractions-guide">
                        Meteora Monasteries (Kalabaka)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mossaiq/32824273591" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mossaiq/" rel="noopener noreferrer" target="_blank">
                            Guillen Perez</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view of the beautiful houses along the coast at Little Venice on Mykonos Island, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice-300x225.jpg"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        Mykonos &amp; Delos
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/mykonos-sea-water-beach-wave-1635650/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/EvanRoss-2519342/" rel="noopener noreferrer" target="_blank">
                            EvanRoss</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 3 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View looking back at Naxos Town from the Portara Apollo Temple's peninsula on Naxos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Naxos-Naxos-City-View-from-Portara-Apollo-Temple.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        Paros &amp; Naxos
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/timove/23499802936" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/timove/" rel="noopener noreferrer" target="_blank">
                            TimOve</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hilltop Lindos Acropolis castle surrounded by lush plants and white homes, set behind sandy Lindos Beach in Rhodes, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Rhodes-Lindos-Beach-of-Lindos-Acropolis-Castle-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        Rhodes
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/rhodes-greece-castle-landmark-hill-97279/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                            12019</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic blue domed white buildings of Oia, Santorini, Greece located atop the cliffs above the ocean with views of the caldera"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        Santorini &amp; Oia
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/church-santorini-d-greece-island-2020258/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Russell_Yan-3002189/" rel="noopener noreferrer" target="_blank">
                            Russell_Yan</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Strikingly clear light blue waters of Elafonissi Beach in Western Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Western-Crete-Elafonisi-Elafonissi-Beach.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        Western Crete &amp; Chania
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maurizio Ceol</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>    

        </div>
    </section>


    <!-- Row 4 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">


            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/zakynthos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Breathtaking full-frame view overlooking Navagio Beach and beyond from high above on Zakynthos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Zakynthos-Navagio-Shipwreck-Beach-North-Trail-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/greece/zakynthos-attractions-guide">
                        Zakynthos
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/zakynthos-greece-shipwreck-beach-1583127/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/GregMontani-1014946/" rel="noopener noreferrer" target="_blank">
                            GregMontani</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>