<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Ruins of the ancient Minoan Palace of Knossos near Heraklion, Crete, Greece Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Knossos-Palace-of-Knossos-Minoan-Ruins-Archaeological-Site-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Heraklion (Crete), Greece and plan the perfect trip with our savable Heraklion Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="heraklion_greece" />
    <meta name="europe_attraction_guides" content="heraklion_greece" />
    <meta name="europe_destinations" content="heraklion_greece" />
    <meta name="europe_destination_guides" content="heraklion_greece" />
    <meta name="greece_attraction_guides" content="heraklion" />
    <meta name="greece_destinations" content="heraklion" />
    <meta name="greece_destination_guides" content="heraklion" />
    <meta name="google_maps_list" content="heraklion" />
    <meta property="og:title" content="Heraklion (Crete), Greece Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Knossos-Palace-of-Knossos-Minoan-Ruins-Archaeological-Site.jpg">
    <meta name="twitter:title" content="Heraklion (Crete), Greece Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Knossos-Palace-of-Knossos-Minoan-Ruins-Archaeological-Site.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/heraklion-crete-attractions-guide">
    <title>Attractions Guide for Heraklion, Crete, Greece</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Heraklion, Crete, Greece<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#knossos-minoan-palace">Minoan Palace of Knossos</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#famous-sights">Famous Sights</a></div>
            <div><a href="#venetian-walls-and-fortress">Venetian Walls &amp; Fortress</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>




    <!-- Minoan Palace of Knossos and Heraklion Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Section of the ruins of the ancient Minoan Palace of Knossos in Herklion, Crete, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Minoan-Palace-of-Knossos-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Minoan Palace of Knossos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Eugen Kalloch</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Well-preserved columns within a room of the ancient ruined Minoan Palace of Knossos in Herklion, Crete, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Minoan-Palace-of-Knossos-Interior-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Minoan Palace Columns</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(4).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(4).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Eugen Kalloch</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Beautiful red and gold painted walls of a well-preserved ancient room of the Minoan Palace of Knossos in Herklion, Crete, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Minoan-Palace-of-Knossos-Interior-Throne-Room.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Minoan Palace Throne Room</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/giverny_com/41447006030" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/giverny_com/" rel="noopener noreferrer" target="_blank">
                                    r chelseth</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exhibit of ancient statues houses within the Heraklion Archaeological Museum in Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Heraklion-Archaeological-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heraklion Archaeological Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/carolemage/30094298600/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/carolemage/" rel="noopener noreferrer" target="_blank">
                                    Carole Raddato</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Yellow and white exterior of the Historical Museum of Crete in Heraklion, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Historical-Museum-of-Crete.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Historical Museum of Crete</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Historical_Museum_of_Crete_Front_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Historical_Museum_of_Crete_Front_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Lourakis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Minoan Palace of Knossos Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="knossos-minoan-palace"></a>
        <h2 class="left-heading destination-section-heading">Minoan Palace of Knossos</h2>
        <p>Heraklion is the capital of the massive Greek island of Crete and is famous for the partially reconstructed 3,500 year old <strong>Minoan Palace of Knossos</strong>, which sits on the outskirts of town. The palace had surprising modern features such as warm and cold running water as well as plumbing, using very clever tricks to achieve these feats.</p>
        <p>The palace in Knossos is the largest palace of the ancient Minoan civilization, which was once thought to be a strong contender for the site of Atlantis.</p>
        <p>Knossos was the ancient capital city of Minoan Crete, a highly advanced ancient civilization that was catastrophically destroyed when the giant volcano of nearby Santorini erupted. This eruption resulted in the city being buried in volcanic ash, which is why it was remarkably well-preserved and even found to contain many artifacts.</p>
    </section>


    <!-- Heraklion Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>You'll find a grand collection of Minoan artifacts from Knossos, as well as many more archaeological finds from around Crete at the incredible <strong>Heraklion Archaeological Museum</strong>. The city also hosts the <strong>Historical Museum of Crete</strong>, which houses artifacts and cultural items from Byzantine times to the modern era.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Heraklion 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9984646208"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Heraklion Famous Sights and Venetian Walls and Fortress Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful fountain known for its iconic lions in the Old Town of Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Morosini-Lions-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Morosini Lions Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Morosini_Fountain,_Heraklion,_Crete,_Greece_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Morosini_Fountain,_Heraklion,_Crete,_Greece_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ventian-style exterior of the Loggia City Hall building in Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Venetian-Loggia-City-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Venetian Loggia City Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Loggia_Heraklion.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Loggia_Heraklion.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Constantinos tziamalis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely yellow Saint Agios Minas Cathedral during sunset in Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Saint-Agios-Minas-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Agios Minas Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Agios_Minas_Cathedral_in_Heraklion.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Agios_Minas_Cathedral_in_Heraklion.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Antonios Palimetakis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Arched entryway along the Venetian Walls of Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Venetian-Gate-St-George.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Venetian Gate St. George</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%A0%CF%8D%CE%BB%CE%B7_%CE%91%CE%B3%CE%AF%CE%BF%CF%85_%CE%93%CE%B5%CF%89%CF%81%CE%B3%CE%AF%CE%BF%CF%85_%CE%97%CF%81%CE%AC%CE%BA%CE%BB%CE%B5%CE%B9%CE%BF_9936.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:C_messier" rel="noopener noreferrer" target="_blank">
                                    C messier</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive bridge-like Venetian Portal Almighty spanning the street, part of the Venetian Walls of Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Venetian-Portal-Almighty-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Venetian Portal Almighty</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%CE%A7%CE%B1%CE%BD%CE%B9%CF%8C%CF%80%CE%BF%CF%81%CF%84%CE%B1_7331.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:C_messier" rel="noopener noreferrer" target="_blank">
                                    C messier</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old Venetian Fortress along Heraklion's harbor with vibrant blue waters and distant cliffs in the background behind the sea in Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Venetian-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heraklion Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/crete-iraklion-venetian-port-2287869/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Detmold-2203847/" rel="noopener noreferrer" target="_blank">
                                    Detmold</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Famous Heraklion Sights Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="famous-sights"></a>
        <h2 class="left-heading destination-section-heading">Famous Heraklion Sights</h2>
        <p>Near the center of Heraklion you can admire the the striking Venetian-era <strong>Morosini Lions Fountain</strong>, as well as the impressive <strong>Venetian Loggia</strong> city hall building located nearby.</p>
        <p>Also in town you can admire the beautiful <strong>Saint Minas Cathedral</strong> with its impressive clocktowers and domes.</p>
    </section>


    <!-- Venetian Walls and Fortress Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="venetian-walls-and-fortress"></a>
        <h2 class="left-heading destination-section-heading">Venetian Walls &amp; Fortress</h2>
        <p>Historically Heraklion's central old town was surrounded by fortified Venetian walls and fortresses, some of which still remain today. Among the most impressive remnants of the walls is the <strong>Venetian Gate St. George</strong> located next to the archaeological museum, as well as the <strong>Venetian Portal Almighty</strong> on the western edge of the historic walls.</p>
        <p>Be sure to also explore the well-preserved <strong>Heraklion Fortress</strong>, a 16th century Venetian stronghold hosting artifacts and coastal views located on the city's harbor. One more museum you might consider is the Historical Museum of Crete, containing artifacts and cultural items from Byzantine times to the modern era.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Heraklion Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4650103636"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Heraklion, Crete Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/rv1MErifNNN2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Strikingly clear light blue waters of Elafonissi Beach in Western Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Western-Crete-Elafonisi-Elafonissi-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        Western Crete &amp; Chania
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maurizio Ceol</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic blue domed white buildings of Oia, Santorini, Greece located atop the cliffs above the ocean with views of the caldera"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        Santorini &amp; Oia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/church-santorini-d-greece-island-2020258/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Russell_Yan-3002189/" rel="noopener noreferrer" target="_blank">
                            Russell_Yan</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View looking back at Naxos Town from the Portara Apollo Temple's peninsula on Naxos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Naxos-Naxos-City-View-from-Portara-Apollo-Temple.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        Paros &amp; Naxos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/timove/23499802936" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/timove/" rel="noopener noreferrer" target="_blank">
                            TimOve</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hilltop Lindos Acropolis castle surrounded by lush plants and white homes, set behind sandy Lindos Beach in Rhodes, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Rhodes-Lindos-Beach-of-Lindos-Acropolis-Castle-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        Rhodes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/rhodes-greece-castle-landmark-hill-97279/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                            12019</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view of the beautiful houses along the coast at Little Venice on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        Mykonos &amp; Delos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/mykonos-sea-water-beach-wave-1635650/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/EvanRoss-2519342/" rel="noopener noreferrer" target="_blank">
                            EvanRoss</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    