<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Sunset over Little Venice, Mykonos, Greece Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Mykonos & Delos, Greece and plan the perfect trip with our savable Mykonos Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="mykonos_greece" />
    <meta name="attraction_guides" content="delos_greece" />
    <meta name="europe_attraction_guides" content="mykonos_greece" />
    <meta name="europe_destinations" content="mykonos_greece" />
    <meta name="europe_destination_guides" content="mykonos_greece" />
    <meta name="greece_attraction_guides" content="mykonos" />
    <meta name="greece_attraction_guides" content="delos" />
    <meta name="greece_destinations" content="mykonos" />
    <meta name="greece_destinations" content="delos" />
    <meta name="greece_destination_guides" content="mykonos" />
    <meta name="greece_destination_guides" content="delos" />
    <meta name="google_maps_list" content="mykonos" />
    <meta name="google_maps_list" content="delos" />
    <meta property="og:title" content="Mykonos & Delos, Greece Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg">
    <meta name="twitter:title" content="Mykonos & Delos, Greece Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/mykonos-and-delos-attractions-guide">
    <title>Attractions Guide for Mykonos & Delos, Greece</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Mykonos &amp; Delos, Greece<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#mykonos-town">Mykonos Town</a></div>
            <div><a href="#mykonos-beaches">Beaches</a></div>
            <div><a href="#delos-island">Delos Island</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Mykonos and Delos Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The small island of Mykonos is located in the Central Aegean Sea north of Naxos and Paros Islands. The island's main city is Mykonos Town, which sits just south of the ferry terminal of Tourlos.</p>
    </section>


    <!-- Mykonos Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Sunset view of the beautiful houses along the coast at Little Venice on Mykonos Island, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Little Venice</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/mykonos-sea-water-beach-wave-1635650/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/EvanRoss-2519342/" rel="noopener noreferrer" target="_blank">
                                    EvanRoss</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely old Windmills of Kato Mili lined up above the coast on Mykonos Island, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Mykonos-Mikonos-Windmills-of-Kato-Mili.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Windmills of Kato Mili</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:GR-mykonos-kato-mili.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:GR-mykonos-kato-mili.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Bgabel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Rustic white facade of the Paraportiani Orthodox Church on Mykonos Island, Greece"
                        src="https://www.travelimager.com/images/greece/Greece-Mykonos-Mikonos-Paraportiani-Orthodox-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Paraportiani Orthodox Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bnsd/38619176772/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bnsd/" rel="noopener noreferrer" target="_blank">
                                    Bengt Nyman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of the Old Port of Mykonos City with fishing boats in the harbor and houses clinging to the hill in the background on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Mikonos-Old-Port-of-Mykonos.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Port of Mykonos City</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bnsd/37764144255/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bnsd/" rel="noopener noreferrer" target="_blank">
                                    Bengt Nyman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Mykonos City port and coastline from behind the Boni's Windmill on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Mikonos-Bonis-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Boni's Windmill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bevrichardmartin/4819005765" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bevrichardmartin/" rel="noopener noreferrer" target="_blank">
                                    Richard Martin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Mykonos Town Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mykonos-town"></a>
        <h2 class="left-heading destination-section-heading">Mykonos Town</h2>
        <p>One of Mykonos Town's main attractions is the stunning seaside <strong>Little Venice</strong> area, where many traditional buildings sit along the ocean. There's a very small beach just south of Little Venice where you can take in excellent views of these buildings to your right, and several old windmills to your left.</p>
        <p>The windmills you can see from the beach are the 17th century Venetian <strong>Windmills of Kato Mili</strong>, which sit atop a small hill and are extremely photogenic, while also offering amazing views over the coastline and Little Venice.</p>
        <p>Within Little Venice be sure to see the beautiful white <strong>Paraportiani Orthodox Church</strong>, which is actually made up of several small structures along the coast. Nearby you can walk along the <strong>Old Port of Mykonos City</strong>, which hosts some of the best views looking at Mykonos from the harbor piers.</p>
        <p>Another must-see attraction in Mykonos Town is the stunning <strong>Boni's Windmill</strong>, which sits up the hill and offers incredible views overlooking the city and coastline.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mykonos 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5807380435"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Mykonos Beaches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the coastline down Ornos Beach with its clear light blue waters on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Ornos-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ornos Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mikonos_Spiaggia_di_Ornos_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Mikonos_Spiaggia_di_Ornos_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Marco Monelli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vibrant deep blue waters of Agios Sostis Beach and hills surronding it on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Agios-Sostis-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Agios Sostis Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mykonos_Agios_Sostis_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Oltau" rel="noopener noreferrer" target="_blank">
                                    Olaf Tausch</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the clifftop Armenistis Lighthouse with the island of Delos (located just off the coast) in the background on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Armenistis-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Armenistis Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Armenistis_lighthouse_mykonos.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Armenistis_lighthouse_mykonos.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Tigresp</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Mykonos Beaches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mykonos-beaches"></a>
        <h2 class="left-heading destination-section-heading">Mykonos Island Beaches</h2>
        <p>The most popular beach near the town of Mykonos is <strong>Ornos Beach</strong> to the south, which sits on a small bay, however this beach tends to be crowded and expensive. Nearby is the famous Psaros Beach (or Psarou Beach), which is well known as a celebrity hangout.</p>
        <h3>More Beaches and Lighthouse (Car/Motorbike&nbsp;Only)</h3>
        <p>Alternatively, you might consider visiting the much larger <strong>Agios Sostis Beach</strong> to the north which sits on a much larger scenic bay and tends to be far less crowded.</p>
        <p>Also on the northern part of the island you can check out the <strong>Armenistis Lighthouse</strong>, which offers brilliant views over the coast, stretching out to several nearby islands on a clear day. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mykonos 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6045401192"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Delos Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of many of the ruins of the Archaeological Site of Delos from the harbor of Delos Island near Mykonos, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delos-Archaeological-Site-of-Delos.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Archaeological Site of Delos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Theater_Quarter_in_Delos_02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bgag" rel="noopener noreferrer" target="_blank">
                                    Bernard Gagnon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Several well-preserved ancient white lion statues known as the Naxian Lions on Delos Island near Mykonos, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delos-Naxian-Lions.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Naxian Lions (Delos)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nat507/8646978228" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nat507/" rel="noopener noreferrer" target="_blank">
                                    Nathan Hughes Hamilton</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruined ancient columns that make up the House of Cleopatra building on Delos Island near Mykonos, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delos-House-of-Cleopatra.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">House of Cleopatra (Delos)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:House_of_Cleopatra,_Delos.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bgag" rel="noopener noreferrer" target="_blank">
                                    Bernard Gagnon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down on the Ancient Theatre of Delos with the sea in the background on Delos Island near Mykonos, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Delos-Ancient-Theatre-of-Delos-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ancient Theatre of Delos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ancient_Greek_theatre_in_Delos_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bgag" rel="noopener noreferrer" target="_blank">
                                    Bernard Gagnon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Delos Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="delos-island"></a>
        <h2 class="left-heading destination-section-heading">Delos Island</h2>
        <p>From the port at Tourlos just south of Mykonos Town you can take a very short ferry ride to the island of Delos located just off the coast. From the ferry landing you can walk around and explore amongst the vast ruins of the <strong>Archaeological Site of Delos</strong>, which is a UNESCO world heritage site.</p>
        <p>This tiny island is also the mythical birthplace of the ancient Greek gods Apollo and Artemis. Delos is one of the most important archaeological sites in Greece and can be explored around on foot for hours.</p>
        <p>Around Delos you'll find many 2,600 year old structures built by the Ancient Greeks, as well as 2,100 year old structures built by the Ancient Romans. Some of the most impressive ruins on the island include the white <strong>Naxian Lions</strong> statues, the columns of the <strong>House of Cleopatra</strong>, and the <strong>Ancient Theatre of Delos</strong>.</p>
        <p>Be sure to also visit the Archaeological Museum of Delos to see many of the ancient artifacts found at the site on display.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mykonos Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4732319525"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Mykonos &amp; Delos Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/YLeWDYsknR52">&rArr; Top Attractions (Bus)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/JxPrGndUA8v">&rArr; Top Attractions (Car)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View looking back at Naxos Town from the Portara Apollo Temple's peninsula on Naxos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Naxos-Naxos-City-View-from-Portara-Apollo-Temple.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        Paros &amp; Naxos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/timove/23499802936" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/timove/" rel="noopener noreferrer" target="_blank">
                            TimOve</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic blue domed white buildings of Oia, Santorini, Greece located atop the cliffs above the ocean with views of the caldera"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/santorini-and-oia-attractions-guide">
                        Santorini &amp; Oia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/church-santorini-d-greece-island-2020258/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Russell_Yan-3002189/" rel="noopener noreferrer" target="_blank">
                            Russell_Yan</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Part of the view at night from Mount Lycabettus overlooking the lit up Acropolis of Athens surrounded by the city"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night-View-from-Mount-Lycabettus-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        Athens
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Parthenon_at_Night..jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gosspil89" rel="noopener noreferrer" target="_blank">
                            Gosspil89</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/heraklion-crete-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Section of the ruins of the ancient Minoan Palace of Knossos in Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Minoan-Palace-of-Knossos-Exterior.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/heraklion-crete-attractions-guide">
                        Heraklion, Crete
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Eugen Kalloch</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Strikingly clear light blue waters of Elafonissi Beach in Western Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Western-Crete-Elafonisi-Elafonissi-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        Western Crete &amp; Chania
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maurizio Ceol</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hilltop Lindos Acropolis castle surrounded by lush plants and white homes, set behind sandy Lindos Beach in Rhodes, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Rhodes-Lindos-Beach-of-Lindos-Acropolis-Castle-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        Rhodes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/rhodes-greece-castle-landmark-hill-97279/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                            12019</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    