<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Blue Church Viewpoint of Oia, Island of Santorini, Greece Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Santorini, Greece and plan the perfect trip with our savable Santorini Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="santorini_greece" />
    <meta name="attraction_guides" content="oia_greece" />
    <meta name="attraction_guides" content="fira_greece" />
    <meta name="europe_attraction_guides" content="santorini_greece" />
    <meta name="europe_destinations" content="santorini_greece" />
    <meta name="europe_destination_guides" content="santorini_greece" />
    <meta name="greece_attraction_guides" content="santorini" />
    <meta name="greece_attraction_guides" content="oia" />
    <meta name="greece_attraction_guides" content="fira" />
    <meta name="greece_destinations" content="santorini" />
    <meta name="greece_destinations" content="oia" />
    <meta name="greece_destinations" content="fira" />
    <meta name="greece_destination_guides" content="santorini" />
    <meta name="greece_destination_guides" content="oia" />
    <meta name="greece_destination_guides" content="fira" />
    <meta name="google_maps_list" content="santorini" />
    <meta name="google_maps_list" content="oia" />
    <meta name="google_maps_list" content="fira" />
    <meta property="og:title" content="Santorini, Greece Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg">
    <meta name="twitter:title" content="Santorini, Greece Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/greece/santorini-and-oia-attractions-guide">
    <title>Attractions Guide for Santorini & Oia, Greece</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Santorini &amp; Oia, Greece<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#oia">Oia</a></div>
            <div><a href="#fira">Fira</a></div>
            <div><a href="#imerovigli">Imerovigli</a></div>
            <div><a href="#prygos-kallistis">Pyrgos Kallistis</a></div>
            <div><a href="#central-viewpoints">Central Views</a></div>
            <div><a href="#kamari">Kamari</a></div>
            <div><a href="#beaches">Beaches</a></div>
            <div><a href="#akrotiri">Akrotiri</a></div>
            <div><a href="#nea-kameni">Nea Kameni Volcano</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Santorini -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Santorini is by far the most popular Greek island and many would say the most beautiful, hosting many iconic and extensively photographed sights. Santorini lies in the middle of the southern Aegean Sea near Paros, Naxos, and Milos Islands.</p>
        <p>The three islands of Santorini make up the caldera of a massive dormant volcano that erupted and flooded several thousand years ago. The eruption destroyed a highly-advanced ancient Minoan civilization inhabiting Santorini, which is thought to have possibly inspired Plato's Atlantis.</p>
    </section>


    <!-- Oia, Greece Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Iconic blue domed white buildings of Oia, Santorini, Greece located atop the cliffs above the ocean with views of the caldera" 
                        src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Oia-Blue-Church-View-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oia Blue Church View Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/church-santorini-d-greece-island-2020258/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Russell_Yan-3002189/" rel="noopener noreferrer" target="_blank">
                                    Russell_Yan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking the iconic 3 blue domes of the white churches of Oia from the other side, high above the sea on Santorini"
                        src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Three-Blue-Domes-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">3 Blue Domes View Point (Oia)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/santorini-greklan-oia-trip-cruise-673460/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/bjornhermansson-817230/" rel="noopener noreferrer" target="_blank">
                                    bjornhermansson</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely facade of the white Panagia Platsani Church of Oia with its tiered bells and blue dome on Santorini Island"
                        src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Ekklisia-Panagia-Platsani-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ekklisia Panagia Platsani Church (Oia)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/santorini-greece-church-tourism-2663257/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/nextvoyage-5275305/" rel="noopener noreferrer" target="_blank">
                                    nextvoyage</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View from a rooftop in Oia over the ruins of a Byzantine Castle built into the cliffs on Santorini Island"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Byzantine-Castle-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Byzantine Castle Ruins (Oia)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/greece-santorini-greek-flag-tourism-3678061/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Whatthefalk6-10098524/" rel="noopener noreferrer" target="_blank">
                                    Whatthefalk6</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful view of the densely packed old buildings of Oia built along the cliffs and a few windmills on Santorini" 
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Byzantine-Castle-Ruins-West-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Byzantine Castle Ruins (West&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oia_from_Kastro,_Santorini,_176689.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zde" rel="noopener noreferrer" target="_blank">
                                    Zde</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="East view from the Byzantine Castle over densely packed clifftop buildings of Oia above the sea on Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Byzantine-Castle-Ruins-East-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Byzantine Castle Ruins (East&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/santorini-greece-white-houses-oia-1776235/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/michelmondadori-2770862/" rel="noopener noreferrer" target="_blank">
                                    michelmondadori</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Sunset colors lighting up the sky and sea behind the old Lioyerma Windmills of Oia, Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Lloyera-Windmills.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lioyerma Windmills (Oia)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/byrdiegyrl/2943713121/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/byrdiegyrl/" rel="noopener noreferrer" target="_blank">
                                    karol m</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of the buildings along Ammoudi Bay beneath the steep red cliffs of the town of Oia, Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Oia-Ammoudi-Bay.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ammoudi Bay (Oia)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/klearchos/4528633341/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/klearchos/" rel="noopener noreferrer" target="_blank">
                                    Klearchos Kapoutsis</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Oia, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="oia"></a>
        <h2 class="left-heading destination-section-heading">Oia, Greece</h2>
        <p>On the northern end of Santorini is the famous town of Oia with its many photogenic homes and buildings built atop a cliff. Spend some time in this town exploring around the tight winding streets while taking in views over the coast.</p>
        <p>One of the most iconic viewpoints in town overlooking the blue-domed white buildings is from the <strong>Oia Blue Church View Point</strong>. Nearby you can also enjoy amazing views looking southeast over two blue domes framed in front of the island's volcanic rim. This viewpoint is adjacent to the Lava Caves Hotel and <strong>3 Blue Domes Viewpoint</strong>. Also nearby you can admire one of the town's most beautiful churches, the <strong>Ekklisia Panagia Platsani</strong> with its lovely bell tower.</p>
        <p>For incredibly gorgeous panoramic views overlooking Oia and the coast you can visit the <strong>Byzantine Castle Ruins</strong>. The castle offers amazing views overlooking the city set atop the cliffs, as well as excellent views of the <strong>Lioyerma Windmills</strong>, which you should also admire up close. Be sure to find a good place nearby to watch the beautiful sunset which lights up Oia in a brilliant array of colors.</p>
        <p>Near the  Byzantine Castle you can hike down to <strong>Ammoudi Bay</strong> and take a scenic walk along the coastline. Starting from the castle, this hike is about 1 mile (1.6 km) round-trip and is highly recommended.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Santorini 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5588722732"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Fira, Greece Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rooftop view of 3 church bells beside a blue dome in Fira, with the Nea Kameni volcano and sea in the background" 
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Thira-Fira-Three-Bells-of-Fira-Virgin-Mary-Church-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Three Bells of Fira Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dominiqs/230214871/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dominiqs/" rel="noopener noreferrer" target="_blank">
                                    Domenico Salvagnin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view overlooking the Orthodox architecture of the white Metropolitan Cathedral of Fira, Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Thira-Fira-Orthodox-Metropolitan-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Orthodox Metropolitan Cathedral (Fira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/10164913@N02/11322943895/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/10164913@N02/" rel="noopener noreferrer" target="_blank">
                                    Gerry Labrijn</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely yellow, blue, and white St. John the Baptist Cathedral of Fira with its impressive clocktower"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Thira-Fira-Catholic-Cathedral-Church-of-St-John-the-Baptist.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of Saint John the Baptist (Fira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Catholic_Cathedral_(dedicated_to_St._John_the_Baptist)_situated_in_the_Catholic_quarter_of_Fira,_Fira,_Santorini_island_(Thira),_Greece.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mstyslav_Chernov" rel="noopener noreferrer" target="_blank">
                                    Mstyslav Chernov</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the Fira Skala Old Port of Santorini with old buildings along the water and boats along the port"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Thira-Fira-Ormos-Firon-Fira-Skala-Old-Port.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ormos Firon (Fira&nbsp;Skala&nbsp;Old&nbsp;Port)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ormos_Firon,_Greece_-_panoramio_(3).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ormos_Firon,_Greece_-_panoramio_(3).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    logopop</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Densely built colofrul homes built along the cliffs high above the sea in Fira, Santorini Island"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Thira-Fira-Agiou-Mina-Street-City-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Agiou Mina Street Fira City View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/santorini-travel-holidays-vacation-1404852/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/SofiaPapageorge-2592596/" rel="noopener noreferrer" target="_blank">
                                    SofiaPapageorge</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Fira, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fira"></a>
        <h2 class="left-heading destination-section-heading">Fira (Thira), Greece</h2>
        <p>The island's capital city is Fira (Thira) near the center of the island, which is a short distance away from the island's main ferry landing and airport. One of the town's most famous sights is the <strong>Three Bells of Fira</strong>, a blue-domed white church overlooking the coast with exceptional views.</p>
        <p>Thira hosts several popular museums including the Museum of Prehistoric Thira showcasing fascinating ancient exhibits found around Santorini, as well as the similar but smaller Archaeological Museum of Thera.</p>
        <p>One of the city's most beautiful churches is the unique <strong>Orthodox Metropolitan Cathedral</strong> with its white colonnades and tower. From this church you can take in extraordinary views over the coast. Another striking church is the <strong>Catholic Cathedral Church of Saint John the Baptist</strong>, which hosts a magnificent clocktower.</p>
        <p>From town be sure to take the short hike down to <strong>Ormos Firon</strong> (or Fira Skala Port), the colorful old port of Santorini, which you can reach with a hike of approximately 0.6 miles (1 km) one-way from Fira. Alternatively you can take the cable car down to reach the port. Be sure to also walk along the balcony roads above the port, such as <strong>Agiou Mina</strong>, to enjoy exceptional views of the Fira set above the cliffs.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Santorini 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1547752981"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Imerovigli and Pyrgos Kallistis, Greece Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Early evening view of the blue domes of the white Anastasi Church of Imerovigli with the bay of Santorini in the background"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Imerovigli-Anastasi-Church-of-the-Resurrection.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Anastasi Church (Imerovigli)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/klearchos/5041780222" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/klearchos/" rel="noopener noreferrer" target="_blank">
                                    Klearchos Kapoutsis</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="White walkway leading down to Skaros Rock, which sits high above the cliffs over Santorini's main island"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Imerovigli-Skaros-Rock-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skaros Rock Trail (Imerovigli)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Thira0193_Skaros_Caldera.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.diafragma.gr/" rel="noopener noreferrer" target="_blank">
                                    Nikos A. Kanellopoulos</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the caldera and sea from Skaros Rock in Imerovigli, Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Imerovigli-Skaros-Rock-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skaros Rock View (Imerovigli)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/graeme/4988295097/in/album-72157624805326653/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/graeme/" rel="noopener noreferrer" target="_blank">
                                    Graeme Churchard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view of the castle-like Pyrgos Kallistis Village with many homes huddled around a hilltop on Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Pyrgos-Kallistis-Village-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pyrgos Kallistis Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:GR-santorini-pyrgos.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:GR-santorini-pyrgos.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Bgabel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely white blue-domed Church of Agios Nikolaos Theotokaki in Pyrgos Kallistis, Santorini Island"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Pyrgos-Kallistis-Church-of-Agios-Nikolaos-Theotokaki.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Agios Nikolaos Theotokaki (Pyrgos)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Agios_Nikolaos_Church,_Pyrgos.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bgag" rel="noopener noreferrer" target="_blank">
                                    Bernard Gagnon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Imerovigli, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="imerovigli"></a>
        <h2 class="left-heading destination-section-heading">Imerovigli, Greece</h2>
        <p>Just north of Fira is the town of Imerovigli, with its famous blue-domed <strong>Anastasi Church</strong> and bell tower overlooking Santorini's caldera.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>From Imerovigli you can take the short hike to <strong>Skaros Rock</strong>, which offers gorgeous panoramic views over the caldera and coastline. The rock is approximately 0.8 miles (1.3 km) round-trip from the Anastasi Church. There's also the option of extending the hike to 1.2 miles (1.9 km) round-trip to see the charming white Ekklisia Theoskepasti church and its lovely bells, which sits just below Skaros Rock.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Pyrgos Kallistis, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="prygos-kallistis"></a>
        <h2 class="left-heading destination-section-heading">Pyrgos Kallistis, Greece (Car/Motorbike&nbsp;Only)</h2>
        <p>A bit south of Fira is the magnificent hilltop village of <strong>Pyrgos Kallistis</strong>, which is built around a former Venetian castle with many narrow labyrinth-like streets that you can explore on foot. Amongst the village's highest points you can enjoy great views overlooking Santorini.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Be sure to also see the town's picturesque blue-domed white <strong>Church of Agios Nikolaos Theotokaki</strong> and its lovely tiered bell tower.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Santorini 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7921589645"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Central Santorini and Kamari, Greece Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the caldera of Santorini and the smaller island behind it seen from the Santo Winery in Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Megalochori-Santo-Wines-Winery-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Santo Wines (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brucehh/7627173190" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brucehh/" rel="noopener noreferrer" target="_blank">
                                    Bruce Harlick</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the caldera and sea of Santorini framed behind a large heart-shaped hole in a rock"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Megalochori-Heart-of-Santorini-Formation.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Heart of Santorini Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/klearchos/3601801484" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/klearchos/" rel="noopener noreferrer" target="_blank">
                                    Klearchos Kapoutsis</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lookind down Kamari Beach with massive cliffs in the background rising above the sea, on Santorini, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Kamari-Kamari-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kamari Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/greece-sea-beach-santorini-will-1148799/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/edulabs-1917207/" rel="noopener noreferrer" target="_blank">
                                    edulabs</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast ruins of the clifftop Ancient Thera Archaeological Site with the sea in the background on Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Kamari-Ancient-Thera-Archaeological-Site-Sanctuary-of-Apollo-Karneios.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ancient Thera Archaeological&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Surroundings_of_the_Sanctuary_of_Apollo_Karneios,_Ancient_Thera,_0503237.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zde" rel="noopener noreferrer" target="_blank">
                                    Zde</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Central Santorini Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Central Santorini Viewpoints (Car/Motorbike&nbsp;Only)</h2>
        <p>Just above the island's main port and ferry landing is the popular <strong>Santo Wines Winery</strong>, which sits atop the cliff overlooking the caldera with incredibly beautiful views.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Just south of the winery is a free-access viewpoint, <strong>The Heart of Santorini</strong>, which features a heart-shaped hole in the rock which frames the ocean. Here you'll also find a quaint church topped with bells and gorgeous views, especially for watching the sunset. The views here are similar to those of the winery.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


   <!-- Kamari, Greece Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kamari"></a>
        <h2 class="left-heading destination-section-heading">Kamari, Greece</h2>
        <p>On the eastern coast of Central Santorini is the town of Kamari, where you'll find one of the island's few beaches, the long <strong>Kamari Beach</strong>. This rocky beach sits besides tall cliffs and hosts deep blue waters.</p>
        <h3>Ancient Thera Ruins</h3>
        <p>From Kamari you can either drive or take a cheap tour bus or taxi ride up the mountain to the incredible ruins of <strong>Ancient Thera</strong>, which features many structures and great views overlooking the ocean. This large ancient city was covered in volcanic ash in the 8th century and only rediscovered in the 20th century. The site offers a large amount of ruined structures for you to explore.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Santorini 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6608507975"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Akrotiri, Beaches, and Nea Kameni Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Red Beach of Santorini named for the vibrant red cliffs and sand, with clear light blue waters providing contrast, Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Akrotiri-Red-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Red_Beach_-_Panorama_-_Santorini_-_Grecia_-_agosto_2018.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sidvics" rel="noopener noreferrer" target="_blank">
                                    Sidvics</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning patterns in the cliffs above the black sands of Vlichada Beach on Santorini Island"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Vlichada-Vlychada-Beach-Cliffs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vlichada Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kostas-limitsios/19644288728/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kostas-limitsios/" rel="noopener noreferrer" target="_blank">
                                    Kostas Limitsios</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Extremely ancient ruins of Akrotiri housed beneath giant tent structures to preserve the site on Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Akrotiri-Akrotiri-Archaeological-Site.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Akrotiri Archaeological&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Archaeological_site_of_Akrotiri_-_Santorini_-_July_12th_2012_-_91.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:NorbertNagel" rel="noopener noreferrer" target="_blank">
                                    Norbert Nagel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous view of the sun setting behind the Akrotiri Lighthouse with the sea in the background, on Santorini Island"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Akrotiri-Akrotiri-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Akrotiri Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/santorini-akrotiri-lighthouse-ocean-1938723/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                                    skeeze</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking over the crater of the Nea Kameni Volcano at the center of Santorini's caldera, with the sea framed in background"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Nea-Kameni-Volcanic-Park-Volcano-Rim.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nea Kameni Volcanic&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Nea_Kameni_volcanic_island_-_Santorini_-_Greece_-_09.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:NorbertNagel" rel="noopener noreferrer" target="_blank">
                                    Norbert Nagel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly coloful waters of the Nea Kameni natural volcanic Hot Springs and a tiny white church at the center of Santorini"
                        data-src="https://www.travelimager.com/images/greece/Greece-Santorini-Nea-Kameni-Volcanic-Park-Hot-Spring.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nea Kameni Volcanic Hot&nbsp;Spring</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/graeme/4985418887/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/graeme/" rel="noopener noreferrer" target="_blank">
                                    Graeme Churchard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Beaches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="beaches"></a>
        <h2 class="left-heading destination-section-heading">Beaches</h2>
        <p>On the southern side of Santorini is the island's most popular beach, the stunning <strong>Red Beach</strong> named for the color of the tall red cliffs that tower above the beach.</p>
        <p>Another great beach on Santorini's southern coast is <strong>Vlichada Beach</strong>, a black beach that sits below beautiful complex cliff formations. This beach is also much larger and less crowded than the tiny Red Beach.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Reaching the Beaches by&nbsp;Bus</h3>
            <p>You can reach the Red Beach via a short walk of about 1.2 mile (2km) each way, from the bus stop in the town of Akrotiri. Vlichada Beach is located just a short walk from the bus stop in the town of Vlichada.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Akrotiri Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="akrotiri"></a>
        <h2 class="left-heading destination-section-heading">Ancient Akrotiri Ruins</h2>  
        <p>Nearby the Red Beach you can explore the well-preserved ruins of ancient <strong>Akrotiri</strong>, which was buried by ash over 3,600 years ago when Santorini's volcano erupted. Akrotiri was an ancient Minoan settlement that has been suggested as being part of Plato's Atlantis.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Reaching Akrotiri by&nbsp;Bus</h3>
            <p>The bus between Fira and the town of Akrotiri runs very frequently, with a walk of approximately 0.6 miles (1 km) one way to the Akrotiri archaeological site from the bus stop and 1.2 miles (1.9 km) one way to Red Beach. The distance between the two is approximately 0.6 miles (1 km), so you can see both the Red Beach and the archaeological site with a round-trip walking distance of about 2.8 miles (4.5 km) total.</p>
            <h3>Akrotiri Lighthouse (Car/Motorbike&nbsp;Only)</h3>
            <p>If you continue to the very southwestern end of the island you can visit the <strong>Akrotiri Lighthouse</strong>, which offers terrific coastal views overlooking several nearby islands. The lighthouse is also a popular place to watch the sunset over the ocean from.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Nea Kameni Volcanic Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="nea-kameni"></a>
        <h2 class="left-heading destination-section-heading">Nea Kameni Volcanic Park</h2>
        <p>One more attraction to consider is the <strong>Nea Kameni Volcanic Park</strong>, which is located on the volcanic island that Santorini surrounds. You can reach the island by tour from Santorni and explore amongst this incredible volcanic landscape.</p>
        <p>The tour of the island includes a visit to a volcanic hot spring which you can swim in, as well as a hike to the top of the island for breathtaking panoramic views over Santorini and the surrounding islands.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Santorini Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5295426302"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Santorini Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/JmHXfK5qVqG2">&rArr; Top Attractions (Bus)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/zvNy74XmSm82">&rArr; All Attractions (Bus)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/FVo6zRpJX7u">&rArr; Top Attractions (Car)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/UxUYq88fVbU2">&rArr; All Attractions (Car)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View looking back at Naxos Town from the Portara Apollo Temple's peninsula on Naxos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Naxos-Naxos-City-View-from-Portara-Apollo-Temple.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/paros-and-naxos-attractions-guide">
                        Paros &amp; Naxos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/timove/23499802936" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/timove/" rel="noopener noreferrer" target="_blank">
                            TimOve</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view of the beautiful houses along the coast at Little Venice on Mykonos Island, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Mykonos-Little-Venice.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/mykonos-and-delos-attractions-guide">
                        Mykonos &amp; Delos
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/mykonos-sea-water-beach-wave-1635650/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/EvanRoss-2519342/" rel="noopener noreferrer" target="_blank">
                            EvanRoss</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/heraklion-crete-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Section of the ruins of the ancient Minoan Palace of Knossos in Herklion, Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Heraklion-Minoan-Palace-of-Knossos-Exterior.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/heraklion-crete-attractions-guide">
                        Heraklion, Crete
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Knossos_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Eugen Kalloch</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Strikingly clear light blue waters of Elafonissi Beach in Western Crete, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Crete-Western-Crete-Elafonisi-Elafonissi-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/western-crete-and-chania-attractions-guide">
                        Western Crete &amp; Chania
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Elafonissi_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maurizio Ceol</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Part of the view at night from Mount Lycabettus overlooking the lit up Acropolis of Athens surrounded by the city"
                        data-src="https://www.travelimager.com/images/greece/Greece-Athens-Acropolis-of-Athens-Night-View-from-Mount-Lycabettus-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/athens-attractions-guide">
                        Athens
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Parthenon_at_Night..jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gosspil89" rel="noopener noreferrer" target="_blank">
                            Gosspil89</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hilltop Lindos Acropolis castle surrounded by lush plants and white homes, set behind sandy Lindos Beach in Rhodes, Greece"
                        data-src="https://www.travelimager.com/images/greece/Greece-Rhodes-Lindos-Beach-of-Lindos-Acropolis-Castle-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/greece/rhodes-attractions-guide">
                        Rhodes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/rhodes-greece-castle-landmark-hill-97279/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                            12019</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    