<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Gorgeous waterfall of Koosah Falls in the Williamette National Forest, Oregon Road Trip Itinerary</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls-Waterfall-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Best route for Oregon Road Trip Itinerary: Portland, Columbia River Gorge Waterfalls, Bend, Crater Lake, Oregon Coast, Cannon Beach + Top Attractions" />
    <meta name="travel_itineraries" content="oregon" />
    <meta name="usa_itineraries" content="oregon" />
    <meta name="road_trip_itineraries" content="oregon" />
    <meta name="us_state_itineraries" content="oregon" />
    <meta property="og:title" content="Oregon Road Trip Itinerary">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls-Waterfall.jpg">
    <meta name="twitter:title" content="Oregon Road Trip Itinerary">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls-Waterfall.jpg">
    <link rel="canonical" href="https://travonga.com/itineraries/usa/oregon-road-trip-itinerary-and-top-attractions">
    <title>Oregon Road Trip Itinerary + Top Attractions</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>




    <!-- Page Heading and Total Trip Length -->
    <h1>Oregon Road Trip Itinerary<br /><span class="itinerary-inner-title">+ Top Attractions</span></h1>

    <!-- 1 - 2 Weeks -->   
    <div class="itinerary-trip-length">
        Recommended Travel Time: 1&nbsp;&#8209;&nbsp;2&nbsp;Weeks
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="itinerary-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#portland-oregon">Portland</a></div>
            <div>&#8674;</div>
            <div><a href="#columbia-river-gorge-oregon">Columbia Gorge</a></div>
            <div>&#8674;</div>
            <div><a href="#silver-falls-state-park-oregon">Silver Falls</a></div>
            <div>&#8674;</div>
            <div><a href="#williamette-national-forest-oregon">Williamette N.F.</a></div>
            <div>&#8674;</div>
            <div><a href="#bend-oregon">Bend</a></div>
            <div>&#8674;</div>
            <div><a href="#crater-lake-national-park-oregon">Crater Lake</a></div>
            <div>&#8674;</div>
            <div><a href="#southern-coast-oregon">Southern Coast</a></div>
            <div>&#8674;</div>
            <div><a href="#northern-coast-oregon">Northern Coast</a></div>
            <div>&nbsp;</div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>
    



    <!-- Portland, Oregon - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="portland-oregon"></a>
        <h2 class="itinerary-location-title">Portland, Oregon</h2>
        <p class="itinerary-location-days">2 - 4 Days</p>
    </section>

    <!-- Portland, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="View overlooking Downtown Portland (PDX) and the university cable car in Portland, Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Portland</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/portland-oregon-usa-pdx-pnw-4474605/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Alayyan-1799175/" rel="noopener noreferrer" target="_blank">
                                    Alayyan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely chateau-like exterior of the Pittock Mansion surrounded by the forests near Portland, Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Portland-Pittock-Mansion.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pittock Mansion</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glenbledsoe/5768528100/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glenbledsoe/" rel="noopener noreferrer" target="_blank">
                                    PhotoAtelier</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Portland Japanese Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                                    Jeff Gunn</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque evening view of Mount St. Helens framed between two lamp posts atop Portland's Rocky Butte Park"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Rocky-Butte.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rocky Butte Park View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/smcdevitt/3693399722/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/smcdevitt/" rel="noopener noreferrer" target="_blank">
                                    Sarah McDevitt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Chinese temple and gazebo behind a coi pond surrounded by Eastern plants at Portland's Lan Su Chinese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Lan-Su-Chinese-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lan Su Chinese Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmiske/22786796176/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmiske/" rel="noopener noreferrer" target="_blank">
                                    Jonathan Miske</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Portland, Oregon Tab Section -->
    <section class="tab-section" id="tab-section-1">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-portland-attractions', 'tab-section-1')">Portland Attractions &#9662</button>
        </div>

        <!-- Portland Attractions -->
        <div id="oregon-portland-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Oregon's capital city of Portland is located just south of the Washington border and over 60 miles (100 km) inland from the Pacific Coast. Portland has a renowned nightlife scene, with the most popular areas being Downtown Portland, Morrison Street, and Burnside Street. In these areas you'll find many great breweries, restaurants, and bars.</p>
                <p>Downtown Portland hosts the tranquil Lan Su Chinese Garden, the Portland Art Museum, and Powell's City of Books, a massive multi-leveled bookstore that's quite famous.</p>
                <p>One of Portland's top sights in the hills above the city is the chateau-stye Pittock Mansion with its fancy historic interiors and excellent views overlooking Downtown Portland. Nearby are two lush and beautiful gardens, the Portland Japanese Garden and International Rose Test Garden. On the northeastern side of Portland is Rocky Butte Park, which offers excellent views overlooking Portland and both Mt. St. Helens and Mt. Hood on a clear day.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                Attractions Guide for Portland,&nbsp;Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Portland Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/69ufgpsUHk22">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Columbia River Gorge, Oregon - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="columbia-river-gorge-oregon"></a>
        <h2 class="itinerary-location-title">Columbia River Gorge, Oregon</h2>
        <p class="itinerary-location-days">Day-Trips</p>
    </section>

    <!-- Columbia River Gorge, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Multnomah Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                                    AirHaake</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Columbia River Gorge seen from the Crown Point Vista House in Oregon" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Crown-Point-Vista-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crown Point Vista House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/apbutterfield/7673977026/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/apbutterfield/" rel="noopener noreferrer" target="_blank">
                                    Alex Butterfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Latourell Falls behind lush greenery and small wooden bridge located along the Columbia River Gorge" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Latourell-Falls-and-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Latourell Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/theknowlesgallery/6890946034/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/theknowlesgallery/" rel="noopener noreferrer" target="_blank">
                                    Charles Knowles</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful slanted waterfall of Ponytail Falls located near Horsetail Falls along Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Ponytail-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponytail Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jonomueller/5882235249" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jonomueller/" rel="noopener noreferrer" target="_blank">
                                    Jonathan Mueller</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant light blue waters of the picturesque Spirit Falls located north of the Columbia River near Cook, Washington"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Spirit-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spirit Falls (Cook,&nbsp;Washington)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/39581292304/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Columbia River Gorge, Oregon Tab Section -->
    <section class="tab-section" id="tab-section-2">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-columbia-river-gorge-introduction', 'tab-section-2')">Introduction &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-columbia-river-gorge-waterfalls', 'tab-section-2')">Waterfalls &#9662</button>
        </div>

        <!-- Introduction -->
        <div id="oregon-columbia-river-gorge-introduction" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>The Columbia River Gorge separates the state of Washington on the northern side, and Oregon on the southern side of the river. On the Oregon side of the river gorge you'll find many stunning massive waterfalls surrounded by lush dense forests, connected via the Historic Columbia River Highway.</p>
                <p>Heading east from Portland you'll encounter the Crown Point Vista House, which overlooks a picturesque section of the Columbia River Gorge from high above.</p>
            </div>
        </div>
        <!-- Waterfalls -->
        <div id="oregon-columbia-river-gorge-waterfalls" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Driving east along the Columbia River Gorge you'll pass Latourell Falls, Bridal Veil Falls, Wahkeena Falls, the famous towering Multnomah Falls, Horsetail Falls, and Ponytail Falls. Most of these falls can be reached via short hikes. An extremely scenic optional trail through the steep forest connects Multnomah and Wahkeena Falls, passing many more waterfalls along the way such as Wiesendanger Falls and Fairy Falls.</p>
                <p>Along the river gorge are several smaller gorge hikes including the Oneonta Gorge Trail which passes Triple Falls, and Eagle Creek which passes many waterfalls and ventures deep into the wilderness.</p>
                <p>Quite far east along the Columbia River Gorge on the Washington side of the river is the elusive Spirit Falls, which is a vibrant bright light blue color and is surrounded by lush forests. This waterfalls is among the most gorgeous in Washington and can be reach via a short but very challenging trail.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                Attractions Guide for Columbia&nbsp;River&nbsp;Gorge, Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Columbia River Gorge Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/FXij6BCkq6B2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/1egZBvCEuCB2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oregon Road Trip 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6376326263"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Mount St. Helens National Monument, Washington - Trip Extension -->
    <section class="trip-extension">
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (1&nbsp;&#8209;&nbsp;2&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Mount St. Helens National&nbsp;Monument, Washington</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Mount St. Helens National Monument, Washington Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Windy Ridge hills seen below Mount St. Helens Volcano" 
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Windy-Ridge-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Windy Ridge Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/44534236@N00/9552756444/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/44534236@N00/" rel="noopener noreferrer" target="_blank">
                                    faungg's</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Suspension bridge spanning a river across Lava Canyon surrounded by dense forests near Mount St. Helens"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lava-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lava Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mtsthelens/38090757172/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mtsthelens/" rel="noopener noreferrer" target="_blank">
                                    Mt. St. Helens</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast fields below massive Mount St. Helens that were devastated by the 1980 eruption, seen from Johnston Ridge Observatory" 
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Johnson-Ridge-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Johnston Ridge Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/14718263011/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stairway surrounded by mossy rocks leading to the surface above the Lower Ape Cave near Mount St. Helens"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lower-Ape-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Ape Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/abhinaba/4806542689/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                                    Abhinaba Basu</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Panther Creek Falls flowing over lush mossy green cliffs in the middle of the Washington forests"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Panther-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Panther Creek Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bala_/28136383158/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bala_/" rel="noopener noreferrer" target="_blank">
                                    Bala Sivakumar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>





    <!-- Silver Falls State Park, Oregon - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="silver-falls-state-park-oregon"></a>
        <h2 class="itinerary-location-title">Silver Falls State Park, Oregon</h2>
        <p class="itinerary-location-days">Day-Trip or 1 Day</p>
    </section>

    <!-- Silver Falls State Park, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower South Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                                    Ian Sane</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Eroded cave walkway view behind North Falls at Silver Falls State Park, Oregon" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-North-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">North Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dberry/4983741352/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dberry/" rel="noopener noreferrer" target="_blank">
                                    David Berry</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour colors seen along the lush rainforest environment of the Trail of Ten Falls at Oregon's Silver Falls State Park" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Trail-of-the-Ten-Falls-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trail of Ten Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of South Falls cascading over the cliffs seen from the Trail of Ten Falls at Sivler Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-South-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">South Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/discoveroregon/41348732344/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/discoveroregon/" rel="noopener noreferrer" target="_blank">
                                    Rick Obst</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Silver Falls State Park, Oregon Tab Section -->
    <section class="tab-section" id="tab-section-3">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-silver-falls-state-park-summary', 'tab-section-3')">Silver Falls State Park &#9662</button>
        </div>

        <!-- Silver Falls State Park -->
        <div id="oregon-silver-falls-state-park-summary" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Approximately 1 hour south of Portland is Silver Falls State Park, so be sure to get an early start on the day in order to visit this beautiful place. Silver Falls State Park is a miniature rainforest ecosystem featuring several huge waterfalls amongst an incredibly lush green landscape, with all of the waterfalls connected by a single creek.</p>
                <p>To see all of the waterfalls you can hike the popular Trail of Ten Falls, which connects all of the park's waterfalls via an extremely scenic 7.2 mile (11.6 km) hike through this rainforest-like environment. Alternatively you can see some of the park's largest and most notable waterfalls with a much shorter amount of hiking.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                Attractions Guide for Silver&nbsp;Falls State&nbsp;Park, Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Silver Falls State Park Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/HsTFGr6prkN2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oregon Road Trip 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1984002728"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Williamette National Forest, Oregon - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="williamette-national-forest-oregon"></a>
        <h2 class="itinerary-location-title">Williamette National Forest, Oregon</h2>
        <p class="itinerary-location-days">&frac12; - 2 Days</p>
    </section>

    <!-- Williamette National Forest, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Sisters Mountains behind black volcanic desolate landscape seen atop the Dee Wright Observatory near Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Dee-Wright-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dee Wright Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/131420410@N05/36451605974/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                                    Lessa Clayton</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>
                

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning string-like waters of Proxy Falls flowing over mossy cliff near Bend in Williamette National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Proxy-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Proxy Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/42927481391/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Reflection of tall trees seen in the vibratn deep blue clear waters of the Tamolitch Blue Pool in Williamette National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Tamolitch-Blue-Pool.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tamolitch Blue Pool</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/49580580@N02/36891631960/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/49580580@N02/" rel="noopener noreferrer" target="_blank">
                                    Thomas Shahan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Koosah Falls and its vibrant light blue waters located downstream from Sahalie Falls in Williamette National Forest" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Koosah Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/131420410@N05/37248594450/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                                    Lessa Clayton</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Williamette National Forest, Oregon Tab Section -->
    <section class="tab-section" id="tab-section-4">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'williamette-national-forest-attractions', 'tab-section-4')">Williamette N.F. Attractions &#9662</button>
        </div>
        <!-- Williamette N.F. Attractions -->
        <div id="williamette-national-forest-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>The immensely beautiful Williamette National Forest is located just northwest of Bend, Oregon and is home to many stunning sights, the best of which are located along the McKenzie Highway.</p>
                <p>The powerful Sahalie Falls is surrounded by lush green forests and sits just upstream from the picturesque Koosah Falls. Further downstream along the McKenzie River is the captivating Tamolitch Blue Pool, which is a strikingly vibrant deep blue color. Along the moderate hike to see the blue pool is Tamolitch Falls.</p>
                <p>Along Highway 242 (a sub-highway of the McKenzie Highway) you'll encounter one of the most gorgeous waterfalls in Oregon, Proxy Falls. The scenery along this highway changes from thick forests to a mesmerizing black volcanic landscape, where you'll find the Dee Wright Observatory. This intriguing stone observatory offers panoramic views over this vast volcanic landscape and the many majestic mountains surrounding it.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                Attractions Guide for Williamette National&nbsp;Forest, Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Williamette National Forest Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/LY3LvSeypwC2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>






    <!-- Bend, Oregon - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="bend-oregon"></a>
        <h2 class="itinerary-location-title">Bend, Oregon</h2>
        <p class="itinerary-location-days">1 - 3 Days</p>
    </section>

    <!-- Bend, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic view overlooking the river winding through the tall cliffs of Smith Rock State Park along Misery Ridge in Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Misery-Ridge-to-Summit-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Misery Ridge to Summit&nbsp;Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/smith-rock-oregon-mountain-adventure-2114673/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/TheCADguy-4444606/" rel="noopener noreferrer" target="_blank">
                                    TheCADguy</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Bend with mountains in background seen from atop the Pilot Butte State Scenic Viewpoint" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Pilot-Butte-State-Scenic-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pilot Butte State Scenic Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jjandames/5155715659/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jjandames/" rel="noopener noreferrer" target="_blank">
                                    Amy Meredith</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large and powerful Tumalo Falls seen cascading over tall cliffs near Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Tumalo-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tumalo Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nileguide/6079849569/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nileguide/" rel="noopener noreferrer" target="_blank">
                                    John Steinitz</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive piles of obsidian rock seen along the Big Obsidian Flow Trail of Newberry Volcanic National Monument near Bend"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Big-Obsidian-Flow-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Big Obsidian Flow Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lumachrome/7927869196/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lumachrome/" rel="noopener noreferrer" target="_blank">
                                   Ferrous Bueller</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
            </div>
        </div>
    </div>

    <!-- Bend, Oregon Tab Section -->
    <section class="tab-section" id="tab-section-5">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-bend-attractions', 'tab-section-5')">Bend Attractions &#9662</button>
        </div>
        <!-- Bend, Oregon Attractions -->
        <div id="oregon-bend-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>The city of Bend is set in the high desert of Central Oregon surrounded by a vast volcanic landscape. The city is a great base from which to explore the incredible natural wonders in the area. The city's historic downtown area is known as Old Bend and hosts many great shops and restaurants. Bend is also home to the last remaining Blockbuster Video as well as the Deschutes Brewery. You can enjoy views over the city from atop the Pilot Butte.</p>
                <p>Just west of Bend is the majestic Tumalo Falls. To the north of Bend is Smith Rock State Park, an immensely beautiful volcanic landscape of tall sheer cliffs which are great for rock climbing or hiking. The Crooked River flows around the center of the park, creating a giant peninsula.</p>
                <p>South of Bend is the Newberry National Volcanic Monument, which hosts several large cinder cones amongst a black volcanic landscape. Popular attractions in the monument include the Big Obsidian Flow Trail, Paulina Creek Falls, the Lava River Cave, and the High Desert Museum.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                Attractions Guide for Bend,&nbsp;Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Bend Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/BAZFLzsDMH92">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/7YP26HBpbRD2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oregon Road Trip 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9463871644"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>






    <!-- Crater Lake National Park, Oregon - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="crater-lake-national-park-oregon"></a>
        <h2 class="itinerary-location-title">Crater Lake National&nbsp;Park, Oregon</h2>
        <p class="itinerary-location-days">1 - 2 Days</p>
    </section>

    <!-- Crater Lake National Park, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the snowy mountains and edges of Crater Lake and Wizard Island in winter seen from atop Garfield Peak" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-Winter.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Garfield Peak View<br />(Winter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/crater-lake-oregon-national-park-277123/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/pogo_mm-174776/" rel="noopener noreferrer" target="_blank">
                                    pogo_mm</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View directly over Wizard Island and smaller islands in Crater Lake seen from th Watchman Overlook"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Watchman-Overlook-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Watchman Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glennwilliamspdx/4980896391/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glennwilliamspdx/" rel="noopener noreferrer" target="_blank">
                                    Glenn Scofield Williams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of deep vibrant blue Crater Lake and a boat pier from the lakeshore at Cleetwood Cove"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Cleetwood-Cove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cleetwood Cove Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/4105429577/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over Crater Lake and Wizard Island seen from the Sinnott Memorial Observation Station " 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Sinnott-Memorial-Observation-Station.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sinnott Memorial Observation&nbsp;Station</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/7574484850/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Toketee Falls seen flowing through a gorge-like canyon with columnar cliffs in Umpqua National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Toketee-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Toketee Falls<br />(Umpqua National Forest)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forestservicenw/41664453662/in/photolist-FQ4qnb-26tKdvm-TyXuGp-BvyScZ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forestservicenw/" rel="noopener noreferrer" target="_blank">
                                    US Forest Service Pacific NW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Staircase-like Clearwater Falls flowing over mossy rocks in the Umpqua National Forest near Crater Lake"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Clearwater-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clearwater Falls<br />(Umpqua National Forest)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/35287522932/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Crater Lake National Park, Oregon Tab Section -->
    <section class="tab-section" id="tab-section-6">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-crater-lake-national-park-summary', 'tab-section-6')">Crater Lake N.P. &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-umpqua-national-forest-waterfalls', 'tab-section-6')">Umpqua Waterfalls &#9662</button>
        </div>
        <!-- Crater Lake N.P. -->
        <div id="oregon-crater-lake-national-park-summary" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>The gorgeous Crater Lake National Park is centered around a massive deep blue lake which sits inside of a vast crater, surrounded by beautiful mountains and forest.</p>
                <p>You can drive around the vast Crater Lake to enjoy multiple perspectives over this gorgeous natural wonder, most notably Meriam Point, the Watchman Overlook which looks out directly over Wizard Island, and the Sinnott Memorial Observation Station in Rim Village. From Rim Village you can take the short hike up to one of the lake's best viewpoints atop Garfield Peak.</p>
                <p>On the northern side of Crater Lake you can hike down to the lakeshore via the Cleetwood Cove Trail, which also leads to the lake's boat tour dock, although these tours must be made far in advance.</p>
            </div>
        </div>
        <!-- Umpqua Waterfalls -->
        <div id="oregon-umpqua-national-forest-waterfalls" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>North of Crater Lake are several picturesque waterfalls within the Umpqua National Forest, located along the North Umpqua Highway. The most notable of these waterfalls is the stunning Toketee Falls, which flows over surreal geometric cliffs made of columnar basalt. Additionally along the highway you can admire the towering Watson Falls, as well as Whitehorse Falls and Clearwater Falls, which cascades over lush mossy rocks and logs.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                Attractions Guide for Crater&nbsp;Lake National&nbsp;Park, Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Crater Lake National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/yj1eBVW9jTG2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/LhfH7RyCmAU2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>






    <!-- Upper Northern Coast, California - Trip Extension -->
    <section class="trip-extension">
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (2&nbsp;&#8209;&nbsp;4&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Upper Northern Coast &amp; Redwoods, California</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-southbound-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Upper Northern Coast, California Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lady Bird Johnson Grove Trail<br />(Prairie Creek)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Low tide view of the beautiful Battery Point Lighthouse which becomes an island at high tide in Crescent City"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Battery-Point-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Battery Point Lighthouse<br />(Crescent City)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39908901@N06/23640862215/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39908901@N06/" rel="noopener noreferrer" target="_blank">
                                    m01229</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive redwood trees towering above the steeet of the Avenue of the Giants in Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Avenue-of-the-Giants.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Avenue of the Giants<br />(Redwoods National Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kirt_edblom/15331690199/in/photolist-pmNVmc-6nD8K-o4n6iU-oxnkW1-prcbc6-ch7m3m-ch7EwG-ch7zn7-8wqUDt-ch7DMJ-ch7zVU-ch7pX1-ch7mHJ-ch7ngN-ch7Ehf-ch7ymw-8wtL7f-ch7vwE-WU9obQ-38FsBb-8wtHcC-uGbrX-ampZLL-fERQUh-pCR8iv-byuBwu-pCNKwD-93fCNY-6GCfLF-oxnmio-jhermP-e7knms-ox87wH-byuBFw-WPfcae-X23DUT-ctuGWA-pnLPWR-9xXAvE-ppCsyY-apjJsS-amncBx-pEGAja-oKXqqJ-onKtRs-RvNVj1-R7nimN-9nq2eL-6nCXM-6nEbW" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kirt_edblom/" rel="noopener noreferrer" target="_blank">
                                    Kirt Edblom</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely tiny white and red Trinidad Memorial Lighthouse with many boats and small rock island of Trinidad Bay in background"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Trinidad-Memorial-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trinidad Memorial Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Dirt path beneath the towering redwoods of the Simpson Reed Grove Trail of Jedidiah Smite Redwoods State Park"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Simpson-Reed-Grove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Simpson Reed Grove Trail<br />(Jedidiah Smith)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/paulhami/3871310624/in/photolist-6U6tLU-d16Ms1-a4upXs-e1S76a-kodco-d16vqu-koezN-d16xiY-6vmKrA-ko6pb-6U6r29-d178ds-koekn-d16nVo-kocPY-kodHk-d16uPU-kopFj-6U6kfs-4C2Wa1-d16xWU-68sY5f-d177yA-kodPj-ko6GG-koeaB-68n1Cg-6okt1U-d174kE-9UEg4y-ko6wP-d16sLd-d16JP9-6JXM6m-d16owC-7mmKaU-6JTw7R-ko6R6-a4uof7-komUu-d172Zf-d179ZW-d179o1-6U2sqt-d16tqf-d176ew-ko6AE-9UEfks-ko6Qq-ko6vM" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/paulhami/" rel="noopener noreferrer" target="_blank">
                                    Paul Hamilton</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant lush green walls of Fern Canyon above a rocky stream at Prairie Creek Redwoods State Park"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Fern-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fern Canyon Trail<br />(Prairie Creek)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>






    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oregon Road Trip Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2022040489"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>






    <!-- Southern Oregon Coast - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="southern-coast-oregon"></a>
        <h2 class="itinerary-location-title">Southern Coast, Oregon</h2>
        <p class="itinerary-location-days">1 - 2 Days</p>
    </section>

    <!-- Southern Coast, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning sunset colors in sky behind the famous Thor's Well coastal phenomenom at Oregon's Cape Perpetua"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Perpetua-Thors-Well.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thor's Well<br />(Cape&nbsp;Perpetua)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6066507677/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view at Samuel H. Boardman's sandy Secret Beach of tall sea rocks along the Southern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Secret-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Secret Beach<br />(Samuel&nbsp;H.&nbsp;Boardman)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Balancing rock tower in front of lovely Cape Creek bridge seen from beach at Heceta Head, Southern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Creek-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Creek Bridge<br />(Heceta&nbsp;Head)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a natural sea bridge behind trees at Samuel H. Boardman Scenic Corridor along Southern Oregon Coast" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Natural-Bridges-Cove.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Bridges Trail<br />(Samuel&nbsp;H.&nbsp;Boardman)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the lovely little white and red Heceta Head Lighthouse from a trail along Oregon's southern coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Heceta-Head-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heceta Head Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tomsaint/9353012084/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tomsaint/" rel="noopener noreferrer" target="_blank">
                                    Rennett Stowe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Southern Oregon Coast Tab Section -->
    <section class="tab-section" id="tab-section-7">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-southern-oregon-coast-introduction', 'tab-section-7')">Intro &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-southern-oregon-coast-samuel-h-boardman-scenic-corridor', 'tab-section-7')">Samuel H. Boardman &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-southern-oregon-coast-coos-bay-area', 'tab-section-7')">Coos Bay &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-southern-oregon-coast-heceta-head-and-cape-perpetua', 'tab-section-7')">Cape Perpetua &#9662</button>
        </div>
        <!-- Introduction -->
        <div id="oregon-southern-oregon-coast-introduction" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Oregon's southern coast features several extremely scenic areas located along Highway 101, although the entire drive along the coast is quite scenic. This route follows along a stretch of this highway between Brookings, OR just north of the California border and Yachats, OR, which is located near the center of the Oregon Coast.</p>
            </div>
        </div>
        <!-- Samuel H. Boardman -->
        <div id="oregon-southern-oregon-coast-samuel-h-boardman-scenic-corridor" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Near the city of Brookings, you'll find the Samuel H. Boardman State Scenic Corridor, an extremely scenic part of the coastline. The corridor hosts the Natural Bridges Trail, which features majestic tree-covered bridge formations along the coastline above the water. Adjacent is the Secret Beach Trail, which leads to a majestic rocky beach. Additional major viewpoints along the corridor include the Whaleshead Viewpoint and Arch Rock Picnic Area.</p>
            </div>
        </div>
        <!-- Coos Bay -->
        <div id="oregon-southern-oregon-coast-coos-bay-area" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Further north along this route are several viewpoints over the coast, most notably the Face Rock Viewpoint which overlooks a majestic rocky part of the coastline. Be sure to also stop at the Oregon Dunes Overlook, which offers excellent views over some of the rolling sandy dunes which dominate this part of the coastline (between Coos Bay and Heceta Head). You might even consider further exploring the dunes via hiking trails.</p>
            </div>
        </div>
        <!-- Heceta Head and Cape Perpetua -->
        <div id="oregon-southern-oregon-coast-heceta-head-and-cape-perpetua" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Just south of Cape Perpetua is Heceta Head, which hosts a charming little lighthouse and the very photogenic Cape Creek Bridge within a scenic cove. Nearby are the Sea Lion Caves, which offers an elevator ride down to a sea cave which is seasonally filled with seals and sea lions.</p>
                <p>Near Yachats you'll find Cape Perpetua, which features several amazing coastal formations within a small area, most notably the powerful Thor's Well, which quickly fills up with water before emptying, rising and falling with the waves. Adjacent is the Sprouting Horn which sprays up water through a spout, as well as the Devil's Churn.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                Attractions Guide for Southern&nbsp;Coast,&nbsp;Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Southern Oregon Coast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/YeWy54fewxv">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8WkH3Z6QK2t">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Northern Oregon Coast - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="northern-coast-oregon"></a>
        <h2 class="itinerary-location-title">Northern Coast, Oregon</h2>
        <p class="itinerary-location-days">1 - 3 Days</p>
    </section>

    <!-- Northern Coast, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely idyllic Yaquina Head Lighthouse at golden hour atop the cliffs near Newport, Oregon" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Yaquina-Head-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Yaquina Head Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/esridatalibrary/33313460553/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/esridatalibrary/" rel="noopener noreferrer" target="_blank">
                                    Esri Public Domain Library</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning views looking down the Norther Oregon Coast and beaches from the Otter Crest State Scenic Viewpoint"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Otter-Crest-State-Scenic-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Otter Crest State Scenic&nbsp;Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kirt_edblom/14802702969/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kirt_edblom/" rel="noopener noreferrer" target="_blank">
                                    Kirt Edblom</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cloudy day looking directly at Haystack Rock at Cannon Beach along Oregon's Northern Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Cannon-Beach-Haystack-Rock-and-Beach-Aerial-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cannon Beach &amp; Haystack&nbsp;Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Haystack_Rock,_Oregon_(drone_photograph).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:DDima" rel="noopener noreferrer" target="_blank">
                                    DiscoverWithDima</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ecola Point<br />(Ecola&nbsp;State&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/beach-ocean-landscape-sea-water-2737460/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/jbwilder75-4756122/" rel="noopener noreferrer" target="_blank">
                                    jbwilder</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous views over the beaches and coastline of Manzanita and Newhalem Bay seen from popular roadside Neahkahnie Viewpoint"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Neahkahnie-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neahkahnie Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Larson Creek Falls cascading over tall vibrant green cliffs onto Short Beach near Cape Meares, along Oregon's Northern Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Larson-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Larson Creek Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Northern Oregon Coast Tab Section -->
    <section class="tab-section" id="tab-section-8">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'oregon-northern-oregon-coast-introduction', 'tab-section-8')">Intro &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-northern-oregon-coast-newport-and-cape-meares', 'tab-section-8')">Newport &amp; Cape Meares &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-northern-oregon-coast-cannon-beach', 'tab-section-8')">Cannon Beach &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'oregon-northern-oregon-coast-astoria', 'tab-section-8')">Astoria &#9662</button>
        </div>
        <!-- Introduction -->
        <div id="oregon-northern-oregon-coast-introduction" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Oregon's northern coast hosts a variety of scenic viewpoints and attractions along Highway 101. This route follows a long stretch of this highway between Newport, OR near the center of the Oregon Coast and Astoria, OR near the northwestern tip of Oregon.</p>
            </div>
        </div>
        <!-- Newport and Cape Meares -->
        <div id="oregon-northern-oregon-coast-newport-and-cape-meares" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Near the town of Newport is one of the most beautiful lighthouses on the American west coast, the Yaquina Head Lighthouse. Just north of Newport you can enjoy striking views over the coast from the Otter Crest Viewpoint and admire the Devils Punchbowl formation. Further north is Cape Kiwanda, a strange but mesmerizing coastal landscape.</p>
                <p>Continue up to the city of Tillamook, which is home to the popular Tillamook Creamery, which produces cheese, ice cream, and more. Nearby is Cape Meares, which hosts a quaint lighthouse and an octopus-shaped tree. Just south of Cape Meares is the stunning Larson Creek Falls which flows onto the sand of Short Beach. Surprisingly this waterfall is mostly unknown, despite its beauty.</p>
            </div>
        </div>
        <!-- Cannon Beach -->
        <div id="oregon-northern-oregon-coast-cannon-beach" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>A bit south of Cannon Beach is one of the Oregon Coast's most breathtaking coastal overlooks, the Neahkahnie Viewpoint. You can hike up Neahkahnie Mountain for even more amazing views. Continue north to the picturesque beach and coastline of Hug Point, located just before Cannon Beach. Just before reaching Cannon Beach, be sure to stop for amazing coastal views at Silver Point.</p>
                <p>Cannon Beach is a charming beachside town and is home to the iconic Haystack Rock, which towers above the long sandy beach. Just north of Cannon Beach you can enjoy stunning views over the rocky rugged coastline from the beaches of Ecola State Park, which is surrounded by a small dense forest.</p>
            </div>
        </div>
        <!-- Astoria -->
        <div id="oregon-northern-oregon-coast-astoria" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Before reaching Astoria you should stop at Fort Clastop, a very historically accurate wooden fort modeled after the one built by the famous American explorers Lewis &amp; Clark. Interestingly, this is where Lewis and Clark set up their camp along the west coast next to the mouth of the Columbia River.</p>
                <p>Astoria is a lovely town that was used as the setting for the popular 80's movie The Goonies. Astoria hosts a charming historic downtown area as well as many impressive Victorian homes. Atop a hill above the city is the Astoria Column, a tower which you can climb for incredible panoramic views over the Pacific Coast, the Columbia River, and the surrounding rural landscape.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                Attractions Guide for Northern&nbsp;Coast,&nbsp;Oregon
            </a>
        </h4>
        <p class="save-attractions-header">Save Northern Oregon Coast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/cHrMLhdnWLG2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CEMpMBBH8iH2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>




    
    <!-- Departure - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title">Return to Portland</h2>
        <p class="itinerary-location-days">(Or Seattle)</p>
    </section>



    