<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Wild deer seen in in the rainforests of Olympic National Park, Washington Road Trip Itinerary</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rainforest-Wildlife-Deer-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Best route for Washington Road Trip Itinerary: Seattle, Mt. Baker, Cascades, Victoria BC, Olympic Peninsula, Mt. Rainier, Mt. St. Helens + Top Attractions" />
    <meta name="travel_itineraries" content="washington" />
    <meta name="usa_itineraries" content="washington" />
    <meta name="road_trip_itineraries" content="washington" />
    <meta name="us_state_itineraries" content="washington" />
    <meta property="og:title" content="Washington Road Trip Itinerary">
    <meta property="og:image" content="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rainforest-Wildlife-Deer.jpg">
    <meta name="twitter:title" content="Washington Road Trip Itinerary">
    <meta name="twitter:image" content="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rainforest-Wildlife-Deer.jpg">
    <link rel="canonical" href="https://travonga.com/itineraries/usa/washington-road-trip-itinerary-and-top-attractions">
    <title>Washington Road Trip Itinerary + Top Attractions</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>




    <!-- Page Heading and Total Trip Length -->
    <h1>Washington Road Trip Itinerary<br /><span class="itinerary-inner-title">+ Top Attractions</span></h1>

    <!-- 1 - 2 Weeks -->   
    <div class="itinerary-trip-length">
        Recommended Travel Time: 1&nbsp;&#8209;&nbsp;2&nbsp;Weeks
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="itinerary-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#seattle-washington">Seattle</a></div>
            <div>&#8674;</div>
            <div><a href="#mount-baker-and-north-cascades-washington">Mt. Baker &amp; Cascades</a></div>
            <div>&#8674;</div>
            <div><a href="#victoria-and-vancouver-island-british-columbia">Victoria</a></div>
            <div>&#8674;</div>
            <div><a href="#olympic-national-park-washington">Olympic N.P.</a></div>
            <div>&#8674;</div>
            <div><a href="#mount-st-helens-washington">Mt. St. Helens</a></div>
            <div>&#8674;</div>
            <div><a href="#mount-rainier-national-park-washington">Mt. Rainier</a></div>
            <div>&nbsp;</div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>
    



    <!-- Seattle, Washington - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="seattle-washington"></a>
        <h2 class="itinerary-location-title">Seattle, Washington</h2>
        <p class="itinerary-location-days">2 - 4 Days</p>
    </section>

    <!-- Seattle, Washington Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="View of an entrance to Seattle's famous Pike Place Market"
                        src="https://www.travelimager.com/images/washington/Washington-Seattle-Pike-Place-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pike Place Market</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/papalars/15887500273/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/papalars/" rel="noopener noreferrer" target="_blank">
                                    Andrew E. Larsen</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Iconic Seattle Space Needle seen amongst the skyscrapers of Downtown Seattle at night" 
                        src="https://www.travelimager.com/images/washington/Washington-Seattle-Space-Needle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Space Needle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/158283218@N03/38610164014/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/158283218@N03/" rel="noopener noreferrer" target="_blank">
                                    Craig Yemola</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ferris wheel and baordwalk piers along the waterfront of Downtown Seattle with highrises in background"
                        src="https://www.travelimager.com/images/washington/Washington-Seattle-Seattle-Waterfront.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Seattle Waterfront</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hubbardcoe/33512638851/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hubbardcoe/" rel="noopener noreferrer" target="_blank">
                                    Powhusku</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of Seattle Space Needle and Downtown Seattle with Mount Rainier in background seen from Kerry Park at sunset"
                        data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Kerry-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kerry Park View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tiffany98101/15984978620/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tiffany98101/" rel="noopener noreferrer" target="_blank">
                                    Tiffany Von Arnim</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive and powerful Snoqualmie Falls seen flowing over the cliffs behind tall grasses outside Seattle, Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Greater-Seattle-Snoqualmie-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Snoqualmie Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/papalars/16797460423/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/papalars/" rel="noopener noreferrer" target="_blank">
                                    Andrew E. Larsen</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Seattle, Washington Tab Section -->
    <section class="tab-section" id="tab-section-1">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'washington-seattle-attractions', 'tab-section-1')">Seattle Attractions &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'washington-greater-seattle-attractions', 'tab-section-1')">Greater Seattle &#9662</button>
        </div>

        <!-- Seattle Attractions -->
        <div id="washington-seattle-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Seattle is a gorgeous seaside city full of contemporary high-rise buildings and landmarks, surrounded by breathtaking natural scenery. Around Downtown Seattle you'll find many excellent restaurants and a thriving nightlife scene.</p>
                <p>Seattle Center hosts the city's iconic Space Needle tower, which offers sweeping panoramic views from the top. Nearby you can visit the stunning Chihuly Gardens & Glass as well as the incredible Museum of Pop Culture, which was designed by famous architect Frank Gehry.</p>
                <p>Downtown Seattle hosts the first Starbucks Cafe, the scenic Seattle Waterfront, and Pikes Place Market, where you'll find many unique shops as well as the famous Gum Wall. Also Downtown are the city's iconic Smith Tower and Columbia Center skyscrapers, both of which offer amazing views from the top. To enjoy picturesque views overlooking Downtown for free head to Kerry Park, as well as the Gas Works Park, which sits on the shore of Lake Union.</p>
            </div>
        </div>
        <!-- Greater Seattle Attractions -->
        <div id="washington-greater-seattle-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>South of Seattle is the largest private air and space museum in the world, the Museum of Flight. Approximately 45 minutes east of Seattle is the powerful Snoqualmie Falls, one of the most beautiful waterfalls in the state. Nearby you can tour a kangaroo/wallaby farm and personally interact with these animals at the Fall City Wallaby Ranch.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/washington/seattle-attractions-guide">
                Attractions Guide for Seattle,&nbsp;Washington
            </a>
        </h4>
        <p class="save-attractions-header">Save Seattle Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/3WT1Rva1LZM2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/KvyJANRMxu62">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>


    


    <!-- Mount Baker and North Cascades, Washington - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="mount-baker-and-north-cascades-washington"></a>
        <h2 class="itinerary-location-title">Mount Baker &amp; North&nbsp;Cascades, Washington</h2>
        <p class="itinerary-location-days">1 - 3 Days</p>
    </section>

    <!-- Mount Baker and North Cascades, Washington Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the stunning blue-green waters of the famous Diablo Lake surrounded by the North Cascades of Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Baker-Area-Diablo-Lake-Vista-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Diablo Lake Vista Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Diablo_Lake,_WA_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Diablo_Lake,_WA_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Dieter F</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fall colored foliage below snowy Mount Shuksan and its reflection seen in Picture Lake near Mt. Baker, Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Baker-Area-Picture-Lake-Reflection-of-Mt-Shuksan-Fall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Picture Lake &amp; Mt.&nbsp;Shuksan</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mount_Shuksan_at_North_Cascades_National_Park_in_Washington_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jeffhollett" rel="noopener noreferrer" target="_blank">
                                    Jeffhollett</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Skagit River and a heavenly lush valley from atop Sauk Mountain near Mt. Baker and the North Cascades"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Baker-Area-Sauk-Mountain-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sauk Mountain Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hugo90/6051300486/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hugo90/" rel="noopener noreferrer" target="_blank">
                                    JOHN LLOYD</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iceberg Lake, one of the Chain Lakes seen below Table Mountain surrounded by forests below Mt. Baker in Northern Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Baker-Area-Chain-Lakes-Trail-Ptarmigan-Ridge-Iceberg-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Iceberg Lake &amp; Mt.&nbsp;Baker<br />(Chain Lakes Loop Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nordique/15054582949/in/album-72157622640885915/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nordique/" rel="noopener noreferrer" target="_blank">
                                    Peter Stevens</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Doubtful Lake from Maple Pass high above near Cascade Pass in Washington's North Cascades National Park"
                        data-src="https://www.travelimager.com/images/washington/Washington-North-Cascades-National-Park-Cascade-Pass-Trail-View-over-Doubtful-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Doubtful Lake<br />(Maple Pass View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_from_Maple_Pass.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/11563230@N04" rel="noopener noreferrer" target="_blank">
                                    Miguel Vieira</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    
    <!-- Mount Baker and North Cascades, Washington Tab Section -->
    <section class="tab-section" id="tab-section-2">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'washington-bellingham-introduction', 'tab-section-2')">Intro &amp; Bellingham &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'washington-mount-baker-attractions', 'tab-section-2')">Mt. Baker &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'washington-north-cascades-national-park-attractions', 'tab-section-2')">North Cascades N.P. &#9662</button>
        </div>

        <!-- Intro and Bellingham -->
        <div id="washington-bellingham-introduction" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Northern Washington hosts a vast wilderness of beautiful forests and tall mountain peaks within the North Cascades Mountain Range, centered around Mt. Baker. A great base to explore this area from is the city of Bellingham, where you'll find a charming downtown area full of excellent local breweries and great restaurants.</p>
            </div>
        </div>
        <!-- Mt. Baker Attractions -->
        <div id="washington-mount-baker-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>On the northern side of Mount Baker just below the Canadian border is the Mt. Baker Highway, and on the southern side of the mountain is the Cascades Highway. The Mt. Baker Highway leads up to Panorama Point below Mt. Baker, where you'll find the gorgeous Picture Lake and excellent hiking trails, most notably the Chain Lakes Trail and Bagley Lakes Loop.</p>
            </div>
        </div>
        <!-- North Cascades N.P. Attractions -->
        <div id="washington-north-cascades-national-park-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>The Cascades Highway passes the Sauk Mountain Trail, from which you can enjoy sweeping views of the mountains and Sauk River below. Further east, this highway passes through the extremely scenic North Cascades Mountains before reaching the breathtaking vibrant blue-green waters of Diablo Lake, which is said to be the most beautiful lake in Washington.</p>
                <p>North Cascades National Park is also home to some incredible meadow trails which venture high up into the lush mountains of Northern Washington to pristine alpine lakes, such as the Hidden Lake Overlook Trail and the Cascade Pass to Maple Pass Trail.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/washington/mount-baker-and-north-cascades-attractions-guide">
                Attractions Guide for Mt.&nbsp;Baker &amp; North&nbsp;Cascades, Washington
            </a>
        </h4>
        <p class="save-attractions-header">Save Mount Baker &amp; North&nbsp;Cascades Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/bXfbov49k2s">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/A6bcNH3DSbF2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>






    <!-- Itinerary Note - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title">Reaching Victoria, B.C.</h2>
        <p class="itinerary-note">From Bellingham you can drive over the Canadian border to the Vancouver suburb of Tsawwassen to catch the car ferry to Swartz Bay on Vancouver Island and continue driving to nearby Victoria.</p>
        <p class="itinerary-note">From Seattle you can take the ferry from the Washington city of Port Angeles. When returning from Victoria you'll want to take the ferry back to Port Angeles, Washington as it is located adjacent to Olympic National Park.</p>
    </section>
    <div class="bottom-border"></div>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Washington Road Trip 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2313792321"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Victoria and Vancouver Island, British Columbia - Trip Extension -->
    <section class="trip-extension">
        <a class="anchor" id="victoria-and-vancouver-island-british-columbia"></a>
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (2&nbsp;&#8209;&nbsp;6&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Victoria &amp; Vancouver Island, British&nbsp;Columbia</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/usa/british-columbia/victoria-and-vancouver-island-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Victoria and Vancouver Island, British Columbia Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colored flowers, plants, and trees of the famous Butchart Gardens of Vancouver Island in Brentwood Bay near Victoria"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Greater-Victoria-Brentwood-Bay-Butchart-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Butchart Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/don34685/22888255967/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/don34685/" rel="noopener noreferrer" target="_blank">
                                    Don</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colorful buildings lining the docks along Victoria's Fisherman's Wharf Park on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fishermans-Wharf.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fisherman's Wharf Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/20044219993/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Horse and carriage in front of Victoria's beautiful Fairmont Express Hotel with vine-covered walls, on Vancouver Island" 
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fairmont-Empress-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairmont Empress Hotel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Miladlaferrari</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little red/white Fisgard Lighthouse atop a tiny rocky peninsula at Fort Rodd Hill outside Victoria, Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fort-Rodd-Hill-Fisgard-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fisgard Lighthouse<br />(Fort&nbsp;Rodd&nbsp;Hill)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/20044219993/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Majestic stone exterior of the Hatley Castle near Victoria, which was the location for Xavier's School in most X-men films"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Hatley-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hatley Park<br />National&nbsp;Historic&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/19796275222/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden logs along the rocky French Beach surrounded by dense forests along the Strait of Juan de Fuca on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-French-Beach-Provincial-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">French Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/56705607@N00/34903768151/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/56705607@N00/" rel="noopener noreferrer" target="_blank">
                                    Blake Handley</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the waterline of sandy Mystic Beach below forest-covered cliffs along Vancouver Island's Strait of Juan de Fuca"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-Juan-de-Fuca-Provincial-Park-Mystic-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mystic Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mystic_Beach,_Vancouver_Island,_Canada_10.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Podzemnik" rel="noopener noreferrer" target="_blank">
                                    Michal Klajban</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>





    <!-- Olympic National Park, Washington - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="olympic-national-park-washington"></a>
        <h2 class="itinerary-location-title">Olympic National Park, Washington</h2>
        <p class="itinerary-location-days">2 - 5 Days</p>
    </section>

    <!-- Olympic National Park, Washington Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the idyllic Pacific Northwest Rialto Beach with giant log piles and dense forests on the Olympic Peninsula"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rialto-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rialto Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gusilu/7987056555/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gusilu/" rel="noopener noreferrer" target="_blank">
                                    Lucia Sanchez</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hoh Rainforest of Washington's Olympic National Park with vibrant green moss-covered trees along the Hall of Mosses trail"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Hoh-Rainforest-Hall-of-Mosses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hoh Rainforest Hall&nbsp;of&nbsp;Mosses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hawthorneave/14462594090/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hawthorneave/" rel="noopener noreferrer" target="_blank">
                                    Hawthorne Ave</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view overlooking the forest-covered cliffs and tiny islands at the Olympic Peninsula's Cape Flattery"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Cape-Flattery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Flattery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/7976309978/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over dense forests, lakes, and mountains seen from high above Olympic National Park from the Mt. Ellinor Trail"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Mt-Ellinor-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mt. Ellinor Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forestservicenw/23417784682/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forestservicenw/" rel="noopener noreferrer" target="_blank">
                                    Forest Service Pacific NW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

               <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush Quinault Rainforest trail surrounded by ferns and dense forest in Washington's Olympic National Forest" 
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Quinault-Rainforest-Nature-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Quinault Rainforest Nature Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/olympicnps/23086291761/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/olympicnps/" rel="noopener noreferrer" target="_blank">
                                    Olympic National Park</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the snow-capped Olympic Mountains seen behind lush green meadows and flowers along the Hurricane Hill Trail"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Hurracaine-Hill-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hurricane Hill Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Olympic National Park, Washington Tab Section -->
    <section class="tab-section" id="tab-section-3">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'washington-olympic-national-park-attractions', 'tab-section-3')">Olympic N.P. Attractions &#9662</button>
        </div>

        <!-- Olympic N.P. Attractions -->
        <div id="washington-olympic-national-park-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Olympic National Park is located along the massive Olympic Peninsula of Washington, centered around massive breathtaking mountains and forests. The national park hosts several lush green rainforest eco-systems that you can explore, including the Hoh Rainforest, Quinault Rainforest, and the Sol Duc Falls Trail.</p>
                <p>Along the coast are several gorgeous beaches with dense forests that stretch to the rocky coastline. These include Ruby Beach, Rialto Beach, Second Beach, and Cape Flattery, with Cape Flattery located at the most northwestern tip of the continental United States.</p>
                <p>The Olympic Peninsula also offers amazing hiking, including the Hurricane Hill Trail which traverses alongside lush meadows and abundant wildlife, while offers majestic views of the Olympic Mountains and the coast. On the other side of the mountains it the Mt. Ellinor Trail, from which you can enjoy magnificent far-reaching views over the surrounding vast wilderness of forests and lakes.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/washington/olympic-national-park-attractions-guide">
                Attractions Guide for Olympic National&nbsp;Park, Washington
            </a>
        </h4>
        <p class="save-attractions-header">Save Olympic National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/nWk82yLsG1q">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/up8KUmypLD22">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Washington Road Trip 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7767646598"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    


    <!-- Mount St. Helens National Monument, Washington - Trip Extension -->
    <section class="trip-extension">
        <a class="anchor" id="mount-st-helens-washington"></a>
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (1&nbsp;&#8209;&nbsp;2&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Mount St. Helens National&nbsp;Monument, Washington</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Mount St. Helens National Monument, Washington Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Windy Ridge hills seen below Mount St. Helens Volcano" 
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Windy-Ridge-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Windy Ridge Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/44534236@N00/9552756444/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/44534236@N00/" rel="noopener noreferrer" target="_blank">
                                    faungg's</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Suspension bridge spanning a river across Lava Canyon surrounded by dense forests near Mount St. Helens"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lava-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lava Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mtsthelens/38090757172/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mtsthelens/" rel="noopener noreferrer" target="_blank">
                                    Mt. St. Helens</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast fields below massive Mount St. Helens that were devastated by the 1980 eruption, seen from Johnston Ridge Observatory" 
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Johnson-Ridge-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Johnston Ridge Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/14718263011/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stairway surrounded by mossy rocks leading to the surface above the Lower Ape Cave near Mount St. Helens"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lower-Ape-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Ape Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/abhinaba/4806542689/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                                    Abhinaba Basu</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Panther Creek Falls flowing over lush mossy green cliffs in the middle of the Washington forests"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Panther-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Panther Creek Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bala_/28136383158/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bala_/" rel="noopener noreferrer" target="_blank">
                                    Bala Sivakumar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>





    <!-- Columbia River Gorge, Oregon - Trip Extension -->
    <section class="trip-extension">
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (1&nbsp;&#8209;&nbsp;3&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Columbia River Gorge, Oregon</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Columbia River Gorge, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Multnomah Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                                    AirHaake</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Columbia River Gorge seen from the Crown Point Vista House in Oregon" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Crown-Point-Vista-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crown Point Vista House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/apbutterfield/7673977026/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/apbutterfield/" rel="noopener noreferrer" target="_blank">
                                    Alex Butterfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Latourell Falls behind lush greenery and small wooden bridge located along the Columbia River Gorge" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Latourell-Falls-and-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Latourell Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/theknowlesgallery/6890946034/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/theknowlesgallery/" rel="noopener noreferrer" target="_blank">
                                    Charles Knowles</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful slanted waterfall of Ponytail Falls located near Horsetail Falls along Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Ponytail-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponytail Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jonomueller/5882235249" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jonomueller/" rel="noopener noreferrer" target="_blank">
                                    Jonathan Mueller</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant light blue waters of the picturesque Spirit Falls located north of the Columbia River near Cook, Washington"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Spirit-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spirit Falls (Cook,&nbsp;Washington)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/39581292304/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Washington Road Trip Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1639004901"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Mount Rainier National Park, Washington - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="mount-rainier-national-park-washington"></a>
        <h2 class="itinerary-location-title">Mount Rainier National Park, Washington</h2>
        <p class="itinerary-location-days">2 - 4 Days</p>
    </section>

    <!-- Mount Rainier National Park, Washington Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive Mount Rainier towering above the dense forests with its perfect reflection seen in Reflection Lake in Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Reflection-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reflection Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/abhinaba/9530073620/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                                    Abhinaba Basu</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Flowers and meadows lining the Nisqually Vista Trail leading to snow-covered Mount Rainier" 
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Nisqually-Vista-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nisqually Vista Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/navin75/8051954988/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/navin75/" rel="noopener noreferrer" target="_blank">
                                    Navin Rajagopalan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small wooden log bridge spanning a stream leading to the lush meadows and forests of Spray Park beneath Mount Rainier"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Spray-Park-Trail-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spray Park Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small Myrtle Falls surrounded by lush meadows in front of snow-capped Mount Rainier"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Myrtle-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Myrtle Falls (Skyline&nbsp;Point&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/liz/32159162/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/liz/" rel="noopener noreferrer" target="_blank">
                                    Liz Lawley</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden boardwalk above the forest floor of Mount Rainier National Park's Grove of the Patriarchs Trail"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Grove-of-the-Patriarchs-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grove of the Patriarchs Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/shlyn401/41113785700/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/shlyn401/" rel="noopener noreferrer" target="_blank">
                                    Ashlyn Gehrett</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small Christine Falls seen underneath a lovely little stone bridge in Mount Rainier's Paradise Area"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Paradise-Area-Christine-Falls-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Christine Falls Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bibbit/2632168235/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bibbit/" rel="noopener noreferrer" target="_blank">
                                    Bridget Coila</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Mount Rainier National Park, Washington Tab Section -->
    <section class="tab-section" id="tab-section-4">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'washington-mount-rainier-national-park-introduction', 'tab-section-4')">Introduction &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'washington-mount-rainier-national-park-attractions', 'tab-section-4')">Mt. Rainier Attractions &#9662</button>
        </div>

        <!-- Introduction -->
        <div id="washington-mount-rainier-national-park-introduction" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Mount Rainier National Park is centered around the colossal Mt. Rainier volcano, which towers nearly 14,100 feet (4,300 m) above the surrounding landscape and is among the tallest peaks in the continental USA. The volcanic mountain is covered in glaciers, forests, and meadows, and harbors abundant wildlife.</p>
            </div>
        </div>
        <!-- Mount Rainier Attractions -->
        <div id="washington-mount-rainier-national-park-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>On the southern side of Mt. Rainier is the Paradise area, which hosts the park's main visitor center, several beautiful waterfalls including Narada Falls can Christine Falls, and Picture Lake, which is named for the picturesque reflection of Mt. Rainier that can be seen when looking at the lake. Paradise hosts several hiking trails with amazing views of Mt. Rainier, including the Skyline Trail set amongst lush meadows and creeks, and the shorter Nisqually Vista Trail.</p>
                <p>On the eastern side of Mt. Rainier is the Grove of the Patriarchs Trail, which hosts a suspension bridge over a vibrant light blue river, as well as a walk amongst a tall scenic forest. Also on the eastern side is the Sunrise area, which is surrounded by heavily wooded forests and mountain ridges.</p>
                <p>The northwestern side of Mt. Rainier offers amazing hiking trails, including the Spray Park Trail, which travels through the dense forests before opening up into pristine and gorgeous meadowlands framed in front of Mt. Rainier. This trail ventures deep into the wilderness and offers a high likelihood of encountering wildlife. The nearby Tolmie Peak Trail ventures through the lush forest before reaching Tolmie Peak, from which you can enjoy breathtaking views of Mt. Rainier and beautiful Eunice Lake below.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                Attractions Guide for Mount&nbsp;Rainier National&nbsp;Park, Washington
            </a>
        </h4>
        <p class="save-attractions-header">Save Mount Rainier National&nbsp;Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/bKFHmUKuofL2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/vaFyg13fJ532">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>




    
    <!-- Departure - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title">Return to Seattle</h2>
        <p class="itinerary-location-days">(Or Vancouver or Portland)</p>
    </section>



    