<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Pulteney Bridge and the Pulteney Weir in the river that runs through Bath, England Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge-and-Pulteney-Weir-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Bath, England and plan the perfect trip with our savable Bath Attraction List for Google Maps" />
    <meta name="attraction_guides" content="bath_england" />
    <meta name="europe_attraction_guides" content="bath_england" />
    <meta name="europe_destinations" content="bath_england" />
    <meta name="europe_destination_guides" content="bath_england" />
    <meta name="uk_attraction_guides" content="bath" />
    <meta name="uk_destinations" content="bath" />
    <meta name="england_attraction_guides" content="bath" />
    <meta name="england_destinations" content="bath" />
    <meta name="england_destination_guides" content="bath" />
    <meta name="google_maps_list" content="bath" />
    <meta property="og:title" content="Bath, England Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge-and-Pulteney-Weir.jpg">
    <meta name="twitter:title" content="Bath, England Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge-and-Pulteney-Weir.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
    <title>Attractions Guide for Bath, England</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Bath, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#top-attractions">Top Attractions</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
            <div><a href="#cotswolds-castle-combe">Village of Castle Combe</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Bath Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Bath is an ancient city known for its Roman bath complexes and stunning Georgian architecture that is also listed as a UNESCO world heritage site.</p>
    </section>


    <!-- Bath Top Atractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ancient Roman bath surroudned by columns, part of the ancient bath complex of Bath, England"
                        src="https://www.travelimager.com/images/england/England-Bath-The-Roman-Baths-Complex.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Roman Baths Complex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dgoomany/9514210171/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dgoomany/" rel="noopener noreferrer" target="_blank">
                                    Dineshraj Goomany</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the majestic Bath Abbey in Bath, England"
                        src="https://www.travelimager.com/images/england/England-Bath-Bath-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bath Abbey</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bvi4092/30849604973/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bvi4092/" rel="noopener noreferrer" target="_blank">
                                    bvi4092</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View from afar overlooking the rooftop pool of the Thermae Bath Spa in Bath, England"
                        src="https://www.travelimager.com/images/england/England-Bath-Thermae-Bath-Spa.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thermae Bath Spa</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/londonmatt/13061118894/in/photolist-7Ksks7-eP6w14-ePieRW-ePisnS-ePiLw5-ePiE7A-sq8uY-eP7P3t-ePiYCj-eP7qVi-ePhCff-7Q7sqT-7QaKgw-7Q7tzV-7QaPad-69mK11-4HSunW-4HNgpH-djR81f-6N6Rt8-2DZSQh-4HNfZ2-kUaDB5-4HMWLV-4HNew6-69mFHq/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/londonmatt/" rel="noopener noreferrer" target="_blank">
                                    Matt Brown</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful grassy field surrounded by historic structures of the Parade Gardens in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Parade-Gardens-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parade Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/2399718776/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pulteney Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Riverside view of the Pulteney Weir in front of a collonade walkwat in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Weir.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pulteney Weir</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bearclause/9065627965/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bearclause/" rel="noopener noreferrer" target="_blank">
                                    Andy Walker</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bath Top Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="top-attractions"></a>
        <h2 class="left-heading destination-section-heading">Top Attractions</h2>
        <p>The city's most popular attraction is <strong>The Roman Baths</strong>, a well-preserved ancient bath complex that also includes a Roman temple and museum. Next door is the imposing <strong>Bath Abbey</strong>, a gothic church with a very ornate exterior.</p>
        <p>One of the most popular modern baths is the <strong>Thermae Bath Spa</strong>, with several impressive pools and its famed balcony pool overlooking the city. Nearby you can also enjoy the riverfront <strong>Parade Gardens</strong> and view the marvelous shop-lined <strong>Pulteney Bridge</strong>. Adjacent to the bridge is the beautiful waterfall-like <strong>Pulteney Weir</strong> of the River Avon, which is best viewed from the eastern side of the river, set amongst a gorgeous Roman-style colonnade which lines the western side of the river.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bath 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5778642039"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Bath More Attractions and Castle Combe Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Curved building along the Royal Crescent in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-The-Royal-Crescent.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Royal Crescent</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/matthewhartley369/36617718205/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/matthewhartley369/" rel="noopener noreferrer" target="_blank">
                                    Matthew Hartley</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic furnished interior of an apartment within the Royal Crescent building in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-No-1-Royal-Crescent-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">No.1 Royal Crescent Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/24736216@N07/6436317505/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/24736216@N07/" rel="noopener noreferrer" target="_blank">
                                    Roger W</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Curved building along the full circle round-about street known as The Circus in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-The-Circus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Circus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arenamontanus/2814523268/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arenamontanus/" rel="noopener noreferrer" target="_blank">
                                    Anders Sandberg</a><br />
                           <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of the Bath Assembly Rooms where historical figures such as Charles Dickens and Jane Austen once gathered in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Bath-Assembly-Rooms.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bath Assembly Rooms</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dschander/3482862819/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dschander/" rel="noopener noreferrer" target="_blank">
                                    Deborah Schander</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful rustic homes along a country road in the Cotswold village of Castle Combe in England near Bath"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Castle-Combe-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle Combe Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/364932291/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <p>On the northern side of the city, you'll find several interesting curved structures. <strong>The Royal Crescent</strong> is a crescent-shaped block of historic buildings, one of which has been turned into a museum, the <strong>No. 1 Royal Crescent</strong> showcasing the posh furnishings one of these homes would host in the 18th-19th centuries. Nearby is <strong>The Circus</strong>, a round-about street lined with curved houses around the circle.</p>
        <p>Around this area, you'll also find the historical 18th century <strong>Bath Assembly Rooms</strong> where people like Charles Dickens and Jane Austen once gathered. The building also contains the Fashion Museum Bath featuring fashionable wear from the 16th century to the present. Just to the south you might like to visit the Jane Austen Centre if you're interested in learning more about this author's life.</p>
    </section>


    <!-- Castle Combe Village Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cotswolds-castle-combe"></a>
        <h2 class="left-heading destination-section-heading">Village of Castle Combe</h2>
        <p>Another attraction to consider is the picturesque Cotswolds village of <strong>Castle Combe</strong>, with its charming rustic English homes that line its main street and a small river that runs through town. Castle Combe is located north of Bath and can be reached in approximately 30 minutes by car or 1 hours via public transportation, with a stop in Chippenham along the way.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bath Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1914584491"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Bath Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/orMTsd7DZNR2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning cloudy day view of the ancient Stonehenge, a wonder of the world, located in Amesbury, England"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        Stonehenge &amp; Salisbury
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Udit Kapoor</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        Cotswolds
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer" target="_blank">
                            Steve Slater</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        Oxford
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                            Alison Day</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        Stratford-upon-Avon &amp; Warwick
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer" target="_blank">
                            Tim Hodson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    