<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions in Cambridge, England and plan the perfect trip with our savable Cambridge Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="cambridge_england" />
    <meta name="europe_attraction_guides" content="cambridge_england" />
    <meta name="europe_destinations" content="cambridge_england" />
    <meta name="europe_destination_guides" content="cambridge_england" />
    <meta name="uk_attraction_guides" content="cambridge" />
    <meta name="uk_destinations" content="cambridge" />
    <meta name="england_attraction_guides" content="cambridge" />
    <meta name="england_destinations" content="cambridge" />
    <meta name="england_destination_guides" content="cambridge" />
    <meta name="google_maps_list" content="cambridge" />
    <meta property="og:title" content="Cambridge, England Attractions Guide">
    <meta name="twitter:title" content="Cambridge, England Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/cambridge-attractions-guide">
    <title>Attractions Guide for Cambridge, England</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Cambridge, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#cambridge-university">Cambridge University</a></div>
            <div><a href="#great-st-marys-church">St. Mary's Church</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#greater-cambridge-attractions">Greater Cambridge</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Cambridge University Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Cambridge University buildings of Trinity College surrounding the Great Court" 
                        src="https://www.travelimager.com/images/england/England-Cambridge-Trinity-College-Great-Court.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trinity College Great Court</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/godhelm/21485662382/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/godhelm/" rel="noopener noreferrer" target="_blank">
                                    Richard August</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning castle-like King's College Chapel at sunset, part of Cambridge University"
                        src="https://www.travelimager.com/images/england/England-Cambridge-Kings-College-Chapel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">King's College Chapel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mtl_shag/2513910013/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mtl_shag/" rel="noopener noreferrer" target="_blank">
                                    Oliver Mallich</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Castle-like exterior of St. John's College at Cambridge University"
                        src="https://www.travelimager.com/images/england/England-Cambridge-St-Johns-College.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. John's College</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/haversack/160279337/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/haversack/" rel="noopener noreferrer" target="_blank">
                                    Wendy Mann</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Paddleboat in front of the iconic Bridge of Sighs, a covered bridge connecting buildings above a river at Cambridge University" 
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Bridge-of-Sighs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bridge of Sighs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cambridge_-_Bridge_of_Sighs.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe Benoist</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Simple wooden bridge over the river using specific mathematical angles in its construction"
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Mathematical-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mathematical Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mathematical_Bridge_Cambridge.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Steff" rel="noopener noreferrer" target="_blank">
                                    Steff</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Cambridge University Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cambridge-university"></a>
        <h2 class="left-heading destination-section-heading">Cambridge University</h2>
        <p>Cambridge is known for its stunning 800 year-old university, spread out over the city's center. Some of the most iconic parts of Cambridge University include the medieval <strong>Trinity College Great Court</strong> and the gothic-inspired <strong>King's College Chapel</strong>.</p>
        <p>Another impressive school within Cambridge is <strong>St. John's College</strong>, which features a stunning castle-like exterior.  Just behind St. John's College is the beautiful <strong>Bridge of Sighs</strong>, an ornate covered bridge, crossing the peaceful River Cam which flows behind the college. Further south along the river is the simpler wooden <strong>Mathematical Bridge</strong> with its interesting angular design.</p>
        <p>There are many other interesting structures around this vast university; one great way to see many of them is by taking a free guided walking tour of the university.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
       <!-- Cambridge 1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="8097559904"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Cambridge Great St. Mary's Church, Museums, and Greater Cambridge Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the imposing Church of the Great St. Mary adjacent to Cambridge University"
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Church-of-St-Mary-the-Great.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great St. Mary's Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cambridge_-_Church_of_St_Mary_the_Great.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe BENOIST</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Decadent two-story room inside the Fitzwilliam Museum with statues in Cambridge, England"
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Fitzwilliam-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Fitzwilliam Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fitzwilliam_Museum_interior.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zhurakovskyi" rel="noopener noreferrer" target="_blank">
                                    Zhurakovskyi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elaborate 900 year-old Ely Cathedral near Cambridge, England"
                        data-src="https://www.travelimager.com/images/england/England-Greater-Cambridge-Ely-Ely-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ely Cathedral (Ely)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hunky_punk/7706770078/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hunky_punk/" rel="noopener noreferrer" target="_blank">
                                    Spencer Means</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive hangar displaying a large collection of military planes and aircraft in Duxford outside Cambridge"
                        data-src="https://www.travelimager.com/images/england/England-Greater-Cambridge-Duxford-Imperial-War-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Imperial War Museum (Duxford)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/velikabritanija/16844877551/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/velikabritanija/" rel="noopener noreferrer" target="_blank">
                                    Dario Susanj</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful brick exterior of the 17th century Wimpole Hall Estate in Arrington near Cambridge"
                        data-src="https://www.travelimager.com/images/england/England-Greater-Cambridge-Arrington-Wimpole-Hall-Estate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wimpole Hall Estate (Arrington)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/24874528@N04/28623823881/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/24874528@N04/" rel="noopener noreferrer" target="_blank">
                                    Airwolfhound</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Great St. Mary's Church Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="great-st-marys-church"></a>
        <h2 class="left-heading destination-section-heading">Great St. Mary's Church</h2>
        <p>While in Cambridge be sure to see the <strong>Great St. Mary's Church</strong>, which you can admire from the outside, or climb to the top of the church's tower for amazing views. The church is located directly across the King's College Chapel, thus from the church's tower you can enjoy a different perspective overlooking Cambridge University. You can also take a relaxing walk in the Cambridge University Botanical Gardens if you'd like.</p>
    </section>


    <!-- Cambridge Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>The city also contains some great museums, including the <strong>Fitzwilliam Museum</strong> housing many antiquities and artworks in a lavish Neoclassical building. The smaller Museum of Archaeology and Anthropology is worth a visit as well.</p>
    </section>


    <!-- Greater Cambridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-cambridge-attractions"></a>
        <h2 class="left-heading destination-section-heading">Greater Cambridge</h2>
        <p>In the area around Cambridge, you'll also find several great attractions you might consider seeing.</p>
        <p>North of Cambridge is the <strong>Ely Cathedral</strong>, a massive 900 year-old church with elaborate gothic architecture. This church has a very picturesque and unique look, and it is definitely worth visiting.</p>
        <p>To the south is a massive branch of England's <strong>Imperial War Museum</strong>, featuring many different planes, jets, and memorabilia. To the southwest of Cambridge is the 17th century <strong>Wimpole Hall</strong>, an impressive estate with classical furnishings inside its walls and farm animals outside.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cambridge 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8796521766"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Cambridge Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/3REJXM6gMpH2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/JDAaJggi3Ls">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        Oxford
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                            Alison Day</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <!-- Extra Div Space -->

            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    