<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Rustic homes of Arlington Row in the village of Bilbury in the Cotswolds, England Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row-Rustic-Houses-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and villages in Cotswolds, England and plan the perfect trip with our savable Cotswolds Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="cotswolds_england" />
    <meta name="europe_attraction_guides" content="cotswolds_england" />
    <meta name="europe_destinations" content="cotswolds_england" />
    <meta name="europe_destination_guides" content="cotswolds_england" />
    <meta name="uk_attraction_guides" content="cotswolds" />
    <meta name="uk_destinations" content="cotswolds" />
    <meta name="england_attraction_guides" content="cotswolds" />
    <meta name="england_destinations" content="cotswolds" />
    <meta name="england_destination_guides" content="cotswolds" />
    <meta name="google_maps_list" content="cotswolds" />
    <meta property="og:title" content="Cotswolds, England Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row-Rustic-Houses.jpg">
    <meta name="twitter:title" content="Cotswolds, England Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row-Rustic-Houses.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
    <title>Attractions Guide for Cotswolds, England</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Cotswolds, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#bilbury">Bilbury</a></div>
            <div><a href="#burford">Burford</a></div>
            <div><a href="#bourton-on-the-water">Bourton</a></div>
            <div><a href="#lower-slaughter">Lower Slaughter</a></div>
            <div><a href="#stow-on-the-wold">Stow-on-the-Wold</a></div>
            <div><a href="#chipping-campden">Chipping Campden</a></div>
            <div><a href="#manor-houses">Manor Houses</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    <!-- Introduction to Cotswolds Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Cotswolds is a rural area of England with many picturesque villages and towns. This area of England is filled with lovely historic homes, lush greenery, and beautiful countryside.</p>
        <p>In the Southern Cotswolds you'll find the towns of Bilbury and Burford. In the central Cotswolds are the towns of Bourton-on-the-Water, Lower Slaughter, and Stow-on-the-Wold all within a small area. The Northern Cotswolds hosts Chipping Campden, as well as some lovely manor homes and gardens. Within the Western Costwolds is the Sudeley Castle and the remains of the Chedworth ancient Roman villa.</p>
    </section>

    <!-- Bilbury, Burford, and Stow-on-the-Wold, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village" 
                        src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arlington Row (Bilbury)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer" target="_blank">
                                    Steve Slater</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the townhomes lining Hill Street from the road, in the Cotswolds town of Burford"
                        src="https://www.travelimager.com/images/england/England-Cotswolds-Burford-The-Hill-Street-Houses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Hill Street Houses (Burford)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/300530" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/3972" rel="noopener noreferrer" target="_blank">
                                    Colin Smith</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the lovely townhomes along Hill Street seen from the sidewalk in the Cotswolds town of Burford"
                        src="https://www.travelimager.com/images/england/England-Cotswolds-Burford-The-Hill-Street-Sidewalk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Hill Street Sidewalk (Burford)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/david_e_smith/6493240281/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/david_e_smith/" rel="noopener noreferrer" target="_blank">
                                    Dave_S.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval Market Cross statue surrounded by historic buildings in the Cotswolds city of Stow-on-the-Wold" 
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Stow-on-the-Wold-Market-Cross-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Market Cross (Stow&#8209;on&#8209;the&#8209;Wold)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/1017272" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/15303" rel="noopener noreferrer" target="_blank">
                                    Robin Drayton</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Famous wooden door to St. Edwards Church with two huge trees hugging the entrance in the Cotswolds city of Stow-on-the-Wold"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Stow-on-the-Wold-St-Edwards-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Edward's Church (Stow&#8209;on&#8209;the&#8209;Wold)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:St_Edwards_Church_-_Stow_on_th_Wold.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bs0u10e01" rel="noopener noreferrer" target="_blank">
                                    bs0u10e01</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bilbury, England Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bilbury"></a>
        <h2 class="left-heading destination-section-heading">Bilbury, England</h2>
        <p>One of the most iconic villages of the Costwolds district is Bibury, where you can walk along the beautiful river and see the famous <strong>Arlington Row</strong> of houses at National Trust Bilbury.</p>
    </section>


    <!-- Burford, England Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="burford"></a>
        <h2 class="left-heading destination-section-heading">Burford, England</h2>
        <p>In the eastern Cotswolds is the town of <strong>Burford</strong>. You can see the town's iconic houses lined along <strong>The Hill Street</strong>, which becomes <strong>High Street</strong> as you head north up the road. This street is the main road that runs through town and is lined with lovely buildings from start to end. The town's main parking lot os the Burford Car Park, which is adjacent to the scenic River Windrush which flows through town.</p>
    </section>


    <!-- Stow-on-the-Wold, England Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="stow-on-the-wold"></a>
        <h2 class="left-heading destination-section-heading">Stow-on-the-Wold, England</h2>
        <p>In the central Cotswolds north of Burford and Bourton-on-the-Water is the town of Stow-on-the-Wold, where you should explore the traditional English buildings around <strong>Market Cross</strong> in the town's center. Also noteworthy is the northern entrance to the <strong>St. Edward's Church</strong>, which sits between two trees and looks remarkable. The church is located just behind Market Square to the west.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cotswolds 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6970087168"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Bourton-on-the-Water and Lower Slaughter, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ducks swimming in the river along High Street in the Cotswolds town of Bourton-on-the-Water"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bourton-on-the-Water-High-Street-River-and-Ducks.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">High Street River (Bourton&#8209;on&#8209;the&#8209;Water)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161019154755/http://www.panoramio.com/photo/61885038" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161019154759/http://www.panoramio.com/user/2900405?with_photo_id=61885038" rel="noopener noreferrer" target="_blank">
                                    Tanya Dedyukhina</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little stone bridge spanning the river near High Street with townhomes in background in the Cotswolds town of Bourton-on-the-Water"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bourton-on-the-Water-High-Street-Bridge-and-Homes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">High Street Bridge (Bourton&#8209;on&#8209;the&#8209;Water)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bourton_on_the_water.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Bourton_on_the_water.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Pieter wts wikivoyage</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stone beidge spanning the river in front of the popular Motoring Museum in the Cotswolds town of Bourton-on-the-Water"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bourton-on-the-Water-Motoring-Museum-and-Toy-Collection-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Motoring Museum (Bourton&#8209;on&#8209;the&#8209;Water)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Big_Bridge_Bourton-on-the-Water.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Big_Bridge_Bourton-on-the-Water.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Drewphemism</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Scale models of old rustic Cotswolds country homes, in the Cotswolds town of Bourton-on-the-Water"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bourton-on-the-Water-The-Model-Village-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Model Village (Bourton&#8209;on&#8209;the&#8209;Water)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/karen_roe/13359688195" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/karen_roe/" rel="noopener noreferrer" target="_blank">
                                    Karen Roe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Quaint bridge and lovely river with a swimming duck and old homes in the Cotswolds village of Lower Slaughter"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Lower-Slaughter-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Slaughter Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lower_Slaughter_Bridge.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Saffron_Blaze" rel="noopener noreferrer" target="_blank">
                                    Saffron Blaze</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rustic building and water mill along the river of the Old Mill Museum in the Cotswolds village of Lower Slaughter"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Lower-Slaughter-Old-Mill-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Mill Museum (Lower&nbsp;Slaughter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/5436713" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/118660" rel="noopener noreferrer" target="_blank">
                                    Michael Garlick</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bourton-on-the-Water, England Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bourton-on-the-water"></a>
        <h2 class="left-heading destination-section-heading">Bourton-on-the-Water, England</h2>
        <p><strong>Bourton-on-the-Water</strong> is known for the stunning river that runs through the town along the central part of its main road, <strong>High Street</strong> (which becomes Rissington Road). Here you can park and take a scenic stroll along the river surrounded by picturesque old English homes.</p>
        <p>Along the river is the <strong>Cotswolds Motoring Museum &amp; Toy Collection</strong>, which hosts an impressive collection of old toys and vintage vehicles.</p>
        <p>While in town be sure to visit the <strong>Model Village Museum</strong>, which is a miniature model town of the village that's actually extremely impressive and highly detailed.</p>
    </section>


    <!-- Lower Slaughter, England Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="lower-slaughter"></a>
        <h2 class="left-heading destination-section-heading">Lower Slaughter, England</h2>
        <p>Just to the north of Bourton-on-the-Water is the tiny neighboring village of <strong>Lower Slaughter</strong>, which also has a river running through it that you can take a lovely short walk along. Be sure to see the rustic old building and water mill of the <strong>Lower Slaughter Old Mill Museum</strong> along the river at the western side of town.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cotswolds 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6784478238"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Chipping Campden, Manor Houses, and More Cotswolds Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Mix of rustic and half-timbered buildings along the main road in the Cotswolds town of Chipping Campden"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Chipping-Campden-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chipping Campden Town</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tahini/16335236020/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tahini/" rel="noopener noreferrer" target="_blank">
                                    Mr Thinktank</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Preserved medieval Market Hall structure in the Cotswolds town of Chipping Campden"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Chipping-Campden-Medieval-Market-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medieval Market Hall (Chipping&nbsp;Campden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/557949" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/1621" rel="noopener noreferrer" target="_blank">
                                    Stephen McKay</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely rustic Hidcote Manor house with overgrown greenery in the Cotswolds countryside"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Hidcote-Bartrim-Hidcote-Manor-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hidcote Manor &amp; Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/3547560" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/davedixonphotos/" rel="noopener noreferrer" target="_blank">
                                    David Dixon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Brick walls and garden of the Snowshill Manor house near Broadway in the Cotswolds countryside"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Broadway-Snowshill-Manor-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Snowshill Manor &amp; Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Spring_at_Snowshill_Manor._-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Spring_at_Snowshill_Manor._-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    grumpylumixuser</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Preserved ancient Roman foundations and rustic half-timbered structures at the Chedworth Roman Villa site" 
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Cheltenham-Chedworth-Roman-Villa-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chedworth Roman Villa (Exterior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Chedworth_Roman_Villa_2012_-_View_from_northeast.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pasicles" rel="noopener noreferrer" target="_blank">
                                    Pasicles</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Intricate mosaic floor tile works preserved at the Chedworth Roman Villa" 
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Cheltenham-Chedworth-Roman-Villa-Interior-Floor-Mosaics.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chedworth Roman Villa (Floor&nbsp;Mosaics)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Chedworth_Roman_Villa_2012_-_West_wing_corridor_mosaic_south_end.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pasicles" rel="noopener noreferrer" target="_blank">
                                    Pasicles</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Small Sudeley Castle hidden behind its green gardens and hedges near Winchcombe, England" 
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Winchcombe-Sudeley-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sudeley Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gordon_robertson/5627973981/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gordon_robertson/" rel="noopener noreferrer" target="_blank">
                                    Gordon Robertson</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Chipping Campden, England Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="chipping-campden"></a>
        <h2 class="left-heading destination-section-heading">Chipping Campden, England</h2>
        <p>In the northern Cotswolds is the medieval market town of <strong>Chipping Campden</strong>, with the primary sights along the main road through town including the historic <strong>Market Hall</strong>, which sits surrounded by charming medieval structures.</p>
    </section>


    <!-- Cotswolds Manor Houses Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="manor-houses"></a>
        <h2 class="left-heading destination-section-heading">Cotswolds Manor Houses</h2>
        <p>Just north of Chipping Campden is the gorgeous <strong>Hidcote Manor &amp; Gardens</strong>, a lovely 20th century countryside home with beautiful gardens. This home's style is inspired by the English Arts and Crafts movement.</p>
        <p>Another beautiful manor house to visit is the <strong>Snowshill Manor and Garden</strong>, which is located between Chipping Campden and the Sudeley Castle. This 16th-century manor house looks like an idealized Cotswolds mansion with historic furnishings and brilliant lush gardens, located in the charming little village.</p>
    </section>


    <!-- More Cotswolds Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Chedworth Roman Villa</h3>
        <p>Northwest of Bibury are the remains of the ancient <strong>Chedworth Roman Villa</strong>, one of the largest Roman villa ruins discovered in the UK, which features incredible and well-preserved ancient mosaics.</p>
        <h3>Sudeley Castle</h3>
        <p>In the western Cotswolds (north of the Roman Villa), you might consider visiting the 15th century <strong>Sudeley Castle</strong>. This castle features beautiful rustic exteriors and stunning lush gardens.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cotswolds Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4302727073"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Cotswolds Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/UDxptt3ZwhJ2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/LrJ6J995xpG2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        Stratford-upon-Avon &amp; Warwick
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer" target="_blank">
                            Tim Hodson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        Oxford
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                            Alison Day</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        Bath
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                            Diego Delso</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning cloudy day view of the ancient Stonehenge, a wonder of the world, located in Amesbury, England"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        Stonehenge &amp; Salisbury
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Udit Kapoor</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    