<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for England's top destinations: London, Stonehenge, Bath, Oxford, Cambridge, Costwolds, Dover, Stratford-upon-Avon, Kent, & more" />
    <meta name="attraction_guides" content="england" />
    <meta name="europe_destinations" content="england" />
    <meta name="destination_guides" content="england" />
    <meta property="og:title" content="England Attraction Guides">
    <meta name="twitter:title" content="England Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/england-attraction-guides">
    <title>England Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Total Trip Length -->
    <h1>England Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        <img class="destination-image"
                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                        src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        Bath
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                            Diego Delso</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/cambridge-attractions-guide">
                        <img class="destination-image" 
                        alt="Cambridge University buildings of Trinity College surrounding the Great Court"
                        src="https://www.travelimager.com/images/england/England-Cambridge-Trinity-College-Great-Court.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/cambridge-attractions-guide">
                        Cambridge
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/godhelm/21485662382/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/godhelm/" rel="noopener noreferrer" target="_blank">
                            Richard August</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        <img class="destination-image" 
                        alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village"
                        src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        Cotswolds
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer" target="_blank">
                            Steve Slater</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/kent-and-dover-attractions-guide">
                        <img class="destination-image" 
                        alt="Side-view of the iconic White Cliffs of Dover seen from atop the green grassy cliffs in Dover, Kent, England"
                        src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-White-Cliffs-of-Dover.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/kent-and-dover-attractions-guide">
                        Kent &amp; Dover
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/white-cliffs-cliffs-dover-sea-123476/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/loggawiggler-15/" rel="noopener noreferrer" target="_blank">
                            LoggaWiggler</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 2 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1-300x225.jpg"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera-300x225.jpg"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        Oxford
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                            Alison Day</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning cloudy day view of the ancient Stonehenge, a wonder of the world, located in Amesbury, England"
                        src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge-300x225.jpg"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        Stonehenge &amp; Salisbury
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Udit Kapoor</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                        src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage-300x225.jpg"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        Stratford-upon-Avon &amp; Warwick
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer" target="_blank">
                            Tim Hodson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>