<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">White Cliffs of Dover, Kent, England Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-White-Cliffs-of-Dover-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Dover and Kent, England and plan the perfect trip with our savable Kent Attraction List for Google Maps" />
    <meta name="attraction_guides" content="kent_england" />
    <meta name="attraction_guides" content="dover_england" />
    <meta name="europe_attraction_guides" content="kent_england" />
    <meta name="europe_attraction_guides" content="dover_england" />
    <meta name="europe_destinations" content="kent_england" />
    <meta name="europe_destinations" content="dover_england" />
    <meta name="europe_destination_guides" content="kent_england" />
    <meta name="europe_destination_guides" content="dover_england" />
    <meta name="uk_attraction_guides" content="kent" />
    <meta name="uk_attraction_guides" content="dover" />
    <meta name="uk_destinations" content="kent" />
    <meta name="uk_destinations" content="dover" />
    <meta name="england_attraction_guides" content="kent" />
    <meta name="england_attraction_guides" content="dover" />
    <meta name="england_destinations" content="kent" />
    <meta name="england_destinations" content="dover" />
    <meta name="england_destination_guides" content="kent" />
    <meta name="england_destination_guides" content="dover" />
    <meta name="google_maps_list" content="kent" />
    <meta name="google_maps_list" content="dover" />
    <meta property="og:title" content="Kent & Dover, England Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-White-Cliffs-of-Dover.jpg">
    <meta name="twitter:title" content="Kent & Dover, England Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-White-Cliffs-of-Dover.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/kent-and-dover-attractions-guide">
    <title>Attractions Guide for Kent & Dover, England</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Kent &amp; Dover, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#kent-rochester">Rochester</a></div>
            <div><a href="#kent-leeds">Leeds</a></div>
            <div><a href="#kent-canterbury">Canterbury</a></div>
            <div><a href="#kent-dover">Dover</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Kent, England Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order by distance from London, located within the county of Kent the most southeastern county of England. If you are exploring this area via car, you may be able to see most of these attractions within the span of one day. If exploring via train, you'll need multiple days or want to choose which attractions sound most appealing to you to visit.</p>
    </section>


    <!-- Rochester and Leeds Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Imposing exterior of the medieval Rochester Castke in Rochester, England"
                        src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Medway-Rochester-Rochester-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rochester Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/locosteve/6906948172" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/locosteve/" rel="noopener noreferrer" target="_blank">
                                    Loco Steve</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Aerial view overlooking the historic Rochester Cathedral of Rochester, England"
                        src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Medway-Rochester-Rochester-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rochester Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Rochester_Cathedral_from_Castle.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sdwelch1031" rel="noopener noreferrer" target="_blank">
                                    Sdwelch1031</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Aerial view of the medieval Leeds Castle surrounded by a large pond in Maidstone, Kent, England"
                        src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Maidstone-Leeds-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Leeds Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sugarmonster/5792680987" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sugarmonster/" rel="noopener noreferrer" target="_blank">
                                    Marc Evans</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Rochester Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kent-rochester"></a>
        <h2 class="left-heading destination-section-heading">Rochester, England</h2>
        <p>Closest to London is Rochester, which hosts the 900 year-old <strong>Rochester Castle</strong>, a medieval riverside fortification with a large well-preserved stone tower in the center. Next door you can visit the imposing <strong>Rochester Cathedral</strong>, an impressive Norman church that is as old as the Rochester Castle.</p>
    </section>


    <!-- Leeds Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kent-leeds"></a>
        <h2 class="left-heading destination-section-heading">Leeds, England</h2>
        <p>A bit further southeast of Rochester is the majestic <strong>Leeds Castle</strong>, one of the most popular castles to visit in England. This gorgeous structure sits atop an island on a small lake and contains lavish interiors.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Kent Dover 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5397151043"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Canterbury and Dover Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view of the vast Canterbury Cathedral of Canterbury, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Canterbury-Canterbury-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Canterbury Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/john_fielding/8636098050/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/john_fielding/" rel="noopener noreferrer" target="_blank">
                                    John Fielding</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large white stones along the beach of Botany Bay in Broadstairs, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Broadstairs-Botany-Bay.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Botany Bay</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cliffs_at_Botany_Bay,_Kent_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Nilfanion" rel="noopener noreferrer" target="_blank">
                                    Nilfanion</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view over the imposing fortress of Dover Castle along the coast in Dover, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-Dover-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dover Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dover_Castle_aerial_view.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Lieven_Smits" rel="noopener noreferrer" target="_blank">
                                    Lieven Smits</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side-view of the iconic White Cliffs of Dover seen from atop the green grassy cliffs in Dover, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-White-Cliffs-of-Dover.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Cliffs of Dover</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/white-cliffs-cliffs-dover-sea-123476/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/loggawiggler-15/" rel="noopener noreferrer" target="_blank">
                                    LoggaWiggler</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Canterbury Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kent-canterbury"></a>
        <h2 class="left-heading destination-section-heading">Canterbury, England</h2>
        <p>Further east you might visit the magnificent 950 year-old <strong>Canterbury Cathedral</strong>, an ornate medieval cathedral that has been designated as a UNESCO world heritage site.</p>
        <p>If exploring by car, it's recommended to head to the coast to witness the striking white chalk cliffs of <strong>Botany Bay</strong> which you can explore along the beach. You can reach Botany Bay via public transportation, however this is quite time consuming.</p>
    </section>


    <!-- Dover Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kent-dover"></a>
        <h2 class="left-heading destination-section-heading">Dover, England</h2>
        <p>Furthest from London is the city of Dover, which is home to the massive <strong>Dover Castle</strong>, an important medieval stone fortress built in the 12th century. This well-preserved structure is the largest castle in England and has a long and important history in defending the country. The Dover Castle is only open certain days of the week and closes quite early, however you can still admire the castle's incredible exterior if you're unable to tour the grounds.</p>
        <p>Nearby the castle are the famous <strong>White Cliffs of Dover</strong>, a breathtaking series of steep cliffs made of white chalk, which you can walk along while enjoying stunning views over the sea. It's also possible to take a boat tour in order to see these towering cliffs from below.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Kent Dover Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9601502826"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Kent Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hKGdCJkbKKF2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/cambridge-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Cambridge University buildings of Trinity College surrounding the Great Court"
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Trinity-College-Great-Court.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/cambridge-attractions-guide">
                        Cambridge
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/godhelm/21485662382/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/godhelm/" rel="noopener noreferrer" target="_blank">
                            Richard August</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    