<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions in Oxford, England and plan the perfect trip with our savable Oxford Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="oxford_england" />
    <meta name="europe_attraction_guides" content="oxford_england" />
    <meta name="europe_destinations" content="oxford_england" />
    <meta name="europe_destination_guides" content="oxford_england" />
    <meta name="uk_attraction_guides" content="oxford" />
    <meta name="uk_destinations" content="oxford" />
    <meta name="england_attraction_guides" content="oxford" />
    <meta name="england_destinations" content="oxford" />
    <meta name="england_destination_guides" content="oxford" />
    <meta name="google_maps_list" content="oxford" />
    <meta property="og:title" content="Oxford, England Attractions Guide">
    <meta name="twitter:title" content="Oxford, England Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
    <title>Attractions Guide for Oxford, England</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Oxford, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#oxford-university">Oxford University</a></div>
            <div><a href="#oxford-city">Oxford City</a></div>
            <div><a href="#buckinghamshire-waddesdon">Waddesdon Manor</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>




    <!-- Oxford University Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Multi-level historic bookshelves spanning long corridors within the Bodelian Library of Oxford University"
                        src="https://www.travelimager.com/images/england/England-Oxford-Bodleian-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bodleian Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Duke_Humfrey%27s_Library_Interior_5,_Bodleian_Library,_Oxford,_UK_-_Diliff.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Diliff" rel="noopener noreferrer" target="_blank">
                                    David Iliff</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Radcliffe Camera</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                                    Alison Day</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Giant tower of the University Church of St. Mary the Virgin at Oxford University"
                        src="https://www.travelimager.com/images/england/England-Oxford-University-Church-of-St-Mary-the-Virgin.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">University Church St. Mary the&nbsp;Virgin</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hrathmann/37545614281/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hrathmann/" rel="noopener noreferrer" target="_blank">
                                    Hanno Rathmann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bridge of Sighs, a famous covered bridge which connects two buildings above the street at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Bridge-of-Sighs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bridge of Sighs</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/2916052" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/40049" rel="noopener noreferrer" target="_blank">
                                    Eugene Birchall</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Tom Tower building and part of the campus of Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Tom-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tom Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nothingpersonal/36286499483/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nothingpersonal/" rel="noopener noreferrer" target="_blank">
                                    Dmitry Dzhus</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side view of Christ Church Cathedral seen behind lovely gardens at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Christ-Church-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Christ Church Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/merajchhaya/29851054452/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/merajchhaya/" rel="noopener noreferrer" target="_blank">
                                    Meraj Chhaya</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Oxford University Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="oxford-university"></a>
        <h2 class="left-heading destination-section-heading">Oxford University</h2>
        <p>Oxford is known for its elegant University of Oxford, the second oldest university in the world, as well as the city's many impressive buildings, which are best admired by walking around and exploring the city center. One of the best ways to see the university and city is to sign up for a free walking tour.</p>
        <p>Among the university's most famous features is the historic <strong>Bodleian Library</strong>, which is the second largest library in the UK and hosts incredibly gorgeous finely detailed interiors.</p>
        <p>Nearby the Bodleian Library is the iconic <strong>Radcliffe Camera</strong> building, as well as the towering 13th century gothic <strong>University Church of St. Mary the Virgin</strong>, which is quite beautiful. Be sure to also see the ornate <strong>Bridge of Sighs</strong>, which spans between two buildings near the Bodleian Library. These sights are all located on the university's northern side.</p>
        <p>On the southern side of the university you'll find the mesmerizing <strong>Tom Tower</strong>, as well as the remarkable <strong>Christ Church Cathedral</strong>. Both of these structures showcase fantastic medieval architecture.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oxford 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6893123592"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Oxford City and Waddesdon Manor Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval Carfax Tower in the urban center of Oxford, England"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Carfax-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carfax Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oxford_Carfax_NW.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Motacilla" rel="noopener noreferrer" target="_blank">
                                    Motacilla</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate iron columns of the interor of the Oxford's Museum of Natural History"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Oxford-University-Museum-of-Natural-History.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oxford Museum of Natural&nbsp;History</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/karloxford/12389581033/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/karloxford/" rel="noopener noreferrer" target="_blank">
                                    Karl Wallendszus</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Neoclassical exterior of the Ashmolean Museum in Oxford, England"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Ashmolean-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ashmolean Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/aehdeschaine/13203907873/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/aehdeschaine/" rel="noopener noreferrer" target="_blank">
                                    ahedeschaine</a><br />
                           <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval exterior of the Oxford Castle in Oxford, England"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Oxford-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oxford Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/5810657" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://brian-deegan.blogspot.com/" rel="noopener noreferrer" target="_blank">
                                    Brian Deegan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous castle-like Waddesdon Manor with an extravagant monumental fountain in front of it, in Waddesdon, Buckinghamshire, England"
                        data-src="https://www.travelimager.com/images/england/England-Buckinghamshire-Waddesdon-Waddesdon-Manor.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Waddesdon Manor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pikerslanefarm/2952143805/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pikerslanefarm/" rel="noopener noreferrer" target="_blank">
                                    Amanda Slater</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Oxford City Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="oxford-city"></a>
        <h2 class="left-heading destination-section-heading">Oxford City</h2>
        <p>One of the prominent features in the center of town is the <strong>Carfax Tower</strong>, a 12th century bell tower that you can climb to the top of for outstanding views over the city.</p>
        <p>Oxford is home to some great museums, including the <strong>Oxford University Museum of Natural History</strong>, housing many exhibits including numerous fossils in a beautiful Gothic building. Be sure to also visit the <strong>Ashmolean Museum</strong>, featuring many artifacts and sculptures in a grand neoclassical building.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>You might also like to see the lovely 18th century Covered Market located near the university. One more attraction to consider seeing in town is the partially ruined <strong>Oxford Castle</strong>, a 900 year-old Norman medieval fortress which you can tour or admire from the outside.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Waddesdon Manor Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="buckinghamshire-waddesdon"></a>
        <h2 class="left-heading destination-section-heading">Waddesdon Manor</h2>
        <p>After enjoying Oxford if you still have time you may consider visiting the gorgeous <strong>Waddesdon Manor</strong>, a stunning Renaissance palace which resembles the chateau castles of the Loire Valley in France. This incredible structure features extravagant interiors along with fine gardens.</p>
        <p>Waddesdon Manor is about 40 minutes from Oxford by car, or 2-2.5 hours via public transportation.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oxford Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5580041922"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Oxford Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/2FVp2rPdtDn">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        Cotswolds
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer" target="_blank">
                            Steve Slater</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                        Stratford-upon-Avon &amp; Warwick
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer" target="_blank">
                            Tim Hodson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        Bath
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                            Diego Delso</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning cloudy day view of the ancient Stonehenge, a wonder of the world, located in Amesbury, England"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                        Stonehenge &amp; Salisbury
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Udit Kapoor</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    