<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Stonehenge Neolithic Site, Stonehenge and Salisbury Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge-Sun-Shining-through-Clouds-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->

    <meta name="description"
        content="Discover top attractions in Stonehenge & Salisbury, England and plan the perfect trip with our savable Stonehenge Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="stonehenge_england" />
    <meta name="attraction_guides" content="salisbury_england" />
    <meta name="attraction_guides" content="winchester_england" />
    <meta name="europe_attraction_guides" content="stonhenge_england" />
    <meta name="europe_destinations" content="stonehenge_england" />
    <meta name="europe_destination_guides" content="stonehenge_england" />
    <meta name="uk_attraction_guides" content="stonehenge" />
    <meta name="uk_destinations" content="stonehenge" />
    <meta name="england_attraction_guides" content="stonehenge" />
    <meta name="england_attraction_guides" content="salisbury" />
    <meta name="england_attraction_guides" content="winchester" />
    <meta name="england_destinations" content="stonehenge" />
    <meta name="england_destinations" content="salisbury" />
    <meta name="england_destinations" content="winchester" />
    <meta name="england_destination_guides" content="stonehenge" />
    <meta name="england_destination_guides" content="winchester" />
    <meta name="england_destination_guides" content="salisbury" />
    <meta name="google_maps_list" content="stonehenge" />
    <meta name="google_maps_list" content="salisbury" />
    <meta name="google_maps_list" content="winchester" />
    <meta property="og:title" content="Stonehenge & Salisbury, England Attractions Guide">
    <meta property="og:image"
        content="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge-Sun-Shining-through-Clouds.jpg">
    <meta name="twitter:title" content="Stonehenge & Salisbury, England Attractions Guide">
    <meta name="twitter:image"
        content="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge-Sun-Shining-through-Clouds.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
    <title>Attractions Guide for Stonehenge & Salisbury, England</title>
    </head>

    <body>
        <!-- Navbar -->
        <% let rootPath='../../' ; %>
            <%- include(rootPath + '../partials/navbar' ) %>



                <!-- Page Heading and Main Section Links -->
                <h1>Stonehenge &amp; Salisbury, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

                <div class="destination-page-section-links">
                    <div><a href="#nearby-destinations">Nearby Destinations</a></div>
                    <div><a href="#attractions-maps">Google Maps Attractions</a></div>
                </div>


                <!-- In-Page Navigation -->
                <nav>
                    <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
                        <div><a href="#wiltshire-salisbury">Salisbury, England</a></div>
                        <div><a href="#wiltshire-stonehenge">Stonehenge</a></div>
                        <div><a href="#wiltshire-avebury">Avebury Stone Circle</a></div>
                        <div><a href="#hampshire-winchester">Winchester, England</a></div>
                    </div>
                </nav>

                <div class="nav-spacer">&nbsp;</div>




                <!-- Salisbury and Stonehenge Carousel -->
                <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">

                            <div class="owl-item">
                                <img alt="Towering exterior of the historic Salisbury Cathedral, which houses a copy of the Magna Carta"
                                    src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Salisbury-Cathedral.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Salisbury Cathedral (Magna&nbsp;Carta)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/8411024@N08/26987845298/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/8411024@N08/" rel="noopener noreferrer"
                                            target="_blank">
                                            Tony Buckley</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img alt="Lovely brickwork exterior of the Salisbury Museum in Salisbury, England"
                                    src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-The-Salisbury-Museum.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">The Salisbury Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.geograph.org.uk/photo/759304" rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/mikeofdorset" rel="noopener noreferrer"
                                            target="_blank">
                                            Mike Searle</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img alt="Stunning cloudy day view of the ancient Stonehenge, a wonder of the world, located in Amesbury, England"
                                    src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Stonehenge</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a
                                            href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Udit Kapoor</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 4.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Aerial view of the Old Sarum ancient henge ruins in Salisbury, England near Stonehenge"
                                    data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Old-Sarum.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Old Sarum Ruins</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Aerial_photograph_of_Old_Sarum_site,_on_departure_from_Old_Sarum_airfield.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a
                                            href="https://commons.wikimedia.org/w/index.php?title=File:Aerial_photograph_of_Old_Sarum_site,_on_departure_from_Old_Sarum_airfield.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Mark Edwards</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 4.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Salisbury, England Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="wiltshire-salisbury"></a>
                    <h2 class="left-heading destination-section-heading">Salisbury, England</h2>
                    <p>Begin your day by visiting the town of Salisbury, which is home to the impressive <strong>Salisbury
                            Cathedral</strong> This cathedral features a marvelous exterior, but is famous for what's inside. The church is
                        home to the best surviving copy of the Magna Carta, a very important historical document. The cathedral also hosts a
                        beautiful ornate cloister here, which is the largest in England.</p>
                    <p>Next to the church you can visit the <strong>Sailsbury Museum</strong>, which houses archaeological finds including
                        many from nearby Stonehenge.</p>
                </section>


                <!-- Stonehenge Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="wiltshire-stonehenge"></a>
                    <h2 class="left-heading destination-section-heading">Stonehenge</h2>
                    <p>From Salisbury you can take a short drive or short bus ride (about 20 minutes) to the Stonehenge Vistors Centre, from
                        which you'll take a very short shuttle ride to reach the monument. The mystical <strong>Stonehenge</strong>
                        is over 5,000 years old and is quite a sight to behold.</p>
                    <p>Only during the Summer Solstice Festival in mid-June can you get up close to the stones and walk amongst them,
                        otherwise you can still admire these massive stones from approximately 100 feet (30 m) away.</p>
                    <!-- Read More Read Less Tab -->
                    <div class="hidden-content">
                        <p>Just north of Salisbury is the <strong>Old Sarum</strong> site, the remains of a 2,400 year old hilltop fortress
                            from the Iron Age. Old Sarum is best reached after experiencing Stonehenge, since the bus returning to Salisbury
                            has a stop adjacent to the Old Sarum.</p>
                    </div>
                    <button type="button" class="collapsible-content">Read More...</button>
                </section>



                <!-- Google Display Ad - Square -->
                <div align="center" class="center-ad">
                    <!-- Stonehenge 1 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4475491996225753" data-ad-slot="2770987704"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>




                <!-- Avebury and Winchester Image Carousel -->
                <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage carousel-slide">

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Close-up view of several of the up-right standing stones of the massive Avebury Stone Circle in Wiltshire, England"
                                    data-src="https://www.travelimager.com/images/england/England-Wiltshire-Malborough-Avebury-Stone-Circle.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Avebury Stone Circle</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/gordon_robertson/5620659988" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/gordon_robertson/" rel="noopener noreferrer"
                                            target="_blank">
                                            Gordon Robertson</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Stunning facade of the grand Winchester Cathedral in Winchester, England"
                                    data-src="https://www.travelimager.com/images/england/England-Hampshire-Winchester-Winchester-Cathedral.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Winchester Cathedral</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.maxpixel.net/Cathedral-Winchester-Historic-Britain-Sky-England-723474"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.maxpixel.net/" rel="noopener noreferrer" target="_blank">
                                            Max Pixel</a><br />
                                        <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Interior of the medieval Great Hall building in Winchester, England which displays the alleged Round Table of King Arthur"
                                    data-src="https://www.travelimager.com/images/england/England-Hampshire-Winchester-Winchester-Great-Hall.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">The Great Hall (Winchester)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/cdpm/3651033535/" rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/cdpm/" rel="noopener noreferrer"
                                            target="_blank">
                                            Charles D P Miller</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Avebury Stone Circle Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="wiltshire-avebury"></a>
                    <h2 class="left-heading destination-section-heading">Avebury Stone Circle (Car&nbsp;Only)</h2>
                    <p>If travelling by vehice, you might consider visiting the largest megalithic stone circle on
                        Earth, <strong>Avebury</strong>. This Neolithic site was built around the time of Stonehenge and is located less
                        than 20 miles (32 km) north of Stonehenge. </p>
                </section>


                <!-- Winchester, England Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="hampshire-winchester"></a>
                    <h2 class="left-heading destination-section-heading">Winchester, England</h2>
                    <p>If travelling by car, you might begin your day by visiting the city of Winchester, where you'll find the 11th century
                        <strong>Winchester Cathedral</strong>. This magnificent gothic church is one of the largest cathedrals in all of
                        Europe, hosts the tomb of Jane Austen, and was one of the filming locations for the Da Vinci Code movie.</p>
                    <p>Also in town you might visit <strong>The Great Hall</strong>, a medieval structure containing the alleged Round Table
                        of the legendary King Arthur.</p>
                    <p>If travelling by train, it's recommended to visit Winchester after Stonehenge (if you have plenty of time).
                        Winchester is about 1.5 hours from Salisbury by train.</p>
                </section>




                <!-- Google Display Ad - Square -->
                <div align="center" class="center-ad">
                    <!-- Stonehenge Bottom -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4475491996225753" data-ad-slot="4266960253"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>




                <!-- Google Maps Links -->
                <section class="attraction-lists">
                    <a class="anchor" id="attractions-maps"></a>
                    <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

                    <p class="destinations-save-attractions-header">Save Stonehenge &amp; Salisbury Attraction&nbsp;Lists to your
                        Google&nbsp;Maps&nbsp;Account:</p>
                    <div class="attraction-links-container block">
                        <p class="attractions-link">
                            <a href="https://goo.gl/maps/w1g5CQjkvq72">&rArr; Top Attractions (Train)</a>
                        </p>
                        <p class="attractions-link">
                            <a href="https://goo.gl/maps/X8kmZ7MDWZ42">&rArr; Top Attractions (Car)</a>
                        </p>
                    </div>
                    <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br />
                        2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
                </section>



                <!-- Nearby Destination and Day-Trips -->
                <section class="nearby-destinations">
                    <a class="anchor" id="nearby-destinations"></a>
                    <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>

                    <!-- Row 1 -->
                    <div class="destinations-flexbox">

                        <div class="destination-container">
                            <div class="image-wrapper">
                                <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                                    Bath
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history"
                                    rel="noopener noreferrer" target="_blank">
                                    Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                                <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer"
                                    target="_blank">
                                    CC BY-SA 4.0</a> | <i>Edited</i>
                            </p>
                        </div>

                        <div class="destination-container">
                            <div class="image-wrapper">
                                <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                                    Oxford
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                                    Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer"
                                    target="_blank">
                                    Alison Day</a><br />
                                <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer"
                                    target="_blank">
                                    CC BY-ND 2.0</a> | <i>Resized</i>
                            </p>
                        </div>

                        <div class="destination-container">
                            <div class="image-wrapper">
                                <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village"
                                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                                    Cotswolds
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer"
                                    target="_blank">
                                    Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer"
                                    target="_blank">
                                    Steve Slater</a><br />
                                <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                    CC BY 2.0</a> | <i>Edited</i>
                            </p>
                        </div>

                        <div class="destination-container">
                            <div class="image-wrapper">
                                <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                                    London
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer"
                                    target="_blank">
                                    Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer"
                                    target="_blank">
                                    skeeze</a><br />
                                <i>Edited</i>
                            </p>
                        </div>

                    </div>

                    <!-- Row 2 -->
                    <div class="destinations-flexbox">

                        <div class="destination-container ">
                            <div class="image-wrapper">
                                <a
                                    href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a
                                    href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
                                    Stratford-upon-Avon &amp; Warwick
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer"
                                    target="_blank">
                                    Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer"
                                    target="_blank">
                                    Tim Hodson</a><br />
                                <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                    CC BY 2.0</a> | <i>Edited</i>
                            </p>
                        </div>

                        <!-- Extra Div Space -->
                        <div class="destination-container"></div>
                        <div class="destination-container"></div>
                        <div class="destination-container"></div>
                    </div>

                </section>