<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions in Stratford-upon-Avon and Warwick, England and plan the perfect trip with our savable Stratford Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="stratford-upon-avon_england" />
    <meta name="attraction_guides" content="warwick" />
    <meta name="europe_attraction_guides" content="stratford-upon-avon_england" />
    <meta name="europe_destinations" content="stratford-upon-avon_england" />
    <meta name="europe_destination_guides" content="stratford-upon-avon_england" />
    <meta name="uk_attraction_guides" content="stratford-upon-avon" />
    <meta name="uk_destinations" content="stratford-upon-avon" />
    <meta name="england_attraction_guides" content="stratford-upon-avon" />
    <meta name="england_attraction_guides" content="warwick" />
    <meta name="england_destinations" content="stratford-upon-avon" />
    <meta name="england_destinations" content="warwick" />
    <meta name="england_destination_guides" content="stratford-upon-avon" />
    <meta name="england_destination_guides" content="warwick" />
    <meta name="google_maps_list" content="stratford-upon-avon" />
    <meta name="google_maps_list" content="warwick" />
    <meta property="og:title" content="Stratford-upon-Avon, England Attractions Guide">
    <meta name="twitter:title" content="Stratford-upon-Avon, England Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/europe/england/stratford-upon-avon-and-warwick-attractions-guide">
    <title>Attractions Guide for Stratford-upon-Avon & Warwick, England</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Stratford-upon-Avon &amp; Warwick, England<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    <!-- Stratford-upon-Avon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Half-timbered home in which William Shakespeare was born in Stratford-upon-Avon, England" 
                        src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Shakespeares-Birthplace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shakespeare's Birthplace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ell-r-brown/3639951854/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ell-r-brown/" rel="noopener noreferrer" target="_blank">
                                    Elliott Brown</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Half-timbered building containing William Shakespeare's schoolroom and guildhall in Stratford-upon-Avon"
                        src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Shakespeares-Schoolroom-and-Guildhall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shakespeare's Schoolroom &amp;<br />Guildhall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Guild_Chapel_%26_King_Edward_VI_School,_Stratford-upon-Avon_-_DSC09034.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rept0n1x" rel="noopener noreferrer" target="_blank">
                                    Rept0n1x</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Impressive medieval Holy Trinity Church with its tall spired topped tower in Stratford-upon-Avon"
                        src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Church-of-the-Holy-Trinity.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Holy Trinity Church<br />(Shakespeare's&nbsp;Tomb)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stratford-upon-Avon,_Church_of_the_Holy_Trinity_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stratford-upon-Avon,_Church_of_the_Holy_Trinity_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Palickap</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Half-timbered Hall's Croft house inhabited by Shakespeare's daughter in Stratford-upon-Avon" 
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Halls-Croft.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hall's Croft</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stratford-upon-Avon,_Hall%27s_Croft.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stratford-upon-Avon,_Hall%27s_Croft.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Palickap</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Lovely stone home lived in by William Shakespeare after his retirement, in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Shakespeares-New-Place-Nash-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shakespeare's New Place<br />(Nash&nbsp;House)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Nash_House_Stratford.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Burn_the_asylum" rel="noopener noreferrer" target="_blank">
                                    Burn the asylum</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Anne Hathaway's Cottage</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer" target="_blank">
                                    Tim Hodson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Stratford-upon-Avon Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Stratford-upon-Avon</h2>
        <p>Stratford-upon-Avon is a stunning medieval city where William Shakespeare was born, containing many attractions related to him. The most popular sight in Stratford is <strong>Shakespeare's Birthplace</strong>, the house in which the famous writer was born which is now a furnished museum you can explore.</p>
        <p>Nearby you can visit <strong>Shakespeare's Schoolroom & Guildhall</strong>, the medieval classroom where he attended school, and visit the medieval <strong>Holy Trinity Church</strong> hosting Shakespeare's tomb.</p>
        <p>There's also the half-timbered <strong>Hall's Croft</strong> museum, the house owned by Shakespeare's daughter (Susanna Hall), <strong>Shakespeare's New Place</strong> which served at the writer's home during retirement, and on the outskirts of town is <strong>Anne Hathaway's Cottage</strong>, a beautiful farmhouse where Shakespeare's wife grew up.</p>
        <p>All of these homes are well-preserved and furnished, offering accurate depictions of how these people lived.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Stratford-upon-Avon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4349176148"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Wilmcote, Charlecote, and Warwick Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely half-timbered home belonging to the step-mother of William Shakespeare in Wilmcote, England"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Mary-Ardens-Farm.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mary Arden's Farm</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mary-Arden-s-01.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Immanuel_Giel" rel="noopener noreferrer" target="_blank">
                                    Immanuel Giel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="16th century Charlecote Park estate and gardens near Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Charlecote-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Charlecote Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Charlecote_Park_2015.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bs0u10e01" rel="noopener noreferrer" target="_blank">
                                    Bs0u10e01</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast 1,000 year old Warwick Castle with its medieval walls seen behind a stream and lush greenery"
                        data-src="https://www.travelimager.com/images/england/England-Warwick-Warwick-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Warwick Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chinagirlsz/4936193956/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chinagirlsz/" rel="noopener noreferrer" target="_blank">
                                    gabriella szekely</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval half-timbered exterior of the Lord Leycester Hospital in Warwick, England"
                        data-src="https://www.travelimager.com/images/england/England-Warwick-Lord-Leycester-Hospital.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lord Leycester Hospital (Warwick)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lord_Leycester_Hospital_-Warwick3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Misterweiss" rel="noopener noreferrer" target="_blank">
                                    Misterweiss</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Wilmcote and Charlecote Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Wilmcote &amp; Charlecote</h2>
        <p>One more related house you can visit is <strong>Mary Arden's Farm</strong> located in the suburb of Wilmcote, belonging to Shakespeare's mother. Just outside Stratford to the east is <strong>Charlecote Park</strong>, a lovely 16th century country house with posh interiors.</p>
    </section>


    <!-- Warwick, England Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Warwick Castle</h2>
        <p>A bit further northeast of Stratford is one of England's most famous castles, the 950 year-old <strong>Warwick Castle</strong>. This giant medieval castle contains extremely lavish interiors and is surrounded by impressive walled fortifications and towers, located right on the scenic River Avon.</p>
        <p>Very close-by the Warwick Castle is the stunning half-timbered medieval <strong>Lord Leycester Hospital</strong>, which is best admired from outside. </p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Stratford-upon-Avon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3036094475"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Stratford &amp; Warwick Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/63N3mK3CY192">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                        Cotswolds
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer" target="_blank">
                            Steve Slater</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                        Oxford
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                            Alison Day</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                        Bath
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                            Diego Delso</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                        data-src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                        London
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/westminster-palace-london-city-717846/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    