<footer class="footer">
    <div class="footer-flexbox">
        <h4 class="site-identity">
            <a href="/">
                TRAVONGA.COM
            </a>
        </h4>
        <p class="site-identity-copyright">
            Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
            Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
        </p>
    </div>
</footer>