<!-- Sitwide MegaMenu -->
<nav class="site-nav-container">

    <div class="mega-site-nav">
        <!-- Site Logo -->
        <div class="site-logo-mobile">
            <a href="/" class="header-image-wrapper-mobile">
                <img class="header-image"
                    src="https://www.travelimager.com/images/travonga-logos/Travonga-Travel-Itineraries-Logo-Nav-Header-Inverted-768x227.png"
                    alt="Travonga.com Travel Itineraries and Attraction Guides - Logo and Site Banner Inverted for Mobile" />
            </a>
        </div>

        <div class="site-nav" id="megaNavMenu">

            <!-- Site Logo -->
            <div class="site-logo">
                <a href="/" class="header-image-wrapper">
                    <img class="header-image"
                        src="https://www.travelimager.com/images/travonga-logos/Travonga-Travel-Itineraries-Logo-Nav-Header-768x227.png"
                        alt="Travonga.com Travel Itineraries and Attraction Guides - Logo and Site Banner for Desktop and Tablet" />
                </a>
            </div>


            <!-- Attraction Guides Dropdown -->
            <div class="menu-item">
                <h2 class="menu-item-title">Attraction Guides</h2>
                <ul class="submenu">

                    <!-- Europe Destinations - Attraction Guides Part 1 -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">Europe</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/destinations/europe/austria/austria-attraction-guides">Austria</a></li>
                            <li><a href="/destinations/europe/belgium/belgium-attraction-guides">Belgium</a></li>
                            <li><a href="/destinations/europe/czech-republic-czechia/czech-republic-attraction-guides">Czech
                                    Republic</a></li>
                            <li><a href="/destinations/europe/denmark-copenhagen-attractions-guide">Denmark</a></li>
                            <li><a href="/destinations/europe/england/england-attraction-guides">England</a></li>
                            <li><a href="/destinations/europe/france/france-attraction-guides">France</a></li>
                            <li><a href="/destinations/europe/germany/germany-attraction-guides">Germany</a></li>
                            <li><a href="/destinations/europe/greece/greece-attraction-guides">Greece</a></li>
                            <li><a href="/destinations/europe/hungary-budapest-attractions-guide">Hungary</a></li>
                            <li><a href="/destinations/europe/italy/italy-attraction-guides">Italy</a></li>
                            <li><a href="/destinations/europe/ireland/ireland-attraction-guides">Ireland</a></li>
                        </ul>
                    </li>

                    <!-- Europe Destinations - Attraction Guides Part 2 -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">More Europe</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/destinations/europe/luxembourg-city-attractions-guide">Luxembourg</a></li>
                            <li><a href="/destinations/europe/monaco-attractions-guide">Monaco</a></li>
                            <li><a href="/destinations/europe/netherlands/netherlands-attraction-guides">Netherlands</a>
                            </li>
                            <li><a href="/destinations/europe/norway-oslo-attractions-guide">Norway</a></li>
                            <li><a href="/destinations/europe/portugal/portugal-attraction-guides">Portugal</a></li>
                            <li><a href="/destinations/europe/scotland/scotland-attraction-guides">Scotland</a></li>
                            <li><a href="/destinations/europe/slovakia-bratislava-attractions-guide">Slovakia</a></li>
                            <li><a href="/destinations/europe/slovenia/slovenia-attraction-guides">Slovenia</a></li>
                            <li><a href="/destinations/europe/spain/spain-attraction-guides">Spain</a></li>
                            <li><a href="/destinations/europe/sweden-stockholm-attractions-guide">Sweden</a></li>
                            <li><a href="/destinations/europe/switzerland/switzerland-attraction-guides">Switzerland</a>
                            </li>
                        </ul>
                    </li>

                    <!-- USA and Canada Destinations - Attraction Guides -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">USA&nbsp;&amp;&nbsp;Canada</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/destinations/usa/arizona/arizona-attraction-guides">Arizona</a></li>
                            <li><a href="/destinations/canada/british-columbia/british-columbia-attraction-guides">British
                                    Columbia</a></li>
                            <li><a href="/destinations/usa/california/california-attraction-guides">California</a></li>
                            <li><a href="/destinations/usa/colorado/colorado-attraction-guides">Colorado</a></li>
                            <li><a href="/destinations/usa/montana-glacier-national-park-attractions-guide">Montana</a>
                            </li>
                            <li><a href="/destinations/usa/new-mexico/new-mexico-attraction-guides">New Mexico</a></li>
                            <li><a href="/destinations/usa/nevada/nevada-attraction-guides">Nevada</a></li>
                            <li><a href="/destinations/usa/oregon/oregon-attraction-guides">Oregon</a></li>
                            <li><a href="/destinations/usa/utah/utah-attraction-guides">Utah</a></li>
                            <li><a href="/destinations/usa/washington/washington-attraction-guides">Washington</a></li>
                            <li><a href="/destinations/usa/wyoming/wyoming-attraction-guides">Wyoming</a></li>
                        </ul>
                    </li>

                </ul>
            </div>


            <!-- Europe Itineraries Dropdown -->
            <div class="menu-item">
                <h2 class="menu-item-title">Europe Itineraries</h2>
                <ul class="submenu">

                    <!-- Europe Itineraries - By Country -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">By Country</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/itineraries/europe/southern-england-travel-itinerary-and-top-attractions">Southern
                                    England</a></li>
                            <li><a
                                    href="/itineraries/europe/france-travel-itinerary-and-top-attractions-by-train">France</a>
                            </li>
                            <li><a
                                    href="/itineraries/europe/italy-travel-itinerary-and-top-attractions-by-train">Italy</a>
                            </li>
                            <li><a href="/itineraries/europe/portugal-travel-itinerary-and-top-attractions">Portugal</a>
                            </li>
                            <li><a
                                    href="/itineraries/europe/spain-travel-itinerary-and-top-attractions-by-train">Spain</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Europe Itineraries - By Region -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">Regions</h3>
                        <ul class="submenu-column-list">
                            <li><a
                                    href="/itineraries/europe/western-europe-travel-itinerary-and-top-attractions-by-train">Western
                                    Europe</a></li>
                            <li><a
                                    href="/itineraries/europe/central-europe-travel-itinerary-and-top-attractions-by-train">Central
                                    Europe</a></li>
                            <li><a
                                    href="/itineraries/europe/1-month-in-europe-travel-itinerary-and-top-attractions-by-train">1
                                    Month in Europe</a></li>
                            <li><a
                                    href="/itineraries/europe/6-weeks-in-europe-travel-itinerary-and-top-attractions-by-train">6
                                    Weeks in Europe</a></li>
                            <li><a
                                    href="/itineraries/europe/2-months-in-europe-travel-itinerary-and-top-attractions-by-train">2+
                                    Months in Europe</a></li>
                        </ul>
                    </li>

                    <!-- Europe Itineraries - Country Combinations -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">Combinations</h3>
                        <ul class="submenu-column-list">
                            <li><a
                                    href="/itineraries/europe/france-and-spain-travel-itinerary-and-top-attractions-by-train">France
                                    &amp; Spain</a></li>
                            <li><a
                                    href="/itineraries/europe/spain-and-portugal-travel-itinerary-and-top-attractions-by-train">Spain
                                    &amp; Portugal</a></li>
                            <li><a href="/itineraries/europe/uk-and-ireland-travel-itinerary-and-top-attractions">U.K.
                                    &amp; Ireland</a></li>
                        </ul>
                    </li>

                </ul>
            </div>


            <!-- US Road Trips Dropdown -->
            <div class="menu-item">
                <h2 class="menu-item-title">US Road Trips</h2>
                <ul class="submenu">

                    <!-- USA Itineraries - By State -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">US States</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/itineraries/usa/arizona-road-trip-itinerary-and-top-attractions">Arizona</a>
                            </li>
                            <li><a
                                    href="/itineraries/usa/california-road-trip-itinerary-and-top-attractions">California</a>
                            </li>
                            <li><a
                                    href="/itineraries/usa/highlights-of-california-road-trip-itinerary-and-top-attractions">Highlights
                                    of California</a></li>
                            <li><a href="/itineraries/usa/northern-california-road-trip-itinerary-and-top-attractions">Northern
                                    California</a></li>
                            <li><a href="/itineraries/usa/southern-california-road-trip-itinerary-and-top-attractions">Southern
                                    California</a></li>
                            <li><a href="/itineraries/usa/colorado-road-trip-itinerary-and-top-attractions">Colorado</a>
                            </li>
                            <li><a href="/itineraries/usa/oregon-road-trip-itinerary-and-top-attractions">Oregon</a>
                            </li>
                            <li><a href="/itineraries/usa/utah-road-trip-itinerary-and-top-attractions">Utah</a></li>
                            <li><a
                                    href="/itineraries/usa/washington-road-trip-itinerary-and-top-attractions">Washington</a>
                            </li>
                        </ul>
                    </li>

                    <!-- Canada Itineraries and USA Itineraries - By Region - Double Column -->
                    <li class="submenu-column">
                        <!-- Canada Itineraries - By Province/Territory -->
                        <h3 class="submenu-column-heading">Canada</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/itineraries/canada/british-columbia-road-trip-itinerary-and-top-attractions">British
                                    Columbia</a></li>
                        </ul>
                        <!-- USA Itineraries - By Region -->
                        <h3 class="submenu-column-heading">Regions</h3>
                        <ul class="submenu-column-list">
                            <li><a href="/itineraries/usa/pacific-northwest-road-trip-itinerary-and-top-attractions">Pacific
                                    Northwest</a></li>
                            <li><a href="/itineraries/usa/southwest-us-road-trip-itinerary-and-top-attractions">Southwest
                                    US</a></li>
                            <li><a href="/itineraries/usa/pacific-coast-road-trip-itinerary-and-top-attractions">Pacific
                                    Coast</a></li>
                        </ul>
                    </li>

                    <!-- USA / Canada Itineraries - State/Province Combinations -->
                    <li class="submenu-column">
                        <h3 class="submenu-column-heading">Combinations</h3>
                        <ul class="submenu-column-list">
                            <li><a
                                    href="/itineraries/usa/california-arizona-and-utah-road-trip-itinerary-and-top-attractions">California
                                    + Arizona + Utah</a></li>
                            <li><a
                                    href="/itineraries/usa/northern-california-and-oregon-road-trip-itinerary-and-top-attractions">Northern
                                    California + Oregon</a></li>
                            <li><a
                                    href="/itineraries/usa/southern-california-and-arizona-road-trip-itinerary-and-top-attractions">Southern
                                    California + Arizona</a></li>
                            <li><a href="/itineraries/usa/utah-and-arizona-road-trip-itinerary-and-top-attractions">Utah
                                    + Arizona</a></li>
                            <li><a href="/itineraries/usa/utah-and-colorado-road-trip-itinerary-and-top-attractions">Utah
                                    + Colorado</a></li>
                            <li><a
                                    href="/itineraries/usa/washington-and-oregon-road-trip-itinerary-and-top-attractions">Washington
                                    + Oregon</a></li>
                            <li><a href="/itineraries/usa/wyoming-and-montana-road-trip-itinerary-and-top-attractions">Wyoming
                                    + Montana</a></li>
                            <li><a href="/itineraries/usa/wyoming-and-utah-road-trip-itinerary-and-top-attractions">Wyoming
                                    + Utah</a></li>
                        </ul>
                    </li>

                </ul>
            </div>

        </div>

        <a class="nav-menu-mobile-icon" id="nav-menu-mobile-icon">
            <span>&#9776;</span>
        </a>
    </div>

    <div id="menuBackdrop"></div>

</nav>