<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&family=PT+Sans:wght@400;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/resources/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/resources/owlcarousel/owl.theme.default.min.css"> 
    <link rel="stylesheet" href="/assets/css/styles.css">


            <%- body %>

            <!-- Footer -->
            <%- include('../partials/footer') %>

            <!-- JavaScript -->
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="/assets/js/tools.js"></script>
            <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

    </body>

</html>