<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Sunset Crater Volcanic National Monument near Flagstaff, Arizona Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Sunset-Crater-Volcano-National-Monument-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Flagstaff, Arizona, and plan the perfect trip with our savable Flagstaff Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="flagstaff_arizona" />
    <meta name="usa_attraction_guides" content="flagstaff_arizona" />
    <meta name="usa_destinations" content="flagstaff_arizona" />
    <meta name="usa_destination_guides" content="flagstaff_arizona" />
    <meta name="arizona_attraction_guides" content="flagstaff" />
    <meta name="arizona_destinations" content="flagstaff" />
    <meta name="arizona_destination_guides" content="flagstaff" />
    <meta name="national_park_attraction_guides" content="walnut_canyon" />
    <meta name="national_park_attraction_guides" content="sunset_crater" />
    <meta name="national_park_attraction_guides" content="wupatki" />
    <meta name="google_maps_list" content="flagstaff" />
    <meta property="og:title" content="Flagstaff, Arizona Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Sunset-Crater-Volcano-National-Monument.jpg">
    <meta name="twitter:title" content="Flagstaff, Arizona Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Sunset-Crater-Volcano-National-Monument.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
    <title>Attractions Guide for Flagstaff, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Flagstaff, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#flagstaff">Flagstaff</a></div>
            <div><a href="#humphreys-peak">Humphreys Peak</a></div>
            <div><a href="#walnut-canyon-national-monument">Walnut Canyon</a></div>
            <div><a href="#sunset-crater-national-monument">Sunset Crater</a></div>
            <div><a href="#wupatki-national-monument">Wupatki</a></div>
            <div><a href="#meteor-crater">Meteor Crater</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Flagstaff Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Flagstaff sits at a base elevation of 7,000 feet (2,130 m) and has a very different climate from what'd you'd expect in Arizona, surrounded by vast forests and many volcanoes, as well as many incredible attractions.</p>
        <p>Notably, Flagstaff is the closest large city to the Grand Canyon and is also in very close proximity to the gorgeous city and natural landscape of Sedona.</p>
    </section>


    <!-- Flagstaff and Humphreys Peak Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Historic district of Downtown Flagstaff with a classic American Main Street area" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Downtown-Flagstaff.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Flagstaff</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/5270733817/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the famous Lowell Observatory in Flagstaff, Arizona where Pluto was discovered" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Lowell-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lowell Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/vanhoosear/5523258977/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/vanhoosear/" rel="noopener noreferrer" target="_blank">
                                    Todd Van Hoosear</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View over the vast forests of Northern Arizona from highest point in Arizona atop Humphreys Peak in Flagstaff"
                        src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Humphreys-Peak.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Humphreys Peak Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/shoeboxpics27/14896460530/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/shoeboxpics27/" rel="noopener noreferrer" target="_blank">
                                    Jeff Shewan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking down the wide dark lava tube near Flagstaff and Humphreys Peak known as the Lava River Cave"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Lava-River-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lava River Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/coconinonationalforest/20740152436/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/coconinonationalforest/" rel="noopener noreferrer" target="_blank">
                                    Coconino National Forest</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Flagstaff, Arizona Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="flagstaff"></a>
        <h2 class="left-heading destination-section-heading">Flagstaff, Arizona</h2>
        <p>Flagstaff hosts a lovely historic <strong>Downtown</strong> area with great stores, restaurants, and bars. The city is home to the famous <strong>Lowell Observatory</strong>, from which Pluto was discovered. This old observatory offers tours and stargazing events.</p>
    </section>


    <!-- Humpheys Peak Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="humphreys-peak"></a>
        <h2 class="left-heading destination-section-heading">Humpheys Peak</h2>
        <p>Just north of Flagstaff is <strong>Humphreys Peak</strong>, the tallest mountain in Arizona at approximately 12,630 feet (3,850 m), which you can climb via a challenging 9.2 mile (14.8 km) round-trip trail with a large elevation gain. The trailhead starts at the Arizona Snowbowl, an excellent ski resort that operates on the mountain in the winter.</p>
        <p>Further east from Humphreys Peak is the impressive underground <strong>Lava River Cave</strong>, which you can explore via a 1 mile (1.6 km) round-trip trail. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Flagstaff 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5898895681"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Greater Flagstaff National Monuments and Meteor Crater Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pre-Colombian Native American cliff dwellings seen along a trail at Walnut Canyon National Monument in Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Walnut-Canyon-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Walnut Canyon National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sfbaywalk/8204449495/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sfbaywalk/" rel="noopener noreferrer" target="_blank">
                                    sfbaywalk</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Black volcanic landscape of the Sunset Crater Volcano National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Sunset-Crater-Volcano-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sunset Crater Volcano National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/27089838392/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wupatki National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                                    Jared</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vast well-preserved 50,000 year old Meteor Crater in the Northern Arizona desert between Flagstaff and Winslow"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Meteor-Crater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Meteor Crater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gee01/9905669604/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gee01/" rel="noopener noreferrer" target="_blank">
                                    Graeme Maclean</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Walnut Canyon National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="walnut-canyon-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Walnut Canyon National&nbsp;Monument</h2>
        <p>Within the vicinity of the city are three national monuments, including <strong>Walnut Canyon National Monument</strong> just east of Flagstaff, which is home to stunning pre-Colombian Native American cliff dwellings. If you'd like walk inside of and explore these dwellings, be sure to walk the 0.8 mile (1.3 km) round-trip Island Trail.</p>
        <p>You should also walk the 0.8 mile (1.3 km) round-trip Walnut Canyon Rim Trail, which provides views overlooking more cliff dwellings and ruins within the national monument.</p>
    </section>


    <!-- Sunset Crater National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sunset-crater-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Sunset Crater National&nbsp;Monument</h2>
        <p>North of Flagstaff is the <strong>Sunset Crater Volcano National Monument</strong> where you can walk amongst a striking black volcanic landscape alongside the impressive crater. The best trail here is the easy 0.8 mile (1.3 km) round-trip Lava Flow Trail.</p>
    </section>


    <!-- Wupatki National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="wupatki-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Wupatki National Monument</h2>
        <p>From Sunset Crater you can continue down the road to <strong>Wupatki National Monument</strong>, which features a very scenic drive along the way. In Wupatki you'll find several massive Native American dwellings that are nearly 1,000 years old. These dwellings are quite incredible and well-preserved for their age. To view the various structures of Wupatki National Monument you can walk along a 0.5 mile (0.8 km) round-trip self-guided tour trail.</p>
    </section>


    <!-- Meteor Crater Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="meteor-crater"></a>
        <h2 class="left-heading destination-section-heading">Meteor Crater</h2>
        <p>Approximately 45 miles (70 km) east of Flagstaff you is the famous <strong>Meteor Crater</strong>, a massive crater in the desert created approximately 50,000 years ago by a meteor impact. The crater is stunningly large with a diameter of nearly 4,000 feet (1,200 m) and over 550 feet (170 m) deep.</p>
        <p>While it is a bit expensive to visit the crater and there are only a couple viewpoints overlooking it, it's still quite a stunning experience to look out over one of the world's best preserved impact craters.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Flagstaff Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3194493680"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Flagstaff Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/2ngTsRi9g3F2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day view of the Cathedral Rock butte behind tiny red rock waterfalls along a hiking trail in the Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Cathedral-Rock.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        Sedona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5601206171/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient petrified wood logs along the purple landscape of Petrified Forest National Park's Jasper Forest in Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Northeastern-Arizona-Jasper-Forest.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        Petrified Forest National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andrew_kearns_photography/14736525130/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andrew_kearns_photography/" rel="noopener noreferrer" target="_blank">
                            Andrew Kearns</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of Downtown Phoenix and surrounding urban sprawl from atop Piestewa Peak Summit in Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Piestewa-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        Phoenix
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/ggphoto36/6729057137/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/ggphoto36/" rel="noopener noreferrer" target="_blank">
                            Gary</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    