<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions of North Rim Grand Canyon, Arizona, and plan the perfect trip with our savable North Rim Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="north_rim_grand_canyon_arizona" />
    <meta name="usa_attraction_guides" content="north_rim_arizona" />
    <meta name="usa_destinations" content="north_rim_arizona" />
    <meta name="usa_destination_guides" content="north_rim_arizona" />
    <meta name="arizona_attraction_guides" content="north_rim_grand_canyon" />
    <meta name="arizona_destinations" content="north_rim_grand_canyon" />
    <meta name="arizona_destination_guides" content="north_rim_grand_canyon" />
    <meta name="national_park_attraction_guides" content="north_rim_grand_canyon" />
    <meta name="google_maps_list" content="north_rim_grand_canyon" />
    <meta property="og:title" content="North Rim Grand Canyon, Arizona Attractions Guide">
    <meta name="twitter:title" content="North Rim Grand Canyon, Arizona Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
    <title>Attractions Guide for North Rim Grand Canyon, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>North Rim Grand&nbsp;Canyon<br />National&nbsp;Park, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#bright-angel-point">Bright Angel Point</a></div>
            <div><a href="#north-kaibab-trail">North Kaibab Trail</a></div>
            <div><a href="#cape-royal">Cape Royal</a></div>
            <div><a href="#additional-viewpoints">Additional Viewpoints</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to North Rim Grand Canyon National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The North Rim of the Grand Canyon is located in quite a remote location far from any cities, and as such it receives only 10% of the total visitors to Grand Canyon National Park each year, therefore it tends to be much less crowded. The northern side of the canyon features several incredibly beautiful viewpoints that are spread out along the rim.</p>
        <p>It's highly recommended to see as many of these viewpoints as possible as they all offer unique views and perspectives over different parts of the massive Grand Canyon.</p>
    </section>


    <!-- Bright Angel Point and North Kaibab Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking the Grand Canyon from Bright Angel Point along the national park's northern rim" 
                        src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Bright-Angel-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bright Angel Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dvs/34080599563/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dvs/" rel="noopener noreferrer" target="_blank">
                                    dvs</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Coconino Overlook located along the North Kaibab Trail which descends down below the north rim of the Grand Canyon" 
                        src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Coconino-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coconino Overlook (North&nbsp;Kaibab&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/activesteve/15343635237/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/activesteve/" rel="noopener noreferrer" target="_blank">
                                    ActiveSteve</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Supai Tunnel pathway carved into the Grand Canyon walls along the North Rim's North Kaibab Trail"
                        src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Supai-Tunnel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Supai Tunnel (North&nbsp;Kaibab&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brewbooks/3895659972/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brewbooks/" rel="noopener noreferrer" target="_blank">
                                    J Brew</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Small Roaring Springs Waterfall emerging from the cliffside of the Grand Canyon's North Rim along North Kaibab Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Roaring-Springs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Roaring Springs (North&nbsp;Kaibab&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/madeleine_h/8078748896/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/madeleine_h/" rel="noopener noreferrer" target="_blank">
                                    Madeleine Deaton</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bright Angel Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bright-angel-point"></a>
        <h2 class="left-heading destination-section-heading">Bright Angel Point</h2>
        <p>The first viewpoint to see is <strong>Bright Angel Point</strong>, which sits just beyond the Visitor Center and the canyon-side Grand Canyon Lodge. You can reach Bright Angel Point by hiking approximately 1 mile (1.6 km) round-trip from the parking lot.</p>
    </section>


    <!-- North Kaibab Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="north-kaibab-trail"></a>
        <h2 class="left-heading destination-section-heading">North Kaibab Trail</h2>
        <p>Near the Visitor Center is the trailhead for the North Rim's most popular moderate hike, which descends down the canyon via the North Kaibab Trail, offering stunning scenery.</p>
        <p>There's different options for how far you'd like to hike along this trail, with an 8.4 mile (13.5 km) round-trip hike to <strong>Roaring Springs</strong> (with a lot of elevation gain when returning), or the 3.7 mile (6 km) round-trip hike to <strong>Supai Tunnel</strong>. Both of these trails pass by the <strong>Coconino Overlook</strong> as well, which by itself can be reached by hiking a round-trip distance of about 1.4 miles (2.3 km) along the trail.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- North Rim 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6159460572"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Cape Royal and Additional North Rim Viewpoints Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Royal</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                                    Grand Canyon National Park</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Natural window/bridge in the cliffs near Cape Royal known as the Angels Window along the Grand Canyon's North Rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Angels-Window.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Angels Window</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/87666397@N07/22295212998/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/87666397@N07/" rel="noopener noreferrer" target="_blank">
                                    Chris Tillman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wahalla Overlook offering views over a remote section of the Grand Canyon National Park's North Rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Walhalla-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Walhalla Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/azwegers/7913053470/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/azwegers/" rel="noopener noreferrer" target="_blank">
                                    Arian Zwegers</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Remote Cape Final viewpoint overlooking a section of the Grand Canyon from the North Rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Final.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Final</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brewbooks/5172460615/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brewbooks/" rel="noopener noreferrer" target="_blank">
                                    J Brew</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the endless flat desert behind the Grand Canyon seen from the Roosevelt Point along the Grand Canyon's northern rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Roosevelt-Point-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Roosevelt Point Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/3741359572/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view overlooking a complex rugged section of the Grand Canyon from Point Imperial along the canyon's northern rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Point-Imperial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Point Imperial</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/azwegers/7912923972/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/azwegers/" rel="noopener noreferrer" target="_blank">
                                    Arian Zwegers</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Cape Royal Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cape-royal"></a>
        <h2 class="left-heading destination-section-heading">Cape Royal</h2>
        <p>Afterwards you might like to drive along the rim to <strong>Cape Royal</strong>, where you can take in amazing panoramic views over a vast area of the canyon. The vast butte formation (called Wotans Throne) can be seen framed in front of the Grand Canyon at Cape Royal, and this is perhaps the most gorgeous view in the entire Grand Canyon National Park. Cape Royal is also an especially great spot to watch the sunset as the canyon turns red.</p>
        <p>At Cape Royal you can also take in views from atop a natural arch, the <strong>Angels Window</strong>, which is one of the viewpoints along the 1.1 mile (1.8 km) round-trip trail to reach Cape Royal. There's also a small pull-off from the road before reaching the trailhead that you can view this arch from.</p>
    </section>


    <!-- Additional Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="additional-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Additional Viewpoints</h2>
        <h3>Walhalla Overlook</h3>
        <p>Cape Royal is located at the very end of Cape Royal Road. Along the way to Cape Royal are several excellent viewpoints, including the nearby <strong>Walhalla Overlook</strong>. Also nearby you might consider the 4 mile (6.4 km) round-trip hike to <strong>Cape Final</strong>, which travels through the forest before reaching the edge of the canyon, offering breathtaking views over a beautiful part of the Grand Canyon.
        <h3>Roosevelt Point Overlook</h3>
        <p>Be sure to stop at the <strong>Roosevelt Point Overlook</strong>, which offers a very interesting perspective where you can see the landscape change from the rugged and deep Grand Canyon to vast flat deserts beyond the canyon.
        <h3>Point Imperial</h3>
        <p>Also noteworthy is <strong>Point Imperial</strong>, which is located along Point Imperial Road (the northern fork in the road, with the south fork being Cape Royal Road). This viewpoint is similar to Roosevelt Point but offers a wider variety of scenery and more of the Grand Canyon.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- North Rim Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5752374266"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save North Rim Grand&nbsp;Canyon Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/LQWiDRQaP9B2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        Bryce Canyon National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        Flagstaff
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                            Jared</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah"
                        src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail-300x225.jpg"
                        data-src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        Cedar&nbsp;Breaks &amp; Kolob&nbsp;Canyons, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    