<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking the massive bend in the Colorado River known as Horseshoe Bend in Page, Arizona Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend-2-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Page, Arizona + Horseshoe Bend & Antelope Canyons, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="page_arizona" />
    <meta name="usa_attraction_guides" content="page_arizona" />
    <meta name="usa_destinations" content="page_arizona" />
    <meta name="usa_destination_guides" content="page_arizona" />
    <meta name="arizona_attraction_guides" content="page_arizona" />
    <meta name="arizona_destinations" content="page_arizona" />
    <meta name="arizona_destination_guides" content="page_arizona" />
    <meta name="national_park_attraction_guides" content="glen_canyon" />
    <meta name="national_park_attraction_guides" content="rainbow_bridge" />
    <meta name="google_maps_list" content="page_arizona" />
    <meta property="og:title" content="Page, Arizona Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend-2.jpg">
    <meta name="twitter:title" content="Page, Arizona Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend-2.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
    <title>Attractions Guide for Page, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Page, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#horseshoe-bend">Horseshoe Bend</a></div>
            <div><a href="#antelope-canyons">Antelope Canyons</a></div>
            <div><a href="#more-slot-canyons">More Slot Canyons</a></div>
            <div><a href="#lake-powell-attractions">Lake Powell</a></div>
            <div><a href="#marble-canyon">Marble Canyon</a></div>
            <div><a href="#the-wave-and-more-attractions">The Wave &amp; More</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Page, Arizona Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The city of Page is located in Northern Arizona very close to the Utah border and Lake Powell, in an area of immense natural beauty surrounded by stunning geological formations.</p>
    </section>


    <!-- Horseshoe Bend and Antelope Canyons Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Horseshoe Bend</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                                    nieman und nichts</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Sandstone colors of the famous Horseshoe Bend seen on an overcast day near Page, Arizona" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Horseshoe Bend</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/horseshoe-bend-arizona-rocks-1630528/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/bkd-1006949/" rel="noopener noreferrer" target="_blank">
                                    BKD</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Famous view looking up at the smooth twisting gorge walls of Lower Antelope Canyon in Page, Arizona" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Page-Lower-Antelope-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Antelope Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/x-oph/22620219150/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/x-oph/" rel="noopener noreferrer" target="_blank">
                                    Krzysztof Belczynski</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous lady and hair bust-like rock formation seen along the walls of Lower Antelope Canyon in Page, Arizona" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Lower-Antelope-Canyon-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Antelope Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/antelope-canyon-sandstone-canyon-1128815/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/patternpictures-622877/" rel="noopener noreferrer" target="_blank">
                                    PatternPictures</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bright light shining through the opening between the walls of Upper Antelope Canyon and making the canyon walls glow"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Upper-Antelope-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Antelope Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Antelope_Canyon_Navajo_park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/aigle_dore/" rel="noopener noreferrer" target="_blank">
                                    Moyan Brenn</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the bright sunlight shining through and illuminating Upper Antelope Canyon in Page, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Upper-Antelope-Canyon-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Antelope Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/antelope-canyon-canyon-freestone-457495/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/hikersbay-95996/" rel="noopener noreferrer" target="_blank">
                                    hikersbay</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Horseshoe Bend Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="horseshoe-bend"></a>
        <h2 class="left-heading destination-section-heading">Horseshoe Bend</h2>
        <p>Among the most well-known attractions around Page is the gorgeous <strong>Horseshoe Bend</strong>, a massive canyon bend in the Colorado River that's approximately 1,000 feet (300 m) tall. You can reach this picturesque geological feature via a 1.1 mile (1.8 km) round-trip trail from the parking lot, with the option of hiking along the rim to take in different views over the bend.</p>
        <p>Horseshoe Bend is also an amazing place to watch the sunrise as it lights up the canyon in a brilliant display of color.</p>
    </section>


    <!-- Lower and Upper Antelope Canyons Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="antelope-canyons"></a>
        <h2 class="left-heading destination-section-heading">Lower &amp; Upper Antelope Canyons</h2>
        <p>Just east of Page are the iconic Upper and Lower Antelope Canyons, which consist of incredibly beautiful winding red slot canyons. <strong>Lower Antelope Canyon</strong> is longer and slightly less crowded and tends to get better reviews than <strong>Upper Antelope Canyon</strong>, which is know for the famous beams of light that shine into the canyon.</p>
        <p>Both canyons can only be accessed by tour as they are on Navajo land, but the tours are fairly priced and very informative. Just be sure to book your reservations in advanced as they fill up quickly and you don't want to be waiting for hours to see the canyon.</p>
        <p>If you wish to see the light beams of Upper Antelope Canyon be sure to book your tour during the right time of day when this incredible sight occurs, which costs slightly more. You can also pay more for a special photography tour of either canyon which is much less crowded. Both canyons are highly recommended.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Page, AZ 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4585814013"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- More Page Slot Canyons and Lake Powell Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Open gorge-like section of Secret Canyon located near Page, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Secret-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Secret Canyon (Special&nbsp;Tour)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bikracer/17582579772/in/album-72157653187457150/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bikracer/" rel="noopener noreferrer" target="_blank">
                                    Tracey Adams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Inside the dark winding slot canyons of X Canyon near Page, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-X-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">X Canyon (Special&nbsp;Tour)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sloalan/2968038072/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sloalan/" rel="noopener noreferrer" target="_blank">
                                    Alan Schmierer</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over Lake Powell being held back by the Glen Canyon Dam in Page, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Glen-Canyon-Dam.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glen Canyon Dam</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sowersnet/6081884900/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sowersnet/" rel="noopener noreferrer" target="_blank">
                                    Joel Sowers</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view over the cliffs and islands of Lake Powell from atop the Wahweap Overlook on the Utah side of the lake"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Wahweap-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wahweap Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/markbyzewski/4038192986/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/markbyzewski/" rel="noopener noreferrer" target="_blank">
                                    mark byzewski</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking out at the Rainbow Bridge National Monument inside a remote canyon only accessible via Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Rainbow-Bridge-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rainbow Bridge (Boat&nbsp;Tour&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/volvob12b/14091907751/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/volvob12b/" rel="noopener noreferrer" target="_blank">
                                    Bernard Spragg, NZ</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Slot Canyons Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-slot-canyons"></a>
        <h2 class="left-heading destination-section-heading">More Slot Canyons (Tour&nbsp;Only)</h2>
        <p>There are also more expensive tours that can be booked online that take you to lesser-known similar red slot canyons, including <strong>Secret Canyon</strong> and <strong>X Canyon</strong>, which are incredibly scenic and much less crowded.</p>
    </section>


    <!-- Lake Powell Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lake-powell-attractions"></a>
        <h2 class="left-heading destination-section-heading">Lake Powell Attractions</h2>
        <h3>Glen Canyon Dam</h3>
        <p>In Page be sure to look over the gigantic Glen Canyon Dam. You'll find the best views overlooking the dam from the <strong>Glen Canyon Dam Overlook</strong> to the southeast of the dam. You can also enjoy impressive views over Lake Powell from the dam and visit the Visitor Center, from which you can book a tour to see the inner-workings of the dam.</p>
        <p>The bottom of the Glen Canyon Dam is also the starting point for a special river rafting tour down the Colorado River that you can book. This tour takes you through Glen Canyon, passing through Horseshoe Bend, so you can see this incredible formatiion from below.</p>
        <h3>Wahweap Overlook</h3>
        <p>North of the Glen Canyon Dam you can drive up to the nearby <strong>Wahweap Overlook</strong>, which provides majestic views over Lake Powell and the many strange rock formations jutting out of this picturesque lake.</p>
        <h3>Rainbow Bridge National Monument</h3>
        <p>Another amazing tour you can take near Page is to the breathtaking <strong>Rainbow Bridge National Monument</strong>, which can only be accessed via scenic boat ride along Lake Powell followed by a round-trip walk of 1.8 miles (2.9 km) through a canyon.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Page, AZ 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7255375232"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Marble Canyon, The Wave, and More Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down Marble Canyon above the Colorado River, with the Navajo Bridge spanning it in Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Marble-Canyon-Navajo-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Navajo Bridge (Marble&nbsp;Canyon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/grand_canyon_nps/5492490722/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                                    Grand Canyon National Park</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striped red rock landscape called The Wave Trail near Wire Pass along the remote border of Arizona and Utah"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-The-Wave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Wave (Permit&nbsp;Hike&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/64733270@N05/9092750362/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/64733270@N05/" rel="noopener noreferrer" target="_blank">
                                    Nalan Aeon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Natural Toadstool Hoodoo formations located in the remote desert between Kanab, Utah and Page, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Toadstool-Hoodoos-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Toadstool Hoodoos Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andyjou/2183457185/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andyjou/" rel="noopener noreferrer" target="_blank">
                                    Andy Jou</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning golden hour view overlooking Lake Powell from Alstrom Point in Utah, only accessible via 4x4"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Alstrom-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alstrom Point (4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/julieedgley/4094622779/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/julieedgley/" rel="noopener noreferrer" target="_blank">
                                    Jae</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Marble Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="marble-canyon"></a>
        <h2 class="left-heading destination-section-heading">Marble Canyon</h2>
        <p>Southwest of Page is the beautiful <strong>Marble Canyon</strong>, the section of the Colorado River before it reaches the Grand Canyon. The best place to admire the canyon is from the <strong>Navajo Bridge</strong> which spans it.</p>
        <p>Marble Canyon is located along the route between Page and the North Rim of the Grand Canyon, or a 30 minute detour between Page and the South Rim of the Grand Canyon/Flagstaff.</p>
    </section>


    <!-- The Wave and More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="the-wave-and-more-attractions"></a>
        <h2 class="left-heading destination-section-heading">The Wave &amp; More Attractions</h2>
        <h3>The Wave</h3>
        <p>If you're visiting Page you should try entering into the lottery to win a permit to hike the stunning <strong>Wave Trail</strong>, which is approximately 6.1 miles (9.8 km) round-trip and incredibly beautiful. Very few permits are given out daily to see this mesmerizing geological formation so winning is quite difficult, but it's definitely worth trying.</p>
        <p>The Wave is located southwest from the Toadstool Hoodoos. The Wave Trailhead can be found at Wire Pass near the border of Arizona and Utah.</p>
        <h3>Toadstool Hoodoos</h3>
        <p>Approximately 30 minutes west of Page you should consider hiking the 1.8 mile (2.9 km) round-trip <strong>Toadstool Hoodoos Trail</strong>. This trail journeys through a bizarre yet stunning landscape of mushroom-like hoodoo formations where the rock and canyons turn from white to red.</p>
        <h3>Alstrom Point</h3>
        <p>You might also consider driving to <strong>Alstrom Point</strong>, which is accessible via a difficult road that requires a 4x4 vehicle to reach and is quite far (approximately 40 miles/65 km one-way from Page), but rewards with gorgeous views overlooking Lake Powell from high above. The overlook is located on the northern side of Lake Powell, and the rough road leading to it can be reached from the town of Big Water.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Page, AZ Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5942293562"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Page Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/AUU16cZUBhp">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/pGFwj1AS9RR2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        Flagstaff
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                            Jared</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        Bryce Canyon National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        Valley of the Gods &amp; Natural&nbsp;Bridges, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    