<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Blue mesas and ancient crystalized wooden log at Petrified Forest National Park, Arizona Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/arizona/Arizona-Petrfied-Forest-National-Park-Blue-Mesas-and-Petrified-Logs-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions of Petrified Forest National Park, Arizona, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="petrified_forest_arizona" />
    <meta name="usa_attraction_guides" content="petrified_forest_arizona" />
    <meta name="usa_destinations" content="petrified_forest_arizona" />
    <meta name="usa_destination_guides" content="petrified_forest_arizona" />
    <meta name="arizona_attraction_guides" content="petrified_forest_national_park" />
    <meta name="arizona_destinations" content="petrified_forest_national_park" />
    <meta name="arizona_destination_guides" content="petrified_forest_national_park" />
    <meta name="national_park_attraction_guides" content="petrified_forest" />
    <meta name="google_maps_list" content="petrified_forest_national_park" />
    <meta property="og:title" content="Petrfied Forest, Arizona Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/arizona/Arizona-Petrfied-Forest-National-Park-Blue-Mesas-and-Petrified-Logs.jpg">
    <meta name="twitter:title" content="Petrfied Forest, Arizona Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/arizona/Arizona-Petrfied-Forest-National-Park-Blue-Mesas-and-Petrified-Logs.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
    <title>Attractions Guide for Petrified Forest National Park, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Petrified Forest National&nbsp;Park, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#painted-desert-overlooks">Painted Desert</a></div>
            <div><a href="#blue-mesa-trail">Blue Mesa Trail</a></div>
            <div><a href="#agate-bridge-and-jasper-forest">Agate Bridge &amp; Jasper Forest</a></div>
            <div><a href="#crystal-forest">Crystal Forest</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Petrified Forest National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Arizona's Petrified Forest National Park is a vast scenic area of colorful desert hills, with fields full of ancient petrified wood fossils, some of which are over 200 million years old. Petrified Forest National Park is part of the beautiful Painted Desert, which hosts a surreal and highly photogenic landscape.</p>
        <p>If heading north or east after visisting the Petrified Forest, you'll want to follow these attractions in reverse order, beginning your visit to the park at the southern entrance (from Highway 180).</p>
    </section>


    <!-- Painted Desert Overlooks Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Hilly landscape of the Painted Desert observed from Tiponi Point at Arizona's Petrified Forest National Park" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Tiponi-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tiponi Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/petrifiedforestranger/5719734843/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/petrifiedforestranger/" rel="noopener noreferrer" target="_blank">
                                    Park Ranger</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colorful hilly landscape of the Painted Desert seen from Kachina Point in Petrified Forest National Park" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Kachina-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kachina Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/petrifiedforestnps/34290446523/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/petrifiedforestnps/" rel="noopener noreferrer" target="_blank">
                                    Petrified Forest NPS</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colored hills of the Painted Desert seen from Pintado Point in Northern Arizona's Petrified Forest National Park"
                        src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Pintado-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pintado Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glennwilliamspdx/31443388152/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glennwilliamspdx/" rel="noopener noreferrer" target="_blank">
                                    Glenn Scofield Williams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Hilly Painted Desert landscape viewed from Lacey Point along the road through Petrified Forest National Park"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Lacey-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lacey Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/puroticorico/2391795440/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/puroticorico/" rel="noopener noreferrer" target="_blank">
                                    Richie Diesterheft</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Painted Desert Overlooks Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="painted-desert-overlooks"></a>
        <h2 class="left-heading destination-section-heading">Painted Desert Overlooks</h2>
        <p>First you can drive along the loop road north of Highway 40 where the Visitor Center is located, where you'll find several great viewpoints overlooking the stunning landscape of the Painted Desert, including <strong>Tiponi Point</strong>, <strong>Kachina Point</strong>, <strong>Pintado Point</strong>, and <strong>Lacey Point</strong>. All of these viewpoints face different directions overlooking the vast Painted Desert, offering various perspectives.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Petrified Forest 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3533297230"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Blue Mesa Trail, Agate Bridge, Jasper Forest, and Crystal Forest Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Crystallized petrfied wooden log fossils in front of the blue mesa hills of Mesa Verde National Park, Eastern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Petrfied-Forest-National-Park-Blue-Mesas-and-Petrified-Logs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Petrfied Logs &amp; Blue Mesas</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/fr/photos/paysage-sc%C3%A9nique-for%C3%AAt-p%C3%A9trifi%C3%A9e-1591043/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                                    skeeze</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning blue and purples hills and cliffs seen along the Blue Mesa Trail of Arizona's Petrified Forest National Park"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Blue-Mesa-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Blue Mesa Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tlposcharsky/5674893826/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tlposcharsky/" rel="noopener noreferrer" target="_blank">
                                    Tlposcharsky</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small log of Agate Bridge located in Northern Arizona's Petrified Forest National Park"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Agate-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Agate Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gayle_n/463963747/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gayle_n/" rel="noopener noreferrer" target="_blank">
                                    Gayle Nicholson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient petrified wood logs along the purplish landscape of Petrified Forest National Park' Jasper Forest in Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Jasper-Forest.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jasper Forest</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andrew_kearns_photography/14736525130/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andrew_kearns_photography/" rel="noopener noreferrer" target="_blank">
                                    Andrew Kearns</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of a petrified wooden log seen along the Crystal Forest Trail at golden hour in Petrified Forest National Park"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Petrified-Forest-National-Park-Crystal-Forest.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crystal Forest Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/26886997980/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Blue Mesa Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="blue-mesa-trail"></a>
        <h2 class="left-heading destination-section-heading">Blue Mesa Trail</h2>
        <p>After enjoying the Painted Desert overlooks, you can take the extremely scenic route through the national park heading southwest until reaching Highway 180, which has a total length of about 29 miles (47 km). Along the way are many more viewpoints and trails, including the one of the park's most highly recommended hikes, the 1 mile (1.6 km) round-trip <strong>Blue Mesa Trail</strong>. This trail offers views over an otherworldly landscape of incredible bluish-purple hills.</p>
    </section>


    <!-- Agate Bridge and Jasper Forest Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="agate-bridge-and-jasper-forest"></a>
        <h2 class="left-heading destination-section-heading">Agate Bridge &amp; Jasper Forest</h2>
        <p>Further down the road you can stop at the <strong>Agate Bridge</strong> formation, which is a fallen petrified tree bridge and viewpoint overlooking the desert. There's also the possibility of hiking around and further exploring this area.</p>
        <p>Nearby the Agate Bridge is one of the most scenic viewpoints in the park, from which you can lookout over the colorful barren hills of the petrified <strong>Jasper Forest</strong>. This forest consists of endless logs of petrified wood spread out over a vast area.</p>
    </section>


    <!-- Crystal Forest Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="crystal-forest"></a>
        <h2 class="left-heading destination-section-heading">Crystal Forest</h2>
        <p>A bit further south along the highway is the other most highly recommended hike in the park, the 0.9 mile (1.4 km) round-trip <strong>Crystal Forest Trail</strong>. This pathway is very easy but incredibly scenic, passing by many crystalized logs of ancient petrified wood set amongst the desert.</p>
        <p>Many of the logs along the Crystal Forest Trail are very photogenic, and if you've ever seen photos of these amazing petrified logs up-close, the pictures were likely taken along this trail. This wonderland of crystal logs looks most photogenic around sunset.</p>
        <h3>Rainbow Forest Museum</h3>
        <p>Near the southern entrance / exit to the park you can visit the Rainbow Forest Museum, which houses some of the most beautiful crystalized logs found at the park, as well as prehistoric fossils of animals and dinosaurs found around this area of Arizona. Just outside of the museum is a short circular pathway filled with giant petrified logs.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Petrified Forest Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4629211892"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Petrified Forest National&nbsp;Park Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/TFUxDPokyuk9NXC3A">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        Flagstaff
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                            Jared</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day view of the Cathedral Rock butte behind tiny red rock waterfalls along a hiking trail in the Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Cathedral-Rock.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        Sedona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5601206171/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of Downtown Phoenix and surrounding urban sprawl from atop Piestewa Peak Summit in Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Piestewa-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        Phoenix
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/ggphoto36/6729057137/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/ggphoto36/" rel="noopener noreferrer" target="_blank">
                            Gary</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    