<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Iconic part of the Superstition Mountains at Lost Dutchman State Park seen along a hiking trail, Phoenix, Arizona Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Treasure-Loop-Trail-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Phoenix, Arizona + Superstition Mountains, and plan the perfect trip with our savable Phoenix Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="phoenix_arizona" />
    <meta name="usa_attraction_guides" content="phoenix_arizona" />
    <meta name="usa_destinations" content="phoenix_arizona" />
    <meta name="usa_destination_guides" content="phoenix_arizona" />
    <meta name="arizona_attraction_guides" content="phoenix" />
    <meta name="arizona_destinations" content="phoenix" />
    <meta name="arizona_destination_guides" content="phoenix" />
    <meta name="national_park_attraction_guides" content="tonto" />
    <meta name="national_park_attraction_guides" content="casa_grande" />
    <meta name="google_maps_list" content="phoenix" />
    <meta property="og:title" content="Phoenix, Arizona Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Treasure-Loop-Trail.jpg">
    <meta name="twitter:title" content="Phoenix, Arizona Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Treasure-Loop-Trail.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
    <title>Attractions Guide for Phoenix, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Phoenix, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#museums">Museums</a></div>
            <div><a href="#papago-park">Papago Park</a></div>
            <div><a href="#phoenix-suburbs">Phoenix Suburbs</a></div>
            <div><a href="#city-hikes">Phoenix Hikes</a></div>
            <div><a href="#lost-dutchman-state-park">Lost Dutchman</a></div>
            <div><a href="#tonto-national-monument">Tonto Dwellings</a></div>
            <div><a href="#gold-canyon-hikes">Gold Canyon</a></div>
            <div><a href="#casa-grande-ruins-national-monument">Casa Grande</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Phoenix Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Phoenix is the capital of Arizona and a major city within the USA that's surrounded by mountains and desert. The city's Downtown area is small but nice to walk around in and features great restaurants, bars, and shopping.</p>
    </section>


    <!-- Downtown Phoenix, Papago Park, and Phoenix Suburb Cities Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Aerial view overlooking the clustered buildings of Downtown Phoenix surrounded by spread out suburban neighborhoods" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Downtown-Phoenix.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Phoenix</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/cogdog/2404868660/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cogdog/" rel="noopener noreferrer" target="_blank">
                                    Alan Levine</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Night time view of the lovely preserved Rosson House Museum, an historic Victorian home in Downtown Phoenix" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Rosson-House-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rosson House Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/squeaks2569/6408552757/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/squeaks2569/" rel="noopener noreferrer" target="_blank">
                                    Alan Stark</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the Hole in the Rock behind a lake and palm trees at Phoenix's Papago Park"
                        src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Papago-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Papago Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jackketcham/27509994542/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jackketcham/" rel="noopener noreferrer" target="_blank">
                                    Jack Ketcham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior of the interstingly decorated stone Mystery Castle located near Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Mystery-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mystery Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ksblack99/14427991374/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ksblack99/" rel="noopener noreferrer" target="_blank">
                                    ksblack99</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Sunset view overlooking Phoenix, Arizona from behind the Dobbins Lookout stone structure atop South Mountain"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-South-Mountain-Dobbins-Lookout-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dobbins Lookout (South&nbsp;Mountain)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dobbins_Lookout_by_Gage_Skidmore.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gage" rel="noopener noreferrer" target="_blank">
                                    Gage Skidmore</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Corner in the upscale Downtown Scottsdale area with hagning lights, a suburb of Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Downtown-Scottsdale-Intersection.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Scottsdale</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/downtown-scottsdale-arizona-phoenix-4470084/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/ParsonsVillas-13598117/" rel="noopener noreferrer" target="_blank">
                                    ParsonsVillas</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>One of the top attractions in <strong>Downtown Phoenix</strong> is the 19th century <strong>Rosson House Museum</strong> at Heritage Square, a well-preserved Victorian home located in the heart of Downtown Phoenix.</p>
        <p>Just north of downtown you might like to visit the Phoenix Art Museum which features a variety of art from ranging from the Renaissance-era to modern art, as well as the Heard Museum focusing on Native American culture.</p>
    </section>


    <!-- Papago Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="papago-park"></a>
        <h2 class="left-heading destination-section-heading">Papago Park</h2>
        <p>The sprawling <strong>Papago Park</strong> is one of Phoenix's top attractions, as it is a massive public park showcasing the natural desert environment (although with many palm trees to make it even more beautiful).</p>
        <p>Within Papago Park you'll find some pleasant hiking trails, as well as the Hole in the Rock, a natural rock formation with several holes, one of which is a window, preserved in the middle of the city.</p>
        <h3>Desert Botanical Garden</h3>
        <p>Also within the park is the beautiful Desert Botanical Garden which gives visitors a glimpse into the different plant life found in the various desert environments of Arizona.</p>
    </section>


    <!-- Phoenix Suburbs Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="phoenix-suburbs"></a>
        <h2 class="left-heading destination-section-heading">Phoenix Suburbs</h2>
        <p>South of Phoenix is a strange but impressive stone structure built in the 1930s, called the <strong>Mystery Castle</strong>.</p>
        <h3>South Mountain Dobbins Lookout</h3>
        <p>Just a bit further south of the castle is South Mountain Park. Be sure to drive up to the <strong>Dobbins Lookout</strong> atop South Mountain in order to admire the gorgeous views overlooking Phoenix and its suburbs, set against the mountainous desert landscape.</p>
        <h3>Scottsdale, Arizona</h3>
        <p>Located to the east of Phoenix is the suburb of Scottsdale. <strong>Downtown Scottsdale</strong> is a charming area you may like to visit, which features many restaurants, boutiques, and shops centered around 5th Avenue.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Phoenix 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4021324349"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Phoenix Mountain Hikes and Lost Dutchman State Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking neighborhoods from atop Camelback Mountain in Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Camelback-Mountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Camelback Mountain Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/respres/6324040568/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/respres/" rel="noopener noreferrer" target="_blank">
                                    Jeff Turner</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Downtown Phoenix and surrounding urban sprawl from atop Piestewa Peak Summit in Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Piestewa-Peak.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piestewa Peak Summit Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ggphoto36/6729057137/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ggphoto36/" rel="noopener noreferrer" target="_blank">
                                    Gary</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wild west style buildings of Goldfield Ghost Town with the Lost Dutchman Superstition Mountains in background near Phoenix"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Goldfield-Ghost-Town.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Goldfield Ghost&nbsp;Town</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/etzel42/29352362460/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/etzel42/" rel="noopener noreferrer" target="_blank">
                                    J Etzel</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View high above the valley seen from atop the Flat Iron of the Superstition Mountains of Lost Dutchman State Park near Phoenix"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Flat-Iron.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Flat-Iron Trail (Lost&nbsp;Dutchman)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/smojo/8434341332/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/smojo/" rel="noopener noreferrer" target="_blank">
                                    Steve</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Superstition Mountains of Lost Dutchman State Park from the Treasure Loop Trail near Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Treasure-Loop-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Treasure Loop Trail (Lost&nbsp;Dutchman)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ksblack99/39380402402/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ksblack99/" rel="noopener noreferrer" target="_blank">
                                    ksblack99</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="The Dolly Steamboat at the end of a pier parked along Canyon Lake outside Phoneix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Dolly-Steamboat.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Dolly Steamboat</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ksblack99/38539707252/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ksblack99/" rel="noopener noreferrer" target="_blank">
                                    ksblack99</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Phoenix Mountain Hikes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="city-hikes"></a>
        <h2 class="left-heading destination-section-heading">Phoenix Mountain Hikes</h2>
        <p>Surrounding the city of Phoenix are many tall mountains, two of which are extremely popular for hiking and offer fantastic views overlooking the sprawling urban city and surrounding desert. Both trails are moderately short but have a steep elevation gain.</p>
        <h3>Camelback Mountain</h3>
        <p>The 2.4 mile (3.9 km) round-trip <strong>Camelback Mountain Trail</strong> (from Cholla Trail) is the more popular of the two trails, and can alternatively be hiked from the Echo Canyon Trailhead with the same round-trip trail distance as from the Cholla Trailhead. This mountain offers amazing views over Phoenix and especially Scottsdale, as it is located enxt to Downtown Scottsdale.</p>
        <h3>Piestewa Peak Summit Trail</h3>
        <p>The 1.9 mile (3.1 km) round-trip <strong>Piestewa Peak Summit Trail</strong> also offers excellent views over Phoenix and is located northeast of Downtown Phoenix.</p>
    </section>


    <!-- Lost Dutchman State Park / Superstition Mountains Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lost-dutchman-state-park"></a>
        <h2 class="left-heading destination-section-heading">Lost Dutchman State Park &amp; Superstition&nbsp;Mountains</h2>
        <h3>Goldfield Ghost Town</h3>
        <p>On the eastern outskirts of Phoenix you'll find the <strong>Goldfield Ghost Town</strong>, a small touristic replica of an old Wild West town. Also notable nearby is the the lengthy-named Superstition Mountain Lost Dutchman Museum. The ghost town sits near the beginning of the vast across the street from the Lost Dutchman State Park where you'll find great hiking trails.</p>
        <h3>Hiking Trails</h3>
        <p>If you'd like to hike to the top of these striking mountains you can take the 6.2 mile (10 km) round-trip <strong>Siphon Draw Trail to The Flat-Iron</strong> which offers spectacular views and beautiful desert scenery. Just be aware this trail is quite challenging, as it has an elevation gain of about 3,000 feet (900 m).</p>
        <p>An easier trail that still offers amazing views of the Flat-Iron is the 2.3 mile (3.7 km) round-trip <strong>Treasure Loop Trail</strong>, which begins adjacent to the Siphon Draw Trailhead.</p>
        <h3>Dolly Steamboat &amp; Tortilla Flat</h3>
        <p>From Lost Dutchman Park you can take the scenic drive up Highway 88 surrounded by mountains and desert. You can stop at Canyon Lake to take a unique Steamboat Tour along a gorgeous canyon river in the middle of the desert if you like, on the <strong>Dolly Steamboat</strong>. Continuing along Highway 88 is another Wild West themed stop, called Tortilla Flat.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Phoenix 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2556199435"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Tonto National Monument, Gold Canyon Hikes, and Casa Grande National Monument Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Native American cliff dwellings in a cactus-covered alcove of Tonto National Monument outside Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Tonto-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tonto National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/8556701403/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant gardens of the Boyce Thompson Arbortoreum set amongst the desert cliffs outside Phoneix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Boyce-Thompson-Arboretum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Boyce Thompson Arbortoreum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/budellison/39018729844/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/budellison/" rel="noopener noreferrer" target="_blank">
                                    Bud Ellison</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pathway along the Hieroglyphic Trail of Gold Canyon in the Superstition Mountains"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Hieroglyphic-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hieroglyphic Trail (Gold&nbsp;Canyon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/eaglemoorehouses/27263177099/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/eaglemoorehouses/" rel="noopener noreferrer" target="_blank">
                                    arendveenhuizen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the Peralta Trail which ventures into the Gold Canyon section of the Superstition Mountains outside Phoenix"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Peralta-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Peralta Trail (Gold&nbsp;Canyon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/taylordaal/39317820424/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/taylordaal/" rel="noopener noreferrer" target="_blank">
                                    D. Taylor in Idaho</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning Weavers Needle formation towering above the valley along Gold Canyon's Peralta Trail in the Superstition Mountains" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Peralta-Trail-Weavers-Needle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Weavers Needle (Peralta&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/neepster/1431117222/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/neepster/" rel="noopener noreferrer" target="_blank">
                                    Chris J</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ruins of the 14th century Native American structure known as Casa Grande Ruins National Monument located south of Phoenix" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Casa-Grande-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa Grande National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ksblack99/38539217552/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ksblack99/" rel="noopener noreferrer" target="_blank">
                                    ksblack99</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Tonto National Monument Cliff Dwellings Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="tonto-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Tonto National Monument</h2>
        <p>Just before reaching Tonto National Monument heading east from Phoenix you might like to stop to admire the Theodore Roosevelt Dam which holds back a large desert lake.</p>
        <p>Just beyond the dam you'll find the Native American cliff dwellings of <strong>Tonto National Monument</strong>. The Lower Cliff Dwelling can be reached via an easy 0.8 mile (1.3 km) round-trip hike, and the Upper Cliff Dwellings can be reached with a 2.4 mile (3.9 km) round-trip hike.</p>
        <h3>Boyce Thompson Arbortoreum</h3>
        <p>Along the southern side of the Superstition Mountains you might consider visiting the beautiful lush <strong>Boyce Thompson Arbortoreum</strong>, a giant botanical garden in the middle of the desert that you can explore. This oasis-like garden is located east of the hiking trails of the Gold Canyon area.</p>
    </section>



    <!-- Gold Canyon Hiking Trails Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="gold-canyon-hikes"></a>
        <h2 class="left-heading destination-section-heading">Gold Canyon Hiking Trails</h2>
        <h3>Hieroglyphic Trail</h3>
        <p>On the southern side of the Superstition Mountains you'll find several notable hikes, including the 2.8 mile (4.5 km) round-trip <strong>Hieroglyphic Trail</strong> which features a seasonal waterfall, desert scenery, and Native American hieroglyphics.
        <h3>Peralta Trail</h3>
        <p>A more challenging and beautiful hike is the 4.9 mile (7.9 km) round-trip <strong>Peralta Trail</strong> on the southern side of the Superstitions, which ventures through an incredible desert landscape passing formations such as the <strong>Weavers Needle</strong>.
        <h3>Wave Cave</h3>
        <p>Nearby you can hike the 3 mile (4.8 km) round-trip Wave Cave Trail, which features an incredible wave rock formation inside of a cave.</p>
    </section>



    <!-- Casa Grande Ruins National Monument Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="casa-grande-ruins-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Casa Grande Ruins National&nbsp;Monument</h2>
        <p>One more attraction to consider in the Phoenix area is <strong>Casa Grande Ruins National Monument</strong>, which showcases an impressive 14th century Native American building, located approximately 55 miles (88 km) southwest of Central Phoenix.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Phoenix Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8040460408"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Phoenix Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/NLEw3boHahN2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/3LN5oDyP6mS2">&rArr; All Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/6bNq5FBRMJq">&rArr; Greater Phoenix</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day view of the Cathedral Rock butte behind tiny red rock waterfalls along a hiking trail in the Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Cathedral-Rock.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        Sedona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5601206171/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        Flagstaff
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                            Jared</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient petrified wood logs along the purple landscape of Petrified Forest National Park's Jasper Forest in Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Northeastern-Arizona-Jasper-Forest.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        Petrified Forest National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andrew_kearns_photography/14736525130/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andrew_kearns_photography/" rel="noopener noreferrer" target="_blank">
                            Andrew Kearns</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    