<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View from the Airport Mesa Vortex overlooking Courthouse Butte, Bell Rock, and other famous rock formations of Sedona, Arizona Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/arizona/Arizona-Sedona-Airport-Mesa-Vortex-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and hiking trails in Sedona, Arizona, and plan the perfect trip with our savable Sedona Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="sedona_arizona" />
    <meta name="usa_attraction_guides" content="sedona_arizona" />
    <meta name="usa_destinations" content="sedona_arizona" />
    <meta name="usa_destination_guides" content="sedona_arizona" />
    <meta name="arizona_attraction_guides" content="sedona" />
    <meta name="arizona_destinations" content="sedona" />
    <meta name="arizona_destination_guides" content="sedona" />
    <meta name="national_park_attraction_guides" content="montezuma_castle" />
    <meta name="national_park_attraction_guides" content="montezuma_well" />
    <meta name="google_maps_list" content="sedona" />
    <meta property="og:title" content="Sedona, Arizona Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/arizona/Arizona-Sedona-Airport-Mesa-Vortex-View.jpg">
    <meta name="twitter:title" content="Sedona, Arizona Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/arizona/Arizona-Sedona-Airport-Mesa-Vortex-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
    <title>Attractions Guide for Sedona, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Sedona, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#city-of-sedona">City of Sedona</a></div>
            <div><a href="#airport-mesa">Airport Mesa</a></div>
            <div><a href="#bell-rock">Bell Rock</a></div>
            <div><a href="#cathedral-rock">Cathedral Rock</a></div>
            <div><a href="#devils-bridge">Devil's Bridge</a></div>
            <div><a href="#west-sedona-hikes">More Hikes</a></div>
            <div><a href="#oak-creek">Oak Creek</a></div>
            <div><a href="#montezuma-castle">Montezuma Castle</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Sedona Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>This beautiful city in Northern Arizona is surrounded by striking red rock scenery and formations in every direction with countless opportunities for hiking and outdoor activities.</p>
        <p>North from Sedona along Highway 89 is the city of Flagstaff, and the route between the two cities is incredibly scenic and highly recommended to drive. This route winds through forest-covered red canyons before reaching the high-altitude pine forests that surround Flagstaff.</p>
    </section>


    <!-- City of Sedona and Airport Mesa Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Shops lining Sedona's Main Street beneath scenic red rock cliffs and formations" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Downtown-Sedona.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sedona Main Street</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sedona_RedRock_Street.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Sedona_RedRock_Street.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Jpatokal</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking up at the stunning cross-shaped wall of the Chapel of the Holy Cross built into the red rock above Sedona" 
                        src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Chapel-of-the-Holy-Cross.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chapel of the Holy&nbsp;Cross</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29237715@N05/6427152117/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29237715@N05/" rel="noopener noreferrer" target="_blank">
                                    Noel Reynolds</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colored flags above the Buddhist shrine park known as the Amitabha Stupa and Peace Park in Sedona, Arizona"
                        src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Amitabha-Stupa-and-Peace-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amitabha Stupa &amp; Peace&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iip-photo-archive/40005830244/in/photolist-nGaSc7-PByyc-s2a4p1-6G8PFg-ZdNWjY-23XbkxS" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iip-photo-archive/" rel="noopener noreferrer" target="_blank">
                                    IIP Photo Archive</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View over famous buttes of Sedona including Bell Rock and Courthouse Butte from atop Sedona's Airport Mesa Vortex"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Airport-Mesa-Vortex-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Airport Mesa Vortex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/sedona-arizona-landscape-desert-436739/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/SoCali-274252/" rel="noopener noreferrer" target="_blank">
                                    SoCali</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking Western Sedona and surrounding mountains from atop the Sedona Airport Overlook"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Sedona-Airport-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sedona Airport Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jared422/34937731493/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                                   Jared</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- City of Sedona Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="city-of-sedona"></a>
        <h2 class="left-heading destination-section-heading">City of Sedona</h2>
        <p>The city of Sedona is very lovely and features many great restaurants, resorts, and art galleries, as well as many interesting shops selling unique decorations, art, crystals, and new age/metaphysical items. Most of these places you'll find spread out along the town's main road from Highway 89 to Highway 179, near Sinagua Plaza.</p>
        <p>Along Highway 179 you'll find many more unique stores and art galleries to explore, including the charming Tlaquepaque Arts & Crafts Village, as well as the Son-Silver-West Galleries Inc featuring an expansive collection of one-of-a-kind decor.</p>
        <h3>Chapel of the Holy Cross</h3>
        <p>One of the most incredible man-made structures you'll find in Sedona is the must-see <strong>Chapel of the Holy Cross</strong>, which is aesthetically built into the red rock cliffs and offers gorgeous panoramic views over this picturesque landscape.</p>
        <h3>Amitabha Stupa</h3>
        <p>Another impressive sight in town is the <strong>Amitabha Stupa and Peace Park</strong>, a beautiful Buddhist shrine located in West Sedona.</p>
    </section>


    <!-- Airport Mesa Vortex Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="airport-mesa"></a>
        <h2 class="left-heading destination-section-heading">Airport Mesa Vortex</h2>
        <p>Around the city there are several spots that are said to be energy vortexes which also offer stunning views, the most popular being the <strong>Airport Mesa Vortex</strong>. This vortex which sits atop a rocky mesa hill near the airport and offers breathtaking panoramic views over Southern Sedona and many surrounding natural features. The vortex is accessible via a very short hike from the parking area.</p>
        <p>Also near the airport is the <strong>Sedona Airport Overlook</strong>, which looks out over Western Sedona with towering gorgeous red rock cliffs and mountains behind the city.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sedona 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3272732349"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Bell Rock, Cathedral Rock, and Devil's Bridge Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Direct view of the bell-shaped Bell Rock, a popular vortex spot in Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Bell-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bell Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/134895368@N02/20847116829/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/134895368@N02/" rel="noopener noreferrer" target="_blank">
                                    Mitch Heider</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking Courthouse Butte formation rising above the red rock landscape seen along Sedona's Courthouse Butte Loop Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Courthouse-Butte.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Courthouse Butte Loop Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/scottb211/4739929674/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/scottb211/" rel="noopener noreferrer" target="_blank">
                                    Scott Blackwell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cloudy day view of the Cathedral Rock butte behind tiny red rock waterfalls along a hiking trail in the Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Cathedral-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/5601206171/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking stunning red cliffs and red rock formations of Sedona from the Broken Arrow Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Broken-Arrow-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Broken Arrow Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/coconinonationalforest/4107469296/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/coconinonationalforest/" rel="noopener noreferrer" target="_blank">
                                    Coconino National Forest</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hikers walking atop the famous Devil's Bridge natural red rock bridge formation near Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Devils-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/126896828@N05/30893343653/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/126896828@N05/" rel="noopener noreferrer" target="_blank">
                                    Brad Fagan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking red rock cliffs rising above the forests seen along the Soldier Pass hikin trail in Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Soldier-Pass-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Soldier Pass Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/coconinonationalforest/26145001872/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/coconinonationalforest/" rel="noopener noreferrer" target="_blank">
                                    Coconino National Forest</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bell Rock and Courthouse Butte Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bell-rock"></a>
        <h2 class="left-heading destination-section-heading">Bell Rock &amp; Courthouse Butte</h2>
        <p>Just south of Sedona near the Chapel of the Holy Cross are two of Sedona's most beautiful red rock formations, Bell Rock and Cathedral Rock.</p>
        <p><strong>Bell Rock</strong> is said to be another energy vortex and can be very fun to hike on, as the red rock trail is very scenic. You can simply hike up to and on top of Bell Rock and take in amazing views, with a round-trip hiking distance of approximately 1 mile (1.6 km), or take the 1.8 mile (2.9 km) round-trip Bell Rock Loop Trail around the entire rock.</p>
        <p>There's even the option of walking the longer 3.6 mile (5.8 km) round-trip <strong>Courthouse Butte Loop Trail</strong> which loops around Bell Rock and the impressive Courthouse Rock.</p>
    </section>


    <!-- Cathedral Rock Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cathedral-rock"></a>
        <h2 class="left-heading destination-section-heading">Cathedral Rock</h2>
        <p>Not far from Bell Rock is the massive <strong>Cathedral Rock</strong> formation, which you can hike to the top of and take in majestic views from, with a round-trip hiking distance of about 1.2 miles (1.9 km).</p>
        <h3>Broken Arrow Trail</h3>
        <p>Another notable trail in town is the easy 3.2 mile (5.1 km) round-trip <strong>Broken Arrow Trail</strong> which ventures out amongst some of the marvelous buttes and mesas.</p>
    </section>


    <!-- Devil's Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="devils-bridge"></a>
        <h2 class="left-heading destination-section-heading">Devil's Bridge</h2>
        <p>Northwest of Sedona is another incredibly popular and highly recommended hike, the 4.2 mile (6.8 km) round-trip <strong>Devil's Bridge Trail</strong>, which offers fantastic vistas and scenery along the way to this stunning natural bridge formation.</p>
        <h3>Soldier Pass Trail</h3>
        <p>Another gorgeous hike nearby the Devil's Bridge Trail is the 4.1 mile (6.6 km) round-trip <strong>Soldier Pass Trail</strong>, which offers astounding views over the many red rock buttes, mesas, and cliffs, as well as smaller formations such as the Seven Sacred Pools.</p>
        <p>Either of these trails can be extended if you'd like to explore further amongst this scenic forested red rock landscape, or you can even combine Soldier Pass and Devil's Bridge with a round-trip hiking distance of about 11.2 miles/18 km (or 7.5 miles/12.1 km with a taxi/Uber ride between the trailheads).</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sedona2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4439292592"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- West Sedona Hikes Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the rounded rock atop which is the Boynton Pass Vortex in Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Boynton-Pass-Vortex.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Boynton Pass Vortex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dennyarmstrong/7219880246/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dennyarmstrong/" rel="noopener noreferrer" target="_blank">
                                    Denny Armstrong</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the beautiful Boynton Canyon hiking trail surrounded by red rock cliffs in Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Boynton-Canyon-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Boynton Canyon Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dsoltesz/3355831404/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dsoltesz/" rel="noopener noreferrer" target="_blank">
                                    Deborah Lee Soltesz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour colors glowing the canyon walls above the Fay Canyon hiking trail in Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Fay-Canyon-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fay Canyon Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dsoltesz/3294448162/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dsoltesz/" rel="noopener noreferrer" target="_blank">
                                    Deborah Lee Soltesz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking many mountains and red rock cliffs from high above atop the Bear Mountain hiking trail in Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Bear-Mountain-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bear Mountain Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/coconinonationalforest/35277105945/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/coconinonationalforest/" rel="noopener noreferrer" target="_blank">
                                    Coconino National Forest</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Close-up view of historic Native American cliff dwellings below the canyon walls at the Palatiki Heritage Site in Sedona" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Palatki-Heritage-Site.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palatki Heritage Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/scubabix/41568733744/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/scubabix/" rel="noopener noreferrer" target="_blank">
                                    Rob Bixby</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- West Sedona Hiking Trails Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="west-sedona-hikes"></a>
        <h2 class="left-heading destination-section-heading">West Sedona Hiking Trails</h2>
        <h3>Boynton Pass Vortex &amp; Boynton&nbsp;Canyon Trail</h3>
        <p>To the west of Devil's Bridge is another mystical vortex, the <strong>Boynton Pass Vortex</strong>, which you can reach via a 1.2 mile (1.9 km) round-trip hike. From atop this vortex you can enjoy excellent views, with the option of extending the hike to an easy hike 6.6 mile (10.6 km) round-trip hike along the beautiful Boynton Canyon Trail deep into the wilderness.</p>
        <h3>Fay Canyon Trail</h3>
        <p>A shorter canyon hike in the area near Boynton Pass is the popular 2.2 mile (3.5 km) round-trip <strong>Fay Canyon Trail</strong>, which doesn't include the vortex.</p>
        <h3>Bear Mountain Trail</h3>
        <p>Further west from Boynton Pass you might consider the challenging 4.3 mile (6.9 km) round-trip hike up <strong>Bear Mountain Trail</strong> that offers breathtaking views over the vast forested red rock landscape below.</p>
        <h3>Palatiki Cliff Dwellings</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>A bit further west of Bear Mountain is the <strong>Palatki Heritage Site</strong>, which features remarkable Native American cliff dwellings below a scenic red rock canyon. You can view these dwellings along with ancient pictographs along the site's 0.9 mile (1.4 km) round-trip trail.</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sedona 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3126210922"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Oak Creek: Slide Rock State Park and West Fork Trail, and Montezuma Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Swimmers enjoying the slick natural slide-like creek of Slide Rock State Park in Oak Creek Canyon near Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Slide-Rock-State-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Slide Rock State&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bootbearwdc/4936284391/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bootbearwdc/" rel="noopener noreferrer" target="_blank">
                                    David</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Early Fall colored trees and their reflection in the water along Oak Creek Canyon's West Fork Trail outside Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Oak-Creek-Canyon-West-Fork-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">West Fork Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iip-photo-archive/38898480070" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iip-photo-archive/" rel="noopener noreferrer" target="_blank">
                                    IIP Photo Archive</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the famous Native American cliff dwellings of Montezuma Castle National Monument near Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Montezuma-Castle-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Montezuma Castle<br />National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/azchristopher/107748516/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/azchristopher/" rel="noopener noreferrer" target="_blank">
                                    Christopher Patterson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the Native American cliff dwellings above the water at Montezuma Well National Monument near Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Montezuma-Well-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Montezuma Well<br />National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ksblack99/24698410408/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ksblack99/24698410408/" rel="noopener noreferrer" target="_blank">
                                    ksblack99</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Oak Creek Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="oak-creek"></a>
        <h2 class="left-heading destination-section-heading">Oak Creek</h2>
        <h3>Slide Rock State Park</h3>
        <p>North of Sedona along Highway 89 is another great attraction, <strong>Slide Rock State Park</strong>, where Oak Creek forms long smooth natural water slides that you can slide down. This area is very beautiful and a popular place for lounging along the red rock as well as cliff jumping into the deeper parts of the creek.</p>
        <h3>West Fork Trail</h3>
        <p>Just north of Slide Rock State Park is the extremely popular <strong>West Fork Trail</strong>, which ventures into a heavily wooded red rock canyon alongside the serene west fork of Oak Creek. The total in and back length of this trail is about 7.2 miles, however you can make this hike shorter by turning around whenever you please. Overall the trail is relatively flat and easy-going.</p>
    </section>



    <!-- Montezuma Castle National Monument Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="montezuma-castle"></a>
        <h2 class="left-heading destination-section-heading">Montezuma Castle National&nbsp;Monument</h2>
        <p>Approximately 40 minutes south of Sedona is a stunning pre-Colombian Native American cliff dwelling, called <strong>Montezuma Castle National Monument</strong>. The impressive structure only requires a short walk to admire and is highly recommended.</p>
        <h3>Montezuma Well</h3>
        <p>Nearby Montezuma Castle is <strong>Montezuma Well National Monument</strong>, a unique round lake surrounded by cliff dwellings built into the walls above the lake. The Montezuma Castle and Well are located along the route between Phoenix and Sedona.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sedona Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6727378731"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Sedona Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/opJLp8eD2Gz">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/5nnLeBhjuoy">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        Flagstaff
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                            Jared</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of Downtown Phoenix and surrounding urban sprawl from atop Piestewa Peak Summit in Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Piestewa-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        Phoenix
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/ggphoto36/6729057137/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/ggphoto36/" rel="noopener noreferrer" target="_blank">
                            Gary</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient petrified wood logs along the purple landscape of Petrified Forest National Park's Jasper Forest in Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Northeastern-Arizona-Jasper-Forest.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        Petrified Forest National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andrew_kearns_photography/14736525130/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andrew_kearns_photography/" rel="noopener noreferrer" target="_blank">
                            Andrew Kearns</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    