<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Desert View Watchtower and view along the South Rim of Grand Canyon National Park, Arizona Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Desert-View-Watchtower-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions & hiking trails of Grand Canyon National Park, Arizona and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="grand_canyon_national_park_arizona" />
    <meta name="usa_attraction_guides" content="grand_canyon_arizona" />
    <meta name="usa_destinations" content="grand_canyon_arizona" />
    <meta name="usa_destination_guides" content="grand_canyon_arizona" />
    <meta name="arizona_attraction_guides" content="grand_canyon_national_park" />
    <meta name="arizona_destinations" content="grand_canyon_national_park" />
    <meta name="arizona_destination_guides" content="grand_canyon_national_park" />
    <meta name="national_park_attraction_guides" content="grand_canyon" />
    <meta name="google_maps_list" content="grand_canyon_national_park" />
    <meta property="og:title" content="Grand Canyon, Arizona Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Desert-View-Watchtower.jpg">
    <meta name="twitter:title" content="Grand Canyon, Arizona Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Desert-View-Watchtower.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
    <title>Attractions Guide for South Rim Grand Canyon, Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>South Rim Grand&nbsp;Canyon<br />National&nbsp;Park, Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#grand-canyon-village">Grand Canyon Village</a></div>
            <div><a href="#bright-angel-trail">Bright Angel Trail</a></div>
            <div><a href="#west-viewpoints">West Viewpoints</a></div>
            <div><a href="#south-kaibab-trail">South Kaibab Trail</a></div>
            <div><a href="#east-viewpoints">East Viewpoints</a></div>
            <div><a href="#desert-view-watchtower">Desert View Tower</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to South Rim Grand Canyon National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The South Rim of the Grand Canyon is the main tourist destination within the massive Grand Canyon National Park. This area is very well-developed and features over 20 miles (32 km) of easily accessible viewpoints along the rim, each one offering a different perspective. It's highly recommended to see as many of the viewpoints within the park as possible, especially the ones accessible by vehicle.</p>
    </section>


    <!-- Grand Canyon Village and Bright Angel Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Famous Mather Point view overlooking the Grand Canyon's South Rim at Grand Rim Village" 
                        src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Mather-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mather Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/grand_canyon_nps/5446230979/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                                    Grand Canyon National Park</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Sunset colors overlooking the Grand Canyon from Yavapai Point in Grand Canyon Village" 
                        src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Yavapai-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Yavapai Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sergeigussev/37741664756/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergeigussev/" rel="noopener noreferrer" target="_blank">
                                    Sergei Gussev</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning brick Lookout Studio structure built into wall of the South Rim of the Grand Canyon"
                        src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Lookout-Studio.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lookout Studio</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/grand_canyon_nps/8537170275/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                                    Grand Canyon National Park</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Three Mile Resthouse viewpoint along the Bright Angel hiking trail below the South Rim of the Grand Canyon"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Three-Mile-Resthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Three Mile Resthouse<br />(Bright&nbsp;Angel&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/clairity/32631959393/in/photolist-RHzjDx-a3uoy8-psgryJ-B35guM-bhETwz-4326EM-9K4s1Z-pJu4LX-dx5snS-psbc3i-JY6YM3-a4WcUU-ciNzbE-Sam6S2-JVTZuS-pJpxvV-b792bc-bdwQtH-a45c8d-bZHfqE-25vGcUq-dYPXB2-krL3Ey-bdrsNB-9NbgKe-enMXVv-a4WfF3-dc571s-a4Trnx-eEBGST-ap3kqV-dMCLF6-dc56n8-e1KGSj-e1ELgL-j3M34D-dc5688-dc56C4-eECq1D-dg8uCT-eonCSj-8f1WVz-9JQUSw-iRxWtd-bdrtVZ-25eERrF-dg8w4T-9eh8qP-jgszZa-jgsCZt/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/clairity/" rel="noopener noreferrer" target="_blank">
                                    Sharon Mollerus</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking the Colorado River below the Grand Canyon from Plateua Point along Bright Angel Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Plateau-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plateau Point<br />(Bright&nbsp;Angel&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brewbooks/5747508601/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brewbooks/" rel="noopener noreferrer" target="_blank">
                                   J Brew</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Grand Canyon Village Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="grand-canyon-village"></a>
        <h2 class="left-heading destination-section-heading">Grand Canyon Village</h2>
        <p>Upon reaching the rim after entering the park from the west via Highway 64 you'll reach Grand Canyon Village, a small town located along the rim with hotels, camping, restaurants, and the visitor center. Here you'll find the two most visited viewpoints overlooking the Grand Canyon, <strong>Mather Point</strong> and nearby <strong>Yavapai Point</strong>.</p>
        <p>Also in Grand Canyon Village is the Native arts <strong>Lookout Studio</strong>, which sits on the rim providing another view over the canyon.</p>
    </section>


    <!-- Bright Angel Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bright-angel-trail"></a>
        <h2 class="left-heading destination-section-heading">Bright Angel Trail</h2>
        <p>Very-close by the Lookout Studio of Grand Canyon Village is the trailhead for the park's most popular long-distance hike along Bright Angel Trail. Technically this trail can be followed all the way to the bottom of the canyon and up to the other side, but be aware that even reaching the bottom of this vast canyon and the Colorado River is a multiple day hike.</p>
        <p>The best option is to hike the 6 mile (9.7 km) round-trip trail to the <strong>Three Mile Resthouse</strong>, which is literally located 3 miles (4.8 km) into the descent down the canyon, with a total elevation gain of approximately 2,100 feet (640 m).</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>For a longer distance hike along this trail you might continue down Bright Angel Trail and connect to the Plateau Point Trail, which comes very close to the Colorado River ending at a stunning overlook (<strong>Plateau Point</strong>).</p>
            <p>This hike is approximately 12.3 miles (19.8 km) round-trip with about 3,200 feet (980 m) of elevation gain. To reach the Colorado River it's about 19 miles (30.1 km) round-trip and nearly 1 mile (1.6 km) of elevation gain, with the Bright Angel Campground as your mid-point before heading back up the canyon.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- South Rim Grand Canyon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5414297068"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Grand Canyon Western Viewpoints and South Kaibab Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching golden hour views overlooking the South Rim of Grand Canyon National Park from Hopi Point"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Hopi-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hopi Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/58869428@N05/7860582268/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                                    Todd Petrie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching views over the Colorado River from Mohave Point atop the South Rim of the Grand Canyon"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Mohave-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mohave Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/366481056/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="High noon view overlooking the Grand Canyon from Pima Point along the canyon's south rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Pima-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pima Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/grand_canyon_nps/5446227123/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                                    Grand Canyon National Park</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ooh Aah Point<br />(South&nbsp;Kaibab&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                                    Bruno S.-Andrade Nuno</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour views over the Grand Canyon from Cedar Ridge along the South Kaibab Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Cedar-Ridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cedar Ridge<br />(South&nbsp;Kaibab&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/achillifamily/21289321541/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/achillifamily/" rel="noopener noreferrer" target="_blank">
                                    Achilli Family Journeys</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from Skeleton Point deep below the South Rim of the Grand Canyon seen along South Kaibab Trail"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Skeleton-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skeleton Point<br />(South&nbsp;Kaibab&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/amelungc/2822479411/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/amelungc/" rel="noopener noreferrer" target="_blank">
                                    Chris Amelung</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Western Viewpoints (Hermit Road) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="west-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Western Viewpoints (Hermit&nbsp;Road)</h2>
        <p>West of Grand Canyon Village along Hermit Road are several viewpoints overlooking the canyon, the most notable being <strong>Hopi Point</strong>, <strong>Mohave Point</strong>, and <strong>Pima Point</strong> (in order from east to west). The most popular among these are Hopi Point and Pima Point, which are also great places to watch the sunset from.</p>
        <p>During the winter you can drive to all of these viewpoints, however from March-November you can only access them via free shuttle, which starts from Grand Canyon Village. All of these points are also connected via the Rim Trail which follows along the rim to the South Kaibab Trailhead near Yaki Point.</p>
    </section>


    <!-- South Kaibab Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="south-kaibab-trail"></a>
        <h2 class="left-heading destination-section-heading">South Kaibab Trail</h2>
        <p>Just east of Grand Canyon Village is another extremely popular trail that descends into the canyon, the South Kaibab Trail, which starts near the neighboring Yaki Viewpoint. It's highly recommended to hike part of this trail as the views it provides over and into the canyon are incredible.</p>
        <p>You can hike this trail down to <strong>Ooh Aah Point</strong> (1.8 miles/2.9 km round-trip and 700 feet/200 meters of elevation gain), <strong>Cedar Ridge</strong> (3.1 miles/5 km round-trip and 1,200 feet/370 meters of elevation gain), or to <strong>Skeleton Point</strong> (5.6 miles/9 km round-trip and 2,000 feet/600 meters of elevation gain).</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>If you'd like, you can even hike this trail all the way down to the Colorado River and up to the North Rim of the Grand Canyon which is much further. The Cedar Ridge route is the most popular end point along the South Kaibab Trail.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- South Rim Grand Canyon 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2252947105"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Grand Canyon East Viewpoints and Desert View Watchtower Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible views seen from Grandview Point along the South Rim of Grand Canyon National Park in Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Grandview-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grandview Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jared422/35573708772/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                                    Jared</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching views overlooking the Grand Canyon observed from Moran Point along the South Rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Moran-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Moran Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jared422/35702407976/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                                    Jared</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful views over the Grand Canyon from Lipan Point along the Grand Canyon's South Rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Lipan-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lipan Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/6339119603/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking views over a desolate section of the Grand Canyon seen from Navajo Point along the South Rim"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Navajo-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Navajo Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/inazakira/5293170125/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/inazakira/" rel="noopener noreferrer" target="_blank">
                                    inazakira</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Multi-story brick-built Desert View Watchtower beside the cliffs of the Grand Canyon's South Rim with sweeping views" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Desert-View-Watchtower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Desert View Watchtower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/8690088219/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!--Eastern Viewpoints (Desert View Drive) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="east-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Eastern Viewpoints (Desert&nbsp;View&nbsp;Drive)</h2>
        <p>After enjoying the views in Grand Canyon Village and the western rim, be sure to visit the amazing viewpoints spread far apart along Highway 64 (Desert View Drive) to the east, as they offer very different perspectives over different parts of this behemoth canyon.</p>
        <p>Approximately 10 miles east of the Visitor Center is the first major viewpoint, <strong>Grandview Point</strong>, which is one of the most popular and stunning overlooks in the park. Continue along to another excellent viewpoint down the road, <strong>Moran Point</strong>. These two breathtaking viewpoints are located far apart from each other and are both very highly recommended.</p>
        <p>Afterwards you might like to stop at two more viewpoints overlooking the Grand Canyon, <strong>Lipan Point</strong> and nearby <strong>Navajo Point</strong>, which both offer slightly different perspectives.</p>
    </section>


    <!-- Desert View Watchtower Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="desert-view-watchtower"></a>
        <h2 class="left-heading destination-section-heading">Desert View Watchtower</h2>
        <p>Lastly before leaving the park, be sure to visit the <strong>Desert View Watchtower</strong>, which is located just before the exit near Navajo Point. This tower is an impressive stone structure with its interior decorated with petroglyph-like murals and art. You can take in gorgeous views from the tower's windows, as well as from the overlook outside.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- South Rim Grand Canyon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9939865433"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save South Rim Grand&nbsp;Canyon Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/k3UJPYKcAZL2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/gqxrm3hnHPT2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive 1,000 year old Native American structure containing many rooms at Wupatki National Monument near Flagstaff, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Flagstaff-Wupatki-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/flagstaff-attractions-guide">
                        Flagstaff
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jared422/34900877554/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                            Jared</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day view of the Cathedral Rock butte behind tiny red rock waterfalls along a hiking trail in the Sedona, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Cathedral-Rock.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/sedona-attractions-guide">
                        Sedona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5601206171/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of Downtown Phoenix and surrounding urban sprawl from atop Piestewa Peak Summit in Phoenix, Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Phoenix-Piestewa-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/phoenix-attractions-guide">
                        Phoenix
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/ggphoto36/6729057137/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/ggphoto36/" rel="noopener noreferrer" target="_blank">
                            Gary</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient petrified wood logs along the purple landscape of Petrified Forest National Park's Jasper Forest in Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Northeastern-Arizona-Jasper-Forest.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">
                        Petrified Forest National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/andrew_kearns_photography/14736525130/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/andrew_kearns_photography/" rel="noopener noreferrer" target="_blank">
                            Andrew Kearns</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    