<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Colorful homes and boats along the Nyhavn Canal of Copenhagen, Denmark Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Nyhavn-Canal-Colorful-Houses-and-Boats-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Copenhagen, Denmark, and plan the perfect trip with our savable Copenhagen Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="copenhagen_denmark" />
    <meta name="europe_attraction_guides" content="copenhagen_denmark" />
    <meta name="europe_destinations" content="copenhagen_denmark" />
    <meta name="europe_destination_guides" content="copenhagen_denmark" />
    <meta name="scandinavia_attraction_guides" content="copenhagen" />
    <meta name="scandinavia_destinations" content="copenhagen" />
    <meta name="scandinavia_destination_guides" content="copenhagen" />
    <meta name="denmark_attraction_guides" content="copenhagen" />
    <meta name="denmark_destinations" content="copenhagen" />
    <meta name="denmark_destination_guides" content="copenhagen" />
    <meta name="google_maps_list" content="copenhagen" />
    <meta property="og:title" content="Copenhagen, Denmark Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Nyhavn-Canal-Colorful-Houses-and-Boats.jpg">
    <meta name="twitter:title" content="Copenhagen, Denmark Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Nyhavn-Canal-Colorful-Houses-and-Boats.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/denmark-copenhagen-attractions-guide">
    <title>Attractions Guide for Copenhagen, Denmark</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Copenhagen, Denmark<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#christiania">Christiania</a></div>
            <div><a href="#central">Central Copenhagen</a></div>
            <div><a href="#top-museums">Museums</a></div>
            <div><a href="#rosenborg-castle">Rosenborg</a></div>
            <div><a href="#nyhavn-canal">Nyhavn Canal</a></div>
            <div><a href="#amalienborg-palace">Amalienborg</a></div>
            <div><a href="#denmark-north-zealand">North Zealand</a></div>
            <div><a href="#denmark-egesekov-castle">Egesekov</a></div>
            <div><a href="#denmark-billund-legoland">Legoland</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Copenhagen Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Denmark's capital city is home to many beautiful buildings and historic structures. The city is quite pleasant to walk through and has many tall unique church spires that dominate the skyline.</p>
    </section>


    <!-- Christiania and Central Copenhagen Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Masssive black and gold spire tower of Copenhagen's Church of Our Savior beside a full moon" 
                        src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Vor-Frelsers-Kirke-Church-of-Our-Saviour-Spire-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Our Saviour</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/stignygaard/28310599155/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/stignygaard/" rel="noopener noreferrer" target="_blank">
                                    Stig Nygaard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Entrance sign to the renegade Freetown Christiania District of Copenhagen, Denmark"
                        src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Christania-Freetown-Renegade-District.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Freetown Christiania District</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/newsoresund/13956521506/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/newsoresund/" rel="noopener noreferrer" target="_blank">
                                    News Oresund</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Facade of Copenhagen's historic Christiansborg Palace"
                        src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Christiansborg-Slot-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Christiansborg Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Christiansborg_Slot_from_west_Copenhagen_Denmark.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jebulon" rel="noopener noreferrer" target="_blank">
                                    Jebulon</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ultra-modern black glass exterior of Copenhagen's giant Royal Library seen along the river"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Det-Kongelige-Bibliotek-Royal-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeroenpulles/2634693674/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeroenpulles/" rel="noopener noreferrer" target="_blank">
                                    Jeroen Pulles</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning exterior of the ornate 17th century Borse Building and its giant spire in Copenhagen" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Borsen-Historical-Stock-Exchange-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Borsen Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/copenhagen-denmark-city-urban-sky-1721511/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rainy day looking down the pedestiran street of Stroget, lined with many shops, in Copenhagen, Denmark" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Stroget-Shopping-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stroget Shopping Street</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/diversey/22668336746" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/diversey/" rel="noopener noreferrer" target="_blank">
                                    Tony Webster</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tall medieval Rundetarn Round Tower building in the center of modern Copenhagen" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Rundetarn-Round-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Round Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlascar/37868209932/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlascar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Lascar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Moorish-stype building lit up with hundreds of colored lights at night in Copenhagen's Tivoli Gardens" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Tivoli-Gardens-Nimb-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tivoli Gardens Amusement&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rogersg/16900351637" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rogersg/" rel="noopener noreferrer" target="_blank">
                                    George Rex</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Freetown Christiania Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="christiania"></a>
        <h2 class="left-heading destination-section-heading">Christiania</h2>
        <p>Among the most prominent of Copenhagen's churches is the stunning helix-spired <strong>Church of Our Savior</strong>, which you can climb for amazing views overlooking the area.</p>
        <p>The church is located next to the renegade <strong>Freetown Christiania</strong> district, an autonomous area of the city with art covered buildings and a popular party scene, where cannabis can be legally purchased from street vendors.</p>
    </section>


    <!-- Central Copenhagen Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central"></a>
        <h2 class="left-heading destination-section-heading">Central Copenhagen</h2>
        <p>You'll find the rest of the city's attractions in Central Copenhagen, including the iconic <strong>Christainsborg Palace</strong>, which you can climb to the top of for spectacular views. Be sure to tour the extravagant rooms of the palace as well.</p>
        <p>Nearby the palace you can see the sleek ultra modern <strong>Royal Library</strong> building, which is best admired from across the river. Next to the palace you can admire the 17th century <strong>Borsen</strong> building, a former stock exchange known for its striking intricate architecture and large spire.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The popular <strong>Stroget</strong> pedestrian shopping street begins near the Christianborg Palace and runs all the way to the Tivoli Gardens amusement park. A bit north of Stroget is one of the city's iconic sights, the <strong>Round Tower</strong> of the Trinitatis Church, which features a museum and offers sweeping views from the top of the tower.</p>
            <h3>Tivoli Gardens</h3>
            <p>The famous <strong>Tivoli Gardens</strong> is the second oldest amusement park in the world. With its many historic rides and beautiful gardens, Tivoli Gardens is one of Copenhagen's top attractions.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Copenhagen 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9682104313"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Copenhagen Top Museums and Rosenborg Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Riverside view of the exterior of Copenhagen's National Museum of Denmark with boats parked outside"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Nationalmuseet-National-Museum-of-Denmark.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of Denmark</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ilesh/427221047/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ilesh/" rel="noopener noreferrer" target="_blank">
                                    Illya Kondratyuk</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Opulent blue and white exhibit hall filled with statues inside Copenhagen's Ny Carlsberg Glypotek Museum"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Ny-Carlsberg-Glypotek-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ny Carlsberg Glypotek Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/prof_richard/35584379874/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/prof_richard/" rel="noopener noreferrer" target="_blank">
                                    Richard Mortel</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive castle-like exterior of the Copenhagen City Hall building"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Copenhagen-Radhus-City-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Copenhagen City Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlascar/24045538228" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlascar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Lascar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of Copenhagen's Rosenborg Castle behind two lion statues guarding the walkway"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Rosenborg-Slot-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rosenborg Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sgerner/29211314903/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                                    Steven Gerner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely purple and white flower fields of the King's Garden with Copenhagen's Rosenborg Castle in background"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Rosenborg-Slot-Castle-Kogens-Have-Kings-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">King's Garden (Rosenborg&nbsp;Castle)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kristoffer-trolle/16245281033" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kristoffer-trolle/" rel="noopener noreferrer" target="_blank">
                                    Kristoffer Trolle</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful trees of many colors behind a lovely pond in Copenhagen's Botanical Garden park" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Botanisk-Have-Botanical-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Botanical Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Botanisk_have.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Botanisk_have.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Kenneth Sorensen</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Copenhagen's Top Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="top-museums"></a>
        <h2 class="left-heading destination-section-heading">Top Museums</h2>
        <p>Just behind the Christianborg Palace you'll find the <strong>National Museum of Denmark</strong>, hosting a wide range of exhibits mostly in archaeology and culture housed in an elegant 18th century mansion.</p>
        <p>A couple blocks away is the lavish <strong>Ny Carlsberg Glypotek Museum</strong>, which hosts many incredible ancient sculptures and antiques from the Carlsberg family's private collection (the founders of Carlsberg Breweries). In this area you'll also find the impressive castle-like <strong>Copenhagen City Hall</strong> building</p>
    </section>


    <!-- Rosenborg Castle and Gardens Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="rosenborg-castle"></a>
        <h2 class="left-heading destination-section-heading">Rosenborg Castle &amp; Gardens</h2>
        <p>One of the city's most popular attractions is the 17th century <strong>Rosenborg Castle</strong>, a majestic royal residence with lavish interiors as well as a museum housing the Danish crown jewels. The castle is surrounded by the vast <strong>King's Garden</strong>, a giant well-manicured park which you can explore.</p>
        <p>You might also like to visit the University of Copenhagen's <strong>Botanical Garden</strong> adjacent to the Rosenborg Castle.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Copenhagen 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8369022642"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Nyhavn, Amalienborg, and Kastellet Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic colorful townhouse row along Copenhagen's Nyhavn Canal with many parked boats and tourists"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Nyhavn-Canal.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nyhavn Canal Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Nyhavn_copenhagen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GuoJunjun" rel="noopener noreferrer" target="_blank">
                                    GuoJunjun</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant and gigantic green and gold dome of Frederik's Church in Copenhagen"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Amalienborg-Frederiks-Kirke-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Frederik's Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/martin_nikolaj/4964079941/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/martin_nikolaj/" rel="noopener noreferrer" target="_blank">
                                    Martin Nikolaj Christensen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the four corner buildings of Amalienborg Palace from above, seen from Frederik's Church dome in Copenhagen"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Amalienborg-Slot-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amalienborg Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bobarc/7988026937/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bobarc/" rel="noopener noreferrer" target="_blank">
                                    Rob Deutscher</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking the historical star-shaped moat surrounding the Kastellet Island Fortress of Copenhagen"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Kastellet-Island-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kastellet Island Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/33200530@N04/27477077704/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/33200530@N04/" rel="noopener noreferrer" target="_blank">
                                    CucombreLibre</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Nyhavn Canal Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="nyhavn-canal"></a>
        <h2 class="left-heading destination-section-heading">Nyhavn Canal</h2>
        <p>Perhaps the city's most iconic sight is the <strong>Nyhavn Canal</strong> lined with small colorful townhouses, an extremely photogenic location. Along this scenic canal are many shops and restaurants, as well as the quaint Charlottenborg Slot Palace, which hosts a contemporary art museum.</p>
    </section>


    <!-- Amalienborg and Kastellet Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="amalienborg-palace"></a>
        <h2 class="left-heading destination-section-heading">Amalienborg Palace &amp; Kastellet Fortress</h2>
        <p>Nearby the Nyhavn Canal is the massive baroque domed <strong>Frederik's Church</strong> with its striking ornate interior. Adjacent to the church is the current Danish royal residence, the <strong>Amalienborg Palace</strong>, which sits on a massive plaza from which you can watch the changing of the guard.</p>
        <p>One more attraction to consider is the 17th century star-shaped <strong>Kastellet</strong> island fortress, with its scenic historic grounds you can explore, containing old windmills, cannons, moats, and more. The Kastellet fortress is located just north of the Amalienborg Palace. Nearby you might like to see the city's famous Little Mermaid statue, which overlooks the water.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Copenhagen 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5418591520"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- North Zealand, Egesekov, and Billund, Denmark Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking the large Kronborg Castle surrounded by a moat and grassy fields along Denmark's coast"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Greater-Copenhagen-Helsingor-Kronborg-Slot-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kronborg Castle (Helsingor)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/33200530@N04/28619909590/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/33200530@N04/" rel="noopener noreferrer" target="_blank">
                                    CucombreLibre</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view of the opulent Frederiksborg Castle and its reflection behind a large pond in Hillerod, Denmark"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Greater-Copenhagen-Hillerod-Frederiksborg-Slot-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Frederiksborg Castle (Hillerod)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Frederiksborg_Castle,_Hiller%C3%B8d.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Frederiksborg_Castle,_Hiller%C3%B8d.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Er.gagansharma</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Well-manicured fine gardens in front of a large pond which surrounds the Frederiksborg Castle in Hillerod, Denmark"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Greater-Copenhagen-Hillerod-Frederiksborg-Slotspark-Castle-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Frederiksborg Castle Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hiller%C3%B8de_Frederiksborg_-_panoramio_(4).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hiller%C3%B8de_Frederiksborg_-_panoramio_(4).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Kurt Spalinger-Roes</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Art installation along the water at the Louisiana Museum of Modern Art in Humlebaek, Denmark"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Greater-Copenhagen-Humlebaek-Louisiana-Museum-of-Modern-Art.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Louisiana Museum of Modern&nbsp;Art</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/34517490@N00/37712220492" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/34517490@N00/" rel="noopener noreferrer" target="_blank">
                                    Nick</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Picturesque view of the Egesekov Castle behind a wide moat in Kvaerndrup, Denmark" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Greater-Copenhagen-Kvaerndrup-Egeskov-Slot-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Egesekov Castle (Kvaerndrup)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/joaosemmedo/14514664332/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/joaosemmedo/" rel="noopener noreferrer" target="_blank">
                                    Nelson L.</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Scale lego replica of the colorful houses along Copenhagen's Nyhavn Canal, at Denmark's Legoland Billund"
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Greater-Copenhagen-Billund-Legoland-Billund-Resort.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Legoland Resort (Billund)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Nyhavn_i_Miniland_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.mynewsdesk.com/dk/images/nyhavn-i-miniland-533877" rel="noopener noreferrer" target="_blank">
                                    Legoland Billund Resort</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- North Zealand Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="denmark-north-zealand"></a>
        <h2 class="left-heading destination-section-heading">North Zealand (North&nbsp;of&nbsp;Copenhagen)</h2>
        <h3>Kronborg Castle</h3>
        <p>Just outside of Copenhagen to the north you'll find three great attractions. The most popular attraction is the UNESCO listed <strong>Kronborg Castle</strong>, which is famous for its use as the setting of Shakespeare's play Hamlet. This 16th century fortified castle sits on the coast and is surrounded by moats, and inside you'll find impressive historically furnished rooms.</p>
        <h3>Frederiksborg Castle</h3>
        <p>Another must-see attraction is the stunning <strong>Frederiksborg Castle</strong>, a massive 17th century royal palace featuring outstanding architecture, incredibly lavish interiors, and beautiful gardens.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Louisiana Museum of Modern&nbsp;Art</h3>
            <p>In between the two castles you might consider visiting the <strong>Louisiana Museum of Modern Art</strong>, which is Denmark's most popular art museum and hosts many indoor exhibits as well as a large outdoor sculpture garden overlooking the sea.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>
    
    
    <!-- Egesekov Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="denmark-egesekov-castle"></a>
        <h2 class="left-heading destination-section-heading">Egesekov Castle</h2>
        <p>Much further west of Copenhagen (approximately 2 hours by car or train) you'll find the 16th century <strong>Egesekov Castle</strong>, a brilliant Renaissance-era structure which sits on the water which features historic interiors and well-manicured gardens.</p>
    </section>


    <!-- Legoland Billund Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="denmark-billund-legoland"></a>
        <h2 class="left-heading destination-section-heading">Legoland Billund</h2>
        <p>Even further west of Copenhagen is the original <strong>Legoland</strong> theme park located in the city of Billund, which is the birthplace of the Lego. You can reach Billund in approximately 3 hours from Copenhagen by way of car or public transportation.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Copenhagen Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4105509850"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Copenhagen Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CZ1Tu9BmMX42">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/vxApSqMbQE82">&rArr; All Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/QKqve5wDz1H2">&rArr; Greater Copenhagen</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/sweden-stockholm-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Historic buildings of Stockholm's Riddarholmen Island and their reflection in the water during golden hour"
                        data-src="https://www.travelimager.com/images/sweden/Sweden-Stockholm-Riddarholmen-Island.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/sweden-stockholm-attractions-guide">
                        Stockholm, Sweden
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/tarquingemstone/24903933061" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/tarquingemstone/" rel="noopener noreferrer" target="_blank">
                            chas B</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/norway-oslo-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Ultra-modern Oslo Opera House set amongst the water with its slanted roofs for people to walk up"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Operahuset-Oslo-Opera-House.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/norway-oslo-attractions-guide">
                        Oslo, Norway
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Oslo_Opera_House_hus_2014_hav.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%C3%98yvind_Holmstad" rel="noopener noreferrer" target="_blank">
                            Oyvind Holmstad</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    