<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Lights illuminating the Danube riverfront facade of the Hungarian Parliament Building in early evening in Budapest, Hungary Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/hungary/Hungary-Budapest-Parliament-Building-2-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->

    <meta name="description"
        content="Discover top attractions in Budapest, Hungary, and plan the perfect trip with our savable Budapest Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="budapest_hungary" />
    <meta name="europe_attraction_guides" content="budapest_hungary" />
    <meta name="europe_destinations" content="budapest_hungary" />
    <meta name="europe_destination_guides" content="budapest_hungary" />
    <meta name="hungary_attraction_guides" content="budapest" />
    <meta name="hungary_destinations" content="budapest" />
    <meta name="hungary_destination_guides" content="budapest" />
    <meta name="google_maps_list" content="budapest" />
    <meta property="og:title" content="Budapest, Hungary Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/hungary/Hungary-Budapest-Parliament-Building-2.jpg">
    <meta name="twitter:title" content="Budapest, Hungary Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/hungary/Hungary-Budapest-Parliament-Building-2.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/hungary-budapest-attractions-guide">
    <title>Attractions Guide for Budapest, Hungary</title>
    </head>


    <body>
        <!-- Navbar -->
        <% let rootPath='../' ; %>
            <%- include(rootPath + '../partials/navbar' ) %>


                <!-- Page Heading and Main Section Links -->
                <h1>Budapest, Hungary<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

                <div class="destination-page-section-links">
                    <div><a href="#nearby-destinations">Nearby Destinations</a></div>
                    <div><a href="#attractions-maps">Google Maps Attractions</a></div>
                </div>

                <!-- In-Page Navigation -->
                <nav>
                    <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
                        <div><a href="#parliament-building">Hungarian Parliament</a></div>
                        <div><a href="#buda-castle">Buda Castle</a></div>
                        <div><a href="#chain-bridge">Chain Bridge</a></div>
                        <div><a href="#city-park">City Park</a></div>
                        <div><a href="#museums">Museums</a></div>
                        <div><a href="#dohany-synagogue">Dohany Synagogue</a></div>
                        <div><a href="#citadella">Citadella</a></div>
                        <div><a href="#greater-budapest-attractions">Greater Budapest</a></div>
                        <div><a href="#esztergom-attractions">Esztergom</a></div>
                    </div>
                </nav>

                <div class="nav-spacer">&nbsp;</div>



                <!-- Introduction to Budapest Dropdown -->
                <section class="destination-section">
                    <h2 class="left-heading destination-introduction-heading">Introduction</h2>
                    <p>Hungary's capital city is an amazing and beautiful place, which is actually comprised of two historic cities Buda and
                        Pest on opposite sides of the Danube River, which together make up the modern city. Perhaps the best way to see the
                        city is from a small river cruise along the Danube, of which there are many options to choose from.</p>
                </section>


                <!-- Hungarian Parliament and Buda Castle Image Carousel -->
                <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">

                            <div class="owl-item">
                                <img alt="Angled night view of the lit up Hungarian Parliament Building seen from the river in Budapest, Hungary"
                                    src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Hungarian-Parliament-Building.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Hungarian Parliament Building</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/wongwt/27825126932/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/wongwt/" rel="noopener noreferrer"
                                            target="_blank">
                                            Wei-Te Wong</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img alt="Towering Matthias Church within the Buda Castle complex in Budapest, Hungary"
                                    src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Matthias-Church.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Matthias Church</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/tipsfortravellers/14229875575" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/tipsfortravellers/"
                                            rel="noopener noreferrer" target="_blank">
                                            Gary Bembridge</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img alt="Fairytale-like towers of the Fisherman's Bastion of Buda Castle in Budapest, Hungary"
                                    src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Fishermans-Bastion.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Fisherman's Bastion</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://pixabay.com/en/fishermen-s-bastion-hungary-budapest-377906/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://pixabay.com/en/users/giraffew-312753/" rel="noopener noreferrer"
                                            target="_blank">
                                            Giraffew</a><br />
                                        <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Winter view overlooking the city from the Fisherman's Bastion of Buda Castle in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Fishermans-Bastion-View.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Fisherman's Bastion (View)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/anieto2k/8262965486/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/anieto2k/" rel="noopener noreferrer"
                                            target="_blank">
                                            Andres Nieto Porras</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Vast hilltop Buda Castle complex seen behind the river in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Buda-Castle.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Buda Castle</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://pixabay.com/en/budapest-castle-buda-castle-danube-2637906/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://pixabay.com/en/users/veronikasz-4536335/"
                                            rel="noopener noreferrer" target="_blank">
                                            veronikasz</a><br />
                                        <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Sprawling Buda Castle complex brilliantly illuminated at night above the Buda River and a river cruise in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Buda-Castle-Night.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Buda Castle (Night)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/79653482@N00/6111500857" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/bortescristian/" rel="noopener noreferrer"
                                            target="_blank">
                                            Cristian Bortes</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Aerial view overlooking the massive hilltop complex of the Buda Castle at night in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Buda-Castle-Complex-Aerial-View-Night.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Buda Castle (Aerial&nbsp;View&nbsp;Night)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://pixabay.com/photos/budapest-europe-hungary-hungarian-2030015/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://pixabay.com/fr/users/Pixels4Free-4415186/"
                                            rel="noopener noreferrer" target="_blank">
                                            Pixels4Free</a><br />
                                        <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Hungarian Parliament Building Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="parliament-building"></a>
                    <h2 class="left-heading destination-section-heading">Hungarian Parliament Building</h2>
                    <p>The city's most iconic attraction is the massive <strong>Hungarian Parliament Building</strong>, a brilliant gothic
                        structure that sits on the river, which is best seen from a river cruise (or at least the opposite side of the
                        river). Be sure to see the building at night as well, as it is completely lit up in a grandiose fashion.</p>
                </section>


                <!-- Buda Castle Complex Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="buda-castle"></a>
                    <h2 class="left-heading destination-section-heading">Buda Castle Complex</h2>
                    <p>On the opposite side of the river are the city's other famous attractions, including the magnificent <strong>Matthias
                            Church</strong> with its mosaic roof tiles, the fairy-tale like <strong>Fisherman's Bastion</strong> with its
                        terrace balconies overlooking Budapest, and the colossal <strong>Buda Castle</strong>, a massive baroque palace that
                        houses the Hungarian National Gallery and offers great views.</p>
                    <p>The Buda Castle also lights up at night and contains a fine castle garden as well as medieval structures to explore
                        below it. Within the Buda Castle complex you might like to tour the Hospital in the Rock Bunker Museum, showcasing
                        an interesting underground hospital used during WWII.</p>
                </section>



                <!-- Google Display Ad - Square -->
                <div align="center" class="center-ad">
                    <!-- Budapest 1 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4475491996225753" data-ad-slot="5794937997"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>



                <!-- Szechenyi Chain Bridge, St. Stephen's Basilica, and City Park Image Carousel -->
                <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage carousel-slide">

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Night-time aerial view overlooking the lit up Szechenyi Chain bridge and Hungarian Parliament Building from high above in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Szechenyi-Chain-Bridge-1.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Szechenyi Chain&nbsp;Bridge</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://pixabay.com/en/szechenyi-chain-bridge-1758196/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer"
                                            target="_blank">
                                            12019</a><br />
                                        <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Towering white facade of the St. Stephen's Basilica in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-St-Stephens-Basilica.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">St. Stephen's Basilica</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Budapest,_St._Stephen%27s_Basilica_C16.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="http://zatrzymujeczas.pl/" rel="noopener noreferrer" target="_blank">
                                            Adam Kliczek</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 3.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Highly ornate dome and interior theater of the Hungarian State Opera building in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Hungarian-State-Opera-Interior.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Hungarian State&nbsp;Opera</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/57291489@N05/5755158935" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/57291489@N05/" rel="noopener noreferrer"
                                            target="_blank">
                                            Jason DeRose</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Lit up Heroes' Square Monument at night at City Park in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Heroes-Square-Monument.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Heroes' Square Monument</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/paulmannix/345388204/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/paulmannix/" rel="noopener noreferrer"
                                            target="_blank">
                                            Paul Mannix</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Exterior of the stunning Vajdahunyad Castle at City Park in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Vajdahunyad-Castle.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Vajdahunyad Castle</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/68469607@N00/13227880343/in/photostream/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/68469607@N00/" rel="noopener noreferrer"
                                            target="_blank">
                                            xorge</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Vast pools and sprawling complex of the Szechenyi Thermal Baths at City Park in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Szechenyi-Thermal-Baths.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Szechenyi Thermal Bath</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/8771870@N06/33443049426/in/photostream/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/8771870@N06/" rel="noopener noreferrer"
                                            target="_blank">
                                            Ibolya</a> <br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Neoclassical facade of the Kunsthalle Museum at City Park in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Kunsthalle-Museum-Budapest.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Kunsthalle Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/wongwt/27575755320/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/wongwt/" rel="noopener noreferrer"
                                            target="_blank">
                                            Wei-Te Wong</a> <br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Szechenyi Chain Bridge and St. Stephen's Basilica Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="chain-bridge"></a>
                    <h2 class="left-heading destination-section-heading">Szechenyi Chain Bridge &amp; St. Stephen's Basilica</h2>
                    <p>Near the Buda Castle you can walk across the iconic <strong>Szechenyi Chain Bridge</strong> which crosses the Danube
                        River. Not too far from here is the towering neoclassical <strong>St. Stephen's Basilica</strong> with its highly
                        embellished interiors. Nearby the basilica you can admire the majestic neoclassical <strong>Hungarian State
                            Opera</strong>, which offers tours of its extravagant interiors.</p>
                </section>


                <!-- City Park Attractions Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="city-park"></a>
                    <h2 class="left-heading destination-section-heading">City Park Attractions</h2>
                    <h3>Heroes' Square &amp; Vajdahunyad Castle</h3>
                    <p>Much further from the river in the City Park you'll find the vast UNESCO listed <strong>Heroes' Square
                            Monument</strong>, another iconic emblem of the city. Nearby in the park is the stunning <strong>Vajdahunyad
                            Castle</strong> featuring incredible intricate architecture.</p>
                    <h3>Szechenyi Thermal Bath</h3>
                    <p>Yet another signifiant attraction in the park is the famous <strong>Szechenyi Thermal Bath</strong>, featuring huge
                        thermal spring pools surrounded by an elegant baroque building. In the evening the palace becomes a giant nightclub
                        pool party with DJs playing that's very popular.</p>
                    <!-- Read More Read Less Tab -->
                    <div class="hidden-content">
                        <h3>City Park Museums</h3>
                        <p>Within the park you'll also find the notable <strong>Kunsthalle Museum</strong> of contemporary art, as well as
                            the Museum of Fine Arts, both located on either side of Heroes' Square.</p>
                    </div>
                    <button type="button" class="collapsible-content">Read More...</button>
                </section>



                <!-- Google Display Ad - Square -->
                <div align="center" class="center-ad">
                    <!-- Budapest 2 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4475491996225753" data-ad-slot="8049566243"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>



                <!-- Budapest Museums, Dohany, and Citadella Image Carousel -->
                <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage carousel-slide">

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Exterior of the House of Terror Museum in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-House-of-Terror-Museum.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">House of Terror Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/cmoi/513927657" rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/cmoi/" rel="noopener noreferrer"
                                            target="_blank">
                                            Pascal Terjan</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Elegant and highly detailed interior of the Hungarian National Museum in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Hungarian-National-Museum-Interior.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Hungarian National&nbsp;Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/wongwt/27185990724/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/wongwt/" rel="noopener noreferrer"
                                            target="_blank">
                                            Wei-Te Wong</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Elegant exterior of the Museum of Applied Arts in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Museum-of-Applied-Arts.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Museum of Applied&nbsp;Arts</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Iparm%C5%B1v%C3%A9szeti_M%C3%BAzeum_2010-ben.JPG&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a
                                            href="https://commons.wikimedia.org/w/index.php?title=File:Iparm%C5%B1v%C3%A9szeti_M%C3%BAzeum_2010-ben.JPG&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Lorand Peter</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 3.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Intricately designed interior of the Dohany Street Synagogue in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Dohany-Street-Synagogue.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Dohany Street Synagogue</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/pocait/6974084514/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/pocait/" rel="noopener noreferrer"
                                            target="_blank">
                                            Rachel Titiriga</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Stunning sunset view overlooking Budapest and the river from high above at the Gellert Hill Citadella Fortress in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Gellert-Hill-Citadella-Fortress.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Citadella Fortress (View)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/30478819@N08/35319790861/in/photostream/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/30478819@N08/" rel="noopener noreferrer"
                                            target="_blank">
                                            Marco Verch</a> <br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Grand indoor pool within the Gellert Thermal Baths complex in Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Gellert-Thermal-Bath.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Gellert Thermal&nbsp;Bath</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/8771870@N06/34984994803/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/8771870@N06/" rel="noopener noreferrer"
                                            target="_blank">
                                            Ibolya</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>


                <!-- Budapest Museums Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="museums"></a>
                    <h2 class="left-heading destination-section-heading">Museums</h2>
                    <p>On the eastern side of the Danube River in Budapest's center you'll find several notable museums worth visiting. One
                        of the most popular museums is the <strong>House of Terror Museum</strong> documenting the communist regime that
                        took over the country.</p>
                    <!-- Read More Read Less Tab -->
                    <div class="hidden-content">
                        <p>One of the city's best museum is the <strong>Hungarian National Museum</strong> with exhibits in archaeology,
                            art, and history, housed in a lavish neoclassical building.</p>
                        <p>You should also strongly consider visiting the <strong>Museum of Applied Arts</strong> housed in an elegant art
                            nouveau building, with its main feature being the elaborate white main room and stunningly intricate green and
                            gold roof.</p>
                    </div>
                    <button type="button" class="collapsible-content">Read More...</button>
                </section>


                <!-- Dohany Street Synagogue Dropdown-->
                <section class="destination-section">
                    <a class="anchor" id="dohany-synagogue"></a>
                    <h2 class="left-heading destination-section-heading">Dohany Street Synagogue</h2>
                    <p>You might also like to see the <strong>Dohany Street Synagogue</strong> featuring remarkably ornate Moorish
                        architecture and extravagant interiors. This beautiful synagogue is located north of the Hungarian National Museum
                        near the city center.</p>
                </section>


                <!-- Citadella Fortress and Gellert Thermal Baths Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="citadella"></a>
                    <h2 class="left-heading destination-section-heading">Citadella Fortress &amp; Gellert Thermal&nbsp;Baths</h2>
                    <p>Located on the western side of the Danube River to the south of the Buda Castle complex is the <strong>Citadella
                            Fortress</strong> offering sweeping views over the city and river, as well as beautiful gardens along the hike
                        up to the fortification.</p>
                    <p>Just below the Citadella is another striking bath complex, the <strong>Gellert Thermal Bath</strong>, located within
                        a massive art nouveau hotel, which you can visit without a reservation in the hotel. The bath complex features a
                        grandiose indoor pool surrounded by neoclassical columns, as giant high-end outdoor pools.</p>
                </section>



                <!-- Google Display Ad - Square -->
                <div align="center" class="center-ad">
                    <!-- Budapest 3 -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4475491996225753" data-ad-slot="1144412399"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>



                <!-- Greater Budapest Image Carousel -->
                <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage carousel-slide">

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Aerial view overlooking the grand white Royal Palace of Godollo near Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Greater-Budapest-Godollo-Royal-Palace-of-Godollo.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Royal Palace of Godollo</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Godollocivertanlegifoto1.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a
                                            href="https://commons.wikimedia.org/w/index.php?title=File:Godollocivertanlegifoto1.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Civertan</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 3.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Traditional old country house and windmill, part of the Szentendre Skanzen Village Museum near Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Greater-Budapest-Szentendre-Szentendre-Skanzen-Village-Museum.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Szentendre Skanzen Village Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Szentendre,_Hungary_-_panoramio_(40).jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a
                                            href="https://commons.wikimedia.org/w/index.php?title=File:Szentendre,_Hungary_-_panoramio_(40).jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Veroczi Zolatan</a><br />
                                        <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 3.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Stunning view over the river, town, and green mountains below from the Visegrad High Castle near Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Greater-Budapest-Visegrad-High-Castle-View-1.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Visegrad High Castle (View)</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/honzasoukup/2493152292/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/honzasoukup/" rel="noopener noreferrer"
                                            target="_blank">
                                            Honza Soukup</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Matyas Kiraly Museum exterior seen from high above near Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Greater-Budapest-Visegrad-Matyas-Kiraly-Museum-and-Royal-Palace.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Matyas Kiraly Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://commons.wikimedia.org/w/index.php?title=File:Visegr%C3%A1d_-_Royal_Palace.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a
                                            href="https://commons.wikimedia.org/w/index.php?title=File:Visegr%C3%A1d_-_Royal_Palace.jpg&action=history"
                                            rel="noopener noreferrer" target="_blank">
                                            Civertan</a><br />
                                        <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 3.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy" alt="Grand facade of the Basilica of Esztergom near Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Greater-Budapest-Esztergom-Basilica-of-Esztergom.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Basilica of Esztergom</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/korom/4996502018/in/photostream/" rel="noopener noreferrer"
                                            target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/korom/" rel="noopener noreferrer"
                                            target="_blank">
                                            Janos Korom Dr.</a> <br />
                                        <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY-SA 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                            <div class="owl-item">
                                <img class="owl-lazy"
                                    alt="Hilltop Esztergom Castle complex beside the Basilica of Esztergom seen behind the river in Esztergom near Budapest, Hungary"
                                    data-src="https://www.travelimager.com/images/hungary/Hungary-Greater-Budapest-Esztergom-Esztergom-Castle-Museum.jpg" />
                                <p class="owl-item-text">
                                    <strong class="owl-item-title">Esztergom Castle Museum</strong><br />
                                    <span class="owl-item-credits">
                                        <a href="https://www.flickr.com/photos/zolakoma/7622616766/in/photostream/"
                                            rel="noopener noreferrer" target="_blank">
                                            Photo</a> by <a href="https://www.flickr.com/photos/zolakoma/" rel="noopener noreferrer"
                                            target="_blank">
                                            zolakoma</a><br />
                                        <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer"
                                            target="_blank">
                                            CC BY 2.0</a> | <i>Edited</i>
                                    </span>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>



                <!-- Greater Budapest Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="greater-budapest-attractions"></a>
                    <h2 class="left-heading destination-section-heading">Greater Budapest</h2>
                    <h3>Royal Palace of Godollo</h3>
                    <p>Further out from Budapest are several noteworthy attractions, including the baroque pink <strong>Royal Palace of
                            Godollo</strong> with its lavish interiors, located to the east of the city.</p>
                    <h3>Szentendre Skanzen</h3>
                    <p>North of Budapest you'll find the <strong>Szentendre Skanzen Village Museum</strong>, an open-air museum showcasing
                        historical folk life and traditional architecture and culture from the 18th through 20th centuries.</p>
                    <h3>Visegrad Castle</h3>
                    <p>Further north is the most popular attraction outside the city, the 13th century medieval <strong>Visegrad
                            Castle</strong>, a ruined medieval castle hosting amazing views over the Danube as well as exhibits. Be sure to
                        visit the <strong>Matyas Kiraly Museum</strong> below the castle, which is located within the ruins of a royal 13th
                        century palace.</p>
                </section>


                <!-- Esztergom, Hungary Dropdown -->
                <section class="destination-section">
                    <a class="anchor" id="esztergom-attractions"></a>
                    <h2 class="left-heading destination-section-heading">Esztergom, Hungary</h2>
                    <p>To the west of Visegrad along the Danube is the imposing <strong>Basilica of Esztergom</strong>, a colossal domed
                        Neoclassical structure with grandiose interiors. The basilica sits within the hilltop fortified walls of the
                        Esztergom Castle complex. The castle's main structure adjacent to the basilica now serves as the <strong>Esztergom
                            Castle Museum</strong>, hosting fascinating exhibits.</p>
                    <p>From the castle complex you can take in excellent views over the Danube River, which separates this part of Hungary
                        from Slovakia.</p>
                </section>




                <!-- Google Display Ad - Square -->
                <div align="center" class="center-ad">
                    <!-- Budapest Bottom -->
                    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4475491996225753" data-ad-slot="3168774655"
                        data-ad-format="auto" data-full-width-responsive="true"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                </div>



                <!-- Google Maps Links -->
                <section class="attraction-lists">
                    <a class="anchor" id="attractions-maps"></a>
                    <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

                    <p class="destinations-save-attractions-header">Save Budapest Attraction Lists to your Google&nbsp;Maps&nbsp;Account:
                    </p>
                    <div class="attraction-links-container">
                        <p class="attractions-link">
                            <a href="https://goo.gl/maps/PuaSZ2cs2cN2">&rArr; Top Attractions</a>
                        </p>
                        <p class="attractions-link">
                            <a href="https://goo.gl/maps/d3a9woHVM4y">&rArr; All Attractions</a>
                        </p>
                        <p class="attractions-link">
                            <a href="https://goo.gl/maps/Bo6F9RQjWsk">&rArr; Greater Budapest</a>
                        </p>
                    </div>
                    <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br />
                        2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
                </section>



                <!-- Nearby Destination and Day-Trips -->
                <section class="nearby-destinations">
                    <a class="anchor" id="nearby-destinations"></a>
                    <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>

                    <!-- Row 1 -->
                    <div class="destinations-flexbox">

                        <div class="destination-container">
                            <div class="image-wrapper">
                                <a href="/destinations/europe/austria/vienna-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                                        data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a href="/destinations/europe/austria/vienna-attractions-guide">
                                    Vienna, Austria
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history"
                                    rel="noopener noreferrer" target="_blank">
                                    Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer"
                                    target="_blank">
                                    Dmitry A. Motti</a><br />
                                <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer"
                                    target="_blank">
                                    CC BY-SA 3.0</a> | <i>Edited</i>
                            </p>
                        </div>

                        <div class="destination-container">
                            <div class="image-wrapper">
                                <a href="/destinations/europe/slovakia-bratislava-attractions-guide">
                                    <img class="lazy destination-image"
                                        alt="Colorful elegant buildings lining Bratislava's Main Square, with the hilltop Bratislava Castle towering above in the background, in Slovakia"
                                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Hlavne-Namestie-Main-Square.jpg" />
                                </a>
                            </div>
                            <h4 class="destination-title">
                                <a href="/destinations/europe/slovakia-bratislava-attractions-guide">
                                    Bratislava, Slovakia
                                </a>
                            </h4>
                            <p class="destination-credits">
                                <a href="https://www.flickr.com/photos/robhurson/35096533142/" rel="noopener noreferrer" target="_blank">
                                    Photo</a> by <a href="https://www.flickr.com/photos/robhurson/" rel="noopener noreferrer"
                                    target="_blank">
                                    Rob Hurson</a><br />
                                <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer"
                                    target="_blank">
                                    CC BY-SA 2.0</a> | <i>Edited</i>
                            </p>
                        </div>

                        <!-- Extra Div Space -->
                        <div class="destination-container"></div>
                        <div class="destination-container"></div>

                    </div>

                </section>