<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Neumuenster Abbey and Grund District of Luxembourg City, Luxembourg Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Neumunster-Abbey-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Luxembourg City + Vianden Castle, and plan the perfect trip with our savable Luxembourg Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="luxembourg_city_luxembourg" />
    <meta name="attraction_guides" content="vianden_luxembourg" />
    <meta name="europe_attraction_guides" content="luxembourg_city_luxembourg" />
    <meta name="europe_destinations" content="luxembourg_city_luxembourg" />
    <meta name="europe_destination_guides" content="luxembourg_city_luxembourg" />
    <meta name="luxembourg_attraction_guides" content="luxembourg_city" />
    <meta name="luxembourg_attraction_guides" content="vianden" />
    <meta name="luxembourg_destinations" content="luxembourg_city" />
    <meta name="luxembourg_destinations" content="vianden" />
    <meta name="luxembourg_destination_guides" content="luxembourg_city" />
    <meta name="luxembourg_destination_guides" content="vianden" />
    <meta name="google_maps_list" content="luxembourg_city" />
    <meta name="google_maps_list" content="vianden_castle" />
    <meta property="og:title" content="Luxembourg City & Vianden Castle Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Neumunster-Abbey.jpg">
    <meta name="twitter:title" content="Luxembourg City & Vianden Castle Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Neumunster-Abbey.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
    <title>Attractions Guide for Luxembourg City & Vianden Castle</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Luxembourg City &amp; Vianden&nbsp;Castle<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#central">Central Attractions</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#grund-district">Grund District</a></div>
            <div><a href="#casemates-du-bock">Casemates du Bock</a></div>
            <div><a href="#more-viewpoints">More Viewpoints</a></div>
            <div><a href="#vianden-castle">Vianden Castle</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Luxembourg City Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The country of Luxembourg is very compact and is located in between Belgium, France, and Germany. The country's capital is Luxembourg City, which is where you'll find a majority of the country's top attractions. The easiest way to reach Luxembourg City via train is directly from Paris. Traveling by car, Luxembourg City is in close proximity to Brussels, Cologne, Frankfurt, and Strasbourg.</p>
    </section>


    <!-- Luxembourg City Main Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Facade of Luxembourg's royal palace, the Palais Grand-Ducal located in the heart of the city center"
                        src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Palais-Grand-Ducal-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais Grand-Ducal Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luxembourg_Grand_Ducal_Palace_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cayambe" rel="noopener noreferrer" target="_blank">
                                    Cayambe</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Quaint urban square known as Place Guillaume II with a statue at its center in Luxmbourg City"
                        src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Place-Guillaume-II-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place Guillaume II Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luxembourg_pl_Guillaume_II_vers_rue_de_la_Reine.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cayambe" rel="noopener noreferrer" target="_blank">
                                    Cayambe</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Luxembourg City's Notre-Dame Cathedral with its towering spire-like roofs"
                        src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Notre-Dame-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre-Dame Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alexprevot/42877903291" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                                    Alexandre Prevot</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>                

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic preserved facade of Luxembourg City's Fort Thuengen, which leads to a connected modern glass museum"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Fort-Thungen-Musee-Drai-Eechelen-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort Thuengen</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fort_Th%C3%BCngen_-_Mus%C3%A9e_Dr%C3%A4i_Eechelen_2017-04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zinneke" rel="noopener noreferrer" target="_blank">
                                    Zinneke</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Central Luxembourg City Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central"></a>
        <h2 class="left-heading destination-section-heading">Central Luxembourg City</h2>
        <p>Among the top attractions in Luxembourg City is the <strong>Palais Grand-Ducal</strong>, which is the home of the Grand Duke of Luxembourg. Here you can watch the changing of the guards in front of the palace, or even book a tour to see the palace's exquisite interiors.</p>
        <p>Nearby the palace is the city's main square, the vast <strong>Place Guillaume II</strong>, which was gifted to Luxembourg by Napoleon Bonaparte. Also nearby is the city's main church, the <strong>Cathedral Notre-Dame</strong>, an impressive 17th century cathedral topped with giant spires. The cathedral's interior contains intricate gothic elements and beautiful stained glass windows.</p>
    </section>


    <!-- Luxembourg City Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>Within the city center nearby the Palais Grand-Ducal you'll find the city's two most important museums, including the Luxembourg City History Museum detailing the city's long history. The other museum is the Musee National d'Histoire et d'Art, which houses a significant collection of artifacts and fine art from around the country.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>On the northeastern side of the city is <strong>Fort Thuengen,</strong> an imposing historic fortress which was rebuilt to house the city's modern art museum. The fortress is a blend of old and new structures.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Luxembourg City 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2724801963"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

 

    <!-- Grund District and Casemates du Bock Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grund District</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Staudt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive yellow Neumuenster Abbey of the Grund District seen from above in Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Neumunster-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neumuenster Abbey</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/luxembourg-city-landscape-cityscape-2648046/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/djedj-59194/" rel="noopener noreferrer" target="_blank">
                                    djedj</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view over the Grund District of Luxembourg City which sits in a river canyon below the city center, seen from the Chemin de la Corniche Melhor Vista viewpoint"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Chemin-de-la-Corniche-Grund-District-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chemin de la Corniche&nbsp;Melhor Vista</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/12726240694" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Casemates du Bock fortifications and tunnels etched out of the steep canyon cliffs which Central Luxembourg City sits atop"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Casemates-du-Bock-Cave-Fortifications.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casemates du Bock Fortifications</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lemezza/6240710158/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lemezza/" rel="noopener noreferrer" target="_blank">
                                    Rina Sergeeva</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Grund District Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="grund-district"></a>
        <h2 class="left-heading destination-section-heading">Grund District</h2>
        <p>Along the river below the tall cliffs of Central Luxembourg City is the <strong>Grund District</strong>, a beautiful area known for its medieval architecture, as well as its restaurants and nightlife. The lovely Grund District is built alongside the river in a deep canyon gorge.</p>
        <p>The Grund District is also home to the massive 17th century <strong>Neumunster Abbey</strong> along the river, which is best viewed from above.</p>
    </section>


    <!-- Casemates du Bock Tunnels Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="casemates-du-bock"></a>
        <h2 class="left-heading destination-section-heading">Casemates du Bock Fortifications &amp; Tunnels</h2>
        <p>On the eastern side of Central Luxembourg City be sure to take in the incredible views over the Grund from the <strong>Chemin de la Corniche Melhor Vista</strong> viewpoint, which is located in the city center atop the cliffs.</p>
        <p>Nearby you can take in more stunning views over the Grund from the <strong>Casemates du Bock</strong>, a series of vast underground caves and tunnels with many rooms and windows built into the side of the cliff. The caves have been in use since the 17th century and were also used as shelters during WWII, and many of the rooms feature exhibits and views. The tunnels of the Casemates du Bock are an amazing place to explore or tour.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Luxembourg City 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8330861176"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- More Viewpoints and Vianden Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Adoplhe Bridge spanning the canyon which seperates Central Luxembourg City, seen from across the bridge"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Pont-Adolphe-Bridge-and-Musee-de-la-Banque-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Adolphe Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luxembourg,_pont_Adolphe_et_Caisse_Epargne_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GilPe" rel="noopener noreferrer" target="_blank">
                                    GilPe</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the historic buildings in a canyon below Luxembourg City's center, seen from the top of the Pfaffenthal Lift elevator"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Pfaffenthal-Lift-Elevator-Tours-Vauban-Towers-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pfaffenthal Lift</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:B%C3%A9inchen_2017-04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zinneke" rel="noopener noreferrer" target="_blank">
                                    Zinneke</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of Luxembourg's most amazing castle, the Vianden Castle, seen from below"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Vianden-Vianden-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vianden Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/vianden-castle-luxembourg-landmark-1137019/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/waldomiguez-1847959/" rel="noopener noreferrer" target="_blank">
                                    waldomiguez</a><br />
                           <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible side-view of Luxembourg's most amazing castle, the Vianden Castle, seen rising above the densely forested hills"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Vianden-Vianden-Castle-Road-322-Southern-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vianden Castle (Southern&nbsp;Viewpoint)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/28169156@N03/22351832041" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/28169156@N03/" rel="noopener noreferrer" target="_blank">
                                    Frans Berkelaar</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- More Luxembourg City Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">More Central Viewpoints</h2>
        <p>Spanning the river on the southwestern side of the city is the <strong>Adolphe Bridge</strong>, which offers excellent views over the river canyon below the bridge as well as views of the surrounding city. On the other side of the bridge is the impressive castle-like Musee de la Banque (Museum of the Bank) building.</p>
        <p>On the northeastern side of the city is the <strong>Pfaffenthal Lift</strong>, a massive free elevator connecting the riverside part of the town below with the upper central part of the city. From the top of the elevator you can enjoy more amazing views over parts of the city.</p>
    </section>


    <!-- Vianden Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="vianden-castle"></a>
        <h2 class="left-heading destination-section-heading">Vianden Castle</h2>
        <p>Along the northeastern border of Luxembourg is the country's most incredible castle, the <strong>Vianden Castle</strong>. This fairytale-like 11th century castle sits on a hilltop high above a forested river valley. Inside the castle you'll find striking medieval interiors and exhibits.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>You can enjoy the most picturesque views of the castle alongside Road 322 just south of the castle, which can be reached with an easy 20 minute round-trip walk from the castle's main bus stop. Also notable are the views from the pull-off along Road 344, which is much easier to reach by car, or about 1.6 miles (2.6 km) round-trip from the castle's main bus stop.</p>
            <p>You can reach the castle in about 1.5 hours via public transportation and walking from Central Luxembourg City, or about 45 minutes by car.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Luxembourg City Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7522844835"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Luxembourg City Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/wXxUH5yenwT2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/eDsPgFnNWh12">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/paris-attractions-guide">
                        Paris, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Colorful buildings, the Dinant Citadel, and Notre Dame Cathedral, all seen in one frame from a viewpoint along the Meuse River, southwest of the Charles de Gaulle Bridge in Dinant, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Meuse-River-Southwest-Citadel-Notre-Dame-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        Dinant, Namur, &amp; Waterloo, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            desiderata12</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        Colmar, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    