<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Illuminated buildings of Monaco along the coastline seen from the mountains of France above, Monaco Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/monaco/Monaco-Monaco-Coastline-Aerial-Night-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Monaco + La Turbie & Menton, France, and plan the perfect trip with our savable Monaco Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="monaco" />
    <meta name="attraction_guides" content="la_turbie_france" />
    <meta name="attraction_guides" content="menton_france" />
    <meta name="europe_attraction_guides" content="monaco" />
    <meta name="europe_destinations" content="monaco" />
    <meta name="europe_destination_guides" content="monaco" />
    <meta name="france_attraction_guides" content="monaco" />
    <meta name="france_attraction_guides" content="la_turbie" />
    <meta name="france_attraction_guides" content="menton" />
    <meta name="france_destinations" content="monaco" />
    <meta name="france_destinations" content="la_turbie" />
    <meta name="france_destinations" content="menton" />
    <meta name="france_destination_guides" content="monaco" />
    <meta name="france_destination_guides" content="la_turbie" />
    <meta name="france_destination_guides" content="menton" />
    <meta name="google_maps_list" content="monaco" />
    <meta name="google_maps_list" content="la_turbie" />
    <meta name="google_maps_list" content="menton" />
    <meta property="og:title" content="Monaco Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/monaco/Monaco-Monaco-Coastline-Aerial-Night.jpg">
    <meta name="twitter:title" content="Monaco Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/monaco/Monaco-Monaco-Coastline-Aerial-Night.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/monaco-attractions-guide">
    <title>Attractions Guide for Monaco</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Monaco<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#main-attractions">Main Attractions</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#gardens">Gardens</a></div>
            <div><a href="#france-la-turbie">La Turbie, France</a></div>
            <div><a href="#france-menton">Menton, France</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Monaco Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The micro-state nation of Monaco is only about at large as a small city. Monaco sits on the coast along the French Riviera and is completely surrounded by France. The country is located just east of the city of Nice and just west of the Italian border.</p>
        <p>Monaco is among the richest countries in the world and is filled with extravagance, with luxurious high-rise buildings lining the streets, and mega-yachts and gardens lining the coastline.</p>
    </section>


    <!-- Monaco Main Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Front view of the famous Casino of Monte Carlo in Monaco"
                        src="https://www.travelimager.com/images/monaco/Monaco-Casino-Monte-Carlo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casino Monte-Carlo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casino_de_Monte-Carlo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Piponwa" rel="noopener noreferrer" target="_blank">
                                    Piponwa</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Medieval castle-like Prince's Palace of Monaco, the royal seat of power of the micro-state of Monaco"
                        src="https://www.travelimager.com/images/monaco/Monaco-Princes-Palace-of-Monaco.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Prince's Palace of Monaco</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/thegirlsny/6187295190" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/thegirlsny/" rel="noopener noreferrer" target="_blank">
                                    Kim</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Popular viewpoint overlooking the majestic Port Hercule, filled with mega yachts in one of Monaco's harbors"
                        src="https://www.travelimager.com/images/monaco/Monaco-Port-Hercule-Porte-de-entree-au-Rocher-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Port Hercule Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/129231073@N06/31315055142/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/129231073@N06/" rel="noopener noreferrer" target="_blank">
                                    Fred Romero</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Majestic exterior of the white Saint Nicholas Cathedral in Monaco"
                        data-src="https://www.travelimager.com/images/monaco/Monaco-Saint-Nicholas-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Nicholas Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cath%C3%A9drale_Notre-Dame-Immacul%C3%A9e,_Monaco_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Cath%C3%A9drale_Notre-Dame-Immacul%C3%A9e,_Monaco_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    M Strikis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ocean-facing exterior of the Oceanographic Museum in Monaco, partially built into the cliff directly above the sea" 
                        data-src="https://www.travelimager.com/images/monaco/Monaco-Musee-Oceanographique-Oceanographic-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oceanographic Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arturstaszewski/6902513250" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arturstaszewski/" rel="noopener noreferrer" target="_blank">
                                    Artur Staszewski</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic Fort Antoine fortress above the coast in Monaco hosting excellent views"
                        data-src="https://www.travelimager.com/images/monaco/Monaco-Fort-Antoine-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort Antoine</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/monaco-fort-antoine-fortress-187227/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Hans-2/" rel="noopener noreferrer" target="_blank">
                                    Hans</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Racing vehicles which are part of the Prince's private collection in the Monaco Top Cars Collection Museum"
                        data-src="https://www.travelimager.com/images/monaco/Monaco-Top-Cars-Collection.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monaco Top Cars Collection</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Monaco_Top_Cars_Collection_2016-523.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Victorgrigas" rel="noopener noreferrer" target="_blank">
                                    Victor Grigas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Monaco Main Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="main-attractions"></a>
        <h2 class="left-heading destination-section-heading">Casino Monte-Carlo &amp; Prince's Palace</h2>
        <p>Monaco's top attraction is the famous <strong>Casino Monte-Carlo</strong>, an elegant 19th century casino overlooking the ocean with ultra-lavish interiors. It's extremely expensive to gamble within the casino, however you can still pay to enter and explore the grandiose interiors if you like.</p>
        <p>Just outside of the casino are the Monte-Carlo Pavilions, a collection of impressive contemporary structures housing boutique shops, surrounded by a pretty park.</p>
        <h3>Prince's Palace &amp; Marina Overlook</h3>
        <p>The next most popular attraction is the 12th century <strong>Prince's Palace of Monaco</strong>, a decadent fortified palace from which the royals of Monaco have ruled the nation from for over 700 years. You can see part of this palace via guided tour. Be sure to also enjoy the breathtaking views overlooking <strong>Port Hercule</strong> from the nearby Porte d'entree au Rocher.</p>
        <h3>Saint Nicholas Cathedral</h3>
        <p>Also nearby the palace is the beautiful Romanesque <strong>Saint Nicholas Cathedral</strong>, which features posh interiors.</p>
    </section>


    <!-- Monaco Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>The Prince's Palace sits on a small peninsula where you'll also find the country's top museum, the Musee Oceanographique (or <strong>Oceanographic Museum</strong>). This museum is housed within a grand baroque structure atop a cliff. The museum hosts several whale skeletons, model ships, and a sizable aquarium.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Nearby the museum at the tip of the peninsula is the 18th century <strong>Fort Antoine</strong>, from which you can enjoy amazing views looking over the coast and back at Monaco.</p>
            <h3>Top Cars Collection</h3>
            <p>Adjacent to the Prince's Palace is another popular museum, the <strong>Monaco Top Cars Collection</strong>. The museum displays a former royal prince's collection of rare classic cars and race cars, with nearly 100 impressive vehicles on display.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Monaco 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7055940975"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

 

    <!-- Monaco Gardens, La Turbie and Menton, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Mediterranean Exotic Garden of Monaco with sweeping views high above the city-state and marinas below"
                        data-src="https://www.travelimager.com/images/monaco/Monaco-Jardin-Exotique-Exotic-Garden-of-Monaco.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Exotic Garden of Monaco</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Monaco002.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:JoJan" rel="noopener noreferrer" target="_blank">
                                    Georges Jansoone</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient ruins of the the Trophy of Augustus in the town of La Turbie, France in the mountains above Monaco"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-La-Turbie-Trophy-of-Augustus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trophy of Augustus (La&nbsp;Turbie)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Turbie_BW_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Berthold_Werner" rel="noopener noreferrer" target="_blank">
                                    Berthold Werner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Breathtaking High elevation view over the country of Monaco and its coastline from the city of La Turbie, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-La-Turbie-View-Over-Monaco-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">View over Monaco (La&nbsp;Turbie)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_von_Monaco-La_Turbie.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                                    Tobi 87</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the colorful buildings which tower over Plage des Sablettes Beach from the breakwall in the town of Menton, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Menton-Plage-des-Sablettes-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plage des Sablettes Beach (Menton)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/chin-french-riviera-mediterranean-3675042/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Fabien3X9-4176172/" rel="noopener noreferrer" target="_blank">
                                    Fabien3X9</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the vibrant blue waters of the French Riviera from the cliffside Chateau Medieval de Roquebrune Castle near Menton, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Roquebrune-Cap-Martin-Chateau-Medieval-de-Roquebrune-Castle-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau Medieval de Roquebrune</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Water-lily_pond_at_Fondation_Claude_Monet.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Myosotismail" rel="noopener noreferrer" target="_blank">
                                    Myosotismail</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Monaco Gardens Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="gardens"></a>
        <h2 class="left-heading destination-section-heading">Gardens of Monaco</h2>
        <p>Atop a steep cliff you'll find the stunning <strong>Exotic Gardens of Monaco</strong>, a beautiful succulent and cacti garden offering breathtaking views over the city below. The gardens also feature a grotto cave that you can tour which was inhabited by prehistoric humans, as well as the Museum of Prehistoric Anthropology of Monaco housing artifacts from the cave and the surrounding area.</p>
        <p>Another garden you might like to see nearby is the elegant Princesse Grace Rose Garden, which displays a lovely collection of roses and statues.</p>
    </section>

    <!-- La Turbie, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="france-la-turbie"></a>
        <h2 class="left-heading destination-section-heading">La Turbie, France</h2>
        <p>In the French town of La Turbie high up in the mountains above Monaco is an incredible ancient Roman monument, the <strong>Trophy of Augustus</strong>. This giant 2000 year-old stone monument towers above the town of La Turbie and hosts extraordinary views overlooking Monaco and the coast below.</p>
    </section>


    <!-- Menton, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="france-menton"></a>
        <h2 class="left-heading destination-section-heading">Menton, France</h2>
        <p>Just a short train ride up the coast from Monaco is the scenic French town of Menton, which is located very close to the Italian border. This picturesque seaside town is known for its lovely promenade, which you can admire from the <strong>Plage des Sablettes Beach</strong>. Nearby you can walk out to the end of the breakwater from the Quai Imperatrice Eugenie harbor wall for a truly mesmerizing view of Menton.</p>
        <h3>Roquebrune Chateau</h3>
        <p>One more attraction to consider is the incredible <strong>Chateau Medieval de Roquebrune</strong>, a stunning 10th century castle located about halfway between Monaco and Menton. You can explore the this well-preserved hilltop castle while enjoying magnificent views over the coast</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Monaco Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5423402908"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Monaco Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/eQtT9g8HjxB2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/cLQz3z66s8P2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/nice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vibrant blue waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/nice-attractions-guide">
                        Nice, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon, France (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the idyllic Cinque Terre Village of Manarola above the coast from the Manarola Scenic Viewpoint"
                        data-src="https://www.travelimager.com/images/italy/Italy-Cinque-Terre-Manarola-Manarola-Scenic-Viewpoint-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        Cinque Terre, Italy
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/vernazza-town-scenery-reflection-1914919/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/AlwaysWanderlust-3858945/" rel="noopener noreferrer" target="_blank">
                            AlwaysWanderlust</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    