<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Ultramodern buildings of the Barcode Neighborhood on Oslo, Norway Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/norway/Norway-Oslo-Barcode-Project-Neighborhood-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Oslo, Norway, and plan the perfect trip with our savable Oslo Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="oslo_norway" />
    <meta name="europe_attraction_guides" content="oslo_norway" />
    <meta name="europe_destinations" content="oslo_norway" />
    <meta name="europe_destination_guides" content="oslo_norway" />
    <meta name="scandinavia_attraction_guides" content="oslo" />
    <meta name="scandinavia_destinations" content="oslo" />
    <meta name="scandinavia_destination_guides" content="oslo" />
    <meta name="norway_attraction_guides" content="oslo" />
    <meta name="norway_destinations" content="oslo" />
    <meta name="norway_destination_guides" content="oslo" />
    <meta name="google_maps_list" content="oslo" />
    <meta property="og:title" content="Oslo, Norway Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/norway/Norway-Oslo-Barcode-Project-Neighborhood.jpg">
    <meta name="twitter:title" content="Oslo, Norway Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/norway/Norway-Oslo-Barcode-Project-Neighborhood.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/norway-oslo-attractions-guide">
    <title>Attractions Guide for Oslo, Norway</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Oslo, Norway<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#opera-house">Opera House</a></div>
            <div><a href="#akershus-fortress">Akershus Fortress</a></div>
            <div><a href="#sentrum-city-center">City Center</a></div>
            <div><a href="#aker-brygge-waterfront">Aker Brygge</a></div>
            <div><a href="#royal-palace">Royal Palace</a></div>
            <div><a href="#frogner-park">Frogner Park</a></div>
            <div><a href="#bygdoy-museums">Bygdoy Museums</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Oslo Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Norwegian capital city of Oslo is well-known for its sleek contemporary architecture set amongst many historic buildings and great museums.</p>
    </section>


    <!-- Oslo Opera House and Akershus Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ultra-modern Oslo Opera House set amongst the water with its slanted roofs for people to walk up" 
                        src="https://www.travelimager.com/images/norway/Norway-Oslo-Operahuset-Oslo-Opera-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oslo Opera House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oslo_Opera_House_hus_2014_hav.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%C3%98yvind_Holmstad" rel="noopener noreferrer" target="_blank">
                                    Oyvind Holmstad</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Striking contemporary high-rise buildings along the water in Oslo's Barcode neighborhood"
                        src="https://www.travelimager.com/images/norway/Norway-Oslo-Barcode-Project-Neighborhood.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Barcode Neighborhood</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/oslo-norway-city-modern-skyscraper-957242/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/AlexvonGutthenbach-Lindau-1292951/" rel="noopener noreferrer" target="_blank">
                                    AlexvonGutthenbach-Lindau</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Brick buildings of Oslo's historic Akershus Festning Fortress along the water"
                        src="https://www.travelimager.com/images/norway/Norway-Oslo-Akershus-Festning-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Akershus Festning Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oslo_Akershus_festning_IMG_8916_rk_86131.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bjoertvedt" rel="noopener noreferrer" target="_blank">
                                    Bjoertvedt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/no/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 NO</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Oslo Opera House and Barcode Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="opera-house"></a>
        <h2 class="left-heading destination-section-heading">Oslo Opera House &amp; Barcode</h2>
        <p>One of the city's most famous structures is the harborside <strong>Oslo Opera House</strong>, with its slanted roofs you can climb for amazing panoramic views over the area. The Opera House sits next to the <strong>Barcode</strong> neighborhood of Oslo, which consists of stunning ultra-contemporary high rise buildings, which are best viewed from atop the Opera House.</p>
    </section>


    <!-- Akershus Fortress Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="akershus-fortress"></a>
        <h2 class="left-heading destination-section-heading">Akershus Fortress</h2>
        <p>Another popular attraction is the 12th century seaside <strong>Akershus Fortress</strong> that you can explore, which hosts historic buildings, museums, and great coastal views. The fortress sits adjacent to the Sentrum City Center of Oslo.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oslo 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8831330720"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Oslo Sentrum City Center Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Norwegian Parliament Building seen behind a small park in Oslo"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Stortinget-Norwegian-Parliament-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Norwegian Parliament Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stortinget_i_Oslo.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stortinget_i_Oslo.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Mathiasertnaes</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/no/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 NO</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Red brick exterior of Oslo's National Gallery of Norway"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Nasjonalgalleriet-National-Gallery-Art-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Gallery of Norway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:IMG_9601_national_museum_old.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%C3%98yvind_Holmstad" rel="noopener noreferrer" target="_blank">
                                    Oyvind Holmstad</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering brick exterior of Oslo's Radhuset City Hall building at sunset"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Radhuset-City-Hall-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Radhuset City Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/34838353@N07/3529044101/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alexao/" rel="noopener noreferrer" target="_blank">
                                    Alexander Ottesen</a><br />
                           <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large room inside Oslo's Radhuset City Hall with intricate and colorful art murals covering the walls"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Radhuset-City-Hall-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Radhuset City Hall (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlascar/29585710990" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlascar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Lascar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the clocktower of the Oslo Cathedral"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Oslo-Domkirke-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oslo Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlascar/29879506755" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlascar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Lascar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Sentrum City Center Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sentrum-city-center"></a>
        <h2 class="left-heading destination-section-heading">Sentrum City Center</h2>
        <p>Within the Sentrum City Center you can admire the beautiful baroque <strong>Norwegian Parliament</strong> building and visit the <strong>National Gallery of Norway</strong> containing a wealth of Norwegian fine art.</p>
        <p>Be sure to visit the historic <strong>Radhuset City Hall</strong> building with its elaborately detailed interiors. Around the City Center you'll also find the impressive 17th century <strong>Oslo Cathedral</strong> and its spire-topped clocktower.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oslo 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9098638625"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Oslo Aker Brygge, Royal Palace, and Frogner Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night time view looking down the marina of Oslo's modern Aker Brygge neighbohood"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Aker-Brygge-Neighborhood-Marina-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aker Brygge Neighborhood</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Aker_Brygge_(3).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Aker_Brygge_(3).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Dyroe</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking modern architecture of Oslo's Astrup Fearnely Museum built atop the water"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Aker-Brygge-Astrup-Fearnley-Museet-Modern-Art-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Astrup Fearnely Museet Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Astrup_Fearnley_Oslo_2013.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Astrup_Fearnley_Oslo_2013.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Mentalmelt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of Oslo's lavish Royal Palace surrounded by parkland"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Det-Kongelige-Slott-Royal-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Det_Kongelige_Slott_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GuoJunjun" rel="noopener noreferrer" target="_blank">
                                    GuoJunjun</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/no/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 NO</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant Frogner sculptures behind fountains at Oslo's vast Frogner Park (a.k.a. Vigeland Park)"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Frogner-Park-Vigeland-Park-Monolitten-Sculpture-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Frogner Park (Vigeland&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bent-tranberg/8540550063" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bent-tranberg/" rel="noopener noreferrer" target="_blank">
                                    Bent Tranberg</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Aker Brygge Waterfront Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="aker-brygge-waterfront"></a>
        <h2 class="left-heading destination-section-heading">Aker Brygge Waterfront</h2>
        <p>Adjacent to the City Center is the newer <strong>Aker Brygge</strong> waterfront neighborhood, where you'll find many great shops and restaurants amongst impressive contemporary buildings.</p>
        <p>Two museums in this area you might visit are the Nobel Peace Center museum with exhibits on the Nobel Peace Prize, and the <strong>Astrup Fearnley Museet</strong>, a modern art museum.</p>
    </section>


    <!-- Oslo Royal Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="royal-palace"></a>
        <h2 class="left-heading destination-section-heading">Royal Palace</h2>
        <p>To the north of Aker Byrgge and the City Center you'll find Oslo's <strong>Royal Palace</strong>, which is surrounded by a beautiful lush park. Be aware that if you'd like to tour the palace you must make reservations in advance.</p>
    </section>


    <!-- Frogner / Vigeland Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="frogner-park"></a>
        <h2 class="left-heading destination-section-heading">Frogner / Vigeland Park</h2>
        <p>On the western side of the city is the expansive Frogner Park (also known as Vigeland Park), which has many sculptures spread out across its well-manicured gardens. Here you'll also find the Vigeland Museum hosting many sculptures created by the famous Norwegian sculptor Gustav Vigeland.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oslo 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5742859303"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Oslo Bygdoy Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="One of the best-preserved viking ships in the world, housed within Norway's Viking Ship Museum"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Vikingshiphuset-Viking-Ship-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Viking Ship Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Viking_Ship_Museum_-_Oseberg_ship_-_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Spiritia" rel="noopener noreferrer" target="_blank">
                                    Vassia Atanassova</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Reconstructed stave wooden church, one of only a few in Norway, located within the Norwegian Folk Museum in Oslo"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Norsk-Folkemuseum-Norwegian-Folk-Museum-of-Cultural-History-Stavkirke-fra-Gol-Stave-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gol Stave Church (Cultural&nbsp;History&nbsp;Museum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:GolStavkirkeNorskFolkemuseum.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:GolStavkirkeNorskFolkemuseum.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Paalmork</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant ship used in historic polar expeditions housed within Oslo's Fram Museum"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Frammuseet-Fram-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fram Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/downeym/6063335206/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/downeym/" rel="noopener noreferrer" target="_blank">
                                    Mike</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Kon-Tiki ship and relevant memorabilia used to sail across the Pacific Ocean, housed in a museum on Oslo"
                        data-src="https://www.travelimager.com/images/norway/Norway-Oslo-Kon-Tiki-Museum-Interior-Ship.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kon-Tiki Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_Kon-Tiki.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_Kon-Tiki.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Okaaland</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bygdoy Peninsula Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bygdoy-museums"></a>
        <h2 class="left-heading destination-section-heading">Bygdoy Peninsula Museums</h2>
        <h3>Viking Ship Museum</h3>
        <p>To the south of Frogner Park on the city's Bygdoy Peninsula are four fantastic museums, including the renowned <strong>Viking Ship Museum</strong> which houses three 9th century viking ships alongside artifacts.</p>
        <h3>Gol Stave Church</h3>
        <p>Adjacent to the Viking Ship Museum is the <strong>Norwegian Museum of Cultural History</strong>, a large open-air museum featuring historical structures throughout history including medieval buildings and a stunning traditional wooden stave church, as well as many furnished traditional homes.</p>
        <h3>Fram Museum &amp; Kon-Tiki Museum</h3>
        <p>Also on the peninsula is the <strong>Fram Museum</strong>, which houses a 19th century ship used for polar expeditions. Next door is the <strong>Kon-Tiki Museum</strong> dedicated to Norwegian explorer Thor Heyerdahl, who constructed highly-accurate models of ancient boats and sailed them across oceans, with these boats and related exhibits on display. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Oslo Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4429777634"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Oslo Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qTxQNrS321F2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/1LPPDT8PaAv">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/denmark-copenhagen-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic colorful townhouse row along Copenhagen's Nyhavn Canal with many parked boats and tourists" 
                        data-src="https://www.travelimager.com/images/denmark/Denmark-Copenhagen-Nyhavn-Canal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/denmark-copenhagen-attractions-guide">
                        Copenhagen, Denmark
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Nyhavn_copenhagen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GuoJunjun" rel="noopener noreferrer" target="_blank">
                            GuoJunjun</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/sweden-stockholm-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Historic buildings of Stockholm's Riddarholmen Island and their reflection in the water during golden hour"
                        data-src="https://www.travelimager.com/images/sweden/Sweden-Stockholm-Riddarholmen-Island.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/sweden-stockholm-attractions-guide">
                        Stockholm, Sweden
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/tarquingemstone/24903933061" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/tarquingemstone/" rel="noopener noreferrer" target="_blank">
                            chas B</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    