<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Exterior of the Historical Slovak National Theatre in Bratislava, Slovakia Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Historical-Slovak-National-Theatre-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Bratislava, Slovakia + Hrad Devin Castle, and plan the perfect trip with savable Bratislava Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="bratislava_slovakia" />
    <meta name="europe_attraction_guides" content="bratislava_slovakia" />
    <meta name="europe_destinations" content="bratislava_slovakia" />
    <meta name="europe_destination_guides" content="bratislava_slovakia" />
    <meta name="slovakia_attraction_guides" content="bratislava" />
    <meta name="slovakia_destinations" content="bratislava" />
    <meta name="slovakia_destination_guides" content="bratislava" />
    <meta name="google_maps_list" content="bratislava" />
    <meta property="og:title" content="Bratislava, Slovakia Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Historical-Slovak-National-Theatre.jpg">
    <meta name="twitter:title" content="Bratislava, Slovakia Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Historical-Slovak-National-Theatre.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/slovakia-bratislava-attractions-guide">
    <title>Attractions Guide for Bratislava, Slovakia</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Bratislava, Slovakia<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    
    <!-- Introduction to Bratislava Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Slovakia's capital city sits along the Danube River just beyond the Austrian border. You'll find most of the city's best attractions around its charming 18th century Old Town.</p>
    </section>


    <!-- Bratislava Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Beautiful white hilltop Bratislava Castle seen behind a river in Slovakia" 
                        src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Bratislava-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bratislava Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2014-03-26_-_panoramio_(6).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:2014-03-26_-_panoramio_(6).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Valery Ded</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colorful elegant buildings lining Bratislava's Main Square, with the hilltop Bratislava Castle towering above in the background, in Slovakia" 
                        src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Hlavne-Namestie-Main-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Main Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/robhurson/35096533142/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/robhurson/" rel="noopener noreferrer" target="_blank">
                                    Rob Hurson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Beautiful pink baroque exterior of the Primatial Palace in Bratislava, Slovakia"
                        src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Primatial-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Primatial Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Primate%27s_Palace,_Bratislava,_Slovakia_-_20140723-03.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sgconlaw" rel="noopener noreferrer" target="_blank">
                                    Smuconlaw</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Extravagant baroque exterior of the Historical Slovak National Theatre in Bratislava"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Historical-Slovak-National-Theatre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Historical Slovak National Theatre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/bratislava-slovakia-2544039/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/peter89ba-3561877/" rel="noopener noreferrer" target="_blank">
                                    peter89ba</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Colorful buildings line the tight walkway to Michael's Gate, a medieval tower topped with a giant green spired dome, in Bratislava, Slovakia"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Michaels-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Michael's Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/fran001/34482418013" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/fran001/" rel="noopener noreferrer" target="_blank">
                                    Francisco Anzola</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful vibrant light blue Church of St. Elizabeth with white embellishments in Bratislava, Slovakia"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Blue-Church-of-St-Elizabeth.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Blue Church of St. Elizabeth</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Blue_Church,_Bratislava_02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl" rel="noopener noreferrer" target="_blank">
                                    Thomas Ledl</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Towering stone monument of the Slavin War Memorial in Bratislava, Slovakia"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Slavin-War-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Slavin War Memorial</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Slavin_Pamatnik_s_terasou_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Slavin_Pamatnik_s_terasou_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Tomas Slabej</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ruins of the tall rocky hilltop Hrad Devin Castle which towers above the river below near Bratislava, Slovakia"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Hrad-Devin-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hrad Devin Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kurt-b/8055531491" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kurt-b/" rel="noopener noreferrer" target="_blank">
                                    Kurt Bauschardt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bratislava Castle Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Bratislava Castle</h2>
        <p>The top attraction in Bratislava is the gigantic <strong>Bratislava Castle</strong> complex, which sits atop a hill over the Danube and the Old Town, consisting of many different structures built in different styles and time periods. From the top of the castle you can take in striking views over the city and surrounding area.</p>
    </section>


    <!-- Bratislava Old Town Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Old Town</h2>
        <p>You can walk along the Old Town's <strong>Main Square</strong> to admire the colorful baroque structures that line it and the Old Town Hall building. Nearby is the elegant 18th century <strong>Primatial Palace</strong>, which you can admire from outside or enter to see the beautiful Hall of Mirrors Room as well as take in views from the balcony over the palace courtyard. Also nearby is the marvelous <strong>Historical Slovak National Theatre</strong>, which sits on another scenic square.</p>
        <p>On the northern side of the Old Town be sure to see the historic <strong>Michael's Gate</strong> entrance to the city, which sits below a bell tower. To the east of the Old Town is the lovely vibrant <strong>Blue Church of St. Elizabeth</strong>, a very photogenic sight which also contains lovely blue interiors.</p>
    </section>


    <!-- Slavin War Memorial Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Slavin War Memorial</h2>
        <p>On the northern side of Bratislava you'll find the hilltop <strong>Slavin War Memorial</strong>, a towering stone monument that's quite impressive from which you can also take in views overlooking the city below.</p>
    </section>


    <!-- Hrad Devin Castle Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Hrad Devin Castle</h2>
        <p>Just outside of Bratislava to the west along the Danube River are the stunning ruins of the rock-top <strong>Hrad Devin Castle</strong>, an incredible medieval fortification which is a must-see for any trip to Slovakia. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bratislava Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3116695967"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Bratislava Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Uuw7uSYgDJr">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        Vienna, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer" target="_blank">
                            Dmitry A. Motti</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/hungary-budapest-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Angled night view of the lit up Hungarian Parliament Building seen from the river in Budapest, Hungary"
                        data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Hungarian-Parliament-Building.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/hungary-budapest-attractions-guide">
                        Budapest, Hungary
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wongwt/27825126932/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wongwt/" rel="noopener noreferrer" target="_blank">
                            Wei-Te Wong</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset aerial view overlooking the Charles Bridge walkway with the hilltop Prague Castle in the background in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        Prague, Czech&nbsp;Republic
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/prague-architecture-bridge-1845560/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pexels-2286921/" rel="noopener noreferrer" target="_blank">
                            Pexels</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/wachau-valley-attractions-guide">
                        <img class="destination-image" 
                        alt="View overlooking the Burgruine Aggstein Castle ruins and the Danube River valley below in the Wachau Valley town of Aggstein in Austria"
                        src="https://www.travelimager.com/images/austria/Austria-Wachau-Valley-Burgruine-Aggstein-Castle-Ruins-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/wachau-valley-attractions-guide">
                        Wachau Valley, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Ruine_Aggstein_03.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Uoaei1" rel="noopener noreferrer" target="_blank">
                            Uoaei1</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/at/deed.en" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0 AT</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    