<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
    <div class="col-8 offset-2">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">ERROR: <%= err.message %></h4>
            <hr>
            <% if (process.env.NODE_ENV !== "production") { %> 
                <p><%= err.stack %></p>
                <hr>
                <p class="mb-0">Error Stack Trace ^</p>
            <% } %> 
        </div>
    </div>
</div>
</body>
</html>