<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Delicate Arch glowing at golden hour in Arches Natiional Park, Utah, Travonga Travel Itineraries Homepage Thumbnail</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Moab-Arches-National-Park-Delicate-Arch-Golden-Hour-Travonga-Homepage-Thumbnail-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    <!-- Head Metadata -->
    <meta name="description" content="Plan the perfect trips with our detailed Travel Itineraries and Attraction Guides for Europe, Western USA, and British Columbia's top attractions" />
    <meta property="og:title" content="Travonga Travel Itineraries & Attraction Guides">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Moab-Arches-National-Park-Delicate-Arch-Golden-Hour-Travonga-Homepage-Thumbnail.jpg">
    <meta name="twitter:title" content="Travonga Travel Itineraries & Attraction Guides">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Moab-Arches-National-Park-Delicate-Arch-Golden-Hour-Travonga-Homepage-Thumbnail.jpg">
    <link rel="canonical" href="https://travonga.com">
    <title>Travonga Travel Itineraries & Attractions Guides for Europe & USA</title>
</head>

<body>
    <!-- Navbar -->
    <%- include('./partials/navbar') %>

    <!-- Page Heading and Main Section Links -->
     <h1 class="homepage-title">Featured Travel Itineraries</h1>



    <!-- Row 1 Double Itinerary Flexbox (Western Europe and Central Europe) -->
    <div class="two-itinerary-flexbox-home">

        <!-- Western Europe Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/europe/western-europe-travel-itinerary-and-top-attractions-by-train">Western Europe Itinerary</a></h2>
            <p class="itinerary-length-home">2&nbsp;&frac12; - 5 Weeks (By Train)</p>

            <!-- Western Europe Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img alt="Palace of Westminster and Big Ben seen from atop the London Eye Ferris Wheel"
                                src="https://www.travelimager.com/images/england/England-London-Palace-of-Westminster-1.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">London, England</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Iconic neolithic monument of Stonehenge located in the English countryside near Salisbury, Wiltshire, Southern England"
                                data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge-Sun-Shining-through-Clouds.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Stonehenge, England</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Busy streets at night outside the famous red Temple Bar, at the heart of Dublin's Temple Bar District"
                                data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Temple-Bar-1.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Dublin, Ireland</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Looking along the grass-covered jagged steep Cliffs of Moher towering above the ocean in County Clare, Ireland near Galway"
                                data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Cliffs of Moher, Ireland</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge" 
                                data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Amsterdam, Netherlands</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Brothaus and Kings House along Grand Place Square in the center of Brussels, Belgium"
                                data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-and-Brothaus-Kings-House-Building.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Brussels, Belgium</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Famous viewpoint along the canals in Bruges with several rustic medieval buildings along the water and the Belfry of Bruges in the background"
                                data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Brugge-Fotoplaats-Bruges-Canal-Photo-Point.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Bruges, Belgium</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Eiffel Tower viewed at with sunset and golden hour colors seen behind the Champ de Mars in Paris, France" 
                                data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower-and-Champ-de-Mars-Park-Sunset-Golden-Hour.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Paris, France</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Beautiful checkerboard courtyard and pink exterior of the Palace of Versailles located just outside Paris, France"
                                data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Versailles-Palace-of-Versailles-Courtyard.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Versailles, France</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Famous gingerbread houses of Antoni Gaudi's Parc Guell in the hills above Barcelona, Spain"
                                data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Parc-Guell-Gaudi-Gingerbread-Houses.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Barcelona, Spain</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Western Europe Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">Dublin</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/england/london-attractions-guide">London</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">Salisbury</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/netherlands/amsterdam-attractions-guide">Amsterdam</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">Brussels</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/belgium/bruges-attractions-guide">Bruges</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/paris-attractions-guide">Paris</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/greater-paris-attractions-guide">Versailles</a>&nbsp;&#8729;
                    <a href="/destinations/europe/spain/barcelona-attractions-guide">Barcelona</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Cliffs of Moher&nbsp;&#8729; 
                    Big Ben&nbsp;&#8729; 
                    Stonhenge&nbsp;&#8729; 
                    Zaanse&nbsp;Schans&nbsp;&#8729; 
                    Eiffel Tower&nbsp;&#8729; 
                    Palace of Versailles</a>&nbsp;&#8729; 
                    Sagrada Familia
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">Edinburgh</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/luxembourg-city-attractions-guide">Luxembourg&nbsp;City</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">Carcassonne&nbsp;Castle</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/ibiza-attractions-guide">Ibiza</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/madrid-attractions-guide">Madrid</a>
                </p>
            </section>

        </section>




        <!-- Central Europe Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/europe/central-europe-travel-itinerary-and-top-attractions-by-train">Central Europe Itinerary</a></h2>
            <p class="itinerary-length-home">2 - 4 Weeks (By Train)</p>

            <!-- Central Europe Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img alt="Sunset colors behind the facade of the majestic Berliner Dom or Berlin Cathedral with  Fernsehturm Tower in background"
                                src="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Dom-Berlin-Cathedral.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Berlin, Germany</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunset aerial view overlooking the Charles Bridge walkway with the hilltop Prague Castle in the background in Prague, Czech Republic"
                                data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Prague, Czech Republic</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Reflection of the stunning marble Karlskirch Church of St. Carl and its columns in Vienna, Austria"
                                data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Karlskirche-St-Carls-Church-Night-Reflection.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Vienna, Austria</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Night-time aerial view overlooking the lit up Szechenyi Chain bridge and Hungarian Parliament Building from high above in Budapest, Hungary"
                                data-src="https://www.travelimager.com/images/hungary/Hungary-Budapest-Szechenyi-Chain-Bridge-1.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Budapest, Hungary</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Hohensalzburg Fortress and Old Town Salburg and Residenz seen from across the Salzach River in Sazlburg, Austria"
                                data-src="https://www.travelimager.com/images/austria/Austria-Salzburg-Salzach-River-View-of-Old-Town-Residenz-and-Hohensalzburg-Fortress.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Salzburg, Austria</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Classic Village Viewpoint of Hallstatt on Hallstattersee Lake in the Salzkammergut Region of Austria"
                                data-src="https://www.travelimager.com/images/austria/Austria-Salzkammergut-Hallstatt-Classic-Village-Viewpoint-2.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Hallstatt, Austria</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking the medieval buildings around Marienplatz square, the main square in Munich, Germany in Bavaria" 
                                data-src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Munich, Germany</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Spring foliage on a cloudy day overlooking Neuschwanstein Castle from Marienbruecke Bridge in Bavaria, Germany"
                                data-src="https://www.travelimager.com/images/germany/Germany-Fussen-Hohenschwangau-Schloss-Neuschwanstein-Castle-Spring.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Neuschwanstein Castle</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Central Europe Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">Berlin</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">Prague</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/austria/vienna-attractions-guide">Vienna</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/hungary-budapest-attractions-guide">Budapest</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/austria/salzburg-attractions-guide">Salzburg</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">Hallstatt</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/germany/munich-attractions-guide">Munich</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/germany/fussen-and-neuschwanstein-castle-attractions-guide">Neuschwanstein</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Berlin Wall&nbsp;&#8729; 
                    Prague Castle&nbsp;&#8729; 
                    Sch&#246;nbrunn &amp; Hofburg Palaces&nbsp;&#8729; 
                    Buda Castle&nbsp;&#8729; 
                    Neuschwanstein Castle
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/slovakia-bratislava-attractions-guide">Bratislava</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">Heidelberg</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">Rhine&nbsp;River&nbsp;Valley</a>
                </p>
            </section>

        </section>

    </div>








    <!-- Row 2 Double Itinerary Flexbox (Italy and Spain) -->
    <div class="two-itinerary-flexbox-home">

        <!-- Italy Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/europe/italy-travel-itinerary-and-top-attractions-by-train">Italy Itinerary</a></h2>
            <p class="itinerary-length-home">2 - 4 Weeks (By Train)</p>

            <!-- Italy Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy" 
                                data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Milan</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Picturesque view of Bellagio, Italy along the shores of Lake Como seen from the Lungolago Europa lakeside pathway"
                                data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Lake Como</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Gondola boats along the water in front of St. Mark's Square with St. Mark's Campanile towering above it in Venice, Italy"
                                data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-St-Marks-Campanile.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Venice</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Overlooking the towering columns and ancient ruins of the Roman Forum surrounded by grassy fields in Rome, Italy"
                                data-src="https://www.travelimager.com/images/italy/Italy-Rome-Roman-Forum.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Rome</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Iconic view of Vatican Square surrounded by grandiose colonnades seen from the dome of St. Peter's Basilica in Vatican City"
                                data-src="https://www.travelimager.com/images/italy/Italy-Rome-Vatican-City-Vatican-Square.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Vatican City</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking Naples Old Town and Bay of Napels with Moutn Vesuvius in the background, Naples, Italy"
                                data-src="https://www.travelimager.com/images/italy/Italy-Naples-View-over-Old-Town-and-Bay-of-Naples-with-Mount-Vesuvius.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Naples</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Anicent streets of Pompeii and densely packed partially-ruined structures in Pompeii Archaeological Park, Italy"
                                data-src="https://www.travelimager.com/images/italy/Italy-Pompeii-Pompeii-Archaeological-Park-Via-di-Nola-Street.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Pompeii</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Clear waters at the beach of Marina Piccola with views of Faraglioni rocks "
                                data-src="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Piccola-Beach-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Capri</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Looking down the coastline along Positano's Spiaggia Beach below the village of Positano along Italy's Amalfi Coast"
                                data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Positano-Spiaggia-Beach-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Amalfi Coast</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Grassy Piazza del Duomo with the Pisa Cathedral and Leaning Tower of Pisa, in Northern Pisa, Italy"
                                data-src="https://www.travelimager.com/images/italy/Italy-Pisa-Leaning-Tower-of-Pisa-and-Duomo-Cathedral-Grassy-Piazza-del-Duomo.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Pisa</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunset view from Piazzale Michelangelo over Arno River and rustic buildings of Florence, Italy and Florence Cathedral's Dome"
                                data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Florence</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunset view overlooking the idyllic Cinque Terre Village of Manarola above the coast from the Manarola Scenic Viewpoint"
                                data-src="https://www.travelimager.com/images/italy/Italy-Cinque-Terre-Manarola-Manarola-Scenic-Viewpoint-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Cinque Terre</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Italy Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/italy/milan-attractions-guide">Milan</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">Lake&nbsp;Como</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/venice-attractions-guide">Venice</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/rome-attractions-guide">Rome</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/naples-attractions-guide">Naples</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/pompeii-attractions-guide">Pompeii</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/capri-attractions-guide">Island of Capri</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/amalfi-coast-attractions-guide">Amalfi&nbsp;Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/florence-attractions-guide">Florence</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/pisa-attractions-guide">Pisa</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/florence-attractions-guide">Cinque&nbsp;Terre</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Da Vinici's Last Supper&nbsp;&#8729; 
                    Piazza San Marco&nbsp;&#8729; 
                    Roman Colosseum &amp; Forum&nbsp;&#8729; 
                    Vatican City&nbsp;&#8729; 
                    Ancient&nbsp;Pompeii&nbsp;&#8729; 
                    Michelangeo's David&nbsp;&#8729; 
                    Leaning Tower of Pisa
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">Lucerne</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/verona-attractions-guide">Verona</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/monaco-attractions-guide">Monaco</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/nice-attractions-guide">Nice</a>
                </p>
            </section>

        </section>



        <!-- Spain Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/europe/spain-and-portugal-travel-itinerary-and-top-attractions-by-train">Spain &amp; Portugal Itinerary</a></h2>
            <p class="itinerary-length-home">3 - 5 Weeks (By Train)</p>

            <!-- Spain Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View of Antoni Gaudi's La Sagrada Famila exterior facade behind a park pond in the Catalonian capital of Barcelona, Spain" 
                                data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Barcelona, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Evening view of the illuminated futuristic buildings of Valencia's City of Arts and Sciences in Eastern Spain" 
                                data-src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Buildings-Evening-Lights.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Valencia, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Skyscrapers line the beautiful long sandy Playa de Poniente Beach and its vibrant blue-green waters in the popular resort town of Benidorm along Spain's Costa Blanca"
                                data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Playa-de-Poniente.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Costa Blanca, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Terrace viewpoint overlooking beautiful art nouveau style buildings of Downtown Madrid, Spain"
                                data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Downtown-Buildings-Overlook.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Madrid, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Mirador de la Pradera de San Marcos Field Viewpoint below the Alcazar de Segova Castle of Segovia, Spain"
                                data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Field-Viewpoint.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Segovia, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunset view overlooking Old Town Walled City of Toledo behind the Tagus River, Toledo, Spain"
                                data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Walled-City-View-from-behind-Tagus-River-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Toldeo, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Royal Alcazar of the Christian Monarchs of Cordoba Castle Gardens and fountains in Cordoba, Spain"
                                data-src="https://www.travelimager.com/images/spain/Spain-Cordoba-Alcazar-of-the-Christian-Monarchs-Castle-Gardens-and-Fountains.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Cordoba, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Alhambra during sunset seen from the Mirador San Nicolas Viewpoint in Granada, Spain"
                                data-src="https://www.travelimager.com/images/spain/Spain-Granada-Mirador-San-Nicolas-Alhambra-Overlook.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Granada, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Wide angle view of the massive Plaza de Espana in Seville, Spain" 
                                data-src="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-Espana-Wide-Angle.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Seville, Spain</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Inside the famous Benagil Caves sea caves and beach of Carvoeiro, Algarve Coast, Portugal" 
                                data-src="https://www.travelimager.com/images/portugal/Portugal-Algarve-Coast-Carvoeiro-Praia-da-Benagil-Beach-Benagil-Caves-Inside.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Algarve Coast, Portugal</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Miradouro das Portas do Sol Viewpoint overlooking the Church of Sao Vicente of Fora and River in Central Lisbon, Portugal" 
                                data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-das-Portas-do-Sol-Viewpoint-of-Church-of-Sao-Vicente-of-Fora.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Lisbon, Portugal</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Overlooking the vast winding walls along the mountaintop of the Castle of the Moors in Sintra, Portugal" 
                                data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-View-of-Hilltop-Medieval-Walls-and-Towers.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Sintra, Portugal</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Douro River shore view of Old Town Porto atop the hills in Porto, Portugal" 
                                data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Old-Town-Douro-River-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Porto, Portugal</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Spain Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/spain/barcelona-attractions-guide">Barcelona</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/valencia-attractions-guide">Valencia</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/costa-blanca-attractions-guide">Costa Blanca</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/madrid-attractions-guide">Madrid</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/segovia-attractions-guide">Segovia</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/toledo-attractions-guide">Toledo</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">Cordoba</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/granada-attractions-guide">Granada</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/seville-attractions-guide">Seville</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">Algarve&nbsp;Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/portugal/lisbon-attractions-guide">Lisbon</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/portugal/sintra-attractions-guide">Sintra</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/portugal/porto-attractions-guide">Porto</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Parc G&#252;ell&nbsp;&#8729; 
                    City of Arts &amp; Sciences&nbsp;&#8729; 
                    Benidorm&nbsp;&#8729; 
                    Segovia Castle&nbsp;&#8729; 
                    Alhambra&nbsp;&#8729; 
                    Plaza de Espa&ntilde;a&nbsp;&#8729; 
                    Marinha Beach&nbsp;&#8729; 
                    Benagil Caves&nbsp;&#8729; 
                    Pena Palace&nbsp;&#8729; 
                    Quinta da Regaleira
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/spain/ibiza-attractions-guide">Ibiza</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/avila-and-salamanca-attractions-guide">Avila &amp; Salamanca</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/spain/malaga-attractions-guide">Malaga</a>
                </p>
            </section>

        </section>

    </div>





    <!-- Row 3 Double Itinerary Flexbox (Pacific Northwest and Utah / Arizona) -->
    <div class="two-itinerary-flexbox-home">

        <!-- Pacific Northwest Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/usa/pacific-northwest-road-trip-itinerary-and-top-attractions">Pacific Northwest<br />Road Trip Itinerary</a></h2>
            <p class="itinerary-length-home">3 - 5 Weeks</p>

            <!-- Pacific Northwest Road Trip Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Fort Point View overlooking the entrance to the San Francisco Bay beneath the Golden Gate Bridge in San Francisco, California"
                                data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">San Francisco, California</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Viewpoint overlooking the Russian Gulch Bridge along the Mendocino coastline of the Lower Northern California Coast"
                                data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Russian-Gulch-Bridge-Viewpoint.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Lower Northern California Coast</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                                data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Upper Northern California Coast &amp; Redwoods</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Stunning view overlooking the Natural Bridges Cove and island along the Samuel H. BoardmanStat Scenic Corridor of the Southern Oregon Coast"
                                data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Brookings-Samuel-H-Boardman-State-Scenic-Corridor-Natural-Bridges-Cove-Bridges-and-Islands-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Southern Oregon Coast</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                                data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Northern Oregon Coast &amp; Cannon&nbsp;Beach</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Wild deer seen in the lush Hoh Rainforest of Olympic National Park, Washington on the Olympic Peninsula"
                                data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rainforest-Wildlife-Deer.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Olympic National Park, Washington</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Lush gardens and flowers of the famous Butchart Gardens of Brentwood Bay near Victoria on Vancouver Island, British Columbia, Canada"
                                data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Brentwood-Bay-Butchart-Gardens-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Victoria &amp; Vancouver&nbsp;Island, B.C.</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking Downtown Vancouver and highrises behind a marina in Vancouver, British Columbia, Canada"
                                data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Downtown-Vancouver-Harbor-and-Mountains-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Vancouver, B.C.</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Iconic view from Kerry Park of Seattle Space Needle seen amongst the skyscrapers of Downtown Seattle and Mt. Rainier in the distance at sunset in Seattle, Washington" 
                                data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Kerry-Park-View-of-Space-Needle-and-Mt-Rainier-Sunset-behind-Tree.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Seattle, Washington</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking Mt. Rainier towering above Eunice Lake from the Tolmie Peak Trail of Mount Rainier National Park, Washington" 
                                data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-View-over-Eunice-Lake-from-Tolmie-Peak-Trail.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Mt. Rainier National&nbsp;Park, Washington</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking Downtown Portland (PDX) and the university cable car in Portland, Oregon" 
                                data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Portland, Oregon</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Lower Multnomah Falls and bridge surrounded by winter scenery along the Columbia River Gorge of Oregon"
                                data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Lower-Multnomah-Falls-and-Bridge-Winter.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Columbia River Gorge, Oregon</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Iconic view overlooking the river winding through the tall cliffs of Smith Rock State Park along Misery Ridge in Bend, Oregon"
                                data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Misery-Ridge-to-Summit-Trail.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Bend, Oregon</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                            alt="View overlooking the Wizard Island and the rounded rim of Crater Lake at Oregon's Crater Lake National Park" 
                            data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-and-Rim-Overlook.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Crater Lake National Park, Oregon</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                            alt="Close-up view of the large powerful Burney Falls near Mt. Shasta and Lassen Volcanic National Park, Northern California" 
                            data-src="https://www.travelimager.com/images/california/California-Mt-Shasta-Area-McArthu-Burney-Falls-Park-Burney-Falls.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Burney Falls (Shasta&nbsp;&amp;&nbsp;Lassen), California</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Pacific Northwest Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/usa/california/san-francisco-attractions-guide">San Francisco</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/lower-northern-california-coast-attractions-guide">Lower NorCal Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/upper-northern-california-coast-attractions-guide">Upper NorCal Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/southern-oregon-coast-attractions-guide">S. Oregon Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/northern-oregon-coast-attractions-guide">N. Oregon Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/washington/olympic-national-park-attractions-guide">Olympic National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">Victoria</a>&nbsp;&#8729; 
                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">Vancouver</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/washington/seattle-attractions-guide">Seattle</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/washington/mount-rainier-national-park-attractions-guide">Mt. Rainier National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/portland-attractions-guide">Portland</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/columbia-river-gorge-attractions-guide">Columbia River Gorge</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/bend-attractions-guide">Bend</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/crater-lake-national-park-attractions-guide">Crater Lake N.P.</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/lassen-national-park-and-mt-shasta-area-attractions-guide">Mt. Shasta &amp; Lassen</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Golden Gate Bridge&nbsp;&#8729; 
                    Redwood Forests&nbsp;&#8729; 
                    Haystack Rock&nbsp;&#8729; 
                    Hoh Rainforest&nbsp;&#8729; 
                    Vancouver Seawall&nbsp;&#8729; 
                    Joffre Lakes&nbsp;&#8729; 
                    Space Needle&nbsp;&#8729; 
                    Multnomah Falls&nbsp;&#8729; 
                    Smith Rock&nbsp;&#8729; 
                    Crater Lake&nbsp;&#8729; 
                    Burney Falls
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/usa/california/upper-central-california-coast-southbound-attractions-guide">Central California Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide">Point Reyes</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/washington/mount-baker-and-north-cascades-attractions-guide">Mt. Baker &amp; North&nbsp;Cascades N.P.</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/washington/mount-st-helens-attractions-guide">Mt. St.&nbsp;Helens</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/oregon/williamette-national-forest-attractions-guide">Williamette N.F.</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/lake-tahoe-attractions-guide">Lake Tahoe</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/bodie-and-mono-county-attractions-guide">Bodie &amp; Lake&nbsp;Mono</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">Yosemite National Park</a>
                </p>
            </section>

        </section>



        <!-- Utah and Arizona Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/usa/utah-and-arizona-road-trip-itinerary-and-top-attractions">Utah &amp; Arizona<br />Road Trip Itinerary</a></h2>
            <p class="itinerary-length-home">2 - 3 Weeks</p>

            <!-- Utah and Arizona Road Trip Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Famous fountain show at the Bellagio Casino in the middle of the Las Vegas Strip of Las Vegas, Nevada" 
                                data-src="https://www.travelimager.com/images/nevada/Nevada-Las-Vegas-Bellagio-Fountain.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Las Vegas, Nevada</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunset lighthing up Zion Canyon around the Virgin River seen from the Kayenta Trail in Zion National Park, Utah"
                                data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Zion-Canyon-Kayenta-Trail-View-and-Virgin-River-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Zion National Park, Utah</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Iconic view overlooking countless hoodoo formations seen from high above at Bryce Point in Bryce Canyon National Park, Utah"
                                data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Bryce-Point.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Bryce Canyon National Park, Utah</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Mesa Arch with its bottom side glowing from sunrise colors in front of the vast canyons of Canyonlands National Park, Utah"
                                data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch-Sunrise-and-Canyons.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Canyonlands National Park, Utah</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Glowing colors on famous Delicate Arch located in Moab's Arches National Park, Utah" 
                                data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Arches National Park, Utah</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking the long Cliff Palace cliff dwelling village in teh canyons of Mesa Verde National Park, Colorado" 
                                data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace-Cliff-Dwellings-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Mesa Verde National Park, Colorado</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunrise over the iconic Buttes of Monument Valley in the Navajo Tribal Park on the border of Arizona and Utah" 
                                data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Monument Valley, Utah/Arizona</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Crystallized ancient petrfied wooden logs in front of the stunning blue mesas of Petrified Forest National Park, Arizona" 
                                data-src="https://www.travelimager.com/images/arizona/Arizona-Petrfied-Forest-National-Park-Blue-Mesas-and-Petrified-Logs.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Petrified Forest National Park, Arizona</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View from the Airport Mesa Vortex overlooking Courthouse Butte, Bell Rock, and famous rock formations of Sedona, Arizona" 
                                data-src="https://www.travelimager.com/images/arizona/Arizona-Sedona-Airport-Mesa-Vortex-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Sedona, Arizona</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Desert View Watchtower ovrelooking the Grand Canyon along the South Rim of Grand Canyon National Park, Arizona" 
                                data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Desert-View-Watchtower.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Grand Canyon, Arizona</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Wide view overlooking the iconic Horseshoe Bend, a massive natural bend in the Colorado River in Page, Northern Arizona" 
                                data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend-2.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Page, Arizona</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Utah and Arizona Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/usa/nevada/las-vegas-attractions-guide">Las Vegas, Nevada</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/zion-national-park-attractions-guide">Zion National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">Bryce&nbsp;Canyon National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/canyonlands-national-park-attractions-guide">Canyonlands National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">Arches National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">Mesa&nbsp;Verde National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/monument-valley-attractions-guide">Monument&nbsp;Valley</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/petrified-forest-national-park-attractions-guide">Petrified Forest National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/sedona-attractions-guide">Sedona</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">Grand&nbsp;Canyon National Park</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/page-attractions-guide">Page,&nbsp;AZ</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Angel's Landing&nbsp;&#8729; 
                    Bryce Point&nbsp;&#8729; 
                    Dead Horse Point&nbsp;&#8729; 
                    Mesa Arch&nbsp;&#8729; 
                    Delicate Arch &nbsp;&#8729; 
                    Corona&nbsp;Arch&nbsp;&#8729; 
                    Cliff Palace&nbsp;&#8729; 
                    Devil's Bridge&nbsp;&#8729; 
                    Grand&nbsp;Canyon&nbsp;&#8729; 
                    Horseshoe Bend &nbsp;&#8729; 
                    Antelope&nbsp;Canyons
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/usa/nevada/valley-of-fire-attractions-guide">Valley of Fire</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">Cedar Breaks &amp; Kolob Canyons</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">Capitol Reef N.P. &amp; Goblin Valley</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/colorado/colorado-national-monument-attractions-guide">Colorado N.M.</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">Valley of the Gods &amp; Natural Bridges</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">Canyon de Chelly N.M.</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/phoenix-attractions-guide">Phoenix</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/flagstaff-attractions-guide">Flagstaff</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">North Rim</a>
                </p>
            </section>

        </section>

    </div>






    <!-- Row 4 Double Itinerary Flexbox (Southern California and France) -->
    <div class="two-itinerary-flexbox-home">

        <!-- Southern California Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/usa/southern-california-road-trip-itinerary-and-top-attractions">Southern California<br />Road Trip Itinerary</a></h2>
            <p class="itinerary-length-home">1 - 2 Weeks</p>

            <!-- Southern California Road Trip Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Stunning sunset view overlooking Los Angeles from the Griffith Observatory in the hills above Los Angeles, California" 
                                data-src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Los Angeles</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Overlooking the cove and McWay Falls waterfall of Julia Pfeiffer Burns State Park along the Central California Coast in Big Sur, California"
                                data-src="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Julia-Pfeiffer-Burns-State-Park-McWay-Falls-and-Cove-Overlook.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Lower Central California Coast &amp; Big&nbsp;Sur</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Sunset drone shot overlooking Orange County's Huntington Beach Pier along the Pacific Coastline of Southern California"
                                data-src="https://www.travelimager.com/images/california/California-Orange-County-Huntington-Beach-Huntington-Beach-Pier.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Orange County &amp; Laguna&nbsp;Beach</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking the ocean and La Jolla Coastline of San Diego, California at sunset"
                                data-src="https://www.travelimager.com/images/california/California-San-Diego-La-Jolla-Coast-and-Cliffs-Sunset.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">San Diego</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Single Joshua tree seen amongst the rocky barren desert landscape of Joshua Tree National Park in Southern California"
                                data-src="https://www.travelimager.com/images/california/California-Joshua-Tree-National-Park-Rocky-Desert-Landscape-and-Joshua-Trees.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Joshua Tree National Park</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- Southern California Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/usa/california/los-angeles-attractions-guide">Los Angeles County</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/lower-central-california-coast-attractions-guide">Lower Central California Coast &amp; Big&nbsp;Sur</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/orange-county-attractions-guide">Orange&nbsp;County</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/san-diego-attractions-guide">San Diego</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/joshua-tree-national-park-attractions-guide">Joshua Tree National&nbsp;Park</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Griffith Observatory&nbsp;&#8729; 
                    Hollywood&nbsp;&#8729; 
                    Santa Monica&nbsp;&#8729; 
                    Venice Beach&nbsp;&#8729; 
                    Solvang&nbsp;&#8729; 
                    McWay Falls&nbsp;&#8729; 
                    Huntington Beach&nbsp;&#8729; 
                    Laguna Beach&nbsp;&#8729; 
                    San Diego Zoo&nbsp;&#8729; 
                    La Jolla&nbsp;&#8729; 
                    Cabrillo N.M.&nbsp;&#8729; 
                    Skull Rock
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/usa/california/upper-central-california-coast-attractions-guide">Upper Central Coast</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">Sequoia &amp; King's Canyon N.P.</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">Coachella Valley &amp; Palm Springs</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">Grand&nbsp;Canyon</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/nevada/las-vegas-attractions-guide">Las Vegas</a>&nbsp;&#8729; 
                    <a href="/destinations/usa/california/death-valley-national-park-attractions-guide">Death Valley N.P.</a>
                </p>
            </section>

        </section>



        <!-- France Itinerary Flexbox -->
        <section class="flex-container-home">
            <h2 class="itinerary-title-home"><a href="/itineraries/europe/france-travel-itinerary-and-top-attractions-by-train">France<br />Travel Itinerary</a></h2>
            <p class="itinerary-length-home">2 - 4 Weeks (By Train)</p>

            <!-- France Travel Itinerary Image Carousel -->
            <div class="owl-carousel owl-carousel-home owl-theme owl-loaded owl-dots-home">
                <div class="owl-stage-outer">
                    <div class="owl-stage">

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Elegant facade of the famous Notre Dame Cathedral on Ile de la Cite island in Paris, France" 
                                data-src="https://www.travelimager.com/images/france/France-Paris-Notre-Dame-Cathedral-Facade.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Paris, France</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Overlooking the vast gardens and parkland of the Palace of Versailles from behind a fountain on the palace terrace, near Paris, France"
                                data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Versailles-Palace-of-Versailles-Gardens-and-Fountains.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Versailles</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Half-timbered homes and flowers along a canal in La Petite Venise district of Colmar, Eastern France"
                                data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Half-Timbered-Homes-and-Canal-Flowers.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Colmar</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Ponts Couverts bridges spanning the river with medeival guard towers in La Petite France area of Strasbourg, France"
                                data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Ponts-Couverts-Bridges-and-Medieval-Towers.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Strasbourg</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Vieux Lyon Old Town district with city's oldest church below the hilltop Notre Dame de la Garde Cathedral in Lyon, France" 
                                data-src="https://www.travelimager.com/images/france/France-Lyon-Vieux-Lyon-Historic-Center-and-Notre-Dame-de-la-Garde-Cathedral.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Lyon</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Wide view of the entire Cite de Carcassonne castle city surrounded by medieval walls in Southern France between Nimes and Barcelona" 
                                data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Wide-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Nimes &amp; Carcassonne Castle</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Ancient Roman aqueduct of Pont du Gard located near Avignon and Nimes in Vers Pont du Gard, Provence, Southern France" 
                                data-src="https://www.travelimager.com/images/france/France-Provence-Vers-Pont-du-Gard-Pont-du-Gard-Ancient-Roman-Aqueduct-Bridge-Riverside-View.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Avignon &amp; Arles</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Overlooking the Calanque de Sormiou of Calanques National Park in Cassis near Marseille in Southern France" 
                                data-src="https://www.travelimager.com/images/france/France-Marseille-Cassis-Calanques-National-Park-Calanque-de-Sormiou-Overlook.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Marseille &amp; Cassis Calanques</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="View overlooking the Saint-Jean-Cap-Ferrat peninsula behind Villefranche-sur-Mer from atop Mont Alban in Nice along the Cote d'Azur of Southern France" 
                                data-src="https://www.travelimager.com/images/france/France-Nice-Mont-Alban-View-over-Villefranche-sur-Mer-Coastline-and-Saint-Jean-Cap-Ferrat.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Nice</h3>
                            </p>
                        </div>

                        <div class="owl-item">
                            <img class="owl-lazy" 
                                alt="Night view overlooking the illuminated city and coastline of Monaco from La Turbie, France" 
                                data-src="https://www.travelimager.com/images/monaco/Monaco-Monaco-Coastline-Aerial-Night.jpg" />
                            <p class="owl-item-text">
                                <h3 class="owl-item-title-home">Monaco</h3>
                            </p>
                        </div>

                    </div>
                </div>
            </div>

            <!-- France Itinerary Summary -->
            <section class="itinerary-info-container-home">
                <h4 class="itinerary-summary-title-home">Destinations</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/france/paris-attractions-guide">Paris</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/greater-paris-attractions-guide">Versailles</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/colmar-attractions-guide">Colmar</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">Strasbourg</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/lyon-attractions-guide">Lyon</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/carcassonne-and-nimes-attractions-guide">Nimes &amp; Carcassonne</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/avignon-and-arles-attractions-guide">Avignon &amp; Arles</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/marseille-and-cassis-attractions-guide">Marseille</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/france/nice-attractions-guide">Nice</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/monaco-attractions-guide">Monaco</a>
                </p>
                <h4 class="itinerary-summary-title-home">Main Attractions</h4>
                <p class="itinerary-summary-home">
                    Notre Dame&nbsp;&#8729; 
                    Sacre-Couer&nbsp;&#8729; 
                    La Petite Venise&nbsp;&#8729; 
                    Petite France&nbsp;&#8729; 
                    Carcassonne Castle&nbsp;&#8729; 
                    Pont du Gard&nbsp;&#8729; 
                    Avignon Papal Palace&nbsp;&#8729; 
                    Calanques National Park&nbsp;&#8729; 
                    Eze&nbsp;&#8729; 
                    Casino Monte Carlo&nbsp;&#8729; 
                    Menton
                </p>
                <h4 class="itinerary-summary-title-home">Trip Extension Options</h4>
                <p class="itinerary-summary-home">
                    <a href="/destinations/europe/france/loire-valley-attractions-guide-by-train">Loire Valley</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/luxembourg-city-attractions-guide">Luxembourg City</a>&nbsp;&#8729; 
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">Cinque Terre</a>
                </p>
            </section>

        </section>

    </div>

