<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Many hot air balloons above the Rio Grande River during the International Balloon Fiesta festival in Albuquerque, New Mexico Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Albuquerque, New Mexico, and plan the perfect trip with our savable Albuquerque Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="albuquerque_new_mexico" />
    <meta name="usa_attraction_guides" content="albuquerque_new_mexico" />
    <meta name="usa_destinations" content="albuquerque_new_mexico" />
    <meta name="usa_destination_guides" content="albuquerque_new_mexico" />
    <meta name="new_mexico_attraction_guides" content="albuquerque" />
    <meta name="new_mexico_destinations" content="albuquerque" />
    <meta name="new_mexico_destination_guides" content="albuquerque" />
    <meta name="google_maps_list" content="albuquerque" />
    <meta property="og:title" content="Albuquerque, New Mexico Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg">
    <meta name="twitter:title" content="Albuquerque, New Mexico Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
    <title>Attractions Guide for Albuquerque, New Mexico</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Albuquerque, New Mexico<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>




    <!-- Albuquerque, New Mexico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Colorful balloons above the Rio Grande River during the Albuquerque International Balloon Fiesta Festival in New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Albuquerque Int'l. Balloon Fiesta</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/albuquerque-balloons-ballooning-sky-4643828/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/lyssascott-14367714/" rel="noopener noreferrer" target="_blank">
                                    lyssascott</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Historic Spanish style church in Old Town Albuquerque, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Old-Town-Albuquerque-San-Felipe-de-Neri-Church-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Felipe de Neri Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/50228879@N00/6917330302/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/50228879@N00/" rel="noopener noreferrer" target="_blank">
                                    mnchilemom</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Full dinosaur skeleton on display within the New Mexico Museum of Natural History and Science" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-New-Mexico-Museum-of-Natural-History-and-Science.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">New Mexico Museum of Natural&nbsp;History &amp; Science</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gardener41/8452700807/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gardener41/" rel="noopener noreferrer" target="_blank">
                                    gardener41</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful rocky waterfall and pond at the ABQ BioPark Botanic Gardens in Albuquerque, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Albuquerque-Botanical-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">ABQ BioPark Botanic&nbsp;Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/cityofalbuquerque/1536697430/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cityofalbuquerque/" rel="noopener noreferrer" target="_blank">
                                    City of Albuquerque</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Outdoor exhibit featuring giant replica missiles at Albuquerque's National Museum of Nuclear Science and History"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-National-Museum-of-Nuclear-History-and-Science.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of Nuclear&nbsp;Science&nbsp;&amp;&nbsp;History</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/aaron_anderer/15192407091/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/aaron_anderer/" rel="noopener noreferrer" target="_blank">
                                    Aaron</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Array of hot air balloons floating below the ceiling inside the Anderson Abruzzo International Balloon Museum in Albuquerque"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Anderson-Abruzzo-International-Balloon-Museum-Hot-Air-Balloons.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Anderson Abruzzo International Balloon Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/abqfilm/2758252354/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/abqfilm/" rel="noopener noreferrer" target="_blank">
                                    Albuquerque Film Office</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Albuquerque, New Mexico Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Albuquerque, New Mexico</h2>
        <p>Be sure to walk around the historic Old Town Albuquerque amongst its adobe buildings. This area features great restaurants and shopping, as well as the old <strong>San Felipe de Neri Church</strong> from the time of Spanish rule.</p>
        <h3>Museums &amp; Gardens</h3>
        <p>Around the Old Town you'll also find the Albuquerque Museum with great exhibits on the city's history and the <strong>New Mexico Museum of Natural History</strong> with amazing dinosaur skeletons. Also popular is the beautiful sprawling <strong>ABQ BioPark Botanic Garden</strong>. Another great museum is the <strong>National Museum of Nuclear Science &amp; History</strong> featuring replica missiles and bomber planes.</p>
        <p>Be sure to visit the <strong>Anderson Abruzzo Albuquerque International Balloon Museum</strong>. This museum which features exhibits on the hot air balloons that fill the city's sky during the famous Albuquerque International Balloon Fiesta festival, which takes place every October.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Albuquerque 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1964531863"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Sandia Mountains and Petroglyph National Monument Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down over Albuquerque from the high above from the top of the Sandia Peak Tramway station"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Sandia-Peak-Tramway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sandia Peak Tramway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/shanafin/4139924464/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/shanafin/" rel="noopener noreferrer" target="_blank">
                                    Stephen Hanafin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Albuquerque from the Sandia Crest in the mountains high above Albuquerque"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Sandia-Crest.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sandia Crest</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/stella12/26459249392/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/stella12/" rel="noopener noreferrer" target="_blank">
                                    Deb Nystrom</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of old Native American petroglyphs in the rocks at Piedras Marcadas Canyon near Albuquerque"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Petroglyph-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piedras Marcadas Canyon Petroglyphs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tamasrepus/6960881345/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tamasrepus/" rel="noopener noreferrer" target="_blank">
                                    Samat Jain</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Sandia Mountains Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Sandia Mountains</h2>
        <p>You might like to take a ride from town on the <strong>Sandia Peak Tramway</strong> up into the Sandia Mountains for incredible views over Albuquerque and beautiful scenery at the top. One hike you might consider from the tramway is the 3.6 mile (5.8 km) round-trip trail to Kiwanis Cabin and <strong>Sandia Crest</strong> along the rim of the mountains.</p>
        <p>Alternately you can drive up to Sandia Crest and hike along the southern cliffs via the La Luz Loop, which is approximately 3.2 miles (5.2 km) round-trip (or slightly longer with Kiwanis Cabin). Additionally there are many other hiking options, including the 1.8 mile (2.9 km) round-trip hike to Kiwanis Cabin from Sandia Crest.</p>
    </section>


    <!-- Petroglyph National Monument Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Petroglyph National Monument</h2>
        <p>To the west of Albuquerque is massive Petroglyph National Monument, which features several volcanic cones and countless petroglyph carvings, along with many Native American archaeological sites and trails to explore. The most popular hike here is the <strong>Piedras Marcadas Canyon Trail</strong>, which is approximately 1.7 miles (2.7 km) round-trip.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Albuquerque Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1389106352"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Albuquerque Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/E15w6s6qXw92">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning white tent-like formations seen along Tent Rocks Trail at Kasha-Katuwe Tent Rocks National Monument in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Santa-Fe-Kasha-Katuwe-Tent-Rocks-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        Santa Fe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mypubliclands/9406434519/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                            Bureau of Land Management</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Light blue doors and windows contrast the sand-colored multi-story Hlaukwima South Houseadobe structure at Taos Pueblo, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlaukwima-South-Adobe-House.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        Taos &amp; Abiquiu
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/22711505@N05/9583764825/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                            Ron Cogswell</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/white-sands-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth ridge of a beautiful white sand dune seen near the Alkali Flats Trail of White Sands National Park in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Alkali-Flat-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/white-sands-national-park-attractions-guide">
                        White Sands National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/pinchof_10/5136881406/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/pinchof_10/" rel="noopener noreferrer" target="_blank">
                            Pinchof 2.0</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/carlsbad-caverns-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Strikingly complex stalagmite formations and pillars in the Big Room of Carlsbad Caverns National Park, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Carlsbad-Cavern-Big-Room-Stalagmite-Ceilings.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/carlsbad-caverns-national-park-attractions-guide">
                        Carlsbad Caverns National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/17021511092/in/datetaken/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth giant sand dunes amongst the blue sky at Great Sand Dunes National Park in Southern Colorado's San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        Southern Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                            Hans Watson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        San Luis Valley &amp; Ca&#241;on&nbsp;City, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                            Wasif Malik</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    