<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Baths flying through the massive Natural Entrance to the main cavern of Carlsbad Caverns National Park, New Mexico Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-Cave-and-Bats-Flying-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Carlsbad Caverns National Park, New Mexico, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="carlsbad_caverns_new_mexico" />
    <meta name="usa_attraction_guides" content="carlsbad_caverns_new_mexico" />
    <meta name="usa_destinations" content="carlsbad_caverns_new_mexico" />
    <meta name="usa_destination_guides" content="carlsbad_caverns_new_mexico" />
    <meta name="new_mexico_attraction_guides" content="carlsbad_caverns_national_park" />
    <meta name="new_mexico_destinations" content="carlsbad_caverns_national_park" />
    <meta name="new_mexico_destination_guides" content="carlsbad_caverns_national_park" />
    <meta name="national_park_attraction_guides" content="carlsbad_caverns" />
    <meta name="google_maps_list" content="carlsbad_caverns_national_park" />
    <meta property="og:title" content="Carlsbad Caverns, New Mexico Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-Cave-and-Bats-Flying.jpg">
    <meta name="twitter:title" content="Carlsbad Caverns, New Mexico Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-Cave-and-Bats-Flying.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/new-mexico/carlsbad-caverns-national-park-attractions-guide">
    <title>Attractions Guide for Carlsbad Caverns, New Mexico</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Carlsbad Caverns, New Mexico<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    <!-- Introduction to Southeastern New Mexico and Carlsbad Caverns Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The famous Carlsbad Caverns National Park is located in an extremely remote and somewhat desolate area of Southeastern New Mexico, far away from any major cities. Other attractions in this area of New Mexico include Guadalupe Mountains National Park which spans the border with Texas, as well as the town of Roswell, which is famous for its alleged ties to aliens.</p>
    </section>



    <!-- Southeastern New Mexico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Giant Natural Entrance to the the vast underground network of caves of Carlsbad Caverns National Park, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-Cave-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Entrance Cavern Opening</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jsjgeology/8281918580/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jsjgeology/" rel="noopener noreferrer" target="_blank">
                                    James St. John</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stone Bat Flight Amphitheater located in front of the Natural Entrance cave at Carlsbad Caverns National Park, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-and-Bat-Flight-Amphitheater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Entrance Cavern<br />Bat Flight Amphitheater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Opening_to_Carlsbad_Cavern-1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Maveric149" rel="noopener noreferrer" target="_blank">
                                    Daniel Mayer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Switchback trail leading into the Natural Entrance cave of Carlsbad Caverns National Park, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-Trail-Switchbacks.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Entrance Cavern<br />Switchback&nbsp;Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Switchbacks_in_Carlsbad_Cavern.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Maveric149" rel="noopener noreferrer" target="_blank">
                                    Daniel Mayer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Many bats flying into the Carlsbad Caverns via the giant Natural Entrance above the trail in Southeastern New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Natural-Entrance-Cave-and-Bats-Flying.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Entrance Cavern<br />Trail &amp; Bats</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.nps.gov/articles/bats-in-caves.htm" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.nps.gov/articles/bats-in-caves.htm" rel="noopener noreferrer" target="_blank">
                                    Carlsbad Caverns NPS</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Strikingly complex stalagmite formations and pillars in the Big Room of Carlsbad Caverns National Park, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Carlsbad-Cavern-Big-Room-Stalagmite-Ceilings.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Big Room Stalagmites<br />(Carlsbad&nbsp;Caverns)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/17021511092/in/datetaken/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Long illuminated winding walkway through the Big Room beaneath the stalagmite caves of Carlsbad Caverns National Park" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Southern-New-Mexico-Carlsbad-Caverns-Big-Room.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Big Room Walkway<br />(Carlsbad&nbsp;Caverns)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daveynin/8136914122/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daveynin/" rel="noopener noreferrer" target="_blank">
                                    David Fulmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Massive room with countless stalagmites hanging from the ceiling known as the King's Palace at Carlsbad Caverns National Park"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Kings-Palace-Cave-Stalagmite-Ceiling.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">King's Palace Cavern<br />(Ranger&nbsp;Tour)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/madeleine_h/8049228721/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/madeleine_h/" rel="noopener noreferrer" target="_blank">
                                    Madeleine Deaton</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful views along the Devil's Hall Trail in Guadalupe Mountains National Park along the Texas New Mexico border"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Guadalupe-Mountains-National-Park-Devils-Hall-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Hall Trail<br />(Guadalupe&nbsp;Mountains)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/97071652@N04/28822469158/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/97071652@N04/" rel="noopener noreferrer" target="_blank">
                                    RichieBpics</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Alien-bulbed lampost in front of the alien-themed shops lining Downtown Roswell, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Roswell-Downtown-Roswell-Alien-Street-Lamp.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Roswell</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/shanafin/3741122005/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/shanafin/" rel="noopener noreferrer" target="_blank">
                                    Stephen Hanafin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
            </div>
        </div>
    </div>



    <!-- Carlsbad Caverns National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Carlsbad Caverns National Park</h2>
        <p>The top attraction of the Carlsbad Caverns is the 1.3 mile (2 km) <strong>Natural Entrance Trail</strong>, one of the few caverns which is accessible without a ranger. The Natural Entrance Trail takes you through part of the main cave before leading to the <strong>Big Room</strong>, a massive cavernous chamber. You can also walk an additional 1.3 miles (2 km) through the behemoth Big Room and then walk back out, or take the elevator back up from the Big Room. This elevator also serves to take people down directly into the Big Room, if you prefer to do less walking to reach it.</p>
        <p>Be sure to make advanced reservations in order to see incredible caverns such as the <strong>King's Palace</strong> and Left Hand Tunnel, which are only accessible via ranger-led tours.</p>
    </section>


    <!-- Guadalupe Mountains National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Guadalupe Mountains National Park</h2>
        <p>If you'd like to do smoe outdoor hiking after visiting the Carlsbad Caverns, you might consider the 3.7 mile (6 km) <strong>Devils Hall Trail</strong>, which journeys through the majestic canyons and beautiful scenery of Guadalupe Mountains National Park. This national park is mostly located just over the Texas border, not far from the Carlsbad Caverns.</p>
    </section>


    <!-- Roswell, New Mexico Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Roswell, New Mexico</h2>
        <p>The city of Roswell is also a popular destination due to the infamous UFO crash that is alleged to have happened there in 1947. <strong>Downtown Roswell</strong> is where you'll find all of the exciting alien-themed shops along with the International UFO Museum, all centered around the city's Main Street.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Carlsbad Caverns Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7496060144"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Carlsbad Caverns &amp; Southeastern New&nbsp;Mexico Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/e54QAiBDvT82">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/white-sands-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth ridge of a beautiful white sand dune seen near the Alkali Flats Trail of White Sands National Park in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Alkali-Flat-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/white-sands-national-park-attractions-guide">
                        White Sands National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/pinchof_10/5136881406/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/pinchof_10/" rel="noopener noreferrer" target="_blank">
                            Pinchof 2.0</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Colorful balloons above the Rio Grande River during the Albuquerque International Balloon Fiesta Festival in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        Albuquerque
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/albuquerque-balloons-ballooning-sky-4643828/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/lyssascott-14367714/" rel="noopener noreferrer" target="_blank">
                            lyssascott</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning white tent-like formations seen along Tent Rocks Trail at Kasha-Katuwe Tent Rocks National Monument in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Santa-Fe-Kasha-Katuwe-Tent-Rocks-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        Santa Fe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mypubliclands/9406434519/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                            Bureau of Land Management</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    