<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Close-up view of the ancient Ancestral Puebloan built adobe houses of Taos Pueblo, New Mexico Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Ancient-Adobe-Houses-Close-Up-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Taos & Abiquiu, New Mexico, and plan the perfect trip with our savable Taos & Abiquiu Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="taos_new_mexico" />
    <meta name="attraction_guides" content="abiquiu_new_mexico" />
    <meta name="usa_attraction_guides" content="taos_new_mexico" />
    <meta name="usa_attraction_guides" content="abiquiu_new_mexico" />
    <meta name="usa_destinations" content="taos_new_mexico" />
    <meta name="usa_destinations" content="abiquiu_new_mexico" />
    <meta name="usa_destination_guides" content="taos_new_mexico" />
    <meta name="usa_destination_guides" content="abiquiu_new_mexico" />
    <meta name="new_mexico_attraction_guides" content="taos" />
    <meta name="new_mexico_attraction_guides" content="abiquiu" />
    <meta name="new_mexico_destinations" content="taos" />
    <meta name="new_mexico_destinations" content="abiquiu" />
    <meta name="new_mexico_destination_guides" content="taos" />
    <meta name="new_mexico_destination_guides" content="abiquiu" />
    <meta name="google_maps_list" content="taos" />
    <meta name="google_maps_list" content="abiquiu" />
    <meta property="og:title" content="Taos & Abiquiu, New Mexico Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Ancient-Adobe-Houses-Close-Up.jpg">
    <meta name="twitter:title" content="Taos & Abiquiu, New Mexico Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Ancient-Adobe-Houses-Close-Up.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
    <title>Attractions Guide for Taos & Abiquiu, New Mexico</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Taos &amp; Abiquiu, New Mexico<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>




    <!-- Taos, New Mexico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="Light blue doors and windows contrast the sand-colored multi-story Hlaukwima South Houseadobe structure at Taos Pueblo, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlaukwima-South-Adobe-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hlakwima South House<br />(Taos&nbsp;Pueblo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/22711505@N05/9583764825/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                                    Ron Cogswell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Hlauuma North House anicent adobe structure of Taos Pueblo seen behind the river at Taos, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlauuma-North-Adobe-House-and-Rio-Pueblo-de-Taos-River.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hlauuma North House<br />(Taos&nbsp;Pueblo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Taos_north_pueblo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Taos_north_pueblo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Obiwannm</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ruins of the colonial Spanish mission church of San Geronimo and cemetery at Taos Pueblo, New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-San-Geronimo-Mission-Church-Ruins-and-Cemetery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Geronimo Mission Ruins<br />(Taos&nbsp;Pueblo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:DSC_1708_Taos_Pueblo,_New_Mexico.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:DSC_1708_Taos_Pueblo,_New_Mexico.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Hasselblad500CM</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful adobe structures line the walkways near Taos Plaza at the Downtown Taos Historic District in Taos, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Downtown-Taos-Historic-District-Taos-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Taos Plaza<br />(Downtown&nbsp;Historic&nbsp;District)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Taos_Plaza_13.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:CaroleHenson" rel="noopener noreferrer" target="_blank">
                                    CaroleHenson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking one of the highest bridges in the USA, the Rio Grande Gorge Bridge, located near Taos, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Taos-El-Prado-Rio-Grande-Gorge-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rio Grande Gorge Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/eekim/5750183265/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/eekim/" rel="noopener noreferrer" target="_blank">
                                    Eugene Kim</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Taos, New Mexico Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Taos, New Mexico</h2>
        <p>About 1.5 hours north of Santa Fe is the beautiful town of Taos, New Mexico. Taos is famous for its UNESCO wolrd heritage site, the <strong>Taos Pueblo</strong>, which features two incredible multi-story adobe houses which are between 600-1,000 years old.</p>
        <p>These very old adobe structures include the <strong>Hlauuma</strong> (North House) and <strong>Hlaukwima</strong> (South House). You can also admire the nearby ruins of the <strong>San Jeronimo Mission Church</strong>, built by the Spanish in the early 1600s.</p>
        <p>Be sure to also visit the Downtown Taos Historic District to see impressive adobe architecture, centered around Taos Plaza. In this area you'll find shops selling Native American crafts, as well as cafes, restaurants, and art galleries. This area also hosts several historic homes which have been preserved as museums.</p>
        <h3>Rio Grande Gorge Bridge</h3>
        <p>Just west of Taos is the impressive <strong>Rio Grande Gorge Bridge</strong>, which you can look out over after you drive across it. This striking bridge spans a deep canyon gorge of the Rio Grande River in the middle of the desert.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Taos Abiquiu 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9076024689"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Abiquiu, New Mexico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Complex white cliff formations of the Plaza Blanca Cliffs above the red sands of Abiquiu, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Abiquiu-Plaza-Blanca-Cliffs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza Blanca Cliffs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/larry1732/5566283259/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/larry1732/" rel="noopener noreferrer" target="_blank">
                                    Larry Lamsa</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning view overlooking the Abiquiu Reservoir from the southern side in Abiquiu, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Abiquiu-Abiquiu-Reservoir-Dam-South-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Abiquiu Reservoir South&nbsp;Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:16_21_2615_abiquiu.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:16_21_2615_abiquiu.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Dsdugan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning red cliffs rising above the blue waters of the Abiquiu Reservoir seen from the northern side, in Abiquiu, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Abiquiu-Abiquiu-Reservoir-North-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Abiquiu Reservoir North&nbsp;Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Abiquiu_Lake_and_the_Surrounding_Red_Rocks.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Abiquiu_Lake_and_the_Surrounding_Red_Rocks.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    The Casita del Lago</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Chimney Rock formation atop red rock walls seen at the Ghost Ranch in Abiquiu, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Abiquiu-Ghost-Ranch-Chimney-Rock-Formation.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chimney Rock (Ghost&nbsp;Ranch)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/larry1732/5480780710/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/larry1732/" rel="noopener noreferrer" target="_blank">
                                    Larry Lamsa</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the massive natural Echo Amphitheater which changes from white to red rock, in Abiquiu, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Abiquiu-Echo-Amphitheater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Echo Amphitheater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ronguillen/2087777194/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ronguillen/" rel="noopener noreferrer" target="_blank">
                                    R0Ng</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>





    <!-- Abiquiu, New Mexico Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Abiquiu, New Mexico</h2>
        <p>To the west of Taos (or about 1 hour north of Santa Fe) is Abiquiu, a small town surrounded by stunningly beautiful scenery. First along the highway you'll encounter <strong>Plaza Blanca</strong> (White Place), a landscape filled with brilliant white cliff formations that you can explore amongst.</p>
        <p>Further along is the <strong>Abiquiu Reservoir</strong>, which offers majestic views from the north and south side of the lake, with both offering very different scenery. The best views along the southern side of the lake can be enjoyed along the highway just after the dam, with several small pull-offs. Along the highway on the northern side of the lake you'll find a much larger pull-off overlooking the lake and the striking red cliff formations behind it.</p>
        <p>Nearby the northern viewpoint is the <strong>Ghost Ranch</strong>, which hosts a tiny museum along with a few trails. Among the most impressive formations you'll see along the trails is the red rock Chimney Rock.</p>
        <p>A bit further up the highway from Abiquiu is the massive <strong>Echo Amphitheater</strong>, an incredible multi-colored amphitheater which was carved out of the tall cliffs by natural geological processes. You can reach this amazing sight with a very short walk from the parking area.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Taos Abiquiu Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8326868034"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Taos &amp; Abiquiu Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/RNDumBSU35A2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning white tent-like formations seen along Tent Rocks Trail at Kasha-Katuwe Tent Rocks National Monument in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Santa-Fe-Kasha-Katuwe-Tent-Rocks-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        Santa Fe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mypubliclands/9406434519/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                            Bureau of Land Management</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Colorful balloons above the Rio Grande River during the Albuquerque International Balloon Fiesta Festival in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        Albuquerque
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/albuquerque-balloons-ballooning-sky-4643828/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/lyssascott-14367714/" rel="noopener noreferrer" target="_blank">
                            lyssascott</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        San Luis Valley &amp; Ca&#241;on&nbsp;City, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                            Wasif Malik</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth giant sand dunes amongst the blue sky at Great Sand Dunes National Park in Southern Colorado's San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        Southern Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                            Hans Watson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view of the famous red rocks of Colorado Springs's Garden of the Gods towering above the lush green landscape"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        Colorado Springs, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6174065038/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredible natural stripes across the walls seen from the Painted Wall View above Colorado's Black Canyon of the Gunnison"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Black-Canyon-of-the-Gunnison-National-Park-Painted-Wall-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        Black Canyon of the Gunnison &amp; Million Dollar Highway, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mobili/38841672072/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                            Mobilus in Mobili</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    