<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Plant growing out of the soft dunes at White Sands National Park, New Mexico Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Dune-Plants-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in White Sands National Park, New Mexico, and plan the perfect trip with our savable White Sands Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="white_sands_new_mexico" />
    <meta name="usa_attraction_guides" content="white_sands_new_mexico" />
    <meta name="usa_destinations" content="white_sands_new_mexico" />
    <meta name="usa_destination_guides" content="white_sands_new_mexico" />
    <meta name="new_mexico_attraction_guides" content="white_sands_national_park" />
    <meta name="new_mexico_destinations" content="white_sands_national_park" />
    <meta name="new_mexico_destination_guides" content="white_sands_national_park" />
    <meta name="national_park_attraction_guides" content="white_sands" />
    <meta name="google_maps_list" content="white_sands_national_park" />
    <meta property="og:title" content="White Sands, New Mexico Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Dune-Plants.jpg">
    <meta name="twitter:title" content="White Sands, New Mexico Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Dune-Plants.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/new-mexico/white-sands-national-park-attractions-guide">
    <title>Attractions Guide for White Sands National Park, New Mexico</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>White Sands National Park, New&nbsp;Mexico<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>




    <!-- Southeastern New Mexico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Boardwalk Playa Trail over the rolling white sand dunes of White Sands National Park in New Mexico" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Playa-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daveynin/8132675676/in/album-72157631839811017/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daveynin/" rel="noopener noreferrer" target="_blank">
                                    David Fulmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Barren tree seen amongst vast stunning white sands along White Sands National Park's Dune Life Nature Trail" 
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Dune-Life-Nature-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dune Life Nature&nbsp;Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/miguelvieira/6769243803/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/miguelvieira/" rel="noopener noreferrer" target="_blank">
                                    Miguel Vieira</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Smooth ridge of a beautiful white sand dune seen near the Alkali Flats Trail of White Sands National Park in New Mexico"
                        src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Alkali-Flat-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alkali Flat Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pinchof_10/5136881406/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pinchof_10/" rel="noopener noreferrer" target="_blank">
                                    Pinchof 2.0</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Shrubbery growing out of the rippled smooth sands of White Sands National Park, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Dunes-and-Plants.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Sands National&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/158508944@N03/50037710931/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/158508944@N03/" rel="noopener noreferrer" target="_blank">
                                    Raychel Sanner</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Hikers along the white rolling dunes of White Sands National Park, New Mexico at sunset with mountain in background"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Sand-Dunes-and-Mountain-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Sands Dunes (Sunset)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/quintanomedia/33527324038/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/quintanomedia/" rel="noopener noreferrer" target="_blank">
                                    Anthony Quintano</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Plant life seen at White Sands National Park contrasting the blue skies of Southern New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Dune-Plants.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Sands National&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:WhiteSandsScene.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chitrapa" rel="noopener noreferrer" target="_blank">
                                    Chitrapa</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Aerial view overlooking a hot air balloon floating over the dunes of White Sands National Park, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Aerial-View-of-Hot-Air-Balloon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Sands Hot Air Balloon (Aerial&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Balloon_Rally_White_Sands_NM.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Balloon_Rally_White_Sands_NM.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Ybratcher</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Large spacecraft part on display at the New Mexico Museum of Space History in Alamorgado near White Sands National Park"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-Alamorgordo-New-Mexico-Museum-of-Space-History.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">New Mexico Museum of Space&nbsp;History</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/benclark/2712955426/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/benclark/" rel="noopener noreferrer" target="_blank">
                                    Ben Clark</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Several large missiles on display outside at the White Sands Missile Range Museum of New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-White-Sands-National-Park-White-Sands-Missile-Range-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Sands Missile&nbsp;Range Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/vax-o-matic/8339526715/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/vax-o-matic/" rel="noopener noreferrer" target="_blank">
                                    Patrick Fineggan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
            </div>
        </div>
    </div>



    <!-- White Sands National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">White Sands National Park</h2>
        <p>White Sands National Park is a beautiful place to wander around scenic rare white sand dunes. Popular shorter trails here include the <strong>Playa Trail</strong> (0.5 miles / 0.8 km round-trip) and the <strong>Dune Life Nature Trail</strong> (1 mile / 1.6 km round-trip).</p>
        <p>The most highly recommended trail in White Sands National Park is the 4.9 mile (7.9 km) <strong>Alkali Flat Trail</strong> where you can truly feel lost exploring amongst the great seas of white sand. If you don't wish to hike the entire trail, you should strongly consider hiking at least part of it.</p>
    </section>


    <!-- White Sands Museums Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>There's also some amazing museums just outside of White Sands National Park, including the <strong>New Mexico Museum of Space History</strong> detailing the history of the US space program. Another intriguing museum is the <strong>White Sands Missile Range Museum</strong>, which hosts many historic rockets and missiles on display.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- White Sands Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9635972475"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save White Sands National Park Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/cuSvZBuhxPm">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/carlsbad-caverns-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Strikingly complex stalagmite formations and pillars in the Big Room of Carlsbad Caverns National Park, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carlsbad-Caverns-National-Park-Carlsbad-Cavern-Big-Room-Stalagmite-Ceilings.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/carlsbad-caverns-national-park-attractions-guide">
                        Carlsbad Caverns National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/17021511092/in/datetaken/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Colorful balloons above the Rio Grande River during the Albuquerque International Balloon Fiesta Festival in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        Albuquerque
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/albuquerque-balloons-ballooning-sky-4643828/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/lyssascott-14367714/" rel="noopener noreferrer" target="_blank">
                            lyssascott</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning white tent-like formations seen along Tent Rocks Trail at Kasha-Katuwe Tent Rocks National Monument in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Santa-Fe-Kasha-Katuwe-Tent-Rocks-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        Santa Fe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mypubliclands/9406434519/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                            Bureau of Land Management</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    