<% layout('layouts/boilerplate') %>


    <meta name="description"
        content="Attraction Guides for British Columbia, Canada's top destinations: Victoria, Vancouver, Greater Vancouver Hiking, Whistler, and Vancouver Island" />
    <meta name="attraction_guides" content="british_columbia" />
    <meta name="canada_destinations" content="british_columbia" />
    <meta name="destination_guides" content="british_columbia" />
    <meta property="og:title" content="British Columbia Attraction Guides">
    <meta name="twitter:title" content="British Columbia Attraction Guides">
    <link rel="canonical"
        href="https://travonga.com/destinations/canada/british-columbia/british-columbia-attraction-guides">
    <title>British Columbia Attraction Guides</title>
    </head>


    <body>

        <div class="short-page-container">

            <!-- Navbar -->
            <% let rootPath='../../' ; %>
                <%- include(rootPath + '../partials/navbar' ) %>


                    <!-- Page Heading and Total Trip Length -->
                    <h1>British Columbia Attraction&nbsp;Guides</h1>



                    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


                    <!-- Row 1 -->
                    <section class="nearby-destinations">
                        <div class="destinations-flexbox" id="destinations-last-row">

                            <div class="destination-container">
                                <div class="image-wrapper">
                                    <a href="/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                                        <img class="destination-image"
                                            alt="Looking along the High Note Trail atop Whistler Mountain high above Cheakamus Lake near Vancouver, British Columbia"
                                            src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain-High-Note-Trail-Cheakamus-Lake-Southeast-View.jpg" />
                                    </a>
                                </div>
                                <h3 class="destination-title">
                                    <a href="/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                                        Greater Vancouver
                                    </a>
                                </h3>
                                <p class="destination-credits">
                                    <a href="https://www.flickr.com/photos/mfoubister/42490719532/" rel="noopener noreferrer" target="_blank">
                                        Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                        Murray Foubister</a><br />
                                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                        CC BY-SA 2.0</a> | <i>Edited</i>
                                </p>
                            </div>

                            <div class="destination-container">
                                <div class="image-wrapper">
                                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">
                                        <img class="destination-image"
                                            alt="Looking along the Vancouver Seawall at Coal Harbour lined with modern glass highrise buildings in Downtown Vancouver"
                                            src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Coal-Harbour-Seawall-Water-Walk-View.jpg" />
                                    </a>
                                </div>
                                <h3 class="destination-title">
                                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">
                                        Vancouver
                                    </a>
                                </h3>
                                <p class="destination-credits">
                                    <a href="https://www.flickr.com/photos/tdlucas5000/15070603679/" rel="noopener noreferrer" target="_blank">
                                        Photo</a> by <a href="https://www.flickr.com/photos/tdlucas5000/" rel="noopener noreferrer" target="_blank">
                                        tdlucas5000</a><br />
                                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                        CC BY 2.0</a> | <i>Edited</i>
                                </p>
                            </div>

                            <div class="destination-container">
                                <div class="image-wrapper">
                                    <a
                                        href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                                        <img class="destination-image"
                                            alt="Horse and carriage in front of Victoria's beautiful Fairmont Express Hotel with vine-covered walls, on Vancouver Island"
                                            src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fairmont-Empress-Hotel.jpg" />
                                    </a>
                                </div>
                                <h3 class="destination-title">
                                    <a
                                        href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                                        Victoria &amp; Vancouver&nbsp;Island
                                    </a>
                                </h3>
                                <p class="destination-credits">
                                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                        Photo</a> by <a
                                        href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                        Miladlaferrari</a><br />
                                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                        CC BY-SA 3.0</a> | <i>Edited</i>
                                </p>
                            </div>

                            <!-- Extra Div Space -->
                            <div class="destination-container"></div>

                        </div>

                    </section>

        </div>