<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Upper Joffre Lake, Greater Vancouver, British Columbia Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Joffre-Lakes-Provincial-Park-Upper-Joffre-Lake-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Whistler and Greater Vancouver, British Columbia and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="greater_vancouver_british_columbia" />
    <meta name="british_columbia_destinations" content="greater_vancouver" />
    <meta name="canada_destinations" content="greater_vancouver" />
    <meta name="british_columbia_attraction_guides" content="greater_vancouver" />
    <meta name="canada_attraction_guides" content="greater_vancouver" />
    <meta name="british_columbia_destination_guides" content="greater_vancouver" />
    <meta name="canada_destination_guides" content="greater_vancouver" />
    <meta name="google_maps_list" content="greater_vancouver" />
    <meta property="og:title" content="Greater Vancouver, B.C. Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Joffre-Lakes-Provincial-Park-Upper-Joffre-Lake.jpg">
    <meta name="twitter:title" content="Greater Vancouver, B.C. Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Joffre-Lakes-Provincial-Park-Upper-Joffre-Lake.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
    <title>Attractions Guide for Greater Vancouver, B.C., Canada</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Greater Vancouver, British&nbsp;Columbia<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#shannon-falls">Shannon Falls</a></div>
            <div><a href="#sea-to-sky-gondola">Sea to Sky Gondola</a></div>
            <div><a href="#garibaldi-provincial-park">Garibaldi Hiking</a></div>
            <div><a href="#whistler-attractions">Whistler, B.C.</a></div>
            <div><a href="#high-note-trail">High Note Trail</a></div>
            <div><a href="#joffre-lakes-provincial-park">Joffre Lakes</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Greater Vancouver Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>To the north of Vancouver is a seemingly endless landscape of massive mountains, vast green valleys, and glacial lakes. Most of these amazing outdoor attractions are located along Highway 99 between the towns of Squamish and Mount Currie. The attractions are listed in order here from Squamish heading north.</p>
    </section>


    <!-- Shannon Falls and Sea to Sky to Sky Gondola Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Massive and powerful Shannon Falls, one of the largest waterfalls in Canada, located near Vancouver" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Shannon-Falls-Provincial-Park-Shannon-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shannon Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sagamiono/2476572392" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sagamiono/" rel="noopener noreferrer" target="_blank">
                                    Michael</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View from a Sea to Sky gondola looking down over Squamish and the Howe Sound near Vancouver" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Squamish-Sea-to-Sky-Gondola.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sea to Sky Gondola</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/paulmccoubrie/38264982816/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/paulmccoubrie/" rel="noopener noreferrer" target="_blank">
                                    Paul McCoubrie</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View along ther Sky Pilot Suspension Bridge high up in the mountains above Vancouver and Squamish overlooking the Howe Sound"
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Squamish-Sea-to-Sky-Gondola-Sky-Pilot-Suspension-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sky Pilot Suspension&nbsp;Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ruthanddave/18656100591/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ruthanddave/" rel="noopener noreferrer" target="_blank">
                                    Ruth Hartnup</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Shannon Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="shannon-falls"></a>
        <h2 class="left-heading destination-section-heading">Shannon Falls</h2>
        <p>North of Vancouver at the end of the Howe Sound bay is the coastal town of Squamish. Just before the town is one of the most famous waterfalls in Canada, the majestic <strong>Shannon Falls</strong>, which is the third tallest waterfall in British Columbia at a height of nearly 1,100 feet (335 m). You can view the bottom of the falls with a short walk from the parking lot.</p>
    </section>


    <!-- Sea to Sky Gondola Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sea-to-sky-gondola"></a>
        <h2 class="left-heading destination-section-heading">Sea to Sky Gondola</h2>
        <p>Adjacent to Shannon Falls is the <strong>Sea to Sky Gondola</strong>, which takes you up over 2,900 feet (885 m) above the coast into the heavily wooded mountains. Upon reaching the gondola summit station you'll find the <strong>Sky Pilot Suspension Bridge</strong>, which spans a deep canyon and offers incredible views overlooking the Howe Sound bay below.</p>
        <p>Among the most popular trails from the gondola station is the 1 mile (1.6 km) round-trip Panorama Trail, which ventures through the forest and offers more stunning views above the Howe Sound and valley below, especially from the Stawamus Chief Outlook Viewpoint. There are also many other longer hiking trails to choose from in order to explore these mountains.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Vancouver 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5115462907"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Garibaldi Provincial Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the beautiful lakeshore of Garibaldi Lake with mountains in background near Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Garibaldi-Provincial-Park-Garibaldi-Lake-Shoreline.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Garibaldi Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/heroiclife/8470056827/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/heroiclife/" rel="noopener noreferrer" target="_blank">
                                    David Veksler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the stunning light blue glacial waters of Garibaldi Lake from Panorama Ridge near Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Garibaldi-Provincial-Park-Garibaldi-Lake-Panorama-Ridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Panorama Ridge (Garibaldi&nbsp;Lake)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iwona_kellie/3759875809/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iwona_kellie/" rel="noopener noreferrer" target="_blank">
                                    iwona_kellie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible Black Tusk mountain formation rising above the green forests and Garibaldi Lake, near Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Garibaldi-Provincial-Park-Garibaldi-Lake-The-Black-Tusk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Black Tusk (Garibaldi&nbsp;Lake)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iwona_kellie/3759839713/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iwona_kellie/" rel="noopener noreferrer" target="_blank">
                                    iwona_kellie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from atop the Black Tusk and mountains overlooking Garibaldi Lake surrounded by snow near Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Garibaldi-Provincial-Park-Garibaldi-Lake-The-Black-Tusk-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Black Tusk View (Garibaldi&nbsp;Lake)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/robotkenshi/10468032096/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/robotkenshi/" rel="noopener noreferrer" target="_blank">
                                    Kenshi</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Garibaldi Provincial Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="garibaldi-provincial-park"></a>
        <h2 class="left-heading destination-section-heading">Garibaldi Provincial Park</h2>
        <p>To the north of Squamish is the incredible Garibaldi Provincial Park, which features several extremely popular longer-distance hiking routes centered around Garibaldi Lake. All of these hiking routes begin from the Rubble Creek Trailhead.</p>
        <h3>Garibaldi Lake</h3>
        <p>The shortest route is the 11.2 mile (18 km) round-trip trail to the shore of the pristine glacial <strong>Garibaldi Lake</strong>, which sits deep in the forested wilderness below massive mountains. This trail also passes by the striking sheer cliffs of the Barrier Viewpoint along the way, and is quite challenging, requiring an elevation gain of approximately 3,300 feet (1,000 m).</p>
        <h3>Panorama Ridge</h3>
        <p>You can extend the Garibaldi Lake trail by hiking to the <strong>Panorama Ridge</strong> viewpoint, which hosts majestic views overlooking Garibaldi Lake and the surrounding mountains, just below Panorama Peak. This route has a round-trip distance of about 17.8 miles (28.6 km) and roughly 5,400 feet (1,650 m) of elevation gain.</p>
        <h3>Black Tusk</h3>
        <p>An even longer but extremely rewarding option is to add on the picturesque <strong>Black Tusk</strong> formation to your route, a 2.8 mile round-trip spur trail along the way to Panorama Ridge. With Panorama Ridge and the Black Tusk the total round-trip hiking distance is about 20.8 miles (33.5 km), with an elevation gain of approximately 6,000 feet (1,830 m).</p>
        <h3>More Hiking Options</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Alternatively hiking to the Black Tusk and excluding Panorama Ridge is a round-trip distance of about 16 miles (25.7 km), with approximately 4,500 feet (1,375 m) of elevation gain.</p>
            <p>The hike to Garibaldi Lake is highly recommend, as are the longer options if you're capable. Note that there are camping sites available along the route if you wish to complete this hike over the course of two days. It's also possible to hike much further into the wilderness such as to the shore of Cheakamus Lake, which connects to the Panorama Ridge Trail and is an extra 15.8 miles (25.4 km) round-trip to reach, with a campground located at the Cheakamus Lakeshore.</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Vancouver 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8625115460"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Whistler, B.C. Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful and powerful Brandywine Falls flowing over a canyon surrounded by dense forests north of Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Brandywine-Falls-Provincial-Park-Brandywine-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brandywine Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29638108@N06/5858518670/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29638108@N06/" rel="noopener noreferrer" target="_blank">
                                    Jennifer C.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the meadows and forests atop Whistler Mountain in British Columbia"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Whistler Mountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/28585899048/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the High Note Trail atop Whistler Mountain high above Cheakamus Lake near Vancouver, British Columbia"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain-High-Note-Trail-Cheakamus-Lake-Southwest-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">High Note Trail (Whistler&nbsp;Mountain)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/28585801368/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Full view of the massive glacial blue Cheakamus Lake seen from the High Note Trail atop Whistler Mountain in British Columbia"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain-High-Note-Trail-Cheakamus-Lake-Southeast-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cheakamus Lake (High&nbsp;Note&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/42490719532/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Whistler, British Columbia Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="whistler-attractions"></a>
        <h2 class="left-heading destination-section-heading">Whistler, British Columbia</h2>
        <h3>Brandywine Falls &amp; Bungee&nbsp;Bridge</h3>
        <p>In between Garibaldi Provincial Park and Whistler is the powerful <strong>Brandywine Falls</strong> which flows into a canyon surrounded by dense forest. Nearby you might consider leaping into a beautiful deep river gorge from the Whistler Bungee Bridge if you are a thrill seeker.</p>
        <h3>Whistler Mountain</h3>
        <p>Further north is the town of Whistler, a popular tourist destination with many ski resorts. The town sits below <strong>Whistler Mountain</strong> and Blackcomb Mountain, with many chairlifts connecting the mountains. In the summer many of the ski trails serve as hiking trails set amongst lush meadows, ponds, and glaciers. These two mountains together offer countless miles of hiking trails, set amongst a picturesque and pristine mountain wilderness.</p>
        <h3>Peak 2 Peak Gondola</h3>
        <p>Connecting Whistler Mountain and Blackcomb Peak is the Peak 2 Peak Gondola, a 1.9 mile (3 km) long horizontal gondola which rises over 1,400 feet (430 m) above the ground below. The Peak 2 Peak Gondola and many of the other ski lifts operate in the summer along with buses, making the many amazing hiking trails of these two mountains very easy to access.</p>
    </section>


    <!-- High Note Trail (Whistler Mountain) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="high-note-trail"></a>
        <h2 class="left-heading destination-section-heading">High Note Trail (Whistler&nbsp;Mountain)</h2>
        <p>The most highly recommended hiking trail atop Whistler Mountain is the <strong>High Note Trail</strong>, a 5.9 mile (9.5 km) one-way trail which requires riding some of the gondolas to complete. From Whistler you'll need to take the Whistler Village Gondola to The Peak Express chairlift to reach the trailhead atop Whistler Mountain.</p>
        <p>The High Note Trail circles around the edge of the top of Whistler Mountain through serene meadows while offering breathtaking views over the gorgeous glacial <strong>Cheakamus Lake</strong> below. The trail follows along the High Note Trail before turning left at the Singing Pass Trail Junction, passing the Symphony Bowl and Harmony Lake, before arriving back at the Roundhouse Lodge, where you can take the Whistler Village Gondola back down the mountain.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Vancouver 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6161785417"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Joffre Lakes Provincial Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down over the three glacial Joffre Lakes from high above in British Columbia outside of Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Joffre-Lakes-Provincial-Park-View-above-Upper-Joffre-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Joffre Lakes Provincial&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Joffre_Lakes.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Joffre_Lakes.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Madhumanti Mandal</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Upper Joffre Lake and the glacier feeding it from behind the trees, located north of Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Joffre-Lakes-Provincial-Park-Upper-Joffre-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Joffre Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Butterfly flying over the massive Lillooet Lake filled with skinny wooden logs, located north of Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Mount-Currie-Lillooet-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lillooet Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Joffre Lakes Provincial Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="joffre-lakes-provincial-park"></a>
        <h2 class="left-heading destination-section-heading">Joffre Lakes Provincial Park</h2>
        <p>Much further north of Whistler near the town of Mount Currie is <strong>Joffre Lakes Provincial Park</strong>, a small steep valley hosting a series of glacial lakes connected to one another via a series of river rapids and tiny waterfalls. The lakes are all vibrant bright blue in color and set within lush alpine forests.</p>
        <p>The three Joffre Lakes are connected via the 5.2 mile (8.4 km) round-trip Joffre Lakes Trail, which travels up the mountain concluding at <strong>Upper Joffre Lake</strong>, which sits below a massive pristine glacier. Be sure to get arrive for this hike as early as possible as the trail is extremely popular and can be quite crowded later in the day.</p>
        <h3>Lillooet Lake</h3>
        <p>After enjoying the Joffre Lakes you might like to see one end of the extremely long and serene <strong>Lillooet Lake</strong>, a vast whitish-blue lake which occupies an immense valley.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Vancouver Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7312033796"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Greater Vancouver, B.C. Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZaiFXmyVxoD2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/9muCHvrHYuq">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Looking along the Vancouver Seawall at Coal Harbour lined with modern glass highrise buildings in Downtown Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Coal-Harbour-Seawall-Water-Walk-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">
                        Vancouver
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/tdlucas5000/15070603679/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/tdlucas5000/" rel="noopener noreferrer" target="_blank">
                            tdlucas5000</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Horse and carriage in front of Victoria's beautiful Fairmont Express Hotel with vine-covered walls, on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fairmont-Empress-Hotel.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                        Victoria &amp; Vancouver&nbsp;Island
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Miladlaferrari</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/usa/washington/mount-baker-and-north-cascades-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Overlooking the stunning blue-green waters of the famous Diablo Lake surrounded by the North Cascades of Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Baker-Area-Diablo-Lake-Vista-Point.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/usa/washington/mount-baker-and-north-cascades-attractions-guide">
                        Mt. Baker &amp; North Cascades, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Diablo_Lake,_WA_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Diablo_Lake,_WA_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Dieter F</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/usa/washington/seattle-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Seattle Space Needle seen among lit up Downtown Seattle with Mount Rainier in the background at sunset"
                        data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Downtown-Space-Needle-and-Mount-Rainier.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/usa/washington/seattle-attractions-guide">
                        Seattle, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/city-skyline-seattle-downtown-693502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                            272447</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    