<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Elsje Point View of Downtown Vancouver behind the water from Kitsilano Beach Seawall, Vancouver, British Columbia Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Kitsilano-Beach-Kitsilano-Seawall-Elsje-Point-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Vancouver, British Columbia and plan the perfect trip with our savable Vancouver Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="vancouver_british_columbia" />
    <meta name="british_columbia_destinations" content="vancouver" />
    <meta name="canada_destinations" content="vancouver" />
    <meta name="british_columbia_attraction_guides" content="vancouver" />
    <meta name="canada_attraction_guides" content="vancouver" />
    <meta name="british_columbia_destination_guides" content="vancouver" />
    <meta name="canada_destination_guides" content="vancouver" />
    <meta name="google_maps_list" content="vancouver" />
    <meta property="og:title" content="Vancouver, B.C. Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Kitsilano-Beach-Kitsilano-Seawall-Elsje-Point.jpg">
    <meta name="twitter:title" content="Vancouver, B.C. Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Kitsilano-Beach-Kitsilano-Seawall-Elsje-Point.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/canada/british-columbia/vancouver-attractions-guide">
    <title>Attractions Guide for Vancouver, British Columbia, Canada</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Vancouver, British Columbia<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#bike-path-self-tour">Bike Self-Tour</a></div>
            <div><a href="#coal-harbour">Coal Harbour</a></div>
            <div><a href="#stanley-park-and-vancouver-seawall">Stanley Park</a></div>
            <div><a href="#yaletown-and-false-creek">Yaletown</a></div>
            <div><a href="#granville-island">Granville Island</a></div>
            <div><a href="#gastown">Gastown</a></div>
            <div><a href="#greater-downtown">Greater Downtown</a></div>
            <div><a href="#capilano-suspension-bridge">Capilano Bridge</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Vancouver Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Vancouver is a stunning modern city of striking high-rise buildings surrounded by breathtaking scenery, located just north of the US state of Washington in the massive Candian province of British Columbia. Downtown Vancouver is the main hub of the city and is located on a peninsula, with lavish marinas along the southern and northern end of the peninsula and the vast Stanley Park located on the northwestern tip.</p>
    </section>


    <!-- Coal Harbour, Stanley Park, Vancouver Seawall, and Downtown Beaches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Blue lights illuminating the Olympic Cauldron structure surrounded by highrise buildings and fog at night in Vancouver" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Olympic-Cauldron-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Olympic Cauldron</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/colink/8130848340/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/colink/" rel="noopener noreferrer" target="_blank">
                                    Colin Knowles</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking along the Vancouver Seawall at Coal Harbour lined with modern glass highrise buildings in Downtown Vancouver" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Coal-Harbour-Seawall-Water-Walk-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coal Harbour</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tdlucas5000/15070603679/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tdlucas5000/" rel="noopener noreferrer" target="_blank">
                                    tdlucas5000</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Small lake in Stanley Park located where the park meets Downtown Vancouver, with highrise buildings in background"
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Stanley-Park-Devonian-Harbour-Park-Pond.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stanley Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/o_0/5850000776/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/o_0/" rel="noopener noreferrer" target="_blank">
                                    Guilhem Vellut</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Night view of the skyscrapers of Downtown Vancouver along the water seen from along the Vancouver Seawall at Stanley Park"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Stanley-Park-Vancouver-Seawall-Coal-Harbour-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vancouver Seawall (Stanley&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hfiguiere/5061159745/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hfiguiere/" rel="noopener noreferrer" target="_blank">
                                    Hubert Figuiere</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Iconic and highly intricate Totem Poles of Stanley Park in Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Stanley-Park-Totem-Poles.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Totem Poles (Stanley&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glamourschatz/6111716630/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glamourschatz/" rel="noopener noreferrer" target="_blank">
                                    Angel Schatz</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View below the massive Lions Gate Bridge spanning the Burrard Inlet seen from the Vancouver Seawall along Stanley Park"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Stanley-Park-Vancouver-Seawall-Lions-Gate-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lions Gate Bridge (Stanley&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/spine/219739828/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/spine/" rel="noopener noreferrer" target="_blank">
                                    rick</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Sandy Third Beach sandwiched between light blue waters and the forets of Stanley Park in Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Stanley-Park-Third-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Third Beach (Stanley&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nworbleahcim/5921241588/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nworbleahcim/" rel="noopener noreferrer" target="_blank">
                                    Michael brown</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View above the popular sandy English Bay Beach near Stanley Park in Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-English-Bay-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">English Bay Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/keepitsurreal/3761246104/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/keepitsurreal/" rel="noopener noreferrer" target="_blank">
                                    Kyle Pearce</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bike Path Self-Tour Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bike-path-self-tour"></a>
        <h2 class="left-heading destination-section-heading">Bike Path Self-Tour</h2>
        <p>One of the most popular activities in Vancouver is to bike around the coastline of Vancouver's Downtown peninsula, heading counter-clockwise along the one-way bike path. This bike path is an excellent way to see many of Vancouver's most scenic locations, while also enjoying the beautiful views of the coast and other parts of the city from across the water.</p>
        <p>Plan to spend several hours or the greater part of a day exploring Vancouver by bike. The next two sections of this destination guide include many popular attractions along a highly recommended biking route through Downtown Vancouver and Stanley Park.</p>
    </section>


    <!-- Coal Harbour Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="coal-harbour"></a>
        <h2 class="left-heading destination-section-heading">Coal Harbour</h2>
        <p>The best place to start the extremely scenic biking route is from the <strong>Olympic Cauldron</strong>, a monumental torch structure located along the water which was built for the 2010 Winter Olympics. Near the Cauldron you can enjoy temporary art exhibits and amazing views of North Vancouver across Vancouver Harbour.</p>
        <p>You can bike west from the Olympic Cauldron along the upscale <strong>Coal Harbour</strong>, which hosts upscale apartment buildings and marinas.</p>
    </section>


    <!-- Stanley Park and Vancouver Seawall Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="stanley-park-and-vancouver-seawall"></a>
        <h2 class="left-heading destination-section-heading">Stanley Park &amp; Vancouver Seawall</h2>
        <p>Once you reach <strong>Stanley Park</strong> you'll be biking along the <strong>Vancouver Seawall</strong>, which traces along the coastal edge of the park hosting fantastic views of Vancouver Harbour.</p>
        <p>Near the eastern edge of Stanley Park are the iconic <strong>Totem Poles</strong>, which consists of nine genuine tall and colorful totem poles, constructed by the First Nations indigenous people of Canada.</p>
        <p>At the most northern point of the bike path you can enjoy picturesque views of the massive <strong>Lions Gate Bridge</strong>, which connects Downtown to North Vancouver. Before reaching the bridge you might consider taking a detour up to the Prospect Point Lookout to enjoy views of the bridge and the entrance to Vancouver Harbour from high above. This detour is approximately 1.8 miles (2.9 km).</p>
        <h3>Downtown Beaches</h3>
        <p>As you continue around the scenic western edge of Stanley Park you'll pass by the photogenic Siwash Rock, the sandy Third Beach, and the Teahouse, a great place to take a break. Continue along the coast of the English Bay after reaching the end of Stanley Park, passing English Bay Beach with even more amazing coastal views.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Vancouver 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4848703744"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- False Creek, Yalewotn, and Granville Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ultra-modern glass highrise buildings and yachts lining the marina at Downtown Vancouver's False Creek"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-False-Creek-Marina.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">False Creek</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/regnatarajan/4287809070/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/regnatarajan/" rel="noopener noreferrer" target="_blank">
                                    Reg Natarajan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the highrise buildings of Downtown Vancouver's Yaletown neighborhood"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Yaletown-Neighborhood.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Yaletown Neighborhood</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nickharris1/12880288824/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nickharris1/" rel="noopener noreferrer" target="_blank">
                                    Nick Harris</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the markets of the Granville Island Public Market seen from across False Creek in Downtown Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Granville-Island-Public-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Granville Island Public&nbsp;Market</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vancouver_-_Granville_Island_from_Granville_Bridge_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jmabel" rel="noopener noreferrer" target="_blank">
                                    Joe Mabel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Yaletown and False Creek Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="yaletown-and-false-creek"></a>
        <h2 class="left-heading destination-section-heading">Yaletown &amp; False Creek</h2>
        <p>It's highly recommended to continue biking along the coast to <strong>False Creek</strong>, a long inlet lined with more beautiful ultra-modern high-rise buildings and waterfront parks alongside marinas.</p>
        <p>This area of Downtown along the northern side of False Creek is the aesthetic <strong>Yaletown</strong> neighborhood, which formerly consisted of many warehouses and industrial buildings. Yaletown was converted into a hip and upscale neighborhood, hosting many great restaurants, bars, and boutique shops.</p>
    </section>


    <!-- Granville Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="granville-island"></a>
        <h2 class="left-heading destination-section-heading">Granville Island</h2>
        <p>Across False Creek from Yaletown is the small Granville Island, an extremely popular tourist attractions. The island is famous for the <strong>Granville Island Public Market</strong>, as well as its many art galleries and other unique shops. The easiest way to reach Granville Island is via a very short ferry ride across False Creek.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Vancouver 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2407083673"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Gastown and More Downtown Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Gastown Steam Clock, a large antique clock powered by steam, seen at night in Downtown Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Gastown-Steam-Clock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gastown Steam Clock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iqremix/37726855381/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iqremix/" rel="noopener noreferrer" target="_blank">
                                    IQRemix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking many highrise buildings during sunset seen from atop the Vancouver Lookout at Harbour Centre"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Harbour-Centre-Building-Vancouver-Lookout.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vancouver Lookout (Harbour&nbsp;Centre)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/magnusl3d/6044910841/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/magnusl3d/" rel="noopener noreferrer" target="_blank">
                                    Magnus Larsson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful fountain in front of the stately Vancouver Art Gallery in Downtown Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Vancouver-Art-Gallery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vancouver Art Gallery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wilsonhui/16446497893" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wilsonhui/" rel="noopener noreferrer" target="_blank">
                                    Wilson Hui</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking rounded Colosseum-like exterior of the Vancouver Public Central Library in Downtown Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Vancouver-Public-Central-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vancouver Public Central&nbsp;Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gotovan/37319130300/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gotovan/" rel="noopener noreferrer" target="_blank">
                                    GoToVan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Gastown Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="gastown"></a>
        <h2 class="left-heading destination-section-heading">Gastown</h2>
        <p>One of the most iconic sights in Vancouver is the <strong>Steam Clock</strong>, a lovely antique clock powered by steam near the center of the Gastown neighborhood. Gastown is the original downtown center of Vancouver and has become a very hip neighborhood, with many art galleries and unique restaurants. Gastown also hosts many great bars and pubs, with an exciting nightlife scene.</p>
        <p>Nearby Gastown is the city's iconic Harbour Centre building, which hosts a massive round tower atop it. Within this round tower is the <strong>Vancouver Lookout</strong>, which hosts panoramic views overlooking the city and surrounding landscape from over 480 feet (145 m) high.</p>
        <h3>More Downtown Attractions</h3>
        <p>Major places of interest near Gastown in Downtown Vancouver include the <strong>Vancouver Art Gallery</strong>, which hosts a vast collection of Canadian and European paintings, modern art, and photographs. Also Downtown you'll find the <strong>Vancouver Public Central Library</strong> building, with its stunning exterior reminiscent of the Roman Colosseum.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Vancouver 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1094002004"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Greater Downtown, Capilano Suspension Bridge, Grouse Mountain, and Lynn Canyon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Boulders along the sandy Kitsilano beach at Elsje Point with Downtown Vancouver seen behind the water at golden hour"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Kitsilano-Beach-Kitsilano-Seawall-Elsje-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Elsje Point (Kitsilano&nbsp;Beach)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/40870180@N02/35957354261/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/40870180@N02/" rel="noopener noreferrer" target="_blank">
                                    Alberto Cruz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the many highrise buildings of Downtown Vancovuer with massive mountains behind it seen from Queen Elizabeth Park"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Queen-Elizabeth-Park-Downtown-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Queen Elizabeth Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/keepitsurreal/3348972199/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/keepitsurreal/" rel="noopener noreferrer" target="_blank">
                                    Kyle Pearce</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the famous Capilano Suspension Bridge spanning a canyon, surrounded by lush green forests in North Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Capilano-River-Regional-Park-Capilano-Suspension-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Capilano Suspension Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/footloosiety/3547548303/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/footloosiety/" rel="noopener noreferrer" target="_blank">
                                    David J Laporte</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the Eye of the Wind overlooking the forests of Grouse Mountain with the sea and Vancouver in background"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Grouse-Mountain-Downtown-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eye of the Wind View (Grouse&nbsp;Mountain)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/41567247385/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush dense green forests surrounding the Lynn Canyon Suspension Bridge in North Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Lynn-Canyon-Park-Lynn-Canyon-Suspension-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lynn Canyon Suspension&nbsp;Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ckgolfsolutions/6924763085/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ckgolfsolutions/" rel="noopener noreferrer" target="_blank">
                                    CK Golf</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Greater Downtown Vancouver Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-downtown"></a>
        <h2 class="left-heading destination-section-heading">Greater Downtown Vancouver</h2>
        <h3>Kitsilano Beach</h3>
        <p>Near Granville Island across the water from Downtown Vancouver is Kitsilano Beach Park, a sandy beach hosting gorgeous views of the English Bay and Downtown. For even more picturesque views you can walk along the beach to <strong>Elsje Point</strong> at the tip of the Kitsilano Seawall. Kitsilano Beach also hosts a vast heated waterfront pool, the Kitsilano Pool, which you can swim in while enjoying amazing views.
        <h3>Queen Elizabeth Park</h3>
        <p>To the south of Downtown Vancouver is the beautiful hilltop <strong>Queen Elizabeth Park</strong> with its lush well-manicured gardens. The park also offers breathtaking views overlooking Downtown Vancouver framed against the North Shore Mountains.</p>
    </section>


    <!-- Capilano Suspension Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="capilano-suspension-bridge"></a>
        <h2 class="left-heading destination-section-heading">Capilano Suspension Bridge</h2>
        <p>In North Vancouver you'll find an incredibly popular attraction, the <strong>Capilano Suspension Bridge</strong>. This 460 foot (140 m) long suspension bridge is set amongst a lush dense forest, spanning high above a majestic river canyon.</p>
        <p>The Capilano Suspension Bridge Park also offers attractions such as CliffWalk, a suspended walkway above the trees attached to a cliff offering marvelous views of the forest. Additionally the park offers a series of suspended walkways between the trees high above the ground, called the Treetops Adventure.</p>
    </section>



    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Grouse Mountain</h3>
        <p>Further north in Northern Vancouver is Grouse Mountain, which hosts a popular ski resort in the winter and lifts that operates year-round. From the top of the main lift you can enjoy views over Vancouver and the bay below.</p>
        <p>Take the Peak Chair Lift up to the top of Grouse Mountain for expansive views overlooking Vancouver and the stunning landscape surrounding it. To enjoy the most far-reaching and truly breathtaking views, you can take the elevator to the observation deck atop the <strong>Eye of the Wind</strong>, a towering windmill.</p>
        <h3>Lynn Canyon Suspension Bridge</h3>
        <p>On the eastern side of North Vancouver is another suspension bridge within a tall dense forest, the <strong>Lynn Canyon Suspension Bridge</strong>. Unlike the Capilano Suspension Bridge this bridge is free, although it is much smaller. Across the bridge are many trails, the most popular being the 1.2 mile (1.9 km) round-trip Lynn Canyon Loop, which features views of a striking blue-green river as well as small waterfalls.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Vancouver Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9809386383"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Vancouver, B.C. Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZVgp5VJkCoH2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/aift4wjPPQ72">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Looking along the High Note Trail atop Whistler Mountain high above Cheakamus Lake near Vancouver, British Columbia"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain-High-Note-Trail-Cheakamus-Lake-Southeast-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                        Greater Vancouver
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mfoubister/42490719532/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                            Murray Foubister</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Horse and carriage in front of Victoria's beautiful Fairmont Express Hotel with vine-covered walls, on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fairmont-Empress-Hotel.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                        Victoria &amp; Vancouver&nbsp;Island
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Miladlaferrari</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/usa/washington/mount-baker-and-north-cascades-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Overlooking the stunning blue-green waters of the famous Diablo Lake surrounded by the North Cascades of Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Baker-Area-Diablo-Lake-Vista-Point.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/usa/washington/mount-baker-and-north-cascades-attractions-guide">
                        Mt. Baker &amp; North Cascades, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Diablo_Lake,_WA_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Diablo_Lake,_WA_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Dieter F</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/usa/washington/seattle-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Seattle Space Needle seen among lit up Downtown Seattle with Mount Rainier in the background at sunset"
                        data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Downtown-Space-Needle-and-Mount-Rainier.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/usa/washington/seattle-attractions-guide">
                        Seattle, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/city-skyline-seattle-downtown-693502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                            272447</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    