<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Butchart Gardens of Brentwood Bay, Victoria and Vancouver Island, British Columbia Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Brentwood-Bay-Butchart-Gardens-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Victoria & Vancouver Island, British Columbia and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="victoria_british_columbia" />
    <meta name="attraction_guides" content="vancouver_island_british_columbia" />
    <meta name="british_columbia_destinations" content="victoria" />
    <meta name="british_columbia_destinations" content="vancouver_island" />
    <meta name="canada_destinations" content="victoria" />
    <meta name="canada_destinations" content="vancouver_island" />
    <meta name="british_columbia_attraction_guides" content="victoria" />
    <meta name="british_columbia_attraction_guides" content="vancouver_island" />
    <meta name="canada_attraction_guides" content="victoria" />
    <meta name="canada_attraction_guides" content="vancouver_island" />
    <meta name="british_columbia_destination_guides" content="victoria" />
    <meta name="british_columbia_destination_guides" content="vancouver_island" />
    <meta name="canada_destination_guides" content="victoria" />
    <meta name="canada_destination_guides" content="vancouver_island" />
    <meta name="google_maps_list" content="victoria" />
    <meta name="google_maps_list" content="vancouver_island" />
    <meta property="og:title" content="Victoria & Vancouver Island, B.C. Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Brentwood-Bay-Butchart-Gardens-View.jpg">
    <meta name="twitter:title" content="Victoria & Vancouver Island, B.C. Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Brentwood-Bay-Butchart-Gardens-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
    <title>Attractions Guide for Victoria &amp; Vancouver Island, B.C., Canada</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Victoria &amp; Vancouver Island, British&nbsp;Columbia<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#reaching-victoria">Reaching Victoria</a></div>
            <div><a href="#central-victoria">Central Victoria</a></div>
            <div><a href="#hatley-park-national-historic-site">Hatley Park</a></div>
            <div><a href="#fort-rodd-and-fisgard-lighthouse">Fort Rodd &amp; Fisgard</a></div>
            <div><a href="#butchart-gardens">Butchart Gardens</a></div>
            <div><a href="#goldstream-provincial-park">Goldstream</a></div>
            <div><a href="#french-and-sandcut-beaches">Sandcut Beach</a></div>
            <div><a href="#juan-de-fuca-provincial-park">Juan de Fuca</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Victoria and Vancouver Island Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Victoria is the capital city of British Columbia and is located at the eastern edge of Vancouver Island. This massive island sits just off the southwestern coast of Canada between Washington and British Columbia, with a length of approximately 290 miles (460 km).</p>
        <p>Vancouver Island and Victoria can be reached via car ferry from either Vancouver, B.C. or from Port&nbsp;Angeles, Washington (near the northern side of Olympic National Park).</p>
    </section>


    <!-- Central Victoria Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Grandiose facade of the massive British Columbia Parliament Building in Victoria, Vancouver Island" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-British-Columbia-Parliament-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">British Columbia Parliament&nbsp;Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sillygwailo/8156554959/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sillygwailo/" rel="noopener noreferrer" target="_blank">
                                    Richard Eriksson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Horse and carriage in front of Victoria's beautiful Fairmont Express Hotel with vine-covered walls, on Vancouver Island" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fairmont-Empress-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairmont Empress Hotel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Miladlaferrari</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Vibrant colorful buildings lining the docks along Victoria's Fisherman's Wharf Park on Vancouver Island"
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fishermans-Wharf.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fisherman's Wharf Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/20044219993/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small but lovely stone-built exterior of the Craigdarroch Castle in Victoria, Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Craigdarroch-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Craigdarroch Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/laszlo-photo/6817852907/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/laszlo-photo/" rel="noopener noreferrer" target="_blank">
                                    Laszlo Ilyes</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Reaching Victoria / Vancouver Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="reaching-victoria"></a>
        <h2 class="left-heading destination-section-heading">Reaching Victoria / Vancouver&nbsp;Island</h2>
        <p>The ferry ride from Port Angeles to Victoria takes about 90 minutes, however this does not include the time going through Customs &amp; Immigration. It's highly recommended to pre-book reservations for this ferry, especially if you will be taking you vehicle.</p>
        <p>The ferry ride from Vancouver similarly takes about 90 minutes, however the ferry station is located in the suburb of Tsawwassen and lands in the town of Swartz Bay north of Victoria. This adds about another 1-2 hours of driving to get from Downtown Vancouver to Downtown Victoria, without having to cross an international border.</p>
        <p>Victoria's most popular attraction, the Butchart Gardens are located in Brentwood Bay, about 20 minutes south of the ferry landing in Swartz Bay, while Victoria is located quite further south.</p>
    </section>


    <!-- Central Victoria Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-victoria"></a>
        <h2 class="left-heading destination-section-heading">Central Victoria</h2>
        <p>Just south of Downtown Victoria are several of the city's top attractions. Among Victoria's most iconic attractions is the grandiose <strong>British Columbia Parliament Building</strong>, a magnificent domed structure which serves as the seat of government for the province of British Columbia. This vast elegant building combines Neo-Baroque and Romanesque Revival architectural styles.</p>
        <p>Across from the Parliament Building is the Royal British Columbia Museum, which hosts extensive exhibits and collections in First Nations' history, modern history, and natural history. Adjacent to the museum is another of Victoria's most beautiful structures, the majestic waterfront <strong>Fairmont Express</strong>, a chateau-like hotel which is quite photogenic.</p>
        <p>West of Downtown in the old James Bay neighborhood is <strong>Fisherman's Wharf</strong>, an area along the harbor consisting of several floating piers lined with shops and restaurants, as well as beautiful colorful floating homes. Fisherman's Wharf is quite photogenic and is a very popular tourist area.</p>
        <p>East of Downtown Victoria is a lovely late 19th century mansion, the <strong>Craigdarroch Castle</strong>. This impressive Victorian-style home now serves as a museum, hosting lavish historic furnishings and elaborate stained glass windows.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Victoria 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8496304717"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Hatley Park, Fort Rodd and Fisgard Lighthouse, Butchart Gardens (Brentwood Bay), and Goldstream Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Majestic stone exterior of the Hatley Castle near Victoria, which was the location for Xavier's School in most X-men films"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Hatley-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hatley Park<br />National&nbsp;Historic&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/19796275222/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little red/white Fisgard Lighthouse atop a tiny rocky peninsula at Fort Rodd Hill outside Victoria, Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fort-Rodd-Hill-Fisgard-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fisgard Lighthouse<br />(Fort&nbsp;Rodd&nbsp;Hill)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/20044219993/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colored flowers, plants, and trees of the famous Butchart Gardens of Vancouver Island in Brentwood Bay near Victoria"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Greater-Victoria-Brentwood-Bay-Butchart-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Butchart Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/don34685/22888255967/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/don34685/" rel="noopener noreferrer" target="_blank">
                                    Don</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Dense forests in fall colors along the stream at Vancouver Island's Goldstream Provincial Park near Victoria"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Greater-Victoria-Goldstream-Provincial-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Goldstream Provincial&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffgunn/5111169350/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                                    Jeff Gunn</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Hatley Park National Historic Site Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hatley-park-national-historic-site"></a>
        <h2 class="left-heading destination-section-heading">Hatley Park National Historic Site</h2>
        <p>On the western outskirts of Victoria you'll find the <strong>Hatley Park National Historic Site</strong>, which hosts the lovely Hatley Castle. Surrounding this stunning 20th century mansion are woodland parks, in addition to beautiful formal Edwardian gardens.</p>
        <p>Hatley Park also has a fascinating history. At the outbreak of WWII the castle was purchased by the British Royal Family, who planned to relocate to it during the war in order to stay safe, however they ended up staying in London.</p>
        <p>Hatley Castle is also extremely well-known as the filming location for Xavier's School for Gifted Youngsters, featured in nearly every X-Men and Deadpool film since X2: X-Men United. Additionally, the castle has been featured in many other films and TV shows.</p>
    </section>


    <!-- Fort Rodd and Fisgard Lighthouse Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fort-rodd-and-fisgard-lighthouse"></a>
        <h2 class="left-heading destination-section-heading">Fort Rodd &amp; Fisgard Lighthouse</h2>
        <p>Nearby Hatley Park is the Fort Rodd Hill National Historic Site, a 19th century artillery fortress on the coast with interesting historical artifacts and exhibits.</p>
        <p>Adjacent to Fort Rodd is the Fisgard Lighthouse National Historic Site, where you can admire the first lighthouse established on Canada's west coast about 170 years ago. The <strong>Fisgard Lighthouse</strong> is extremely picturesque and built atop a tiny rocky peninsula, hosting amazing views of the coastline.</p>
    </section>


    <!-- Butchart Gardens (Brentwood Bay) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="butchart-gardens"></a>
        <h2 class="left-heading destination-section-heading">Butchart Gardens (Brentwood Bay)</h2>
        <p>North of Victoria in the city of Brentwood Bay are the famous <strong>Butchart Gardens</strong>, a gorgeous collection of well-manicured themed gardens with vibrantly colored flowers and plants, as well as mesmerizing fountains.</p>
        <h3>Victoria Butterfly Gardens</h3>
        <p>Nearby the Butchart Gardens are the Victoria Butterly Gardens, a lush indoor rainforest environment full of stunning tropical plants and creatures, including butterflies, parrots, frogs, iguanas, geckoes, an insectarium, and more.</p>
    </section>


    <!-- Goldstream Provincial Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="goldstream-provincial-park"></a>
        <h2 class="left-heading destination-section-heading">Goldstream Provincial Park</h2>
        <p>Approximately 12 miles (19 km) west of Victoria is <strong>Goldstream Provincial Park</strong> and its thick forests, which host several great hiking trails.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Among the park's best trails is the 1.6 mile (2.6 km) round-trip Goldstream Trestle route, which begins by passing the beautiful Niagara Falls (not the famous one), before following the Gold Mine Trail to the striking Niagara Trestle Bridge. This old railroad bridge spans the Niagara Creek below and is quite photogenic.</p>
        <p>Another popular hike this park offers is the 3.4 miles (5.5 km) round-trip Mount Finlayson Loop Trail, which traverses through the dense forest before reaching the top of Mt. Finlayson. From the top you can enjoy stunning panoramic views over the vast forests in the area, as well as over nearby Victoria. On a very clear day the views will reach across the Strait of Juan de Fuca to Washington's Olympic Mountains.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Victoria 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6236972889"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Strait of Juan de Fuca Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden logs along the rocky French Beach surrounded by dense forests along the Strait of Juan de Fuca on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-French-Beach-Provincial-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">French Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/56705607@N00/34903768151/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/56705607@N00/" rel="noopener noreferrer" target="_blank">
                                    Blake Handley</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="2 small waterfalls flowing over a small slick cliff onto Sandcut Beach along the Strait of Juan de Fuca on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-Jordan-River-Regional-Park-Sandcut-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sandcut Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dickface/16346472797/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dickface/" rel="noopener noreferrer" target="_blank">
                                    Aaron Bergunder</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the waterline of sandy Mystic Beach below forest-covered cliffs along Vancouver Island's Strait of Juan de Fuca"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-Juan-de-Fuca-Provincial-Park-Mystic-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mystic Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mystic_Beach,_Vancouver_Island,_Canada_10.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Podzemnik" rel="noopener noreferrer" target="_blank">
                                    Michal Klajban</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking out at the blue waters of Sombrio Beach, surrouned by dense forests along Vancouver Island's Strait of Juan de Fuca"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-Juan-de-Fuca-Provincial-Park-Sombrio-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sombrio Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gusilu/2694486110/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gusilu/" rel="noopener noreferrer" target="_blank">
                                    Lucia Sanchez</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- French and Sandcut Beaches (Strait of Juan de Fuca) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="french-and-sandcut-beaches"></a>
        <h2 class="left-heading destination-section-heading">Strait of Juan de Fuca Beaches</h2>
        <p>Much further west of Victoria along Highway 14 is a long scenic stretch of coastline hosting many beautiful beaches surrounded by tall dense forests. These beaches are located just off the highway along the coast of the Strait of Juan de Fuca, a long body of water which separates Washington's Olympic Peninsula from Vancouver Island.</p>
        <h3>French Beach</h3>
        <p>The first major beach you'll encounter is the stunning <strong>French Beach Provincial Park</strong>, which you can admire with a short walk from the parking lot.</p>
        <h3>Sandcut Beach</h3>
        <p>Continue up the coast to nearby <strong>Sandcut Beach</strong>, which is known for its gorgeous waterfalls which flow from Sandcut Creek over a tiny cliff onto the rocky beach. The trail to reach the waterfall begins by journeying through a lush temperate rainforest before reaching the beach, at which point you'll walk east along the coast until reaching the falls. The round-trip length for this hike is approximately 1.6 miles (2.6 km) starting from the Jordan River Regional Park Sandcut Beach Parking Lot.</p>
    </section>


    <!-- Juan de Fuca Provincial Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="juan-de-fuca-provincial-park"></a>
        <h2 class="left-heading destination-section-heading">Juan de Fuca Provincial Park</h2>
        <h3>Juan de Fuca Marine Trail</h3>
        <p>Further west along the coast is the Juan de Fuca Provincial Park, which is connected by the extremely scenic long-distance 23.6 mile (38 km) long Juan de Fuca Marine Trail along the coast. From the eastern Juan de Fuca Trailhead you can hike 1 mile (1.6 km) round-trip along the China Beach Trail to reach the striking sandy China Beach.</p>
        <h3>Mystic Beach</h3>
        <p>Also from the eastern Juan de Fuca Trailhead you can hike west along the Juan de Fuca Marine Trail to reach the breathtaking <strong>Mystic Beach</strong>. This beach is known for its tree-covered cliffs which rise above the sandy beach, as well as a seasonal waterfall which flows onto the sand. The hike to reach Mystic Beach is approximately 2.5 miles (4 km) round-trip, and includes the exciting Pete Wolfe Suspension Bridge along the serene path through the lush forest.</p>
        <h3>Sombrio Beach</h3>
        <p>Consider heading further west to view another lovely sandy beach surrounded by thick forests, <strong>Sombrio Beach</strong>, which can be reached with a short round-trip walk of about 0.9 miles (1.4 km). Sombrio Beach is located about halfway through the Juan de Fuca Marine Trail.</p>
        <h3>Botanical Beach</h3>
        <p>The Juan de Fuca Marine Trail terminates much further west of Sombrio Beach at the scenic Botanical Beach near the town of Port Renfrew. Botanical Beach can be reached with a 1.4 mile (2.3 km) round-trip walk from the western Juan de Fuca Trailhead.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Victoria Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7093376099"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Victoria &amp; Vancouver Island, B.C. Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hqiiVGMjLUo">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/etM4CeZzCTP2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Looking along the Vancouver Seawall at Coal Harbour lined with modern glass highrise buildings in Downtown Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Coal-Harbour-Seawall-Water-Walk-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/canada/british-columbia/vancouver-attractions-guide">
                        Vancouver
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/tdlucas5000/15070603679/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/tdlucas5000/" rel="noopener noreferrer" target="_blank">
                            tdlucas5000</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Looking along the High Note Trail atop Whistler Mountain high above Cheakamus Lake near Vancouver, British Columbia"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain-High-Note-Trail-Cheakamus-Lake-Southeast-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                        Greater Vancouver
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mfoubister/42490719532/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                            Murray Foubister</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/usa/washington/olympic-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View along the idyllic Pacific Northwest Rialto Beach with giant log piles and dense forests on the Olympic Peninsula"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rialto-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/usa/washington/olympic-national-park-attractions-guide">
                        Olympic National Park, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/gusilu/7987056555/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/gusilu/" rel="noopener noreferrer" target="_blank">
                            Lucia Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/usa/washington/seattle-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Seattle Space Needle seen among lit up Downtown Seattle with Mount Rainier in the background at sunset"
                        data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Downtown-Space-Needle-and-Mount-Rainier.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/usa/washington/seattle-attractions-guide">
                        Seattle, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/city-skyline-seattle-downtown-693502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                            272447</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    