<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Berliner Dom Berlin Cathedral and Fernsehturm TV Tower, Berlin, Germany Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Dom-Berlin-Cathedral-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Berlin, Germany and plan the perfect trip with our savable Berlin Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="berlin_germany" />
    <meta name="europe_attraction_guides" content="berlin_germany" />
    <meta name="europe_destinations" content="berlin_germany" />
    <meta name="europe_destination_guides" content="berlin_germany" />
    <meta name="germany_attraction_guides" content="berlin" />
    <meta name="germany_destinations" content="berlin" />
    <meta name="germany_destination_guides" content="berlin" />
    <meta name="google_maps_list" content="berlin" />
    <meta property="og:title" content="Berlin, Germany Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Dom-Berlin-Cathedral.jpg">
    <meta name="twitter:title" content="Berlin, Germany Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Dom-Berlin-Cathedral.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/germany/berlin-attractions-guide">
    <title>Attractions Guide for Berlin, Germany</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Berlin, Germany<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#iconic-attractions">Iconic Attractions</a></div>
            <div><a href="#famous-plazas">Famous Plazas</a></div>
            <div><a href="#museum-island">Museum Island</a></div>
            <div><a href="#more-museums">More Museums</a></div>
            <div><a href="#berlin-wall">Berlin Wall</a></div>
            <div><a href="#tiergarten-park">Tiergarten Park</a></div>
            <div><a href="#charlottenberg-palace">Charlottenburg Palace</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Berlin Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Germany’s capital city of Berlin is the largest city in Germany is home to many great museums, monuments, and other attractions. You’ll find many world-class museums and historic buildings on Berlin’s Museum Island, a UNESCO site located on a small island in the Spree River in the center of Berlin.</p>
    </section>


    <!-- Iconic Berlin Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Sunset colors glowing on the Brandenburg Gate, a neoclassical monument and top attraction in Berlin, Germany" 
                        src="https://www.travelimager.com/images/germany/Germany-Berlin-Brandenburg-Gate-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brandenburg Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sgerner/29714543882/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                                    Steven Gerner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Illuminated neoclassical monument of the Brandenburg Gate in Berlin, Germany seen at night"
                        src="https://www.travelimager.com/images/germany/Germany-Berlin-Brandenburg-Gate-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brandenburg Gate<br />(Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin-_Brandenburg_gate_(Brandenburg_Tor)_at_night_-_4320.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.royan.com.ar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Royan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Cloudy day view of the facade of the Reichstag Building in Berlin, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Berlin-Reichstag-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reichstag Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/berlin-bundestag-reichstag-1319648/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/pixlord-1/" rel="noopener noreferrer" target="_blank">
                                    PixLord</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="High noon view of the facade of the Reichstag Parliament building of Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Reichstag-Building-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reichstag Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/reichstag-building-reichstag-berlin-2838571/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/betexion-6116769/" rel="noopener noreferrer" target="_blank">
                                    betexion</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Countless concretedblocks of varying heights arranged geometrically making up Berlin's Memorial to the Jews of Europe"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Jewish-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Memorial to the Jews of Europe</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Memorial_to_the_murdered_Jews_of_Europe.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Memorial_to_the_murdered_Jews_of_Europe.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Chaosdna</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Checkpoint Charlie, a preserved guardhouse which sits on the line which historically divided East and West Berlin" 
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Checkpoint-Charlie-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Checkpoint Charlie</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Checkpoint_Charlie_2015_03.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Orderinchaos" rel="noopener noreferrer" target="_blank">
                                    Orderinchaos</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Distant view of the massive Berliner Fernsehturm Television Tower of Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Fernsehturm-Television-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Berliner Fernsehturm Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alexanderplatz_in_Berlin,_television_tower,_Red_Town_Hall.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Nemracc" rel="noopener noreferrer" target="_blank">
                                    Nemracc</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Iconic Berlin Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="iconic-attractions"></a>
        <h2 class="left-heading destination-section-heading">Iconic Berlin Attractions</h2>
        <h3>Brandenburg Gate</h3>
        <p>Among Berlin’s most iconic sights is the 18th century <strong>Brandenburg Gate</strong>, a stunning neoclassical monument which has been the background for many important historical events throughout the city’s history. Be sure to also see the Brandenburg Gate at night when it is elegantly illuminated.</p>
        <h3>Reichstag Building</h3>
        <p>A very short walk away from the Brandenburg Gate is Berlin’s iconic <strong>Reichstag Building</strong>, a grandiose structure which houses Germany’s parliament sessions. The Reichstag’s glass dome is a popular spot for tourists to enjoy 360 degree views of Berlin from several floors up.</p>
        <h3>Memorial to the Jews of Europe</h3>
        <p>Just south of the Brandenburg Gate is the <strong>Memorial to the Jews of Europe</strong>, a vast complex of thousands of smooth rectangular columns arranged in a grid pattern, with various heights creating a unique and powerful visual effect. Beneath the Memorial is an underground Holocaust Museum which is free to visit.</p>
        <h3>Checkpoint Charlie</h3>
        <p>An extremely popular tourist attraction in Berlin is <strong>Checkpoint Charlie</strong>, a famous preserved guardhouse which sits on the former border between East and West Berlin. During the time when Berlin was divided, Checkpoint Charlie was the main gate through which people must pass to reach the other side of the City Center, which was very rarely allowed.</p>
        <h3>Fernsehturm Tower</h3>
        <p>Towering above the city is an iconic symbol of Berlin, the <strong>Berliner Fernsehturm Tower</strong>, a massive TV tower which is approximately 1,200 feet (370 m) tall. For the best views in Berlin, you can take the elevator or even climb the stairs up to the towers’s rotating observation platform, which also hosts a restaurant.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Berlin 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2535415490"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Famous Berlin Plazas Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Cloudy day view of the stately buildings including Neue Kirche Church and Konzerthaus Berlin on Gendarmenmarkt square"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Gendarmenmarkt-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gendarmenmarkt Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gendarmenmarkt_2010_11_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Kroppe" rel="noopener noreferrer" target="_blank">
                                    Christoph Matthias Siebenborn</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Evening view of the illuminated facade of the Konzerthaus Berlin Concert Hall on Gendarmenmarkt square in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Gendarmenmarkt-Square-Konzerthaus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Konzerthaus Berlin<br />(Gendarmenmarkt Square)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Konzerthaus,_Gendarmenmarkt,_Berlin_(Blaue_Stunde).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Code" rel="noopener noreferrer" target="_blank">
                                    Ansgar Koreng</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/de/deed.de" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Neo-classical St. Hedwig's Cathedral with its massive green dome on Bebelplatz square in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Bebelplatz-Hedwigskathedrale-St-Hedwigs-Cathedral-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Hedwig's Cathedral<br />(Bebelplatz)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin,_Mitte,_Bebelplatz,_Hedwigskathedrale_02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Beek100" rel="noopener noreferrer" target="_blank">
                                    Beek100</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Famous Berlin Plazas Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="famous-plazas"></a>
        <h2 class="left-heading destination-section-heading">Famous Berlin Plazas</h2>
        <h3>Gendarmenmarkt</h3>
        <p>In the center of the city is one of Berlin’s most famous squares, <strong>Gendarmenmarkt</strong>, which is surrounded by lavish buildings. This public square hosts a popular Christmas market.</p>
        <p>Around Gendarmenmarkt you can admire the lovely 17th century French Cathedral which offers views over the city and the 18th century Neue Kirche (New Church) with its striking rounded staircase that you can climb. Between the two churches of Gendarmenmarkt is the <strong>Konzerthaus Berlin</strong>, a stately classical music concert hall.</p>
        <h3>Bebelplatz</h3>
        <p>Another beautiful plaza just a couple blocks from Gendarmenmarkt is Bebelplatz, the infamous site of a major Nazi book burning event in the 1930s, for which the plaza also hosts a memorial to.</p>
        <p>Despite its troubled history, this plaza is surrounded by stunning historical buildings, including the pink Berlin State Opera, and the impressive neoclassical <strong>St. Hedwig’s Cathedral</strong> with its massive dome.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Berlin 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1959758479"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Berlin Museum Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset colors behind the facade of the majestic Berliner Dom or Berlin Cathedral with  Fernsehturm Tower in background"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Dom-Berlin-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Berlin Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/berlin-dom-berlin-cathedral-2651607/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/athree23-6195572/" rel="noopener noreferrer" target="_blank">
                                    athree23</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Magnificent illuminated facade of the Berliner Dom or Berlin Cathedral at night on Berlin's Museum Island"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Berliner-Dom-Berlin-Cathedral-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Berlin Cathedral (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:141227_Berliner_Dom.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Code" rel="noopener noreferrer" target="_blank">
                                    Ansgar Koreng</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/de/deed.de" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grand columned facade of the Altes Museum of Berlin's Museum Island seen behind Lustgarten Park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Altes-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Altes Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Altes_Museum,_Berlin_2012.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Avda" rel="noopener noreferrer" target="_blank">
                                    Avda</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Columned walkway along the exterior of the Neues Museum of Museum Island in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Neues-Museum-Exterior-Columns.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neues Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin.Neues_Museum001.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:JoJan" rel="noopener noreferrer" target="_blank">
                                    JoJan</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Illuminated Parthenon-like exterior of Berlin's Alte Nationalgalerie Museum on Museum Island seen in the evening"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Alte-Nationalgalerie-Museum-Exterior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alte Nationalgalerie Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alte_Nationalgalerie_abends_(Zuschnitt).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.foto-tw.de/" rel="noopener noreferrer" target="_blank">
                                    Thomas Wolf</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Majestic restored Ishtar Gate to Ancient Babylon housed within the Pergamon Museum on Berlin's Museum Island"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Pergamon-Museum-Babylon-Ishtar-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Babylonian Ishtar Gate<br />Pergamon Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ishtar_gate_in_Pergamon_museum_in_Berlin..jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ishtar_gate_in_Pergamon_museum_in_Berlin..jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Radomir Vrbovsky</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Market Gate of Miletus found in Ancient Roman Turkey and restored in the Pergamon Museum of Berlin's Museum Island"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Pergamon-Museum-Interior-Market-Gate-of-Miletus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Market Gate of Miletus<br />Pergamon Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Markttor_zu_Milet-Pergamonmuseum-2018.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Kameister" rel="noopener noreferrer" target="_blank">
                                    Kameister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive Pergamon Altar from the ancient Greek settlement of Pergamon in Turkey, housed in Berlin's Pergamon Museum"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Pergamon-Museum-Altar.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pergamon Altar<br />Pergamon Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin_-_Pergamonmuseum_-_Altar_02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Lestath" rel="noopener noreferrer" target="_blank">
                                    Jan Mehlich</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly photogenic illuminated exterior of the Bode Museum located at the tip of Museum Island in Berlin's Spree River"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Bode-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bode Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bodemuseum_in_Berlin.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Marek_Heise" rel="noopener noreferrer" target="_blank">
                                    Marek Heise Fotografie, Berlin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Museum Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museum-island"></a>
        <h2 class="left-heading destination-section-heading">Museum Island</h2>
        <h3>Berlin Cathedral</h3>
        <p>The most famous sight of Museum Island isn’t even a museum, it’s the magnificent <strong>Berlin Cathedral</strong> (or in German the Berliner Dom). This massive cathedral contains exquisitely decorated interiors with royal tombs and historic artworks.</p>
        <p>You can climb the stairs to the top of the Berlin Cathedral’s dome for amazing 360 degree views overlooking Museum Island, the Fernsehturm tower, and much of Central Berlin.</p>
        <h3>Altes Museums</h3>
        <p>Adjacent to the Berlin Cathedral is the <strong>Altes Museum</strong>, which houses a priceless collection of of Classical antiquities from Ancient Greece and Rome within a grand neoclassical building. The Altes Museum sits at the end of the Lustgarten park behind a lovely fountain.</p>
        <h3>Neues Museum</h3>
        <p>Behind the Altes Museum is the <strong>Neues Museum</strong>, hosting an amazing collection of Ancient Egyptian artifacts, most notably the famous Nefertiti Bust. Additionally the Neues Museum holds a collection of early historic and prehistoric human artifacts.</p>
        <h3>Alte Nationalgalerie</h3>
        <p>Next to the Neues Museums you can visit the <strong>Alte Nationalgalerie</strong> (or Old National Gallery), which is housed in a highly photogenic building resembling the ancient Parthenon of Greece. The Alte Nationalgalerie’s collections include early Modern, Impressionist, Romantic,  and Neoclassical fine art works.</p>
        <h3>Pergamon Museum</h3>
        <p>By far the most popular and famous museum on Berlin’s Museum Island is the Pergamon Museum, which is also the most visited museum in Germany.</p>
        <p>The Pergamon Museum hosts an incredible collection of massive ancient artifacts, including the Babylonian <strong>Ishtar Gate</strong>, and the <strong>Market Gate of Miletus</strong> built in Turkey during the rule of Roman Emperor Hadrian. The most famous artifact however is the gigantic <strong>Pergamon Altar</strong> for which the museum is named after, which was found in the Ancient Greek city of Pergamon in Turkey.</p>
        <h3>Bode Museum</h3>
        <p>At the northern tip of Museum Island is the <strong>Bode Museum</strong>, which hosts a diverse array of collections including Byzantine and Gothic artworks and priceless sculptures from throughout European and Mediterranean history.</p>
        <p>Additionally, the Bode Museum holds one of the largest coin collections in the world, with its collections of coins and medals representing all time periods and areas of the world.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Berlin 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6010684121"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- More Berlin Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning pink facade of the German Historical Museum of Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-German-Historical-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">German Historical Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Deutsches_Historisches_Museum_-_German_Historical_Museum_-_Joy_of_Museums.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Joyofmuseums" rel="noopener noreferrer" target="_blank">
                                    Joyofmuseums</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway of the Topography of Terror Museum located in former Gestapo Headquarters in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Topography-of-Terror-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Topography of Terror Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/29704844563/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="LED lights at night on the exterior of the Berlin Story Museum housed within the WWII Anhalter Bunker"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Anhalter-Bunker-Berlin-Story-Museum-Exterior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Berlin Story Museum<br />(Anhalter Bunker)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin_Story_Bunker_mit_Farbwechsel-Beleuchtung_(15749752420).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/129773732@N07" rel="noopener noreferrer" target="_blank">
                                    Enno Lenze</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Glass and steel exterior of the German Museum of Technology topped with a giant plane in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-German-Museum-of-Technology-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">German Museum of Technology</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1238_Berlin.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:1238_Berlin.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Spyrosdrakopoulos</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- More Berlin Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-museums"></a>
        <h2 class="left-heading destination-section-heading">More Museums of Berlin</h2>
        <h3>Museum Island Area</h3>
        <p>Just across the the either side of the river from Museum Island are two more important museums, including the DDR Museum across from the Berlin Cathedral. The DDR Museum’s exhibits portray life in pre-unified East Germany  with a large collection of cultural artifacts.</p>
        <p>Across the water from the Altes Museum is the <strong>German Historical Museum</strong>, which retraces the history and culture of the German nation.</p>
        <h3>Central Berlin Museums</h3>
        <p>On the southern side of Central Berlin are three more popular museums, including the <strong>Topography of Terror Museum</strong> located atop the site of the former Gestapo headquarters near Checkpoint Charlie. The Topography of Terror Museum depicts the history and repercussions of Nazi Germany.</p>
        <p>Nearby the Topography of Terror is the <strong>Berlin Story Bunker</strong>, a city history museum set in a recreation of the Fuhrerbunker  baker structure in which Adolf Hitler spent his final days during WWII.</p>
        <p>Also popular is the <strong>German Museum of Technology</strong>, with its significant collections including aircraft, locomotives, marine craft, computers, and industrial technology.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Berlin 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7430032419"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Berlin Wall and Tiergarten Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Dilapidating walls os a preserved section of the Berlin Walls, kmown as the Berlin Wall Memorial"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Berlin-Wall-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Berlin Wall Memorial</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin,_Gedenkst%C3%A4tte_Berliner_Mauer,_2012-06_CN-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Carschten" rel="noopener noreferrer" target="_blank">
                                    Carschten</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Murals and grafitti art along a preserved section of the Berlin Wall known as the East Side Gallery"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Berlin-Wall-East-Side.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">East Side Gallery<br />Berlin Wall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenj/14371014334" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenj/" rel="noopener noreferrer" target="_blank">
                                    Jeanne Menjoulet</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering Victory Column monument topped with a bronze statue of a Roman Goddess in Berlin's Tiergarten Park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Victory-Column-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Victory Column Monument<br />(Tiergarten Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:V%C3%ADt%C4%9Bzn%C3%BD_sloup.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ond%C5%99ej_%C5%BDv%C3%A1%C4%8Dek" rel="noopener noreferrer" target="_blank">
                                    Ondrej Zvacek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interesting Giraffenhaus structure housing the giraffes at Zoo Berlin in Tiergarten Park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Zoo-Berlin-Giraffenhaus-Giraffe-Exhibit-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zoo Berlin<br />(Tiergarten Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Antilopenhaus_Giraffenhaus_Zoo_Berlin_Juni_2013_Peter_Griesbach.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Antilopenhaus_Giraffenhaus_Zoo_Berlin_Juni_2013_Peter_Griesbach.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Katma0601</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Partially-ruined tower of the Kaiser Wilhelm Memorial Church destroyed during WWII in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Kaiser-Wilhem-Memorial-Church-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kaiser Wilhelm<br />Memorial Church Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin-Gedaechtniskirche-2007.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Coenen" rel="noopener noreferrer" target="_blank">
                                    Coenen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Berlin Wall Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="berlin-wall"></a>
        <h2 class="left-heading destination-section-heading">Berlin Wall</h2>
        <h3>Berlin Wall Memorial</h3>
        <p>North of Central Berlin is the <strong>Berlin Wall Memorial</strong>, a preserved stretch of the original Berlin Wall along a field. Nearby you can visit the Berlin Wall Memorial Visitor Center, which offers educational multimedia exhibits about the wall and its history.</p>
        <h3>East Side Gallery</h3>
        <p>Along the Spree River east of Museum Island is another preserved section of the Berlin Wall, known as the <strong>East Side Gallery</strong>. Along the walls of the East Side Gallery are over 100 large murals, many of which are political or abstract, created by artists from around the world.</p>
    </section>


    <!-- Tiergarten Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="tiergarten-park"></a>
        <h2 class="left-heading destination-section-heading">Tiergarten Park</h2>
        <p>On the western side of the Brandenburg Gate is the expansive Grosser Tiergarten Park, which hosts dense forests, ponds, streams, and many walkways.</p>
        <p>Near the western end of the Grosser Tiergarten is the towering <strong>Victory Column</strong>, topped with a giant bronze statue of a Roman Goddess. This impressive column was built to commemorate Prussia’s victories in the 19th century Prussian Wars.</p>
        <h3>Zoo Berlin</h3>
        <p>The most popular attraction in Tiergarten Park is the <strong>Zoo Berlin</strong>, which is one of Europe’s most visited zoos. Zoo Berlin hosts one of the most extensive collections of animals in the world, and even contains a large aquarium, called Aquarium Berlin. Notably, the Zoo Berlin is home to Giant Pandas, including a set of twin pandas cubs.</p>
        <h3>Kaiser Wilhelm Memorial Church</h3>
        <p>Just beyond Tiergarten next to the Zoo Berlin is the stunning partially-ruined tower of the <strong>Kaiser Wilhelm Memorial Church</strong>, which was mostly destroyed during WWII.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Berlin 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4697602452"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Charlottenburg Palace and More Berlin Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset lighting up the long facade of the Schloss Charlottenburg Palace in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Schloss-Charlottenburg-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Charlottenburg Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/berlin-castle-places-of-interest-3415445/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/4917861-4917861/" rel="noopener noreferrer" target="_blank">
                                    4917861</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large fountain in front of Berlin's Schloss Charlottenburg Palace gardens"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Schloss-Charlottenburg-Palace-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Charlottenburg Palace<br />Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin_Schloss_Charlottenburg_Backside.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Berlin_Schloss_Charlottenburg_Backside.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Kevin G.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast and eery Soviet War Memorial seen on a rainy day at Treptower Park in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Treptower-Park-Soviet-War-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Soviet War Memorial<br />(Treptower Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Treptower_Park-8197.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Treptower_Park-8197.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Dr. Zeltsam</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Dilapidating geodesic domes of the former Teufelsberg Listening Station used during the Cold War in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Teufelsberg-Berlin-Cold-War-Listening-Station-Ruins-Terrace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Teufelsberg Listening Station Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Teufelsberg_Berlin_0076.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Oscar_." rel="noopener noreferrer" target="_blank">
                                    Oscar .</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Schloss Charlottenburg Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="charlottenberg-palace"></a>
        <h2 class="left-heading destination-section-heading">Schloss Charlottenburg Palace</h2>
        <p>In West Berlin is the <strong>Schloss Charlottenburg Palace</strong>, an extravagant baroque and rococo-style summer palace built in the 17th-18th centuries. The sprawling Charlottenburg Palace was partially modeled after the Palace of Versailles, and inhabited by Prussian royalty.</p>
        <p>Today visitors can explore the the palace’s many decadent rooms and stately apartments, which are filled with many historic items including the crown jewels, a large porcelain collection, and fine artworks. Outside the palace you can explore the beautiful fine gardens and parkland along the Spree River.</p>
    </section>


    <!-- More Berlin Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Berlin Attractions</h2>
        <h3>Soviet War Memorial</h3>
        <p>Southeast of Berlin’s center near the Spree River is the massive <strong>Soviet War Memorial</strong> at Treptow Park. This stunning memorial is dedicated to the fallen soldiers of the Soviet Union’s Red Army from the Battle of Berlin during WWII.</p>
        <h3>Spandau Citadel</h3>
        <p>On the western edge of Berlin where the Havel and Spree Rivers meet is a stunning 16th century Spandau Citadel, Berlin’s oldest preserved structure, located atop a star-shaped island.</p>
        <p>This Renaissance-era island fortress is extremely well-preserved and hosts many impressive historic buildings within its walls. The Spandau Citadel hosts many different exhibits ranging from military history and craftsmanship to a bat cave.</p>
        <h3>Teufelsberg</h3>
        <p>Near the western end of Berlin is the giant manmade hill of <strong>Teufelsberg</strong>, atop which are the intriguing ruins of large structures topped with large geodesic domes.</p>
        <p>These structures served as listening stations created by the USA’s National Security Agency to spy on Soviet operations in East Germany during the Cold War.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Berlin Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7540330169"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Berlin Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/WuULM8nonaTkb58j9">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/eLNiYBgickXP3LTG8">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset aerial view overlooking the Charles Bridge walkway with the hilltop Prague Castle in the background in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        Prague, Czech&nbsp;Republic
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/prague-architecture-bridge-1845560/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pexels-2286921/" rel="noopener noreferrer" target="_blank">
                            Pexels</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the medieval buildings around Marienplatz square, the main square in Munich, Germany in Bavaria"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        Munich
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/munich-marienplatz-town-hall-1572429/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                            designerpoint</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    