<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Night view of illuminated Cologne Cathedral, Cologne, Germany Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Cologne, Germany + Aachen, Bonn, & Koenigswinter, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="cologne_germany" />
    <meta name="attraction_guides" content="bonn_germany" />
    <meta name="attraction_guides" content="aachen_germany" />
    <meta name="attraction_guides" content="koenigswinter_germany" />
    <meta name="europe_attraction_guides" content="cologne_germany" />
    <meta name="europe_destinations" content="cologne_germany" />
    <meta name="europe_destination_guides" content="cologne_germany" />
    <meta name="germany_attraction_guides" content="cologne" />
    <meta name="germany_attraction_guides" content="bonn" />
    <meta name="germany_attraction_guides" content="aachen" />
    <meta name="germany_attraction_guides" content="koenigswinter" />
    <meta name="germany_destinations" content="cologne" />
    <meta name="germany_destinations" content="bonn" />
    <meta name="germany_destinations" content="aachen" />
    <meta name="germany_destinations" content="koenigswinter" />
    <meta name="germany_destination_guides" content="cologne" />
    <meta name="germany_destination_guides" content="bonn" />
    <meta name="germany_destination_guides" content="aachen" />
    <meta name="germany_destination_guides" content="koenigswinter" />
    <meta name="google_maps_list" content="cologne" />
    <meta name="google_maps_list" content="bonn" />
    <meta name="google_maps_list" content="aachen" />
    <meta name="google_maps_list" content="koenigswinter" />
    <meta property="og:title" content="Cologne, Germany Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg">
    <meta name="twitter:title" content="Cologne, Germany Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
    <title>Attractions Guide for Cologne, Germany</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Cologne, Germany<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#cologne">Cologne</a></div>
            <div><a href="#bonn">Bonn</a></div>
            <div><a href="#koenigswinter">K&#246;nigswinter</a></div>
            <div><a href="#aachen">Aachen</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Cologne Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Cologne is one of Germany's largest major cities, located in Western Germany along the Rhine River. Cologne is located between two other major cities along the Rhine, Bonn and Dusseldorf, and acts as a major transportation hub. The cities of this area along the Rhine River are extremely well-connected and easy to reach very quickly by train.</p>
    </section>


    <!-- Cologne, Germany Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Toweing Cologne Cathedral seen along the Rhine River in Central Cologne, Germany" 
                        src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cologne Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cologne_Germany_Exterior-view-of-Cologne-Cathedral-08.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cccefalon" rel="noopener noreferrer" target="_blank">
                                    CEphoto, Uwe Aranas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the massive Cologne Cathedral from behind the Rhine River in Cologne, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-River-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cologne Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2013-08-10_07-10-48_Ballonfahrt_%C3%BCber_K%C3%B6ln_EH_0585.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Hasenl%C3%A4ufer" rel="noopener noreferrer" target="_blank">
                                    Eckhard Henkel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cologne Cathedral<br />(Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                                    taxicologne</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful homes along the Alter Markt Old Market Square with Church of Great St. Martin behind it in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Alter-Markt-Market-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alter Markt<br />(Old Market Square)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fischmarkt.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/User:Thomas_Robbin" rel="noopener noreferrer" target="_blank">
                                    Thomas Robbin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Castle-like Church of Great St. Martin seen from the Rhine River in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Church-of-Great-St-Martin.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Great St. Martin</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gro%C3%9F_St._Martin_-_Stapelhaus_-_Rathausturm_-_Abend%C3%A4mmerung_(9733_4_5).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Raymond" rel="noopener noreferrer" target="_blank">
                                    Raimond Spekking</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Snowy hill beside the exterior of the Museum Ludwig and Philharmonie buildings seen at night in Cologne, Germany" 
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Philharmonie-and-Museum-Ludwig-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Ludwig &amp; Philharmonie</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Philharmonie_K%C3%B6ln_und_Museum_Ludwig_-_Winternacht_mit_Schnee_(9422-24).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Raymond" rel="noopener noreferrer" target="_blank">
                                    Raimond Spekking</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Three ultra-modern crane-like towers known as Kranhaus seen in the evening along the Rhine River in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Kranhaus-Crane-Homes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kranhaus Crane Towers</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/crane-homes-cologne-germany-3717040/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/ee-productions-10211261/" rel="noopener noreferrer" target="_blank">
                                    ee-productions</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Cologne, Germany Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cologne"></a>
        <h2 class="left-heading destination-section-heading">Cologne, Germany</h2>
        <h3>Cologne Cathedral</h3>
        <p>Cologne is best known for its magnificent towering <strong>Cologne Cathedral</strong>, which is the largest Gothic church in Northern Europe at over 500 feet (150 m) tall. Apart from its massive size, the Cologne Cathedral is famous for its strikingly intricate Gothic architecture and design, earning it the status as a UNESCO world heritage site. Be sure to take a tour of the cathedral and enjoy the views overlooking Cologne from atop its tower.</p>
        <h3>Alter Markt (Old Market Square)</h3>
        <p>A short walk away from Cologne’s Cathedral is the city’s <strong>Alter Markt</strong> (Old Market) square line with colorful old buildings, including the oldest city hall building in Germany, Rathaus Koln. Cologne’s Alter Markt also hosts a famous Christmas Market and is surrounded by many shops and restaurants.</p>
        <p>Towering above the Old Market square is the stunning castle-like <strong>Great St. Martin Church</strong>, a 1,000 year old Romanesque-style church.</p>
        <h3>Museums</h3>
        <p>Just across from the Cologne Cathedral is the <strong>Museum Ludwig</strong>, an eccentric ultramodern structure containing important collections of modern art, including works by Andy Warhol and one of the most sizable collections of Picasso’s works in Europe. Adjacent to this museum is the Roman-Germanic Museum which houses an impressive collection of ancient Roman artifacts originating from the ancient city on which Cologne was built on top of.</p>
        <p>On a small island along the Rhine River south of the Cologne Cathedral is the extremely popular Cologne Chocolate Museum with exhibits detailing the history of chocolate, beginning in Mesoamerican civilizations. Unsurprisingly, this museum also sells some incredibly good-tasting chocolate.</p>
        <p>The Cologne Chocolate Museum is located at the tip of an island along the Rheinauhafen waterfront promenade, which also hosts an Olympic Museum, and the stunning ultramodern <strong>Kranhaus</strong> (Crane House) buildings.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cologne 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9646676806"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    <!-- Bonn and Koenigswinter, Germany Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Giant spires topping the towers and main chapel of the Bonner Muenster of Bonn Minster Cathedral of Bonn, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Bonn-Bonner-Muenster-Cathedral-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bonner M&#252;nster Cathedral<br />(Bonn)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bonner_M%C3%BCnster.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.foto-tw.de/" rel="noopener noreferrer" target="_blank">
                                    Thomas Wolf</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Pink facade of the Beethoven-Haus Museum where Beethoven was, located born in Bonn, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Bonn-Beethoven-Haus-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Beethoven-Haus Museum<br />(Bonn)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Beethoven-Haus,_Bonn_(4).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Avi1111" rel="noopener noreferrer" target="_blank">
                                    dr. avishai teicher</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Cloudy day view of the elegant fairytale-like Schloss Drachenburg Castle on Koenigswinter near Bonn, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Cologne-Konigswinter-Schloss-Drachenburg-Castle-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Drachenburg Castle<br />(K&#246;nigswinter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/castle-drachenburg-3112193/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Tama66-1032521/" rel="noopener noreferrer" target="_blank">
                                    Tama66</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Aerial drone view overlooking Schloss Drachenburg Castle and Garden with Rhine River in background in Koenigswinter, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Cologne-Konigswinter-Schloss-Drachenburg-Castle-and-Town-Aerial-View-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Drachenburg Castle<br />(K&#246;nigswinter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Drachenburg_Bild_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                                    Phantom3Pix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Golden hour drone view overlooking the long side of Koenigswinter's Schloss Drachenburg Castle surrounded by dense forests"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Cologne-Konigswinter-Schloss-Drachenburg-Castle-and-Forests-Aerial-View-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Drachenburg Castle<br />(K&#246;nigswinter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Drachenburg_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                                    Phantom3Pix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Golden hour drone shot of Drachenfels Castle Ruins on a forested hilltop above Koenigswinter, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Cologne-Konigswinter-Burgruine-Drachenfels-Castle-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Drachenfels Castle Ruins<br />(K&#246;nigswinter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Drachenfels_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                                    Phantom3Pix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bonn, Germany Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bonn"></a>
        <h2 class="left-heading destination-section-heading">Bonn, Germany</h2>
        <p>Just south along the Rhine River is Cologne’s smaller twin city of Bonn. Bonn’s Marktplatz (Market Square) is surrounded by lovely historic buildings, especially the Bundesstadt Bonn Altes Rathaus (Old City Hall building).</p>
        <h3>Bonn Minster Church</h3>
        <p>While not as incredible as Cologne’s Cathedral, the city’s <strong>Bonner M&#252;nster</strong> (or Bonn Minster) Church is one of the oldest churches in Germany and is very impressive. Bonn Minster is known for its massive spired-topped towers and displays beautiful Romanesque architecture.</p>
        <h3>Beethoven-Haus Museum</h3>
        <p>Interestingly, Bonn was the birthplace of the famous composer Beethoven, and his early childhood home is now a museum, called the <strong>Beethoven-Haus</strong>. This museum is the only preserved home of the Beethoven family, and contains the largest collection of items related to Ludwig van Beethoven in the world.</p>
    </section>


    <!-- Koenigswinter, Germany Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="koenigswinter"></a>
        <h2 class="left-heading destination-section-heading">K&#246;nigswinter, Germany</h2>
        <h3>Schloss Drachenburg Castle</h3>
        <p>The next city along the Rhine River south of Bonn is K&#246;nigswinter, which is known for its gorgeous fairytale-like <strong>Schloss Drachenburg Castle</strong>. This lavish 19th century castle sits atop a forest-covered hill above K&#246;nigswinter and displays elegant architectural designs, inspired by the great castles of the Middle Ages.</p>
        <p>You can reach the Drachenburg Castle via hiking trail, or by taking a short tram ride up the hill via the Drachenfelsbahn (Drachenfels Railway).</p>
        <h3>Drachenfels Castle</h3>
        <p>This Drachenfels Tramway actually continues further up the hill to the ruins of the medieval <strong>Burgruine Drachenfels Castle</strong> (or Dragon’s Rock Castle Ruins). Alternatively you can continue hiking up through the forest to reach this 12th century castle. From the viewing platform below the Drachenfels Castle you can enjoy amazing views overlooking the Rhine River from high above.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cologne 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8333595134"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Aachen, Germany Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior side of the Aachener Dom Aachen Cathedral, which houses Charlemagne's tomb at golden hour in Aachen, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-North-Rhine-Westphalia-Aachen-Aachener-Dom-Cathedral-Exterior-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aachen Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oochener-Doum-vun-Norden--w.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D7%90" rel="noopener noreferrer" target="_blank">
                                    Aleph</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Gothic rooftops and towers of the Aachen Cathedral and St. Foilan Church of Aachen, Germany seen behind trees"
                        data-src="https://www.travelimager.com/images/germany/Germany-North-Rhine-Westphalia-Aachen-Aachener-Dom-Cathedral-Exterior-and-St-Foilan-Towers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aachen Cathedral Roof</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Aachener_Dom_und_St._Foillan_2014.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:CaS2000" rel="noopener noreferrer" target="_blank">
                                    CaS2000</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the extravagantly detailed interior of the dome of Aachen Cathedral, housing the tomb of Charlemagne"
                        data-src="https://www.travelimager.com/images/germany/Germany-North-Rhine-Westphalia-Aachen-Aachener-Dom-Cathedral-Interior-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aachen Cathedral Dome</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/aachen-dom-church-faith-religion-2683036/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/ThomasWolter-92511/" rel="noopener noreferrer" target="_blank">
                                    ThomasWolter</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Chapel of Charlemagne housing his sarcophagus within the Aachen Cathedral (Aachener Dom) of Aachen, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-North-Rhine-Westphalia-Aachen-Aachener-Dom-Cathedral-Charlemagne-Chapel-Tomb.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chapel of Charlemagne<br />(Aachen Cathedral)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1414_-_2014._600_Jahre_Chorhalle_des_Aachener_Doms._Blick_nach_Westen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:HOWI" rel="noopener noreferrer" target="_blank">
                                    Willy Horsch</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Night time view of the illuminated Rathaus City Hall rising above the Marktplatz market square of Aachen, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-North-Rhine-Westphalia-Aachen-Marktplatz-Rathaus-Aachen-City-Hall-Exterior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rathaus City Hall<br />(Aachen)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Rathaus_zu_Aachen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Rathaus_zu_Aachen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Aliasdoobs</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Aachen, Germany Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="aachen"></a>
        <h2 class="left-heading destination-section-heading">Aachen, Germany</h2>
        <p>Approximately 1 hour and 20 minutes by train to the west of Cologne is the city of Aachen, which is famous for hosting one of Germany’s top attractions, the Aachen Cathedral.</p>
        <h3>Aachen Cathedral</h3>
        <p>This massive <strong>Aachen Cathedral</strong> is a UNESCO world heritage site and houses the tomb of the great Holy Roman Emperor Charlemagne, who is often considered to be the father of Europe, having united many kingdoms during the early Middle Ages.</p>
        <p>The 9th century chapel containing the emperor’s remains is majestically decorated. Additionally, the cathedral hosts many strikingly complex and ornate mosaics amongst its decadent interiors. Also impressive is the Aachen Cathedral’s stunning gothic exterior.</p>
        <h3>Marktplatz &amp; Rathaus</h3>
        <p>Across the square from the Aachen Cathedral is the castle-like <strong>Rathaus Aachen</strong> city hall building, displaying marvelous gothic and baroque style architecture. Behind the Rathaus is Aachen’s Marktplatz (Market Square), which hosts a lovely fountain and is lined with historic buildings. Marktplatz also hosts a popular open marketplace.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cologne Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3384520780"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Cologne Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/X9n84RBKcXSw6AJP9">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/AfayeCAeC7dZVenLA">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the medieval buildings around Marienplatz square, the main square in Munich, Germany in Bavaria"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        Munich
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/munich-marienplatz-town-hall-1572429/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                            designerpoint</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset colors glowing on the Brandenburg Gate, a neoclassical monument and top attraction in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Brandenburg-Gate-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        Berlin
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/29714543882/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    