<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Germany's top destinations: Berlin, Munich, Neuschwanstein Castle, Rhine River Valley, Cologne, Heidelberg, Koblenz, Fussen, & more" />
    <meta name="attraction_guides" content="germany" />
    <meta name="europe_destinations" content="germany" />
    <meta name="destination_guides" content="germany" />
    <meta property="og:title" content="Germany Attraction Guides">
    <meta name="twitter:title" content="Germany Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/germany/germany-attraction-guides">
    <title>Germany Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Germany Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        <img class="destination-image"
                        alt="Sunset colors glowing on the Brandenburg Gate, a neoclassical monument and top attraction in Berlin, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Berlin-Brandenburg-Gate-Sunset.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        Berlin
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/29714543882/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        <img class="destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 2 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the medieval buildings around Marienplatz square, the main square in Munich, Germany in Bavaria"
                        src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square-300x225.jpg"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        Munich
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/munich-marienplatz-town-hall-1572429/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                            designerpoint</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/fussen-and-neuschwanstein-castle-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Schloss Neuschwanstein Castle rising above autumn trees seen from Marienbruecke Bridge in Hohenschwangau, Bavaria, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Fussen-Hohenschwangau-Schloss-Neuschwanstein-Castle-Fall-300x225.jpg"
                        data-src="https://www.travelimager.com/images/germany/Germany-Fussen-Hohenschwangau-Schloss-Neuschwanstein-Castle-Fall.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/fussen-and-neuschwanstein-castle-attractions-guide">
                        Neuschwanstein Castle &amp; F&#252;ssen
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jiuguangw/5134934131" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jiuguangw/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View-300x225.jpg"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>