<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Alte Bruecke Old Bridge Night View of Old Town Heidelberg and Schloss Heidelberg Palace / Castle, Heidelberg, Germany Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Heidelberg, Germany and plan the perfect trip with our savable Heidelberg Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="heidelberg_germany" />
    <meta name="europe_attraction_guides" content="heidelberg_germany" />
    <meta name="europe_destinations" content="heidelberg_germany" />
    <meta name="europe_destination_guides" content="heidelberg_germany" />
    <meta name="germany_attraction_guides" content="heidelberg" />
    <meta name="germany_destinations" content="heidelberg" />
    <meta name="germany_destination_guides" content="heidelberg" />
    <meta name="google_maps_list" content="heidelberg" />
    <meta property="og:title" content="Heidelberg, Germany Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg">
    <meta name="twitter:title" content="Heidelberg, Germany Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/germany/heidelberg-attractions-guide">
    <title>Attractions Guide for Heidelberg, Germany</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Heidelberg, Germany<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#marktplatz">Heidelberg Marktplatz</a></div>
            <div><a href="#heidelberg-palace">Heidelberg Palace</a></div>
            <div><a href="#alte-bruecke-bridge">Alte Br&#252;cke Bridge</a></div>
            <div><a href="#philosophers-walk">Philosopher's Walk</a></div>
            <div><a href="#schwetzingen-palace">Schwetzingen Palace</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Heidelberg Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Heidelberg is a large city along Germany’s Neckar River, which joins the Rhine River in the nearby city of Mannheim. Heidelberg’s Altstadt Old Town is a very popular tourist destination, tucked back into a river valley surrounded by forests behind the modern city. Heidelberg’s University is also located in the Old Town and is the oldest university in Germany, founded in the 14th century.</p>
    </section>


    <!-- Marktplatz and Heidelberg Palace Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Beuatiful fountain and historic building on Marktplatz market square in Old Town Heidelberg, Germany" 
                        src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Markt-Market-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marktplatz<br />(Market Square)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-marketplace-town-hall-2726945/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/herbert2512-2929941/" rel="noopener noreferrer" target="_blank">
                                    herbert2512</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Distant view overlooking the hilltop complex of Schloss Heidelberg Palace / Castle above Heidelberg, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Schloss-Heidelberg-Castle-Complex.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heidelberg Palace Complex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-heidelberger-schloss-3312229/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/heidelbergerin-1425977/" rel="noopener noreferrer" target="_blank">
                                    Heidelbergerin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning structures of Heidelberg Palace / Castle in Heidelberg, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Schloss-Heidelberg-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heidelberg Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Heidelberg_Castle_seen_from_the_Alte_Br%C3%BCcke_-_Heidelberg_-_Germany_2017_(detail).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jbribeiro1" rel="noopener noreferrer" target="_blank">
                                    Jose Luiz Bernardes Ribeiro</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Buildings surrounding the massive courtyard amongst the grounds of the Schloss Heidelberg Palace / Complex in Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Schloss-Heidelberg-Castle-Grounds.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heidelberg Palace Grounds</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tipsfortravellers/26781740839/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tipsfortravellers/" rel="noopener noreferrer" target="_blank">
                                    Gary Bembridge</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Partially-ruined facade of the Otteinrich Building of Heidelberg Palace / Castle in Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Schloss-Heidelberg-Castle-Ottheinrich-Building-Facade.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Otteinrich Building<br />(Heidelberg Palace)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-germany-castle-palace-103164/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Early evening view overlooking Old Town Heidelberg from the Heidelberg Palace / Castle Garden's Scheffelterrasse Terrace" 
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Schloss-Heidelberg-Castle-Altstadt-Overlook-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scheffelterrasse Terrace View<br />(Heidelberg Palace)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberger-schloss-heidelberg-city-580170/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/s_fsahin-668362/" rel="noopener noreferrer" target="_blank">
                                    s_fsahin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Heidelberg Marktplatz Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="marktplatz"></a>
        <h2 class="left-heading destination-section-heading">Marktplatz (Market&nbsp;Square)</h2>
        <p>At the center of Heidelberg’s Altadt Old Town is the <strong>Marktplatz</strong> (Market Square), a highly photogenic location surrounded by many lovely and colorful historic buildings. The area around Marktplatz is filled with restaurants and cafes. Towering above Heidelberg’s Market Square is the 14th century Gothic-style Church of the Holy Spirit.</p>
    </section>


    <!-- Heidelberg Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="heidelberg-palace"></a>
        <h2 class="left-heading destination-section-heading">Heidelberg Palace / Castle</h2>
        <p>On a hilltop overlooking the Old Town is the massive <strong>Schloss Heidelberg Palace</strong>, a partially-ruined Renaissance-style palace which is extremely picturesque. You can either hike up the hill to reach the palace, or take the funicular railway near Marktplatz from the Heidelberger Bergbahnen station.</p>
        <p>The Heidelberg Palace complex is quite large with much to see. Among the top sights at Heidelberg Palace is the lavish facade of the <strong>Otteinrich Building</strong>, which is a hollow exterior shell above the first floor, with the sky visible behind the windows.</p>
        <p>Another highlight of the palace is the giant courtyard, which even hosts a few restaurants and a wine cellar with the largest wine barrel in the world, where you can enjoy a glass of wine. The palace even hosts an interesting historic Pharmacy Museum.</p>
        <p>Behind Heidelberg Palace is a large area of terraced gardens and walkways you can explore. At the end of the garden is the <strong>Scheffelterrasse</strong> terrace viewpoint, which offers breathtaking views overlooking the palace ruins and the Old Town Heidelberg set amongst the Neckar River valley and forests. If you’re looking for views from atop the mountain above Heidelberg, you can either hike of take the cable car up to the top from the palace.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Heidelberg 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3490787408"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Heidelberg Alte Bruecke Bridge, Philosopher's Walk, and Schwetzingen Palace Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Light foggy view along the Neckar River of the Alte Bruecke Old Bridge, Old Town Heidelberg, and Heidelberg Castle / Palace"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Day.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alte Br&#252;cke<br />(Old Bridge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-castle-old-bridge-bridge-3733080/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/10314800-10314800/" rel="noopener noreferrer" target="_blank">
                                    10314800</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alte Br&#252;cke Bridge<br />(Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                                    kleinicke</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking along the Alte Bruecke Old Bridge at the Brueckentor City Gate to Old Town Heidelberg, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-City-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Br&#252;ckentor City Gate<br />(Alte Br&#252;cke)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/germany-heidelberg-city-gate-1216087/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/neufal54-54756/" rel="noopener noreferrer" target="_blank">
                                    neufal54</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View over Old Town Heidelberg, the Old Bridge, and Heidelberg Palace / Castle below mountains from Philosopher's Walk Garden"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Philosophengaerchen-Philosophers-Walk-Altstadt-Old-Town-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Philosopher’s Walk / Garden<br />View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-castle-neckar-city-2753813/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Heidelbergerin-1425977/" rel="noopener noreferrer" target="_blank">
                                    Heidelbergerin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking Neckar River, Old Bridge, Old Town Heidelberg, and Heidelberg Palace / Castle from Philosopher's Walk Garden"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Philosophengaerchen-Philosophers-Walk-Altstadt-Old-Town-Overlook-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Philosopher’s Walk / Garden<br />View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/heidelberg-heidelberger-schloss-2975779/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Heidelbergerin-1425977/" rel="noopener noreferrer" target="_blank">
                                    Heidelbergerin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ancient ruins of the Monastery of St. Michael atop a mountain above Heidelberg reached via Philosopher's Walk"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Michaelskloster-Heiligenberg-Monastery-of-St-Michael-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monastery of St. Michael Ruins<br />(Philosopher's Walk)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelskloster_Heiligenberg.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Kuebi" rel="noopener noreferrer" target="_blank">
                                    Armin Kuebelbeck</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Courtyard of the grand 18th century orange-colored Schloss Schwetzingen Palace near Heidelberg in Schwetzingen, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Heidelberg-Schwetzingen-Schloss-Schwetzingen-Castle-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Schwetzingen Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/de/photos/schloss-schwetzingen-2552852/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/de/users/lapping-3464230/" rel="noopener noreferrer" target="_blank">
                                    lapping</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Alte Bruecke (Old Bridge) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alte-bruecke-bridge"></a>
        <h2 class="left-heading destination-section-heading">Alte Br&#252;cke (Old Bridge)</h2>
        <p>The <strong>Alte Br&#252;cke</strong> (Old Bridge) is Heidelberg’s second most iconic sight, which spans above the Neckar River connecting directly to the Altstadt Old Town near Makrtplatz.</p>
        <p>The beautiful <strong>Br&#252;ckentor City Gate</strong> guards the entrance to the Old Town from the bridge. Across the bridge from the Old Town you can enjoy some of the most picturesque views of Heidelberg, with the palace and town framed behind the Neckar River and bridge.</p>
    </section>


    <!-- Philosopher’s Walk / Garden Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="philosophers-walk"></a>
        <h2 class="left-heading destination-section-heading">Philosopher’s Walk / Garden</h2>
        <p>In order to reach the best viewpoint of Heidelberg, you can hike up the hill from the Alte Br&#252;cke bridge along the <strong>Philosopher’s Walk</strong> pathway. This extremely scenic walk overlooking Heidelberg was named for the philosophers and university professors who historically walked along the pathway. Part of this pathway is the <strong>Philosopheng&#228;rtchen</strong> (Philosopher’s Garden), which provides the most picturesque views over Heidelberg.</p>
        <p>It’s also possible to keep hiking through the forests above the Philosopher’s Walkway to the top of the hill, atop which are several interesting sites including medieval tower ruins, an outdoor stone amphitheater built by the Nazis, and the ruins of the 1,000 year-old <strong>Monastery of St. Michael</strong>. To reach the monastery at the top of the hill from the Alte Br&#252;cke bridge it’s about 2.9 miles (4.6 km) round-trip.</p>
    </section>


    <!-- Schwetzingen Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="schwetzingen-palace"></a>
        <h2 class="left-heading destination-section-heading">Schwetzingen Palace</h2>
        <p>In a suburb of Heidelberg you might consider visiting the vast 18th century <strong>Schloss Schwetzingen Palace</strong>. Inside this palace you’ll find many historic furnishings and decorations, as well as an elegant theatre.</p>
        <p>The Schwetzingen Palace is most known for its expansive French-style formal gardens, which hosts fountains, woodland parks, a large pond, and most notable a highly ornate mosque. This beautiful mosque and its turret towers are highly photogenic, especially when seen with its reflection in the pond.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Heidelberg Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8410558700"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Heidelberg Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/gm3yEHb5HNsDGawF6">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Qr1nBZGdfbASS3eF6">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        Colmar, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the deep blue-green waters of the Aare River circling the historic buildings of Bern's Altstadt Old Town"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        Bern, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the medieval buildings around Marienplatz square, the main square in Munich, Germany in Bavaria"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/munich-attractions-guide">
                        Munich
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/munich-marienplatz-town-hall-1572429/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                            designerpoint</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    