<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Eltz Castle along the Mosel River Valley near Koblenz, Germany Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Wierschem-Burg-Eltz-Castle-Exterior-Entrance-and-Walkway-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Koblenz, Germany + Cochem & Eltz Castle and plan the perfect trip with our savable Koblenz Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="koblenz_germany" />
    <meta name="attraction_guides" content="cochem_germany" />
    <meta name="attraction_guides" content="eltz_castle_germany" />
    <meta name="europe_attraction_guides" content="koblenz_germany" />
    <meta name="europe_destinations" content="koblenz_germany" />
    <meta name="europe_destination_guides" content="koblenz_germany" />
    <meta name="germany_attraction_guides" content="koblenz" />
    <meta name="germany_attraction_guides" content="cochem" />
    <meta name="germany_attraction_guides" content="eltz_castle" />
    <meta name="germany_destinations" content="koblenz" />
    <meta name="germany_destinations" content="cochem" />
    <meta name="germany_destinations" content="eltz_castle" />
    <meta name="germany_destination_guides" content="koblenz" />
    <meta name="germany_destination_guides" content="cochem" />
    <meta name="germany_destination_guides" content="eltz_castle" />
    <meta name="google_maps_list" content="koblenz" />
    <meta name="google_maps_list" content="cochem" />
    <meta name="google_maps_list" content="eltz_castle" />
    <meta property="og:title" content="Koblenz & Cochem, Germany Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Wierschem-Burg-Eltz-Castle-Exterior-Entrance-and-Walkway.jpg">
    <meta name="twitter:title" content="Koblenz & Cochem, Germany Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Wierschem-Burg-Eltz-Castle-Exterior-Entrance-and-Walkway.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
    <title>Attractions Guide for Koblenz & Cochem, Germany</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Koblenz &amp; Cochem, Germany<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#rhine-river-castles">Rhine River Castles</a></div>
            <div><a href="#altstadt-old-town">Old Town Koblenz</a></div>
            <div><a href="#ehrenbreitstein-fortress">Ehrenbreitstein Fort</a></div>
            <div><a href="#stolzenfels-castle">Stolzenfels Castle</a></div>
            <div><a href="#mosel-river-eltz-castle">Eltz Castle</a></div>
            <div><a href="#mosel-river-cochem">Cochem</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Koblenz Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The city of Koblenz is located at the star of Germany’s scenic Rhine River Valley gorge, at the confluence of the Moselle River. Koblenz is usually considered to be the gateway city to the many castles along the Rhine and Moselle Rivers.</p>
    </section>


    <!-- Altstadt Old Town Koblenz Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking the facade of the Schloss Koblenz Palace along the Rhine River from above in Koblenz, Germany" 
                        src="https://www.travelimager.com/images/germany/Germany-Koblenz-Schloss-Koblenz-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Koblenz Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/149561324@N03/28799586458/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/149561324@N03/" rel="noopener noreferrer" target="_blank">
                                    Marco Verch</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking the Schloss Koblenz Palace complex and gardens from high above in Cologne, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Koblenz-Schloss-Koblenz-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Koblenz Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Koblenz_im_Buga-Jahr_2011_-_Luftbilder_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Schaengel" rel="noopener noreferrer" target="_blank">
                                    Holger Weinandt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking the impressive Basilica of St. Castor or Sankt Kastor in Koblenz, Germany"
                        src="https://www.travelimager.com/images/germany/Germany-Koblenz-Basilika-Sankt-Kastor-Basilica-of-St-Castor.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of St. Castor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/149561324@N03/28799579438/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/149561324@N03/" rel="noopener noreferrer" target="_blank">
                                    Marco Verch</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Headland view at Deutsches Eck where the Moselle River and Rhine River meet in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Deutsches-Eck-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Deutsches Eck View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Koblenz-deutsches_eck09.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Nikater" rel="noopener noreferrer" target="_blank">
                                    Nikater</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Rhine River Valley Castles Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="rhine-river-castles"></a>
        <h2 class="left-heading destination-section-heading">Rhine River Castles</h2>
        <p>A system of ferries connects Koblenz with the many small towns and castles along the Rhine River Valley, including Braubach, St. Goar, Sankt Goarshausen, Oberwesel, Kaub, Bacharach, Bingen, R&#252;desheim am Rhein, Mainz, and more.</p>
        <p>The ferries from Koblenz and the Rhine River Valley towns also connect to the larger cities of Cologne and Bonn to the north, as well as K&#246;nigswinter. Another popular and more efficient way to admire the castles is to take a boat tour along the Rhine River from Koblenz, allowing you to see a majority of the castles from a distance.</p>
        <p>A majority of the towns and castles along the Rhine River Valley can also be reached from Koblenz via train. </p>
    </section>


    <!-- Altstadt Old Town Koblenz Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="altstadt-old-town"></a>
        <h2 class="left-heading destination-section-heading">Altstadt Old Town Koblenz</h2>
        <p>Along the river in Koblenz’s Altstadt Old Town are several attractions, including the <strong>Schloss Koblenz Palace</strong>, a sprawling 18th century palace. You can explore the ground and exterior of the Koblenz Palace, as well as its gardens. Nearby you can visit the oldest building in Koblenz, the <strong>Basilica of St. Castor</strong>, a towering Romanesque church originally built in the 9th century.</p>
        <p>Just north of the Basilica of St. Castor is the headland point where the Moselle River meets the Rhine River, called <strong>Deutsches Eck</strong>. This headland hosts a giant monument and offers great views looking along the rivers.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Koblenz 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2177705735"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Ehrenbreitstein Fortress and Stolzenfels Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ehrenbreitstein Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                                    Phantom3Pix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Brick buildings seen amongst the grounds of the Ehrenbreitstein Fortress of Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Grounds.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ehrenbreitstein Fortress<br />Grounds</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/koblenz-ehrenbreitstein-fortress-3332646/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/de/users/mibro-8455312/" rel="noopener noreferrer" target="_blank">
                                    mibro</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking Koblenz intersected by the Moselle and Rhine Rivers seen from the hilltop Ehrenbreitstein Fortress"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Koblenz-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">View of Koblenz<br />(Ehrenbreitstein Fortress)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/koblenz-from-the-ehrenbreitstein-fortres-2254672/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/mobasoft24-3250123/" rel="noopener noreferrer" target="_blank">
                                    mobasoft24</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking the Deutsches Eck headland at the intersection of Moselle and Rhine Rivers from the Ehrenbreitstein Fortress"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Deutsches-Eck-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">View of Deutsches Eck<br />(Ehrenbreitstein Fortress)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Koblenz_im_Buga-Jahr_2011_-_Deutsches_Eck_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Schaengel" rel="noopener noreferrer" target="_blank">
                                    Holger Weinandt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Aerial drone view of the exterior of the medieval Schloss Stolzenfels Castle on a forested hilltop near Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Schloss-Stolzenfels-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stolzenfels Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Stolzenfels_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                                    Phantom3Pix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ehrenbreitstein Fortress Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ehrenbreitstein-fortress"></a>
        <h2 class="left-heading destination-section-heading">Ehrenbreitstein Fortress</h2>
        <p>Adjacent to the Basilica of St. Castor at the lake’s edge is the Seilbahn Koblenz, a cable car that travels over the Rhine River up to Koblenz’s top attraction, the hilltop <strong>Ehrenbreitstein Fortress</strong>. This giant 19th century fortification is a UNESCO world heritage that you can explore.</p>
        <p>Ehrenbreitstein Fortress hosts several museums, including shifting exhibitions, and exhibits in archaeology, history, and photography. The top reason to visit the fortress however is for the incredible views overlooking the Rhine River and Koblenz from high above.</p>
    </section>


    <!-- Stolzenfels Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="stolzenfels-castle"></a>
        <h2 class="left-heading destination-section-heading">Stolzenfels Castle</h2>
        <p>At the southern edge of Koblenz is the <strong>Schloss Stolzenfels Castle</strong>, a well-fortified 13th century castle which sits atop the forest-covered hills above the Rhine River Valley. Stolzenfels Castle is the first castle you’d see from a boat along the Rhine River, but if you’d like to visit it you can take a very short bus ride from Central Koblenz. The Stolzenfels Castle is open for guided tours, except on Mondays.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Koblenz 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6246487842"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Eltz Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Long stone walkway leading to the entrance of Burg Katz Castle along the Mosel River Valley of Germany near Koblenz"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Wierschem-Burg-Eltz-Castle-Exterior-Entrance-and-Walkway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eltz Castle<br />(Mosel River Valley)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/burg-eltz-sachsen-places-of-interest-4796170/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Michael_Luenen-2998623/" rel="noopener noreferrer" target="_blank">
                                    Michael_Luenen</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Facade and side of the fairytale-like Burg Eltz Castle of Germany's Mosel River Valley set amongst the dense forested hills"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Wierschem-Burg-Eltz-Castle-Exterior-Entrance.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eltz Castle<br />(Mosel River Valley)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Burg_Eltz_HDR.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Charlie1965nrw" rel="noopener noreferrer" target="_blank">
                                    Karl-Heinz Meurer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking the towering exterior of the Burg Elts Castle set amongst the forests above the Mosel River Valley in Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Wierschem-Burg-Eltz-Castle-Exterior-Distant-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eltz Castle<br />(Mosel River Valley)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Wierschem,_Burg_Eltz,_2012-08_CN-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Carschten" rel="noopener noreferrer" target="_blank">
                                    Carschten</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Eltz Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mosel-river-eltz-castle"></a>
        <h2 class="left-heading destination-section-heading">Eltz Castle</h2>
        <p>Along the Mosel River west of Koblenz you’ll actually find one of the most famous castles in Germany, the <strong>Burg Eltz Castle</strong>. This fairytale-like medieval castle was built in the 12th century up in the hills above the river and is surrounded by dense forests. Be aware that the castle is only open to visitors from April through October.</p>
        <p>The Eltz Castle’s exterior is especially photogenic, mixing half-timbered framing with fantastical stone towers and spired roofs. A long stone pathway atop a ridge leads to the castle’s entrance, and once inside you’ll find lavish medieval furnishings and decor. The castle also contains an armory and treasury filled with precious objects and artifacts as well as historic weaponry.</p>
        <h3>Reaching Eltz Castle</h3>
        <p>The easiest way to reach the Eltz Castle is via car or a tour from Koblenz/Cologne, however you can also reach it by bus on weekends and holidays. From Koblenz HBF Central Station you can take the train for just under 30 minutes to the village of Treis-Karden. From the village you can catch the VRM Line 330 (BurgenBus) to Eltz Castle, which runs 4 times per day [<a href=“https://www.vrminfo.de/fileadmin/data/pdf/fahrplanbuecher/2020/330.pdf” >Timetables</a>].</p>
        <p>Apart from the bus, you can also reach the Eltz Castle via a moderately long hike of approximately 6.8 miles (11 km) round-trip from the Treis-Karden Train Station.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Koblenz 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1679012280"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Cochem, Germany Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of the colorful houses lining the Mosel River below the Reichsburg Cochem Castle in the village of Cochem, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Cochem-Town-and-Reichsburg-Cochem-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cochem Town &amp; Castle <br />(River View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/poly-image/14522103549" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/poly-image/" rel="noopener noreferrer" target="_blank">
                                    Polybert49</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Aerial drone view overlooking the hilltop Reichsburg Cochem Castle rising above the village of Cochem along the Mosel River"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Cochem-Reichsburg-Cochem-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cochem Town &amp; Castle <br />(Aerial View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/cochem-castle-imperial-castle-mosel-3610509/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/FelixBerger-9359475/" rel="noopener noreferrer" target="_blank">
                                    FelixBerger</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the exterior of the Reichsburg Cochem Castle complex above vineyard hills of the Mosel River Valley, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Cochem-Reichsburg-Cochem-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reichsburg Cochem Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/cochem-castle-architecture-3610510/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/FelixBerger-9359475/" rel="noopener noreferrer" target="_blank">
                                    FelixBerger</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Half-timbered medieval buildings along the Marktplatz market square of Cochem, Germany along the Mosel River Valley"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhineland-Palatinate-Mosel-River-Valley-Cochem-Markt-Market-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marktplatz Market Square<br />(Cochem)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Germany_(9),_Rhineland-Palatinate,_Cochem,_Markt.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Germany_(9),_Rhineland-Palatinate,_Cochem,_Markt.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Vincent van Zeijst</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cochem, Germany Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mosel-river-cochem"></a>
        <h2 class="left-heading destination-section-heading">Cochem, Germany</h2>
        <p>Cochem is a lovely and colorful town located further along the Mosel River Valley, surrounded by forested hills. Cochem’s <strong>Marktplatz</strong> (Market Square) is highly photogenic and beautiful, featuring many half-timbered medieval buildings which house many cafes and restaurants. Nearby you might visit a unique museum dedicated to the history of mustard, the Historische Senfm&#252;hle Dehren GmbH, which also offers mustard tastings.</p>
        <p>You might also consider hiking or taking the Cochemer Sesselbahn cable car up the mountain to the Pinnerkreuz Viewpoint, which offers majestic views overlooking Cochem and the Mosel River. Further up the mountain is a wildlife and amusement park called the Wild- und Freizeitpark Klotten.</p>
        <h3>Cochem Castle</h3>
        <p>Atop a hill on the southern side of town is Cochem’s top attraction, the <strong>Reichsburg Cochem Castle</strong>. This stunning 12th century castle sits above the river and features mesmerizing Neo-Gothic Romanticist architecture. Inside the castle you’ll find historic furnishings from the Middle Ages. The Cochem Castle also hosts medieval performances and reenactments amongst its charming grounds.</p>
        <h3>Reaching Cochem</h3>
        <p>From Koblenz HBF Train Station you can reach the town of Cochem in about 35 minutes by train. From Treis-Karden (the village near Eltz Castle) you can reach Cochem in just 10 minutes via train. It’s also possible to reach Cochem via ferry from Koblenz, although this option is obviously slower.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Koblenz Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7097477036"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Koblenz Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/bsy2MByMaguyR3pp7">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/mSypAZByZUWu2AMp7">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    