<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View overlooking Marienplatz Square, Munich, Germany Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Munich, Germany + Palaces and plan the perfect trip with our savable Munich Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="munich_germany" />
    <meta name="europe_attraction_guides" content="munich_germany" />
    <meta name="europe_destinations" content="munich_germany" />
    <meta name="europe_destination_guides" content="munich_germany" />
    <meta name="germany_attraction_guides" content="munich" />
    <meta name="germany_destinations" content="munich" />
    <meta name="germany_destination_guides" content="munich" />
    <meta name="google_maps_list" content="munich" />
    <meta property="og:title" content="Munich, Germany Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg">
    <meta name="twitter:title" content="Munich, Germany Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/germany/munich-attractions-guide">
    <title>Attractions Guide for Munich, Germany</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Munich, Germany<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#inner-city">Inner City</a></div>
            <div><a href="#munich-residenz">Munich Residenz</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#bmw-welt-and-museum">BMW</a></div>
            <div><a href="#parks">Parks</a></div>
            <div><a href="#nyphenburg-palace">Nyphenburg Palace</a></div>
            <div><a href="#schleissheim-palace">Schleissheim Palace</a></div>
            <div><a href="#dachau">Dachau</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Munich Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Munich is the capital of Bavaria and is Germany’s second largest city, hosting many attractions including several popular museums. Munich hosts two giant palaces, and is the gateway city to visit one of Germany’s top attractions, the fairytale-like Neuschwanstein Castle.</p>
        <p>Additionally, Munich is the top destination in Germany during Oktoberfest, which takes place every year for about 2 1/2 weeks, beginning in mid to late September.</p>
    </section>


    <!-- Munich Inner City / Old Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking the medieval buildings around Marienplatz square, the main square in Munich, Germany in Bavaria" 
                        src="https://www.travelimager.com/images/germany/Germany-Munich-Marienplatz-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marienplatz Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-marienplatz-town-hall-1572429/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                                    designerpoint</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Massive gothic exterior of Munich's Neues Rathaus New Town Hall building in Munich's Inner City"
                        src="https://www.travelimager.com/images/germany/Germany-Munich-Neues-Rathaus-New-Town-Hall-Facade.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neues Rathaus Town Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Neues_Rathaus_in_M%C3%BCnchen_-_Panorama.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Guido_Radig" rel="noopener noreferrer" target="_blank">
                                    Guido Radig</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking the giant Neues Rathaus New City Hall building towering above Munich's Marienplatz square"
                        src="https://www.travelimager.com/images/germany/Germany-Munich-Neues-Rathaus-New-Town-Hall-and-Marienplatz-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neues Rathaus &amp; Marienplatz</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Neues_Rathaus_und_Marienplatz_M%C3%BCnchen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chris_73" rel="noopener noreferrer" target="_blank">
                                    Chris 73</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.3" rel="noopener noreferrer" target="_blank">
                                GNU 1.3</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive historic buildings towering above Munich's popular Victuals Market (Viktualienmarkt) square"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Viktualienmarkt-Victuals-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Victuals Market (Viktualienmarkt)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:GraphyArchy_-_Wikipedia_00185.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GraphyArchy" rel="noopener noreferrer" target="_blank">
                                    GraphyArchy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Huge preserved Isartor medieval gate to Munich's Inner City" 
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Isartor-Medieval-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Isartor Medieval Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Isartor,_M%C3%BAnich,_Alemania02.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Castle-like medieval gate of Karlstor leading to Munich's Inner City on Karlplatz square and surrounded by modern buildings"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Karlsplatz-Plaza-and-Karlstor-Medieval-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Karlstor Medieval Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Karlsplatz,_M%C3%BAnich,_Alemania2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior and archway of Munich's Alter Hof Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Alter-Hof-Castle-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alter Hof Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C3%BCnchen_Alter_Hof_Burgstock.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.wikivoyage-old.org/shared/User%3ABbb" rel="noopener noreferrer" target="_blank">
                                    Bbb</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/1.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 1.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior of Munich's medieval-era royal brewery, the Hofbrauhaus Munchen, where the popular beer brand originated"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Hofbrauhaus-Brewery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hofbr&#228;uhaus M&#252;nchen Brewery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Munich,_Bayern,_Germany_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Munich,_Bayern,_Germany_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Prokrust 007</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Munich Inner City / Old Town Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="inner-city"></a>
        <h2 class="left-heading destination-section-heading">Munich's Inner City / Old Town</h2>
        <h3>Marienplatz</h3>
        <p>At the center of Munich is its Inner City / Old Town, which is filled with many large historical buildings, many of which were rebuilt after the World Wars. At the very center of the Inner City is <strong>Marienplatz</strong>, Munich’s main public square since the 12th century.</p>
        <h3>Neues Rathaus & Victuals Market</h3>
        <p>Towering above Marienplatz is the massive <strong>Neues Rathaus</strong> (New City Hall) building, a stunningly intricate gothic structure. You can climb to the top of the Neues Rathaus for amazing views overlooking Marienplatz and the surrounding area.</p>
        <p>Adjacent to Marienplatz is the <strong>Victuals Market</strong>, a large outdoor public market square with many stalls selling mostly food, flowers, and souvenirs.</p>
        <h3>Medieval Gates</h3>
        <p>Munich’s Inner City area is filled with countless great restaurants, cafes, and shops. The Inner City was surrounded by walls in the Middle Ages, which no longer exist, however three medieval gates still remain on the edges of the Old Town.</p>
        <p>These gates include <strong>Isartor</strong> on the east side, Sendlinger Tor on the south side, and <strong>Karlstor</strong> on the west side, with Karlstor located behind a beautiful fountain square called Karlsplatz.</p>
        <h3>Alter Hof</h3>
        <p>Central Munich’s modest medieval <strong>Alter Hof</strong> (Old Court) castle was the former residence of Holy Roman Emperor Louis IV. Alter Hof is known for its Affenturm tower, and also hosts a Munich city history museum.</p>
        <h3>Hofbr&#228;uhaus M&#252;nchen</h3>
        <p>Munich’s Inner City also hosts extremely popular <strong>Hofbr&#228;uhaus M&#252;nchen</strong>, a beautiful 16th century beer hall and brewery which was created for Munich’s Royal Residence.</p>
        <p>This is the site of the original Hofbr&#228;uhaus brewery, which is actually owned by the Bavarian government and has become one of the most popular German beers around the world. This massive multi-story beer hall serves both excellent beer and Bavarian food dishes.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Munich 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9974921819"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    
    <!-- Munich Residenz Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful yellow baroque-style Theatinekirche or Theatine Church on Munich's Odeonsplatz square"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Theatinerkirche-Theatine-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Theatine Church<br />(Odeonsplatz Square)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C3%BCnchen,_die_Theatinerkirche.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C3%BCnchen,_die_Theatinerkirche.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Dguendel</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Feldherrnhalle Loggia housing statues on Munich's Odeonsplatz square, inspired by the famous Loggia dei Lanzi of Florence"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Odeonsplatz-Feldherrnhalle-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Feldherrnhalle Loggia<br />(Odeonsplatz Square)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-odeonsplatz-field-mr-hall-2656427/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/danceyokoo-3154690/" rel="noopener noreferrer" target="_blank">
                                    danceyokoo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly elaborate frescoes covering the walls and ceilings of the long Antiquarium Hall inside the Munich Residenz Palace"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Munich-Residenz-Palace-Interior-Antiquarium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Antiquarium<br />(Munich Residenz)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Antiquarium_Residenz_Munich.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jebulon" rel="noopener noreferrer" target="_blank">
                                    Jebulon</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lavishly decorated Imperial Hall within the Munich Residenz Palace of Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Munich-Residenz-Palace-Interior-Imperial-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Imperial Hall<br />(Munich Residenz)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-palace-germany-architecture-2986847/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/iankelsall1-7126962/" rel="noopener noreferrer" target="_blank">
                                    iankelsall1</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Munich Residenz Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="munich-residenz"></a>
        <h2 class="left-heading destination-section-heading">Munich Residenz</h2>
        <p>On the north side of Munich’s Inner City is the Odeonsplatz square, which hosts the lovely baroque <strong>Theatine Church</strong>, and the <strong>Feldherrnhalle</strong>, an Italian-style loggia modeled on the famous Loggie dei Lanzi in Florence, Italy.</p>
        <p>Adjacent to Odeonsplatz is the 14th century <strong>Munich Residenz</strong> palace, an historic royal residence of the Kings of Bavaria. Inside the palace you can tour many extravagant rooms from different eras, such as the highly ornate Renaissance-era <strong>Antiquarium</strong>, the Baroque-style Ancestral Gallery, and the lavish <strong>Imperial Hall</strong>.</p>
        <p>The vast Munich Residenz also hosts the elegant Rococo-style Cuvillies Theatre and an impressive royal treasury. Additionally you can walk around the palace’s Hofgarten formal gardens.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Munich 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8661840143"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Munich Churches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking Central Munich's massive Peterskirche or St. Peter's Church"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Peterskirche-St-Peters-Church-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Peter's Church<br />(Peterskirche)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Altes_Rathaus,_Talburgtor,_Heilig_Geist_Kirche,_Alter_Peter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Richard_Huber" rel="noopener noreferrer" target="_blank">
                                    Richard Huber</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rooftop and twin domed clocktowers of Munich's gigantic Frauenkirche church which houses the Devil's Footstep"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Frauenkirche-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Munich Cathedral<br />(Frauenkirche)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Frauenkirche_Munich_March_2013.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Martin_Falbisoner" rel="noopener noreferrer" target="_blank">
                                    Martin Falbisoner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Magnificent and highly ornate baroque interior of the Asamkirche or Asam's Church of Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Asamkirche-Asam-Church-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Asam Church<br />(Asamkirche)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C3%BCnchen_St._Johann_Nepomuk_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C3%BCnchen_St._Johann_Nepomuk_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    ErwinMeier</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful multi-domed Lukaskirche or St. Luke's Church seen behind a bridge over the Isar River in Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Lukaskirche-St-Lukas-Church-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Luke's Church<br />(Lukaskirche)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:St._Lukas_Muenchen-7.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rufus46" rel="noopener noreferrer" target="_blank">
                                    Rufus46</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Munich Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches of Munich</h2>
        <h3>St. Peter’s Church</h3>
        <p>Unsurprisingly, you’ll find Munich’s most beautiful churches within its Inner City. Munich’s oldest church, <strong>St. Peter’s Church</strong> is simple but quite iconic. The interior of St. Peter’s Church is quite beautiful, and you can climb the church tower for sweeping views over Munch.</p>
        <h3>Frauenkirche Church</h3>
        <p>Towering above Munich is the massive <strong>Frauenkirche</strong> (Church of Our Lady), also called the Munich Cathedral, which is displays simple gothic architecture without ornamentation. This church is famous for its Devil’s Footstep, which survived the bombings during WWII.</p>
        <h3>Asamkirche Church</h3>
        <p>Munich’s most incredible church is certainly the smaller <strong>Asamkirche</strong> (Asam Church), with its stunningly intricate and majestic baroque interiors adorned with elegant frescoes, statues, and gold leaf.</p>
        <h3>St. Luke’s Church</h3>
        <p>Also notable just east of the Inner City is Munich’s <strong>Lukaskirche</strong> (St. Luke’s Church), which sits along the Isar River displaying brilliant Neo-gothic and Romanesque architecture, built of red brick topped with light green roofs.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Munich 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7596170485"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Munich Museums and BMW Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Glowing futuristic exterior of the BMW Welt museum seen at night in MUnich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-BMW-Welt.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">BMW Welt</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-bmw-welt-architecture-953613/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                                    designerpoint</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredibly designed futuristic interior of the BMW Welt displaying BMW vehicles, in Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-BMW-World-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">BMW Welt (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-bmw-world-germany-825574/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/LeilaSchmidt-759486/" rel="noopener noreferrer" target="_blank">
                                    LeilaSchmidt</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grand neoclassical Propylaen Monument located on Konigsplatz square in Munich's Kunstareal art district"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Kunstareal-Konigsplatz-Propylaen-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Propylaen Monument<br />(K&#246;nigsplatz)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C3%BCnchen_-_Propyl%C3%A4en_am_K%C3%B6nigsplatz_(tone-mapping).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Guido_Radig" rel="noopener noreferrer" target="_blank">
                                    Guido Radig</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the Alte Pinakothek Art Museum in Munich's Kunstareal art district"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Kunstareal-Alte-Pinakothek-Art-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alte Pinakothek Art Museum<br />(Kunstareal)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alte_Pinakothek_Pinakothek_der_Moderne_Muenchen-2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rufus46" rel="noopener noreferrer" target="_blank">
                                    Rufus46</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ponds and fountains along the exterior of the Neue Pinakothek Museum in Munich's Kunstareal art district"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Kunstareal-Neue-Pinakothek-Art-Museum-Exterior-Pond.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neue Pinakothek Art Museum<br />(Kunstareal)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:East_side_of_the_Neue_Pinakothek.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:High_Contrast" rel="noopener noreferrer" target="_blank">
                                    High Contrast</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Contemporary exterior of the Pinakothek Der Moderne Art Museum in Munich's Kunstareal art district"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Kunstareal-Pinakothek-der-Moderne-Art-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pinakothek Der Moderne<br />Art Museum (Kunstareal)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:GraphyArchy_-_Wikipedia_00039.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GraphyArchy" rel="noopener noreferrer" target="_blank">
                                    GraphyArchy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Neoclassical monument-like exterior of the Glypothek Museum in Munich's Kunstareal art district"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Kunstareal-Konigsplatz-Glypothek-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glypothek Museum<br />(Kunstareal)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/poly-image/8741351142/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/poly-image/" rel="noopener noreferrer" target="_blank">
                                    Polybert49Follow</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful fountain in the courtyard of the Lenbachhaus Museum in Munich's Kunstareal art district"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Kunstareal-Lenbachhaus-Museum-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lenbachhaus Museum<br />(Kunstareal)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lenbachhaus_M%C3%BCnchen_Maxvorstadt_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Schlaier" rel="noopener noreferrer" target="_blank">
                                    Schlaier</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the massive Deutsches Museum of Technology and Science seen on a tiny island in the Isar River in Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Deutsches-Museum-Exterior-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Deutsches Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Deutsches_Museum_Munich_2014_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://julianherzog.com/" rel="noopener noreferrer" target="_blank">
                                    Julian Herzog</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- BMW Welt and Museum Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bmw-welt-and-museum"></a>
        <h2 class="left-heading destination-section-heading">BMW Welt &amp; BMW Museum</h2>
        <p>In Northern Munich is the BMW headquarters, around which are the extremely popular BMW Welt and the BMW Museum. The <strong>BMW Welt</strong> is the most popular attraction in Bavaria, hosting a stunning array of vehicles on display, acting as an amazing showroom and exhibition hall. The BMW Welt is housed within an incredible futuristic-style building, which is connected via bridge to the BMW Museum across the street.</p>
        <p>Inside the BMW Museum you can learn about the history of BMW, including its vehicles, motorcycles, engines, and aircraft. The BMW Museum houses many modern and vintage vehicles exhibited within stunning futuristic displays.</p>
    </section>


    <!-- Munich Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums of Munich</h2>
        <h3>Kunstareal Art District</h3>
        <p>Most of the Munich’s top museums are concentrated in a small area just northwest of the Inner City, in Munich’s Kunstareal art district. In addition to many museums, this Kunstareal hosts the Konigsplatz (King’s Square) surrounded by grand neoclassical buildings, such as the <strong>Propylaen</strong> monument.</p>
        <h3>Pinakothek Art Museums</h3>
        <p>Munich’s <strong>Alte Pinakothek</strong> is one of the world’s oldest art galleries, specializing in European fine art collections from the 13th-18th centuries. At the time of its construction in the early 19th century, the Alte Pinakothek was the largest museum in the world.</p>
        <p>The <strong>Neue Pinakothek</strong> hosts an important collection of European artworks from the 18th-19th centuries. You’ll find a significant collection of modern and contemporary art at Munich’s <strong>Pinakothek Der Moderne</strong> museum, which is one of the largest modern art museums in the world.</p>
        <h3>More Kunstareal Museums</h3>
        <p>The Egyptian Museum Munich hosts an impressive collection of ancient Egyptian artifacts as well as archaeological finds from ancient Assyria and Babylon.</p>
        <p>Munich’s <strong>Glypothek Museum</strong> hosts an array of Classical sculptures from Ancient Greece and Rome, from Bavarian King Ludwig I’s private collection. The <strong>Lenbachhaus Museum</strong> specializes in modern and contemporary art by Munich painters.</p>
        <h3>Deutsches Museum</h3>
        <p>Southeast of Munich’s historic center located on an island in the Isar River is the <strong>Deutsches Museum</strong>, the largest science and technology museum in the world. This museum hosts an extremely wide array of exhibits, even including a replica of the prehistoric Altamira Cave from Cantabria, Spain.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Munich 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7132194104"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Munich Parks Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush autumn colors amongst the trees of Munich's English Garden, a vast urban park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Englischer-Garten-English-Garden-Autumn.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">English Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-english-garden-autumn-1791046/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                                    designerpoint</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Surfer in a wetsuit surfing a swell wave created by the Eisbachwelle in the Isar River in Munich's English Garden Park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Eisbachwelle-River-Swell-Surfers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eisbachwelle Swell Surfers<br />(English Garden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Eisbach_Surfing_-_M%C3%BCnchen.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Guido_Radig" rel="noopener noreferrer" target="_blank">
                                    Guido Radig</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Surfers lined up to surf the wave created by the Eisbachwelle in the Isar River in Munich's English Garden Park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Englischer-Garten-English-Garden-Eisbachwelle-River-Swell-Surfers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eisbachwelle River Swell<br />(English Garden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Teggernsee_(260623519).jpeg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://500px.com/LGM2008_2018" rel="noopener noreferrer" target="_blank">
                                    Lgm 2008 2018</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Multi-level wooden pagoda structure known as the Chinese Tower within the English Garden Park of Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Englischer-Garten-English-Garden-Chinese-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chinese Tower<br />(English Garden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-english-garden-chinese-tower-1791047/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                                    designerpoint</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hilltop mini-temple with Greek columns called the Monopteros oferring views over Munich's English Garden park"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Englischer-Garten-English-Garden-Monopteros.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monopteros (English Garden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/autumn-leaves-colorful-2863483/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                                    designerpoint</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Thai-Sala temple in a pond surrounded by lush plants in Munich's Westpark"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Westpark-Nepali-Pagoda.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thai Sala Temple (Westpark)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/pagoda-nepali-westpark-munich-park-3751206/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/RitaE-19628/" rel="noopener noreferrer" target="_blank">
                                    RitaE</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset-colored sky and Munich skyline seen behind the Olympiapark's Olympiaberg tower, seen from Olympiaberg Hill"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Olympic-Park-Olympiaberg-Hill-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Olympiaberg Hill<br />(Olympic Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/munich-olympic-stadium-olympic-park-2516492/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/designerpoint-554875/" rel="noopener noreferrer" target="_blank">
                                    designerpoint</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Munich Parks Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="parks"></a>
        <h2 class="left-heading destination-section-heading">Parks of Munich</h2>
        <h3>English Garden</h3>
        <p>Munich’s <strong>English Garden</strong> (or Englischer Garten) is a sprawling urban park along the Isar River, located just north of the Inner City.</p>
        <p>The English Garden is home to the famous <strong>Eisbachwelle</strong>, a continuous wave along the Eisbach River where Munich’s surfers take turns surfing hundreds of miles away from any ocean. The Eisbachwelle wave is located at the very southern end of the English Garden, not far from the Munich Residenz palace.</p>
        <p>Within the English Garden park you’ll find vast fields, forests, ponds and streams, and countless pathways and trails to explore and hike along. English Garden hosts several beer gardens, including the Mini-Hofbrauhaus, as well as several photogenic monuments such as the pagoda-like <strong>Chinese Tower</strong>. Another popular site is the hilltop <strong>Monopteros</strong>, a lavish altar-like monument with Greek-style columns offering views overlooking the park.</p>
        <h3>Westpark</h3>
        <p>On the western outskirts of Munich is the much smaller <strong>Westpark</strong>, which hosts very beautiful and highly photogenic Asian gardens, including a Japanese Garden, a Chinese Garden, Thai-style and Nepalese-style pagodas, and a lovely rose garden.</p>
        <h3>Olympic Park</h3>
        <p>Across from the BMW Welt and Museum is Munich’s beautiful Olympiapark (<strong>Olympic Park</strong>), which was built to host the 1972 Summer Olympics. Within the park are many impressive futuristic structures such as the Olympic Hall and the giant Oympiaturm tower, which hosts an observation deck providing excellent panoramic views over Munich.</p>
        <p>The Olympic Park was built with grassy rolling hills and a large pond at its center. You can admire the many amazing structures of Olympiapark from atop <strong>Olympiaberg</strong>, a grassy hilltop viewpoint providing stunningly picturesque views overlooking the park.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Munich 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7348758474"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Munich Palaces and Dachau Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large fountain and pond in front of the Schloss Nyphenburg Palace entrance in Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Munich-Schloss-Nymphenburg-Palace-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Nyphenburg Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:FountainNymphenbgPalace-Muenchen-02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:AHert" rel="noopener noreferrer" target="_blank">
                                    AHert</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful fine gardens in front of the Neue Schloss Schleissheim Palace of Oberschleissheim outside Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Munich-Oberschleissheim-Schloss-Schleissheim-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Schleissheim Palace<br />(Oberschleissheim)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/unterschleissheim-germany-castle-2894073/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/stefan089-5583990/" rel="noopener noreferrer" target="_blank">
                                    stefan089</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Manicured gardens and fountain in front of the New Schleissheim Palace in Oberschleissheim near Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Munich-Oberschleissheim-Schloss-Schleissheim-New-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schleissheim New Palace<br />(Oberschleissheim)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Nuevo_Palacio_Schleissheim,_Oberschleissheim,_Alemania,_2013-08-31,_DD_18.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Entrance gate to the Dachau Concentration Camp Memorial Site outside Munich, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Greater-Munich-Dachau-Dachau-Concentration-Camp-Memorial-Site-Entrance.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dachau Concentration Camp<br />Memorial Site Entrance</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dachau_KZ-Gedenkst%C3%A4tte_-_Haupttor.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Guido_Radig" rel="noopener noreferrer" target="_blank">
                                    Guido Radig</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Schloss Nyphenburg Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="nyphenburg-palace"></a>
        <h2 class="left-heading destination-section-heading">Schloss Nyphenburg Palace</h2>
        <p>Near the western outskirts of Munich is the sprawling <strong>Schloss Nyphenburg Palace</strong>, a former summer residence of the Bavarian royalty. This massive 17th century baroque palace is among the largest in Europe. Within Nyphenburg Palace are many opulent rooms and halls decorated in highly ornate rococo and neoclassical styles.</p>
        <p>Highlights within the Nyphenburg Palace walls include the Royal Apartments, the popular Carriage Museum, the Museum of Man and Nature, and the Porcelain Museum. Perhaps the most photogenic view of Nyphenburg Palace is from behind the large fountain pond, which is located in front of the palace.</p>
        <p>Behind the palace are the vast gardens and woodland parks of Schlosspark Nyphenburg (Nyphenburg Palace Park), hosting a massive canal similar to that of Versailles. Within the Schlosspark be sure to explore the lush themed Botanical Gardens.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The Nyphenburg Palace Park also hosts the elegant chapel and grotto of Magdalenenklause, and the gorgeous Amalienburg hunting lodge, where you can admire the elegant and finely-detailed Rococo-style decor.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Schleissheim Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="schleissheim-palace"></a>
        <h2 class="left-heading destination-section-heading">Schleissheim Palace</h2>
        <p>In the suburb of Oberschleissheim to the north of Munich is another summer residence of the Bavarian royalty, the <strong>Schleissheim Palace</strong>. The 17th century Schleissheim Palace complex actually consists of three palaces, separated by vast baroque gardens and a long canal. On the west side of the complex is the Old Schleissheim Palace, which you might admire from outside.</p>
        <p>Across from it is the much more impressive <strong>New Schleissheim Palace</strong>, a stunning 18th century baroque structure which is quite photogenic when seen behind the gardens/pond on either side of the palace. Within the New Palace are many extravagant rooms and halls decorated with baroque fine art.</p>
        <p>Across the long palace gardens from the New Schleissheim Palace is the lovely little Italian-style Lustheim Palace with its elegant interiors and porcelain collection. The Schleissheim Palace complex even hosts a beer garden and restaurant, which originally built as a royal brewery for the palace grounds.</p>
    </section>


    <!-- Dachau Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dachau"></a>
        <h2 class="left-heading destination-section-heading">Dachau</h2>
        <p>While visiting Munich, you might also consider peering into Germany’s dark past in the early 20th century. Northwest of Munich are the remains of the infamous <strong>Dachau Concentration Camp</strong>, which has been preserved as a museum, with some of the original structures also been rebuilt.</p>
        <p>The atmosphere at Dachau is very eery, and visitors are able to freely explore the grounds or book a tour if they want to delve deep into the history.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Munich Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4506030760"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Munich Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/t3DYA7YSry2j2y9d7">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/r3m1AukfKYqLLpEF6">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/fussen-and-neuschwanstein-castle-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Schloss Neuschwanstein Castle rising above autumn trees seen from Marienbruecke Bridge in Hohenschwangau, Bavaria, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Fussen-Hohenschwangau-Schloss-Neuschwanstein-Castle-Fall.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/fussen-and-neuschwanstein-castle-attractions-guide">
                        Neuschwanstein Castle &amp; F&#252;ssen
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jiuguangw/5134934131" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jiuguangw/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/salzburg-and-werfen-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view of the massive Hohensalzburg hilltop fortified village, which sits high above the baroque buildings of Old Salzburg below, seen behind the river which runs through Salzburg, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Salzburg-Hohensalzburg-Fortress.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/salzburg-and-werfen-attractions-guide">
                        Salzburg &amp; Werfen, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Hohensalzburg-mw02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hohensalzburg-mw02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maria Wallner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC-BY-SA 3.0</a> &amp; 
                    <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                        GNU 1.2</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset colors glowing on the Brandenburg Gate, a neoclassical monument and top attraction in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Brandenburg-Gate-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        Berlin
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/29714543882/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <<div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Highly photogenic viewpoint of the village of Hallstatt set amongst the Hallstattersee lake and tall mountains"
                        data-src="https://www.travelimager.com/images/austria/Austria-Salzkammergut-Hallstatt-Classic-Village-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">
                        Hallstatt &amp; Salzkammergut, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sinava/42302985502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                            sinava</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        Vienna, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer" target="_blank">
                            Dmitry A. Motti</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Golden hour colors lighting up the Ponte Scaligero bridge over the Adige River to the Castelvecchio Castle in Verona, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Verona-Castelvecchio-Ponte-Scaligero-Bridge-River-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        Verona, Italy
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Keep_of_Castelvecchio_and_Ponte_Scaligero_Verona_Italy.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vvlasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    