<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Blarney Castle exterior behind a green field in County Cork, Ireland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle-Exterior-and-Field-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Cork, Ireland + Blarney Castle & Cobh, and plan the perfect trip with our savable Cork County Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="cork_ireland" />
    <meta name="attraction_guides" content="blarney_ireland" />
    <meta name="attraction_guides" content="cobh_ireland" />
    <meta name="europe_attraction_guides" content="cork_ireland" />
    <meta name="europe_destinations" content="cork_ireland" />
    <meta name="europe_destination_guides" content="cork_ireland" />
    <meta name="ireland_attraction_guides" content="cork" />
    <meta name="ireland_attraction_guides" content="blarney" />
    <meta name="ireland_attraction_guides" content="cobh" />
    <meta name="ireland_destinations" content="cork" />
    <meta name="ireland_destinations" content="blarney" />
    <meta name="ireland_destinations" content="cobh" />
    <meta name="ireland_destination_guides" content="cork" />
    <meta name="ireland_destination_guides" content="blarney" />
    <meta name="ireland_destination_guides" content="cobh" />
    <meta name="google_maps_list" content="cork" />
    <meta name="google_maps_list" content="blarney" />
    <meta name="google_maps_list" content="cobh" />
    <meta property="og:title" content="Cork & Blarney Castle, Ireland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle-Exterior-and-Field.jpg">
    <meta name="twitter:title" content="Cork & Blarney Castle, Ireland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle-Exterior-and-Field.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/ireland/county-cork-attractions-guide">
    <title>Attractions Guide for County Cork & Blarney Castle, Ireland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>County Cork &amp; Blarney Castle, Ireland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#cork-attractions">Cork, Ireland</a></div>
            <div><a href="#blarney-castle">Blarney Castle</a></div>
            <div><a href="#cobh-attractions">Cobh, Ireland</a></div>
            <div><a href="#midleton-jameson-distillery">Original Jameson Distillery</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>




    <!-- Cork, Ireland Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Towering gothic Saint Fin Barre's Cathedral of Cork, Ireland on a cloudy day"
                        src="https://www.travelimager.com/images/ireland/Ireland-Cork-St-Fin-Barres-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Fin Barre's Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/7586738846/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the Crawford Art Gallery in Cork, Ireland" 
                        src="https://www.travelimager.com/images/ireland/Ireland-Cork-Crawford-Art-Gallery-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crawford Art Gallery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Digital_Eye-2012-Crawford_Art_Gallery.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Digital_Eye" rel="noopener noreferrer" target="_blank">
                                    Digital Eye</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Staircases surrounded by stone cells of the historic Cork City Gaol prison in Southern Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-Cork-Cork-City-Gaol.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cork City Gaol</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/30551926166/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small but imposing grey stone Blackrock Castle along the coast near Cork, Ireland" 
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Cork-Blackrock-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Blackrock Castle (Blackrock)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/k_ristof/7181733150" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/k_ristof/" rel="noopener noreferrer" target="_blank">
                                    K.ristof</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cork, Ireland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cork-attractions"></a>
        <h2 class="left-heading destination-section-heading">Cork, Ireland</h2>
        <p>Within the city of Cork you should visit the beautiful <strong>Saint Fin Barre's Cathedral</strong>, showcasing elegant gothic architecture which you can admire from outside.</p>
        <p>Also in town you'll find the <strong>Crawford Art Gallery</strong> of fine art and the <strong>Cork City Gaol</strong> (located on the outskirts of town), a 19th century prison turned museum housed in an impressive castle-like structure.</p>
        <h3>Blackrock Castle</h3>
        <p>At the eastern end of Cork along the water you can visit the <strong>Blackrock Castle</strong>, which features stunning medieval towers and impressive stone architecture.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cork 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7084695283"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Blarney, Cobh, and Middleton, Ireland Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous partially-ruined medieval Blarney Castle, set amongst vibrant gardens and the morning fog, near Cork, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Blarney Castle (Blarney)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/donncha/21893993463" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/donncha/" rel="noopener noreferrer" target="_blank">
                                    Donncha O Caoimh</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large gothic St. Colman's Cathedral seen behind a hilltop lined with coloful homes, in Cobh, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Cobh-St-Colmans-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Colman's Cathedral (Cobh)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cobh-Cathedral-West-Side-2012.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://bjornfree.com/galleries.html" rel="noopener noreferrer" target="_blank">
                                    Bjorn Christian Torrissen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small boats along the coast of the scenic Cobh Waterfront, lined with historic homes in background"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Cobh-Cobh-Waterfront.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cobh Waterfront</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/psyberartist/8104109689/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/psyberartist/" rel="noopener noreferrer" target="_blank">
                                    psyberartist</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Entrance to the original Jameson distillery housed in an old stone building with red windows in Midleton, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Midleton-Jameson-Experience-Distillery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jameson Experience (Midleton)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nikonfire/2114335347" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nikonfire/" rel="noopener noreferrer" target="_blank">
                                    Daryl M</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Blarney Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="blarney-castle"></a>
        <h2 class="left-heading destination-section-heading">Blarney Castle</h2>
        <p>The biggest reason people come to Cork is to see the <strong>Blarney Castle</strong>, which is actually located in the nearby suburb of Blarney, northwest of Cork. This small partially ruined medieval castle is home to the famous Blarney Stone, which is kissed in order for one to be gifted with eloquence.</p>
        <p>You should explore the grounds surrounding the castle as well where you'll find beautiful gardens and the castle-like Blarney Castle House.</p>
    </section>


    <!-- Cobh, Ireland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cobh-attractions"></a>
        <h2 class="left-heading destination-section-heading">Cobh, Ireland</h2>
        <p>To the southeast of Cork in the town of Cobh you'll find a marvelous gothic church with intricate features, the <strong>St. Colman's Cathedral</strong>. Nearby be sure to check out the colorful houses along the <strong>Cobh Waterfront</strong>, especially around the Lusitania Memorial.</p>
        <p>You might even consider the Titanic Experience Cobh museum, dedicated to the famous ocean cruise which sunk on its maiden voyage. Cobh is the city from which the Titanic departed. Also related to the Titanic is the Queenstown Story museum, located on the harbor from which the Titanic set sail. </p>
    </section>


    <!-- Jameson Distillery Midleton Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="midleton-jameson-distillery"></a>
        <h2 class="left-heading destination-section-heading">Jameson Distillery Midleton</h2>
        <p>To the east of Cork you might like to visit the <strong>Jameson Experience in Midleton</strong>, where you can tour and try samples of whiskey. What sets this Jameson Distillery apart from the famous one in Dublin, is that the Midleton Distillery in the original one. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cork Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3982344634"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save County Cork Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Ka2DRTVGMQk">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/ring-of-kerry-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Tiny medieval ruins of Ballinskelligs Castle along the scenic coast with islands in background, along Ireland's Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballinskelligs-Castle.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/ring-of-kerry-attractions-guide">
                        Ring of Kerry
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Kmcnamee</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Looking along the grass-covered jagged steep Cliffs of Moher towering above the ocean in County Clare, Ireland near Galway"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        Galway &amp; Cliffs of Moher
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/costa-sea-body-of-water-ocean-3270119/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/hjrivas-6383351/" rel="noopener noreferrer" target="_blank">
                            hjrivas</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Covered stone bridge connecting the Christ Church Cathedral and Dublinia Museum of St. Michael's Church in Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michaels-Church-Dublinia.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        Dublin
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_-_Christ_Church_Cathedral_-_110508_143136.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                            Barcex</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    