<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Nightlife and red pub of the Temple Bar District of Dublin, Ireland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/ireland/Ireland-Dublin-Temple-Bar-1-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Dublin, Ireland and plan the perfect trip with our savable Dublin Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="dublin_ireland" />
    <meta name="europe_attraction_guides" content="dublin_ireland" />
    <meta name="europe_destinations" content="dublin_ireland" />
    <meta name="europe_destination_guides" content="dublin_ireland" />
    <meta name="ireland_attraction_guides" content="dublin" />
    <meta name="ireland_destinations" content="dublin" />
    <meta name="ireland_destination_guides" content="dublin" />
    <meta name="google_maps_list" content="dublin" />
    <meta property="og:title" content="Dublin, Ireland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/ireland/Ireland-Dublin-Temple-Bar-1.jpg">
    <meta name="twitter:title" content="Dublin, Ireland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/ireland/Ireland-Dublin-Temple-Bar-1.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/ireland/dublin-attractions-guide">
    <title>Attractions Guide for Dublin, Ireland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Dublin, Ireland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#cathedrals">Cathedrals</a></div>
            <div><a href="#dublin-castle-and-temple-bar">Dublin Castle &amp; Temple Bar</a></div>
            <div><a href="#museums-and-more">Museums &amp; More</a></div>
            <div><a href="#guinness-and-jameson">Guinness &amp; Jameson</a></div>
            <div><a href="#east-dublin">East Dublin</a></div>
            <div><a href="#west-dublin">West Dublin</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Dublin Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Dublin's capital city is an incredible place with lots of history and travel destinations, including a world-class nightlife scene.</p>
        <p>The best and least expensive way to enjoy the city is to purchase a Dublin Pass which grants entry to most of the attractions on this list (and many more) as well as a free hop-on hop-off bus to get around the city.</p>
    </section>


    <!-- Dublin Cathedrals, Dublin Castle, and Temple Bar Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Striking gothic exterior of the famous St. Patrick's Cathedral in Dublin, Ireland" 
                        src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Patricks-Cathedral-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Patrick's Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/90412460@N00/21589264886" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/90412460@N00/" rel="noopener noreferrer" target="_blank">
                                    Bro. Jeffrey Pioquinto, SJ</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the 1,000 year-old stone-built Christ Church Cathedral in Dublin, Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Christ-Church-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Christ Church Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/2112841979" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Covered stone bridge connecting the Christ Church Cathedral and Dublinia Museum of St. Michael's Church in Dublin, Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michaels-Church-Dublinia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dublinia Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_-_Christ_Church_Cathedral_-_110508_143136.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                                    Barcex</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning grey stone courtyard of the old St. Audoen's Church in Central Dublin, Ireland" 
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Audoens-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Audoen's Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mikelsantamaria/13030011985/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mikelsantamaria/" rel="noopener noreferrer" target="_blank">
                                    Mikel Santamaria</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Busy streets at night outside the famous red Temple Bar, at the heart of Dublin's Temple Bar District"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Temple-Bar-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple Bar District</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/temple-bar-pub-bar-beer-cafe-2344400/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Skitterphoto-324082/" rel="noopener noreferrer" target="_blank">
                                    Skitterphoto</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stone exterior of the large 13th century Dublin castle behind a grassy field in Central Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Dublin-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dublin Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:E4395-Dublin-Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Vmenkov" rel="noopener noreferrer" target="_blank">
                                    Vmenkov</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Famous Cathedrals Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cathedrals"></a>
        <h2 class="left-heading destination-section-heading">Famous Cathedrals &amp; Churches</h2>
        <p>Dublin's main church is the 800 year old gothic <strong>St. Patrick's Cathedral</strong>, which is the largest church in Ireland.</p>
        <p>In Central Dublin you'll also find the even older 1,000 year-old <strong>Christ Church Cathedral</strong> featuring brilliant medieval architecture, which is connected by an iconic bridge to St. Michael's Church across the street.</p>
        <p>St. Michael's Church houses the <strong>Dublinia Museum</strong> which chronicles the medieval and Viking history of Dublin. Visiting the museum also allows you to climb to the top of the St. Michael's tower and walk across the bridge connecting the churches.</p>
        <p>Nearby be sure to see the beautiful stone courtyard of <strong>St. Audoen's Church</strong>.</p>
    </section>
    
    
    <!-- Dublin Castle and Temple Bar Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dublin-castle-and-temple-bar"></a>
        <h2 class="left-heading destination-section-heading">Dublin Castle &amp; Temple Bar</h2>
        <p>In Central Dublin, you'll find the historic <strong>Temple Bar</strong> neighborhood lined with many great pubs, as well as the medieval <strong>Dublin Castle</strong> which you can tour. The 13th century castle features several lavish rooms and stunning architecture.</p>
        <p>Adjacent to the castle is the Chester Beatty Library featuring many important ancient manuscripts from around the world on display.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Dublin 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2046430527"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Dublin Museums, Guinness, and Jameson Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden whiskey bar within Dublin's popular Irish Whiskey Museum"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Irish-Whiskey-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Irish Whiskey Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/smoses/27920704755/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/smoses/" rel="noopener noreferrer" target="_blank">
                                    Steve Moses</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic two-story hall of the famous Book of Kells Library, part of Dublin's Trinity College"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Trinity-College-Book-of-Kells.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Book of Kells Library (Trinity&nbsp;College)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/90412460@N00/22717685055/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/90412460@N00/" rel="noopener noreferrer" target="_blank">
                                    Bro. Jeffrey Pioquinto, SJ</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view looking directly down over the lush St. Stephen's Green Park surrounded by urbanized Central Dublin"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Stephens-Green-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Stephen's Green Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_Stephen%27s_Green-44_edit.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dronepicr" rel="noopener noreferrer" target="_blank">
                                    Dronepicr</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive exterior of Dublin's National Museum of Ireland Archaeology"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-National-Museum-of-Ireland-Archaeology.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of Ireland Archaeology</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/90412460@N00/25857095460" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/90412460@N00/" rel="noopener noreferrer" target="_blank">
                                    Bro. Jeffrey Pioquinto, SJ</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old industrial exterior of Dublin's popular Guinness Storehouse on a cloudy day"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Guinness-Storehouse-Brewery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Guinness Storehouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bobfamiliar/8329436535/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bobfamiliar/" rel="noopener noreferrer" target="_blank">
                                    Bob Familiar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Entrance to Dublin's Jameson Distillery, a popular tourist attraction"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Jameson-Distillery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jameson Distillery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/borshop/14888551203/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/borshop/" rel="noopener noreferrer" target="_blank">
                                    BORShop Computing</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old stone tombs within the underground crypts beneath St. Michan's Church in Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michans-Church-Crypt.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Michan's Church & Crypt</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jenniferboyer/7355364398" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jenniferboyer/" rel="noopener noreferrer" target="_blank">
                                    Jennifer Boyer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Dublin Museums and More Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums-and-more"></a>
        <h2 class="left-heading destination-section-heading">Museums &amp; More</h2>
        <h3>Trinity College &amp; Irish&nbsp;Whiskey&nbsp;Museum</h3>
        <p>Just to the east of Temple Bar are several more attractions, including the popular tourist walking street, Grafton Street. Here you'll find the <strong>Irish Whiskey Museum</strong> offering tours and tastings, the incredible <strong>Trinity College Book of Kells Library</strong> with its famous Long Room.</p>
        <h3>St. Stephen's Green</h3>
        <p>Nearby be sure to walk through the lush 17th century <strong>St. Stephen's Green</strong>, a beautiful tranquil park in the middle of the city.</p>
        <h3>National Museums</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also in this area is the <strong>National Museum of Ireland Archaeology</strong> featuring artifacts and treasures dating back to the Stone Age in an elegant building, as well as the National Gallery of Ireland, the country's most important art museum.</p>
            <p>Also notable is the National Museum of Ireland: Decorative Arts & History, featuring various exhibits including military vehicles. This museums is located just west of the Jameson Distillery.</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>


    <!-- Guinness Storehouse and Jameson Distillery Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="guinness-and-jameson"></a>
        <h2 class="left-heading destination-section-heading">Guinness Storehouse &amp; Jameson&nbsp;Distillery</h2>
        <p>No trip to Dublin is complete without a visit to the famous <strong>Guinness Storehouse</strong> where you can learn about the brewing process and sip a fresh Guinness with great views over the city at the end of the tour.</p>
        <p>Be sure to also visit the <strong>Jameson Distillery</strong> which offers brewery tours and tastings. Next door to the distillery you can tour 900 year old crypts at <strong>St. Michan's Church</strong>.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Dublin 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2962559395"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- East and West Dublin Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="LED neuron network-like trees, part of an interactive exhibit within Dublin's EPIC Irish Emigration Museum"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-EPIC-Irish-Emigration-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">EPIC Irish Emigration&nbsp;Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/22711505@N05/40129532720/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                                    Ron Cogswell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Replica of a wooden 19th century ship, the Jeanie Johnson, which would've transported Irish emigrants across the Atlantic"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Jeanie-Johnston-Tall-Ship.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jeanie Johnson Tall&nbsp;Ship</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/11085937@N02/3014283110" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/t_abdelmoumen/" rel="noopener noreferrer" target="_blank">
                                    Tijani A</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking ultra-modern Samuel Beckett Bridge seen lit up at night, spanning the river in Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Samuel-Beckett-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Samuel Beckett Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/flynn_nrg/8242512118" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/flynn_nrg/" rel="noopener noreferrer" target="_blank">
                                    Miguel Mendez</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Huge multi-story room with countless prison cells inside the historic Kilmainham Gaol museum of Dublin"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Kilmainham-Gaol-Prison.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kilmainham Gaol Prison</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bobfamiliar/8330492140/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bobfamiliar/" rel="noopener noreferrer" target="_blank">
                                    Bob Familiar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Herd of wild deer grazing in the green grasses of Dublin's massive Phoenix Park"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Phoenix-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Phoenix Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Phoenix_Park_Dublin_06.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Superchilum" rel="noopener noreferrer" target="_blank">
                                    Superchilum</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering obelisk of the Wellington Monument set amongst the vast green fields of Dublin's Phoenix Park"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-Phoenix-Park-Wellington-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wellington Monument (Phoenix&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/6839768828/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- East Dublin Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="east-dublin"></a>
        <h2 class="left-heading destination-section-heading">East Dublin</h2>
        <p>East of Temple Bar and Central Dublin along the river is the brand new <strong>EPIC Irish Emigration Museum</strong> featuring excellent interactive exhibits detailing the mass emigrations that took place in Ireland's past.</p>
        <p>Very close by along the river is the <strong>Jeanie Johnston Tall Ship</strong>, a replicated 19th century ship used for Irish emigration to the USA. A bit further east along the river is an architectural masterpiece, the sleek and contemporary <strong>Samuel Beckett Bridge</strong>.</p>
    </section>


    <!-- West Dublin Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="west-dublin"></a>
        <h2 class="left-heading destination-section-heading">West Dublin</h2>
        <p>On the western outskirts of Dublin is the <strong>Kilmainham Gaol</strong>, an impressive 19th century prison turned museum you can visit.</p>
        <p>Be sure to also explore the massive <strong>Phoenix Park</strong> nearby, the largest urban European park which features the kind of lush greenery you would expect from Ireland that you can explore around. Here you'll find several many beautiful ponds as well as the Dublin Zoo and the <strong>Wellington Monument</strong>, a towering obelisk.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Dublin Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2669262962"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Dublin Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/7owQ9jbASjB2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/z2mdsfCGfUJ2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/northern-ireland/belfast-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Grandiose baroque exterior of the iconic Belfast City Hall building in Northern Ireland"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Belfast-City-Hall-Exterior.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/northern-ireland/belfast-attractions-guide">
                        Belfast, Northern&nbsp;Ireland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/macnolete/997055128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/macnolete/" rel="noopener noreferrer" target="_blank">
                            Macnolete</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Famous partially-ruined medieval Blarney Castle, set amongst vibrant gardens and the morning fog, near Cork, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        County Cork &amp; Blarney&nbsp;Castle
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/donncha/21893993463" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/donncha/" rel="noopener noreferrer" target="_blank">
                            Donncha O Caoimh</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Looking along the grass-covered jagged steep Cliffs of Moher towering above the ocean in County Clare, Ireland near Galway"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        Galway &amp; Cliffs of Moher
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/costa-sea-body-of-water-ocean-3270119/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/hjrivas-6383351/" rel="noopener noreferrer" target="_blank">
                            hjrivas</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    