<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Southwest view over Atlantic Ocean atop the CLiffs of Moher near Galway, Ireland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Galway & Cliffs of Moher, Ireland + The Burren, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="galway_ireland" />
    <meta name="attraction_guides" content="cliffs_of_moher_ireland" />
    <meta name="europe_attraction_guides" content="galway_ireland" />
    <meta name="europe_attraction_guides" content="cliffs_of_moher_ireland" />
    <meta name="europe_destinations" content="galway_ireland" />
    <meta name="europe_destinations" content="cliffs_of_moher_ireland" />
    <meta name="europe_destination_guides" content="galway_ireland" />
    <meta name="europe_destination_guides" content="cliffs_of_moher_ireland" />
    <meta name="ireland_attraction_guides" content="galway" />
    <meta name="ireland_attraction_guides" content="cliffs_of_moher" />
    <meta name="ireland_attraction_guides" content="burren" />
    <meta name="ireland_destinations" content="galway" />
    <meta name="ireland_destinations" content="cliffs_of_moher" />
    <meta name="ireland_destinations" content="burren" />
    <meta name="ireland_destination_guides" content="galway" />
    <meta name="ireland_destination_guides" content="cliffs_of_moher" />
    <meta name="national_park_attraction_guides" content="burren" />
    <meta name="google_maps_list" content="galway" />
    <meta name="google_maps_list" content="cliffs_of_moher" />
    <meta name="google_maps_list" content="burren" />
    <meta property="og:title" content="Galway & Cliffs of Moher, Ireland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg">
    <meta name="twitter:title" content="Galway & Cliffs of Moher, Ireland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
    <title>Attractions Guide for Galway & Cliffs of Moher, Ireland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Galway &amp; Cliffs of Moher, Ireland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#galway-attractions">Galway, Ireland</a></div>
            <div><a href="#county-galway-dungaire-castle">Dungaire Castle</a></div>
            <div><a href="#county-clare-the-burren">The Burren</a></div>
            <div><a href="#county-clare-cliffs-of-moher">Cliffs of Moher</a></div>
            <div><a href="#county-clare-kilkee-cliffs">Kilkee Cliffs</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Galway Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Rather than exploring Galway and the Cliffs of Moher on your own, the cheapest and most efficient option is to take an inexpensive day-trip tour from Dublin.
        <p>It's possible to reach most of these attractions via car or bus, with the exceptions being the Aillwee Cave and Poulnabrone Dolmen tomb (of The Burren) and the Kilkee Cliffs being only accessible by car. Another option is to reach Galway via train or bus and take an inexpensive tour to the Cliffs of Moher from Galway, which typically includes a majority of these sights including the Burren.</p>
    </section>


    <!-- Galway, Dungaire Castle, and The Burren Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Colorful tightly-packed buildings lining the pedestrian streets of Galway's Latin Quarter" 
                        src="https://www.travelimager.com/images/ireland/Ireland-County-Galway-Galway-The-Latin-Quarter.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Latin Quarter (Galway)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alainrouiller/29880533026/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alainrouiller/" rel="noopener noreferrer" target="_blank">
                                    Alain Rouiller</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Wooden pathway offering a scenic walk atop the River Corrib in Galway, Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-County-Galway-Galway-River-Corrib-Walk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">River Corrib Walk (Galway)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/28337049274/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Main hall inside the beautiful Galway Cathedral"
                        src="https://www.travelimager.com/images/ireland/Ireland-County-Galway-Galway-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Galway Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/20829986388/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of the medieval Dungaire Castle seen across the water on a cloudy day in Kinvarra, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Galway-Kinvarra-Dunguaire-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunguaire Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/giuseppemilo/35986909192" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/giuseppemilo/" rel="noopener noreferrer" target="_blank">
                                    Giuseppe Milo</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway inside the illuminated Aillwee Cave of the Burren, in Ballyvaughan, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Ballyvaughan-Aillwee-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aillwee Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gpoo/2599377184/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gpoo/" rel="noopener noreferrer" target="_blank">
                                    German Poo-Caamano</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive table-like stone construction of the Neolithic Poulnabrone Dolmen tomb in The Burren, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Poulnabrone-Dolmen-Tomb.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Poulnabrone Dolmen Neolithic&nbsp;Tomb</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/76416192@N06/15409726706" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/76416192@N06/" rel="noopener noreferrer" target="_blank">
                                    Abdullah Bin Sahl</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Galway, Ireland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="galway-attractions"></a>
        <h2 class="left-heading destination-section-heading">Galway, Ireland</h2>
        <p>Galway is a picturesque city in Western Ireland that you must walk around to truly enjoy. A highly recommended walking route to explore Galway begins in the city's Eyre Square. From here you can walk along the city's scenic <strong>Latin Quarter</strong> which begins just southwest from Eyre Square at William Street. William Street becomes the popular Quay Street with many colorful quaint buildings lining the streets the entire way.</p>
        <p>Once you reach the <strong>River Corrib</strong> from Quay Street you can walk along it, appreciating the beautiful lush green scenery along the way. This path will lead you to the lovely Salmon Weir Bridge, which you can cross to see the impressive <strong>Galway Cathedral</strong>, which features a marvelous interior.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The total length of this waling route starting from Eyre Square to Quay Street then following along the River Corrib is only about a 1.3 mile (2.1 km) walk total, arriving back at Eyre Square. This walking route is kind of a short self-tour will and allows you to see many of Galway's most beautiful parts.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Dungaire Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="county-galway-dungaire-castle"></a>
        <h2 class="left-heading destination-section-heading">Dungaire Castle</h2>
        <p>After enjoying Galway you can drive south to Kinvarra, where you can admire the seaside <strong>Dunguaire Castle</strong>, a small medieval tower house which looks picturesque set amongst the coastline.</p>
            <p>If travelling via train and bus, you can reach this castle by taking the bus from Galway to the lovely town of Kinvarra. From this town you can take a scenic walk of about 1.4 miles (2.3 km) round-trip to see the castle. Many tours to the Cliffs of Moher also stop at this idyllic castle.</p>
    </section>


    <!-- The Burren Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="county-clare-the-burren"></a>
        <h2 class="left-heading destination-section-heading">The Burren (Car&nbsp;or&nbsp;Tour&nbsp;Only)</h2>
        <p>After visiting the Dungaire Castle you can drive through the scenic rocky Burren region. Consider stopping for a quick tour through the striking illuminated <strong>Aillwee Cave</strong> if you like, then head to the nearby <strong>Poulnabrone Dolmen</strong>, an impressive neolithic rock tomb built over 5,000 years ago. This tomb is set amongst a beautiful wild landscape and is quite photogenic.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Galway 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2925958420"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Cliffs of Moher and Kilkee Cliffs Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the grass-covered jagged steep Cliffs of Moher towering above the ocean in County Clare, Ireland near Galway"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cliffs of Moher (Southwest&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/costa-sea-body-of-water-ocean-3270119/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/hjrivas-6383351/" rel="noopener noreferrer" target="_blank">
                                    hjrivas</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset over the a section of the Ciffs of Moher with the tiny O'Brien's Tower in the background in County Clare, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Northeast-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cliffs of Moher (Northeast&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/cliffs-sea-ireland-moher-landscape-3760571/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/renegossner-10236719/" rel="noopener noreferrer" target="_blank">
                                    ReneGossner</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Patterns in the long grasses atop the Cliffs of Moher from the wind with O'Brien's Tower in background, in County Clare, Irelamd"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-OBriens-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">O'Brien's Tower (Cliffs&nbsp;of&nbsp;Moher)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brianpowersphotography/15853767814/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brianpowersphotography/" rel="noopener noreferrer" target="_blank">
                                    Brian Powers</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning rocky formations along the coast surrounded by green cliffs at the Kilkee Cliffs in County Clare, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Kilkee-Kilkee-Cliffs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kilkee Cliffs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/irishfireside/2264772593/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/irishfireside/" rel="noopener noreferrer" target="_blank">
                                    IrishFireside</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Cliffs of Moher Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="county-clare-cliffs-of-moher"></a>
        <h2 class="left-heading destination-section-heading">Cliffs of Moher</h2>
        <p>After enjoyin Galway or The Burren you should head to the iconic <strong>Cliffs of Moher</strong>, which can be reached via bus from Galway or easily by car / tour. These breathtaking ocean cliffs are one of Ireland's most popular tourist spots, featuring trails along the edges of these lush steep cliffs from which you can enjoy gorgeous views above the rugged coastline. One of the most popular spots along the cliffs is the castle-like <strong>O'Brien's Tower</strong>, which looks stunning set amongst the coastline.</p>
        <h3>Hiking along the Cliffs</h3>
        <p>You can walk along the southern cliffs for approximately 2.6 miles (4.2 km) from the Visitor's Center, ending at another historical tower with a short walk to the village of Kilconnell. O'Brien's Tower is located near the Visitor's Centre, with the northern trail stretching beyond the tower along the cliffs for approximately 3.7 miles (6 km), concluding near the town of Doolin.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>There's also the possibility of taking the shuttle bus from Doolin (at the northern end of the cliffs) or Kilconnell (at the southern end of the cliffs) back to the visitor's centre (near the center of the cliffs), which runs approximately every 1.5 hours. If you'd like to walk along the entire stretch of the Cliffs of Moher, you should start in Doolin, walking south approximately 8 miles (12.9 km) one-way along the cliffs before reaching the bus station in Kilconnell.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Kilkee Cliffs Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="county-clare-kilkee-cliffs"></a>
        <h2 class="left-heading destination-section-heading">Kilkee Cliffs (Car&nbsp;Only)</h2>
        <p>If you'd like to see more stunning cliffs in the area you can drive further south along the coast to the lesser-known <strong>Kilkee Cliffs</strong>, which show a lot more variance in coastal geological formations such as sea caves, an arch, and rocky islands. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Galway Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9043099622"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Galway &amp; Cliffs of Moher Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/3xj46jyStno">&rArr; Top Attractions (Train)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/9dyPKmSE7DL2">&rArr; Top Attractions (Car/Tour)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/ring-of-kerry-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Tiny medieval ruins of Ballinskelligs Castle along the scenic coast with islands in background, along Ireland's Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballinskelligs-Castle.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/ring-of-kerry-attractions-guide">
                        Ring of Kerry
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Kmcnamee</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Famous partially-ruined medieval Blarney Castle, set amongst vibrant gardens and the morning fog, near Cork, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        County Cork &amp; Blarney&nbsp;Castle
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/donncha/21893993463" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/donncha/" rel="noopener noreferrer" target="_blank">
                            Donncha O Caoimh</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Covered stone bridge connecting the Christ Church Cathedral and Dublinia Museum of St. Michael's Church in Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michaels-Church-Dublinia.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        Dublin
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_-_Christ_Church_Cathedral_-_110508_143136.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                            Barcex</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    