<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Ireland's top destinations: Dublin, Galway, Cliffs of Moher, Ring of Kerry, Cork, Belfast, Causeway Coast, Northern Ireland, & more" />
    <meta name="attraction_guides" content="ireland" />
    <meta name="europe_destinations" content="ireland" />
    <meta name="destination_guides" content="ireland" />
    <meta property="og:title" content="Ireland Attraction Guides">
    <meta name="twitter:title" content="Ireland Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/ireland/ireland-attraction-guides">
    <title>Ireland Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Ireland Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        <img class="destination-image"
                        alt="Famous partially-ruined medieval Blarney Castle, set amongst vibrant gardens and the morning fog, near Cork, Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        County Cork &amp; Blarney&nbsp;Castle
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/donncha/21893993463" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/donncha/" rel="noopener noreferrer" target="_blank">
                            Donncha O Caoimh</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        <img class="destination-image" 
                        alt="Covered stone bridge connecting the Christ Church Cathedral and Dublinia Museum of St. Michael's Church in Dublin, Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michaels-Church-Dublinia.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        Dublin
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_-_Christ_Church_Cathedral_-_110508_143136.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                            Barcex</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        <img class="destination-image" 
                        alt="Looking along the grass-covered jagged steep Cliffs of Moher towering above the ocean in County Clare, Ireland near Galway"
                        src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        Galway &amp; Cliffs of Moher
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/costa-sea-body-of-water-ocean-3270119/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/hjrivas-6383351/" rel="noopener noreferrer" target="_blank">
                            hjrivas</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/ring-of-kerry-attractions-guide">
                        <img class="destination-image" 
                        alt="Tiny medieval ruins of Ballinskelligs Castle along the scenic coast with islands in background, along Ireland's Ring of Kerry"
                        src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballinskelligs-Castle.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/ireland/ring-of-kerry-attractions-guide">
                        Ring of Kerry
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Kmcnamee</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <h2 class="destinations-list-heading">Northern Ireland</h2>


     <!-- Row 2 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/northern-ireland/belfast-attractions-guide">
                        <img class="destination-image" 
                        alt="Grandiose baroque exterior of the iconic Belfast City Hall building in Northern Ireland"
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Belfast-City-Hall-Exterior.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/northern-ireland/belfast-attractions-guide">
                        Belfast
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/macnolete/997055128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/macnolete/" rel="noopener noreferrer" target="_blank">
                            Macnolete</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/northern-ireland/causeway-coast-attractions-guide">
                        <img class="destination-image"
                        alt="Famous Giant's Causeway coastal formations consisting of thousands of perfect geometric rock columns rising out of the sea"
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Bushmills-Giants-Causeway.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/northern-ireland/causeway-coast-attractions-guide">
                        Causeway Coast
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/38703275@N06/4617532691/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/38703275@N06/" rel="noopener noreferrer" target="_blank">
                            rosario fiore</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>