<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Geokaun Mountain View atop Valentia Island along the Ring of Kerry, Ireland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Geokaun-Mountain-and-Fogher-Cliffs-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Ring of Kerry, Ireland, and plan the perfect trip with our savable Ring of Kerry Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="ring_of_kerry_ireland" />
    <meta name="europe_attraction_guides" content="ring_of_kerry_ireland" />
    <meta name="europe_destinations" content="ring_of_kerry_ireland" />
    <meta name="europe_destination_guides" content="ring_of_kerry_ireland" />
    <meta name="ireland_attraction_guides" content="ring_of_kerry" />
    <meta name="ireland_attraction_guides" content="skellig_islands" />
    <meta name="ireland_destinations" content="ring_of_kerry" />
    <meta name="ireland_destinations" content="skellig_islands" />
    <meta name="ireland_destination_guides" content="ring_of_kerry" />
    <meta name="google_maps_list" content="ring_of_kerry" />
    <meta property="og:title" content="Ring of Kerry, Ireland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Geokaun-Mountain-and-Fogher-Cliffs.jpg">
    <meta name="twitter:title" content="Ring of Kerry, Ireland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Geokaun-Mountain-and-Fogher-Cliffs.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/ireland/ring-of-kerry-attractions-guide">
    <title>Attractions Guide for Ring of Kerry, Ireland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Ring of Kerry, Ireland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#southern-coast">Southern Coast</a></div>
            <div><a href="#ballinskelligs">Ballinskelligs</a></div>
            <div><a href="#portmagee-kerry-cliffs">Kerry Cliffs</a></div>
            <div><a href="#great-skellig-island">Great Skellig Island</a></div>
            <div><a href="#valentia-island">Valentia Island</a></div>
            <div><a href="#northern-coast">Northern Coast</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Ring of Kerry Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Ring of Kerry is one of the most popular routes to drive in Ireland, this itinerary will take you along the famous coastal section of the route, with the sights listed in order, starting on the southern side of the Iveragh Peninsula near Sneem.</p>
    </section>


    <!-- Southern Kerry Coast and Ballinskelligs Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Round ruins of the Staigue Stone Fort in a grassy field along Ireland's Ring of Kerry" 
                        src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Staigue-Stone-Fort.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Staigue Stone Fort</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/26115831@N06/3307637540/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/26115831@N06/" rel="noopener noreferrer" target="_blank">
                                    staigue</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Viewpoint overlooking Scariff Island and several other islands just off the coast from Cahernageeha along the Ring of Kerry"
                        src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Derrynane-View-Point-at-Scarriff-Island.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">View Point Scariff Island (Cahernageeha)</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/250388" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/6681" rel="noopener noreferrer" target="_blank">
                                    Peter Craine</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Golden hour view overlooking many islands and stunning coastline of the Ring of Kerry seen in Balleen, Ireland"
                        src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Balleen-Ring-of-Kerry-Lookout.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ring of Kerry Lookout (Balleen)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Derrynane_(Ring_of_Kerry,_Co._Kerry).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Derrynane_(Ring_of_Kerry,_Co._Kerry).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Raul Corral</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the sandy Waterville Beach and its light blue waters with mountains in background, Ballinskelligs, Ring of Kerry" 
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballinskelligs-Bay-Waterville-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Waterville Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/boblinsdell/27364739574/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/boblinsdell/" rel="noopener noreferrer" target="_blank">
                                    Robert Lindsell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Tiny medieval ruins of Ballinskelligs Castle along the scenic coast with islands in background, along Ireland's Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballinskelligs-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ballinskelligs Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ballinskelligs_Castle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Kmcnamee</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Quaint stone ruins of the Ballinskelligs Abbey set amongst grassy fields along the Ring of Kerry, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballinskelligs-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ballinskelligs Abbey</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Old_Abbey_,_Ballinskelligs.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Old_Abbey_,_Ballinskelligs.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Cathal Curran Photography</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Southern Kerry Coast Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="southern-coast"></a>
        <h2 class="left-heading destination-section-heading">Southern Kerry Coast</h2>
        <p>First you can briefly stop to admire the Iron Age remains of the <strong>Staigue Stone Fort</strong> if you like. Along the coast you can stop to view the beautiful waters and surrounding scenery at Derrynane Beach.</p>
        <p>Just beyond Derrynane are two incredible viewpoint along the Ring of Kerry Road, the <strong>View Point at Scariff Island</strong>, and the <strong>Ring of Kerry Lookout and Car Park</strong>, both of which offer gorgeous views over some of the most scenic coastline and islands of the Ring of Kerry.</p>
        <p>Continuing on the Ring of Kerry you'll be driving along Balinskelligs Bay, where you might like to stop to take in views at <strong>Waterville Beach</strong>, which sits on the middle of the bay surrounded by an incredible landscape.</p>
    </section>
    
    
    <!-- Ballinskelligs, Ireland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ballinskelligs"></a>
        <h2 class="left-heading destination-section-heading">Ballinskelligs, Ireland</h2>
        <p>Near the end of the bay is the town of Ballinskelligs, where you can admire the quaint ruins of the <strong>Ballinskelligs Castle</strong> and the <strong>Ballinskelligs Abbey</strong>, both offering panoramic coastal views accessible with only a short walk from the beach parking lot.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ring of Kerry 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1868135428"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Kerry Cliffs and Great Skellg Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cloudy day overlooking the complex rocky coastline of the Kerry Cliffs in Portmagee along the Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Portmagee-Kerry-Cliffs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kerry Cliffs (Portmagee)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/musicaloris/36682086446/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/musicaloris/" rel="noopener noreferrer" target="_blank">
                                    Hauke Musicaloris</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rocky crag mountains sticking out of the steep green fields atop tiny Great Skellig Island off the coast of Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Great-Skellig-Michael-Island.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Skellig Island</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Skellig_Michael_2014.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Niki.L" rel="noopener noreferrer" target="_blank">
                                    Niki.L</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the ancient stone walls atop Great Skellig Island out at a tiny Skellig Island and the Ring of Kerry mainland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Great-Skellig-Michael-Island-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Skellig Island View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:County_Kerry_-_Skellig_Michael_-_20170915102726.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:KedilerNicole" rel="noopener noreferrer" target="_blank">
                                    KedilerNicole</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="7th century stone dome structures of St. Fionan's Monastery atop the UNESCO listed Great Skellig Island near Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Great-Skellig-Michael-Island-St-Fionans-Monastery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Fionan's Monastery (Great&nbsp;Skellig)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Skellig_hives.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Skellig_hives.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Towel401</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little white Skelligs Lighthouse obscured by fog atop Great Skellig Island off the Ring of Kerry coast"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Great-Skellig-Michael-Island-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skelligs Lighthouse (Great&nbsp;Skellig)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/psyberartist/8058326335/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/psyberartist/" rel="noopener noreferrer" target="_blank">
                                    psyberartist</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Kerry Cliffs of Portmagee Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="portmagee-kerry-cliffs"></a>
        <h2 class="left-heading destination-section-heading">Kerry Cliffs of Portmagee</h2>
        <p>Some of the most stunning cliffs along the way are the <strong>Kerry Cliffs</strong> near Portmagee, featuring breathtaking views over these rugged cliffs, which some people say are just as scenic as the Cliffs of Moher.</p>
    </section>


    <!-- Great Skellig Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="great-skellig-island"></a>
        <h2 class="left-heading destination-section-heading">Great Skellig Island</h2>
        <p>From Portmagee you should strongly consider taking the ferry to <strong>Great Skellig Island</strong> (also called Skellig Michael), a tiny island just off the coast. Here you can take a hike amongst unbelievably beautiful scenery on this jagged rocky island.</p>
        <p>The main attraction of Great Skellig Island is the unique <strong>St. Fionan's Monastery</strong> monastic complex built by monks in the 7th century in stone dome shapes, which is listed as a UNESCO world heritage site. The island also features the <strong>Skelligs Lighthouse</strong>, amazing ocean views, sheer cliffs, and even puffin birds amongst a surreal landscape.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ring of Kerry 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5662968251"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Valentia Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the coast and tiny islands of Foilhommerum Bay from the Telegraph Field of Valentia Island, Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Foilhommerum-Bay-Telegraph-Field.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Foilhommerum Bay (Telegraph&nbsp;Field&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/451393" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/6428" rel="noopener noreferrer" target="_blank">
                                    Espresso Addict</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over mountains and coastline of the Ring of Kerry from atop Geokaun Mountain on Valentia Island"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Geokaun-Mountain-and-Fogher-Cliffs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Geokaun Mountain &amp; Fogher&nbsp;Cliffs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/97462521@N08/41345035864/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/97462521@N08/" rel="noopener noreferrer" target="_blank">
                                    Doug Snider</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Prehistoric tetrapod footprints in the slick coastal rocks of Valentia Island at Cromwell Point along Ring of Kerry""
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Tetrapod-Footprints.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valentia Island Tetrapod&nbsp;Footprints</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.ie/photo/5656680" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pluralzed/" rel="noopener noreferrer" target="_blank">
                                    Phil Champion</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small white Valentia Lighthouse of Valentia Island seen on a cloudy day along the Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Valentia-Island-Cromwell-Point-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valentia Lighthouse at Cromwell&nbsp;Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:624_Lighthouse,_Valentia_Island,_County_Kerry.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:XeresNelro" rel="noopener noreferrer" target="_blank">
                                    XeresNelro</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Valentia Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="valentia-island"></a>
        <h2 class="left-heading destination-section-heading">Valentia Island</h2>
        <p>After exploring the island, you can drive over the bridge from Portmagee to Valentia Island where you'll find several great coastal viewpoints, including the <strong>Telegraph Field</strong> overlooking beautiful <strong>Foilhommerum Bay</strong>, and the heavenly panoramic views from <strong>Geokaun Mountain & Fogher Cliffs</strong>.</p>
        <p>Nearby you can view the <strong>Valentia Island Tetrapod Footprints</strong>, tracks imprinted in the rocks of some of the first land animals from hundreds of millions of years ago. Also on the small island is the charming <strong>Valentia Lighthouse</strong> featuring more stunning views over different parts of the coastline.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ring of Kerry 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5771613612"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Northern Kerry Coast Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ruins of the 16th century Ballycarbery Castle along the Ring of Kerry coast surrounded by grazing cows"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballycarbery-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ballycarbery Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/93017481@N00/142314724" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cesar/" rel="noopener noreferrer" target="_blank">
                                    Cesar Gonzalez Palomo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Inside the rounded stone circles of the old Cahergall Stone Fort of Ballycarbery along the Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Ballycarbery-Cahergall-Stone-Fort.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cahergall Stone&nbsp;Fort</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Inside_Cahergall_Stone_Fort.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:JoachimKohlerBremen" rel="noopener noreferrer" target="_blank">
                                    JoachimKohlerBremen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grass-covered stone circles and walls of the old Leacanabuaile Fort in Emlagh along the Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Emlagh-Leacanabuaile-Stone-Fort.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Leacanabuaile Stone&nbsp;Fort</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.ie/photo/5650843" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pluralzed/" rel="noopener noreferrer" target="_blank">
                                    Phil Champion</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredibly picturesque Rossbeigh Strand Beach with its vibrant blue waters and green mountains along the Ring of Kerry"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Ring-of-Kerry-Rossbeigh-Strand-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rossbeigh Strand Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/boblinsdell/27747996756/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/boblinsdell/" rel="noopener noreferrer" target="_blank">
                                    Robert Lindsell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Northern Kerry Coast Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="northern-coast"></a>
        <h2 class="left-heading destination-section-heading">Northern Kerry Coast</h2>
        <p>Continue back to the mainland to the lovely 16th century ruins of the <strong>Ballycarbery Castle</strong> set on the picturesque coast. Unfortunately you can only view this castle from the nearby parking lot as it sits on private land.</p>
        <p>Very close-by the Ballycarbery Castle you can admire the remains of two stone forts that are both over 1,000 years old, the <strong>Cahergall Stone Fort</strong> and <strong>Leacanabuaile Stone Fort</strong>.</p>
        <h3>Rossbeigh Strand Beach</h3>
        <p>One more stop to consider just before heading inland is the <strong>Rossbeigh Strand</strong>, a beach offering magnificent views of the gorgeous scenery and coastal rolling grassy hills surrounding it.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ring of Kerry Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9733348858"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Ring of Kerry Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/r6jhibjz8J32">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/RwftfcoK9Xx">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Looking along the grass-covered jagged steep Cliffs of Moher towering above the ocean in County Clare, Ireland near Galway"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Clare-Cliffs-of-Moher-Southwest-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/galway-and-cliffs-of-moher-attractions-guide">
                        Galway &amp; Cliffs of Moher
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/costa-sea-body-of-water-ocean-3270119/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/hjrivas-6383351/" rel="noopener noreferrer" target="_blank">
                            hjrivas</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Famous partially-ruined medieval Blarney Castle, set amongst vibrant gardens and the morning fog, near Cork, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-County-Cork-Blarney-Blarney-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/county-cork-attractions-guide">
                        County Cork &amp; Blarney&nbsp;Castle
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/donncha/21893993463" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/donncha/" rel="noopener noreferrer" target="_blank">
                            Donncha O Caoimh</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Covered stone bridge connecting the Christ Church Cathedral and Dublinia Museum of St. Michael's Church in Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michaels-Church-Dublinia.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/ireland/dublin-attractions-guide">
                        Dublin
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_-_Christ_Church_Cathedral_-_110508_143136.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                            Barcex</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    