<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Austria's top destinations: Vienna, Salzburg, Hallstatt, Salzkammergut Region, Wachau Valley, Werfen, & Greater Vienna Castles" />
    <meta name="attraction_guides" content="austria" />
    <meta name="europe_destinations" content="austria" />
    <meta name="destination_guides" content="austria" />
    <meta property="og:title" content="Austria Attraction Guides">
    <meta name="twitter:title" content="Austria Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/austria/austria-attraction-guides">
    <title>Austria Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Austria Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">
                        <img class="destination-image"
                        alt="Highly photogenic viewpoint of the village of Hallstatt set amongst the Hallstattersee lake and tall mountains"
                        src="https://www.travelimager.com/images/austria/Austria-Salzkammergut-Hallstatt-Classic-Village-Viewpoint.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">
                        Hallstatt &amp; Salzkammergut
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sinava/42302985502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                            sinava</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/salzburg-and-werfen-attractions-guide">
                        <img class="destination-image" 
                        alt="Stunning view of the massive Hohensalzburg hilltop fortified village, which sits high above the baroque buildings of Old Salzburg below, seen behind the river which runs through Salzburg, Austria"
                        src="https://www.travelimager.com/images/austria/Austria-Salzburg-Hohensalzburg-Fortress.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/austria/salzburg-and-werfen-attractions-guide">
                        Salzburg &amp; Werfen
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Hohensalzburg-mw02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hohensalzburg-mw02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maria Wallner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC-BY-SA 3.0</a> &amp; 
                    <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                        GNU 1.2</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        <img class="destination-image" 
                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                        src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        Vienna
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer" target="_blank">
                            Dmitry A. Motti</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/wachau-valley-attractions-guide">
                        <img class="destination-image" 
                        alt="View overlooking the Burgruine Aggstein Castle ruins and the Danube River valley below in the Wachau Valley town of Aggstein in Austria"
                        src="https://www.travelimager.com/images/austria/Austria-Wachau-Valley-Burgruine-Aggstein-Castle-Ruins-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/austria/wachau-valley-attractions-guide">
                        Wachau Valley
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Ruine_Aggstein_03.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Uoaei1" rel="noopener noreferrer" target="_blank">
                            Uoaei1</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/at/deed.en" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0 AT</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>