<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Ljubljana Castle seen at night in Ljubljana, Slovenia Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Ljubljana-Castle-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Ljubljana, Slovenia, and plan the perfect trip with our savable Ljubljana Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="ljubljana_slovenia" />
    <meta name="europe_attraction_guides" content="ljubljana_slovenia" />
    <meta name="europe_destinations" content="ljubljana_slovenia" />
    <meta name="europe_destination_guides" content="ljubljana_slovenia" />
    <meta name="slovenia_attraction_guides" content="ljubljana" />
    <meta name="slovenia_destinations" content="ljubljana" />
    <meta name="slovenia_destination_guides" content="ljubljana" />
    <meta name="google_maps_list" content="ljubljana" />
    <meta property="og:title" content="Ljubljana, Slovenia Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Ljubljana-Castle.jpg">
    <meta name="twitter:title" content="Ljubljana, Slovenia Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Ljubljana-Castle.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/slovenia/ljubljana-attractions-guide">
    <title>Attractions Guide for Ljubljana, Slovenia</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Ljubljana, Slovenia<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>




    <!-- Ljubljana Historic City Center Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Dragon Bridge with dragon statues spanning the river in Ljubljana, Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Dragon-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dragon Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dragons_Bridge,_Ljubljana_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl" rel="noopener noreferrer" target="_blank">
                                    Thomas Ledl</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely baroque facade of the Franciscan Church of the Annunciation in Ljubljana, Slovenia" 
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Franciscan-Church-of-the-Annunciation.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Franciscan Church of the Annunciation</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/129231073@N06/15202571903/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/129231073@N06/" rel="noopener noreferrer" target="_blank">
                                    Fred Romero</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Dramatic, highly embellished interior of the Ljubljana Cathedral in Ljubljana, Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Ljubljana-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ljubljana Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlascar/11992595764" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlascar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Lascar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset at Mestni Trg (Town Square) in Ljubljana, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Mestni-Trg-Town-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mestni Trg (Town&nbsp;Square)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pixelsblue/19392220428/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pixelsblue/" rel="noopener noreferrer" target="_blank">
                                    Sami C</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Evening view over the courtyard of Ljubljana Castle in Ljubljana, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Ljubljana-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ljubljana Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/europe-ljubljana-castle-3643773/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/hyungname-9864966/" rel="noopener noreferrer" target="_blank">
                                    hyungname</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ljubljana Historic City Center Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Ljubljana Historic City Center</h2>
        <p>Slovenia's capital city is know for its beautiful architecture in the historic center of the city, where you'll find many of the top attractions and sights.</p>
        <p>The Ljubljanica River runs through the center of the city, and spanning it are two must-see bridges, the <strong>Dragon Bridge</strong> and Triple Bridge, both of which are surrounded by historic buildings. At the end of the Triple Bridge is the elegant pink <strong>Franciscan Church of the Assumption</strong>, with mural ceilings in its interior.</p>
        <p>Nearby the bridges you'll also find the baroque <strong>Ljubljana Cathedral</strong>, with an elaborate grandiose interior and countless frescoes. Also close-by you can walk along <strong>Town Square</strong> to see the historic building lining the street.</p>
        <p>Atop the hill towering above this part of town is the 11th century <strong>Ljubljana Castle</strong> hosting a museum and incredible panoramic views over the city.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ljubljana 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1723723243"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Ljubljana Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Congress Square with hilltop Ljubljana rising high above the other end of the square in the background in Ljubljana, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Congress-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Congress Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/150594450@N07/36169514730/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/150594450@N07/" rel="noopener noreferrer" target="_blank">
                                    Med Cruise Guide</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic stairwell inside the National Museum of Slovenia in Ljubljana, Slovenia" 
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-National-Museum-of-Slovenia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of Slovenia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Staircase_of_the_National_Museum_of_Slovenia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:PetarM" rel="noopener noreferrer" target="_blank">
                                    Petar Milosevic</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior facade of the National Gallery of Slovenia in Ljubljana, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-National-Gallery-of-Slovenia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Gallery of Slovenia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:NationalGallery-Ljubljana.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%C5%BDiga" rel="noopener noreferrer" target="_blank">
                                    Ziga</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful and eclectic art installations in front of the Metelkova Art Center in Ljubljana, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Metelkova-Mesto-Art-Center.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Metelkova Art Center</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ljubljana_Metelkova_mesto_34.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ljubljana Museums Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>Be sure to see the historic structures lining the remarkable <strong>Congress Square</strong> just on the other side of the river from Town Square. On this square you'll find the popular Museum of Illusions with many optical illusion rooms.</p>
        <p>A bit further away from Congress Square are two important museums, the <strong>National Museum of Slovenia</strong> containing many artifacts and cultural symbols, as well as the <strong>National Gallery of Slovenia</strong> containing a wealth of the country's fine art. Both museums are housed in impressive structures.</p>
        <p>You might also consider visiting the <strong>Metelkova Art Center</strong> a bit further out from the city center, which is an autonomous area of the city known for its art covered buildings and counter-culture scene, where you'll also find several clubs. Nearby you might also consider visiting the Slovenian Ethnographic Museum featuring many cultural exhibits. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ljubljana Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9555053757"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Ljubljana Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/uPvbsuHwdMw">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/TuTTZq3YunQ2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/bled-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Tiny island in the middle of Lake Bled hosting a beautiful church, in Bled, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Bled-Bled-Island.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/slovenia/bled-attractions-guide">
                        Bled
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mico_kovacevic/19320981822/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mico_kovacevic/" rel="noopener noreferrer" target="_blank">
                            Milo van Kovacevic</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/southwestern-slovenia-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning medieval Predjama Castle built into the cliffside in Southwestern Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Predjama-Castle.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/slovenia/southwestern-slovenia-attractions-guide">
                        Southwestern Slovenia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Predjama_castle,_Slovenia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:A,Ocram" rel="noopener noreferrer" target="_blank">
                            Marco Almbauer</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        Vienna, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer" target="_blank">
                            Dmitry A. Motti</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/salzburg-and-werfen-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view of the massive Hohensalzburg hilltop fortified village, which sits high above the baroque buildings of Old Salzburg below, seen behind the river which runs through Salzburg, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Salzburg-Hohensalzburg-Fortress.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/salzburg-and-werfen-attractions-guide">
                        Salzburg &amp; Werfen, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Hohensalzburg-mw02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hohensalzburg-mw02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Maria Wallner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC-BY-SA 3.0</a> &amp; 
                    <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                        GNU 1.2</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Highly photogenic viewpoint of the village of Hallstatt set amongst the Hallstattersee lake and tall mountains"
                        data-src="https://www.travelimager.com/images/austria/Austria-Salzkammergut-Hallstatt-Classic-Village-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/hallstatt-and-salzkammergut-attractions-guide">
                        Hallstatt &amp; Salzkammergut, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sinava/42302985502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                            sinava</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    