<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Slovenia's top destinations: Ljubljana, Bled, and Southwestern Slovenia's Postojna Cave, Skocjan Cave, & Predjama Castle" />
    <meta name="attraction_guides" content="slovenia" />
    <meta name="europe_destinations" content="slovenia" />
    <meta name="destination_guides" content="slovenia" />
    <meta property="og:title" content="Slovenia Attraction Guides">
    <meta name="twitter:title" content="Slovenia Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/slovenia/slovenia-attraction-guides">
    <title>Slovenia Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Slovenia Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/bled-attractions-guide">
                        <img class="destination-image"
                        alt="Tiny island in the middle of Lake Bled hosting a beautiful church, in Bled, Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Bled-Bled-Island.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/slovenia/bled-attractions-guide">
                        Bled
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mico_kovacevic/19320981822/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mico_kovacevic/" rel="noopener noreferrer" target="_blank">
                            Milo van Kovacevic</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/ljubljana-attractions-guide">
                        <img class="destination-image" 
                        alt="Beautiful Congress Square with hilltop Ljubljana rising high above the other end of the square in the background in Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Congress-Square.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/slovenia/ljubljana-attractions-guide">
                        Ljubljana
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/150594450@N07/36169514730/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/150594450@N07/" rel="noopener noreferrer" target="_blank">
                            Med Cruise Guide</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/southwestern-slovenia-attractions-guide">
                        <img class="destination-image" 
                        alt="Stunning medieval Predjama Castle built into the cliffside in Southwestern Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Predjama-Castle.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/slovenia/southwestern-slovenia-attractions-guide">
                        Southwestern Slovenia
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Predjama_castle,_Slovenia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:A,Ocram" rel="noopener noreferrer" target="_blank">
                            Marco Almbauer</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>