<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Medieval Predjama Castle built into the cliffs, Southwestern Slovenia Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Predjama-Castle-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover the caves and castles of Southwestern Slovenia, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="southwestern_slovenia" />
    <meta name="europe_attraction_guides" content="southwestern_slovenia" />
    <meta name="europe_destinations" content="southwestern_slovenia" />
    <meta name="europe_destination_guides" content="southwestern_slovenia" />
    <meta name="slovenia_attraction_guides" content="southwestern_slovenia" />
    <meta name="slovenia_destinations" content="southwestern_slovenia" />
    <meta name="slovenia_destination_guides" content="southwestern_slovenia" />
    <meta name="google_maps_list" content="southwestern_slovenia" />
    <meta property="og:title" content="Bled, Slovenia Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Predjama-Castle.jpg">
    <meta name="twitter:title" content="Bled, Slovenia Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Predjama-Castle.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/slovenia/southwestern-slovenia-attractions-guide">
    <title>Attractions Guide for Southwestern Slovenia</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Southwestern Slovenia<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    <!-- Introduction to Southwestern Slovenia Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route seeing some of Slovenia's top attractions, located southwest of Ljubljana.</p>
    </section>


    <!-- Southwestern Slovenia Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Tiny lake with beautiful white Sneznik Castle behind it seen in the winter in Southwestern Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Sneznik-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sneznik Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sne%C5%BEnik_castle_-_januar_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Meho29" rel="noopener noreferrer" target="_blank">
                                    Mihael Grmek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stalagmites and walkways within the giant Postojna Cave in Southwestern Slovenia" 
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Postojna-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Postojna Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Postojna_Cave_(18341372181).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/79586279@N00" rel="noopener noreferrer" target="_blank">
                                    Shadowgate</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning medieval Predjama Castle built into the cliffside in Southwestern Slovenia"
                        src="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Predjama-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Predjama Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Predjama_castle,_Slovenia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:A,Ocram" rel="noopener noreferrer" target="_blank">
                                    Marco Almbauer</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Scary bridge spanning an immensely deep canyon within the Skocjan Caves in Southwestern Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Southwestern-Slovenia-Skocjan-Caves.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skocjan Caves</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%C5%A0kocjan_Caves_(6).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/9288799@N02" rel="noopener noreferrer" target="_blank">
                                    Ramon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Sneznik Castle Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Sneznik Castle</h2>
        <p>You can start your day by visiting the 13th century <strong>Sneznik Castle</strong>, a small but beautiful medieval castle with historic interiors you can tour.</p>
    </section>



    <!-- Postojna Cave and Predjama Castle Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Postojna Cave &amp; Predjama Castle</h2>
        <p>Next head up to the famous <strong>Postojna Cave</strong>, where you'll be able to take a small train through the massive cave and then explore on foot afterwards. This stunning cave is extremely popular and quite developed, but incredibly scenic and definitely worth seeing.</p>
        <p>Nearby is the striking medieval <strong>Predjama Castle</strong> built into the cliffside, one of the country's most remarkable castles.</p>
    </section>


    <!-- Skocjan Caves Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Skocjan Caves</h2>
        <p>Afterwards you can tour another great cave system, the UNESCO listed <strong>Skocjan Caves</strong>, one of Slovenia's most beautiful sights. Inside you'll find a breathtaking massive canyon, an underground river, and many diverse cave environments and formations. You'll be stunned at the immensity of this amazing cave, just make sure you arrive early enough or pre-book your tours of it, as it is not to be missed. </p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southwest Slovenia -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8404805371"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Southwestern Slovenia Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZizCmr9kqMT2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/ljubljana-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful Congress Square with hilltop Ljubljana rising high above the other end of the square in the background in Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Ljubljana-Congress-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/slovenia/ljubljana-attractions-guide">
                        Ljubljana
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/150594450@N07/36169514730/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/150594450@N07/" rel="noopener noreferrer" target="_blank">
                            Med Cruise Guide</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovenia/bled-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Tiny island in the middle of Lake Bled hosting a beautiful church, in Bled, Slovenia"
                        data-src="https://www.travelimager.com/images/slovenia/Slovenia-Bled-Bled-Island.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/slovenia/bled-attractions-guide">
                        Bled
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mico_kovacevic/19320981822/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mico_kovacevic/" rel="noopener noreferrer" target="_blank">
                            Milo van Kovacevic</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    