<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Clifftop ancient bristlecone pine tree above the desert floor of Great Basin National Park, Nevada Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Bristlecone-Pine-Tree-and-Desert-Floor-Overlook-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Great Basin National Park & Cathedral Gorge, Nevada and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="great_basin_national_park_nevada" />
    <meta name="attraction_guides" content="cathedral_gorge_nevada" />
    <meta name="usa_attraction_guides" content="great_basin_national_park_nevada" />
    <meta name="usa_destinations" content="great_basin_national_park_nevada" />
    <meta name="usa_destination_guides" content="great_basin_national_park_nevada" />
    <meta name="nevada_attraction_guides" content="great_basin_national_park" />
    <meta name="nevada_attraction_guides" content="cathedral_gorge_state_park" />
    <meta name="nevada_destinations" content="great_basin_national_park" />
    <meta name="nevada_destinations" content="cathedral_gorge_state_park" />
    <meta name="nevada_destination_guides" content="great_basin_national_park" />
    <meta name="nevada_destination_guides" content="cathedral_gorge_state_park" />
    <meta name="national_park_attraction_guides" content="great_basin" />
    <meta name="google_maps_list" content="great_basin_national_park" />
    <meta name="google_maps_list" content="cathedral_gorge_state_park" />
    <meta property="og:title" content="Great Basin National Park & Cathedral Gorge, Nevada Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Bristlecone-Pine-Tree-and-Desert-Floor-Overlook.jpg">
    <meta name="twitter:title" content="Great Basin National Park & Cathedral Gorge, Nevada Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Bristlecone-Pine-Tree-and-Desert-Floor-Overlook.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/nevada/great-basin-national-park-and-cathedral-gorge-attractions-guide">
    <title>Attractions Guide for Great Basin National Park & Cathedral Gorge, Nevada</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Great Basin National Park &amp; Cathedral&nbsp;Gorge, Nevada<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    <!-- Introduction to Great Basin National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route in Eastern Nevada, including Cathedral Gorge State Park, the Charcoal Ovens Historic Park, and Great Basin National Park.</p>
    </section>



    <!-- Cathedral Gorge State Park and Charcoal Ovens State Historic Park, Nevada Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Golden hour over the striking golden cliffs of Cathedral Gorge State Park in rural Nevada"
                        src="https://www.travelimager.com/images/nevada/Nevada-Cathedral-Gorge-State-Park-Cliffs-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral Gorge Trail Cliffs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/72213316@N00/3189765967/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/72213316@N00/" rel="noopener noreferrer" target="_blank">
                                    Frank Kovalchek</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking an incredibly scenic canyon of Cathedral Gorge State Park, Nevada from Miller Point / Eagle Point"
                        src="https://www.travelimager.com/images/nevada/Nevada-Cathedral-Gorge-State-Park-Miller-Point-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miller Point View<br />(Cathedral&nbsp;Gorge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/72213316@N00/3192732193/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/72213316@N00/" rel="noopener noreferrer" target="_blank">
                                    Frank Kovalchek</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Complex cliffs of Cathedral Gorge State Park seen behind plants along the Juniper Loop Trail in Nevada"
                        src="https://www.travelimager.com/images/nevada/Nevada-Cathedral-Gorge-State-Park-Juniper-Draw-Loop-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Juniper Loop Trail<br />(Cathedral&nbsp;Gorge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ronmacphotos/4216283942/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ronmacphotos/" rel="noopener noreferrer" target="_blank">
                                    Ronnie Macdonald</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset colored cliffs of Cathedral Gorge State Park, Nevade seen along the Juniper Loop Trail"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Cathedral-Gorge-State-Park-Juniper-Draw-Loop-Cliffs-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Juniper Loop Cliffs<br />(Cathedral&nbsp;Gorge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/26601593595/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the sky above the tall sheer walls of the slot canyon-like Moon Caves of Nevada's Cathedral Gorge State Park"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Cathedral-Gorge-State-Park-Moon-Caves-Slot-Canyons-Looking-Up.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Moon Caves Slot Canyons<br />(Cathedral&nbsp;Gorge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/26296914240/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the row of old brick oven structures at Ward Charcoal Ovens State Historic Park, Nevada" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Ely-Ward-Charcoal-Ovens-State-Historic-Park-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ward Charcoal Ovens State&nbsp;Historic&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/423799410/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Thousands of stars lighthing up the sky over the Ward Charcoal Ovens State Historic Park of Ely, Nevada" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Ely-Ward-Charcoal-Ovens-State-Historic-Park-Night-Sky.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ward Charcoal Ovens State&nbsp;Historic&nbsp;Park (Night&nbsp;Sky)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mobili/49624569301/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                                    Mobilus In Mobili</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cathedral Gorge State Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Cathedral Gorge State Park</h2>
        <p>Start the day with a marvelous hike on the 3.4 mile (5.5 km) round-trip <strong>Cathedral Gorge Trail</strong> through the gorge itself. This trail is a combination of the Miller Point Trail and Juniper Draw Loop Trail, taking you through most of the park.</p>
        <p>Alternatively, you might park at the <strong>Miller Point</strong> / Eagle Point Trailhead, which hosts a lovely stone gazebo offering amazing views overlooking the complex formations of the gorge, from the cliffs high above the gorge. If you were to hike the trail to this point you would need to come up many stairs to enjoy this view. This trailhead also works as an alternative starting point for the <strong>Juniper Loop Trail</strong>.</p>
        <p>Be sure to also spend some time exploring the <strong>Moon Caves</strong>, which are located along the road to the Junipder Draw Loop Trailhead. These caves are formed by a series of towering near-vertical winding canyon walls, many of which are extremely thin but create passageways large enough for people to walk through. The Moon Caves are quite unique and incredible, so be sure to visit them.</p>
    </section>


    <!-- Charcoal Ovens Historic Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Charcoal Ovens Historic Park</h2>
        <p>Along the way up to Great Basin you might consider a significant detour to visit the <strong>Ward Charcoal Ovens State Historical Park</strong> near Ely, Nevada. These interesting structures were constructed during the time of the Old West in order to smelt miend charcoal, and the house-sized ovens remain in excellent condition.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Great Basin 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4962230294"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Great Basin National Park, Nevada Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pathway in a low room within the Lehman Caves surrounded complex stalagmite formations, Great Basin National Park, Nevada"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Lehman-Caves-Low-Room.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lehman Caves Pathway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lehman_Cave_Cypress_Swamp.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dave_Bunnell" rel="noopener noreferrer" target="_blank">
                                    Dave Bunnell</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stalagmite formations hanging from the ceiling inside the illuminated Lehman Caves of Great Basin National Park, Nevada"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Lehman-Caves.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lehman Caves Stalagmites</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wcowperthwaite/11564585243/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wcowperthwaite/" rel="noopener noreferrer" target="_blank">
                                    Wheeler Cowperthwaite</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the stunning formations and stalagmites on the ceiling of the Lehman Caves in Nevada's Great Basin National Park"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Lehman-Caves-Ceiling-Formations.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lehman Caves Ceiling</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lehman_Caves_ceiling.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Derrellwilliams" rel="noopener noreferrer" target="_blank">
                                    Derrellwilliams</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the desolate desert landscape below Great Basin National Park from Wheeler Peak Scenic Drive"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Wheeler-Peak-Scenic-Drive.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wheeler Peak Scenic&nbsp;Drive</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/27611313577/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient bristlecone pine trees seen along Great Basin National Park's Bristlecone Pine Trail" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Bristlecone-Pine-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bristlecone Pine Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lauracamp/14999366478/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lauracamp/" rel="noopener noreferrer" target="_blank">
                                    Laura Camp</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the mostly melted glacier below Wheeler Peak in Nevada's Great Basin National Park" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Glacier-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glacier Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brewbooks/3737411938/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brewbooks/" rel="noopener noreferrer" target="_blank">
                                    J Brew</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wheeler Peak towering above the forests around Stella Lake, seen along Great Basin National Park's Alpine Lakes Loop Trail" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Alpine-Lakes-Loop-Stella-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alpine Lakes Loop Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/72213316@N00/3159242758/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/72213316@N00/" rel="noopener noreferrer" target="_blank">
                                    Frank Kovalchek</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Light snow atop the jagged top of the Wheeler Peak mountains of Great Basin National Park, Nevada" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Wheeler-Peak-Snowy.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wheeler Peak</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Great_Basin_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Great_Basin_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    AndrewKPepper</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the large forests above the vast desert Nevada landscape from atop Wheeler Peak in Great Basin National Park" 
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Great-Basin-National-Park-Wheeler-Peak-Forests-and-Desert-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wheeler Peak View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2013-07-14_14_07_53_View_northeast_from_the_summit_of_Wheeler_Peak_in_Great_Basin_National_Park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Famartin" rel="noopener noreferrer" target="_blank">
                                    Famartin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    



    <!-- Great Basin National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Great Basin National Park</h2>
        <h3>Lehman Caves</h3>
        <p>Near the entrance to Great Basin National Park are the incredible <strong>Lehman Caves</strong>, which require a tour to visit. It's highly recommended to book your tour at least a few hours ahead of time as to save yourself from long waits or even not being able to do the tour at all.</p>
        <p>Afterwards you can drive up through the park's main road, <strong>Wheeler Peak Scenic Drive</strong>, stopping at the viewpoints along the way up such as the Mather Overlook as you make your way towards the top.</p>
        <h3>Ancient Bristlecone Trees</h3>
        <p>At the very top of Wheeler Peak Scenic Drive, you'll find several of the park's most popular hikes, including the <strong>Bristlecone Pine Trail</strong>. This trail takes you on a 2.8 mile (4.5 km) round-trip hike amongst ancient trees while offering spectacular views of the desert below and Wheeler Peak above.</p>
        <h3>Wheeler Peak Glacier Trail</h3>
        <p>You can extend the Bristlecone Pine hike to 4.6 miles (7.4 km) round-trip if you'd also like to see Nevada's only glacier up-close, via <strong>Glacier Trail</strong> which extends beyond the Bristlecone Trail. Both trails are at a very high elevation of approximately 9,200-9,800 feet (2,800-3,000 m) and also pass through an alpine forest along the way up.</p>
        <h3>Alpine Lakes Trail</h3>
        <p>Another possibility is adding on the extra 1.9 mile (3.1 km) <strong>Alpine Lakes Loop</strong> to either the Bristlecone Pine Trail or Glacier Trail, which takes you past two small but stunning and serene lakes.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Great Basin Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2702188020"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Great Basin National park &amp; Cathedral&nbsp;Gorge Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/faGd1KyLhru">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/valley-of-fire-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredibly beautiful pink wave-like patterns on the rocks of the Fire Wave Trail in Nevada's Valley of Fire at golden hour"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Valley-of-Fire-State-Park-Fire-Wave-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/valley-of-fire-attractions-guide">
                        Valley of Fire State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/34755886070/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Half-size replica of the Eiffel Tower at Paris Casino seen behind the Fountains of Bellagio at night along Las Vegas Strip"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Las-Vegas-Paris-Casino.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        Las Vegas
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/las-vegas-paris-night-tourism-864881/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        Cedar&nbsp;Breaks &amp; Kolob&nbsp;Canyons, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    