<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Spiagga Beach of Positano along the Amalfi Coast, Italy Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Positano-Spiaggia-Beach-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions of Amalfi Coast, Italy + Sorrento & Paestum, and plan the perfect trip with savable Amalfi Coast Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="amalfi_coast_italy" />
    <meta name="attraction_guides" content="sorrento_italy" />
    <meta name="attraction_guides" content="paestum_italy" />
    <meta name="attraction_guides" content="positano_italy" />
    <meta name="attraction_guides" content="ravello_italy" />
    <meta name="europe_attraction_guides" content="amalfi_coast_italy" />
    <meta name="europe_destinations" content="amalfi_coast_italy" />
    <meta name="europe_destination_guides" content="amalfi_coast_italy" />
    <meta name="italy_attraction_guides" content="amalfi_coast" />
    <meta name="italy_attraction_guides" content="sorrento" />
    <meta name="italy_attraction_guides" content="paestum" />
    <meta name="italy_attraction_guides" content="positano" />
    <meta name="italy_attraction_guides" content="ravello" />
    <meta name="italy_destinations" content="amalfi_coast" />
    <meta name="italy_destinations" content="sorrento" />
    <meta name="italy_destinations" content="paestum" />
    <meta name="italy_destinations" content="positano" />
    <meta name="italy_destinations" content="ravello" />
    <meta name="italy_destination_guides" content="amalfi_coast" />
    <meta name="italy_destination_guides" content="sorrento" />
    <meta name="italy_destination_guides" content="paestum" />
    <meta name="italy_destination_guides" content="positano" />
    <meta name="italy_destination_guides" content="ravello" />
    <meta name="google_maps_list" content="amalfi_coast" />
    <meta name="google_maps_list" content="sorrento" />
    <meta name="google_maps_list" content="paestum" />
    <meta name="google_maps_list" content="positano" />
    <meta name="google_maps_list" content="ravello" />
    <meta property="og:title" content="Amalfi Coast, Italy Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Positano-Spiaggia-Beach-View.jpg">
    <meta name="twitter:title" content="Amalfi Coast, Italy Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Positano-Spiaggia-Beach-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/italy/amalfi-coast-attractions-guide">
    <title>Attractions Guide for Amalfi Coast, Italy</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Amalfi Coast, Italy<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#sorrento">Sorrento</a></div>
            <div><a href="#positano">Positano</a></div>
            <div><a href="#path-of-the-gods">Path of the Gods</a></div>
            <div><a href="#amalfi">Amalfi</a></div>
            <div><a href="#atrani">Atrani</a></div>
            <div><a href="#ravello">Ravello</a></div>
            <div><a href="#minori-and-maiori">Minori &amp; Maiori</a></div>
            <div><a href="#cetara">Cetara</a></div>
            <div><a href="#paestum">Paestum</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Amalfi Coast Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Italy’s Amalfi Coast region is a UNSECO world heritage site and one of the most beautiful coastlines in the world. The Amalfi Coast is located along a mountainous coastline to the southeast of Naples and Pompeii. The Amalfi Coast is known for its many picturesque old villages and towns along the coast which sit below tall mountains with beautiful beaches.</p>
        <p>Many of the towns of the Amalfi Coast have been inhabited since the Middle Ages and host many with colorful and rustic old homes. Places often combined with a visit to the Amalfi Coast are the seaside town of Sorrento and the ancient Greek archaeological site of Paestum.</p>
        <h3>Transportation</h3>
        <p>Due to the extremely rugged mountainous terrain of the Amalfi Coast, the only train station in the region is located just east of the Amalfi Coast in the town of Vietri Sul Mare, a suburb of Salerno and the eastern most town of the Amalfi Coast. Salerno has frequent direct train connections with Naples, which is well-connected to the rest of Italy via train and with its international airport.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The towns and villages of the Amalfi Coast are well-connected via bus, and you can take the ferries between several of the larger towns, including Amalfi, Positano, Maiori, Cetara, and Minori. All of these towns also connect to the nearby island of Capri via ferry.</p>
            <p>It’s also possible to drive along the Amalfi Coast with a car, which allows you access to many more viewpoints and beaches. The downside of driving along the Amalfi Coast is that you’ll be drive along a two-lane highway which is often congested, competing for a very limited amount of parking spaces.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Sorrento, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Grand cliff-top buildings above the Marina Piccola and Sorrento Port with yachts along the Sorrentine Peninsula" 
                        src="https://www.travelimager.com/images/italy/Italy-Sorrento-Marina-Piccola-and-Port.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Piccola &amp; Sorrento&nbsp;Port</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ferry_and_yacht_port_of_Sorrento_-_Campania_-_Italy_-_July_12th_2013_-_03.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:NorbertNagel" rel="noopener noreferrer" target="_blank">
                                    Norbert Nagel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colorful buildings above the Sorrento Port at Marina Piccola in Sorrento, Italy"
                        src="https://www.travelimager.com/images/italy/Italy-Sorrento-Marina-Piccola-and-Port-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Piccola &amp; Sorrento&nbsp;Port</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ferry_and_yacht_port_of_Sorrento_-_Campania_-_Italy_-_July_12th_2013_-_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:NorbertNagel" rel="noopener noreferrer" target="_blank">
                                    Norbert Nagel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Picturesque view overlooking Marina Piccola and the Bay of Naples from Srrento's Villa Comunale Park"
                        src="https://www.travelimager.com/images/italy/Italy-Sorrento-Villa-Comunale-Park-Marina-Piccola-and-Port-of-Sorrento-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Comunale Park View<br />(Sorrento)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pss/3636040095/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pss/" rel="noopener noreferrer" target="_blank">
                                    Paul Stevenson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely white facade of the Sorrento Cathedral in Sorrento, Italy" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Sorrento-Duomo-di-Sorrento-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sorrento Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Duomo_di_Sorrento_10.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MatthiasKabel" rel="noopener noreferrer" target="_blank">
                                    Matthias Kabel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the lush green plant-covered ruins of an ancient sawmill below the cliffs in the Vallone dei Mulini in Sorrento"
                        data-src="https://www.travelimager.com/images/italy/Italy-Sorrento-Vallone-dei-Mulini-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vallone dei Mulini Ruins<br />(Sorrento)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Valle_dei_Mulini_(Sorrento)_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mentnafunangann" rel="noopener noreferrer" target="_blank">
                                    Mentnafunangann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Natural pool connected to Bay of Naples by a sea arch, known as the Regina Giovanna Bath in Sorrento, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Sorrento-Regina-Giovanna-Bath.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Regina Giovanna Bath<br />(Sorrento)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ken_mayer/14778074744" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ken_mayer/" rel="noopener noreferrer" target="_blank">
                                    Ken Mayer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Sorrento, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sorrento"></a>
        <h2 class="left-heading destination-section-heading">Sorrento, Italy</h2>
        <p>Along the southern side of the Bay of Naples on the other side of the mountains from the Amalfi coast is the city of Sorrento, which is not part of the Amalfi Coast region but is still very beautiful. You can reach Sorrento directly by train or ferry from Naples, and take the bus about 1 hour around the coast to reach the westernmost city of the Amalfi Coast, Positano.</p>
        <p>Sorrento’s most picturesque site is certainly the <strong>Marina Piccola</strong> waterfront, which sits below vertical cliffs atop which the city is built. You can walk along the walls of the Port of Sorrento to admire the amazing views looking back at the Marina Piccola. You can also enjoy breathtaking views overlooking the Marina Piccola from above along the clifftop <strong>Villa Comunale Park</strong>, with views reaching to Mt. Vesuvius on a clear day.</p>
        <p>On the western side of Sorrento is another marina, the scenic Marina Grande, which is lined with colorful houses along a small beach below the cliffs. This marina is also quite photogenic, especially when viewed from the ends of the harbor walls.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Set back from the coast is the lovely 14th century <strong>Sorrento Cathedral</strong>, with its simple Romanesque stone exterior. Inside the Sorrento Cathedral is lavishly decorated with beautiful rounded arches and a intricately painted ceiling. Nearby is the <strong>Vallone Dei Mulini</strong>, a steep canyon-like valley covered in lush greenery hosting the ruined structure of an ancient sawmill.</p>
            <p>You might also consider taking a hike along the coast to the west of Sorrento to the ancient Roman villa ruins of the <strong>Regina Giovanna Bath</strong>. This spot is actually much more popular for its cove-like beach than its ruins, which hosts beautiful green-blue waters connected to the sea via an arch above the water. You can reach Regina Giovanna Beach by hiking about 3.9 miles (6.2 km) round-trip along the coast if starting near the Sorrento Cathedral.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amalfi Coast 1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="4020049257"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    
    <!-- Positano, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sea view of the many buildings of the village of Positano below the tall mountains and cliffs of the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Village-Wide.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Positano Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Positano_Sea.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Positano_Sea.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    	JeCCo</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset view overlooking Fornillo Beach and Positano Village along the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Village-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Positano Village (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hozinja/6188223020/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hozinja/" rel="noopener noreferrer" target="_blank">
                                    Eric Hossinger</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hilltop view overlooking an urbanized valley of Positano below the mountains along the coast of Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Village-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Positano Village &amp; Hills</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Positano_Panoramic.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mykola_Swarnyk" rel="noopener noreferrer" target="_blank">
                                    Mykola Swarnyk</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the coastline along Positano's Spiaggia Beach below the village of Positano along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Positano-Spiaggia-Beach-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Positano Spiaggia Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.pexels.com/photo/photography-of-beach-near-mountain-919233/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.pexels.com/@myersmc16" rel="noopener noreferrer" target="_blank">
                                    Gotta Be Worth It</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vibrant waters of Positano's Fornillo Beach along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Fornillo-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fornillo Beach (Positano)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Positano_-_Fornillo_Beach.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Meho29" rel="noopener noreferrer" target="_blank">
                                    Mihael Grmek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Positano, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="positano"></a>
        <h2 class="left-heading destination-section-heading">Positano, Italy</h2>
        <p>Positano is one of the larger villages along the Amalfi Coast, located at the western-most part of the region below massive mountains. Positano is famous for its gorgeous beaches, which sit below the many colorful houses built up the sides of the mountains. Both the <strong>Positano Spiaggia Beach</strong> and <strong>Fornillo Beach</strong> are excellent places to swim and enjoy the stunningly picturesque views of Positano.</p>
        <p>If you’d like a challenging hike with views overlooking Positano from high above, you might consider the trail to the Church of Santa Maria del Castello, located up in the mountains above Positano. The steep hike up to the Belvedere Santa Maria del Castello viewpoint is approximately 2.2 miles (3.6 km) one-way, beginning from the ferry terminal in Positano.</p>
        <h3>Arienzo, Italy</h3>
        <p>Several other small beaches are located along the coast between the cliffs of the mountains, such as the popular Arienzo Beach club just east of Positano, which offers amazing views looking up the coastline. Also in the village of Arienzo is western trailhead for the Path of the Gods, which is discussed further in the section below.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <!-- Amalfi Coast 2 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="8650393554"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Path of the Gods Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Heavenly view over the Amalfi coastline of the Sorrentine Peninsula and the village of Positano from the Path of the Gods"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Path-of-the-Gods-Trailhead-View-over-Positano.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Path of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Path_of_the_Gods_-_Italy.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alanthebox" rel="noopener noreferrer" target="_blank">
                                    Alanthebox</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching view over the Amalfi Coastline of the Sorrentine Peninsula from high above along the Path of the Gods"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Path-of-the-Gods-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Path of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sentier_des_dieux-Positano-gb.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Sentier_des_dieux-Positano-gb.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    	Gilbert Bochenek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant green-blue waters of the Furore Fjord below a bridge along the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Furore-Cala-di-Furore-Fjord-Beach-and-Furore-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Furore Fjord Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mtnorton/40480870315/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mtnorton/" rel="noopener noreferrer" target="_blank">
                                    Mike Norton</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down on the tiny Furore Fjord and its beach from the road above, along the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Furore-Fiordo-di-Furore-Fjord-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Furore Fjord</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ilce3000/18121464310/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ilce3000/" rel="noopener noreferrer" target="_blank">
                                    Sony SLT-A57</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Path of the Gods Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="path-of-the-gods"></a>
        <h2 class="left-heading destination-section-heading">Path of the Gods</h2>
        <p>The <strong>Path of the Gods</strong> is the most famous hiking trail along the Amalfi Coast, traversing along the sides of the mountains high above the sea. This hiking trail is located along the western Amalfi Coast, between Arienzo near Positano and the Bomerano neighborhood of Agerola. The most highly recommended hiking route is from east to west, beginning in Bomerano from the Agerola (Bomerano) bus stop. Bomerano is located inland from the village of Furore, up the mountain northwest of the Furore Fjord.</p>
        <p>The Path of the Gods follows along the cliffs high above the coast providing truly breathtaking views over the Amalfi Coast along the entire hike. This steep and challenging mountain trail technically ends in the village of Arienzo, just east of Positano. Near the trailhead in Arienzo you can take the bus at the Via Arienzo 53 bus stop, which runs along the main road of the Amalfi Coast.</p>
        <p>The one-way distance for the Path of the Gods is approximately 4.5 miles (7.2 km) with significant elevation gain.</p>
        <h3>Furore Fjord</h3>
        <p>Much further along the Amalfi Coast is a very popular photo spot at the <strong>Fiordo di Furore</strong> (Fjord of Furore), in the tiny village of Furore. A bus stop is located next to the picturesque stone bridge which spans above this mini-fjord where it meets the ocean. The fjord hosts a small beach with vibrant blue waters and is quite an iconic spot along the Amalfi Coast.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amalfi Coast 3 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="3414803776"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Amalfi and Atrani, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Duomo di Amalfi Cathedral with its zebra-like patterns below the tall mountains of the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Amalfi-Duomo-di-Amalfi-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amalfi Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amalfi-italy-church-cathedral-631698/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/YvM-762090/" rel="noopener noreferrer" target="_blank">
                                    YvM</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Busy square of the Piazza del Duomo in the town of Amalfi along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Amalfi-Piazza-del-Duomo-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazza del Duomo Sqaure<br />(Amalfi)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amalfi-square-italy-crowds-coast-2086949/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sea view of the town of Amalfi and its Marina Grande Harbor along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Amalfi-Marina-Grande-Harbor.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Grande Harbor<br />(Amalfi)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/99852712@N04/28715010722/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/99852712@N04/" rel="noopener noreferrer" target="_blank">
                                    Veselina Dzhingarova</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sea view looking back at the tiny Amalfi Coast village of Atrani built below tall mountains"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Atrani-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Atrani Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amalfi-coast-mountains-mediterranean-3487091/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/jcataffo-2492742/" rel="noopener noreferrer" target="_blank">
                                    jcataffo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the stunning seaside village of Atrani from Amalfi's Sacaren Tower along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Atrani-Village-Saracen-Tower-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Atrani<br />(Saracen&nbsp;Tower&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Atrani_(Costiera_Amalfitana,_23-8-2011).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Paolostefano1412" rel="noopener noreferrer" target="_blank">
                                    Paolo Costa Baldi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the shoreline of Atran Beach with the coast and cliffs of the Amalfi Coast in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Atrani-Atrani-Beach-and-Coast.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Atrani Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alebonvini/4254439076/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alebonvini/" rel="noopener noreferrer" target="_blank">
                                    Alessandro Bonvini</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely 13th century Church of St. Mary Magdalene built above the coast of Atrani, along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Atrani-Collegiate-Church-of-St-Mary-Magdalene.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of St. Mary<br />Magdalene (Atrani)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Atrani_-_Santa_Maria_Maddalena.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Imehling" rel="noopener noreferrer" target="_blank">
                                    Ingo Mehling</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Amalfi, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="amalfi"></a>
        <h2 class="left-heading destination-section-heading">Amalfi, Italy</h2>
        <p>Further along the coast is the town of Amalfi for which the Amalfi Coast is named after. For a period during the Middle Ages Amalfi was a significant maritime power in the Mediterranean, despite its small size. Ferry boast connect Amalfi with the small island of Capri, as well as with the villages of Positano, Maiori, Minori, Cetara, and Salerno.</p>
        <p>Amalfi’s top attraction is the <strong>Duomi di Amalfi</strong> (or Saint Andrew’s Cathedral of Amalfi), with its iconic zebra-like stripes and elegant bell tower. The grand Amalfi Cathedral was built in the 11th century and is also known for housing the relics and crypt of Saint Andrew. The Amalfi Cathedral’s interiors are extravagantly adorned with countless frescoes and embellishments, producing an overwhelming sight. Also impressive is the cathedral’s lovely Cloister del Paradiso surrounded by Moorish-style columns.</p>
        <p>The Amalfi Cathedral sits behind Amalfi’s main plaza, the beautiful <strong>Piazza del Duomo</strong>. Despite its longer coastline, Amalfi only has a small beach, as most of its coast is taken up by Amalfi’s port and <strong>Marina Grande</strong>. In order to take in the best views of Amalfi, you can walk along the harbor walls of the Marina Grande.</p>
        <h3>Torre dello Zico</h3>
        <p>To hike up to the medieval ruins of the Torre dello Zico in the mountains above Amalfi, you’ll need to first reach the village of Pontone above Amalfi. You can reach Pontone via bus, or you can hike down to it from the nearby mountaintop village of Ravello. The hike is quite challenging, but offers amazing views overlooking the coastline, and the opportunity to walk along the medieval walls of this small ruined fortress.</p>
    </section>


    <!-- Atrani, Italy Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="atrani"></a>
        <h2 class="left-heading destination-section-heading">Atrani, Italy</h2>
        <p>Just over the hill along the coast from Amalfi is the tiny village of Atrani, which many believe to have the most beautiful beach along the Amalfi Coast. Part of the reason why the village's <strong>Atrani Beach</strong> is so beautiful is because the views looking back at Atrani supported by stone arches along the beach are so picturesque. Even more stunning however are the views looking down the Amalfi Coast from the beach, especially from the walkway above the western side of Atrani Beach.</p>
        <p>Behind Atrani Beach is the the village’s lovely Piazzetta square surrounded by rustic buildings. Rising above the coast on the eastern side of Atrani Beach is the 13th century <strong>Collegiate Church of St. Mary Magdalene Penitent</strong> baroque-style facade and charming bell tower.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amalfi Coast 4 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="4711148546"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Ravello, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the beautiful fine gardens on a terrace with incredible views high above the Amalfi Coast in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Ravello-Villa-Rufolo-Terrace-Garden-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Rufolo Terrace Garden<br />(Ravello)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/imcountingufoz/5117170017/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/imcountingufoz/" rel="noopener noreferrer" target="_blank">
                                    Stephanie Chapman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small amphitheater built atop a balcony in the Villa Rufolo's Gardens high above the Amalfi Coast in Ravello"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Ravello-Villa-Rufolo-Amphitheater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Rufolo Amphitheater<br />(Ravello)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/ravello-villa-rufolo-amalfi-1830149/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/BeaTowers-2093054/" rel="noopener noreferrer" target="_blank">
                                    BeaTowers</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Amalfi coastline from the Villa Rufolo's Amphitheater in Ravello, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Ravello-Villa-Rufolo-Amphitheater-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Rufolo Amphitheater<br />(Ravello)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/danielenchev/32539012173/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/danielenchev/" rel="noopener noreferrer" target="_blank">
                                    Daniel Enchev</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely rustic exterior of the Duomo di Ravello Cathedral in the Amalfi Coast town of Ravello"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Ravello-Duomo-di-Ravello-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ravello Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ravello_cathedral.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jensens" rel="noopener noreferrer" target="_blank">
                                    Jensens</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sculptures along the balcony of Villa Cimbrone's Terrazza dell'Infinito terrace offering views high above the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Ravello-Villa-Cimbrone-Terrazza-dell-Infinito-Terrace-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Terrazza dell'Infinito Terrace<br />(Ravello)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ravello_-_Villa_Rufolo_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Meho29" rel="noopener noreferrer" target="_blank">
                                    	Mihael Grmek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Ravello, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ravello"></a>
        <h2 class="left-heading destination-section-heading">Ravello, Italy</h2>
        <p>On a mountaintop above steep cliffs along the coast is the gorgeous village of Ravello, one of the most popular tourist stops along the Amalfi Coast due to its incredible natural views and terraced gardens overlooking the coast from high above.</p>
        <h3>Villa Rufolo</h3>
        <p>Ravello’s top attraction is the <strong>Villa Rufolo</strong>, a rustic 13th century villa with terraced gardens offering breathtaking views overlooking the Amalfi Coast. This villa features impressive Moorish-style architecture and lovely gardens overlooking the sea. The Villa Rufolo even hosts a mini-amphitheater with seats facing out to the sea, which is used for small-scale events.</p>
        <h3>Ravello Cathedral</h3>
        <p>Adjacent to the Villa Rufolo is the charming Duomo di Ravello (or <strong>Ravello Cathedral</strong>), inside which you can admire intricate mosaics and sculptures. You can also walk down the hill behind the cathedral to a balcony viewpoint overlooking the coast next to the Villa Rufolo, called the Panorama Amalfi Coast.</p>
        <h3>Terrazza dell'Infinito</h3>
        <p>At the southern end of Ravello is the lavish Villa Cimbrone Hotel, which you can pay a small fee to visit as a non-guest in order to access the hotel’s beautiful cliffside gardens. Villa Cimbrone is known for its <strong>Terrazza dell'Infinito</strong> (Terrace of Infinity), a stunning terrace lined with statues from which you can enjoy breathtaking views over the Amalfi Coast. The gardens leading up to Ravello’s Terrace of Infinity are also very scenic.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amalfi Coast 5 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="2084985205"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Minori, Maiori, and Cetara, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking over the beach and coastline of the village of Minori along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Minori-Village-West-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Minori Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Minori.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Minori.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    ApicellaOslo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Room inside the ancient Roman ruins of the Villa Romana and Antiquarium in the Amalfi Coast village of Minori"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Minori-Villa-Romana-Roman-Ruins-and-Antiquarium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Romana Ancient Ruins<br />(Minori)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Le_famose_terme_della_Villa.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Le_famose_terme_della_Villa.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Anna Socci</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Illuminated night-time view of the beach below the Amalfi Coast Village of Cetara"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Cetara-Beach-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cetara Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alebonvini/4254439076/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alebonvini/" rel="noopener noreferrer" target="_blank">
                                    Alessandro Bonvini</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Coastal view overlooking Cetara beach and the Torre di Cetara tower along the Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Cetara-Torre-di-Cetara-Tower-and-Coastline.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torre di Cetara Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gianfrancovitolo/34112055423/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gianfrancovitolo/" rel="noopener noreferrer" target="_blank">
                                    Gianfranco Vitolo</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Minori and Maiori, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="minori-and-maiori"></a>
        <h2 class="left-heading destination-section-heading">Minori &amp; Maiori, Italy</h2>
        <h3>Minori, Italy</h3>
        <p>Along the Amalfi Coast below Ravello is the tiny village of Minori, which hosts the scenic Minori Beach, and the elegant baroque-style Basilica di Sant Trofimena. Minori also hosts ancient ruins of the <strong>Roman Villa and Antiquarium</strong>, which you can freely explore. This small villa is a lovely hidden gem with many interesting preserved elements.</p>
        <h3>Path of the Lemons</h3>
        <p>From Minori you can take an incredibly scenic walk above the coastline via the Sentiero Dei Limoni (Path of the Lemons), a hiking trail which passes by the tiny village of Torre while straddling along the hillside high above the ocean.</p>
        <p>The Path of the Lemons connects to the much larger neighboring town of Maiori, concluding in Maiori’s center at the beautiful Collegiate Church of Santa Maria a Mare. You’ll find the beginning of this pathway about a block behind Minori’s Basilica di Sant Trofimena. From church to church, the one-way length of the Path of the Lemons is only about 1.2 miles (1.9 km).</p>
        <h3>Maiori, Italy</h3>
        <p>The town of Maiori is known for its long Panorama Beach along the Amalfi Coast, which is lined with a scenic boardwalk along which are many restaurants and bars. Along Maiori’s boardwalk you can enjoy picturesque views looking up and down the Amalfi Coast. Maiori also hosts the charming Collegiate Church of Santa Maria a Mare. Behind the church you can admire the beautiful pools and flowers of the Palazzo Mezzacapo Gardens.</p>
    </section>


    <!-- Cetara, Italy Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="cetara"></a>
        <h2 class="left-heading destination-section-heading">Cetara, Italy</h2>
        <p>Much further east along the coast is the village of Cetara, which is located just before the last town along the Amalfi Coast, Vietri sul Mare, which serves the region by connecting it to Naples and Salerno via train.</p>
        <p>In Cetara you’ll find the beautiful small <strong>Cetara Beach</strong> with vibrant blue waters next to the Porto di Cetara marina. From the harbor walls at the Porto di Cetara you can enjoy amazing views of the village. Atop the cliffs above the other side of Cetara’s beach is a photogenic medieval structure, the <strong>Torre di Cetara</strong>. You can climb to the top of Cetara’s medieval tower for picturesque views overlooking the coast.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amalfi Coast 6 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="1162500367"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Paestum Archaeological Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="The two well-preserved ancient Greek Temples of Hera at Italy's Paestum Archaeological Park in Salerno Province"
                        data-src="https://www.travelimager.com/images/italy/Italy-Salerno-Province-Paestum-Paestum-Archaeological-Park-Temples-of-Hera.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temples of Hera<br />(Paestum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Veduta_di_Paestum_2010.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Oliver-Bonjoch" rel="noopener noreferrer" target="_blank">
                                    Oliver-Bonjoch</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ancient Greek Temple of Hera II (or Temple of Poseidon) at Italy's Paestum Archaeological Park"
                        data-src="https://www.travelimager.com/images/italy/Italy-Salerno-Province-Paestum-Paestum-Archaeological-Park-Temple-of-Hera-II-Poseidon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Poseidon / Hera&nbsp;II<br />(Paestum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hera_temple_II_-_Paestum_-_Poseidonia_-_July_13th_2013_-_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:NorbertNagel" rel="noopener noreferrer" target="_blank">
                                    Norbert Nagel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressively well-preserved ancient Greek ruins of the Temple of Hera I at Italy's Paestum Archaeological Site"
                        data-src="https://www.travelimager.com/images/italy/Italy-Salerno-Province-Paestum-Paestum-Archaeological-Park-Temple-of-Hera-I.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Hera I<br />(Paestum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hera_temple_I_-_Paestum_-_Poseidonia_-_July_13th_2013_-_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:NorbertNagel" rel="noopener noreferrer" target="_blank">
                                    Norbert Nagel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of the massive ancient Greek columns of the Temple of Hera I at the Paestum Archaeological Park in Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Salerno-Province-Paestum-Paestum-Archaeological-Park-Temple-of-Hera-I-Columns-Close-Up.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Hera I Columns<br />(Paestum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hera_Paestum_03.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MiguelHermoso" rel="noopener noreferrer" target="_blank">
                                    Miguel Hermoso Cuesta</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking ancient Greek ruins of the Temple of Athena at the Paestum Archaeological Park in Salerno Province, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Salerno-Province-Paestum-Paestum-Archaeological-Park-Temple-of-Athena.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Athena<br />(Paestum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/wiki/File:Paestum_BW_2013-05-17_14-06-01.jpg" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Berthold_Werner" rel="noopener noreferrer" target="_blank">
                                    Berthold Werner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Paestum Archaeological Park, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="paestum"></a>
        <h2 class="left-heading destination-section-heading">Paestum Archaeological Park</h2>
        <p>Approximately 1-2 hours via train and/or bus from the Amalfi Coast town of Vietri sul Mare (with the train station) are the stunning Ancient Greek ruins of the Paestum Archaeological Park. By car, Paestum is about 1 hour from Vietri sul Mare. Just south of the archaeological park is the small but popular beach resort town of Paestum with its long sandy beaches.</p>
        <p>The Paestum Archaeological Park is a UNESCO world heritage site which hosts three of the most incredibly well-preserved Ancient Greek temples in the world, which are between 2,500-2,600 years old. The massive temples at Paestum were built as part of the Ancient Greek settlement of Poseidonia.</p>
        <h3>Paestum Temples</h3>
        <p>Confusingly, two of the three temples are both called the Temple of Hera, with the second Temple of Hera also sometimes referred to as the Temple of Neptune. This <strong>Temple of Hera II</strong> remains incredibly intact, with all of its outer columns still standing as well as most of its outer roof. Most of the columns of the <strong>Temple of Hera I</strong> area also intact, however no roof remains.</p>
        <p>The third temple at Paestum is the <strong>Temple of Athena</strong>, which also has all of its columns intact and a small portion of its roof. The site at Paestum also features the foundations and ruins of many other structures and temples, many of which were built by the later ancient Roman residents of Pasetum.</p>
        <h3>Paestum Museum</h3>
        <p>Be sure to also visit the National Archaeological Museum of Paestum for further context of these incredible ancient structures. This museum houses many incredible artifacts found at the site as well, including beautiful pottery and statues.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amalfi Coast Bottom -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="9746076700"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Amalfi Coast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/44YxxZPCFJZyrQ6a8">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hMmu969f1kPi9uGc7">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/capri-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view over Capri stretching to the Sorrentine Peninsula and Italian Mainland from Capri Island's Monte Solaro"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Monte-Solaro-Statue-and-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/capri-attractions-guide">
                        Capri Island
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/99852712@N04/28715129842/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/99852712@N04/" rel="noopener noreferrer" target="_blank">
                            Veselina Dzhingarova</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/pompeii-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman streets lined with ruins of houses and buildings buried by the eruption of Mount Vesuvius at Pompeii, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Pompeii-Pompeii-Archaeological-Park-Via-di-Nola-Street.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/pompeii-attractions-guide">
                        Pompeii
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pompeii-italy-roman-ancient-travel-2375135/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Graham-H-5475750/" rel="noopener noreferrer" target="_blank">
                            Graham-H</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/naples-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Incredible view from Sant'Elmo Castle overlooking the city and coastline of Naples, Italy with Mount Vesuvius in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Naples-Castel-Sant-Elmo-Castle-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/naples-attractions-guide">
                        Naples (Napoli)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Certosa_desde_Sant%27Elmo_10.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MiguelHermoso" rel="noopener noreferrer" target="_blank">
                            Miguel Hermoso Cuesta</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/rome-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman Colosseum seen illuminated just after sunset in Rome, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Rome-Roman-Colosseum.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/rome-attractions-guide">
                        Rome
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/turyddu/8426009187/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/turyddu/" rel="noopener noreferrer" target="_blank">
                            Umberto Rotundo</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    