<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Marina Piccola Beach waters and Faraglioni rocks, island of Capri, Italy Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Piccola-Sunset-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions on the island of Capri, Italy, and plan the perfect trip with our savable Capri Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="capri_italy" />
    <meta name="europe_attraction_guides" content="capri_italy" />
    <meta name="europe_destinations" content="capri_italy" />
    <meta name="europe_destination_guides" content="capri_italy" />
    <meta name="italy_attraction_guides" content="capri" />
    <meta name="italy_destinations" content="capri" />
    <meta name="italy_destination_guides" content="capri" />
    <meta name="google_maps_list" content="capri" />
    <meta property="og:title" content="Capri, Italy Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Piccola-Sunset.jpg">
    <meta name="twitter:title" content="Capri, Italy Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Piccola-Sunset.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/italy/capri-attractions-guide">
    <title>Attractions Guide for Capri, Italy</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Capri, Italy<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#marina-grande-and-piazzetta">Marina Grande</a></div>
            <div><a href="#viewpoints">Viewpoints</a></div>
            <div><a href="#marina-piccola">Marina Piccola</a></div>
            <div><a href="#east-capri-villas">East Capri Villas</a></div>
            <div><a href="#villa-san-michele">Villa San Michele</a></div>
            <div><a href="#monte-solaro">Monte Solaro</a></div>
            <div><a href="#boat-tours">Boat Tours</a></div>
            <div><a href="#faraglioni">Faraglioni</a></div>
            <div><a href="#sea-caves">Sea Caves</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Capri Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Capri is an incredibly scenic and mountainous island located just off of Italy’s Amalfi Coast and the city of Naples. Due to its tiny size, Capri is only accessible by ferry boat, which run very frequently connecting to Naples and Sorrento, as well as the Amalfi Coast towns of Positano, Amalfi, Minori, Maiori, and Cetara.</p>
        <p>The island of Capri hosts several beautiful rustic villages, and a stunning coastline with with several sea caves and rocky islands which you can see via boat tours. Capri also hosts many lavish villas, as s well as some great hiking and many viewpoints overlooking the coast from atop the island’s high cliffs.</p>
    </section>


    <!-- Marina Grande and Piazzetta Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Picturesque sea view of Capri Island's Marina Grande Harob" 
                        src="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Grande-Harbor-View-West.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Grande Harbor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/capri-italy-mediterranean-coast-2584749/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/falco-81448/" rel="noopener noreferrer" target="_blank">
                                    falco</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Golden hour colors over Capri's Marina Grande Harbor seen from a boat off the Italian island"
                        src="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Grande-Harbor-View-East.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Grande Harbor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/capri-ada-italy-panorama-beach-1902468/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/toocheesh-3202210/" rel="noopener noreferrer" target="_blank">
                                    toocheesh</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Capri's hilltop Piazzetta / Piazza Umberto I square offering views over Capri Island's coastline"
                        src="https://www.travelimager.com/images/italy/Italy-Capri-Piaza-Umberto-I-Piazzetta.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazzetta (Piazza&nbsp;Umberto&nbsp;I)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Capri_Centre_Belvedere.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Paolostefano1412" rel="noopener noreferrer" target="_blank">
                                    Paolo Costa Baldi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Monte Solaro rising above the coastline of Capri's Marina Grande seen from Piazzetta / Piazza Umberto I" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Piaza-Umberto-I-Piazzetta-View-North.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazzetta View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Capri_Centre_Belvedere.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Paolostefano1412" rel="noopener noreferrer" target="_blank">
                                    Paolo Costa Baldi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking the Faraglioni Sea Rocks and Marina Piccola from Capri's Gardens of Augustus"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Gardens-of-Augustus-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gardens of Augustus View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/italy-capri-panorama-port-2484493/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/DEZALB-1045091/" rel="noopener noreferrer" target="_blank">
                                    DEZALB</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Marina Grande and Piazzetta Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="marina-grande-and-piazzetta"></a>
        <h2 class="left-heading destination-section-heading">Marina Grande &amp; Piazzetta</h2>
        <p>Capri’s main port is the <strong>Marina Grande</strong>, where all the ferries to the island arrive. Approaching the island you’ll be able to appreciate the island’s beauty rather quickly.</p>
        <p>From Marina Grande you can walk up the hill to the island’s main <strong>Piazzetta</strong> square, also known as Piaza Umberto I, from which you can enjoy stunningly picturesque views overlooking the coastline from high above. The Piazzetta square is the most urbanized part of the island, and in this area you’ll find many restaurants, cafes, bars, shops, and hotels.</p>
        <p>From Piazzetta you can walk/hike along to several incredible viewpoints overlooking the coastline of the southern side of the island (above Marina Piccola). By far the most popular viewpoint and among the top attractions in Capri are the <strong>Gardens of Augustus</strong>, a lovely clifftop botanical garden offering breathtaking views over the coast and the iconic Faraglioni rock islands.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capri 1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="8608254853"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Capri Viewpoints, Marina Piccola, and East Capri Villas Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Marina Piccola and Capri's coastline seen from the Belvedere Tragara along Via Tragara street"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Via-Tragara-Belvedere-Tragara-View-West.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belvedere Tragara View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/blok70/23605067643" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/blok70/" rel="noopener noreferrer" target="_blank">
                                    VV Nincic</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the stunning Arco Naturale (Natural Arch) along the coastal cliffs above Italy's Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Arco-Naturale-Natural-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arco Naturale (Natural&nbsp;Arch)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Arco_Naturale.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Kemmsche" rel="noopener noreferrer" target="_blank">
                                    Kemmsche</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Breathtaking sunset view overlooking Capri's Marina Piccola and the island's coastline"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Piccola-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Piccola</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jikatu/37639825755/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jikatu/" rel="noopener noreferrer" target="_blank">
                                    Jimmy Baikovicius</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant light blue waters of Marina Piccola Beach on Italy's Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Marina-Piccola-Beach-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marina Piccola Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/capri-sea-italy-faraglioni-horizon-387830/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/lena1-326348/" rel="noopener noreferrer" target="_blank">
                                    lena1</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Roman ruins of the Villa Jovis built by Roman Emperor Tiberius atop the cliffs of Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Villa-Jovis-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Jovis</strong><br />
                        <span class="owl-item-credits">
                            <a href="flickr.com/photos/87224403@N00/3571767811/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/psychs/" rel="noopener noreferrer" target="_blank">
                                    Satoshi Nakagawa</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Statue on a terrace in front of stunning views overlooking Capri Island seen from the Villa Lysis Gardens"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Villa-Lysis-Garden-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Lysis Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villa_Lysis_2631.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gerd_Fahrenhorst" rel="noopener noreferrer" target="_blank">
                                    Gerd Fahrenhorst</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Capri Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Capri Viewpoints</h2>
        <h3>Belvedere Tragara</h3>
        <p>From Piazzetta you can walk about 1.2 miles (2km) round-trip to reach the <strong>Belvedere Tragara</strong> observation deck, another gorgeous viewpoint overlooking the sea from high above, very close to the Faragloni sea rocks. Just below this viewpoint is Via Tragara, a road that you can walk along for many more vantage points along the coast.</p>
        <h3>Arco Naturale</h3>
        <p>From Via Tragara you can connect to the pathway of Via del Pizzolungo, which follows along the clifftops above the coast with many more incredible views along the way. Eventually this path connects to the Via Arco Naturale, which concludes at a viewpoint overlooking the stunning <strong>Arco Naturale</strong> (Natural Arch) formation framed against the ocean in the background.</p>
        <p>Continuing along this path from Belvedere Tragara to Arco Naturale is about 0.9 miles (1.4 km), and then another 0.8 miles (1.3 km) to return to Piazzetta Square from Arco Naturale.</p>
        <h3>Punta Cannone</h3>
        <p>From Capri’s Piazzetta you can also walk to Via Castello and onto a smaller road, continuing down to the end of the road to reach the Belvedere of Punta Cannone, an observation deck with similar views to the Gardens of Augustus overlooking Marina Piccola and Faraglioni. The walk to reach this viewpoint is about 10-15 minutes each way but also a little tricky to find.</p>
    </section>


    <!-- Marina Piccola Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="marina-piccola"></a>
        <h2 class="left-heading destination-section-heading">Marina Piccola</h2>
        <p>Below the Gardens of Augustus is Capri’s <strong>Marina Piccola Beach</strong>, which is small but has beautiful vibrant blue waters. Technically the beach is connected to the Gardens by the Via Krupp pathway, however due to the steep cliffs this pathway is always closed due to the danger of falling rocks. Instead you’ll have walk around to reach Marina Piccola, which is about 0.7 miles (1.1 km) away from Piazzetta by walking.</p>
    </section>



    <!-- East Capri Villas Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="east-capri-villas"></a>
        <h2 class="left-heading destination-section-heading">East Capri Villas</h2>
        <h3>Villa Jovis</h3>
        <p>Among Capri’s most interesting and oldest attractions is the <strong>Villa Jovis</strong> (Villa of Jupiter), which was built by the Ancient Roman Emperor Tiberius 2,000 years ago. While the villa is considered to be ruins, much of the structural elements remain and are open for exploration. You can also enjoy scenic views from Villa Jovis looking eastward from Capri towards the Sorrentine Peninsula on the Italian mainland.</p>
        <p>The hike from Villa Jovis from Piazzetta is quite steep, with a distance of about 2.7 miles (4.4 km) round-trip.</p>
        <h3>Vila Lysis</h3>
        <p>If you hike all the way up to Villa Jovis, you should also strongly consider visiting the nearby <strong>Villa Lysis</strong>. There is a somewhat hidden primitive trail connecting the two villas, which is sometimes closed. If this is the case, you’ll add about (2 km) to your entire round-trip route from Piazzetta to see both villas.</p>
        <p>The Villa Lysis displays a neoclassical architectural style built atop the cliffs high above the coast. Much more impressive than the villa’s interior is the villa’s lovely gardens, which hosts fine statues and a beautiful terrace with white columns offering picturesque views overlooking Marina Grande and the northern side of Capri’s coastline.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capri 2 -->
            <ins class="adsbygoogle"
                style="display:block"
                data-ad-client="ca-pub-4475491996225753"
                data-ad-slot="2363067245"
                data-ad-format="auto"
                data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>



    <!-- Villa San Michele and Monte Solaro Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible views overlooking Capri and the nearby Sorrentine Peninsula seen from the Phoenician Steps path"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Phoenician-Steps-Scala-Fenicia-Pathway-View-over-Capri.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Phoenician Steps View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amalfi-capri-italy-port-1031876/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/GregMontani-1014946/" rel="noopener noreferrer" target="_blank">
                                    GregMontani</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful lush walkway of Capri's Villa San Michele Gardens"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Villa-San-Michele-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa San Michele Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregerravik/36174260546/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregerravik/" rel="noopener noreferrer" target="_blank">
                                    Greger Ravik</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning views overlooking Capri from high above seen from the Gardens of Villa San Michele"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Villa-San-Michele-Gardens-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa San Michele Gardens View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/wiki/File:Overlooking_Capri_harbour_from_the_rotunda_in_Villa_San_Michele_Anacapri_BW_2013-05-14_13-55-21.jpg" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Berthold_Werner" rel="noopener noreferrer" target="_blank">
                                    Berthold Werner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque views over Capri stretching to the Sorrentine Peninsula and Italian Mainland from Capri Island's Monte Solaro"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Monte-Solaro-Statue-and-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monte Solaro View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/99852712@N04/28715129842/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/99852712@N04/" rel="noopener noreferrer" target="_blank">
                                    Veselina Dzhingarova</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Capri, the Faraglioni, Sorrentine Peninsula, and Italian Mainland seen from atop Capri's highest point, Monte Solaro"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Monte-Solaro-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monte Solaro View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Capri_Portrait.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mgimelfarb" rel="noopener noreferrer" target="_blank">
                                    Michael Himmelfarz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Villa San Michele Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="villa-san-michele"></a>
        <h2 class="left-heading destination-section-heading">Villa San Michele</h2>
        <h3>Phoenician Steps</h3>
        <p>Another popular hiking route on Capri is along the <strong>Phoenician Steps</strong> (or Scala Fenicia) pathway, a long staircase up the side of a mountain which connects Marina Grande to the village of Anacapri. Along this path you can enjoy amazing views overlooking Marina Grande, with views reaching out to the Sorrentine Peninsula of Mainland Italy.</p>
        <h3>Villa San Michele</h3>
        <p>At the top of the Venetian Steps in Anacapri is Capri’s most popular villa, the early 20th century <strong>Villa San Michele</strong>. Inside the Villa San Michele you can admire its lavish furnishings, before walking through its beautiful gardens and admiring one of the most gorgeous views in Capri overlooking the coast and the Italian mainland.</p>
    </section>


    <!-- Monte Solaro Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="monte-solaro"></a>
        <h2 class="left-heading destination-section-heading">Monte Solaro</h2>
        <p>Nearby the Villa San Michele at Piazza Vittoria is the chairlift station which takes visitors up to the top of <strong>Monte Solaro</strong> mountain, the highest peak on Capri. If you want a rather challenging hike, its also possible to reach Monte Solaro via a steep hiking trail, which takes about 45 minutes to 1 hour each way.</p>
        <p>Obviously from the top of Monte Solaro you can enjoy the best views in Capri, with breathtaking panoramic coastal views over Capri reaching far over mainland Italy’s Sorrentine Peninsula.</p>
        <h3>Hermitage of Santa Maria Cetrella</h3>
        <p>The most popular trail on Monte Solaro is to the quaint 16th century Hermitage of Santa Maria of Cetrella, which provides even more perspectives overlooking Capri’s incredibly picturesque coastline. The trail to reach the Hermitage is approximately 0.8 miles (1.3 km) one-way from the Monte Solaro Chair Lift Station.</p>
        <p>After hiking down a bit from the summit of Monte Solaro you’ll reach a fork in the trail, with one side leading to the Hermitage (right fork) and the other leading back down to Anacapri (left fork). The distance from the Hermitage of Santa Maria of Cetrella to the Villa San Michele is a steep one-way distance of about 1.2 miles (2 km).</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capri 3 -->
         <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4475491996225753"
             data-ad-slot="5884629414"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
         <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
         </script>
     </div>



    <!-- Caves and Faraglioni Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant Faraglioni Sea Rocks and sea arch just off the coast of Italy's Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Faraglioni-di-Capri-Sea-Arch-Ocean-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Faraglioni Sea Rocks</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/faraglioni-rock-felsentor-capri-2582525/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/MonikaP-2515080/" rel="noopener noreferrer" target="_blank">
                                    MonikaP</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sea cave below tall cliffs known as the Grotta Bianca (White Cave) along the coast of Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Grotta-Bianca-White-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grotta Bianca (White&nbsp;Cave)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/capri-italy-coast-mediterranean-3521973/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/falco-81448/" rel="noopener noreferrer" target="_blank">
                                    falco</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking light blue waters outside the entrance to the Grotta Verde (Green Cave) along the coast of Italy's Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Grotta-Verde-Green-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grotta Verde (Green&nbsp;Cave)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Capri_(Italien);_Grotta_verde_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Colling-architektur" rel="noopener noreferrer" target="_blank">
                                    Colling-architektur</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant naturally illuminated deep-blue waters of the Grotta Azzurra (Blue Cave) of Italy's Capri Island"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Grotta-Azzurra-Blue-Cave-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grotta Azzurra (Blue&nbsp;Cave)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/photographerglen/5963978964/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/photographerglen/" rel="noopener noreferrer" target="_blank">
                                    Glen Scarborough</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tour boats atop the glowing deep blue waters of Capri's Grotta Azzurra (Blue Cave)"
                        data-src="https://www.travelimager.com/images/italy/Italy-Capri-Grotta-Azzurra-Blue-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grotta Azzurra (Blue&nbsp;Cave)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hilberer/6350932917" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hilberer/" rel="noopener noreferrer" target="_blank">
                                    Thilo Hilberer</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    

    <!-- Boat Tours Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="boat-tours"></a>
        <h2 class="left-heading destination-section-heading">Boat Tours</h2>
        <p>Several amazing attractions sit below the tall cliffs of Capri, or just off the island’s coast, including several “grotta” sea caves, and the Faraglioni sea rocks. From Capri’s Marina Grande you can take a boat tour around the island’s entire coastline, which stops at all of Capri’s most beautiful coastal features.</p>
        <p>Some of the attractions you can see on Capri look very different and much more beautiful from the ocean, such as the Tiberius’ Leap next to Villa Jovis and the quaint Punta Carena Lighthouse on the island’s southwestern tip.</p>
    </section>


    <!-- Faraglioni Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="faraglioni"></a>
        <h2 class="left-heading destination-section-heading">Faraglioni Sea Rocks</h2>
        <p>One of Capri’s most famous attractions are the <strong>Faraglioni</strong> sea rocks located just off the coast of the island. These highly photogenic and massive rocks tower above the sea, and one even has a natural arch that smaller boats can go through. It’s actually quite difficult to see this Faraglioni arch from Capri, which is one of the main sights along a boat tour around Capri.</p>
        <p>One of the Faraglioni is actually connected to Capri with a tiny beach called Da Luigi, which you can hike down to from the Via Tragara road. Adjacent is the La Fontelina beach, which offers great views of the Faraglioni. Both of these beaches are very rocky but also rent out seats for beachgoers.</p>
    </section>


    <!-- Sea Caves Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="sea-caves"></a>
        <h2 class="left-heading destination-section-heading">Sea Caves</h2>
        <h3>Grotta Bianca &amp; Grotta Verde</h3>
        <p>The only way to see the stunning sea caves of Capri is via a boat tour. The <strong>Grotta Bianca</strong> (White Cave) is quite massive, much taller than any boat that visits it. Below Monte Solaro is the popular <strong>Grotta Verde</strong> (Green Cave) hosts vivid greenish-blue waters below a small cave that opens up on both sides. Some boat tours even allow tourists to swim in these stunning waters underneath the roof of the cave.</p>
        <h3>Grotta Azzurra</h3>
        <p>Capri’s most famous sea cave is the <strong>Grotta Azzurra</strong> (Blue Cave), which is known for its unreal naturally-illuminated vibrant blue waters. This cave is large however the entrance is very small, and so only very small boats can enter the Blue Cave. Some of the tour boats that encircle Capri Island will have tourists transfer to smaller boats in order to see inside the cave, so make sure yours does.</p>
        <p>If you wish to only see the Grotta Azzurra (Blue Cave) by itself, you can head down to the northwestern coastline of Anacapri and take a very short boat tour to see inside the cave. The downside is that the lines for this method of seeing the caves are often quite long. Either way, it’s highly recommended to see Capri’s Blue Cave, as it’s quite an incredible sight.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capri Bottom -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="9788640438"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Capri Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/4LKqpCwDgAHyM69P7">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/s8rkQxhufRG8tdxo8">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/amalfi-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Looking down the coastline along Positano's Spiaggia Beach below the village of Positano along Italy's Amalfi Coast"
                        data-src="https://www.travelimager.com/images/italy/Italy-Amalfi-Coast-Positano-Positano-Spiaggia-Beach-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/amalfi-coast-attractions-guide">
                        Amalfi Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.pexels.com/photo/photography-of-beach-near-mountain-919233/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.pexels.com/@myersmc16" rel="noopener noreferrer" target="_blank">
                            Gotta Be Worth It</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/naples-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Incredible view from Sant'Elmo Castle overlooking the city and coastline of Naples, Italy with Mount Vesuvius in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Naples-Castel-Sant-Elmo-Castle-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/naples-attractions-guide">
                        Naples (Napoli)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Certosa_desde_Sant%27Elmo_10.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MiguelHermoso" rel="noopener noreferrer" target="_blank">
                            Miguel Hermoso Cuesta</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/pompeii-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman streets lined with ruins of houses and buildings buried by the eruption of Mount Vesuvius at Pompeii, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Pompeii-Pompeii-Archaeological-Park-Via-di-Nola-Street.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/pompeii-attractions-guide">
                        Pompeii
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pompeii-italy-roman-ancient-travel-2375135/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Graham-H-5475750/" rel="noopener noreferrer" target="_blank">
                            Graham-H</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/rome-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman Colosseum seen illuminated just after sunset in Rome, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Rome-Roman-Colosseum.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/rome-attractions-guide">
                        Rome
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/turyddu/8426009187/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/turyddu/" rel="noopener noreferrer" target="_blank">
                            Umberto Rotundo</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    