<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Sunset view overlooking Central Florence from Piazzale Michelangelo, Firenze / Florence, Italy Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Florence, Italy, and plan the perfect trip with our savable Florence Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="florence_italy" />
    <meta name="europe_attraction_guides" content="florence_italy" />
    <meta name="europe_destinations" content="florence_italy" />
    <meta name="europe_destination_guides" content="florence_italy" />
    <meta name="italy_attraction_guides" content="florence" />
    <meta name="italy_destinations" content="florence" />
    <meta name="italy_destination_guides" content="florence" />
    <meta name="google_maps_list" content="florence" />
    <meta property="og:title" content="Florence, Italy Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg">
    <meta name="twitter:title" content="Florence, Italy Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/italy/florence-attractions-guide">
    <title>Attractions Guide for Florence, Italy</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Florence, Italy<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#piazza-del-duomo">Piazza del Duomo</a></div>
            <div><a href="#medici-palace-and-chapel">Medici</a></div>
            <div><a href="#ponte-vecchio-bridge">Ponte Vecchio</a></div>
            <div><a href="#piazzas-and-palazzos">Piazzas &amp; Palazzos</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#piazzale-michelangelo">Piazzale Michelangelo</a></div>
            <div><a href="#pitti-palace-and-gardens">Pitti Palace</a></div>
            <div><a href="#churches">Churches</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Florence Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Florence (or Firenze) is the capital of Italy’s Tuscany region and is a stunningly picturesque city with many of the attractions in its historic center making up a major UNESCO world heritage site. The city of Florence was the birthplace of the European Renaissance, attracting many famous historic figures such as Michelangelo, Leonardo da Vinci, and Raphael.</p>
        <p>Florence hosts many beautiful churches and important museums, and the entire city is quite scenic with lovely rustic buildings and old palaces throughout its center. Italy’s Tuscany region is also world-renowned for its cuisine and wine.</p>
    </section>


    <!-- Piazza del Duomo Florence Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Tourists crowding the popular Piazza del Duomo below the towering Florence Cathedral and Giotto's Bell Tower" 
                        src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Florence-Cathedral-and-Giottos-Bell-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazza del Duomo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/florence-duomo-tower-baptistry-2104754/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Distant view of the massive Florence Cathedral and its dome seen from Piazzale Michelangelo in Florence, Italy"
                        src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Duomo-Florence-Cathedral-and-Rooftops-Distant-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Florence Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/florence-italy-city-urban-skyline-1747356/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunningly ornate marble exterior of the Florence Cathedral's chapel along the Piazza del Duomo"
                        src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Duomo-Florence-Cathedral-Chapel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Florence Cathedral Chapel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/florence-duomo-italy-cathedral-1784196/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/gunthersimmermacher-3009479/" rel="noopener noreferrer" target="_blank">
                                    gunthersimmermacher</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the intricate Renaissance-era frescoes painted on the Brunelleschi Dome of the Florence Cathedral"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Florence-Cathedral-Brunelleschi-Dome-Interior-Frescoes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brunelleschi's Dome Interior<br />(Florence&nbsp;Cathedral)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dome_of_Cattedrale_di_Santa_Maria_del_Fiore_(Florence).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Livioandronico2013" rel="noopener noreferrer" target="_blank">
                                    Livioandronico2013</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Florence Cathedral's Brunelleschi Dome seen from Giotto's Bell Tower in Florence, Italy" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Florence-Cathedral-Brunelleschi-Dome-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brunelleschi's Dome<br />(Florence&nbsp;Cathedral)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kyz/8200850965" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kyz/" rel="noopener noreferrer" target="_blank">
                                    Stuart Caie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Giotto's Bell Tower and Piazza del Duomo seen from the Florence Cathedral's Brunelleschi Dome observation deck"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Giottos-Bell-Tower-View-from-Brunelleschi-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Giotto's Bell Tower<br />(Florence&nbsp;Cathedral)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/larry1732/28328121688" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/larry1732/" rel="noopener noreferrer" target="_blank">
                                    Larry Lamsa</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the highly intracte mosaic designs on the octaganal dome ceiling of Florence's Baptistery of St. John"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Battistero-di-San-Giovanni-Baptistery-of-St-John-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Baptistery of St. John Dome</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Firenze_-_Battistero,_mosaici.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Luca_Aless" rel="noopener noreferrer" target="_blank">
                                    Luca Aless</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Incredible Renaissance statues and sculptures from the Florence Cathedral displayed within the Museo dell'Opera Museum"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-del-Duomo-Museo-dell-Opera-del-Duomo-Museum-of-Opera-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museo dell'Opera<br />Cathedral Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Nuovo_museo_dell%27opera_del_duomo,_sala_del_facciatone_e_delle_porte_del_battistero_04.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Piazza del Duomo Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="piazza-del-duomo"></a>
        <h2 class="left-heading destination-section-heading">Piazza del Duomo</h2>
        <p>Florence’s <strong>Piazza del Duomo</strong> hosts the city’s famous Florence Cathedral, Giotto’s Bell Tower, the Baptistery of St. John, and the Opera Museum of sculptures. Due to their popularity, these attractions can often have long lines and even be sold out for the entire day. It’s highly recommended to pre-book a combination ticket, which includes all of the attractions around Florence’s Piazza del Duomo.</p>
        <h3>Florence Cathedral</h3>
        <p>The <strong>Florence Cathedral</strong> (or Duomo di Firenze) is Florence’s most iconic attraction apart from Michelangelo’s statue of David. This stunning 13th century church towers above the skyline, and its famous dome is the largest brick dome in the entire world. The Florence Cathedral rises high above the Piazza del Duomo and consists of several amazing structures.</p>
        <p>The cathedral’s exterior is a marvel in itself when viewed from below, with its black stripes and outlines covering the white marble walls mixed with pinkish-red and green marble, creating a stunning visual effect. Within the cathedral is a massive space, as well as the intricately painted frescoes of the cathedral’s dome that you can look up at and admire. The cathedral also hosts the tomb of Brunelleschi.</p>
        <h3>Brunelleschi’s Dome</h3>
        <p>For an even closer view of the frescoes painted on the Florence Cathedral’s dome, you can climb to the top of the dome, which is separate from visiting the church’s interior. The dome  is often called the <strong>Cupola di Brunelleschi</strong> (Brunelleschi), named for the architect who designed it. From the outside of the dome you can enjoy gorgeous panoramic views overlooking Florence, high above the surrounding buildings.</p>
        <h3>Giotto’s Bell Tower</h3>
        <p>Also iconic is the Florence Cathedral’s massive gothic bell tower, the <strong>Campanile di Giotto</strong> (Giotto’s Bell Tower). You can also climb to the top of the bell tower for fantastic panoramic views over Florence, especially facing the cathedral’s Brunelleschi Dome. The bell tower is actually about 30 feet (10 m) shorter than the cathedral’s dome, but both offer different perspectives overlooking the city.</p>
        <h3>Baptistery of St. John</h3>
        <p>Also on the Piazza del Duomo is the <strong>Battistero di San Giovanni</strong> (Baptistery of Saint John), a stunning octagonal-shaped building with similar exterior marble designs to the adjacent Florence Cathedral. The Baptistery of St. John is among the oldest-standing buildings in Florence, built in the 11th century. The baptistery is renowned for its giant bronze-cast doors, but even more so for its breathtaking and highly intricate mosaics on the baptistery’s octagonal ceiling.</p>
        <h3>Museo dell’Opera del Duomo Museum</h3>
        <p>If you’re wondering why there aren’t many sculptures within the Florence Cathedral, this is because many of them have been removed and are housed at the nearby <strong>Museo dell’Opera del Duomo</strong> (Museum of the Works of the Cathedral), which is located just behind the cathedral. This museum hosts an incredible collection of sculptures and bronzes, with works by the great Michelangelo and Donatello.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence 1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="8475558760"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Medici Palace and Chapel and Ponte Vecchio Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval-era Ponte Vecchio bridge, one of Florence's most iconic attractions spanning the Arno River"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Ponte-Vecchio-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponte Vecchio Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/italy-bridge-water-florence-3984986/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/ErvinGjata-5075933/" rel="noopener noreferrer" target="_blank">
                                    ErvinGjata</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stone bridge of Ponte Santa Trinita spanning the Arno River with Ponte Vecchio Bridge in background in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Ponte-Santa-Trinita-St-Trinity-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponte Santa Trinita Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/ponte-vecchio-florence-italy-1081777/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Mariamichelle-165491/" rel="noopener noreferrer" target="_blank">
                                    Mariamichelle</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Statues and columns lining the Renaissance-era courtyard of the Palazzo Medici Riccardi Palace in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Palazzo-Riccardi-Medici-Palace-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Medici Riccardi<br />Palace Courtyard</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/41099823@N00/6277710776/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/41099823@N00/" rel="noopener noreferrer" target="_blank">
                                    ho visto nina volare</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the massive Basilica of San Lorenzo, also known as the Medici Basilica, in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-di-San-Lorenzo-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of San Lorenzo<br />(Medici)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Exterior_of_the_Basilica_of_San_Lorenzo_-_0828.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Amada44" rel="noopener noreferrer" target="_blank">
                                    Amada44</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the Laurentian Medici Library designed by Michelangelo within the Basilica San Lorenzo in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-di-San-Lorenzo-Interior-Laurentian-Medici-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Laurentian Medici Library<br />(Basilica&nbsp;San&nbsp;Lorenzo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Biblioteca_laurenziana,_sala_lettura_03.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant frescoes covering the dome ceiling within the Medici Chapel inside of Florence's Basilica San Lorenzo"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-di-San-Lorenzo-Interior-Cappelle-Medicee-Medici-Chapel-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medici Chapel Dome<br />(Basilica&nbsp;San&nbsp;Lorenzo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cupola_di_Capelle_Medicee_(La_cappella_dei_Principi),_Dome_of_Medici_Chapel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rectifier99" rel="noopener noreferrer" target="_blank">
                                    Benjamin Janecke</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ponte Vecchio Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ponte-vecchio-bridge"></a>
        <h2 class="left-heading destination-section-heading">Ponte Vecchio Bridge</h2>
        <p>Among Florence’s most iconic attractions is the <strong>Ponte Vecchio</strong>, a picturesque bridge which spans the Arno River that flows through the city. What makes this bridge unique is that it is one of the few medieval bridges to preserve the shops and buildings built along both sides of the bridge, which was common in the Middle Ages. These structures lining the bridge are multiple stories tall, and charmingly rustic in appearance.</p>
        <h3>Ponte Santa Trinita</h3>
        <p>Be sure to walk along the river for the most photogenic views of the Ponte Vecchio. The next bridge along the Arno River after Ponte Vecchio (to the west) is the <strong>Ponte Santa Trinita</strong>, a simple bridge with three arches that was originally designed by Bartolomeo. This bridge is quite lovely, and offer excellent views looking up the river at the nearby Ponte Vecchio.</p>
    </section>


    <!-- Medici Palace and Chapel Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="medici-palace-and-chapel"></a>
        <h2 class="left-heading destination-section-heading">Medici Palace &amp; Chapel</h2>
        <p>The Medici family was one of the most influential families in medieval Europe, rising to power through their wealth and becoming the dukes of Florence and larger Tuscany. The Medicis also produced two queens of France and four popes.</p>
        <p>Florence’s history and status as the center of the Italian Renaissance was greatly influenced by the Medicis, who helped fund the works of Michelangelo, Leonardo da Vinci, and Galileo. Many of Florence’s most beautiful structures might not exist today if not for the Medicis, such as the Uffizi Gallery and Boboli Gardens.</p>
        <h3>Palazzo Medici Riccardi</h3>
        <p>One of the most well-known historic residences of the Medici family is the <strong>Palazzo Medici</strong> (or Medici Palace), which was designed by Batolomeo in Renaissance and Roman styles. The palace’s less flashy exterior is misleading, as the palaces’ interior extravagantly decorated with elegant frescos and murals, especially its Magi Chapel. The palace now operates as a museum, and its stunning inner-cburyard surrounded by arches columns is free to visit.</p>
        <h3>Basilica di San Lorenzo</h3>
        <p>Next to the Palazzo Medici is the <strong>Basilica di San Lorenzo</strong>, a charming rustic 15h century church built atop the remains of a 4th century one, financed and planned by the Medici family. This basilica hosts the Medici Chapel and the <strong>Laurentian Medici Library</strong>. The stunning Medici Library was designed by Michelangelo and hosts the Medici family’s private collection of important books and manuscripts. The library’s most famous feature is its lovely Reading Room.</p>
        <h3>Medici Chapel</h3>
        <p>The basilica’s beautiful <strong>Medici Chapel</strong> is incredibly lavish and covered in colored marble, with an octagonal dome painted with highly ornate frescos. Below the chapel is a crypt for the Medici family, and adjoining the chapel is the smaller Sagrestia Nuova (New Sacristy), a smaller room which along with its sculptures was designed by Michelangelo.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence 2 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="1893413517"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Piazzas and Palazzos Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Brick structures of the Piazza della Signoria including the Loggia dei Lanzi and Palazzo Vecchio palace in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-della-Signoria-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazza della Signoria Plaza</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gaspa/164690798" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gaspa/" rel="noopener noreferrer" target="_blank">
                                    Francesco Gasparetti</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Fountain of Neptune on the Piazza della Signori in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-della-Signoria-Fontana-del-Nettuno-Fountain-of-Neptune.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fountain of Neptune<br />(Piazza della Signoria)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/florence-fountain-italy-italian-2872550/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/mmillswan-5619441/" rel="noopener noreferrer" target="_blank">
                                    mmillswan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Priceless sculptures housed under and around the Loggia dei Lanzi structure on Florence's Piazza della Signoria"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-della-Signoria-Loggia-dei-Lanzi-Statues.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Loggia dei Lanzi<br />(Piazza della Signoria)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Loggia_dei_lanzi,_veduta_da_palazzo_vecchio.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Perfect replica of Michelangelo's Statue of David in front of Florence's Palazzo Vecchio which replaced the original"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-della-Signoria-Statue-of-David-Replica.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Statue of David<br />(Piazza della Signoria)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tipsfortravellers/15868486155" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tipsfortravellers/" rel="noopener noreferrer" target="_blank">
                                    Gary Bembridge</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the castle-like Palazzo Vecchio Palace and its famous clocktower on Florence's Piazza della Signoria"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Palazzo-Vecchio-Palace-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Vecchio Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palazzo_Vecchio_FI.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Palazzo_Vecchio_FI.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Lorenzo Testa</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Yellow building with Renaissance-era triumphal arch along Florence's Piazza della Repubblica"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazza-della-Repubblica-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazza della Repubblica</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/florence-bus-tourist-tourism-italy-2498929/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Piazzas and Palazzos Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="piazzas-and-palazzos"></a>
        <h2 class="left-heading destination-section-heading">Piazzas &amp; Palazzos</h2>
        <h3>Piazza della Signoria</h3>
        <p>Florence’s most famous square (after the Piazza del Duomo) is the nearby <strong>Piazza della Signoria</strong>, a vast open public square. The piazza is surrounded by beautiful historic buildings, most notably the Palazzo Vecchio and the Loggia dei Lanzi.</p>
        <p>The <strong>Loggia dei Lanzi</strong> is like a large structure with four massive arches opening up to the square, hosting an open-air exhibit of incredible sculptures, including the Medici Lions and Benvenuto Cellini’s bronze masterpiece of Perseus.</p>
        <h3>Palazzo Vecchio</h3>
        <p>Among Florence’s most iconic attractions is the <strong>Palazzo Vecchio</strong>, an imposing castle-like palace with a massive clocktower. At the entrance to the Palazzo Vecchio is a perfect replica of Michelangelo’s iconic statue of David, located in the exact same spot where the original stood until the late 19th century. The original has since been moved to Florence’s Galleria dell’Accademia museum.</p>
        <p>The palace’s first courtyard is very lavish with elegant frescoes and a fountain that you can freely walk around and explore. Inside the palace are many extravagant rooms covered in stunning frescoes, and decorated with many exquisite accents.</p>
        <p>The most incredible room within the Palazzo Vecchio is the massive Salone dei Cinquecento (Hall of the Five Hundred), which was literally built to seat 500 people, which is covered in massive frescos. Interestingly, both Leonardo da Vinci and Michelangelo both began creating frescos for the walls of this room, however neither finished, and the frescos seen today were painted by Giorgio Vasari. The room does host a large marble sculpture by Michelangelo however.</p>
        <p>The Palazzo Vecchio contains many more grandiose rooms and apartments filled with frescos and stately historic furnishings. The palace also contains a significant collection of Renaissance artworks.</p>
        <h3>Piazza della Repubblica</h3>
        <p>Another of Florence’s scenic plaza is the <strong>Piazza della Repubblica</strong>, which is surrounded by many stores and boutiques, cafes, restaurants, and hotels. This piazza’s most scenic feature is its beautiful Renaissance-inspired triumphal arch.</p>
        <h3>Strozzi Palace</h3>
        <p>Just west of the Piazza della Republic is another of Florence’s major palaces, the Palazzo Strozzi. This lavish Renaissance palace was based on the Palazzo Medici and designed with the intention to rival it. The Strozzi Palace hosts a lovely courtyard, and inside the palace you can see history furnishings, as well as various temporary exhibitions.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence 3 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="3661505340"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Florence Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Michelangelo's famous Statue of David housed within Florence's Galleria dell'Accademia museum"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Galleria-dell-Accademia-Museum-Interior-Statue-of-David.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Statue of David<br />Galleria dell'Accademia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/127226743@N02/26651343286/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/127226743@N02/" rel="noopener noreferrer" target="_blank">
                                    Dimitris Kamaras</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Courtyard/square of the Uffizi Gallery Museum with bridge connecting the palace museum's buildings in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Uffizi-Gallery-Museum-Piazzale.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Uffizi Gallery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161102140819/http://www.panoramio.com/photo/106437053" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161102140634/http://www.panoramio.com/user/7406641?with_photo_id=106437053" rel="noopener noreferrer" target="_blank">
                                    Michelle Maria</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night view looking down the Piazzale Uffizi surrounded by Florence's Uffizi Gallery with Palazzo Vecchio tower in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Uffizi-Gallery-Museum-Piazzale-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Uffizi Gallery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/11206448@N00/217187454" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cfwee/" rel="noopener noreferrer" target="_blank">
                                    Chris Wee</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval courtyard and staircase of the Palazzo Bargello housing the Bargello National Museum in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Museo-Bargello-National-Museum-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bargello National Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museo_del_bargello,_cortile.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Museo_del_bargello,_cortile.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Lauramcr92</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Santucci Sphere housed within the Galileo Museum in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Museo-Galileo-Museum-Interior-Sfera-Armillare-Santucci-Sphere.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Galileo Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sfera_Armillare_Santucci.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Sfera_Armillare_Santucci.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Museo Galileo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cloister of the Basilica of San Marco Museum in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-di-San-Marco-Church-Museum-Cloister.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Marco Museum &amp; Basilica</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:San_marco,_veduta_posteriore.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Florence Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <h3>Michelangelo’s David</h3>
        <p>Florence’s <strong>Galleria dell’Accademia</strong> (Gallery of the Academy) is famous for hosting Michelangelo’s original sculpture of David. In addition, this museum hosts other works by Michelangelo, as well as a collection of fine art by Florentine artists from the 14th-17th centuries, especially Renaissance artworks.</p>
        <h3>Uffizi Gallery</h3>
        <p>Florence’s <strong>Uffizi Gallery</strong> is not just the city’s mot popular museum, but also one of the most popular and important art museums in the world. The Uffizi specializes in artworks from the Italian Renaissance and hosts an impressive collection of priceless masterpieces, as well as the Medici family’s private art collection. The Uffizi Palace’s architecture is also quite impressive, with its beautiful courtyard and bridge adjoining the two wings of the museum.</p>
        <p>Within the museum, its collections are displayed very aesthetically amongst the Uffizi Palace’s lavish interiors. Collections of the Uffizi include works by Michelangelo, Leonardo da Vinci, Giotto, Titian, Raphael, Rembrandt, and many more. In addition to fine art, the Uffizi hosts a collection of important sculptures, including the famous ancient sculptures of the Gaddi Torso and Venus de’ Medici.</p>
        <h3>Bargello National Museum</h3>
        <p>Near the Piazza della Signora plaza is the Palazzo del Bargello, a castle-like palace built in the 13th century, which now operates as one of Florence’s most popular museums. Among the palace’s most impressive architectural features is its stunning gothic courtyard. The <strong>Bargello National Museum</strong> within the palace hosts the largest collection of Renaissance and gothic sculptures in Italy, with works by artists such as Michelangelo and Donatello.</p>
        <h3>Galileo Museum</h3>
        <p>Adjacent to the Uffizi Gallery is the <strong>Museo Galileo</strong>, which is located within a former palace. The Galileo Museum hosts one of the world’s foremost collections of historic scientific instruments, including all of Galileo Galilei’s special instruments.</p>
        <p>Highlights of the Galileo Museum include the telescopes which Galileo used to discover several moons of Jupiter, the incredible Santucci armillary sphere, and the oldest celestial globe in the world. The museum also hosts many other personal items from Galileo, with the strangest being his actual preserved middle finger.</p>
        <h3>San Marco Museum</h3>
        <p>The <strong>San Marco Museum</strong> is located near the Galleria dell’Accademia, located within a lovely medieval monastery. This museum is home to many beautiful paintings and frescoes created by famous artists such as Bartolomeo, Ghirlandaio, with the world’s largest collection Fra Angelico’s works. Also notable is Ghirlandaio’s version of the Last Supper, painted after Da Vinci’s.</p>
        <h3>Stibbert Museum</h3>
        <p>In the northern outskirts of Florence is a charming villa and estate hosting the Stibbert Museum, which is known for its extensive armory collection. Within the villa the walls are adorned with many intricate and decadent details, filled with lavish historic furnishings.</p>
        <p>This museum’s vast collection of armor includes pieces from many European knights, Islamic and Oriental armies, and even Japans samurai armor. This incredible collection is very elegantly displayed within the villa. Additionally, the villa even houses one of Napoleon’s outfits.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence 4 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="9580331846"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Piazzale Michelangelo Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the rustic buildings of Central Florence behind the Arno River from the Piazzale Michelangelo"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Day.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazzale Michelangelo<br />(Day)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/florence-famous-italy-europe-594618/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/TravelCoffeeBook-692530/" rel="noopener noreferrer" target="_blank">
                                    TravelCoffeeBook</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset view from Piazzale Michelangelo over Arno River and rustic buildings of Florence, Italy and Florence Cathedral's Dome"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piazzale Michelangelo<br />(Sunset)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/florence-skyline-sunset-cityscape-1289364/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/MustangJoe-2162920/" rel="noopener noreferrer" target="_blank">
                                    MustangJoe</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush green gardens of the Giardino delle Rose (Rose Garden) offering views of the rustic buildings of Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Giardino-delle-Rose-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Giardino delle Rose<br />(Rose&nbsp;Garden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Giardino_delle_rose_di_firenze_06.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely facade and dilapidated stone tower of the Basilica di San Miniato al Monte in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-di-San-Miniato-al-Monte.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica di San Miniato<br />al Monte</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:San_Miniato_al_Monte,_exterior,_Florencia,_Italia,_2019_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Benjam%C3%ADn_N%C3%BA%C3%B1ez_Gonz%C3%A1lez" rel="noopener noreferrer" target="_blank">
                                    Benjamin Nunez Gonzalez</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Piazzale Michelangelo Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="piazzale-michelangelo"></a>
        <h2 class="left-heading destination-section-heading">Piazzale Michelangelo</h2>
        <h3>Piazzale Michelangelo</h3>
        <p>On a hilltop to the east along the southern side of the Arno River is one of Florence’s most famous attractions, the <strong>Piazzale Michelangelo</strong>, a massive square and terrace overlooking the city. The square was dedicated to the great Michelangelo, and hosts several reproductions of his works including a bronze sculpture of David.</p>
        <p>From the Piazzale Michelangelo you can enjoy the most iconic view of Florence, with the city’s entire historic center seen behind the Arno River, as well as the most famous landmarks including the Florence Cathedral, Ponte Vecchio, and Palazzo Vecchio. The view from Piazza Michelangelo is truly breathtaking, and you should try to visit the square for amazing photos in the daytime, sunset, and even at night when Florence lights up.</p>
        <h3>Porta San Niccolo Tower &amp; Rose Garden</h3>
        <p>To reach the Piazzale Michelangelo, you pass by the imposing San Niccolo Tower, a tall gate tower and remnant of Florence’s medieval walls. After this you’ll ascend up the hill along lovely stone staircases up to the piazza, passing several fountains along the way. On the hillside you might consider visiting the beautiful <strong>Giardino delle Rose</strong> (Rose Garden). The Rose Garden is made up of hillside terraces, providing a very different view than the Piazza, overlooking the rustic buildings of Florence behind the lush gardens.</p>
        <h3>San Miniato al Monte</h3>
        <p>Further up the hill behind the Piazzale Michelangelo is a gorgeous basilica, the Romanesque-style <strong>Basilica di San Miniato al Monte</strong>. The facade of San Miniato is similar to that of the elegant striped marble basilicas of Central Florence. Combined with the dilapidated stone tower of San Miniato, the site is extremely picturesque, considered to be among the most beautiful churches in Italy.</p>
        <p>The Basilica of San Miniato al Monte is especially photogenic when viewed from below the staircase, or from the balcony on the right side in front of the church. This medieval church’s interior is ornately decorated with white marble, as well as more of the highly aesthetic zebra-like stripes. The wall inside San Miniato are also quite rustic but charming.</p>
        <p>San Miniato al Monte is also a popular spot to watch the sunset over Florence, with stunning views overlooking the city’s historic center from high above.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence 5 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="1945384409"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Pitti Palace and Gardens Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bardini Gardens view of the Pitti Palace exterior in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Palazzo-Pitti-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pitti Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/larrywkoester/22812860398/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/larrywkoester/" rel="noopener noreferrer" target="_blank">
                                    Larry Koester</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Opulent Renaissance-era Art Hall within the museums of the Pitti Palace in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Palazzo-Pitti-Palace-Interior-Art-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pitti Palace Art Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/easethemain/16820019888" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/easethemain/" rel="noopener noreferrer" target="_blank">
                                    Darold Massaro</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval walls along the Boboli Gardens with rustic buildings in background in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Boboli-Gardens-and-Wall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Boboli Gardens &amp;<br />Medieval&nbsp;Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ed_webster/6303350457/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ed_webster/" rel="noopener noreferrer" target="_blank">
                                    Ed Webster</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Central Florence and Florence Cathedral from the Forte Belevede Fortress near Pitti Palace"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Forte-Belvedere-Fortress-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Forte Belvedere Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Forte_belvedere,_terazze_sui_bastioni_13.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the covered walkway with lavender colored plants in the Giardino Bardini gardens of Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Giardino-Bardini-Garden-Blossom.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Giardino Bardini Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/giovannisighele/7097750691" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/giovannisighele/" rel="noopener noreferrer" target="_blank">
                                    g.sighele</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush terraced gardens and walkways of the hillside Giardino Bardini gardens offering views over Central Florence"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Giardino-Bardini-Garden-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Giardino Bardini Gardens<br />(View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bwgtheatre/13642945004/in/photolist-mMzEeJ-6XxV3k-7wKzct-7U82L4-6XxMgk-5hrnDw-77RXLf-6XxPM4-6XBUQN-6XBWE3-6XBWoS-6XxPrn-6XxM1Z-5hrmJG-6XxNGT-6XxUe4-6XBLZL-6XxSe4-6XxLh4-6XBPLW-6XBWYG-6XBRoN-6XxUgR-6XxL4g-6XBTXj-6XxNbF-6XBVwS-6XBSD7-6XxPaa-6XxRYn-6XxKRc-6XBNKC-6XxLAV-6XxX18-6XxSuR-6XBNum-6XxQT4-6XxQKp-6XBS3f-6XBUrY-bAiczQ-3TgSJH-6XBQZj-6XxSPR-bVD6T-5hn5pg-5hmYC4-5hn4xp-5hmXft-5hmWG8/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bwgtheatre/" rel="noopener noreferrer" target="_blank">
                                    Bradley Griffin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Pitti Palace and Gardens Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="pitti-palace-and-gardens"></a>
        <h2 class="left-heading destination-section-heading">Pitti Palace &amp; Gardens</h2>
        <h3>Pitti Palace</h3>
        <p>On the southern side of the Arno River across the Ponte Vecchio bridge is the <strong>Palazzo Pitti</strong>, a massive Renaissance palace. This palace has a long rich history, being owned by the Medici family and later used by Napoleon, before becoming the central royal residence of the Italian king. Eventually the palace was turned into a giant complex of museums, with a large variety of museums set amongst the decadent and highly ornate interiors of the palace.</p>
        <p>The main museum within the Pitti Palace is the Palatine Gallery, which hosts an incredible collection of Renaissance-era artistic masterpieces, including many works by Raphael and Titian. These artworks are displayed within stunningly extravagant rooms, creating an amazing visual aesthetic.</p>
        <p>The Palazzo Pitti also houses grandiose Royal Apartments, some of which were inhabited by the Medicis, as well as a Carriages Museum, Porcelain Museum, Gallery of Modern Art, and a theatrical and historical Costumes Gallery. Additionally, the palace hosts the Grandukes Treasury, a priceless collection of many fine objects, including silver, gold, gems, ancient vases, and more.</p>
        <h3>Boboli Gardens</h3>
        <p>Behind the Palazzo Pitti are the <strong>Boboli Gardens</strong>, an expansive Italian garden complex hosting an array of grandiose fountains, sculptures, landscaped gardens, and woodland parks. Within the Boboli Gardens you’ll also find caves and grottos to explore, and part of the gardens are surrounded by Florence’s old medieval walls.</p>
        <h3>Forte Belvedere</h3>
        <p>Just east of the Bobble Gardens is the hilltop <strong>Forte Belvedere</strong>, a star-shaped fortress built by the Medici family to protect the Pitti Palace. The main draw of visiting this fortress today is to enjoy the amazing views overlooking the skyline of Florence’s historic center. The fortress provides a very different perspective overlooking Florence in comparison with the Piazzale Michelangelo.</p>
        <h3>Bardini Gardens</h3>
        <p>Another excellent place to enjoy scenic views of Florence is from the hillside <strong>Giardino Bardini</strong> gardens, located near the Belvedere Fortress. These lush terraced gardens were originally built for the 17th century Bardini Villa. These gorgeous gardens are filled with many vibrant plants and intricate sculptures. This is the nearest view you’ll find overlooking Florence’s most iconic attractions from across the Arno River.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence 6 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="3344319881"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Florence Churches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of the lavish facade of the Basilica di Santa Croce in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-Santa-Croce.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica di Santa Croce</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/santa-croce-basilica-santa-croce-2226191/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking the Basilica di Santa Croce and its piazza square in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Basilica-Santa-Croce-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica di Santa Croce<br />(Aerial)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/the-roof-of-the-city-panoramic-3254986/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Sylabo-3138889/" rel="noopener noreferrer" target="_blank">
                                    Sylabo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning medieval frescoes covering the interior of the Church and Museum of Orsanmichele in Florence, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Church-Museum-of-Orsanmichele-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church &amp; Museum of<br />Orsanmichele</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Interior_Orsanmichele_03.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MiguelHermoso" rel="noopener noreferrer" target="_blank">
                                    Miguel Hermoso Cuesta</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Florence Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches</h2>
        <h3>Basilica di Santa Croce di Firenze</h3>
        <p>The stunningly picturesque <strong>Basilica di Santa Croce di Firenze</strong> (Basilica of the Holy Cross of Florence) exudes a very lavish and powerful gothic style with its facade. This 13th century structure is actually the larges Franciscan church in the entire world. The basilica also houses the elaborate funerary monument to many famous Italians, including Michelangelo, Leonardo da Vinci, and Enrico Fermi, as well as the tomb of Galileo.</p>
        <h3>Basilica di Santa Maria Novella</h3>
        <p>Another of Florence’s exceptionally beautiful churches with highly photogenic facades is the Basilica di Santa Maria Novella, a Gothic-Renaissance style church which was built in the 13th century. Within the basilica you can admire the zebra-like patterns along the arches and ribs of the ceiling, as well s lovely frescoes.</p>
        <h3>Church & Museum of Orsanmichele</h3>
        <p>The <strong>Church of Orsanmichele</strong> is popular for its striking elaborate 13th century sculptures created by various artists to represent different patron saints. The actual sculptures on display along the church’s exterior are elaborate reproductions of the originals. Inside the church are strikingly beautiful ceilings and additional sculptures on display.</p>
        <h3>Basilica di Santo Spirito</h3>
        <p>Near the Pitti Palace on the southern side of the Arno River is the Basilica di Santo Spirito (Basilica of the Holy Spirit), which was designed by Brunelleschi. Despite the church’s rather plain exterior, the interior is quite majestic, with 38 different chapels hosting religious artworks and altarpieces. The basilica’s most famous attractions however is the wooden crucifix created by a young Michelangelo.</p>
        <h3>Basilica della Santissima Annunziata</h3>
        <p>Near the Galleria de’’Academia is the Basilica della Santissima Annunziata (Basilica of the Most Holy Annunciation) with its interesting loggia-style facade. This basilica’s interior is decorated with dark marble and highly intricate gold-colored embellishments and sculptures covering the walls and ceilings, giving it a magnificent appearance. The basilica also hosts several lovely cloisters.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Florence Bottom -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="2348423673"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Florence Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/eXkWiUBjR6DQovBD8">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/oc92wyCiVpWoggB9A">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/pisa-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic Leaning Tower of Pisa seen beside the Duomo di Pisa Cathedral in Pisa, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Pisa-Piazza-del-Duomo-Leaning-Tower-of-Pisa.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/pisa-attractions-guide">
                        Pisa
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/reservasdecoches/8224991327/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/reservasdecoches/" rel="noopener noreferrer" target="_blank">
                            Alquiler de Coches</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the idyllic Cinque Terre Village of Manarola above the coast from the Manarola Scenic Viewpoint"
                        data-src="https://www.travelimager.com/images/italy/Italy-Cinque-Terre-Manarola-Manarola-Scenic-Viewpoint-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        Cinque Terre
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/vernazza-town-scenery-reflection-1914919/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/AlwaysWanderlust-3858945/" rel="noopener noreferrer" target="_blank">
                            AlwaysWanderlust</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/rome-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman Colosseum seen illuminated just after sunset in Rome, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Rome-Roman-Colosseum.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/rome-attractions-guide">
                        Rome
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/turyddu/8426009187/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/turyddu/" rel="noopener noreferrer" target="_blank">
                            Umberto Rotundo</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/venice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gondola boats along the water in front of St. Mark's Square with St. Mark's Campanile towering above it in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-St-Marks-Campanile.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/venice-attractions-guide">
                        Venice (Venezia)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sky-rock-stone-1905062/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                            kirkandmimi</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Golden hour colors lighting up the Ponte Scaligero bridge over the Adige River to the Castelvecchio Castle in Verona, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Verona-Castelvecchio-Ponte-Scaligero-Bridge-River-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        Verona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Keep_of_Castelvecchio_and_Ponte_Scaligero_Verona_Italy.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vvlasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        Milan
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/italy-milano-duomo-square-3523635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                            dimitrisvetsikas1969</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/naples-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Incredible view from Sant'Elmo Castle overlooking the city and coastline of Naples, Italy with Mount Vesuvius in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Naples-Castel-Sant-Elmo-Castle-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/naples-attractions-guide">
                        Naples (Napoli)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Certosa_desde_Sant%27Elmo_10.JPG&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MiguelHermoso" rel="noopener noreferrer" target="_blank">
                            Miguel Hermoso Cuesta</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Picturesque view of Bellagio, Italy along the shores of Lake Como seen from the Lungolago Europa lakeside pathway"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">
                        Lake Como
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/village-bellagio-italy-lake-1878351/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/gayulo-3585927/" rel="noopener noreferrer" target="_blank">
                            gayulo</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    