<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Looking along the Lungolago Europa lakeside path at village of Bellagio along Lake Como, Italy Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and villages of Lake Como, Italy, and plan the perfect trip with our savable Lake Como Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lake_como_italy" />
    <meta name="europe_attraction_guides" content="lake_como_italy" />
    <meta name="europe_destinations" content="lake_como_italy" />
    <meta name="europe_destination_guides" content="lake_como_italy" />
    <meta name="italy_attraction_guides" content="lake_como" />
    <meta name="italy_destinations" content="lake_como" />
    <meta name="italy_destination_guides" content="lake_como" />
    <meta name="google_maps_list" content="lake_como" />
    <meta property="og:title" content="Lake Como, Italy Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg">
    <meta name="twitter:title" content="Lake Como, Italy Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/italy/lake-como-attractions-guide">
    <title>Attractions Guide for Lake Como, Italy</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Lake Como, Italy<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#como">Como</a></div>
            <div><a href="#brunate">Brunate</a></div>
            <div><a href="#ossuccio">Ossuccio</a></div>
            <div><a href="#west-como-villas">West Como Villas</a></div>
            <div><a href="#bellagio">Bellagio</a></div>
            <div><a href="#varenna">Varenna</a></div>
            <div><a href="#vezio-castle">Vezio Castle</a></div>
            <div><a href="#lecco">Lecco</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lake Como Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Northern Italy’s Lake Como is one of Italy’s top tourist attractions and is quite large, with three long arms stretching out in an upside-down Y-shape below tall mountains, just below the Southern Alps and Switzerland. Because of these tall mountains and the many old villages and villas along the lakeshore, Lake Como is one of the most scenic destinations in Italy. The nearest major city and often gateway city to Lake Como is Milan.</p>
        <h3>Popular Towns &amp; Transportation</h3>
        <p>The largest towns along the lake are Como and Lecco, which are located along the shores of the two southern arms of Lake Como. Both Como and Lecco can be reached directly by train from Milan’s Central Station in about 40 minutes.</p>
        <p>Most of the other popular towns along Lake Como are located where the three arms meet, including Bellagio, Varenna, and Menaggio. Due to the difficult geography, the most efficient way to get between these towns is via ferries, which run frequent connections between these towns and Cadenabbia (near Tremezzo).</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>On the western side of the lake the towns are connected to Como via bus, and on the eastern side the towns are connected to Lecco via rail. Of course roads also connect the towns, however its much easier to get around the region without a vehicle, although there are car ferries that operate between the towns in the center of the lake as well.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Como and Brunate, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Facade and clocktower of the stone-built Basilica di San Fedele of Como, Italy" 
                        src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Chiesa-di-San-Fedele-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica di San Fedele<br />(Como)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161021082455/http://www.panoramio.com/photo/61230119" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161021082457/http://www.panoramio.com/user/5734503?with_photo_id=61230119" rel="noopener noreferrer" target="_blank">
                                    Pier B.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Beautiful gothic facade and clocktower of the Como Cathedral in Como, Italy"
                        src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Cattedrale-di-Como-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Como Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161102061816/http://www.panoramio.com/photo/122705512" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161102061641/http://www.panoramio.com/user/4678999?with_photo_id=122705512 rel="noopener noreferrer" target="_blank">
                                    Ben Bender</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Illuminated neoclassical-style Tempio Voltano (Volta Templ) dedicated to Alessandro Volta seen at night in Como, Italy"
                        src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Tempio-Voltiano-Volta-Temple.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tempio Voltiano / Volta Temple<br />(Como)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tempio_Voltiano_by_night.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:SirDiegoSama" rel="noopener noreferrer" target="_blank">
                                    Diego Bonacina</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Extravagant exterior of the Villa Olmo facing its gardens along the shores of Lake Como in Como, Italy" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Villa-Olmo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Olmo (Como)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Wikimania_by_Rehman_-_Wikimania_Takes_Lake_Como_(30).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rehman" rel="noopener noreferrer" target="_blank">
                                    Rehman Abubakr</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Fine gardens of Como's Villa Olmo offering stunning views overlooking Lake Como"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Villa-Olmo-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Olmo Garden View<br />(Como)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Como,_Villa_Olmo_-_Parco_antistante_la_villa.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:BohemianRhapsody" rel="noopener noreferrer" target="_blank">
                                    BohemianRhapsody</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up ath the impressive twin towers of the medieval Basilica di Sant'Abbondio in Como, Italy" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Basilica-di-Sant-Abbondio.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica di Sant'Abbondio<br />(Como)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Como,_basilica_di_sant%27abbondio,_esterno_01.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Picturesque view overlooking Como and Lake Como from the Baradello Castle above the town of Como, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Como-Castello-Baradello-Castle-Lake-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Baradello Castle View<br />(Como)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/como-landscape-lake-como-clouds-1524680/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/DCube-1678241/" rel="noopener noreferrer" target="_blank">
                                    DCube</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous views overlooking Lake Como and the green mountains around it from the Volta Lighthouse in Brunate above Como" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Brunate-Faro-Voltiano-Volta-Lighthouse-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Volta Lighthouse View of<br />Lake&nbsp;Como (Brunate)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_Faro_Voltiano_Brunate.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_Faro_Voltiano_Brunate.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Alice90</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking the village of Cernobio along Lake Como from atop the Volta Lighthouse in the mountaintop village of Brunate"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Brunate-Faro-Voltiano-Volta-Lighthouse-View-of-Cernobio.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Volta Lighthouse View of<br />Cernobio (Brunate)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vista_di_Cernobbio_da_Brunate.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Vista_di_Cernobbio_da_Brunate.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Luca Casartelli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Como, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="como"></a>
        <h2 class="left-heading destination-section-heading">Como, Italy</h2>
        <p>Como is definitely the most popular town for visitors to Lake Como, and is located at the end of the western arm of the lake. Como’s compact historic center still retains some of its imposing Roman walls and towers which once surrounded it, especially prevalent on the southern side of the city. Most visitors enter Como through this side at the towering Porta Torre medieval gate to the city.</p>
        <h3>Basilica di San Fedele</h3>
        <p>In the middle of Como’s historic center is the <strong>Basilica di San Fedele</strong>, a lovely Romanesque church with a bell tower and impressive interiors. At night you can watch as images are projected onto the church’s exterior.</p>
        <h3>Como Cathedral</h3>
        <p>The top attraction in Como is the <strong>Como Cathedral</strong>, a beautiful 14th century church mainly displaying gothic architecture with a mix of other styles. Inside the cathedral is majestic, hosting a small collection of medieval tapestries.</p>
        <h3>Tempio Voltiano (Volta Temple)</h3>
        <p>Just outside of the walled center along Como’s coastline is the Tempio Voltano (or <strong>Volta Temple</strong>), a grand neoclassical structure hosting a small museum. This museum is dedicated to the inventor of the electric battery, Alessandro Volta, who was born in the town of Como. Inside the museum you can see the voltaic pile batteries created by Volta, as well as the instruments he used.</p>
        <h3>Villa Olmo</h3>
        <p>Along the shore of Lake Como just north of the town of Como is the elegant <strong>Villa Olmo</strong>, a large neoclassical estate. The villa’s decadent interior hosts various public exhibitions. Most visitors however come to the villa to admire its beautiful lakeside gardens, which offer views looking out over the lake at the city of Como.</p>
        <h3>Basilica di Sant’Abbondio</h3>
        <p>On the western side of Como is the rustic Romanesque-style <strong>Basilica di Sant’Abbondio</strong>, which was built in the 11th century. This church is notable for its twin bellowers and old arched columns lining the basilica’s interior.</p>
        <h3>Baradello Castle</h3>
        <p>Just south of Como is the <strong>Castello Baradello</strong>, a small medieval castle which rises above the forests on a hilltop. You can explore the ruins of the castle and enjoy amazing views overlooking Como from the hilltop. The hike to reach the castle from Como is quite steep, with a distance of about 3.5 miles (5.6 km) round-trip if starting from Como’s Porta Torre medieval gate.</p>
    </section>


    <!-- Brunate, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="brunate"></a>
        <h2 class="left-heading destination-section-heading">Brunate, Italy</h2>
        <h3>Brunate Funicular</h3>
        <p>Just north of Como’s historic center is the Funicolare Como-Bruante, a funicular cable car which ascends up into the mountains above Como to the village of Brunate. Brunate hosts a lovely pink baroque-style church, as well as many incredible viewpoints overlooking Como and Lake Como from high above.</p>
        <h3>Volta Lighthouse</h3>
        <p>One of the best viewpoints overlooking Lake Como can be admired from the <strong>Volta Lighthouse</strong> at the top of Brunate, which is built atop the mountain. Like Como’s Volta Temple, this lighthouse was built in dedication to the great inventor.</p>
        <p>You can climb the stairs to the top of the lighthouse for breathtaking views over Lake Como and the Southern Alps, with far-reaching views over the towns and mountains surrounding Como. The Volta Lighthouse is about a 30 minute walk away from the Brunate Funicular station.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Como 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1333072511"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Isola Comacina, Ossuccio, and West Como Villas Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from village of Sala Comacina of the tiny Isola Comacina Island in Lake Como covered in trees"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Isola-Comacina-Island.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Isola Comacina</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Isola_comacina.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://fr.wikipedia.org/wiki/User:Francois_Trazzi" rel="noopener noreferrer" target="_blank">
                                    Francois Trazzi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hilltop view high above Lake Como overlooking the tiny island of Isola Comacina"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Isola-Comacina-Island-Hilltop-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Isola Comacina (Hilltop&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Isola_Comacina_e_villa_Balbianello.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Isola_Comacina_e_villa_Balbianello.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Vittto</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful view of Lake Como seen from the Sacro Monte di Ossuccio UNESCO site in Ossuccio, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Ossuccio-Sacro-Monte-di-Ossuccio-Lake-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sacro Monte View (Ossuccio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sacro_Monte_Ossuccio_Vista_Lago.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Laurom" rel="noopener noreferrer" target="_blank">
                                    Laurom</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the grand lakefront Villa del Balbianello seen from Lake Como near Tremezzina, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Tremezzo-Villa-del-Balbianello.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa del Balbianello (Tremezzina)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villa_Balbianello_3729.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Hamster28" rel="noopener noreferrer" target="_blank">
                                    Henry Kellner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lake Como view of the side of the Villa del Balbianello in Tremezzina, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Tremezzo-Villa-del-Balbianello-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa del Balbianello (Tremezzina)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villa_Balbianello_3731.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Hamster28" rel="noopener noreferrer" target="_blank">
                                    Henry Kellner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely lakefront home of Villa Garlotta in Tremezzina seen from Lake Como"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Tremezzo-Villa-Carlotta.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Carlotta (Tremezzina)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rayinmanila/27335601096" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rayinmanila/" rel="noopener noreferrer" target="_blank">
                                    Ray in Manila</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Lake Como from the lush lakeside gardens of the Villa Carlotta in Tremezzina, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Tremezzo-Villa-Carlotta-Gardens-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Carlotta Gardens View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Il_lago_di_Como_da_Villa_Carlotta.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Il_lago_di_Como_da_Villa_Carlotta.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    ILVDRVRLSSCR</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ossuccio, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ossuccio"></a>
        <h2 class="left-heading destination-section-heading">Ossuccio, Italy</h2>
        <h3>Isola Comacina</h3>
        <p>Along the western arm of Lake Como below where the three arms meet is a tiny island, <strong>Isola Comacina</strong>, which is located just off the coast of the town of Ossuccio. You can reach this island with a very short ferry ride from Sala Comacina or Ossuccio.</p>
        <p>This lovely island is mostly covered in forests, and hosts the ruins of a medieval church next to a newer one, an old monastery, and a lakeside restaurant. You can also enjoy fantastic views of Lake Como’s coastline from Isola Comacina.</p>
        <h3>Sacre Monte di Ossuccio</h3>
        <p>Up the hill above Ossuccio is one of the nine UNESCO listed sacri monti churches of Northern Italy, the <strong>Sacro Monte di Ossuccio</strong>. This beautiful church is surrounded by 14 little chapels and olive groves along the hillside. From this sacri monti complex you can also enjoy incredible views overlooking Lake Como and Isla Comacina.</p>
    </section>


    <!-- West Como Villas Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="west-como-villas"></a>
        <h2 class="left-heading destination-section-heading">West Como Villas</h2>
        <h3>Villa del Balbianello</h3>
        <p>At the tip of a peninsula just east of the town of Ossuccio is one of the top attractions around Lake Como, the <strong>Villa Balbianello</strong>. This picturesque 18th century villa incorporates part of the 13th century monastery which previously existed on the property, with the most obvious leftover medieval features being the villa’s two towers. Inside the villa you can admire lavish furnishings.</p>
        <p>The villa’s most iconic feature is its terraced gardens which offer breathtaking views over Lake Como. Interestingly this villa has also been featured in movies including James Bond’s Casino Royale and Star Wars Episode II.</p>
        <h3>Villa Carlotta</h3>
        <p>A bit further up Lake Como’s western coast between the towns of Tremezzo and Cadenabbia (which hosts a ferry stop) is the <strong>Villa Carlotta</strong>. This villa is extravagantly decorated with sculptures and paintings and elaborate 19th century accents.</p>
        <p>Villa Carlotta also hosts a large botanical garden along the hillside above the lake, which contains an array of lush plants and flowers, as well as a bamboo garden. From the villa’s terraces you can enjoy amazing views overlooking the town of Bellagio across Lake Como.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Como 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1772712759"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Bellagio, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of Bellagio, Italy along the shores of Lake Como seen from the Lungolago Europa lakeside pathway"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lungolago Europa Path View<br />(Bellagio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/village-bellagio-italy-lake-1878351/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/gayulo-3585927/" rel="noopener noreferrer" target="_blank">
                                    gayulo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the small VIlla Melzi framed in front of Lake Como in Bellagio, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Villa-Melzi.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Melzi</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villa_Melzi_(Bellagio)_-_DSC02854.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Daderot" rel="noopener noreferrer" target="_blank">
                                    Daderot</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Breathtaking view of Lake Como seen behind columns in the lakeside gardens of the Villa Melzi in Bellagio, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Giardini-di-Villa-Melzi-Garden-Columns-and-Lake-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gardens of Villa Melzi<br />(Bellagio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villa_Melzi_(Bellagio)_-_DSC02786.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Daderot" rel="noopener noreferrer" target="_blank">
                                    Daderot</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the Gardens of Villa Melzi overlooking a tiny chapel and Lake Como in Bellagio, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Giardini-di-Villa-Melzi-Garden-Lake-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gardens of Villa Melzi<br />Lake View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bellagio,_Wikimania_2016,_MP_007.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.mikepeel.net/" rel="noopener noreferrer" target="_blank">
                                    Mike Peel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset view looking out over Central Lake Como from Punta Spartivento Point in Bellagio, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Punta-Spartivento-North-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Punta Spartivento View<br />(Bellagio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161010220245/http://www.panoramio.com/photo/4462309" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161010220247/http://www.panoramio.com/user/384720?with_photo_id=4462309" rel="noopener noreferrer" target="_blank">
                                    Santiago Puig Vilado</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bellagio, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bellagio"></a>
        <h2 class="left-heading destination-section-heading">Bellagio, Italy</h2>
        <p>Just across from Cadennabia is the town of Bellagio, which sits at the end of a peninsula between the two southern arms of Lake Como. Bellagio is connected to Cadennabia, Menaggio, and Varenna via ferry, and Como and Lecco via bus. Due to its location surrounded by Lake Como, Bellagio is one of the lake’s most beautiful towns. Bellagio’s largest and most lavish villa, the Villa Serbelloni, now operates as a lakefront 5 star hotel.</p>
        <h3>Villa Melzi</h3>
        <p>Along the coast near Bellagio’s ferry terminal is a lakeside pathway called the <strong>Lungolago Europa</strong>. This walkway offers majestic views of Lake Como. At the southern end of the Lungolago Europa is Bellagio’s <strong>Villa Melzi d’Eril</strong>, a stunning lakefront mansion. This neoclassical villa looks especially picturesque when viewed with Lake Como in the background.</p>
        <p>Surrounding the Villa Melzi is a large lakeside botanical garden filled with beautiful statues, a small chapel, and a Moorish Pavilion. The <strong>Gardens of Villa Melzi</strong> also offer some of the most gorgeous views of Lake Como.</p>
        <h3>Punta Spartivento</h3>
        <p>At the very northern tip of Bellagio is <strong>Punta Spartivento</strong>, an observation deck located where the three arms of Lake Como meet. As you can probably imagine, this viewpoint offers breathtaking, near-panoramic views of Lake Como. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Como 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9459631082"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Varenna and Vezio, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful rustic buildings of the village of Varenna below tall cliffs along the shores of Lake Como, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Varenna-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Varenna Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161022124926/http://www.panoramio.com/photo/58664308" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161022124928/http://www.panoramio.com/user/440234?with_photo_id=58664308" rel="noopener noreferrer" target="_blank">
                                    Schoella Schwarz</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely Church of San Giorgio and its spire-topped bell tower seen at night in the Lake Como village of Varenna"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Varenna-Chiesa-di-San-Giorgio-St-Georges-Church-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of San Giorgio<br />(Varenna)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Iglesia_de_San_Jorge,_Varenna,_Italia,_2016-06-25,_DD_12-14_HDR.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the Lake Como coastline of Varenna from the gardens of Villa Monastero"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Varenna-Villa-Monastero.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Monastero Gardens<br />(Varenna)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161103013012/http://www.panoramio.com/photo/119572796" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161103012959/http://www.panoramio.com/user/1519342?with_photo_id=119572796" rel="noopener noreferrer" target="_blank">
                                    Modris Putns</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking out at Lake Como behind corkscrew columns in the gardens of Villa Monastero in Varenna, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Varenna-Villa-Monastero-Lake-View-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Monastero Gardens<br />(Varenna)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:EsinoLario_2013_050.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cassinam" rel="noopener noreferrer" target="_blank">
                                    Mauro Cassina</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view of Lake Como seen from the Gardens of Villa Monastero in Varenna, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Varenna-Villa-Monastero-Lake-View-3.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Monastero Gardens<br />(Varenna)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lago_Como_2916.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cassinam" rel="noopener noreferrer" target="_blank">
                                    Cassinam</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Terrace view overlooking Lake Como from the Vezio Castle in the hills above Varenna, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Varenna-Castello-di-Vezio-Castle-Lake-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vezio Castle Terrace View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Un_luogo_Magico_dove_Tutti_si_Innamorano.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Un_luogo_Magico_dove_Tutti_si_Innamorano.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Luisella Aliprandi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Varenna, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="varenna"></a>
        <h2 class="left-heading destination-section-heading">Varenna, Italy</h2>
        <p>The town of <strong>Varenna</strong> is located on the eastern side of Lake Como’s northern arm where its meets with the lake’s other two arms. Varenna sits below tall mountains along the shores of Lake Coma is very scenic town, connected to Lake Como’s other towns via ferry (and to Lecco by train). Rising above the colorful homes of Varenna you can see the spire-topped bell tower of the <strong>Church of San Giorgio</strong>.</p>
        <h3>Villa Monastero</h3>
        <p>Varenna’s most popular attraction is the <strong>Villa Monastero</strong>, which is located on the waterfront of Lake Como. Inside the villa are elegant and historic furnishings, but its the villa’s gardens which draw tourists.</p>
        <p>The Villa Monastero’s stunningly beautiful lakeside gardens host many sculptures and decorative columns, filled with lush plants and colorful flowers. The views of Lake Como framed behind the gardens and terraces of Villa Monastero are incredibly picturesque.</p>
    </section>


    <!-- Vezio Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="vezio-castle"></a>
        <h2 class="left-heading destination-section-heading">Vezio Castle</h2>
        <p>In the mountains above Varenna is the tiny village of Vezio. Atop the hill just above Varenna is the village’s Castello di Vezio (<strong>Vezio Castle</strong>), a partially-ruined medieval castle built in the 11th century. You can explore the imposing stone walls and towers of this defensive castle, and even watch falconry shows at Vezio Castle on certain days.</p>
        <p>From the Vezio Castle’s terrace you can enjoy incredibly gorgeous views high above Lake Como overlooking two of its arms. The terrace also hosts the spooky phantom statue which is perched upon the terrace’s rail. You can also enjoy views facing the mountains and Vezio from atop the castle’s main tower.</p>
        <p>You can reach the Vezio Castle from Varenne via the extremely scenic Sentiero degli Scabium pathway, with the trailhead located next to the Varenna’s Cemetery (located along the coast south of Villa Monastero). This hike offers amazing views along the way, and takes about 30 minutes each way. For the return you might consider the less scenic and steeper 20 minute path to return to Varenna.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Como 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8146549411"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Lecco, Italy Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Illuminated buildings of Lecco along the lakeshore of Lake Como in the early evening"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Lecco-Village-View-from-Lungolago-Lake-Path.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lecco Lakeshore</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/44717021@N06/5691316211" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hozinja/" rel="noopener noreferrer" target="_blank">
                                    Eric Hossinger</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous view of the shoreline of the Lake Como town of Lecco below tall mountainsalong the Lungolago di Lecco path"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Lecco-Lecco-Beach-Harbor-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lungolago di Lecco<br />Harbor View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/lecco-lake-como-manzoni-italy-3718033/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/alefolsom-4137852/" rel="noopener noreferrer" target="_blank">
                                    alefolsom</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Basilica of San Nicolo and its tall Campanile of San Nicolo tower in Lecco, Italy along Lake Como"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Lecco-San-Niclolo-Basilica-of-St-Nicholas-and-Campanile-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica &amp; Campanile of<br />San Nicolo (Lecco)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_di_san_nicola.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_di_san_nicola.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Peomacri</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Lecco and the end of the eastern arm of Lake Como from atop Piani d'Erna Mountain"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Lecco-Piani-D-Erna-Punto-Panoramico-City-Lake-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Piani d'Erna Mountain View<br />(Lecco)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/italy-lecco-lake-como-mountains-2376958/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Zolee1974-4772394/" rel="noopener noreferrer" target="_blank">
                                    Zolee1974</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Lecco, Italy Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lecco"></a>
        <h2 class="left-heading destination-section-heading">Lecco, Italy</h2>
        <p>At the southern end of Lake Como’s eastern arm is the large town of <strong>Lecco</strong>, which is connected to Varenna and Milan via train, and Como via bus. This picturesque town is surrounded by tall mountains, making it quite scenic. Be sure to walk along the <strong>Lungolago di Lecco</strong>, a lakefront pathway near the town’s center which offers fantastic views of Lake Como.</p>
        <h3>Basilica of San Nicolo</h3>
        <p>Among Lecco’s top attractions is the <strong>Basilica of San Nicolo</strong>, a beautiful neoclassical church with opulent interiors. The basilica’s most incredible feature is its massive neo-Gothic bell tower, the Campanile San Nicolo Lecco. You can climb to the top of this bell tower to enjoy amazing views overlooking Lecco and Lake Como.</p>
        <h3>Piani d’Erna Mountain</h3>
        <p>You can take the bus east from Central Lecco up the hill to the Funivia Piani d’Erna, a cable car station that take visitors up to the top of the tall mountains of <strong>Piani d'Erna</strong>. At the top of the mountain you’ll find a tiny village, as well as incredibly gorgeous panoramic views looking over Lake Como and Lecco from high above, especially from the Pizzo d'Erna viewpoint (a short walk away from the station).</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Como Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7813175793"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lake Como Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/C2Ju7n6C8ANq9ktb7">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CvzqMD5KHu37rvbaA">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy"
                        src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo-300x225.jpg"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        Milan
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/italy-milano-duomo-square-3523635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                            dimitrisvetsikas1969</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Golden hour colors lighting up the Ponte Scaligero bridge over the Adige River to the Castelvecchio Castle in Verona, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Verona-Castelvecchio-Ponte-Scaligero-Bridge-River-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        Verona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Keep_of_Castelvecchio_and_Ponte_Scaligero_Verona_Italy.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vvlasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/florence-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view from Piazzale Michelangelo over Arno River and rustic buildings of Florence, Italy and Florence Cathedral's Dome"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/florence-attractions-guide">
                        Florence (Firenze)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/florence-skyline-sunset-cityscape-1289364/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/MustangJoe-2162920/" rel="noopener noreferrer" target="_blank">
                            MustangJoe</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/venice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gondola boats along the water in front of St. Mark's Square with St. Mark's Campanile towering above it in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-St-Marks-Campanile.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/venice-attractions-guide">
                        Venice (Venezia)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sky-rock-stone-1905062/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                            kirkandmimi</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/pisa-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic Leaning Tower of Pisa seen beside the Duomo di Pisa Cathedral in Pisa, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Pisa-Piazza-del-Duomo-Leaning-Tower-of-Pisa.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/pisa-attractions-guide">
                        Pisa
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/reservasdecoches/8224991327/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/reservasdecoches/" rel="noopener noreferrer" target="_blank">
                            Alquiler de Coches</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the idyllic Cinque Terre Village of Manarola above the coast from the Manarola Scenic Viewpoint"
                        data-src="https://www.travelimager.com/images/italy/Italy-Cinque-Terre-Manarola-Manarola-Scenic-Viewpoint-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        Cinque Terre
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/vernazza-town-scenery-reflection-1914919/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/AlwaysWanderlust-3858945/" rel="noopener noreferrer" target="_blank">
                            AlwaysWanderlust</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    