<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Piazza del Duomo and Milan Cathedral, Milan, Italy Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Milan, Italy, and plan the perfect trip with our savable Milan Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="milan_italy" />
    <meta name="europe_attraction_guides" content="milan_italy" />
    <meta name="europe_destinations" content="milan_italy" />
    <meta name="europe_destination_guides" content="milan_italy" />
    <meta name="italy_attraction_guides" content="milan" />
    <meta name="italy_destinations" content="milan" />
    <meta name="italy_destination_guides" content="milan" />
    <meta name="google_maps_list" content="milan" />
    <meta property="og:title" content="Milan, Italy Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg">
    <meta name="twitter:title" content="Milan, Italy Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/italy/milan-attractions-guide">
    <title>Attractions Guide for Milan, Italy</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Milan, Italy<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#milan-cathedral">Milan Cathedral</a></div>
            <div><a href="#central-milan">Central Milan</a></div>
            <div><a href="#shopping-and-fashion">Shopping/Fashion</a></div>
            <div><a href="#last-supper">Last Supper</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#modern-and-contemporary-art">Modern Art</a></div>
            <div><a href="#sforza-castle">Sforza Castle</a></div>
            <div><a href="#monumental-cemetery">Monumental Cemetery</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Milan Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Milan is the second largest city in Italy, and the capital of the Northern Italian region of Lombardy, located just below the Italian Alps and the beautiful Lake Como and Lake Maggiore. The city of Milan is synonymous with the fashion industry, with headquarters for Gucci, Versace, Prada, Armani, and more.</p>
        <p>Milan is home to Leonardo da Vinci’s famous mural of The Last Supper, and hosts many amazing churches, museums, and other attractions. You’ll find an interesting mix of historic buildings and ultramodern architecture around the exceptionally wealthy city of Milan.</p>
    </section>


    <!-- Milan Cathedral, Central Milan, and Milan Shopping Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy" 
                        src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Milan Cathedral &amp;<br />Piazza del Duomo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/italy-milano-duomo-square-3523635/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset colors behind the stunning gothic facade of the Milan Cathedral on the Piazza del Duomo"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-Facade-Evening.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Milan Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mnuernberger/32145407241/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mnuernberger/" rel="noopener noreferrer" target="_blank">
                                    Marco Nurrnberger</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant spires lining the rooftop as tourists explore the top of the Milan Cathedral"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-Rooftop.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Milan Cathedral Rooftop</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_west_along_Duomo_roof,_Milan.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Daniel_Case" rel="noopener noreferrer" target="_blank">
                                    Daniel Case</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lavish covered shopping mall of the Galleria Vittorio Emanuele II in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Galleria-Vittorio-Emanuele-II.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Galleria Vittorio Emanuele II</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/architecture-building-city-3531655/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning pegasus sculpture inside Milan's Galleria Vittorio Emanuele II" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Galleria-Vittorio-Emanuele-II-Pegasus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Galleria Vittorio Emanuele II Pegasus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/milan-pegasus-gallery-statue-705880/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/IgorSaveliev-50922/" rel="noopener noreferrer" target="_blank">
                                    IgorSaveliev</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ornate and elegant interior of the Teatro alla Scala Theatre of Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Teatro-alla-Scala-Theatre-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Teatro alla Scala Theatre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/43547009@N00/27344992859" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/43547009@N00/" rel="noopener noreferrer" target="_blank">
                                    Alejandro</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the historic buildings lining Milan's Via Montenapoleone which contain many boutiques and high-end stores" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Via-Montenapoleone-Shopping-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Via Montenapoleone<br />Shopping Street</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/italy-milano-milan-street-3534348/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Milan Cathedral Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="milan-cathedral"></a>
        <h2 class="left-heading destination-section-heading">Milan Cathedral</h2>
        <p>Among Milan’s most iconic attractions is the breathtaking Duomo di Milano (or <strong>Milan Cathedral</strong>), with its stunningly intricate gothic architecture. Interestingly, the cathedral was under construction for nearly 600 years and was not completed until 1965. The Milan Cathedral is also larger than the Vatican’s St. Peter’s Basilica, and is the fourth largest church in the world.</p>
        <p>Inside the Milan Cathedral is a vast room with towering columns, filled with religious artworks. Be sure to climb to the Milan Cathedral’s rooftop terrace, where you can appreciate a marvelous display of large gothic spires and pinnacles, as well as amazing views. The architectural elements atop the cathedral roof are highly elaborate and photogenic.</p>
        <p>The Milan Cathedral is located on the Piazza del Duomo, along with two more of Milan’s top attractions, the Galleria Vittorio Emanuele II and the Royal Palace of Milan.</p>
    </section>




    <!-- Central Milan Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-milan"></a>
        <h2 class="left-heading destination-section-heading">Central Milan Attractions</h2>
        <h3>Royal Palace of Milan</h3>
        <p>Across from the Milan Cathedral is the 18th century Royal Palace of Milan, built in grandiose neoclassical style. Within the palace you can see shifting temporary exhibitions, usually consisting of international art or cultural exhibits. Unfortunately much of the palace was damaged during WWII, and so many of its original stately interiors no longer exist.</p>
        <h3>Galleria Vittorio Emanuele II</h3>
        <p>Among the most beautiful buildings in Milan is the <strong>Galleria Vittorio Emanuele II</strong>, an elegant arcade-style shopping mall located across from the Milan Cathedral. Among the galleria’s most incredible features its its roof, displaying highly elaborate geometric patterns with a mix of glass and iron.</p>
        <p>The Galleria was built in the 19th century, and today it hosts many upscale shops, boutiques, cafes, and restaurants. It’s recommend to see this majestic structures both during the day and at night when it is brilliantly illuminated.</p>
        <h3>Teatro alla Scala</h3>
        <p>Behind Milan’s Galleria is the <strong>Teatro all Scalla</strong>, an extravagant 18th century theatre. To this day the theatre hosts world-renowned operas, ballets, orchestras, and other performances. You can also book a tour to see the lavishly decorated interior of the theatre without seeing a show if you like.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Merchant’s Square</h3>
            <p>Just west of Piazza del Duomo is the Piazza Mercanti (Merchant’s Square), a smaller and more rustic medieval square which served as Milan’s main square during the Middle Ages. Surrounding the square are several lovely old palaces.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Shopping and Fashion Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="shopping-and-fashion"></a>
        <h2 class="left-heading destination-section-heading">Shopping &amp; Fashion</h2>
        <p>As one of the fashion capitals of the world, many tourists are drawn to Milan for shopping, and Central Milan is full of designer clothing stores and boutiques.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>La Rinascente</h3>
            <p>In particular there are a couple of famous shopping areas in the city, including Milan’s high-end La Rinascente department store, hosting a variety of products in addition to clothing and accessories. La Rinascente is located across from the Milan Cathedral.</p>
            <h3>Via Montenapoleone</h3>
            <p>A few blocks northeast of Piazza del Duomo is Milan’s most famous shopping street, <strong>Via Montenapoleone</strong>, the center of Milan’s main fashion district. Via Montenapoleone is lined with upscale boutiques and stores, and is known as Europe’s most expensive street. Many exclusive stores also exist along this street.</p>
            <h3>Armani/Silos</h3>
            <p>Southwest of Central Milan is a large upscale fashion museum, the Armani/Silos, dedicated to the fashion history of Giorgio Armani brands. The fashion exhibits at this museum are also presented in a very aesthetic manner.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Milan 1 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="1241557267"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Milan Churches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful exterior of the giant Church of Santa Maria delle Grazie, which houses Da Vinci's Last Supper, in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Basilica-di-Santa-Maria-delle-Grazie-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Santa Maria delle Grazie (Last&nbsp;Supper)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Santa_Maria_delle_Grazie_Milano_07-08-2007.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://zh.wikipedia.org/wiki/User:Latinboy" rel="noopener noreferrer" target="_blank">
                                    Latinboy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/tw/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 TW</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Plethora of ancient and medieval buildings making up the Basilica of San Lorenzo Maggiore Complex in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Basilica-di-San-Lorenzo-Maggiore-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of San Lorenzo<br />Maggiore</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_di_San_Lorenzo_Maggiore.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%C3%93%C3%B0inn" rel="noopener noreferrer" target="_blank">
                                    Odin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/ca/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5 CA</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Roman Columns of San Lorenzo lined up behind a statue in front of the San Lorenzo Basilica in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Columns-of-San-Lorenzo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Columns of San Lorenzo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:S.Lorenzo_Colonne_IV.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zanner" rel="noopener noreferrer" target="_blank">
                                    Zanner</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the two bell towers of the Basilica of Sant'Ambrogio from the church courtyard in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Basilica-di-Sant-Ambrogio.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Sant'Ambrogio</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/randihausken/4627811354/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/randihausken/" rel="noopener noreferrer" target="_blank">
                                    Randi Hausken</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Arched columns surrounding the courtyard of the Basilica of Sant'Ambrogio with its giant towers in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Basilica-di-Sant-Ambrogio-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Sant'Ambrogio</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/basilica-of-st-ambrogio-3542699/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly ornate frescoes covering the walls and ceilings of the Church of San Maurizio al Monastero Maggiore in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-San-Maurizio-al-Monastero-Maggiore-Church-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of San Maurizio al<br />Monastero Maggiore</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nebulux/24688676033/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nebulux/" rel="noopener noreferrer" target="_blank">
                                    Luca Nebuloni</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Arrangement of thousands of human skulls and bones within the Ossiary of the Sanctuary of San Bernardino alle Ossa in Milan"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Santuario-di-San-Bernardino-alle-Ossa-Ossuary-Bone-Sanctuary-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sanctuary of San Bernardino<br />alle Ossa Ossuary</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:San_Bernardino_ossuary_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Einaz80" rel="noopener noreferrer" target="_blank">
                                    Einaz80</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Last Supper Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="last-supper"></a>
        <h2 class="left-heading destination-section-heading">Da Vinci's Last Supper</h2>
        <p>Among Milan’s top attractions is the <strong>Chiesa di Santa Maria delle Grazie</strong> (Church of Holy Mary of Grace), a UNESCO world heritage site known for its famous mural of The Last Supper by Leonardo da Vinci. The exterior of this 15th century church / Dominican convent is very beautiful as well, displaying Gothic and Renaissance architectural styles.</p>
        <p>Be sure to book your tour to visit Santa Maria delle Grazie in advance, since it draws an enormous amount of tourists wishing to see da Vinci’s massive mural of The Last Supper. The church is located on the western side of Central Milan, near the Sfrozesco Castle.</p>
    </section>



    <!-- Milan Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches of Milan</h2>
        <h3>Basilica di San Lorenzo Maggiore</h3>
        <p> One of Milan’s oldest churches is the <strong>Basilica di San Lorenzo Maggiore</strong>, a massive basilica originally constructed in the 4th century. Interestingly, this basilica contains a mix of buildings and towers from different time periods, giving it a very unique look, especially from its backside.</p>
        <h3>Columns of San Lorenzo</h3>
        <p>In front of the basilica are Milan’s famous Colonne di San Lorenzo (<strong>Columns of San Lorenzo</strong>), consisting of 16 ancient Roman marble columns in a row, forming a grand colonnade. The columns are believed to have been part of an ancient Roman bath house or Pagan temple.</p>
        <h3>Basilica di Sant’Ambrogio</h3>
        <p>Another of Milan’s ancient churches, the <strong>Basilica di Sant’Ambrogio</strong>, is perhaps the most photogenic church in Milan. This beautiful Romanesque-style basilica is best known for its stunning courtyard surrounded by arches, with its two large bell towers behind it. The basilica also contains intricate ancient frescoes.</p>
        <h3>Church of San Maurizio al Monastero Maggiore</h3>
        <p>Milan’s <strong>Church of San Maurizio al Monastero Maggiore</strong> is a former Benedictine convent of nuns, located near the Sforzesco Castle. This church is known for its strikingly intricate and beautiful frescoes and designs covering its walls and ceilings. Most of these frescoes cover biblical themes and stories, painted in rich and elegant detail.</p>
        <p>San Maurizio al Monastero Maggiore also hosts Milan’s Archaeological Museum, with its collections of artifacts from Ancient and Medieval Milan, as well as ancient Etruscan and Greek artifacts.</p>
        <h3>Church of Santa Maria presso San Satiro</h3>
        <p>Located very close-by Milan’s Piazza Duomo is the <strong>Church of Santa Maria presso San Satiro</strong>, with its exceptionally elaborate exterior consisting of many different structures. This stunning 15th century church is also known for its highly ornate and lavish interior.</p>
        <h3>Ossuary and Church of San Bernardino alle Ossa</h3>
        <p>Just east of the Milan Cathedral is the city’s <strong>Church of San Bernardino alle Ossa</strong>, which is known for its amazing ossuary of human bones. Thousands of human skulls and bones are arranged into patterns displayed amongst the highly ornate Rococo-style walls of this church, creating a very stunning and spooky visual effect.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Milan 2 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="4902720239"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Milan Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Courtyard surrounded by columned arches of Milan's Pinacoteca di Brera Museum"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Pinacoteca-di-Brera-Museum-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pinacoteca di Brera Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Milan_-_Pinacoth%C3%A8que_de_Brera_-_Cour_int%C3%A9rieure.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe BENOIST</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Courtyard arches of the Museum of Poldi Pezzoli in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Museo-Poldi-Pezzoli-Museum-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Poldi Pezzoli</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:20170115_Cortile_Poldi_Pezzoli.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:20170115_Cortile_Poldi_Pezzoli.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Melancholia~itwiki</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Flags and columned arches above the entrance of the Palazzo Bagatti Valsecchi Museum in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Palazzo-Bagatti-Valsecchi-Museum-Exterior-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Bagatti Valsecchi<br />Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:20161101_Palazzo_Bagatti_Valsecchi,_Facciata_via_Santo_Spirito.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:20161101_Palazzo_Bagatti_Valsecchi,_Facciata_via_Santo_Spirito.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Melancholia~itwiki</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lavish room within the Gallerie d'Italia Museum of Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Galerie-d-Italia-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Galerie d'Italia Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/panic01/27689532383/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/panic01/" rel="noopener noreferrer" target="_blank">
                                    stefano Merli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade and entrance to the GAM Galleria d'Arte Moderna museum in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-La-Villa-Reale-GAM-Galleria-dArte-Moderna-Modern-Art-Gallery-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Galleria d'Arte Moderna<br />GAM Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Villa_Reale_di_MIlano,_vista_generale.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Paolobon140" rel="noopener noreferrer" target="_blank">
                                    Paolobon140</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Museums of Milan Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums of Milan</h2>
        <h3>Pinacoteca di Brera</h3>
        <p>Milan’s most popular museum and one of its top attractions is the <strong>Pinacoteca di Brera</strong>, located north of the city center. This museum is housed within the grandiose neoclassical Palazzo di Brera palace. The museum’s collection specializes in painting by Italian artists from the medieval period to the Renaissance and beyond, with important works by Titian, Raphael, and many others.</p>
        <h3>Leonardo da Vinci Science &amp; Technology Museum</h3>
        <p>Milan’s Museo Nazionale Scienza e Tecnologia (or National Museum of Science and Technology) is dedicated to the famous Leonardo da Vinci and is Italy’s largest museum of the type.</p>
        <p>Within this museum you can admire stunning scale models of machines and contraptions designed by Leonardo da Vinci, many of which were considered very futuristic and beyond the capabilities of science at the time. The museum also hosts exhibits in areas including communication, transportation, energy, materials, horology, and historic musical instruments.</p>
        <h3>Poldi Pezzoli Museum</h3>
        <p>Milan’s <strong>Museum Poldi Pezzoli</strong> is located a bit north of the Piazza del Duomo and is housed within an elegant neoclassical palace. This museum hosts a wide range of exhibits, including significant fine art from Northern Italian, Dutch, and Flemish artists, as well as historic exhibits in weaponry and armor, furniture, textiles, ceramics, jewelry, and glass. Among the museum’s art collection are works by Michelangelo, Bartolomeo, Raphael, and many more.</p>
        <h3>Bagatti Valsecchi Museum</h3>
        <p>Within Milan’s main fashion district near Via Montenapoleone is a decadent 16th century townhouse, the <strong>Bagatti Valsecchi Museum</strong>. This home is extravagantly decorated and highly ornate, hosting an incredible collection of Renaissance-era decorative arts and armors. The house has been very well-preserved as a museum and even contains artworks by Bellini. The manner in which the countless historic items are displayed within the townhouse is very elegant and aesthetic.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Villa Necchi Campiglio</h3>
            <p>East of Central Milan is a beautiful early modern mansion, the Villa Necchi Campiglio, which was built for a wealthy family in the 1930s that has been preserved as a museum. Within the villa are elegant historic furnishings, decorative arts, and impressive architectural designs. The villa is also known for it lovely gardens and small art collection.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Milan 3 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="1112908212"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Modern and Contemporary Art Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="modern-and-contemporary-art"></a>
        <h2 class="left-heading destination-section-heading">Modern &amp; Contemporary Art</h2>
        <h3>MUDEC Museum of Culture</h3>
        <p>In Southwestern Milan near the Armani Silos is one of Milan’s top museums, the MUDEC Museum of Culture, which is housed within a large old factory building. This museum actually hosts a permanent collection as well as a wide array of temporary exhibitions, often acting as Milan’s host to exhibitions that travel all over the world.</p>
        <h3>Gallerie d’Italia</h3>
        <p>Just north of Milan’s Piazza del Duomo on the Piazza Scala is the <strong>Galleria d’Italia</strong>, a popular modern art museum specializing in 19th and 20th century paintings and sculptures. The museum is housed across two connected neoclassical palazzos, with the artworks displayed amongst lavish interiors.</p>
        <h3>GAM Galleria d’Arte Moderna</h3>
        <p>Northeast of Central Milan is the <strong>Galleria d’Arte Moderna</strong> (or GAM), which hosts a significant collection of modern European artworks, mainly from the 18th-20th centuries. The museum is housed within a lavish 18th century mansion and even features a small collection of works by Picasso and Van Gogh.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Fondazione Prada</h3>
            <p>On the southeastern side of Central Milan is the Fondazione Prada of Largo Isarco, a popular contemporary art museum hosted within an interestingly designed modern structure. The central building of this museum is four stories tall and covered in real 24 carat gold foil, giving it a very interesting look. The museum hosts a wide array of permanent and temporary exhibitions of contemporary art.</p>
            <h3>Museo del Novecento</h3>
            <p>Adjacent to the Milan Cathedral and the Royal Palace is the Museo del Novecento (Museum of the 20th Century), a popular museum specializing in 20th century artworks. This museum houses works by a wide range of 20th century artists from Picasso to Andy Warhol, and the museum also offers scenic views overlooking the Piazza del Duomo and facade of the Milan Cathedral.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Milan 4 -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="8799826549"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Sforza Castle and Monument Cemetery Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive entrance tower to the Sforza Castle seen from the castle courtyard in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Castello-Sforzesco-Sforza-Castle-Courtyard-and-Towers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sforza Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sforza_Castle_Milan_from_internal_Court_yard.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Sforza_Castle_Milan_from_internal_Court_yard.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Fishponds1981</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Courtyarfd of the Sforza Castle surrounded by high walls and watchtowers in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Castello-Sforzesco-Sforza-Castle-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sforza Castle Courtyard</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sinava/39564734360" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                                    Naval S</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour aerial view overlooking the Sforza Castle Complex of Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Castello-Sforzesco-Sforza-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sforza Castle (Aerial)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Castello_Sforzesco_da_alto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Castello_Sforzesco_da_alto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    zheng.yan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pond surrounded by lush greenery and trees at Milan's Sempione Park"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Sempione-Park-Pond.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sempione Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/park-lake-forest-morning-sunshine-3531737/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate triumphal arch commissioned by Napoleon known as the Arch of Peace of Sempione Gate in Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Sempione-Park-Arco-della-Pace-Triumphal-Arch-of-Peace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arch of Peace<br />(Sempione Gate)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Arco_della_Pace,_Milano.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Arco_della_Pace,_Milano.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    NTrinkhaus</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly elaborate and unique monuments and tombs at Milan's historic Monumental Cemetery"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Monumental-Cemetery-Tombs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monumental Cemetery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Edicola_Bernocchi.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Edicola_Bernocchi.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Ponti michele</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Sforza Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sforza-castle"></a>
        <h2 class="left-heading destination-section-heading">Sforza Castle</h2>
        <p>The Castello Sforzesco or <strong>Sforza Castle</strong> is one of the largest citadels in Europe and one of the top attractions in Milan. This highly fortified castle was originally built in the 15th century and is surrounded by giant imposing walls and towers. In the past, this former royal castle was surrounded by a moat and accessed by drawbridge.</p>
        <p>The Sfroza Castle is a popular spot to walk around and explore, especially amongst its giant courtyard, which is one of the most photographed attractions in Milan.</p>
        <h3>Sforza Castle Museums</h3>
        <p>Today the Sforza Castle is home to a large number of Milan’s museums, including the Pinacoteca del Castello Sforzesco hosting important artworks by Bellini, Titian, and Tintoretto, and the Museum of Rondanini Pieta hosting Michelangelo’s last sculpture.</p>
        <p>The Sforza Castle also houses the Museum of Ancient Art, which contains frescoes painted by Michelangelo. The Museum of Ancient Art contains an amazing collections of tapestries, armors, weaponry, sculptures, and portals from the medieval and Renaissance era.</p>
        <p>Other popular museums of the castle include the Museum of Musical Instruments, Antique Furniture &amp; Wooden Sculpture Museum, Applied Arts Collection, Egyptian Museum, and the Prehistoric collection of the Archaeological Museum of Milan.</p>
        <h3>Sempione Park</h3>
        <p>The Sforza Castle is located at the entrance to <strong>Sempione Park</strong>, a lush urban park full of woodlands, gardens, ponds, and monuments. Within the park is the Branca Tower, a giant steel tower with an elevator that takes visitors up to an observation deck from which they can enjoy amazing panoramic views over Milan.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Triennale Milano</h3>
            <p>Sempione Park is home to the Triennale Milano, a museum with various temporary exhibits usually relating to furniture and household objects, as well as architectural and interior design.</p>
            <h3>Arco della Pace (Arch&nbsp;of&nbsp;Peace)</h3>
            <p>At the opposite end of Sempione Park from the Sforza Castle is a giant triumphal arch commissioned by Napoleon, known as the Arco della Pace (<strong>Arch of Peace</strong>), also referred to as the Porta Sempione (or Sempione Gate). This 19th century neoclassical arch is very grandiose and elaborately decorated with marble and statues. Milan’s Arco della Pace is also a very photogenic attractions.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Monumental Cemetery Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="monumental-cemetery"></a>
        <h2 class="left-heading destination-section-heading">Monumental Cemetery</h2>
        <p>You might also consider visiting the massive <strong>Monumental Cemetery</strong>, located to the north of Central Milan. This vast cemetery hosts an abundance of grandiose monuments and tombs, many of which are incredibly elaborate and massive. Even the entrance to the cemetery is a large elegantly designed building.</p>
        <p>While it might seem strange to visit a cemetery, the Monument Cemetery is one of Milan’s top tourist attractions, and many of the tombs were designed with the purpose of being flashy and displaying wealth.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Milan Bottom -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-4475491996225753"
            data-ad-slot="7486744876"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Milan Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/rc47oCFEXYBTozq89">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/9nnHeuD8sweXxtqU7">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Picturesque view of Bellagio, Italy along the shores of Lake Como seen from the Lungolago Europa lakeside pathway"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">
                        Lake Como
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/village-bellagio-italy-lake-1878351/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/gayulo-3585927/" rel="noopener noreferrer" target="_blank">
                            gayulo</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Golden hour colors lighting up the Ponte Scaligero bridge over the Adige River to the Castelvecchio Castle in Verona, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Verona-Castelvecchio-Ponte-Scaligero-Bridge-River-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        Verona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Keep_of_Castelvecchio_and_Ponte_Scaligero_Verona_Italy.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vvlasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/florence-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view from Piazzale Michelangelo over Arno River and rustic buildings of Florence, Italy and Florence Cathedral's Dome"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/florence-attractions-guide">
                        Florence (Firenze)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/florence-skyline-sunset-cityscape-1289364/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/MustangJoe-2162920/" rel="noopener noreferrer" target="_blank">
                            MustangJoe</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/venice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gondola boats along the water in front of St. Mark's Square with St. Mark's Campanile towering above it in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-St-Marks-Campanile.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/venice-attractions-guide">
                        Venice (Venezia)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sky-rock-stone-1905062/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                            kirkandmimi</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/pisa-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic Leaning Tower of Pisa seen beside the Duomo di Pisa Cathedral in Pisa, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Pisa-Piazza-del-Duomo-Leaning-Tower-of-Pisa.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/pisa-attractions-guide">
                        Pisa
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/reservasdecoches/8224991327/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/reservasdecoches/" rel="noopener noreferrer" target="_blank">
                            Alquiler de Coches</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the idyllic Cinque Terre Village of Manarola above the coast from the Manarola Scenic Viewpoint"
                        data-src="https://www.travelimager.com/images/italy/Italy-Cinque-Terre-Manarola-Manarola-Scenic-Viewpoint-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/cinque-terre-attractions-guide">
                        Cinque Terre
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/vernazza-town-scenery-reflection-1914919/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/AlwaysWanderlust-3858945/" rel="noopener noreferrer" target="_blank">
                            AlwaysWanderlust</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/nice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vibrant blue waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/nice-attractions-guide">
                        Nice, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    