<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Gondolas at the entrance to Canal Grande with Basilica de Santa Maria della Saulte in background at sunset, Venice, Italy Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Entrance-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Venice, Italy + Burano, and plan the perfect trip with our savable Venice Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="venice_italy" />
    <meta name="europe_attraction_guides" content="venice_italy" />
    <meta name="europe_destinations" content="venice_italy" />
    <meta name="europe_destination_guides" content="venice_italy" />
    <meta name="italy_attraction_guides" content="venice" />
    <meta name="italy_attraction_guides" content="burano" />
    <meta name="italy_destinations" content="venice" />
    <meta name="italy_destinations" content="burano" />
    <meta name="italy_destination_guides" content="venice" />
    <meta name="italy_destination_guides" content="burano" />
    <meta name="google_maps_list" content="venice" />
    <meta property="og:title" content="Venice, Italy Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Entrance.jpg">
    <meta name="twitter:title" content="Venice, Italy Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Entrance.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/italy/venice-attractions-guide">
    <title>Attractions Guide for Venice, Italy</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Venice, Italy<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#st-marks-square">St. Mark's Square</a></div>
            <div><a href="#bridges">Bridges</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#venetian-arsenal">Venetian Arsenal</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
            <div><a href="#burano">Burano</a></div>
            <div><a href="#murano">Murano</a></div>
            <div><a href="#giudecca">Guidecca</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Venice Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The amazingly picturesque city of Venice is built atop an array of islands within the massive Venetian Lagoon of Northern Italy. All of Venice’s top attractions are located on the islands, which are the historic center of the city and make-up a major UNESCO world heritage site. These islands were the capital of the Republic of Venice, a very wealthy and significant maritime republic which survived for 1,100 years.</p>
        <p>Modern Venice is located across a long bridge which connects the islands to Mainland Italy. Venice’s main group of islands are separated by a labyrinth of tiny canals, with the giant Grand Canal winding through the center of the city. An extensive ferry system connects the Venetian islands, many of which are only accessible by boat, including the islands of Giudecca and San Giorgio Maggiore, which are located just south of the main islands.</p>
        <p>Apart from its countless canals, Venice is known for its incredibly beautiful Venetian Architecture, which ca be seen in many of the city’s historic buildings and has been reproduced all around the world. The Venetian gothic and Renaissance-era styles are the most prominent within the city, especially amongst the lavish canal homes, palazzos, and squares of Venice.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>With the immense beauty seen throughout the entirety of Venice, wandering around the streets and canals is quite a scenic and even romantic experience. In fact, the only way to get around most of the islands is either on foot or by boat, with Venice’s main train station and highway bridge terminating at the entrance to the islands on the western side (which conveniently also hosts parking lots).</p>
            <h3>Burano &amp; Murano</h3>
            <p>Approximately 1 mile (1.5 km) north of the main islands are Venice’s Murano Islands, and about 5 miles (8 km) northeast are the Burano Islands, which are known for their exceptionally beautiful and colorful canal homes. Both Burano and Murano can only be reached via ferry or boat from Venice.</p>
            <h3>Carnival of Venice</h3>
            <p>An especially exciting time to visit Venice is during the annual Carnival of Venice, a famous celebration known for its distinctive masks. The event takes place for approximately 2 weeks around February, ending on the first day of Christian Lent each year.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Piazza San Marco Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning view of massive St. Mark's Square with St. Mark's Campanile towering above it in Venice, Italy" 
                        src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Mark's Square<br />(Piazza&nbsp;San&nbsp;Marco)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/venice-piazza-st-mark-s-duomo-3380829/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/nicolagiordano-8243414/" rel="noopener noreferrer" target="_blank">
                                    nicolagiordano</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of St. Mark's Campanile with Doge Palace and loggia-style buildings lining the water near Venice's St. Mark's Square"
                        src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-East-Seaside-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Mark's Square<br />(Sea&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Blick_von_der_Riva_degli_Schiavoni_auf_den_Palazzo_Ducale_%26_den_Campanile_der_Basilica_di_San_Marco_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Gondola boats along the water in front of St. Mark's Square with St. Mark's Campanile towering above it in Venice, Italy"
                        src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-St-Marks-Campanile.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Mark's Campanile Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/sky-rock-stone-1905062/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate and grandiose facade of the St. Mark's Basilica on Venice's St. Mark's Square"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Piazza-San-Marco-St-Marks-Square-Saint-Marks-Basilica.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Mark's Basilica</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/st-mark-s-basilica-venice-italy-895231/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/WikimediaImages-1185597/" rel="noopener noreferrer" target="_blank">
                                    WikimediaImages</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beuatiful loggia-style Doge's Palace along the water at Venice's St. Mark's Square" 
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Palazzo-Ducal-Doge-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Doge's Palace<br />(Palazzo&nbsp;Ducale)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/venice-palazzo-ducal-1750046/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/a_lanzini-3549508/" rel="noopener noreferrer" target="_blank">
                                    a_lanzini</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Giant coutyard of the Doge's Palace surrounded by loggia arches in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Palazzo-Ducal-Doge-Palace-Courtyard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Doge's Palace Courtyard</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/5237904272/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- St. Mark's Square / Piazza San Marco Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="st-marks-square"></a>
        <h2 class="left-heading destination-section-heading">St. Mark's Square (Piazza&nbsp;San&nbsp;Marco)</h2>
        <p>Venice’s most famous attractions are located around the Piazza San Marco (or <strong>St. Mark’s Square</strong>), including the Doge Palace, the massive Campanile tower, and St. Mark’s Basilica. The vast square is exceptionally scenic, and is even known to flood occasionally during storms and high tide.</p>
        <p>It’s highly recommended to purchase a combination ticket to the attractions around Venice’s St. Mark’s Square in advance, in order to avoid long waiting times or tickets being sold out, due to the immense popularity of these attractions</p>
        <h3>Campanile di San Marco</h3>
        <p>Among the most iconic attractions in Venice is the Campanile di San Marco (or <strong>St. Mark’s Campanile</strong>), which towers nearly 325 feet (100 m) above the piazza. The tower serves as the belfry for the St. Mark’s Basilica and has been refined and reconstructed several times since the 10th century.</p>
        <p>Due to the tower’s collapse in 1902, it was rebuilt with an elevator, which you can take up to the top of the Campanile for incredible views overlooking Venice and the coast.</p>
        <h3>Basilica di San Marco</h3>
        <p>Venice’s most famous church is the Basilica di San Marco (or <strong>St. Mark’s Basilica</strong>), which is located on one end of St. Mark’s Square. St. Mark’s Basilica was built in the 11th century and displays magnificent Italo-Byzantine style architecture, with strikingly intricate and lavish details adorning its exterior.</p>
        <p>The Basilica di San Marco also earned the nickname Church of Gold, due to its breathtakingly opulent gold glass mosaics seen on the ceiling and upper walls of the basilica’s interior. Additionally within the basilica are the relics of San Marco, as well as a treasury containing the foremost collection of Byzantine metalwork.</p>
        <h3>Palazzo Ducale (Doge’s Palace)</h3>
        <p>Adjacent to the St. Mark’s Basilica is the grand Palazzo Ducale (or <strong>Doge’s Palace</strong>), the former seat of power of the Venetian Republic and an iconic example of Venetian Gothic Architecture. This 14th century palace is massive, located between St. Mark’s Square and the waters of the Venetian Lagoon.</p>
        <p>The exterior of the Doge’s Palace is stunningly elaborate and decorated with elegant details, with the intention of reflecting the immense wealth of the former Venetian Republic. The palace also has a giant courtyard, which is lined with beautiful loggias of white arches.</p>
        <p>As expected, the interior of Venice’s Palazzo Ducale is strikingly extravagant and adorned with incredible details. Among the most opulent sections of the palace are the Doge’s Apartments and the governmental Institutional Chambers, which display an incredible level of elegance and host frescos by famous artists such as Titian and Tintoretto. You can also tour the palace’s historic prison and armory.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Clocktower of San Marco</h3>
            <p>Spanning above one of the main entrances to St. Mark’s Square is the Torre dell’Orologio (also known as St. Mark’s Clocktower),  a beautiful Renaissance-era tower with an archway leading to the square. This 15th century clocktower consists of several mechanics to tell the time, including its rooftop bronze sculptures which strike the bell every hour.</p>
            <p>The tower also hosts a beautiful clock face, a winged lion sculpture, and a special mechanical figure show that only occurs twice a year on the Christian holidays of Epiphany and Ascension.</p>
            <h3>Museo Correr Museum</h3>
            <p>At the western end of St. Mark’s Square is the Museo Correr museum, housed within an opulent neoclassical palace. The museum hosts exhibits on the history of the Venetian Republic, the city of Venice, Venetian culture, and Venetian fine artworks.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5136586155"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Venice Bridges Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gondola along the Grand Canal centered in front of the iconic Ponte Rialto Bridge in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Ponte-Rialto-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponte Rialto Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/venice-canale-grande-rialto-bridge-1721988/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/mfoddo-2998580/" rel="noopener noreferrer" target="_blank">
                                    mfoddo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Parked gondola boat along the waters of the Grand Canal with Ponte Rialto Bridge in background in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Ponte-Rialto-Bridge-and-Gondola.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponte Rialto Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Gondel_%26_Ponte_Rialto.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque sunset view looking down Venice's Grand Canal from the canal entrance with Basilica de Santa Maria della Saulte"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Entrance.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Entrance to Canal Grande<br />(Grand&nbsp;Canal)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/channel-venice-gondolas-italy-3547224/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                                    bogitw</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gondola rowing through the central part of Venice's Grand Canal at sunset"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Central Grand Canal</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Always_In_Love_With_Venice_(86330867).jpeg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://500px.com/piervix" rel="noopener noreferrer" target="_blank">
                                    Piervincenzo Madeo</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate Ponte dell'Accademia Bridge spanning over the Grand Canal in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Ponte-dell-Accademia-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponte dell'Accademia Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Accademia_bridge_in_Venice_(South_East_exposure).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful dome of the Church of San Simeone Piccolo along Venice's Grand Canal with Scalzi Bridge in background"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Chiesa-di-San-Simeon-Piccolo-Church-Canal-Grande-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of San Simeone Piccolo<br />(Near Scalzi&nbsp;Bridge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161029090513/http://www.panoramio.com/photo/106437696" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161029090426/http://www.panoramio.com/user/7406641?with_photo_id=106437696" rel="noopener noreferrer" target="_blank">
                                    Michelle Maria</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely Ponte degli Scalzi Bridge spanning Venice's Grand Canal just outside Santa Lucia Station"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Canal-Grande-Ponte-degli-Scalzi-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponte degli Scalzi Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ponte_degli_Scalzi_(Venice).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Venice Bridges Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bridges"></a>
        <h2 class="left-heading destination-section-heading">Famous Bridges of Venice</h2>
        <h3>Ponte Rialto Bridge</h3>
        <p>The Ponte Rialto (<strong>Rialto Bridge</strong>) is one of the most iconic attractions in Venice, and is certainly the most famous bridge in the city. Along with only three other bridges, the Rialto Bridge spans Venice’s wide Grand Canal (Canal Grande), raised up to allow boats to pass underneath it.</p>
        <p>The most scenic views of the Rialto Bridge can be admired from the walkway along the canal on the southwestern side of the bridge.</p>
        <h3>Ponte dell’Accademia Bridge</h3>
        <p>Spanning over Venice’s Grand Canal near the southern end of the canal is the <strong>Ponte dell’Accademia</strong>, a lovely and highly photogenic bridge. Some of the most scenic views looking down the Grand Canal can be admired from atop this bridge. This bridge is named for the popular Galleria dell’Accademia museum which it connects to.</p>
        <h3>Ponte degli Scalzi Bridge</h3>
        <p>When arriving at Venice’s main train station, Santa Lucia Station, the first thing most visitors to Venice see is the beautiful domed <strong>Church of San Simeone Piccolo</strong>.</p>
        <p>Very close to this church is the Ponte degli Scalzi (or <strong>Scalzi Bridge</strong>), which spans Venice’s Grand Canal to connect to the rest of Venice’s attractions. The Scalzi Bridge is elegant and quite photogenic, especially when framed next to the churches on either side of the bridge.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3823504480"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Venice Churches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tiny Island of San Giorgio Maggiore with its main feature being its massive basilica, in Venice, italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Basilica-di-San-Giorgio-Maggiore-a-Venezia-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Island of San Giorgio Maggiore</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/venice-italy-boats-flying-bird-1606937/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Mariamichelle-165491/" rel="noopener noreferrer" target="_blank">
                                    Mariamichelle</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful exterior of the Basilica of San Giorgio Maggiore with its campanile tower on a tiny island in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Basilica-di-San-Giorgio-Maggiore-a-Venezia-Church-Alternate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of San Giorgio Maggiore</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_di_San_Giorgio_Maggiore_a_Venezia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Moroder" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Moroder</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lavish and elegant facade of the domed Basilica of Santa Maria della Salute seen along Venice's Grand Canal"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Basilica-di-Santa-Maria-della-Saulte.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Santa Maria<br />della Salute</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/architecture-building-cathedral-1835749/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Pexels-2286921/" rel="noopener noreferrer" target="_blank">
                                    Pexels</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking the entrance to Venice's Grand Canal next to the Basilica of Santa Maria della Salute"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Basilica-di-Santa-Maria-della-Saulte-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Santa Maria<br />della Salute (Aerial)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/venice-the-sun-holidays-clouds-sky-1896152/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/jarekgrafik-1516348/" rel="noopener noreferrer" target="_blank">
                                    jarekgrafik</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Brick facade and tower of Venice's Basilica of Santa Maria Gloriosa dei Frari, also known simply as Frari"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Basilica-de-Santa-Maria-Gloriosa-dei-Frari.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Santa Maria<br />Gloriosa dei Frari</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Facade_of_Santa_Maria_Gloriosa_dei_Frari_(Venice).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning exterior of the Basilica of Santi Giovanni and Paolo where many of Venice's doges are buried"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Basilica-dei-Santi-Giovanni-e-Paolo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Santi Giovanni &amp;<br />Paolo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Exterior_of_Santi_Giovanni_e_Paolo_(Venice)_from_Campo_San_Zanipolo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Church of Santa Maria Formosa and its lovely tower located on a small square in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Chiesa-di-Santa-Maria-Formosa-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Santa Maria<br />Formosa</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Chiesa_Santa_Maria_Formosa_a_Venezia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Moroder" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Moroder</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Decadent marble-adorned interior of the Church of Santa Maria dei Miracoli, also known as the Marble Church in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Chiesa-di-Santa-Maria-dei-Miracoli-Church-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Santa Maria<br />dei Miracoli</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Chiesa_di_Santa_Maria_dei_Miracoli_Innen_Langhaus_Nord_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Venice Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches of Venice</h2>
        <h3>San Giorgio Maggiore Island</h3>
        <p>Across the water from the Doge’s Palace is Venice’s <strong>Church of San Giorgio Maggiore</strong>, which along with an adjoining monastery takes up an entire small island. This church is especially elegant when viewed from the Piazza San Marco, and even hosts a very similar-looking campanile bell tower to that of of San Marco. From the top of this campanile you can enjoy what is perhaps Venice’s best view overlooking Piazza San Marco and Doge’s Palace behind the water.</p>
        <p>Obviously to reach San Maggiore Island you’ll need to take a quick ferry ride from Piazza San Marco. Within the church you’ll find two amazing paintings by Tintoretto. The former monastery on the island now operates as the Cini Foundation,  a cultural center housing an lovely library filled with important volumes and manuscripts, as well as beautiful gardens and cloisters.</p>
        <h3>Basilica di Santa Maria della Salute</h3>
        <p>The <strong>Basilica di Santa Maria della Salute</strong> (Basilica of Saint Mary of Health) is perhaps the most beautiful church in Venice, and certainly one of its most iconic attractions.</p>
        <p>This gorgeous baroque-style church and its massive dome are extremely photogenic, located along the waterfront near the tip of an island at the entrance to the Grand Canal. The interior of the Basilica di Santa Maria della Salute is also magnificent, featuring many works by the great artist Titian.</p>
        <h3>Basilica dei Frari</h3>
        <p>In Venice’s San Polo district (near Camp San Polo) is another of Venice’s most famous churches, the <strong>Basilica di Santa Maria Gloriosa dei Frari</strong>, usually shortened to just Frari.</p>
        <p>This basilica’s gothic-style brick architecture is very beautiful. Inside the Frari Basilica you can admire incredible works of art by famous painters such as Titian, Bartolomeo, and Donatello. Frari also houses the tomb of Titian.</p>
        <h3>Basilica di Santi Giovanni e Paolo</h3>
        <p>Another one of Venice’s major churches is the <strong>Basilica di Santi Giovanni e Paolo</strong>, where many of the Venetian Republic’s Doges were buried. The basilica’s brick exterior displays majestic Gothic architecture and is highly photogenic. Inside the church are many intricate frescoes, especially on its ornate ceiling. This basilica is located northeast of St. Mark’s Square.</p>
        <h3>Church of Santa Maria Formosa</h3>
        <p>An especially lovely church in Venice is the <strong>Church of Santa Maria Formosa</strong>, which sits on a small square between the Basilica di Santi Giovanni e Paolo and St. Mark’s Square. Many of the buildings surround this square display beautiful Venetian architecture. The Church of Santa Maria Formosa has an impressive Renaissance-style facade and a stunning white bell tower.</p>
        <h3>Church of Santa Maria dei Miracoli</h3>
        <p>The charming <strong>Church of Santa Maria Dei Miracoli</strong> is known for its lavish colored marble, so much so that it is alternatively named the Marble Church. The church’s interior is even more decadent, with its wall entirely covered in stunning marble patterns, while its gilded wooden ceiling displays intricately carved designs.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6418820187"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Venice Museums and Venetian Arsenal Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful canal-front facade of the Peggy Guggenheim Collection museum housed within a former palace in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Peggy-Guggenheim-Collection-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Peggy Guggenheim Collection Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Guggenheim_Venedig-DSC_0053w.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:P_e_z_i" rel="noopener noreferrer" target="_blank">
                                    Peter Haas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful canal and square with facade of the Scuola Grande di Rocco in background in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Scuola-Grande-di-San-Rocco.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scuola Grande di San Rocco</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Scuola_Grande_di_San_Rocco_(Venice).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Canal-facing side of the Ca' Pesaro International Gallery of Modern Art along Venice's Grand Canal"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Ca-Pesaro-International-Gallery-of-Modern-Art-Exterior-Canal-Grande-South-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ca’ Pesaro International Gallery of Modern&nbsp;Art</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gnuckx/4776651712/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gnuckx/" rel="noopener noreferrer" target="_blank">
                                    gnuckx</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Illumintaed facade of the Palazzo Grassi Palace seen at night in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Palazzo-Grassi-Palace-Exterior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Grassi Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1986_-_Venezia_-_Palazzo_Grassi.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:1986_-_Venezia_-_Palazzo_Grassi.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Mauro Lighting Designer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant white facade of the Scuola Grande di San Marco in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Campo-Santi-Giovanni-e-Paolo-Scuola-Grande-di-San-Marco-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scuola Grande di San Marco</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161030224335/http://www.panoramio.com/photo/123928424" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161030224311/http://www.panoramio.com/user/551605?with_photo_id=123928424" rel="noopener noreferrer" target="_blank">
                                    Eugen Kalloch</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning loggia-style facade of the Palazzo Fortuny Palace Museum in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Palazzo-Fortuny-Palace-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Fortuny Palace Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia,_palazzo_fortuny_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sailko" rel="noopener noreferrer" target="_blank">
                                    Sailko</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Castle-like entrance gates of the medieval-era Venetian Arsenal complex in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Venetian-Arsenal-Entrance.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Venetian Arsenal Entrance Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Arsenale_Entrata_di_Mare_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Venice Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums of Venice</h2>
        <h3>Peggy Guggenheim Collection</h3>
        <p>Near the Ponte dell’Accademia bridge is Venice’s most popular museum and one of its top attractions, the <strong>Peggy Guggenheim Collection</strong>. This museum contains a significant collection of modern art, specializing in Surrealism, Cubism, and Abstract Expressionism. The museum hosts the private collection of Peggy Guggenheim, housed within her former home along the canal, the Palazzo Venier dei Leoni. Highlights of the museum include works by Picasso, Dali, and Miro.</p>
        <h3>Gallerie dell’Accademia</h3>
        <p>At the other end of the Ponte dell’Accademia bridge is the Gallerie dell’Accademia, Venice’s second most popular museum. The Gallerie dell’Accademia houses a significant collection of Venetian and Italian masterpieces, including works by Titian, Bellini, and Da Vinci. The museum’s most famous work is Leonardo da Vinci’s Vitruvian Man drawing.</p>
        <h3>Scuola Grande di San Rocco</h3>
        <p>Adjacent to Venice’s Frari Basilica is the <strong>Scuola Grande di San Rocco</strong>. This 16th century palace-like museum hosts several grandiose rooms, filled with countless paintings by Tintoretto. The museum is said to contain Tintoretto’s best works, which are painted on both the walls and ceilings of these highly ornate rooms.</p>
        <h3>Ca’ Pesaro International Gallery of Modern Art</h3>
        <p>Along the Grand Canal to the north of Campo San Polo is the <strong>Ca’ Pesaro International Gallery of Modern Art</strong>, which is housed within a highly photogenic marble palace. This beautiful baroque palace was built in the 17th century for the Pesaro family, however today the museum hosts a significant collection of paintings and sculptures from the 19th-20th centuries. The palace also hosts an interesting Oriental Art Musem, with collections of objects mainly from Japan.</p>
        <h3>Grassi Palace</h3>
        <p>Along the waterfront of the Granda Canal near the Ponte dell’Accademia bridge is the <strong>Palazzo Grassi</strong> (or Grassi Palace). Today, this 18th century palace serves as a museum displaying temporary exhibitions of contemporary art from the Pinault Collection. The Grassi Palace is also quite famous for its elegant facade, which faces the canal.</p>
        <h3>Scuola Grande di San Marco</h3>
        <p>Located next to the Basilica de Santi Giovanni e Paolo is the Scuola Grande di San Marco, which today serves as the city’s hospital. Part of this massive building however is a museum, which hosts several works by Tintoretto and exhibits on historical medical equipment. The museum’s exhibits are displayed amongst lavish and elegantly decorated interiors.</p>
        <h3>Palazzo Fortuny</h3>
        <p>Northwest of St. Mark’s Square is the <strong>Palazzo Fortuny</strong>, a picturesque Venetian gothic-style palace which houses the Fortuny Museum. The interior of this palace is absolutely stunning and majestic, with paintings and contemporary art set amongst lovely historic furnishings and decor. Be sure to also see the palace’s beautiful courtyard.</p>
    </section>



    <!-- Venetian Arsenal Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="venetian-arsenal"></a>
        <h2 class="left-heading destination-section-heading">Venetian Arsenal</h2>
        <p>On the eastern side of Venice’s main islands is the massive <strong>Venetian Arsenal</strong> complex, which hosts the city’s Biennale di Venezia events. This massive complex operated as a naval and commercial shipyard which greatly contributed to Venice’s immense naval power which lasted for several centuries. The main gate to the Venetian Arsenal is highly photogenic and a popular tourist attraction.</p>
        <p>The complex operated as a massive shipbuilding factory, producing separate parts for ships in different part of the Arsenal before assembling them all together. The Venetian Arsenal operated very efficiently and rapidly, and was the largest industrial complex in Europe before the Industrial Revolution began. Amazingly, this unique complex was capable of unmatched levels of mass production at the time.</p>
        <p>Interestingly, Galileo Galilei worked at the Venetian Arsenal to help design better military ships. Today the Venetian Arsenal is mostly known for its historic buildings, as well as hosting the Biennale events, the National Pavilions, and a Naval Museum.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Biennale di Venezia Arsenale</h3>
            <p>Venice’s La Biennale di Venezia events consist of a wide range of arts, all of which take place very two years at different times depending on the art. Many of these events are held at the Arsenal, including Art, Architecture, Dance, Music, and Theatre.</p>
            <h3>National Pavilions</h3>
            <p>Further east from the gates to the Venetian Arsenal is a large park and gardens known as the Giardino della Biennale, which host a variety of permanent National Pavilion structures, designed to represent various counties of the world. The construction of many of these pavilions are sponsored by the governments of each country represented, and many of these pavilions are very interesting and photogenic.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1197341148"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Venice More Atrtactions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rustic and colorful old buildings along the Campo della Maddalena Square in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Campo-della-Maddalena-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Campo della Maddalena<br />Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/80267449@N00/6055945590/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/80267449@N00/" rel="noopener noreferrer" target="_blank">
                                    Rino Porrovecchio</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic rounded multi-level staircase of the Palazzo Contarini del Bovolo in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Palazzo-Contarini-del-Bovolo-Palace-Staircase.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Contarini del Bovolo<br />Staircase</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/64552256@N08/43806893795" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/64552256@N08/" rel="noopener noreferrer" target="_blank">
                                    Dage - Looking For Europe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of an historic opera house packed with people known as the Teatro La Fenice in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Teatro-La-Fenice-Theatre-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Teatro La Fenice<br />Opera House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Teatro_La_Fenice,_Venice.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Youflavio" rel="noopener noreferrer" target="_blank">
                                    Youflavio</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant and ornate stage of the Teatro La Fenice Opera House in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Teatro-La-Fenice-Theatre-Interior-Stage.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Teatro La Fenice<br />Opera House Stage</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Fenice_Opera_House_from_the_stage.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Fenice_Opera_House_from_the_stage.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Pietro Tessarin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly ornate facade of Palazzo Cavalli-Franchetti palace along the canal seen from the Ponte dell'Accademia bridge in Venice"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Palazzo-Cavalli-Franchetti.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palazzo Cavalli-Franchetti<br />Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palazzo_Cavalli_Franchetti_(Venice).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Campanile of St. Stefano, one of Venice's leaning towers, seen from the Campo Sant'Anzolo square"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Campo-Sant-Anzolo-SantAngelo-Campanile-of-St-Stefano-Leaning-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Campanile of St. Stefano<br />Leaning Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palazzo_Cavalli_Franchetti_(Venice).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions in Venice</h2>
        <h3>Campo San Polo</h3>
        <p>After St. Mark’s Square, Venice’s most important public square is the Campo San Polo, located in the heart of the city. This square is notable for its centralized location and the rustic buildings surrounding it.</p>
        <h3>Campo della Maddalena</h3>
        <p>On the northern side of Venice is the <strong>Campo della Maddalena</strong>, a small but beautiful public square. This square is known for lovely colorful buildings and the canal that borders one side of the campo.</p>
        <h3>Staircase Contarini del Bovolo</h3>
        <p>Near St. Mark’ Square is one of Venice’s most photographed attractions, the <strong>Scala Contarini del Bovolo</strong>, a highly ornate spiral staircase lined with arches. This exterior staircase is part of the Palazzo Contarini del Bovolo, a grand 15th century residence.</p>
        <h3>Teatro La Fenice Theatre</h3>
        <p>Venice’s <strong>Teatro la Fenice</strong> is a stunningly opulent theatre, and one of the most famous theaters in Italy. This historic theater’s interior is elegantly detailed, and has hosted many important operas and performances. You don’t have to see a performance in order to see this grandiose theater’s interior, however it would likely be a very memorable experience.</p>
        <h3>Palazzo Cavalli-Franchetti</h3>
        <p>One of Venice’s most beautiful canal homes is the <strong>Palazzo Cavalli-Franchetti</strong>, a highly ornate palace. You can enjoy the best views of this palace from across the Ponte dell’Accademia bridge.</p>
        <h3>Campo Sant’Anzolo (Sant’Angelo)</h3>
        <p>Near the Teatro la Fenice is the public square of Campo Sant’Anzolo (also known as Campo Sant’Angelo). From Campo Sant'Angelo you can admire Venice’s version of the Leaning Tower of Pisa, the <strong>Campanile di Santo Stefano</strong>, a giant bell tower that is slowly tilting over. Seen behind the rustic buildings of this square, the Campanile tower is quite photogenic.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8884259478"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Burano Islands Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down a canal lined with coloful houses and boats on Venice's Burano Islands"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Burano-Island-Colorful-Houses-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Burano Colorful Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/venice-italy-burano-colors-canal-1769834/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/audreycharlet2017-3606000/" rel="noopener noreferrer" target="_blank">
                                    audreycharlet2017</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colored homes lining a canal on the Burano Islands in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Burano-Island-Colorful-Houses-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Burano Colorful Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/venice-burano-house-river-colorful-380776/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/ewka_pn-317695/" rel="noopener noreferrer" target="_blank">
                                    ewka_pn</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning sunset colors looking down the coloful hosues lining a tiny canal of the Burano Islands in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Burano-Island-Colorful-Houses-3.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Burano Colorful Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/venice-italy-burano-island-2225423/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful canal-homes of the Burano Islands seen from the Venetian Lagoon in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Burano-Island-Colorful-Houses-4.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Burano Colorful Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Blick_von_der_F%C3%A4hre_auf_die_Isola_Burano_15.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down a tight street lined with vibrantly colorful homes on the Burano Islands in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Burano-Island-Colorful-Houses-5.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Burano Colorful Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Calle_dei_Saladi_7.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant leaning campanile tower of the Church of San Martino on Venice's Burano Islands seen from a distance"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Burano-Island-San-Martino-Church-Leaning-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of San Martino (Burano)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/5244046018/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Burano Islands Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="burano"></a>
        <h2 class="left-heading destination-section-heading">Burano Islands</h2>
        <p>Approximately 5 miles (8 km) northeast of the main island of Venice are the <strong>Burano Islands</strong>, also located within the massive Venetian Lagoon. You can only reach Burano by ferry or boat. Similarly to Venice, Burano has dense clusters of historic buildings and a network of canals running through it.</p>
        <h3>Colored Houses</h3>
        <p>What sets Burano apart from Venice is its countless colorful rustic homes which line the canals and streets, displaying a rainbow of vibrant colors. These many colorful houses are extremely photogenic and have made Burano one of Venice’s top tourist attractions. Be sure to spend some time wandering the scenic streets and canals of Burano to admire its beauty. The islands also host many restaurants, cafes, hotels, bars, and stores.</p>
        <h3>Church of San Martino Vescovo</h3>
        <p>Burano is also home to another Venetian campanile similar to the Leaning Tower of Pisa, which is the campanile clocktower of the <strong>Church of San Martino Vescovo</strong>. This massive campanile can be seen leaning to the side from most parts of the island, even often in the background behind the colorful canal houses.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice 6 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9100823849"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Murano and Giudecca Islands Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Canal-front facade of the Museum of Glass on Venice's Murano Islands"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Murano-Island-Museo-del-Vetro-Museum-of-Glass-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum of Glass<br />(Murano)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Murano_museo_del_vetro.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Abxbay" rel="noopener noreferrer" target="_blank">
                                    Abxbay</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful exterior of the Murano Islands' Basilica of St. Maria and Donato with its campanile tower in Venice, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Murano-Island-Basilica-di-Santi-Maria-e-Donato.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of St. Maria &amp; Donato<br />(Murano)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Venezia_Basilica_di_Santi_Maria_e_Donato_von_S%C3%BCdwest_4.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Campo San Donato Square along the canal with Basilica of St. Maria and Donato in Venice's Murano Islands"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Murano-Island-Campo-San-Donato-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Campo San Donato Square<br />(Murano)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://web.archive.org/web/20161028035835/http://www.panoramio.com/photo/90141658" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161028035716/http://www.panoramio.com/user/31742?with_photo_id=90141658" rel="noopener noreferrer" target="_blank">
                                    Sergey Ashmarin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant canal-facing facade of the Casa dei Tre Oci, a neo-gothic canal home on Venice's Giudecca Islands"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Giudecca-Island-Casa-dei-Tre-Oci.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa dei Tre Oci<br />(Giudecca)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_dei_tre_oci,_Venezia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Till.niermann" rel="noopener noreferrer" target="_blank">
                                    Till Niermann</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior and dome of the Church of Santissimo Redentore seen from across the Giudecca Canal on Venice's Giudecca Islands"
                        data-src="https://www.travelimager.com/images/italy/Italy-Venice-Venezia-Giudecca-Island-Church-of-the-Santissimo-Redentore-Most-Holy-Redeemer.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church Santissimo Redentore<br />(Giudecca)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/5220724446/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Murano Islands Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="murano"></a>
        <h2 class="left-heading destination-section-heading">Murano Islands</h2>
        <p>Much closer to Venice than Burano are the Murano Islands, which are only about 1 mile (1.5 km) north of the main group of Venetian Islands. The Murano Islands are also densely packed with rustic buildings and criss-crossed with canals. Additionally, you can only reach Murano via ferry or boat. Murano is significantly larger than Burano, and hosts all the restaurants, bars, cafes, shops, and hotels that one would expect.</p>
        <h3>Glass Making</h3>
        <p>Murano has always been famous for its glass making, as its glassmaker artisans have perfected the art over several centuries including many complex methods that originated in Murano. Historically, Murano had monopolized high-quality glassmaking for all of Europe, and today the islands still produce some of the most renowned highest quality glass in the world.</p>
        <p>Around Murano you’ll find several factories where you can watch artisans making glass. Additionally there are many fine glass boutiques around Murano.</p>
        <h3>Glass Museum</h3>
        <p>Murano’s most popular attraction is the <strong>Glass Museum</strong>, which traces back the history of the glassmaking industry in Venice and hosts many stunningly intricate glass pieces on display.</p>
        <h3>Basilica di Santa Maria e Donato</h3>
        <p>Murano also hosts the lovely canal-front <strong>Basilica di Santa Maria e Donato</strong> (Basilica of St. Mary &amp; Donatus), an ancient 7th century church. The basilica’s exterior is especially stunning and picturesque, with its arched columns and clocktower located on <strong>Campo San Donato</strong> square.</p>
        <p>The Basilica of St. Mary &amp; Donatus is also popular for its colorful 12th century stone mosaics on the floor, which create beautifully intricate patterns. Interestingly, the basilica displays four giant rib bones which are said to be from a dragon slain by Saint Donatus.</p>
    </section>



    <!-- Giudecce Islands Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="giudecca"></a>
        <h2 class="left-heading destination-section-heading">Giudecca Islands</h2>
        <p>Just south of the main islands of Venice are the long, skinny islands of Giudecca, which are operated from Venice by the very wide Giudecca Canal. At the eastern end of these islands is the island of San Giorgio Maggiore with its massive church. You can only reach Giudecca via ferry or boat, but it’s an extremely quick ride. From Giudecca you can also enjoy exceptional views looking back at Venice.</p>
        <h3>Casa dei Tre Oci</h3>
        <p>The top attraction on Venice’s Giudecca Islands is the <strong>Casa de Tre Oci</strong>, a beautiful neo-gothic style home which you can admire the facade of from across the canal. The house is especially photogenic for its elegant details. Within the Casa de Tre Oci you’ll find a popular photography museum.</p>
        <h3>Church of Santissimo Redentore</h3>
        <p>The Giudecca Islands are also home to the exceptionally beautiful <strong>Church of Santissimo Redentore</strong> (Church of the Most Holy Redeeemer), with its magnificent architecture and large dome. This church was actually constructed to thank the heavens when the Great Plague finally left Venice.</p>
        <h3>Festa del Redentore</h3>
        <p>Every year on the third Sunday in July is the Festa del Redentore (Feast of the Holy Redeemer) celebrated to give thanks to the end of the Great Plague in the city. During this time a long pontoon bridge is temporarily constructed across the Giudecca Canal to connect the main islands of Venice directly to the entrance to the Church of Santissimo Redentore. Many people walk across the bridge on the day of this celebration and enjoy fireworks overhead in the evening.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Venice Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9838248490"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Venice Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/7CH1Zuf47C1i4ejc6">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hHbBAPTDTcFiRxWXA">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Golden hour colors lighting up the Ponte Scaligero bridge over the Adige River to the Castelvecchio Castle in Verona, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Verona-Castelvecchio-Ponte-Scaligero-Bridge-River-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/verona-attractions-guide">
                        Verona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Keep_of_Castelvecchio_and_Ponte_Scaligero_Verona_Italy.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vvlasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/florence-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view from Piazzale Michelangelo over Arno River and rustic buildings of Florence, Italy and Florence Cathedral's Dome"
                        data-src="https://www.travelimager.com/images/italy/Italy-Florence-Firenze-Piazzale-Michelangelo-View-Sunset.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/florence-attractions-guide">
                        Florence (Firenze)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/florence-skyline-sunset-cityscape-1289364/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/MustangJoe-2162920/" rel="noopener noreferrer" target="_blank">
                            MustangJoe</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        Milan
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/italy-milano-duomo-square-3523635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                            dimitrisvetsikas1969</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    