<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Cloister of the St. Conan's Kirk Church of Argyll, Argyll and Bute, Scotland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Saint-Conans-Kirk-Church-Cloister-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Argyll & Bute, Scotland, and plan the perfect trip with our savable Argyll & Bute Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="argyll_and_bute_scotland" />
    <meta name="europe_attraction_guides" content="argyll_and_bute_scotland" />
    <meta name="europe_destinations" content="argyll_and_bute_scotland" />
    <meta name="europe_destination_guides" content="argyll_and_bute_scotland" />
    <meta name="uk_attraction_guides" content="argyll_and_bute" />
    <meta name="uk_destinations" content="argyll_and_bute" />
    <meta name="uk_destination_guides" content="argyll_and_bute" />
    <meta name="scotland_attraction_guides" content="argyll_and_bute" />
    <meta name="scotland_destinations" content="argyll_and_bute" />
    <meta name="scotland_destination_guides" content="argyll_and_bute" />
    <meta name="google_maps_list" content="argyll_and_bute" />
    <meta property="og:title" content="Argyll & Bute, Scotland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Saint-Conans-Kirk-Church-Cloister.jpg">
    <meta name="twitter:title" content="Argyll & Bute, Scotland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Saint-Conans-Kirk-Church-Cloister.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/scotland/argyll-and-bute-attractions-guide">
    <title>Attractions Guide for Argyll & Bute, Scotland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Argyll &amp; Bute, Scotland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    <!-- Introduction to Argyll and Bute Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a suggested route through the Argyll and Bute region of Western Scotland.</p>
    </section>


    <!-- Argyll and Bute Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ruins of the Kilchurn Castle seen between a lake and snow covered hills at golden hour in Argyll, Scotland"
                        src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Kilchurn-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kilchurn Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Andrewmckie</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely stone and wood cloister of the Saint Conan's Church of Argyll, Scotland" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Saint-Conans-Kirk-Church-Cloister.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Conan's Kirk Church Cloister</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/st-conans-kirk-loch-awe-argyll-1256381/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/shilmar-73994/" rel="noopener noreferrer" target="_blank">
                                    shilmar</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Highly aesthetic stone interior of the Saint Conan's Church of Argyll, Scotland" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Saint-Conans-Kirk-Church-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Conan's Kirk Church (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/4136884" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/4874" rel="noopener noreferrer" target="_blank">
                                    Stuart Wilding</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial shot of the imposing Inveraray Castle with its four spire-topped round towers in Argyll, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Inveraray-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Inveraray Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Inveraray_Castle_from_above.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:StaraBlazkova" rel="noopener noreferrer" target="_blank">
                                    StaraBlazkova</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic Inveraray Jail above fortified walls, seen along the coastline of Argyll, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Inveraray-Jail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Inveraray Jail</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/4100974" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/4874" rel="noopener noreferrer" target="_blank">
                                    Stuart Wilding</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Waterfall and pathway surrounded by lush green vegetation in the morning fog in Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Pucks-Glen.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puck's Glen Gorge Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Puck%27s_Glen_20170416_1027.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dave_souza" rel="noopener noreferrer" target="_blank">
                                    Dave souza</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Majestic exterior of the Mount Stuart Estate behind a vibrant green field on the Isle of Bute, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Mount-Stuart-House-Estate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Stuart Estate</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/4597937" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/43368" rel="noopener noreferrer" target="_blank">
                                    David P Howard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the rounded moat surrounding the Rothesay Castle on the Isle of Bute, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Rothesay-Rothesay-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rothesay Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/5894511" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/27852" rel="noopener noreferrer" target="_blank">
                                    G Laird</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Kilchurn Castle Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Kilchurn Castle</h2>
        <p>Your first stop of the day should be the <strong>Kilchurn Castle</strong>, a ruined brick medieval castle you can explore see amongst the lake and rural landscape. Nearby be sure to visit the <strong>Saint Conan's Kirk</strong>, a small but very elaborate church featuring extraordinary stone architecture and details, such as its beautiful courtyard.</p>
    </section>



    <!-- Inveraray and Pucks Glen Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Inveraray &amp; Pucks Glen</h2>
        <p>Next head to the gorgeous <strong>Inveraray Castle</strong>, a majestic structure with lavish interiors. You might also visit the <strong>Inveraray Jail</strong> nearby, a fine 19th century jail and courtroom turned museum with great exhibits which sits on the water.</p>
        <p>Continue south to <strong>Pucks Glen</strong>, a scenic gorge trail surrounded by lush forests and moss, alongside a stream and several waterfalls. This 1.5 mile (2.5 km) round-trip trail is an easy blissful stroll through the woods.</p>
    </section>


    <!-- Isle of Bute Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Isle of Bute</h2>
        <p>After enjoying the attractions on Argyll, you can head south to then Isle of Bute, which you'll need to take an extremely short ferry to reach, as the distance separating Bute from Argyll is less than half a mile (or less than 500 m).</p>
        <p>The main attraction here it the massive gothic <strong>Mount Stuart</strong> country house, a truly magnificent structure with grandiose medieval interiors and furnishings, featuring highly embellished decor and details. You can also explore the serene surrounding gardens and woodlands, which lead to a beach with nice views. Mount Stuart is definitely a must-see attraction.</p>
        <p>Afterwards if you still have time you might consider seeing the ruins of the small 13th century <strong>Rothesay Castle</strong> located in the middle of the island's largest town, for which the castle is named. From Rothesay you can take a ferry or car ferry back to the town of Skelmorlie on the Scottish mainland, which is about 45 minutes away from Glasgow by car.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Argyll Bute Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4885196916"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Argyll &amp; Bute Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/AAHYW7j388u">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view along Loch Lubnaig lake, surrounded by lush green mountains of Loch Lomond and The Trossachs National Park"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Loch-Lomond-and-the-Trossachs-National-Park-Loch-Lubnaig.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        Loch Lomond &amp; The&nbsp;Trossachs National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/neillwphoto/35399336771/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/neillwphoto/" rel="noopener noreferrer" target="_blank">
                            Neil Williamson</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/glasgow-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning Glasgow City Chambers building and monuments towering above George Square in Scotland's capital"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-George-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/glasgow-attractions-guide">
                        Glasgow
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kucinski/4696981115/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kucinski/" rel="noopener noreferrer" target="_blank">
                            Ben Kucinski</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking many historic tall buildings of Old Town Edinburgh with iconic Arthurs Seat hilltop in the background"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Old-Town-Edinburgh-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">
                        Edinburgh
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/liakadaweb/37729397685/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/liakadaweb/" rel="noopener noreferrer" target="_blank">
                            Herbert Frank</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/greater-edinburgh-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Majestic ruins of the medieval Linlithgow Palace behind an idyllic country lake, near Edinburgh, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Linlithgow-Palace.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/greater-edinburgh-attractions-guide">
                        Greater Edinburgh
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jmts/17159816206/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jmts/" rel="noopener noreferrer" target="_blank">
                            Jeremy Sutcliffe</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    