<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Hilltop Edinburgh Castle seen above an intricate fountain in Edinburgh, Scotland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Edinburgh-Castle-Hilltop-and-Fountain-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Edinburgh, Scotland, and plan the perfect trip with our savable Edinburgh Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="edinburgh_scotland" />
    <meta name="europe_attraction_guides" content="edinburgh_scotland" />
    <meta name="europe_destinations" content="edinburgh_scotland" />
    <meta name="europe_destination_guides" content="edinburgh_scotland" />
    <meta name="uk_attraction_guides" content="edinburgh" />
    <meta name="uk_destinations" content="edinburgh" />
    <meta name="uk_destination_guides" content="edinburgh" />
    <meta name="scotland_attraction_guides" content="edinburgh" />
    <meta name="scotland_destinations" content="edinburgh" />
    <meta name="scotland_destination_guides" content="edinburgh" />
    <meta name="google_maps_list" content="edinburgh" />
    <meta property="og:title" content="Edinburgh, Scotland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Edinburgh-Castle-Hilltop-and-Fountain.jpg">
    <meta name="twitter:title" content="Edinburgh, Scotland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Edinburgh-Castle-Hilltop-and-Fountain.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/scotland/edinburgh-attractions-guide">
    <title>Attractions Guide for Edinburgh, Scotland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Edinburgh, Scotland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#edinburgh-castle">Edinburgh Castle</a></div>
            <div><a href="#old-town">Old Town</a></div>
            <div><a href="#old-town-museums">Old Town Museums</a></div>
            <div><a href="#calton-hill">Calton Hill</a></div>
            <div><a href="#arthurs-seat">Arthur's Seat</a></div>
            <div><a href="#dean-village">Dean Village</a></div>
            <div><a href="#north-edinburgh">North Edinburgh</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Edinburgh Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Scotland's capital city is incredibly beautiful with its many historic buildings and hills. In the center of Edinburgh you'll find most of the city's top attractions.</p>
    </section>


    <!-- Edinburgh Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View from below of the backside of the massive hilltop Edinburgh Castle complex behind its fortified walls" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Edinburgh-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Edinburgh Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/craigyc/3582352472" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/craigyc/" rel="noopener noreferrer" target="_blank">
                                    Craig Cormack</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Picturesque view of the hilltop Edinburgh Castle, seen from behind a lovely fountain in the Princes Street Gardens"
                        src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Princes-Street-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Princes Street Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glenbowman/2409425484/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glenbowman/" rel="noopener noreferrer" target="_blank">
                                    Glen Bowman</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Facade and columns of Edinburgh's Scottish National Gallery"
                        src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Scottish-National-Gallery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scottish National Gallery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Scottish_National_Gallery.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Scottish_National_Gallery.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Maciek Szczepaniak</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the towering gothic-style Scott Monument in Edinburgh" 
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Scott-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scott Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Scott_monument_march_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Scott_monument_march_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Alanbeeb</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning Victorian-style Balmoral Hotel with its iconic clocktower in Downtown Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-The-Balmoral-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Balmoral Hotel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mikecogh/8121936903/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mikecogh/" rel="noopener noreferrer" target="_blank">
                                    Michael Coghlan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Edinburgh Castle Area Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="edinburgh-castle"></a>
        <h2 class="left-heading destination-section-heading">Edinburgh Castle Area</h2>
        <p>Edinbrugh's most iconic attractions is the rocky hilltop <strong>Edinburgh Castle</strong>, a stunning massive fortress with many things to see, including the Royal Palace, the National War Museum, the 12th century St. Margaret's Chapel, and much more.</p>
        <p>Just below the castle you can walk the <strong>Princes Street Gardens</strong>, with fantastic views looking up at the castle. Around the park you can visit the <strong>Scottish National Gallery</strong> of fine art for free and the towering <strong>Scott Monument</strong>, a beautiful and intricate Gothic structure.</p>
        <p>Also near the Edinburgh Castle is one of the city's most iconic sights, <strong>The Balmoral Hotel</strong>, which is known for its towering Victorian clock tower (the Balmoral Clock). </p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Edinburgh 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1038161685"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Edinburgh Old Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking many historic tall buildings of Old Town Edinburgh with iconic Arthurs Seat hilltop in the background"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Old-Town-Edinburgh-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Town Edinburgh</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/liakadaweb/37729397685/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/liakadaweb/" rel="noopener noreferrer" target="_blank">
                                    Herbert Frank</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the St. Giles Cathedral behind a dimly lit square at night in Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-St-Giles-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Giles' Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/phoenixreguy/29644969108/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/phoenixreguy/" rel="noopener noreferrer" target="_blank">
                                    Jay Thompson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lit-up cabinets containing countless whiskey bottles at Edinburgh's Scotch Whiskey Experience"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Scotch-Whiskey-Experience.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scotch Whiskey Experience</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/52450054@N04/23447101755" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/52450054@N04/" rel="noopener noreferrer" target="_blank">
                                    Judy Gallagher</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant and hightly intricate kaleidoscope illusion at Edinburgh's World of Illusions"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Camera-Obscura.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Camera Obscura &amp; World of Illusions</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Camera_obscura_5977-michelides.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Christian_Michelides" rel="noopener noreferrer" target="_blank">
                                    Christian Michelides</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Old Town Edinburgh Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-town"></a>
        <h2 class="left-heading destination-section-heading">Old Town Edinburgh</h2>
        <p>Take some time to walk around the UNESCO listed <strong>Old Town</strong> and explore, especially along the famed Royal Mile street.</p>
        <p>In this area you'll find the medieval gothic <strong>St. Giles' Cathedral</strong>, and across the street you can tour Scotland's historic underground, which is known as The Real Mary King's Close.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>More attractions within the Old Town include the <strong>Scottish Whiskey Experience</strong>, where you can learn about the distillation process and do tastings. You might also consider visiting the extremely popular <strong>Camera Obscura & World of Illusions</strong>, a very interesting attraction featuring a virtual tour of Edinburgh, various types of optical illusions, a mirror maze, and more.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Edinburgh 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9334743660"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Edinburgh Old Town Museums and Calton Hill Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive exhibition hall inside Edinburgh's National Museum of Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-National-Museum-of-Scotland.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of Scotland</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:National_museum_of_scotland_interior_columns.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Geni" rel="noopener noreferrer" target="_blank">
                                    Geni</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elaborate painted murals covering the walls inside Edinburgh's Scottish National Portrait Gallery"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Scottish-National-Portrait-Gallery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scottish National Portrait Gallery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/renaud-camus/7254958512" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/renaud-camus/" rel="noopener noreferrer" target="_blank">
                                    Renaud Camus</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive columns and facade of the Neoclassical-style Surgeons' Hall Museum of Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Surgeons-Hall-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Surgeons' Hall Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Surgeons%27_Hall,_Nicolson_Street_Edinburgh.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Kim_Traynor" rel="noopener noreferrer" target="_blank">
                                    Kim Traynor</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small monument atop Edinburgh's Calton Hill with fantastic views overlooking the city behind it"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Calton-Hill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calton Hill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/91425144@N04/19544351748/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/91425144@N04/" rel="noopener noreferrer" target="_blank">
                                    Arran Bee</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Old Town Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-town-museums"></a>
        <h2 class="left-heading destination-section-heading">Old Town Museums</h2>
        <p>Also in the Old Town be sure to visit the <strong>National Museum of Scotland</strong>, a vast museum that's free to visit containing many different exhibits, including Scottish history, antiquities and artifacts, natural history, science and technology, culture, and more.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>More museums to consider include the free-to-visit <strong>Scottish National Portrait Gallery</strong> featuring many works of art in an opulent museum, and the <strong>Surgeons' Hall Museum</strong> containing many medical specimens such as skeletons and body parts where you can learn about medieval history and anatomy.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Calton Hill Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="calton-hill"></a>
        <h2 class="left-heading destination-section-heading">Calton Hill</h2>
        <p>Overlooking the Old Town is <strong>Calton Hill</strong>, which contains several striking monuments set amongst amazing views over the city. You can reach the top with a short walk up from the Old Town.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Edinburgh 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3883816870"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Arthur's Seat, Palace of Holyroodhouse, Dean Village, and Northern Edinburgh Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Brick facade of Edinburgh's Palace of Holyroodhouse"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Palace-of-Holyroodhouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palace of Holyroodhouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/korom/17104361519/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/korom/" rel="noopener noreferrer" target="_blank">
                                    Janos Korom Dr.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant grass with the sheer cliff of Arthur's Seat rising above it in Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Arthurs-Seat.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arthur's Seat</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/evocateur/12583320123/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/evocateur/" rel="noopener noreferrer" target="_blank">
                                    Daniel Stockman</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely historic buildings lining the river at Edinburgh's Dean Village"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Dean-Village-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dean Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/garyullah/37952869852" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/garyullah/" rel="noopener noreferrer" target="_blank">
                                    Gary Campbell-Hall</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pathway surrounded by lush plants along the Water of Leith with small monuments along the walk, in Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Dean-Village-Water-of-Leith-Walkway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Water of Leith Walkway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dun_deagh/16518448647/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dun_deagh/" rel="noopener noreferrer" target="_blank">
                                    dun_deagh</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="The Royal Yacht Britannia which now serves as a museum docked in the harbor of Edinburgh" 
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Royal-Yacht-Britannia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Yacht Britannia</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/2012947" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/47667" rel="noopener noreferrer" target="_blank">
                                    Graham Hogg</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Arthur's Seat and Palace of Holyroodhouse Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="arthurs-seat"></a>
        <h2 class="left-heading destination-section-heading">Arthur's Seat &amp; Palace of Holyroodhouse</h2>
        <p>Edinburgh is home to one of the royal British residences, the 16th century <strong>Palace of Holyroodhouse</strong>, which contains lavish interiors and the remains of a beautiful 900 year old abbey behind it. This palace is located just below the southern side of Calton Hill.</p>
        <p>Another one of Edinburgh's most popular attractions is <strong>Arthur's Seat</strong>, an iconic sheer cliff which is the highest point in the city, from which you can enjoy stunning panoramic views. The  cliff is located within the royal Holyrood Park, accessible via a 2 mile (3.2 km) round-trip trail starting from the Palace of Holyroodhouse. This trail leads to the top of Arthur's Seat and passes by the Saint Anthony's Chapel Ruins overlooking a small lake.</p>
    </section>


    <!-- Dean Village Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dean-village"></a>
        <h2 class="left-heading destination-section-heading">Dean Village</h2>
        <p>On the western side of town is <strong>Dean Village</strong>, a small neighborhood of charming historic homes you should walk around and explore.</p>
        <p>Within the Dean Village you can venture along the <strong>Water of Leith Walkway</strong>, a riverside trail that takes you past great scenery, with a total distance of 2 miles (3.2 km) to the end and back. About halfway through the trail you can walk across a bridge and arrive at the free Scottish National Gallery of Modern Art if you like.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>There's also the option of walking along a different section of the river from the other side of the village via Miller Row, this beautiful section is called Dean Gardens and features impressive stone monuments and small weir waterfalls.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Northern Edinburgh Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="north-edinburgh"></a>
        <h2 class="left-heading destination-section-heading">Northern Edinburgh</h2>
        <p>Located just north of Central Edinburgh is the massive Royal Botanic Garden you might like to explore. Further north in Edinburgh's harbor you'll find the <strong>Royal Yacht Britannia</strong>, which formerly served as the royal yacht of Queen Elizabeth II and has been preserved as a floating museum you can visit.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Edinburgh Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3572115240"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Edinburgh Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/o85rLG2bDCF2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/rGYXBH5rLNG2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/greater-edinburgh-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Majestic ruins of the medieval Linlithgow Palace behind an idyllic country lake, near Edinburgh, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Linlithgow-Palace.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/greater-edinburgh-attractions-guide">
                        Greater Edinburgh
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jmts/17159816206/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jmts/" rel="noopener noreferrer" target="_blank">
                            Jeremy Sutcliffe</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/glasgow-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning Glasgow City Chambers building and monuments towering above George Square in Scotland's capital"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-George-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/glasgow-attractions-guide">
                        Glasgow
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kucinski/4696981115/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kucinski/" rel="noopener noreferrer" target="_blank">
                            Ben Kucinski</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view along Loch Lubnaig lake, surrounded by lush green mountains of Loch Lomond and The Trossachs National Park"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Loch-Lomond-and-the-Trossachs-National-Park-Loch-Lubnaig.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        Loch Lomond &amp; The&nbsp;Trossachs National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/neillwphoto/35399336771/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/neillwphoto/" rel="noopener noreferrer" target="_blank">
                            Neil Williamson</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/argyll-and-bute-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ruins of the Kilchurn Castle seen between a lake and snow covered hills at golden hour in Argyll, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Kilchurn-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/argyll-and-bute-attractions-guide">
                        Argyll &amp; Bute
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Andrewmckie</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    