<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Necropolis Cemetery grounds in Glasgow, Scotland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Necropolis-Cemetery-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Glasgow, Scotland, and plan the perfect trip with our savable Glasgow Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="glasgow_scotland" />
    <meta name="europe_attraction_guides" content="glasgow_scotland" />
    <meta name="europe_destinations" content="glasgow_scotland" />
    <meta name="europe_destination_guides" content="glasgow_scotland" />
    <meta name="uk_attraction_guides" content="glasgow" />
    <meta name="uk_destinations" content="glasgow" />
    <meta name="uk_destination_guides" content="glasgow" />
    <meta name="scotland_attraction_guides" content="glasgow" />
    <meta name="scotland_destinations" content="glasgow" />
    <meta name="scotland_destination_guides" content="glasgow" />
    <meta name="google_maps_list" content="glasgow" />
    <meta property="og:title" content="Glasgow, Scotland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Necropolis-Cemetery.jpg">
    <meta name="twitter:title" content="Glasgow, Scotland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Necropolis-Cemetery.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/scotland/glasgow-attractions-guide">
    <title>Attractions Guide for Glasgow, Scotland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Glasgow, Scotland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    <!-- Introduction to Glasgow Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Scotland's largest city features stunning Victorian era architecture and several great museums. One of the best places to walk around and marvel at this architecture is along the pedestrian street Buchanan Street.</p>
    </section>



    <!-- Central and Eastern Glasgow Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Looking down the rounded spiral staircase of Glasgow's Lighthouse tower"
                        src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Lighthouse-Spiral-Staircase.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lighthouse_glasgow_spiral_staircase.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:George_Gastin" rel="noopener noreferrer" target="_blank">
                                    George Gastin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning Glasgow City Chambers building and monuments towering above George Square in Scotland's capital" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-George-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">George Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kucinski/4696981115/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kucinski/" rel="noopener noreferrer" target="_blank">
                                    Ben Kucinski</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Beautiful fountain in front of Glasgow's People's Palace and Winter Gardens"
                        src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Peoples-Palace-and-Winter-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">People's Palace &amp; Winter&nbsp;Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dun_deagh/6080525655" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dun_deagh/" rel="noopener noreferrer" target="_blank">
                                    dun_deagh</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down between the columns of the main hall within the Glasgow Cathedral"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glasgow Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.publicdomainpictures.net/en/view-image.php?image=190929&picture=interior-of-the-glasgow-cathedral" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.publicdomainpictures.net/en/browse-author.php?a=8245" rel="noopener noreferrer" target="_blank">
                                    George Hodan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking old monumental tomb stones and grave sites of Glasgow's old Necropolis Cemetery" 
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Necropolis-Cemetery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Necropolis Cemetery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.publicdomainpictures.net/en/view-image.php?image=186754&picture=glasgow-necropolis-scotland" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.publicdomainpictures.net/en/browse-author.php?a=8245" rel="noopener noreferrer" target="_blank">
                                    George Hodan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Central Glasgow Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Central Glasgow</h2>
        <p>Nearby Buchanan Street be sure to check out <strong>The Lighthouse</strong> building, an impressive art nouveau structure that you should climb to the top of for amazing views over this beautiful part of the city. The tower's rounded staircase to the top is its most well-known feature.</p>
        <p>Also close by is the large <strong>George Square</strong> surrounded by great buildings, the most notable being the grandiose Glasgow City Chambers building which contains elegant posh interiors that you can tour during the week.</p>
    </section>


    <!-- East Glasgow Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">East Glasgow</h2>
        <p>Along the river on the eastern side of Glasgow you'll find the <strong>People's Palace and Winter Gardens</strong> detailing the history of the city alongside indoor gardens.</p>
        <p>Be sure to also visit the 900 year old gothic <strong>Glasgow Cathedral</strong>, a stunning massive church. Adjacent to the cathedral is <strong>The Necropolis Cemetery</strong>, containing many monumental tombs you can walk around and admire.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Glasgow 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2570735205"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Western Glasgow Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Photogenic castle-like exterior of Glasgow's baroque-style Kelvingrove Museum"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Kelvingrove-Art-Gallery-and-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kelvingrove Art Gallery &amp; Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wm_archiv/36947263324/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wm_archiv/" rel="noopener noreferrer" target="_blank">
                                    Allie_Caulfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive intricately designed hall within Glasgow's Kelvingrove Museum"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Kelvingrove-Art-Gallery-and-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kelvingrove Art Gallery (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/118118485@N05/18122817754/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/118118485@N05/" rel="noopener noreferrer" target="_blank">
                                    Michael D Beckwith</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant gothic spired tower of the Gilber Scott Building at Glasgow University lit-up at night"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-University-of-Glasgow-Gilbert-Scott-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gilbert Scott Building (University&nbsp;of&nbsp;Glasgow)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:University_of_Glasgow_Gilbert_Scott_Building_-_Feb_2008-2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Diliff" rel="noopener noreferrer" target="_blank">
                                    David Iliff</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the ultra-modern building housing Glasgow's Riverside Museum seen from the river next to an old ship"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Riverside-Museum-of-Transport-and-Technology-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Riverside Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/egfocus/6308515180/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/egfocus/" rel="noopener noreferrer" target="_blank">
                                    EG Focus</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large collection of vehicles and trains within Glasgow's Riverside Museum"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Riverside-Museum-of-Transport-and-Technology-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Riverside Museum (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sr666/7288399102/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sr666/" rel="noopener noreferrer" target="_blank">
                                    Sebastian Ruff</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque night-time view of the ultra-modern Glasgow Science Centre along the water"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Science-Centre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glasgow Science&nbsp;Centre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/80018584@N06/8150158717/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/80018584@N06/" rel="noopener noreferrer" target="_blank">
                                    Seo J Kim</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Statue set amongst the lush plants within the covered Glasgow Botanical Garden"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-Glasgow-Botanical-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glasgow Botanical&nbsp;Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Inside_Kibble_Palace_Glasshouse.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Inside_Kibble_Palace_Glasshouse.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    GeeDave</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- West Glasgow Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">West Glasgow</h2>
        <p>The <strong>Kelvingrove Art Gallery and Museum</strong> is a must-see, containing many free exhibits within a magnificent baroque building.</p>
        <p>Near the Kelvingrove Museum is one of the city's most stunning yet lesser-known structures, the <strong>Gilbert Scott Building</strong> of the University of Glasgow. This incredible building resembles a giant castle, with its most prominent feature being its massive gothic tower.</p>
        <p>One of the most popular museums in Glasgow is the <strong>Riverside Museum of Transport and Technology</strong> housing many interesting transportation exhibits within a remarkable contemporary building.</p>
        <p>Just across the river from the Riverside Museum is the <strong>Glasgow Science Centre</strong> housed in a contemporary dome-like structure which sits on the water. To the north of these museums is the beautiful <strong>Glasgow Botanical Gardens</strong>, housed in several large glass structures.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Glasgow Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7786692426"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Glasgow Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/owpTraZnRuB2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/mLA2K9Tuqgm">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view along Loch Lubnaig lake, surrounded by lush green mountains of Loch Lomond and The Trossachs National Park"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Loch-Lomond-and-the-Trossachs-National-Park-Loch-Lubnaig.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        Loch Lomond &amp; The&nbsp;Trossachs National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/neillwphoto/35399336771/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/neillwphoto/" rel="noopener noreferrer" target="_blank">
                            Neil Williamson</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking many historic tall buildings of Old Town Edinburgh with iconic Arthurs Seat hilltop in the background"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Old-Town-Edinburgh-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">
                        Edinburgh
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/liakadaweb/37729397685/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/liakadaweb/" rel="noopener noreferrer" target="_blank">
                            Herbert Frank</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/greater-edinburgh-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Majestic ruins of the medieval Linlithgow Palace behind an idyllic country lake, near Edinburgh, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Linlithgow-Palace.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/greater-edinburgh-attractions-guide">
                        Greater Edinburgh
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jmts/17159816206/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jmts/" rel="noopener noreferrer" target="_blank">
                            Jeremy Sutcliffe</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/argyll-and-bute-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ruins of the Kilchurn Castle seen between a lake and snow covered hills at golden hour in Argyll, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Kilchurn-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/argyll-and-bute-attractions-guide">
                        Argyll &amp; Bute
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Andrewmckie</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-by-car">
                        <img class="lazy destination-image" 
                        alt="Mont Saint-Michel Castle-like Abbey of France's Normandy Coast" 
                        data-src="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-by-car">
                        St. Malo &amp; Mont Saint&#8209;Michel (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/normandy-mont-saint-michel-abbey-1046056/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/jackmac34-483877/" rel="noopener noreferrer" target="_blank">
                            jackmac34</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    