<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View overlooking the sea from the ruins of Tantallon Castle, Greater Edinburgh, Scotland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburg-Tantallon-Castle-and-Coast-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions around Greater Edinburgh, Scotland, and plan the perfect trip with our savable Greater Edinburgh Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="greater_edinburgh_scotland" />
    <meta name="europe_attraction_guides" content="greater_edinburgh_scotland" />
    <meta name="europe_destinations" content="greater_edinburgh_scotland" />
    <meta name="europe_destination_guides" content="greater_edinburgh_scotland" />
    <meta name="uk_attraction_guides" content="greater_edinburgh" />
    <meta name="uk_destinations" content="greater_edinburgh" />
    <meta name="uk_destination_guides" content="greater_edinburgh" />
    <meta name="scotland_attraction_guides" content="greater_edinburgh" />
    <meta name="scotland_destinations" content="greater_edinburgh" />
    <meta name="scotland_destination_guides" content="greater_edinburgh" />
    <meta name="google_maps_list" content="greater_edinburgh" />
    <meta property="og:title" content="Greater Edinburgh, Scotland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburg-Tantallon-Castle-and-Coast.jpg">
    <meta name="twitter:title" content="Greater Edinburgh, Scotland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburg-Tantallon-Castle-and-Coast.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/scotland/greater-edinburgh-attractions-guide">
    <title>Attractions Guide for Greater Edinburgh, Scotland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Greater Edinburgh, Scotland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#rosslyn-chapel">Rosslyn Chapel</a></div>
            <div><a href="#jupiter-artland">Jupiter Artland</a></div>
            <div><a href="#blackness-and-linlithgow">Blackness &amp; Linlithgow</a></div>
            <div><a href="#falkirk">Falkirk</a></div>
            <div><a href="#stirling">Stirling</a></div>
            <div><a href="#tantallon-castle">Tantallon Castle</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    <!-- Introduction to Greater Edinburgh Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Just outside of Edinburgh are several amazing attractions, including the Rosslyn Chapel from the Da Vinci Code, several medieval castles, and stunning modern art projects such as the Kelpies Helix Project. All of these attractions can be reached from Edinburgh quite easily via public transportation.</p>
    </section>



    <!-- Greater Edinburgh Part 1 Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Exterior of the famous Rosslyn Chapel near Edinburgh which was featured in the Da Vinci Code movie"
                        src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Rosslyn-Chapel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rosslyn Chapel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/68943672@N00/27660295269/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bwag" rel="noopener noreferrer" target="_blank">
                                    Jason Raia</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning grass walkway between two ponds leading to a green mound, part of a massive outdoor art exhibit" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Jupiter-Artland.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jupiter Artland</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/r00s/20258902181/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/r00s/" rel="noopener noreferrer" target="_blank">
                                    Rosa Menkman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Majestic ruins of the medieval Linlithgow Palace behind an idyllic country lake, near Edinburgh, Scotland"
                        src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Linlithgow-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Linlithgow Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmts/17159816206/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmts/" rel="noopener noreferrer" target="_blank">
                                    Jeremy Sutcliffe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tiny stone Blackness Castle seen along the rocky coastline near Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Blackness-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Blackness Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/1238628" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/9715" rel="noopener noreferrer" target="_blank">
                                    Mike Pennington</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Rosslyn Chapel Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="rosslyn-chapel"></a>
        <h2 class="left-heading destination-section-heading">Rosslyn Chapel</h2>
        <p>The most popular attraction around Edinburgh (and the closest) is the <strong>Rosslyn Chapel</strong>, a 15th century gothic church famous due to its use as a setting in The Da Vinci Code and alleged ties to the Knights Templar.</p>
    </section>


    <!-- Jupiter Artland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="jupiter-artland"></a>
        <h2 class="left-heading destination-section-heading">Jupiter Artland</h2>
        <p>The next closest attraction is the <strong>Jupiter Artland</strong> open-air sculpture park to the west. Here you can walk amongst many large contemporary sculptures and art installations set amongst the woods which also includes some strange but amazing artificial landscapes, offering many excellent photo opportunities.</p>
    </section>


    <!-- Linlithgow Palace and Blackness Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="blackness-and-linlithgow"></a>
        <h2 class="left-heading destination-section-heading">Linlithgow Palace &amp; Blackness Castle</h2>
        <p>Further west from Edinburgh is the partially ruined medieval <strong>Linlithgow Palace</strong>, a massive magnificent structure set amongst a scenic landscape. Nearby you can also stop by the 15th century stone <strong>Blackness Castle</strong>, an impressive waterfront medieval fortress.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Edinburgh 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1257653535"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Greater Edinburgh Part 2 Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning castle-like facade of the Callendar House in Falkirk, near Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Falkirk-Callendar-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Callendar House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pipsroadster/27245046484/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pipsroadster/" rel="noopener noreferrer" target="_blank">
                                    4652 Paces</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive ultra-modern art installation featuring two fierce giant steel horse heads in Falkirk ner Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Falkirk-Kelpies-Helix-Project.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kelpies Helix Project</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/st33vo/14353905825/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/st33vo/" rel="noopener noreferrer" target="_blank">
                                    Steven Straiton</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
ß
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway leading to an entrance to the medieval brick Stirling Castle of Southern Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Stirling-Castle-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stirling Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dun_deagh/6056086215/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dun_deagh/" rel="noopener noreferrer" target="_blank">
                                    dun_deagh</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking the hilltop Stirling Castle complex of Southern Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Stirling-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stirling Castle (Aerial&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Scotland-2016-Aerial-Stirling-Stirling_Castle_great_hall.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Godot13" rel="noopener noreferrer" target="_blank">
                                    Goddot13</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive hilltop National Wallace Monument, which resembles a gothic castle tower, near Edinburgh"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Stirling-The-National-Wallace-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The National Wallace Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Wallace_Monument_Aerial,_Stirling.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Wallace_Monument_Aerial,_Stirling.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    BusterBrownBB</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over a wall-top pathway of the Tantallon Castle ruins with beautiful coastal cliffs in background"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburgh-Tantallon-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tantallon Castle (Coast&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/587648" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/17958" rel="noopener noreferrer" target="_blank">
                                    Keith Burns</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the top of the Tantallomn Castle overlooking ruined walls with the sea in the background"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Greater-Edinburg-Tantallon-Castle-and-Coast.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tantallon Castle (Sea&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tantallon_Castle,_ruined_wing_from_above.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Karora" rel="noopener noreferrer" target="_blank">
                                    Karora</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Falkirk, Scotland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="falkirk"></a>
        <h2 class="left-heading destination-section-heading">Falkirk, Scotland</h2>
        <p>Continuing west from Edinburgh is the town of Falkirk, where you can visit the <strong>Callendar House</strong>, a French chateau-like mansion containing posh interiors and some medieval rooms.</p>
        <p>Just outside of town you should stop to view the unique <strong>Kelpies Helix Project</strong> monument, which is two 100 foot (30 m) tall horse head sculptures made of steel.</p>
    </section>



    <!-- Stirling, Scotland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="stirling"></a>
        <h2 class="left-heading destination-section-heading">Stirling, Scotland</h2>
        <p>To the northwest of Falkirk is the city of Stirling, located about halfway between Glasgow and Edinburgh a bit to the north. The city is famous for the massive medieval <strong>Stirling Castle</strong>, one of the most important in Scotland. This fortress castle contains lavish royal interiors and features amazing views over the surrounding area.</p>
        <p>Also in town is the <strong>National Wallace Monument</strong>, a tall castle-like tower atop a hill. This brick structure displays impressive gothic architecture and can be seen from far away, towering over the town.</p>
    </section>


    <!-- Tantallon Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="tantallon-castle"></a>
        <h2 class="left-heading destination-section-heading">Tantallon Castle</h2>
        <p>To the east of Edinburgh on the shores of the North Sea you'll find the ruins of the <strong>Tantallon Castle</strong>, set amongst the breathtaking coastline featuring all types of natural features including green cliffs and a massive rock island just behind the castle.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Edinburgh Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1266334340"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Greater Edinburgh Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/69Cz6K6Kzoo">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking many historic tall buildings of Old Town Edinburgh with iconic Arthurs Seat hilltop in the background"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Edinburgh-Old-Town-Edinburgh-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/edinburgh-attractions-guide">
                        Edinburgh
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/liakadaweb/37729397685/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/liakadaweb/" rel="noopener noreferrer" target="_blank">
                            Herbert Frank</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/glasgow-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning Glasgow City Chambers building and monuments towering above George Square in Scotland's capital"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Glasgow-George-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/glasgow-attractions-guide">
                        Glasgow
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kucinski/4696981115/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kucinski/" rel="noopener noreferrer" target="_blank">
                            Ben Kucinski</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view along Loch Lubnaig lake, surrounded by lush green mountains of Loch Lomond and The Trossachs National Park"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Loch-Lomond-and-the-Trossachs-National-Park-Loch-Lubnaig.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/loch-lomond-and-the-trossachs-attractions-guide">
                        Loch Lomond &amp; The&nbsp;Trossachs National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/neillwphoto/35399336771/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/neillwphoto/" rel="noopener noreferrer" target="_blank">
                            Neil Williamson</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/argyll-and-bute-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ruins of the Kilchurn Castle seen between a lake and snow covered hills at golden hour in Argyll, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Argyll-and-Bute-Kilchurn-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/argyll-and-bute-attractions-guide">
                        Argyll &amp; Bute
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kilchurn_Castle_reflection.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Andrewmckie</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    