<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Medieval ruins of Urquhart Castle along Loch Ness near Inverness, Scotland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/scotland/Scotland-Scottish-Highlands-Inverness-Loch-Ness-Urquhart-Castle-and-Lake-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Inverness & Loch Ness, Scotland, and plan the perfect trip with savable Inverness & Loch Ness Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="inverness_scotland" />
    <meta name="attraction_guides" content="loch_ness_scotland" />
    <meta name="europe_attraction_guides" content="inverness_scotland" />
    <meta name="europe_attraction_guides" content="loch_ness_scotland" />
    <meta name="europe_destinations" content="inverness_scotland" />
    <meta name="europe_destinations" content="loch_ness_scotland" />
    <meta name="europe_destination_guides" content="inverness_scotland" />
    <meta name="europe_destination_guides" content="loch_ness_scotland" />
    <meta name="uk_attraction_guides" content="inverness" />
    <meta name="uk_attraction_guides" content="loch_ness" />
    <meta name="uk_destinations" content="inverness" />
    <meta name="uk_destinations" content="loch_ness" />
    <meta name="uk_destination_guides" content="inverness" />
    <meta name="uk_destination_guides" content="loch_ness" />
    <meta name="scotland_attraction_guides" content="inverness" />
    <meta name="scotland_attraction_guides" content="loch_ness" />
    <meta name="scotland_destinations" content="inverness" />
    <meta name="scotland_destinations" content="loch_ness" />
    <meta name="scotland_destination_guides" content="inverness" />
    <meta name="scotland_destination_guides" content="loch_ness" />
    <meta name="google_maps_list" content="inverness" />
    <meta name="google_maps_list" content="loch_ness" />
    <meta property="og:title" content="Inverness & Loch Ness, Scotland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/scotland/Scotland-Scottish-Highlands-Inverness-Loch-Ness-Urquhart-Castle-and-Lake-View.jpg">
    <meta name="twitter:title" content="Inverness & Loch Ness, Scotland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/scotland/Scotland-Scottish-Highlands-Inverness-Loch-Ness-Urquhart-Castle-and-Lake-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/scotland/inverness-and-loch-ness-attractions-guide">
    <title>Attractions Guide for Inverness & Loch Ness, Scotland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Inverness &amp; Loch Ness, Scotland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#inverness-attractions">Inverness</a></div>
            <div><a href="#dunrobin-castle">Dunrobin Castle</a></div>
            <div><a href="#greater-inverness-attractions">Greater Inverness</a></div>
            <div><a href="#loch-ness">Loch Ness</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    <!-- Introduction to Inverness and Loch Ness Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Inverness is the largest city of the Scottish Highlands and is surrounded by many great attractions, including the famous Loch Ness to the south and the elegant Dunrobin Castle to the north.</p>
    </section>



    <!-- Inverness, Scotland and Dunrobin Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Sunset over Inverness Castle behind the River Ness in Scotland" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Inverness-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Inverness Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/conner395/4974893903/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/conner395/" rel="noopener noreferrer" target="_blank">
                                    Dave Conner</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lush woodland trail along the riverside on the small Ness Island surrounded by the River Ness in Inverness" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Ness-Islands.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ness Islands (Inverness)</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/5568413" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/9616" rel="noopener noreferrer" target="_blank">
                                    Julian Paren</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning gairytale-like Dunrobin Castle seen behind beautiful fine gardens "
                        src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Dunrobin-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunrobin Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/13422316@N00/2524820749" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/13422316@N00/" rel="noopener noreferrer" target="_blank">
                                    Paul Wordingham</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking along the shoreline of Chanonry Point near Inverness with lighthouse at the end of the point"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Chanonry-Point-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chanonry Point Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/5780201" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/4820" rel="noopener noreferrer" target="_blank">
                                    Gordon Hatton</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Inverness, Scotland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="inverness-attractions"></a>
        <h2 class="left-heading destination-section-heading">Inverness, Scotland</h2>
        <p>Inverness's top attraction is the riverside <strong>Inverness Castle</strong>, which you can admire from outside and take in great views of the city from. Just across the River Ness from the castle is the impressive Inverness Cathedral.</p>
        <p>Loch Ness becomes the River Ness as it flows through the city of Inverness just before reaching the sea. Along this short river are the small heavily wooded <strong>Ness Islands</strong>. These islands host scenic hiking trails through the forest along the water.</p>
    </section>


    <!-- Dunrobin Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dunrobin-castle"></a>
        <h2 class="left-heading destination-section-heading">Dunrobin Castle</h2>
        <p>The <strong>Dunrobin Castle</strong> is located approximately 50 miles (80 km) north of Inverness but is definitely worth the drive. This fairytale-like castle contains lavish 19th century interiors and extravagant gardens with amazing views of the castle.</p>
        <h3>Chanonry Point</h3>
        <p>Much closer to Inverness just a bit to the north is <strong>Chanonry Point</strong>, a small peninsula with a lighthouse that also serves as an excellent place for dolphin watching.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Inverness 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8953252672"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Greater Inverness Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small but powerful Rogie Falls surrounded by lush dense forests of the Scottish Highlands"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Rogie-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rogie Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.publicdomainpictures.net/en/view-image.php?image=187702&picture=rogie-falls-scotland" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.publicdomainpictures.net/en/browse-author.php?a=8245" rel="noopener noreferrer" target="_blank">
                                    George Hodan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small old thatched roof stone house seen at the Culloden Battlefield near Inverness"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Culloden-Battlefield.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Culloden Battlefield</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/liakadaweb/24745091298/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/liakadaweb/" rel="noopener noreferrer" target="_blank">
                                    Herbert Frank</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stone tomb site built during the Bronze Age located in the countryside near Inverness"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Clava-Cairns.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clava Cairns</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tedandjen/9041598571/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tedandjen/" rel="noopener noreferrer" target="_blank">
                                    Ted and Jen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rustic stone exterior of the Cawdor Castle near Inverness, Scotland"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Cawdor-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cawdor Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/christoph_straessler/10102307864/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/christoph_straessler/" rel="noopener noreferrer" target="_blank">
                                    Christoph Straessler</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Greater Inverness Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-inverness-attractions"></a>
        <h2 class="left-heading destination-section-heading">Greater Inverness</h2>
        <p>Northwest of Inverness are the beautiful <strong>Rogie Falls</strong>, which require only a short 0.5 mile (0.8 km) round-trip walk to view, and includes a nice suspension bridge over the river.</p>
        <p>To the northeast of Inverness is the <strong>Culloden Battlefield</strong>, the site of the last battle of the 18th century Jacobite Rising which contains a memorial and museum. Very close by is a small Bronze Age chamber tomb, the <strong>Clava Cairns</strong> that you might like to see.</p>
        <p>Further northeast is the <strong>Cawdor Castle</strong>, a small medieval estate and gardens you might consider visiting.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Inverness 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7640171003"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Loch Ness Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic lakeside ruins of Urquhart Castle with Loch Ness and the beautiful rolling hills behind it in the Scottish Highlands"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Urquhart-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Urquhart Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sodele/14316562701/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sodele/" rel="noopener noreferrer" target="_blank">
                                    sodele</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small boat travelling down the tight Caledonian Canal which leads to Loch Ness via Fort Augustus"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Fort-Augustus-Caledonian-Canal.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Caledonian Canal (Fort&nbsp;Augustus)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/leandrociuffo/6194579565/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/leandrociuffo/" rel="noopener noreferrer" target="_blank">
                                    Leandro Neumann Ciuffo</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view overlooking Loch Ness from Fort Augustus with steep hills rising above both sides of the lake"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Fort-Augustus-Loch-Ness-View-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Loch Ness View Point (Fort&nbsp;Augustus)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/conner395/2388165430/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/conner395/" rel="noopener noreferrer" target="_blank">
                                    Dave Conner</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small lovely Fall of Foyers waterfall surrounded by dense forest near the coast of Loch Ness"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Falls-of-Foyers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Falls of Foyers</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Scotland,_Falls_of_Foyers_near_Loch_Ness_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Scotland,_Falls_of_Foyers_near_Loch_Ness_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Banja-Frans Mulder</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Loch Ness Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="loch-ness"></a>
        <h2 class="left-heading destination-section-heading">Loch Ness</h2>
        <h3>Urquhart Castle</h3>
        <p>Heading south from Inverness you can drive all the way around legendary Loch Ness. The most popular attraction on Loch Ness is the ruins of the 13th century <strong>Urquhart Castle</strong> located right on the lake. This castle's walls are built atop the rolling green hills along the lake. The castle ruins even host a tower that you can climb and a cafe from which you can enjoy majestic views looking out over Loch Ness.</p>
        <h3>Fort Augustus, Scotland</h3>
        <p>Along the southern shore of Loch Ness is the small town of Fort Augustus, a beautiful town with many lovely historic homes and buildings. The scenic <strong>Caledonian Canal</strong> runs right through the town, along which you'll find many shops, restaurants, and hotels. Between the canal and the River Oich (which flows into Loch Ness) is a long inty island. At the tip of this island a gorgeous viewpoint overlooking Loch Ness, known as the <strong>Loch Ness View Point Fort Augustus</strong>.</p>
        <h3>Falls of Foyer</h3>
        <p>On the opposite (eastern) side of the lake from the Urquhart Castle is the <strong>Falls of Foryers</strong> waterfall, which is right next to Loch Ness. You can reach the waterfall via a very short walk through lush green forests from the parking lot, with the option of further hiking along the trails to explore this wondrous heavily-wooded area. </p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Inverness Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9151744987"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Inverness &amp; Loch Ness Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/W7XRKAjH76E2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/KHV1pcEkS2J2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/northwestern-highlands-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking a complex network of lakes and mountains surrounded by lush green from atop Cul Mor peak, Scottish Highlands"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Northwestern-Highlands-Cul-Mor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/northwestern-highlands-attractions-guide">
                        Northwestern Highlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/127130111@N06/36324665746/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/127130111@N06/" rel="noopener noreferrer" target="_blank">
                            john mcsporran</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/isle-of-skye-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning craggy rocks of Old Man of Storr sticking out of the vibrant green hilly landscape above the Isle of Skye coastline"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Old-Man-of-Storr.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/isle-of-skye-attractions-guide">
                        Isle of Skye
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/127130111@N06/15270494205/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/127130111@N06/" rel="noopener noreferrer" target="_blank">
                            john mcsporran</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    