<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Old Man of Storr rock formation along the coast of the Isle of Skye, Scotland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Old-Man-of-Storr-Formation-and-Coast-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Isle of Skye, Scotland, and plan the perfect trip with our savable Isle of Skye Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="isle_of_skye_scotland" />
    <meta name="europe_attraction_guides" content="isle_of_skye_scotland" />
    <meta name="europe_destinations" content="isle_of_skye_scotland" />
    <meta name="europe_destination_guides" content="isle_of_skye_scotland" />
    <meta name="uk_attraction_guides" content="isle_of_skye" />
    <meta name="uk_destinations" content="isle_of_skye" />
    <meta name="uk_destination_guides" content="isle_of_skye" />
    <meta name="scotland_attraction_guides" content="isle_of_skye" />
    <meta name="scotland_destinations" content="isle_of_skye" />
    <meta name="scotland_destination_guides" content="isle_of_skye" />
    <meta name="google_maps_list" content="isle_of_skye" />
    <meta property="og:title" content="Isle of Skye, Scotland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Old-Man-of-Storr-Formation-and-Coast.jpg">
    <meta name="twitter:title" content="Isle of Skye, Scotland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Old-Man-of-Storr-Formation-and-Coast.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/scotland/isle-of-skye-attractions-guide">
    <title>Attractions Guide for Isle of Skye, Scotland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Isle of Skye, Scotland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#castles">Castles</a></div>
            <div><a href="#sgurr-na-stri">Sgurr na Stri</a></div>
            <div><a href="#eas-mor-and-fairy-pools">Eas Mor Falls</a></div>
            <div><a href="#portree">Portree</a></div>
            <div><a href="#old-man-of-storr">Old Man of Storr</a></div>
            <div><a href="#lealt-and-mealt-falls">Lealt/Mealt Falls</a></div>
            <div><a href="#quiraing">Quiraing</a></div>
            <div><a href="#fairy-glen">Fairy Glen</a></div>
            <div><a href="#neist-point">Neist Point</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Isle of Skye Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Isle of Skye is located west of the Western Highlands just off the coast of the mainland and is one of the most scenic places in the British Isles, hosting countless attractions. These attractions are loosely listed in order here along a recommended route around the island, however with so much to see, you'll need to be a bit picky.</p>
    </section>


    <!-- Isle of Skye Castles Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Famous medieval Eilean Donan Castle set amongst the coast and mountains, just before reaching Skye" 
                        src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Eilean-Donan-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eilean Donan Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hisgett/37623644806/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hisgett/" rel="noopener noreferrer" target="_blank">
                                    Tony Hisgett</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Imposing medieval Dunvegan Castle seen atop a small hill from across the water with its reflection on the Isle of Skye"
                        src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Dunvegan-Castle-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunvegan Castle &amp; Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dunvegan_Castle_%26_Gardens.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Dunvegan_Castle_%26_Gardens.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Dunvegancastle</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ruins of the tiny Dunscaith Castle on a tiny peninsula of the Isle of Skye with tall mountains in background"
                        src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Dunscaith-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunscaith Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/912397" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/28189" rel="noopener noreferrer" target="_blank">
                                    Ray and Carol Bennie</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruins of the small medieval Duntulm Castle perched atop the cliffs above the sea on the Isle of Skye" 
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Duntulm-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Duntulm Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Duntulm_Castle_and_cliff.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:M%C3%A1el_Milscothach" rel="noopener noreferrer" target="_blank">
                                    Mael Milscothach</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Isle of Sky Castles Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="castles"></a>
        <h2 class="left-heading destination-section-heading">Castles</h2>
        <p>Just before you reach the island is one of Scotland's most popular castles, the 13th century <strong>Eilean Donan Castle</strong>, which sits atop a small island just off the coast connected by a bridge. The extraordinary medieval castle looks incredibly beautiful set amongst the scenic landscape.</p>
        <p>After the Eilean Donan Caslte, the most popular caslte around the Isle of Skye is the <strong>Dunvegan Castle &amp; Gardens</strong>, a stunning medieval castle surrounded by a picturesque landscape, featuring posh interiors and beautiful gardens. Be sure to take in views of the castle with the lake as the background near these gardens. You'll find this castle near the western tip of the Isle of Skye in the town of Dunvegan.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Castle Ruins</h3>
            <p>Just after crossing the bridge to the Isle of Skye you might like to visit the striking ruins of the <strong>Dunscaith Castle</strong>, which overlooks a beautiful bay surrounded by mountains. This castle sits along the water near the beginning of the Isle of Skye along a peninsula south of the main road.</p>
            <p>At the northern top of the Trotternish Peninsula are the ruins of a tiny medieval castle perched atop the cliffs above the coast, called the <strong>Duntulm Castle</strong>. You can admire the castle quite well from the parking lot at the Duntulm Sea Viewpoint. The hike up the hill to the castle ruins is quite dangerous and technically not allowed, although many still do it. The view from near the parking lot is quite picturesque however.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Isle of Skye 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8835926507"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Sligachan, Sgurr na Stri, Eas Mor Waterfall, and Fairy Pools Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque old Sligachan Bridge crossing a small river set amongst the gorgeous Isle of Skye landscape"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Sligachan-Old-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sligachan Old Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/cosmicherb70/29573082102/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cosmicherb70/" rel="noopener noreferrer" target="_blank">
                                    Chris Combe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Sligachan Waterfalls with mountain and lush fields in Fall colors in the background on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Sligachan-Waterfalls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sligachan Waterfalls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/imagepassion/32412743652/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/imagepassion/" rel="noopener noreferrer" target="_blank">
                                    Jacques Dufrenoy</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Breathtaking view from Sgurr na Stri Mountain overlooking a lake and tall mountains along the rugged coastline, Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Sgurr-na-Stri.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sgurr na Stri Mountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/127130111@N06/34145182255/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/127130111@N06/" rel="noopener noreferrer" target="_blank">
                                    john mcsporran</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking over the water of Loch Coruisk lake surrounded by tall mountains on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Loch-Coruisk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Loch Coruisk Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/761385" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/3863" rel="noopener noreferrer" target="_blank">
                                    John Allan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View while appraoching the tall Eas Mor Waterfall dropping over a steep cliff on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Eas-Mor-Waterfall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eas Mor Waterfall</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/4243006" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/20032" rel="noopener noreferrer" target="_blank">
                                    Richard Dorrell</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant emerald-colored Fairy Pools fed by small gorge-carving waterfalls on the Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Fairy-Pools.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Fairy Pools</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/evocateur/14195358864/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/evocateur/" rel="noopener noreferrer" target="_blank">
                                    Daniel Stockman</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    

    <!-- Sgurr na Stri and Sligachan Bridge and Waterfalls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sgurr-na-stri"></a>
        <h2 class="left-heading destination-section-heading">Sgurr na Stri &amp; Sligachan Waterfalls</h2>
        <p>One of the first attractions you'll encounter on the Isle of Skye is the <strong>Sligachan Old Bridge</strong>, a small extremely photogenic footbridge made of stone. From the Sligachan Old Bridge Car Park next to this bridge you can take a very short hike to admire the stunning <strong>Sligachan Waterfalls</strong> set amongst the wild landscape with tall mountains behind them.</p>
        <p>From the same trailhead beside the Sligachan Bridge you can hike up into the mountains behind the Sligachan Waterfalls, deep into the Isle of Skye wilderness. If you're willing to do a long and challenging but highly rewarding hike, you might consider taking the 15 mile (24 km) round-trip hike up to the peak of <strong>Sgurr na Stri</strong>.</p>
        <p>From the top of this mountain which rises above the sea you can enjoy what is perhaps the best view in the British Isles, overlooking many islands, lakes, rugged coastline, and even beautiful wild beaches.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>This trail is incredibly scenic along the entire route, passing by many small lakes along the way. Just before reaching Loch a'Choire Riabhaich lake you'll turn off of the main trail onto a smaller trail to reach the mountain's peak. It's highly recommended to hike a bit beyond the main trail as well in order to admire the breathtaking <strong>Loch Coruisk</strong>, which is the largest lake in the area.</p>
            <p>There's also the option of walking around the entirety of Loch Coruisk in a loop, or walking down to the coastline just south of Loch Coruisk.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Eas Mor Waterfall, Sgurr Dearg, and Fairy Pools Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eas-mor-and-fairy-pools"></a>
        <h2 class="left-heading destination-section-heading">Eas Mor Waterfall &amp; Fairy Pools</h2>
        <p>Another option for Sgurr na Stri is to hike past Loch Coruisk to the west, passing between the mountains of Sgurr na Banachdaich and Sgurr Dearg, before reaching the <strong>Eas Mor Waterfall</strong> and finishing in the town of Glenbrittle. The one-way hiking distance for this route is approxiamtely 14 miles (22.5 km), with many options for scenic detours along the way.</p>
        <p>If you'd like to hike directly to the Eas Mor Waterfall from Glenbrittle, it's approximately 1.4 miles (2.3 km) round-trip from the Sgurr Dearg and the Inn Pinn Parking Lot. This tall waterfall is located within an strikingly picturesque mountainous setting, and you're even likely to pass by sheep along the trail to the waterfall.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>It's also possible to use the Eas More Waterfall trail as an alternate hiking route to Sgurr na Stri, which is slightly longer than from the Sligachan Bridge, at approximately 15.5 miles (25 km) round-trip.</p>
            <h3>Fairy Pools</h3>
            <p>Nearby Glenbrittle and the Eas Mor Waterfall you'll find <strong>The Fairy Pools</strong>, a series of spectacular waterfalls and pools accessible via a 1.2 mile (1.9 km) round-trip hike with the option for further hiking along the river if you like.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Isle of Skye 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8021661999"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Portree, Scotland and Old Man of Storr Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Photogenic view from Bosville Terrace of colorful old homes lined along Portree harbor below The Lump Hill, on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Portree-Bosville-Terrace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bosville Terrace (Portree)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Portree_Isle_of_Skye.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MRB" rel="noopener noreferrer" target="_blank">
                                    Markus Bernet</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Portree harbor and the coast seen from atop The Lump Hill, on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Portree-The-Lump.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Lump (Portree)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.org.uk/photo/1604209" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.skyeholidays.co.uk/" rel="noopener noreferrer" target="_blank">
                                    Richard Dorrell</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful staircase-like Bride's Veil Falls set amongst a rocky lush green landscape on the Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Brides-Veil-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bride's Veil Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Loch_Leathan_Waterfall,_Isle_of_Skye,_Scotland_-_Diliff.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Diliff" rel="noopener noreferrer" target="_blank">
                                    David Iliff</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning craggy rocks of Old Man of Storr sticking out of the vibrant green hilly landscape above the Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Old-Man-of-Storr.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Man of Storr</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/127130111@N06/15270494205/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/127130111@N06/" rel="noopener noreferrer" target="_blank">
                                    john mcsporran</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Portree, Scotland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="portree"></a>
        <h2 class="left-heading destination-section-heading">Portree, Scotland</h2>
        <p>At the start of the scenic Trotternish Peninsula is the sizable town of Portree, which hosts many shops, restaurants, and hotels. This town is also known for its lovely colorful houses lined up along the water, which are best viewed from the <strong>Bosville Terrace</strong>, along the northern side of the harbor.</p>
        <p>When visiting Portree, be sure to also take the short hike up the <strong>The Lump</strong> hilltop viewpoint, which offers fantastic views over the harbor from high above, on the opposite side of the harbor from the Bosville Terrace. This hilltop also hosts a small 19th century watchtower which you can climb up for amazing panoramic views over the harbor and coastline.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>To reach The Lump you just need to take a short walk through the forest starting near the Portree Free Church of Scotland.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Old Man of Storr Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="old-man-of-storr"></a>
        <h2 class="left-heading destination-section-heading">Old Man of Storr</h2>
        <p>Along the Trotternish Peninsula  you'll find many of the Isle of Skye's most incredible sights, starting with <strong>Bride's Veil Falls</strong> located along the road just north of Portree. This small but beautiful staircase-like waterfall is very photogenic and only requires a very short walk to see.</p>
        <p>Just north of the falls is the iconic <strong>Old Man of Storr</strong> hike along a grassy rocky landscape to the famous rock the trail is named after, offering breathtaking views over the islands off the coast and of the surrounding scenery. The round-trip trail length is approximately 2.5 miles (4 km), with the option of further exploring around the rocks and taking an alternate route back to the car park.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Isle of Skye 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8944571861"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Lealt Falls, Mealt Falls, Quiraing, and Duntulm Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="One of the large waterfalls of Lealt Falls cascading over a canyon making its way to the sea on the Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Lealt-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lealt Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/russellstreet/38916322534/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                                    russellstreet</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive Mealt Falls waterfall cascading over the green cliffs of the Isle of Skye into the ocean below"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Kilt-Rock-and-Mealt-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kilt Rock &amp; Mealt Falls Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/876220" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/27215" rel="noopener noreferrer" target="_blank">
                                    Brian Jorgensen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rock-filled sandy beach of An Corran in front of lush green and orange cliffs along the coast of Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-An-Corran-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">An Corran Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/2664386" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/20032" rel="noopener noreferrer" target="_blank">
                                    Richard Dorrell</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning vibrant green landscape of the Quiraing with many ridges, cliffs, and small lakes, on the Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Quiraing.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Quiraing Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/107521854@N05/14942990740" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/107521854@N05/" rel="noopener noreferrer" target="_blank">
                                    Luis Ascenso</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tiny traditional stone home with thatched roof at Isle of Skye Museum of Island Life"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Skye-Museum-of-Island-Life.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skye Museum of Island Life</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lordskully/16784015605/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lordskully/" rel="noopener noreferrer" target="_blank">
                                    Frank Pickavant</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Lealt and Mealt Falls Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="lealt-and-mealt-falls"></a>
        <h2 class="left-heading destination-section-heading">Lealt &amp; Mealt Falls</h2>
        <p>Continuing up the coast you can make a quick stop at the Rigg Viewpoint, which offers clifftop views over the sea high above the coast. Nearby you can park  and take the short 0.8 mile (1.3 km) round-trip trail to see the majestic <strong>Lealt Falls</strong>. Although one of these waterfalls sits beside the road, you'll need to hike down the trail to get a better view of it, and you'll be rewarded with picturesque views of even more waterfalls along the way.</p>
        <p>Just a bit further up the road you can stop at the the <strong>Kilt Rock &amp; Mealt Falls Viewpoint</strong> where you can see gorgeous massive Mealt Falls falling into the sea over tall sheer cliffs, with the beautiful Kilt Rock cliffs in the distance. Very close-by is the small but interesting Staffin Ecomuseum hosting prehistoric fossils. Continue up to <strong>An Corran Beach</strong>, where you can take in more scenic views of wild grassy cliffs rising above the sea.</p>
    </section>


    <!-- The Quiraing and Duntulm Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="quiraing"></a>
        <h2 class="left-heading destination-section-heading">The Quiraing &amp; Duntulm</h2>
        <p>Not far from Mealt Falls and An Corran Beach is <strong>The Quiraing</strong>, a 2.6 mile (4.2 km) round-trip trail set amongst an unbelievably beautiful landscape with incredible rock formations and views, which is among the most gorgeous sights on the entire Isle of Skye. To reach the parking lot and trailhead for this hike you'll need to drive a little bit inland from the coast to The Quiraing Car Park.</p>
        <p>Near the tip of the Trotternish Peninsula you'll find the ruined Duntulm Castle, which is best viewed from the parking lot. Read more information about this castle in the Castles section.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Just down the coast from the castle be sure to stop by the <strong>Skye Museum of Island Life</strong>, featuring 18th century traditional thatched cottages that have been extremely well-preserved with era-appropriate furnishings.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Isle of Skye 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7631490193"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Fairy Glen, Falls of Rha, and Isle of Skye West Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Powerful multi-tiered Falls of Rha waterfall surrounded by dense forest on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Rha-Waterfalls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Falls of Rha</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/708760" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.org.uk/profile/3863" rel="noopener noreferrer" target="_blank">
                                    John Allan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large stone spiral set in the green rocky landscape of Fairy Glen surrounded by small cliffs on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Fairy-Glen.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairy Glen</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/12720221@N08/29483196388/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/12720221@N08/" rel="noopener noreferrer" target="_blank">
                                    mmmmngai@rogers.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Winding pathway leading to the Castle Ewen rock formation atop the small cliffs overlooking Fairy Glen on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Fairy-Glen-Castle-Ewen.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle Ewen (Fairy&nbsp;Glen)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pellesten/4808338158" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pellesten/" rel="noopener noreferrer" target="_blank">
                                    Pelle Sten</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Off-white colored Coral Beach with its clear vibrant blue waters and view of rolling green hills on Isle of Skye"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Coral-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coral Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/skye-coral-beach-scotland-beach-1245069/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/shilmar-73994/" rel="noopener noreferrer" target="_blank">
                                    shilmar</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Iconic view of the steep cliffs of Neist Point towering above the sea with lighthouse at end, on Isle of Skye" 
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Isle-of-Skye-Neist-Point-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neist Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/127130111@N06/25711187192/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/127130111@N06/" rel="noopener noreferrer" target="_blank">
                                    john mcsporran</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Fairy Glen and Falls of Rha Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="fairy-glen"></a>
        <h2 class="left-heading destination-section-heading">Fairy Glen &amp; Falls of Rha</h2>
        <p>In the village of Uig are the fantastic <strong>Falls of Rha</strong> (also called the Rha Waterfalls) surrounded by dense forests, which you can reach via a very short walk from the main road.</p>
        <p>Be sure to stop near the Falls of Rha for an extremely scenic walk amongst the grassy hills of <strong>Fairy Glen</strong> and see the majestic <strong>Castle Ewen</strong> formation. This place is called Fairy Glen because it truly looks like a magical place, and is one of the top attractions on the Isle of Skye.</p>
    </section>


    <!-- Neist Point and Western Isle of Skye Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="neist-point"></a>
        <h2 class="left-heading destination-section-heading">Neist Point &amp; Western Isle of Skye</h2>
        <p>Now drive to the western side of Skye, where you can take in gorgeous coastal views from the <strong>Coral Beach</strong>, accessible via a 2.4 mile (3.9 km) round-trip trail from the parking. Close to the Coral Beach you'll find the popular Dunvegan Castle and Gardens (further discussed in the Castles section).</p>
        <p>Lastly be sure to visit the stunning Neist Point Peninsula at the westernmost point of the Isle of Sky. Nearby the carpark atop the cliffs you can enjoy the iconic view overlooking <strong>Neist Point</strong>, which is truly mesmerizing. Near the far end of Neist Point is a beautiful lighthouse, which you can reach via a scenic 1.4 miles (2.3 km) round-trip trail from the Neist Point Car Park.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Isle of Skye Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6327089334"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Isle of Skye Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8uqM5mDyuyj">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/dDV7bEW12Sz">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/inverness-and-loch-ness-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic lakeside ruins of Urquhart Castle with Loch Ness and the beautiful rolling hills behind it in the Scottish Highlands"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Inverness-Loch-Ness-Urquhart-Castle.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/inverness-and-loch-ness-attractions-guide">
                        Inverness &amp; Loch&nbsp;Ness
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sodele/14316562701/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sodele/" rel="noopener noreferrer" target="_blank">
                            sodele</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/scotland/northwestern-highlands-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking a complex network of lakes and mountains surrounded by lush green from atop Cul Mor peak, Scottish Highlands"
                        data-src="https://www.travelimager.com/images/scotland/Scotland-Northwestern-Highlands-Cul-Mor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/scotland/northwestern-highlands-attractions-guide">
                        Northwestern Highlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/127130111@N06/36324665746/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/127130111@N06/" rel="noopener noreferrer" target="_blank">
                            john mcsporran</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    