<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for the Czech Republic / Czechia's top destination, Prague, and castles and other attraction in the Greater Prague area" />
    <meta name="attraction_guides" content="czech_republic" />
    <meta name="europe_destinations" content="czech_republic" />
    <meta name="destination_guides" content="czech_republic" />
    <meta property="og:title" content="Czech Republic Attraction Guides">
    <meta name="twitter:title" content="Czech Republic Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/czech-republic-czechia/czech-republic-attraction-guides">
    <title>Czech Republic Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Czech Republic Attraction Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/czech-republic-czechia/greater-prague-attractions-guide">
                        <img class="destination-image" 
                        alt="Thousands of century-old human bones and skulls arranged into ornate designs within the famous Sedlec Ossuary of Kutna Hora near Prague, Czech Republic"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Kutna-Hora-Sedlec-Ossuary-Bone-Church.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/czech-republic-czechia/greater-prague-attractions-guide">
                        Greater Prague
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/voxaeterno/15030155346/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/voxaeterno/" rel="noopener noreferrer" target="_blank">
                            Davis Staedtler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        <img class="destination-image"
                        alt="Sunset aerial view overlooking the Charles Bridge walkway with the hilltop Prague Castle in the background in Prague, Czech Republic"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        Prague
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/prague-architecture-bridge-1845560/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pexels-2286921/" rel="noopener noreferrer" target="_blank">
                            Pexels</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>