<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions in Greater Prague, Czech Republic and plan the perfect trip with our savable Greater Prague Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="greater_prague_czech_republic" />
    <meta name="europe_attraction_guides" content="greater_prague_czech_republic" />
    <meta name="europe_destinations" content="greater_prague_czech_republic" />
    <meta name="europe_destination_guides" content="greater_prague_czech_republic" />
    <meta name="czech_republic_attraction_guides" content="greater_prague" />
    <meta name="czech_republic_destinations" content="greater_prague" />
    <meta name="czech_republic_destination_guides" content="greater_prague" />
    <meta name="google_maps_list" content="greater_prague" />
    <meta property="og:title" content="Greater Prague, Czech Republic Attractions Guide">
    <meta name="twitter:title" content="Greater Prague, Czech Republic Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/europe/czech-republic-czechia/greater-prague-attractions-guide">
    <title>Attractions Guide for Greater Prague, Czech Republic</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Greater Prague, Czech&nbsp;Republic<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#greater-prague-southwest">Southwest of Prague</a></div>
            <div><a href="#greater-prague-south">South of Prague</a></div>
            <div><a href="#kutna-hora">Kutna Hora</a></div>
            <div><a href="#chateau-zleby">Chateau Zleby</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Southwest and South of Prague Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Hilltop Karlstejn Castle outside of Prague, displaying fantastic and imposing gothic architecture, surrounded by dense forests"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Burg-Karlstejn-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Karlstejn Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Burg_Karlstein_-_Karl%C5%A1tejn_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Burg_Karlstein_-_Karl%C5%A1tejn_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Jurgen Regel, Marian</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Steep canyon known as the Quarry Great America with its beautiful deep blue waters, located outside of Prage"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Quarry-Great-America.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Quarry Great America</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lom_Velk%C3%A1_Amerika3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Prazak" rel="noopener noreferrer" target="_blank">
                                    Prazak</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Rustic exterior of the Krivoklat Castle outside of Prague"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Hrad-Krivoklat-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Krivoklat Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:K%C5%99ivokl%C3%A1t,_v%C3%BDhled_na_hrad_(2018-05-08;_01).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Harold" rel="noopener noreferrer" target="_blank">
                                    Harold</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large white Konopiste Castle with its signature cone-roofed round tower, toweing above the forests behind a lake outside of Prague"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Zamek-Konopiste-Chateau-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Konopiste Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/marekp/3624829110/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/marekp/" rel="noopener noreferrer" target="_blank">
                                    Marek Prokop</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view over a massive horshoe-shaped bend in the dark blue Vltava River, surrounded by dense green forests upstream from Prague"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Vyhlidka-Maj-Riverbend-Vista-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vyhlidka Maj Vista Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Skaln%C3%AD_vyhl%C3%ADdka_M%C3%A1j_u_Telet%C3%ADna_05.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Skaln%C3%AD_vyhl%C3%ADdka_M%C3%A1j_u_Telet%C3%ADna_05.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Petr1888</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking strongly fortified Castle of Cesky Sternberk located outside of Prague"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Cesky-Sternberk-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cesky Sternberk Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/26652703@N02/2541292603/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/26652703@N02/" rel="noopener noreferrer" target="_blank">
                                    Gerard Eviston</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Southwest of Prague Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-prague-southwest"></a>
        <h2 class="left-heading destination-section-heading">Southwest of Prague</h2>
        <h3>Karlstejn Castle</h3>
        <p>In the Greater Prague area south of the city you'll find several great castles and natural features worth seeing. Most notable is the <strong>Karlstejn Castle</strong> located to the southwest. This medieval gothic castle is in excellent condition featuring many walls and towers, and also contains the original furnishings.</p>
        <h3>Quarry Great America Canyon</h3>
        <p>Very close by to the Karlstejn Castle are the remains of the <strong>Quarry Great America</strong>, a beautiful canyon filled with blue water you can quickly stop and admire.</p>
        <h3>Krivoklat Castle</h3>
        <p>Further west of these attractions is the <strong>Krivoklat Castle</strong>, a well-preserved 13th century castle once belonging to Bohemian royalty.</p>
    </section>


    <!-- South of Prague Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-prague-south"></a>
        <h2 class="left-heading destination-section-heading">South of Prague</h2>
        <h3>Konopiste Caslte</h3>
        <p>To the south of Prague you'll find the Romantic-style <strong>Konopiste Castle</strong>, once home to the Archduke Franz Ferdinand of Austria (whose assassination sparked WWI).</p>
        <h3>Vyhlidka Maj Riverbend Viewpoint</h3>
        <p>To the west of the Konopiste Castle (about a 25 minute drive away) is the <strong>Vyhlidka Maj</strong>, a must-see viewpoint over a picturesque river bend, requiring a short 1.4 mile (2.3 km) round-trip walk from the parking lot.
        <h3>Sternberk Castle</h3>
        <p>To the southeast of Prague is the striking 13th century <strong>Cesky Sternberk Castle</strong>, an impressive hilltop castle with lavish interiors.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Prague 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9171076221"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Kutna Hora, Czechia and Chateau Zleby Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Thousands of century-old human bones and skulls arranged into ornate designs within the famous Sedlec Ossuary of Kutna Hora near Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Kutna-Hora-Sedlec-Ossuary-Bone-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sedlec Ossuary (Kutna&nbsp;Hora)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/voxaeterno/15030155346/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/voxaeterno/" rel="noopener noreferrer" target="_blank">
                                    Davis Staedtler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning gothic exterior of the UNESCO listed St. Barbara's Church of Kutna Hora, lit up at night in the Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Kutna-Hora-St.Barbara-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Barbara's Church (Kutna&nbsp;Hora)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:KUTNA_HORA_(js)_11.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jerzystrzelecki" rel="noopener noreferrer" target="_blank">
                                    Jerzy Strzelecki</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive baroque structure containing the Jesuit College of Kutna Hora with the St. Barbara's Church on its side in Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Kutna-Hora-Jesuit-College.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jesuit College (Kutna&nbsp;Hora)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kolej_jezuitsk%C3%A1_(Kutn%C3%A1_Hora).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Fotograf_ondra" rel="noopener noreferrer" target="_blank">
                                    Ondrej Korinek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive courtyard of the Italian Court Palace in Kutna Hora, in the Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Kutna-Hora-Italian-Court-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Italian Court Palace (Kutna&nbsp;Hora)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C4%9Bstsk%C3%BD_%C3%BA%C5%99ad_Kutn%C3%A1_Hora_2014-02-27_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:M%C4%9Bstsk%C3%BD_%C3%BA%C5%99ad_Kutn%C3%A1_Hora_2014-02-27_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Valery Ded</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small but lovely castle-like Chateau Zleby seen amongst the snow in the Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Zamek-Zleby-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau Zleby</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Z%C3%A1mek_%C5%BDleby1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Prazak" rel="noopener noreferrer" target="_blank">
                                    Prazak</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Kutna Hora, Czech Republic Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kutna-hora"></a>
        <h2 class="left-heading destination-section-heading">Kutna Hora, Czech Republic</h2>
        <p>Kutna Hora is a smaller city located to the east of Prague known for several impressive sights. The <strong>Sedlec Ossuary</strong> on the outskirts of town is a very creepy chapel where over 50,000 human skeletons have been arranged into intricate displays including as chandeliers. This place is a must-see for a very unique experience.</p>
        <p>The city's other most popular attraction is the highly ornate gothic <strong>St. Barbara's Church</strong>, a marvelous UNESCO world heritage site. You can also admire the massive <strong>Jesuit College</strong> building located next to the church from outside. Nearby is the Bohemian Museum of Silver, where you can take a tour through underground medieval silver mines.</p>
        <p>Be sure to also visit the <strong>Italian Court</strong> building, which you can enjoy from outside (including walking through the courtyard).</p>
    </section>


    <!-- Chateau Zleby Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="chateau-zleby"></a>
        <h2 class="left-heading destination-section-heading">Chateau Zleby</h2>
        <p>You might also consider a drive to the town of Zleby located just southeast of Kutna Hora to see the <strong>Chateau Zleby</strong>, a giant and elegant manor house that is well worth visiting. This baroque castle has a history stretching back to the 13th century and has been reconstructed several times in many different styles. Inside the castle you'll find historic furnishings, which you can see via a tour.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Prague Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6440029157"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Greater Prague Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/i8uCLtVVGbH2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/budqDETNV8A2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset aerial view overlooking the Charles Bridge walkway with the hilltop Prague Castle in the background in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/czech-republic-czechia/prague-attractions-guide">
                        Prague
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/prague-architecture-bridge-1845560/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pexels-2286921/" rel="noopener noreferrer" target="_blank">
                            Pexels</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        Vienna, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer" target="_blank">
                            Dmitry A. Motti</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovakia-bratislava-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Colorful elegant buildings lining Bratislava's Main Square, with the hilltop Bratislava Castle towering above in the background, in Slovakia"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Hlavne-Namestie-Main-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/slovakia-bratislava-attractions-guide">
                        Bratislava, Slovakia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/robhurson/35096533142/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/robhurson/" rel="noopener noreferrer" target="_blank">
                            Rob Hurson</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    