<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Charles Bridge and Prague Castle, Prague, Czech Republic Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Prague, Czech Republic and plan the perfect trip with our savable Prague Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="prague_czech_republic" />
    <meta name="europe_attraction_guides" content="prague_czech_republic" />
    <meta name="europe_destinations" content="prague_czech_republic" />
    <meta name="europe_destination_guides" content="prague_czech_republic" />
    <meta name="czech_republic_attraction_guides" content="prague" />
    <meta name="czech_republic_destinations" content="prague" />
    <meta name="czech_republic_destination_guides" content="prague" />
    <meta name="google_maps_list" content="prague" />
    <meta property="og:title" content="Prague, Czech Republic Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg">
    <meta name="twitter:title" content="Prague, Czech Republic Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/czech-republic-czechia/prague-attractions-guide">
    <title>Attractions Guide for Prague, Czech Republic</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Prague, Czech Republic<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#old-town-square">Old Town Square</a></div>
            <div><a href="#old-town">Old Town</a></div>
            <div><a href="#prague-castle-complex">Prague Castle</a></div>
            <div><a href="#mala-strana">Mala Strana</a></div>
            <div><a href="#royal-route-and-kampa">Royal Route</a></div>
            <div><a href="#strahov-and-loreta">Strahov &amp; Loreta</a></div>
            <div><a href="#south-prague">South Prague</a></div>
            <div><a href="#north-prague">North Prague</a></div>
            <div><a href="#more-attractions">More</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Prague Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Prague is a stunning Bohemian city of beautiful Gothic, Renaissance, and Baroque architecture with many colorful historic buildings, and the Vltava River running through its center.</p>
    </section>


    <!-- Prague Old Town Square Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Colorful baroque buildings and the Church of Our Lady Before Tyn lining the vast pedestrian Old Town Square at the center of Prague's Old Town" 
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Old-Town-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Town Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/square-prague-hdr-city-3698563/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/skitterphoto-324082/" rel="noopener noreferrer" target="_blank">
                                    Skitterphoto</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Close-up view of the historical Prague Astronomical Clock, a mechanical masterpiece in the city's Old Town Square"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Old-Town-Square-Astronomical-Clock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Prague Astronomical&nbsp;Clock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/voxaeterno/15029987856/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/voxaeterno/" rel="noopener noreferrer" target="_blank">
                                    David Staedtler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking the colorful baroque structures of Prague's Old Town Square seen from the top of the clocktower"
                        src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Old-Town-Square-Clock-Tower-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clocktower View of<br />Old&nbsp;Town&nbsp;Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nitin29/15226918955/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nitin29/" rel="noopener noreferrer" target="_blank">
                                    Nitin Vyas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Imposing gothic Church of Our Lady before Tyn with is steep spire towers, seen towering behind newer baroque buildings on Prague's Old Town Square"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Church-of-Our-Lady-before-Tyn.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Our Lady before Tyn</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:CZ-prag-altst-ring-teyn-turm-3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Balou46" rel="noopener noreferrer" target="_blank">
                                    Balou46</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely baroque exterior of the St. Nicholas Church with its green domes on Prague's Old Town Square" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-St-Nicholas-Church-Stare-Mesto.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Nicholas Church (Stare&nbsp;Mesto)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-czech-republic-city-urban-85598/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Old Town Square Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-town-square"></a>
        <h2 class="left-heading destination-section-heading">Old Town Square</h2>
        <p>Prague’s Old Town is a very scenic area to walk around and explore amongst its many historical buildings. The most impressive part of the Old Town is located at its center, Prague’s <strong>Old Town Square</strong>.</p>
        <p>The Old Town Square is most famous for hosting the medieval <strong>Prague Astronomical Clock</strong>, the oldest astronomical clock in the world which still operates. Every hour on the hours you can witness the mechanical figurine show that this amazing clock puts on. Be sure to climb to the top of the clock tower for fantastic views overlooking the Old Town.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Old Town Square also hosts the imposing 14th century gothic <strong>Church of Our Lady before Tyn</strong>, with its towering spired roofs and striking gothic architecture. The lavish baroque <strong>St. Nicholas' Church (Stare Mesto)</strong> can also be found on the square with its elegantly decorated interiors. The St. Nicholas Church is one of two churches in Prague with the same name (the other being near Mala Strana).</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Prague 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8177450954"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Prague Old Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Inside the finely detailed hall of the Clementium Library in Prague's Old Town"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Klementium-Clementium-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clementium Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bruno_1802/2771325495/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bruno_1802/" rel="noopener noreferrer" target="_blank">
                                    BrunoDelzant</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade displaying the impressive Moorish architecture of the Spanish Synagogue in Prague's Old Town"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Spanish-Synagogue-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spanish Synagogue (Exterior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Prag_Spanische-Synagoge_Feb-2014_IMG_2171.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:C.L%C3%B6ser" rel="noopener noreferrer" target="_blank">
                                    C. Loeser</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly embellished and extravagant interior of the Spanish Synagogue in Prague's Old Town"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Spanish-Synagogue-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spanish Synagogue (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Spanish_Synagogue,_Prague.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Spanish_Synagogue,_Prague.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Manuamador</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gothic medieval gate to Old Town Prague known as the Powder Tower"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Powder-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Powder Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/terrazzo/7986021965" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/terrazzo/" rel="noopener noreferrer" target="_blank">
                                    Terrazzo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Long stone-built Charles Bridge connecting the two sides of Prague, spanning the wide Vltava River"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Charles Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/charles-bridge-moldova-river-prague-1530057/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/schaerfsystem-130387/" rel="noopener noreferrer" target="_blank">
                                    schaerfsystem</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of Prague's Charles Bridge behind some riverside trees from Mala Strana" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-Viewed-from-Mala-Strana.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Charles Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-bridge-city-architecture-4317016/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/pierre9x6-10217214/" rel="noopener noreferrer" target="_blank">
                                    pierre9x6</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset aerial view overlooking the Charles Bridge walkway with the hilltop Prague Castle in the background in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Charles-Bridge-and-Prague-Castle-Aerial-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Charles Bridge &amp; Prague&nbsp;Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-architecture-bridge-1845560/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/pexels-2286921/" rel="noopener noreferrer" target="_blank">
                                    Pexels</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Old Town Prague Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-town"></a>
        <h2 class="left-heading destination-section-heading">Old Town Prague</h2>
        <p>Nearby the Old Town Square you can tour the elegant baroque <strong>Clementium</strong>, a UNESCO world heritage site. The Clementium is famous for its stunningly gorgeous and highly ornate library hall, which is among the most beautiful in the world. Additionally the Clementium hosts the Astronomical Tower, as well as the elaborate Mirror Chapel.</p>
        <p>The 14th century <strong>Charles Bridge</strong> is perhaps the most iconic sight in Prague. This picturesque stone-built bridge is approximately 1,700 feet (520 m) long and spans the Vltava River which flows through the middle of the city. Along the bridge you’ll see many intricate Baroque statues. From the bridge you can enjoy incredible views of the Prague Castle Complex and the colorful historic buildings of Prague.</p>
        <p>Just north of Old Town Square is the stunning <strong>Spanish Synagogue</strong>, with its extravagant and intricately decorated Moorish-style interiors.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>East of Old Town Square you can admire the <strong>Powder Tower</strong>, a massive medieval gate to the city. This gothic tower gate stands on the opposite side of the Old Town from the Old Town Bridge Tower entrance to the Charles Bridge.</p>
            <p>Nearby the Clementium you might consider visiting the eclectic Apple Museum, which is dedicated to the history of Apple Computers and Steve Jobs.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Prague 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2100494746"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Prague Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast Prague Castle complex and its many colorful buildings seen from beside a river from the Old Town"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Prague Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/113306963@N05/28207620022/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/113306963@N05/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night time view of a snowy winter with the lit up Prague Castle complex behind the Charles Bridge, seen from across the river"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle-Complex-Winter-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Prague Castle (Winter&nbsp;Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-praha-winter-night-3010407/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/julius_silver-4371822/" rel="noopener noreferrer" target="_blank">
                                    Julius_Silver</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the towering facade of the gothic St. Vitus Cathedral and its massive clocktower, the tallest structure within the Prague castle Complex"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle-St-Vitus-Cathedral-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Vitus Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/53113704@N03/14989476881" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://govisity.com/" rel="noopener noreferrer" target="_blank">
                                    Govisity.com</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of the old chapel of the medieval St. George's Basilica within the Prague Castle complex"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle-St-Georges-Basilica-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. George's Basilica</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-castle-windows-altar-2261185/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive room within the historic Old Royal Palace in Prague's hilltop castle complex"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle-Old-Royal-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Royal Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/stefanjurca/21757497110" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/stefanjurca/" rel="noopener noreferrer" target="_blank">
                                    Stefan Jurca</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Tiny densely packed medieval houses of Golden Lane within the Prague Castle Complex" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle-Golden-Lane.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Golden Lane</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/golden-lane-prague-czech-republic-3540874/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/FelixMittermeier-4397258/" rel="noopener noreferrer" target="_blank">
                                    FelixMittermeier</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Prague Castle Complex Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="prague-castle-complex"></a>
        <h2 class="left-heading destination-section-heading">Prague Castle Complex</h2>
        <p>From the Old Town you can cross the Charles Bridge to reach the hilltop <strong>Prague Castle Complex</strong>. At the eastern edge of Prague Castle you can enjoy amazing, far-reaching views overlooking the city from high above. On the western side of the complex (and below) you can admire many colorful Baroque buildings, such as around Hradcany Square.</p>
        <h3>St. Vitus Cathedral</h3>
        <p>Within this complex you’ll find many different attractions, most notable the strikingly intricate <strong>St. Vitus Cathedral</strong>. This towering gothic cathedral is absolutely beautiful and the largest church in. The Czech Republic. This incredible cathedral also hosts the tombs of many Holy Roman emperors and Bohemian kings.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Another important church within the Prague Castle is the impressive 10th century <strong>St. George’s Basilica</strong>. Across from these two churches is the <strong>Old Royal Palace</strong>, whose historic interiors and furnishings you can tour.</p>
            <h3>Golden Lane</h3>
            <p>Among the castle complex’s top sights are the historically decorated medieval houses of the <strong>Golden Lane</strong>, which contain historic artifacts and furnishings and have been frequented by tourists for hundreds of years.</p>
            <h3>Lobkowicz Palace</h3>
            <p>Across from the Golden Lane is the baroque Lobkowicz Palace. Within this palace’s grandiose exteriors you can admire many masterpieces of fine art, as well as priceless historic items such as original scores and manuscripts by Beethoven and Mozart.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Prague 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9787413074"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Mala Strana, Royal Route, and Kampa Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fine gardens and statues of the Wallenstein Palace with the Prague Castle towering above in the background"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Castle-Wallenstein-Palace-Waldstein.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wallenstein Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:WallensteinPalacePrague.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:WallensteinPalacePrague.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Packare</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely pond with a tiny island and statue in its center, part of the Wallenstein Palace's gardens below the Prague Castle complex"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Wallenstein-Palace-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wallenstein Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/vald%C5%A1tejnsk%C3%A1-e-g-vald%C5%A1tejnsk%C3%BD-palace-3588079/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/peter89ba-3561877/" rel="noopener noreferrer" target="_blank">
                                    peter89ba</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly embellished and finely decorated baroque interior of the Mala Strana neighborhood's St. Nicholas Church in Prague"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-St-Nicholas-Church-Mala-Strana-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Nicholas Church (Mala&nbsp;Strana)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlascar/4501479027/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlascar/" rel="noopener noreferrer" target="_blank">
                                    Jorge Lascar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Twin Mala Strana Bridge Towers on the Mala Strana entrance to the Charles Bridge in Prague" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Mala-Strana-Lesser-Town-Bridge-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mala Strana Bridge&nbsp;Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Prague_Charles_Bridge_Mala_Strana_Tower-03.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Radler59" rel="noopener noreferrer" target="_blank">
                                    Radler59</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Lovely coloful multi-story buildings tightly packed together along Prague's historic Royal Route" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Mala-Strana-Royal-Route.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Route</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-czech-republic-4791080/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/duernsteiner-14322802/" rel="noopener noreferrer" target="_blank">
                                    Duernsteiner</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Yellow barqoue buildings lining both sides of a small river which separates Kampa Island from Mala Strana in Prague " 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Kampa-Island-Water-Mill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kampa Island</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/water-mill-prague-water-river-4313165/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/pierre9x6-10217214/" rel="noopener noreferrer" target="_blank">
                                    pierre9x6</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beatles and hippie themed grafitti art and a guitarist at Prague's Lennon Wall" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Lennon-Wall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lennon Wall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/graffiti-popular-culture-lennon-wall-1634518/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/csalem-485935/" rel="noopener noreferrer" target="_blank">
                                    CSalem</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Mala Strana (Lesser Town) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mala-strana"></a>
        <h2 class="left-heading destination-section-heading">Mala Strana (Lesser Town)</h2>
        <p>Just below Prague Castle you can admire the elegant <strong>Wallenstein Palace</strong> and the lovely adjacent <strong>Wallenstein Garden</strong> which hosts peacocks and owls amongst lush fine gardens.</p>
        <p>The neighborhood below the Prague Castle is the extremely scenic Mala Strana (Lesser Town), which hosts many palaces and baroque structures.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Mala Strana also hosts the baroque <strong>St. Nicholas Church (Mala Strana)</strong> with its highly embellished interiors. Interestingly, this elaborate 18th century church took 100 years to complete. This church also hosts a tower which you can climb for stunning views over the city.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Royal Route and Kampa Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="royal-route-and-kampa"></a>
        <h2 class="left-heading destination-section-heading">Royal Route &amp; Kampa Island</h2>
        <p>On the western side of the river, the Charles Bridge becomes Mostecka Street, which is lined with many beautiful baroque structures as well as the striking medieval <strong>Mala Strana Bridge Tower</strong>, part of the Royal Route.</p>
        <p>Be sure to walk around and explore Mala Strana and its streets, which are lined with countless colorful and elegant baroque palaces that make up Prague's <strong>Royal Route</strong>.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Other scenic streets associated with the Royal Route in Mala Strana that you should walk along include Misenska and Mostecka near the Lesser Town Bridge Tower, as well as Trziste, Nerudova, and Karmelitska near the St. Nicholas Church.</p>
            <h3>Kampa Island</h3>
            <p>Additionally be sure to visit Mala Strana's <strong>Kampa Island</strong>, which sits along the river hosting wondrous views of the Old Town across the river.</p>
            <h3>Lennon Wall</h3>
            <p>Near Kampa Island you can also admire the famous <strong>Lennon Wall</strong>, a long urban wall covered in graffiti art-work specifically related to John Lennon and The Beatles.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Prague 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8474331409"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Strahov Monastery, Loreta Complex, and Southern Prague Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning hallway inside the elegant baroque library of the Strahov Monastery in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Strahov-Monastery-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Strahov Monastery Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nanpalmero/34800862940" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nanpalmero/" rel="noopener noreferrer" target="_blank">
                                    Nan Palmero</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the Strahov Monastery gardens overlooking the baroque buildings of Mala Strana, Prague Castle, and the Vltava River"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Strahov-Monastery-Garden-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Strahov Garden Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mal%C3%A1_Strana_from_Strahov_Monastery_01(js).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jerzystrzelecki" rel="noopener noreferrer" target="_blank">
                                    Jerzy Strzelecki</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the main baroque building of Prague's Loreta complex"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Loreto-Complex-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Loreta Complex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Loreta_rl.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ludek" rel="noopener noreferrer" target="_blank">
                                    Ludek</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="The intricately carved Holy Hut structure within Prague's Loreta Complex, a famous religious site" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Loreto-Complex-Holy-Hut-Replica.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Loreta Complex Holy&nbsp;Hut</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/prof_richard/26225197346/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/prof_richard/" rel="noopener noreferrer" target="_blank">
                                    Richard Mortel</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fine baroque exterior of the riverside National Theatre of Prague"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Nadroni-Divadlo-National-Theatre-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Theatre (Exterior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:N%C3%A1rodn%C3%AD_divadlo_z_ostrova_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:VitVit" rel="noopener noreferrer" target="_blank">
                                    VitVit</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Strikingly elegant blue and gold interior of Prague's National Theatre"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Nadroni-Divadlo-National-Theatre-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Theatre (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Narodni_Divadlo,_Estates_Theater,_Prague_-_8622.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.ebela.xyz/" rel="noopener noreferrer" target="_blank">
                                    Jorge Royan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Frank Gehry's eccentric modern masterpiece, the Dancing House, in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Frank-Gehry-Dancing-House-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dancing House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rmonty119/27346279814/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rmonty119/" rel="noopener noreferrer" target="_blank">
                                    Robert Montgomery</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Frank Gehry's eccentric modern masterpiece, the Dancing House, seen at the end of a lock of colorful baroque buildings along the Vltava River in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Frank-Gehry-Dancing-House-and-Colored-Houses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dancing House Block</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/prague-dancing-house-architecture-4340348/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/pierre9x6-10217214/" rel="noopener noreferrer" target="_blank">
                                    pierre9x6</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the hilltop Vysehrad fortress complex seen above the river with its towering gothic church in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Vysehrad-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vysehrad Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Parn%C3%ADk_Vy%C5%A1ehrad_pod_Vy%C5%A1ehradem.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Postrach" rel="noopener noreferrer" target="_blank">
                                    Stanislav Jelen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Strahov Monastery and Loreta Complex Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="strahov-and-loreta"></a>
        <h2 class="left-heading destination-section-heading">Strahov Monastery &amp; Loreta Complex</h2>
        <p>To the west of Prague Castle you'll find several more popular attractions, including the <strong>Strahov Monastery</strong> which features another incredibly beautiful and elaborate library, as well as a treasury and observation deck overlooking Prague.</p>
        <p>Nearby is the <strong>Loreta Complex</strong>, a popular pilgrimage site which hosts a baroque church and the highly intricate <strong>Holy Hut</strong> structure.</p>
    </section>


    <!-- Southern Prague Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="south-prague"></a>
        <h2 class="left-heading destination-section-heading">Southern Prague</h2>
        <h3>National Theatre</h3>
        <p>Just south of Prague's Old Town along the river is the majestic <strong>National Theatre</strong>, which you can tour to see its decadent interiors. Alternatively, you might catch an opera, ballet, or play in this historic structure.</p>
        <h3>Dancing House</h3>
        <p>Further south along the river is an iconic architectural masterpiece designed by Frank Gehry, known as the <strong>Dancing House</strong>. This building is truly unique and is highly recommended as it is quite photogenic.</p>
        <H3>Vysehrad Fortress</H3>
        <p>Even further south along the river is a larger fortified hilltop complex known as <strong>Vysehrad</strong>, where you can admire a medieval church and enjoy exceptional views over Prague. This fortress retains many of its walls and is quite an interesting place to explore.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Prague 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4896681497"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Northern Prague and More Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden observation point overlooking the vast giraffe exhibit of the famous Prague Zoo"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Prague-Zoo-Giraffe-Exhibit.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Prague Zoo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Giraffe_exposition_2,_Prague_zoo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Packa" rel="noopener noreferrer" target="_blank">
                                    Packa</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large fountain in front of the beautiful pink and white baroque Troja Palace of Prague"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Trojsky-Zamek-Manor-House-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Troja Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Trojsky_zamek1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Stehule" rel="noopener noreferrer" target="_blank">
                                    Stehule</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grand facade of the National Museum of Prague lit up at night, towering above one end of Wenceslas Square"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Nadroni-Muzeum-National-Museum-Exterior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/museum-tricolor-czechoslovakia-3788533/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/simy27-7721475/" rel="noopener noreferrer" target="_blank">
                                    Simy27</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the impressive gothic style Church of St. Ludmilla in Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Church-of-St-Ludmila.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of St.&nbsp;Ludmilla</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Church_of_St_Ludmila_-_Prague,_Czech_Rep._-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Church_of_St_Ludmila_-_Prague,_Czech_Rep._-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Sergey Ashmarin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Massive main room of Prague's National Technical Museum displaying countless old vehicles, planes, bikes, motorcycles and more" 
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Prague-Nadroni-Technicke-Muzeum-National-Technical-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Technical Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:NarodniTechnickeMuzeum2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Adam_Zivner" rel="noopener noreferrer" target="_blank">
                                    Adam Zivner</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Northern Prague Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="north-prague"></a>
        <h2 class="left-heading destination-section-heading">Northern Prague</h2>
        <h3>Prague Zoo</h3>
        <p>On the norther outskirts of Prague is the famous <strong>Prague Zoo</strong>, which is recognized as one of the top 10 zoos in the world and houses many rare and endangered animal special.</p>
        <h3>Troja Palace</h3>
        <p>Adjacent to the zoo is the magnificent Trojsky Zamek (<strong>Troja Palace</strong>), a baroque 17th century palace loosely modeled after a Roman villa, which hosts a stunningly intricate fresco-covered interior and is surrounded by large formal gardens.</p>
    </section>


    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Wenceslas Square &amp; National Museum</h3>
        <p>Southeast of Old Town Square is the vast 14th century Wenceslas Square, which leads up to the Czech Republic’s grand <strong>National Museum</strong> (Nadroni Museum). This museum houses a large collection of historical artifacts as well as exhibits in Natural History, Ethnography, and more.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <h3>Church of St. Ludmilla</h3>
            <p>Just beyond Wenceslas Square is a giant Neo-Gothic basilica, the <strong>Church of St. Ludmila</strong>, with its massive spired bell towers.</p>
            <h3>National Technical Museum</h3>
            <p>Also noteworthy is the country’s <strong>National Technical Museum</strong>, located across the river north from the Old Town. This museum hosts a vast array of exhibits in science, mechanics, and engineering, as well as many vintage cars, aircraft, trains, motorcycles, and other types of transportation.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Prague Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3583599822"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Prague Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/1DjAex2zzZ52">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/tEpxDYSVaz62">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/czech-republic-czechia/greater-prague-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Thousands of century-old human bones and skulls arranged into ornate designs within the famous Sedlec Ossuary of Kutna Hora near Prague, Czech Republic"
                        data-src="https://www.travelimager.com/images/czech-republic/Czechia-Czech-Republic-Greater-Prague-Kutna-Hora-Sedlec-Ossuary-Bone-Church.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/czech-republic-czechia/greater-prague-attractions-guide">
                        Greater Prague
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/voxaeterno/15030155346/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/voxaeterno/" rel="noopener noreferrer" target="_blank">
                            Davis Staedtler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset colors glowing on the Brandenburg Gate, a neoclassical monument and top attraction in Berlin, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Berlin-Brandenburg-Gate-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/berlin-attractions-guide">
                        Berlin, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/29714543882/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Highly embellished brilliant white baroque exterior of the massive Hofburg Palace, seen from Michaelerplatz plaza in Vienna, Austria"
                        data-src="https://www.travelimager.com/images/austria/Austria-Vienna-Michaelerplatz-Hofburg-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/austria/vienna-attractions-guide">
                        Vienna, Austria
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Michaelerplatz_in_Wien.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dmottl" rel="noopener noreferrer" target="_blank">
                            Dmitry A. Motti</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/slovakia-bratislava-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Colorful elegant buildings lining Bratislava's Main Square, with the hilltop Bratislava Castle towering above in the background, in Slovakia"
                        data-src="https://www.travelimager.com/images/slovakia/Slovakia-Bratislava-Hlavne-Namestie-Main-Square.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/slovakia-bratislava-attractions-guide">
                        Bratislava, Slovakia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/robhurson/35096533142/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/robhurson/" rel="noopener noreferrer" target="_blank">
                            Rob Hurson</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    