<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Close-up view of a corner along the vast medieval Walls of Avila, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Avila-City-Walls-of-Avila-Corner-Close-Up-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Avila & Salamanca, Spain, and plan the perfect trip with our savable Avila & Salamanca Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="avila_spain" />
    <meta name="attraction_guides" content="salamanca_spain" />
    <meta name="europe_attraction_guides" content="avila_spain" />
    <meta name="europe_attraction_guides" content="salamanca_spain" />
    <meta name="europe_destinations" content="avila_spain" />
    <meta name="europe_destinations" content="salamanca_spain" />
    <meta name="europe_destination_guides" content="avila_spain" />
    <meta name="europe_destination_guides" content="salamanca_spain" />
    <meta name="spain_attraction_guides" content="avila" />
    <meta name="spain_attraction_guides" content="salamanca" />
    <meta name="spain_destinations" content="avila" />
    <meta name="spain_destinations" content="salamanca" />
    <meta name="spain_destination_guides" content="avila" />
    <meta name="spain_destination_guides" content="salamanca" />
    <meta name="google_maps_list" content="avila" />
    <meta name="google_maps_list" content="salamanca" />
    <meta property="og:title" content="Avila & Salamanca, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Avila-City-Walls-of-Avila-Corner-Close-Up.jpg">
    <meta name="twitter:title" content="Avila & Salamanca, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Avila-City-Walls-of-Avila-Corner-Close-Up.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/avila-and-salamanca-attractions-guide">
    <title>Attractions Guide for Avila & Salamanca, Spain</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Avila &amp; Salamanca, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    <!-- Avila Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View of the imposing medieval walls of Avila stretching for kilometers in Avila, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Avila-Avila-Walls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Walls of Avila</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlcernadas/19082333530" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlcernadas/" rel="noopener noreferrer" target="_blank">
                                    Jose L. Cernadas Iglesias</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Massive entry gate along Avila's medieval walls known as the Puerta de Alcazar which leads to Avila's Old Town"
                        src="https://www.travelimager.com/images/spain/Spain-Avila-Avila-Walls-Puerta-del-Alcazar-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puerta de Alcazar</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlcernadas/19082345598" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlcernadas/" rel="noopener noreferrer" target="_blank">
                                    Jose L. Cernadas Iglesias</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Facade of the beautiful Romanesque Avila Cathedral"
                        src="https://www.travelimager.com/images/spain/Spain-Avila-Catedral-de-Avila-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Avila Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/graeme/37861442311/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/graeme/" rel="noopener noreferrer" target="_blank">
                                    Graeme Churchard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the 1,000 year old San Vicente Basilica just outside of Avila's medieval walls"
                        data-src="https://www.travelimager.com/images/spain/Spain-Avila-Basilica-de-San-Vicente.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Vicente Basilica</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlcernadas/18680373543" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlcernadas/" rel="noopener noreferrer" target="_blank">
                                    Jose L. Cernadas Iglesias</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cuatro Postes viewpoint along the highway outside of Avila offering a wide-angle view of two sides of Avila's medieval walls" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Avila-Cuatro-Postes-Avila-Walls-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cuatro Postes (Avila&nbsp;Walls&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jlcernadas/13991103911/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jlcernadas/" rel="noopener noreferrer" target="_blank">
                                    Jose L. Cernadas Iglesias</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Avila Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Avila, Spain</h2>
        <p>The city of Avila is located just west of Madrid and is famous for the vast medieval <strong>Walls of Avila</strong> which surround the city's historic center. These imposing walls are extremely well-preserved and also a UNESCO world heritage site. Be sure to spend some time walk along the top of the walls as well.</p>
        <p>You can access Avila's walls from three points, including the <strong>Puerta de Alcazar</strong> gate and the Tourism Office along the eastern side of the walls, and the Muralla de Avila Acceso Puente on the northwestern side of the walls.</p>
        <p>Along the eastern Walls of Avila is the Catedral de Avila (<strong>Avila Cathedral</strong>), a gothic church built in the Middle Ages with complex architecture and an impressive interior. Just northeast of the walled city is the <strong>San Vicente Basilica</strong>, a striking 11th century structure with beautiful romanesque architecture.</p>
        <p>Atop a hill on the northwestern side of the city is the <strong>Cuatro Postes</strong>, a columned monument hosting incredible views overlooking the Walls of Avila. The entire length of the city's walls light up at night and are a beautiful sight to behold.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Avila Salamanca 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7544393117"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Salamanca Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering New Cathedral of Salamanca seen from across the river with its reflection in the water"
                        data-src="https://www.travelimager.com/images/spain/Spain-Salamanca-Catedral-Nueva-de-Salamanca-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">New Cathedral of Salamanca</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Reflejos_de_la_Catedral_Nueva_de_Salamanca.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Reflejos_de_la_Catedral_Nueva_de_Salamanca.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Santiagova</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate exterior of the sandstone-colored Convent of San Esteban in Salamanca, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Salamanca-Convento-de-San-Esteban-Convent-of-St-Stephen.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Convent of San Esteban</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/martius/12330982435" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/martius/" rel="noopener noreferrer" target="_blank">
                                    manuel m. v.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of a beautiful sandstone-colored building covered in decorative stone conchas (shells), known as the Casa de las Conchas in Salamanca, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Salamanca-Casa-de-las-Conchas-Shell-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa de las Conchas</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/respenda/5342591087/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/respenda/" rel="noopener noreferrer" target="_blank">
                                    Miguel Angel Garcia</a><br />
                           <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Plaza Mayor, Salamanca's main plaza seen at sunset"
                        data-src="https://www.travelimager.com/images/spain/Spain-Salamanca-Plaza-Mayor-de-Salamanca.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza Mayor de Salamanca</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gfdezr/38348167474/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gfdezr/" rel="noopener noreferrer" target="_blank">
                                    Gabriel Fdez.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old Puente Romano Roman bridge seen from across the river with the towering New Salamanca Cathedral behind it in Salamanca, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Salamanca-Puente-Romano-Roman-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puente Romano Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Salamanque-Nouvelle_Cath%C3%A9drale-1967_08_07.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Daniel_VILLAFRUELA" rel="noopener noreferrer" target="_blank">
                                    Daniel Villafruela</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Salamanca Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Salamanca, Spain</h2>
        <p>Further northwest from Avila is the ancient city of Salamanca, whose Old Town is a UNESCO world heritage site. Salamanca is known for its lovely sandstone buildings.</p>
        <p>The city's most iconic sight is the massive <strong>New Cathedral of Salamanca</strong>, a highly ornate church showcasing an elegant blend of gothic and baroque architecture. You can access the rooftop of the cathedral in order to take in excellent views over the Old Town. Adjacent is the much smaller Old Cathedral of Salamanca, which was built during the 12th century.</p>
        <p>Another impressive religious building nearby the Salamanca Cathedral is the <strong>Convent of San Esteban</strong>, a highly embellished Dominican monastery with a beautiful cloister. Also nearby is the stunning <strong>Casa de las Conchas</strong>, a unique gothic palace adorned with hundreds of shells on its exterior.</p>
        <p>Salamanca's largest public square is the <strong>Plaza Mayor</strong>, which is surrounded on all four sides by elegant baroque buildings, lined with arcaded columns. The plaza is said to be among the most beautiful in Spain, and is a lovely sight during the evening when the plaza lights up.</p>
        <p>Spanning the Tormes River on the southern side of the Old Town is the city's iconic <strong>Puente Romano</strong>, a long stone bridge originally built by Ancient Rome. The bridge is a great spot to enjoy views looking back at the Old Town, as well as looking over the river.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Avila Salamanca Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6928056261"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Avila &amp; Salamanca Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/STQ1jQdgnHt">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/madrid-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the vast and lavish Royal Palace of Madrid"
                        data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Palacio-Real-Royal-Palace-of-Madrid-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/madrid-attractions-guide">
                        Madrid
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/madrid-palace-royal-architecture-3544029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/rubyriojano-1153085/" rel="noopener noreferrer" target="_blank">
                            rubyriojano</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/segovia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View from below from the grassy field viewpoint known as the Mirador de la Pradera de San Marcos of the Alcazar de Segovia Castle"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/segovia-attractions-guide">
                        Segovia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jgonzac/14728202065" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jgonzac/" rel="noopener noreferrer" target="_blank">
                            Jaime Gonzalez</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/toledo-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Famous Alcantara Bridge, a medieval entrance to the walled city of Toledo with the Alcazar de Toledo in the background"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Puente-de-Alcantara-Bridge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/toledo-attractions-guide">
                        Toledo
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/tomasfano/6851856425" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/fran1978/" rel="noopener noreferrer" target="_blank">
                            Fran Santiago</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    