<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Palau Nacional de Catalunya and Grand Boulevard leading to Montjuic in Barcelona, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Barcelona-Palau-Nacional-de-Catalunya-and-Boulevard-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Barcelona, Spain, and plan the perfect trip with our savable Barcelona Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="barcelona_spain" />
    <meta name="europe_attraction_guides" content="barcelona_spain" />
    <meta name="europe_destinations" content="barcelona_spain" />
    <meta name="europe_destination_guides" content="barcelona_spain" />
    <meta name="spain_attraction_guides" content="barcelona" />
    <meta name="spain_destinations" content="barcelona" />
    <meta name="spain_destination_guides" content="barcelona" />
    <meta name="google_maps_list" content="barcelona" />
    <meta property="og:title" content="Barcelona, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Barcelona-Palau-Nacional-de-Catalunya-and-Boulevard.jpg">
    <meta name="twitter:title" content="Barcelona, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Barcelona-Palau-Nacional-de-Catalunya-and-Boulevard.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
    <title>Attractions Guide for Barcelona, Spain</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Barcelona, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#gothic-quarter">Gothic Quarter</a></div>
            <div><a href="#ciutadella">Ciutadella Park</a></div>
            <div><a href="#la-rambla">La Rambla</a></div>
            <div><a href="#gaudi-casas">Gaudi Houses</a></div>
            <div><a href="#sagrada-familia">Sagrada Familia</a></div>
            <div><a href="#hospital-santa-creu">Hospital Santa Creu</a></div>
            <div><a href="#parc-guell">Parc G&#252;ell</a></div>
            <div><a href="#montjuic">Montjuic</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    <!-- Introduction to Barcelona Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Barcelona is a massive city and the capital of Catalonia and is best known for its many wondrous and highly intricate structures designed by the famous Antoni Gaudi, which comprise many of Barcelona's top attractions. Be sure to make advanced reservations for Gaudi's most popular attractions, including La Sagrada Familia, Casa Battlo, Casa Mila (or La Pedrera) and Parc G&#252;ell.</p>
    </section>



    <!-- Gothic Quarter Barcelona Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Looking down the beautiful Mediterranean La Barceloneta Beach on a sunny day in Barcelona, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Barceloneta-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Barceloneta Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Barceloneta_(8870724057).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/39513725@N02" rel="noopener noreferrer" target="_blank">
                                    Juanedc.com</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Facade of the towering Barcelona Cathedral in the heart of the city's Gothic Quarter"
                        src="https://www.travelimager.com/images/spain/Spain-Barcelona-Barcelona-Cathedral-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of Barcelona</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kathedrale_von_Barcelona.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:A,Ocram" rel="noopener noreferrer" target="_blank">
                                    Marco Almbauer</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Wide-angle view of the intricately designed interior of Barcelona's Palau de la Musica Catalana concert hall" 
                        src="https://www.travelimager.com/images/spain/Spain-Barcelona-Palau-de-Musica-Catalana-Concert-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palau de la Music Catalana</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palau_de_la_M%C3%BAsica_Catalana,_interior_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl" rel="noopener noreferrer" target="_blank">
                                    Thomas Ledl</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast interior of the Basilica of Santa Maria del Mar with its towering column supports in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Basilica-de-Santa-Maria-del-Mar.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of Santa Maria del Mar</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/noiseninja/7900459442/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/noiseninja/" rel="noopener noreferrer" target="_blank">
                                    Tokyographer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at columns and a staircase in the courtyard of Barcelona's Picasso Museum"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Museu-Picasso-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Picasso Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:WLM14ES_-_Museu_Picasso,_Ciutat_Vella,_Barcelona_-_MARIA_ROSA_FERRE.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/54943216@N08" rel="noopener noreferrer" target="_blank">
                                    Maria Rosa Ferre</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval city ruins housed within the massive covered market of El Borne Centre de Cultura i Memoria in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-El-Born-Centre-de-Cultura-i-Memoria-Medieval-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">El Borne Centre de Cultura i Memoria</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/franganillo/32715417280" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/franganillo/" rel="noopener noreferrer" target="_blank">
                                    Jorge Franganillo</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Gothic Quarter Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="gothic-quarter"></a>
        <h2 class="left-heading destination-section-heading">Gothic Quarter</h2>
        <p>Barcelona's Gothic Quarter is the city's historic center, which was once surrounded by ancient Roman walls and later medieval walls. Sections of these walls still stand and can be found around the Gothic Quarter. This area of Barcelona is known for its distinct neo-gothic architecture and narrow medieval streets.</p>
        <p>Many of the buildings in the Gothic Quarter are elegant and quite elaborate, so be sure to spend some time wandering the streets and enjoying the atmosphere. This district is also known for its many great bars and restaurants.</p>
        <p>From the Gothic Quarter you can walk to the long sandy <strong>La Barceloneta Beach</strong>, which is lined with a boardwalk and offers great coastal views and warm Mediterranean waters.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Cathedral of Barcelona</h3>
            <p>At the center of the Gothic Quarter is the <strong>Cathedral of Barcelona</strong>, an intricate gothic cathedral with a stunning interior. You can climb the stairs to the roof of the cathedral where you'll find walkways, from which you can enjoy exceptional views over the Old Town. Adjacent to the cathedral is the MUHBA Temple d'August, which houses the pillars of an ancient Roman temple and is free to visit.</p>
            <p>Nearby the cathedral is the Museum of the History of Barcelona, which houses the excavated remains of the ancient Roman city of Barcino which you can walk over. The museum also consists of several historic structures including part of the medieval Royal Palace and an early Christian episcopal complex.</p>
            <h3>Palau de la Music Catalana</h3>
            <p>Also in this area is the gorgeous UNESCO listed <strong>Palau de la Musica Catalana</strong>, an elegant art nouveau-style concert hall. In order to see this concert hall's breathtaking interior, you'll either need to book a tour or see a show.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- More Gothic Quarter (East) Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">More Gothic Quarter Attractions</h2>
        <p>Near the eastern edge of the Gothic Quarter is the landmark <strong>Basilica of Santa Maria del Mar</strong>, another marvelous gothic church. This 14th century church contains lovely stained glass windows and an intricate brick-work interior. Be sure to take the guided tour up to the church's rooftop for excellent views over the surrounding area and to learn about the fascinating history of the church and neighborhood.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Picasso Museum</h3>
            <p>Nearby you might visit the giant <strong>Picasso Museum</strong>, which houses one of the most extensive collections of the famous artist's works. The museum is housed across several connected medieval palaces and is quite lavish.</p>
            <h3>Borne Centre &amp; Santa Caterina Market</h3>
            <p>Just east of the Picasso Museum and Basilica is the <strong>El Borne Centre de Cultura i Memoria</strong>, a massive covered market square. This market was built in the 19th century in the modernisme architectural style and is the largest covered square in Europe. The structure now houses the excavated ruins of the medieval la Ribera district of Barcelona, which were found during renovations of the market.</p>
            <p>The Gothic Quarter is also home to the Santa Caterina Market, which is known for its unique and colorful wavy roof. The marketplace contains many food vendors.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Barcelona 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8619469932"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Ciutadella and La Rambla Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Viewing the grandiose monument and waterfalls of Barcelona's Ciutadella Park"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Parc-de-la-Ciutadella-Cascada-Monumental-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ciutadella Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Richelieu_Wing,_Louvre_Museum,_Paris_October_2013_-_panoramio.jpg&amp;action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Richelieu_Wing,_Louvre_Museum,_Paris_October_2013_-_panoramio.jpg&amp;action=history" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Angled view of Barcelona's massive triumphal arch, the Arco de Triunfo"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Arc-de-Triomf-Triumphal-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arco de Triunfo de Barcelona</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/98869760@N04/16427672687/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/98869760@N04/" rel="noopener noreferrer" target="_blank">
                                    Mark_M</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of pedestrians walking along Barcelona's busy La Rambla Street"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Rambla-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Rambla Street</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_dels_Paraig%C3%BCes,_La_Rambla,_El_Raval,_Barcelona,_Spain_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_dels_Paraig%C3%BCes,_La_Rambla,_El_Raval,_Barcelona,_Spain_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Barcelona's vast Placa de Catalunya plaza from high above"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Placa-de-Catalunya-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Placa de Catalunya</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/22746515@N02/2419053076/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/22746515@N02/" rel="noopener noreferrer" target="_blank">
                                    Bert Kaufmann</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the squared dome of Gaudi's Guell Palace, the building's most famous feature, located in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Palau-Guell-Palace-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">G&#252;ell Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andrew_annemarie/22368234979" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andrew_annemarie/" rel="noopener noreferrer" target="_blank">
                                    Andrew Smith</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Barcelona's Place Reial square lined with arches and packed with palm trees in the evening after the lights come on" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Placa-Reial-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Placa Reial</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sergemelki/3403111486/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergemelki/" rel="noopener noreferrer" target="_blank">
                                    Serge Melki</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Large old ship housed within Barcelona's Maritime Museum" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Maritime-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Maritime Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/prof_richard/31142245236" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/prof_richard/" rel="noopener noreferrer" target="_blank">
                                    Richard Mortel</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Ciutadella Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ciutadella"></a>
        <h2 class="left-heading destination-section-heading">Ciutadella Park</h2>
        <p>East of the Gothic Quarter is Barcelona's <strong>Ciutadella Park</strong>, where you'll find the magnificent Cascada Monumental, a gorgeous neoclassical fountain and monument. The park also contains many sculptures and gardens, the elegant Palace of Parliament, the city's zoo, and the impressive Castle of the Three Dragons, which houses a zoological museum.</p>
        <p>On the northeastern side of the park is a connected walkway leading to the grand <strong>Arco de Triunfo de Barcelona</strong>, a striking triumphal arch.</p>
    </section>


    <!-- La Rambla Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="la-rambla"></a>
        <h2 class="left-heading destination-section-heading">La Rambla Street &amp; Placa de Catalunya</h2>
        <p>Bordering the western side of the Gothic Quarter is the famous <strong>La Rambla Street</strong>, a popular tourist destination lined with many shops, restaurants, and cafes. Along the street is the entrance to the giant Mercado de la Boqueria, the city's most popular food market.</p>
        <p>At the northern end of La Rambla is the <strong>Placa de Catalunya</strong>, a vast bustling plaza surrounded by 19th century buildings. The Placa de Catalunya is considered to be the center of Barcelona. From this plaza you can continue northwest up Passeig de Gracia Street to see several important Gaudi structures.</p>
        <h3>G&#252;ell Palace</h3>
        <p>Near the southern end of La Rambla is one of Antoni Gaudi's most impressive projects, the <strong>G&#252;ell Palace</strong>. This highly ornate mansion was designed for an industrial tycoon, and is fully furnished with many intricate architectural features, most notably the breathtaking Central Hall.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Placa Reial Square</h3>
            <p>Also along La Rambla is the beautiful <strong>Placa Reial</strong> square, which is lined with arches on all four sides, and features many palm trees as well as lanterns designed by Antoni Gaudi. Nearby is the impressive gothic Basilica de Santa Maria del Pi, which is known for its rooftop observation deck that offers breathtaking panoramic views over the city's skyline.</p>
            <h3>Maritime Museum</h3>
            <p>At the very southern end of La Rambla is Barcelona's epic <strong>Maritime Museum</strong>, which is located within the medieval royal arsenal building where ships were once built. The museum houses a full-sized replica of a 16th century Spanish galleon ship, as well as a large collection of nautical exhibits.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Barcelona 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5993306591"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Gaudi Barcelona Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning and intricately decorated facade of the Casa Battlo, one of Antoni Gaudi's most famous works in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Casa-Batllo-Gaudi-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa Battlo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Batllo_House.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Batllo_House.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Matinibz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fantasy-like rooftop and pathways of Antoni Gaudi's La Pedrera (Casa Mila) building in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Casa-Mila-La-Pedrera-Roof-Gaudi.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Pedrera (Casa Mila)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sgerner/17074171706" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                                    Steven Gerner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful and complex exterior of Gaudi's first project, the Casa Vicens, in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Casa-Vicens-Gaudi.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa Vicens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kentwang/42720452281/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kentwang/" rel="noopener noreferrer" target="_blank">
                                    Kent Wang</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly beautiful shot of Gaudi's La Sagrada Familia Basilica partially hidden behind trees and flowers in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Sagrada Familia Basilica (Exterior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/sagrada-familia-cathedral-552084/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/patrice_audet-604833/" rel="noopener noreferrer" target="_blank">
                                    Patrice_Audet</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the extremely itricate geometric flower-like designs and columns of the inside of Gaudi's La Sagrada Familia Basilica in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Sagrada Familia Basilica (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/sagrada-familia-cathedral-spain-2762583/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/phil59-6467891/" rel="noopener noreferrer" target="_blank">
                                    Phil59</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Several beautiful art-nouveau buildings of the vast campus of the Hospital de la Santa Creu i Sant Pau, which has been preserved as a museum in Barcelona, Spain" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Hospital-de-la-Santa-Creu-i-Sant-Pau.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hospital de la Santa Creu i Sant Pau</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hospital_de_la_Santa_Cruz_y_San_Pablo,_Barcelona.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hospital_de_la_Santa_Cruz_y_San_Pablo,_Barcelona.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Noelia Campillo</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Square in the center of the UNESCO Hospital de la Santa Creu i Sant Pau, surrounded by intricate and lovely art nouveau buildings of the former hostpital campus in Barcelona, Spain" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Sant-Pau-Hospital-Grounds.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hospital de la Santa Creu i Sant Pau</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/barcelona-modernism-sant-pau-unesco-3475054/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/dkatana-1469103/" rel="noopener noreferrer" target="_blank">
                                    dkatana</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Gaudi Casas Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="gaudi-casas"></a>
        <h2 class="left-heading destination-section-heading">Gaudi Houses: Casa Battlo, La Pedrera, &amp; Casa Vicens</h2>
        <p>Several blocks away from the Placa de Catalunya plaza is the fairytale-like <strong>Casa Batllo</strong>, which is among the most famous structures designed by Antoni Gaudi. This highly eccentric multi-story building features many fantasy-like elements and very few straight lines in its design. Inside the house are very trippy and colorful rooms, designed with incredible attention to detail.</p>
        <p>A few blocks further up the street from Casa Batllo is another stunning Gaudi structure, the nine-story tall <strong>Casa Mila</strong> (also known as <strong>La Pedrera</strong>). This building hosts interesting exhibits, but is most famous for its fantastical roof, which contains walkways and terraces to explore the strange spires and features atop the building.</p>
        <p>In order to see the interiors of both of these amazing structures you'll need to pre-book a tour.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Casa Vicens (Gaudi's First House)</h3>
            <p>Further northwest from the Casa Batllo and Casa Mila is the first house designed by Antoni de Gaudi, the <strong>Casa Vicens</strong>. This colorful structure combines art nouveau influences with Moorish style. As expected, the house's interior is strikingly intricate and posh, showcasing Gaudi's early architectural style. Usually you can visit this house with no wait without a pre-booked tour.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- La Sagrada Familia Basilica -->
    <section class="destination-section">
        <a class="anchor" id="sagrada-familia"></a>
        <h2 class="left-heading destination-section-heading">La Sagrada Familia: Gaudi's Basilica</h2>
        <p>Gaudi's most incredible structure is the massive <strong>La Sagrada Familia</strong>, a towering basilica which is nearly 560 feet (170 m) tall. This basilica is the most opulent and most audacious of Gaudi's projects, and has been under construction since 1882. Although the basilica will not technically be completed until 2032, most of the interior is finished and open for tourists.</p>
        <p>La Sagrada Familia's exterior showcases a hyper-complex mix of gothic and art nouveau architecture, with multiple giant towers. This basilica's interior is breathtakingly aesthetic, with massive columns supporting geometric flower-like patterns on the ceiling built with a stunning level of intricacy. The interior also features huge rainbow-colored stained glass windows, which are vibrant and truly mesmerizing, especially when the sun hits the windows.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>La Sagrada Familia might be one of the most beautiful man-made structures you see in your entire life. In order to see the basilica you'll need to pre-book a reservation. Underneath the basilica is a sizable crypt you can explore which also contains exhibits. You can also enjoy excellent views of the cathedral's exterior from the adjacent Placa de Gaudi park.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Hospital de la Santa Creu -->
    <section class="destination-section">
        <a class="anchor" id="hospital-santa-creu"></a>
        <h2 class="left-heading destination-section-heading">Hospital de la Santa Creu i Sant Pau</h2>
        <p>Several blocks north of La Sagrada Familia is an incredible UNESCO listed modernisme complex, the <strong>Hospital de la Santa Creu i Sant Pau</strong>. Although this beautiful complex of buildings once served as a hospital, it now exists as a vast museum and cultural center. The complex's extravagant exteriors are strikingly gorgeous.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Barcelona 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2854446868"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Parc Guell Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking at a fantastical gingerbread house from the famous tiled balcony in Gaudi's Parc Guell in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Parc-Guell-Park-Gaudi-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc G&#252;ell</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/unicoletti/3956777358" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/unicoletti/" rel="noopener noreferrer" target="_blank">
                                    Umberto Nicoletti</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="The two gingerbread house of Antoni Gaudi's masterpiece Parc Guell located in the hills above Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Parc-Guell-Gaudi-Gingerbread-Houses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc G&#252;ell Gingerbread Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/barcelona-spain-guell-park-gaudi-3233593/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/Walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                                    Walkerssk</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Staircase leading the Gaudi's Parc Guell's famous tiled balcony and the adjacent columns supporting the balcony, in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Parc-Guell-Staircase-and-Columns.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc G&#252;ell Staircase</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/gaudi-guell-park-architecture-1160382/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/mariamichelle-165491/" rel="noopener noreferrer" target="_blank">
                                    MariaMichelle</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>                

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Barcelona, Spain and the coastline from above the Parc Guell"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Parc-Guell-Mirador-de-Joan-Sales-Virolai-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador de Joan Sales</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/n-bphotography/27257406818" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/n-bphotography/" rel="noopener noreferrer" target="_blank">
                                    Nicky Boogaard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wide view high above Barcelona seen from the Bunkers del Carmel war bunkers"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Bunkers-del-Carmel-Turo-de-la-Rovira-Bateries-Antiaeries.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bunkers del Carmel (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bateries_antia%C3%A8ries_Tur%C3%B3_de_la_Rovira.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Bateries_antia%C3%A8ries_Tur%C3%B3_de_la_Rovira.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Malet</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Parc Guell Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="parc-guell"></a>
        <h2 class="left-heading destination-section-heading">Gaudi's Parc G&#252;ell &amp; City&nbsp;Viewpoints</h2>
        <p>In the foothills of Northern Barcelona is perhaps the most iconic work by Gaudi, the <strong>Parc G&#252;ell</strong>. This urban park is like a fantasy land with many amazing unique structures, including the famous mosaic tile terrace overlooking Barcelona.</p>
        <p>Other impressive structures in Parc G&#252;ell include a room full of Doric columns below the terrace, gingerbread-like houses, palm tree-like colonnaded footpaths, organic viaducts, and more oddities. You'll need to pre-book your ticket to enter the park at least a few hours ahead of time, although much of the park (excluding the houses and terrace) is open and free to explore.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Within Parc G&#252;ell you'll also find the Gaudi House Museum, the fully furnished former residence of the famous architect. Surprisingly the house's interior is quite simplistic and minimalist, so you may wish to only admire the house's exterior.</p>
            <p>Be sure to walk along the scenic windy path up the park's hill, which passes by more bizarre architectural elements. At the top of the hill is the <strong>Mirador de Joan Sales</strong>, which provides breathtaking views over Barcelona and the coastline from high above.</p>
            <h3>Bunkers del Carmel</h3>
            <p>East of the Parc G&#252;ell are the <strong>Bunkers del Carmel</strong>, a set of military bunkers used during the Spanish Civil War. The bunkers contains a small museum, however the main draw of this attraction are the magnificent panoramic views over Barcelona and the coast which you can enjoy from atop the bunkers. Because of their location atop a hill not too far from the city center, these bunkers provide the best view you'll find in Barcelona.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Barcelona 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2840637442"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Montjuic Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Scale models of the St. Mark's Campanile towers known as the Torres Venecianes located on either side of the grand street leading to Montjuic, with the Palau Nacional at the end of the street in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Torres-Venecianes-Towers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torres Venecianes (Venetian&nbsp;Towers)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Avinguda_de_la_Reina_Maria_Cristina_Barcelona_2013.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Felix_Koenig" rel="noopener noreferrer" target="_blank">
                                    Felix Konig</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Evening view overlooking Montjuic's Magic Fountain show lighting up the fountain's water jets in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Montjuic-Magic-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Magic Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/threefingers/3668221821" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/threefingers/" rel="noopener noreferrer" target="_blank">
                                    Emilia Murray</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of the Palau Nacional at the entrance to Montjuic, which houses the National Museum of Catalonian Art in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Palau-Nacional-National-Palace-Museu-Nacional-dArt-de-Catalunya-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palau Nacional Palace &amp; Art&nbsp;Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/juanedc/9800194965" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/juanedc/" rel="noopener noreferrer" target="_blank">
                                    Juanedc.com</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the pedestrian streets of the miniature recreated Spanish city shopping village of Poble Espanyol in Barcelona's Montjuic"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Poble-Espanyol-de-Montjuic.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Poble Espanyol de Montjuic Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Calle_Caballeros.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Calle_Caballeros.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    DesiUzunova</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior of the Joan Miro Foundation art museum in Montjuic, Barcelona, Spain" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Joan-Miro-Foundation.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Joan Miro Foundation</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fundaci%C3%B3_Joan_Miro_outdoors_view_(2).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Calle_Caballeros.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Kippelboy</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from a cable car on Montjuic's teleferic in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Teleferic-de-Montjuic-Cable-Car.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Teleferic de Montjuic Aerial&nbsp;Tram</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Montju%C3%AFc_Cable_Car.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/22399204@N08" rel="noopener noreferrer" target="_blank">
                                    Ivan Mlinaric</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Garden-filled moat of the historic Montjuic Castle atop Montjuic in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Montjuic-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Montjuic Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Castell_de_Montjuic_-_Fossat_entrada_-_Barcelona_(Catalonia).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Puigalder~commonswiki" rel="noopener noreferrer" target="_blank">
                                    Puigalder</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Montjuic and Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="montjuic"></a>
        <h2 class="left-heading destination-section-heading">Montjuic &amp; Museums</h2>
        <p>Southwest of the Gothic Quarter is Montjuic, a tall hill which rises above the city along the coastline. Leading to the entrance of Montjuic is a short avenue where visitors are greeted by the massive <strong>Torres Venecianes</strong> (Venetian Towers). These towers are smaller replicas of the iconic St. Mark's Campanile tower in Venice.</p>
        <p>At the other end of the avenue is the giant <strong>Magic Fountain</strong>, which puts on a spectacular light and water show at night. Behind the Magic Fountain is the grand symmetrical staircase up to Montjuic, which features towering columns, a series of waterfalls, and excellent views overlooking the city.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <h3>Palau Nacional &amp; Catalunya National Art Museum</h3>
            <p>At the top of the grand staircase is the Museu Nacional d'Art de Catalunya (National Art Museum of Catalunya), which is housed within the magnificent <strong>Palau Nacional</strong> (National Palace) building. This museum contains a vast collection of Catalonian art, including one of the world's foremost Romanesque art collections The museum also hosts significant collections from later time periods including Gothic, Renaissance, Baroque, and Modern art.</p> 
            <h3>Poble Espanyol</h3>
            <p>On the western side of the museum is the <strong>Poble Espanyol</strong> open-air museum, which contains many scaled-down models of Spanish monuments. The museum also contains a recreated gothic Spanish village, which hosts restaurants and shops.</p>
            <h3>Joan Miro Foundation</h3>
            <p>On the eastern side of the National Art Museum of Catalunya is the <strong>Joan Miro Foundation</strong>, a modern art museum dedicated to the famous artist.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Montjuic Castle Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Montjuic Castle</h2>
        <p>Near the Joan Miro Foundation is the <strong>Teleferic de Montjuic</strong>, an aerial tramway which takes you to the top of the hill where the Montjuic Castle is located. The aerial tram ride provides amazing views over Barcelona and is a much easier option than hiking the short but steep path to the top of the hill.</p>
        <p>The <strong>Montjuic Castle</strong> is a large 17th century fortress which later served as a prison. Today the fortress hosts a military museum and offers incredible views over the coast, as well as part of the city.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <h3>Barcelona Olympic Park</h3>
            <p>Atop Montjuic you'll also find the expansive Olympic Park, which includes a giant stadium as well as many other sports complexes. The Olympic Park was constructed for the Barcelona Olympics in 1992.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Barcelona 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4680224920"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Tibidabo and More Barcelona Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of Gaudi's Bellesguard Manor (also known as Casa Figueres in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Bellesguard-Manor-Gaudi.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bellesguard Manor (Casa&nbsp;Figueres)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:BellesguardI.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:GerthMichael" rel="noopener noreferrer" target="_blank">
                                    GerthMichael</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior of the stunning white mountaintop Temple of the Sacred Heart of Jesus Christ in Barcelona's Tibidabo amusement park with far reaching views over the green mountains behind it" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Tibidabo-Temple-of-the-Sacred-Heart-of-Jesus-Christ.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tibidabo Temple</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Temple_del_Sagrat_Cor_vist_des_de_la_Talaia_del_Tibidabo.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jordiferrer" rel="noopener noreferrer" target="_blank">
                                    Jordiferrer</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Ferris wheel of Tibidabo in front of sweeping views over Barcelona and the Mediterranean from the mountains high above the Catalonian city" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Tibidabo-Ferris-Wheel-and-View-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tibidabo Ferris Wheel &amp; View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/barcelona-tibidabo-spain-3960566/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/milesz-5317196/" rel="noopener noreferrer" target="_blank">
                                    milesz</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the castle-like Casa de les Punxes building in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Casa-de-les-Punxes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa de les Punxes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_de_les_Punxes_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_de_les_Punxes_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Gabriele Giuseppini</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking reflective rooftop and market below it of the Mercat dels Encants in Barcelona, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Mercat-Fira-de-Bellcaire-Dels-Encants-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mercat Dels Encants Flea&nbsp;Market</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mercat_dels_Encants,_Barcelona.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Thomas_Ledl" rel="noopener noreferrer" target="_blank">
                                    Thomas Ledl</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interestingly designed ultra-modern exterior of the Design Museum of Barcelona"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Museu-del-Disseny-Design-Museum-of-Barcelona.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Design Museum of Barcelona</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Barcelona_-_Disseny_Hub_Barcelona,_Museu_del_Disseny_de_Barcelona_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zarateman" rel="noopener noreferrer" target="_blank">
                                    Zarateman</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Barcelona's iconic skyscrape, the Glories (or Agbar) Tower with its multi-colored windows and long bullet shape"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-Torre-Agbar-Glories-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glories (Agbar) Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/almusaiti/5540759112/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/almusaiti/" rel="noopener noreferrer" target="_blank">
                                    Victoriano Tornel Garcia</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Tibidabo and Bellesguard Manor Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">Tibidbao &amp; Gaudi's Bellesguard Manor</h2>
        <p>At the northwestern edge of Barcelona below the hills is one more Gaudi structure you might consider seeing, the <strong>Bellesguard Manor</strong> (or Casa Figueres). This castle-like manor house contains elegant and highly intricate interiors as well as lovely tile-works.</p>
        <h3>Tibidabo</h3>
        <p>Near the Bellesguard Manor is the Funicular del Tibidabo Station, a cable car which will take you to the mountaintop theme park of Tibidabo. Just outside of the theme park is a magnificent church, the <strong>Temple of the Sacred Heart of Jesus</strong>. From the church you can also enjoy gorgeous views looking over Barcelona from high above.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <p>If you'd like to take in views from even higher up, you can head to the nearby Torre de Collserola, a massive TV tower with an observation deck. The observation deck offer amazing panoramic views over the city and even over Tibidabo.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>

    <!-- More Barcelona Attractions Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <p>A couple blocks away from Casa Mila is a brilliant modernista structure, the <strong>Casa de les Punxes</strong>. The building's castle-like exterior is reminiscent of a fairy-tale. You can tour the inside of the home if you'd like to see the elaborate craftsmanship that makes this house beautiful.</p>
        <h3>Placa de les Glories Catalanes Plaza</h3>
        <p>Around the massive Placa de les Glories Catalanes plaza you'll find many modern buildings and structures.</p>
        <p>One of the most stunning structures around the plaza is the <strong>Mercat dels Encants</strong>, a great flea market open on Mondays, Wednesdays, Fridays, and Saturdays. Apart from the great deals, you can admire the enormous reflective stainless steel roof of the market, which is an incredible and unique structure.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <p>Nearby the plaza and market is <strong>The Design Museum of Barcelona</strong>, an ultra-contemporary structure housing exhibits on design and fashion. Adjacent to the museum is the Agbar Tower (also known as <strong>Glories Tower</strong>), a colorful bullet-shaped skyscraper. The tower is especially impressive when it lights up at night.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Barcelona Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4197009197"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Barcelona Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CJos2ZRtbP62">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/zVEA9nfTvhF2">&rArr; Main Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/QLbNGJ8yniG2">&rArr; All Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/H1HzJCWj3vn">&rArr; Short Visit</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/ibiza-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ibiza Old Town viewed from the city's harbor with many boats"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Old-Town-Harbor-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/ibiza-attractions-guide">
                        Ibiza
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/erju/34698979915" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/erju/" rel="noopener noreferrer" target="_blank">
                            Sergi Coll</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/valencia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning ultra-contemporary archtectural masterpiece of the City of Arts and Sciences in Valencia, which somewhat resembles a whale skeleton"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Complex-Ciudad-de-las-Artes-y-las-Ciencias.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/valencia-attractions-guide">
                        Valencia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wwarby/34150942904" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wwarby/" rel="noopener noreferrer" target="_blank">
                            William Warby</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/zaragoza-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning evening view of the old Stone Bridge spanning the river with the Basilica del Pilar in the background in Zaragoza"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Stone-Bridge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/zaragoza-attractions-guide">
                        Zaragoza
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_del_Pilar-sunset.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/99181891@N00" rel="noopener noreferrer" target="_blank">
                            Paulo Brandao</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/southern-occitanie-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Aerial view of the fortified medieval citadel of Carcassonne, France" 
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/southern-occitanie-attractions-guide">
                        Southern Occitanie, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_carcassonne_aerial_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                            Chensiyuan</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Viewpoint of the eastern walls of the Cite de Carcassonne citadel, a castle-like city in Occitanie, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        Carcassonne &amp; Narbonne, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_-_Pont_Neuf_-_View_SSE_on_Old_Bridge_%26_Citadel_-_Porte_d%27Aude.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Txllxt_TxllxT" rel="noopener noreferrer" target="_blank">
                            Txllxt TxllxT</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    