<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Playa de Poniente Beach and skyscrapers in Benidrom, Costa Blanca, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Playa-de-Poniente-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Costa Blanca, Spain + Benidorm, Alicante, & Calpe, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="costa_blanca_spain" />
    <meta name="attraction_guides" content="alicante_spain" />
    <meta name="attraction_guides" content="benidorm_spain" />
    <meta name="attraction_guides" content="calpe_spain" />
    <meta name="europe_attraction_guides" content="costa_blanca_spain" />
    <meta name="europe_attraction_guides" content="alicante_spain" />
    <meta name="europe_attraction_guides" content="benidorm_spain" />
    <meta name="europe_attraction_guides" content="calpe_spain" />
    <meta name="europe_destinations" content="costa_blanca_spain" />
    <meta name="europe_destinations" content="alicante_spain" />
    <meta name="europe_destinations" content="benidorm_spain" />
    <meta name="europe_destinations" content="calpe_spain" />
    <meta name="europe_destination_guides" content="costa_blanca_spain" />
    <meta name="europe_destination_guides" content="alicante_spain" />
    <meta name="europe_destination_guides" content="benidorm_spain" />
    <meta name="europe_destination_guides" content="calpe_spain" />
    <meta name="spain_attraction_guides" content="costa_blanca" />
    <meta name="spain_attraction_guides" content="alicante" />
    <meta name="spain_attraction_guides" content="benidorm" />
    <meta name="spain_attraction_guides" content="calpe" />
    <meta name="spain_destinations" content="costa_blanca" />
    <meta name="spain_destinations" content="alicante" />
    <meta name="spain_destinations" content="benidorm" />
    <meta name="spain_destinations" content="calpe" />
    <meta name="spain_destination_guides" content="costa_blanca" />
    <meta name="spain_destination_guides" content="alicante" />
    <meta name="spain_destination_guides" content="benidorm" />
    <meta name="spain_destination_guides" content="calpe" />
    <meta name="google_maps_list" content="costa_blanca" />
    <meta name="google_maps_list" content="alicante" />
    <meta name="google_maps_list" content="benidorm" />
    <meta name="google_maps_list" content="calpe" />
    <meta property="og:title" content="Costa Blanca, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Playa-de-Poniente.jpg">
    <meta name="twitter:title" content="Costa Blanca, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Playa-de-Poniente.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/costa-blanca-attractions-guide">
    <title>Attractions Guide for Costa Blanca, Spain</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Costa Blanca, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#alicante">Alicante</a></div>
            <div><a href="#villajoyosa">Villajoyosa</a></div>
            <div><a href="#benidorm">Benidorm</a></div>
            <div><a href="#altea">Altea</a></div>
            <div><a href="#guadalest">Guadalest</a></div>
            <div><a href="#calpe">Calpe</a></div>
            <div><a href="#moraira">Moraira</a></div>
            <div><a href="#cala-moraig-beach">Cala Moraig</a></div>
            <div><a href="#denia-cova-tallada">Cova Tallada</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Costa Blanca Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Spain's extremely scenic Costa Blanca (White Coast) is a popular vacation destination which features many gorgeous beaches and amazing attractions along a large stretch of coastline between Alicante an Valencia.</p>
        <p>Popular beach resort towns to visit along the Costa Blanca (listed from south to north) include Alicante, Villajoyosa, Benidorm, L'Albir, Altea, Calp, Moraira, and Denia. All of these cities are connected to each other via an efficient tram system, making travel fairly easy without a car if you're willing to walk or take taxis.</p>
    </section>


    <!-- Alicante and Villajoyosa Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking the hilltop Santa Barbara Castle towering above the city of Alicante along Spain's Costa Blanca" 
                        src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Alicante-Castillo-Santa-Barbara-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Santa Barbara Castle (Alicante)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alicante_-_Castillo_de_Santa_B%C3%A1rbara_22.11.2010_20.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Geiserich77" rel="noopener noreferrer" target="_blank">
                                    Michael Kranewitter</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning view from the water looking back at the sandy El Postiguet beach with the Santa Barbara Castle towering high above it in Alicante, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Alicante-El-Postiguet-Beach-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">El Postiguet Beach (Alicante)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Castillo_de_Santa_B%C3%A1rbara,_Alicante_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Castillo_de_Santa_B%C3%A1rbara,_Alicante_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Eduardo Manchon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Highly aesthetic exhibit within Alicante's MARQ Archaeology Museum along Spain's Costa Blanca"
                        src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Alicante-MARQ-Archaeological-Museum-of-Alicante.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">MARQ Archaeology Museum (Alicante)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Una_sala_del_museu_arqueol%C3%B2gic_d%27Alacant_(MARQ).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Joanbanjo" rel="noopener noreferrer" target="_blank">
                                    Joanbanjo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Elegant monumental fountain in the center of Alicante's Plaza de los Luceros"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Alicante-Plaza-de-los-Luceros.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza de los Luceros (Alicante)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luceros3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Luceros3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Zarkos</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Night time at El Campello's ancient Roman Banos de la Reina ruins along the coast, near Alicante, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-El-Campello-Banos-de-la-Reina.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Banos de la Reina (El Campello)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/susoalenda/9284572789" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/susoalenda/" rel="noopener noreferrer" target="_blank">
                                    Jesus Alenda</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful colorful row homes along the beachfront boardwalk in Villajoyosa, along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-La-Vila-Joiosa-Villajoyosa-Boardwalk-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villajoyosa Boardwalk</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Les_maisons_multicolores_de_villajoiosa_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Les_maisons_multicolores_de_villajoiosa_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    chisloup</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Alicante Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alicante"></a>
        <h2 class="left-heading destination-section-heading">Alicante, Spain</h2>
        <p>Towering over the coastal city of Alicante is the 9th century <strong>Santa Barbara Castle</strong>, a massive hilltop fortification surrounded by expansive medieval walls. This castle hosts a history museum and many corridors to explore. From the top of the castle you can enjoy majestic panoramic views over the scenic coastline. The easiest way to reach the castle is via the Ascensor al Castell elevator near the beach. Otherwise it's not a very long walk however its quite a steep ascent to the top.</p>
        <p>Just below the castle is the sandy <strong>El Postiguet Beach</strong>, which features a long promenade and fantastic views looking up at the castle.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also nearby the castle is the city's <strong>MARQ Archaeological Museum</strong>, which contains a significant collection of artifacts stretching back to prehistory and Ancient Rome. The museum contains many interactive exhibits and displays its artifacts in a very engaging manner. MARQ is also known for its collection of underwater artifacts, many of which were retrieved from shipwrecks.</p>
            <p>In the center of Alicante is the city's impressive main plaza, the <strong>Plaza de los Luceros</strong>, which has an extravagant giant fountain at its center and is surrounded by palm trees and tall buildings.</p>
            <h3>Banos de la Reina Ruins (El Campello, Spain)</h3>
            <p>Further up the coast from Alicante are part of the remains of an ancient Roman village, <strong>Banos de la Reina El Campello</strong>, which sits on a tiny peninsula. You can walk amongst the ruins and then swim in the adjacent ancient fish farms if you like, which are carved into the rocks at the end of the peninsula.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Villajoyosa Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="villajoyosa"></a>
        <h2 class="left-heading destination-section-heading">Villajoyosa, Spain</h2>
        <p>A bit north of Alicante is the picturesque town of <strong>Villajoysa</strong> (also known as La Vila Joiosa), which is best known for the vibrant colorful homes which line the boardwalk behind its beautiful sandy beach. This boardwalk is called the Paseo de Sant Pere and is very scenic, passing many great restaurants and bars along the beach.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Costa Blanca 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7247512666"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Benidorm Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Skyscrapers line the beautiful long sandy Playa de Poniente Beach and its vibrant blue-green waters in the popular resort town of Benidorm along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Playa-de-Poniente.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa de Poniente Beach (Benidorm)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Benidorm_-_Playa_de_Poniente_26.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zarateman" rel="noopener noreferrer" target="_blank">
                                    Zarateman</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant white tiled seaside clifftop balcony, known as the Balcon del Mediterraneo, in the Costa Blanca town of Benidorm"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Balcon-del-Meditteraneo-Balcony.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balcon del Mediterraneo Balcony (Benidorm)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Balc%C3%B3n_del_Mediterr%C3%A1neo,_Benidorm,_Espa%C3%B1a,_2014-07-02,_DD_09.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning mountaintop view over the skyscrapers and coastline of Benidorm seen from La Creu Viewpoint"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Benidorm-Mirador-La-Creu-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Creu Viewpoint (Benidorm)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Benidorm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Benidorm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    siocaw-commonswiki</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset over the Faro de L'Albir lighthouse with Calpe and the Penyal d'Ifach rock along the coast in the background, along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Parque-Natural-de-Serra-Gelada-Faro-del-Albir-Lighthouse-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Faro de L'Albir Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Faro_de_l%27Albir.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/15542334@N00" rel="noopener noreferrer" target="_blank">
                                    Jesus Alenda</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful view behind flowers overlooking the Costa Blanca coastline of Altea from the Mirador de la Plaza de la Iglesia viewpoint"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Altea-Old-Town-Mirador-de-la-Plaza-de-la-Iglesia-Viewpoint-of-Coastline.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza de la Iglesia Viewpoint (Altea)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Benidorm Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="benidorm"></a>
        <h2 class="left-heading destination-section-heading">Benidorm, Spain</h2>
        <p>Further up the Costa Blanca is the popular resort and party town of Benidorm, where the beaches are lined with stunning tall high-rise buildings. The city's stunning <strong>Playa de Poniente</strong> beach features clear waters and amazing scenery, as well as a long colorful boardwalk lined with bars and restaurants.</p>
        <p>Benidorm's most famous attraction is the <strong>Balcon del Mediterraneo</strong> (Mediterranean Balcony), a lavish and extremely photogenic large balcony along the cliffs. The balcony also offers incredible panoramic views over the city and coastline.</p>
        <p>On the eastern side of the Balcon del Mediterraneo is another long sandy beach, the Playa de Llevant, which also hosts a boardwalk and many restaurants, bars, and nightlife.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Hiking &amp; Viewpoints</h3>
            <p>If you'd like to enjoy views high above Benidorm and the coast you can drive or take a taxi up to <strong>La Creu Benidorm</strong>, a hilltop viewpoint offering breathtaking views over the city.</p>
            <p>A long and strenuous but highly recommended hike is the trail along the crests of the cliffs between Benidorm and L'Albir, starting from the La Creu Benidorm Viewpoint and ending near the Camino del Faro trailhead. This route along the Sierra Helada is extremely scenic with breathtaking coastal views and very few people. The one-way hiking distance is roughly 6.5 miles (10.5km) to L'Albir, so you'll want to take a combination of taxis and the tram/bus to complete the loop.</p>
            <p>A short drive or tram ride northeast from Benidorm is the picturesque <strong>Faro del Albir Lighthouse</strong>. In order to reach the lighthouse, you'll need to take a scenic 3.2 mile (5.2 km) round-trip hike along the Camino del Faro trail (from the trailhead), which is part of the Serra Gelada Natural Park. At the end of this nature trail you're rewarded with amazing views overlooking a gorgeous section of the Costa Blanca.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Altea Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="altea"></a>
        <h2 class="left-heading destination-section-heading">Altea, Spain</h2>
        <p>About halfway between Benidorm and Calpe is the beautiful beach town of Altea, with an old hilltop village filled with extremely photogenic white homes and pathways to explore. This hilltop is centered around the <strong>Plaza de la Iglesia</strong> and offers many different viewpoints overlooking the coast and many excellent photo opportunities.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Costa Blanca 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7114816578"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Calpe and Guadalest Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rocky clifftop Castle of Guadalest rising above the morning fog and town of Guadalest, located back from the coast in Spain's Costa Blanca region"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Guadalest-Castell-de-Guadalest-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castell de Guadalest Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/starless/27980667508/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/starless/" rel="noopener noreferrer" target="_blank">
                                    Dario Tortora</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the vibrant light blue waters of the Guadalest Reservoir, seen from the Guadalest Castle in Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Guadalest-Embassament-de-Guadalest-Reservoir-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Guadalest Castle Reservoir Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Pantano_de_Guadalest.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rodriguillo" rel="noopener noreferrer" target="_blank">
                                    Rodriguillo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small Algar Waterfalls, a popular swimming spot set back from the coast in Spain's Costa Blanca region"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Algar-Les-Fonts-dAlgar-Algar-Waterfalls-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Algar Waterfalls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vista_de_la_presa_de_les_fonts_de_l%27Algar.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Joanbanjo" rel="noopener noreferrer" target="_blank">
                                    Joanbanjo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque sandy beach and coastline with the massive Penyal d'Ifach rock in the background, in the Costa Blanca town of Calpe"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Calp-Penyal-dIfac-Rock-Penon-de-Ifach-Beach-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Penyal d'Ifac Rock (Calpe)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Pe%C3%B1%C3%B3n_de_Ifach_-_Calpe-_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Pe%C3%B1%C3%B3n_de_Ifach_-_Calpe-_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Wyemji</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wide angle view overlooking the Costa Blanca city of Calpe from high above, seen from the top of the Penyal d'Ifac rock"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Calp-Penyal-dIfac-Rock-Top-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Top of Penyal d'Ifac Rock (Calpe)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Calp_-_Pe%C3%B1%C3%B3n_de_Ifach8.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Calp_-_Pe%C3%B1%C3%B3n_de_Ifach8.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Marnal</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous golden hour views lighting up the Penyal d'Ifac rock, seen looking down Calpe's Playa de la Fossa Beach"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Calp-Penyal-dIfac-Rock-Playa-de-la-Fossa-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa de la Fossa Beach (Calpe)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/darkummy/14507912018/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/darkummy/" rel="noopener noreferrer" target="_blank">
                                    Ramon Lozano Rodas</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View seen from the top of Monte Toix mountain overlooking the city of Calpe and its coastline, with the Penyal d'Ifac rock in the background"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Calp-Mirador-Monte-Toix-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador Monte Toix Viewpoint (Calpe)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Le_penon_de_ifach_depuis_maryvilla_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Le_penon_de_ifach_depuis_maryvilla_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    chisloup</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Guadalest Castle and Algar Waterfalls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="guadalest"></a>
        <h2 class="left-heading destination-section-heading tall-section-heading-spacer">Guadalest Castle (Car&nbsp;Recommended)</h2>
        <p>Towering above the village of Guadelst (inland from Benidorm) is the 11th century <strong>Castell de Guadalest</strong>, a hilltop castle complex. Within the complex are several interesting museums and lovely historic structures. From the castle you can also enjoy magnificent views over the nearby vivid turquoise reservoir, which sits below tall beautiful mountains.</p>
        <p>In order to reach the castle without a car, you'll need to take two buses from Benidorm, which takes just under 1.5 hours, however the second bus (in the town of Callosa d'en Sarria) only travels to Guadalest twice a day, so you'll need to time out visiting this popular castle very precisely.</p>
        <h3>Algar Waterfalls (Car Only)</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also inland from Benidorm are the <strong>Algar Waterfalls</strong>, a series of waterfalls flowing through a canyon. A very short trail runs alongside the waterfalls and allows visitors to access the clear light blue waters of the river for swimming.</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>



    <!-- Calpe Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="calpe"></a>
        <h2 class="left-heading destination-section-heading">Calpe, Spain</h2>
        <p>Northeast along the coast from Benidorm is another great resort town, Calpe. At the eastern end of Calpe is a massive peninsular rock which sticks out from the coastline, known as <strong>Penyal d'Ifac</strong>. An excellent place to view the rock set amongst the shore is from the boardwalk at Calpe's Bano de la Reina, a mostly ruined ancient Roman site.</p>
        <p>On the other side of the Penyal d'Ifac is the <strong>Playa de la Fossa Beach</strong> (just north of the rock) offering incredible views of the Penyal d'Ifac.</p>
        <p>It's also possible to see the Penyal d'Ifac rock up close, or even climb to the top of the rock for stunning panoramic views over the coast. If you wish to reach the top of the rock, the round-trip hiking time is approximately 2+ hours and is very challenging.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The trail is actually quite dangerous and technical requiring significant scrambling, so be sure to bring shoes and water and take your time as most of the trail does not have rails after a certain point. Many people only hike up part-way to the long cave before turning around, which offers great views and is a less challenging trail than beyond the cave.</p>
            <h3>Monte Toix Viewpoint (Car or Taxi Only)</h3>
            <p>On the western side of Calpe you can take a short drive or taxi ride up to the top of a coastal ridge, Monte Toix, where you'll find a stunningly gorgeous viewpoint overlooking Calpe and the coastline. This viewpoint is the <strong>Mirador Monte Toix</strong> and is an excellent introduction to the city.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Costa Blanca 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5801734903"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>



    <!-- Moraira, Cala Moraig, and Cova Tallada Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the coast along the lovely white stairway path of Miradores de Portixolet in Moraira, along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Moraira-Miradores-de-Portitxolet-Stairway-Path.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miradores de Portitxolet Stairway (Moraira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the cove, beach, and vibrant waters of Playa del Portet in Moraira along the Costa Blanca of Eastern Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Moraira-Playa-del-Portet-Beach-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa del Portet Beach (Moraira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant multi-colored waters of the Playa del Portet Cove and boats seen from above in Moraira, Costa Blanca, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Moraira-Playa-del-Portet-Cove-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa del Portet Cove Overlook (Moraira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Cala Llebeig cove and beach from the Ruta de los Acantilados hike near Moraira along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Moraira-Benitachell-Cala-Llebeig-Cove-and-Beach-View-from-Ruta-de-los-Acantilados-Route-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cala Llebeig Cove &amp; Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beuatiful beach/cove of Cala Moraig and its vibrant deep blue waters seen from above, along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-El-Cim-del-Sol-Cala-Moraig-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cala Moraig Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/susoalenda/10294393376/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/susoalenda/" rel="noopener noreferrer" target="_blank">
                                    Jesus Alenda</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Two side-by-side ocean entrances to the Cova dels Arcs Sea Cave, located adjacent to the Costa Blanca's Cala Moraig beach"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-El-Cim-del-Sol-Cova-dels-Arcs-Sea-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cova dels Arcs Sea Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/susoalenda/10294373926/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/susoalenda/" rel="noopener noreferrer" target="_blank">
                                    Jesus Alenda</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning views inside Denia's massive and complex Cova Tallade Sea Cave, seen after sunset, along Spain's Costa Blanca"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Denia-Xabia-Cova-Tallada-Sea-Caves.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cova Tallada Sea Cave (Denia)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/98810885@N07/9396232074" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/98810885@N07/" rel="noopener noreferrer" target="_blank">
                                    Jordi nll</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Moraira Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="moraira"></a>
        <h2 class="left-heading destination-section-heading">Moraira, Spain</h2>
        <p>Northeast from Calpe along the coast is the beach resort town of Moraira, which is known for its breathtaking <strong>Playa del Portet</strong> beach with its vibrant light blue waters and gorgeous scenery. Along the way to the beach you can walk along the lovely <strong>Miradores de Portitxolet Stairway</strong>, enjoying amazing views over the coast and Moraira's port.</p>
        <p>Moraira also hosts two tiny castle-forts, one along the coast (Castillo de Moraira) and one high above the Playa de Portet (the Torre del Cap d'Or tower). The tower above the beach offers stunning views from atop the mountain it sits on and can be reached via a short but strenuous hike.</p>
    </section>


    <!-- Cala Moraig Beach Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cala-moraig-beach"></a>
        <h2 class="left-heading destination-section-heading tall-section-heading-spacer">Cala Moraig Beach &amp; Cova&nbsp;dels&nbsp;Arcs Sea&nbsp;Cave (Car&nbsp;Recommended)</h2>
        <p>Just northeast of Moraira is the beautiful beach of <strong>Cala Moraig</strong>, with its vibrant waters set below the striking cliffs.</p>
        <p>During medium to low tide you can easily access the stunning <strong>Cova dels Arcs</strong> sea cave on the southern side of the beach, which has several impressive arched entrances over the water. Water shoes are recommended for the beach and sea cave.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Hiking to Cala Moraig (from Moraira, Spain)</h3>
            <p>It's possible to reach the Cala Moraig via a long but extremely scenic hike from the town of Moraira. This route begins in the neighborhoods north of Moraira Beach and follows along the Barranco de La Viuda trail throug a forested canyon. The trail leads to the stunning <strong>Cala Llebeig</strong> beach, which can only be reached via hiking.</p>
            <p>From the Cala Llebeig Beach you can take an incredible cliffside hike along the Ruta de los Acantilados trail which features fantastic voastal views as well as ruins before connecting to the Cala Moraig beach. This route is approximately 5 miles (8 km) one-way from Downtown Moraira (near the port).</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Cova Tallada Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="denia-cova-tallada"></a>
        <h2 class="left-heading destination-section-heading tall-section-heading-spacer">Cova Tallada Sea Caves (Denia,&nbsp;Spain)</h2>
        <p>Further up the coast from Calpe and Cala Moraig Beach near the city of Denia is a mesmerizing series of shallow sea caves, known as <strong>Cova Tallada</strong>. These giant caves are incredibly gorgeous and contain grottoes as well as sea arches and long deep caves you can explore and swim around.</p>
        <p>You can access this sea cave via a moderate hike of about 2 miles (3.2 km) round-trip along the coast, beginning from the Mirador Las Rotas at the eastern edge of Denia. Water shoes are highly recommended for visiting the sea caves.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Reaching Cova Tallada by Bus</h3>
            <p>It's possible to reach the Cova Tallada sea caves without a car by taking the bus from Explanada de Cervantes (near the Port of Denia, Spain) all the way to its last stop at the Restaurante Mena near the trailhead.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Costa Blanca Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4229455321"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Costa Blanca Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qt8emfqqboN2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/VzWDfBbvLQm">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/valencia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning ultra-contemporary archtectural masterpiece of the City of Arts and Sciences in Valencia, which rsomewhat resembles a whale skeleton"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Complex-Ciudad-de-las-Artes-y-las-Ciencias.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/valencia-attractions-guide">
                        Valencia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wwarby/34150942904" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wwarby/" rel="noopener noreferrer" target="_blank">
                            William Warby</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/ibiza-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ibiza Old Town viewed from the city's harbor with many boats"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Old-Town-Harbor-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/ibiza-attractions-guide">
                        Ibiza
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/erju/34698979915" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/erju/" rel="noopener noreferrer" target="_blank">
                            Sergi Coll</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    