<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Mirador San Nicolas overlooking the Alhambra at sunset in Granada, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Granada-Mirador-San-Nicolas-Alhambra-Overlook-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Granada, Spain, and plan the perfect trip with our savable Granada Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="granada_spain" />
    <meta name="europe_attraction_guides" content="granada_spain" />
    <meta name="europe_destinations" content="granada_spain" />
    <meta name="europe_destination_guides" content="granada_spain" />
    <meta name="spain_attraction_guides" content="granada" />
    <meta name="spain_destinations" content="granada" />
    <meta name="spain_destination_guides" content="granada" />
    <meta name="google_maps_list" content="granada" />
    <meta property="og:title" content="Granada, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Granada-Mirador-San-Nicolas-Alhambra-Overlook.jpg">
    <meta name="twitter:title" content="Granada, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Granada-Mirador-San-Nicolas-Alhambra-Overlook.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/granada-attractions-guide">
    <title>Attractions Guide for Granada, Spain</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Granada, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#alhambra-complex">Alhambra</a></div>
            <div><a href="#generalife-gardens">Generalife Gardens</a></div>
            <div><a href="#central-granada">Central Granada</a></div>
            <div><a href="#paseo-de-los-tristes">Paseo los Tristes</a></div>
            <div><a href="#alhambra-viewpoints">Alhambra Viewpoints</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
            <div><a href="#forteleza-castle">Forteleza Castle</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Granada Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The city of Granada is known for its incredible medieval Arabic architecture, which stems from the city's historic Moorish occupation.</p>
        <p>The Moorish rulers of Granada decided to build a vast sprawling palace in the 13th century at the site of an ancient Roman fortress, atop a hill overlooking the city. Interestingly, this palace later served as the Royal Court of Ferdinand and Isabella, and is the site where Christopher Columbus made his case and received permission to explore the Americas. This massive palace complex is the UNESCO listed Alhambra, which is among the top attractions in Spain.</p>
    </section>


    <!-- Alhambra Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Rounded column-lined courtyard of the Alhambra's Palace of Charles V lit up at night in Granada, Spain" 
                        src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Palace-of-Charles-V-Courtyard-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palace of Charles V</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Collonnaded_courtyard_Alhambra,_Granada.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Collonnaded_courtyard_Alhambra,_Granada.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    MarkGarrucha</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Extremely complex architectural designs of the Alhambra's Patio de los Leones  in Granada, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Nasrid-Palaces-Patio-de-los-Leones-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Patio de los Leones</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alhambra_L%C3%B6wenhof_mit_L%C3%B6wenbrunnen_2014.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tuxyso" rel="noopener noreferrer" target="_blank">
                                    Tuxyso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View above the pool of the Alhambra's Myrtle Patio in Granada, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Nasrid-Palaces-Myrtle-Patio.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Myrtle Patio</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Myrtle_Patio_in_the_Nasrid_Palace.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Greenshed" rel="noopener noreferrer" target="_blank">
                                    Greenshed</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful El Partal Patio and pool of the Alhambrain Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-El-Partal-Patio.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">El Partal Patio</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:El_Partal_Palace,_Alhambra,_Spain.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:El_Partal_Palace,_Alhambra,_Spain.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Choniron</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Medieval Alcazaba ruins within the Alhambra complex in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Alcazaba-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alcazaba Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/vialbost/4646866223/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/vialbost/" rel="noopener noreferrer" target="_blank">
                                    Frederique Vosin-Demery</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View over Granada's Old Town seen from the top of the Alhambra's Torre de la Vela tower"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Torre-de-la-Vela-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torre de la Vela Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/36217981@N02/24311646227" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/36217981@N02/" rel="noopener noreferrer" target="_blank">
                                    Tim Adams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Alhambra Complex Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alhambra-complex"></a>
        <h2 class="left-heading destination-section-heading">Alhambra Complex</h2>
        <p>It's extremely important to pre-book you tour of the Alhambra complex at least one week in advance or more, otherwise it's nearly impobssible to gain access into the Alhambra's palaces, patios, and the Generalife Gardens.</p>
        <p>The iconic Alhambra showcases breathtaking and highly intricate Islamic architecture, with brilliant mosaics and elaborate designs throughout the gigantic complex. This complex consists of many ornate palaces, most notably the <strong>Palace of Charles V</strong> and the Nasrid Palace. The Alhambra's Nasrid Palace hosts the elegant <strong>Patio de los Leones</strong>, <strong>Myrtle Patio</strong>, and Patio de Comares. Other lovely patio courtyards can be found at the <strong>El Partal Palace</strong>.</p>
        <p>The entire complex is surrounded by imposing medieval walls and also contains many beautiful fine gardens to explore, as well as the ruins of an <strong>Alcazaba</strong> fortress. Adjacent to the Alcazaba on the western edge of the complex is the <strong>Torre de la Vela</strong> tower, from which you can enjoy amazing panoramic views over Granada, high above the city.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Granada 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4488653238"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Generalife Gardens Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic view of the Generalife Gardens' Patio de la Acequia in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Generalife-Gardens-Patio-de-la-Acequia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Patio de la Acequia<br />(Generalife&nbsp;Gardens)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/125945909@N05/15620137129/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/125945909@N05/" rel="noopener noreferrer" target="_blank">
                                    Min Zhou</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Generalife Gardens' Patio de la Sultana in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Generalife-Gardens-Patio-de-la-Sultana.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Patio de la Sultana<br />(Generalife&nbsp;Gardens)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/shadowgate/26392713408/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/shadowgate/" rel="noopener noreferrer" target="_blank">
                                    Shadowgate</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Well-manicured gardens of the Carmen de los Martires in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Carmen-de-los-Martires-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carmen de los Martires Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Jardin01carmen_martires.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/juanjaen/" rel="noopener noreferrer" target="_blank">
                                    Juan Fernandez</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Generalife Gardens Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="generalife-gardens"></a>
        <h2 class="left-heading destination-section-heading">Generalife Gardens</h2>
        <p>Adjacent to the Alhambra are the gorgeous Generalife Gardens, tickets for which are typically sold as a combination with the Alhambra. Among these landscaped gardens is a large villa hosting more elegant patios, including the <strong>Patio de la Acequia</strong> and the <strong>Patio de la Sultana</strong>.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Carmen de los Martires Gardens</h3>
            <p>Just south of the Alhambra is a marvelous 19th century estate, the <strong>Carmen de los Martires</strong>, which hosts even more beautiful gardens, along with peacocks and fountains. These gardens tend to be much less crowded than the Alhambra and are free to visit.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Granada 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5934430990"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Central Granada and Paseo de los Tristes Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade and tower of the Cathedral of Granada in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Catedral-de-Granada-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of Granada</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mctraba/9678760616" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mctraba/" rel="noopener noreferrer" target="_blank">
                                    Paolo Trabattoni</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the Royal Chapel housing Granada's royal tombs behind the Granada Cathedral"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Capilla-Real-Royal-Chapel-of-Granada.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Chapel of Granada</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Granada_Cathedral_rear_(8169710093).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/14035760@N03" rel="noopener noreferrer" target="_blank">
                                    Curimedia</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Alhambra from the Paseo de los Tristes street below in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Paseo-de-los-Tristes-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Paseo de los Tristes Street</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior fo the finely detailed El Banuelo Arab Baths in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-El-Banuelo-Arab-Baths.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">El Banuelo Arab Baths</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:El_Ba%C3%B1uelo_-_Granada_(3).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jbribeiro1" rel="noopener noreferrer" target="_blank">
                                    Jose Luis B. Ribeiro</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Central Granada Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-granada"></a>
        <h2 class="left-heading destination-section-heading">Central Granada</h2>
        <p>Within the historic center of Granada is the magnificent 16th century <strong>Granada Cathedral</strong>. This landmark church blends Renaissance and baroque architecture very aesthetically, and contains lavish interiors. Adjacent to the cathedral is the intricate <strong>Royal Chapel of Granada</strong>, which houses the mausoleum of the Spanish monarchs Ferdinand and Isabella, as well as a small museum.</p>
        <p>Be sure to wander the tight stone streets of the historic city center near the cathedral, as you'll find many shops selling remarkable Moroccan and Middle Eastern goods such as hookahs, intricate lamps and decorations, clothing, accessories and much more. Walking along some of these street is like walking along a souk marketplace in Morocco.</p>
    </section>


    <!-- Paseo de los Tristes and More Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="paseo-de-los-tristes"></a>
        <h2 class="left-heading destination-section-heading">Paseo de los Tristes &amp; Moorish Sites</h2>
        <p>Below the northern side of the Alhambra is the <strong>Paseo de los Tristes</strong>, a long promenade lined with shops and restaurants which also offers views looking up at the palace complex. Along the street leading to the promenade are the impressive remains of an 11th century Arab bath complex, <strong>El Banuelo</strong>, which now operates as a museum.</p>
        <p>Along and around the Paseo de los Tristes you'll find many historic buildings like El Banuelo and small gardens related to to Granada's Moorish rule. You can gain access to all of these attractions if you purchase the slightly more expensive Doble de Oro ticket for the Alhambra, which also includes access to the Generalife Gardens, Palacio de Dar-al-Horra, and more.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Granada 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5614974592"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Granada Viewpoints, More Attractions, and Forteleza Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Alhambra during sunset seen from the Mirador San Nicolas Viewpoint in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Mirador-San-Nicolas-Alhambra-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador San Nicolas Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dawn_Charles_V_Palace_Alhambra_Granada_Andalusia_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jebulon" rel="noopener noreferrer" target="_blank">
                                    Jebulon</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small patio within the Palacio de Dar-al-Horra palace in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Palacio-de-Dar-al-Horra-Moorish-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palacio de Dar&#8209;al&#8209;Horra Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palacio_de_Dar_al-Hurra._Patio_central.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jl_FilpoC" rel="noopener noreferrer" target="_blank">
                                    Jose Luis Filpo Cabana</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Granada's walls in and the Alhambra in the backround from the Mirador de San Cristobal viewpoint"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Mirador-de-San-Cristobal-Medieval-Walls-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador de San Cristobal Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alcazaba_Cadima.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pepepitos~commonswiki" rel="noopener noreferrer" target="_blank">
                                    Pepepitos</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Finely detailed interior chapel of the Carthuasian Monstery in Granada, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Cartuja-de-Granada-Carthusian-Monastery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carthuasian Monastery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cartuja_de_Granada,_sacrist%C3%ADa.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jl_FilpoC" rel="noopener noreferrer" target="_blank">
                                    Jose Luis Filpo Cabana</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of the amssive hilltop castle of Fortaleza de la Mota from below near Granada, Spain" 
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alcala-la-Real-Fortaleza-de-la-Mota-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fortaleza de la Mota Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fortaleza_de_la_Mota_7.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Michelangelo-36" rel="noopener noreferrer" target="_blank">
                                    Michelangelo-36</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Granada Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alhambra-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Viewpoints of the Alhambra</h2>
        <p>You can walk up the hill from the Paseo de los Tristes to access the <strong>Mirador San Nicolas</strong> viewpoint facing the Alhambra at a similar elevation to the complex. From this viewpoint you can appreciate the scale of the Alhambra's vast medieval walls which fortify the complex.</p>
        <h3>Palacio de Dar-al-Horra</h3>
        <p>Continue uphill to visit the <strong>Palacio de Dar-al-Horra</strong>, another stunning palace which hosts views overlooking the city as well as intricate Islamic-style architecture. Just above the palace are more medieval walls which once fortified the city.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Mirador de San Cristobal Viewpoint</h3>
            <p>Further up the hill on the northern side of these walls is the <strong>Mirador de San Cristobal</strong> viewpoint, which provides fantastic views over these imposing walls.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- More Granada Attractions Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Carthuasian Monastery</h3>
        <p>On the northern side of the city is an incredible often overlooked attraction, the Granada Charterhouse <strong>Carthusian Monastery</strong>. This 16th century has a charming rustic appearance on the outside, however the monastery's interior is breathtaking and highly adorned with fine baroque details.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Sacromonte Cave Dwellings</h3>
            <p>If you head east up the hill from Paseo de los Tristes, you can enjoy another perspective of the Alhambra from the Mirador de la Vereda de Enmedio viewpoint.</p>
            <p>Just beyond this viewpoint is the Museo Cuevas del Sacromonte, an outdoor museum consisting of recreated cave homes once inhabited by Granada's Roma population (Gipsies). The original cave dwellings were originally occupied in the 16th century, and the recreated cave homes are decorated with great detail and historical accuracy.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Forteleza de la Mota Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="forteleza-castle"></a>
        <h2 class="left-heading destination-section-heading">Forteleza de la Mota Castle</h2>
        <p>Northwest of Granada is a stunning 14th century hilltop castle, the <strong>Fortaleza de la Mota</strong>. This massive fortified complex mainly consists of medieval ruins which you can explore, as well as a huge old church containing excavations and a nearby watchtower. From the watchtower you can take in amazing views overlooking the city of Alcala la Real below. </p>
        <h3>Reaching the Fortaleza de la Mota</h3>
        <p>The castle is approximately 1 hour from Granada by car, or about 1.5 hours by bus, which includes a 20 minute walk to reach the castle from the nearby bus stop.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Granada Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3605148100"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Granada Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/92zYDdrHFzy">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Cfr6S1aB8qK2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/malaga-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Wide view overlooking Malaga and the coast from the Gibralfaro Castle in Malaga, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Malaga-Castillo-Gibralfaro-Castle-Mirador-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/malaga-attractions-guide">
                        Malaga
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/schwanhals/40803969831/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/schwanhals/" rel="noopener noreferrer" target="_blank">
                            Johannes Schwanbeck</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful lavish gardens of the Alcazar of the Christian Monarchs castle in Cordoba"
                        data-src="https://www.travelimager.com/images/spain/Spain-Cordoba-Alcazar-de-los-Reyes-Cristianos-Christian-Monarchs-Palace.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">
                        Cordoba
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Gardens_of_the_Alc%C3%A1zar_de_los_Reyes_Cristianos._C%C3%B3rdoba,_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vllasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/seville-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful sunset view of the massive Plaza de Espana in Seville"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-Espana.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/seville-attractions-guide">
                        Seville
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/koli79/9819787455" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/koli79/" rel="noopener noreferrer" target="_blank">
                            Francisco Colinet</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/madrid-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the vast and lavish Royal Palace of Madrid"
                        data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Palacio-Real-Royal-Palace-of-Madrid-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/madrid-attractions-guide">
                        Madrid
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/madrid-palace-royal-architecture-3544029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/rubyriojano-1153085/" rel="noopener noreferrer" target="_blank">
                            rubyriojano</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    