<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking the Mediterranean Sea from Cala d'Hort Mirador de l'Illa d'Es Vedra Viewpoint on the island of Ibiza, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Josep-de-sa-Talaia-Cala-dHort-Mirador-de-lIlla-dEs-Vedra-Viewpoint-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and clubs in Ibiza, Spain, and plan the perfect trip with our savable Ibiza Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="ibiza_spain" />
    <meta name="europe_attraction_guides" content="ibiza_spain" />
    <meta name="europe_destinations" content="ibiza_spain" />
    <meta name="europe_destination_guides" content="ibiza_spain" />
    <meta name="spain_attraction_guides" content="ibiza" />
    <meta name="spain_destinations" content="ibiza" />
    <meta name="spain_destination_guides" content="ibiza" />
    <meta name="google_maps_list" content="ibiza" />
    <meta property="og:title" content="Ibiza, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Josep-de-sa-Talaia-Cala-dHort-Mirador-de-lIlla-dEs-Vedra-Viewpoint.jpg">
    <meta name="twitter:title" content="Ibiza, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Josep-de-sa-Talaia-Cala-dHort-Mirador-de-lIlla-dEs-Vedra-Viewpoint.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/ibiza-attractions-guide">
    <title>Attractions Guide for Ibiza, Spain</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Ibiza, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#old-town-ibiza">Old Town Ibiza</a></div>
            <div><a href="#ibiza-town-clubs">Ibiza Town Clubs</a></div>
            <div><a href="#playa-den-bossa">Playa Den Bossa</a></div>
            <div><a href="#sant-antoni-portmany">Sant Antoni Portmany</a></div>
            <div><a href="#west-coast">West Coast Beaches</a></div>
            <div><a href="#cala-xarraca-beach">Cala Xarraca Beach</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Ibiza Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Ibiza is one of Spain's Balearic Islands, located quite far off the eastern coast of Spain in the Mediterranean Sea, approximately 90 miles (150 km) from Valencia. It's very easy to travel around the island without a car via public transportation.</p>
        <p>The island's main city is also named Ibiza, which has become somewhat of a mecca for electronic music fans, featuring several of the top 100 dance clubs in the world. Ibiza is a world famous party and nightlife destination, and even a UNESCO world heritage site with its beautiful coastline and beaches.</p>
    </section>


    <!-- Ibiza Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning view of Ibiza's Old Town near the entrance to the city's harbor"
                        src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Old-Town.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ibiza Old Town</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/comunicati/7103009701" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/comunicati/" rel="noopener noreferrer" target="_blank">
                                    Michela Simoncini</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ibiza Old Town viewed from the city's harbor with many boats"
                        src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Old-Town-Harbor-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ibiza Old Town Harbor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/erju/34698979915" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/erju/" rel="noopener noreferrer" target="_blank">
                                    Sergi Coll</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking Ibiza town and a cannon from the Baluarte de Santa Lucia balcony atop Ibiza Old Town's walls"
                        src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Baluarte-de-Santa-Lucia-Balcony.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Baluarte de Santa Lucia Balcony</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Laika_ac_Ibiza_(9487819593).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/68240136@N02" rel="noopener noreferrer" target="_blank">
                                    Laika ac</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Ibiza harbor from the Baluarte de Santa Lucia balcony atop Ibiza Old Town's walls"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Baluarte-de-Santa-Lucia-Ibiza-Harbor-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Baluarte de Santa Lucia View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Eivissa_-_Portua.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Eivissa_-_Portua.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Enrique Ayesta Perojo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cathedral of Santa Maria in Ibiza's old fortified town"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Catedral-de-Santa-Maria-Ibiza-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of Santa Maria</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ibiza_Cathedral.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ibiza_Cathedral.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Magerius</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval gate known as the Portal de ses Taules, one of the entrances to Ibiza Old Town"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Portal-de-ses-Taules-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Portal de ses Taules Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ses_taules.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Nanosanchez" rel="noopener noreferrer" target="_blank">
                                    Nanosanchez</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Ibiza Town Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-town-ibiza"></a>
        <h2 class="left-heading destination-section-heading">Old Town Ibiza</h2>
        <p>Within the city of Ibiza (also called Eivissa) you'll find the stunning <strong>Ibiza Old Town</strong> overlooking the harbor. Ibiza's Old Town consists of a massive fortified hilltop known as Dalt Vila, which is surrounded by imposing medieval walls.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>You can walk along the medieval walls of the Old Town to enjoy amazing panoramic views overlooking the harbor and the rest of the city. Along the walls you'll even find old cannons and historic structures you can explore. One of the best viewpoints overlooking the Old Town from the walls is the <strong>Baluarte de Santa Lucia</strong>.</p>
            <p>Within the fortified Dalt Vila complex be sure to see the striking rustic <strong>Cathedral of Santa Maria</strong> and its clocktower, from which you can take in views directly over the Ibiza Harbor. The Dalt Vila Old Town also looks fantastic when it lights up at night. Also impressive is the main historic entrance to the Old Town, the medieval <strong>Portal de ses Taules</strong>.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Ibiza Town Clubs Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ibiza-town-clubs"></a>
        <h2 class="left-heading destination-section-heading">Ibiza Town Area Clubs</h2>
        <p>Just across the harbor from the Old Town is the legendary Pacha Ibiza nightclub, which is one of the top 10 clubs in the world. Very close-by Pacha Ibiza is an architectural masterpiece, the Boas Ibiza apartment building, which features tiered multi-colored levels built in a wavy fashion overlooking a massive pool.</p>
        <h3>Clubs North of Ibiza Town</h3>
        <p>North of Ibiza Town are two more famous electronic music clubs, including Amnesia Ibiza, which is among the top 20 clubs in the world, and Privilege Ibiza, which is among the top 50 clubs in the world. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ibiza 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2292066432"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Playa Den Bossa and Sant Antoni de Portmany Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful beach and coastline of Playa Den Bossa in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Playa-Den-Bossa-Beach-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa den Bossa Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Playa_den_Bossa,_again_(2616170566).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/12489345@N02" rel="noopener noreferrer" target="_blank">
                                    Alex Harries</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over Playa Den Bossa from the Torre de Sal Rossa Tower in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Playa-Den-Bossa-Torre-de-sa-Sal-Rossa-Tower-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torre de sa Sal Rossa Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:PlayaDenBossaIbiza.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Scanbus" rel="noopener noreferrer" target="_blank">
                                    Dougie Macdonald</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of a town from the beach across the bay of Sant Antoni de Portmany in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Antoni-de-Portmany.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sant Antoni de Portmany</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/91477833@N04/8379312148/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/91477833@N04/" rel="noopener noreferrer" target="_blank">
                                    paulCIA</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant light blue waters of the Cala Saladeta Beach near Sant Antoni de Portmany in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Antoni-de-Portmany-Cala-Saladeta-Cove-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cala Saladeta Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ibiza_Spain_(2663965500).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/22098403@N00" rel="noopener noreferrer" target="_blank">
                                    Philip Larson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Playa Den Bossa Beach Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="playa-den-bossa"></a>
        <h2 class="left-heading destination-section-heading">Playa Den Bossa Beach&nbsp;&amp;&nbsp;Clubs</h2>
        <p>Just southwest of Ibiza Town along the <strong>Playa Den Bossa</strong> beach are two incredibly popular clubs that are among the top 5 in the world, the Ushuaia Beach Club, and the adjacent Hi Ibiza nightclub. Very close by you might attend an event at DC10, which is one of the top 20 clubs in the world, or Sankeys Ibiza, a top 100 club.</p>
        <p>The Playa Den Bossa area of Ibiza is located very close to the island's main airport.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also nearby Playa Den Bossa you can visit the <strong>Torre de sa Sal Rossa</strong> tower, which you can reach via a short hike from the end of Playa Den Bossa beach. Climbing to the top of this 16th century tower offers breathtaking panoramic views over this incredibly scenic coastline, out to Ibiza Town.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Sant Antoni de Portmany Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sant-antoni-portmany"></a>
        <h2 class="left-heading destination-section-heading">Sant Antoni de Portmany Beach&nbsp;&amp;&nbsp;Clubs</h2>
        <p>On the northern coast of the island you might visit the beautiful town of <strong>Sant Antoni de Portmany</strong>, which features popular nightclubs such as Ocean Beach Ibiza and Eden.</p>
        <p>You can take the bus from Sant Antoni de Portmany to the gorgeous <strong>Cala Saladeta</strong> beach, which is located just north of the town. Cala Saladeta is known for its stunning vibrant light blue waters and sandy beach, which is surrounded by scenic cliffs and rock formations. Alternatively you can reach this beach via ferry from Sant Antoni de Portmany.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ibiza 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9228283528"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Beaches and Coastline Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Clear light blue waters of Platje Comte Beach with a large island immediately off the coast in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Josep-de-sa-Talaia-Platges-de-Comte-Beach-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Platja de Comte Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cala_Conta_3_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Cala_Conta_3_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    anibal amaro</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cala d'Hort Beach with massive rock island just off the coast in the background in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Josep-de-sa-Talaia-Cala-dHort-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cala d'Hort Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_of_Es_Vedr%C3%A0_from_Cala_D%27hort_and_flowers.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Itelchan" rel="noopener noreferrer" target="_blank">
                                    Itelchan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking viewpoint high above the coastline with massive rock island in the background in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Josep-de-sa-Talaia-Cala-dHort-Mirador-de-lIlla-dEs-Vedra-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador de l'Illa d'Es Vedra Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/149169323@N02/30960848425/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/149169323@N02/" rel="noopener noreferrer" target="_blank">
                                    David Holderbach</a><br />
                           <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning blue and green waters of the Playa Cala Xaracca Beach with views across the cala in Ibiza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Sant-Joan-de-Labritja-Playa-Cala-Xarraca-Bay-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Playa Cala Xarraca Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/travelbusy/26541758205/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.travelbusy.com/gallery/" rel="noopener noreferrer" target="_blank">
                                    Travelbusy.com</a><br />
                           <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- West Coast Ibiza Beaches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="west-coast"></a>
        <h2 class="left-heading destination-section-heading">West Coast Beaches</h2>
        <p>Along the western coast of Ibiza you'll find two more amazing beaches which can easily be reached via car or public transportation from Ibiza Town.</p>
        <p>A bit west of Sant Antoni de Portmany is the popular <strong>Platja de Comte</strong> beach, which is known for its radiant light blue waters and beautiful scenery. This beach overlooks the wide Illa des Bosc island, which is only about 2,000 feet (600 m) off the coast.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Near the southwestern tip of Ibiza is the majestic <strong>Cala d'Hort</strong> beach, which features striking light blue waters and views overlooking two small islands just off the coast. From the beach you can take a hike of approximately 2.4 miles (3.9 km) round-trip to the gorgeous <strong>Mirador de l'Illa d'Es Vedra</strong> viewpoint, which looks out directly over the islands. Alternatively it's possible to drive up very close to the viewpoint.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Cala Xaraca Beach Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cala-xarraca-beach"></a>
        <h2 class="left-heading destination-section-heading">Cala Xarraca Beach</h2>
        <p>Another scenic beach to consider visiting is the <strong>Playa Cala Xarraca Beach</strong>, located on Ibiza's northern coast. This beach sits on a cove and features clear vivid blue waters along with grotto-like caves. Cala Xarraca is also a popular destination for snorkeling and even cliff diving. You can easily access this beach by bus or car from Ibiza Town.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Ibiza Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9978984767"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Ibiza Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/GuzNCSR1w1p">&rArr; Top Attractions &amp; Clubs</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/PK8UQrrVW762">&rArr; All Attractions &amp; Clubs</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful shot of Gaudi's La Sagrada Familia Basilica partially hidden behind trees and flowers in Barcelona"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        Barcelona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/sagrada-familia-cathedral-552084/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/patrice_audet-604833/" rel="noopener noreferrer" target="_blank">
                            Patrice_Audet</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/valencia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning ultra-contemporary archtectural masterpiece of the City of Arts and Sciences in Valencia, which rsomewhat resembles a whale skeleton"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Complex-Ciudad-de-las-Artes-y-las-Ciencias.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/valencia-attractions-guide">
                        Valencia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wwarby/34150942904" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wwarby/" rel="noopener noreferrer" target="_blank">
                            William Warby</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/costa-blanca-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Idyllic sandy beach with beautiful blue waters and the massive Penyal d'Ifac Rock in the background in the city of Calpe"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Calp-Penyal-dIfac-Rock-Penon-de-Ifach-Beach-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/costa-blanca-attractions-guide">
                        Costa Blanca
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Pe%C3%B1%C3%B3n_de_Ifach_-_Calpe-_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Pe%C3%B1%C3%B3n_de_Ifach_-_Calpe-_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Wyemji</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    