<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View of the Alcazar de Segovia Castle from the Mirador de la Pradera de San Marcos below, Segovia, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Field-Viewpoint-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Segovia, Spain, and plan the perfect trip with our savable Segovia Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="segovia_spain" />
    <meta name="europe_attraction_guides" content="segovia_spain" />
    <meta name="europe_destinations" content="segovia_spain" />
    <meta name="europe_destination_guides" content="segovia_spain" />
    <meta name="spain_attraction_guides" content="segovia" />
    <meta name="spain_destinations" content="segovia" />
    <meta name="spain_destination_guides" content="segovia" />
    <meta name="google_maps_list" content="segovia" />
    <meta property="og:title" content="Segovia, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Field-Viewpoint.jpg">
    <meta name="twitter:title" content="Segovia, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Field-Viewpoint.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/segovia-attractions-guide">
    <title>Attractions Guide for Segovia, Spain</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Segovia, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#aqueduct-of-segovia">Aqueduct of Segovia</a></div>
            <div><a href="#alcazar-castle">Alcazar Castle</a></div>
            <div><a href="#segovia-cathedral">Segovia Cathedral</a></div>
            <div><a href="#plazas">Plazas</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
            <div><a href="#la-granja-palace">La Granja Palace</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Segovia Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Located northwest of Madrid is the city of Segovia, which is known for its incredible castle and ancient Roman aqueduct. The city's historic center is surrounded by imposing walls and is a UNESCO world heritage site.</p>
    </section>


    <!-- Segovia Aqueduct and Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Below the incredibly well-preserved ancient aquduct of Segovia, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Segovia-Aqueduct-of-Segovia-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aqueduct of Segovia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tomasfano/6851856425" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tomasfano/" rel="noopener noreferrer" target="_blank">
                                    Tomas Fano</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Viewpoint overlooking the top and side of the anicent aqueduct of Segovia, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Segovia-Mirador-Aqueduct-of-Segovia-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador Aqueduct Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mpeinadopa/9285155959/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mpeinadopa/" rel="noopener noreferrer" target="_blank">
                                    DM.Peinado</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Front view of the imposing heavily fortified Alcazar de Segovia Castle in Segovia, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alcazar de Segovia Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Segovia_-_Alcazar_ext_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Selbymay" rel="noopener noreferrer" target="_blank">
                                    Selbymay</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from below from the grassy field viewpoint known as the Mirador de la Pradera de San Marcos of the Alcazar de Segovia Castle in Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador de la Pradera de San&nbsp;Marcos View​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jgonzac/14728202065" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jgonzac/" rel="noopener noreferrer" target="_blank">
                                    Jaime Gonzalez</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from across a small valley from the viewpoint known as the Mirador de Alcazar y los dos Valles of the Alcazar de Segovia Castle in Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-del-Alcazar-y-los-dos-Valles-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador del Alcazar y Los&nbsp;Dos&nbsp;Valles&nbsp;View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/luis_fernandez/16193485811" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/luis_fernandez/" rel="noopener noreferrer" target="_blank">
                                    Luis A. Fernandez Corral</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Segovia Aqueduct Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="aqueduct-of-segovia"></a>
        <h2 class="left-heading destination-section-heading">Aqueduct of Segovia</h2>
        <p>The <strong>Aqueduct of Segovia</strong> was constructed during the 1st century by the Ancient Romans and is among the best-preserved Roman aqueducts in the world, along with the Pont du Gard of Southern France. Unlike the Pont du Gard, this breathtaking aqueduct runs directly through a city, connecting to the southern entrance of Segovia's historic center.</p>
        <p>You can walk along part of Segovia's walls and enjoy views of the aqueduct adjacent to where the aqueduct meets the walls, at the <strong>Mirador Aqueduct</strong>.</p>
    </section>


    <!-- Segovia Alcazar Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alcazar-castle"></a>
        <h2 class="left-heading destination-section-heading">Alcazar de Segovia Castle</h2>
        <p>On the other end of the city's historic center is the <strong>Alcazar de Segovia</strong>, a fairytale-like castle which literally inspired Disney's Cinderella Castle. Within the castle you can admire its historic medieval interiors and intricate halls.</p>
        <p>Just outside of Segovia's historic center are two amazing viewpoints of the castle. The closer viewpoint is the <strong>Mirador de la Pradera de San Marcos</strong>, which you can reach via a steep pathway which begins near the castle.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Hiking Instructions for Castle Viewpoints</h3>
            <p>The path to the viewpoint is downhill and leads to another part of town, nearby which is a large open grassy field from which you can admire picturesque views of the castle. From here you can walk along the Paseo del Eresma pathway next to the Eresma River before crossing a bridge and following a stream which flows below/around the Old Town, walking through a small scenic forest with impressive ruins before circling to the other side of town where you can re-enter at the fortified city at the Puerta de San Andres Gate.</p>
            <p>The total length of this incredible trail which offers different perspectives of Segovia and the castle is approximately 1.4 miles (2.2 km), starting from the castle.</p>
            <p>You can add a steep 0.5 mile (0.8 km) round-trip detour to the trail below the castle to reach the lesser-known viewpoint, the <strong>Mirador del Alcazar y los dos Valles</strong>. This amazing viewpoint sits at eye-level with the castle and also provides views of Segovia's cathedral behind the castle. You can even further your detour to the nearby Mirador del Ultimo Pino for even better views of the castle and cathedral.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Segovia 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3360346345"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Segovia Cathedral and Plazas Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the massive Segovia Cathedral from the Plaza Mayor in Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Segovia-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Segovia Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/graeme/23945908938/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/graeme/" rel="noopener noreferrer" target="_blank">
                                    Graeme Churchard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Segovia's main plaza, the Plaza Mayor, with the Segovia Cathedral in the background"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Plaza-Mayor-Major-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza Mayor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/emijrp/27166280152/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/emijrp/" rel="noopener noreferrer" target="_blank">
                                    Emilio</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Well-preserved Medieval entrance gate to the city of Segovia known as the Puerta de San Andres"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Puerta-de-San-Andres-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puerta de San Andres Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Puerta_de_San_Andr%C3%A9s_(26700439543).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.wikidata.org/wiki/Q30564104" rel="noopener noreferrer" target="_blank">
                                    Emilio J. Rodriguez Posada</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely plaza surrounded by rustic building known as the Plaza del Medina del Campo in the Old Town of Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Plaza-de-Medina-del-Campo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza de Medina del Campo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jrthibault/16484640595" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jrthibault/" rel="noopener noreferrer" target="_blank">
                                    Jean Robert Thibault</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cathedral of Segovia Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="segovia-cathedral"></a>
        <h2 class="left-heading destination-section-heading">Cathedral of Segovia</h2>
        <p>Within the city's historic center you'll also find the <strong>Cathedral of Segovia</strong>, a massive 16th century cathedral with complex gothic architecture. The cathedral's interior is quite beautiful, and you can climb the church's giant bell tower for stunning panoramic views overlooking the city. Within this cathedral is a vast collection of exhibits and treasures which you could spend hours exploring.</p>
    </section>


    <!-- Segovia Plazas Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="plazas"></a>
        <h2 class="left-heading destination-section-heading">Plazas</h2>
        <p>Adjacent to the Segovia Cathedral is the <strong>Plaza Mayor</strong>, a large town square surrounded by lovely historic buildings. Also nearby the cathedral is one of the most impressive gates along the city's walls, the imposing <strong>Puerta de San Andres</strong>.</p>
        <p>Another impressive plaza nearby is the the smaller <strong>Plaza de Medina del Campo</strong>, which sits beside a smaller church and is surrounded by rustic historic buildings.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Segovia 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2047264676"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Segovia More Attractions and La Granja Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the Casa de los Picos house with its walls covered in repeating stone geometric pyramids in Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Casa-de-Los-Picos-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa de los Picos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_de_los_Picos_de_Segovia.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Rastrojo" rel="noopener noreferrer" target="_blank">
                                    Rastrojo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the river of the medieval Royal Mint House of Coins in Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Museo-Real-Casa-de-Monedo-de-Segovia-Mint-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Mint House of Coins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_de_la_Moneda_Segovia_complejo_de_edificios_lou.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Lourdes_Cardenal" rel="noopener noreferrer" target="_blank">
                                    Lourdes Cardenal</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gardens of the Royal Palace of La Granja of San Ildefonso outside Segovia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Royal-Palace-of-La-Granja-of-San-Ildefonso.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Palace of La Granja of San&nbsp;Ildefonso</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palacio_y_jardines_de_San_Ildefonso.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Palacio_y_jardines_de_San_Ildefonso.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Choniron</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Segovia More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <p>Nearby the Plaza de Medina del Campo is the <strong>Casa de Los Picos</strong>, a unique building with its exterior covered in repeating geometric stone pyramids, making for a fascinating sight. Adjacent is a great viewpoint looking over the town, the Mirador de la Canaleja.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Just north of the walled historic center of Segovia near the castle is another interesting attraction, the Museo Real Casa de Moneda de Segovia (or <strong>Royal Mint House of Coins</strong>). The 16th century Royal Mint House was the first mechanized coin-producing factory in Spain and is among the oldest industrial buildings in Europe. The mint now serves as a museum showcasing old industrial processes.</p>
            <p>You can access the Royal Mint House via the same path you would take from the castle to reach the first viewpoint below the castle, the Mirador de la Pradera de San Marcos.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- La Granja Royal Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="la-granja-palace"></a>
        <h2 class="left-heading destination-section-heading">Royal Palace of La Granja de San&nbsp;Ildefonso</h2>
        <p>To the southeast of Segovia in a nearby suburb of the city is the 18th century <strong>Royal Palace of La Granja of San Ildefonso</strong>, a lavish baroque palace and former royal residence. This massive summer residence was modeled after the Palace of Versailles and is among the most magnificent palaces in Spain.</p>
        <p>The palace contains opulent and highly ornate interiors filled with historic furnishings that you can tour. The palace is also surrounded by vast elegant gardens that you can explore, where you'll find many extravagant fountains and dense woodlands.</p>
        <p>You can easily reach the Palace of La Granja with a short bus ride and walk from Segovia, which takes approximately 30 minutes. Alternatively, the palace is about 15 minutes from Segovia by car.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Segovia Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5318519179"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Segovia Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/2L1aZzaSUT22">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/madrid-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the vast and lavish Royal Palace of Madrid"
                        data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Palacio-Real-Royal-Palace-of-Madrid-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/madrid-attractions-guide">
                        Madrid
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/madrid-palace-royal-architecture-3544029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/rubyriojano-1153085/" rel="noopener noreferrer" target="_blank">
                            rubyriojano</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/avila-and-salamanca-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View of the imposing medieval alls of Avila stretching for kilometers"
                        data-src="https://www.travelimager.com/images/spain/Spain-Avila-Avila-Walls.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/avila-and-salamanca-attractions-guide">
                        Avila &amp; Salamanca
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jlcernadas/19082333530" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jlcernadas/" rel="noopener noreferrer" target="_blank">
                            Jose L. Cernadas Iglesias</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/toledo-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Famous Alcantara Bridge, a medieval entrance to the walled city of Toledo with the Alcazar de Toledo in the background"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Puente-de-Alcantara-Bridge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/toledo-attractions-guide">
                        Toledo
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/tomasfano/6851856425" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/fran1978/" rel="noopener noreferrer" target="_blank">
                            Fran Santiago</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    