<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Wide angle view of the vast Plaza de Espana of Seville, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-Espana-Wide-Angle-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Seville, Spain, and plan the perfect trip with our savable Seville Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="seville_spain" />
    <meta name="europe_attraction_guides" content="seville_spain" />
    <meta name="europe_destinations" content="seville_spain" />
    <meta name="europe_destination_guides" content="seville_spain" />
    <meta name="spain_attraction_guides" content="seville" />
    <meta name="spain_destinations" content="seville" />
    <meta name="spain_destination_guides" content="seville" />
    <meta name="google_maps_list" content="seville" />
    <meta property="og:title" content="Seville, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-Espana-Wide-Angle.jpg">
    <meta name="twitter:title" content="Seville, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-Espana-Wide-Angle.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/seville-attractions-guide">
    <title>Attractions Guide for Seville, Spain</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Seville, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#plaza-espana">Plaza Espa&ntilde;a</a></div>
            <div><a href="#royal-alcazar">Royal Alcazar</a></div>
            <div><a href="#metropol-parasol">Metropol Parasol</a></div>
            <div><a href="#seville-cathedral">Seville Cathedral</a></div>
            <div><a href="#waterfront">Waterfront</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#palaces">Palaces</a></div>
            <div><a href="#more-attractions">More</a></div>
            <div><a href="#italica-roman-ruins">Italica Roman Ruins</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Seville Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Seville is one of the largest cities in Southern Spain and is the capital of the Andalusia region. Most of the city's top attractions can be found within the city center.</p>
    </section>


    <!-- Seville Top Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunningly beautiful sunset view of the massive Plaza de Espana in Seville, Spain" 
                        src="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-Espana.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza de Espa&ntilde;a</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/koli79/9819787455" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/koli79/" rel="noopener noreferrer" target="_blank">
                                    Francisco Colinet</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Fine gardens of the Maria Luisa Park near the Plaza de Espana in Seville, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Seville-Parque-de-Maria-Luisa-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parque de Maria Luisa Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Parque_de_Maria_Luisa,_Sevilla.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/27130347@N02" rel="noopener noreferrer" target="_blank">
                                    Robert Morea</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Intricately designed architectural elements of a patio within the Royal Alcazar in Seville, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Seville-Real-Alcazar-de-Sevilla-Royal-Alcazar-Patio-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Alcazar of Seville<br />(Patio)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/seko2323/29277731522" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/seko2323/" rel="noopener noreferrer" target="_blank">
                                    Sergio S.C</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Interior arches and Islamic architecture within the Royal Alcazar in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Real-Alcazar-de-Sevilla-Royal-Alcazar-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Alcazar of Seville<br />(Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alc%C3%A1zar_of_Seville_(7077897551).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/97006177@N00" rel="noopener noreferrer" target="_blank">
                                    Michal Osmenda</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Unique ultra-modern public installation in Seville, Spain knwon as the Metropol Parasol or Las Setas"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Plaza-de-la-Encarnacion-Metropol-Parasol-Las-Setas-de-Sevilla-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Metropol Parasol (Las&nbsp;Setas)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hernanpc/17193358720" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hernanpc/" rel="noopener noreferrer" target="_blank">
                                    Hernan Pinera</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Plaza de Espana Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="plaza-espana"></a>
        <h2 class="left-heading destination-section-heading">Plaza de Espa&ntilde;a</h2>
        <p>Seville's most iconic sight is the breathtakingly gorgeous <strong>Plaza de Espa&ntilde;a</strong>, a public plaza so vast that it hosts a canal you can paddleboat in. Spanning the plaza's canal are several highly ornate and colorful bridges, and towering above the plaza is a mesmerizing colossal structure.  This structure is lined with columns and arches, and the entire plaza is adorned with intricate architectural features.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The Plaza de Espa&ntilde;a sits adjacent to the <strong>Parque de Maria Luisa</strong>, a lovely park hosting many monuments and fountains that you might like to explore.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Royal Alcazar Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="royal-alcazar"></a>
        <h2 class="left-heading destination-section-heading">Royal Alcazar of Seville</h2>
        <p>Just north of the historic Royal Tobacco Factory building (which now operates as a university) is another iconic city sight, the <strong>Royal Alcazar of Seville</strong>.</p>
        <p>This UNESCO listed fortified palace contains incredible decadent interiors with extremely complex architectural features and mosaic tile designs. The palace showcases a stunning mix of Moorish and gothic architecture with picturesque patios and extravagantly decorated halls. The Alcazar even hosts fine gardens with exotic plants and peacocks.</p>
    </section>


    <!-- Metropol Parasol Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="metropol-parasol"></a>
        <h2 class="left-heading destination-section-heading">Metropol Parasol</h2>
        <p>Another iconic sight in Seville is the <strong>Metropol Parasol</strong>, which is also known as Las Setas de Sevilla. This stunning ultra-contemporary structure is quite unique and resembles giant connected mushroom parasols, which cover a plaza and marketplace. Be sure to walk along the pathway that winds along the top of the structure, from which you can enjoy great city views.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Underground beneath the Metropol Parasol is the Antiquarium, an archaeological museum housing the remains of excavated medieval Moorish and ancient Roman structures, as well as artifacts.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Seville 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2649065756"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Seville Cathedral, Waterfront, and Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the giant Cathedral of Seville"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Sevilla-Cathedral-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of Sevilla</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/54214210@N04/19470818718" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/54214210@N04/" rel="noopener noreferrer" target="_blank">
                                    Sevilla Congress & Conv.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View looking along Seville's river at the histroic Torre del Oro tower"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Torre-de-Oro-Gold-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torre del Oro Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tower_of_Gold.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Tower_of_Gold.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    MontyRamone89</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the lovely Puente de Isabel II Triana Bridge from the river in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Puente-de-Isabel-II-Puente-de-Triana-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puente de Isabel II Triana Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:WLM14ES_-_Puente_de_Triana_-_Sergio_Ram%C3%B3n.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/93158937@N02" rel="noopener noreferrer" target="_blank">
                                    Sergio Ramon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior hallway of the Archive of the Indies Museum in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Archivo-de-Indias-General-Archive-of-the-Indies-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Archive of the Indies Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Archivo_General_de_Indias._Sevilla.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Archivo_General_de_Indias._Sevilla.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Jose L. Filpo</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exhibit within the Seville Museum of Fine Arts in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Museo-Bellas-Artes-Fine-Arts-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Seville Museum of Fine&nbsp;Arts</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museo_bellas_artes_2013001.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Anual" rel="noopener noreferrer" target="_blank">
                                    Anual</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Seville Cathedral Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="seville-cathedral"></a>
        <h2 class="left-heading destination-section-heading">Seville Cathedral</h2>
        <p>Nearby the Royal Alcazar is the city's expansive 15th century <strong>Seville Cathedral</strong>. This gothic cathedral is another UNESCO world heritage site and was once the largest cathedral in the world. The building's exterior is elegantly decorated with intricate gothic elements. The cathedral's towering interior is also stunning and hosts the tomb of Christopher Columbus. You can climb the cathedral's giant bell tower for excellent views over the city center.</p>
    </section>


    <!-- Seville Waterfront Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="waterfront"></a>
        <h2 class="left-heading destination-section-heading">Seville Waterfront</h2>
        <p>To the south of the Seville Cathedral is the Guadalquivir River which flows through the city. Along the riverfront is the ornate <strong>Torre del Oro</strong>, a 13th century watchtower which also served as a medieval prison. Today the watchtower serves as a small museum and also hosts fantastic views over the area.</p>
        <p>Further north along the river is the <strong>Puente de Triana Bridge</strong> from which you can enjoy great views over the river. At the southern side of the bridge is a lovely and colorful little chapel, the Capilla Virgen del Carmen.</p>
    </section>


    <!-- Seville Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <h3>Archivo de Indias</h3>
        <p>Behind the Seville Cathedral is the UNESCO listed Archivo de Indias (or <strong>General Archive of the Indies</strong>), a Renaissance era merchant exchange which houses many important documents related to the Spain's colonial influence in the Americas. Important artifacts you can view in this museum include the journal of Christopher Columbus and the Bull of Demarcation Inter Caetera which split the New World between Spain and Portugal.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Flamenco Museum</h3>
            <p>Just north of the Seville Cathedral is the popular Flamenco Museum, which hosts many exhibitions on this traditional dancing style which originated in Southern Spain. Nearby is an impressive tile-covered city square, the Plaza Nueva.</p>
            <h3>Museum of Fine Arts</h3>
            <p>Further northwest from Plaza Nueva is the city's most popular museum, the <strong>Seville Museum of Fine Arts</strong>. The museum is hosted within a grand 17th century palace and contains works mainly produced by Spanish and Sevillian artists, including Spanish masterpieces.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Seville 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3308267657"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Seville Palaces and More Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Columnned two-story courtyard of the Casa de Pilatos Palace in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Casa-de-Pilatos-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa de Pilatos Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Casa_de_Pilatos-Sevilla.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chosovi" rel="noopener noreferrer" target="_blank">
                                    Kiko Leon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush garden and courtyard of the Palacio de las Duenas palace in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Palacio-de-las-Duenas-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palacio de las Duenas Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Patio_Principal_-_Palacio_de_las_Due%C3%B1as.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Patio_Principal_-_Palacio_de_las_Due%C3%B1as.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Mangelrp</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Finely decorated interior of the Palace of the Countess of Lebrija in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Palacio-de-la-Condesa-de-Lebrija-Palace-of-the-Countess.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palace of the Countess of Lebrija</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_-_Palacio_de_la_Condesa_de_Lebrija.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jbribeiro1" rel="noopener noreferrer" target="_blank">
                                    Jose L. Bernardes Ribeiro</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bright yellow exterior of the Basilica de la Macarena in Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Basilica-de-la-Esperanza-Macarena-y-and-Puerta-de-la-Macarena-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica de la Macarena</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Puerta_de_la_Macarena_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gzzz" rel="noopener noreferrer" target="_blank">
                                    Gzzz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Imposing medieval Walls of Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Walls-of-Seville.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Walls of Seville</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Seville_Old_City_Wall.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Asterion" rel="noopener noreferrer" target="_blank">
                                    Asterion</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Roman stadium in the former city of Italica, part of the Conjunto Archaeological Park near Seville, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Seville-Santiponce-Conjunto-Arquelogico-de-Italica-Ancient-Roman-Archaeological-Site.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Italica Conjunto Roman Archaeological&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Italica_amphitheatre_Santiponce_Andalucia_Spain.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pufacz" rel="noopener noreferrer" target="_blank">
                                    Pufacz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Seville Palaces Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="palaces"></a>
        <h2 class="left-heading destination-section-heading">Palaces of Seville</h2>
        <p>Southeast of the Metropol Parasol is the popular <strong>Casa de Pilatos</strong>, a highly ornate 16th century palace used as a setting in the classic 1960s film Lawrence of Arabia. This palace showcases magnificent azulejo tile-works and lavish interiors filled with impressive Greek and Roman statues. The Casa de Pilatos blends Italian Renaissance and Moorish styles with fantastic results. The palace also contains fine gardens and a breathtaking courtyard.</p>
        <p>To the north of the Casa de Pilatos is the <strong>Palacio de las Duenas</strong> (Palace of the Dukes of Alba). This 15th century palace contains intricate furnishing and decor, as well as lovely gardens. The palace's historic interiors are filled with a large collection of fine art and artifacts. Additionally, this palace hosts beautiful Moorish style patios and elaborate tile-works.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Just west of the Metropol Parasol is yet another impressive palace, the Palacio de la Condesa de Lebrija (<strong>Palace of the Countess of Lebrija</strong>). Inside this decadent 16th century home you'll find ancient Roman and Greek statues, as well as other ancient artifacts and fine art. Throughout the palace are stunningly elaborate Roman mosaics and azulejo tile works, as well as many beautiful architectural features including elegant Moorish arches.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Seville More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">Basilica de la Macarena &amp; Walls&nbsp;of&nbsp;Seville</h2>
        <p>On the northern edge of Seville's center is the vibrant <strong>Basilica de la Macarena</strong>, which contains extravagant and highly ornate interiors. Around the basilica are many vivid yellow structures, including the impressive Arco de la Macarena, a medieval gate to the city.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Walls of Seville</h3>
            <p>Adjacent to the Arco de la Macarena is a well-preserved section of the medieval <strong>Walls of Seville</strong>, which once surrounded the city center. You can walk alongside a 0.3 mile preserved section of these walls if you like, which includes several small towers and gates.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Ancient Ruined City of Italica Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="italica-roman-ruins"></a>
        <h2 class="left-heading destination-section-heading">Ancient Roman City of Italica Ruins</h2>
        <p>In the neighboring suburb of Santiponce just northwest of Seville are the stunning remains of the ancient Roman city Italica. The site is known as the <strong>Conjunto Arquelogico de Italica</strong> and is quite large. This ancient city was the birthplace of two important Roman emperors, Hadrian and Trajan.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The most prevalent sturcture at the site is the massive Amphitheater of Italica. The site also contains many columns, beautiful elaborate mosaics, and the foundations of countless ancient buildings. Within the town of Santiponce you can also find a well-preserved ancient Roman theatre.</p>
            <p>If you'd like to see the artifacts discovered at the site you can visit the Archaeological Museum of Seville, which is located at the southern end of the Parque de Maria Luisa park, near the Plaza de Espa&ntilde;a.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Seville Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1995185980"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Seville Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qrJVAC7NCeJ2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/HhALBSsHgQF2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful lavish gardens of the Alcazar of the Christian Monarchs castle in Cordoba"
                        data-src="https://www.travelimager.com/images/spain/Spain-Cordoba-Alcazar-de-los-Reyes-Cristianos-Christian-Monarchs-Palace.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">
                        Cordoba
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Gardens_of_the_Alc%C3%A1zar_de_los_Reyes_Cristianos._C%C3%B3rdoba,_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vllasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/malaga-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Wide view overlooking Malaga and the coast from the Gibralfaro Castle in Malaga, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Malaga-Castillo-Gibralfaro-Castle-Mirador-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/malaga-attractions-guide">
                        Malaga
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/schwanhals/40803969831/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/schwanhals/" rel="noopener noreferrer" target="_blank">
                            Johannes Schwanbeck</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/granada-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view of the Generalife Gardens' Patio de la Acequia in Granada"
                        data-src="https://www.travelimager.com/images/spain/Spain-Granada-Alhambra-Generalife-Gardens-Patio-de-la-Acequia.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/granada-attractions-guide">
                        Granada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/125945909@N05/15620137129/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/125945909@N05/" rel="noopener noreferrer" target="_blank">
                            Min Zhou</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful and iconic natural arch formations along the coastal cliffs of Lagoa at the famous Praia da Marniha Beach, along Portugal's Algarve Coast"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Algarve-Coast-Lagoa-Praia-da-Marinha-Beach-Arco-Natural-Sea-Arches.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">
                        Algarve Coast, Portugal
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/107521854@N05/16307543387" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/107521854@N05/" rel="noopener noreferrer" target="_blank">
                            Luis Ascenso</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    