<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View from across the Tagus River of Central Toledo's old Walled City at sunset, Toledo, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Toledo-Walled-City-View-from-behind-Tagus-River-Sunset-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Toledo, Spain, and plan the perfect trip with our savable Toledo Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="toledo_spain" />
    <meta name="europe_attraction_guides" content="toledo_spain" />
    <meta name="europe_destinations" content="toledo_spain" />
    <meta name="europe_destination_guides" content="toledo_spain" />
    <meta name="spain_attraction_guides" content="toledo" />
    <meta name="spain_destinations" content="toledo" />
    <meta name="spain_destination_guides" content="toledo" />
    <meta name="google_maps_list" content="toledo" />
    <meta property="og:title" content="Toledo, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Toledo-Walled-City-View-from-behind-Tagus-River-Sunset.jpg">
    <meta name="twitter:title" content="Toledo, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Toledo-Walled-City-View-from-behind-Tagus-River-Sunset.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/toledo-attractions-guide">
    <title>Attractions Guide for Toledo, Spain</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Toledo, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#alcazar-and-bridges">Bridges &amp; Alcazar</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#synagogues-monasteries">Synagogues</a></div>
            <div><a href="#north">Gates &amp; Mosque</a></div>
            <div><a href="#hiking">Hiking &amp; Views</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Toledo Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Toledo is a picturesque medieval city built atop a hill, which is surrounded on three sides by a giant bend in the Tagus River. The old town of Toledo is located within this river bend and is surrounded by impressive fortified walls. You'll find a majority of the city's attractions and many charming rustic structures within the old walled town.</p>
        <p>Toledo is located just southwest of Madrid, which is directly connected to Toledo via a short train ride.</p>
    </section>


    <!-- Toledo Alcazar, Bridges, and Churches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Famous Alcantara Bridge, a medieval entrance to the walled city of Toledo with the Alcazar de Toledo in the background"
                        src="https://www.travelimager.com/images/spain/Spain-Toledo-Puente-de-Alcantara-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alcantara Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tomasfano/6851856425" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/fran1978/" rel="noopener noreferrer" target="_blank">
                                    Fran Santiago</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Massive and imposing exterior of the Alcazar de Toledo Palace towering above the old city"
                        src="https://www.travelimager.com/images/spain/Spain-Toledo-Alcazar-de-Toledo-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alcazar de Toledo Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Alc%C3%A1zar_de_Toledo_-_03.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Kadellar" rel="noopener noreferrer" target="_blank">
                                    Carlos Delgado</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the medieval San Martin's Bridge from the river on a cloudy day in Toledo, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Toledo-Puente-San-Martin-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Martin's Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/100759833@N05/16180014997" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/100759833@N05/" rel="noopener noreferrer" target="_blank">
                                    Santiago Lopez-Pastor</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering exterior of the Toledo Cathedral in the heart of Toledo's historic walled town"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Toledo-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Toledo Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sonofgroucho/11451378674" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sonofgroucho/" rel="noopener noreferrer" target="_blank">
                                    Son of Groucho</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the historic buildings of Toledo's walled town from  the tower of the Jesuit Church of San Ildefonso in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Jesuit-Church-Iglesia-San-Ildefonso.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jesuit Church of San&nbsp;Ildefonso (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/azwegers/32819717342" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/azwegers/" rel="noopener noreferrer" target="_blank">
                                    Arian Zwegers</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Toledo Bridges and Alcazar Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alcazar-and-bridges"></a>
        <h2 class="left-heading destination-section-heading">Bridges &amp; Alcazar</h2>
        <p>On the northeastern side of Toledo is one of the historic entrances to the city, the stunning <strong>Alcantara Bridge</strong>, from which you can enjoy views looking up at the Alcazar palace and the city's walls.</p>
        <p>Just above the bridge is the massive 16th century <strong>Alcazar de Toledo</strong>, a former royal palace which is the most iconic sight in the city. The Alcazar was formerly the site of an ancient Roman palace, and today serves as a large Army Museum with historic weaponry and armor on display.</p>
        <h3>San Martin's Bridge &amp; Zipline</h3>
        <p>At the western edge of the walled old town is another incredible medieval bridge spanning the Taugus River, <strong>San Martin's Bridge</strong>. Both ends of the bridge are covered with fortified portals, and from the bridge you can enjoy great views over the river valley below.</p>
        <p>An even more exciting way to cross the Taugus River is to zipline over it at the extremely popular Fly Toledo, which travels alongside the bridge.</p>
    </section>


    <!-- Toledo Churches -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churhes</h2>
        <p>In the middle of Toledo's walled old town is the towering <strong>Toledo Cathedral</strong>, an extremely elaborate and stunning gothic cathedral built in the 13th century. The cathedral's interior is remarkable as well.</p>
        <p>Nearby the cathedral is the baroque <strong>Jesuit Church of San Ildefonso</strong>. This church is known for its tower, which you can climb for outstanding views overlooking the old town's skyline.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Toledo 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1335984084"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Toledo Museums and Synagogues Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large column and arch-lined inner courtyard of the Santa Cruz Museum in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Hospital-Museo-de-Santa-Cruz-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museo de Santa Cruz Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hospital_de_Santa_Cruz_(Toledo)._Patio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jl_FilpoC" rel="noopener noreferrer" target="_blank">
                                    Jose Luis Filpo Cabana</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the El Greco Museum, with collections in his former home in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Casa-Museo-de-El-Greco-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museo del Greco Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/100759833@N05/15905978863/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/100759833@N05/" rel="noopener noreferrer" target="_blank">
                                    Santiago Lopez-Pastor</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the famous roof and intricately carved wall designs of the medieval Synagogue of El Transito in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Sinagoga-del-Transito-Synagogue.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Synagogue of El Transito</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/100759833@N05/15964520192/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/100759833@N05/" rel="noopener noreferrer" target="_blank">
                                    Santiago Lopez-Pastor</a><br />
                           <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior arches of the medieval Synagogue of Santa Maria La Blanca in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Sinagoga-de-Santa-Maria-La-Blanca-Syngogue.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Synagogue of Santa Maria La&nbsp;Blanca</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/prof_richard/29414491481" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/prof_richard/" rel="noopener noreferrer" target="_blank">
                                    Richard Mortel</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricately designed ope window in front of the cloister of the Monastery of San Juan de los Reyes in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Monastery-of-San-Juan-de-los-Reyes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monastery of San Juan de los Reyes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/aamaianos/6301363699/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/aamaianos/" rel="noopener noreferrer" target="_blank">
                                    amaianos</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Toledo Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>North of the Alcazar de Toledo is the walled city's main plaza, Zocodover, which is surrounded by impressive historic buildings.</p>
        <p>Adjacent to the Zocodover Plaza is the <strong>Museo de Santa Cruz</strong>, the city's main museum. This museum hosts exhibits in archaeology, decorative arts, and fine arts, including works by El Greco. The Santa Cruz Museum is housed within a former 16th century hospital which also hosts a lovely cloister.</p>
        <p>On the western side of Toledo is one of the city's most popular museums, the <strong>Museo del Greco</strong>, which recreates the home of the famous El Greco, who spent much of his life in Toledo creating art. The museum houses many of the artist's works, along with works by other 17th century Spanish artists.</p>
    </section>


    <!-- Toledo Synagogues and Monasteries -->
    <section class="destination-section">
        <a class="anchor" id="synagogues-monasteries"></a>
        <h2 class="left-heading destination-section-heading">Synagogues &amp; Monasteries</h2>
        <p>Nearby the Greco Museum are two beautiful medieval synagogues, including the 13th century <strong>Synagogue of El Transito</strong> which is known for its highly embellished stucco decor. Even older is the 12th century <strong>Synagogue of Santa Maria La Blanca</strong> is the oldest preserved synagogue in Europe. This structure is known for its ornate Moorish-style horseshoe arches which fill the interior.</p>
        <p>Also on the western side of the city near the synagogues is the <strong>Monasterio de San Juan de los Reyes</strong>, an intricate gothic monastery with a captivating exterior and a lovely cloister.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Toledo 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1379274167"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Northern Toledo and Viewpoints Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior columns of the anicent and paritally-ruined Cristo de La Luz Mosque in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Mezquita-del-Cristo-de-La-Luz-Bab-Al-Mardum-Mosque.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mezquita del Cristo de La Luz Mosque</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Toledo_Mezquita_de_Bab_Al_Mardum_(Cristo_de_la_luz).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Toledo_Mezquita_de_Bab_Al_Mardum_(Cristo_de_la_luz).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Jose M. Moreno Santiago</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval Puerta del Sol Gate in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Puerta-del-Sol-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puerta del Sol Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/100759833@N05/15932802062" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/100759833@N05/" rel="noopener noreferrer" target="_blank">
                                    Santiago Lopez-Pastor</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Imposing castle-like Puerta de Bisagra Gate in Toledo, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Puerta-de-Bisagra-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Puerta de Bisagra Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Puerta_de_Bisagra_toledo_2014_(cropped).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                                    Chensiyuan</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic view overlooking Toledo at sunset from the Mirador del Valle Viewpoint"
                        data-src="https://www.travelimager.com/images/spain/Spain-Toledo-Mirador-del-Valle-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirador del Valle Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Toledo_from_the_El_Greco_View_Point.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jiuguang_Wang" rel="noopener noreferrer" target="_blank">
                                    Jiuguang Wang</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Northern Toledo Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="north"></a>
        <h2 class="left-heading destination-section-heading">Northern Toledo Gates &amp; Medieval Mosque</h2>
        <p>On the northern side of the walled city is the <strong>Mezquita del Cristo de La Luz</strong>, a striking 1,000 year old mosque showcasing fine medieval Islamic architecture. From the Mezquita you can take in great views over Northern Toledo.
        <p>Just below the Mezquita is one of the city's most impressive medieval gates, the <strong>Puerta del Sol</strong>. To the north of this gate is Toledo's most famous gate, the incredible 10th century <strong>Puerta de Bisagra</strong>. Between the two city gates is a very scenic old street of the city you can walk along.</p>
    </section>


    <!-- Toledo Hiking and Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hiking"></a>
        <h2 class="left-heading destination-section-heading">Hiking &amp; City Viewpoints</h2>
        <p>If you have extra time you might like to explore a bit below San Martin's Bridge as well, walking along the river.</p>
        <p>It's also possible to walk along the entire southern end of Toledo alongside the river between the two medieval bridges, passing along many rustic old buildings and ruins as well as waterfalls. This scenic riverside route between the San Martin's Bridge and Alcantara Bridge is approximately 1.8 miles (2.9 km) one-way.</p>
        <h3>Mirador del Valle City Overlook</h3>
        <p>A must-see attraction in Toledo is the <strong>Mirador del Valle</strong> viewpoint, which provides the iconic views overlooking Toledo from behind the river featured in many postcards. This viewpoint can be easily reached if you have a car, otherwise it's a 1.1 mile each way hike from the Alcantara Bridge.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Instead of turning back around when you reach the Mirador del Valle viewpoint, you can continue to the San Martin's Bridge on the western side of Toledo for a total hiking length of about 2.9 miles if you like. Along this route you'll be able to enjoy multiple gorgeous perspectives overlooking Toledo's old town, tracing along the outer edge of the river bend.</p>
            <p>Note that you can reach the Mirador del Valle viewpoint with a short bus ride from the San Martin's bridge, which may only require a short 10 minute walk.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Toledo Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9022902419"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Toledo Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/V4rcoRoYA3s">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/aQNz93ar5zm">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/madrid-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the vast and lavish Royal Palace of Madrid"
                        data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Palacio-Real-Royal-Palace-of-Madrid-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/madrid-attractions-guide">
                        Madrid
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/madrid-palace-royal-architecture-3544029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/rubyriojano-1153085/" rel="noopener noreferrer" target="_blank">
                            rubyriojano</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/segovia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View from below from the grassy field viewpoint known as the Mirador de la Pradera de San Marcos of the Alcazar de Segovia Castle"
                        data-src="https://www.travelimager.com/images/spain/Spain-Segovia-Alcazar-de-Segovia-Castle-Mirador-de-la-Pradera-de-San-Marcos-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/segovia-attractions-guide">
                        Segovia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jgonzac/14728202065" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jgonzac/" rel="noopener noreferrer" target="_blank">
                            Jaime Gonzalez</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/avila-and-salamanca-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View of the imposing medieval alls of Avila stretching for kilometers"
                        data-src="https://www.travelimager.com/images/spain/Spain-Avila-Avila-Walls.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/avila-and-salamanca-attractions-guide">
                        Avila &amp; Salamanca
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jlcernadas/19082333530" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jlcernadas/" rel="noopener noreferrer" target="_blank">
                            Jose L. Cernadas Iglesias</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful lavish gardens of the Alcazar of the Christian Monarchs castle in Cordoba"
                        data-src="https://www.travelimager.com/images/spain/Spain-Cordoba-Alcazar-de-los-Reyes-Cristianos-Christian-Monarchs-Palace.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/spain/cordoba-attractions-guide">
                        Cordoba
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Gardens_of_the_Alc%C3%A1zar_de_los_Reyes_Cristianos._C%C3%B3rdoba,_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:%D0%92%D0%B2%D0%BB%D0%B0%D1%81%D0%B5%D0%BD%D0%BA%D0%BE" rel="noopener noreferrer" target="_blank">
                            Vllasenko</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    