<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Futuristic structures surrounded by water at the City of Arts and Sciences at night in Valencia, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Buildings-Evening-Lights-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Valencia, Spain + Peniscola, and plan the perfect trip with our savable Valencia Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="valencia_spain" />
    <meta name="attraction_guides" content="peniscola_spain" />
    <meta name="europe_attraction_guides" content="valencia_spain" />
    <meta name="europe_destinations" content="valencia_spain" />
    <meta name="europe_destination_guides" content="valencia_spain" />
    <meta name="spain_attraction_guides" content="valencia" />
    <meta name="spain_attraction_guides" content="peniscola" />
    <meta name="spain_destinations" content="valencia" />
    <meta name="spain_destinations" content="peniscola" />
    <meta name="spain_destination_guides" content="valencia" />
    <meta name="spain_destination_guides" content="peniscola" />
    <meta name="google_maps_list" content="valencia" />
    <meta name="google_maps_list" content="peniscola" />
    <meta property="og:title" content="Valencia, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Buildings-Evening-Lights.jpg">
    <meta name="twitter:title" content="Valencia, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Buildings-Evening-Lights.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/valencia-attractions-guide">
    <title>Attractions Guide for Valencia, Spain</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Valencia, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#city-of-arts-and-sciences">City of Arts &amp; Sciences</a></div>
            <div><a href="#medieval-gates">Medieval Gates</a></div>
            <div><a href="#plaza-virgen">Plaza Virgen</a></div>
            <div><a href="#lonja-de-la-seda">Lonja de la Seda</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#city-hall-plaza">City Hall Plaza</a></div>
            <div><a href="#bioparc-zoo">Bioparc Zoo</a></div>
            <div><a href="#peniscola-castle">Pe&ntilde;iscola Castle</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Valencia Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The city of Valencia is the third largest city in Spain and is located on the country's eastern coast, along the Mediterranean Sea. Just south of Valencia is the Port of Gandia, from which you can take a car ferry to the islands of Ibiza or Mallorca if you like. Along with Barcelona, Valencia offers the shortest and least expensive flights to Ibiza and Mallorca.</p>
    </section>


    <!-- Valencia City of Arts and Sciences and Medieval Gates Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning futuristic whale skeleton-like structure surrounded by water at Valencia's ultra-modern City of Arts and Sciences complex" 
                        src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Complex-Ciudad-de-las-Artes-y-las-Ciencias.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">City of Arts &amp; Sciences</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wwarby/34150942904" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wwarby/" rel="noopener noreferrer" target="_blank">
                                    William Warby</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Evening view of the illuminated futuristic buildings of Valencia's City of Arts and Sciences in Eastern Spain" 
                        src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Buildings-Evening-Lights.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">City of Arts &amp; Sciences (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/valencia-spain-calatrava-sunset-1049389/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/papagnoc-1605484/" rel="noopener noreferrer" target="_blank">
                                    papagnoc</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Striking contemporary rounded structure of Valencia's Oceanografic Museum, somewhat reminiscent of a small Syndey Opera House"
                        src="https://www.travelimager.com/images/spain/Spain-Valencia-Oceanografic-Aquarium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oceanografic Aquarium</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/timove/2855042155" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/timove/" rel="noopener noreferrer" target="_blank">
                                    TimOve</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Fountains in front of the Palau de la Musica, part of Valencia's ultra-modern City of Arts and Sciences Complex"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Palau-de-la-Musica-de-Valencia-Concert-Venue.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palau de la Musica de Valencia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palau_de_la_M%C3%BAsica_de_Val%C3%A8ncia_i_font.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Joanbanjo" rel="noopener noreferrer" target="_blank">
                                    Joanbanjo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="The towering Torres de Serranos Gate, a medieval gate to the Old town of Valencia, which is also among the city's most iconic sights"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Torres-de-Serranos-Medieval-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torres de Serranos Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Torres_de_Serranos_(Valencia).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Torres_de_Serranos_(Valencia).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Juandetorres</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 ES</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Valencia's other massive preserved medieval gate, the imposing Torres de Quart"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Torres-de-Quart-Medieval-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torres de Quart Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Torres_de_Quart..jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Torres_de_Quart..jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    M4n0locervera</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Valencia City of Arts and Sciences Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="city-of-arts-and-sciences"></a>
        <h2 class="left-heading destination-section-heading">City of Arts &amp; Sciences</h2>
        <p>Valencia's most iconic sight is the <strong>City of Arts & Sciences</strong>, a large complex of ultra-contemporary structures surrounded by light blue pools of water. The complex is incredibly beautiful and contains a science museum, Imax theater, opera house, and convention center. The pools surrounding the structures are so large that you can rent a kayak to explore them.</p>
        <p>The City of Arts & Sciences is bordered by a long park on one side, and a large palm tree garden covered in a similar contemporary structure on the other side. At the very eastern end of the complex is the massive <strong>Oceanografic Aquarium</strong>. The aquarium is the largest of its kind in Europe, and is divided into different areas to represent all of the major marine ecosystems on Earth.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Northwest of the complex is another striking contemporary structure, the <strong>Palau de Musica de Valencia</strong> concert venue. This structure also sits in front of another vast pool, which hosts fountain shows.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Valencia City Gates Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="medieval-gates"></a>
        <h2 class="left-heading destination-section-heading">Medieval City Gates</h2>
        <p>On the northern side of the Old Town is the city's most iconic historic gate, the <strong>Torres de Serranos</strong>. This gate forms part of the walls which once encircled the Old Town. You can climb the stairs to the top of the gate for great views of the area.</p>
        <p>At the western edge of the Old Town is another impressive city gate, the <strong>Torres de Quart</strong>. You can also climb the stairs to the top of this medieval gate for outstanding views.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valencia 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2988811250"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Valencia Plaza Virgen and Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous Plaza de la Virgen located at the center of Valencia's Old Town, with its beautiful fountain, lovely pink church, and the striking Valencia Cathedral"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Plaza-de-la-Virgen-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza de la Virgen</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Plaza_de_la_Virgen,_Valencia,_Espa%C3%B1a,_2014-06-30,_DD_163.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the uniquely designed Valencia Cathedral, with its Romanesque design and rounded columns which reminds one of Rome's Colliseum"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Valencia-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valencia Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mauwf/36572625675/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mauwf/" rel="noopener noreferrer" target="_blank">
                                    Andrew H</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant Torre del Micalet, an old stone bell tower behind Valencia's Plaza de la Virgen"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Valencia-Cathedral-Torre-de-Micalet-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torre del Micalet Bell Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:El_Miguelete_clue169.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:El_Miguelete_clue169.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    16:9clue</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Glass floor walkway outside of Valencia's Archaeological Center of Almoina, where you can see the old ruins of the museum beneath the glass"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Centre-Arquelogic-de-lAlmoina-Archaeological-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Archaeological Center of Almoina</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Centre_arqueol%C3%B2gic_de_l%27Almoina_de_Val%C3%A8ncia,_exterior.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Joanbanjo" rel="noopener noreferrer" target="_blank">
                                    Joanbanjo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of the stunning intricately painted frescoes of the Iglesia de San Nicholas Church in Valencia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Iglesia-Parroquia-de-San-Nicolas-de-Bari-y-San-Pedro-Martir-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Iglesia de San Nicolas Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jafsegal/24718773363" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jafsegal/" rel="noopener noreferrer" target="_blank">
                                    Juan Antonio Segal</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful and elaborate fresco-covered walls and ceilings along the nave of Valencia's Iglesia de San Nicolas Church"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Parroquia-de-San-Nicolas-Church-Interior-Nave-and-Ceiling-Frescoes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Iglesia de San Nicolas Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Plaza de la Virgen and Valencia Cathedral Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="plaza-virgen"></a>
        <h2 class="left-heading destination-section-heading">Plaza de la Virgen &amp; Valencia&nbsp;Cathedral</h2>
        <p>Within Valencia's Ciutat Vella Old Town is the grand <strong>Plaza de la Virgen</strong>, which features a brilliant fountain in the center.</p>
        <p>Sitting on the plaza is the stunning 13th century <strong>Valencia Cathedral</strong>, with its unique Colosseum-like arcade arches. Within the church's lavish interior you'll find two paintings by Goya, as well as an ancient relic which is claimed to be the actual Holy Grail. The church also features the octagonal <strong>Torre del Micalet</strong> tower, which you can climb for spectacular views over the Old Town.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Adjacent to the Valencia Cathedral is a lovely pink basilica, as well as the Centre Arquelogic de l'Almoina (<strong>Archaeological Center of Almoina</strong>). This archeological museum houses the ruins of an ancient Roman bath complex, in addition to ancient artifacts.</p>
            <p>Just west of the Plaza Virgen is the <strong>Iglesia de San Nicolas</strong> church, which is known for its highly ornate interiors. The church's walls and ceilings are covered in intricate frescoes, and the arches supporting the church are highly adorned with detail.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valencia 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9734183007"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- La Lonja de la Seda and Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricately carved wooden ceilings of the medieval Lonja de la Seda building in Valencia's Old Town"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-La-Lonja-de-la-Seda-Medieval-Silk-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Lonja de la Seda Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lonja_de_la_Seda,_Valencia,_Espa%C3%B1a,_2014-06-29,_DD_28.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely exterior of the historic covered Central Marketplace in Valencia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-The-Central-Market-of-Valencia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Central Market of Valencia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%D0%A4%D0%B0%D1%81%D0%B0%D0%B4_%D1%86%D0%B5%D0%BD%D1%82%D1%80%D0%B0%D0%BB%D1%8C%D0%BD%D0%BE%D0%B3%D0%BE_%D1%80%D1%8B%D0%BD%D0%BA%D0%B0_%D0%92%D0%B0%D0%BB%D0%B5%D0%BD%D1%81%D0%B8%D0%B8.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alpunin?uselang=es" rel="noopener noreferrer" target="_blank">
                                    Alpunin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant and highly embellished exterior of Valencia's famous National Museum of Ceramics"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Museu-Nacional-de-Ceramicas-Ceramics-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museu Nacional de Ceramica Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dosaigues_vista.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Dosaigues_vista.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Felivet</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Impressive castle-like exterior of the Fine Arts Museum of Valencia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Museu-de-Belles-Arts-de-Valencia-Fine-Arts-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museu de Belles Arts de Valencia Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museu_belles_arts_val%C3%A8ncia2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Museu_belles_arts_val%C3%A8ncia2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Felivet</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Valencia La Lonja de la Seda Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lonja-de-la-seda"></a>
        <h2 class="left-heading destination-section-heading">La Lonja de la Seda</h2>
        <p>Just southwest of the Plaza de la Virgen is perhaps the city's most impressive medieval structure, <strong>La Lonja de la Seda</strong>. This UNESCO listed building showcases exceptional gothic architectural elements, and is among the city's top attractions.</p>
        <h3>Central Market of Valencia</h3>
        <p>Nearby La Lonja de la Seda is the vast <strong>Central Market of Valencia</strong>, which is one of the largest public markets in Europe. This beautiful art-nouveau structure houses countless food vendors and other products.</p>
    </section>


    <!-- Valencia Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>Near the Plaza de la Virgen is Valencia's most popular must-see museum, the <strong>Museo Nacional de Ceramica</strong>, or Museum of Ceramics and Decorative Arts. This large museum is housed within a lavish 18th century palace and contains many interesting exhibits and intricately decorated historic treasures.</p>
        <p>Outside of the Old Town across the riverbed from the Torres de Serranos is the city's fine art museum, the <strong>Museu de Belles Arts de Valencia</strong>. The museum houses a sizable collection of Spanish and European works from the 14th-17th centuries.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valencia 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9066192495"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Plaza of the City Hall and Valencia Bioparc Zoo Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fountains and beautiful Modernisme-style buildings surrounding Valencia's grand Plaza of the City Hall at the city's modern center"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Plaza-of-the-City-Hall-of-Valencia-Ayuntamiento.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza of the City Hall of Valencia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Plaza_del_Ayuntamiento_de_Valencia.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Demiannnn" rel="noopener noreferrer" target="_blank">
                                    Demiannnn</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush flowers at Valencia, Spain's Plaza of the City Hall surroudned by lovely Modernisme-style buildings"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Plaza-del-Ayuntamiento-City-Hall-Plaza-Buildings-and-Flowers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza of the City Hall of Valencia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bird flying over a large fountain at the Plaza of the City Hall of Valencia surrounded by lovely Modernisme buildings"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Plaza-del-Ayuntamiento-City-Hall-Plaza-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza of the City Hall of Valencia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the art-nouveau style covered market called the Mercat de Colon in Valencia, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Mercat-de-Colon-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mercat de Colon Market</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mercado_de_Col%C3%B3n,_Valencia,_Espa%C3%B1a,_2014-06-29,_DD_06.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Mixed animal exhibit including pelicans and a waterfall inside of Valencia's Bioparc Zoo"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-Valencia-Bioparc-Zoo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valencia Bioparc Zoo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/58935140@N07/16892402071/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/58935140@N07/" rel="noopener noreferrer" target="_blank">
                                    williamwheatley</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Valenica Plaza of the City Hall Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="city-hall-plaza"></a>
        <h2 class="left-heading destination-section-heading">Plaza of the City Hall</h2>
        <p>On the southern end of Valencia's Old Town is the city's main square, the <strong>Plaza of the City Hall of Valencia</strong>. This plaza is surrounded by lovely and historic modernisme-style buildings, as well as the majestic City Hall building. The City Hall hosts a small city history museum, as well as an observation deck that you can access for views over the plaza.</p>
        <h3>Mercat de Colon Covered Market</h3>
        <p>East of the City Hall Plaza is another large covered public market, the <strong>Mercat de Colon</strong>. This attraction's biggest draw is the building itself, which is a stunning art nouveau structure.</p>
    </section>



    <!-- Valenica Bioparc Zoo Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bioparc-zoo"></a>
        <h2 class="left-heading destination-section-heading">Valencia Bioparc Zoo</h2>
        <p>Located on the western outskirts of the city is one of the top-rated zoos in Europe, the <strong>Valencia Bioparc</strong>. This zoo is known for its amazing-looking exhibits which aim to immerse the visitors in the animals' natural habitats, which is partially achieved by using natural barriers instead of metal fences and cages. The Bioparc primarily houses a large collection of African animals.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valencia 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7977128643"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Peniscola Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque night time view from the beach of the fortified island-like Peniscola Castle, located between Valencia and Barcelona"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-del-Azahar-Peniscola-Castillo-de-Peniscola-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pe&ntilde;iscola Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/zoikoraki/37049100775/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/zoikoraki/" rel="noopener noreferrer" target="_blank">
                                    Zoi Koraki</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from Peniscola Castle's medieval towers overlooking the two beaches and town of Peniscola along Spain's Costa del Azahar"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-del-Azahar-Peniscola-Castillo-de-Peniscola-Castle-View-Tower-View-of-City-and-Beaches.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pe&ntilde;iscola Castle (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval Peniscola Castle exterior behind the lush palm tree gardens of the castle along the Costa del Azahar of Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-del-Azahar-Peniscola-Castillo-de-Peniscola-Castle-Parc-d-Artilleria-Gardens-View-of-Castle-and-Palm-Trees.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pe&ntilde;iscola Castle &amp; Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Artillery Park and gardens of the Peniscola Castle with view of beaches of Costa del Azahar in Eastern Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-del-Azahar-Peniscola-Castillo-de-Peniscola-Castle-Parc-d-Artilleria-Gardens-View-of-City-and-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pe&ntilde;iscola Castle Gardens View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Casa de las Petxines house covered in seashells in Peniscola's Old Town along Spain's Costa del Azahar"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-del-Azahar-Peniscola-Old-Town-Casa-de-La-Casa-de-las-Petxines-Seashell-House-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Casa de las Petxines Seashell&nbsp;House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Peniscola Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="peniscola-castle"></a>
        <h2 class="left-heading destination-section-heading">Pe&ntilde;iscola Castle</h2>
        <p>Located between Valencia and Barcelona along the Mediterranean Coast is the stunning beachside city of Pe&ntilde;iscola.
        <p>In this city you'll find a large medieval castle built by the Knights Templar, the <strong>Castillo de Pe&ntilde;iscola</strong>. This castle sits atop a rocky hill on a tiny peninsula that sticks out from the coast. Inside the castle you'll find many exhibits and pathways for you to explore. From the top of the Pe&ntilde;iscola Castle you can enjoy gorgeous panoramic views over the coast. Below the castle are beautiful seaside gardens you can enjoy.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The castle is surrounded by the walled medieval Old Town of Pe&ntilde;iscola, which is quite scenic. The main entrance to the Old Town was even a filming location for Game of Thrones. Be sure to walk along the tops of the medieval walls and explore the streets which are lined with lovely historic buildings, such as <strong>La Casa de las Petxines</strong> (a house covered in seashells). You can also enjoy amazing views of the castle from the beach.</p>
            <h3>Reaching Pe&ntilde;iscola Castle</h3>
            <p>By car the city and caslte of Pe&ntilde;iscola is about 1.5 hours from Valencia. You can also reach the city via a combination of buses, however this will take an entire day and only leave a few hours for your visit. The best option is to stop in Pe&ntilde;iscola when travelling between Barcelona and Valencia, perhaps even staying the night.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valencia Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7709820743"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Valencia Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/aHw5yedDWvF2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/f4obBKR8tzj">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/costa-blanca-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Idyllic sandy beach with beautiful blue waters and the massive Penyal d'Ifac Rock in the background in the city of Calpe"
                        data-src="https://www.travelimager.com/images/spain/Spain-Costa-Blanca-Calp-Penyal-dIfac-Rock-Penon-de-Ifach-Beach-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/costa-blanca-attractions-guide">
                        Costa Blanca
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Pe%C3%B1%C3%B3n_de_Ifach_-_Calpe-_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Pe%C3%B1%C3%B3n_de_Ifach_-_Calpe-_Spain.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Wyemji</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/ibiza-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ibiza Old Town viewed from the city's harbor with many boats"
                        data-src="https://www.travelimager.com/images/spain/Spain-Ibiza-Eivissa-Ibiza-Town-Dalt-Vila-Old-Town-Harbor-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/ibiza-attractions-guide">
                        Ibiza
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/erju/34698979915" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/erju/" rel="noopener noreferrer" target="_blank">
                            Sergi Coll</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful shot of Gaudi's La Sagrada Familia Basilica partially hidden behind trees and flowers in Barcelona"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        Barcelona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/sagrada-familia-cathedral-552084/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/patrice_audet-604833/" rel="noopener noreferrer" target="_blank">
                            Patrice_Audet</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/madrid-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the vast and lavish Royal Palace of Madrid"
                        data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Palacio-Real-Royal-Palace-of-Madrid-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/madrid-attractions-guide">
                        Madrid
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/madrid-palace-royal-architecture-3544029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/rubyriojano-1153085/" rel="noopener noreferrer" target="_blank">
                            rubyriojano</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/zaragoza-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning evening view of the old Stone Bridge spanning the river with the Basilica del Pilar in the background in Zaragoza"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Stone-Bridge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/zaragoza-attractions-guide">
                        Zaragoza
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_del_Pilar-sunset.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/99181891@N00" rel="noopener noreferrer" target="_blank">
                            Paulo Brandao</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    