<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Basilica de Nuesta Senhora del Pilar seen along the river with sunset colors in the sky in Zaragoza, Spain Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/spain/Spain-Zaragoza-Basilica-de-Nuestra-Senhora-del-Pilar-and-River-Sunset-Colors-Sky-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Zaragoza, Spain, and plan the perfect trip with our savable Zaragoza Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="zaragoza_spain" />
    <meta name="europe_attraction_guides" content="zaragoza_spain" />
    <meta name="europe_destinations" content="zaragoza_spain" />
    <meta name="europe_destination_guides" content="zaragoza_spain" />
    <meta name="spain_attraction_guides" content="zaragoza" />
    <meta name="spain_destinations" content="zaragoza" />
    <meta name="spain_destination_guides" content="zaragoza" />
    <meta name="google_maps_list" content="zaragoza" />
    <meta property="og:title" content="Zaragoza, Spain Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/spain/Spain-Zaragoza-Basilica-de-Nuestra-Senhora-del-Pilar-and-River-Sunset-Colors-Sky.jpg">
    <meta name="twitter:title" content="Zaragoza, Spain Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/spain/Spain-Zaragoza-Basilica-de-Nuestra-Senhora-del-Pilar-and-River-Sunset-Colors-Sky.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/spain/zaragoza-attractions-guide">
    <title>Attractions Guide for Zaragoza, Spain</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>

    

    <!-- Page Heading and Main Section Links -->
    <h1>Zaragoza, Spain<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#plaza-del-pilar">Plaza del Pilar</a></div>
            <div><a href="#stone-bridge-view">Stone Bridge View</a></div>
            <div><a href="#aljaferia-palace">Aljaferia Palace</a></div>
            <div><a href="#museums-and-more">Museums &amp; More</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Zaragoza Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Zaragoza is an Aragonese city in Northern Spain, located about halfway between Madrid and Barcelona. This beautiful city features many stunning Muedjar (Moorish-Gothic) syle structures, as well as ancient Roman ruins. Several of the city's top attractions are UNESCO world heritage sites.</p>
        <p>Most of Zaragoza's main attractions sit within its Casco Antiguo historic center, which was surrounded by ancient Roman walls. A small portion of these walls, known as the Murallas Romanas still stand on the western side of the old town.</p>
    </section>


    <!-- Zaragoza Plaza del Pilar Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Glowing lights of the Plaza del Pilar and Basilica del Pilar at night in Zaragoza, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Plaza-del-Pilar.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plaza del Pilar</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/celteverett/16295725385" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/celteverett/" rel="noopener noreferrer" target="_blank">
                                    Gregorio Puga Bailon</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the massive ultra-modern Fuente de la Hispanidad fountain on the Plaza del Pilar in Zaragoza, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Plaza-del-Pilar-Fuente-de-la-Hispanidad-Fountain-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fuente de la Hispanidad Fountain​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fuente_de_la_Hispanidad_-_P1410182.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/121084837@N08" rel="noopener noreferrer" target="_blank">
                                    Francis Raher</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the massive Basilica del Pilar from across the river in the morning fog in Zaragoza, Spain"
                        src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Basilica-de-Nuestra-Senora-del-Pilar.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica de Nuestro Senora del Pilar</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/juanedc/29087439923/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/juanedc/" rel="noopener noreferrer" target="_blank">
                                    Juanedc.com</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the city of Zaragoza and the river from high up in the tower of the Basilica del Pilar"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Basilica-de-Nuestra-Senhora-del-Pilar-Torre-Tower-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica del Pilar (Tower&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nh53/38384195272/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nh53/" rel="noopener noreferrer" target="_blank">
                                    NH53</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Clock tower of the Cathedral of the Savior and the Caesaraugusta Museum behind it on the Plaza del Pilar in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Catedral-del-Salvador-de-Zaragoza-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of the Savior</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tomstravelscom/16214256084/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tomstravelscom/" rel="noopener noreferrer" target="_blank">
                                    Tom</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning evening view of the old Stone Bridge spanning the river with the Basilica del Pilar in the background in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Stone-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stone Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Basilica_del_Pilar-sunset.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/99181891@N00" rel="noopener noreferrer" target="_blank">
                                    Paulo Brandao</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Stone Bridge in front of the Basilica del Pilar at night from the Balcon de San Lazaro viewpoint in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Balcon-de-San-Lazaro-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balcon de San Lazaro</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/franganillo/38283372966" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/franganillo/" rel="noopener noreferrer" target="_blank">
                                    Jorge Franganillo</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Zaragoza Plaza del Pilar Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="plaza-del-pilar"></a>
        <h2 class="left-heading destination-section-heading">Plaza del Pilar &amp; Basilica</h2>
        <p>Within Zaragoza's historic center is the city's largest public square, the massive <strong>Plaza del Pilar</strong>. On the western end of the plaza you can admire the striking <strong>Fuente de la Hispanidad</strong> fountain.</p>
        <p>Towering above the plaza is the magnificent <strong>Basilica de Nuestra Senora del Pilar</strong>, a vast basilica with four giant towers built alongside the river. The basilica is the centerpiece of the city's skyline and beautifully combines a baroque style with regional Muedjar architecture. The church's opulent interior also contains frescoes by the famous artist Francisco Goya. </p>
        <p>You can go to the grand basilica's northwestern tower and take the elevator leading to an observation deck. From the top of the tower you can enjoy incredible panoramic views over the city and river.</p>
        <p>On the eastern end of the plaza is the highly ornate 14th century <strong>Cathedral of the Savior of Zaragoza</strong>. Be sure to see the different sides of this cathedral, as its facades show many different styles.</p>
    </section>


    <!-- Zaragoza Stone Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="stone-bridge-view"></a>
        <h2 class="left-heading destination-section-heading">Stone Bridge View of the Basilica del Pilar</h2>
        <p>Just north of the Plaza del Pilar is the medieval <strong>Stone Bridge</strong>, a long bridge spanning the Erbo River which flows through the city.</p>
        <p>From the <strong>Balcon de San Lazaro</strong> balcony on the other side of the bridge you can enjoy picturesque views of the bridge, framed in front of the Basilica de Nuestra Senora del Pilar. Be sure to enjoy this view at night as well when the bridge and basilica light up. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Zaragoza 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2983999879"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Zaragoza Aljaferia Palace, Museums, and More Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Imposing medieval outer walls of the UNESCO listed Aljaferia Palace in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Aljaferia-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aljaferia Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaragoza-Aljaferia-exterior-2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaragoza-Aljaferia-exterior-2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Misburg3014</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient ruins of the Roman Theatre of Caesaraugusta in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Museo-del-Teatro-de-Caesaraugusta-Roman-Theatre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum of the Theatre of Caesaraugusta</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Zgz_theatre_museum.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Roxyuru" rel="noopener noreferrer" target="_blank">
                                    Roxyuru</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely columns and windows of the Zaragoza Museum's courtyard"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Museo-del-Zaragoza-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zaragoza Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Patio_del_Museo_de_Zaragoza-1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Escarlati" rel="noopener noreferrer" target="_blank">
                                    Escarlati</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Museum Pablo Gargallo in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Museo-Pablo-Gargallo-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Pablo Gargallo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/121084837@N08/20988351735" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/121084837@N08/" rel="noopener noreferrer" target="_blank">
                                    Francis Raher</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the octagonal tower of the old Parish Church of San Pablo in Zaragoza, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Zaragoza-Iglesia-Parish-Church-of-San-Pablo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parish Church of San Pablo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaragoza_-_Iglesia_San_Pablo_02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zarateman" rel="noopener noreferrer" target="_blank">
                                    Zarateman</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Aljaferia Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="aljaferia-palace"></a>
        <h2 class="left-heading destination-section-heading">Aljaferia Palace</h2>
        <p>Zaragoza's most popular sight it the 11th century <strong>Aljaferia Palace</strong>, which sits to the northwest of the city center. This fortified palace showcases brilliant medieval Islamic architecture, with highly detailed elements throughout its interior. The palace was later the seat of Catholic monarchs, whose influence can be seen in later rooms within the palace complex.</p>
    </section>


    <!-- Zaragoza Museums and More Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums-and-more"></a>
        <h2 class="left-heading destination-section-heading">Museums &amp; More</h2>
        <p>On the Plaza del Pilar you'll find the Caesaraugusta Forum Museum, a contemporary structure containing the ruins of an ancient Roman forum. The museum also contains artifacts from the site and related exhibits.</p>
        <p>To the south of the Plaza del Pilar is the Goya Museum, which features many of the famous artists' works, as well as the works of similar artists. Nearby is the <strong>Museum of the Theatre of Caesaraugusta</strong>, a museum which houses the remains of an ancient Roman theater. A bit further south is the <strong>Zaragoza Museum</strong>, which houses a diverse range of exhibits in fine art, archaeology, and more.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>On the southwestern side of the city's historic center is the <strong>Museum Pablo Gargallo</strong>, a museum displaying the works of the famous Spanish sculptor Pablo Gargallo.</p>
            <p>Just west of the city's historic center is the <strong>Parish Church of San Pablo</strong>, an impressive medieval church known for its large Mudejar-style tower. You can climb the tower for fantastic views of the city's skyline.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Zaragoza Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1670918205"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Zaragoza Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/iN7Y8LY1Cgq">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/VS7F4ZDjEvy">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful shot of Gaudi's La Sagrada Familia Basilica partially hidden behind trees and flowers in Barcelona"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        Barcelona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/sagrada-familia-cathedral-552084/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/patrice_audet-604833/" rel="noopener noreferrer" target="_blank">
                            Patrice_Audet</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/madrid-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Exterior of the vast and lavish Royal Palace of Madrid"
                        data-src="https://www.travelimager.com/images/spain/Spain-Madrid-Palacio-Real-Royal-Palace-of-Madrid-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/madrid-attractions-guide">
                        Madrid
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/madrid-palace-royal-architecture-3544029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/rubyriojano-1153085/" rel="noopener noreferrer" target="_blank">
                            rubyriojano</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/valencia-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning ultra-contemporary archtectural masterpiece of the City of Arts and Sciences in Valencia, which somewhat resembles a whale skeleton"
                        data-src="https://www.travelimager.com/images/spain/Spain-Valencia-City-of-Arts-and-Sciences-Complex-Ciudad-de-las-Artes-y-las-Ciencias.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/valencia-attractions-guide">
                        Valencia
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wwarby/34150942904" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wwarby/" rel="noopener noreferrer" target="_blank">
                            William Warby</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/bilbao-and-gaztelugatxe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View from the island of San Juan de Gaztelugatxe looking over the trail as it connects to the mainland in Basque Country, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Greater-Bilbao-Escalanitas-de-San-Juan-de-Gaztelugatxe-Pathway.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/bilbao-and-gaztelugatxe-attractions-guide">
                        Bilbao &amp; Gaztelugatxe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:San-juan-de-gaztelugatxe.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Malenaban" rel="noopener noreferrer" target="_blank">
                            Malenaban</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0 ES</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    