<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Gordes Village Viewpoint, Alpilles and Luberon Natural Parks, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Alpilles & Luberon, France and plan the perfect trip with our savable Alpilles & Luberon Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="alpilles_france" />
    <meta name="attraction_guides" content="luberon_france" />
    <meta name="europe_attraction_guides" content="alpilles_france" />
    <meta name="europe_attraction_guides" content="luberon_france" />
    <meta name="europe_destinations" content="alpilles_france" />
    <meta name="europe_destinations" content="luberon_france" />
    <meta name="europe_destination_guides" content="alpilles_france" />
    <meta name="europe_destination_guides" content="luberon_france" />
    <meta name="france_attraction_guides" content="alpilles" />
    <meta name="france_attraction_guides" content="luberon" />
    <meta name="france_destinations" content="alpilles" />
    <meta name="france_destinations" content="luberon" />
    <meta name="france_destination_guides" content="alpilles" />
    <meta name="france_destination_guides" content="luberon" />
    <meta name="national_park_attraction_guides" content="alpilles" />
    <meta name="national_park_attraction_guides" content="luberon" />
    <meta name="google_maps_list" content="alpilles" />
    <meta name="google_maps_list" content="luberon" />
    <meta property="og:title" content="Alpilles & Luberon, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg">
    <meta name="twitter:title" content="Alpilles & Luberon, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
    <title>Attractions Guide for Alpilles & Luberon Natural Parks, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Alpilles &amp; Luberon Natural&nbsp;Parks, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#alpilles-natural-park">Alpilles Natural Park</a></div>
            <div><a href="#gordes-attractions">Gordes, France</a></div>
            <div><a href="#luberon-natural-park">Luberon Natural Park</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>




    <!-- Alpilles Natural Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ruins of the Chateau des Baux Castle built into the antural stone and rock formations at the top of a mountain in Provence, France"
                        src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Les-Baux-de-Provence-Chateau-des-Baux-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau des Baux Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vue_a%C3%A9rienne_du_domaine_de_Versailles_par_ToucanWings_-_Creative_Commons_By_Sa_3.0_-_073.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/maarjaara/" rel="noopener noreferrer" target="_blank">
                                    maarjaara</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Beautiful rustic hillside village of Les Baux de Provence surrounding massive natural stones, in Provence, France"
                        src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Les-Baux-de-Provence-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Les Baux de Provence Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:140611-Les-Baux-de-Provence-09.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:BlueBreezeWiki" rel="noopener noreferrer" target="_blank">
                                    BlueBreezeWiki</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Famous Carrieres de Lumieres Caves where historic art is projected onto the flat cave walls in Provence, France"
                        src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Les-Baux-de-Provence-Carrieres-de-Lumieres-Light-Art-Caves.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carrieres de Lumieres Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Carri%C3%A8res_de_Lumi%C3%A8res_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Joseolgon" rel="noopener noreferrer" target="_blank">
                                    Joseolgon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Roman ruins and columns, part of the Glanum Archaeological Site in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Saint-Remy-de-Provence-Glanum-Archaeological-Site.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glanum Archaeological Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/28577026@N02/3316502479" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wm_archiv/" rel="noopener noreferrer" target="_blank">
                                    Allie_Caulfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Well-preserved Roman ruins known as Les Antiques, part of the Glanum Archaeological Site in Provence, France" 
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Saint-Remy-de-Provence-Glanum-Archaeological-Site-Les-Antiques.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Les Antiques (Glanum)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/carolemage/14794001272/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/carolemage/" rel="noopener noreferrer" target="_blank">
                                    Carole Raddato</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Alpilles Natural Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alpilles-natural-park"></a>
        <h2 class="left-heading destination-section-heading">Alpilles Natural Park</h2>
        <p>Start your day by visting the <strong>Chateau des Baux</strong>, a giant hilltop fortress which you can explore, which featuring the ruins of a large 10th century castle. From the top of the ruined medieval castle you can enjoy amazing panoramic views over the area. This chateau is located in the gorgeous rustic village of <strong>Les-Baux-de-Provence</strong>, which is also surrounded by majestic scenery.</p>
        <p>Just outside of the village is an incredible attraction, the <strong>Carrieres de Lumieres</strong>, where famous works of art are projected onto the walls and floor of a stunning geometrically-carved cave. The entire cave is turned into a spectacular multi-media art show, which is almost like a virtual reality experience and is very unique.</p>
        <p>Next you can head to the nearby ruins of the <strong>Glanum Archaeological Site</strong>, a large fortified ancient Roman town which you can explore. Glanum features many impressive monuments and structures. Just north of Glanum, be sure to see the partially-ruined monuments at <strong>Les Antiques</strong> as well.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Alpilles Luberon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1723012805"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Gordes and Luberon Natural Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view from the road leading to the picturesque rustic village of Gordes in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Town View Point of Gordes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                                    Albert Aguilera</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old abandoned houses built of stone known as the Village des Bories, outside of Gordes, Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gorde-Village-des-Bories-Beehive-Huts.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Village des Bories (Gordes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/beehive-hut-bories-mounting-position-1469783/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Hans-2/" rel="noopener noreferrer" target="_blank">
                                    Hans</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Senaque Abbey surrounded by vibrant lavender fields in bloom near Gordes, Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Abbaye-Notre-Dame-de-Senanque-Abbey-Monastery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Senaque Abbey (Gordes)​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/abbaye-de-s%C3%A9nanque-monastery-abbey-1469727/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Hans-2/" rel="noopener noreferrer" target="_blank">
                                    Hans</a><br />
                           <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pathway along the red rock Ochre Trail in Luberon Natural Park surrounded by forests, near the town of Roussillon, Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Roussillon-Sentier-Ochre-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ochre Trail (Roussillon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mediterranean-visions/36460689984" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mediterranean-visions/" rel="noopener noreferrer" target="_blank">
                                    Paolo Gilberto</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Viewpoint overlooking the colorful rustic town of Roussillon in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Roussillon-Belvedere-Mirador-Village-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belvedere Mirador Viewpoint (Roussillon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andylawson/6064607785" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andylawson/" rel="noopener noreferrer" target="_blank">
                                    Andrew Lawson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View above the red rock hiking trail of Provencal COlorado near Rustrel, Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Rustrel-Sentier-Provencal-Colorado-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Provencal Colorado Trail (Rustrel)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Colorado-provencal-ocres.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Greudin" rel="noopener noreferrer" target="_blank">
                                    Greudin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Gordes, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="gordes-attractions"></a>
        <h2 class="left-heading destination-section-heading">Gordes, France</h2>
        <p>Now head towards the Luberon region where you'll find the lovely rustic village of Gordes. Before reaching the village be sure to stop at the <strong>Town View Point Gordes</strong>, from which you can enjoy stunningly picturesque views of this hilltop village.</p>
        <p>On the western outskirts of Gordes you can visit the <strong>Village des Bories</strong>, a collection of fascinating stone huts which you can explore.</p>
        <h3>Senaque Abbey</h3>
        <p>On the northern outskirts of town is the charming 12th century Abbaye Notre-Dame de Senanque (<strong>Senanque Abbey</strong>), a rustic Cisterian monastery known for its lush lavender fields, which only bloom from early to mid summer.</p>
    </section>


    <!-- Luberon Natural Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="luberon-natural-park"></a>
        <h2 class="left-heading destination-section-heading">Luberon Natural Park</h2>
        <p>Next continue to the village of Roussillon where you'll find the brilliant red rock <strong>Ochre Trail</strong>. The gorgeous landscape along this trail might make you think you're hiking along the red rock of Utah or Colorado, with striking rock formations and forests around you. The hike along the longer more scenic trail here takes about 50 minutes round-trip.</p>
        <p>Unlike in Utah, a lovely French village sits atop the red rock of Roussillon, and you can take in excellent views over part of this village from the <strong>Belvedere Mirador</strong> viewpoint near the start of the Ochre Trail.</p>
        <p>A bit further east of Roussillon near the village of Rustrel is another similar trail with set amongst a scenic red rock landscape, the <strong>Colorado Provencal Trail</strong>. This gorgeous landscape offers two different hiking options to choose from, the shorter 1.7 (2. km) trail, as well as a 2.5 mile (4 km) trail. If you have the time, both trails are recommended, and both feature striking red rock formations and desert-like scenery.</p>
        <p>If you still have more time you might consider visiting some of the many fine wineries in the region, or perhaps spend some time seeing the vibrant lavender fields, which only bloom in early to mid summer.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Alpilles Luberon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4343923829"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Alpilles &amp; Luberon Natural Parks Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qvijHgKsTX92">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vibrant blue waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        Nice
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Breathtaking High elevation view over the country of Monaco and its coastline from the city of La Turbie, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-La-Turbie-View-Over-Monaco-Overlook.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        Monaco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_von_Monaco-La_Turbie.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                            Tobi 87</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Viewpoint of the eastern walls of the Cite de Carcassonne citadel, a castle-like city in Occitanie, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        Carcassonne &amp; Narbonne
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_-_Pont_Neuf_-_View_SSE_on_Old_Bridge_%26_Citadel_-_Porte_d%27Aude.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Txllxt_TxllxT" rel="noopener noreferrer" target="_blank">
                            Txllxt TxllxT</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    