<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Chateau du Haut Koenigsbourg Castle, Alsace Region, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Alsace-Region-Chateau-du-Haut-Koenigsbourg-Castle-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and villages of Alsace Region, France and plan the perfect trip with our savable Alsace Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="alsace_france" />
    <meta name="europe_attraction_guides" content="alsace_france" />
    <meta name="europe_destinations" content="alsace_france" />
    <meta name="europe_destination_guides" content="alsace_france" />
    <meta name="france_attraction_guides" content="alsace" />
    <meta name="france_destinations" content="alsace" />
    <meta name="france_destination_guides" content="alsace" />
    <meta name="google_maps_list" content="alsace" />
    <meta property="og:title" content="Alsace Region, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Alsace-Region-Chateau-du-Haut-Koenigsbourg-Castle.jpg">
    <meta name="twitter:title" content="Alsace Region, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Alsace-Region-Chateau-du-Haut-Koenigsbourg-Castle.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
    <title>Attractions Guide for Alsace Towns & Greater Colmar, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Alsace Towns &amp; Greater&nbsp;Colmar,&nbsp;France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#eguisheim">Eguisheim</a></div>
            <div><a href="#kaysersberg">Kaysersberg-Vignoble</a></div>
            <div><a href="#riquewihr">Riquewihr</a></div>
            <div><a href="#ribeauville">Ribeauville</a></div>
            <div><a href="#koenigsbourg">Koenigsbourg Castle</a></div>
            <div><a href="#animal-parks">Animal Parks</a></div>
            <div><a href="#greater-colmar-museums">Museums</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Alsace Region Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>In Eastern France's Alsace region just west of Colmar, you'll find many medieval fairytale-like villages and towns along the eastern edge of the Vosges Mountains. You'll also find several castles and other great attractions in the area around Colmar.</p>
        <p>The Alsace region of France is also known for its production of excellent white wines, and within many of these small towns and villages you'll find countless great wineries.</p>
    </section>


    <!-- Eguisheim and Kayserberg-Vignoble, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Colorful half-timbered homes and cobble stone road in town of Eguisheim, France"
                        src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eguisheim</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/xingxiyang/27568640486" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/xingxiyang/" rel="noopener noreferrer" target="_blank">
                                    Kiefer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Historic Saint-Leon Fountain at the center of Eguisheim, France"
                        src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Fontaine-Saint-Leon-Fountain-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint-Leon Fountain (Eguisheim)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tambako/6083024453" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tambako/" rel="noopener noreferrer" target="_blank">
                                    Tambako The Jaguar</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Fairytale-like colorful buildings in the center of Eguisheim, France"
                        src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Chateau-Saint-Leon-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau Saint-Leon (Eguisheim)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Eguisheim_chateau.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/syeo/" rel="noopener noreferrer" target="_blank">
                                    Su-Laine Yeo Brodsky</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely half-timbered homes and a fountain in Kaysersberg-Vignoble, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Kaysersberg-Vignoble-Fontaine-Constantin-Fountain-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fontaine Constantin (Kaysersberg)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Place_Jean_Ittel_%C3%A0_Kaysersberg_-_01.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Place_Jean_Ittel_%C3%A0_Kaysersberg_-_01.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Nono vlf</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Half-timbered homes along a small river viewed from the Pont Fortifie Bridge in Kaysersberg-Vignoble, France" 
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Kaysersberg-Vignoble-Pont-Fortifie-Bridge-La-Weiss-River-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont Fortifie Bridge (Kaysersberg)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kaysersberg_Altstadt_25.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="SView over the clustered buildings of the town of Kasyersberg-Vignoble from the city's Castle in the hills above the town"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Kaysersberg-Vignoble-Chateau-de-Schlossberg-Kaysersberg-Castle-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle of Kaysersberg View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kaysersberg.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer_Diskussion:Taxiarchos228" rel="noopener noreferrer" target="_blank">
                                    Taxiarchos228</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Eguisheim, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eguisheim"></a>
        <h2 class="left-heading destination-section-heading">Eguisheim, France</h2>
        <p>The nearest medieval village to Colmar is the lovely town of <strong>Eguisheim</strong>, which is located just southwest of Colmar. Along with the elegant half-timbered houses in the city's center, be sure to admire the <strong>Chateau Saint-Leon</strong>, a former castle which has been turned into a  striking elaborate church.</p>
    </section>


    <!-- Kayserberg-Vignoble, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kaysersberg"></a>
        <h2 class="left-heading destination-section-heading">Kayserberg-Vignoble, France</h2>
        <p>Northwest of Colmar is the colorful medieval town of Kaysersberg-Vignoble, another charming place to explore on foot. Some of the town's most scenic areas include the half-timbered houses around the <strong>Fontaine Constantin</strong> fountain, as well as the houses lining the river which you can view from the <strong>Pont Fortifie</strong> bridge. Be sure to also explore the area around the bridge to see more lovely medieval homes.</p>
        <p>You can take a short hike from town up to the ruins of the 13th century <strong>Castle of Kaysersberg</strong>, which hosts fantastic views overlooking the town as well as a dungeon.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Alsace 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3030842151"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Riquewihr and Ribeauville, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful half-timbered buildings tightly packed along the old roads of Riquewihr, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Riquewihr-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Riquewihr</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pug_girl/14324767395" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pug_girl/" rel="noopener noreferrer" target="_blank">
                                    Pug Girl</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful clock tower known as Hoher Turm in Riquewihr, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Riquewihr-Hoher-Turm-Clock-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hoherturm Tower (Riquewihr)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/imagineitall/43540211934/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/imagineitall/" rel="noopener noreferrer" target="_blank">
                                    Eleazar</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View down the main road, Grand Rue, and the many historic structures along it in Ribeauville, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Ribeauville-Grand-Rue.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grand Rue (Ribeauville)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ribeauvill%C3%A9_GrandRue_a.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ralph_Hammann" rel="noopener noreferrer" target="_blank">
                                    Ralph Hammann</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old clock tower building known as Tour des Bouchers viewed from below in Ribeauville, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Ribeauville-Tour-des-Bouchers-Clock-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tour des Bouchers Tower (Ribeauville)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/panic01/29372861864/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/panic01/" rel="noopener noreferrer" target="_blank">
                                    stefano Merli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of a small canal which runs along the Grand Rue street and many coloful homes in Ribeauville, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Ribeauville-Grand-Rue-Canal.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grande Rue Canal (Ribeauville)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ribeauville.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Ribeauville.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    James Wagner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stone-built Chateau de Saint-Ulrich castle rising above the forests in the hills above Ribeauville, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Ribeauville-Chateau-de-Saint-Ulrich-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de Saint-Ulrich Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/allan_harris/3616687327/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/allan_harris/" rel="noopener noreferrer" target="_blank">
                                    Allan Harris</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Riquewihr, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="riquewihr"></a>
        <h2 class="left-heading destination-section-heading">Riquewihr, France</h2>
        <p>Further north along the eastern edge of the Vosges Mountains is the charming medieval village of <strong>Riquewihr</strong> with its cobblestone streets and half-timbered homes. Be sure to explore this tiny village on foot, including the <strong>Hoher Turm</strong> tower entrance on the western end of the village.</p>
    </section>


    <!-- Ribeauville, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ribeauville"></a>
        <h2 class="left-heading destination-section-heading">Ribeauville, France</h2>
        <p>Just north of Riquewihr is the larger town of Ribeauville, another lovely medieval town. Some of the most scenic spots here include the walk along the town's main street <strong>Grande Rue</strong>, which runs the entire length of the old town.</p>
        <p>Along the Grand Rue are many gorgeous colorful buildings, as well as the <strong>Tour des Bouchers</strong> clocktower which the road passes under. Near the western end of Grande Rue is a beautiful little canal.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Castles of Ribeauville</h3>
            <p>In the hills above Ribeauville are three ruined medieval castles, the most impressive being the 12th century <strong>Chateau de Saint-Ulrich</strong>, which features multiple rooms you can explore. The other two castles nearby are the 11th century Chateau du Haut-Ribeaupierre and the 13th century Chateau du Girsberg.</p>
            <p>You can see al three castles along the same hiking trail which starts near the western edge of town. This hike is a scenic journey through the forest and takes approximately one hour round-trip. Along the trail you can take in great views over Ribeauville, and from each castle you can enjoy views over the other castles.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Alsace 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2734386732"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Chateau du Haut-Koenigsbourg Castle, Animal Parks, and Greater Colmar Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side view of the massive Chateau de Haut-Koenigsbourg and the forested hills below it in the Alsace region of France near Strasbourg and Colmar"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Chateau-du-Haut-Koenigsbourg-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de Haut-Koenigsbourg​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ian94/31152475184/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ian94/" rel="noopener noreferrer" target="_blank">
                                    Ian Coates</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cute monkey eating fruit on a tree branch at La Montagne des Singes Zoo / animal park near Kintzheim, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Kintzheim-La-Montagne-des-Singes-Barbary-Macaque-Monkey-Reserve.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Montagne des Singes Zoo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/monkey-baby-barbary-ape-3336415/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Tommy_Rau-6366094/" rel="noopener noreferrer" target="_blank">
                                    Tommy_Rau</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Chateau de Kintzheim castle behind the idyllic vineyards of France's Alsace region"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Kintzheim-Chateau-de-Kintzheim-Castle-Eagle-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eagle Park Chateau de Kintzheim​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kintzheim-Ch%C3%A2teau-Vignoble_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ji-Elle" rel="noopener noreferrer" target="_blank">
                                    Ji-Elle</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic half-timbered homes which are part of the Ecomusee d'Alsace (Eco-Museum) a living village and cultural experience near Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Ecomusee-dAlsace-Open-Air-Village-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ecomusee d'Alsace Museum Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/alsace-ecomus%C3%A9e-museum-village-972572/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/uschi2807-1481642/" rel="noopener noreferrer" target="_blank">
                                    uschi2807</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic vehicles contained within the massive Cite de l'Automobile Museum near Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Mulhouse-Cite-de-lAutomobile-Automobile-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cite de l'Automobile Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Collection_Schlumpf.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dontpanic" rel="noopener noreferrer" target="_blank">
                                    Dontpanic</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Chateau du Haut-Koenigsbourg Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="koenigsbourg"></a>
        <h2 class="left-heading destination-section-heading">Chateau du Haut&#8209;Koenigsbourg Castle</h2>
        <p>Further north of Colmar and Ribeuaville is a magnificent 12th century castle, the <strong>Chateau du Haut-Koenigsbourg</strong>, which sits atop a giant hill overlooking the expansive rural landscape below. This massive fairytale-like castle contains many incredible historic rooms including an armory, as well as beautiful medieval gardens.</p>
    </section>


    <!-- Alsace Animal Parks Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="animal-parks"></a>
        <h2 class="left-heading destination-section-heading">Animal Parks of Kintzheim,&nbsp;France</h2>
        <p>Just north of the Chateau du Haut-Koenigsbourg is <strong>La Montagne des Singes</strong>, a woodland wildlife park that is home to over 200 Barbary macaque monkeys. The monkeys roam freely around the property, and you can interact with them if you like.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Very close by is the Eagle Park where you'll find birds such as eagles, falcons, vultures, and owls. Many of the birds put on performances with trainers throughout the day. The <strong>Eagle Park</strong> is housed in the the 12th century Chateau de Kintzheim, a partially-ruined medieval castle.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Greater Colmar Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-colmar-museums"></a>
        <h2 class="left-heading destination-section-heading">Greater Colmar Museums</h2>
        <h3>Alsace Open-Air Museum</h3>
        <p>To the south of Colmar is France's largest living open-air museum, the <strong>Ecomusee d'Alsace</strong>. This massive open-air museum recreates an Alsatian village with over 70 traditional buildings representing the late 19th century to the early 20th century.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The houses and buildings in the village are very finely decorated and furnished with historical accuracy, and the village has period-appropriate actors. The village is quite charming and even hosts farms, as well as a river you can take a boat ride on.</p>
            <h3>Cite de l'Automobile Museum</h3>
            <p>Further south of Colmar in the city of Mulhouse is a giant museum of automobiles, the Cite de l'Automobile. The museum hosts over 500 vehicles, including classic cars, buggies, race cars, and the world's largest collection of Buggatis. Many of the cars in this museum's collection are both rare and prestigious.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Alsace Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5424237053"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Alsace Towns &amp; Greater&nbsp;Colmar Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/GAzmLkzbxo12">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/3CBVmJGpq132">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions">
                        Colmar
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions">
                        Strasbourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
        
        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau de Pierrefonds Castle Aerial View, Pierrefonds, Greater Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Pierrefonds-Chateau-de-Pierrefonds-Castle-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        Greater Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pierrefonds-castle-aerial-view-462849/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/remiou-469745/" rel="noopener noreferrer" target="_blank">
                            remiou</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
                        Bern, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="vibrant colorful waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Schlithorn-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        Bernese Oberland &amp; Interlaken, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Schilthorn_view_from_helicopter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                            Julius Silver</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    