<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Pont d'Avignon Medieval Bridge and Papal Palace Complex, Avignon, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Avignon-Pont-dAvignon-Medieval-Bridge-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Avignon & Arles, France and plan the perfect trip with our savable Arles & Avignon combo Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="avignon_and_arles_france" />
    <meta name="europe_attraction_guides" content="avignon_and_arles_france" />
    <meta name="europe_destinations" content="avignon_and_arles_france" />
    <meta name="europe_destination_guides" content="avignon_and_arles_france" />
    <meta name="france_attraction_guides" content="avignon_and_arles" />
    <meta name="france_destinations" content="avignon_and_arles" />
    <meta name="france_destination_guides" content="avignon_and_arles" />
    <meta name="google_maps_list" content="avignon_and_arles" />
    <meta property="og:title" content="Avignon & Arles, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Avignon-Pont-dAvignon-Medieval-Bridge.jpg">
    <meta name="twitter:title" content="Avignon & Arles, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Avignon-Pont-dAvignon-Medieval-Bridge.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/avignon-and-arles-attractions-guide">
    <title>Attractions Guide for Avignon & Arles, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Avignon &amp; Arles, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#avignon-papal-palace">Papal Palace (Avignon)</a></div>
            <div><a href="#avignon-pont-davignon-bridge">Pont d'Avignon Bridge</a></div>
            <div><a href="#pont-du-gard-aqueduct">Pont du Gard Aqueduct</a></div>
            <div><a href="#arles-main-sights">Arles Main Sights</a></div>
            <div><a href="#arles-museums">Arles Museums</a></div>
            <div><a href="#orange-theatre-antique">Orange, France</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Avignon and Pont du Gard Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Front view of the grand Medieval Papal Palace in Avignon, France"
                        src="https://www.travelimager.com/images/france/France-Avignon-Palais-des-Papes-Papal-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais des Papes (Papal&nbsp;Palace)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/palais-des-papes-avignon-france-hdr-116475/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Grand white Avignon Cathedral within the Papal Palace complex in Avignon, France"
                        src="https://www.travelimager.com/images/france/France-Avignon-Avignon-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Avignon Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ell-r-brown/5816035977/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ell-r-brown/" rel="noopener noreferrer" target="_blank">
                                    Elliot Brown</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the Rocher des Doms riverside park from across the river in Avignon, France"
                        src="https://www.travelimager.com/images/france/France-Avignon-Rocher-des-Doms-Rock-Top-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rocher des Doms Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Aviqnon_-_rocher_des_Doms.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Marianne_Casamance" rel="noopener noreferrer" target="_blank">
                                    Veronique Pagnier</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pont d'Avignon bridge and Papal Palace complex behind it, viewed from below the bridge near its end in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Avignon-Pont-dAvignon-Medieval-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont d'Avignon Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/bridge-of-avignon-vaucluse-france-862948/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/gillag-354277/" rel="noopener noreferrer" target="_blank">
                                    gillag</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Extremely well-preserved Pont du Gard ancient Roman aqueduct/ bridge spanning a river canyon, viewed from the river below near Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Vers-Pont-du-Gard-Pont-du-Gard-Ancient-Roman-Aqueduct.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont du Gard Aqueduct</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/pont-du-gard-nimes-arles-ales-2493763/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/2990108-2990108/" rel="noopener noreferrer" target="_blank">
                                    2990108</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Riverside view of the stunning Ancient Roman Pont du Gard aqueduct bridge in Provence, France between Avignon and Nimes"
                        data-src="https://www.travelimager.com/images/france/France-Provence-Vers-Pont-du-Gard-Pont-du-Gard-Ancient-Roman-Aqueduct-Bridge-Riverside-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont du Gard Aqueduct</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/sky-rock-stone-1971057/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Avignon Papal Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="avignon-papal-palace"></a>
        <h2 class="left-heading destination-section-heading">Papal Palace of Avignon,&nbsp;France</h2>
        <p>Avignon's historical center is full of stunning UNESCO-listed medieval buildings. The entire historic center is surrounded by vast fortified medieval walls, which have been very well-preserved. The main attractions here are centered around the Place du Palais square, which is named for the incredible gothic Palais des Papes, or Papal Palace.</p>
        <p>The fortified <strong>Palais des Papes</strong> was the home of several popes during the 14th century, and was also the seat of Western Christianity during this time. The palace is among the largest gothic structure built in the Middle Ages. Inside the palace you'll find grand historic interiors that you can explore amongst. Adjacent to the palace is the imposing 12th century <strong>Avignon Cathedral</strong>.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>At the northern end of the Place du Palais square you can relax in the beautiful <strong>Rocher des Doms</strong> hilltop park. Here you can enjoy views overlooking the Rhone River and even explore along part of the medieval walls that surround the old town.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Pont d'Avignon Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="avignon-pont-davignon-bridge"></a>
        <h2 class="left-heading destination-section-heading">Pont d'Avignon Bridge</h2>
        <p>From the Rocher des Doms park you can walk down to the river where you'll find the medieval <strong>Pont d'Avignon</strong> bridge, which is partially destroyed and does not span the entire river. It's still possible to walk the two-thirds of the bridge that remains, and enjoy views looking back at the fortified old town.</p>
    </section>

    <!-- Pont du Gard Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="pont-du-gard-aqueduct"></a>
        <h2 class="left-heading destination-section-heading">Pont du Gard Aqueduct</h2>
        <p>Just outside of Avignon is one of Southern France's most iconic sights, the <strong>Pont du Gard</strong>. This famous ancient Roman aqueduct is multi-leveled and is among the best preserved in the world.</p>
        <p>The Pont du Gard spans a lovely river canyon and is also a UNESCO world heritage site. Popular activities here include walking along the aqueduct and even renting a kayak to explore the river underneath the Pont du Gard.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Reaching the Pont du Gard by Train</h3>
            <p>Near the Gare d'Avignon Centre Train Station in Avignon you can a 35 minute bus ride to the Rond Point Pont du Gard Bus Station in the town of Vers-Pont-du-Gard. From the bus station it's about a 30 minute walk to reach the Pont du Gard.</p>
            <p>From the Rond Pont du Gard Bus Station the return trip to Avignon takes the same amount of time. If heading to Nimes, you can take a 1 hour bus ride directly to the city center from the same bus station. If heading to Arles or Orange from the Pont Du Gard, you'll need to take the bus back to Avignon before transferring to the train.</p>
            <h3>Reaching the Pont du Gard by Car</h3>
            <p>From Avignon you can drive about 30 minutes west to the town of Vers-Pont-du-Gard, which is home to this ancient marvel.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Avignon Arles 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4158314896"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Arles and Orange Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arles Amphitheater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                                    Salva Barbera</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruins of the ancient Roman theater known as Theater Antique in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Theatre-Antique-Ancient-Roman-Theater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Theatre Antique Roman Theater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Arles,Th%C3%A9%C3%A2tre_Antique1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Finoskov" rel="noopener noreferrer" target="_blank">
                                    Finoskov</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Detailed facade of the Saint Trophime Church in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Saint-Trophime-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Trophime Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/cvalette/11136504676/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cvalette/" rel="noopener noreferrer" target="_blank">
                                    Claude Valette</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="The 4th century Arles Obelisk which towers over the compact Place de la Republique Square in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Place-de-la-Republique-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place de la Republique Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/53074617@N00/2433911681" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/53074617@N00" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Staudt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly well-preserved anicent Roman theatre of Orange near Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Orange-Theatre-Antique-Ancient-Roman-Theater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Theatre Antique d'Orange</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tylerbell/2687047206" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tylerbell/" rel="noopener noreferrer" target="_blank">
                                    Tyler Bell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Arles Main Sights Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="arles-main-sights"></a>
        <h2 class="left-heading destination-section-heading">Main Sights in Arles,&nbsp;France</h2>
        <p>Approximately 20 minutes south of Avignon by train or car is Arles, a beautiful city in Provence which inspired many of the works of Vincent Van Gogh. Arles hosts two UNESCO listed ancient Roman amphitheaters, including the famous <strong>Arles Amphitheater</strong> (which is more similar to a colosseum or arena) and the smaller <strong>Theater Antique</strong> (which is more of a traditional amphitheater). The larger Arles Amphitheater has been so well-preserved that it is still used to hold event to this day.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Nearby the ancient Roman theaters you can admire the striking Romanesque 12th century <strong>Saint Trophime Church</strong>. The church sits on the beautiful <strong>Place de la Republique</strong> square, which hosts the towering 4th century Arles Obelisk at its center.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Arles Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="arles-museums"></a>
        <h2 class="left-heading destination-section-heading">Museums in Arles,&nbsp;France</h2>
        <p>One of Arles's most popular museums is the Fondation Vincent van Gogh Arles. This museum contains a small collection of paintings by Van Gogh and Picasso, along with other artists.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Arles also hosts a fantastic archaeology museum, the Arles Museum of Antiquity. This museum mainly houses ancient Roman artifacts such as mosaics and sculptures found in the local region, as well as an impressive ancient Roman boat.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Orange, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="orange-theatre-antique"></a>
        <h2 class="left-heading destination-section-heading">Orange, France</h2>
        <p>North of Avignon in the city of Orange you'll find another incredible UNESCO site, the <strong>Theatre Antique d'Orange</strong>. This ancient Roman theater is one of the best preserved in the world, and still hosts events to this day. In most Roman theaters only the seating has been preserved, however in this one the entire theater wall still stand and it is quite stunning.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Transportation to the Orange Theatre Antique</h3>
            <p>You can reach the Theatre Antique from Avignon with a short train ride and walk in approximately 40 minutes, starting from the Gare d'Avignon Centre train station.</p>
            <p>Travelling by car the Orange Theatre is approximately 30 minutes north of Avignon.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Avignon Arles Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7831742699"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Avignon &amp; Arles Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/7aqZGYZLnyw">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau Comtal medieval castle within the fortified castle-like citadel of Carcassonne, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Chateau-de-Comtal.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        Carcassonne &amp; Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/carcassonne-france-tourism-ancient-3458973/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jolimaison-4076676/" rel="noopener noreferrer" target="_blank">
                            jolimaison</a><br />
                    <i>Edited</i>
                </p>
            </div> 

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Aerial view of the fortified medieval citadel of Carcassonne, France" 
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        Southern Occitanie
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_carcassonne_aerial_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                            Chensiyuan</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    