<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Castle-like medieval gate of Porte Cailhau in Bordeaux, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Bordeaux-Porte-Cailhau-Medieval-Castle-Gate-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Bordeaux, France and plan the perfect trip with our savable Bordeaux Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="bordeaux_france" />
    <meta name="europe_attraction_guides" content="bordeaux_france" />
    <meta name="europe_destinations" content="bordeaux_france" />
    <meta name="europe_destination_guides" content="bordeaux_france" />
    <meta name="france_attraction_guides" content="bordeaux" />
    <meta name="france_destinations" content="bordeaux" />
    <meta name="france_destination_guides" content="bordeaux" />
    <meta name="google_maps_list" content="bordeaux" />
    <meta property="og:title" content="Bordeaux, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Bordeaux-Porte-Cailhau-Medieval-Castle-Gate.jpg">
    <meta name="twitter:title" content="Bordeaux, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Bordeaux-Porte-Cailhau-Medieval-Castle-Gate.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/bordeaux-attractions-guide">
    <title>Attractions Guide for Bordeaux, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Bordeaux, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#bordeaux-cathedral">Bordeaux Cathedral</a></div>
            <div><a href="#central-bordeaux-top-sights">Top Sights</a></div>
            <div><a href="#churches">More Churches</a></div>
            <div><a href="#city-of-wine">City of Wine</a></div>
            <div><a href="#saint-emilion-church">Saint-Emilion Church</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Bordeaux Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Bordeaux is a large city known for the wine produced around the surrounding region. Within the historic city center you'll find many posh 18th century buildings lining the streets.</p>
    </section>


    <!-- Bordeaux Top Sights Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Looking up at the striking facade of the gothic Bordeaux Cathedral"
                        src="https://www.travelimager.com/images/france/France-Bordeaux-Bordeaux-Cathedral-Saint-Andre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bordeaux Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bordeaux-1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Leon_petrosyan" rel="noopener noreferrer" target="_blank">
                                    Leon Petrosyan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Massive stone-built Pey Berland Tower topped with a golden figurine next to the Bordeaux Cathedral"
                        src="https://www.travelimager.com/images/france/France-Bordeaux-Bordeaux-Cathedral-Pey-Berland-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pey Berland Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cath%C3%A9drale_Saint-Andr%C3%A9_de_Bordeaux_05.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Superchilum" rel="noopener noreferrer" target="_blank">
                                    Superchilum</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior facade of the Musee d'Aquitaine Museum in Bordeaux, France"
                        src="https://www.travelimager.com/images/france/France-Bordeaux-Musee-Aquitaine-History-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Musee d'Aquitaine Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mus%C3%A9e_Aquitaine.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tiraden" rel="noopener noreferrer" target="_blank">
                                    Tiraden</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Girondins Monument towering above an intricate fountain and adjacent ferris-wheel in Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Girondins-Monument-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Girondins Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/24183489@N00/2097584441" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/24183489@N00" rel="noopener noreferrer" target="_blank">
                                    Alexandre Duret-Lutz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient ruins of a Roman Gaul amphitheater in Bordeaux, France" 
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Palais-Gallien-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais Gallien Amphitheater Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bordeaux_Palais_Gallien_R01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MJJR" rel="noopener noreferrer" target="_blank">
                                    Marc Ryckaert</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast public square known as Place de la Bourse after rainfall with its mirrored reflection in a giant still puddle in Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Place-de-la-Bourse-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place de la Bourse Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Place_de_la_bourse,_Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Place_de_la_bourse,_Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Yiannis Vacondios</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

               <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible castle-like Porte Cailhau, the iconic medieval gate to the city of Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Porte-Cailhau-Medieval-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Porte Cailhau</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:9-Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:9-Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Yiannis Vacondios</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>                

            </div>
        </div>
    </div>


    <!-- Bordeaux Cathedral Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bordeaux-cathedral"></a>
        <h2 class="left-heading destination-section-heading">Bordeaux Cathedral</h2>
        <p>The immense 11th century <strong>Bordeaux Cathedral</strong> towers high above the city and showcases stunning and complex gothic Romanesque architecture. Adjacent to the cathedral is the massive <strong>Pey Berland Tower</strong>, an ornate 15th century bell tower which you can climb for incredible panoramic views overlooking the city.</p>
        <p>Nearby you might like to visit the <strong>Musee d'Aquitaine</strong>, a museum containing a vast collection of artifacts from Bordeaux and the surrounding region, covering various time periods of history.</p>
    </section>


    <!-- Top Central Bordeaux Sights Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-bordeaux-top-sights"></a>
        <h2 class="left-heading destination-section-heading">Top Sights of Central Bodeaux</h2>
        <p>To the north of the Bordeaux Cathedral is the towering Girondins Monument, an elegant column and fountain which sits on a vast square. Northwest from the <strong>Girondins Monument</strong> are the remains of an ancient Roman amphitheater, the <strong>Palais Gallien</strong>, which sits mostly in ruins, but is still quite impressive.</p>
        <p>Just south of the Girondins Monument is one of Bordeaux's finest squares, the grand riverfront <strong>Place de la Bourse</strong>, which is surrounded by a stately palace.</p>
        <p>Further south along the river is the city's most iconic sight, the picturesque castle-like <strong>Porte Cailhau</strong>, which served as the medieval entrance to the city.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bordeaux 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1532151551"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- More Bordeaux Churches and Saint Emilion, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the gothic Basilica of St. Michael in Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Basilica-of-St-Michael-Saint-Michel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of St. Michael​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bordeaux_-_Basilique_Saint-Michel_-_Basilique.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe Benoist</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly tall spired tower known as Fleche Saint-Michel, which dwarfs the adjacent basilica it is part of in Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Basilica-of-St-Michael-Fleche-Saint-Michel-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fleche Saint-Michel Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bordeaux_-_Basilique_Saint-Michel_-_Vue_g%C3%A9n%C3%A9rale.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe Benoist</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate Romanesque facade of Bordeaux's medieval Church of the Holy Cross"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Eglise-Sainte-Croix-Holy-Cross-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of the Holy&nbsp;Cross​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bordeaux_eglise_ste_croix.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Velvet" rel="noopener noreferrer" target="_blank">
                                    Velvet</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely Porte de Bourgnone, an historic gate to the medieval city of Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Porte-de-Bourgogne-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Porte de Bourgogne</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/76938626@N07/6950260172" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/76938626@N07/" rel="noopener noreferrer" target="_blank">
                                    Jacob Martin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up exterior shot of the historic Monolithic Church of St. Emilion near Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Bordeaux-Saint-Emilion-Monolithic-Church-of-Saint-Emilion.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monolithic Church of St.&nbsp;Emilion</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:%C3%89glise_monolithe_de_Saint-%C3%89milion,_Saint-%C3%89milion,_Aquitaine,_France_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:%C3%89glise_monolithe_de_Saint-%C3%89milion,_Saint-%C3%89milion,_Aquitaine,_France_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    M Strikis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Bordeaux Churches and Gates Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">More Churches and Gates</h2>
        <p>Continuing south along the Garonne River are two more impressive churches, including the elaborate gothic <strong>Basilica of St. Michael</strong>. This church also features a giant clock tower, the <strong>Fleche Saint-Michel</strong>, which can be climbed for amazing views over the city during the warmer months of the year (April through October).</p>
        <p>Further south near the river is the elaborate 11th century <strong>Church of the Holy Cross</strong>, an exceptional Romanesque church. Also noteworthy, located a bit further south from Porte Cailhau along the river is another impressive entrance to the city, the 18th century stone arch <strong>Porte de Bourgogne</strong>.</p>
    </section>


    <!-- Bordeaux City of Wine Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="city-of-wine"></a>
        <h2 class="left-heading destination-section-heading">Bordeaux's City of Wine</h2>
        <p>Outside of the city's historic center to the north along the Garonne River is one of the city's top attractions, The City of Wine. This wine museum is housed in a striking contemporary structure that hosts many exhibits on wine and great views from the top, along with a vast selection of wine to taste.</p>
    </section>


    <!-- Saint-Emilion, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="saint-emilion-church"></a>
        <h2 class="left-heading destination-section-heading">Monolithic Church of Saint&#8209;Emilion</h2>
        <p>Much further east from Bordeaux in the town of Saint-Emilion is the beautiful <strong>Monolithic Church of Saint-Emilion</strong>, which features yet another tall bell tower you can climb. From the top you can enjoy excellent views over this charming rustic town. Interestingly, the church was carved out of limestone during the 12th century, and also hosts spooky underground catacombs. In order to see the inside if the church you'll need to book a tour.</p>
        <p>The church and the town together form a UNESCO world heritage site. Be sure to visit some of the many great wineries within the town.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bordeaux Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9219069888"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Bordeaux Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ngmuDVWMghA2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="Chateau de Chambord Palace, Chambord, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chambord-Palace-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        Loire Valley (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/chambord-reflection-castle-3195956/ " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/edmondlafoto-7913128/ " rel="noopener noreferrer" target="_blank">
                            edmondlafoto</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Chateau de Chenonceau Castle, Chenonceau, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chenonceau-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        Loire Valley (Train)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                            Yvan Lastes</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Castle-like Mont Saint-Michel abbey on a tiny island rising above the sea"
                        data-src="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
                        St. Malo &amp; Mont Saint&#8209;Michel (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/normandy-mont-saint-michel-abbey-1046056/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/jackmac34-483877/" rel="noopener noreferrer" target="_blank">
                            jackmac34</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/bilbao-and-gaztelugatxe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View from the island of San Juan de Gaztelugatxe looking over the trail as it connects to the mainland in Basque Country, Spain"
                        data-src="https://www.travelimager.com/images/spain/Spain-Greater-Bilbao-Escalanitas-de-San-Juan-de-Gaztelugatxe-Pathway.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/bilbao-and-gaztelugatxe-attractions-guide">
                        Bilbao &amp; Gaztelugatxe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:San-juan-de-gaztelugatxe.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Malenaban" rel="noopener noreferrer" target="_blank">
                            Malenaban</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/es/deed.en" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0 ES</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    