<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Cite de Carcassonne Castle, Carcassonne, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Wide-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Carcassonne & Narbonne, France and plan the perfect trip with our savable Carcassonne Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="carcassonne_france" />
    <meta name="attraction_guides" content="narbonne_france" />
    <meta name="europe_attraction_guides" content="carcassonne_france" />
    <meta name="europe_destinations" content="carcassonne_france" />
    <meta name="europe_destination_guides" content="carcassonne_france" />
    <meta name="france_attraction_guides" content="carcassonne" />
    <meta name="france_attraction_guides" content="narbonne" />
    <meta name="france_destinations" content="carcassonne" />
    <meta name="france_destinations" content="narbonne" />
    <meta name="france_destination_guides" content="carcassonne" />
    <meta name="france_destination_guides" content="narbonne" />
    <meta name="google_maps_list" content="carcassonne" />
    <meta name="google_maps_list" content="narbonne" />
    <meta property="og:title" content="Carcassonne, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Wide-View.jpg">
    <meta name="twitter:title" content="Carcassonne, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Wide-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
    <title>Attractions Guide for Carcassonne & Narbonne, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Carcassonne &amp; Narbonne, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

 
    <!-- Carcassonne and Narbonne Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="Wide view of the citadel walls of Carcassonne, France to understand the scale of this massive castle-like city"
                        src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Wide-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cite de Carcassonne<br />(Wide View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/carcassonne-cloudiness-landscape-2805568/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/elias_s-4912632/" rel="noopener noreferrer" target="_blank">
                                    Elias_S</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Aerial view of the fortified medieval citadel of Carcassonne, France"
                        src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Aerial-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cite de Carcassonne<br />(Aerial View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1_carcassonne_aerial_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                                    Chensiyuan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Viewpoint of the eastern walls of the Cite de Carcassonne citadel, a castle-like city in Occitanie, France"
                        src=" https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cite de Carcassonne</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_-_Pont_Neuf_-_View_SSE_on_Old_Bridge_%26_Citadel_-_Porte_d%27Aude.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Txllxt_TxllxT" rel="noopener noreferrer" target="_blank">
                                    Txllxt TxllxT</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Chateau Comtal medieval castle within the fortified castle-like citadel of Carcassonne, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Chateau-de-Comtal.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau Comtal<br />(Carcassonne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/carcassonne-france-tourism-ancient-3458973/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/jolimaison-4076676/" rel="noopener noreferrer" target="_blank">
                                    jolimaison</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along a walkway atop the medieval walls of the Cite de Carcassonne citadel, a castle-like city"
                        data-src=" https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Medieval-Walls-Pathway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medieval Walls<br />(Carcassonne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne,_France,_view_of_the_walls_of_the_medieval_city..JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne,_France,_view_of_the_walls_of_the_medieval_city..JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    H2k4</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Porte Narbonnaise, one of the two entrances to the Cite de Carcassonne medieval citadel, a castle-like city in Occitanie, France "
                        data-src=" https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Porte-Narbonnaise-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Porte Narbonnaise<br />(Carcassonne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_during_the_day.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_during_the_day.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Inferno986return</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway leading up to the Porte de l'Aude, one of the two medieval entrances to the Cite de Carcassonne, a castle-like city in Occitanie, France"
                        data-src=" https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Porte-de-lAude-Aude-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Porte de l'Aude<br />(Carcassonne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Porte_de_l%27Aude_in_the_fortified_city_of_Carcassonne001.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tournasol7" rel="noopener noreferrer" target="_blank">
                                    Tournasol7</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior facade of the Palais des Archeveques, a medieval palace in Narbonne, France"
                        data-src=" https://www.travelimager.com/images/france/France-Narbonne-Palais-des-Archeveques-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais des Archeveques Palace (Narbonne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palais_des_archev%C3%AAques_de_Narbonne002.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tournasol7" rel="noopener noreferrer" target="_blank">
                                    Tournasol7</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful cloister/courtyard of the Cathedral Saint Just &amp; Saint Pasteur in Narbonne, France"
                        data-src=" https://www.travelimager.com/images/france/France-Narbonne-Cathedrale-Saint-Just-et-Saint-Pasteur-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral Saint Just &amp; Saint&#8209;Pasteur (Narbonne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cath%C3%A9drale_Saint-Just_de_Narbonne_-_Cloitre_et_clocher_de_l%27%C3%A9glise_de_Th%C3%A9odard.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Archaeodontosaurus" rel="noopener noreferrer" target="_blank">
                                    Didier Descouens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Carcassonne Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="occitanie-carcassonne"></a>
        <h2 class="left-heading destination-section-heading">Carcassonne Castle / Citadel</h2>
        <p>You can reach Carcassonne via train from either Nimes or Barcelona, likely stopping to change trains in the French city of Narbonne along the route to/from Barcelona.</p>
        <p>Among the most popular attractions in France is the <strong>Cite de Carcassonne</strong>, a massive fortified medieval city and UNESCO world heritage site. The citadel of Carcassonne is famous for its idealistic castle-like walls, which tower above the modern city.</p>
        <p>The citadel's most popular feature is the <strong>Chateau Comtal</strong>, a stunning 12th century castle located within the fortified city walls. The castle features a museum and allows you access to walk atop part of Carcassonne's walls. In addition to exploring along the citadel's walls, be sure to see the striking gothic exterior of the 12th century Basilique Saint Nazaire church.</p>
        <p>The citadel is only accessible from two entrances, the <strong>Porte Narbonnaise</strong> on the eastern side of the walls and the <strong>Porte de l'Aude</strong> on the western side. It's highly recommended to see both of these impressive medieval gates.</p>
    </section>


    <!-- Narbonne, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="occitanie-narbonne"></a>
        <h2 class="left-heading destination-section-heading">Narbonne, France</h2>
        <p>If you have spare time and must change trains in (or drive through) the city of Narbonne, it's highly recommended to briefly experience Narbonne's top attractions.</p>
        <p>In this city's historic center you can visit the <strong>Palais des Archeveques</strong> (or Archbishop's Palace), which showcases fantastic medieval architecture. The palace hosts a museum, treasury, and donjon tower within its stunning historic interiors that you can explore.</p>
        <p>Adjacent to the palace is the 13th century <strong>Cathedral Saint-Just et Saint-Pasteur</strong>, a marvelous gothic cathedral.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Carcassonne Narbonne Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7795141728"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Carcassonne &amp; Narbonne Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/16HrAAE8WX72">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau Comtal medieval castle within the fortified castle-like citadel of Carcassonne, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Chateau-de-Comtal.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        Carcassonne &amp; Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/carcassonne-france-tourism-ancient-3458973/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jolimaison-4076676/" rel="noopener noreferrer" target="_blank">
                            jolimaison</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful shot of Gaudi's La Sagrada Familia Basilica partially hidden behind trees and flowers in Barcelona"
                        src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1-300x225.jpg"
                        data-src="https://www.travelimager.com/images/spain/Spain-Barcelona-La-Sagrada-Familia-Basilica-Exterior-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/spain/barcelona-attractions-guide">
                        Barcelona, Spain
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/sagrada-familia-cathedral-552084/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/patrice_audet-604833/" rel="noopener noreferrer" target="_blank">
                            Patrice_Audet</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Aerial view of the fortified medieval citadel of Carcassonne, France" 
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        Southern Occitanie
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_carcassonne_aerial_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                            Chensiyuan</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    