<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Half-timbered houses and canal of La Petite Venise, Colmar, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Half-Timbered-Homes-and-Canal-Flowers-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Colmar, France and plan the perfect trip with our savable Colmar Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="colmar_france" />
    <meta name="europe_attraction_guides" content="colmar_france" />
    <meta name="europe_destinations" content="colmar_france" />
    <meta name="europe_destination_guides" content="colmar_france" />
    <meta name="france_attraction_guides" content="colmar" />
    <meta name="france_destinations" content="colmar" />
    <meta name="france_destination_guides" content="colmar" />
    <meta name="google_maps_list" content="colmar" />
    <meta property="og:title" content="Colmar, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Half-Timbered-Homes-and-Canal-Flowers.jpg">
    <meta name="twitter:title" content="Colmar, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Half-Timbered-Homes-and-Canal-Flowers.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
    <title>Attractions Guide for Colmar, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Colmar, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#la-petite-venise">La Petite Venise</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#museums">Museums</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>




    <!-- La Petite Venise Colmar Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Riverfront half-timbered homes lining a canal of the Fishmonger District of La Petite Venise in Colmar, France"
                        src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fishmonger District<br />(La Petite Venise)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                                    Svein-Magne Tunli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Rue Turenne Bridge View over a colorful canal in La Petite Venise district of Colmar, France"
                        src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Rue-Turenne-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rue Turenne View<br />(La Petite Venise)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:La_petite_Venise_%C3%A0_Colmar_%C3%A0_No%C3%ABl.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:AlineRockstud68" rel="noopener noreferrer" target="_blank">
                                    AlineRockstud68</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely view along the canal with half-timbered homes and small boats in La Petite Venise, Colmar, France"
                        src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Pont-St-Pierre-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont St-Pierre View (La Petite Venise)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Colmar,_Petite_Venise,_Boulevard_Saint-Pierre.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Matthias.kess@web.de" rel="noopener noreferrer" target="_blank">
                                    Matthias Kess</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Roesselmann Fountain surrounded by a small public square and half-timbered homes in Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Fontaine-Roesselmann-Fountain-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Roesselmann Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:FR_Colmar_20080828_015.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:HNH" rel="noopener noreferrer" target="_blank">
                                    HNH</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic Schwendi Fountain surrounded by old half-timbered homes and a public square in Colmar, France" 
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Fontaine-Schwendi-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fontaine Schwendi Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sinava/28902086487/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                                    Naval S</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Half-timbered structures along the famous Rue des Marchands (Merchants Street) in Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Rue-des-Marchands-Merchants-Shopping-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rue des Marchands<br />(Merchants Street)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Colmar_-_Alsace.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tizianok" rel="noopener noreferrer" target="_blank">
                                    Tizianok</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the famous and historic Maison Pfister House in Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Maison-Pfister-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Maison Pfister House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2017-05-02_Colmar,_France.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Maxim75" rel="noopener noreferrer" target="_blank">
                                    Maksym Kozlenko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>                

            </div>
        </div>
    </div>


    <!-- La Petite Venise Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="la-petite-venise"></a>
        <h2 class="left-heading destination-section-heading">La Petite Venise &amp; Half&#8209;Timbered Homes</h2>
        <p>The old historic center of Colmar is full of lovely half-timbered medieval structures of many colors, making walking through the old town a very enjoyable experience. The highlight of Colmar's old town is La Petite Venise (or Little Venice), where you can see many of these elegant homes lined up along the canal.</p>
        <p>La Petite Venise is extremely picturesque, and one of the top ways to experience this area's beauty is by taking a canal boat tour. You can admire the lovely homes along the canal from several amazing vantage points, including <strong>The Fishmonger District</strong>, the <strong>Rue Turenne Bridge</strong>, and the <strong>Pont St-Pierre Bridge</strong>.</p>
        <p>Adjacent to the Rue Turrene Bridge is one of the city's main plazas, which is centered around the <strong>Roesselmann</strong> Fountain and is surrounded by half-timbered medieval houses. Another scenic plaza surrounded by medieval homes is the <strong>Fontaine Schwendi</strong> fountain plaza.</p>
        <p>Near the Fontaine Schwendi fountain is a beautiful pedestrian street, the <strong>Rue des Marchands</strong> (Merchants Street), which is lined with gorgeous and colorful half-timbered medieval buildings which host many shops and restaurants. Along this street is one of Colmar's most iconic medieval structures, the charming <strong>Maison Pfister</strong> house.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colmar 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9327715244"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Colmar Churches and Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Saint Martin Church seen behind a walkway-lined canal and many coloful structures in Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Eglise-Saint-Martin-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Martin Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sinava/43833049001/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/22956445@N04" rel="noopener noreferrer" target="_blank">
                                    Naval S</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lit up exterior of the Dominican Church of Colmar at night"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Eglise-des-Dominicains-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eglise des Dominicains Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/robphoto/5537496921/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/robphoto/" rel="noopener noreferrer" target="_blank">
                                    Russ Bowling</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the church building which houses Colmar's popular Unterlinden Museum"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Musee-Unterlinden-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Unterlinden Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mus%C3%A9e_d%27Unterlinden_Colmar.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Mus%C3%A9e_d%27Unterlinden_Colmar.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Wladyslaw</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Courtyard of the historic Bartholdi Museum home in Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-Musee-Bartholdi-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Musee Bartholdi Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bartoldi-Museum.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Manecke" rel="noopener noreferrer" target="_blank">
                                    Manecke</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Colmar Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches</h2>
        <p>The city is home to several 13th century churches, the largest being the Romanesque <strong>Saint Martin Church</strong>. Nearby you can also see the <strong>Eglise des Dominicains</strong> built in the same time period, which has been converted into an art museum and is surrounded by more colorful homes.</p>
    </section>


    <!-- Colmar Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>Colmar's top museum is the <strong>Unterlinden Museum</strong>, which hosts an impressive collection of art, sculptures, and artifacts from the medieval and Renaissance eras. The museum is housed within a former Dominican Monastery built in the 13th century, which also hosts a beautiful cloister.</p>
        <p>Another popular museum is the Toy Museum, which displays the history of toys ranging from the 1800s to present.</p>
        <p>One more museum to consider visiting in Colmar is the <strong>Musee Batholdi</strong>, an art museum dedicated to the French sculptor Auguste Batholdi, located across from the Maison Pfister house.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colmar Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6545747033"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Colmar Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/yU7pK9M1rAE2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions">
                        Strasbourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic coloful half-timbered houses in the village of Eguisheim, Alsace region of France near Colmar"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        Alsace&nbsp;Villages &amp; Greater&nbsp;Colmar (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/xingxiyang/27568640486" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/xingxiyang/" rel="noopener noreferrer" target="_blank">
                            Kiefer</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau de Pierrefonds Castle Aerial View, Pierrefonds, Greater Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Pierrefonds-Chateau-de-Pierrefonds-Castle-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        Greater Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pierrefonds-castle-aerial-view-462849/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/remiou-469745/" rel="noopener noreferrer" target="_blank">
                            remiou</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
                        Bern, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="vibrant colorful waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Schlithorn-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        Bernese Oberland &amp; Interlaken, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Schilthorn_view_from_helicopter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                            Julius Silver</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    