<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for France's top destinations: Paris, Loire Valley, Strasbourg, Colmar, Nice, Carcassonne, Marseille, Lyon, Avignon, St. Malo, & more" />
    <meta name="attraction_guides" content="france" />
    <meta name="europe_destinations" content="france" />
    <meta name="destination_guides" content="france" />
    <meta property="og:title" content="France Attraction Guides">
    <meta name="twitter:title" content="France Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/france-attraction-guides">
    <title>France Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Total Trip Length -->
    <h1>France Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Popular Destinations</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        <img class="destination-image" 
                        alt="vibrant colorful waters and beach of Villefranche-sur-Mer near Nice, France"
                        src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        Nice
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="destination-image" 
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide-by-car">
                        <img class="destination-image" 
                        alt="Castle-like Mont Saint-Michel abbey on a tiny island rising above the sea"
                        src="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide-by-car">
                        St. Malo &amp; Mont Saint&#8209;Michel (Car)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/normandy-mont-saint-michel-abbey-1046056/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/jackmac34-483877/" rel="noopener noreferrer" target="_blank">
                            jackmac34</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>

    <!-- Row 2 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint-300x225.jpg"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic coloful half-timbered houses in the village of Eguisheim, Alsace region of France near Colmar"
                        src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village-300x225.jpg"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        Alsace&nbsp;Villages &amp; Greater&nbsp;Colmar (Car)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/xingxiyang/27568640486" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/xingxiyang/" rel="noopener noreferrer" target="_blank">
                            Kiefer</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum-300x225.jpg"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook-300x225.jpg"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 3 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-and-arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Extremely well-preserved Pont du Gard ancient Roman aqueduct/ bridge spanning a river canyon, viewed from the river below near Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Vers-Pont-du-Gard-Pont-du-Gard-Ancient-Roman-Aqueduct.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-and-arles-attractions-guide">
                        Avignon &amp; Arles
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pont-du-gard-nimes-arles-ales-2493763/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/2990108-2990108/" rel="noopener noreferrer" target="_blank">
                            2990108</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/bordeaux-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Porte Cailhau intricate medieval gate to the city of Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Porte-Cailhau-Medieval-Gate.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/bordeaux-attractions-guide">
                        Bordeaux
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:9-Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:9-Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Yiannis Vacondios</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Viewpoint of the eastern walls of the Cite de Carcassonne citadel, a castle-like city in Occitanie, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Viewpoint.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        Carcassonne &amp; Narbonne
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_-_Pont_Neuf_-_View_SSE_on_Old_Bridge_%26_Citadel_-_Porte_d%27Aude.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Txllxt_TxllxT" rel="noopener noreferrer" target="_blank">
                            Txllxt TxllxT</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau Comtal medieval castle within the fortified castle-like citadel of Carcassonne, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Chateau-de-Comtal.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        Carcassonne &amp; Nimes
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/carcassonne-france-tourism-ancient-3458973/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jolimaison-4076676/" rel="noopener noreferrer" target="_blank">
                            jolimaison</a><br />
                    <i>Edited</i>
                </p>
            </div>     

        </div>
    </section>


    <!-- Row 4 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">


            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
                        Colmar
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon (Car)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau de Pierrefonds Castle Aerial View, Pierrefonds, Greater Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Pierrefonds-Chateau-de-Pierrefonds-Castle-1.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        Greater Paris
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pierrefonds-castle-aerial-view-462849/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/remiou-469745/" rel="noopener noreferrer" target="_blank">
                            remiou</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="Chateau de Chambord Palace, Chambord, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chambord-Palace-1.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        Loire Valley (Car)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/chambord-reflection-castle-3195956/ " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/edmondlafoto-7913128/ " rel="noopener noreferrer" target="_blank">
                            edmondlafoto</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 5 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Chateau de Chenonceau Castle, Chenonceau, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chenonceau-Castle.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        Loire Valley (Train)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                            Yvan Lastes</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/lyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Magnificent white Notre Dame Basilica de Fourviere towering above the cliffs of the city of Lyon, France"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Basilique-Notre-Dame-de-Fourviere-Basilica.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/lyon-attractions-guide">
                        Lyon
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Fourvi%C3%A8re.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cl%C3%A9ment_Bardot" rel="noopener noreferrer" target="_blank">
                            Clement Bardot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vibrant blue waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        Nice
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 6 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Aerial view of the fortified medieval citadel of Carcassonne, France" 
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Aerial-View.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        Southern Occitanie
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_carcassonne_aerial_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                            Chensiyuan</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Castle-like Mont Saint-Michel abbey on a tiny island rising above the sea"
                        data-src="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
                        St. Malo &amp; Mont Saint&#8209;Michel (Car)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/normandy-mont-saint-michel-abbey-1046056/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/jackmac34-483877/" rel="noopener noreferrer" target="_blank">
                            jackmac34</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 7 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>