<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Pond du Galetas Bridge View of Blue Waters of Verdon Gorge, Gorges du Verdon, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions of Gorges du Verdon, France and plan the perfect trip with our savable Gorges du Verdon Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="gorges_du_verdon_france" />
    <meta name="europe_attraction_guides" content="gorges_du_verdon_france" />
    <meta name="europe_destinations" content="gorges_du_verdon_france" />
    <meta name="europe_destination_guides" content="gorges_du_verdon_france" />
    <meta name="france_attraction_guides" content="gorges_du_verdon" />
    <meta name="france_destinations" content="gorges_du_verdon" />
    <meta name="france_destination_guides" content="gorges_du_verdon" />
    <meta name="national_park_attraction_guides" content="gorges_du_verdon" />
    <meta name="google_maps_list" content="gorges_du_verdon" />
    <meta property="og:title" content="Gorges du Verdon, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg">
    <meta name="twitter:title" content="Gorges du Verdon, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
    <title>Attractions Guide for Gorges du Verdon, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Gorges du Verdon, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#route-of-crests">Route of the Crests</a></div>
            <div><a href="#hiking-trails">Hiking Trails</a></div>
            <div><a href="#lake-sainte-croix">Lake Sainte-Croix</a></div>
            <div><a href="#corniche-sublime">Corniche Sublime</a></div>
            <div><a href="#moustiers">Moustiers, France</a></div>
            <div><a href="#provence-valensole">Valensole, France</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Greater Paris Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Gorges Du Verdon area is an extremely scenic river gorge in Southern France, which is sometimes even referred to as France's Grand Canyon. The vibrant light blue waters of the Verdon River flow through this deep canyon gorge, until reaching the majestic Lake of Sainte-Croix.</p>
    </section>


    <!-- Gorges du Verdon Route of the Crests and Hiking Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Famous overlook known as Point Sublime with views of uplifted green mountains and steep cliffs of the Gorges du Verdon canyon in Provence, France"
                        src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Point-Sublime.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Point Sublime</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/doggettx/6015412631/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/doggettx/" rel="noopener noreferrer" target="_blank">
                                    Doggettx</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning view seen along the Route of the Crests scenic drive overlooking part of the Gorges du Verdon in Provence, France"
                        src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Route-des-Cretes-D23-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Route of the Crests D23 Road View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Verdonschlucht,_roundtrip_Gorges_du_Verdon,_Grand_Canyon_du_Verdon_-_panoramio_(14).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Verdonschlucht,_roundtrip_Gorges_du_Verdon,_Grand_Canyon_du_Verdon_-_panoramio_(14).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    qwesy qwesy</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the vibrant light blue waters of the Verdon River at the bottom of the Gorges du Verdon canyon along the Sentier Martel Blanc hiking trail"
                        src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Sentier-Martel-Blanc-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sentier Martel Blanc Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/gorges-du-verdon-gorge-meouge-throat-1590512/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Noel_Bauza-2019050/" rel="noopener noreferrer" target="_blank">
                                    Noel_Bauza</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Angled hiking bridge which spans the Verdon River at the bottom of the Gorges du Verdon Canyon in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Passerelle-de-lEstellier-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Passerelle de l'Estellier Bridge​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/verdon-canyon-canyon-du-verdon-1920682/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/jsforster-1303056/" rel="noopener noreferrer" target="_blank">
                                    jsforster</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Point Sublime and Route of the Crests Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="route-of-crests"></a>
        <h2 class="left-heading destination-section-heading">Route of the Crests &amp; Point&nbsp;Sublime</h2>
        <p>The streets along both sides of the canyon offer many viewpoints overlooking the picturesque canyon, with the most notable being <strong>Point Sublime</strong>. Reaching this viewpoint requires a short walk of about 0.5 mile (0.8 km) round-trip.</p>
        <p>From Point Sublime you can continue along the northern side of the canyon along the Road D23 <strong>Route of the Crests</strong> (or Route des Cretes), an extremely scenic and windy drive along the edge of the canyon, which features many amazing viewpoints.</p>
    </section>


    <!-- Hiking Options and Sentier Blanc Martel Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hiking-trails"></a>
        <h2 class="left-heading destination-section-heading">Sentier Blanc Martel Trail &amp; Hiking&nbsp;Options</h2>
        <p>About halfway along the Route of the Crests (Route des Cretes) Road D23 is the Gorges du Verdon's most popular hiking trail, the <strong>Sentier Blanc Martel Trail</strong>. This hike usually begins near the Chalet de la Maline lodge (or the Starting Point Du Sentier Blanc-Martel on Google Maps) and ends at Point Sublime.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>This trail is approximately 7.7 miles (12.4 km) one way and ventures through a gorgeous part of the canyon. In July and August, a shuttle service runs between Point Sublime (Rougon Point Sublime Bus Station) and the Chalet de la Maline so that you don't need to hike all the way back to your starting point. The bus also runs on weekends from mid-April through mid-September.</p>
            <p>Be sure to bring a flashlight for when you pass under the dark Tunnel de Baou near the end of the route. Note that it's also possible to do this hike in reverse starting from Point Sublime if you like.</p>
            <p>Near the beginning of the hike you can add on a short 0.7 mile (1.1 km) round-trip detour to see the <strong>Passerelle de l'Estellier</strong> bridge, an impressive bridge which spans over the river at the bottom of the gorge. Alternatively for a shorter hiking option, you can start from the Chalet de la Maline and hike down to the bridge, before turning around and ascending back to the chalet. This option is approximately 2.7 miles (4.3 km) round-trip.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>
    


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Gorges du Verdon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6783767794"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



 
    <!-- Lake of Sainte-Croix and South Side Viewpoints Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Viewpoint from the road overlooking where the Gorges du Verdon canyon becomes the Lake of Sainte-Croix in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Road-D952-Gorges-du-Verdon-Lac-Sainte-Croix-Lake-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gorges du Verdon Sainte&#8209;Croix&nbsp;Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Route_des_Cr%C3%AAtes-Gorges_du_Verdon_West.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                                    Tobi 87</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque deep blue Lake of Sainte-Croix surrounded by green hills and mountains located near the mouth of the Verdon River and Gorges du Verdon canyon"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Lac-de-Sainte-Croix-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lake of Sainte-Croix</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/waters-travel-coast-panorama-sea-3086386/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Glavo-6474130/" rel="noopener noreferrer" target="_blank">
                                    Glavo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont du Galetas Bridge View​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                                    MissEJB</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching view over the Verdon River winding through the Gorges du Verdon canyon with lake Sainte-Croix in the background in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-View-Point-Verdon-Gorge-Cirque-de-Vaumale.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">View Verdon Gorge (Cirque&nbsp;de&nbsp;Vaumale)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/gorges-du-verdon-france-verdon-2647670/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/maresakriel-6185594/" rel="noopener noreferrer" target="_blank">
                                    maresakriel</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over a massive bend in the Verdon River from atop the cliffs of the Gorges du Verdon canyon in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Balcon-de-la-Mescla-Balcons-River-Bend-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Le Relais des Balcons de la Mescla</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gorges_du_Verdon_au_balcon_de_la_Mescla_-1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MOSSOT" rel="noopener noreferrer" target="_blank">
                                    MOSSOT</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Lake of Sainte-Croix Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lake-sainte-croix"></a>
        <h2 class="left-heading destination-section-heading">Lake of Sainte-Croix &amp; Kayaking&nbsp;the&nbsp;Canyon</h2>
        <p>Along the road on the northern side of the canyon are many smaller viewpoints you might like to stop at as you make your way down towards <strong>Lake Sainte-Croix</strong>. Just before reaching the end of the river along the canyon is the stunning <strong>Gorges Du Verdon Viewpoint</strong> overlooking a deep section of the canyon where the Verdon River becomes the lake. Spanning this section of the river is the Pont du Galetas bridge.</p>
        <p>Adjacent to both side of the <strong>Pont du Galetas</strong> bridge are beaches, from which you can rent a kayak or paddle boat to explore the the canyon. This is the most popular activity at Gorges du Verdon, and is an excellent way to see one of the most scenic parts of this picturesque canyon gorge and its vivid blue waters.</p>
    </section>


    <!-- South Side of the Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="corniche-sublime"></a>
        <h2 class="left-heading destination-section-heading">Southside Canyon Viewpoints (Corniche&nbsp;Sublime)</h2>
        <p>You might like to also take a scenic drive along the southern side of the Gorges du Verdon canyon, which is known as the Corniche Sublime Route and features many more great viewpoints. Not far up Road D71 from the lake is the <strong>View Point > Verdon Gorge</strong> located near Cirque de Vaumale, which offers an amazing view over the vibrant light blue river flowing through the canyon.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Much further up Road D71 is the <strong>Le Relais des Balcons de la Mescla</strong>, a restaurant hosting fantastic views high above the canyon. The restaurant overlooks a massive and deep river bend in the canyon.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Gorges du Verdon 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3919583691"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Moustiers and Valensole, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the entire town of Moustiers Sainte-Marie nestled below steep mountain cliffs near Gorges du Verdon in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Moustiers-Sainte-Marie-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Moustiers Sainte-Marie</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Moustiers_Sainte_Marie_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Nepomuk" rel="noopener noreferrer" target="_blank">
                                    Nepomuk</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View above the main church of Moustiers, France surrounded by lovely rustic buildings in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Moustiers-Sainte-Marie-Eglise-Notre-Dame-de-lAssomption-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre-Dame de la Assomption (Moustiers)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Moustiers-Sainte-Marie_France_2008.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Hubert_DENIES" rel="noopener noreferrer" target="_blank">
                                    Hubert Denies</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rustic church built up into the mountain above the town of Moustiers near Gorges du Verdon and Lake Sainte-Croix in Provence, France"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Moustiers-Sainte-Marie-Notre-Dame-de-Beauvoir-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre Dame de Beauvoir (Moustiers)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Aper%C3%A7u_de_Moustiers-Sainte-Marie,_Alpes-de-Haute-Provence,_France_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Aper%C3%A7u_de_Moustiers-Sainte-Marie,_Alpes-de-Haute-Provence,_France_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Jfdo</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant rows of lavender fields stretching as far as the eye can see in Valensole, Provence, France near Gorges du Verdon"
                        data-src=" https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Valensole-Lavender-Fields.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valensole Lavender Fields</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/138866094@N02/24808906794" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/138866094@N02/" rel="noopener noreferrer" target="_blank">
                                    Matheus Swanson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Moustiers, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="moustiers"></a>
        <h2 class="left-heading destination-section-heading">Moustiers, France</h2>
        <p>Be sure to visit the picturesque village of <strong>Moustiers Sainte-Marie</strong>, which is located just north of the Pont du Galetas bridge and the lake. This rustic hillside village is surrounded by fantastic scenery and is a very popular tourist attraction. Be sure to admire the town's pretty <strong>Notre Dame de l'Assomption</strong> church as well.</p>
        <p>You can hike up into the rocky hills above Moustiers to the beautiful 14th century <strong>Notre Dame de Beauvoir</strong> church. Along the hike up you can enjoy magnificent views overlooking the village. You can also spot this church from town set amongst the cliffs which tower above the village.</p>
    </section>


    <!-- Valensole, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="provence-valensole"></a>
        <h2 class="left-heading destination-section-heading">Valensole, France Lavender&nbsp;Fields</h2>
        <p>To the west of Moustiers is another charming rustic village, <strong>Valensole</strong>. This village is famous for the vast lavender fields which surround the town. Just be aware that these vibrant lavender fields only bloom between mid-June and mid-July each summer.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Gorges du Verdon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5168978385"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Gorges du Verdon Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/UyBoYxbRBSk">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/MPA9s25oFRN2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vibrant blue waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        Nice
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Breathtaking High elevation view over the country of Monaco and its coastline from the city of La Turbie, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-La-Turbie-View-Over-Monaco-Overlook.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        Monaco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_von_Monaco-La_Turbie.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                            Tobi 87</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
        </div>

    </section>


    