<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Vieux Lyon Old Town district with city's oldest church below the hilltop Notre Dame de la Garde Cathedral in Lyon, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Lyon-Vieux-Lyon-Historic-Center-and-Notre-Dame-de-la-Garde-Cathedral-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Lyon, France and plan the perfect trip with our savable Lyon Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lyon_france" />
    <meta name="europe_attraction_guides" content="lyon_france" />
    <meta name="europe_destinations" content="lyon_france" />
    <meta name="europe_destination_guides" content="lyon_france" />
    <meta name="france_attraction_guides" content="lyon" />
    <meta name="france_destinations" content="lyon" />
    <meta name="france_destination_guides" content="lyon" />
    <meta name="google_maps_list" content="lyon" />
    <meta property="og:title" content="Lyon, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Lyon-Vieux-Lyon-Historic-Center-and-Notre-Dame-de-la-Garde-Cathedral.jpg">
    <meta name="twitter:title" content="Lyon, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Lyon-Vieux-Lyon-Historic-Center-and-Notre-Dame-de-la-Garde-Cathedral.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/lyon-attractions-guide">
    <title>Attractions Guide for Lyon, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Lyon, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#fourviere-hill">Fourviere Hill</a></div>
            <div><a href="#vieux-district">Vieux District</a></div>
            <div><a href="#central-lyon">Central Lyon</a></div>
            <div><a href="#murals">Murals</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
            <div><a href="#vienne-top-attractions">Vienne, France</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    <!-- Introduction to Lyon Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The city of Lyon is the third largest city in France and features many beautiful buildings with similar architecture to that of Paris.</p>
    </section>


    <!-- Lyon Fourviere and Vieux Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Magnificent white Notre Dame Basilica de Fourviere towering above the cliffs of the city of Lyon, France"
                        src="https://www.travelimager.com/images/france/France-Lyon-Basilique-Notre-Dame-de-Fourviere-Basilica.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica Notre Dame de Fourviere</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Fourvi%C3%A8re.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cl%C3%A9ment_Bardot" rel="noopener noreferrer" target="_blank">
                                    Clement Bardot</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ancient Gallo Roman Theatre built into the hillside in Lyon, France"
                        src="https://www.travelimager.com/images/france/France-Lyon-Fourviere-Theater-Antique-Gallo-Romain-Ancient-Roman-Theatre.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gallo Roman Ancient&nbsp;Theatre</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lyon_5_-_Th%C3%A9%C3%A2tre_antique_de_Fourvi%C3%A8re_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pymouss" rel="noopener noreferrer" target="_blank">
                                    Pymouss</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely random street lined with historic buildings within Lyon's scenic Vieux Old District"
                        src="https://www.travelimager.com/images/france/France-Lyon-Vieux-Lyon-District.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vieux Lyon District</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/84554176@N00/8149961358/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/84554176@N00/" rel="noopener noreferrer" target="_blank">
                                    Guillaume Baviere</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the medieval Lyon Cathedral at night"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Cathedrale-Saint-Jean-de-Lyon-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lyon Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:MK53742_Cath%C3%A9drale_Saint-Jean_de_Lyon.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Martin_Kraft" rel="noopener noreferrer" target="_blank">
                                    Martin Kraft</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Fourviere Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fourviere-hill"></a>
        <h2 class="left-heading destination-section-heading">Fourviere Hill &amp; Notre&#8209;Dame&nbsp;Basilica</h2>
        <p>The top attraction in Lyon is the magnificent white <strong>Basilica of Notre Dame de Fourviere</strong>, a uniquely designed Romanesque-Byzantine style basilica built atop the Fourviere Hill overlooking the city. The basilica also contains beautiful ornate interiors. From the balcony behind the church you can enjoy amazing views over Lyon from high above.</p>
        <p>Be sure to walk through the lovely hillside Des Hauteurs Park along your ascent/descent to the basilica, from which you can also enjoy views over Lyon.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Ancient Roman Ruins of Fourviere</h3>
            <p>Nearby the Notre Dame Basilica are the remains of the ancient <strong>Gallo Roman Theatre</strong> and other smaller ruins, which made up part of the ancient Roman city of Lugdunum. The theatre is quite large and impressive, and is still in use today for concerts and other events.</p>
            <p>Adjacent to the theatre is the Gallo-Roman Museum of Lyon displaying archaeological finds from the site.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Vieux Lyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="vieux-district"></a>
        <h2 class="left-heading destination-section-heading">Vieux Lyon Old District</h2>
        <p>Below Fourviere Hill and the Notre Dame Basilica is the riverfront <strong>Vieux Lyon District</strong>, in which you'll find many stunning Renaissance-style buildings.</p>
        <p>In this district you'll find the beautiful 14th century <strong>Lyon Cathedral</strong>, which is also known as the Cathedrale Saint-Jean-Baptiste. This striking church contains elegant stained glass windows and features elaborate gothic architecture. Adjacent to the cathedral are the ruins of a 5th century cathedral, called the St. John Archaeological Garden, with its most prominent feature being a stone archway.</p>
        <p>Nearby you'll find a very unique museum, the Movies & Miniature Museum, which hosts countless major film props from famous movies, presented in an impressive and informative manner, along with many highly elaborate miniature scenes on display. The museum is multiple stories tall and is highly recommended.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lyon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6900152013"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



 
    <!-- Central Lyon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Absolutely massive Place Bellecour Square in the middle of Lyon, France surrounded by historic buildings with the city's Notre Dame Basilica atop Fourviere Hill in the background"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Place-Bellecour-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place Bellecour Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/liakadaweb/41794498755/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/liakadaweb/" rel="noopener noreferrer" target="_blank">
                                    Herbert Frank</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic Place des Jacobins Square surrounded by elegant buildings in Lyon, France"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Place-des-Jacobins-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place des Jacobins Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/liakadaweb/40884884220/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/liakadaweb/" rel="noopener noreferrer" target="_blank">
                                    Herbert Frank</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Palais de la Bourse, a former palace in Lyon, France"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Palais-de-la-Bourse-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais de la Bourse de Lyon​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palais_de_la_Bourse_vu_par_Saint-Bonaventure_PA00117979.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alexmar983" rel="noopener noreferrer" target="_blank">
                                    Alexmar983</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bartholdi Fountain lit up at night in Lyon, France"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Place-des-Terreaux-Fontaine-Bartholdi-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bartholdi Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fontaine_Bartholdi_Place_des_Terreaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Fontaine_Bartholdi_Place_des_Terreaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Qmin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful facade of the elegant and historic Hotel de Ville City Hall Building in Lyon, France"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Hotel-de-Ville-City-Hall-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hotel de Ville City&nbsp;Hall&nbsp;Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/84554176@N00/8139336670" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/84554176@N00/" rel="noopener noreferrer" target="_blank">
                                    Guillaume Baviere</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior facade of the Lyon Museum of Fine Arts"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Musee-des-Beaux-Arts-Museum-of-Fine-Arts.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lyon Museum of Fine&nbsp;Arts</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palais_St_Pierre_Lyon1_fr_facade_Terreaux.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alorange" rel="noopener noreferrer" target="_blank">
                                    Alorange</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>                

            </div>
        </div>
    </div>


    <!-- Central Lyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-lyon"></a>
        <h2 class="left-heading destination-section-heading">Central Lyon &amp; Place Bellecour</h2>
        <p>Across the Saone River from Vieux Lyon is the massive <strong>Place Bellecour</strong> square, lined with elegant buildings. Place Bellecour is the largest pedestrian square in Europe and is even a UNESCO world heritage site. A few blocks to the north is the <strong>Place des Jacobins</strong> square lined with fine 19th century buildings and an impressive fountain in the middle. Be sure to also admire the extravagant <strong>Palais de la Bourse de Lyon</strong> palace nearby.</p>
        <p>Further north of Place Bellecour is the Place des Terreaux plaza. On this plaza you'll find the grand <strong>Bartholdi Fountain</strong> and the majestic <strong>Hotel de Ville</strong> City Hall building of Lyon.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also on the Place des Terraux plaza is the <strong>Lyon Museum of Fine Arts</strong> housed in a 17th century former Benedictine convent. The museum is among the largest in France and hosts a wide range of exhibits, including fine art, sculptures, decorative arts, artifacts, and more from various time periods of history.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Lyon Murals Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="murals"></a>
        <h2 class="left-heading destination-section-heading">Murals of Lyon</h2>
        <p>North of the city center you can find incredibly realistic murals covering entire walls of tall buildings, depicting lively urban scenes which seem to blend in perfectly with their surroundings. These murals include the Fresques des Lyonnais near the Fine Arts Museum, and the Mur des Canuts further uptown.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lyon 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7900025453"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- More Lyon and Vienne Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely pond with ducks and trees within Lyon's Parc de la tete d'Or Park"
                        data-src="https://www.travelimager.com/images/france/France-Lyon-Le-Parc-de-la-Tete-dOr-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc de la Tete d'Or Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Un_enclos_de_singes_-_Le_Parc_de_la_T%C3%AAte_d%27Or_-_Lyon_(10).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tusco" rel="noopener noreferrer" target="_blank">
                                    Tusco</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient partially-destroyed Roman columns, part of the massive Site of Saint Romin en Gal, an ancient Roman city containing vast ruins near modern Vienne, France"
                        data-src="https://www.travelimager.com/images/france/France-Vienne-Museum-and-Site-Saint-Romain-en-Gal-Ancient-Roman-Archaeological-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum &amp; Site of Saint Romain en Gal (Vienne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vienne,_Saint-Romain-en-Gal,_Roman_Columns.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Karl-Heinz_Wellmann" rel="noopener noreferrer" target="_blank">
                                    Karl-Heinz Wellmann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly well-preserved Temple of Augustus and its ancient Roman columns in the middle of the city of Vienne, France"
                        data-src="https://www.travelimager.com/images/france/France-Vienne-Temple-dAuguste-et-de-Livie-Ancient-Roman-Temple-of-Augustus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple d'Augustus et de Livie (Vienne)​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/temple-pillar-vienne-antique-1590558/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/falco-81448/" rel="noopener noreferrer" target="_blank">
                                    falco</a><br />
                           <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side view of the well-preserved ancient Roman theatre in Vienne, France"
                        data-src="https://www.travelimager.com/images/france/France-Vienne-Theatre-Antique-Ancient-Roman-Theater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Roman Theatre (Vienne)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Th%C3%A9%C3%A2tre_antique_de_Vienne._019.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Otourly" rel="noopener noreferrer" target="_blank">
                                    Otourly</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Lyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Lyon Attractions</h2>
        <p>One of the city's most popular museums is the Confluence Museum of science and anthropology housed within a striking ultra-contemporary structure. The museum sits at the confluence of Lyon's two great rivers, at the tip of the peninsula between them.</p>
        <p>Northeast of the city center is the <strong>Parc de la Tete d'Or</strong>, a massive 19th century park featuring beautiful gardens, statues, the city's zoo, and a vast lake you can explore via paddleboat.</p>
    </section>


    <!-- Vienne, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="vienne-top-attractions"></a>
        <h2 class="left-heading destination-section-heading">Vienne, France</h2>
        <p>To the south of Lyon is the city of Vienne, which can be easily reached by car or public transportation from Lyon.</p>
        <p>The city is known for its ancient Roman ruins, most notably the <strong>Musee et Sites de Saint Romain en Gal Vienne</strong>, a fantastic museum housing archaeological finds, as well as accurately recreated structures and boats. Outside the museum you can explore a large complex of ancient Roman ruins consisting of columns, pools, gardens, and the foundations of structures.</p>
        <p>Across the river in Vienne's center you can admire the stunningly well-preserved columned <strong>Temple d'Auguste et de Livie</strong>, which was built over 2,000 years ago. Be sure to also see the city's ancient <strong>Roman Theatre</strong>, which hosts excellent views overlooking Vienne.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lyon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7603570035"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lyon Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/z6JY4uhDeVF2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CBFsp3iaks82">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    