<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Vieux Port Old Port of Marseille and Basilica Notre Dame de la Garde, Marseille, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Marseille-Vieux-Port-Old-Port-and-Basilica-Notre-Dame-de-la-Garde-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Marseille & Cassis, France + Calanques National Park and plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="marseille_france" />
    <meta name="attraction_guides" content="cassis_france" />
    <meta name="attraction_guides" content="calanques_national_park_france" />
    <meta name="europe_attraction_guides" content="marseille_france" />
    <meta name="europe_destinations" content="marseille_france" />
    <meta name="europe_destination_guides" content="marseille_france" />
    <meta name="france_attraction_guides" content="marseille" />
    <meta name="france_attraction_guides" content="cassis" />
    <meta name="france_attraction_guides" content="calanques_national_park" />
    <meta name="france_destinations" content="marseille" />
    <meta name="france_destinations" content="cassis" />
    <meta name="france_destinations" content="calanques_national_park" />
    <meta name="france_destination_guides" content="marseille" />
    <meta name="france_destination_guides" content="cassis" />
    <meta name="france_destination_guides" content="calanques_national_park" />
    <meta name="national_park_attraction_guides" content="calanques" />
    <meta name="google_maps_list" content="marseille" />
    <meta name="google_maps_list" content="cassis" />
    <meta name="google_maps_list" content="calanques_national_park" />
    <meta property="og:title" content="Marseille & Cassis, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Marseille-Vieux-Port-Old-Port-and-Basilica-Notre-Dame-de-la-Garde.jpg">
    <meta name="twitter:title" content="Marseille & Cassis, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Marseille-Vieux-Port-Old-Port-and-Basilica-Notre-Dame-de-la-Garde.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
    <title>Attractions Guide for Marseille & Cassis, France</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Marseille &amp; Cassis, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#old-port">Old Port</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#chateau-dif-longchamp">Chateau d'If</a></div>
            <div><a href="#calanques-national-park">Cassis Calanques</a></div>
            <div><a href="#calanque-sormiou-morgiou">Calanques Sormiou</a></div>
            <div><a href="#calanque-sormiou-morgiou">Calanque Morgiou</a></div>
            <div><a href="#calanque-sugiton">Calanque Sugiton</a></div>
            <div><a href="#calanque-den-vau-port-pin">Calanque d'En Vau</a></div>
            <div><a href="#calanque-den-vau-port-pin">Calanque Port Pin</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Marseille Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Marseille is the second largest city in France and is located along the country's southern coast on the Mediterranean Sea. The city is located west of Cote d'Azur and the French Riviera in the Provence region.</p>
    </section>


    <!-- Marseille Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Historic Port Vieux (or Old Port) harbor with the iconic hilltop Notre Dame de la Garde in the background in Marseille, France"
                        src="https://www.travelimager.com/images/france/France-Marseille-Port-Vieux-Old-Port.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Port of Marseille</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Marseille_-_Vieux-Port2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Kulmalukko" rel="noopener noreferrer" target="_blank">
                                    Tila Monto</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View from across Marseille's Old Port of the large coastal Fort Saint-Jean complex"
                        src="https://www.travelimager.com/images/france/France-Marseille-Fort-Saint-Jean.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort Saint-Jean</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Marseille_-_Fort_Saint-Jean_06.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://fr.wikipedia.org/wiki/Utilisateur:Christophe.Finot" rel="noopener noreferrer" target="_blank">
                                    Christophe.Finot</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Towering striped Marseille Cathedral with its elegant domes in Marseille, France"
                        src="https://www.travelimager.com/images/france/France-Marseille-Cathedrale-la-Major-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Marseille Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Marseille.Cath%C3%A9drale_Sainte-Marie-Majeure,_dite_Nouvelle_Major(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Charliemoon" rel="noopener noreferrer" target="_blank">
                                    Charliemoon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Medieval exterior walls of the Abbey Saint-Victor in Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Marseille-Abbaye-Saint-Victor-Fortified-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Abbey Saint-Victor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Abbaye_St_Victor_2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Abbaye_St_Victor_2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Guiguilacagouille</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous towering Notre Dame de la Garde, a massive white cathedral with stripes, topped with a giant golden figure, located on a hill overlooking Marseille, France" 
                        data-src="https://www.travelimager.com/images/france/France-Marseille-Basilique-Notre-Dame-de-la-Garde-Basilica.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre Dame de la Garde</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_la_Garde.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Benh" rel="noopener noreferrer" target="_blank">
                                    Benh Lieu Song</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view of the Chateau d'If, a tiny island fortress which inspired the Count of Monte Cristo novel, located just off the coast of Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Marseille-Chateau-dIf-If-Monte-Cristo-Island-Fortress.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau d'If Island&nbsp;Fortress</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dalbera/14205955846" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dalbera/" rel="noopener noreferrer" target="_blank">
                                    Jean-Pierre Dalbera</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Chateau d'If from nearby Les Iles islands off the coast of Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Marseille-Chateau-dIf-Island-Fortress-Prison-seen-from-Les-Iles-Islands.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau d'If I(Les&nbsp;Iles&nbsp;View))</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/marseille-france-castle-2782682/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/jovanel-5936313/" rel="noopener noreferrer" target="_blank">
                                    jovanel</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grandiose colonnaded monument with a waterfall and pond in front of it at the Parc Longchamp in Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Marseille-Parc-Longchamp-Palais-Longchamp.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc Longchamp</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Marseille_Palais_Longchamp_02_20061231.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Okki" rel="noopener noreferrer" target="_blank">
                                    Georges Seguin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Old Port of Marseille Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-port"></a>
        <h2 class="left-heading destination-section-heading">Old Port of Marseille</h2>
        <p>Among the city's main attractions is the <strong>Old Port of Marseille</strong>, an extremely scenic waterfront area with many restaurants and historic buildings. At the entrance to the Old Port is the impressive <strong>Fort Saint-Jean</strong>, from which you can take enjoy amazing panoramic views overlooking the harbor and coastline.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Fort Saint-Jean is connected by bridge to the city's most prominent museum, the Mucem Musee des Civilisations de l'Europe et de la Mediterranee (MuCEM, or Museum of European & Mediterranean Civilizations). This seaside museum hosts a great collection of important artifacts, as well as changing temporary exhibits.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Churches of Marseille Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches &amp; Basilica Notre&#8209;Dame de la Garde</h2>
        <p>Just north of the harbor and museum is the city's main church, the <strong>Marseille Cathedral</strong> (or Cathedrale La Major), a brilliant and elaborate Byzantine-style church which towers above the city. This cathedral is beautiful both inside and out, and is among the largest churches in France</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>To the south of the Old Port is the castle-like <strong>Abbey Saint-Victor</strong>, a 13th century abbey with a striking exterior. From the abbey you can enjoy views overlooking the Old Port and the fortifications surrounding it.</p>
            <h3>Basilica Notre-Dame de la Garde</h3>
            <p>Further south of the Old Port atop a hill is Marseille's most popular attraction, the Byzantine-style <strong>Basilica Notre-Dame de la Garde</strong>. This landmark basilica is topped with a giant golden statue of the Virgin Mary and hosts remarkable interiors. The basilica is located atop Marseille's highest point and offers incredible far-reaching views over the city and coastline.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Chateau d'If and Parc Longchamp Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="chateau-dif-longchamp"></a>
        <h2 class="left-heading destination-section-heading">Chateau d'If &amp; Parc&nbsp;Longchamp</h2>
        <p>From Marseille's Old Port you can take a very short boat ride to the <strong>Chateau d'If</strong>, a 16th century fortified castle atop a tiny island. The castle was later converted into a prison, which served as the primary setting for the famous fictional Count of Monte Cristo novel. This castle prison now serves as a museum that you can explore and hosts fantastic views looking back at Marseille.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Parc Longchamp</h3>
            <p>One more popular attraction to consider seeing in the city is the <strong>Parc Longchamp</strong>, which features an elegant colonnade structure built in the 19th century, with extravagant fountains in front of it. This monumental structure is known as the Palais Longchamp, which also hosts the city's fine arts and natural history museums. </p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>   
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Marseille 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6290488367"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Calanques de Sormiou, Morgiou, and Sugiton Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="High-definition view overlooking the stunning mix of light blue and dark blue waters of the Calanque de Sormiou and its beach from a viewpoint high above the coast near Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sormiou.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque de Sormiou</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Marseille_Calanque_Sormiou.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Benh" rel="noopener noreferrer" target="_blank">
                                    Benh Lieu Song</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Crete Viewpoint overlooking the Calanque de Morgiou in its entirety with its deep blue waters and tall cliffs near Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Morgiou-Crete-de-Morgiou-Crest-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque de Morgiou (Crete&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Calanque_Morgiou_02.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Benh" rel="noopener noreferrer" target="_blank">
                                    Benh Lieu Song</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque de Sugiton</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Paco de la trillade</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Belvedere de Sugiton viewpoint overlooking the Calanque de Sugiton from high above near Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Morgiou-Belvedere-de-Sugiton-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belvedere du Sugiton</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/127339305@N05/16035235823" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/127339305@N05/" rel="noopener noreferrer" target="_blank">
                                    Ludovic Lubeigt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Calanques National Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="calanques-national-park"></a>
        <h2 class="left-heading destination-section-heading">Calanques National Park</h2>
        <p>Along the coastline between Marseille and the town of Cassis is Calanques National Park, which is known for its many stunning calanques. Calanques are long narrow bays surrounded by steep cliffs. Most of Cassis's calanques feature beautiful beaches and vibrant blue-green waters, surrounded by breathtaking scenery.</p>
        <p>The best and most convenient way to see all of the most popular calanques of Cassis is via boat tour from the Old Port of Marseille. Various boat tours are available offering a range of options to include some of all of the calanques, and even visits to the Chateau d'If prison island. Other popular calanque boat tours depart from the port in Cassis.</p>
        <p>The most scenic calanques of the national park can all be seen without a tour, however they all require hikes to reach.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Reaching Calanque Trailheads by Bus</h3>
            <p>Many of the trailheads for the calanques are easily reached by bus from Marseille, including the Calanques de Sormiou, Morgiou, & Sugiton (along the western coastline of Cassis).</p>
            <p>In order to reach the calanques along the western coastline of Cassis including the Claanque de Port Miou, Port Pin, and the gorgeous Calanque d'En Vau, you'll need to take the train to the Cassis Train Station, which is unfortunately located a bit far away from the coast. To reach the trailhead for the eastern calanques (at Calanque de Port-Miou) you'll need to walk or take a taxi/Uber 2.9 miles (4.7 km) one-way from the Cassis Train Station.</p>
            <h3>Reaching Calanque Trailheads by Car</h3>
            <p>In the busier summer season the roads leading directly to the calanques are closed, and even in the cooler seasons many of the roads are only open to local residents.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Calanques de Sormiou and Morgiou Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="calanque-sormiou-morgiou"></a>
        <h2 class="left-heading destination-section-heading">Calanques de Sormiou &amp; Morgiou</h2>
        <p>The closest major calanque to Marseille is the wider <strong>Calanque de Sormiou</strong>, which features clear waters and small beaches. The trail to reach this calanque is about 2.2 miles (3.5 km) round-trip, starting from the Parking Calanque de Morgiou parking lot (near the Les Baumettes Bus Station).</p>
        <p>From the Calanque de Sormiou you can take a steep hike heading eastwards along the Crete de Morgiou crest in order to enjoy amazing views over the neighboring <strong>Calanque de Morgiou</strong>. This viewpoint is approximately 2.6 miles (4.2 km) round-trip from the Calanque de Sormiou, with the option of adding an extra 1.6 miles (2.6 km) round-trip to reach the Calanque de Morgiou by hiking down the crest and along the cliffs.</p>
    </section>


    <!-- Calanque Sugiton Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="calanque-sugiton"></a>
        <h2 class="left-heading destination-section-heading">Calanque de Sugiton</h2>
        <p>Further east along the coast is the <strong>Calanque de Sugiton</strong>, which is one of the most popular calanques in the national park. This extremely scenic calanque can be reached via a round-trip hike of about 4 miles (6.4 km), starting from the parking area near the end of Avenue de Luminy (near the Luminy Pn des Calanques Bus Station).</p>
        <p>You'll definitely want to further explore the cliffs of this calanque and add a short detour of about 1 mile (1.6 km) round-trip to reach the <strong>Belvedere du Sugiton</strong>, a breathtaking viewpoint overlooking the neighboring Calanque de Morgiou as well as the stunning rugged coastline.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Marseille 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4977406693"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Calanque d'en Vau and Calanque de Port Pin Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View looking down the exteremely long Calanque de Port-Miou marina lined with many boats below the cliffs in Cassis, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Port-Miou-Harbor.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque de Port-Miou</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cassis_mazieji_fiordai3.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://lt.wikipedia.org/wiki/Naudotojas:Rokaszil" rel="noopener noreferrer" target="_blank">
                                    Rokaszil</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the peninsula looking back at the Calanque de Port Pin with red mountains in the distance near Cassiss, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Port-Pin.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque de Port Pin</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Calanque_de_Port_Miou.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Calanque_de_Port_Miou.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Nrocks75</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant green-blue waters seen from the southeast cliffs high above the Calanque d'en Vau"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-En-Vau-Southeast-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque d'En-Vau (Southeast&nbsp;Overlook)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:20150512_112008_Richtone(HDR).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:20150512_112008_Richtone(HDR).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Muller Marcel Toulon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible view over the steep cliffs and vibrant blue-green waters of the Calanque d'En-Vau located near Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-En-Vau-Northeast-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque d'En-Vau (Northeast&nbsp;Overlook)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Calanque_d%22En-vau.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GabrielleMerk" rel="noopener noreferrer" target="_blank">
                                    GabrielleMerk</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning view over the Calanque d'En Vau from the top of the northwest cliffs behind a tree near Marseille and Cassis, France" 
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-En-Vau-Northwest-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Calanque d'En-Vau (Northwest&nbsp;Overlook)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/akunamatata/12889158834/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/akunamatata/" rel="noopener noreferrer" target="_blank">
                                    akunamata</a> <br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Calanques d'En Vau, Port Miou, and Port Pin Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="calanque-den-vau-port-pin"></a>
        <h2 class="left-heading destination-section-heading">Calanques d'En Vau, Port&nbsp;Miou, &amp; Port&nbsp;Pin</h2>
        <p>Perhaps the most gorgeous calanque within the national park is the Calanque d'En Vau, which is surrounded by tall jagged cliffs and features a large beach. The best hiking route to reach this calanque is via a scenic coastal walk, starting from the Parking Calanque parking lot at the Calanque Port-Miou.</p>
        <p>This route is about 5 miles (8 km) round-trip and passes by the park's other two major calanques along the way. The route begins by circling around the extremely long and narrow <strong>Calanque de Port-Miou</strong>, which is lined with docked boats, before heading to the smaller but stunning <strong>Calanque de Port Pin</strong>, which hosts a small beach. The best views over this calanque can be enjoyed from the southwestern cliffs.</p>
        <p>From the Calanque de Port Pin you'll continue around to the park's most scenic calanque, the <strong>Calanque d'En Vau</strong>, with the opportunity of adding on an additional 0.8 miles (1.3 km) to see the striking southeastern viewpoint overlooking the calanque.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Once at the beach of Calanque d'En Vau there's even the possibility of renting a kayak and further exploring the calanque. Be sure to also hike up above the calanque for breathtaking views, which you can enjoy from either the northwestern and northeastern sides of the cliffs.</p>
            <h3>Calanques de Port Miou &amp; Port&nbsp;Pin Only</h3>
            <p>Note that it's approximately 3.6 miles (5.8 km) round-trip if you wish to only see the Calanque de Port-Miou and Calanque de Port Pin, as well as the viewpoint above Port Pin.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Marseille Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2762306897"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Marseille &amp; Cassis Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/9bcQZd3Kb4M2">&rArr; Top Attractions (Train)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/XKAfhHX7rDm">&rArr; All Attractions (Train)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/BxF8R2y9HuG2">&rArr; Top Attractions (Car)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/BW2zV1YkH322">&rArr; All Attractions (Car)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Ancient Roman arena of Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
                        Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vibrant blue waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
                        Nice
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                            bogitw</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Breathtaking High elevation view over the country of Monaco and its coastline from the city of La Turbie, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-La-Turbie-View-Over-Monaco-Overlook.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        Monaco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_von_Monaco-La_Turbie.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                            Tobi 87</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Viewpoint of the eastern walls of the Cite de Carcassonne citadel, a castle-like city in Occitanie, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        Carcassonne &amp; Narbonne
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_-_Pont_Neuf_-_View_SSE_on_Old_Bridge_%26_Citadel_-_Porte_d%27Aude.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Txllxt_TxllxT" rel="noopener noreferrer" target="_blank">
                            Txllxt TxllxT</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    