<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View from Mont Alban over Villefranche-sur-Mer and Coast, Nice, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Nice-Mont-Alban-View-over-Villefranche-sur-Mer-Coastline-and-Saint-Jean-Cap-Ferrat-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Nice, France + Eze & Saint-Jean-Cap-Ferrat, and plan the perfect trip with our savable Nice Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="nice_france" />
    <meta name="attraction_guides" content="eze_france" />
    <meta name="europe_attraction_guides" content="nice_france" />
    <meta name="europe_destinations" content="nice_france" />
    <meta name="europe_destination_guides" content="nice_france" />
    <meta name="france_attraction_guides" content="nice" />
    <meta name="france_attraction_guides" content="eze" />
    <meta name="france_destinations" content="nice" />
    <meta name="france_destinations" content="eze" />
    <meta name="france_destination_guides" content="nice" />
    <meta name="france_destination_guides" content="eze" />
    <meta name="google_maps_list" content="nice" />
    <meta name="google_maps_list" content="eze" />
    <meta property="og:title" content="Nice & Eze, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Nice-Mont-Alban-View-over-Villefranche-sur-Mer-Coastline-and-Saint-Jean-Cap-Ferrat.jpg">
    <meta name="twitter:title" content="Nice & Eze, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Nice-Mont-Alban-View-over-Villefranche-sur-Mer-Coastline-and-Saint-Jean-Cap-Ferrat.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/nice-attractions-guide">
    <title>Attractions Guide for Nice, France</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Nice, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#old-town-nice">Old Town Nice</a></div>
            <div><a href="#mont-alban">St. Nicholas &amp; Mont Alban</a></div>
            <div><a href="#cimiez">Cimiez</a></div>
            <div><a href="#villefranche-sur-mer">Villefranche-sur-Mer</a></div>
            <div><a href="#saint-jean-cap-ferrat">Saint-Jean-Cap-Ferrat</a></div>
            <div><a href="#eze">Eze, France</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Nice Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Nice is the largest city along the French Riviera of Southern France, and is known for its many high-end resorts and beaches. Nice is located very close the the micro-state of Monaco, and just beyond Monaco is the beginning of the Italian Riviera.</p>
        <p>The city of Nice and its neighboring suburbs host many great attractions, which can be easily reached by public transportation or by vehicle, although parking can sometimes be difficult.</p>
    </section>


    <!-- Nice Old Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Iconic Place Massena Placa with its checker-patterned floor, a central hub of the city of Nice, France" 
                        src="https://www.travelimager.com/images/france/France-Nice-Place-Massena-Plaza-Fontaine-du-Soleil-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place Massena Plaza</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Jean-M%C3%A9decin,_Nice,_France_-_panoramio_(11).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Jean-M%C3%A9decin,_Nice,_France_-_panoramio_(11).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Facade and bell tower of the historic Nice Cathedral in Nice's Old Town"
                        src="https://www.travelimager.com/images/france/France-Nice-Cathedrale-Sainte-Reparate-Nice-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nice Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cath%C3%A9drale_Sainte-R%C3%A9parate_P1010156.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jesmar" rel="noopener noreferrer" target="_blank">
                                    Jesmar</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lavish exterior of the white gold-adorned Basilica Notre-Dame de l'Assomption in the Old Town of Nice, France"
                        src="https://www.travelimager.com/images/france/France-Nice-Basilique-Notre-Dame-de-lAssomption-Basilica.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica Notre-Dame de l'Assomption</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/limewave/5179160111/#/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/limewave/" rel="noopener noreferrer" target="_blank">
                                    LimeWave</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful man-made waterfall in the Castle Hill park above Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Nice-Castle-Hill-Cascade-du-Casteu-Waterfall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle Hill Waterfall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daleharvey/2268123348" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daleharvey/" rel="noopener noreferrer" target="_blank">
                                    Dale Harvey</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wide view over Nice's historic port, Port Lympia" 
                        data-src="https://www.travelimager.com/images/france/France-Nice-Port-Lympia.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nice Port Lympia</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hafen_von_Nizza.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                                    Tobi 87</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Nice Old Town Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="old-town-nice"></a>
        <h2 class="left-heading destination-section-heading">Old Town Nice Attractions</h2>
        <p>The most iconic location within Nice is the <strong>Place Massena</strong>, a vast plaza of checkerboard-patterned tiles lined with elegant 19th century Italian-esque buildings. The plaza also hosts the grand Fontaine du Soleil fountain. Nearby the plaza is the the baroque 17th century <strong>Nice Cathedral</strong>, a beautiful and ornate structure. You might also like to walk north from the plaza to view the lavish <strong>Basilique Notre-Dame de l'Assomption</strong>, a 19th century neo-gothic basilica.</p>
        <p>Just east of Place Massena and the Nice Cathedral is <strong>Castle Hill</strong>, a massive hill which rises above the city's coast. An old medieval castle and fortress once stood atop Castle Hill, but now the hill hosts a large park with a waterfall, old ruins, and stunning views overlooking Nice and the coastline.</p>
        <h3>Port Lympia</h3>
        <p>Just below Castle Hill is the scenic <strong>Port Lympia</strong>, which is lined with many colorful historic buildings and filled with giant yachts.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Nice 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5076768604"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Nice City Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the famous and colorful St. Nicholas Russian Orthodox Cathedral in Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Nice-St-Nicholas-Russian-Orthodox-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Nicholas Orthodox Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Russian_church_nice_france.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Grippenn" rel="noopener noreferrer" target="_blank">
                                    Grippenn</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque views over Saint-Jean-Cap-Ferrat and the French Riviera coastline from the mountaintop Fort du Mont Alban in Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Nice-Fort-du-Mont-Alban-Villefranche-sur-Mer-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort du Mont Alban View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villefranche-sur-Mer.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Positiv" rel="noopener noreferrer" target="_blank">
                                    Benutzer Positiv</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Roman ruins of the Cimiez Arena in Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Nice-Cimiez-Arena-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cimiez Arena</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ar%C3%A8nes_de_Cimiez,_Nice,_France.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:EdouardHue" rel="noopener noreferrer" target="_blank">
                                    Edouard Hue</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of the old Cimiez Monastery in Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Nice-Monastere-de-Cimiez-Monastery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cimiez Monastery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ch%C5%93ur_de_l%27%C3%A9glise_du_monast%C3%A8re_de_Cimiez,_Nice,_France.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:EdouardHue" rel="noopener noreferrer" target="_blank">
                                    Edouard Hue</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Man-made Cascade Gairaiut Waterfall in front of a decorative Swiss-style chateau in Northern Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Nice-Cascade-de-Gairaut-Chalet-Waterfall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cascade Gairaut Waterfall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cascade_de_Gairault_08.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Miniwark" rel="noopener noreferrer" target="_blank">
                                    Miniwark</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Nice Russian Cathedral and Mont Alban Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mont-alban"></a>
        <h2 class="left-heading destination-section-heading">Russian Cathedral &amp; Mont&nbsp;Alban</h2>
        <p>Among the most impressive sights in Nice is the marvelous <strong>St. Nicholas Russian Orthodox Cathedral</strong>, an intricate colorful structure which is the largest Eastern Orthodox cathedral in all of Western Europe. This elegant cathedral was built in the early 20th century by the Tsar of Russia.</p>
        <h3>Mont Alban</h3>
        <p>To the east of Nice's Old Town is a large hill which sits on the coast known as Mont Alban, atop which you'll find the impressive 16th century <strong>Fort du Mont Alban</strong> fortress. Unfortunately you can't enter the fort, however next to the fortress you can enjoy truly breathtaking panoramic views over Nice, the coastline, and the neighboring peninsula of Saint-Jean-Cap-Ferrat.</p>
        <p>Near the top of the hill is a bus stop and parking lot, from which you can reach the fort with a 0.8 mile (1.3 km) round-trip walk.</p>
    </section>


    <!-- Cimiez and Northern Nice Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cimiez"></a>
        <h2 class="left-heading destination-section-heading">Cimiez Neighborhood &amp; Northern&nbsp;Nice</h2>
        <p>Within the Cimiez neighborhood of Nice is the city's most popular museum, the Marc Chagall National Museum, which is dedicated to the famous French artist and contains many of his works.</p>
        <p>On the northern side of the neighborhood are the ruins of an ancient Roman amphitheater, the remarkable <strong>Cimiez Arena</strong>. Very close-by the Roman ruins is the stunning 16th century <strong>Cimiez Monastery</strong>, which contains elaborate frescoed ceilings and fine medieval art works. The monastery is surrounded by large tranquil gardens.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Cascade Gairaut Waterfall</h3>
            <p>You might also consider heading uptown to Northern Nice to view the picturesque manmade <strong>Cascade Gairaut</strong> waterfall, which sits in front of a lovely Swiss-style chalet-like home. You can walk behind the waterfall through a striking grotto cave with water flowing through it, and then take in great views over Nice and the coast from high above.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Nice 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2969480013"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Nice Beaches and Villas Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colorful waters and beach of Villefranche-sur-Mer near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Villefranche-sur-Mer-Plage-Villefranche-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plage Villefranche Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/villefranche-sur-mer-coast-beach-1265940/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/bogitw-851103/" rel="noopener noreferrer" target="_blank">
                                    bogitw</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the Recreated ancient Greek Villa Kerylos standing above the coast of the French Riviera near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Beaulieu-sur-Mer-Greek-Villa-Kerylos.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Greek Villa Kerylos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:919_KER1006.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:919_KER1006.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Christophe Recoura</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of the Recreated ancient Greek Villa Kerylos featuring historic artifacts and replica period-appropriate furnishings near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Beaulieu-sur-Mer-Greek-Villa-Kerylos-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Greek Villa Kerylos (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/129231073@N06/32629899912/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/129231073@N06/" rel="noopener noreferrer" target="_blank">
                                    Fred Romero</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant gardens and pond in front of the famous Villa Ephrussi de Rothschild in Saint-Jean-Cap-Ferrat near Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Saint-Jean-Cap-Ferrat-Villa-Ephrussi-de-Rothschild-Villa-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villa Ephrussi de Rothschild</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Villa_Ephrussi_de_Rothschild_BW_2011-06-10_11-42-29a.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Berthold_Werner" rel="noopener noreferrer" target="_blank">
                                    Berthold Werner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning views across the bay of Saint-Jean-Cap-Ferrat seen from Paloma Beach and its bright blue waters" 
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Saint-Jean-Cap-Ferrat-Paloma-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Paloma Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wbayercom/28605238738" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wbayercom/" rel="noopener noreferrer" target="_blank">
                                    Werner Bayer</a> <br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Villefranche-sur-Mer, France Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="villefranche-sur-mer"></a>
        <h2 class="left-heading destination-section-heading">Villefranche-sur-Mer, France</h2>
        <p>In between Mont Alban and the peninsula of Saint-Jean-Cap-Ferrat is a gorgeous bay where you'll find the town of Villefranche-sur-Mer. Adjacent to the town is the stunning <strong>Plage Villefranche</strong> beach, which hosts clear vibrant waters and fantastic views looking out on the bay.</p>
    </section>


    <!-- Saint-Jean-Cap-Ferrat, France Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="saint-jean-cap-ferrat"></a>
        <h2 class="left-heading destination-section-heading">Saint-Jean-Cap-Ferrat, France</h2>
        <p>Near the beginning of the Saint-Jean-Cap-Ferrat peninsula is the incredible <strong>Greek Villa Kerylos</strong>, an ultra-lavish and extravagant recreation of an ancient Greek villa. The villa sits right on the water and features and features highly accurate ancient furnishings, as well as meticulously decorated interiors and elaborate mosaics. The villa even houses ancient artifacts and is overall a truly wondrous place built with great historical accuracy, which now operates as a museum.</p>
        <p>Nearby the Greek villa is the early 20th century <strong>Villa de Ephrussi de Rothschild</strong>, a grandiose seaside mansion with decadent interiors and picturesque themed gardens overlooking the coast. The Rothschild villa is among the top attractions around Nice.</p>
        <h3>Paloma Beach</h3>
        <p>Near the eastern edge of the Saint-Jean-Cap-Ferrat peninsula is another excellent beach, <strong>Paloma Beach</strong>. Although it is a rocky beach, Paloma Beach features magnificent views looking back at the gorgeous coastline as well as clear light blue waters. This beach is worth visiting for the views alone.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Nice 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9136143555"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Eze, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Mountaintop rustic village of Eze which sits high above Nice, Monaco, and the Mediterranean, towering above the coast with incredible views"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Eze-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eze Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Eze_viewed_from_Grand_Corniche.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Jimi_magic" rel="noopener noreferrer" target="_blank">
                                    Jimi magic</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rustic buildings along a tight medieval pathway within the village of Eze, France near Monaco"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Eze-Village-Pathways.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eze Village Pathways</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dbaron/37464706641/in/photolist-Z5Cq2X-8trhPS-8Rd9Fv-cAtyws-xFoFur-qcAUKz-8tofpv-Sgp3WR-AyNnBT-ep6LUj-8trhty-AyNd4K-5Sv19V-8Rghro-qcMk24-xyKxrT-Xx6vCX-neo4w-WiHf2p-AvvGMU-67EPrj-67AHrB-AvvJmL-ScKCkQ-zAM2NA-YFSw6Q-eVSw2h-cjqMZS-4PYU8-uXbMs8-My4yvt-fFM9hx-nxYDD8-AwBARd-dhCMWb-RFFDVW-69RGxU-6Me3RF-6VsAjw-S2HyF5-57GndC-S2JjxJ-qBgSsv-qqKzAM-SgpqfH-oPBdw7-SgoL5e-AyNbwr-vd15KZ-72BN8q" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dbaron/" rel="noopener noreferrer" target="_blank">
                                    David Baron</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Mediterranean Exotic Garden of Eze with sweeping views over the French Riviera coastline near Monaco and Nice, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Eze-Le-Jardin-Exotique-Exotic-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Exotic Garden (Eze)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Eze_botanical_garden.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tangopaso" rel="noopener noreferrer" target="_blank">
                                    Tangopaso</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the French Riviera coastline from halfway up the famous Nietzsche's Footpath which connects the coast to the village of Eze, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-Eze-Nietzsche-Foot-Path-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nietzsche's Footpath</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_from_Nietzsche_Path.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Solundir" rel="noopener noreferrer" target="_blank">
                                    Solundir</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Eze, France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eze"></a>
        <h2 class="left-heading destination-section-heading">Eze, France</h2>
        <p>Just a bit further east from Nice is the breathtaking medieval village of <strong>Eze</strong>, which sits high up in the hills overlooking the coast. Be sure to wander around the narrow streets of this charming rustic village and visit Eze's <strong>Exotic Garden</strong>, an elegant botanical garden hosting majestic views over the coast.</p>
        <p>The village is home to a lovely baroque cathedral, L'eglise d'Eze, with its clocktower and ornate interiors. Also popular just outside of the historic village is the Parfumerie Fragonard, a large factory that produces perfumes, soaps, and lotions and offers tours to learn how these products are made. The Parfumerie Fragonard also hosts a sizable gift shop.</p>
        <div class="hidden-content">
            <h3>Nietzsche's Footpath</h3>
            <p>A great way to reach Eze (or descend from it) is to hike the <strong>Nietzsche's Footpath</strong>, which connects the very bottom of the hill (and the Eze Train Station) with the hilltop village via an extremely scenic but steep winding path. The trail has an elevation gain of over 1,000 feet (300 m) and is approximately 1.4 miles (2.3 km) each way from the Eze Train Station to the village. The Nietzsche Footpath begins next to the La Maioun Dei Jardinie near the train station.</p>
            <p>Note that there is also a bus stop and limited parking just outside of Eze if you don't prefer hiking up to reach the village.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Nice Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2653661531"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Nice Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/GKXw8bcYihm">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/wggup12PkM42">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Breathtaking High elevation view over the country of Monaco and its coastline from the city of La Turbie, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Nice-La-Turbie-View-Over-Monaco-Overlook.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/monaco-attractions-guide">
                        Monaco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_von_Monaco-La_Turbie.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tobi_87" rel="noopener noreferrer" target="_blank">
                            Tobi 87</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/italy/milan-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/italy/milan-attractions-guide">
                        Milan, Italy
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/italy-milano-duomo-square-3523635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                            dimitrisvetsikas1969</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/italy/cinque-terre-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the idyllic Cinque Terre Village of Manarola above the coast from the Manarola Scenic Viewpoint"
                        data-src="https://www.travelimager.com/images/italy/Italy-Cinque-Terre-Manarola-Manarola-Scenic-Viewpoint-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/italy/cinque-terre-attractions-guide">
                        Cinque Terre, Italy
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/vernazza-town-scenery-reflection-1914919/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/AlwaysWanderlust-3858945/" rel="noopener noreferrer" target="_blank">
                            AlwaysWanderlust</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    