<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Entrance to the Arena of Nimes and Bull Tamer Statue in Nimes, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes-and-Bull-Tamer-Statue-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Nimes, France and plan the perfect trip with our savable Nimes Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="nimes_france" />
    <meta name="europe_attraction_guides" content="nimes_france" />
    <meta name="europe_destinations" content="nimes_france" />
    <meta name="europe_destination_guides" content="nimes_france" />
    <meta name="france_attraction_guides" content="nimes" />
    <meta name="france_destinations" content="nimes" />
    <meta name="france_destination_guides" content="nimes" />
    <meta name="google_maps_list" content="nimes" />
    <meta property="og:title" content="Nimes, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes-and-Bull-Tamer-Statue.jpg">
    <meta name="twitter:title" content="Nimes, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes-and-Bull-Tamer-Statue.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/nimes-attractions-guide">
    <title>Attractions Guide for Nimes, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Nimes, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>
    



    <!-- Nimes, France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Ancient Roman arena of Nimes, France"
                        src="https://www.travelimager.com/images/france/France-Nimes-Arena-of-Nimes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arena of Nimes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/53074617@N00/2363559406" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Staudt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Ancient Roman temple of Maison Caree in Nimes, France"
                        src="https://www.travelimager.com/images/france/France-Nimes-Maison-Caree-Ancient-Roman-Temple-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Maison Caree Temple</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rictor-and-david/42047981295/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rictor-and-david/" rel="noopener noreferrer" target="_blank">
                                    Rictor Norton & David Allen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Old white Clock Tower of Nimes rising above the plaza below"
                        src="https://www.travelimager.com/images/france/France-Nimes-Clock-Tower-of-Nimes.jpg"/>
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clock Tower of Nimes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Square_Nimes_with_delightful_clocktower_at_Nimes_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Square_Nimes_with_delightful_clocktower_at_Nimes_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Henk Monster</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning Gardens of the Fonuntain Park built around the ruins of an ancient Roman bath house in Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Jardin-de-la-Fontaine-Fountain-Garden-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jardin de la Fontaine Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/12195219@N02/6838030239" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/12195219@N02/" rel="noopener noreferrer" target="_blank">
                                    Spiterman</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of the facade of the Ruins of the ancient Roman Temple de Diane in the Gardens of the Fountain Park in Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-Temple-de-Diane.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of Diane</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:MK54102_Temple_de_Diane_(N%C3%AEmes).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Martin_Kraft" rel="noopener noreferrer" target="_blank">
                                    Martin Kraft</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Partially ruined ancient watchtower known as La Tour Magne in Nimes, France"
                        data-src="https://www.travelimager.com/images/france/France-Nimes-La-Tour-Magne-Ancient-Roman-Watchtower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Tour Magne Ancient Watchtower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tour_Magne,_N%C3%AEmes_02.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Doronenko" rel="noopener noreferrer" target="_blank">
                                    Doronenko</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Nimes Main Sights Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Main Sights</h2>
        <p>The city of Nimes has along history and has been continuously occupied since it was an ancient Roman city. The city's most stunning attraction is the 2,000 year old <strong>Arena of Nimes</strong>, which was originally built as an ancient bullfighting ring. This arena has been remarkably well-preserved and is quite an incredible sight.</p>
        <p>Another extraordinary structure in the city is the <strong>Maison Carree</strong>, a beautifully restored ancient Roman temple with giant columns. Nearby you can admire the giant <strong>Clock Tower of Nimes</strong>.</p>
        <p>Northwest of the historic city center is the elegant 17th century <strong>Jardin de la Fontaine</strong> (Gardens of the Fountain) park, which is built around the ruins of an ancient Roman bath house. Within the park you'll find the impressive ruins of the ancient <strong>Temple de Diane</strong>. Towering above this park is <strong>La Tour Magne</strong>, an ancient Roman watchtower which you can climb for amazing panoramic views overlooking Nimes.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Nimes Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5587070349"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Nimes Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qvm4y5mvAkp">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau Comtal medieval castle within the fortified castle-like citadel of Carcassonne, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Chateau-de-Comtal.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-nimes-attractions-guide">
                        Carcassonne &amp; Nimes
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/carcassonne-france-tourism-ancient-3458973/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jolimaison-4076676/" rel="noopener noreferrer" target="_blank">
                            jolimaison</a><br />
                    <i>Edited</i>
                </p>
            </div> 
            
            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Grand Medieval Papal Palace viewed from afar in Avignon, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Avignon-Villenueve-les-Avignon-Tour-Philippe-le-Bel-Tower-Palais-des-Papes-Papal-Palace-Overlook.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/avignon-attractions-guide">
                        Avignon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Avignon,_Palais_des_Papes_depuis_Tour_Philippe_le_Bel_by_JM_Rosier.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://www.rosier.pro/" rel="noopener noreferrer" target="_blank">
                            Jean-Marc Rosier</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Well-preserved ancient Arles Amphitheater viewed from the front in Arles, France"
                        data-src="https://www.travelimager.com/images/france/France-Arles-Arles-Amphitheatre-Colosseum.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/arles-attractions-guide">
                        Arles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/decar66/8620143470/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/decar66/" rel="noopener noreferrer" target="_blank">
                            Salva Barbera</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Viewpoint of the eastern walls of the Cite de Carcassonne citadel, a castle-like city in Occitanie, France"
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Viewpoint.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/carcassonne-and-narbonne-attractions-guide">
                        Carcassonne &amp; Narbonne
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Carcassonne_-_Pont_Neuf_-_View_SSE_on_Old_Bridge_%26_Citadel_-_Porte_d%27Aude.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Txllxt_TxllxT" rel="noopener noreferrer" target="_blank">
                            Txllxt TxllxT</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Rustic hillside village of Gordes viewed from afar in Provence, France"
                        data-src="https://www.travelimager.com/images/france/France-Alpilles-Luberon-Gordes-Town-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alpilles-and-luberon-natural-parks-attractions-guide">
                        Alpilles &amp; Luberon, Provence (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/agui1981/35926725784" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/agui1981/" rel="noopener noreferrer" target="_blank">
                            Albert Aguilera</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly picturesque Calanque de Sugiton located along the coast between Cassiss and Marseille, France"
                        data-src="https://www.travelimager.com/images/france/France-Cassis-Calanque-de-Sugiton.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/marseille-and-cassis-attractions-guide">
                        Marseille &amp; Cassis
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Panorama_calanque_de_Sugiton.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Paco de la trillade</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Brilliant light-blue waters below the steep canyon walls of France's Grand Canyon, known as the Gorges du Verdon"
                        data-src="https://www.travelimager.com/images/france/France-Gorges-du-Verdon-Pont-du-Galetas-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/gorges-du-verdon-attractions-guide">
                        Gorges du Verdon (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/gorge-du-verdon-france-provence-969748/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/MissEJB-73054/" rel="noopener noreferrer" target="_blank">
                            MissEJB</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Aerial view of the fortified medieval citadel of Carcassonne, France" 
                        data-src="https://www.travelimager.com/images/france/France-Carcassonne-Cite-de-Carcassonne-Aerial-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/southern-occitanie-attractions-guide">
                        Southern Occitanie
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_carcassonne_aerial_2016.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chensiyuan" rel="noopener noreferrer" target="_blank">
                            Chensiyuan</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    