<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Sunset view of Eiffel Tower and Champ de Mars, Paris, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower-and-Champ-de-Mars-Park-Sunset-Golden-Hour-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Paris, France and plan the perfect trip with our savable Paris Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="paris_france" />
    <meta name="europe_attraction_guides" content="paris_france" />
    <meta name="europe_destinations" content="paris_france" />
    <meta name="europe_destination_guides" content="paris_france" />
    <meta name="france_attraction_guides" content="paris" />
    <meta name="france_destinations" content="paris" />
    <meta name="france_destination_guides" content="paris" />
    <meta name="google_maps_list" content="paris" />
    <meta property="og:title" content="Paris, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower-and-Champ-de-Mars-Park-Sunset-Golden-Hour.jpg">
    <meta name="twitter:title" content="Paris, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower-and-Champ-de-Mars-Park-Sunset-Golden-Hour.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
    <title>Attractions Guide for Paris, France</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Paris, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#eiffel-tower">Eiffel Tower</a></div>
            <div><a href="#arc-de-triomphe">Arc de Triomphe</a></div>
            <div><a href="#notre-dame">Notre Dame</a></div>
            <div><a href="#louvre">Louvre &amp; Tuileries</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#more-top-attractions">More Top Attractions</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#outdoor-and-more">Outdoor &amp; More</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Paris Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The French capital of Paris is a massive city with many iconic attractions, including striking monuments and world-class museums. Many of the streets within the city's center are lined with lovely historic homes and buildings, making exploring Paris on foot a very enjoyable and perhaps even romantic experience.</p>
        <p>A majority of the city's most popular and iconic attractions can be found near the Seine River, which runs through the center of Paris.</p>
        <h3>Paris Attractions Requiring Advanced Reservation</h3>
        <p>For several of the most iconic attractions in Paris it's necessary to book tickets in advance, usually at least one week before your visit. In order to ascend the Eiffel Tower and take in the amazing views from it, you'll need to make an advanced reservation.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The city's top museums including the Louvre and Musee d'Orsay require advanced reservations if you wish to avoid waiting for hours in line. Another incredibly popular attraction, the Paris Catacombs, should also be visited with advanced reservations in order to avoid waiting in line for hours.</p>
            <p>It's also absolutely necessary to pre-book tickets for the Palace of Versailles at least a week in advance. The palace is located is located in a suburb of Paris and is further discussed in Greater Paris.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9291345785"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Eiffel Tower Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Eiffel Tower at Sunset, Paris, France" 
                        src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eiffel Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                                    TheDigitalArtist</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Eiffel Tower viewed at with sunset and golden hour colors seen behind the Champ de Mars in Paris, France" 
                        src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower-and-Champ-de-Mars-Park-Sunset-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eiffel Tower &amp; Champ&nbsp;de&nbsp;Mars</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/paris-transmission-tower-building-2406492/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/WuZheng926-2448516/" rel="noopener noreferrer" target="_blank">
                                    WuZheng926</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Champ de Mars Park viewed from Eiffel Tower, Paris, France"
                        src="https://www.travelimager.com/images/france/France-Paris-Champ-de-Mars-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Champ de Mars Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/garden-champ-de-mars-tourism-101635/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/herryway-29985/" rel="noopener noreferrer" target="_blank">
                                    herryway</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Eiffel Tower seen peaking out from behind the trees of Champ de Mars Park in Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Champ-de-Mars-Park-View-of-Eiffel-Tower-behind-Trees.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Champ de Mars &amp; Eiffel&nbsp;Tour</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://unsplash.com/photos/fhO8zmW5Mpk" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://unsplash.com/@42north" rel="noopener noreferrer" target="_blank">
                                    42 North</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful Trocadero Gardens and Eiffel Tower seen in Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Trocadero-Gardens-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trocadero Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Jardins_du_Trocad%C3%A9ro_1986-152.jpg&amp;action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Hgrobe" rel="noopener noreferrer" target="_blank">
                                    H.Grobe</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Eiffel tower seen behind the fountains of the Trocadero Gardens of Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Trocadero-Gardens-Fountains-View-of-Eiffel-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trocadero Gardens Fountains</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/tour-eiffel-paris-fontana-2228933/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/digital341-640782/" rel="noopener noreferrer" target="_blank">
                                    digital341</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Arc de Triomphe (Triumphal Arch), Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Arc-de-Triomphe.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arc de Triomphe</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/32366606@N00/5168825019" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/32366606@N00" rel="noopener noreferrer" target="_blank">
                                    Jiuguang Wang</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Champs-Elysees Boulevard, Paris, France" 
                        data-src="https://www.travelimager.com/images/france/France-Paris-Champs-Elysees-Boulevard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Champs-Elysees Boulevard</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/paris-france-champs-elysee-2775405/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/NakNakNak-90985/" rel="noopener noreferrer" target="_blank">
                                    NakNakNak</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Eiffel Tower Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eiffel-tower"></a>
        <h2 class="left-heading destination-section-heading">Eiffel Tower</h2>
        <p>The Eiffel Tower is the city's most iconic monument, which is located along the Seine River, reaching a height of over 1,050 feet (320 m). In order to visit the top of the tower you'll need an advanced reservation to take the elevator up.</p>
        <p>There are several options to choose from for which floor you'd like to visit of the <strong>Eiffel Tower</strong>, but the most expensive one gives you access to the top floor as well as the floor below. From the top you can enjoy incredible far-reaching panoramic views over much of Paris.</p>
        <p>In front of the Eiffel Tower is the long finely landscaped <strong>Champ de Mars</strong> park, a perfect place to walk around and enjoy views of the tower from below.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Trocadero Gardens</h3>
            <p>On the opposite side of the Eiffel Tower just across the Seine River are the beautiful <strong>Trocadero Gardens</strong>, which offer an iconic and picturesque view of the tower behind the Trocadero Fountains. The park is surrounded by the grand Palais de Chaillot palace, an impressive structure on its own.</p>
            <h3>Statue of Liberty</h3>
            <p>To the south of the Eiffel Tower on a tiny island in the Seine River (Ile aux Cygnes), you can see Paris's smaller replica of the Statue of Liberty.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Arc de Triomphe Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="arc-de-triomphe"></a>
        <h2 class="left-heading destination-section-heading">Arc de Triomphe</h2>
        <p>Another iconic Paris attraction is the magnificent <strong>Arc de Triomphe</strong>, a massive monument commissioned by Napoleon Bonaparte to commemorate the people lost during the French Revolution and Napoleonic Wars. This famous arched monument towers 164 feet (50 m) above the round-about below.</p>
        <p>If you'd like to climb the stairs to the top of the Arc de Triomphe and take in excellent views over the city, you'll need to find the somewhat hidden Arc de Triomphe Entree Nord-Ouest entrance, located on the northwestern side of the traffic circle.</p>
        <h3>Champs-Elysees Boulevard</h3>
        <p>The Arc de Triomphe sits at the western end of the famous <strong>Champs-Elysees</strong>, a grand avenue hosting many giant upscale shops and cafes. The Champs-Elysees is the top shopping destination within Paris.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7978264115"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Ile de la Cite Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Seine River View, Notre Dame Cathedral of Paris, Ile de la Cite Island, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Ile-de-la-Cite-Notre-Dame-Cathedral-of-Paris.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre Dame Cathedral (Seine&nbsp;River&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/string_bass_dave/30438306655/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/string_bass_dave/" rel="noopener noreferrer" target="_blank">
                                    David Brossard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Direct side view of the Notre Dame Cathedral along the Seine River on Ile de la Cite Island, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Notre-Dame-Cathedral-River-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre Dame Cathedral (Seine&nbsp;River&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/fr/photos/notre-dame-paris-l-architecture-4132071/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/iankelsall1-7126962/" rel="noopener noreferrer" target="_blank">
                                    iankelsall1</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning facade and plaza of the Notre Dame Cathedral of Paris, Ile de la Cite Island, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower-and-Champ-de-Mars-Park-Sunset-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre Dame Cathedral (Facade)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/cathedral-notre-dame-paris-3599931/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/LeifLinding-4928755/" rel="noopener noreferrer" target="_blank">
                                    LeifLinding</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sainte-Chapelle Chapel Interior, Ile de la Cite Island, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Ile-de-la-Cite-Sainte-Chapelle-Chapel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sainte-Chapelle Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pedrosz/42015393332/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pedrosz/" rel="noopener noreferrer" target="_blank">
                                    Pedro Szekely</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Conciergerie Building, Ile de la Cite Island, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Ile-de-la-Cite-Conciergerie-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Conciergerie Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pedrosz/42116290222" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pedrosz/" rel="noopener noreferrer" target="_blank">
                                    Pedro Szekely</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Notre Dame and Ile de la Cite Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="notre-dame"></a>
        <h2 class="left-heading destination-section-heading">Ile de la Cite Island</h2>
        <h3>Notre-Dame Cathedral</h3>
        <p>In the middle of the Seine River is Ile de la Cite island, the historical city of Paris. Here you'll find the iconic <strong>Notre Dame Cathedral of Paris</strong>, an elegant medieval structure showcasing elaborate gothic architecture.</p>
        <p>The Notre Dame's stunning architecture and gargoyles inspired Victor Hugo's novel The Hunchback of Notre-Dame, which was later adapted into the popular Disney movie. Be sure to see the church's striking interiors, as well as the even more impressive backside of the cathedral.</p>
        <h3>Sainte-Chapelle</h3>
        <p>Also on the island is the lavish 13th century <strong>Sainte-Chapelle</strong>, a former royal chapel. This chapel contains one of the world's foremost collections of medieval stained glass windows within its extremely ornate and finely decorated interiors.</p>
        <h3>Conciergerie</h3>
        <p>Adjacent to the chapel is the <strong>Conciergerie</strong>, which along with the chapel make up an historic royal palace used by the Kings of France until the 14th century. Afterwards the Conciergerie was converted into a fortress and later a prison used during the French Revolution. This elegant fortress now serves as a museum on the French Revolution and even has Marie Antoinette's prison cell on display.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>More Ile de la Cite</h3>
            <p>In front of the Notre Dame is a unique attraction, the Archaeological Crypt of the Ile de la Cite, an underground museum where you can walk amongst the ruins of ancient Paris. You can access this museum from a small staircase on the Notre Dame plaza near the road.</p>
            <p>At the western tip of the island is the 16th century Pont Neuf Bridge, a historically important bridge spanning the Seine River from which you can enjoy great views of the city.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3763686931"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Louvre - Sacre-Couer Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Louvre Museum Exterior, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Louvre-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Louvre Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Richelieu_Wing,_Louvre_Museum,_Paris_October_2013_-_panoramio.jpg&amp;action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Richelieu_Wing,_Louvre_Museum,_Paris_October_2013_-_panoramio.jpg&amp;action=history" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Jardin des Tuileries Gardens, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Jardin-des-Tuileries-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tuileries Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/carloszgz/20850594540" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/carloszgz/" rel="noopener noreferrer" target="_blank">
                                    Carlos ZGZ</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Place de la Concorde Plaza &amp; Luxor Obelisk, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Place-de-la-Concorde-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place de la Concorde</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/davidstanleytravel/10217968596/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/davidstanleytravel/" rel="noopener noreferrer" target="_blank">
                                    David Stanley</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Le Palais Royal Palace Courtyard, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Le-Palais-Royal-Palace-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Le Palais Royal Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/marsupilami92/33062188076/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/marsupilami92/" rel="noopener noreferrer" target="_blank">
                                    patrick janicek</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sacre-Couer Basilica, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Sacre-Couer-Basilica-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sacre-Couer Basilica</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dhaun/13352815933/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dhaun/" rel="noopener noreferrer" target="_blank">
                                    Dirk Haun</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Basilica Cathedral of Saint-Denis, Saint-Denis, Greater Paris, France" 
                        data-src="https://www.travelimager.com/images/france/France-Paris-Saint-Denis-Basilica-Cathedral-of-Saint-Denis-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint-Denis Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ninara/24619543142/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ninara/" rel="noopener noreferrer" target="_blank">
                                    Ninara</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Louvre Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="louvre"></a>
        <h2 class="left-heading destination-section-heading">Louvre Museum &amp; Tuileries&nbsp;Gardens</h2>
        <p>At the eastern end of the vast and beautiful Tuileries Gardens is the most popular art museum in the world, the <strong>Louvre Museum</strong>. This vast museum is housed within the 16th century Louvre Palace, a former royal residence of the kings of France.</p>
        <p>The Louvre Museum is so massive that it would be difficult to see the entire museum's collections in one day. The main exhibits of the museum include artifacts and sculptures from ancient Egypt, Mesopotamia, Greece, and Rome; along with an enormous collection of fine art, sculptures, and decorative arts spanning many time periods. The museum's most famous piece is Da Vinci's Mona Lisa painting.</p>
        <h3>Place de la Concorde Plaza</h3>
        <p>At the eastern end of the Champs-Elysees avenue is the grand <strong>Place de la Concorde</strong>, a massive square with the towering ancient Egyptian Obelisk of Luxor at its center. This obelisk is over 3,000 years old and is covered in hieroglyphics, with a gold-covered tip.</p>
        <h3>Tuileries Gardens</h3>
        <p>Adjacent to the Place de la Concorde are the famous <strong>Tuileries Gardens</strong>, a massive 17th century formal garden which sits along the Seine River. Amongst the gardens you'll find elegant statues and fountains, as well as many carnival rides and games.</p>
        <h3>Orangerie Museum &amp; Le Palais Royal</h3>
        <p>Within Tuileries Gardens you'll find the popular <strong>Orangerie Museum</strong>, hosting a large collection of 20th century impressionist and post-impressionist European art, including several of Monet's water lily murals.</p>
        <p>Also next to the Louvre is <strong>Le Palais Royal</strong>, a former royal palace featuring a small beautiful garden and a very unique and photogenic art installation consisting of checkered columns.</p>
    </section>


    <!-- Major Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Major Churches of Paris</h2>
        <h3>Sacre-Couer Basilica</h3>
        <p>North of Central Paris is one of the city's most iconic attractions, the gorgeous <strong>Sacre-Couer</strong>, an extremely elaborate white basilica hosting stunning views overlooking Paris.</p>
        <h3>Saint-Denis Cathedral</h3>
        <p>Much further north of Paris in the suburb of Saint-Denis is the beautiful 12th century gothic <strong>Basilica Cathedral of Saint-Denis</strong>. This striking medieval cathedral is the burial place of nearly all of France's kings.</p>
        <h3>L'eglise de la Madeleine Church</h3>
        <p>Directly north of the Place de la Concorde is another Pantheon-like structure, <strong>L'eglise de la Madeleine</strong> church, a neoclassical landmark structure lined with towering columns, topped with multiple massive domes. The church's interior is extremely opulent and ornate.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3960780445"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- More Paris Top Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Palais Luxembourg Palace, Luxembourg Gardens, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Luxembourg-Gardens-Palais-Luxembourg-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Luxembourg Gardens &amp; Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Paris_Palais_du_Luxembourg_fa%C3%A7ade%26jardin_2014.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:JLPC" rel="noopener noreferrer" target="_blank">
                                    JLPC</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Luxembourg Palace seen behind beautiful flowers and statues of Paris's Luxembourg Gardens in France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Jardin-du-Luxembourg-Gardens-and-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Luxembourg Gardens &amp; Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/paris-france-landmark-sky-clouds-341087/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/Mariamichelle-165491/" rel="noopener noreferrer" target="_blank">
                                    Mariamichelle</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Paris Skyline and Eiffel Tower from Montparnasse Tower, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Montparnasse-Tower-Skyline-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Montparnasse Tower View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Eiffel_Tower_from_the_Tour_Montparnasse,_11_May_2013.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/22974618@N00" rel="noopener noreferrer" target="_blank">
                                    Sergey Galyonkin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Le Grand Foyer Room, Palais Garnier Opera House, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Palais-Garnier-Opera-House-Interior-Le-Grand-Foyer.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais Garnier Opera House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Op%C3%A9ra_Garnier_-_le_Grand_Foyer.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Op%C3%A9ra_Garnier_-_le_Grand_Foyer.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Degremont Anthony</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Catacombs of Paris viewed from underground, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Catacombs-of-Paris.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Catacombs of Paris</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tommiehansen/10279446936" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tommiehansen/" rel="noopener noreferrer" target="_blank">
                                    Tommie Hansen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Grand Pantheon Interior and its massive dome, Paris, France" 
                        data-src="https://www.travelimager.com/images/france/France-Paris-Pantheon-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pantheon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Pantheon_interieur.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Pantheon_interieur.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    David Pendery</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pont Alexandre III Bridge in front of Les Invalides Complex, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Pont-Alexandre-III-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont Alexandre III Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mustangjoe/12334157545/in/pool-92767609@N00" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mustangjoe/" rel="noopener noreferrer" target="_blank">
                                    Joe deSousa</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Top Attractions Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="more-top-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Top Paris Attractions</h2>
        <h3>Pantheon</h3>
        <p>Just south of the Ile de la Cite is the grandiose neoclassical <strong>Pantheon</strong> building, with its incredibly extravagant and ornate interiors. Be sure to see the inside of the truly majestic structure, whose exterior was modeled after the ancient Pantheon of Rome. The Pantheon was originally built as a stately church and now serves as a grand mausoleum for important French citizens.</p>
        <h3>Luxembourg Gardens</h3>
        <p>Nearby the Pantheon are the majestic <strong>Luxembourg Gardens</strong>, a picturesque park containing fine gardens with many fountains and sculptures. The park surrounds the stately <strong>Luxembourg Palace</strong>, a former royal residence which now serves as the French Senate headquarters.</p>
        <h3>Paris Catacombs</h3>
        <p>South of the Luxembourg Gardens you'll find an extremely popular attraction, the <strong>Paris Catacombs</strong>. This vast network of underground tunnels contains over 6 million human skeletons on display. The tunnels of this ossuary were originally ancient stone mines.</p>
        <h3>Montparnasse Tower</h3>
        <p>You can enjoy some breathtaking panoramic views over Paris from the nearby <strong>Montparnasse Tower</strong>, which soars 690 feet (210 m) above the ground. The observation deck at the top of the tower also hosts incredible views of the Eiffel Tower, with the Champ de Mars directly in front of it.</p>
        <h3>Palais Garnier</h3>
        <p>Further north from Tuileries Gardens is <strong>Palais Garnier</strong>, a highly embellished opera house with incredibly grandiose interiors. Prior to the construction of the Sydney Opera House, the Palais Garnier was said to be the most recognizable opera house in the world. Be sure to visit this extravagant structure, which is open for guided and unguided tours.</p>
        <h3>Pont Alexandre III Bridge</h3>
        <p>Just west of the Place de la Concorde you can admire the picturesque <strong>Pont Alexandre III</strong>, a lovely bridge adorned with grandiose copper and bronze sculptures, as well as elegant street lamps. This is highly regarded to be the most beautiful bridge crossing the Seine River.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6665182440"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Paris Museums Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Musse d'Orsay Museum Interior, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Musee-dOrsay-Orsay-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Orsay Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Musee_D%27Orsay_(34409261023).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/97402086@N00" rel="noopener noreferrer" target="_blank">
                                    Nan Palmero</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Les Invalides Facade, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Les-Invalides-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Les Invalides Complex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/douglasobrien/18804736618/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/douglasobrien/" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Musee des Arts Forain (Museum of Fairground Arts), Les Pavillions de Bercy, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Les-Pavillions-de-Bercy-Musee-des-Arts-Forain-Museum-of-Fairground-Arts.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum of Fairground Arts</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/laika_ac/20332781002/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/laika_ac/" rel="noopener noreferrer" target="_blank">
                                    Laika ac</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="National Museum of the Middle Ages, Hotel de Cluny, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Hotel-de-Cluny-Museum-National-Museum-of-the-Middle-Ages.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of the Middle Ages</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/hotel-de-cluny-paris-france-187866/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Grande Galerie de Evolution (Grand Gallery), National Museum of Natural History, Paris, France" 
                        data-src="https://www.travelimager.com/images/france/France-Paris-National-Museum-of-Natural-History-Grande-Galerie-de-Evolution-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Museum of Natural History</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Grande-galerie-evolution.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grande-galerie-evolution.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Luc Potage</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Le Grand Palais Exhibition Center Exterior, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Le-Grand-Palais.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grand Palais Exhibition Center</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/o_0/15191148468/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/o_0/" rel="noopener noreferrer" target="_blank">
                                    Guilhem Vellut</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Eiffel Tower at Sunset, Paris, France" 
                        data-src="https://www.travelimager.com/images/france/France-Paris-Musee-Jacquemart-Andre-Mansion-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jacquemart Andre Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mus%C3%A9e_Jacquemart_Andr%C3%A9_2007_-_Recoura_n1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.musee-jacquemart-andre.com/" rel="noopener noreferrer" target="_blank">
                                    Christophe Recoura</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Top Museums</h2>
        <h3>Musee d'Orsay</h3>
        <p>Just across the river from the Tuileries Gardens is the renowned <strong>Musee d'Orsay</strong> museum of contemporary art, housed in a vast 19th century train station. This art museum is among the largest in Europe, hosting a prominent collection of fine European art from the 19th and 20th century, including masterpieces by artists such as Van Gogh and Monet.</p>
        <h3>Fine Art Museums</h3>
        <p>If you're a fan of the famous artist Claude Monet, be sure to visit the <strong>Marmottan Monet Museum</strong>, which contains an incredible collection of Monet's works, alongside prominent works of other Impressionist artworks. The museum is located west of the Eiffel Tower near the Bois de Boulogne park.</p>
        <p>Paris also hosts one of the best Picasso museums in the world, the <strong>Picasso National Museum</strong>, which hosts an extensive collection of over 5,000 of the famous artist's works. Interestingly, the museum also houses Picasso's expansive personal art collection.</p>
        <p>Adjacent to the Les Invalides complex is the popular <strong>Rodin Museum</strong>, showcasing the famous sculptor's works within a posh 18th century mansion. The museum also features a small fine garden.</p>
        <h3>Modern/Contemporary Art Museums</h3>
        <p>Located north of Ile de la Cite island and east of the Louvre is one of Paris's most popular museums, <strong>The Centre Pompidou</strong>, which is France's national museum of modern art. The building housing the museum is a very unique high-tech industrial-like structure and is one of the museum's main draws.</p>
        <h3>Les Invalides</h3>
        <p>Directly across the Pont Alexandre III Bridge near the Place de la Concorde is the vast <strong>Les Invalides</strong> complex of baroque buildings and courtyards. The complex hosts an array of important French military museums, as well as the Dome des Invalides church. This church houses the grand tomb of Napoleon Bonaparte along with other French war heroes.</p>
    </section>


    <!-- More Museums Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">More Museums</h2>
        <h3>Museum of Fairground Arts</h3>
        <p>Near the Seine River to the west of the Vincennes Woods is the incredible <strong>Museum of Fairground Arts</strong>, located within the Pavilions of Bercy. This museum hosts an amazing collection of historic amusement park rides and elaborate fairground pieces.</p>
        <p>The Museum of Fairgrounds Arts's exhibits are very highly detailed, and some of the rides and games are operational. The museum is both beautiful and eery, making you feel as though you've stepped back in time to a 19th century fair. Be sure to make advanced reservations for this attraction, which can only be visited by pre-booking a tour.</p>
        <h3>History Museums</h3>
        <p>Quite close to Ile de la Cite you'll find the <strong>Cluny Museum - National Museum of the Middle Ages</strong>. This stunning castle-like mansion houses an important collection of medieval artifacts including tapestries, sculptures, antique furniture, and more. This lovely gothic building also houses the remains of the impressive 3rd century Gallo-Roman Baths.</p>
        <p>To the east of the Pantheon is France's <strong>National Museum of Natural History</strong>, a massive institution housing countless exhibits, including several giant halls filled with various dinosaur and animal skeletons. The museum's most famous room is the Grande Galerie de l'Evolution, which showcases thousands of preserved animals within a colossal 19th century hall.</p>
        <h3>Grand Palais &amp; Petit Palais</h3>
        <p>At the northern end of Pont Alexandre III and just west of Tulieres Gardens you'll find the opulent <strong>Grand Palais</strong>, a massive art nouveau style exhibition hall with ornate interiors. The Grand Palais hosts rotating exhibitions which are typically very important.</p>
        <p>Directly across from the Grand Palais is the majestic <strong>Petit Palais</strong>, which houses exhibits in fine art, royal furniture, and fine decorative arts, set amongst lavish interiors.</p>
        <h3>Jacquemart-Andre Museum</h3>
        <p>Northeast of the Champs-Elysees is the strikingly lavish <strong>Musee Jacquemart-Andre</strong>, which houses an impressive European fine art collection within an extravagant 19th century mansion. Inside you'll find luxurious period-appropriate furnishings amongst the finely detailed interiors.</p>
        <h3>Quai Branly Museums</h3>
        <p>Just north of the Eiffel Tower is the unique <strong>Quai Branly Museum</strong> displaying an amazing collection of indigenous arts from around the world, housed within a stunning contemporary structure.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris 6 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9027498199"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Outdoors and More Paris Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Chateau de Vincennes Castle, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Chateau-de-Vincennes-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de Vincennes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/157458829@N02/26998411177/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/157458829@N02/" rel="noopener noreferrer" target="_blank">
                                    Sauntering Photographer</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Eglise de la Madeleine Church Exterior, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eglise-de-la-Madeleine-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">L'eglise de la Madeleine</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/paris-france-madeleine-church-106397/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Place des Vosges historic and beautiful square, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Place-des-Vosges-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place des Vosges Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dany13/33071161342/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dany13/" rel="noopener noreferrer" target="_blank">
                                    dany13</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Passerelle Suspendue (Suspension Bridge), Parc des Buttes Chaumont Park, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Parc-des-Buttes-Chaumont-Park-Passerelle-Suspendue-Suspension-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc de Buttes-Chaumont Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:D%C3%A9nivel%C3%A9,_passerelle_suspendue_(Buttes_Chaumont).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/10785432@N03" rel="noopener noreferrer" target="_blank">
                                    Groume</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="La Defense Commercial District Evening, Paris, France" 
                        data-src="https://www.travelimager.com/images/france/France-Paris-La-Defense-District-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Defense District</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/cheindel/3270985897/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cheindel/" rel="noopener noreferrer" target="_blank">
                                    Christian Heindel</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Coulee Verte Rene Dumont Pathway, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Coulee-Verte-Rene-Dumont-Pathway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coulee verte Rene Dumont Pathway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/77662096@N06/37293884815" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/77662096@N06/" rel="noopener noreferrer" target="_blank">
                                    Sharon VanderKaay</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Outdoor & More Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="outdoor-and-more"></a>
        <h2 class="left-heading destination-section-heading">Outdoor &amp; More</h2>
        <h3>Vincennes Woods</h3>
        <p>On the eastern outskirts of Paris you'll find the expansive <strong>Vincennes Woods</strong>, an urban park containing vast woodlands and many trails. Just north of the park is the stunning 14th century <strong>Chateau de Vincennes</strong>, a towering castle-like structure surrounded by medieval walls. The chateau once served as a royal hunting lodge and later as a fortress; now it exists as an historic museum you can tour.</p>
        <h3>Plazas</h3>
        <p>Near the Picasso Museum you can admire Paris's oldest planned city square, the <strong>Place des Vosges</strong>, which is lined with upscale 17th century brick homes. This city square is quite picturesque.</p>
        <p>Just north of Tuileries Garden is the <strong>Place Vendome</strong> plaza, surrounded by luxurious palace-like hotels. In the middle of the plaza is the Napoleon-era Colonne Vendome, a giant column with complex battle scenes carved into it.</p>
        <h3>Parc des Buttes-Chaumont</h3>
        <p>To the east of Sacre-Couer you might like to visit the <strong>Parc des Buttes-Chaumont</strong>, a lovely park hosting cliffs, waterfalls, and even a suspension bridge spanning high above the park's giant pond.</p>
        <h3>Rene-Dumont Scenic Pathway</h3>
        <p>To the west of the Vincennes Woods is an amazing urban pathway along an historic elevated railway, the <strong>Coulee verte Rene-Dumont</strong> (or tree-lined walkway). This path passes through many parks and gardens with constantly-changing natural and urban scenery.</p>
        <p>The Rene-Dumont Pathway starts near the Place de la Bastille (the site of the historic Bastille fortress which was burned down during the French Revolution) and continues uninterrupted almost all the way to the Vincennes Woods. The total one-way trail length for this scenic pathway is 2.9 miles (4.7 km).</p>
        <h3>La Defense Urban District</h3>
        <p>Further west is Paris's ultramodern business district, the <strong>La Defense</strong> urban area. Here you'll find extraordinary contemporary high-rise buildings and stunning architecture. The most notable structure of La Defense is the giant Grande Arche de la Defense, a striking geometric monument soaring 360 feet (110 m) above the ground.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Paris Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4273988676"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Paris Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/FXXMbq83ryq ">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/wvDAfviGnuN2 ">&rArr; Main Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/mpTnebHfpi52 ">&rArr; All Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/cvbWLRiYLYr ">&rArr; Short Visit</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau de Pierrefonds Castle Aerial View, Pierrefonds, Greater Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Pierrefonds-Chateau-de-Pierrefonds-Castle-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        Greater Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pierrefonds-castle-aerial-view-462849/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/remiou-469745/" rel="noopener noreferrer" target="_blank">
                            remiou</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="Chateau de Chambord Palace, Chambord, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chambord-Palace-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        Loire Valley (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/chambord-reflection-castle-3195956/ " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/edmondlafoto-7913128/ " rel="noopener noreferrer" target="_blank">
                            edmondlafoto</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Chateau de Chenonceau Castle, Chenonceau, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chenonceau-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        Loire Valley (Train)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                            Yvan Lastes</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Castle-like Mont Saint-Michel abbey on a tiny island rising above the sea"
                        data-src="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
                        St. Malo &amp; Mont Saint&#8209;Michel (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/normandy-mont-saint-michel-abbey-1046056/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/jackmac34-483877/" rel="noopener noreferrer" target="_blank">
                            jackmac34</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
                        Colmar
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    