<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Mont Saint-Michel Island Abbey Castle near St. Malo, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in St. Malo & Mont Saint-Michel, France + Fougeres and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="st_malo_france" />
    <meta name="attraction_guides" content="mont_saint_michel_france" />
    <meta name="attraction_guides" content="fougeres_france" />
    <meta name="europe_attraction_guides" content="st_malo_france" />
    <meta name="europe_attraction_guides" content="mont_saint_michel_france" />
    <meta name="europe_destinations" content="st_malo_france" />
    <meta name="europe_destinations" content="mont_saint_michel_france" />
    <meta name="europe_destination_guides" content="st_malo_france" />
    <meta name="europe_destination_guides" content="mont_saint_michel_france" />
    <meta name="france_attraction_guides" content="st_malo" />
    <meta name="france_attraction_guides" content="mont_saint_michel" />
    <meta name="france_attraction_guides" content="fougeres" />
    <meta name="france_destinations" content="st_malo" />
    <meta name="france_destinations" content="mont_saint_michel" />
    <meta name="france_destinations" content="fougeres" />
    <meta name="france_destination_guides" content="st_malo" />
    <meta name="france_destination_guides" content="mont_saint_michel" />
    <meta name="france_destination_guides" content="fougeres" />
    <meta name="google_maps_list" content="st_malo" />
    <meta name="google_maps_list" content="mont_saint_michel" />
    <meta name="google_maps_list" content="fougeres" />
    <meta property="og:title" content="St. Malo & Mont Saint-Michel, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg">
    <meta name="twitter:title" content="St. Malo & Mont Saint-Michel, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/st-malo-and-mont-saint-michel-attractions-guide">
    <title>Attractions Guide for St. Malo & Mont Saint-Michel, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>St. Malo &amp; Mont Saint&#8209;Michel, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#mont-saint-michel">Mont Saint&#8208;Michel</a></div>
            <div><a href="#fougeres-chateau">Fougeres Chateau</a></div>
            <div><a href="#st-malo-attractions">St. Malo, France</a></div>
            <div><a href="#st-malo-beaches-and-islands">Beaches &amp; Islands</a></div>
            <div><a href="#pointe-du-grouin">Pointe du Grouin</a></div>
            <div><a href="#cap-frehel">Cap Frehel</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Mont Saint-Michel and Fougeres, France Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Castle-like Mont Saint-Michel abbey on a tiny island rising above the sea"
                        src="https://www.travelimager.com/images/france/France-Normandy-Mont-Saint-Michel-Castle-Abbey-Island-Fortress-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mont Saint-Michel Abbey</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/normandy-mont-saint-michel-abbey-1046056/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/jackmac34-483877/" rel="noopener noreferrer" target="_blank">
                                    jackmac34</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the Chateau de Fougeres from atop the castle's walls in Fougeres, Brittany, France"
                        src="https://www.travelimager.com/images/france/France-Normandy-Fougeres-Chateau-de-Fougeres-Castle-Walls-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de Fougeres Castle&nbsp;Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ch%C3%A2teau_Foug%C3%A8res.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Odenel" rel="noopener noreferrer" target="_blank">
                                    Odenel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the entrance to the Chateau de Fougeres castle along the moat from the modern street in Fougeres, Brittany, France"
                        src="https://www.travelimager.com/images/france/France-Normandy-Fougeres-Chateau-de-Fougeres-Castle-Entrance-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de Fougeres Castle&nbsp;Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sybarite48/32212774765/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sybarite48/" rel="noopener noreferrer" target="_blank">
                                    Daniel Jolivet</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Mont Saint-Michel Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mont-saint-michel"></a>
        <h2 class="left-heading destination-section-heading">Mont Saint-Michel</h2>
        <p>The main attraction within the St. Malo area is the breathtaking <strong>Mont Saint&#8209;Michel</strong>, a massive castle-like abbey that sits on an island just off the coast of the mainland, connected by a bridge. This UNESCO world heritage site is technically a mini island-village with only around 50 inhabitants.</p>
        <p>Interestingly, the island of Mont Saint-Michel is connected to the mainland during low tide, however during high tide the sea level can rise up to 46 feet (14 m) above its lowest point. The new bridge connecting to the island rarely is submerged, making the island much more easily accessible at all times.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The current abbey of Mont Saint-Michel was originally constructed in the 11th century and has been greatly expanded with massive fortified walls and the lovely village that surrounds it over the centuries. The island is one of France's most iconic sights, and even contains shops, restaurants, and hotels. Be sure to spend awhile exploring this incredible place.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Fougeres Chateau Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fougeres-chateau"></a>
        <h2 class="left-heading destination-section-heading">Chateau de Fougeres</h2>
        <p>To the southeast of Mont Saint-Michel is another large medieval fortification, the 12th century <strong>Chateau de Fougeres</strong>. This stunning castle is surrounded by vast imposing walls and towers, as well as a moat. Even the medieval town surrounding the castle is quite impressive.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- St Malo 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2725937431"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- St. Malo Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the sea walls above a beach in the walled town of St. Malo, Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Remparts-Walls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Malo City Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Remparts-Saint-Malo-P105022.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pline" rel="noopener noreferrer" target="_blank">
                                    Pline</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Interior of the Saint-Malo Cathedral in St. Malo, Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Cathedrale-Saint-Vincent-de-Saint-Malo-Cathedral-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint-Malo Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/peter2010/17490991452/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/peter2010/" rel="noopener noreferrer" target="_blank">
                                    Peter</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior walls of the imposing Chateau de la Duchesse Anne castle/fortress in St. Malo, Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Chateau-de-la-Duchesse-Anne-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de la Duchesse Anne</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/15020275619" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the bright light blue wtaers of Brittany and beaches of St. Malo from the top of the Chateau de la Duchesse Anne castle/fortress in St. Malo, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Chateau-de-la-Duchesse-Anne-Castle-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de la Duchesse Anne (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tour-qui-qu-en-grogne-DSC_6.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pline" rel="noopener noreferrer" target="_blank">
                                    Pline</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic castle-like Solidor Tower located on the coast of St. Malo, Brittany, France, a symbol of the city"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Solidor-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Solidor Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Saint-Malo_(France),_Solidor_Tower.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Palam%C3%A8de" rel="noopener noreferrer" target="_blank">
                                    Philippe Ales</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- St. Malo Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="st-malo-attractions"></a>
        <h2 class="left-heading destination-section-heading">St. Malo, France Attractions</h2>
        <p>St. Malo is a beautiful seaside city which sits at the end of a peninsula. The city's historic center is known as the walled city for the imposing medieval walls which surround it. The walled city is also almost entirely surrounded by water. It's possible to walk along the top of the entirety of St. Malo's fortified walls, which you can access from all around the city. From the walls you can enjoy excellent views over the city and coastline.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Within the town of St. Malo be sure to see the striking gothic 12th century Cathedrale Saint-Vincent de Saint-Malo (also known as the <strong>Saint-Malo Cathedral</strong>). At the northern end of the walled town is the <strong>Chateau de la Duchesse Anne</strong> (or Saint-Malo Castle). The castle is small but impressive and features high walls you can walk along for great views over the coast.</p>
            <h3>Solidor Tower</h3>
            <p>To the south of St. Malo's walled town is the impressive <strong>Solidor Tower</strong>, which looks like a mini-castle tower set amongst the coast. The tower hosts a small nautical museum and fantastic views.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- St Malo 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6401334853"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- St. Malo Beaches and Islands Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Bon Secours Beach below the city walls from atop the walls in St. Malo, Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Plage-Bon-Secours-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bon Secours Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/15020099908/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/22490717@N02" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Plage de l'Eventail Beach at low tide with many historic structures of St. Malo on one side of the curved beach and the ocean on the other"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Plage-de-lEventail-Eventail-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Plage de l'Eventail Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Saint-Malo_(France),_beach_and_ramparts,_2014.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Palam%C3%A8de" rel="noopener noreferrer" target="_blank">
                                    Philippe Ales</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View above Fort National island, a tiny rock island with an old fortress which can be walked to from the town of St. Malo during low-tide"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Fort-National-Island.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort National Island</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/saint-malo-sea-france-2769988/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/aleslanger-6499682/" rel="noopener noreferrer" target="_blank">
                                    aleslanger</a><br />
                           <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view of Petite Be Island, another tiny island which can be walked to from the town of St. Malo during low-tide"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Saint-Malo-Petit-Be-Island.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Petit Be Island</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Petit-Be-a-Saint-Malo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pline" rel="noopener noreferrer" target="_blank">
                                    Pline</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- St. Malo Islands and Beaches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="st-malo-beaches-and-islands"></a>
        <h2 class="left-heading destination-section-heading">St. Malo Beaches &amp; Islands</h2>
        <p>The northern and western sides of St. Malo's walled town are bordered by long sandy beaches, including the <strong>Bon Secours</strong> beach and the <strong>Plage de 'Eventail</strong>. Both beaches host beautiful light blue waters as well as views of the tiny fortified islands which sit just off the coast of the city. All of these islands can be accessed on foot during low tide only.</p>
        <p>The island off the northern coast of St. Malo hosts the 17th century <strong>Fort National</strong>, which you can tour if you like. Off of the St. Malo's western coast is Grand Be, a rocky island hosting a mostly ruined fort, and further out to sea the island of <strong>Petit Be</strong>, which hosts a stunning well-preserved 17th century military barrack.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- St Malo 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4090989994"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Greater St. Malo Coastline Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning coastal views from the Pointe du Grouin Peninsula overlooking many cliffs, an island lighthouse, and Normandy in the background beind the sea near St. Malo, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Cancale-Pointe-du-Grouin.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pointe du Grouin Peninsula</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:France_Pointe_Du_Grouin_bordercropped.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gerpsych~commonswiki" rel="noopener noreferrer" target="_blank">
                                    Alan Hughes</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wide angle view of the green cliffs of the Cap Frehel Peninsula near Plevenon and St. Malo in Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Plevenon-Cap-Frehel-Cape-and-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cap Frehel Peninsula</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/maelick/24165084464/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/maelick/" rel="noopener noreferrer" target="_blank">
                                    Maelick</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fort la Latte Castle, located on a small peninsula viewed from a tiny cove, near Plevenon and St. Malo in Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Plevenon-Fort-la-Latte-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort la Latte Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sybarite48/34755193353" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sybarite48/" rel="noopener noreferrer" target="_blank">
                                    Daniel Jolivet</a><br />
                           <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Viewing the structures within the Fort la Latte Castle from its tower, looking back from the edge of the small peninsula which the castle is located on, near Plevenon and St. Malo in Brittany, France"
                        data-src="https://www.travelimager.com/images/france/France-Brittany-Plevenon-Fort-la-Latte-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort la Latte Castle (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cote_Emeraude_Fort_La_Latte.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Benh" rel="noopener noreferrer" target="_blank">
                                    Benh Lieu Song</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>    


    <!-- Pointe du Grouin Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="pointe-du-grouin"></a>
        <h2 class="left-heading destination-section-heading">Pointe du Grouin</h2>
        <p>East along the coast from St. Malo is <strong>Pointe du Grouin</strong>, a rugged rocky peninsula featuring amazing coastal views. On a clear day you can Normandy from these scenic cliffs.</p>
    </section>


    <!-- Cap Frehel Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cap-frehel"></a>
        <h2 class="left-heading destination-section-heading">Cap Frehel Peninsula &amp; Fort&nbsp;la&nbsp;Latte</h2>
        <p>If you journey west along the coast from St. Malo you'll reach the magnificent <strong>Cap Frehel</strong>, another beautiful peninsula surrounded by exceptional coastal scenery. Cap Frehel features giant sheer cliffs and a massive lighthouse built of stone.</p>
        <p>Be sure to visit the neighboring peninsula where you can explore the stunning 14th century <strong>Fort la Latte</strong>, an incredible castle built atop the cliffs hosting old cannons, medieval dungeons, and more. This castle is quite picturesque set against the cliffs and the sea.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- St Malo Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5196898542"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save St. Malo &amp; Mont Saint&#8209;Michel Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/TDEXe2DZ4c52">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/5DDU1V9hUJy">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="Chateau de Chambord Palace, Chambord, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chambord-Palace-1.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-car">
                        Loire Valley (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/chambord-reflection-castle-3195956/ " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/edmondlafoto-7913128/ " rel="noopener noreferrer" target="_blank">
                            edmondlafoto</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Chateau de Chenonceau Castle, Chenonceau, Loire Valley, France"
                        data-src="https://www.travelimager.com/images/france/France-Loire-Valley-Chateau-de-Chenonceau-Castle.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/loire-valley-attractions-guide-by-train">
                        Loire Valley (Train)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Chateau_de_Chenonceau.jpg&amp;action=history " rel="noopener noreferrer" target="_blank">
                            Yvan Lastes</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau de Pierrefonds Castle Aerial View, Pierrefonds, Greater Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Pierrefonds-Chateau-de-Pierrefonds-Castle-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        Greater Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pierrefonds-castle-aerial-view-462849/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/remiou-469745/" rel="noopener noreferrer" target="_blank">
                            remiou</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/bordeaux-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Porte Cailhau intricate medieval gate to the city of Bordeaux, France"
                        data-src="https://www.travelimager.com/images/france/France-Bordeaux-Porte-Cailhau-Medieval-Gate.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/bordeaux-attractions-guide">
                        Bordeaux
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:9-Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:9-Bordeaux.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Yiannis Vacondios</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    