<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Ponts Couverts Bridges and Medieval Towers, Petite France, Strasbourg, France Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Ponts-Couverts-Bridges-and-Medieval-Towers-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Strasbourg, France and plan the perfect trip with our savable Strasbourg Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="strasbourg_france" />
    <meta name="europe_attraction_guides" content="strasbourg_france" />
    <meta name="europe_destinations" content="strasbourg_france" />
    <meta name="europe_destination_guides" content="strasbourg_france" />
    <meta name="france_attraction_guides" content="strasbourg" />
    <meta name="france_destinations" content="strasbourg" />
    <meta name="france_destination_guides" content="strasbourg" />
    <meta name="google_maps_list" content="strasbourg" />
    <meta property="og:title" content="Strasbourg, France Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Ponts-Couverts-Bridges-and-Medieval-Towers.jpg">
    <meta name="twitter:title" content="Strasbourg, France Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Ponts-Couverts-Bridges-and-Medieval-Towers.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/france/strasbourg-attractions-guide">
    <title>Attractions Guide for Strasbourg, France</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Strasbourg, France<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#petite-france">Petite France</a></div>
            <div><a href="#barrage-vauban">Barrage Vauban</a></div>
            <div><a href="#kleber-square">Kleber Square</a></div>
            <div><a href="#strasbourg-cathedral">Strasbourg Cathedral</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#black-forest-europa-park">Europa-Park</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Strasbourg Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Strasbourg is a major city in the Alsace region of Eastern France, a region known for its Alsatian wines and many lovely towns. The city of Strasbourg sits right on the German border, adjacent to the Rhine River.</p>
        <p>This city is know for its picturesque historic center, which is located on Grand Ile, a large island surrounded by rivers in the middle of the city. Within the UNESCO listed historic center of Strasbourg are many medieval buildings and the city's main attractions.</p>
    </section>


    <!-- Petite France Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France" 
                        src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont Saint-Martin View<br />(Petite France)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                                    Alexandre Prevot</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Place Benjamin Zix View over half-timbered homes lining a canal in Petite France, Strasbourg, France" 
                        src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Place-Benjamin-Zix-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Place Benjamin Zix View<br />(Petite France)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dalbera/29107213725" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dalbera/" rel="noopener noreferrer" target="_blank">
                                    Jean-Pierre Dalbera</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the pink Eglise Saint Thomas Church in Strasbourg, France"
                        src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Eglise-Saint-Thomas-Church-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eglise Saint Thomas Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Strasbourg_%C3%A9glise_Saint_Thomas_fa%C3%A7ade_nord_01_-_2012.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ctruongngoc" rel="noopener noreferrer" target="_blank">
                                    Claude Truong-Ngoc</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval covered Barrage Vauban bridge lit up at night in Strasbourg, France"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Petite-France-Barrage-Vauban-Covered-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Barrage Vauban Covered&nbsp;Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Strasbourg_Barrage_Vauban_%C3%A9clair%C3%A9.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alo%C3%AFs_Peiffer" rel="noopener noreferrer" target="_blank">
                                    Alois Peiffer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval towers guarding the entrance to several canals and islands at the river entrance to La Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Ponts-Couverts-Barrage-Vauban-Tower-Bridges-Viewpoint-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont Couverts Bridge Medieval&nbsp;Towers</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Strasbourg,_France,_Ponts_Couverts_seen_from_Barrage_Vauban.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Strasbourg,_France,_Ponts_Couverts_seen_from_Barrage_Vauban.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Elizaveta Butryn</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Peitie France Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="petite-france"></a>
        <h2 class="left-heading destination-section-heading">Petite France</h2>
        <p>Among Strasbourg's top attractions is the lovely Petite France district of the old town, which is located on the southwestern side of Grand Ile. At Petite France the river splits into multiple small rivers, forming several tiny long islands. Here you can admire the many gorgeous and colorful medieval houses that line the rivers by exploring the area on foot.</p>
        <p>Some of the best spots to enjoy views of the lovely buildings along the river include the <strong>Pont Saint-Martin</strong> bridge and the nearby <strong>Place Benjamin Zix</strong>. Also nearby you can admire the striking medieval <strong>Eglise Saint Thomas</strong>, a gothic church which famously houses an organ played by Mozart.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>At the western ends of the islands of Petite France are four large medieval towers guarding the entrance to the city's historic center, which are best viewed from the nearby Barrage Vauban.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Barrage Vauban Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="barrage-vauban"></a>
        <h2 class="left-heading destination-section-heading">Barrage Vauban Bridge</h2>
        <p>Just west of the islands of Petit France is the 17th century <strong>Barrage Vauban</strong>, a covered bridge which spans across the river. The Barrage Vauban hosts a small sculpture museum, as well as access to a viewing terrace atop the bridge, which offers breathtaking views overlooking the medieval towers and bridge connecting the tiny islands of Petite France. This bridge is known as <strong>Ponts Couverts</strong>.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Strasbourg 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7511360253"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    <!-- Strasbourg Cathedral and Kleber Square Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pedestrians walking and daily life occurring around the vast Kleber Square in the heart of Grand Ile, Strasbourg, France"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Grand-Ile-Kleber-Square-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kleber Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/place-kl%C3%A9ber-strasbourg-france-2411525/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/SofiLayla-5331809/" rel="noopener noreferrer" target="_blank">
                                    SofiLayla</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side-view of the towering trasbourg Notre-Dame Cathedral, which once held the title of tallest building in the world"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Grand-Ile-Strasbourg-Notre-Dame-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Strasbourg Notre Dame Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/panr/4508246492/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/21678559@N06" rel="noopener noreferrer" target="_blank">
                                    Robert Cutts</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over the historic buildings of Grand Ile from high above in the Strasbourg Cathedral's tower"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Grand-Ile-Strasbourg-Notre-Dame-Cathedral-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Strasbourg Notre Dame Cathedral (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/edwin11/2520686368/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/edwin11/" rel="noopener noreferrer" target="_blank">
                                    Edwin Lee</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pont du Corbeau Bridge View along a river in Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Grand-Ile-Pont-du-Corbeau-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont du Corbeau View<br />(Grand Ile)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/panic01/29981674465/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/panic01/" rel="noopener noreferrer" target="_blank">
                                    stefano Merli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Kleber Square Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kleber-square"></a>
        <h2 class="left-heading destination-section-heading">Kleber Square</h2>
        <p>The city's main square is the massive <strong>Kleber Square</strong>, which is lined with many stunning medieval buildings. This square is centrally located in the heart of Grand Ile.</p>
    </section>


    <!-- Strasbourg Cathedral Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="strasbourg-cathedral"></a>
        <h2 class="left-heading destination-section-heading">Strasbourg Cathedral</h2>
        <p>On the southern side of Grande Ile is the city's <strong>Strasbourg Cathedral</strong> showcasing elegant and extremely complex gothic architecture. This towering medieval cathedral was the tallest building in the world for over 200 years, and today it is still the sixth tallest church on Earth.</p>
        <p>Within this gorgeous church you'll find an incredible 16th century astronomical clock, which is among the largest in the world. The church also features fine stained glass windows, as well as a tower that you can climb for amazing views overlooking the historic city center.</p>
        <p>Nearby you can take in beautiful views along the river from the <strong>Pont du Corbeau</strong>, and even take a scenic tour boat ride along the river from the Pier Batorama Rohan Palace.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Strasbourg 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2351243356"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Strasbourg Museums and Europa Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Palais Rohan Buildings housing several important museums as seen from above from the Strasbourg Cathedral's tower"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Grand-Ile-Palais-Rohan-Palace-Museums.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais Rohan Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Le_Palais_des_Rohans.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Le_Palais_des_Rohans.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    JMRW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval architecture buildings housing the Museum Oeuvre Notre-Dame in Strasbourg, France"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Grand-Ile-Museum-Oeuvre-Notre-Dame.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Oeuvre Notre&#8209;Dame</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/panic01/29355097203/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/panic01/" rel="noopener noreferrer" target="_blank">
                                    stefano Merli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Buildings along the river housing the Historical Museum of the City in Strasbourg, France adjacent to a bridge with the Strasbourg Cathedral in the background"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Grand-Ile-Musee-Historique-de-la-Ville-Historical-Museum-of-the-City-of-Strasbourg.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Historical Museum of the City</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/strasbourg-historic-center-1345586/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/hpgruesen-2204343/" rel="noopener noreferrer" target="_blank">
                                    hpgruesen</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the Alsatian Museum surrounded by other historic buildings along the river in Strasbourg, France"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/France-Strasbourg-Petite-France-Musee-Alsacien-Alsatian-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alsatian Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museum_Alsacien_Strasbourg_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Museum_Alsacien_Strasbourg_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Marzio Candusso</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Swiss Quarter within the Europa-Park Theme Park in Rust, Germany"
                        data-src="https://travonga.com/wp-content/uploads/2019/02/Germany-Black-Forest-Rust-Europa-Park-Theme-Park-Quartier-Suisse-Swiss-Quarter.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Europa-Park Amusement&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Europa-Park_-_Quartier_suisse_(01).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://fr.wikipedia.org/wiki/Utilisateur:J%C3%A9r%C3%A9my-G%C3%BCnther-Heinz_J%C3%A4hnick" rel="noopener noreferrer" target="_blank">
                                    Jeremy-Gunther-Heinz Jahnick</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Strasbourg Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>Across from the Strasbourg Cathedral is the baroque 18th century <strong>Palais Rohan</strong> palace, which hosts the city's Archaeological Museum, Fine Arts Museum, and Museum of Decorative Arts.</p>
        <p>Next door to Palais Rohan is the <strong>Museum Oeuvre Notre-Dame</strong> hosting an impressive collection of decorative and fine arts from the Middle Ages, including many sculptures. The museum is housed in a lovely medieval building and is highly recommended.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Nearby the Strasbourg Cathedral are two more popular museums, including the <strong>Historical Museum of the City</strong> tracing the city's history back from the Middle Ages.</p>
            <p>Just across the river from this museum is the <strong>Alsatian Museum</strong>, which showcases traditional rural life in France's Alsace region. The Alsatian Museum is housed across several historic mansions with elaborate rooms and displays, as well as a beautiful multi-level courtyard.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Europa Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="black-forest-europa-park"></a>
        <h2 class="left-heading destination-section-heading">Europa-Park Amusement Park</h2>
        <p>Just over the Germany border to the south of Strasbourg is <strong>Europa-Park</strong>, the second most popular amusement park on the continent after Disneyland Paris. This theme park features many thrill rides and themed areas, and is located in the German city of Rust, near Germany's Black Forest.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Strasbourg Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6198278587"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Strasbourg Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/S6TV3619WPB2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/colmar-attractions-guide">
                        Colmar
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic coloful half-timbered houses in the village of Eguisheim, Alsace region of France near Colmar"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        Alsace&nbsp;Villages &amp; Greater&nbsp;Colmar (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/xingxiyang/27568640486" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/xingxiyang/" rel="noopener noreferrer" target="_blank">
                            Kiefer</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Paris-Eiffel-Tower.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/paris-attractions-guide">
                        Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/eiffel-tower-paris-france-travel-3349075/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheDigitalArtist-202249/" rel="noopener noreferrer" target="_blank">
                            TheDigitalArtist</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Chateau de Pierrefonds Castle Aerial View, Pierrefonds, Greater Paris, France"
                        data-src="https://www.travelimager.com/images/france/France-Greater-Paris-Pierrefonds-Chateau-de-Pierrefonds-Castle-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/france/greater-paris-attractions-guide">
                        Greater Paris
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/pierrefonds-castle-aerial-view-462849/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/remiou-469745/" rel="noopener noreferrer" target="_blank">
                            remiou</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Eiffel Tower at Sunset, Paris, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
                        Bern, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne, Switzerland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    