<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View overlooking Downtown Vancouver and marina in British Columbia, Canada Road Trip Itinerary</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Downtown-Vancouver-Harbor-and-Mountains-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Best route for British Columbia Road Trip Itinerary: Vancouver, Squamish, Whistler, Joffre Lakes, Victoria, Vancouver Island, Canada + Top Attractions" />
    <meta name="travel_itineraries" content="british_columbia" />
    <meta name="canada_itineraries" content="british_columbia" />
    <meta name="road_trip_itineraries" content="british_columbia" />
    <meta name="canada_province_itineraries" content="british_columbia" />
    <meta property="og:title" content="British Columbia Road Trip Itinerary">
    <meta property="og:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Downtown-Vancouver-Harbor-and-Mountains-View.jpg">
    <meta name="twitter:title" content="British Columbia Road Trip Itinerary">
    <meta name="twitter:image" content="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Downtown-Vancouver-Harbor-and-Mountains-View.jpg">
    <link rel="canonical" href="https://travonga.com/itineraries/canada/british-columbia-road-trip-itinerary-and-top-attractions">
    <title>British Columbia Road Trip Itinerary + Top Attractions</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>




    <!-- Page Heading and Total Trip Length -->
    <h1>British Columbia Road&nbsp;Trip Itinerary<br /><span class="itinerary-inner-title">+ Top Attractions</span></h1>

    <!-- 1 - 2 Weeks -->   
    <div class="itinerary-trip-length">
        Recommended Travel Time: 1&nbsp;&#8209;&nbsp;2&nbsp;Weeks
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="itinerary-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#vancouver-british-columbia">Vancouver</a></div>
            <div>&#8674;</div>
            <div><a href="#greater-vancouver-british-columbia">Greater Vancouver</a></div>
            <div>&#8674;</div>
            <div><a href="#victoria-british-columbia">Victoria</a></div>
            <div>&nbsp;</div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>
    



    <!-- Vancouver, British Columbia - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="vancouver-british-columbia"></a>
        <h2 class="itinerary-location-title">Vancouver, British Columbia</h2>
        <p class="itinerary-location-days">3 - 7 Days</p>
    </section>

    <!-- Vancouver, British Columbia Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="Looking along the Vancouver Seawall at Coal Harbour lined with modern glass highrise buildings in Downtown Vancouver" 
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Coal-Harbour-Seawall-Water-Walk-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coal Harbour</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tdlucas5000/15070603679/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tdlucas5000/" rel="noopener noreferrer" target="_blank">
                                    tdlucas5000</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Iconic Gastown Steam Clock, a large antique clock powered by steam, seen at night in Downtown Vancouver"
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Gastown-Steam-Clock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gastown Steam Clock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iqremix/37726855381/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iqremix/" rel="noopener noreferrer" target="_blank">
                                    IQRemix</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking along the famous Capilano Suspension Bridge spanning a canyon, surrounded by lush green forests in North Vancouver"
                        src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Capilano-River-Regional-Park-Capilano-Suspension-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Capilano Suspension Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/footloosiety/3547548303/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/footloosiety/" rel="noopener noreferrer" target="_blank">
                                    David J Laporte</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking many highrise buildings during sunset seen from atop the Vancouver Lookout at Harbour Centre"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Harbour-Centre-Building-Vancouver-Lookout.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vancouver Lookout (Harbour&nbsp;Centre)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/magnusl3d/6044910841/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/magnusl3d/" rel="noopener noreferrer" target="_blank">
                                    Magnus Larsson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ultra-modern glass highrise buildings and yachts lining the marina at Downtown Vancouver's False Creek"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-False-Creek-Marina.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">False Creek</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/regnatarajan/4287809070/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/regnatarajan/" rel="noopener noreferrer" target="_blank">
                                    Reg Natarajan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Boulders along the sandy Kitsilano beach at Elsje Point with Downtown Vancouver seen behind the water at golden hour"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Kitsilano-Beach-Kitsilano-Seawall-Elsje-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Elsje Point (Kitsilano&nbsp;Beach)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/40870180@N02/35957354261/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/40870180@N02/" rel="noopener noreferrer" target="_blank">
                                    Alberto Cruz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Vancouver, British Columbia Tab Section -->
    <section class="tab-section" id="tab-section-1">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'british-columbia-vancouver-attractions', 'tab-section-1')">Vancouver Attractions &#9662</button>
        </div>

        <!-- Vancouver Attractions -->
        <div id="british-columbia-vancouver-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Vancouver is a stunning modern city of striking high-rise buildings surrounded by breathtaking scenery. Downtown Vancouver is the main hub of the city and is located on a peninsula, with lavish marinas along the southern and northern end of the peninsula and the vast Stanley Park located on the northwestern tip.</p>
                <p>The best way to tour the city is to bike along the Vancouver Seawall and Stanley Park, enjoying picturesque coastal views while passing sights such as the Totem Poles, Olympic Cauldron, Coal Harbour, and False Creek.</p>
                <p>Popular neighborhoods hosting excellent international cuisines as well as great bars and nightlife include Yaletown and Gastown, which are both located Downtown. Gastown also hosts the city's iconic Steam Clock, as well as the Vancouver Lookout from which you can enjoy panoramic views high above the city.</p>
                <p>In North Vancouver you'll find the famous Capilano Suspension Bridge, as well as vast forests hosting many hiking trails.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/canada/british-columbia/vancouver-attractions-guide">
                Attractions Guide for Vancouver, British&nbsp;Columbia
            </a>
        </h4>
        <p class="save-attractions-header">Save Vancouver, B.C. Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZVgp5VJkCoH2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/aift4wjPPQ72">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- British Columbia Itinerary 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9125778536"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Greater Vancouver, British Columbia - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="greater-vancouver-british-columbia"></a>
        <h2 class="itinerary-location-title">Greater Vancouver, British Columbia</h2>
        <p class="itinerary-location-days">Day-Trips</p>
    </section>

    <!-- Greater Vancouver, British Columbia Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from a Sea to Sky gondola looking down over Squamish and the Howe Sound near Vancouver" 
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Squamish-Sea-to-Sky-Gondola.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sea to Sky Gondola</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/paulmccoubrie/38264982816/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/paulmccoubrie/" rel="noopener noreferrer" target="_blank">
                                    Paul McCoubrie</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the High Note Trail atop Whistler Mountain high above Cheakamus Lake near Vancouver, British Columbia"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Whistler-Mountain-High-Note-Trail-Cheakamus-Lake-Southwest-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">High Note Trail (Whistler&nbsp;Mountain)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/28585801368/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive and powerful Shannon Falls, one of the largest waterfalls in Canada, located near Vancouver" 
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Shannon-Falls-Provincial-Park-Shannon-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shannon Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sagamiono/2476572392" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sagamiono/" rel="noopener noreferrer" target="_blank">
                                    Michael</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down over the three glacial Joffre Lakes from high above in British Columbia outside of Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Joffre-Lakes-Provincial-Park-View-above-Upper-Joffre-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Joffre Lakes Provincial&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Joffre_Lakes.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Joffre_Lakes.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Madhumanti Mandal</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible Black Tusk mountain formation rising above the green forests and Garibaldi Lake, near Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Garibaldi-Provincial-Park-Garibaldi-Lake-The-Black-Tusk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Black Tusk (Garibaldi&nbsp;Lake)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iwona_kellie/3759839713/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iwona_kellie/" rel="noopener noreferrer" target="_blank">
                                    iwona_kellie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful and powerful Brandywine Falls flowing over a canyon surrounded by dense forests north of Vancouver"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Greater-Vancouver-Brandywine-Falls-Provincial-Park-Brandywine-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brandywine Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29638108@N06/5858518670/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29638108@N06/" rel="noopener noreferrer" target="_blank">
                                    Jennifer C.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Greater Vancouver, British Columbia Tab Section -->
    <section class="tab-section" id="tab-section-2">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'british-columbia-greater-vancouver-squamish', 'tab-section-2')">Squamish &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'british-columbia-greater-vancouver-whistler', 'tab-section-2')">Whistler &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'british-columbia-greater-vancouver-joffre-lakes', 'tab-section-2')">Joffre Lakes &#9662</button>
        </div>

        <!-- Squamish -->
        <div id="british-columbia-greater-vancouver-squamish" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>To the north of Vancouver is a seemingly endless landscape of massive mountains, vast green valleys, and glacial lakes located between Squamish and Mount Currie.</p>
                <p>Near Squamish is the majestic 1,100 foot (335 m) tall Shannon Falls, as well as the Sea to Sky Gondola which takes you up 2,900 feet (885 m) above the Howe Sound, with striking views, hiking, and a suspension bridge. Further north of Vancouver is the stunning Garibaldi Provincial Park, which offers long-distance hiking trails set amongst tall mountains and the beautiful Garibaldi Lake.</p>
            </div>
        </div>
        <!-- Whistler -->
        <div id="british-columbia-greater-vancouver-whistler" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>The town of Whistler hosts a vast amount of skiing trails in the winter, which are used as hiking trails in the summer. The High Note Trail on Whistler Mountain offers breathtaking views over the serene glacial blue Cheakamus Lake below.</p>
            </div>
        </div>
        <!-- Joffre Lakes -->
        <div id="british-columbia-greater-vancouver-joffre-lakes" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Near Mount Currie is the Joffre Lakes Provincial Park, a small steep valley hosting a series of glacial lakes connected to one another via a series of river rapids and tiny waterfalls. The lakes are all vibrant bright blue in color and set within lush alpine forests.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/canada/british-columbia/greater-vancouver-attractions-guide">
                Attractions Guide for Greater&nbsp;Vancouver, British&nbsp;Columbia
            </a>
        </h4>
        <p class="save-attractions-header">Save Greater Vancouver, B.C. Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZaiFXmyVxoD2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/9muCHvrHYuq">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>






    <!-- Transportation - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title">Ferry to Swartz Bay, Vancouver&nbsp;Island</h2>
        <p class="itinerary-location-days">(From Tsawwassen, Vancouver)</p>
    </section>
    <div class="bottom-border"></div>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- British Columbia Itinerary Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6482485086"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>






    <!-- Victoria and Vancouver Island, British Columbia - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="victoria-british-columbia"></a>
        <h2 class="itinerary-location-title">Victoria &amp; Vancouver&nbsp;Island, British&nbsp;Columbia</h2>
        <p class="itinerary-location-days">2 - 6 Days</p>
    </section>

    <!-- Victoria and Vancouver Island, British Columbia Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colored flowers, plants, and trees of the famous Butchart Gardens of Vancouver Island in Brentwood Bay near Victoria"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Greater-Victoria-Brentwood-Bay-Butchart-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Butchart Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/don34685/22888255967/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/don34685/" rel="noopener noreferrer" target="_blank">
                                    Don</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colorful buildings lining the docks along Victoria's Fisherman's Wharf Park on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fishermans-Wharf.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fisherman's Wharf Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/20044219993/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Horse and carriage in front of Victoria's beautiful Fairmont Express Hotel with vine-covered walls, on Vancouver Island" 
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fairmont-Empress-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairmont Empress Hotel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Empress,_Victoria,_BC.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Miladlaferrari</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little red/white Fisgard Lighthouse atop a tiny rocky peninsula at Fort Rodd Hill outside Victoria, Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Fort-Rodd-Hill-Fisgard-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fisgard Lighthouse<br />(Fort&nbsp;Rodd&nbsp;Hill)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/20044219993/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Majestic stone exterior of the Hatley Castle near Victoria, which was the location for Xavier's School in most X-men films"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Victoria-Hatley-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hatley Park<br />National&nbsp;Historic&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arbron/19796275222/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arbron/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hitchcock</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden logs along the rocky French Beach surrounded by dense forests along the Strait of Juan de Fuca on Vancouver Island"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-French-Beach-Provincial-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">French Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/56705607@N00/34903768151/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/56705607@N00/" rel="noopener noreferrer" target="_blank">
                                    Blake Handley</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View along the waterline of sandy Mystic Beach below forest-covered cliffs along Vancouver Island's Strait of Juan de Fuca"
                        data-src="https://www.travelimager.com/images/british-columbia/British-Columbia-Vancouver-Island-Strait-of-Juan-de-Fuca-Juan-de-Fuca-Provincial-Park-Mystic-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mystic Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mystic_Beach,_Vancouver_Island,_Canada_10.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Podzemnik" rel="noopener noreferrer" target="_blank">
                                    Michal Klajban</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Victoria and Vancouver Island, British Columbia Tab Section -->
    <section class="tab-section" id="tab-section-3">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'british-columbia-victoria-transportation', 'tab-section-3')">Transportation &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'british-columbia-victoria-attractions', 'tab-section-3')">Victoria Attractions &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'british-columbia-greater-victoria-attractions', 'tab-section-3')">Greater Victoria &#9662</button>
        </div>
        <!-- Transportation -->
        <div id="british-columbia-victoria-transportation" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Victoria is the capital city of British Columbia and is located at the eastern edge of the massive Vancouver Island, which sits off the coast of Canada. Due to its location, Victoria can only be reached by plane or ferry, which departs from both Vancouver and Port Angeles, Washington.</p>
            </div>
        </div>
        <!-- Victoria Attractions -->
        <div id="british-columbia-victoria-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Victoria is known for its beautiful historic structures, including the magnificent BC Parliament Building and chateau-like Fairmont Express. The city also hosts the Royal BC Museum and the picturesque Fisherman's Wharf, which consists of several floating piers lined with shops, restaurants, and colorful floating homes.</p>
                <p>On the western outskirts of the city is the stunning 20th century Hatley Castle, which was once owned by the British Royal Family.</p>
            </div>
        </div>
        <!-- Greater Victoria -->
        <div id="british-columbia-greater-victoria-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>North of Victoria are the Butchart Gardens, a gorgeous collection of well-manicured themed gardens with vibrantly colored flowers and plants, as well as mesmerizing fountains. West of Victoria along the Strait of Juan de Fuca are many beautiful beaches surrounded by tall dense forests. You can reach these scenic beaches via lush forested hiking trails.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/canada/british-columbia/victoria-and-vancouver-island-attractions-guide">
                Attractions Guide for Victoria &amp; Vancouver&nbsp;Island, British&nbsp;Columbia
            </a>
        </h4>
       <p class="save-attractions-header">Save Victoria &amp; Vancouver&nbsp;Island, B.C. Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hqiiVGMjLUo">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/etM4CeZzCTP2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>






    <!-- Transportation - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title tall-section-heading-spacer">Ferry to Tsawwassen, Vancouver or<br />Port&nbsp;Angeles,&nbsp;Washington</h2>
        <p class="itinerary-location-days">(From Swartz Bay or Victoria, Vancouver&nbsp;Island)</p>
    </section>
    <div class="bottom-border"></div>



    