/*
====================== Global Configurations ==============================================
*/
:root {
	font-size: 10px;
}
html,
body {
	font-family: 'Open Sans', Sans-serif;
	font-size: 1.6rem;
	color: #444;
	overflow-x: hidden;
	margin: 0 0 0 0;
	/* transform: scale(1); */
}

/*
============== Max Width for Section Elements ================
*/
h1,
.center-heading,
.tab-section,
.attraction-lists,
.trip-extension,
.destination-section,
.nearby-destinations,
.itinerary-heading {
	max-width: 160rem;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.owl-carousel-standard {
	max-width: 160rem;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

h2,
h3,
p {
	max-width: 80rem;
}

/*
======================== Global Elements =========================
*/

h1 {
	font-size: 3rem;
	font-family: "Times New Roman", Times, serif;
	padding: 3.6rem 1.5rem 2rem;
	font-weight: bold;
	text-align: center;
	line-height: 2.8rem;
	margin-top: 0;
	margin-bottom: 0;
}

.destination-inner-title,
.itinerary-inner-title {
	font-size: 2.4rem;
	font-family: 'Georgia', Sans-serif;
	font-weight: normal;
}

h2 {
	line-height: 3rem;
	margin: 3rem auto 2rem auto;
	letter-spacing: 0;
	padding: 1.5rem 0rem;
	font-family: 'PT Sans', sans-serif;
	font-size: 2.6rem;
	font-weight: bold;
	text-align: center;
}

h3 {
	font-family: 'Lato', Sans-serif;
	font-weight: 700;
	margin-bottom: -1.2rem;
	padding-top: 0.6rem;
}

p {
	display: block;
	position: relative;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	margin-bottom: 1rem;
}

strong {
	display: inline !important;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

a:link {
	text-decoration: none;
	color: #1e8ad1;
	font-weight: normal;
}
a:visited {
	color: #1599d1;
}
a:hover {
	color: #126cb6;
	text-decoration: underline;
}
a:active {
	color: #16a5e2da;
}

a[target] {
	color: #16a5e2d7;
}

.image-wrapper {
	position: relative;
	display: inline-block;
}

@-moz-document url-prefix() {
	img:-moz-loading {
		visibility: hidden;
	}
}

.center-ad {
	width: 100vw;
}

/*
======================= Global Section Elements =========================
*/

.destination-introduction-heading {
	margin-bottom: -2.4rem;
}

.destination-section-heading {
	font-family: 'PT Sans', sans-serif;
	line-height: 4rem;
	margin-top: 1.8rem;
	margin-bottom: -2.4rem;
	padding-top: 1.6rem;
}

.section-heading {
	font-family: 'PT Sans', sans-serif;
	font-size: 2.6rem;
	font-weight: bold;
	text-align: center;
	margin: 1rem 0 1.6rem 0;
}

.tall-section-heading-spacer {
	line-height: 4rem;
}

.destinations-list-heading {
	margin-bottom: -2.4rem;
	text-align: left;
	padding-left: 1.6rem;
	max-width: 160rem;
}

.destination-section,
.attraction-lists,
.nearby-destinations {
	padding: 0 1rem;
}

.destination-section {
	margin-bottom: 2.4rem;
	line-height: 2.3rem;
}

.itinerary-trip-length {
	font-size: 1.6rem;
	font-style: italic;
	text-align: center;
	line-height: 2.8rem;
	justify-content: center;
	/* margin: -3.8rem 0.4rem 2rem 0.4rem;
	padding-top: 3rem; */
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	background-color: #444;
	color: #fff;
	display: flex;
}

.itinerary-heading,
.trip-extension {
	margin-bottom: 3rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}
.itinerary-location-title {
	text-align: center;
	max-width: 100vw;
	margin-bottom: -0.6rem;
	margin-top: 2rem;
}

.itinerary-location-days {
	text-align: center;
	max-width: 100vw;
	font-style: italic;
	font-size: 2rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: bold;
	margin-top: 1rem;
	padding-bottom: 1rem;
}

.trip-extension-days {
	font-weight: 400;
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: -2.2rem;
	font-style: italic;
}

.itinerary-note {
	margin-left: auto;
	margin-right: auto;
	max-width: 70rem;
}

/* Bottom Border for Itinerary Section on Mobile */
.bottom-border {
	padding-bottom: 2.4rem;
	border-bottom: 0.4rem #eee solid;
	margin-bottom: 2rem;
}

/* Alternate Itineray Versions */

.alternate-version-flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Times New Roman', Times, serif;
	font-size: 2.2rem;
	margin-top: -1.2rem;
	margin-bottom: 3rem;
}

.alternate-version-flex-current {
	margin-left: 1rem;
	margin-right: 1rem;
	text-decoration: underline;
}

.alternate-version-flex-link {
	margin-left: 1rem;
	margin-right: 1rem;
}

/*
============================= Global Responsive ======================================
*/

/* Large Mobile */
@media (min-width: 360px) {
	h1 {
		font-size: 3.2rem;
		line-height: 3rem;
	}
	h2,
	.section-heading {
		font-size: 2.8rem;
	}
}

/* Landscape Mobile */
@media (min-width: 501px) {
	h1 {
		font-size: 3.8rem;
		line-height: 3.6rem;
	}
	.destination-inner-title,
	.itinerary-inner-title {
		font-size: 2.7rem;
	}
	.itinerary-trip-length {
		font-size: 2rem;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}
	.trip-extension-days {
		font-size: 2.2rem;
	}
	.bottom-border {
		padding-bottom: 2.4rem;
		border-bottom: 0.1rem #ddd solid;
		margin-left: auto;
		margin-right: auto;
		max-width: 80vw;
	}
	.alternate-version-flexbox {
		font-size: 2.6rem;
	}
}

/* Tablet */
@media (min-width: 640px) {
	html,
	body {
		font-size: 1.8rem;
	}
	h1 {
		font-size: 4.2rem;
		line-height: 4.2rem;
		padding-bottom: 2.5rem;
	}
	.destination-inner-title,
	.itinerary-inner-title {
		font-size: 2.8rem;
	}
	h2,
	.section-heading {
		font-size: 3rem;
	}
	h3 {
		margin-bottom: -1.4rem;
		padding-top: 1.1rem;
	}
	.destination-section {
		line-height: 2.7rem;
	}
	.itinerary-location-title {
		margin-bottom: -1rem;
		font-size: 3.4rem;
	}
	.trip-extension-days {
		font-size: 2.4rem;
	}
}

/* Computer Screen */
@media (min-width: 800px) {
	h1 {
		font-size: 4.8rem;
		line-height: 4.5rem;
	}
	.destination-inner-title {
		font-size: 3.2rem;
	}
	.itinerary-inner-title {
		font-size: 3rem;
	}
	.itinerary-trip-length {
		font-size: 2.2rem;
	}
	.left-heading {
		text-align: left;
		margin-left: 0;
		margin-right: 0;
	}
	.destination-section-heading {
		text-decoration: underline;
		margin-bottom: -2.8rem;
	}
	.itinerary-heading {
		margin-bottom: 4rem;
	}
	.destination-section,
	.attraction-lists,
	.nearby-destinations {
		padding: 0 2rem;
	}
	.bottom-border {
		max-width: 80rem;
		margin-bottom: 3.6rem;
	}
	.section-heading {
		text-decoration: underline;
	}
}

/*
=============================== Site Navigation ====================================
*/

.site-nav-container {
	display: block;
	position: relative;
	z-index: 499;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	max-width: 100vw;
	height: 6rem;
	background: #444;
}

/* General SiteNav MegaMenu Styling */
.site-nav,
.site-nav li,
.sitenav a,
.menu-item,
.menu-item-title,
.submenu,
.submenu-column,
.submenu-column-heading,
.submenu-column-list {
	margin: 0;
	padding: 0;
}

.site-nav ul,
.site-nav li {
	list-style-type: none;
}

.site-nav a,
.menu-item-title {
	text-decoration: none;
}

.site-nav a:hover,
.menu-item-title:hover {
	text-decoration: none;
}

.mega-site-nav {
	display: flex;
	height: 9rem;
	position: relative;
	max-width: 100vw;
	z-index: 555;
	align-items: center;
	text-align: center;
}

/* SiteNav MegaMenu Flexbox */
.site-nav {
	background-color: #444;
	display: none;
	flex-direction: column;
	text-align: center;
	position: relative;
	height: 9rem;
	max-width: 100vw;
	z-index: 500;
	flex: 1;
}

/* Div Wrapper for Site Logo in Site Nav Bar */
.site-logo {
	background-color: #fff;
	padding: 0;
	list-style-type: none;
	z-index: 501;
	align-self: flex-start;
	display: none;
	height: 6.1rem;
}

.header-image-wrapper {
	display: block;
	margin: 0;
	padding: 0;
}

.site-logo-mobile {
	background-color: #444;
	position: absolute;
	padding: 0;
	list-style-type: none;
	z-index: 500;
	align-self: flex-start;
	height: 6rem;
	left: 50%;
}

.header-image-wrapper-mobile {
	display: block;
	position: relative;
	left: -50%;
	margin: 0;
	padding: 0;
}

.header-image {
	height: 6rem;
}

.nav-menu-mobile-icon {
	display: block;
	font-size: 3.2rem;
	text-decoration: none;
	position: absolute;
	right: 2vw;
	top: 0;
	line-height: 6rem;
	width: 6rem;
	z-index: 700;
	color: white;
	cursor: pointer;
}

.nav-menu-mobile-icon:link {
	color: white;
}
.nav-menu-mobile-icon:hover {
	background: #2167a1;
	color: white;
	text-decoration: none;
}

.menu-item {
	flex: 1;
}

/* #megaNavMenu {
	display: none;
} */

h2.menu-item-title {
	font-size: 1.8rem;
	font-weight: normal;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
}

.menu-item-title,
.menu-item-title > a {
	color: #fff;
	padding: 0.4rem 2.6rem;
}

.menu-item-title > a:hover {
	color: #16a5e2da;
	font-weight: bold;
}

.menu-item > .submenu {
	opacity: 0;
	background-color: #fff;
	text-align: left;
	position: absolute;
	height: auto;
	z-index: 510;
	width: 100vw;
	display: flex;
	justify-content: stretch;
	visibility: hidden;
	overflow: hidden;
	top: 9rem;
	left: 0;
	padding-bottom: 0.8rem;
	box-shadow: 0px 16px 16px -16px rgba(0, 0, 0, 0.2);
}

.submenu > .submenu-column {
	flex: 1;
}

/* Display Submenu on Hover over Menu Item */
.menu-item:hover .submenu {
	opacity: .98;
	visibility: visible;
	overflow: visible;
	cursor: pointer;
}

#menuBackdrop {
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 498;
	display: none;
}

.submenu-column-heading {
	color: #444;
	padding: 2.4rem 0.7rem 0.4rem 0.7rem;
	font-family: "PT Sans", sans-serif;
}

.submenu-column-list > li > a {
	display: block;
	text-align: left;
	padding: 0.5rem 0.7rem;
}

.submenu-column-list > li > a:hover {
	background-color: #444;
	color: #fff;
}

.submenu-column-list {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
}

@media (min-width: 380px) {
	.submenu-column-list {
		font-size: 1.3rem;
	}
	.nav-menu-mobile-icon {
		right: 6vw;
	}
}

@media (min-width: 500px) {
	.submenu-column-list {
		font-size: 1.4rem;
	}
	.nav-menu-mobile-icon {
		right: 8vw;
	}
}

@media (min-width: 640px) {
	.mega-site-nav {
		height: 6rem;
	}
	.site-nav-container,
	.site-nav {
		height: 6rem;
	}
	#megaNavMenu {
		display: flex !important;
	}
	.site-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.nav-menu-mobile-icon {
		display: none;
	}
	.site-nav {
		flex-direction: row;
	}

	.menu-item-title {
		font-size: 1.6rem;
	}
	.menu-item > .menu-item-title {
		line-height: 6rem;
	}

	.menu-item:hover > .menu-item-title {
		background-color: #fff;
	}

	.menu-item-title > a {
		padding: 0;
	}
	.menu-item:hover > .menu-item-title,
	.menu-item:hover > .menu-item-title > a {
		color: #444;
		font-weight: bold;
	}
	.submenu-column-list {
		font-size: 1.6rem;
	}
	.site-logo-mobile {
		display: none;
	}
	.site-logo {
		display: inline-block;
	}
	.menu-item .submenu {
		top: 6rem;
	}
	.submenu-column-heading,
	.submenu-column-list > li > a {
		padding-left: 3rem;
		padding-right: 3rem;
	}
}

@media (min-width: 800px) {
	.submenu-column-list {
		font-size: 1.8rem;
	}
	.menu-item-title {
		font-size: 2.2rem;
	}
}

@media (min-width: 1024px) {
	.menu-item-title {
		font-size: 2.4rem;
	}
}

/*
======================= In Page Navigation ===================================================
*/

.destination-page-section-links {
	font-size: 1.4rem;
	text-align: center;
	font-family: "PT Sans", sans-serif;
	margin-bottom: 0;
	padding-top: 0.6rem;
	padding-bottom: 0.6rem;
	color: #3081b7;
	display: flex;
	justify-content: space-evenly;
	background-color: #444;
}

.destination-page-section-links a {
	color: #5db9f7;
}

.destination-page-section-links a:hover {
	color: #1881c7;
	text-decoration: none;
}

.in-page-nav {
	list-style-type: none;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	width: 100vw;
	border-top: 0.1rem solid #ddd;
	border-bottom: 0.1rem solid #ddd;
	background-color: white;
	max-width: 100vw;
	opacity: 98%;
	position: absolute;
	transform: translate3d(0, 0, 0);
}

.nav-spacer {
	display: block;
	margin-bottom: 8rem;
}

.small-nav-spacer {
	display: block;
	margin-bottom: 4rem;
}

.sticky {
	z-index: 497;
	border-top: none;
	top: 0;
	position: fixed;
}

.navbar {
	transition: background 0.4s ease-in-out;
	background: #010101;
}

.navbar-hide {
	pointer-events: none;
	opacity: 0;
}

.is-hidden {
	opacity: 0;
	transition: transform 0.4s, opacity 0.2s;
}

.anchor {
	display: block;
	position: relative;
	top: -8rem;
	visibility: hidden;
}

.itinerary-page-nav-6,
.itinerary-page-nav-8,
.itinerary-page-nav-9,
.itinerary-page-nav-10,
.itinerary-page-nav-10-long,
.itinerary-page-nav-12,
.destination-page-nav-9,
.destination-page-nav-8 {
	font-size: 1.2rem;
}

.itinerary-page-nav-4 {
	font-size: 1.4rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	display: flex;
	flex: 1;
	justify-content: space-evenly;
	height: auto;
}

.itinerary-page-nav-6 {
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 5.8rem;
}

.itinerary-page-nav-8,
.itinerary-page-nav-9 {
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 8rem;
}

.itinerary-page-nav-10,
.itinerary-page-nav-12 {
	display: grid;
	grid-template-columns: repeat(8, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 8rem;
}

.itinerary-page-nav-10-long {
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 8.4rem;
}

.itinerary-page-nav-15 {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 8.6rem;
}

.itinerary-page-nav-18,
.itinerary-page-nav-18-long {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: repeat(6, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 9.4rem;
}

.itinerary-page-nav-24 {
	font-size: 1.2rem;
	display: grid;
	grid-template-columns: repeat(8, auto);
	justify-content: space-evenly;
	align-content: space-around;
	height: 9.6rem;
}

.large-itinerary-nav-spacer {
	display: block;
	padding-bottom: 7rem;
}

.destination-page-nav-9,
.destination-page-nav-8 {
	display: grid;
	grid-template-columns: repeat(3, auto);
	justify-content: space-evenly;
	align-content: space-around;
	padding-top: 0.5rem;
	height: 8rem;
}

.destination-page-nav-6,
.destination-page-nav-4 {
	display: grid;
	grid-template-columns: repeat(2, auto);
	justify-content: space-evenly;
	align-content: space-around;
	font-size: 1.4rem;
	padding-top: 0.5rem;
	height: 6.6rem;
}

@media (min-width: 380px) {
	.itinerary-page-nav-6,
	.itinerary-page-nav-8,
	.itinerary-page-nav-9,
	.itinerary-page-nav-10,
	.itinerary-page-nav-10-long,
	.itinerary-page-nav-12,
	.destination-page-nav-8,
	.destination-page-nav-9 {
		font-size: 1.4rem;
	}
	.itinerary-page-nav-18 {
		font-size: 1.3rem;
		grid-template-columns: repeat(8, auto);
		height: 9rem;
	}
	.itinerary-page-nav-18-long {
		height: 9rem;
	}
	.destination-page-section-links {
		font-size: 1.7rem;
	}
}

@media (min-width: 501px) {
	.itinerary-page-nav-15 {
		font-size: 1.3rem;
		grid-template-columns: repeat(8, auto);
		height: 8.2rem;
	}
	.itinerary-page-nav-18 {
		font-size: 1.3rem;
	}
}

@media (min-width: 640px) {
	.itinerary-page-nav-4 {
		font-size: 1.6rem;
	}
	.itinerary-page-nav-6 {
		font-size: 1.5rem;
	}
	.itinerary-page-nav-8 {
		font-size: 1.5rem;
		grid-template-columns: repeat(8, auto);
		height: 5.8rem;
	}
	.itinerary-page-nav-9 {
		font-size: 1.5rem;
		grid-template-columns: repeat(10, auto);
		height: 5.8rem;
	}
	.itinerary-page-nav-10-long {
		font-size: 1.5rem;
		grid-template-columns: repeat(8, auto);
		height: 7.2rem;
	}
	.itinerary-page-nav-15 {
		font-size: 1.4rem;
		grid-template-columns: repeat(10, auto);
		height: 7.2rem;
	}
	.itinerary-page-nav-18 {
		font-size: 1.4rem;
		grid-template-columns: repeat(12, auto);
		height: 8.8rem;
	}
	.itinerary-page-nav-18-long {
		font-size: 1.3rem;
		grid-template-columns: repeat(12, auto);
		height: 8.8rem;
	}
	.itinerary-page-nav-24 {
		font-size: 1.4rem;
		grid-template-columns: repeat(12, auto);
		height: 8.8rem;
	}
}

@media (min-width: 800px) {
	.destination-page-section-links {
		font-size: 2rem;
	}

	.itinerary-page-nav-6,
	.itinerary-page-nav-8,
	.itinerary-page-nav-9 {
		font-size: 1.6rem;
	}
	.itinerary-page-nav-6 {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		display: flex;
		flex: 1;
		justify-content: space-evenly;
		height: auto;
	}
	.itinerary-page-nav-10,
	.itinerary-page-nav-10-long {
		grid-template-columns: repeat(10, auto);
	}
	.itinerary-page-nav-12 {
		grid-template-columns: repeat(12, auto);
	}
	.itinerary-page-nav-10,
	.itinerary-page-nav-10-long,
	.itinerary-page-nav-12,
	.destination-page-nav-9,
	.destination-page-nav-8 {
		font-size: 1.6rem;
		height: 5.8rem;
	}

	.destination-page-nav-6,
	.destination-page-nav-4 {
		font-size: 1.6rem;
	}

	.itinerary-page-nav-18,
	.itinerary-page-nav-18-long {
		font-size: 1.5rem;
	}
	.itinerary-page-nav-24 {
		font-size: 1.5rem;
	}

	.destination-page-nav-9 {
		grid-template-columns: repeat(5, auto);
	}
	.destination-page-nav-8 {
		grid-template-columns: repeat(4, auto);
	}
	.destination-page-nav-6 {
		grid-template-columns: repeat(3, auto);
	}
	.destination-page-nav-4 {
		display: flex;
		flex: 1;
		justify-content: space-evenly;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		height: auto;
	}
}

@media (min-width: 1180px) {
	.itinerary-page-nav-8,
	.itinerary-page-nav-9,
	.itinerary-page-nav-10,
	.itinerary-page-nav-10-long,
	.itinerary-page-nav-12 {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		display: flex;
		flex: 1;
		justify-content: space-evenly;
		height: auto;
	}
	.itinerary-page-nav-15 {
		font-size: 1.5rem;
		grid-template-columns: repeat(16, auto);
		height: 5rem;
	}
	.itinerary-page-nav-14 {
		grid-template-columns: repeat(14, auto);
	}

	.itinerary-page-nav-18,
	.itinerary-page-nav-18-long {
		font-size: 1.5rem;
		grid-template-columns: repeat(18, auto);
		height: 5rem;
	}

	.itinerary-page-nav-24 {
		font-size: 1.5rem;
		grid-template-columns: repeat(16, auto);
		height: 6.8rem;
	}
	.destination-page-nav-9,
	.destination-page-nav-8,
	.destination-page-nav-6 {
		display: flex;
		flex: 1;
		justify-content: space-evenly;
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		height: auto;
	}
	.nav-spacer {
		display: block;
		margin-bottom: 5rem;
	}
	.anchor {
		top: -6rem;
	}
}

/*
================== Destination List Pages and Nearby Destinations Sections ==================================
*/

/* Destinations 2 Row 4 Item Container */
.destinations-flexbox {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0.6rem;
	padding: 1.5rem 0.6rem 0 0.6rem;
	margin: 1rem -1rem;
}

/* Single Destination Container */
.destination-container {
	margin: 0 auto;
	width: auto;
}

/* Destination Title */
.destination-title {
	font-size: 1.4rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: bold;
	line-height: 1.8rem;
	margin-top: -0.2rem;
	margin-bottom: -0.7rem;
	padding: 0 0.2rem;
}

/* Destination Image */
.destination-image {
	width: 100%;
	max-width: 100%;
	height: auto;
}

/* Destination Credits */
.destination-credits {
	font-size: 0.8rem;
	padding: 0 0.2rem;
}

/* Large Mobile */
@media (min-width: 360px) {
	.destination-title {
		font-size: 1.6rem;
		line-height: 2rem;
	}
}

/* Landscape Mobile */
@media (min-width: 501px) {
	.destination-title {
		font-size: 1.8rem;
		line-height: 2.3rem;
	}
}

/* Tablet */
@media (min-width: 640px) {
	.destination-title {
		font-size: 2.4rem;
		margin-bottom: -0.2rem;
	}
}

/* Tablet to Below Standard Screen Size */
@media (min-width: 800px) {
	.destinations-flexbox {
		display: flex;
		box-sizing: border-box;
		margin: 1.5rem -1.5rem;
		padding: 1.5rem 0.7rem 0 0.7rem;
	}
	.destination-container {
		width: 25%;
		margin: 0 0.3rem;
	}
	.destination-title {
		font-size: 1.8rem;
		line-height: 2.4rem;
		margin-bottom: -0.7rem;
	}
	.destination-credits {
		font-size: 0.9rem;
	}
}

/* Full Size Screen */
@media (min-width: 1024px) {
	.destination-title {
		font-size: 2.2rem;
		margin-bottom: -0.4rem;
	}
}

/*
================== Google Maps Attractions List and Trip Extensions ================
*/

/* Attraction Lists Section Wrapper */
.attraction-lists {
	border: 0.3rem #eee solid;
	margin-top: 2.5rem;
	margin-bottom: 2rem;
	padding-bottom: 1.4rem;
}

/* Save Attraction Lists to Your Account Text (Destination Pages) */
.destinations-save-attractions-header {
	font-size: 1.5rem;
	font-family: 'Open Sans', Sans-serif;
	margin-top: 1.2rem;
	margin-bottom: 1rem;
	text-align: center;
}

/* Save Attraction Lists to Your Account Text (Itinerary Pages) */
.save-attractions-header {
	font-size: 1.5rem;
	font-family: 'Open Sans', Sans-serif;
	margin-top: 1.2rem;
	margin-bottom: 1rem;
	text-align: center;
}

/* Container for Attraction Lists Map Links */
.attraction-links-container {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0.5rem;
	font-size: 1.6rem;
	line-height: 1.5rem;
}

.attraction-links-container.block {
	display: block;
}

.attractions-link {
	font-family: 'Open Sans', Sans-serif;
	margin-block-start: 1.2rem;
	margin-block-end: 1.2rem;
	line-height: 2rem;
}

/* Instructions for Saving Attraction Lists */
.save-attractions-instructions {
	margin-top: 2rem;
	font-size: 1.3rem;
	line-height: 2rem;
}

/* Itinerary Destination Guide Links */
.destination-guide-links {
	font-size: 2rem;
	text-align: center;
	margin-top: 0rem;
	margin-bottom: 0.6rem;
	grid-gap: 0.5rem;
	padding-top: 0.6rem;
	padding-bottom: 0.8rem;
	border-bottom: 0.1rem #eee solid;
	line-height: 2.5rem;
	display: grid;
}

/* Trip Extension Destination Guide Links */
.trip-extension-guide-links {
	font-size: 2rem;
	text-align: center;
	margin: 1.2rem auto 5rem auto;
	line-height: 2.5rem;
	display: grid;
	grid-gap: 0.5rem;
}

/* Single Destination Guide / Trip Extension Guide Link */
.destination-guide-link {
	padding: 0 2rem;
}

/* Large Mobile */
@media (min-width: 380px) {
	/* .destinations-save-attractions-header,
	.save-attractions-header {
		font-size: 1.4rem;
	} */
	.attraction-links-container {
		font-size: 1.8rem;
		line-height: 1rem;
	}
	.attraction-links-container.block {
		line-height: 2.5rem;
	}
	.save-attractions-instructions {
		font-size: 1.4rem;
		line-height: 2.2rem;
	}
}

/* Landscape and Tablet */
@media (min-width: 501px) {
	.destinations-save-attractions-header {
		font-size: 1.7rem;
		padding-top: 0rem;
		padding-bottom: 0rem;
	}
	.save-attractions-header {
		font-size: 2rem;
		padding-top: 0.6rem;
		padding-bottom: 0.6rem;
	}
	.attraction-links-container {
		font-size: 2rem;
		line-height: 1.8rem;
		max-width: 65rem;
	}
	.destination-guide-links {
		font-size: 2.5rem;
		margin: 1.5rem auto -0.5rem auto;
		grid-gap: 1.5rem;
		padding-top: 0rem;
		padding-bottom: 1rem;
	}
	.trip-extension-guide-links {
		font-size: 2.5rem;
		grid-gap: 1.5rem;
	}
}

/* Computer and Full Width */
@media (min-width: 800px) {
	.destinations-save-attractions-header {
		font-size: 2rem;
		text-align: left;
	}
	.save-attractions-header {
		text-align: left;
		margin-top: 2.4rem;
	}
	.attraction-lists {
		border: none;
		margin-top: 6rem;
		margin-bottom: 3rem;
	}
	.destination-guide-links {
		border-bottom: none;
		margin-top: -2rem;
		margin-bottom: 1rem;
		padding-bottom: 0;
	}
	.tab-align {
		max-width: 85rem;
		padding-bottom: 2.2rem;
		margin-bottom: 3.6rem;
		border-bottom: 0.1rem solid #ddd;
	}
}

/*
================================ Tabs ===============================
*/

/* Tab Section Wrapper */
.tab-section {
	margin-bottom: 4rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

/* Style the Tab Bar */
.tab {
	overflow: hidden;
	border-radius: 0.8rem;
	margin-top: 2rem;
	max-width: 98vw;
	display: flex;
	flex-direction: column;
	z-index: 1;
	border: none;
	background-color: #1f92c0;
	border: 1px solid #444;
	padding-bottom: 0.5rem;
}

/* Style the Buttons which are Used to Open the Tab Content */
.tab button {
	background-color: inherit;
	outline: none;
	float: left;
	border: none;
	cursor: pointer;
	padding: 1.2rem 1.6rem;
	transition: 0.3s;
	font-size: 1.6rem;
	line-height: 1.8rem;
	color: #fff;
	font-weight: bold;
	z-index: 2;
	margin-left: 0rem;
	margin-right: 0rem;
}

/* Change Background Color of Buttons on Hover */
.tab button:hover {
	z-index: 4;
	background-color: #0d76a0;
}

/* Create an Active/Current Tablink Class */
.tab button.active {
	background-color: #333;
	font-size: 1.8rem;
	z-index: 3;
	color: #fff;
}

/* Style the Tab Content */
.tabcontent {
	display: none;
	border-radius: 0.7rem;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
	max-width: 98vw;
	background: #fff;
	margin-top: -0.6rem;
	z-index: 7;
	border: 0.1rem solid #1f92c0;
	border-top: none;
}

/* Container for All Text in Single Tab */
.tabcontent-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.8rem;
	margin-right: auto;
	margin-left: auto;
	max-width: 80rem;
	line-height: 2rem;
}

.tab,
.tabcontent {
	margin-right: auto;
	margin-left: auto;
}

/* Landscape Mobile */
@media (min-width: 640px) {
	.tabcontent-text-container {
		line-height: 2.6rem;
	}
}

/* Tablet and Mobile */
@media (min-width: 800px) {
	.tab {
		display: flex;
		flex-direction: row;
		justify-content: center;
		border-radius: 0.7rem;
		z-index: auto;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		padding-top: 1.2rem;
		padding-bottom: 0.5rem;
		overflow: visible;
		border: 1px solid #444;
		max-width: 85rem;
	}

	.tabcontent {
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		margin-top: -0.7rem;
		border: 0.1rem solid #333;
		border-radius: 0.7rem;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-top: none;
		max-width: 85rem;
	}

	.tab button {
		z-index: 4;
		font-size: 2rem;
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		margin-top: -0.8rem;
		margin-bottom: -0.5rem;
		line-height: 2.5rem;
	}

	.tab button:hover {
		z-index: 6;
		display: inline-block;
		font-size: 2.3rem;
		background-color: #1f92c0;
		border-radius: 0;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
	}

	.tab button.active {
		background-color: #fff;
		color: #444;
		font-size: 2.2rem;
		border: 0.2rem solid #1f92c0;
		border-bottom: none;
		border-radius: 1.2rem;
		border-bottom-left-radius: 0rem;
		border-bottom-right-radius: 0rem;
		z-index: 5;
	}

	.tab-section {
		margin-top: -1.5rem;
		margin-bottom: 5rem;
	}
	.tab,
	.tabcontent {
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}
}

/*
===================== Show More / Show Less Tab Buttons ==============================
*/

/* Style the button that is used to open and close the collapsible content */
.collapsible-content {
	cursor: pointer;
	padding: 0.4rem 1rem;
	width: 100%;
	border: none;
	text-align: left;
	text-decoration: underline;
	outline: none;
	font-size: 1.5rem;
	font-family: "Open Sans", sans-serif;
	color: #1e8ad1;
	background-color: transparent;
}

/* Style the collapsible content. Note: hidden by default */
.hidden-content {
	display: none;
	overflow: hidden;
}

.destination-section > .read-more-header-padding {
	padding-top: 2.8rem;
}

@media (min-width: 640px) {
	.collapsible-content {
		padding: 0.5rem 2rem;
		font-size: 1.8rem;
	}
}

/*
=========================== Owl Carousel Image Slider ======================================
*/
.owl-carousel-standard {
	margin-top: 2rem;
	position: relative;
}

.owl-item-text {
	text-align: center;
	margin-top: 0.8rem;
}

.owl-item-title {
	color: #333333;
	font-size: 2.1rem;
	font-weight: bold;
	font-family: 'Open Sans', Sans-serif;
	line-height: 3rem;
	display: inline-block;
}

.owl-item-credits {
	font-size: 0.9rem;
	line-height: 1.5rem;
	display: inline-block;
}

.owl-dots {
	position: absolute;
	left: 1%;
	right: 1%;
}

.owl-dots-top > .owl-dots {
	top: -4rem;
}

/*
========================== Homepage ===============================
*/

.owl-carousel-home,
.itinerary-info-container-home {
	max-width: 48rem;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	display: block;
}

.owl-carousel-home {
	padding-top: 2rem;
}

.owl-item-title-home {
	margin-top: 0rem;
	color: #333333;
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
	font-family: 'Open Sans', Sans-serif;
	line-height: 2.4rem;
}

.owl-dots-home > .owl-dots {
	top: -1.5rem;
}

.itinerary-title-home {
	margin-bottom: -1rem;
	margin-top: 0rem;
	max-width: 48rem;
	font-size: 2.5rem;
	line-height: 3rem;
}

.two-itinerary-flexbox-home {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 120rem;
}

.flex-container-home {
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.homepage-title {
	max-width: 120rem;
}

.itinerary-summary-home {
	font-style: italic;
}

.itinerary-summary-title-home {
	padding-top: 1rem;
	text-align: left;
	/* font-size: 1.8rem; */
	font-family: 'Pt Sans', Sans-serif;
	margin-bottom: -1rem;
	text-decoration: underline;
}

.itinerary-length-home {
	text-align: center;
	font-style: italic;
	font-size: 1.7rem;
	font-family: 'Open Sans', Sans-serif;
	font-weight: bold;
	margin-top: 0rem;
}

.itinerary-top-attractions-home {
	padding-top: 1rem;
	text-align: center;
	padding-bottom: 2.4rem;
}

.itinerary-info-container-home {
	padding-bottom: 0.6rem;
	border-bottom: 0.1rem solid #ededed;
}

@media (min-width: 640px) {
	.flex-container-home {
		width: 45%;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 4rem;
	}
	.owl-item-title-home {
		min-height: 4rem;
	}
	.itinerary-info-container-home {
		border-bottom: none;
	}
}

@media (min-width: 800px) {
	.itinerary-title-home {
		margin-bottom: 0rem;
		font-size: 3.2rem;
		line-height: 4rem;
	}
	.itinerary-length-home {
		font-size: 2rem;
	}
	.homepage-title {
		margin-bottom: 3rem;
	}
}

/*
================================= Footer ================================
*/

.footer {
	margin-top: 5rem;
	bottom: 0;
	width: 100%;
	background-color: #444;
}

.footer-flexbox {
	max-width: 124rem;
	background-color: #444;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
}

.site-identity {
	font-size: 2.4rem;
	padding-top: 0.8rem;
	line-height: 0rem;
	font-style: italic;
	font-family: "Lato", sans-serif;
	color: #6ec1e4;
}

.site-identity-copyright {
	color: #969696;
	font-size: 1.2rem;
	text-align: center;
	align-self: center;
	padding-bottom: 1.6rem;
}

.short-page-container {
	min-height: calc(100vh - 9.65rem);
}

#destinations-last-row {
	margin-bottom: 5rem;
}

.short-page-footer {
	width: 100%;
	background-color: #444;
	bottom: 0;
}

@media (min-width: 640px) {
	.footer-flexbox {
		flex-direction: row;
		justify-content: space-between;
		align-items: start;
	}

	.site-identity {
		font-size: 2.8rem;
		padding-top: 0;
		line-height: 2.2rem;
		padding-left: 2rem;
		padding-right: 1rem;
	}

	.site-identity-copyright {
		font-size: 1.4rem;
		text-align: left;
		align-self: center;
		padding-left: 1rem;
		padding-right: 2rem;
		padding-bottom: 0rem;
	}
}
