<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Abandoned structures of the ghost town of Bodie State Historic Park near Lake Mono, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions for Mono Lake, California + Bodie Ghost Town & More, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="mono_lake_california" />
    <meta name="attraction_guides" content="bodie_california" />
    <meta name="attraction_guides" content="devils_postpile_california" />
    <meta name="usa_attraction_guides" content="mono_lake_california" />
    <meta name="usa_attraction_guides" content="bodie_california" />
    <meta name="usa_attraction_guides" content="devils_postpile_california" />
    <meta name="usa_destinations" content="mono_lake_california" />
    <meta name="usa_destinations" content="bodie_california" />
    <meta name="usa_destinations" content="devils_postpile_california" />
    <meta name="usa_destination_guides" content="mono_lake_california" />
    <meta name="usa_destination_guides" content="bodie_california" />
    <meta name="usa_destination_guides" content="devils_postpile_california" />
    <meta name="california_attraction_guides" content="mono_lake" />
    <meta name="california_attraction_guides" content="bodie" />
    <meta name="california_attraction_guides" content="devils_postpile" />
    <meta name="california_destinations" content="mono_lake" />
    <meta name="california_destinations" content="bodie" />
    <meta name="california_destinations" content="devils_postpile" />
    <meta name="california_destination_guides" content="mono_lake" />
    <meta name="california_destination_guides" content="bodie" />
    <meta name="california_destination_guides" content="devils_postpile" />
    <meta name="national_park_attraction_guides" content="devils_postpile" />
    <meta name="google_maps_list" content="mono_lake" />
    <meta name="google_maps_list" content="bodie" />
    <meta name="google_maps_list" content="devils_postpile" />
    <meta property="og:title" content="Bodie & Mono Lake, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg">
    <meta name="twitter:title" content="Bodie & Mono Lake, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
    <title>Attractions Guide for Bodie & Mono County, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Bodie &amp; Mono County, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#bodie-ghost-town">Bodie Ghost Town</a></div>
            <div><a href="#mono-lake">Mono Lake</a></div>
            <div><a href="#mammoth-lakes">Mammoth Lakes</a></div>
            <div><a href="#devils-postpile">Devil's Postpile</a></div>
            <div><a href="#hot-creek">Hot Creek</a></div>
            <div><a href="#yosemite-tuolumne-meadows">Tuolumne Meadows</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Bodie and Mono County, California Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>There's a surprising amount of beauty within the seemingly desolate landscape located just east of the massive Sierra Nevada mountains, mostly within vast Mono County. In this area of California you'll find the Bodie Ghost Town, Mono Lake, the Devil's Postpile, Mammoth Lakes, and Yellowstone-like geothermal hot springs.</p>
        <p>The following attractions are listed in order along a recommended route through the area heading southbound.</p>
    </section>


    <!-- Bodie, Mono Lake, and Mammoth Lake Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Hundreds of old abandoned wooden structures amongst the rolling hills of Bodie State Historic Park Ghost Town in Mono County"
                        src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bodie Ghost Town</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking Mono Lake from high above along the highway" 
                        src="https://www.travelimager.com/images/california/California-Mono-County-Mono-Lake-Vista-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mono Lake Vista&nbsp;Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/15166139163/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning tufa structures sticking out of the water at sunset seen along the South Tufa trail at Mono Lake"
                        src="https://www.travelimager.com/images/california/California-Mono-County-Mono-Lake-South-Tufa.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mono Lake South Tufa</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/anikki/8818528692/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/anikki/" rel="noopener noreferrer" target="_blank">
                                    Gerold Schneider</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the massive Sierra Nevada Mountains partially covered in snow from the Minaret Vista at Mammoth Lakes"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Minaret-Vista.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Minaret Vista</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bodie Ghost Town Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bodie-ghost-town"></a>
        <h2 class="left-heading destination-section-heading">Bodie Ghost Town</h2>
        <p>Begin your day by visiting the legendary <strong>Bodie State Historic Park</strong>, which is the largest and best preserved ghost town in the United States. Bodie is a former gold mining boomtown which was completely abandoned by the 1940s, although many former residents left much earlier.</p>
        <p>Bodie is home to countless well-preserved structures that you can spend hours exploring, many of which contain original furnishings. The city of Bodie sits at a very high elevation of 8,400 feet (2,560 m) and is surrounded by beautiful scenery.</p>
        <p>When you arrive in Bodie be sure to head to the former town hall building to sign up for a tour of the giant mine, which can not be accessed otherwise.</p>
    </section>


    <!-- Mono Lake Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mono-lake"></a>
        <h2 class="left-heading destination-section-heading">Mono Lake</h2>
        <p>Next you can head down towards Mono Lake, stopping at the <strong>Mono Lake Vista Point</strong> along the highway, which provides incredible views overlooking the lake from high above.</p>
        <p>The best walk to explore amongst this strange but scenic alkali lake is the 0.7 mile (1.1 km) round-trip <strong>South Tufa Loop Trail</strong>, which ventures along the lake's famous limestone tufa towers and the lakeshore.</p>
    </section>


    <!-- Mammoth Lakes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mammoth-lakes"></a>
        <h2 class="left-heading destination-section-heading">Mammoth Lakes</h2>
        <p>After enjoying Mono Lake, you should head to the resort town of Mammoth Lakes. The town is among California's most popular skiing destinations in the winter, but also hosts many great outdoor summer activities including hiking trails, mountain biking trails, and much more.</p>
        <p>Drive up to the <strong>Minaret Vista</strong> for amazing views of the towering jagged peaks that make up this portion of the Sierra Nevada Mountains.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bodie Mono 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1492746811"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Devil's Postpile, Hot Creek, and Tuolumne Meadows Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning geometric columnar cliffs of the Devil's Postpile National Monument near Mammoth Lakes"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Devils-Postpile-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Postpile National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/135476354@N02/34116264842/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/135476354@N02/" rel="noopener noreferrer" target="_blank">
                                    Everett Carrico</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Powerful Rainbow Falls cascadeing over the geometric columnar cliffs of Devil's Postpile National Monument near Mammoth Lakes"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Devils-Postpile-National-Monument-Rainbow-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rainbow Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/johnloo/9259040445/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/johnloo/" rel="noopener noreferrer" target="_blank">
                                    John Loo</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Light blue geothermal waters of Hot Creek beside a dark blue river in a canyon near Mammoth Lakes"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Hot-Creek-Geological-Site.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hot Creek Geological&nbsp;Site</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour view of a stream flowing through Yosemite National Park's Tuolumne Meadows below forests and tall mountains"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Tuolomne-Meadows.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tuolumne Meadows (Yosemite)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Devil's Postpile National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="devils-postpile"></a>
        <h2 class="left-heading destination-section-heading">Devil's Postpile National Monument</h2>
        <p>Nearby the Minaret Vista you can park and take the shuttle bus to see the stunning geometric columnar cliff formations of <strong>Devils Postpone National Monument</strong>. The national monument also hosts the gorgeous <strong>Rainbow Falls</strong> waterfall, which you can see along with the columnar cliffs via an easy-going round-trip hike of about 4.8 miles (7.7 km).</p>
        <p>You can add on an additional 1.2 miles (1.9 km) round-trip to your hike to see the small but beautiful Lower Rainbow Falls if you like.</p>
    </section>



    <!-- Hot Creek Geothemal Area Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hot-creek"></a>
        <h2 class="left-heading destination-section-heading">Hot Creek Geothemal Area</h2>
        <p>Just outside of Mammoth Lakes be sure to visit the <strong>Hot Creek Geological Site</strong>, a stunning geothermal area located within a river canyon, consisting of beautiful steaming bright blue pools. The best views of the pools are from atop the cliffs at the parking lot, but you can also take a short walk down into the shallow canyon for a closer look.</p>
    </section>


    <!-- Tuolumne Meadows Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="yosemite-tuolumne-meadows"></a>
        <h2 class="left-heading destination-section-heading">Tuolumne Meadows</h2>
        <p>Afterwards continue to your next destination, or consider visiting the nearby <strong>Tuolumne Meadows</strong> district of Yosemite National Park if you have plenty of time left, which looks especially gorgeous before sunset. Tuolumne Meadows is located just west of Mono Lake and hosts an array of wildlife, set amongst a serene meadowy landscape surrounded by mountain peaks.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bodie Mono Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8186965912"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Bodie &amp; Mono County Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Wy3dYxfuhi42">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        Tuolumne Meadows,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                            Jiashiang</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        Lake Tahoe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                            Don Graham</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sahara-like sand dunes known as the Mesquite Flat Sand Dunes surrounded by desert mountains in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mesquite-Flat-Sand-Dunes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        Death Valley National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/29198100@N00/5554374255/in/photolist-9sPBXn-dYyLiF-dMWRxZ-4yvwWS-ePotWv-dYEtib-bYT2Eu-4yvwXs-hr94z7-hracJk-rw25m5-okzRQf-rcNju4-ePotKe-kDqHeW-dJnSL3-kDp6kT-rw1xxa-7Lz8Qs-dJhBq6-rtPXNd-XTzj1w-dJhr3z-hraaqm-kDqJ2N-dJhALg-VXsaho-9sPzGt-ePougT-fuFmAG-9sSzW9-rtPRGW-kDqFbh-reEKCg-9Qj4WT-reEF3e-dJo4gN-9sSB77-dYEv59-Djayqo-rw1uTn-rw1sNa-rw1Bu8-rw1Y7b-rexb4W-pVzrTk-dYEtPN-rw7zTe-ePzTGA-rw1XSy/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/29198100@N00/" rel="noopener noreferrer" target="_blank">
                            Gabriel Millos</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    