<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for California's top destinations: San Diego, Los Angeles, San Francisco, Yosemite, Joshua Tree, Central Coast, Redwoods, Lassen, & more" />
    <meta name="attraction_guides" content="california" />
    <meta name="usa_destinations" content="california" />
    <meta name="destination_guides" content="california" />
    <meta property="og:title" content="California Attraction Guides">
    <meta name="twitter:title" content="California Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/california-attraction-guides">
    <title>California Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Total Trip Length -->
    <h1>California Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Popular Destinations</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        <img class="destination-image"
                        alt="Sunset over the famous Griffith Observatory with the skyscrapers of Downtown Los Angeles in the background"
                        src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        Los Angeles
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/igorelick-680927/" rel="noopener noreferrer" target="_blank">
                            igorelick</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        <img class="destination-image" 
                        alt="Beautiful view of the sun setting behind the Pacific Beach Pier over the ocean in San Diego"
                        src="https://www.travelimager.com/images/california/California-San-Diego-Pacific-Beach.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        San Diego
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/billmorrow/13767298914/in/photolist-mYz1jE-JTz3qf-d5kveL-5x3BqF-axPn2L-VgbR9R-6gVY26-97eXdv-axPmJU-axLvtM-5L84ff-3hf159-8m2BRb-W9ktxs-rcFBkn-W9juJY-retKn7-7sr17n-8kYA8B-VTZXgh-79a8v-hbMUHU-cpG5z5-6cA5Mp-WhYLu2-5MWCKa-Wr9kYf-VUts29-axLzyF-Wr6Co5-VfGW5Z-2Ye8c9-axLtQX-dqppnD-WtC8T1-amgKFM-WM7MHk-qz8FBz-WtBkiN-rw4Ku4-7fRptg-6Z5uw7-VSeXMw-oX6V7h-axPqQy-rgR6V-5x3CMP-fmKz5-5AJArD-6RZ4nV" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/billmorrow/" rel="noopener noreferrer" target="_blank">
                            Bill Morrow</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>

    <!-- Row 2 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Hundreds of old abandoned wooden structures amongst the rolling hills of Bodie State Historic Park Ghost Town in Mono County"
                        src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town-300x225.jpg"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        Bodie &amp; Mono&nbsp;County
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of the famous Bixby Creek Bridge, part of the Highway 101 Pacific Coast Highway along the Central California Coast"
                        src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Bixby-Creek-Bridge-300x225.jpg"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Bixby-Creek-Bridge.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
                        Central Coast (Lower) &amp; Big&nbsp;Sur
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/russellstreet/34021083656/in/photolist-TQjWTS-d13eS9-d2nDzW-9XAfef-yd7qk3-TQJBWp-bDNmkt-6kNDfK-q2yTWE-pMeRfn-pMePGc-yVMjbG-5fDknB-bodW6Q-6nX7c1-MfSYgo-25sn5Xy-4FTgug-sL8cw4-NFLV1a-vE1UV7-unUvAc-bDNmJD-9XAfa1-25hzKfa-Aaxg3Z-zcxXkw-zRZys1-AaxhpB-A8q8GU-zRYgaj-zRYn2u-zRZzmA-AaxjcV-zRYhVJ-A9zFcr-zS5hpv-A7hqoA-zRZAEh-zcGiF4-zS5gAX-zcxTnm-zRYmPW-zRYmc3-A9zKbP-zS5fxK-4etRo1-aM2kaV-6a3RFG-eZncWd" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                            russellstreet</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Massive rollercoaster along the Santa Cruz Boardwalk theme park on the beach in Santa Cruz along California's Central Coast"
                        src="https://www.travelimager.com/images/california/California-Central-Coast-Santa-Cruz-Santa-Cruz-Beach-Boardwalk-Rollercoaster-300x225.jpg"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Santa-Cruz-Santa-Cruz-Beach-Boardwalk-Rollercoaster.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-attractions-guide">
                        Central Coast (Upper) &amp; Santa&nbsp;Cruz
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/a_little_brighter/14176319308/in/photolist-nAHkQq-7rQ689-2TXLXy-8xr45r-5gYyM1-5pon5N-nRtDWQ-fsKtQ5-mSwYtA-dvEcW2-fuxHHy-9BRQt3-q1wn8s-8qHYPm-nQPCa8-8Hip3U-q1wnAw-rvspq-6zUmW4-actSEY-Mqdr-htrKpF-nQPpMc-29K3j5-sCLGdj-5Yom5V-fsv8wg-nwxixH-nQPhAD-amRuoY-oxU64E-6K2PGq-nwx4Nj-fT4f3S-nwxxeR-TAoBAC-dz3Kw6-ot2SnU-8fevWQ-a6FuRy-aorLTB-2nrzor-nwwD7A-gGCA5V-qit1gp-6K2FBS-nLYTeq-nNRVDJ-5TLHTZ-nwx8Ww/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/a_little_brighter/" rel="noopener noreferrer" target="_blank">
                            Harold Litwiler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Palm Springs Aerial Tramway goinh up to Mt. San Jacinto high above the desert floor of the Coachella Valley from Palm Springs"
                        src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Aerial-Tramway-300x225.jpg"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Aerial-Tramway.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
                        Coachella Valley &amp; Palm&nbsp;Springs
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/glendagilreathgallery/40012340602/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/glendagilreathgallery/" rel="noopener noreferrer" target="_blank">
                            Glenda Gilreath Gallery</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 3 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sahara-like sand dunes known as the Mesquite Flat Sand Dunes surrounded by desert mountains in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mesquite-Flat-Sand-Dunes.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        Death Valley National&nbsp;Park
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/29198100@N00/5554374255/in/photolist-9sPBXn-dYyLiF-dMWRxZ-4yvwWS-ePotWv-dYEtib-bYT2Eu-4yvwXs-hr94z7-hracJk-rw25m5-okzRQf-rcNju4-ePotKe-kDqHeW-dJnSL3-kDp6kT-rw1xxa-7Lz8Qs-dJhBq6-rtPXNd-XTzj1w-dJhr3z-hraaqm-kDqJ2N-dJhALg-VXsaho-9sPzGt-ePougT-fuFmAG-9sSzW9-rtPRGW-kDqFbh-reEKCg-9Qj4WT-reEF3e-dJo4gN-9sSB77-dYEv59-Djayqo-rw1uTn-rw1sNa-rw1Bu8-rw1Y7b-rexb4W-pVzrTk-dYEtPN-rw7zTe-ePzTGA-rw1XSy/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/29198100@N00/" rel="noopener noreferrer" target="_blank">
                            Gabriel Millos</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic skull-shaped Skull Rock formation seen at golden hour in the desert of Joshua Tree National Park"
                        data-src="https://www.travelimager.com/images/california/California-Joshua-Tree-National-Park-Skull-Rock.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        Joshua Tree National&nbsp;Park
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/joshuatreenp/12489691874/in/album-72157640900898473/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joshuatreenp/" rel="noopener noreferrer" target="_blank">
                            Joshua Tree National Park</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        Lake Tahoe
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                            Don Graham</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 4 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">


            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset over the famous Griffith Observatory with the skyscrapers of Downtown Los Angeles in the background"
                        data-src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        Los Angeles
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/igorelick-680927/" rel="noopener noreferrer" target="_blank">
                            igorelick</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Arched Russian Gulch Bridge seen behind a tiny island and vibrant blue-green waters of Mendocino's coastline"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Russian-Gulch-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-attractions-guide">
                        Northern Coast (Lower)
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
                        Northern Coast (Upper) &amp; Redwoods
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="View overlooking a stunning sandy beach and cove seen from Crescent Bay Point Park in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Crescent-Bay-Point-Park.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        Orange County
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jerikoegel/522904943/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jerikoegel/" rel="noopener noreferrer" target="_blank">
                            Jeri Koegel</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 5 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Looking down over the steep walkway leading to the beautiful Point Reyes Lighthouse set amongst the Pacific Ocean"
                        data-src="https://www.travelimager.com/images/california/California-Point-Reyes-National-Seashore-Point-Reyes-Lighthouse.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide-by-train">
                        Point Reyes &amp; Mt.&nbsp;Tamalpais
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jdlasica/4341873994/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jdlasica/" rel="noopener noreferrer" target="_blank">
                            JD Lasica</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful view of the sun setting behind the Pacific Beach Pier over the ocean in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Pacific-Beach.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        San Diego
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/billmorrow/13767298914/in/photolist-mYz1jE-JTz3qf-d5kveL-5x3BqF-axPn2L-VgbR9R-6gVY26-97eXdv-axPmJU-axLvtM-5L84ff-3hf159-8m2BRb-W9ktxs-rcFBkn-W9juJY-retKn7-7sr17n-8kYA8B-VTZXgh-79a8v-hbMUHU-cpG5z5-6cA5Mp-WhYLu2-5MWCKa-Wr9kYf-VUts29-axLzyF-Wr6Co5-VfGW5Z-2Ye8c9-axLtQX-dqppnD-WtC8T1-amgKFM-WM7MHk-qz8FBz-WtBkiN-rw4Ku4-7fRptg-6Z5uw7-VSeXMw-oX6V7h-axPqQy-rgR6V-5x3CMP-fmKz5-5AJArD-6RZ4nV" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/billmorrow/" rel="noopener noreferrer" target="_blank">
                            Bill Morrow</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Path leading up to Moro Rock with stunning views of the Sierra Nevada Mountains, located in Sequoia National Park"
                        data-src="https://travonga.com/wp-content/uploads/2018/12/California-Sequoia-National-Park-Moro-Rock.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        Sequoia &amp; Kings&nbsp;Canyon National&nbsp;Parks
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/channone/16696308369/in/photolist-rroWMF-qLUQWS-rrgtbJ-rHQnnH-rHSnL4-qLSkHL-rHVNK6-rHK6zr-rFAaqs-rpvgrT-B6MTWs-Au24C7-B7ZkyV-AaXreA-viemQL-rHH1Ek-rpBgy4-rHVk4p-rHTWzD-rrs5Ei-Au26Pm-Au257J-rrn9Ss-rpvvqe-uCXUda-vAb9wp-vieiLw-rHQpDx-rHVr2B-rFChBY-rrssng-rHMBYj-rHMaDf-rHN1ea-rHSXQg-qLSQLq-rHMqwv-rrhFDW-rrirRL-rrhGbj-rFynES-rrgdhU-rHQHCH-qM3UTH-rHJeFu-rro59B-rrgaKG-rHPgXX-rHJ2aM-rHNLPg" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                            joevare</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

        </div>
    </section>


    <!-- Row 6 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        Tuolumne Meadows,<br />Yosemite National Park
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                            Jiashiang</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley,<br />Yosemite National Park
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>
            
            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>




    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>