<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Looking down a palm tree lined avenue below the San Jacinto Mountains in Palm Springs, Coachella Valley, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Coachella-Valley-Palm-Springs-Highway-lined-with-Palm-Trees-below-San-Jacinto-Mountains-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Coachella Valley & Palm Springs, California + San Jacinto. Plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="coachella_valley_california" />
    <meta name="attraction_guides" content="palm_springs_california" />
    <meta name="attraction_guides" content="san_jacinto_california" />
    <meta name="usa_attraction_guides" content="coachella_valley_california" />
    <meta name="usa_attraction_guides" content="palm_springs_california" />
    <meta name="usa_destinations" content="coachella_valley_california" />
    <meta name="usa_destinations" content="palm_springs_california" />
    <meta name="usa_destination_guides" content="coachella_valley_california" />
    <meta name="usa_destination_guides" content="palm_springs_california" />
    <meta name="california_attraction_guides" content="coachella_valley" />
    <meta name="california_attraction_guides" content="palm_springs" />
    <meta name="california_attraction_guides" content="san_jacinto" />
    <meta name="california_destinations" content="coachella_valley" />
    <meta name="california_destinations" content="palm_springs" />
    <meta name="california_destinations" content="san_jacinto" />
    <meta name="california_destination_guides" content="coachella_valley" />
    <meta name="california_destination_guides" content="palm_springs" />
    <meta name="california_destination_guides" content="san_jacinto" />
    <meta name="google_maps_list" content="coachella_valley" />
    <meta name="google_maps_list" content="palm_springs" />
    <meta name="google_maps_list" content="san_jacinto" />
    <meta property="og:title" content="Coachella Valley & Palm Springs, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Coachella-Valley-Palm-Springs-Highway-lined-with-Palm-Trees-below-San-Jacinto-Mountains.jpg">
    <meta name="twitter:title" content="Coachella Valley & Palm Springs, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Coachella-Valley-Palm-Springs-Highway-lined-with-Palm-Trees-below-San-Jacinto-Mountains.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
    <title>Attractions Guide for Coachella Valley & Palm Springs, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Coachella Valley &amp; Palm&nbsp;Springs, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#palm-springs">Palm Springs</a></div>
            <div><a href="#greater-palm-springs">Greater Palm Springs</a></div>
            <div><a href="#thousand-palms-oasis">Thousand Palms Oasis</a></div>
            <div><a href="#san-jacinto-mountain">Mt. San Jacinto</a></div>
            <div><a href="#salton-sea">Salton Sea</a></div>
            <div><a href="#painted-canyon-trail">Painted Canyon</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Coachella Valley and Palm Springs Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Palm Springs and the surrounding cities sit within the massive Coachella Valley Desert of Southern California, surrounded by huge mountains, including San Jacinto Mountain.</p>
    </section>


    <!-- Palm Springs and Greater Palm Springs Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Looking down a palm tree lined boulevard in Downtown Palm Springs"
                        src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Downtown-Palm-Springs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Palm Springs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Downtown_Palm_Springs_CA.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Patrick_Pelster" rel="noopener noreferrer" target="_blank">
                                    Patrick Pelster</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Large multi-story hall hosting art exhibits inside the Palm Spring Art Museum" 
                        src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Art-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palm Springs Art&nbsp;Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wbayercom/15105224942/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wbayercom/" rel="noopener noreferrer" target="_blank">
                                    Werner Bayer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Dense palm trees clustered around a small oasis in a small canyon surrounded by desolate desert hill in Palm Springs"
                        src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Canyon-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palm Canyon Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brian-m/297862034/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brian-m/" rel="noopener noreferrer" target="_blank">
                                    ((brian))</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large grassy animal exhibit surroudned by desolate desert at the Palm Desert Living Desert Zoo and Gardens"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-The-Living-Desert-Zoo-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Living Desert Zoo&nbsp;&amp;&nbsp;Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/docentjoyce/13366611773/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/docentjoyce/" rel="noopener noreferrer" target="_blank">
                                    Joyce cory</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old adobe-like structure at the Cabot's Pueblo Museum in Desert Hot Springs in the Coachella Valley"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Cabots-Pueblo-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cabot's Pueblo Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/minnemom/6956914437/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/minnemom/" rel="noopener noreferrer" target="_blank">
                                    minnemom</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush palm tree garden clustered around a small lake at the Coachella Valley's Thousand Palms Oasis Preserve"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Thousand-Palms-Oasis-Preserve.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thousand Palms Oasis&nbsp;Preserve</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bdearth/8088882139/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bdearth/" rel="noopener noreferrer" target="_blank">
                                    Brian</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Palm Springs, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="palm-springs"></a>
        <h2 class="left-heading destination-section-heading">Palm Springs, California</h2>
        <p><strong>Downtown Palm Springs</strong> is a popular tourist destination which features a Hollywood-like Walk of Stars along its sidewalks, as well as many restaurants and unique shops. Nearby is the <strong>Palm Springs Art Museum</strong> displaying European and Native American modern art.</p>
        <h3>Palm Canyon Trail</h3>
        <p>Just south of Palm Springs is a popular hike, the 2 mile (3.2 km) round-trip <strong>Palm Canyon Trail</strong>, which travels through a desert canyon that's filled with palm trees, centered around an oasis-like stream. This trail journeys through one of the Indian Canyons.</p>
    </section>


    <!-- Greater Palm Springs Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-palm-springs"></a>
        <h2 class="left-heading destination-section-heading">Greater Palm Springs</h2>
        <p>Southeast of Palm Springs in the nearby city of Palm Desert you'll find <strong>The Living Desert Zoo &amp; Gardens</strong>, a popular zoo with large animal enclosures set amongst beautiful desert scenery.</p>
        <p>To the north of Palm Springs in the town of Desert Hot Springs you might visit the <strong>Cabot's Pueblo Museum</strong>, a fascinating Hopi style pueblo house which hosts Native American pottery, art, artifacts, and more within an impressive structure.</p>
    </section>


    <!-- Thousand Palms Oasis Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="thousand-palms-oasis"></a>
        <h2 class="left-heading destination-section-heading">Thousand Palms Oasis</h2>
        <p>To the north of Palm Desert is another fantastic palm tree hike set amongst the <strong>Thousand Palms Oasis Preserve</strong>. This 1.7 mile (2.7 km) round-trip hike is the McCallum Trail, which travels alongside an extremely lush natural palm tree garden centered around a river.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Coachella Valley 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6303872758"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- San Jacinto Mountain Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Palm tree lined road in Palm Springs with Mt. San Jacinto towering above the background in the Coachella Valley of Southern California"
                        data-src="https://www.travelimager.com/images/california/California-Coachella-Valley-Palm-Springs-Highway-lined-with-Palm-Trees-below-San-Jacinto-Mountains.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palm Springs Road &amp; Mt.&nbsp;San&nbsp;Jacinto</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/fr/photos/palm-springs-californie-palmiers-1587288/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Palm Springs Aerial Tramway goinh up to Mt. San Jacinto high above the desert floor of the Coachella Valley from Palm Springs"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Aerial-Tramway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palm Springs Aerial&nbsp;Tramway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glendagilreathgallery/40012340602/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glendagilreathgallery/" rel="noopener noreferrer" target="_blank">
                                    Glenda Gilreath Gallery</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Palm Springs and the Coachella Valley from atop the Palm Springs Aerial Tramway station"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Aerial-Tramway-Peak-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palm Springs Aerial&nbsp;Tramway Peak</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/prayitnophotography/5776719248/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/prayitnophotography/" rel="noopener noreferrer" target="_blank">
                                    Prayitno</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking desolate desert mountains and hills seen from the Desert View Trail near Mt. San Jacinto"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-San-Jacinto-Desert-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Desert View Trail (San&nbsp;Jacinto)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pmuellr/26268244168/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pmuellr/" rel="noopener noreferrer" target="_blank">
                                    Patrick Mueller</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking a pine forest along the Round Valley Loop Trail, reached by the Palm Springs Aerial Tramway"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-San-Jacinto-Round-Valley-Loop-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Round Valley Loop Trail (San&nbsp;Jacinto)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rmceoin/2955085893/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rmceoin/" rel="noopener noreferrer" target="_blank">
                                    Randy McEoin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small Hidden lake surrounded by the pine trees forests of Mt. San Jacinto high above the Coachella Valley"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-San-Jacinto-Hidden-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hidden Lake (San&nbsp;Jacinto)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bossco/5024842344/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bossco/" rel="noopener noreferrer" target="_blank">
                                    Raymond Shobe</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking vast pine forests and many mountains from near the peak of Mt. San Jacinto above the Coachella Valley" 
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-San-Jacinto-San-Jacinto-Peak.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Jacinto Peak Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/simonov/19021389645/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/simonov/" rel="noopener noreferrer" target="_blank">
                                    Mitch Barrie</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- San Jacinto Mountain Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="san-jacinto-mountain"></a>
        <h2 class="left-heading destination-section-heading">San Jacinto Mountain</h2>
        <h3>Palm Springs Aerial Tramway</h3>
        <p>Just west of Palm Springs is the Coachella Valley's top outdoor attraction, the <strong>Palm Springs Aerial Tramway</strong>. This tram takes you up nearly 6,000 feet (1,800 m) above the desert floor to the San Jacinto Mountains, with the top station sitting at an elevation of about 8,500 feet (2,600 m). At the top of the tramway you're rewarded with breathtaking panoramic views high above the city and valley below.</p>
        <h3>Hiking Routes</h3>
        <p>There's also excellent hiking opportunities amongst the stunning lush forests of towering pine trees and rock formations that you can access from the top of the tramway. One of the easiest trails of Mt. San Jacinto is the 2.2 mile (3.5 km) round-trip loop <strong>Desert View Trail</strong>, which offers multiple viewpoints over the Coachella Valley below.</p>
        <p>For a longer hike with outstanding scenery along the way you should walk the <strong>Round Valley Loop Trail</strong>, and add the extra spur trail to the serene <strong>Hidden Lake</strong> and the gorgeous Desert View (a different desert viewpoint). This hiking route has a round-trip distance of about 4.9 miles (7.9 km).</p>
        <p>The most challenging and rewarding hike in these mountains is the 9.6 mile (15.4 km) round-trip trail to <strong>San Jacinto Peak</strong>, which has an elevation gain of nearly 2,600 feet (800 m). This scenic hike through the rocky forests leads to the top of Mt. San Jacinto, from which you can enjoy majestic far-reaching views.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Coachella Valley 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9179665143"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Salton Sea Area Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Mostly ruined structure amongst the ruins of Bombay Beach along the Salton Sea in the Coachella Valley"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Bombay-Beach-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bombay Beach Ruins (Salton&nbsp;Sea)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ruggybear/5370025007/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ruggybear/" rel="noopener noreferrer" target="_blank">
                                    Matthew Dillon</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous painted hills of Salvation Mountain located near the Salton Sea in the Coachella Valley"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Salvation-Mountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Salvation Mountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wakingmagenta/6790174800/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wakingmagenta/" rel="noopener noreferrer" target="_blank">
                                    Brie Grometer</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Eccentric outdoor art exhibits of East Jesus near Salvation Mountain in the Coachella Valley"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-East-Jesus.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">East Jesus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pagedooley/34646137760/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pagedooley/" rel="noopener noreferrer" target="_blank">
                                    Kevin Dooley</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking red rock slot canyons around the Painted Canyon Trail near the Caochella Valley town of Mecca"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Painted-Canyon-Trail-Mecca.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Painted Canyon Trail (Mecca)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/banduki/15787660247/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/banduki/" rel="noopener noreferrer" target="_blank">
                                    Chetan Kolluri</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Salton Sea and Salvation Mountain Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="salton-sea"></a>
        <h2 class="left-heading destination-section-heading">Salton Sea &amp; Salvation&nbsp;Mountain</h2>
        <h3>Cholla Cactus Gardens</h3>
        <p>Much further southeast into the Coachella Valley is California's largest lake, the Salton Sea. The lake is mostly dead now, however you can explore the ruins of what was once a popular tourist destination along the lake at the <strong>Bombay Beach Ruins</strong>, a very interesting and unique attraction.</p>
        <h3>Salvation Mountain</h3>
        <p>Further southeast is the iconic <strong>Salvation Mountain</strong>, which consists of massive art painted hills and strange art installations, as well as colorful rooms built into the hill. Salvation Mountain is very unique and a great place for photos.</p>
        <h3>East Jesus</h3>
        <p>Nearby Salvation Mountain you can visit the <strong>East Jesus</strong> open-air museum, where junk has been turned into incredible works of eccentric art.</p>
    </section>


    <!-- Painted Canyon Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="painted-canyon-trail"></a>
        <h2 class="left-heading destination-section-heading">Painted Canyon Trail</h2>
        <p>One more attraction to consider around the Coachella Valley is the <strong>Painted Canyon Trail</strong>, which is located just north of the Salton Sea. This 3.8 mile (6.1 km) round-trip trail winds through a scenic and rugged desert slot canyon, with ropes and ladders placed along the trail for excitement. Parts of the canyon are quite colorful with the correct lighting, however most of it is sandstone colored.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Coachella Valley Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5560802574"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Coachella Valley &amp; Palm&nbsp;Springs Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/PLPgxFXgjkE2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/dzfPjd3h1J22">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic skull-shaped Skull Rock formation seen at golden hour in the desert of Joshua Tree National Park"
                        data-src="https://www.travelimager.com/images/california/California-Joshua-Tree-National-Park-Skull-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        Joshua Tree National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/joshuatreenp/12489691874/in/album-72157640900898473/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joshuatreenp/" rel="noopener noreferrer" target="_blank">
                            Joshua Tree National Park</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful view of the sun setting behind the Pacific Beach Pier over the ocean in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Pacific-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        San Diego
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/billmorrow/13767298914/in/photolist-mYz1jE-JTz3qf-d5kveL-5x3BqF-axPn2L-VgbR9R-6gVY26-97eXdv-axPmJU-axLvtM-5L84ff-3hf159-8m2BRb-W9ktxs-rcFBkn-W9juJY-retKn7-7sr17n-8kYA8B-VTZXgh-79a8v-hbMUHU-cpG5z5-6cA5Mp-WhYLu2-5MWCKa-Wr9kYf-VUts29-axLzyF-Wr6Co5-VfGW5Z-2Ye8c9-axLtQX-dqppnD-WtC8T1-amgKFM-WM7MHk-qz8FBz-WtBkiN-rw4Ku4-7fRptg-6Z5uw7-VSeXMw-oX6V7h-axPqQy-rgR6V-5x3CMP-fmKz5-5AJArD-6RZ4nV" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/billmorrow/" rel="noopener noreferrer" target="_blank">
                            Bill Morrow</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="View overlooking a stunning sandy beach and cove seen from Crescent Bay Point Park in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Crescent-Bay-Point-Park.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        Orange County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jerikoegel/522904943/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jerikoegel/" rel="noopener noreferrer" target="_blank">
                            Jeri Koegel</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset over the famous Griffith Observatory with the skyscrapers of Downtown Los Angeles in the background"
                        data-src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        Los Angeles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/igorelick-680927/" rel="noopener noreferrer" target="_blank">
                            igorelick</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Half-size replica of the Eiffel Tower at Paris Casino seen behind the Fountains of Bellagio at night along Las Vegas Strip"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Las-Vegas-Paris-Casino.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        Las Vegas, Nevada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/las-vegas-paris-night-tourism-864881/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    