<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Long desert road through Death Valley National Park, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Desert-Road-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Death Valley National Park, California and plan the perfect trip with our savable Death Valley Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="death_valley_california" />
    <meta name="usa_attraction_guides" content="death_valley_california" />
    <meta name="usa_destinations" content="death_valley_california" />
    <meta name="usa_destination_guides" content="death_valley_california" />
    <meta name="california_attraction_guides" content="death_valley" />
    <meta name="california_destinations" content="death_valley" />
    <meta name="california_destination_guides" content="death_valley" />
    <meta name="national_park_attraction_guides" content="death_valley" />
    <meta name="google_maps_list" content="death_valley" />
    <meta property="og:title" content="Death Valley, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Desert-Road.jpg">
    <meta name="twitter:title" content="Death Valley, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Desert-Road.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
    <title>Attractions Guide for Death Valley National Park, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Death Valley National Park, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#stovepipe-wells">Stovepipe Wells</a></div>
            <div><a href="#furnace-creek">Furnace Creek</a></div>
            <div><a href="#golden-canyon">Golden Canyon</a></div>
            <div><a href="#badwater">Badwater</a></div>
            <div><a href="#zabriskie-point">Zabriskie Point</a></div>
            <div><a href="#dantes-view">Dante's View</a></div>
            <div><a href="#scottys-castle">Scotty's Castle</a></div>
            <div><a href="#ubehebe-crater">Ubehebe Crater</a></div>
            <div><a href="#4x4-attractions">4x4 Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Death Valley National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Death Valley National Park is a vast beautiful landscape of mountains and desert filled with rare and unique geological formations. Be aware that the national park is one of the hottest places in the world and should not be ventured into during the summer months. Fall or Spring is the perfect time to visit the national park, when the climate is more moderate and bearable.</p>
        <p>The following attractions are listed in order along a recommended route through this national park. Note that it's also highly recommended to get a very early start on the day if you wish to experience much of what this majestic landscape has to offer.</p>
    </section>


    <!-- Stovepipe Wells, Furnace Creek, and Golden Canyon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Sahara-like sand dunes known as the Mesquite Flat Sand Dunes surrounded by desert mountains in Death Valley National Park" 
                        src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mesquite-Flat-Sand-Dunes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mesquite Flat Sand&nbsp;Dunes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29198100@N00/5554374255/in/photolist-9sPBXn-dYyLiF-dMWRxZ-4yvwWS-ePotWv-dYEtib-bYT2Eu-4yvwXs-hr94z7-hracJk-rw25m5-okzRQf-rcNju4-ePotKe-kDqHeW-dJnSL3-kDp6kT-rw1xxa-7Lz8Qs-dJhBq6-rtPXNd-XTzj1w-dJhr3z-hraaqm-kDqJ2N-dJhALg-VXsaho-9sPzGt-ePougT-fuFmAG-9sSzW9-rtPRGW-kDqFbh-reEKCg-9Qj4WT-reEF3e-dJo4gN-9sSB77-dYEv59-Djayqo-rw1uTn-rw1sNa-rw1Bu8-rw1Y7b-rexb4W-pVzrTk-dYEtPN-rw7zTe-ePzTGA-rw1XSy/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29198100@N00/" rel="noopener noreferrer" target="_blank">
                                    Gabriel Millos</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Streams and pant-life seen along the Salt Creek Interpretive Trail surrounded by desolate desert in Death Valley" 
                        src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Salt-Creek-Interpretive-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Salt Creek Interpretive&nbsp;Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/leonardsjacobs/24571922675/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/leonardsjacobs/" rel="noopener noreferrer" target="_blank">
                                    Leonard S Jacobs</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Dirt road through Mustard Canyon, named for the mustard yellow color of the canyon walls, in Death Valley"
                        src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mustard-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mustard Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mexican/1486690674/in/photolist-opf8Sz-5BzbJZ-bGvEnZ-3c8R5Z-ongWX7-o5ZAoU-3gnFkQ-GiXvbU/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mexican/" rel="noopener noreferrer" target="_blank">
                                    mexican 2000</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Historic train and equipment preserved at the abandoned Harmony Borax Works in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Harmony-Borax-Works.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Harmony Borax Works</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/randa/5388201458/in/photolist-FS5QGz-5BghbU-5Bgh2q-C8WiC7-CFgJaW-69tHcU-69tJGu-69pz9H-69pxzT-69tG5q-69pvZZ-69tGBs-4ALNpH-5PgKtz-ndRC-5PgKcx-g3TJ4-69pxcZ-aMM7Fi-4AR477-p8qWg3-5Pm2cN-7Rk2xw-sVzwz-9d8Wz9-69pxYg-69pwyk-69pyLr-g3TpX-87Swvd-aeM7yp-aePX1b-p8qWrU-aePVUd-GzNwCA-FNsYph-GFL1LR-GiXvbU-GiXv7A-GiXrRh-GzNwGJ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/randa/" rel="noopener noreferrer" target="_blank">
                                    Rick Cooper</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful and complex cliffs seen along Death Valley National Park's Golden Canyon Trail"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Golden-Canyon-Trail-Red-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Golden Canyon Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pauljill/22664540492/in/photolist-AwMGgw-Agoijo-eBcHTe-619eeP-zXDTW-H8eY9g-DVU3JC-iymJ1E-Hh1oSM-ZYuKBW-eBfUAs-4Cca3H-4Cc9MH-Hh1rPD-SciszB-24bge6w-H8eYGF-4CgscJ-4Ccbuv-fckbDY-4CgAAm-mdVeax-8zQj8t-Agozvb-3Xv4YS-5q9s6z-DVU4S9-3XqKic-4CcvHX-3XqLXc-4CcafZ-4CgtCS-ZYuKss-eBfYkb-4Ccbmz-26RZD75-4CcbGt-ZYuLmG-zXDVB-FUj7AA-9D6U6F-bvoL4-FUoBwJ-4CgCgC-619g6t-DVU1Qs-2TJdxn-fkZE5N-DVU4do-8zQis2" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pauljill/" rel="noopener noreferrer" target="_blank">
                                    Paul Asman &amp; Jill Lenoble</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Stovepipe Wells Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="stovepipe-wells"></a>
        <h2 class="left-heading destination-section-heading">Stovepipe Wells</h2>
        <h3>Mesquite Flat Sand Dunes</h3>
        <p>Begin your day in the Stovepipe Wells area of the park near the southwestern entrance. You can start your journey through Death Valley by visiting the expansive <strong>Mesquite Flat Sand Dunes</strong>, which you can wander amongst while enjoying views of the surrounding mountains. There are no set hiking trails in this giant sea of sand, however you'll get the best views over the area from atop the tallest sand dunes.</p>
        <h3>Salt Creek</h3>
        <p>Continue to the <strong>Salt Creek Interpretive Trail</strong>, a boardwalk which follows along a scenic creek seeming misplaced in the middle of the desert. Along the creek is one of the few places in Death Valley where you'll find lots of vegetation, and the creek is even home to a species of fish. The round-trip length of the boardwalk trail is approximately 0.9 miles (1.4 km).</p>
    </section>


    <!-- Furnace Creek Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="furnace-creek"></a>
        <h2 class="left-heading destination-section-heading">Furnace Creek</h2>
        <p>Next you might like to drive along <strong>Mustard Canyon</strong>, which is named for its yellowish hills. The short and smooth dirt road through the canyon is an alternate route to reach the next attraction, the <strong>Harmony Borax Works</strong>. The Borax Works features a short trail around the fascinating ruins of a 19th century borax plant as well as historic wagons.</p>
        <p>Just beyond the Harmony Borax Works is Furnace Creek, a small town which hosts accommodations, food, and the national park's Furnace Creek Visitor Center.</p>
    </section>


    <!-- Golden Canyon Hiking Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="golden-canyon"></a>
        <h2 class="left-heading destination-section-heading">Golden Canyon Hiking</h2>
        <p>Along the road towards Badwater Basin is one of Death Valley's most popular hikes, the <strong>Golden Canyon Trail</strong>, which is located between Furnace Creek and Artist's Palette. This extremely scenic hike ventures through a desolate desert canyon, concluding at the Red Cathedral formation. The round-trip length for this trail is about about 3 miles (4.8 km).</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>You might consider extending this hike into a 6.7 mile (10.8 km) round-trip trail, passing through beautiful rugged canyons before arriving at gorgeous Zabriskie Point. On the return to the Golden Canyon Trailhead be sure to take the Gower Gulch Path back from Zabriskie Point.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>
    


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Death Valley 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8376885212"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Badwater Area and Zabriskie Point Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Extremely rugged rocky terrain known as the Devil's Golf Course near Badwater Basin in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Devils-Golf-Course.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Golf Course</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mobili/33598285665/in/photolist-TbXZMk-8HkUwy-reDxhM-rcM7B8-99zYeV-bemwg-oX1VQ7-2a6eUX-7MsSeU-aykdCV-49rMVk-7nw5bP-bzjgfX-5Pm2Fj-ePosuk-FABXxv-nLzKJA-5Pm2KN-o3LGWV-9XZPoZ-6FBuXq-4tVMt3-iTecZj-69jXnr-G2XQT-bx1uLZ-pHA139-Dg4cNR-69jWp8-69p9ew-qzj1SP-6Fxrw4-bx1bhi-rw6oaB-rcMvAz-wj6k2E-7WwiYf-53jA9L-69pacU-CTSgNu-6pXXNb-6FBvvj-4tRK68-53fn5t-69jYhP-wA1dx3-99D6Xj-6Fxm8H-L7VXNy-L87owk" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                                    Mobilus in Mobile</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Geometric structures on the ground created by dried salt along Death Valley National Park's famous Badwater Basin"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Badwater-Basin.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Badwater Basin</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/npelletier_photography/14591330872/in/photolist-oeoojd-7RgL2B-7Rk2Rq-BBevbx-avVJLp-8HkUuy-5BzdfM-4GqyEs-aynRaU-8b2FdT-69d4my-7RgL5r-9uGgTC-bAhqyx-5YhDwf-9uDgJe-nLAfqa-e1XW3f-9uGhpC-eZnc3y-e1Ydgu-rPQZdS-idnyux-e1SyQX-kDoUQ4-3Nvqd-e1XVbd-kDoiZp-e1Sxxt-nLztW1-o5R6Kx-o3Xcau-e1SgRX-aynTR5-e1XVk1-pMfgd2-oC9mjS-e1YbT1-q4NFFy-5fubGf-pMkhQb-9KnewC-7JJXCy-8E9nnL-WBibSf-diPpz8-VkKi5Z-jskzkK-98XnpB-VBEzcr" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/npelletier_photography/" rel="noopener noreferrer" target="_blank">
                                    Nick Pelletier</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down a canyon at a Natural Bridge spanning above the trail in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Natural-Bridge-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Bridge Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mikebaird/8516326069" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mikebaird/" rel="noopener noreferrer" target="_blank">
                                    Mike Baird</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning pastel-colored hilly landscape of the Artist's Palette with unreal natural colors in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Artists-Palette.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Artist's Palette</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/exquisitur/2549412359/in/photolist-VzBr3V-26Cqn58-Jw3kgU-26qNxaB-fG1j3m-adjTHr-8nFmDF-8RMdM5-4Thptv-5YiPkb-TfK3nx-5YiZg1-VzBrdK-8nJtpf-eCjEis-jQ3fuF-7RgKWX-2y7cK-7RgKVg-VzBr7c-6ZuUSZ-8APRcy-qWtsyv-ZDByHu-BNyvz" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/exquisitur/" rel="noopener noreferrer" target="_blank">
                                    Jason Hickey</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view over the complex landscape of countless multi-colored desert ridges seen from Death Valley's Zabriskie Point"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Zabriskie-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zabriskie Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dennisredfield/2501766947/in/photolist-4P5d9T-o5YrMt-cxmnRb-UPw7Sd-7UEWEd-nZeMVz-9mY38L-f1V3uE-9RL5NV-7UEQZs-59jQX3-4wiksV-f1EQwk-4P9y9N-3Nvrd-7JwK1N-4P516B-96zGCL-4P9wiw-DTCKYt-8QnyWf-59jQUW-d3cGEL-22tN7Tt-7UBBzF-4yQciX-DGSkKg-f1EHuD-aZWWMt-4P54rP-49v97h-b2ZmgV-ax8Hbe-4FXrwf-7mySX7-c5ZUi3-b3anf4-qkVDJr-tzztUd-aZVA6F-b3ao94-7UEPhw-q4NGEs-4yUu9b-7DxHDR-aZVBGV-247Zeia-5YhzJ9-ctYy1f-Z3hYhv/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dennisredfield/" rel="noopener noreferrer" target="_blank">
                                    The Real Cloud2013</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Badwater Area Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="badwater"></a>
        <h2 class="left-heading destination-section-heading">Badwater Area</h2>
        <h3>Devil's Golfcourse</h3>
        <p>Before reaching Badwater Basin be sure to stop at the <strong>Devil's Golf Course</strong>, an incredibly rugged and strange landscape created by massive amounts of salt.</p>
        <h3>Badwater Basin</h3>
        <p>Further down the road is the <strong>Badwater Basin</strong>, the lowest elevation point in the United States, which is covered in stunning white salt formations. From the parking area you can walk along the 1.8 mile (2.9 km) round-trip pathway which descends to the lowest elevation point. Also be sure to look back at the marker on the cliffs above the parking lot, which indicates sea level and gives you a perspective of how low the elevation of the basin is.</p>
        <p>After enjoying the Badwater Basin you can turn around and head north towards more attractions.</p>
        <h3>Natural Bridge Trail</h3>
        <p>Just north of Badwater is the popular <strong>Natural Bridge Trail</strong>, which ventures through a rocky lifeless canyon before arriving at an impressive bridge formation which the trail passes under. This easy trail is approximately 1.3 miles (2.1 km) round-trip.
        <h3>Artist's Palette</h3>
        <p>Take the alternate route while heading back north from Badwater Basin along the extremely scenic Artists Drive. Along this road you can stop at the <strong>Artist's Palette</strong>, a stunning natural formation of vibrant colorful cliffs.</p>
    </section>


    <!-- Zabriskie Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="zabriskie-point"></a>
        <h2 class="left-heading destination-section-heading">Zabriskie Point</h2>
        <p>Continue up around to one of Death Valley's most gorgeous sights, <strong>Zabriskie Point</strong>, which provides incredible panoramic views over a vast and extremely rugged landscape of multi-colored hills and canyons.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Death Valley 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5967888885"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Dante's View, Scotty's Castle, Ubehebe Crater, and 4x4 Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the vast flat desert of Death Valley surrounded by tall barren mountains from Dante's View"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Dantes-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dante's View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/naparish/2426564750/in/photolist-4GqMah-9RP18W-96wD2Z-9AA9oq-UKXaVP-tvcsMq-96wDzk-eiUtfx-9Axecn-9AA9eh-9Axe2P-DjvbSn-kDoMVH-5YddRB-o3WAtK-9Axe6D-6itsyL-8922Ji-Cvw1fP-GKDXyb-F1PRHA-BFqGrn-CAvmvA-7UBxfi-C8ZLvZ-aynZsw-7pe7aB-CAuEi1-5Bgo5s-CCPk12-CvxwYR-7UBwkX-CfnAB1-7UBvsT-e9p9Xa-7UBsye-gSNfRe-9uUHdh-7Kz6VE-aqoFGy-CGuVhH-5YhCqw-e9p9Sv-9RL5R6-5YhfnS-fG1med-dpcDBc-fG1mP9-dpcEat-C8WfjJ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/naparish/" rel="noopener noreferrer" target="_blank">
                                    NAParish</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful historic Scotty's Castle structure in the middle of Death Valley as it is refurbished after being damaged"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Scottys-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Scotty's Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/79666107@N00/4344197898/in/photolist-7BT9FL-cmPS9U-qfomy-qfoxH-9ZjGm4-9Zo7mj-9ZjPcZ-9ZkqhZ-qfnvF-9Zjwxt-4qAJ2u-aKCaf-9AAc5b-bAWPZJ-4auo7t-qfoin-6mU9Y3-itHuqy-8i5zGk-4e1x4G-9Zod1W-9ZjLNF-dNWfih-9wXAJB-qfnQs-9wXzZe-58EMp-bWeLN-itHcyf-qfo9A-bAWNVS-qfnrJ-9iq9At-XqGLi-9Zk1F6-4qwMmR-itHNz6-qfo2h-9iqbVr-9Zoc8A-qfo5P-9ZoorY-GQJAp5-6mU719-4qwNcp-9ZjRB4-4Gr3Jq-9wXDMR-9Qj4PV-cmPSXG" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/79666107@N00/" rel="noopener noreferrer" target="_blank">
                                    Chris M Morris</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the grey, orange, and brown colored Ubehebe Crater in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Ubehebe-Crater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ubehebe Crater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/cwsteeds/46758977/in/photolist-58DPg-ypp5T-ypq16-yppr1-dz3i8p-ypo3s-yppNy-ypqEk-yppLt-ypmkV-ypowz-yppH6-yppG2-ypof2-yppEZ-9n7qUQ-aoh63p-ypnV4-ypnBE-yppdR-ypoZ5-aoh8AT-6gfceJ-yppPx-4Gn2se-58E4i-ypoRb-fN82o5-yppsr-aoh5DH-ypoe6-yppVK-ypm8f-ypmCh-yppfd-ypnz5-ypoCU-5Bg2jq-aoh3FM-ypmTW-dz8KNY-5YksMJ-4qwYn2-yhvyg-aoh6Sk-ypmNu-ypnRz-k2F6W-dz3gzn-ypq7y" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/cwsteeds/" rel="noopener noreferrer" target="_blank">
                                    Clinton Steeds</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sailing rocks seen along the extremely dry cracked flat desert landscape of the famous Racetrack Playa in Death Valley"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Racetrack-Playa-Sailing-Stones.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Racetrack Playa (4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/yenchao/9071122528/in/photolist-ePzSGh-5QisRz-ePzSNj-ePosPx-9Ak5Pt-ePzSEo-F8j5Xi-7TQ2tz-SjcpeB-788fA9-ePzSWJ-nZ7VJB-vNY3r-ePosJM-ePzSrf-ePzSXQ-7HTrd-9AkkCe-5QnJDW-ePzT2s-ePzSd1-899JH-7TTfqY-vPfEz-vPdPm-vNWJ2-8rpXG2-ePzSs5-vNWWF-5QipTt-vNWg5-vNKjX-vNV3J-GHJqy1-vNYSq-ePot5X-ePzSQs-vNXyB-nWoDcr-dSNXsz-vNVYf-vPh1R-8rpXHF-vPgxP-vP3k7-8rpXCV-vP7g2-vNVgd-vNZbG-bucrR5" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/yenchao/" rel="noopener noreferrer" target="_blank">
                                    Chao Yen</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful smooth sand of the vast Eureka Sand Dunes in a remote section of Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Eureka-Dunes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eureka Sand Dunes (4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gerrit_berlin/28372731469/in/photolist-KecEzk-Ew1iJv-a2PHCZ-236jWt7-G3g29j-248jn4u-G3fZXG-236jAWw-24bbKSx-e6qU6C-e6kiFg-236k1JG-Ew1gY6-qbDEQC-83bP3k-G3gdgj-Ew1esK-a2PHwM-qbLAKa-Ew1jwH-KecG9c-Ew1jfa-e6kj1z-9Lrm1p-qt9A7u-a2SyrJ-a2PGEK-8E6k3H-22NL9CR-G3fCbA-G3ggC9-22NL7Kn-G3ga47-G3fZHy-G3geHN-G3g1rN-22NLjt2-Ew1f82-236jZoq-24bbLfB-22NLgh2-KecvXR-83eZeY-G3fZdL-pwdRLu-9Lu9G3-7KaH64-a2SyWE-qqW6rU-236jW8C" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gerrit_berlin/" rel="noopener noreferrer" target="_blank">
                                    Gerrit Burow</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Dante's View Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="dantes-view"></a>
        <h2 class="left-heading destination-section-heading">Dante's View</h2>
        <p>After enjoying the many striking natural formations of the valley, you can drive up to <strong>Dante's View</strong>, which provides breathtaking sweeping views over Death Valley from high above.</p>
        <p>There are two different vantage points that make up Dante's View, each of which can be reached with a round-trip hike of 0.8 miles (1.3 km). Both views are highly recommended and offer slightly different scenery. Dante's View is also a great place to watch the sunset over the valley.</p>
    </section>


    <!-- Scotty's Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="scottys-castle"></a>
        <h2 class="left-heading destination-section-heading">Scotty's Castle</h2>
        <p>In the northern section of the park along Scotty's Castle Road is the historic <strong>Scotty's Castle</strong>, a giant 19th century mansion built in the middle of the desert. Unfortunately the castle has been closed for several year due to flash flood damage however it is set to re-open to visitors in 2020-2021. Scotty's Castle is located far to the north of Stovepipe Wells and the Mesquite Flat Sand Dunes.</p>
    </section>


    <!-- Ubehebe Crater Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ubehebe-crater"></a>
        <h2 class="left-heading destination-section-heading">Ubehebe Crater</h2>
        <p>Nearby Scotty's Castle is the striking <strong>Ubehebe Crater</strong>, a giant volcanic crater which you can walk along the rim of. The parking lot for the crater overlooks this volcano, which is believed to only be several thousand years old. Just south of the crater is the much smaller Little Hebe Crater, which you can also reach by trail. The Ubehebe Crater is approximately 1 hour northwest of Stovepipe Wells by car.</p>
    </section>


    <!-- 4x4 Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="4x4-attractions"></a>
        <h2 class="left-heading destination-section-heading">Racetrack Playa &amp; Eureka Sand&nbsp;Dunes (4x4&nbsp;Only)</h2>
        <p>If you have a high clearance four-wheel drive vehicle and plenty of time, consider experiencing the northern section of the national park, located northwest of Stovepipe Wells. Beyond the Ubehebe Crater and Scotty's Castle are much more remote attractions such as the Racetrack Playa and Eureka Sand Dunes, which are only accessible via rough dirt roads and are very isolated from the rest of the park.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Racetrack Playa</h3>
            <p>One of Death Valley's most famous attractions is the mystical <strong>Racetrack Playa</strong>, a vast dried lakebed famous for its Sailing Stones, where rocks seemingly drag across the desert floor leaving very long tracks behind them. It was only recently discovered that these rocks move along the cracked desert floor under certain conditions of wind and very thin floating ice panels in the winter.</p>
            <p>Within the playa is a large rocky island called the Grandstand, a surprising geological feature rising above the almost perfectly flat landscape.</p>
            <p>The Racetrack Playa is located near the Teakettle Junction and can be reached by off-road vehicle from the Ubehebe Crater in approximately 1 hour and 40 minutes (each way).</p>
            <h3>Eureka Sand Dunes</h3>
            <p>Approximately 1 hour and 45 minutes from the Ubehebe Crater in a different valley then the Racetrack Playa are the massive <strong>Eureka Sand Dunes</strong>, which rise nearly 680 feet (210 m) above the Eureka Valley. Stunningly, the Eureka Sand Dunes are among the tallest dune fields in North America.</p>
            <p>The mesmerizing Eureka Dunes are an excellent place to wander around and explore. Adjacent to these remote dunes is a campsite.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Death Valley Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1395161008"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Death Valley National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/97VhDRHsVN22">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/mrdtcsmJRTo">&rArr; All Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8VL6g5kd4eJ2">&rArr; 4x4 Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Half-size replica of the Eiffel Tower at Paris Casino seen behind the Fountains of Bellagio at night along Las Vegas Strip"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Las-Vegas-Paris-Casino.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        Las Vegas, Nevada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/las-vegas-paris-night-tourism-864881/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Hundreds of old abandoned wooden structures amongst the rolling hills of Bodie State Historic Park Ghost Town in Mono County"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        Bodie &amp; Mono&nbsp;County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        Tuolumne Meadows,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                            Jiashiang</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Path leading up to Moro Rock with stunning views of the Sierra Nevada Mountains, located in Sequoia National Park"
                        data-src="https://travonga.com/wp-content/uploads/2018/12/California-Sequoia-National-Park-Moro-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        Sequoia &amp; Kings&nbsp;Canyon National&nbsp;Parks
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/channone/16696308369/in/photolist-rroWMF-qLUQWS-rrgtbJ-rHQnnH-rHSnL4-qLSkHL-rHVNK6-rHK6zr-rFAaqs-rpvgrT-B6MTWs-Au24C7-B7ZkyV-AaXreA-viemQL-rHH1Ek-rpBgy4-rHVk4p-rHTWzD-rrs5Ei-Au26Pm-Au257J-rrn9Ss-rpvvqe-uCXUda-vAb9wp-vieiLw-rHQpDx-rHVr2B-rFChBY-rrssng-rHMBYj-rHMaDf-rHN1ea-rHSXQg-qLSQLq-rHMqwv-rrhFDW-rrirRL-rrhGbj-rFynES-rrgdhU-rHQHCH-qM3UTH-rHJeFu-rro59B-rrgaKG-rHPgXX-rHJ2aM-rHNLPg" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                            joevare</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    