<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Clear rocky waters of Sand Harbor at Incline Village, Nevada on Lake Tahoe, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Lake-Tahoe-Nevada-Incline-Village-Sand-Harbor-Shoreline-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions & hiking trails around Lake Tahoe, California / Nevada and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lake_tahoe_california" />
    <meta name="attraction_guides" content="lake_tahoe_nevada" />
    <meta name="usa_attraction_guides" content="lake_tahoe_california" />
    <meta name="usa_attraction_guides" content="lake_tahoe_nevada" />
    <meta name="usa_destinations" content="lake_tahoe_california" />
    <meta name="usa_destinations" content="lake_tahoe_nevada" />
    <meta name="usa_destination_guides" content="lake_tahoe_california" />
    <meta name="usa_destination_guides" content="lake_tahoe_nevada" />
    <meta name="california_attraction_guides" content="lake_tahoe" />
    <meta name="california_destinations" content="lake_tahoe" />
    <meta name="california_destination_guides" content="lake_tahoe" />
    <meta name="nevada_attraction_guides" content="lake_tahoe" />
    <meta name="nevada_destinations" content="lake_tahoe" />
    <meta name="nevada_destination_guides" content="lake_tahoe" />
    <meta name="google_maps_list" content="lake_tahoe" />
    <meta property="og:title" content="Lake Tahoe, California/Nevada Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Lake-Tahoe-Nevada-Incline-Village-Sand-Harbor-Shoreline.jpg">
    <meta name="twitter:title" content="Lake Tahoe, California/Nevada Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Lake-Tahoe-Nevada-Incline-Village-Sand-Harbor-Shoreline.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
    <title>Attractions Guide for Lake Tahoe, California / Nevada</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Lake Tahoe, California / Nevada<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#south-lake-tahoe">South Lake Tahoe</a></div>
            <div><a href="#emerald-bay">Emerald Bay</a></div>
            <div><a href="#emerald-bay-hikes">Emerald Bay Hikes</a></div>
            <div><a href="#crystal-bay">Crystal Bay</a></div>
            <div><a href="#tahoe-city">Tahoe City</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lake Tahoe Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Lake Tahoe is a magnificent alpine lake set amongst the vast forests of the Sierra Nevada Mountains. This massive lake sits along the border of California and Nevada, and the area around the lake offers many different types of activities year-round. In the summer there's great hiking opportunities, as well as beautiful beaches offering swimming and kayaking. In the winter the area offers countless ski resorts to experience.</p>
    </section>


    <!-- Huntington Beach and Newport Beach Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Streetside view of South Lake Tahoe's popular Shops at Heavenly Village outdoor shopping mall at night" 
                        src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Heavenly-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Shops at Heavenly&nbsp;Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:South_Lake_Tahoe_Skyline.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mark_Miller" rel="noopener noreferrer" target="_blank">
                                    Amadscientist</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning sunset view overlooking the towering casinos of Stateline, Nevada in front of Lake Tahoe and snow-covered mountains"
                        src="https://travonga.com/wp-content/uploads/2018/12/California-Lake-Tahoe-Stateline-Nevada-Casinos-Mountain-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stateline, Nevada</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/42642437@N08/14260990783" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/42642437@N08/" rel="noopener noreferrer" target="_blank">
                                    Reno Tahoe Territory</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking down the shoreline of beautiful Nevada Beach at Lake Tahoe" 
                        src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Nevada-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nevada Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wildlasvegas/5959531846/in/photolist-a5Cac5-pW8bVz-eeFDdR-7ipcZw-ZftT9a-4W3uxF-RCaFwH-73jTpH-Yeif9V-7ikhGP-jGbji3-EVKeN1-jG93Dx-oGCj4H-54isd4-8eaLEt-QSqLQQ-NLr4n-R5H71o-6thxtB-eeFEVz-aY5Zz-jG9VZX-EoETPB-3Tu47D-asijuE-94SB5U-3LQ8Sn-jG7jMu-eeFCKr-6Nk7A4-5mvhhg-zDBYr-eh1dGj-9AkkCe-du34dP-eeMpV5-fz7VqA-rQC4DL-8ebfK8-8xvxxx-8ee3td-8ebgma-gSfZJc-EPjq2A-jefwu-4kaSsZ-akjyav-dTvZye-XtNNEV" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wildlasvegas/" rel="noopener noreferrer" target="_blank">
                                    Andrew</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- South Lake Tahoe Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="south-lake-tahoe"></a>
        <h2 class="left-heading destination-section-heading">South Lake Tahoe</h2>
        <p>The lake's main city is South Lake Tahoe on the southeastern shore. Here you'll find <strong>The Shops at Heavenly Village</strong>, an outdoor mall which resembles a majestic mountain lodge.</p>
        <h3>Stateline, Nevada</h3>
        <p>Just a couple blocks away within walking distance of Heavenly Village is the Nevada border town of <strong>Stateline</strong>, which hosts four Las Vegas-like mega casinos.</p>
        <h3>Nevada Beach</h3>
        <p>A bit north of Stateline and South Lake Tahoe is <strong>Nevada Beach</strong>, where the pine forest quickly turns into a vibrant sandy beach, from which you can enjoy striking views of the surrounding mountains over the lake.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Tahoe 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7020405663"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Emerald Bay Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking boats and a small island in Lake Tahoe's Emerald Bay from high above"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Emerald-Bay-State-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Emerald Bay State&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant Eagle Falls flowing over slanted slopes into Lake Tahoe's Emerald Bay, obscured by many trees"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Eagle-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eagle Falls (Emerald&nbsp;Bay)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous historic Vikingsholm mansion located near the shoreline of Lake Tahoe's Emerald Bay"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Vikingsholm.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vikingsholm (Emerald&nbsp;Bay)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39908901@N06/20627805420/in/photolist-jeftg-jeffa-jefih-9eARb-9eACj-Wu5vKj-jAKPX-WkZmvF-jefqX-jeeWa-9eB1L-jefah-jAKRd-9eAQ9-jef8p-9eAzs-9eABt-9eASA-jAKNi-jefhk-jef6H-nYD1Kb-2htRwM-nYE69b-7WDCxY-xqNTTA-nGg3MV-dbCFZ9-WkZh7a-VgpLFs-D8V88T-o1x2n4-nYsvMv-6QSX6-jefmP-yRgAiG-7MqKrr-7MqKLp-9eARX-nJg3Zr-9eAMj-B3JTut-nYCUZy-Wu5xcN-WkZisg-KSyurU-nJge6u-nGgaiE-8tfgYk-3LRhSB" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39908901@N06/" rel="noopener noreferrer" target="_blank">
                                    m01229</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the shore of the sandy Baldwin Beach located along Lake Tahoe"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Baldwin-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Baldwin Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/206282248/in/photolist-jefvR-jefwu-26UpvdS-eKSJit-jefz3-jefyi-jefzH-26CnDZa-27ZQdXp" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the staircase-like Glen Alpine Falls near South Lake Tahoe"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Glen-Alpine-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glen Alpine Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39908901@N06/27676230235/in/photolist-JaDV2n-9eADz-jeePF-jeeRG-eZKL7r-bQMyUp-bBSRXd-bBSSys-bBSS6J-bBSS9W-bBSR4f-bQMyWv-bQMxWH-bBSSAh-bBSSeL-bBSRZu-bQMzsz-9eAER-bBSQVo-jeeNK-bQMxJK-bQMxCD-bBSRTQ-bQMwQk-bBSQrd" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39908901@N06/" rel="noopener noreferrer" target="_blank">
                                    m01229</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Trail view of beautiful little Eagle Lake hidden behind trees surrounded by mountains at Lake Tahoe's Emerald Bay State Park"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Eagle-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eagle Lake (Emerald&nbsp;Bay)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/125665181@N05/15107369549/in/photolist-p1ZdCM-8PjQYD-2r19A-8kJQip-dmKDzm-dmKDFw-dmKDbC-dmKD47-rGjFvJ-LSoRj9-3hH2kq-3hCCFF-Z5Nb9Y-Z4jmeJ-C2sqHQ-Z4jgXh-4HvLj4-UJHXBW-ZiGMzA-Z4cEsG-YgK6bQ-txvess-XAKdJP-XcTwXU-WxFxja-LEDe8f-Lya17U-7yQiv7-WJy7n6-7SyA8r-7SyAtR-s2BHgD-VD1g7Q-V4W79o-sbVCyB-MuNXRo-b8Ge18-aHaK74-ev6egJ-evbGkp-QvVvWH-rSNSef-twHfzm-rFMgqF-aHsfGk-7xrsh6-qeNvzm-5syFYL-bEvWkg-sejnAK" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/125665181@N05/" rel="noopener noreferrer" target="_blank">
                                    Adam Braziel</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side view of the rocky Cascade Falls seen from a hiking trail in lake Tahoe's Emerald Bay State Park"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Cascade-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cascade Falls (Emerald&nbsp;Bay)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view overlooking Emerald Bay and Lake Tahoe from high above from atop Maggie's Peak South at Emerald Bay State Park"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Maggies-Peak-South.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Maggie's Peak South (Emerald&nbsp;Bay)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/flickbergers/4842947764/in/photolist-8nXnDo-7MuRjo" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/flickbergers/" rel="noopener noreferrer" target="_blank">
                                    Tim Berger</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Emerald Bay State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="emerald-bay"></a>
        <h2 class="left-heading destination-section-heading">Emerald Bay State Park</h2>
        <p>To the west of South Lake Tahoe is one of the lake's most scenic areas, <strong>Emerald Bay State Park</strong> with its bright blue waters. Here you can take amazing views over the bay as well as of nearby <strong>Eagle Falls</strong> which flows into the lake.</p>
        <p>Nearby Eagle Falls you can hike down to the castle-like <strong>Vikingsholm</strong>, an impressive historic mansion which sits on the lakeshore and offers tours in the warmer seasons. This popular hike to Vikingsholm is about 1.6 miles round-trip. Adjacent to the mansion is a beach and kayak rental from which you can explore Emerald Bay and the nearby Fannette Island.</p>
        <p>Just east of Emerald Bay is another vibrant sandy beach with stunning clear waters, <strong>Baldwin Beach</strong>. To the south of Baldwin Beach you can drive to the beautiful <strong>Glen Alpine Falls</strong>, which is located just off the road.</p>
    </section>


    <!-- Emerald Bay Hikes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="emerald-bay-hikes"></a>
        <h2 class="left-heading destination-section-heading">Emerald Bay Hikes</h2>
        <h3>Eagle Lake &amp; Cascade Falls</h3>
        <p>Nearby Emerald Bay are several hikes through the serene rocky forest, including the 1.8 mile (2.9 km) round-trip trail up to picturesque <strong>Eagle Lake</strong>, which is surrounded by mountains. Close-by is the 1.4 mile (2.3 km) round-trip trail to the lovely <strong>Cascade Falls</strong>, which also hosts views over Cascade Lake below. The Cascade Falls Trail begins from the Bayview Trailhead.</p>
        <h3>Maggies Peak &amp; Granite Lake</h3>
        <p>From the same Bayview Trailhead is a more challenging and rewarding hike to consider, the Granite Lake Trail. This hike passes the serene Granite Lake before reaching the top of <strong>Maggies Peak South</strong>, from which you can enjoy incredible views over Emerald Bay and part of Lake Tahoe. This trail has about 1,750 feet (540 m) of elevation gain and a round-trip distance of 3.8 miles (6.1 km).</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Tahoe 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2061375419"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Crystal Bay and Tahoe City Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sand Harbor Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                                    Don Graham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Bonsai Rock rising high out of the water along the coast of Lake Tahoe with small Bonsai-like tree"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Bonsai-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bonsai Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/trevorbexon/16729461330/in/photolist-7SQnGk-VMmTeu-dJWL3n-CoHqbC-cLKtgb-D2E3yN-rujS1s-EoqS9N-rewvZF-JSRabe-dFSVxy-C1zup7-wYdXWq/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/trevorbexon/" rel="noopener noreferrer" target="_blank">
                                    Trevor Bexon</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over part of the gardens of the Thunderbird Lodge Preservation with Lake Tahoe in background"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Thunderbird-Lodge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thunderbird Lodge Preservation</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tommychheng/9616406793/in/photolist-7N64yR-fE3yBJ-eScLp-cKdN6Q-fE3BP1-5HLjSr-7VxgbT-wPYUXd-xJFQB7-KM7Bdm-fDLAH8-fE4c5W-fE3FQw-9H5HE2-fDLaZz-fDLH96-5HLjPc-fDL9ER-5F7rgQ-fE4fvs-fDLp6r-dp22Qt-fE47e5-UPF8zq-84MM8Z-xuqug5-wPZo11-xMD9qM-xuo5PQ-xLZXyz-xuonES-vSPAZW-6UNi9a-MvCSa" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tommychheng/" rel="noopener noreferrer" target="_blank">
                                    tommy chheng</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View behind pine trees overlooking large section of the vast Lake Tahoe seen from atop Crystal Bay's historic Fire Lookout"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Historic-Stateline-Fire-Lookout-Crystal-Bay.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Historic Stateline Fire&nbsp;Lookout</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/coolpixs-com/42445636021/in/photolist-27ELYNH-9NXV5t-KwMErU-6hDUKo-8tfsG6-fttPdx-27EKZ7a-69Uejx-emmnhQ-24UXpTb-KwVFRm-9P1KGN-KwUkBA-J1Hnst-cgebXU-24UXmiA-26i9FpV-973S49-27An4Nf-24UWnh1-69YqNC-dskvPg-dsibsa-yvXRmk-4RgbeB-KwMGwW-8tfxQK-7z2Z27-d3P6ub-8tftSc-8tiueA-J1EoxR-8tfwcv-973Rtu-bdrpFx-26i8nFa-ftHWoh-8tiy6m-26hYEJ6-8tfwPX-8tisxG-6tk8FE-26yPG89-26yMvEu-KwMg91-qTKF5d-27AgbW5-8tisWU-rQCwyh-8tftGg" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/coolpixs-com/" rel="noopener noreferrer" target="_blank">
                                    Knarl Stuart Photography</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Lake Tahoe behind some pine trees from the Eagle Rock Hiking Trail near Tahoe City"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Eagle-Rock-Hiking-Trail-Homewood.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eagle Rock Hiking&nbsp;Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/phyls_photos/6070390822/in/photolist-afqkGJ-cmPvof-6mZc3-6mYFv-6jGcC-cmPsDY-6PChHT-7f17nf-7f17tb-htoTD2-Mtpvey-6mZ8Z-DrzXw-Rs4bL1-71992a-edzJQ3-ph8HXS-8X7evF-8XafQ7-edzL2b-7HV7Bh-aDXhZw-9w25yn-sxcHM-8X7eGP-ucaBit-6YA6q1-8X7dwX-q7ynm-oidWUe-93CziQ-af6PdM-p24cj8-vhx1dU-2FMZHp-MKCtcN-B3JTut-98VyFJ-dP7XJZ-8X7dun-sxct2-edu6gc-cmPutm-rzkK6N-E9V5zD-fe1AB1-vZLz1-edzK2o-edu6qZ-Rs4fwY" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/phyls_photos/" rel="noopener noreferrer" target="_blank">
                                    Aileen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Crystal Bay Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="crystal-bay"></a>
        <h2 class="left-heading destination-section-heading">Crystal Bay</h2>
        <h3>Sand Harbor</h3>
        <p>On the northeastern side of Lake Tahoe is perhaps the lake's most gorgeous beach, <strong>Sand Harbor</strong>. This beach's waters are vivid shades of bright green and blue, with bold rounded rocks sticking out of the water, all surrounded by incredible scenery. Sand Harbor sits at the eastern edge of Lake Tahoe's Crystal Bay.</p>
        <h3>Bonsai Rock</h3>
        <p>Nearby Sand Harbor is the picturesque <strong>Bonsai Rock</strong>, an iconic rock just off the coast which has a small bonasi-like tree atop it. You can pull off the highway and take a very short hike down to the water to admire this amazing natural feature.</p>
        <h3>Thunderbird Lodge</h3>
        <p>Just south of the Bonsai Tree is the <strong>Thunderbird Lodge Preservation</strong>, a lovely historic cabin-like mansion located which hosts a scenic lakeside garden and excellent lake views. You can make reservations if you'd like to tour this historic structure.</p>
        <h3>Stateline Fire Lookout</h3>
        <p>At the center of the northern side of Lake Tahoe is one of the lake's greatest lookout points, the <strong>Historic Stateline Fire Lookout</strong> (also known as Crystal Bay Scenic Overlook), which offers gorgeous views overlooking the lake and Crystal Bay from high above. You can reach this viewpoint via a 1.5 mile (2.4 km) round-trip trail starting from the bottom of Lookout Road.</p>
    </section>


    <!-- Tahoe City, California Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="tahoe-city"></a>
        <h2 class="left-heading destination-section-heading">Tahoe City, California</h2>
        <p>Along the central western side of the lake south of Tahoe City is <strong>Eagle Rock</strong>, which provides breathtaking views over Lake Tahoe from a very different vantage point than those previously mentioned. You can reach the top of Eagle Rock with an easy 0.7 mile (1.1 km) round-trip hike.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lake Tahoe Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4654807210"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lake Tahoe Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/nVF9diXmT552">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hnSCSjTtQ2K2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Hundreds of old abandoned wooden structures amongst the rolling hills of Bodie State Historic Park Ghost Town in Mono County"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        Bodie &amp; Mono&nbsp;County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        Tuolumne Meadows,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                            Jiashiang</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    