<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Close-up view of Burney Falls along the Volcanic Legacy Scenic Byway Highway near Lassen Volcanic National Park, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Mt-Shasta-Area-McArthu-Burney-Falls-Park-Burney-Falls-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Lassen National Park, California + Mt. Shasta Waterfalls, & plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lassen_volcanic_national_park_california" />
    <meta name="attraction_guides" content="mt_shasta_waterfalls_california" />
    <meta name="usa_attraction_guides" content="lassen_volcanic_national_park_california" />
    <meta name="usa_attraction_guides" content="mt_shasta_waterfalls_california" />
    <meta name="usa_destinations" content="lassen_volcanic_national_park_california" />
    <meta name="usa_destinations" content="mt_shasta_waterfalls_california" />
    <meta name="usa_destination_guides" content="lassen_volcanic_national_park_california" />
    <meta name="usa_destination_guides" content="mt_shasta_waterfalls_california" />
    <meta name="california_attraction_guides" content="lassen_volcanic_national_park" />
    <meta name="california_attraction_guides" content="mt_shasta_waterfalls" />
    <meta name="california_destinations" content="lassen_volcanic_national_park" />
    <meta name="california_destinations" content="mt_shasta_waterfalls" />
    <meta name="california_destination_guides" content="lassen_volcanic_national_park" />
    <meta name="california_destination_guides" content="mt_shasta_waterfalls" />
    <meta name="national_park_attraction_guides" content="lassen_volcanic" />
    <meta name="google_maps_list" content="lassen_volcanic_national_park" />
    <meta name="google_maps_list" content="mt_shasta_waterfalls" />
    <meta property="og:title" content="Lassen National Park & Mt. Shasta Waterfalls, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Mt-Shasta-Area-McArthu-Burney-Falls-Park-Burney-Falls.jpg">
    <meta name="twitter:title" content="Lassen National Park & Mt. Shasta Waterfalls, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Mt-Shasta-Area-McArthu-Burney-Falls-Park-Burney-Falls.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
    <title>Attractions Guide for Lassen National Park & Mt. Shasta Waterfalls</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#mossbrae-falls">Mossbrae Falls</a></div>
            <div><a href="#mccloud-falls">McCloud Falls</a></div>
            <div><a href="#burney-falls">Burney Falls</a></div>
            <div><a href="#lassen-national-park-attractions">Lassen National Park</a></div>
            <div><a href="#lassen-national-park-painted-dunes">Painted Dunes</a></div>
            <div><a href="#chico-sierra-nevada-brewery">Sierra Nevada Brewery</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lassen National Park and Mt. Shasta Area Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>This area of Northern California is home to several amazing waterfalls as well as a beautiful volcano landscape, known as Lassen Volcanic National Park. While driving along this route you'll be able to take in excellent views of stunning Mt. Shasta, which towers high above the surrounding landscape.</p>
        <p>The following attractions are listed in order along a recommended route around this area. Be sure to get an extremely early start on the day or even spread this itinerary out over two days if you wish to see all of these attractions.</p>
    </section>


    <!-- Mossbrae Falls, McCloud Falls, and Burney Falls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning view of massive snow-covered Mount Shasta rising high above the Shasta Trinity National Forest" 
                        src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Mount-Shasta-North-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Shasta</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23660854@N07/3176212026/in/photolist-5QEVbj-V8QHQr-25u8kCd-aJJziK-8TsZgL-53mevh-g6ZuY-9t5N4X-2yhhM6-9C1B99-3dYLwx-oN4rQT-8comQj-6vyftN-6vtXav-6vGari-6vu4NP-8xHwt5-6vu5y6-8xHyGb-zx2K9-6vyf8U-79JoR3-79EAeK-79JufS-79JnKs-79Ey6K-79EAoT-79Euai-79EuCV-79Jv7h-79Ju5w-79Jo9S-79ExTp-79EtwT-79EzNR-79Joo3-7HeMnD-7HiDru-7HiDkj-7HeMkr-7HeHHi-9uPfLS-23rXfW3-6pGqjq-59Axso-KpFxRb-Jw5DLF-8isToS-wTaLuU" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23660854@N07/" rel="noopener noreferrer" target="_blank">
                                    Marshal Hedin/a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mossbrae Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                                    Steven Bratman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Small Lower McCloud Falls located near Mt. Shasta" 
                        src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Lower-McCloud-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower McCloud Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23155134@N06/14823466526/in/photolist-WchgH5-ozU9a5-fJaa36-8ogmqA-87XQEN-K2r6Sw-KpFCKE/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                                    Don Graham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the beautiful Middle McCloud Falls surrounded by forests near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Middle-McCloud-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Middle McCloud Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/16497759@N07/7873907888/in/photolist-YU9sYj-VRXYp5-cZMQuy-VRXYtd-KkJJ1T-87XQz7-Jw5Gj6-Jw5CS6-KkBYYn" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/16497759@N07/" rel="noopener noreferrer" target="_blank">
                                    london road</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down over the Upper McCloud Falls from high above in the Shasta Trinity National Forest"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Upper-McCloud-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper McCloud Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sandipb/19671198044/in/photolist-87XQg5-Jw5Fza-vYh2QY-vYqK1r" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sandipb/" rel="noopener noreferrer" target="_blank">
                                    Sandip Bhattacharya</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous towering waterfalls of Burney Falls flowing over a giant green cliff into a vibrant blue pool"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Burney-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Burney Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/montpelier/4065122622" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/montpelier/" rel="noopener noreferrer" target="_blank">
                                    Miles Sabin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Mossbrae Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mossbrae-falls"></a>
        <h2 class="left-heading destination-section-heading">Mossbrae Falls</h2>
        <p>Just south of the town of Mt. Shasta is the gorgeous yet elusive <strong>Mossbrae Falls</strong>, which many claim is among the most beautiful waterfalls in California. Unfortunately there is no established trail to reach the waterfalls yet, however there is still an easy route.</p>
        <p>Park along the road on Dunsmuir Avenue just south of Scarlett Way near the Cave Springs Resort (but definitely don't park at the resort). From the road you'll walk north, and then turn left onto Scarlett Way, which merges with Cave Avenue. Cave Avenue becomes a small bridge crossing the Sacramento River. Just after crossing the bridge you'll see the railroad tracks to your right (on the northern side), which you'll walk on the side of heading until you reach the falls.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>This flat walk is approximately 3 miles (4.8 km) round-trip. This popular walk is very safe and as long as you walk on the river side of the tracks (eastern side) and do not walk along or near the tracks, as trains do frequently pass by. Just before reaching the next railroad bridge you'll head down to the river where the hidden Mossbrae Falls are located.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- McCloud Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mccloud-falls"></a>
        <h2 class="left-heading destination-section-heading">McCloud Falls</h2>
        <p>After Mt. Shasta and Mossbrae Falls you can head east along the Volcanic Legacy Scenic Byway (Highway 39) towards more waterfalls.</p>
        <p>Along the McCloud River you can admire three waterfalls nearby each other, the <strong>Lower</strong>, <strong>Middle</strong>, and <strong>Upper McCloud Falls</strong>. All three of these beautiful waterfalls are quite different looking and can be admired with short walks from their parking lots.</p>
    </section>


    <!-- Burney Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="burney-falls"></a>
        <h2 class="left-heading destination-section-heading">Burney Falls</h2>
        <p>Continue along to another stunning waterfall, <strong>Burney Falls</strong>. This massive picturesque waterfall can be reached with a short but steep walk and is a must-see. There's also the possibility of hiking further beyond the falls, however the scenery beyond the waterfall is not nearly as impressive.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lassen Shasta 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9748293742"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Lassen Volcanic National Park and Chico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the staircase which descends down into the Subway Cave lava Tube near Lassen Volcanic National Park"
                        data-src="https://www.travelimager.com/images/california/California-Lassen-Volcanic-National-Park-Subway-Cave-Lava-Tubes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Subway Cave Lava Tubes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a Yellowstone-like geothermal valley along the Bumpass Hell Trail at Lassen Volcanic National Park"
                        data-src="https://www.travelimager.com/images/california/California-Lassen-Volcanic-National-Park-Bumpass-Hell-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bumpass Hell Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ddebold/7641336674/in/photolist-cDeRb3-cDeQgu-cxJwjj-dffRw8-dffUFX-cDeMeW-dffUvV-dffRMX-cDeLtb-dffTya-dffUHL-dffVT5-cZXzid-cDeLXU-5b7uMh-6YnAT-dffVuv-cZXMdh-cZXGPN-54B7h-cZXCGE-cZXPhj-cZXxhy-cZXuwu-os2pf2-ouVBWN-cZXG9U-cZXQHJ-yYrzLz-e2L5RR-cZXW3f-cZXDpj-cZXvWo-cZXBY5-oMo1NW-cZXNBy-cZXt55-cZXvdf-cDeQGq-2ArXF6-cZXxWE-cZXwBL-cZXSKd-cZXVjq-oMo6yh-ouUXUr-ouVjf5-cZXE3m-oKnSsU-osC3bt" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ddebold/" rel="noopener noreferrer" target="_blank">
                                    Don DeBold</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the geothermally-active Sulphur Works area surrounded by dense forests at Lassen Volcanic National Park"
                        data-src="https://www.travelimager.com/images/california/California-Lassen-Volcanic-National-Park-Sulphur-Works.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sulphur Works Area</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jsjgeology/23936361468/in/photolist-Ctb7ko-cDeBUC-ZuXwAG-CtahuU-wSZfMN-oKoprs-ZuZPW9-Ct8Qys-YxYSmi-CtaCwN-Zk9MBg-Zv1JjL-Zk9ugV-Ctactm-i2M5YR-ouVy5b-futDCK-ZwtxQq-fuHUum-e2RJYy-ouW9Va-ZaVpTs-Ggd4tD-ZbsCPy-9VrZ3Y-Zb5PeC-vYhPCE-LFZJ1i-ouW6Rz-wCGa21-ZfQ6XS-ZbqRyW-ZhhJpC-fuHTLo-i2N5UP-ZzcvQg-Zv1crU-aot8FT-aovSBG-CdYFDf-cZWP9m-vGCWx-LfAnmo-dffNn3-vGCj6-cMng8U-Zk9oPT-aot8tV-Zv1zVG-Ct8c5j" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jsjgeology/" rel="noopener noreferrer" target="_blank">
                                    James St. John</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a colorful landscape of countless rolling rounded Painted Dunes at Lassen Volcanic National Park"
                        data-src="https://www.travelimager.com/images/california/California-Lassen-Volcanic-National-Park-Cinder-Cone-Nature-Trail-Painted-Dunes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Painted Dunes</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/74847162@N00/5218368548/in/photolist-sBD2U5-sDKDnm-o7Frj-6rpDx7-8X8vaw-m51GTx-24ZWUCE-rH8X1V" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/66163349@N05/" rel="noopener noreferrer" target="_blank">
                                    andessurvivor</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the brown and desolate Cinder Cone Crater amongst the volcanic landscape of Lassen Volcanic National Park"
                        data-src="https://www.travelimager.com/images/california/California-Lassen-Volcanic-National-Park-Cinder-Cone-Nature-Trail-Cinder-Cone.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cinder Cone Crater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daveynin/42794116275/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daveynin/" rel="noopener noreferrer" target="_blank">
                                    David Fulmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Entrance to the popular Sierra Nevada Brewery located in Chico, Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Chico-Sierra-Nevada-Brewery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sierra Nevada Brewery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mlevisay/4673204212/in/photolist-dfduYB-dfdtMq-dfdnRv-5VGAL9-dfdxS1-dfdpJd-dfdud3-dfdwxG-dfdwQd-dfdycL-njQPVT-njywdr-njywr2-njyoZu-dfdrmF-dfdpap-ag2bkX-HkFPP-dfdyfF-dfdyqu-dfdAtg-dfdCwf-dfdzBt-dfdnjf-dfdBcX-dfdkB7-5oVTUW-dfdurw-dfdGHk-dfdzMj-dfdCf4-dfdnEd-HkBKo-dfdAZM-dfdkXY-dfdyDb-dfdF3s-dfdBrR-HtPYw-HkBJs-dfdAJS-dfdCuk-dfdmmh-dfdxmu-87XoNq-HkFNg-HkFHe-JZrVS1-xvSTJf-HkBLb" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mlevisay/" rel="noopener noreferrer" target="_blank">
                                    Mark Levisay</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Lassen Volcanic National Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lassen-national-park-attractions"></a>
        <h2 class="left-heading destination-section-heading">Lassen Volcanic National Park</h2>
        <p>After enjoying the many beautiful waterfalls around Mt. Shasta you can begin your extremely scenic drive through Lassen Volcanic National Park, which is only open during the warmer months due to its very high elevation.</p>
        <h3>Subway Cave Lava Tube</h3>
        <p>Before reaching the national park you might like to stop along the highway for a short but exciting underground walk via the <strong>Subway Cave Trail</strong>, which travels through a remarkable lava tube. Be sure to bring a flashlight and jacket for this 0.6 miles (1 km) round-trip walk.</p>
        <h3>Bumpass Hell Trail</h3>
        <p>The best trail the park has to offer is the 2.7 mile (4.3 km) round-trip <strong>Bumpass Hell Trail</strong>, which takes you on a journey amongst a stunning volcanically active landscape of geothermal pools, steaming holes in the ground, and colored hills. The sights among this amazing trail are reminiscent of Yellowstone National Park in Wyoming.</p>
        <h3>Sulphur Works</h3>
        <p>Continue your drive through the park, stopping at the various viewpoints along the road, before reaching the <strong>Sulphur Works</strong> volcanic area which you can take admire with a short walk. In this area you can also explore amongst the scenic meadows if you like, before leaving the park.</p>
    </section>


    <!-- Painted Dunes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lassen-national-park-painted-dunes"></a>
        <h2 class="left-heading destination-section-heading">Painted Dunes &amp; Cinder Cone Trail</h2>
        <p>Another remarkable trail within this national park is the 4.6 mile (7.4 km) round-trip Cinder Cone Nature Trail, which ventures amongst a breathtaking vivid landscape known as the <strong>Painted Dunes</strong> before scaling up the <strong>Cinder Cone</strong> volcanic butte. From atop the Cinder Cone you can enjoy stunning panoramic views over the area.</p>
        <p>This trail is located in the remote northeastern section of the park, which you can access to the east of the Subway Cave Lava Tubes. Note that this trail is quite a drive away from Highway 89 and the main part of the park. The trailhead is located adjacent to the Butte Lake Ranger Station.</p>
    </section>



    <!-- Sierra Nevada Brewery Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="chico-sierra-nevada-brewery"></a>
        <h2 class="left-heading destination-section-heading">Sierra Nevada Brewery</h2>
        <p>Much further south of Lassen Volcanic National Park you might consider visiting the famous <strong>Sierra Nevada Brewery</strong> located in Chico, California. This brewery features many rare and unreleased beers as well as brewery tours and merchandise, as well as a restaurants serving all of their beers. The restaurant and taproom are open quite late.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lassen Shasta Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5707323999"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lassen National Park &amp; Mt.&nbsp;Shasta&nbsp;Area Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/SHUQ67J7yV62">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Furfj9b4tL42">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        Lake Tahoe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                            Don Graham</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking the snowy mountains and edges of Crater Lake and Wizard Island in winter seen from atop Garfield Peak"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-Winter.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        Crater Lake National Park, Oregon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/crater-lake-oregon-national-park-277123/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pogo_mm-174776/" rel="noopener noreferrer" target="_blank">
                            pogo_mm</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
                        Upper Northern California Coast &amp; Redwoods
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    