<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Golden hour sunset view overlooking the Pacifc Ocean from Bodega Bay along the Lower Northern Coast, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Bodega-Bay-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along California's Lower Northern Coast + Mendocino, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lower_northern_coast_california" />
    <meta name="attraction_guides" content="mendocino_california" />
    <meta name="attraction_guides" content="fort_bragg_california" />
    <meta name="usa_attraction_guides" content="lower_northern_coast_california" />
    <meta name="usa_destinations" content="lower_northern_coast_california" />
    <meta name="usa_destination_guides" content="lower_northern_coast_california" />
    <meta name="california_attraction_guides" content="lower_northern_coast" />
    <meta name="california_attraction_guides" content="mendocino" />
    <meta name="california_attraction_guides" content="fort_bragg" />
    <meta name="california_destinations" content="lower_northern_coast" />
    <meta name="california_destinations" content="mendocino" />
    <meta name="california_destinations" content="fort_bragg" />
    <meta name="california_destination_guides" content="lower_northern_coast" />
    <meta name="california_destination_guides" content="mendocino" />
    <meta name="california_destination_guides" content="fort_bragg" />
    <meta name="google_maps_list" content="lower_northern_coast" />
    <meta name="google_maps_list" content="mendocino" />
    <meta name="google_maps_list" content="fort_bragg" />
    <meta property="og:title" content="Lower Northern Coast, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Bodega-Bay.jpg">
    <meta name="twitter:title" content="Lower Northern Coast, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Bodega-Bay.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-attractions-guide">
    <title>Attractions Guide for Lower Northern California Coast</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Lower Northern California Coast<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>


    <!-- Alternate Page Version Link -->
    <div class="alternate-version-flexbox">
        <div class="alternate-version-flex-current">
            <span>Northbound</span>
        </div>
        <div class="alternate-version-flex-link">
            <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-southbound-attractions-guide">Southbound</a>
        </div>
    </div>


    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#bodega-bay">Bodega Bay</a></div>
            <div><a href="#fort-ross">Fort Ross</a></div>
            <div><a href="#point-arena">Point Arena</a></div>
            <div><a href="#little-river-blowhole">Little River Blowhole</a></div>
            <div><a href="#mendocino">Mendocino</a></div>
            <div><a href="#fort-bragg">Fort Bragg</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lower Northern California Coast Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route up part of California's scenic northern coast along Highway 1. This route begins north of San Francisco near Point Reyes and concludes at the point where the highway turns inland, just before it passes through the grand Redwood Forests.</p>
    </section>


    <!-- Bodega Bay, Fort Ross, and Point Arena Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Sunset over the beautiful coastal cliffs of Bodega Bay along California's northern coast"
                        src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Bodega-Bay.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bodega Bay</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely historic wooden windmill at Russian Fort Ross State Historic Park along California's northern coast" 
                        src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Fort-Ross-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort Ross Windmill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/coolpixs-com/28911880261/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/coolpixs-com/" rel="noopener noreferrer" target="_blank">
                                    Knarl Stuart Photography</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Old wooden buildings and walls of the Russian Fort Ross State Historic Park along California's northern coast"
                        src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Fort-Ross-State-Historic-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort Ross State Historic Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forlitke/5033969865/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forlitke/" rel="noopener noreferrer" target="_blank">
                                    NS In the Bay Area</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the tiny and eccentric Sea Ranch Chapel along California's northern coast"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Sea-Ranch-Chapel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sea Ranch Chapel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/75866236@N04/9061670322/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/75866236@N04/" rel="noopener noreferrer" target="_blank">
                                    Julie Stiles</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful idyllic Point Arena Lighthouse seen atop the ocean cliffs from a distance along California's northern coast"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Point-Arena-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Point Arena Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Natural bridge formation above the sea amongst Point Arena's Sea Lion Rocks along California's northern coast"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Sea-Lion-Rocks.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sea Lion Rocks (Point&nbsp;Arena)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bodega Bay, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bodega-bay"></a>
        <h2 class="left-heading destination-section-heading">Bodega Bay, California</h2>
        <p>Begin your day by visiting the majestic <strong>Bodega Bay</strong>, your first scenic viewpoint along the Northern California coast north of Point Reyes. The views from near the parking area are beautiful, however you also have the option of walking along the 1.7 mile (2.7 km) round-trip loop of the Bodega Head Trail, which follows around the picturesque cliffs of Bodega Bay.</p>
    </section>


    <!-- Fort Ross State Historic Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fort-ross"></a>
        <h2 class="left-heading destination-section-heading">Fort Ross State Historic Park</h2>
        <p>Continue up the coast to the lovely <strong>Fort Ross Windmill</strong> and the fascinating <strong>Fort Ross State Historic Park</strong>, where you can explore a giant reconstructed wooden fortress, originally built by the Russians.</p>
        <p>This impressive fortress was built in the 19th century when Russia owned Alaska and much of the Pacific Northwest, as Russia tried to extend their land claims further south, before eventually selling the land to the United States. Just be aware that Fort Ross closes quite early in the day.</p>
    </section>


    <!-- Point Arena Lighthouse Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="point-arena"></a>
        <h2 class="left-heading destination-section-heading">Point Arena Lighthouse</h2>
        <p>Next you can visit the small but stunning <strong>Sea Ranch Chapel</strong>, a highly intricate and elegant structure.</p>
        <p>Further north is the charming <strong>Point Arena Lighthouse</strong>. This lighthouse sits on a small peninsula that offers striking panoramic over the rugged coast. Before reaching the lighthouse, be sure to stop along the various viewpoints along the rugged coastal cliffs, especially the viewpoint overlooking the <strong>Sea Lion Rocks</strong>.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lower Northern CA Coast NB 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7063803542"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Little River and Mendocino, California Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down over the seawater filling the Little River Blowhole along California's northern coast near Mendocino"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Little-River-Blowhole.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Little River Blowhole</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Yellow plants along the clifftops overlooking the vibrant blue-green waters of Mendocino's Portuguese Beach"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Portuguese-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Portuguese Beach (Mendocino)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cliffs of Point Mendocino above Portuguese Beach and vibrant colorful waters seen from the Point Mendocino Blowhole"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Point-Mendocino-Blowhole.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Point Mendocino Blowhole (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of stunning Sea Arch at Mendocino Headlands behind the waves on a stormy day in Mendocino, California"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Mendocino-Headlands-Sea-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mendocino Headlands Sea&nbsp;Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/donotlick/6788035722/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/donotlick/" rel="noopener noreferrer" target="_blank">
                                    Jennifer Morrow</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Arched Russian Gulch Bridge seen behind a tiny island and vibrant blue-green waters of Mendocino's coastline"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Russian-Gulch-Bridge-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Russian Gulch Bridge Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small idyllic white and red lighthouse of Point Cabrillo Light Station near Mendocino along California's northern coast" 
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Mendocino-Point-Cabrillo-Light-Station.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Point Cabrillo Light Station</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Point_Cabrillo_Lighthouse,_on_an_early_morning_in_February.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.wikidata.org/wiki/Q57175365" rel="noopener noreferrer" target="_blank">
                                    Frank Schulenburg</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Little River Blowhole Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="little-river-blowhole"></a>
        <h2 class="left-heading destination-section-heading">Little River Blowhole</h2>
        <p>Continue towards Mendocino, stopping in the town of Little River to see a mostly unknown sight, the beautiful <strong>Little River Blowhole</strong>. The blowhole itself is actually huge and quite mesmerizing, hidden within a small forest.</p>
        <p>To reach the blowhole you'll need to park along the western side of Highway 1 next to the entrance of the large graveyard, just south of Little River. Simply walk straight through the graveyard gate and straight back into the forest, where you'll very quickly reach this striking natural feature.</p>
    </section>


    <!-- Mendocino, California Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="mendocino"></a>
        <h2 class="left-heading destination-section-heading">Mendocino, California</h2>
        <p>Just north of Little River is the lovely town of Mendocino, where you can explore the absolutely gorgeous Mendocino Headlands State Park. You can park at the end of the city's Main Street and take a short walk over to the picturesque <strong>Portuguese Beach</strong>. Continue walking to the nearby <strong>Point Mendocino Blowhole</strong>, which offers amazing views over the vibrant light blue waters of Mendocino Bay.</p>
        <p>From the Point Mendocino Blowhole you can either walk along the headland trails (about 3.1 miles/5 km round-trip), or drive and park at the various points of interest along the headlands, such as the <strong>Mendocino Headlands Sea Arch</strong>.</p>
        <h3>Russian Gulch Bridge</h3>
        <p>Just north of Mendocino is the stunning <strong>Russian Gulch Bridge</strong>. The best viewpoint overlooking this bridge is from the nearby Russian Gulch Bridge Viewpoint, located just west of the bridge.</p>
        <h3>Point Cabrillo Lighthouse</h3>
        <p>Further north of Mendocino you might like to stop at the <strong>Point Cabrillo Light Station</strong>, a quaint old lighthouse. From the parking area, it's a scenic 1.4 mile (2.3 km) round-trip walk to reach the lighthouse, with the possibility of further exploring along the cliffs.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lower Northern CA Coast NB 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5142834324"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Fort Bragg, California Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful pink flowers along the rocky coast of the Mendocino Coast Botanical Gardens along California's northern coast"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Fort-Bragg-Mendocino-Coast-Botanical-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mendocino Coast Botanical&nbsp;Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wm_archiv/7333657546/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wm_archiv/" rel="noopener noreferrer" target="_blank">
                                    Allie_Caulfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Countless tiny rounded pieces of glass of many colors along the Glass Beach of Fort Bragg along California's northern coast"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Glass-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glass Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Long wooden Pudding Creek Trestle Bridge in Fort Bragg along California's northern coast"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Pudding-Creek-Trestle-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pudding Creek Trestle&nbsp;Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour view overlooking the Ten Mile River Bridge near the MacKerricher Dune World Trailhead in Fort Bragg"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-MacKerricher-Beach-Dune-World-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ten Mile River Bridge Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Fort Bragg, California Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="fort-bragg"></a>
        <h2 class="left-heading destination-section-heading">Fort Bragg, California</h2>
        <h3>Mendocino Coast Botanical Gardens</h3>
        <p>Just south of Fort Bragg is the popular <strong>Mendocino Coast Botanical Gardens</strong>, which hosts miles of trails to explore amongst a vast seaside garden atop the cliffs.</p>
        <h3>Glass Beach</h3>
        <p>Continue up to the beautiful <strong>Glass Beach</strong> of Fort Bragg, which consists of countless tiny dull pieces of multi-colored glass which is completely safe to walk on. The pebble-like glass is so tiny that you may need to look very close to see that the beach is not made of simple pebbles or rocks.</p>
        <p>You can walk or drive up just north of the Glass Beach to view the impressive wooden <strong>Pudding Creek Trestle Bridge</strong> if you like, which is quite photogenic.</p>
        <h3>MacKerricher Beach Dune World</h3>
        <p>Afterwards stop along at the MacKerricher Beach Dune World trailhead to enjoy incredible views over the <strong>Ten Mile River Bridge</strong>, which spans this scenic river just before it reaches the ocean. If you'd like you might explore the dunes and the beach, you might consdier hiking the 4.6 miles (7.4 km) round-trip trail amongst the dunes.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lower Northern CA Coast NB Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2028643877"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lower Northern California Coast Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/GPr3vcazccL2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/wMURMu5m6AQ2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
                        Upper Northern California Coast &amp; Redwoods
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Looking down over the steep walkway leading to the beautiful Point Reyes Lighthouse set amongst the Pacific Ocean"
                        data-src="https://www.travelimager.com/images/california/California-Point-Reyes-National-Seashore-Point-Reyes-Lighthouse.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide-by-train">
                        Point Reyes &amp; Mt.&nbsp;Tamalpais
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jdlasica/4341873994/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jdlasica/" rel="noopener noreferrer" target="_blank">
                            JD Lasica</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Massive rollercoaster along the Santa Cruz Boardwalk theme park on the beach in Santa Cruz along California's Central Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Santa-Cruz-Santa-Cruz-Beach-Boardwalk-Rollercoaster.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-attractions-guide">
                        Upper Central California Coast &amp; Santa&nbsp;Cruz
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/a_little_brighter/14176319308/in/photolist-nAHkQq-7rQ689-2TXLXy-8xr45r-5gYyM1-5pon5N-nRtDWQ-fsKtQ5-mSwYtA-dvEcW2-fuxHHy-9BRQt3-q1wn8s-8qHYPm-nQPCa8-8Hip3U-q1wnAw-rvspq-6zUmW4-actSEY-Mqdr-htrKpF-nQPpMc-29K3j5-sCLGdj-5Yom5V-fsv8wg-nwxixH-nQPhAD-amRuoY-oxU64E-6K2PGq-nwx4Nj-fT4f3S-nwxxeR-TAoBAC-dz3Kw6-ot2SnU-8fevWQ-a6FuRy-aorLTB-2nrzor-nwwD7A-gGCA5V-qit1gp-6K2FBS-nLYTeq-nNRVDJ-5TLHTZ-nwx8Ww/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/a_little_brighter/" rel="noopener noreferrer" target="_blank">
                            Harold Litwiler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    