<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Mc Way Falls Waterfall and Cove, Julia Pfieffer Burns State Park, Big Sur, Central Coast, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Julia-Pfeiffer-Burns-State-Park-McWay-Falls-and-Cove-Overlook-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along California's Lower Central Coast + Big Sur, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lower_central_coast_california" />
    <meta name="attraction_guides" content="big_sur_california" />
    <meta name="usa_attraction_guides" content="lower_central_coast_california" />
    <meta name="usa_attraction_guides" content="big_sur_california" />
    <meta name="usa_destinations" content="lower_central_coast_california" />
    <meta name="usa_destinations" content="big_sur_california" />
    <meta name="usa_destination_guides" content="lower_central_coast_california" />
    <meta name="usa_destination_guides" content="big_sur_california" />
    <meta name="california_attraction_guides" content="lower_central_coast" />
    <meta name="california_attraction_guides" content="big_sur" />
    <meta name="california_destinations" content="lower_central_coast" />
    <meta name="california_destinations" content="big_sur" />
    <meta name="california_destination_guides" content="lower_central_coast" />
    <meta name="california_destination_guides" content="big_sur" />
    <meta name="google_maps_list" content="lower_central_california_coast" />
    <meta name="google_maps_list" content="big_sur" />
    <meta property="og:title" content="Lower Central Coast & Big Sur, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Julia-Pfeiffer-Burns-State-Park-McWay-Falls-and-Cove-Overlook.jpg">
    <meta name="twitter:title" content="Lower Central Coast & Big Sur, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Julia-Pfeiffer-Burns-State-Park-McWay-Falls-and-Cove-Overlook.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
    <title>Attractions Guide for Lower Central California Coast & Big Sur</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Lower Central California Coast &amp; Big&nbsp;Sur<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>


    <!-- Alternate Page Version Link -->
    <div class="alternate-version-flexbox">
        <div class="alternate-version-flex-current">
            <span>Northbound</span>
        </div>
        <div class="alternate-version-flex-link">
            <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-southbound-attractions-guide">Southbound</a>
        </div>
    </div>


    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#solvang">Solvang</a></div>
            <div><a href="#san-luis-obispo">San Luis Obispo</a></div>
            <div><a href="#morro-bay">Morro Bay</a></div>
            <div><a href="#hearst-castle">Hearst Castle</a></div>
            <div><a href="#big-sur">Big Sur</a></div>
            <div><a href="#garrapata-state-park">Garrapata</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lower Central Coast, California Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The stretch of road along the Pacific Coast Highway (Highway 1) of Central California is considered to be one of the most scenic driving routes in the world. The following attractions are listed in order along a recommended route up the coast beginning in Los Angeles or Santa Barbara and ending near Big Sur.</p>
    </section>


    <!-- Solvang, San Luis Obispo, Morro Bay, and Hearst Castle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Lovely windmill and half-timbered Dutch inspired buildings of Downtown Solvang, California near Santa Barbara"
                        src="https://www.travelimager.com/images/california/California-Central-Coast-Solvang-Downtown-Solvang-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Solvang</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/86755183@N04/8183666164/in/photolist-dtaqQu-pCHbno-tovmw-82azmu-ncrvi5-4hY7Li-4FFmsv-Hetg-sAP8Wg-fAiipQ-djGbUJ-k4n4Tn-8PyL4c-fiDx1R-awGcgL-9X59uR-o8qzp2-5DGedm-touRh-icnPxg-awGfuN-4ApR1Q-SxeUWo-awDwQz-329Ez5-zXJed-3ChJFn-nBWszU-apJ2Lc-97BqE6-Jup-7kvxbg-qp33BS-uAQwM-9sCtdA-awXxPD-k4oKAY-5DYbS5-6WeWAE-28P2ij-SDaSu-651qXc-aHnyHD-8zgooU-uqJVz-uqHmc-6tKo7D-3bsu5f-awDxjT-7Y857x" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/myhsu/" rel="noopener noreferrer" target="_blank">
                                    Ming-yen Hsu</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Extravagant and strikingly ornate interior decor of the Madonna Inn Dining Room in San Luis Obispo, California" 
                        src="https://www.travelimager.com/images/california/California-Central-Coast-San-Luis-Obispo-Madonna-Inn-Dining-Room.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Madonna Inn</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ruggybear/6244277090/in/photolist-9AAdg9-9AAddQ-avJUgK-avMyjo-avMy2Q-avMxqh-9AAdb7-9AAd9m-avJUfx-9AkFyE-avMyu7-9AhJAZ-78VxuP-ag4NME-9AkFBQ-avJTRc-9AkFuA-aKpEdM-aKpswr-aKpsTi-aKpB8a-avJSkt-9ACd9p-9ACd8T-eFJ2hG-9AAdbA-9AhJBH-9AkFwo-9ArKqx-9Axi1r-fR1UvW-fR1Kbw-osN4q5-9AF8rW-aKpAVt-9Axi2v-9AAdeW-9AkFy5-fNVfWG-9ArKpB-fNVhG3-avJSqX-aKpBke-aKpsFn-aKpAY6-aKpt86-aKpsF6-aKpAZT-aKpB7k-aKpBdR/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ruggybear/" rel="noopener noreferrer" target="_blank">
                                    Matthew Dillon</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Sunset colors behind the massive coastal Morro Rock of Morro Bay, California along California's Central Coast"
                        src="https://www.travelimager.com/images/california/California-Central-Coast-Morro-Bay-Morro-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Morro Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/86755183@N04/8183666164/in/photolist-dtaqQu-pCHbno-tovmw-82azmu-ncrvi5-4hY7Li-4FFmsv-Hetg-sAP8Wg-fAiipQ-djGbUJ-k4n4Tn-8PyL4c-fiDx1R-awGcgL-9X59uR-o8qzp2-5DGedm-touRh-icnPxg-awGfuN-4ApR1Q-SxeUWo-awDwQz-329Ez5-zXJed-3ChJFn-nBWszU-apJ2Lc-97BqE6-Jup-7kvxbg-qp33BS-uAQwM-9sCtdA-awXxPD-k4oKAY-5DYbS5-6WeWAE-28P2ij-SDaSu-651qXc-aHnyHD-8zgooU-uqJVz-uqHmc-6tKo7D-3bsu5f-awDxjT-7Y857x" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/86755183@N04/" rel="noopener noreferrer" target="_blank">
                                    Fred Moore</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant Spanish style Casa Grande building of the famous Hearst Castle in San Simeon along California's central coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-San-Simeon-Hearst-Castle-Casa-Grande-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hearst Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/8235800835/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/8235800835/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Neptune Pool surrounded by mini ancient Roman temples, columns, and statues at Hearst Castle in San Simeon, California"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-San-Simeon-Hearst-Castle-Neptune-Pool.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neptune Pool (Hearst&nbsp;Castle)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/seat850/3171892949/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/seat850/3171892949/" rel="noopener noreferrer" target="_blank">
                                    Craig Howell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a portion of the beautiful Central California Coast from high atop the cliffs at Ragged Point near San Simeon"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-San-Simeon-Ragged-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ragged Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/russellstreet/33213204393/in/photolist-SAWmx4-gKeV7-b3cV9-4qaGMV-b3cVi-e4eTvC-4W2FNJ-q2gW-aJHDcT-4ss8aW-7iw8Ls-7iso2R-7iseLr-fjQKFk-4so5ez-8DdbDi-7iwevJ-ebYost-4Amasa-A83MLB-TDgsBD-9SGZWH-fk5ujf-7isxHx-7isxRt-9SKShs-ebYoFe-bvDmCa-7isiJB-7iwuVQ-4so4sa-7iwaeW-7jmbQG-7isoRg-7isxzg-7iszoc-T72ppj-7iwgyQ-7iweLN-7iwmwm-KqZKed-JVNEa4-4so53p-9SKSiG-7isqKn-4ss6oy-ahBM6k-7iwfSq-7isx2F-7iwfud" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                                    russellstreet</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Solvang, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="solvang"></a>
        <h2 class="left-heading destination-section-heading">Solvang, California</h2>
        <p>Start your day by visiting the lovely Danish town of <strong>Solvang</strong>, which is well known for its traditional Danish style half-timbered houses and windmills. This town was originally settled by Danish pioneers in the 19th century and still retains some Danish culture, especially with its cuisine.</p>
        <h3>Santa Barbara, California</h3>
        <p>Nearby Solvang you might consider a detour to visit the popular coastal city of Santa Barbara. This city hosts an old Spanish mission from the 1820s, the Mission Santa Barbara, as well as the El Presidio de Santa Barbara State Historic Park, which was built in the 1780s ando hosts a museum. Downtown Santa Barbara is centered around State Street, a great place to eat or enjoy the nightlife. There's also lots of great camping sites around Santa Barbara.</p>
    </section>


    <!-- San Luis Obispo, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="san-luis-obispo"></a>
        <h2 class="left-heading destination-section-heading">San Luis Obispo, California</h2>
        <p>If you haven't eaten yet you might stop next at <strong>the Madonna Inn</strong>, a very strange and intricately decorated hotel and restaurant which is incredibly popular for its incredible eccentric design. This restaurant is located just off the highway in San Luis Obispo.</p>
        <p>Downtown San Luis Obispo features some great restaurants, art galleries, and shopping, as well as a thriving nightlife scene.</p>
    </section>


    <!-- Morro Bay, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="morro-bay"></a>
        <h2 class="left-heading destination-section-heading">Morro Bay, California</h2>
        <p>Next you can stop in the coastal town of Morro Bay to see the massive <strong>Morro Rock</strong>, which sits on the end of a peninsula at the entrance to Morro Bay, towering over 580 feet (175 m) above the coast.</p>
    </section>


    <!-- Hearst Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hearst-castle"></a>
        <h2 class="left-heading destination-section-heading">Hearst Castle</h2>
        <p>Afterwards you might like to visit the famous <strong>Hearst Castle</strong> in San Simeon. This palatial 20th century mansion is known for its many elaborate lavish themed rooms, as well as its grand Romanesque-style <strong>Neptune Pool</strong>.</p>
        <p>Be aware that tours of the Hearst Castle are very expensive, and each tour only shows a portion of the estate. Additionally, visiting the castle can be very time consuming if tours are not pre-booked, so if you plan to explore this castle you'll need plenty of time.</p>
        <p>Continue to <strong>Ragged Point</strong>, a popular stop along the highway which hosts excellent coastal views from atop the cliffs.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lower Central CA Coast NB 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9161970381"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Big Sur and Garrapata State Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Deep light blue waters and waves crashing at Jade Cove near Big Sur along the Central California Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Jade-Cove.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jade Cove</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23313207@N00/4542272174/in/photolist-7Vokws-7Vokgu-MAS68X-KBEFuo-KJ85J5-a11Mme-6BMS2-6BMQz-6BMPA-6BMML-6BMTq-8Y1NYA-fdAYcG-9gnSiK-4bUUtU-fNCwVv-8HvGKY-7XZi7n-aA969G-6sWACx-8Hw6dS-5VeM3A-5VaoRa-7A8g8d-41C63c-aSc32R-dkRUtx-fNCyhk-fNV9eq-62z4rW-a6rw4w-31prxW-fNV8vG-4bbjV6-7Vk5K6-8BAbfk-aHYRv4-4tc591-GW91L-7Vk76x-FiFfw-7CMoy-9sFEh8-KLXRyX-so46uo-KJ871d-KLXNKR-Bsh2aM-9Gazpn-rEmx5" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23313207@N00/" rel="noopener noreferrer" target="_blank">
                                    Andrew K. Smith</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous viewpoint along the California Central Coast of the mountains meeting the ocean seen from Big Creek Cove Vista Point"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Big-Creek-Cove-Vista-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Big Creek Cove Vista&nbsp;Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23313207@N00/4542272174/in/photolist-7Vokws-7Vokgu-MAS68X-KBEFuo-KJ85J5-a11Mme-6BMS2-6BMQz-6BMPA-6BMML-6BMTq-8Y1NYA-fdAYcG-9gnSiK-4bUUtU-fNCwVv-8HvGKY-7XZi7n-aA969G-6sWACx-8Hw6dS-5VeM3A-5VaoRa-7A8g8d-41C63c-aSc32R-dkRUtx-fNCyhk-fNV9eq-62z4rW-a6rw4w-31prxW-fNV8vG-4bbjV6-7Vk5K6-8BAbfk-aHYRv4-4tc591-GW91L-7Vk76x-FiFfw-7CMoy-9sFEh8-KLXRyX-so46uo-KJ871d-KLXNKR-Bsh2aM-9Gazpn-rEmx5" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dwhartwig/" rel="noopener noreferrer" target="_blank">
                                    Daniel Hartwig</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Mcway Falls, an iconic Central California Coast attraction featuring a waterfall flowing into the ocean cove in Big Sur"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Julia-Pfeiffer-Burns-State-Park-McWay-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">McWay Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/naturesdawn/4744241983/in/photolist-8eetRz-ehTknZ-fLrw4D-9EgBgp-e87chY-b789p2-eGuatQ-i1jTk9-9myAur-9ttw8d-9tqz4Z-6t1RRy-9tqzbp-9ttqeh-ePrqVi-9tqvRF-9tqtPp-9tqwue-JhFbuq-9ttwhj-FP5T5q-9Ejw8C-dMF3aG-cC68Zy-5RzHWP-9jQmEn-6t1V51-9XAdLJ-6o8Mkz-eGo33p-b7G1J8-4Z37wb-bRdZJ4-7sQD6S-SAWKQX-yep5sm-7sQDys-4Z39eW-a8qKUv-6tooDj-SyeBBN-9Xxm12-4gNTVa-4gSXM7-bb3hae-eGo3F8-cu94b9-b788iR-9XxkEH-i1jSfy" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/naturesdawn/" rel="noopener noreferrer" target="_blank">
                                    Dawn Ellner</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sun setting over the ocean directly above the Pfeiffer Beach Sea Arch just off the coast of Pfeiffer Beach in Big Sur"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Big-Sur-Pfeiffer-Beach-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pfeiffer Beach Sea&nbsp;Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/visualvalhalla/38975528591/in/photolist-22o8LLg-cdrf55-dohQQ1-hRb7xH-i1jTk9-bNvUkn-eGo3F8-9EgBhp-bW4NgV-D2nHH3-bUvrbD-9tqwue-pY88uV-dQBpGw-bNvPtv-JMgzW4-Ebd21-bW4YMa-eGo35V-ANvJh-9jFpQu-nnuN6-4Vxs8S-eTu6Ti-qdBFGe-eGuc5L-72LkPo-5G422b-jpFKjQ-84mDTf-7Yb2jo-3bfteD-84iFui-7D8JUt-88iNAG-22pXZpy-dPPgQt-gVAyUf-92UmxW-9RXehr-bW525X-9EV972-cC59iU-8DxTmf-4cPq5Y-bW4YGn-9C7ZxF-9RyzhX-eGo4d4-cC5gi9" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/visualvalhalla/" rel="noopener noreferrer" target="_blank">
                                    Andrew</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the famous Bixby Creek Bridge, part of the Highway 101 Pacific Coast Highway along the Central California Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Bixby-Creek-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bixby Creek Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/russellstreet/34021083656/in/photolist-TQjWTS-d13eS9-d2nDzW-9XAfef-yd7qk3-TQJBWp-bDNmkt-6kNDfK-q2yTWE-pMeRfn-pMePGc-yVMjbG-5fDknB-bodW6Q-6nX7c1-MfSYgo-25sn5Xy-4FTgug-sL8cw4-NFLV1a-vE1UV7-unUvAc-bDNmJD-9XAfa1-25hzKfa-Aaxg3Z-zcxXkw-zRZys1-AaxhpB-A8q8GU-zRYgaj-zRYn2u-zRZzmA-AaxjcV-zRYhVJ-A9zFcr-zS5hpv-A7hqoA-zRZAEh-zcGiF4-zS5gAX-zcxTnm-zRYmPW-zRYmc3-A9zKbP-zS5fxK-4etRo1-aM2kaV-6a3RFG-eZncWd" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                                    russellstreet</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Rocky Creek Bridge, part of the Pacific Coast Highway 101 along California's central coast" 
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Rocky-Creek-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rocky Creek Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pedrik/33884513114/in/photolist-TCfZem-ozYKuZ-5HfT3L-8iKUnY-Tou1cN-6pHzc9-7VK4Cf-DSBn5c-dcjEpZ-3b87Gh-21zSuxF-6j6AEM-TJCjD3-6jaTbN-55rtQM-sAZZS-odiVwa-dmbmXi-obwUpi-g2t3Zd-fPR3vj-GDePre-3gk8c7-EFMJDk-SG466Q-SG1pKQ-SJKthR-qFi1PT-nXqdVZ-TLZodc-TLZavP-SJMYKV-6hxEyD-qBysp-g2t3zf-6g867z-g2twCr-fAkCSv-6QnXX-4hEV2N-5mptYS-nsQPf7-3tMbH-g2tBpa-Ggdabv-eShZSA-21zSEzK-727UF-jyoz2V-Ds7Gm5" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pedrik/" rel="noopener noreferrer" target="_blank">
                                    pedrik</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Green sloped cliffs and red flowers meeting the ocean behind the sandy Garrapta State Beach near Carmel-by-the-Sea"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Garrapata-State-Park-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Garrapata State Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/scottb211/7322383074/in/photolist-ca48o3-T3XaKK-31gY5D-oRhsdB-p8LAiR-p8v9wr-ca46iL-ca3Zpb-p8LAHD-p6JzYQ-23EtwFh-X3jVM3-oRgRd9-p8LAdR-ca44tf-4EsjRF-kHrz6p-9DyCHQ-3NpRS-csjyh-oRhiWs-W4RFMF-f5i6Zm-8Aratv-apjDqh-5iiVYx-WGeDC7-dcxXNY-254prg6-dcxWXt-61PYXW-p6JDsU-rw1qCc-mS46Gi-P7arDu-jYzoM-5iodRE-4jhqBY-dcxWJt-5iiW1v-oRhope-p8JHhS-5Ua7e5-WGeD3E-dcxVic-o2yoyC-hFhing-3KFcT-WGeDd9-oRhrve" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/scottb211/" rel="noopener noreferrer" target="_blank">
                                    Scott Blackwell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful walkway along the Central California coastal cliffs of Soberanes Point at Garrapata State Park" 
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Garrapata-State-Park-Soberanes-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Soberanes Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/oliverdodd/39816804150/in/photolist-23EtwFh-X3jVM3-oRgRd9-p8LAdR-ca44tf-4EsjRF-kHrz6p-9DyCHQ-3NpRS-csjyh-oRhiWs-W4RFMF-f5i6Zm-8Aratv-apjDqh-5iiVYx-WGeDC7-dcxXNY-254prg6-dcxWXt-61PYXW-p6JDsU-rw1qCc-mS46Gi-P7arDu-jYzoM-5iodRE-4jhqBY-dcxWJt-5iiW1v-oRhope-p8JHhS-5Ua7e5-WGeD3E-dcxVic-o2yoyC-hFhing-3KFcT-WGeDd9-oRhrve-5iiVZZ-4AiuP5-4AiuN5-oReAtU-fs4tRT-p6GjXw-YJYFcF-p8LBUg-4AedZa-4AiuLm" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/oliverdodd/" rel="noopener noreferrer" target="_blank">
                                    oliver.dodd</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Big Sur, California Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="big-sur"></a>
        <h2 class="left-heading destination-section-heading">Big Sur, California</h2>
        <p>Apart from the random scenic pull-offs you'll encounter as you continue up the highway, the major coastal viewpoints you should definitely stop at along the way include <strong>Jade Cove</strong> and the <strong>Big Creek Cove Vista Point</strong>.</p>
        <h3>McWay Falls</h3>
        <p>The next attraction is one of the Central California Coast's most iconic sights, the gorgeous <strong>McWay Falls</strong>, which flows off of a cliff into the ocean, set within a stunning small cove. You can park along the highway and take a very short walk to see this picturesque waterfall.</p>
        <h3>Pfeiffer Beach</h3>
        <p>Next you might take a small detour to <strong>Pfeiffer Beach</strong>, which features an incredible sea arch that can be viewed with a quick 0.5 mile (0.8 km) round-trip walk from the parking area.</p>
        <h3>Scenic Bridges</h3>
        <p>Afterwards you can stop at the Castle Rock Viewpoint, which overlooks the iconic <strong>Bixby Creek Bridge</strong> set amongst the coastal cliffs. Just north of this bridge is the striking <strong>Rocky Creek Bridge</strong>, which you can also pull-off the highway to admire.</p>
    </section>


    <!-- Garrapata State Park Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="garrapata-state-park"></a>
        <h2 class="left-heading destination-section-heading">Garrapata State Park</h2>
        <p>Next you might like to stop at <strong>Garrapata State Beach</strong> and take a quick walk down to the beach to admire the incredible seaside scenery. A bit further north is another scenic place to take a walk along the coast, the <strong>Soberanes Point Trails</strong>, which follow along a rugged rocky part of the coastline. Either of these places are great for watching the sunset over the Pacific Ocean.</p>
        <p>Garrapata State Park is located just south of the city of Carmel-By-The-Sea, which hosts many more attractions including the serene Point Lobos State Natural Reserve.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lower Central CA Coast NB Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7848888714"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lower Central California Coast Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8UUvLPXhQ8t">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qygSQp5fJyJ2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Massive rollercoaster along the Santa Cruz Boardwalk theme park on the beach in Santa Cruz along California's Central Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Santa-Cruz-Santa-Cruz-Beach-Boardwalk-Rollercoaster.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-attractions-guide">
                        Upper Central California Coast &amp; Santa&nbsp;Cruz
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/a_little_brighter/14176319308/in/photolist-nAHkQq-7rQ689-2TXLXy-8xr45r-5gYyM1-5pon5N-nRtDWQ-fsKtQ5-mSwYtA-dvEcW2-fuxHHy-9BRQt3-q1wn8s-8qHYPm-nQPCa8-8Hip3U-q1wnAw-rvspq-6zUmW4-actSEY-Mqdr-htrKpF-nQPpMc-29K3j5-sCLGdj-5Yom5V-fsv8wg-nwxixH-nQPhAD-amRuoY-oxU64E-6K2PGq-nwx4Nj-fT4f3S-nwxxeR-TAoBAC-dz3Kw6-ot2SnU-8fevWQ-a6FuRy-aorLTB-2nrzor-nwwD7A-gGCA5V-qit1gp-6K2FBS-nLYTeq-nNRVDJ-5TLHTZ-nwx8Ww/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/a_little_brighter/" rel="noopener noreferrer" target="_blank">
                            Harold Litwiler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset over the famous Griffith Observatory with the skyscrapers of Downtown Los Angeles in the background"
                        data-src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        Los Angeles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/igorelick-680927/" rel="noopener noreferrer" target="_blank">
                            igorelick</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="View overlooking a stunning sandy beach and cove seen from Crescent Bay Point Park in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Crescent-Bay-Point-Park.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        Orange County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jerikoegel/522904943/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jerikoegel/" rel="noopener noreferrer" target="_blank">
                            Jeri Koegel</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful view of the sun setting behind the Pacific Beach Pier over the ocean in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Pacific-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        San Diego
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/billmorrow/13767298914/in/photolist-mYz1jE-JTz3qf-d5kveL-5x3BqF-axPn2L-VgbR9R-6gVY26-97eXdv-axPmJU-axLvtM-5L84ff-3hf159-8m2BRb-W9ktxs-rcFBkn-W9juJY-retKn7-7sr17n-8kYA8B-VTZXgh-79a8v-hbMUHU-cpG5z5-6cA5Mp-WhYLu2-5MWCKa-Wr9kYf-VUts29-axLzyF-Wr6Co5-VfGW5Z-2Ye8c9-axLtQX-dqppnD-WtC8T1-amgKFM-WM7MHk-qz8FBz-WtBkiN-rw4Ku4-7fRptg-6Z5uw7-VSeXMw-oX6V7h-axPqQy-rgR6V-5x3CMP-fmKz5-5AJArD-6RZ4nV" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/billmorrow/" rel="noopener noreferrer" target="_blank">
                            Bill Morrow</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    