<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Aerial view overlooking the Huntington Beach Pier and Pacific Ocean at sunset in Orange County, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Orange-County-Huntington-Beach-Huntington-Beach-Pier-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Orange County & Laguna Beach, California, and plan the perfect trip with savable Orange County Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="orange_county_california" />
    <meta name="attraction_guides" content="laguna_beach_california" />
    <meta name="usa_attraction_guides" content="orange_county_california" />
    <meta name="usa_attraction_guides" content="laguna_beach_california" />
    <meta name="usa_destinations" content="orange_county_california" />
    <meta name="usa_destinations" content="laguna_beach_california" />
    <meta name="usa_destination_guides" content="orange_county_california" />
    <meta name="usa_destination_guides" content="laguna_beach_california" />
    <meta name="california_attraction_guides" content="orange_county" />
    <meta name="california_attraction_guides" content="laguna_beach" />
    <meta name="california_destinations" content="orange_county" />
    <meta name="california_destinations" content="laguna_beach" />
    <meta name="california_destination_guides" content="orange_county" />
    <meta name="california_destination_guides" content="laguna_beach" />
    <meta name="google_maps_list" content="orange_county" />
    <meta name="google_maps_list" content="laguna_beach" />
    <meta property="og:title" content="Orange County & Laguna Beach, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Orange-County-Huntington-Beach-Huntington-Beach-Pier.jpg">
    <meta name="twitter:title" content="Orange County & Laguna Beach, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Orange-County-Huntington-Beach-Huntington-Beach-Pier.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide">
    <title>Attractions Guide for Orange County & Laguna Beach, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Orange County &amp; Laguna Beach, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#huntington-beach">Huntington Beach</a></div>
            <div><a href="#newport-beach">Newport Beach</a></div>
            <div><a href="#laguna-beach">Laguna Beach</a></div>
            <div><a href="#dana-point">Dana Point</a></div>
            <div><a href="#theme-parks">Theme Parks</a></div>
            <div><a href="#shopping-malls">Shopping Malls</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Orange County Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Orange County is located along the Southern California coast between Los Angeles and San Diego, and is best known for its beautiful sandy beaches, giant high-end shopping malls, and the original Disneyland theme park.</p>
    </section>


    <!-- Huntington Beach and Newport Beach Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Overlooking the iconic long wooden Huntington Beach Pier at sunset over the Pacific Ocean" 
                        src="https://www.travelimager.com/images/california/California-Orange-County-Huntington-Beach-Huntington-Beach-Pier.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Huntington Beach Pier</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/henriquev/32246442480/in/photolist-R8vrUd-8oPaP1-8oKZFc-dDyUfX-ESqgav-ESnR2p-FFNCaP-pb2ETa-22GCWH8-6X5Pm8-Rtoutb-p8SKBD-zWYJBD-asEJGs-8DdK9d-i6sNjD-FKt49N-asEMgN-F7TiCP-Qigin2-JFEjoY-b3GQrg-FKicMQ-fTgY7y-FDk1Uq-FnnZQu-FFGEtZ-F6pSUa-ESk3MK-G39W12-FZRU29-FJrvcj-ES8oRC-FntkGU-FKnXrW-ESq1M2-FKt5Ub-FKjW4G-FLPZrK-FFHyAe-FKkwG9-b3GQjT-8fBXq-FKgRLQ-FLPWfz-EXfsHb-FnDEj3-FKo1fS-F7F373-FLRsUZ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/henriquev/" rel="noopener noreferrer" target="_blank">
                                    Henrique Pinto</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Striking rocky formations seen at the Corona Del Mar State Beach of Newport Beach, Orange County"
                        src="https://www.travelimager.com/images/california/California-Orange-County-Newport-Beach-Corona-Del-Mar-State-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Corona Del Mar State&nbsp;Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/echoforsberg/26209918441/in/photolist-FW5FBx-G2Wd8P-FTLrqq-FW5yeM-FZD7RU-G2W4CH-FTLieW-F7EPJM-FBPpYq-FBPnMw-FZCUam-FZCPTq-F7EAsr-G2VGit-F7EtEi-G2VC4M-FBP3tw-FW4UKP-FW4PK8-FBNQGf-FZCmWE-FW4JHp-F7Eawz-FZC94f-FW4t36-G2V3hD-FZC2oG-FBNqjs-FZBXtN-F7DHDx-F7sXgq-FZBQVY-FBNc6o-G2UEpa-F7sHLj-FBN3hS-FW3UbV-FZBuTd-F7De9r-FBMPQC-FW3FKT-G2UfRi-F7shfj-FZBb3N-F7CWca-FZB68C-FZB3Ew-G2TYKk-FW3jhc-Ebj165" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/echoforsberg/" rel="noopener noreferrer" target="_blank">
                                    Emma Forsberg</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Golden hour overlooking the cliffs from Pelican Point above a sandy beach at Crystal Cove State Park in Newport Beach" 
                        src="https://www.travelimager.com/images/california/California-Orange-County-Newport-Beach-Crystal-Cove-State-Park-Pelican-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pelican Point (Crystal&nbsp;Cove)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sergeigussev/27604999041/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergeigussev/" rel="noopener noreferrer" target="_blank">
                                    Sergei Gussev</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Huntington Beach, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="huntington-beach"></a>
        <h2 class="left-heading destination-section-heading">Huntington Beach, California</h2>
        <p>Among the most popular beaches in Orange County is the vast sandy beach of Huntington Beach, which holds the official title of Surf City, USA. Around the city's iconic <strong>Huntington Beach Pier</strong> you'll find many great shops, restaurants, bars, and nightlife.</p>
    </section>


    <!-- Newport Beach, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="newport-beach"></a>
        <h2 class="left-heading destination-section-heading">Newport Beach, California</h2>
        <p>South of Huntington Beach within the city of Newport Beach you'll find the popular <strong>Corona Del Mar Beach</strong>. On the western side of the beach is a striking rocky moonlike landscape that you can explore, which leads to a tiny cove known as Hidden Beach. Be sure to take in views from Inspiration Point above the southern side of Corona Del Mar Beach as well, which overlooks the coastline.</p>
        <p>In Southern Newport Beach you can visit Crystal Cove State Park, a long undeveloped part of the coastline. Crystal Cove hosts stunning cliffs and tidal pools, the best of which are located on the western end of the park at <strong>Pelican Point</strong>.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Orange County 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5369230889"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Laguna Beach and Dana Point Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sandy beach known as Main Beach in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Downtown-Laguna-Main-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Laguna Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sergeigussev/25971409730/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergeigussev/" rel="noopener noreferrer" target="_blank">
                                    Sergei Gussev</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful vibrant gardens of Heisler Park atop the cliffs above the ocean in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Heisler-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heisler Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jukk_a/11390277554/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jukk_a/" rel="noopener noreferrer" target="_blank">
                                    Jukka</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking a stunning sandy beach and cove seen from Crescent Bay Point Park in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Crescent-Bay-Point-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crescent Bay Point Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jerikoegel/522904943/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jerikoegel/" rel="noopener noreferrer" target="_blank">
                                    Jeri Koegel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tidal pools along the shore of Shaws Cove in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Shaws-Cove.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shaws Cove</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/storygirl68/21871767911/in/photolist-FJ9gkp-ENTMwx-ymZMaH-z2h87G-FJ94JP-FJ94cM-FFRdG5-ENTExn-FChcCk-FFRuaj-Fj2ZJL-FChmw2-FChkov-ENGNrS-FJ96ht-FChoBp-FzXVyf-zjJGgB-zjJwAK-zgyPeN-z2n5zi-zhPZ5E-zhPPv9-zgzkfu-zjJAbv-zjJHJr-zhQvzN-ymRGcU-z2nuM6-zhQg8b-zgz4ns-z2hf4s-zgyLH5-zhQwAq-z2nEk4-ymZQSH-FFRmFG-z2hLgw-ziTqNz-z2nA9i-zhQmDw-yn1fUa-ymRweN-zgzb3S-zhQ8Kf-z2gb7J-z2h4WJ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/storygirl68/" rel="noopener noreferrer" target="_blank">
                                    Kim</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset view overlooking the lights of Laguna Beach with Pacific Ocean in background, seen from Top of the Wold viewpoint"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Top-of-the-World-Sunset-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Top of the World (Laguna&nbsp;Beach)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Photogenic Pirate Tower building along the beach connecting to a clifftop home in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Pirate-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pirate Tower (Laguna&nbsp;Beach)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Clear light blue waters and beach in front of a natural arch along the coast seen from Treasure Island Park in Laguna Beach"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Treasure-Island-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Treasure Island Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/atramos/13991998401/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/atramos/" rel="noopener noreferrer" target="_blank">
                                    atramos</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Susney looking down the shore of sandy Dana Strands Beach below the cliffs of Dana Point in Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Dana-Point-Dana-Strands-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dana Strands Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sergeigussev/27580534772/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergeigussev/" rel="noopener noreferrer" target="_blank">
                                    Sergei Gussev</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Laguna Beach, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="laguna-beach"></a>
        <h2 class="left-heading destination-section-heading">Laguna Beach, California</h2>
        <p>Among the most scenic places in Orange County is the city of Laguna Beach, which is located south of Newport Beach. The <strong>Downtown Laguna Beach</strong> area hosts many art galleries and restaurants, which stretch down the coast along Pacific Highway. The city also hosts countless picturesque cliffside beaches and coves.</p>
        <p>Among the best places to walk along the coastal cliffs in Laguna Beach are the stunning landscaped gardens of <strong>Heisler Park</strong>, which also features tide pools below them. Just north of Heisler Park you can enjoy amazing coastal views from <strong>Crescent Bay Point Park</strong> and the neighboring <strong>Shaws Cove</strong>.</p>
        <p>Up in the mountains above Laguna Beach is the <strong>Top of the World</strong> viewpoint, which offers breathtaking panoramic views overlooking the city and the hilly coastline, with gorgeous views during the day, night, and sunset.</p>
        <p>Other noteworthy coastal sights in Laguna Beach include the fairytale-like <strong>Pirate Tower</strong>, which is built just above the ocean at Victoria Beach, south of Downtown. Just south of Victoria Beach is the <strong>Treasure Island Beach &amp; Park</strong>, which features another lovely scenic walk along the coast. Halfway through this coastal walk you can take the path down to the beach to walk under a sea arch, or just to enjoy the sand and the waves.</p>
    </section>


    <!-- Dana Point, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dana-point"></a>
        <h2 class="left-heading destination-section-heading">Dana Point, California</h2>
        <p>Further south of Laguna Beach is the majestic <strong>Dana Strands Beach</strong>, which sits below massive sheer cliffs. What sets this beach apart from all of the rest is that if offers convenient free parking. You can walk past the sand on the southern end of this beach to explore tidal pools and caves below the Dana Point Headland.</p>
    </section>



    <!-- Orange County Theme Parks Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="theme-parks"></a>
        <h2 class="left-heading destination-section-heading">Theme Parks</h2>
        <h3>Disneyland</h3>
        <p>If you're visiting Orange County, you're likely also visiting Disneyland, the original Disney park. Across from Disneyland is a second theme park, Disney California Adventure, which features many more rides and attractions. You'll definitely need more than one day if you wish to fully experience all that both of these parks have to offer.</p>
        <h3>Knott's Berry Farm</h3>
        <p>A popular and less expensive alternative to Disneyland is the nearby Knott's Berry Farm theme park, which is also extremely popular and hosts world-class rides set within fun themed areas.</p>
    </section>


    <!-- Orange County Shopping Malls Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="shopping-malls"></a>
        <h2 class="left-heading destination-section-heading">Shopping Malls</h2>
        <p>If you're looking to shop in Orange County, you should consider visiting Costa Mesa's South Coast Plaza, the third largest shopping mall in the United States. Another extremely popular mall is the Irvine Spectrum Center, a massive outdoor mall with many upscale stores and restaurants.</p>
        <p>Near Corona Del Mar in Newport Beach is the ultra-lavish outdoor Fashion Island Mall, which hosts many high-end shops and restaurants. Adjacent to the mall's Macy's Department Store you can enjoy fantastic views overlooking the coast and the Pacific Ocean from high above, with views stretching to the far away Catalina Island on a clear day.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Orange County Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7122130409"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Orange County Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/gvfHaPALypD2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Ddi5jvfr3162">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset over the famous Griffith Observatory with the skyscrapers of Downtown Los Angeles in the background"
                        data-src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        Los Angeles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/igorelick-680927/" rel="noopener noreferrer" target="_blank">
                            igorelick</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful view of the sun setting behind the Pacific Beach Pier over the ocean in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Pacific-Beach.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
                        San Diego
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/billmorrow/13767298914/in/photolist-mYz1jE-JTz3qf-d5kveL-5x3BqF-axPn2L-VgbR9R-6gVY26-97eXdv-axPmJU-axLvtM-5L84ff-3hf159-8m2BRb-W9ktxs-rcFBkn-W9juJY-retKn7-7sr17n-8kYA8B-VTZXgh-79a8v-hbMUHU-cpG5z5-6cA5Mp-WhYLu2-5MWCKa-Wr9kYf-VUts29-axLzyF-Wr6Co5-VfGW5Z-2Ye8c9-axLtQX-dqppnD-WtC8T1-amgKFM-WM7MHk-qz8FBz-WtBkiN-rw4Ku4-7fRptg-6Z5uw7-VSeXMw-oX6V7h-axPqQy-rgR6V-5x3CMP-fmKz5-5AJArD-6RZ4nV" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/billmorrow/" rel="noopener noreferrer" target="_blank">
                            Bill Morrow</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Palm Springs Aerial Tramway goinh up to Mt. San Jacinto high above the desert floor of the Coachella Valley from Palm Springs"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Aerial-Tramway.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
                        Coachella Valley &amp; Palm&nbsp;Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/glendagilreathgallery/40012340602/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/glendagilreathgallery/" rel="noopener noreferrer" target="_blank">
                            Glenda Gilreath Gallery</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic skull-shaped Skull Rock formation seen at golden hour in the desert of Joshua Tree National Park"
                        data-src="https://www.travelimager.com/images/california/California-Joshua-Tree-National-Park-Skull-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        Joshua Tree National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/joshuatreenp/12489691874/in/album-72157640900898473/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joshuatreenp/" rel="noopener noreferrer" target="_blank">
                            Joshua Tree National Park</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of the famous Bixby Creek Bridge, part of the Highway 101 Pacific Coast Highway along the Central California Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Bixby-Creek-Bridge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
                        Lower Central California Coast &amp; Big&nbsp;Sur
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/russellstreet/34021083656/in/photolist-TQjWTS-d13eS9-d2nDzW-9XAfef-yd7qk3-TQJBWp-bDNmkt-6kNDfK-q2yTWE-pMeRfn-pMePGc-yVMjbG-5fDknB-bodW6Q-6nX7c1-MfSYgo-25sn5Xy-4FTgug-sL8cw4-NFLV1a-vE1UV7-unUvAc-bDNmJD-9XAfa1-25hzKfa-Aaxg3Z-zcxXkw-zRZys1-AaxhpB-A8q8GU-zRYgaj-zRYn2u-zRZzmA-AaxjcV-zRYhVJ-A9zFcr-zS5hpv-A7hqoA-zRZAEh-zcGiF4-zS5gAX-zcxTnm-zRYmPW-zRYmc3-A9zKbP-zS5fxK-4etRo1-aM2kaV-6a3RFG-eZncWd" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                            russellstreet</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Path leading up to Moro Rock with stunning views of the Sierra Nevada Mountains, located in Sequoia National Park"
                        data-src="https://travonga.com/wp-content/uploads/2018/12/California-Sequoia-National-Park-Moro-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        Sequoia &amp; Kings&nbsp;Canyon National&nbsp;Parks
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/channone/16696308369/in/photolist-rroWMF-qLUQWS-rrgtbJ-rHQnnH-rHSnL4-qLSkHL-rHVNK6-rHK6zr-rFAaqs-rpvgrT-B6MTWs-Au24C7-B7ZkyV-AaXreA-viemQL-rHH1Ek-rpBgy4-rHVk4p-rHTWzD-rrs5Ei-Au26Pm-Au257J-rrn9Ss-rpvvqe-uCXUda-vAb9wp-vieiLw-rHQpDx-rHVr2B-rFChBY-rrssng-rHMBYj-rHMaDf-rHN1ea-rHSXQg-qLSQLq-rHMqwv-rrhFDW-rrirRL-rrhGbj-rFynES-rrgdhU-rHQHCH-qM3UTH-rHJeFu-rro59B-rrgaKG-rHPgXX-rHJ2aM-rHNLPg" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                            joevare</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sahara-like sand dunes known as the Mesquite Flat Sand Dunes surrounded by desert mountains in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mesquite-Flat-Sand-Dunes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        Death Valley National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/29198100@N00/5554374255/in/photolist-9sPBXn-dYyLiF-dMWRxZ-4yvwWS-ePotWv-dYEtib-bYT2Eu-4yvwXs-hr94z7-hracJk-rw25m5-okzRQf-rcNju4-ePotKe-kDqHeW-dJnSL3-kDp6kT-rw1xxa-7Lz8Qs-dJhBq6-rtPXNd-XTzj1w-dJhr3z-hraaqm-kDqJ2N-dJhALg-VXsaho-9sPzGt-ePougT-fuFmAG-9sSzW9-rtPRGW-kDqFbh-reEKCg-9Qj4WT-reEF3e-dJo4gN-9sSB77-dYEv59-Djayqo-rw1uTn-rw1sNa-rw1Bu8-rw1Y7b-rexb4W-pVzrTk-dYEtPN-rw7zTe-ePzTGA-rw1XSy/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/29198100@N00/" rel="noopener noreferrer" target="_blank">
                            Gabriel Millos</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    