<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking the Pacific Ocean and coastline from La Jolla, San Diego, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-San-Diego-La-Jolla-Coast-and-Cliffs-Sunset-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in San Diego, California + Cabrillo N.M. and plan the perfect trip with our savable San Diego Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="san_diego_california" />
    <meta name="usa_attraction_guides" content="san_diego_california" />
    <meta name="usa_destinations" content="san_diego_california" />
    <meta name="usa_destination_guides" content="san_diego_california" />
    <meta name="california_attraction_guides" content="san_diego" />
    <meta name="california_destinations" content="san_diego" />
    <meta name="california_destination_guides" content="san_diego" />
    <meta name="national_park_attraction_guides" content="cabrillo" />
    <meta name="google_maps_list" content="san_diego" />
    <meta property="og:title" content="San Diego, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-San-Diego-La-Jolla-Coast-and-Cliffs-Sunset.jpg">
    <meta name="twitter:title" content="San Diego, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-San-Diego-La-Jolla-Coast-and-Cliffs-Sunset.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/san-diego-attractions-guide">
    <title>Attractions Guide for San Diego, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>San Diego, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#san-diego-zoo-and-safari-park">San Diego Zoo</a></div>
            <div><a href="#balboa-park">Balboa Park</a></div>
            <div><a href="#downtown">Downtown</a></div>
            <div><a href="#coronado-island">Coronado</a></div>
            <div><a href="#point-loma">Point Loma</a></div>
            <div><a href="#pacific-beach">Pacific Beach</a></div>
            <div><a href="#la-jolla">La Jolla</a></div>
            <div><a href="#torrey-pines">Torrey Pines</a></div>
            <div><a href="#carlsbad">Carlsbad</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to San Diego Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>San Diego is a magnificent seaside city with many different neighborhoods and attractions, located just above the Mexican border. Because of its location, San Diego hosts excellent Mexican and Tex-Mex cuisine. The city is known for its many stunning beaches, the densely clustered skyscrapers of Downtown San Diego, and the famous San Diego Zoo.</p>
    </section>


    <!-- San Diego Zoos and Balboa Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Aerial tramway which rides above the San Diego Zoo providing views over the animal exhibits from above" 
                        src="https://www.travelimager.com/images/california/California-San-Diego-San-Diego-Zoo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Diego Zoo</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rollercoasterphilosophy/15935839395/in/photolist-VTYkDn-6LWNog-pz4aqo-6M4AiK-6RaM4c-pkdd15-6ReQ4b-S5PKS-7yB9jb-pkrBZa-46iiN-6LWMsc-6RePxf-6LWR2p-pkrzwp-6M231h-qhckRD-qeV9BQ-pZMoTM-qh2p4r-qhcoQV-pZCLDj-qeV97G-pZKRT4-pZKUuM-pz56kr-pZCGRG-pZCGuu-WDoLu-6RePgE-qeVcXC-qh95ih-v8DNQe" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rollercoasterphilosophy/" rel="noopener noreferrer" target="_blank">
                                    Jeremy Thompson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Hot air balloon adjacent to a massive animal exhibit at the San Diego Zoo Safari Park in Escondido" 
                        src="https://www.travelimager.com/images/california/California-Greater-San-Diego-Escondido-San-Diego-Zoo-Safari-Park-Balloon-Safari.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Diego Zoo Safari&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/valeehill/5755862372/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/valeehill/" rel="noopener noreferrer" target="_blank">
                                    Virginia Hill</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking along a large Lily Pond surrounded by Spanish style buildings at San Diego's Balboa Park"
                        src="https://www.travelimager.com/images/california/California-San-Diego-Balboa-Park-Lily-Pond.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balboa Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/myhsu/3829911367/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/myhsu/" rel="noopener noreferrer" target="_blank">
                                    Ming-yen Hsu</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Strikingly intricate tower and dome with colorful tiled patterns atop San Diego's Museum of Man at Balboa Park"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Balboa-Park-Museum-of-Man-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum of Man (Balboa&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/procario/8562959507/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/procario/" rel="noopener noreferrer" target="_blank">
                                    Mike Procario</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- San Diego Zoo and Safari Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="san-diego-zoo-and-safari-park"></a>
        <h2 class="left-heading destination-section-heading">San Diego Zoo &amp; Safari Park</h2>
        <p>There are two branches of the <strong>San Diego Zoo</strong>, including the smaller original zoo within Balboa Park near Downtown San Diego, and the <strong>San Diego Zoo Safari Park</strong> in the suburb of Escondido, which hosts massive naturalistic animal exhibits among an expansive property.</p>
    </section>


    <!-- Balboa Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="balboa-park"></a>
        <h2 class="left-heading destination-section-heading">Balboa Park</h2>
        <p><strong>Balboa Park</strong> is located in the hills just above Downtown San Diego and hosts countless museums, beautiful gardens, and impressive Spanish colonial-style buildings such as the <strong>San Diego Museum of Man</strong>. The park also hosts elegant gardens and pools, such as at the Alcazar Garden and Botanical Building.</p>
        <p>From Balboa Park you can also take the Skyfari Aerial Tram over the San Diego Zoo, giving you an amazing perspective over the animal exhibits.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Diego 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8988093454"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Downtown San Diego and Coronado Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lit up sign spanning over the street at an entrance to Downtown San Diego's famous Gaslamp District"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Gaslamp-Quarter-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gaslamp Quarter</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mcdonaldc/6825558337" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mcdonaldc/" rel="noopener noreferrer" target="_blank">
                                    Chad McDonald</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful clouds behind the massive USS Midway aircraft carrier parked in the San Diego harbor"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-USS-Midway-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">USS Midway Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/my_public_domain_photos/38149637222/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/my_public_domain_photos/" rel="noopener noreferrer" target="_blank">
                                    Robert Sullivan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Preserved old Western style Cosmopolitan Hotel at the middle of the Old Town San Diego Historical Park"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Old-Town-San-Diego-State-Historic-Park-Cosmopolitan-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Town San&nbsp;Diego Historical&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.maxpixel.net/Historic-Architecture-Cosmopolitan-Hotel-Landmark-2460951" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.maxpixel.net" rel="noopener noreferrer" target="_blank">
                                    Max Pixel</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway through a vibrant garden leading to San Diego's iconic Hotel del Coronado on Coronado Island"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Coronado-Island-Hotel-del-Coronado.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hotel del Coronado</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29541450@N07/5431670001/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29541450@N07/" rel="noopener noreferrer" target="_blank">
                                    hoteldelcoronado</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view overlooking massive Hotel del Coronado on Coronado Island with Coronado Bridge and San Diego harbor in background"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Coronado-Island-Hotel-del-Coronado-Aerial-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hotel del Coronado (Aerial&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hotel_Del_Coronado_Drone_Picture_Turf_Lawn.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hotel_Del_Coronado_Drone_Picture_Turf_Lawn.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Armandoartist</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night view of the highrise buildings of Downtown San Diego along the water, seen from Centennial Park on Coronado Island"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Coronado-Island-Centennial-Park-Viewpoint-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Centennial Park (Coronado&nbsp;Island)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nekoneok/6584626043/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nekoneok/" rel="noopener noreferrer" target="_blank">
                                    Brian</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Downtown San Diego Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="downtown"></a>
        <h2 class="left-heading destination-section-heading">Downtown San Diego</h2>
        <h3>Gaslamp Quarter</h3>
        <p>In Downtown San Diego be sure to walk along the historic <strong>Gaslamp Quarter</strong>, where you'll find many great restaurants, bars, and clubs. The Gaslamp District hosts an excellent nightlife scene.</p>
        <h3>USS Midway &amp; Seaport&nbsp;Village</h3>
        <p>Downtown you'll also find the popular Seaport Village hosting great tourist shops and restaurants along the scenic marina. Nearby Seaport Village is the <strong>USS Midway Museum</strong>, a gigantic 1940s US aircraft carrier hosting many exhibits and aircraft. Nearby the aircraft carrier is the Unconditional Surrender Statue, a monumental statue of iconic scene where the Navy veteran who has just returned home from WWII kissing a woman dressed in white.</p>
        <h3>Old Town Historic Park</h3>
        <p>Be sure to also visit the <strong>Old Town San Diego State Historic Park</strong>, which features many well-preserved 1800s Mexican adobe structures that you can explore, set amongst the historic city center near Downtown and the airport.</p>
    </section>


    <!-- Coronado Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="coronado-island"></a>
        <h2 class="left-heading destination-section-heading">Coronado Island</h2>
        <p>From Downtown you can cross the remarkable Coronado Bridge to Coronado Island, which is best known for the iconic and grandiose beachfront <strong>Hotel del Coronado</strong>.</p>
        <p>On the northern side of Coronado Island is <strong>Centennial Park</strong>, which provides incredible views of Downtown San Diego from across the bay. These views are amazing in the daytime as well as at night when the city lights up.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Diego 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4437640207"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Point Loma and Pacific Beach Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Viewpoint overlooking Downtown San Diego and its airport behind the ocean from the Cabrillo National Monument Visitor Center"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Cabrillo-National-Monument-Visitor-Center-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cabrillo Visitor Center Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/russellstreet/32275024714/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                                    russellstreet</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little white Old Point Loma Lighthouse within San Diego's Cabrillo National Monument"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Old-Point-Loma-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Point Loma Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/russellstreet/32275215234/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                                    russellstreet</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour view overlooking the complex ridges and cliffs of San Diego's Sunset Cliffs Natural Park above the ocean"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Sunset-Cliffs-Natural-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sunset Cliffs Natural&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous roller coaster and store huts at Mission Beach's Belmont Park in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Mission-Beach-Belmont-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belmont Park (Mission&nbsp;Beach)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/normevangelista/3776154743" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/normevangelista/" rel="noopener noreferrer" target="_blank">
                                    Gnawme</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful view of the sun setting behind the Pacific Beach Pier over the ocean in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Pacific-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pacific Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/billmorrow/13767298914/in/photolist-mYz1jE-JTz3qf-d5kveL-5x3BqF-axPn2L-VgbR9R-6gVY26-97eXdv-axPmJU-axLvtM-5L84ff-3hf159-8m2BRb-W9ktxs-rcFBkn-W9juJY-retKn7-7sr17n-8kYA8B-VTZXgh-79a8v-hbMUHU-cpG5z5-6cA5Mp-WhYLu2-5MWCKa-Wr9kYf-VUts29-axLzyF-Wr6Co5-VfGW5Z-2Ye8c9-axLtQX-dqppnD-WtC8T1-amgKFM-WM7MHk-qz8FBz-WtBkiN-rw4Ku4-7fRptg-6Z5uw7-VSeXMw-oX6V7h-axPqQy-rgR6V-5x3CMP-fmKz5-5AJArD-6RZ4nV" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/billmorrow/" rel="noopener noreferrer" target="_blank">
                                    Bill Morrow</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Point Loma Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="point-loma"></a>
        <h2 class="left-heading destination-section-heading">Point Loma</h2>
        <h3>Cabrillo National Monument</h3>
        <p>To the west of Downtown San Diego is the rugged Point Loma peninsula, at the end of which you'll find the <strong>Cabrillo National Monument</strong>. From the monument's Visitor Center and the <strong>Old Point Loma Lighthouse</strong> you can enjoy breathtaking hilltop views overlooking the San Diego Bay. This historic lighthouse is also quite charming and contains a small museum.</p>
        <p>The national monument also contains several old military batteries that you can explore, as well as the Point Loma Tide Pools, and even a secret sea cave located to the north of the tide pools. The sea cave is located along Cabrillo Road just before reaching the water treatment plant.</p>
        <h3>Sunset Cliffs</h3>
        <p>Along the coast of Point Loma just north of Cabrillo National Monument is the incredibly beautiful <strong>Sunset Cliffs Natural Park</strong>, which features stunning complex cliffs along a scenic part of the coastline. You can walk around and explore these cliffs near the parking lot, or walk the 1.9 miles (3.1 km) of trail to see the entirety of the Sunset Cliffs.</p>
    </section>


    <!-- Pacific Beach and Mission Beach Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="pacific-beach"></a>
        <h2 class="left-heading destination-section-heading">Pacific Beach &amp; Mission Beach</h2>
        <h3>Belmont Park</h3>
        <p>To the north of Point Loma is the popular Belmont Park, which hosts carnival games, rides, and a rollercoaster, located on the beachfront boardwalk of Mission Beach.</p>
        <h3>Pacific Beach</h3>
        <p>Further up the coast is the <strong>Pacific Beach</strong> neighborhood where you'll find many great restaurants, bars, and stores centered around Garnet Avenue and the Pacific Beach Pier. Pacific Beach also hosts a great nightlife scene.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Diego 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5360673780"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- La Jolla and Torrey Pines Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the clear light blue waters of La Jolla Cove from the cliffs in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-La-Jolla-Cove.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Jolla Cove</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking beautiful La Jolla Shores Park Beach from above on a cloudy day in San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-La-Jolla-Shores-Park-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">La Jolla Shores Park Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/olegshpyrko/5555361415/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/olegshpyrko/" rel="noopener noreferrer" target="_blank">
                                    Oleg Shpyrko</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching view of the steep beautiful cliffs of Torrey Pines State Reserve above the ocean near San Diego"
                        data-src="https://www.travelimager.com/images/california/California-San-Diego-Torrey-Pines-State-Reserve.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torrey Pines State&nbsp;Reserve</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dirkhansen/6737333047/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dirkhansen/" rel="noopener noreferrer" target="_blank">
                                    SD Dirk</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- La Jolla Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="la-jolla"></a>
        <h2 class="left-heading destination-section-heading">La Jolla</h2>
        <p>North of Pacific Beach in the La Jolla neighborhood is a must-see attraction, <strong>La Jolla Cove</strong>. This gorgeous beach features bright blue waters and is surrounded by a scenic rocky coastline.</p>
        <p>The La Jolla Cove is best known for its large population of seals and sea lions, which inhabit the rocks and cliffs around the cove year-round. You can walk along the rocks along the coast and get quite close to these animals, observing them in their natural habitat.</p>
        <p>Nearby La Jolla Cove you can also walk along the La Jolla Tide Pools, which host many forms of sea life. A bit further north is a much larger beach with stunning ocean views, the <strong>La Jolla Shores Park</strong>.</p>
    </section>


    <!-- Torrey Pines State Reserve Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="torrey-pines"></a>
        <h2 class="left-heading destination-section-heading">Torrey Pines State&nbsp;Reserve</h2>
        <p>Just north of San Diego is the <strong>Torrey Pines State Reserve</strong>, which is centered around a complex network of coastal cliffs and features excellent hiking opportunities.</p>
        <h3>Hiking Routes</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The optimal hiking route the reserve has to offer is the Torrey Pines Beach Trail Loop, which ventures below the cliffs along the beach, before venturing back up through small canyons between these striking cliffs. The round-trip length of this trail is about 2.3 miles (3.7 km) starting from the South Beach Lot.</p>
            <p>There's also the option of adding on small scenic loop trails along the way, such as the 0.5 mile (0.8 km) Parry Grove Trail loop and the 0.6 mile (1 km) Guy Fleming Trail loop.</p>
            <p>The most highly recommended add-ons to your hiking route are Yucca Point, Razor Point, Red Butte, and the West Overlook, which will in total add about 1.5 miles (2.4 km) to your hike, for a round-trip hike of about 3.8 miles (6.8 km). Combining all of these listed trails together will give you a round-trip hiking length of about 5 miles (8 km).</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>


    <!-- Carlsbad, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="carlsbad"></a>
        <h2 class="left-heading destination-section-heading">Carlsbad, California</h2>
        <p>Another extremely popular attraction to consider near San Diego is the Legoland California theme park in Carlsbad, which also hosts a water park. Carlsbad is also known for its long, beautiful sandy beach, as well as vast The Flower Fields, which bloom seasonally and display a striking array of vibrant colors. Carlsbad is located about 35 miles (56 km) north of Downtown San Diego.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Diego Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4056149211"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save San Diego Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/PR4khdPzmXR2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ceNynftAEHq">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        <img class="lazy destination-image"
                        alt="View overlooking a stunning sandy beach and cove seen from Crescent Bay Point Park in Laguna Beach, Orange County"
                        data-src="https://www.travelimager.com/images/california/California-Orange-County-Laguna-Beach-Crescent-Bay-Point-Park.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/orange-county-attractions-guide-by-car">
                        Orange County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jerikoegel/522904943/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jerikoegel/" rel="noopener noreferrer" target="_blank">
                            Jeri Koegel</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset over the famous Griffith Observatory with the skyscrapers of Downtown Los Angeles in the background"
                        data-src="https://www.travelimager.com/images/california/California-Los-Angeles-Griffith-Observatory-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/los-angeles-attractions-guide">
                        Los Angeles
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/griffith-observatory-los-angeles-3897616/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/igorelick-680927/" rel="noopener noreferrer" target="_blank">
                            igorelick</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Palm Springs Aerial Tramway goinh up to Mt. San Jacinto high above the desert floor of the Coachella Valley from Palm Springs"
                        data-src="https://www.travelimager.com/images/california/California-Palm-Springs-Coachella-Valley-Palm-Springs-Aerial-Tramway.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/coachella-valley-and-palm-springs-attractions-guide">
                        Coachella Valley &amp; Palm&nbsp;Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/glendagilreathgallery/40012340602/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/glendagilreathgallery/" rel="noopener noreferrer" target="_blank">
                            Glenda Gilreath Gallery</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic skull-shaped Skull Rock formation seen at golden hour in the desert of Joshua Tree National Park"
                        data-src="https://www.travelimager.com/images/california/California-Joshua-Tree-National-Park-Skull-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/joshua-tree-national-park-attractions-guide">
                        Joshua Tree National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/joshuatreenp/12489691874/in/album-72157640900898473/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joshuatreenp/" rel="noopener noreferrer" target="_blank">
                            Joshua Tree National Park</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of the famous Bixby Creek Bridge, part of the Highway 101 Pacific Coast Highway along the Central California Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Carmel-By-The-Sea-Bixby-Creek-Bridge.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lower-central-california-coast-and-big-sur-attractions-guide">
                        Lower Central California Coast &amp; Big&nbsp;Sur
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/russellstreet/34021083656/in/photolist-TQjWTS-d13eS9-d2nDzW-9XAfef-yd7qk3-TQJBWp-bDNmkt-6kNDfK-q2yTWE-pMeRfn-pMePGc-yVMjbG-5fDknB-bodW6Q-6nX7c1-MfSYgo-25sn5Xy-4FTgug-sL8cw4-NFLV1a-vE1UV7-unUvAc-bDNmJD-9XAfa1-25hzKfa-Aaxg3Z-zcxXkw-zRZys1-AaxhpB-A8q8GU-zRYgaj-zRYn2u-zRZzmA-AaxjcV-zRYhVJ-A9zFcr-zS5hpv-A7hqoA-zRZAEh-zcGiF4-zS5gAX-zcxTnm-zRYmPW-zRYmc3-A9zKbP-zS5fxK-4etRo1-aM2kaV-6a3RFG-eZncWd" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/russellstreet/" rel="noopener noreferrer" target="_blank">
                            russellstreet</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    