<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Fort Point Viewpoin below the Golden Gate Bridge, San Francisco, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in San Francisco, California, and plan the perfect trip with our savable San Francisco Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="san_francisco_california" />
    <meta name="usa_attraction_guides" content="san_francisco_california" />
    <meta name="usa_destinations" content="san_francisco_california" />
    <meta name="usa_destination_guides" content="san_francisco_california" />
    <meta name="california_attraction_guides" content="san_francisco" />
    <meta name="california_destinations" content="san_francisco" />
    <meta name="california_destination_guides" content="san_francisco" />
    <meta name="national_park_attraction_guides" content="san_francisco" />
    <meta name="google_maps_list" content="san_francisco" />
    <meta property="og:title" content="San Francisco, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg">
    <meta name="twitter:title" content="San Francisco, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
    <title>Attractions Guide for San Francisco, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>San Francisco, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#golden-gate-bridge">Golden Gate Bridge</a></div>
            <div><a href="#iconic-sights">Iconic Sights</a></div>
            <div><a href="#alcatraz-island">Alcatraz</a></div>
            <div><a href="#golden-gate-park">Golden Gate Park</a></div>
            <div><a href="#lands-end">Lands End</a></div>
            <div><a href="#downtown">Downtown</a></div>
            <div><a href="#angel-island">Angel Island</a></div>
            <div><a href="#bay-area-san-jose">San Jose</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to San Francisco Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>San Francisco is a gorgeous highly-urbanized city located at the tip of a hilly peninsula at the entrance to the vast San Francisco Bay. The city features many iconic sights and important museums, and is one of the United States' few cities that has a great public transportation network (but also terrible car parking).</p>
    </section>


    <!-- Golden Gate Bridge and Viewpoints Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View of the Golden Gate Bridge from below at Fort Point in San Francisco" 
                        src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Golden Gate Bridge<br />(Fort&nbsp;Point)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/danramarch/4459101670/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/danramarch/" rel="noopener noreferrer" target="_blank">
                                    Daniel Ramirez</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning view of Golden Gate Bridge behind the sandy Baker Beach with waves crashing in San Francisco" 
                        src="https://www.travelimager.com/images/california/California-San-Francisco-Baker-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Baker Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mcgrayjr/4145457199/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mcgrayjr/" rel="noopener noreferrer" target="_blank">
                                    Ernest McGray, Jr.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Early evening view overlooking Golden Gate Bridge from above at Battery Spencer across the bridge from San Francisco"
                        src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Battery-Spencer.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Golden Gate Bridge<br />(Battery&nbsp;Spencer)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/patrick_nouhailler/9686371268/in/photolist-fKXbHb-fKEAAr-ifnqkq-47X5wu-fKXbxY-fKEBoZ-fKEzZX-fKEBfB-fKXez7-fKEzpH-B5GaM-fKEAdz-fKEAs4-fKEB5x-fKEyZc-fKX9Z7-fKExga-fKExq6-fKEzSa-fKXaTu-fKXaJ3-fKEzH6-fKX9Q3-fbLKfe-fKEx8a-q1RjWn-bSPTR2-qSRq5N-UnqJHi-fKX9FA-fKXc7m-nmZuVc-nwfHuJ-riV9me-8SsNzM-np4Vz3-i1iiWY-ba8i-fc21bq-zRc3f-gtPmsG-dE2Pr8-nHpds8-vb2nU-gtQr1X-bKGUgn-8yu45-zRc87-hADiYf-btB7cJ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/patrick_nouhailler/" rel="noopener noreferrer" target="_blank">
                                    Patrick Nouhailler</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of Downtown San Francisco and its surroundings from Christmas Tree Point atop Twin Peaks"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Twin-Peaks-Christmas-Tree-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Christmas Tree Point<br />(Twin&nbsp;Peaks)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nicolas_vollmer_photo/9467099098/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nicolas_vollmer_photo/" rel="noopener noreferrer" target="_blank">
                                    Nicholas Vollmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Golden Gate Bridge and Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="golden-gate-bridge"></a>
        <h2 class="left-heading destination-section-heading">Golden Gate Bridge &amp; Viewpoints</h2>
        <p>San Francisco's most iconic sight is the massive Golden Gate Bridge, which spans the entrance to the San Francisco Bay. From the San Francisco side you can take in direct views from just below the bridge at <strong>Fort Point</strong>, a former Civil War fortress that's also quite interesting to explore. Another great place to take in views of the bridge is <strong>Baker Beach</strong>, from which you can see the Golden Gate set against the mountains and ocean.</p>
        <p>Be sure to experience the incredible views from the other side of the Golden Gate Bridge as well, as you can view the bridge set against the San Francisco skyline. The viewpoints on the other side include the Golden Gate Bridge Vista Point immediately at the end of the bridge, as well as <strong>Battery Spencer</strong>, another old military structure that you can explore.</p>
        <p>If you'd like to walk across the Golden Gate Bridge, the one-way distance across the bridge from the Welcome Center to the Golden Gate Bridge Vista Point is about 1.9 miles (3.1 km). It's an additional 0.7 miles (1.1 km) each way to walk to Battery Spencer, with the possibility of continuing along the cliffs to additional batteries and viewpoints. Afterwards there's the possibility of taking the bus back across the bridge, which picks up near the Vista Point. </p>
        <h3>Twin Peaks View of San&nbsp;Francisco</h3>
        <p>Some of the most amazing views over the city of San Francisco can be enjoyed from <strong>Christmas Tree Point</strong> atop Twin Peaks, a large hill in the middle of the city, set further back from the coast.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Francisco 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2743067545"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- San Francisco Iconic Sights and Alcatraz Island Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Street cable car operating in front of the entrance to San Francisco popular Fishermans Wharf"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Fishermans-Wharf.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fishermans Wharf</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mobili/14254091165/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                                    Mobilus in Mobili</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the winding uphill road of San Francisco's Lombard Street which zig-zags through beautiful flower gardens"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Lombard-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lombard Street</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/85822043@N00/194649914/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/85822043@N00/" rel="noopener noreferrer" target="_blank">
                                    westcoast2006</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hilltop Coit Tower rising high above the trees and surrounding homes of San Francisco's Russian Hill in the evening"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Coit-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coit Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/emmyboop/4805689335/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/emmyboop/" rel="noopener noreferrer" target="_blank">
                                    Emily Stanchfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic row of colorful Victorian San Francisco houses from Full House known as the Painted Ladies seen from Alamo Square Park"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Painted-Ladies-Houses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Painted Ladies Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/143850343@N06/25267941258/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/143850343@N06/" rel="noopener noreferrer" target="_blank">
                                    Sam Amil</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunninglt lavish exterior and columns of San Francisco's Palace of Fine Arts Theatre behind a pond and gardens"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Palace-of-Fine-Arts-Theater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palace of Fine&nbsp;Arts Theater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/callmewhatever/9664361470/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/callmewhatever/" rel="noopener noreferrer" target="_blank">
                                    Daniel Zimmerman</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic abandoned buildings atop the former prison complex of Alcatraz Island in the San Francisco bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Alcatraz-Island.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Alcatraz Island</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/10083049@N02/1156292464/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/10083049@N02/" rel="noopener noreferrer" target="_blank">
                                    tylersmall</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- San Francisco Iconic Sights Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="iconic-sights"></a>
        <h2 class="left-heading destination-section-heading">Iconic Sights</h2>
        <h3>Fishermans Wharf / Ghiradelli&nbsp;Square</h3>
        <p>One of the most popular tourist areas in the city is <strong>Fishermans Wharf</strong>, which includes Ghiradelli Square and Pier 39. Here you'll find countless shops and restaurants set amongst the harbor.</p>
        <h3>Lombard Street &amp; Coit Tower</h3>
        <p>Nearby Fishermans Wharf are two more iconic San Francisco sights, the stunning <strong>Lombard Street</strong> which winds down a steep landscaped hill, and <strong>Coit Tower</strong>, an immense hilltop monument that offers sweeping panoramic views over the city and bay from high above. Also in this area is San Francisco's famous Chinatown district.</p>
        <h3>Painted Ladies Houses</h3>
        <p>Among the most iconic sights in the city are the <strong>Painted Ladies Houses</strong>, a famous row of Victorian homes which can be admired from Alamo Square Park. Another popular photo spot nearby are the Lyon Street Steps, which climb up a steep hill and hosts fantastic views overlooking the bay. </p>
        <h3>Palace of Fine Arts Theatre</h3>
        <p>Also in this area near the coast is the picturesque <strong>Palace of Fine Arts Theatre</strong>, an ultra-lavish and incredibly gorgeous structure with towering Greek-esque columns which sits upon a lovely lagoon.</p>
    </section>


    <!-- Alcatraz Island Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alcatraz-island"></a>
        <h2 class="left-heading destination-section-heading">Alcatraz Island</h2>
        <p>From Pier 33 (near Coit Tower) you can take the ferry to the famous Alcatraz Island, a giant former prison island, which once housed Al Capone. The prison now serves as a massive and fascinating museum that you can explore.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Francisco 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3909643700"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Golden Gate Park, Sutro Baths, and Lands End Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Multi-story glass dome housing a rainforest biome within San Francisco's California Academy of Sciences"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-California-Academy-of-Sciences.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">California Academy of Sciences</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/fhke/3024655144/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/fhke/" rel="noopener noreferrer" target="_blank">
                                    FHKE</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking ultramodern exterior of San Francisco's deYoung Museum in Golden Gate Park"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-de-Young-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">de Young Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/fabiencambi/15024592137/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/fabiencambi/" rel="noopener noreferrer" target="_blank">
                                    Fabien CAMBI</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush plants and mini temples and altars of San Francisco's Japanese Tea Garden in Golden Gate Park"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Japanese-Tea-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Japanese Tea Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/frted/9066495293/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/frted/" rel="noopener noreferrer" target="_blank">
                                    Ted</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the lovely Dutch Windmill behind colorful flowers at San Francisco's Golden Gate Park"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Dutch-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dutch Windmill (Golden&nbsp;Gate&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/boltron/4854632991/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/boltron/" rel="noopener noreferrer" target="_blank">
                                    nate bolt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the extremely intricate and coloful tile designs on the 16th Avenue Tiled Steps in San Francisco"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-16th-Avenue-Tiled-Steps.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">16th Avenue Tiled&nbsp;Steps</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sergejf/24531754953/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergejf/" rel="noopener noreferrer" target="_blank">
                                    Serge</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the ruins of the old beachfront Sutro Baths complex near Lands End in San Francisco" 
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Sutro-Baths.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sutro Baths</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jonathandinh/6651176201/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jonathandinh/" rel="noopener noreferrer" target="_blank">
                                    Jonathan Dinh</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Golden Gate Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="golden-gate-park"></a>
        <h2 class="left-heading destination-section-heading">Golden Gate Park &amp; Museums</h2>
        <p>The expansive Golden Gate Park features several important museums set amongst a vast lush forested park. The most famous museum within the park is the fascinating <strong>California Academy of Sciences</strong>, which is one of the largest natural history museums in the world. This museum hosts a rainforest biome, planetarium, aquarium, animal exhibits and more. The museum is also known for its large rooftop gardens.</p>
        <p>Across from the Academy of Sciences is the <strong>de Young Museum</strong> of fine arts, which hosts collections from the United States, as well as other exhibits from the Americas, Africa, and Oceania. Nearby these two museums is the beautiful San Francisco Botanical Garden, as well as the tranquil <strong>Japanese Tea Garden</strong>, a very photogenic place.</p>
        <p>At the western end of Golden Gate Park are two giant windmills, the popular <strong>Dutch Windmill</strong> which is adjacent to a small tulip garden, and the Murphy Windmill.</p>
        <h3>16th Avenue Tiled Steps</h3>
        <p>Just south of Golden Gate Park are the elegant <strong>16th Avenue Tiled Steps</strong>, a long staircase covered in vibrant colored tiles, which are intricately detailed and very photogenic.</p>
    </section>



    <!-- Sutro Baths and Lands End Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="lands-end"></a>
        <h2 class="left-heading destination-section-heading">Sutro Baths &amp; Lands End</h2>
        <p>Just northwest of the Dutch windmills of Golden Gate Park you can explore the striking beachside <strong>Sutro Baths</strong> ruins, which was formerly a sprawling public bathhouse. You can reach the baths with short walk. You can continue just beyond the baths to a cave, which leads to a platform overlooking the ocean.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Lands End Trail &amp; Legion&nbsp;of&nbsp;Honor Museum</h3>
            <p>From the Sutro Baths you can also walk part of the scenic Lands End Trail, which makes a 3.4 mile (5.5 km) loop along the city's northern cliffs. Along the trail you can enjoy many views of the Golden Gate Bridge from afar. The trail also passes the Lands End Labyrinth stone circle, the USS San Francisco Memorial, and the magnificent palace-like Legion of Honor museum, which hosts an impressive collection of European fine art and ancient treasures.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Francisco 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8738464407"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Downtown San Francsico, Angel Island, and San Jose Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Strikingly intricate and coloful geometric glass ceiling patterns in the San Francisco Museum of Modern Art"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-San-Francisco-Museum-of-Modern-Art.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Francisco Museum of<br />Modern&nbsp;Art</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mulmatsherm/2500270574/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mulmatsherm/" rel="noopener noreferrer" target="_blank">
                                    C Jill Reed</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking back at the lights of Downtown San Francisco's skyscrapers from Pier 7 at night"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Pier-7.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pier 7<br />(View&nbsp;of&nbsp;Downtown)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/districtinroads/15090289336/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/districtinroads/" rel="noopener noreferrer" target="_blank">
                                    John Leszczynski</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking Marin County from atop Mt. Livermor on Angel Island State Park in the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Angel-Island-State-Park-Mount-Livermore.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mt. Livermore<br />(Angel Island State Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/10995288615/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fountain and gardens with famous Winchester Mystery House in the background, located in San Jose in the Bay Area"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Winchester-Mystery-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Winchester Mystery House<br />(San&nbsp;Jose)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brizzlebornandbred/14525859495/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brizzlebornandbred/" rel="noopener noreferrer" target="_blank">
                                    Paul Townsend</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Financial District and Embarcadero Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="downtown"></a>
        <h2 class="left-heading destination-section-heading">Financial District &amp; Embarcadero</h2>
        <h3>San Francisco Museum of Modern&nbsp;Arts</h3>
        <p>Near the Downtown Financial District you'll find the city's most popular museum, the <strong>San Francisco Museum of Modern Art</strong> (MOMA), which is among the largest modern/contemporary art museums in the world. Nearby you might like to wander the streets of Downtown San Francisco, with its scenic towering skyscrapers.</p>
        <h3>Pier 7 &amp; Union Square</h3>
        <p>Be sure to walk down <strong>Pier 7</strong> near the Financial District, which offers stunning panoramic views of the downtown skyline, as well as the Oakland Bay Bridge. The views from this pier are incredible during both the day and night.</p>
        <p>Another popular location downtown is Union Square, a major shopping area and central hub which is especially well-known for its Christmas decor.</p>
    </section>


    <!-- Angel Island State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="angel-island"></a>
        <h2 class="left-heading destination-section-heading">Angel Island State&nbsp;Park</h2>
        <p>If you're looking for a unique hiking opportunity, you should consider taking the ferry from Pier 41 in Fisherman's Wharf to Angel Island State Park. Angel Island sits in the middle of the San Francisco Bay, with its highest point <strong>Mt. Livermore</strong> peaking at almost 800 feet (240 m) above the water.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The most popular hiking route on this tiny island is to combine the North Ridge Trail and Sunset Trail for a 4.8 mile (7.7 km) round-trip hike. Along this route you can enjoy breathtaking panoramic views over San Francisco, Alcatraz Island, the bay's three major bridges, and many of the mountains and cities that surround the San Francisco Bay. This amazing hike is only recommended on a very clear day.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Winchester Mystery House and San Jose Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bay-area-san-jose"></a>
        <h2 class="left-heading destination-section-heading">Winchester Mystery House &amp; San&nbsp;Jose</h2>
        <p>On the very southern end of the San Francisco Bay is the major city of San Jose, where you'll find an incredibly popular attraction, the famous <strong>Winchester Mystery House</strong>. This historical mega-mansion contains a labyrinth of rooms and strange architectural features, such as staircases leading to the ceiling, and doors that open up to holes in the floor that drop down to the room below.</p>
        <p>The owner of the house designed the house in this strange manner to confuse the sprits and ghosts that she believed to be haunting her. The home is said to be one of the most haunted places in the United States and offers excellent tours.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>You might also consider exploring the bustling downtown of San Jose, or even visit the campuses of some of the major tech companies such as Google in the surrounding cities of Silicon Valley.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Francisco Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1768078988"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save San Francisco Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/BipBhrh11Hu">&rArr; Top Attractions (Car)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/TT7DguQWc4F2">&rArr; All Attractions (Car)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ogpMi9xegjv">&rArr; Top Attractions (No&nbsp;Car)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/fyTxQw9BVGG2">&rArr; All Attractions (No&nbsp;Car)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-southbound-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Massive rollercoaster along the Santa Cruz Boardwalk theme park on the beach in Santa Cruz along California's Central Coast"
                        data-src="https://www.travelimager.com/images/california/California-Central-Coast-Santa-Cruz-Santa-Cruz-Beach-Boardwalk-Rollercoaster.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-central-california-coast-and-santa-cruz-southbound-attractions-guide">
                        Upper Central California Coast &amp; Santa&nbsp;Cruz
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/a_little_brighter/14176319308/in/photolist-nAHkQq-7rQ689-2TXLXy-8xr45r-5gYyM1-5pon5N-nRtDWQ-fsKtQ5-mSwYtA-dvEcW2-fuxHHy-9BRQt3-q1wn8s-8qHYPm-nQPCa8-8Hip3U-q1wnAw-rvspq-6zUmW4-actSEY-Mqdr-htrKpF-nQPpMc-29K3j5-sCLGdj-5Yom5V-fsv8wg-nwxixH-nQPhAD-amRuoY-oxU64E-6K2PGq-nwx4Nj-fT4f3S-nwxxeR-TAoBAC-dz3Kw6-ot2SnU-8fevWQ-a6FuRy-aorLTB-2nrzor-nwwD7A-gGCA5V-qit1gp-6K2FBS-nLYTeq-nNRVDJ-5TLHTZ-nwx8Ww/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/a_little_brighter/" rel="noopener noreferrer" target="_blank">
                            Harold Litwiler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide-by-train">
                        <img class="lazy destination-image"
                        alt="Looking down over the steep walkway leading to the beautiful Point Reyes Lighthouse set amongst the Pacific Ocean"
                        data-src="https://www.travelimager.com/images/california/California-Point-Reyes-National-Seashore-Point-Reyes-Lighthouse.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/point-reyes-and-mt-tamalpais-attractions-guide-by-train">
                        Point Reyes &amp; Mt.&nbsp;Tamalpais
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jdlasica/4341873994/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jdlasica/" rel="noopener noreferrer" target="_blank">
                            JD Lasica</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Arched Russian Gulch Bridge seen behind a tiny island and vibrant blue-green waters of Mendocino's coastline"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Russian-Gulch-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-attractions-guide">
                        Lower Northern California Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        Lake Tahoe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                            Don Graham</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        Tuolumne Meadows,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                            Jiashiang</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Path leading up to Moro Rock with stunning views of the Sierra Nevada Mountains, located in Sequoia National Park"
                        data-src="https://travonga.com/wp-content/uploads/2018/12/California-Sequoia-National-Park-Moro-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        Sequoia &amp; Kings&nbsp;Canyon National&nbsp;Parks
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/channone/16696308369/in/photolist-rroWMF-qLUQWS-rrgtbJ-rHQnnH-rHSnL4-qLSkHL-rHVNK6-rHK6zr-rFAaqs-rpvgrT-B6MTWs-Au24C7-B7ZkyV-AaXreA-viemQL-rHH1Ek-rpBgy4-rHVk4p-rHTWzD-rrs5Ei-Au26Pm-Au257J-rrn9Ss-rpvvqe-uCXUda-vAb9wp-vieiLw-rHQpDx-rHVr2B-rFChBY-rrssng-rHMBYj-rHMaDf-rHN1ea-rHSXQg-qLSQLq-rHMqwv-rrhFDW-rrirRL-rrhGbj-rFynES-rrgdhU-rHQHCH-qM3UTH-rHJeFu-rro59B-rrgaKG-rHPgXX-rHJ2aM-rHNLPg" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                            joevare</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

        </div>

    </section>


    