<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking Half Dome and Yosemite Valley from behind from Clouds Rest in the Tuolumne Meadows of Yosemite National Park, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Clouds-Rest-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions & hikes in the Tuolumne Meadows of Yosemite, California, & plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="tuolumne_meadows_california" />
    <meta name="usa_attraction_guides" content="tuolumne_meadows_california" />
    <meta name="usa_destinations" content="tuolumne_meadows_california" />
    <meta name="usa_destination_guides" content="tuolumne_meadows_california" />
    <meta name="california_attraction_guides" content="tuolumne_meadows" />
    <meta name="california_destinations" content="tuolumne_meadows" />
    <meta name="california_destination_guides" content="tuolumne_meadows" />
    <meta name="national_park_attraction_guides" content="tuolumne_meadows_yosemite" />
    <meta name="google_maps_list" content="tuolumne_meadows" />
    <meta property="og:title" content="Tuolumne Meadows (Yosemite), California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Clouds-Rest.jpg">
    <meta name="twitter:title" content="Tuolumne Meadows (Yosemite), California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Clouds-Rest.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
    <title>Attractions Guide for Tuolumne Meadows (Yosemite), California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Tuolumne Meadows (Yosemite), California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#tioga-pass">Tioga Pass</a></div>
            <div><a href="#short-hiking-trails">Short Hikes</a></div>
            <div><a href="#elizabeth-lake">Elizabeth Lake</a></div>
            <div><a href="#cathedral-lakes">Cathedral Lakes</a></div>
            <div><a href="#mount-dana">Mount Dana</a></div>
            <div><a href="#clouds-rest">Clouds Rest</a></div>
            <div><a href="#hetch-hetchy-valley">Hetch Hetchy Valley</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Tuolumne Meadows Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Tuolumne Meadows district of Yosemite National Park is a majestic valley full of lush meadows and lakes, which sits at an average elevation of about 8,600 feet (2,625 m), surrounded by many mountain peaks and interesting geological features.</p>
    </section>


    <!-- Tuolumne Meadows Tioga Pass and Short Hikes Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Natural deep carvings in the rock at Olmstead Point with views over the mountains of Yosemite Valley" 
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Olmsted-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Olmsted Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sandipb/22806247860/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sandipb/" rel="noopener noreferrer" target="_blank">
                                    Sandip Bhattacharya</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View over Tenaya Lake from the lakeshore with tall rocky mountains in background in Yosemite National Park" 
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Tenaya-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tenaya Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bumeister/5146847717/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bumeister/" rel="noopener noreferrer" target="_blank">
                                    John Buie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Soda Springs Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                                    Jiashiang</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the massive smooth side of the Lembert Dome in Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Lembert-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lembert Dome Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23155134@N06/37026121464/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                                    Don Graham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Tigoa Pass and Tenaya Lake Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="tioga-pass"></a>
        <h2 class="left-heading destination-section-heading">Tigoa Pass &amp; Tenaya Lake</h2>
        <p>The Tioga Pass Road through the Tuolumne Meadows district is extremely scenic and connects California's central valley with the desert basin, concluding at Mono Lake. The Tioga Pass features many fantastic pull-offs to view the stunning meadows and the abundance of wildlife that inhabits this part of the park.</p>
        <p>One of the major points along the road is <strong>Olmsted Point</strong>, which overlooks the peaks of Yosemite Valley from behind, including partial views of Half Dome. Just after this viewpoint is the serene <strong>Tenaya Lake</strong>, which is surrounded by forests and rocky mountain slopes.</p>
    </section>


    <!-- Short Hiking Trails Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="short-hiking-trails"></a>
        <h2 class="left-heading destination-section-heading">Short Hiking Trails</h2>
        <h3>Soda Springs Trail</h3>
        <p>One of the easiest trails to explore along the meadows is the 1.6 mile (2.6 km) round-trip walk to the stone-built Parsons Memorial Lodge and the carbonated <strong>Soda Springs</strong>. This hike follows along part of the Sierra High Route Trail, beginning from the Tuolumne Visitor Center.</p>
        <h3>Lembert Dome Trail</h3>
        <p>A slightly longer trail nearby the Visitor Center is the <strong>Lembert Dome Trail</strong>, which leads to the top of a massive rock dome, from which you can enjoy sweeping views over the Tuolumne Meadows. This trail is approximately 2.5 mile (4 km) round-trip.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Tuolumne Meadows 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3124558531"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Tuolumne Meadows Elizabeth Lake, Cathedral Lakes, and Mount Dana Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking over serene Elizabeth Lake at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Elizabeth-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Elizabeth Lake Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/blackwing_de/7826723680/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/blackwing_de/" rel="noopener noreferrer" target="_blank">
                                    Sebastian Werner</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Lower Cathedral Mountain seen behind Lower Cathedral Lake at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Lower-Cathedral-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Cathedral Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/irenetong/6262555900/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/irenetong/" rel="noopener noreferrer" target="_blank">
                                    irene.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour view of Upper Cathedral Mountain seen behind Upper Cathedral Lake at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Upper-Cathedral-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Cathedral Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brandonlevinger/7700239718/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brandonlevinger/" rel="noopener noreferrer" target="_blank">
                                    Brandon Levinger</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful lake surrounded by lush greenery seen along the Mount Dana Trail in Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Mount-Dana-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Dana Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/15600487727/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Mono Lake from high above, seen from atop Mount Dana in Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Mount-Dana-Summit.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Dana Summit View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/clr-photos/2651262339/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/clr-photos/" rel="noopener noreferrer" target="_blank">
                                    clr_flickr</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Elizabeth Lake Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="elizabeth-lake"></a>
        <h2 class="left-heading destination-section-heading">Elizabeth Lake</h2>
        <p>If you'd like to explore even deeper into the meadows you should walk the stunning <strong>Elizabeth Lake Trail</strong>, which ventures further into the wilderness. Along this 5 miles (8 km) round-trip trail you'll have a great chance of encountering wildlife.</p>
    </section>


    <!-- Cathedral Lakes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cathedral-lakes"></a>
        <h2 class="left-heading destination-section-heading">Cathedral Lakes</h2>
        <p>Another popular longer hike near the Visitor Center is the 8.6 mile (13.8 km) round-trip Cathedral Lakes Trail, which journeys through tranquil meadows and forests, passing by the serene <strong>Lower and Upper Cathedral Lakes</strong>.</p>
    </section>


    <!-- Mount Dana Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mount-dana"></a>
        <h2 class="left-heading destination-section-heading">Mount Dana</h2>
        <p>Near the very end of the Tioga Pass just before the road descends down into the desert is the trailhead for <strong>Mount Dana</strong>, a challenging trail medium distance trail. The trail to the summit of Mount Dana has about 3,100 feet (950 m) of elevation gain and a round-trip hiking distance of about 4.8 miles (7.7 km).</p>
        <p>The Mount Dana Summit Trail travels high up into the alpine zone and offers gorgeous panoramic views from the top, overlooking the Tuolumne Meadows on one side and stunning Lake Mono on the other.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Tuolumne Meadows 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2734510444"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Clouds Rest and Hetch Hetchy Valley Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant and highly detailed interior of the Hungarian National Museum in Budapest, Hungary"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Clouds-Rest.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clouds Rest</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sofiadonnecke/35887214326/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sofiadonnecke/" rel="noopener noreferrer" target="_blank">
                                    @sofiadonnecke</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant exterior of the Museum of Applied Arts in Budapest, Hungary"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Wapama-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wapama Falls (Hetch&nbsp;Hetchy&nbsp;Valley)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wolfgrams/6958650270/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wolfgrams/" rel="noopener noreferrer" target="_blank">
                                    Derek Wolfgram</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the House of Terrorm Museum in Budapest, Hungary"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Hetch-Hetchy-Reservoir-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hetch Hetchy Reservoir Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/135476354@N02/25181467885/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/135476354@N02/" rel="noopener noreferrer" target="_blank">
                                    Everett Carricio</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Clouds Rest Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="clouds-rest"></a>
        <h2 class="left-heading destination-section-heading">Clouds Rest</h2>
        <p>One of the most challenging but rewarding hikes in the park is the 12.9 mile (20.8 km) round-trip trail to the incredible <strong>Clouds Rest</strong>. This trail has an elevation gain of about 3,900 feet (1,200 m).</p>
        <p>The trail starts at Tenaya Lake and journeys very deep into the scenic rocky forest before arriving at Clouds Rest. From Clouds Rest you can enjoy truly breathtaking views over the Yosemite Valley and Half Dome from behind, and from a very high elevation.</p>
        <p>Although this trail is very long and challenging, it is the highest recommended trail in the Tuolumne Meadows district and is also one of the most popular hikes in Yosemite National Park.</p>
    </section>


    <!-- Hetch Hetch Valley and Wapama Falls Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="hetch-hetchy-valley"></a>
        <h2 class="left-heading destination-section-heading">Hetch Hetch Valley &amp; Wapama&nbsp;Falls</h2>
        <p>One more amazing hike to consider is located northwest of Tuolumne Meadows and the Yosemite Valley, in yet another district of the national park. This area is known as the Hetch Hetchy Valley.</p>
        <p>Within this valley you'll find the absolutely gorgeous <strong>Wapama Falls Trail</strong>, which leads to a massive powerful waterfall that flows into the picturesque <strong>Hetch Hetchy Reservoir Lake</strong>. This deep blue lake and the trail are surrounded by majestic rocky cliffs reminiscent of the Yosemite Valley. The round-trip distance for this awesome hike is approximately 4.6 miles (7.4 km) round-trip.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Tuolumne Meadows Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1421428773"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Tuolumne Meadows (Yosemite) Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/QfT9ywMWaLT2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/57gwdAN1sRN2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="John Muir Trail view of Nevada Falls flowing over the cliffs beside the Liberty Cap and dense forests in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
                        Yosemite Valley,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/146738176@N02/32050699197/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/146738176@N02/" rel="noopener noreferrer" target="_blank">
                            Stefan Serena</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Hundreds of old abandoned wooden structures amongst the rolling hills of Bodie State Historic Park Ghost Town in Mono County"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        Bodie &amp; Mono&nbsp;County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        Lake Tahoe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                            Don Graham</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Path leading up to Moro Rock with stunning views of the Sierra Nevada Mountains, located in Sequoia National Park"
                        data-src="https://travonga.com/wp-content/uploads/2018/12/California-Sequoia-National-Park-Moro-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        Sequoia &amp; Kings&nbsp;Canyon National&nbsp;Parks
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/channone/16696308369/in/photolist-rroWMF-qLUQWS-rrgtbJ-rHQnnH-rHSnL4-qLSkHL-rHVNK6-rHK6zr-rFAaqs-rpvgrT-B6MTWs-Au24C7-B7ZkyV-AaXreA-viemQL-rHH1Ek-rpBgy4-rHVk4p-rHTWzD-rrs5Ei-Au26Pm-Au257J-rrn9Ss-rpvvqe-uCXUda-vAb9wp-vieiLw-rHQpDx-rHVr2B-rFChBY-rrssng-rHMBYj-rHMaDf-rHN1ea-rHSXQg-qLSQLq-rHMqwv-rrhFDW-rrirRL-rrhGbj-rFynES-rrgdhU-rHQHCH-qM3UTH-rHJeFu-rro59B-rrgaKG-rHPgXX-rHJ2aM-rHNLPg" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                            joevare</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sahara-like sand dunes known as the Mesquite Flat Sand Dunes surrounded by desert mountains in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mesquite-Flat-Sand-Dunes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        Death Valley National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/29198100@N00/5554374255/in/photolist-9sPBXn-dYyLiF-dMWRxZ-4yvwWS-ePotWv-dYEtib-bYT2Eu-4yvwXs-hr94z7-hracJk-rw25m5-okzRQf-rcNju4-ePotKe-kDqHeW-dJnSL3-kDp6kT-rw1xxa-7Lz8Qs-dJhBq6-rtPXNd-XTzj1w-dJhr3z-hraaqm-kDqJ2N-dJhALg-VXsaho-9sPzGt-ePougT-fuFmAG-9sSzW9-rtPRGW-kDqFbh-reEKCg-9Qj4WT-reEF3e-dJo4gN-9sSB77-dYEv59-Djayqo-rw1uTn-rw1sNa-rw1Bu8-rw1Y7b-rexb4W-pVzrTk-dYEtPN-rw7zTe-ePzTGA-rw1XSy/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/29198100@N00/" rel="noopener noreferrer" target="_blank">
                            Gabriel Millos</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    