<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Cars driving along the highway benaath giant redwood trees in Redwoods National Park along the Upper Northern Coast, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Redwoods-National-Park-Highway-and-Redwood-Trees-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along California's Upper Northern Coast + Redwoods Parks & plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="upper_northern_coast_california" />
    <meta name="attraction_guides" content="redwoods_national_park_california" />
    <meta name="attraction_guides" content="humboldt_redwoods_california" />
    <meta name="attraction_guides" content="prairie_creek_redwoods_california" />
    <meta name="attraction_guides" content="jedidiah_smith_redwoods_california" />
    <meta name="usa_attraction_guides" content="upper_northern_coast_california" />
    <meta name="usa_attraction_guides" content="redwoods_national_park_california" />
    <meta name="usa_destinations" content="upper_northern_coast_california" />
    <meta name="usa_destinations" content="redwoods_national_park_california" />
    <meta name="usa_destination_guides" content="upper_northern_coast_california" />
    <meta name="usa_destination_guides" content="redwoods_national_park_california" />
    <meta name="california_attraction_guides" content="upper_northern_coast" />
    <meta name="california_attraction_guides" content="humboldt_redwoods" />
    <meta name="california_attraction_guides" content="prairie_creek_redwoods" />
    <meta name="california_attraction_guides" content="jedidiah_smith_redwoods" />
    <meta name="california_destinations" content="upper_northern_coast" />
    <meta name="california_destinations" content="humboldt_redwoods" />
    <meta name="california_destinations" content="prairie_creek_redwoods" />
    <meta name="california_destinations" content="jedidiah_smith_redwoods" />
    <meta name="california_destination_guides" content="upper_northern_coast" />
    <meta name="california_destination_guides" content="humboldt_redwoods" />
    <meta name="california_destination_guides" content="prairie_creek_redwoods" />
    <meta name="california_destination_guides" content="jedidiah_smith_redwoods" />
    <meta name="national_park_attraction_guides" content="redwoods" />
    <meta name="google_maps_list" content="upper_northern_coast" />
    <meta name="google_maps_list" content="humboldt_redwoods" />
    <meta name="google_maps_list" content="prairie_creek_redwoods" />
    <meta name="google_maps_list" content="jedidiah_smith_redwoods" />
    <meta property="og:title" content="Redwoods & Upper Northern Coast, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Redwoods-National-Park-Highway-and-Redwood-Trees.jpg">
    <meta name="twitter:title" content="Redwoods & Upper Northern Coast, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Redwoods-National-Park-Highway-and-Redwood-Trees.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">
    <title>Attractions Guide for Upper Northern California Coast & Redwoods</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Upper Northern California Coast &amp; Redwoods<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>


    <!-- Alternate Page Version Link -->
    <div class="alternate-version-flexbox">
        <div class="alternate-version-flex-link">
            <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-and-redwoods-attractions-guide">Northbound</a>
        </div>
        <div class="alternate-version-flex-current">
            <span>Southbound</span>
        </div>
    </div>


    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#jedidiah-smith-redwoods-state-park">Jedidiah Smith Redwoods</a></div>
            <div><a href="#crescent-city">Crescent City</a></div>
            <div><a href="#prairie-creek-redwoods-state-park">Prairie Creek Redwoods</a></div>
            <div><a href="#trinidad">Trinidad</a></div>
            <div><a href="#eureka">Eureka</a></div>
            <div><a href="#humboldt-redwoods-state-park">Humboldt Redwoods</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Upper Northern California Coast Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route down part of California's scenic northern coast along Highway 101. This route begins just south of the Oregon border near the Jedidiah Smith Redwoods State Park and Crescent City, and ends just north of Mendocino and Fort Bragg in the southern redwoods forests.</p>
    </section>


    
    <!-- Prairie Creek Redwoods, Crescent City, and Jedidiah Smith Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="Dirt path beneath the towering redwoods of the Simpson Reed Grove Trail of Jedidiah Smite Redwoods State Park"
                        src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Simpson-Reed-Grove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Simpson Reed Grove Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/paulhami/3871310624/in/photolist-6U6tLU-d16Ms1-a4upXs-e1S76a-kodco-d16vqu-koezN-d16xiY-6vmKrA-ko6pb-6U6r29-d178ds-koekn-d16nVo-kocPY-kodHk-d16uPU-kopFj-6U6kfs-4C2Wa1-d16xWU-68sY5f-d177yA-kodPj-ko6GG-koeaB-68n1Cg-6okt1U-d174kE-9UEg4y-ko6wP-d16sLd-d16JP9-6JXM6m-d16owC-7mmKaU-6JTw7R-ko6R6-a4uof7-komUu-d172Zf-d179ZW-d179o1-6U2sqt-d16tqf-d176ew-ko6AE-9UEfks-ko6Qq-ko6vM" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/paulhami/" rel="noopener noreferrer" target="_blank">
                                    Paul Hamilton</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Hikers journeying along the Stout Grove Memorial Trail beneath the trees of Jedidiah Smite Redwoods State Park"
                        src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Stout-Grove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stout Memorial Grove Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/59909748@N00/22788946866/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/59909748@N00/" rel="noopener noreferrer" target="_blank">
                                    mcfst3</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Low tide view of the beautiful Battery Point Lighthouse which becomes an island at high tide in Crescent City"
                        src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Battery-Point-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Battery Point Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39908901@N06/23640862215/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39908901@N06/" rel="noopener noreferrer" target="_blank">
                                    m01229</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant lush green walls of Fern Canyon above a rocky stream at Prairie Creek Redwoods State Park"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Fern-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fern Canyon Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lady Bird Johnson Grove Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Jedidiah Smith Redwoods State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="jedidiah-smith-redwoods-state-park"></a>
        <h2 class="left-heading destination-section-heading">Jedidiah Smith Redwoods State&nbsp;Park</h2>
        <p>Just south of the Oregon border outside of Crescent City is the Jedidiah Smith Redwood State Park, where you'll find two more amazing redwood trails.</p>
        <p>The 0.7 mile (1.1 km) round-trip <strong>Stout Memorial Grove Trail</strong> is the more popular of the two, however the 0.8 mile (1.3 km) round-trip <strong>Simpson Reed Grove Trail</strong> is also quite scenic as well. Both of these trails journey through lush towering redwood forests, with the Stout Memorial Grove Trail being the more popular of the two.</p>
    </section>


    <!-- Crescent City, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="crescent-city"></a>
        <h2 class="left-heading destination-section-heading">Crescent City, California</h2>
        <p>Continue to Crescent City, where you can walk to the lovely <strong>Battery Point Lighthouse</strong>. This lighthouse sits on a tiny island, which is connected to the mainland by a path that disappears during high tide. This 1850s lighthouse and the island are quite picturesque, hosting excellent coastal views.</p>
    </section>


    <!-- Prairie Creek Redwoods State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="prairie-creek-redwoods-state-park"></a>
        <h2 class="left-heading destination-section-heading">Prairie Creek Redwoods State&nbsp;Park</h2>
        <p>Continue south to the Prairie Creek Redwoods State Park, which features two incredible trails. Both of these trails are the highest recommended attractions along the Upper Northern Coast.</p>
        <h3>Fern Canyon Trail</h3>
        <p>First you can hike the breathtaking <strong>Fern Canyon Trail</strong>, a 1.1 mile (1.8 km) round-trip hike which ventures through a stunning canyon surrounded by lush green walls on both sides. The trail journeys alongside a rocky stream inside of this vibrant canyon, with many wooden bridges and fallen branches along the serene rocky creek. Reaching the trailhead for the popular Fern Canyon is a bit challenging but definitely worth it.</p>
        <h3>Lady Bird Johnson Grove Trail</h3>
        <p>Just south of Fern Canyon you can hike the wondrous 1.3 mile (2.1 km) round-trip <strong>Lady Bird Johnson Grove Trail</strong> through an extremely scenic and wondrous redwood forest, which is among the best redwood hikes you'll find in Northern California.</p>
        <p>If you're able to spread out this itinerary out over at least two days, it is highly recommended to hike the Lady Bird Johnson Grove Trail in the early morning when the fog gives the forest a beautiful mystical look.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Upper Northern CA Coast SB 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1429985879"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Humboldt Redwoods, Eureka, and Trinidad Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely tiny white and red Trinidad Memorial Lighthouse with many boats and small rock island of Trinidad Bay in background"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Trinidad-Memorial-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trinidad Memorial Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant and historic Victorian style Carson Mansion, a famous sight in Eureka, Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Carson-Mansion.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carson Mansion</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bcjams/853646647/in/photolist-2irapD-2KdEuj-7gg7dv-7gg7y2-7gg5Yg-7gk1ps-46jUs-knS2g-ZqnjXw-e5Ru2q-HMwetY-6RrsxC-H1puPo-WU9ncA-YvsVVT-MZHCx7-N7QJXE-LTqSyG-LTkfNy-M13tDE-6kNgsf-5zGSx1-7gk1Zj-6Rrtxy-noKMmZ-cjcVEs-cjcims-7gk185-3UY1E9-cjcncw-6kNfHA-9MZJB2-cjcjuN-cjcgKQ-5sxRXo-knRXn-jx1Xm-knRRP-3UTLBR-km28k-knRQD-3UTL9c-uGCqF7-uGCpiC-u3cEAU-u3cFSb-uYGrWb-tJ3BuN-uYGwX3-u3kBJ4" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bcjams/" rel="noopener noreferrer" target="_blank">
                                    radiobread</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive redwood trees towering above the steeet of the Avenue of the Giants in Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Avenue-of-the-Giants.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Avenue of the Giants</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kirt_edblom/15331690199/in/photolist-pmNVmc-6nD8K-o4n6iU-oxnkW1-prcbc6-ch7m3m-ch7EwG-ch7zn7-8wqUDt-ch7DMJ-ch7zVU-ch7pX1-ch7mHJ-ch7ngN-ch7Ehf-ch7ymw-8wtL7f-ch7vwE-WU9obQ-38FsBb-8wtHcC-uGbrX-ampZLL-fERQUh-pCR8iv-byuBwu-pCNKwD-93fCNY-6GCfLF-oxnmio-jhermP-e7knms-ox87wH-byuBFw-WPfcae-X23DUT-ctuGWA-pnLPWR-9xXAvE-ppCsyY-apjJsS-amncBx-pEGAja-oKXqqJ-onKtRs-RvNVj1-R7nimN-9nq2eL-6nCXM-6nEbW" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kirt_edblom/" rel="noopener noreferrer" target="_blank">
                                    Kirt Edblom</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant green forest floor beneath the tall redwood forests along the Founders Grove Trail in Northern California" 
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Founders-Grove.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Founders Grove Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking directly up at the sky mostly obscured by leaves and branches of massive redwood trees along Rockefeller Loop Trail"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Rockefeller-Loop-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rockefeller Loop Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/amitp/7992934465/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/amitp/" rel="noopener noreferrer" target="_blank">
                                    Amit Patel</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Trinidad, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="trinidad"></a>
        <h2 class="left-heading destination-section-heading">Trinidad, California</h2>
        <p>Further south along the coast, be sure to stop at the quaint <strong>Trinidad Memorial Lighthouse</strong>, from which you can take in gorgeous views high above the picturesque Trinidad Harbor.</p>
        <p>It's also possible to hike to the top of the peninsular hilly headland that you can see from the lighthouse, which is called Trinidad Head. This hike offers fantastic coastal views while hiking through lush green fields.</p>
    </section>



    <!--Eureka, California Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eureka"></a>
        <h2 class="left-heading destination-section-heading">Eureka, California</h2>
        <p>Just south of Trinidad along Highway 101 is the large seaside city of Eureka. In this city you might like to admire the <strong>Carson Mansion</strong>, a stunning Victorian home which is said to be the most photographed house in the USA.</p>
        <p>You might also like to explore the lovely Old Town Eureka or visit the city's famous Lost Coast Brewery</p>
    </section>


    <!-- Humboldt Redwoods State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="humboldt-redwoods-state-park"></a>
        <h2 class="left-heading destination-section-heading">Humboldt Redwoods State&nbsp;Park</h2>
        <p>Continue south to the small town of Stafford, where you'll find the entrance to the extremely scenic drive along the <strong>Avenue of the Giants</strong>, which runs parallel to Highway 101. This 32 mile (51 km) long road offers much better views of the towering redwood trees than the main highway.</p>
        <p>Some great short hikes you might consider within the Humboldt Redwoods State Park are the 0.5 mile (0.8 km) round-trip <strong>Founders Grove Nature Trail</strong>, and the nearby 1.1 mile (1.8 km) round-trip <strong>Rockefeller Loop Trail</strong>. Both of these trails journey through the lush dense redwood forests.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Upper Northern CA Coast SB Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9116904205"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Upper Northern California Coast Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/86UgERonuT92">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/DBrt3F4aR832">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-southbound-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Arched Russian Gulch Bridge seen behind a tiny island and vibrant blue-green waters of Mendocino's coastline"
                        data-src="https://www.travelimager.com/images/california/California-Lower-Northern-Coast-Russian-Gulch-Bridge-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lower-northern-california-coast-southbound-attractions-guide">
                        Lower Northern California Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view at Samuel H. Boardman's sandy Secret Beach of tall sea rocks along the Southern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Secret-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                        Southern Coast, Oregon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    