<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">John Muir Trail view of Yosemite Valley's Nevada Falls and Libery Cap in Yosemite National Park, California Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions & hikes in Yosemite Valley National Park, California, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="yosemite_valley_california" />
    <meta name="attraction_guides" content="yosemite_national_park_california" />
    <meta name="usa_attraction_guides" content="yosemite_valley_california" />
    <meta name="usa_attraction_guides" content="yosemite_national_park_california" />
    <meta name="usa_destinations" content="yosemite_valley_california" />
    <meta name="usa_destinations" content="yosemite_national_park_california" />
    <meta name="usa_destination_guides" content="yosemite_valley_california" />
    <meta name="usa_destination_guides" content="yosemite_national_park_california" />
    <meta name="california_attraction_guides" content="yosemite_valley" />
    <meta name="california_attraction_guides" content="yosemite_national_park" />
    <meta name="california_destinations" content="yosemite_valley" />
    <meta name="california_destinations" content="yosemite_national_park" />
    <meta name="california_destination_guides" content="yosemite_valley" />
    <meta name="california_destination_guides" content="yosemite_national_park" />
    <meta name="national_park_attraction_guides" content="yosemite_valley" />
    <meta name="national_park_attraction_guides" content="yosemite" />
    <meta name="google_maps_list" content="yosemite_valley" />
    <meta name="google_maps_list" content="yosemite_national_park" />
    <meta property="og:title" content="Yosemite Valley, California Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls.jpg">
    <meta name="twitter:title" content="Yosemite Valley, California Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/california/yosemite-valley-yosemite-national-park-attractions-guide">
    <title>Attractions Guide for Yosemite Valley, California</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Yosemite Valley, California<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#valley-viewpoints">Viewpoints</a></div>
            <div><a href="#bridalveil-falls">Bridalveil Falls</a></div>
            <div><a href="#yosemite-falls">Yosemite Falls</a></div>
            <div><a href="#yosemite-village">Yosemite Village</a></div>
            <div><a href="#mirror-lake">Mirror Lake</a></div>
            <div><a href="#mist-trail">Mist Trail</a></div>
            <div><a href="#half-dome">Half Dome</a></div>
            <div><a href="#glacier-point">Glacier Point</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Yosemite Valley Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Yosemite Valley is one of the most beautiful valleys on Earth with its towering canyon walls, vast forests, unique rock formations, and majestic waterfalls. Don't forget to explore the picturesque Tuolomne Meadows district of the national park as well, which is located north of Yosemite Valley.</p>
        <p>Most of the Yosemite Valley is connected by free shuttles that conveniently link the major sights and trailheads with the parking areas and accommodations.</p>
    </section>


    <!-- Roadside Viewpoints, Bridalveil Falls, and El Capitan Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Iconic Tunnel View viewpoint overlooking many formations of Yosemite Valley like Half Dome and Bridalveil Falls" 
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Tunnel-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tunnel View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glennwilliamspdx/15785660973/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glennwilliamspdx/" rel="noopener noreferrer" target="_blank">
                                    Glenn Scofield Williams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of El Capitan and towering sheer cliffs of Yosemite Valley from the Valley View viewpoint behind the river" 
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Valley-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valley View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/zexonaz/14859871127/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/zexonaz/" rel="noopener noreferrer" target="_blank">
                                    ZexonaZ</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking up at the massive Bridalveil Falls flowing over the enormous cliff in Yosemite Valley"
                        src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Bridalveil-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bridalveil Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jsjgeology/19848610670/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jsjgeology/" rel="noopener noreferrer" target="_blank">
                                    James St. John</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Massive towering sheer cliff of El Capitan rising high above a meadow in Yosemite National Park's Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-El-Capitan-Meadow.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">El Capitan Meadow</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/22032607625/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Majestic cliff of El Capitan towering above the forests and Merced River of Yosemite Valley, California"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Yosemite-Valley-El-Capitan-Cliffs-behind-Merced-River.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">El Capitan &amp; Merced River</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/yosemite-el-capitan-merced-river-2396256/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/InfiniteThought-5496829/" rel="noopener noreferrer" target="_blank">
                                    InfiniteThought</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Roadside Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="valley-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Roadside Viewpoints</h2>
        <p>One of the best viewpoints facing Yosemite Valley near the entrance is the <strong>Tunnel View</strong>, from which you can admire Bridalveil Falls, Half Dome, and more, all in one frame. A bit further into the valley you can enjoy amazing views from the <strong>Valley View</strong> vista point, which sits on the Merced River.</p>
    </section>


    <!-- Bridalveil Falls and El Capitan Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bridalveil-falls"></a>
        <h2 class="left-heading destination-section-heading">Bridalveil Falls</h2>
        <p>The first waterfall you'll reach upon entering the valley is <strong>Bridalveil Falls</strong>, which is so tall that most of the water turns to mist before reaching the ground. You can view the falls with a very short walk from the parking area.</p>
        <h3>El Capitan</h3>
        <p>Just east of Bridalveil Falls is the <strong>El Capitan Meadow</strong>, which is located beside the road. From the meadow you can marvel at the towering sheer cliffs on both sides of you, which soar 3,000 feet (900 m) above the meadow. One of these cliffs is <strong>El Capitan</strong>, an iconic cliff hosting extremely challenging rock climbing.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Yosemite Valley 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6344235354"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Yosemite Falls and Yosemite Village Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Powerful Lower Yosemite Falls seen up-close within Yosemite National Park's Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Lower-Yosemite-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Yosemite&nbsp;Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rotron/33768337050/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rotron/" rel="noopener noreferrer" target="_blank">
                                    Roshan Vyas</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of massive Upper Yosemite Falls and part of Lower Yosemite Falls seen from a meadow in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Upper-Yosemite-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Yosemite&nbsp;Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rotron/33341989483/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rotron/" rel="noopener noreferrer" target="_blank">
                                    Roshan Vyas</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Yosemite Valley and Half Dome from Yosemite Point atop Upper Yosemite Falls"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Yosemite-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Yosemite Point (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/15783724651/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Snowy winter view of the night sky and countless stars lighting up Yosemite Falls and the canyons of Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Cooks-Meadow-Loop.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cook's Meadow Loop</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/27520956256/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Backside of the famous massive cabin-like Majestic Yosemite Hotel, formerly the Ahwanee, in Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Majestic-Yosemite-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Majestic Yosemite Hotel (Ahwanee)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/35562025232/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Yosemite Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="yosemite-falls"></a>
        <h2 class="left-heading destination-section-heading">Yosemite Falls</h2>
        <p>After El Capitan and west of the Yosemite Valley Visitor Center you can take the park's most popular short trail, which ventures to <strong>Lower Yosemite Falls</strong>. You can easily reach the falls with a round-trip walk of about 0.9 miles (1.4 km), with the option of climbing along the boulders to get up-close to the falls.</p>
        <p>The lower section of the tiered Yosemite Falls is only about 320 feet (90 m) tall, however the drop of the <strong>Upper Yosemite Falls</strong> (which you can see from the valley) is much larger at about 1,430 feet (440 m) tall.</p>
        <p>If you'd like to reach the top of the Upper Falls, you can hike the 5 mile (8 km) round-trip trail which hikes alongside the falls and offers amazing views of the falls and the valley, especially from <strong>Yosemite Point</strong> at the top. The trail has a huge elevation gain of nearly 3,200 feet (980 m) and also offers views of the cascading pools that lead to the waterfall.</p>
        <h3>Cook's Meadow</h3>
        <p>Near Yosemite Falls be sure to walk along the <strong>Cook's Meadow Loop</strong> boardwalk, which ventures through an open meadow, from which you can enjoy unobstructed views of Yosemite Falls and the surrounding canyon walls. Cook's Meadow Loop is also an incredible place to see the many stars of the night sky framed by the canyon.</p>
    </section>


    <!-- Yosemite Village Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="yosemite-village"></a>
        <h2 class="left-heading destination-section-heading">Yosemite Village</h2>
        <p>Continuing further east you'll reach the town of Yosemite Valley which hosts many camping, lodging, and dining options, as well as the main Visitor Center.</p>
        <p>A bit further into Yosemite Valley you can admire the <strong>Majestic Yosemite Hotel</strong> (formerly the Ahwanee), a massive upscale lodge-like hotel that you can explore without a reservation. Among the hotel's most famous features is its grand dining room.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Yosemite Valley 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5776317190"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Mirror Lake and Mist Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of serene Mirror Lake behind some trees deep in Yosemite National Park's Yosemite Valley"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Mirror-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mirror Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/15600483947/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning and powerful Vernal Falls seen along Yosemite Valley's Mist Trail with a vibrant mist rainbow"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Vernal-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vernal Falls (Mist&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/trodel/3599409894/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/trodel/" rel="noopener noreferrer" target="_blank">
                                    Jim Trodel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive and powerful Nevada Falls flowing over the cliffs beside the Liberty Cap in Yosemite Valley seen from John Muir Trail"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Nevada-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nevada Falls (Mist&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Mirror Lake Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mirror-lake"></a>
        <h2 class="left-heading destination-section-heading">Mirror Lake Trail</h2>
        <p>Beyond Yosemite Falls and the Majestic Yosemite Hotel are some of the park's most scenic and popular hikes.</p>
        <p>The easy 5 mile (8 km) round-trip Mirror Lake Loop Trail ventures deep into the valley, with the iconic Half Dome formation towering above it. This trail follows along the Tenaya Creek, leading to the stunning <strong>Mirror Lake</strong>, which is named for the beautiful reflections of the canyon that you can admire on the surface of the lake.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Mirror Lake is located only about halfway through the trail into the canyon, but it's highly recommended to hike the entire 5 miles (8 km) of the trail, which passes along the lush picturesque meadows of the Tenaya Creek while venturing even deeper into the canyon.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Mist Trail: Vernal and Nevada Falls Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="mist-trail"></a>
        <h2 class="left-heading destination-section-heading">Mist Trail: Vernal&nbsp;Falls &amp; Nevada&nbsp;Falls</h2>
        <p>From the Happy Isles Bridge you can hike the most highly recommended route in the park, which takes you along an extremely scenic journey past two powerful massive waterfalls, <strong>Vernal Falls</strong> and <strong>Nevada Falls</strong>.</p>
        <p>First you'll follow the Mist Trail which is named for the intense mist produced by Vernal Falls, which will leave you refreshingly soaking wet. The trail continues up alongside Vernal Falls and then to Nevada Falls, before climbing to the top of this waterfall as well. From the top of Nevada Falls you can enjoy incredible views overlooking this section of the valley.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>From the top of Nevada Falls you can continue along the John Muir Trail, which offers gorgeous views of Nevada Falls set amongst the Liberty Cap and Mount Broderick formations. The John Muir Trail eventually loops back to the Mist Trail.</p>
            <p>This entire route is extremely scenic, with a round-trip hiking distance of roughly 6.4 miles (10.3 km) and an elevation gain of nearly 2,200 feet (670 m).</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Yosemite Valley 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8141915646"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Half Dome and Glacier Point Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Yosemite Valley from high above, seen from atop the famous Half Dome formation in Yosemite National Park"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Half-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Half Dome</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/petemccarthy/7304604864/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/petemccarthy/" rel="noopener noreferrer" target="_blank">
                                    Peter McCarthy</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view overlooking Yosemite Valley, Half Dome, Vernal Falls, and Nevada Falls from atop Glacier Point"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Glacier-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Glacier Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pjs42/26977455475/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pjs42/" rel="noopener noreferrer" target="_blank">
                                    Peter & Michelle S</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view overlooking Yosemite Valley, Half Dome, Vernal Falls, Nevada Falls, and beyond from atop Washburn Point"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Washburn-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Washburn Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/4756108284/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Yosemite Valley, Half Dome, and Nevada Falls from the Sentinel Dome near Glacier Point"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Sentinel-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sentinel Dome</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/58869428@N05/14460214766/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                                    Todd Petrie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Half Dome Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="half-dome"></a>
        <h2 class="left-heading destination-section-heading">Half Dome</h2>
        <p>The legendary trail to Half Dome passes Vernal and Nevada Falls before reaching the iconic natural <strong>Half Dome</strong> formation and scaling the top of it. This challenging trail has a round-trip hiking distance of roughly 14.8 miles (23.8 km) and over 5,150 feet (1,570 m) of elevation gain.</p>
        <p>Unfortunately the breathtaking Half Dome Trail can only be hiked with a permit, which must be applied for far in advance (usually months) and can be quite difficult to obtain.</p>
    </section>


    <!-- Glacier Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="glacier-point"></a>
        <h2 class="left-heading destination-section-heading">Glacier Point</h2>
        <p>After enjoying the valley, you can drive around up to <strong>Glacier Point</strong>, which sits nearly 3,200 feet (980 m) above the valley floor. From the top you can enjoy gorgeous views overlooking Half Dome and the surrounding valley, as well as Vernal and Nevada Falls (although from quite far away).</p>
        <h3>Washburn Point &amp; Sentinel Dome</h3>
        <p>Just before Glacier Point be sure to stop at <strong>Washburn Point</strong>, which provides stunning views over the Vernal and Nevada Falls/Half Dome section of the Yosemite Valley. Nearby you can take the 2.1 mile (3.4 km) round-trip trail to <strong>Sentinel Dome</strong> for magnificent views overlooking the Yosemite Falls part of the valley.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Yosemite Valley Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7803822530"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Yosemite Valley Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/skMyyQCCvaD2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/DJocZYAULRp">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Soda Springs Trail wooden bridge with vast forest and mountains in background, at Yosemite National Park's Tuolumne Meadows"
                        data-src="https://www.travelimager.com/images/california/California-Yosemite-National-Park-Soda-Springs-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/tuolumne-meadows-yosemite-national-park-attractions-guide">
                        Tuolumne Meadows,<br />Yosemite National Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wangjs/184527714/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wangjs/" rel="noopener noreferrer" target="_blank">
                            Jiashiang</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Hundreds of old abandoned wooden structures amongst the rolling hills of Bodie State Historic Park Ghost Town in Mono County"
                        data-src="https://www.travelimager.com/images/california/California-Mono-County-Bodie-Ghost-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/bodie-and-mono-county-attractions-guide">
                        Bodie &amp; Mono&nbsp;County
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Gorgeous blue-green-yellow waters of Nevada's Sand Harbor Beach along Lake Tahoe on the border of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Lake-Tahoe-Sand-Harbor.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lake-tahoe-attractions-guide">
                        Lake Tahoe
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/23155134@N06/30116857730/in/photolist-MTjLxL-a1cyae-oD7kfR-a1fpmW-a1cvpg-FTnLyg-a1cxsF-a1cuWR-a1fnws-oaGkKP-ka61GP-pcuews-rQK1GH-ryhK2B-ciKafU-rtNPRG-5Gru8m-5GncmX-5GruvY-aY5YU-5GrusA-ESH4Ue-oCpfcU-a1fq3Y-a1cvCV-a1fmkU-a1fmv5-a1focA-pS3w1x-k8y9ZP-XeuyGJ-5GncPe-k8A4Bw-ka7tqC-jAMc4-SjpZHn-ka5LTg-jAMhh-V2DGvP-5iXgT5-oaFocB-oGCj4H-MKCtcN-jAMBF-jAMp3-jAMx1-qAT1Xc-q9sjaN-pRWoeb-a1cwp8" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                            Don Graham</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Path leading up to Moro Rock with stunning views of the Sierra Nevada Mountains, located in Sequoia National Park"
                        data-src="https://travonga.com/wp-content/uploads/2018/12/California-Sequoia-National-Park-Moro-Rock.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/sequoia-and-kings-canyon-national-parks-attractions-guide">
                        Sequoia &amp; Kings&nbsp;Canyon National&nbsp;Parks
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/channone/16696308369/in/photolist-rroWMF-qLUQWS-rrgtbJ-rHQnnH-rHSnL4-qLSkHL-rHVNK6-rHK6zr-rFAaqs-rpvgrT-B6MTWs-Au24C7-B7ZkyV-AaXreA-viemQL-rHH1Ek-rpBgy4-rHVk4p-rHTWzD-rrs5Ei-Au26Pm-Au257J-rrn9Ss-rpvvqe-uCXUda-vAb9wp-vieiLw-rHQpDx-rHVr2B-rFChBY-rrssng-rHMBYj-rHMaDf-rHN1ea-rHSXQg-qLSQLq-rHMqwv-rrhFDW-rrirRL-rrhGbj-rFynES-rrgdhU-rHQHCH-qM3UTH-rHJeFu-rro59B-rrgaKG-rHPgXX-rHJ2aM-rHNLPg" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                            joevare</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sahara-like sand dunes known as the Mesquite Flat Sand Dunes surrounded by desert mountains in Death Valley National Park"
                        data-src="https://www.travelimager.com/images/california/California-Death-Valley-National-Park-Mesquite-Flat-Sand-Dunes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/death-valley-national-park-attractions-guide">
                        Death Valley National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/29198100@N00/5554374255/in/photolist-9sPBXn-dYyLiF-dMWRxZ-4yvwWS-ePotWv-dYEtib-bYT2Eu-4yvwXs-hr94z7-hracJk-rw25m5-okzRQf-rcNju4-ePotKe-kDqHeW-dJnSL3-kDp6kT-rw1xxa-7Lz8Qs-dJhBq6-rtPXNd-XTzj1w-dJhr3z-hraaqm-kDqJ2N-dJhALg-VXsaho-9sPzGt-ePougT-fuFmAG-9sSzW9-rtPRGW-kDqFbh-reEKCg-9Qj4WT-reEF3e-dJo4gN-9sSB77-dYEv59-Djayqo-rw1uTn-rw1sNa-rw1Bu8-rw1Y7b-rexb4W-pVzrTk-dYEtPN-rw7zTe-ePzTGA-rw1XSy/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/29198100@N00/" rel="noopener noreferrer" target="_blank">
                            Gabriel Millos</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Overlooking the beautiful Golden Gate Bridge near San Francisco's Fort Point spanning the entrance to the San Francisco Bay"
                        data-src="https://www.travelimager.com/images/california/California-San-Francisco-Golden-Gate-Bridge-Fort-Point-View-2.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/san-francisco-attractions-guide">
                        San Francisco
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/the-golden-gate-bridge-bridge-1956459/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                            Walkerssk</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    