<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Belgium's top destinations: Brussels, Bruges, Dinant, Namur, and Waterloo" />
    <meta name="attraction_guides" content="belgium" />
    <meta name="europe_destinations" content="belgium" />
    <meta name="destination_guides" content="belgium" />
    <meta property="og:title" content="Belgium Attraction Guides">
    <meta name="twitter:title" content="Belgium Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/belgium/belgium-attraction-guides">
    <title>Belgium Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Total Trip Length -->
    <h1>Belgium Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        <img class="destination-image"
                        alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square"
                        src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        Bruges
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        <img class="destination-image" 
                        alt="Colorful buildings, the Dinant Citadel, and Notre Dame Cathedral, all seen in one frame from a viewpoint along the Meuse River, southwest of the Charles de Gaulle Bridge in Dinant, Belgium"
                        src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Meuse-River-Southwest-Citadel-Notre-Dame-Viewpoint.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        Dinant, Namur, &amp; Waterloo
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            desiderata12</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>
    </section>

</div>

    