<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Medieval Hospital and Canals, Bruges, Belgium Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/belgium/Belgium-Bruges-Brugge-Fotoplaats-Bruges-Canal-Photo-Point-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Bruges, Belgium and plan the perfect trip with our savable Bruges Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="bruges_belgium" />
    <meta name="europe_attraction_guides" content="bruges_belgium" />
    <meta name="europe_destinations" content="bruges_belgium" />
    <meta name="europe_destination_guides" content="bruges_belgium" />
    <meta name="belgium_attraction_guides" content="bruges" />
    <meta name="belgium_destinations" content="bruges" />
    <meta name="belgium_destination_guides" content="bruges" />
    <meta name="google_maps_list" content="bruges" />
    <meta property="og:title" content="Bruges, Belgium Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/belgium/Belgium-Bruges-Brugge-Fotoplaats-Bruges-Canal-Photo-Point.jpg">
    <meta name="twitter:title" content="Bruges, Belgium Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/belgium/Belgium-Bruges-Brugge-Fotoplaats-Bruges-Canal-Photo-Point.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
    <title>Attractions Guide for Bruges, Belgium</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Bruges, Belgium<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#marktplatz">Marktplatz Square</a></div>
            <div><a href="#medieval-canals">Medieval Canals</a></div>
            <div><a href="#major-churches">Major Churches</a></div>
            <div><a href="#bonifacius-bridge">Bonifacius Bridge</a></div>
            <div><a href="#southern-bruges">Southern Bruges</a></div>
            <div><a href="#scenic-trail">Scenic Trail</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Bruges Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Bruges is a stunning city with countless medieval structures, best enjoyed by walking around and exploring. The large city center is the historic medieval area of Bruges, consisting of many islands created by many winding canals and rivers.</p>
    </section>


    <!-- Bruges Marktplatz and Medieval Canals Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square" 
                        src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Markt Square (North&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                                    Steven Gerner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Impressive monument and many tightly packed medieval buildings along Bruges's Markt Square"
                        src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-Northwest-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Markt Square (Northwest&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/brugge-markt-square-buildings-3626776/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Highly intricate facade of the medieval Provinciaal Hof building on Bruges's Markt Square"
                        src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-Provinciaal-Hof-Provincial-Court-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Provinciaal Hof</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/brugge-markt-square-buildings-3628821/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive medieval tower of the Belfry of Bruges, located along Markt Square" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-Belfry-of-Bruges-Tower-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belfry of Bruges</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wolfgangstaudt/2545785034/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Staudt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Highly embellished castle-like exterior of teh Stadsbestuur Bruges City Hall building"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-De-Burg-Square-Stadsbestuur-Brugge-Bruges-City-Hall-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stadsbestuur Bruges City&nbsp;Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bruges_Belgium_Town-hall-of-Brugge-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cccefalon" rel="noopener noreferrer" target="_blank">
                                    CEphoto, Uwe Aranas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Romanesque Chapel inside the famous Basilica of the Holy Blood in Bruges, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Basilica-of-the-Holy-Blood-Romanesque-Chapel-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of the Holy&nbsp;Blood</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Br%C3%BCgge_Basiliek_Heilig_Bloed_Innen_Langhaus_West_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Marktplatz Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="marktplatz"></a>
        <h2 class="left-heading destination-section-heading">Marktplatz Square</h2>
        <p>The most impressive medieval buildings are centered around the the picturesque <strong>Markt Market Square</strong> which is surrounded by charming and intricate medieval buildings, including the <strong>Provinciaal Hof</strong> (Provincial Court).</p>
        <p>Towering above the Market Square is the massive <strong>Belfry of Bruges</strong> tower. It's highly recommended to climb the 366 steps to the top of the tower for incredible views over the city. </p>
        <p>Just east of Markt Square is the majestic and highly embellished <strong>Bruges City Hall</strong> (or Stadsbestuur) which sits on the elegant De Burg Square.</p>
        <h3>Basilica of the Holy Blood</h3>
        <p>Adjacent to the City Hall is the beautiful 850 year old <strong>Basilica of the Holy Blood</strong> church. This basilica consists of a 12th century Romanesque chapel and a lovely 15th century gothic chapel. Famously this church also houses the Relic of the Precious Blood, a cloth said to be stained with the blood of Jesus Christ.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bruges 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8213217771"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Royal Palace and Parc du Cinquantenaire Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous viewpoint along the canals in Bruges with several rustic medieval buildings along the water and the Belfry of Bruges in the background"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Brugge-Fotoplaats-Bruges-Canal-Photo-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brugge Fotoplaats Bruges Photo&nbsp;Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/belfry-tower-bruges-canal-channel-2611575/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/pixel2013-2364555/" rel="noopener noreferrer" target="_blank">
                                    pixel2013</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night view looking down the still water of a wide canal, seen from the Wollestraat Bridge, with the massive lit up tower of the Church of Our Lady Bruges in the center and its perfect reflection seen in the water"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Wollestraat-Bridge-Church-of-Our-Lady-of-Bruges-Tower-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wollestraat Bridge Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/bruges-belgium-mirroring-1745363/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/B_kowsky-2854101/" rel="noopener noreferrer" target="_blank">
                                    B_kowsky</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the massive tower and medieval exterior of the Church of Our Lady Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Church-of-Our-Lady-Bruges.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Our Lady Bruges</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/church-notre-dame-bruges-1102796/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/davidlansac-140702/" rel="noopener noreferrer" target="_blank">
                                    davidlansac</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view of the interesting castle-like exterior of the Sint Salvatorskathedraal Cathedral in Bruges, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Sint-Salvatorskathedraal-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sint Salvatorskathedraal</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sint-Salvatorskathedraal.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Superchilum" rel="noopener noreferrer" target="_blank">
                                    Superchilum</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval Sint Janshospitaal building, a former hospital turned museum seen along a small canal in Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Sint-Janshospitaal-Hospital-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sint-Janshospitaal Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Wikimonuments-5_Oud_Sint_jans_hospitaal_Zuidgevel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Wikimonuments-5_Oud_Sint_jans_hospitaal_Zuidgevel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Kris Vlecken</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little medieval structure seen behind the tiny Bonifacius Bridge spanning a small canal in Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Bonifacius-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bonifacius Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bruges_Belgium_Bonifacius-Bridge-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cccefalon" rel="noopener noreferrer" target="_blank">
                                    CEphoto, Uwe Aranas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    

    <!-- Bruges Medieval Canals Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="medieval-canals"></a>
        <h2 class="left-heading destination-section-heading">Medieval Canals</h2>
        <p>Behind the City Hall and Basilica of the Holy Blood (to the south) is one of the city's most gorgeous canal viewpoints, the <strong>Brugge Fotoplaats Photo Point</strong>, which overlooks several impressive medieval buildings along the canals. Nearby you can take in amazing views of the Church of Our Lady Bruges's giant tower framed behind the canal on the <strong>Wollestraat Bridge</strong>, next to the Statue of Saint Joannes Nepomucenus.</p>
    </section>


    <!-- Major Churches and Medieval Hospital Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="major-churches"></a>
        <h2 class="left-heading destination-section-heading">Major Churches &amp; Medieval Hospital</h2>
        <p>To the south of Markt Square is the stunning gothic <strong>Church of Our Lady Bruges</strong>, which hosts the second largest brickwork tower in the world. This marvelous 13th century church also contains the Madonna & Child, a white marble sculpture created by Michelangelo. Just west of this church is another towering gothic church, the impressive 14th century <strong>Sint-Salvatorskathedraal</strong>.</p>
        <h3>Sint-Janshospitaal Medieval Hospital</h3>
        <p>Across from the Church of Our Lady Bruges is the 12th century <strong>Sint-Janshospitaal</strong>, a medieval hospital which now hosts the Hans Memling art museum as well as a medical museum.</p>
    </section>


    <!-- Bonifacius Bridge and Groeningmuseum< Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bonifacius-bridge"></a>
        <h2 class="left-heading destination-section-heading">Bonifacius Bridge</h2>
        <p>Behind the Church of Our Lady Bruges you can admire the lovely stone <strong>Bonifacius Bridge</strong> and the rustic homes lining the canal. A very popular activity in Bruges is to take a small boat ride along the medieval city's canals for a scenic sightseeing tour.</p>
        <h3>Groeningmuseum</h3>
        <p>Nearby the Bonifacius Bridge is the popular Groeningemuseum, which hosts a large collection of fine art, including a wide array of Flemish pieces.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bruges 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4317370641"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Mini Europe, Atomium, Churches, and Espace Leopold Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tiny castle called the Kasteel de la Faille seen along the water in Minnewaterpark in Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Minnewaterpark-Kasteel-de-la-Faille-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kasteel de la Faille (Minnewaterpark)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kasteel_de_la_Faille_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pedro_J_Pacheco" rel="noopener noreferrer" target="_blank">
                                    Pedro J Pacheco</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small medieval Sashuis house located atop a low bridge spanning the water in Minnewaterpark in Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Minnewaterpark-Sashuis-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sashuis House (Minnewaterpark)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Brugge_Sashuis_R01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MJJR" rel="noopener noreferrer" target="_blank">
                                    Marc Ryckaert</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval Powder Tower at the end of a long stone bridge spanning the water in Minnewaterpark in bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Minnewaterpark-Poertoren-Powder-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Powder Tower (Minnewaterpark)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:200722_Poertoren_Brugge.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GVR" rel="noopener noreferrer" target="_blank">
                                    Johan Bakker</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous flower gardens and trees with tiny streams running through the field, with the lovely white Beguinage Convent behind the flower field, in Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Begijnhuisje-Beguinage-Convent-Meadows.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Beguinage Convent</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Brugge_Begijnhof_R01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Brugge_Begijnhof_R01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Marc Ryckaert</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Kruispoort, a small medieval gate to the city of Bruges which has been well-preserved" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Kruispoort-Medieval-City-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kruispoort Medieval City&nbsp;Gate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kruispoort.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kruispoort.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Lou Salome</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sint Janshuismolen Windmill, one of a few historic preserved windmills along the water on the outer edge of the medeival old town of Bruges"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Sint-Janshuis-Janshuismolen-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sint Janshuismolen Windmill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vindm%C3%B8lle2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Vindm%C3%B8lle2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Olavfin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Scene along the parkland along a riverside trail that encircles the historic medieval center of the city of Bruges, Belgium" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Medieval-Bruges-Scenic-Outer-Edge-Trail-Northeast.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bruges Scenic Outer&#8209;Edge&nbsp;Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Brugge_Kruisvest_R01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MJJR" rel="noopener noreferrer" target="_blank">
                                    Marc Ryckaert</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Southern Bruges Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="southern-bruges"></a>
        <h2 class="left-heading destination-section-heading">Southern Bruges</h2>
        <h3>Halve Maan Brewery</h3>
        <p>Further south of Markt Square is the city's most popular brewery, the Huisbrouwerij De Halve Maan, a 16th century brewery which is famous for its 2 mile (3.2 km) long pipeline which travels out of the inner-city to transport beer to its bottling plant.</p>
        <h3>Minnewaterpark</h3>
        <p>Just south beyond the brewery is one of the most scenic outdoor areas of Bruges to explore, Minnewaterpark, which consists of wooded parkland alongside rivers and canals. Complimenting the natural scenery are many medieval structures, including the quaint <strong>Kasteel de la Faille</strong> castle, the <strong>Sashuis</strong> house which sits atop a bridge spanning the river, and the rounded <strong>Powder Tower</strong>.</p>
        <h3>Beguinage Convent</h3>
        <p>In the area around Minnewaterpark you'll also find the UNESCO listed <strong>Beguinage</strong> (or Begijnhuisje), a beautiful 13th century convent complex.</p>
    </section>


    <!-- Bruges Scenic Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="scenic-trail"></a>
        <h2 class="left-heading destination-section-heading">Scenic Medieval Bruges Outer&#8209;Edge Trail</h2>
        <p>It's possible to traverse the entire length of the medieval inner-city's outer boundary by walking along a trail. This extremely scenic trail passes through woodland along the canals and rivers, passing many medieval gates to the city such as <strong>Kruispoort</strong>. Near this gate on the northeastern part of the trail are a series of windmills along the water, including the <strong>Sint-Janshuis Mill</strong>.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The entire length of this route along the inner-city's edge is a loop of about 4.5 miles (7.2 km) total. About 80% of this walking route is along the water.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bruges Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8108334047"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Bruges Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/KnauAtvHUqG2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/pAtAY5mMdio">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Colorful buildings, the Dinant Citadel, and Notre Dame Cathedral, all seen in one frame from a viewpoint along the Meuse River, southwest of the Charles de Gaulle Bridge in Dinant, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Meuse-River-Southwest-Citadel-Notre-Dame-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        Dinant, Namur, &amp; Waterloo
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            desiderata12</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely colored windmills seen along the water in the Dutch countryside of Zaanse Schans, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Zaanse-Schans-Windmills.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        Greater Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachtehttps://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            cisko66</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Markthal marketplace exterior during the day in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Day.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        Rotterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Markthal_-_Rotterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachte" rel="noopener noreferrer" target="_blank">
                            Erik Zachte</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    