<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Grand Place Square and Kings House, Brussels, Belgium Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-and-Brothaus-Kings-House-Building-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Brussels, Belgium and plan the perfect trip with our savable Brussels Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="brussels_belgium" />
    <meta name="europe_attraction_guides" content="brussels_belgium" />
    <meta name="europe_destinations" content="brussels_belgium" />
    <meta name="europe_destination_guides" content="brussels_belgium" />
    <meta name="belgium_attraction_guides" content="brussels" />
    <meta name="belgium_destinations" content="brussels" />
    <meta name="belgium_destination_guides" content="brussels" />
    <meta name="google_maps_list" content="brussels" />
    <meta property="og:title" content="Brussels, Belgium Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-and-Brothaus-Kings-House-Building.jpg">
    <meta name="twitter:title" content="Brussels, Belgium Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-and-Brothaus-Kings-House-Building.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
    <title>Attractions Guide for Brussels, Belgium</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Brussels, Belgium<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#grand-place">Grand Place</a></div>
            <div><a href="#royal-palace">Royal Palace</a></div>
            <div><a href="#parc-du-cinquantenaire">Parc Cinquantenaire</a></div>
            <div><a href="#atomium">Atomium</a></div>
            <div><a href="#churches">Churches</a></div>
            <div><a href="#espace-leopold">Espace Leopold</a></div>
            <div><a href="#southwest-brussels">Southwest Brussels</a></div>
            <div><a href="#greater-brussels-attractions">Greater Brussels</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Brussels Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The capital city of Belgium is known for its stunning architecture representing various time periods from the medieval era to the neoclassical and present.</p>
    </section>


    <!-- Grand Place and Brussels City Hall Area Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massinve Grand Place Central Square" 
                        src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grand Place Central&nbsp;Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Francisco Conde Sanchez</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Extremely intricate Brussels City Hall building and other historic and highly complex structures amongst Brussels's Grand Place square"
                        src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Stadhuis-Hotel-de-Ville-City-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brussels City Hall (Grand&nbsp;Place)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2043-00091_stadhuis_van_brussel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:GVR" rel="noopener noreferrer" target="_blank">
                                    Johan Bakker</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Highly embellished and intricate exterior of the King's House building along the Grand Place Central Square of Brussels"
                        src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Brothaus-Kings-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">King's House (Grand&nbsp;Place)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bruxelles_Grand-Place_Brothaus_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Manneken Pis Fountain located in Brussels, Belgium" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Manneken-Pis-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Manneken Pis Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/115654243@N04/15298248861/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/115654243@N04/" rel="noopener noreferrer" target="_blank">
                                    Stephen Clarkson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Hallway inside the grand Royal Gallery of Saint Hubert shopping mall"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Galeries-Royales-Saint-Hubert-Royal-Gallery-Shopping-Arcade.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Gallery of Saint&nbsp;Hubert</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/galeries-royales-saint-hubert-1556562/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Walkerssk-1409366/" rel="noopener noreferrer" target="_blank">
                                    Walkerssk</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View over fine gardens and many historic buildings of Central Brussels seen from the top of the Mont des Arts hill"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Mont-des-Arts-Park-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mont des Arts</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/brussels-plaza-city-belgium-hdr-519965/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/JoaquinAranoa-292186/" rel="noopener noreferrer" target="_blank">
                                    Joaquin Aranoa</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Grand Place and Brussels City Hall Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="grand-place"></a>
        <h2 class="left-heading destination-section-heading">Grand Place &amp; Brussels City&nbsp;Hall</h2>
        <p>The UNESCO listed <strong>Grand Place Square</strong> is the city's most iconic sight and is surrounded by strikingly elaborate and opulent medieval buildings. Many of these buildings are highly embellished with intricate details including sculptures and gold. Brussels's Grand Place is regarded as one of the finest and most beautiful squares in Europe.</p>
        <p>Among the most impressive structures on Grand Place Square is the gorgeous <strong>Brussels City Hall</strong> and the extravagant <strong>King's House</strong> (now the Museum van de Stad Brussel). Be sure to also visit this square at night when all the buildings light up.</p>
        <p>Just southwest of Grand Place is the famous <strong>Manneken Pis</strong> fountain, which some may find inappropriate while others find it funny.</p>
        <p>Just northeast of Grand Place is the historic <strong>Royal Gallery of Saint Hubert</strong>, an elegant 19th century shopping mall featuring decadent arcade shopfronts covered by an arched glass and iron ceiling. This extraordinary mall is reminiscent of the famous Galleria Vittorio Emanuele II arcade mall in Milan, Italy.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Mont des Arts</h3>
            <p>Just east of Grand Place is the <strong>Mont des Arts</strong> (Hill of Arts), a sloped urban complex containing several impressive historic structures built around a park and gardens. The Mont des Arts is best known for its views overlooking the park and city, which you can enjoy from the top of the hill near the Whirling Ear fountain.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Brussels 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4968123245"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Royal Palace and Parc du Cinquantenaire Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the massive Royal Palace of Brussels, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Palais-Royal-Palace-of-Brussels.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Palace of Brussels</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/royal-palace-of-brussels-architecture-3597435/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large hallway containing many statues within the Brussels's Royal Museum of Fine Arts"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Royal-Museum-of-Fine-Arts-Interior-Main-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Museum of Fine&nbsp;Arts Belgium</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Main_Hall_of_the_Royal_Museum_of_Fine_Arts_in_Brussels,_seen_towards_the_entrance.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Szilas" rel="noopener noreferrer" target="_blank">
                                    Szilas</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grandiose and massive colonnade structure of the Parc du Cinquantenaire with a triumphal arch at its center, in Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Parc-du-Cinquantenaire-Triumphal-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parc du Cinquantenaire</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/belgium-brussels-cinquantenaire-park-3595338/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive room housing multiple levels of historic automobiles, inside the Parc du Cinquantenaire's Autoworld Museum in Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Parc-du-Cinquantenaire-Autoworld-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Autoworld Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Autoworld_002.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Varech" rel="noopener noreferrer" target="_blank">
                                    Varech</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Countless historic military planes seen within a massive room, hosued within the Parc du Cinquantenaire's Royal Museum of Military History in Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Parc-du-Cinquantenaire-Royal-Museum-of-the-Armed-Forces-and-Military-History-Interior-Hall-of-Air.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Museum of Military History</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hall_de_l%27air_ph1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hall_de_l%27air_ph1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    CMO76</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Royal Palace of Brussels Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="royal-palace"></a>
        <h2 class="left-heading destination-section-heading">Royal Palace of Brussels</h2>
        <p>Southeast of the Grand Place Square and Mont des Arts is the grandiose neoclassical <strong>Royal Palace of Brussels</strong>, an 18th century palace with opulent interiors. Unfortunately the palace is only available for tours from the end of July to the beginning of September, however the structure is still quite impressive when admired from outside.</p>
        <h3>Museums near the Royal Palace</h3>
        <p>Nearby the Royal Palace you'll find the <strong>Royal Museum of Fine Arts of Belgium</strong>, a lavish museum hosting a massive collection of fine art, mainly consisting of Flemish masterpieces and sculptures.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also nearby the Royal Museum and Royal Palace is the fascinating Musical Instruments Museum, displaying a large collection of historic instruments in a lovely art nouveau structure featuring an important historical collection housed in a lavish structure.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Parc du Cinquantenaire Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="parc-du-cinquantenaire"></a>
        <h2 class="left-heading destination-section-heading">Parc du Cinquantenaire</h2>
        <p>Among the most iconic and impressive sights in Brussels is the <strong>Parc du Cinquantenaire</strong>, a park which hosts a massive Triumphal Arch structure surrounded by grandiose colonnades. The entire structure is extremely opulent and also hosts a rooftop deck from which you can enjoy amazing views over the park and city.</p>
        <h3>Museums of the Parc du Cinquantenaire</h3>
        <p>The park also hosts several great museums, including the Art & History Museum displaying Belgian artifacts along with ancient Iranian and Egyptian artifacts. Behind this museum is the park's most popular museum, <strong>Autoworld</strong>, which hosts a wide array of classic vehicles including race cars, vintage cars, luxury vehicles, and much more.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also popular in the park is the <strong>Royal Museum of the Armed Forces & Military History</strong>, which hosts an outstanding collection of modern and historic military aircraft. This museum also contains the royal armory, as well as a massive collection of weaponry and military artifacts representing Belgium's long history.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Brussels 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8269892245"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Mini Europe, Atomium, Churches, and Espace Leopold Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Scale replicas of famous Italian monuments including the bell tower of Venice, Leaning Tower of Pisa, and Florence Cathedral seen at Brussels's Mini-Europe park, with the massive Atomium sculpture in the background"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Mini-Europe-Miniature-Monument-Park-Atomium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mini-Europe</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/mini-europe-miniature-park-3766226/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                                    dimitrisvetsikas1969</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Street leading down to the massive Atomium sculpture, a modern monument and iconic sight of Brussels whose size dwarves its surroundings"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Atomium-Sculpture.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Atomium Sculpture</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/atomium-heysel-park-brussels-959538/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/821292-821292/" rel="noopener noreferrer" target="_blank">
                                    821292</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant castle-like exterior of the Eglise Notre Dame de Laeken church of Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Eglise-Notre-Dame-de-Laeken-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eglise Notre-Dame de Laeken Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Br%C3%BCssel_Notre_Dame_de_Laeken_N_201508.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Br%C3%BCssel_Notre_Dame_de_Laeken_N_201508.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Karlunun</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the grand white Cathedral of St. Michael and St. Gudula in Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Cathedral-of-St-Michael-and-St-Gudula.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of St.&nbsp;Michael &amp; St.&nbsp;Gudula</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dungodung/11055804955" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dungodung/" rel="noopener noreferrer" target="_blank">
                                    Filip Maljkovic</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Striking gothic exterior of the Eglsie Notre Dame du Sablon Church in Brussels" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Notre-Dame-du-Sablon-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eglise Notre Dame du Sablon Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Brussels,_%C3%A9glise_Notre_Dame_du_Sablon_oeg2043-00070_foto7_2015-06-07_13.28.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Michielverbeek" rel="noopener noreferrer" target="_blank">
                                    Michielverbeek</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Atomium and Mini-Europe Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="atomium"></a>
        <h2 class="left-heading destination-section-heading">Atomium &amp; Mini-Europe</h2>
        <p>On the outskirts of Brussels is the popular <strong>Mini-Europe</strong>, a large park containing intricate scaled-down models of many famous European monuments and buildings.</p>
        <p>Adjacent to the Mini-Europe miniature theme park is the iconic <strong>Atomium</strong>, a massive stainless steel structure rising over 330 feet (100 m) tall which represents the structure of an iron crystal. The Atomium was built for the World Fair in Brussels in 1958 and is among the most famous sights in Belgium.</p>
    </section>


    <!-- Brussels Churches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="churches"></a>
        <h2 class="left-heading destination-section-heading">Churches of Brussels</h2>
        <p>Just southeast of Mini-Europe and the Atomium is a magnificent royal church, the <strong>Eglise Notre-Dame de Laeken</strong>. This towering church showcases a stunning and intricate neo-gothic style. Within the church is the Royal Crypt containing the tombs of the Belgian royal family.</p>
        <p>Nearby Grand Place and the Royal Gallery is the landmark <strong>St. Michael & St. Gudula Cathedral</strong>, a marvelous gothic medieval church with many beautiful stained glass windows.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Another noteworthy church is located near the Royal Palace, the beautiful 15th century <strong>Eglise Notre Dame du Sablon</strong>, an ornate gothic church with a striking interior.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Brussels 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3655041575"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Southwestern Brussels and Greater Brussels Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive buildings of the Espace Leopold, the capital of the European Union's parliament, in Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Espace-Leopold-European-Parliament-Complex.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Espace Leopold European&nbsp;Parliament</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Euparlamentet.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Oxygenic" rel="noopener noreferrer" target="_blank">
                                    Oscar Franzen</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Dinosaur skeleton seen close-up inside of the Brussels Museum of Natural Sciences"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Museum-of-Natural-Sciences-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum of Natural&nbsp;Sciences</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Quartier_Europ%C3%A9en,_Bruxelles,_Belgium_-_panoramio_(5).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Quartier_Europ%C3%A9en,_Bruxelles,_Belgium_-_panoramio_(5).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Istvan Vizi</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Castle-like Hallepoort, an impressive medieval gate tower to the city of Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Porte-de-Hal-Hallepoort-Halle-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Halle Gate (Hallepoort)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/129231073@N06/23484048631/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/129231073@N06/" rel="noopener noreferrer" target="_blank">
                                    Fred Romero</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grandiose stair hall and columns inside the Palais de Justice Courthouse of Brussels"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Palais-de-Justice-Courthouse-Palace-Interior-Staircase.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palais de Justice Courthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palais_Justice,_inside_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Palais_Justice,_inside_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Uppploader</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Tall grassty conical hill at Waterloo topped with a giant Lion statue, known as the Lion's Mound, in Waterloo near Brussels" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Greater-Brussels-Waterloo-Lions-Mound-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lion's Mound (Waterloo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:0_Braine-l%27Alleud_051012_(1).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Pol_GRANDMONT" rel="noopener noreferrer" target="_blank">
                                    Jean-Pol Grandmont</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Interior hall with historic costumes from soldiers who fought at Waterloo, within the Memorial 1815 Museum in Waterloo near Brussels" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Greater-Brussels-Waterloo-Musee-Memorial-1815-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Memorial 1815 Museum (Waterloo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mont-Saint-Jean_M%C3%A9morial_1815_3-10-2015_12-13-22.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Paul_Hermans" rel="noopener noreferrer" target="_blank">
                                    Paul Hermans</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Aerial view of the small Gaasbeek Castle with its partial moat and gardens, in the suburb of Lennik outside Brussels" 
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Greater-Brussels-Lennik-Kasteel-van-Gaasbeek-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gaasbeek Castle (Lennik)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Castle_of_Gaasbeek_aerial_photo_B.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Wouterhagens" rel="noopener noreferrer" target="_blank">
                                    Wouter Hagens</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Espace Leopold Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="espace-leopold"></a>
        <h2 class="left-heading destination-section-heading">Espace Leopold</h2>
        <p>Between the Parc du Cinquantenaire and Grand Place is <strong>Espace Leopold</strong>, a massive futuristic complex housing the legislative chamber of the European Union. You can tour the European Parliament buildings if you like.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Nearby Espace Leopold you'll find the city's striking <strong>Museum of Natural Sciences</strong> hosting visually stunning exhibits, most notably its dinosaur fossils and preserved taxidermic displays.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Southwestern Brussels Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="southwest-brussels"></a>
        <h2 class="left-heading destination-section-heading">Southwestern Brussels</h2>
        <h3>Museum of the Geuze Brewery</h3>
        <p>In the southwestern portion of the city center you can visit the Brussels Museum of the Geuze, a popular brewery founded in 1900 which also serves as a living museum of the historic brewing process.and museum.</p>
        <h3>Halle Medieval Gate</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also in this area is the majestic castle-like <strong>Halle Gate</strong>, a towering 14th century gate to the medieval city. Within the tower you'll find a small museum of historical objects as well as a rooftop offering striking views over the city.</p>
            <h3>Palais de Justice</h3>
            <p>For even better far-reaching views over Brussels you can visit the massive and imposing <strong>Palais de Justice</strong>, an imposing neoclassical courthouse with astonishingly opulent interiors. This courthouse hosts a rooftop observation deck which offers amazing views over the city.</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>


    <!-- Greater Brussels Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-brussels-attractions"></a>
        <h2 class="left-heading destination-section-heading">Greater Brussels</h2>
        <h3>Waterloo</h3>
        <p>To the south of Brussels near the town of Waterloo you'll find the <strong>Lion's Mound</strong>, a massive conic hill topped with an impressive lion statue. The Lion's Mound commemorates the early 19th century Battle of Waterloo in which Napoleon's army was defeated, which marked the end of the Napoleonic Wars. From atop the mound you can enjoy excellent views over the countryside.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Below the mound is the underground <strong>Memorial 1815 Museum</strong>, which contains excellent exhibits related to the battle. Also below the hill is a vast 360 degree mural painted on the wall of a large round building (the Panorama of the Battle of Waterloo) which depicts the battle scene.</p>
            <p>You can reach the mound and museum easily from Central Brussels via public transportation (50 minutes) or car (30 minutes).</p>
            <h3>Gaasbeek Castle</h3>
            <p>Just west of Brussels near the suburb of Lennik is the grand <strong>Kastel van Gaasbeek</strong>, a 16th century brickwork castle. Within the castle's interiors you'll find elaborately decorated and furnished medieval rooms you can tour. The castle is surrounded by ponds, woodlands, and quaint gardens which provide a relaxing atmosphere.</p>
            <p>This castle can be reached easily via public transportation (45 minutes) or car (30 minutes) from Central Brussels.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Brussels Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6956810571"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Brussels Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/t8tWWPaA5rK2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/m9bM79VBncR2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        Bruges
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Colorful buildings, the Dinant Citadel, and Notre Dame Cathedral, all seen in one frame from a viewpoint along the Meuse River, southwest of the Charles de Gaulle Bridge in Dinant, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Meuse-River-Southwest-Citadel-Notre-Dame-Viewpoint.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
                        Dinant, Namur, &amp; Waterloo
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            desiderata12</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely colored windmills seen along the water in the Dutch countryside of Zaanse Schans, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Zaanse-Schans-Windmills.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        Greater Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachtehttps://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            cisko66</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Markthal marketplace exterior during the day in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Day.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        Rotterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Markthal_-_Rotterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachte" rel="noopener noreferrer" target="_blank">
                            Erik Zachte</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    