<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions in Dinant and Namur, Belgium and plan the perfect trip with our savable Southeastern Belgium Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="dinant_belgium" />
    <meta name="attraction_guides" content="namur_belgium" />
    <meta name="europe_attraction_guides" content="dinant_belgium" />
    <meta name="europe_attraction_guides" content="namur_belgium" />
    <meta name="europe_destinations" content="dinant_belgium" />
    <meta name="europe_destinations" content="namur_belgium" />
    <meta name="europe_destination_guides" content="dinant_belgium" />
    <meta name="europe_destination_guides" content="namur_belgium" />
    <meta name="belgium_attraction_guides" content="dinant" />
    <meta name="belgium_attraction_guides" content="namur" />
    <meta name="belgium_destinations" content="dinant" />
    <meta name="belgium_destinations" content="namur" />
    <meta name="belgium_destination_guides" content="dinant" />
    <meta name="belgium_destination_guides" content="namur" />
    <meta name="google_maps_list" content="dinant" />
    <meta name="google_maps_list" content="namur" />
    <meta property="og:title" content="Dinant & Namur, Belgium Attractions Guide">
    <meta name="twitter:title" content="Dinant & Namur, Belgium Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/europe/belgium/dinant-namur-and-waterloo-attractions-guide">
    <title>Attractions Guide for Dinant, Namur, & Waterloo, Southeastern Belgium</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Dinant, Namur, &amp; Waterloo, Southeastern Belgium<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#waterloo">Waterloo</a></div>
            <div><a href="#villers-abbey">Villers Abbey</a></div>
            <div><a href="#namur">Namur</a></div>
            <div><a href="#dinant">Dinant</a></div>
            <div><a href="#castles">Castles</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Southeastern Belgium Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following sights are listed in order along a recommended route to explore the highlights of Southeastern Belgium, especially the cities of Dinant, Namur, and Waterloo, beginning near Brussels.</p>
    </section>


    <!-- Waterloo to Namur Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Tall grassty conical hill at Waterloo topped with a giant Lion statue, known as the Lion's Mound, in Waterloo near Brussels" 
                        src="https://www.travelimager.com/images/belgium/Belgium-Greater-Brussels-Waterloo-Lions-Mound-Memorial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lion's Mound (Waterloo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:0_Braine-l%27Alleud_051012_(1).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Pol_GRANDMONT" rel="noopener noreferrer" target="_blank">
                                    Jean-Pol Grandmont</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Interior hall with historic costumes from soldiers who fought at Waterloo, within the Memorial 1815 Museum in Waterloo near Brussels" 
                        src="https://www.travelimager.com/images/belgium/Belgium-Greater-Brussels-Waterloo-Musee-Memorial-1815-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Memorial 1815 Museum (Waterloo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mont-Saint-Jean_M%C3%A9morial_1815_3-10-2015_12-13-22.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Paul_Hermans" rel="noopener noreferrer" target="_blank">
                                    Paul Hermans</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely stone ruins of the historic Villers Abbey outside of Brussels, Belgium"
                        src="https://www.travelimager.com/images/belgium/Belgium-Greater-Brussels-Villers-la-Ville-Abbaye-de-Villers-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Villers Abbey Ruins (Villers&#8209;la&#8209;Ville)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Abbaye_-_Villers-la-Ville_-_20.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:EmDee" rel="noopener noreferrer" target="_blank">
                                    EmDee</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of the heavily fortified hilltop Citadel of Namur, lcoated at the confluence of two rivers in Southeastern Blegium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Namur-Citadelle-of-Namur-Citadel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Citadel of Namur</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Citadelle%2Bnamourette16-9.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Citadelle%2Bnamourette16-9.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    NEW - Namur</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Heavily fortified hilltop Citadel of Namur seen behind the Pont de Jambes Bridge across a river in Southeastern Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Namur-Pont-de-Jambes-Bridge-Citadel-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pont de Jambes Bridge (Namur)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:01-Namur-290305_(3)_JPG.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Pol_GRANDMONT" rel="noopener noreferrer" target="_blank">
                                    Jean-Pol Grandmont</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Waterloo, Belgium Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="waterloo"></a>
        <h2 class="left-heading destination-section-heading">Waterloo, Belgium</h2>
        <p>You might begin by visiting the <strong>Lion's Mound</strong> in Waterloo, a massive conic hill topped with an impressive lion statue. The Lion's Mound commemorates the early 19th century Battle of Waterloo in which Napoleon's army was defeated, which marked the end of the Napoleonic Wars. From atop the mound you can enjoy excellent views over the countryside.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Below the mound is the underground <strong>Memorial 1815 Museum</strong>, which contains excellent exhibits related to the battle. Also below the hill is a vast 360 degree mural painted on the wall of a large round building (the Panorama of the Battle of Waterloo) which depicts the battle scene.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Villers Abbey Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="villers-abbey"></a>
        <h2 class="left-heading destination-section-heading">Villers Abbey</h2>
        <p>Continue southeast to the nearby ruins of the 12th century <strong>Villers Abbey</strong>, a massive Cisterian abbey complex. These stunning ruins and gardens are an excellent place to explore.</p>
    </section>


    <!-- Namur, Belgium Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="namur"></a>
        <h2 class="left-heading destination-section-heading">Namur, Belgium</h2>
        <p>Continue to the lovely riverside city of Namur, which is the capital of Wallonia.</p>
        <p>At the confluence of two rivers atop a tall hill overlooking the city is the striking <strong>Citadel of Namur</strong>, a large 10th century fortress surrounded by imposing multi-leveled walls. From the top of the citadel you can enjoy amazing views over the city and rivers below. The citadel also features a museum and interesting underground tours that you can book.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Perhaps the best place to admire the citadel is from across the <strong>Pont de Jambes</strong> bridge, just below the eastern side of the citadel.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Dinant Namur 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7769546403"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Dinant and Southeastern Belgium Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning golden hour view of the Notre Dame and other colorful buildings along the river, seen from the side of the Charles de Gaulle Bridge in Dinant, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Charles-de-Gaulle-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Charles de Gaulle Bridge View (Dinant)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jiuguangw/9316877516/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jiuguangw/" rel="noopener noreferrer" target="_blank">
                                    Jiuguang Wang</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overcast day in Dinant viewing the Notre Dame Cathedral close-up from the Charles de Gaulle Bridge in Southeastern Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Collegiale-Notre-Dame-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Notre Dame Cathedral of Dinant</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dinant_Maas_18.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fortified walls of the hilltop Dinant Citadel towering above the Notre Dame and other buildings of Dinant, seen from across the Meuse River"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Citadelle-de-Dinant-Citadel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dinant Citadel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre-Dame_de_Dinant,_BE_(DSC_0167).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Trougnouf" rel="noopener noreferrer" target="_blank">
                                    Trougnouf</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful buildings, the Dinant Citadel, and Notre Dame Cathedral, all seen in one frame from a viewpoint along the Meuse River, southwest of the Charles de Gaulle Bridge in Dinant, Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Southeastern-Belgium-Dinant-Meuse-River-Southwest-Citadel-Notre-Dame-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Southwest Meuse River View (Dinant)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Notre_Dame_de_Dinant_and_Citadel.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    desiderata12</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small fountain in front of the petite Modave Castle in Southeastern Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Greater-Liege-Modave-Chateau-de-Modave-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Modave Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:9_Ch%C3%A2teau_de_Modave.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:9_Ch%C3%A2teau_de_Modave.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Q. Keysers</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little Chateau de Jehay Castle surrounded by a pond in Southeastern Belgium"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Greater-Liege-Chateau-de-Jehay-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chateau de Jehay Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Jehay_ch%C3%A2teau_Jehay-Bodegn%C3%A9e_61003-CLT-0008-01--IMG_084-MD.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Jehay_ch%C3%A2teau_Jehay-Bodegn%C3%A9e_61003-CLT-0008-01--IMG_084-MD.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    F.E. de Wasseige</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Dinant, Belgium Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dinant"></a>
        <h2 class="left-heading destination-section-heading">Dinant, Belgium</h2>
        <p>Now continue to the town of Dinant, which is located along both sides of the Meuse River within a shallow canyon. From the <strong>Charles de Gaulle Bridge</strong> which spans the river you can enjoy breathtaking panoramic views of the many elegant historic buildings which line both sides of the river.</p>
        <p>Among the city's most iconic sights is the 13th century <strong>Notre Dame Cathedral of Dinant</strong>, a gothic cathedral known for its stunning pear-shaped bell tower. Be sure to see the church's impressive interior as well.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Dinant Citadel</h3>
            <p>Just behind the Notre Dame church is a tall staircase leading to the clifftop <strong>Dinant Citadel</strong>, which sits high above the city. Alternatively you can reach the citadel via cable car. The current citadel atop the hill was constructed in the early 19th century, however this site has been fortified since the 11th century.</p>
            <p>Inside the Dinant Citadel you'll find a museum with displays on medieval life, historic weaponry, a dungeon, tunnels, and more. The main reason to visit the citadel however is in order to enjoy the gorgeous views over Dinant from high above.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Southeastern Belgium Castles Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="castles"></a>
        <h2 class="left-heading destination-section-heading">Castles</h2>
        <h3>Modave Castle</h3>
        <p>If you still have time left, you might consider visiting one or two more castles, including the <strong>Modave Castle</strong>. This elegant baroque large chateau contains luxurious historically furnished interiors and is surrounded by parkland.</p>
        <h3>Chateau de Jehay</h3>
        <p>A bit north of the Modave Castle is the <strong>Chateau de Jehay</strong>, a picturesque brick castle which sits on its own tiny island surrounded by a moat. This castle is only open for visitors from April through October and contains lavish furnishings as well as medieval armor and tapestries. The grounds of the castle also hosts beautiful gardens with many statues.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Dinant Namur Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3004288970"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Southeastern Belgium Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/qyqNpA3GugC2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/gsopqMJ7Adr">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        Bruges
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely view of the historic buildings along the river which runs through the Grund District, an urbanized canyon below the city center of Luxembourg City"
                        data-src="https://www.travelimager.com/images/luxembourg/Luxembourg-Luxembourg-City-Grund-District-Alzette-River.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/luxembourg-city-attractions-guide">
                        Luxembourg City, Luxembourg
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wolfgangstaudt/2273767071" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wolfgangstaudt/" rel="noopener noreferrer" target="_blank">
                            Wolfgang Staudt</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely colored windmills seen along the water in the Dutch countryside of Zaanse Schans, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Zaanse-Schans-Windmills.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        Greater Amsterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachtehttps://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            cisko66</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Markthal marketplace exterior during the day in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Day.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        Rotterdam, Netherlands
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Markthal_-_Rotterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachte" rel="noopener noreferrer" target="_blank">
                            Erik Zachte</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    