<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Snowy winter at Multnomah Falls waterfall along the Columbia River Gorge, Oregon Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Lower-Multnomah-Falls-and-Bridge-Winter-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and waterfalls along the Columbia River Gorge, Oregon and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="columbia_river_gorge_waterfalls_oregon" />
    <meta name="usa_attraction_guides" content="columbia_river_gorge_waterfalls_oregon" />
    <meta name="usa_destinations" content="columbia_river_gorge_waterfalls_oregon" />
    <meta name="usa_destination_guides" content="columbia_river_gorge_waterfalls_oregon" />
    <meta name="oregon_attraction_guides" content="columbia_river_gorge_waterfalls" />
    <meta name="oregon_destinations" content="columbia_river_gorge_waterfalls" />
    <meta name="oregon_destination_guides" content="columbia_river_gorge_waterfalls" />
    <meta name="google_maps_list" content="columbia_river_gorge_waterfalls" />
    <meta property="og:title" content="Columbia River Gorge Waterfalls, Oregon Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Lower-Multnomah-Falls-and-Bridge-Winter.jpg">
    <meta name="twitter:title" content="Columbia River Gorge Waterfalls, Oregon Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Lower-Multnomah-Falls-and-Bridge-Winter.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
    <title>Attractions Guide for Columbia River Gorge Waterfalls, Oregon</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Columbia River Gorge Waterfalls, Oregon<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#crown-point-vista">Crown Point Vista</a></div>
            <div><a href="#latourell-falls">Latourell Falls</a></div>
            <div><a href="#wahkeena-falls">Wahkeena Falls</a></div>
            <div><a href="#multnomah-falls">Multnomah Falls</a></div>
            <div><a href="#oneonta-gorge">Oneonta Gorge</a></div>
            <div><a href="#horsetail-falls">Horsetail Falls</a></div>
            <div><a href="#eagle-creek">Eagle Creek</a></div>
            <div><a href="#spirit-falls">Spirit Falls</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Columbia River Gorge Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>East of Portland is the extremely scenic Columbia River Gorge area, where you'll find many stunning massive waterfalls, including the famous Multnomah Falls.</p>
        <p>The Columbia River Gorge separates the state of Washington on the northern side, and Oregon on the southern side of the river. On the Oregon side of the river, most of the waterfalls along the gorge are connected via the Historic Columbia River Highway.</p>
        <p>The following attractions are listed in order heading eastwards along the Columbia River Gorge beginning near Portland. If you're coming from the north or west, such as from Mt. Rainier or My. St. Helens, you can follow these attractions in reverse order towards Portland.</p>
    </section>


    <!-- Crown Point Vista House and Latourell Falls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking the Columbia River Gorge seen from the Crown Point Vista House in Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Crown-Point-Vista-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crown Point Vista House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/apbutterfield/7673977026/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/apbutterfield/" rel="noopener noreferrer" target="_blank">
                                    Alex Butterfield</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of Latourell Falls behind lush greenery and small wooden bridge located along the Columbia River Gorge" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Latourell-Falls-and-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Latourell Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/theknowlesgallery/6890946034/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/theknowlesgallery/" rel="noopener noreferrer" target="_blank">
                                    Charles Knowles</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning light flow of Upper Latourell Falls along Oregon's Columbia River Gorge"
                        src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Upper-Latourell-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Latourell Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/31246066@N04/6252429951/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                                    Ian Sane</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Two-tiered Bridal Viel Falls surroudned by dense forests along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Bridal-Veil-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bridal Veil Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gcwest/3645812570/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gcwest/" rel="noopener noreferrer" target="_blank">
                                    Jim Bahn</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Crown Point Vista House Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="crown-point-vista"></a>
        <h2 class="left-heading destination-section-heading">Crown Point Vista House</h2>
        <p>Driving east along the Columbia River Gorge, the first attraction you'll encounter is the <strong>Crown Point State Scenic Corridor Vista House</strong>, which offers fantastic views over the river gorge from high above.</p>
    </section>


    <!-- Latourell Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="latourell-falls"></a>
        <h2 class="left-heading destination-section-heading">Latourell Falls</h2>
        <p>Nearby Crown Point is the first major waterfall of the gorge, the stunning <strong>Latourell Falls</strong>, which can be seen with a very short walk. From Latourell Falls you might consider the steep hike up to see the mesmerizing <strong>Upper Latourell Falls</strong>, which can be reached via a 1.6 mile (2.6 km) round-trip trail from the parking lot.</p>
        <h3>Bridal Veil Falls</h3>
        <p>A bit further up the highway from Latourell Falls you can stop to see the striking <strong>Bridal Veil Falls</strong>, which can be easily reached via a 0.5 mile (0.8 km) round-trip trail.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Columbia River Gorge 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7009809137"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Wahkeena Falls and Multnomah Falls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the multiple levels of Wahkeena Falls flowing through a gorge-like canyon along the Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Wahkeena-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wahkeena Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39908901@N06/35543386113" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39908901@N06/" rel="noopener noreferrer" target="_blank">
                                    m01229</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Fairy Falls flowing over many tiers of rock surrounded by green moss seen along the Wahkeena Trail"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Wahkeena-Trail-Fairy-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairy Falls (Wahkeena&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forestservicenw/24834172420/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forestservicenw/" rel="noopener noreferrer" target="_blank">
                                    US Forest Service Pacific NW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Multnomah Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                                    AirHaake</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lower Multnomah Falls and bridge surrounded by winter scenery along the Columbia River Gorge of Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Lower-Multnomah-Falls-and-Bridge-Winter.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Multnomah Falls (Winter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/multnomah-falls-oregon-landmark-1899890/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Wiesendanger Falls surrounded by lush forests along Larch Mountain Trail near Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls-Trail-Wiesendanger-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wiesendanger Falls (Multnomah&nbsp;Falls&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/31246066@N04/10251806855/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                                    Ian Sane</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Wahkeena Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="wahkeena-falls"></a>
        <h2 class="left-heading destination-section-heading">Wahkeena Falls</h2>
        <p>Further east along the highway you'll find <strong>Wahkeena Falls</strong>, a marvelous two-drop waterfall. If you'd like, you can hike up the hill past Wahkeena Falls to the mystifying <strong>Fairy Falls</strong>. To reach Fairy Falls it's about 1.7 miles (2.7 km) round-trip from the parking lot.</p>
    </section>


    <!-- Multnomah Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="multnomah-falls"></a>
        <h2 class="left-heading destination-section-heading">Multnomah Falls</h2>
        <p>Nearby Wahkeena Falls is the most iconic waterfall in Oregon, the majestic towering <strong>Multnomah Falls</strong>, which is about 620 feet (190 m) tall. The best view of Multnomah Falls is from below, however you can also hike up to the bridge to that spans over the lower portion of the waterfall.</p>
        <p>Continue beyond the bridge up the pathway from Multnomah Falls to see more waterfalls, including Dutchman Falls and <strong>Wiesendanger Falls</strong>, the latter requiring a hike of about 2.8 miles (4.5 km) round-trip to reach from the Multnomah Falls Lodge. You can add an additional 0.4 miles (0.6 km) round-trip to see the nearby Ecola Falls.</p>
        <p>If you'd like, you can continue beyond Ecola Falls and connect with the Wahkeena Trail #420 in order to form a loop which passes Fairy Falls and Wahkeena Falls. This route featuring many waterfalls is approximately 4 miles (6.4 km) round-trip.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Columbia River Gorge 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8338368523"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Oneonta Gorge, Horsetail Falls, Eagle Creek, and Spirit Falls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Green mossy canyon walls of the Oneonta Gorge leading to skinny Upper Oneonta Falls along Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Oneonta-Gorge-Upper-Oneonta-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Oneonta Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lotsasmilesphoto/22305221318/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lotsasmilesphoto/" rel="noopener noreferrer" target="_blank">
                                    LotsaSmiles Photography</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Three side-by-side waterfalls of Triple Falls in the Oneonta Gorge along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Oneonta-Gorge-Triple-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Triple Falls (Oneonta&nbsp;Gorge)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Triple_Falls_Oregon.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Triple_Falls_Oregon.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Rocketstove</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tall skinny waterfall of Horsetail Falls located along the Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Horsetail-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Horsetail Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/denisemattox/7633144974/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/denisemattox/" rel="noopener noreferrer" target="_blank">
                                    Denise Mattox</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful slanted waterfall of Ponytail Falls located near Horsetail Falls along Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Ponytail-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponytail Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jonomueller/5882235249" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jonomueller/" rel="noopener noreferrer" target="_blank">
                                    Jonathan Mueller</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Punch Bowl Falls along Eagle Creek surrounded by lush green cliffs along Columbia River Gorge area"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Eagle-Creek-Punch-Bowl-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Punch Bowl Falls (Eagle&nbsp;Creek)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/26683203@N00/9200852915/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/26683203@N00/" rel="noopener noreferrer" target="_blank">
                                    Alan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant light blue waters of the picturesque Spirit Falls located north of the Columbia River near Cook, Washington"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Spirit-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spirit Falls (Cook,&nbsp;Washington)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/39581292304/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Oneonta Gorge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="oneonta-gorge"></a>
        <h2 class="left-heading destination-section-heading">Oneonta Gorge</h2>
        <p>Further along the highway is the incredible Oneonta Gorge Trail which follows along a picturesque lush gorge past several amazing waterfalls, including <strong>Upper Oneonta Falls</strong>, as well as the stunning <strong>Triple Falls</strong>, a rare triple waterfall. The round-trip distance for hiking this gorge is approximately 3 miles (4.8 km) if you turn back at Triple Falls (the fourth waterfall in the gorge).</p>
        <p>Be sure to bring waterproof hiking boots or water shoes for this strikingly scenic gorge hike as you'll be walking through water for a significant portion of the trail.</p>
    </section>


    <!-- Horsetail Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="horsetail-falls"></a>
        <h2 class="left-heading destination-section-heading">Horsetail Falls</h2>
        <p>Very close-by the Oneonta Gorge you can see two beautiful waterfalls, <strong>Horsetail Falls</strong> and <strong>Ponytail Falls</strong>, via a 1 mile (1.6 km) round-trip trail. Alternatively it's possible to see these waterfalls along your Oneonta Gorge hike by adding on about 1.8 miles (2.9 km) round-trip concluding at the Oneonta Gorge Trailhead.</p>
    </section>



    <!-- Eagle Creek Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eagle-creek"></a>
        <h2 class="left-heading destination-section-heading">Eagle Creek</h2>
        <p>Another popular gorge hike which also requires waterproof hiking boots is the scenic Eagle Creek Trail, which hosts several spectacular waterfalls as well as a swimming hole. This trail typically ends at the beautiful <strong>Punchbowl Falls</strong> and requires a round-trip hiking distance of about 4.7 miles (7.6 km).</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>If you have more time, you can hike this trail along the creek extremely far back into the canyon passing many more waterfalls, including the stunning Tunnel Falls and Seven Mile Falls, which is located seven miles deep into the canyon along the creek.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Spirit Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="spirit-falls"></a>
        <h2 class="left-heading destination-section-heading">Spirit Falls</h2>
        <p>If you cross the Columbia River to Washington and continue east along the river you can see one of the most gorgeous waterfalls in Washington, which most people don't even know exists. This waterfall is <strong>Spirit Falls</strong>, and the 0.8 mile (1.3 km) round-trip trail to reach the falls is short but extremely challenging and steep. The hike is not technically along a trail, but more of a well-marked and clearly defined route down the canyon.</p>
        <p>Spirt Falls is a vibrant bright light blue color and is surrounded by lush forests. If you're ready for a technical and challenging hike to see a breathtaking waterfall, then Spirit Falls is definitely worth the effort to see.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Columbia River Gorge Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4486042980"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Columbia River Gorge Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/FXij6BCkq6B2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/1egZBvCEuCB2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        Portland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                            Jeff Gunn</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Vast fields below massive Mount St. Helens that were devastated by the 1980 eruption, seen from Johnston Ridge Observatory"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Johnson-Ridge-Observatory.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                       Mount St.&nbsp;Helens National Monument, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/raybouk/14718263011/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                            Ray Bouknight</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls-300x225.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        Silver Falls State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                            Ian Sane</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                        Northern Oregon Coast &amp; Cannon&nbsp;Beach
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/beach-ocean-landscape-sea-water-2737460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jbwilder75-4756122/" rel="noopener noreferrer" target="_blank">
                            jbwilder</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the river winding through the tall cliffs of Smith Rock State Park along Misery Ridge in Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Misery-Ridge-to-Summit-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        Bend
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/smith-rock-oregon-mountain-adventure-2114673/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheCADguy-4444606/" rel="noopener noreferrer" target="_blank">
                            TheCADguy</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of the Sisters Mountains behind black volcanic desolate landscape seen atop the Dee Wright Observatory near Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Dee-Wright-Observatory.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                        Williamette National&nbsp;Forest
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/131420410@N05/36451605974/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                            Lessa Clayton</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                        <img class="destination-image" 
                        alt="Massive Mount Rainier towering above the dense forests with its perfect reflection seen in Reflection Lake in Washington"
                        src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Reflection-Lake.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                        Mount Rainier National Park, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/abhinaba/9530073620/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                            Abhinaba Basu</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    