<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking Wizard Island and the rounded rim of Crater Lake National Park, Oregon Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-and-Rim-Overlook-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Crater Lake National Park, Oregon + Umpqua Waterfalls, and plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="crater_lake_oregon" />
    <meta name="usa_attraction_guides" content="crater_lake_oregon" />
    <meta name="usa_destinations" content="crater_lake_oregon" />
    <meta name="usa_destination_guides" content="crater_lake_oregon" />
    <meta name="oregon_attraction_guides" content="crater_lake_national_park" />
    <meta name="oregon_attraction_guides" content="umpqua_national_forest_waterfalls" />
    <meta name="oregon_destinations" content="crater_lake_national_park" />
    <meta name="oregon_destinations" content="umpqua_national_forest_waterfalls" />
    <meta name="oregon_destination_guides" content="crater_lake_national_park" />
    <meta name="oregon_destination_guides" content="umpqua_national_forest_waterfalls" />
    <meta name="national_park_attraction_guides" content="crater_lake" />
    <meta name="google_maps_list" content="crater_lake_national_park" />
    <meta name="google_maps_list" content="umpqua_national_forest_waterfalls" />
    <meta property="og:title" content="Crater Lake National Park, Oregon Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-and-Rim-Overlook.jpg">
    <meta name="twitter:title" content="Crater Lake National Park, Oregon Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-and-Rim-Overlook.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
    <title>Attractions Guide for Crater Lake National Park, Oregon</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Crater Lake National&nbsp;Park, Oregon<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#southern-rim">Southern Rim</a></div>
            <div><a href="#western-rim">Western Rim</a></div>
            <div><a href="#northern-rim">Northern Rim</a></div>
            <div><a href="#umpqua-national-forest-waterfalls">Umpqua Forest Waterfalls</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Crater Lake National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Crater Lake National Park is centered around the massive Crater Lake, which spans approximately 6 miles (10 km) across and sits within the caldera of a collapsed volcano. Amazingly, Crater Lake is the deepest lake in the US and one of the deepest in the world, at nearly 1,950 feet (600 m) deep. The volcanic Mt. Mazama that Crater Lake rests in was almost 1 mile (1.6 km) taller before its eruption, and yet the lake still sits at a significant elevation of 7,000-8,000 feet (2,100-2,400 m).</p>
        <p>Surrounding Crater Lake is Rim Road, which hosts many viewpoints overlooking the lake. Also surrounding the lake are dense sub-alpine forests filled with all types of wildlife that you might encounter during your trip to the national park.</p>
        <p>To the north of Crater Lake is the Umpqau National Forest, which has several gorgeous waterfalls located along Highway 138 that you might like to visit before or after your visit to the national park.</p>
    </section>


    <!-- Crater Lake Southern Rim Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View over Crater Lake and Wizard Island seen from the Sinnott Memorial Observation Station " 
                        src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Sinnott-Memorial-Observation-Station.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sinnott Memorial Observation&nbsp;Station</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/7574484850/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View over deep blue Crater Lake and Wizard Island from a drone above the highest peak around crater, Garfield Peak" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Garfield-Peak.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Garfield Peak</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Crater_Lake_Hikers_on_the_Garfield_Peak_Trail.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Crater_Lake_Hikers_on_the_Garfield_Peak_Trail.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Markgorzynski</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View overlooking the snowy mountains and edges of Crater Lake and Wizard Island in winter seen from atop Garfield Peak" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-Winter.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Garfield Peak (Winter)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/crater-lake-oregon-national-park-277123/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/pogo_mm-174776/" rel="noopener noreferrer" target="_blank">
                                    pogo_mm</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pinnacle formations in a forested canyon at Godfrey Glen in Crater Lake National Park"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Godfrey-Glen.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Godfrey Glen</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glennwilliamspdx/3030709681/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glennwilliamspdx/" rel="noopener noreferrer" target="_blank">
                                    Glenn Scofield Williams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Southern Rim Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="southern-rim"></a>
        <h2 class="left-heading destination-section-heading">Southern Rim</h2>
        <p>Along the southern side of Crater Lake is Rim Village, where you'll find the incredible <strong>Sinnott Memorial Observation Station</strong> built into the cliff overlooking the lake. From Rim Village you can hike the extremely popular <strong>Garfield Peak Trail</strong>, which offers breathtaking panoramic views high above Crater Lake and the surrounding forests, 900 feet (275 m) above Rim Village. This trail is about 3.1 mile (5 km) round-trip with just over 1,000 feet (300 m) of elevation gain.</p>
        <p>Just south of Rim Village and the Steel Visitor Center is the intriguing <strong>Godfrey Glen Trail</strong>, which offers views over a canyon filled with very strange pinnacle formations. This round-trip walking distance for this flat loop trail is 1.1 miles (1.8 km) round-trip.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Crater Lake NP 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8709903618"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Crater Lake Western Rim and Northern Rim Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View directly over Wizard Island and smaller islands in Crater Lake seen from th Watchman Overlook"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Watchman-Overlook-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Watchman Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glennwilliamspdx/4980896391/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glennwilliamspdx/" rel="noopener noreferrer" target="_blank">
                                    Glenn Scofield Williams</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over vast Crater Lake with Wizard Island in backgrounds seen from Merriam Point"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Merriam-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Merriam Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jsjgeology/41287538494/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jsjgeology/" rel="noopener noreferrer" target="_blank">
                                    James St. John</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of deep vibrant blue Crater Lake and a boat pier from the lakeshore at Cleetwood Cove"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Cleetwood-Cove-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cleetwood Cove Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/4105429577/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Western Rim Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="western-rim"></a>
        <h2 class="left-heading destination-section-heading">Western Rim</h2>
        <p>Along the western rim of Crater Lake is perhaps the national park's most gorgeous viewpoint, the <strong>Watchman Overlook</strong>, which looks out directly over Wizard Island. If you'd like to view the lake from about 400 feet (120 m) higher, you can hike up the 1.6 mile (2.6 km) round-trip Watchman Peak Trail, which begins at this overlook.</p>
    </section>


    <!-- Northern Rim Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="northern-rim"></a>
        <h2 class="left-heading destination-section-heading">Northern Rim</h2>
        <p>Along the northern rim of Crater Lake you'll encounter what is probably the national park's second best viewpoint, <strong>Meriam Point</strong>.</p>
        <h3>Cleetwood Cove</h3>
        <p>Further east along the lake's northern rim are several more viewpoints. You might also consider hiking down to the lakeshore via the <strong>Cleetwood Cove Trail</strong>. This hike is about 1.8 miles (2.9 km) round-trip and concludes at the Wizard Island Boat Tour Dock, which offers amazing boat tours around the lake. Reservations for this amazing tour boat are extremely difficult to get and must be reserved months in advance.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Crater Lake NP 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7396821941"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Umpqua National Forest Waterfalls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Staircase-like Clearwater Falls flowing over mossy rocks in the Umpqua National Forest near Crater Lake"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Clearwater-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clearwater Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/35287522932/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small but stunning Whitehorse Falls of Umpqua National Forest near Crater Lake"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Whitehorse-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Whitehorse Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/34644509243/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small waterfall in front of the massive Watson Falls cascading over a tall cliff in Umpqua National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Watson-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Watson Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/33034294233/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Toketee Falls seen flowing through a gorge-like canyon with columnar cliffs in Umpqua National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Toketee-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Toketee Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forestservicenw/41664453662/in/photolist-FQ4qnb-26tKdvm-TyXuGp-BvyScZ" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forestservicenw/" rel="noopener noreferrer" target="_blank">
                                    US Forest Service Pacific NW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Umpqua National Forest Waterfalls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="umpqua-national-forest-waterfalls"></a>
        <h2 class="left-heading destination-section-heading">Umpqua National Forest Waterfalls</h2>
        <p>The Umpqua National Forest to the north of Crater Lake hosts many stunning waterfalls, located along Highway 138 to the north of the national park. If you're visiting Crater Lake from Portland or Seattle, you might want to stop to see these waterfalls (in reverse order) along the way to Crater Lake's northern entrance. Coming from the south, you'll want to wait until after visiting Crater Lake to see these waterfalls, and coming from Bend or the northeast you might visit them before entering the national park.</p>
        <h3>Clearwater Falls &amp; Whitehorse Falls</h3>
        <p>Driving west along Highway 138 from Crater Lake you'll first encounter the beautiful <strong>Clearwater Falls</strong>, which cascades over lush mossy rocks and logs. A bit further down the highway is the small but lovely <strong>Whitehorse Falls</strong>. Both of these waterfalls can be seen with a very short 1 minute walk from their parking lots.</p>
        <h3>Watson Falls</h3>
        <p>Further west you'll encounter <strong>Watson Falls</strong>. From the parking lot you can admire a tiny serene waterfall. Behind it the striking Watson Falls flowing over a tall cliff, which can be admired via a short 0.6 mile (1 km) round-trip walk from the parking lot.
        <h3>Toketee Falls</h3>
        <p>A bit further west along the highway is the majestic <strong>Toketee Falls</strong>, which flows over surreal geometric cliffs made of columnar basalt. You can reach this waterfall with an easy 0.8 mile (1.3 km) round-trip hike through the dense forest.</p>
        <h3>Additional Waterfalls</h3>
        <p>If you were to continue much further down this highway, you'd have the opportunity to see several more stunning waterfalls, most notably Fall Creek Falls and nearby Susan Creek Falls, which can both be reached with a short hike.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Crater Lake NP Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7762943016"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Crater Lake National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/yj1eBVW9jTG2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/LhfH7RyCmAU2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the river winding through the tall cliffs of Smith Rock State Park along Misery Ridge in Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Misery-Ridge-to-Summit-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        Bend
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/smith-rock-oregon-mountain-adventure-2114673/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheCADguy-4444606/" rel="noopener noreferrer" target="_blank">
                            TheCADguy</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of the Sisters Mountains behind black volcanic desolate landscape seen atop the Dee Wright Observatory near Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Dee-Wright-Observatory.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                        Williamette National&nbsp;Forest
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/131420410@N05/36451605974/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                            Lessa Clayton</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view at Samuel H. Boardman's sandy Secret Beach of tall sea rocks along the Southern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Secret-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                        Southern Oregon Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls-300x225.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        Silver Falls State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                            Ian Sane</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls, California
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-attractions-guide">
                        Upper Northern Coast, California
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        Portland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                            Jeff Gunn</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    