<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Ecola Point looking up the coastline of Cannon Beach from Ecola State Park along the Northern Oregon Coast, Oregon Attractions Gude</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along the Northern Oregon Coast + Cannon Beach, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="northern_oregon_coast" />
    <meta name="attraction_guides" content="cannon_beach_oregon" />
    <meta name="usa_attraction_guides" content="northern_oregon_coast" />
    <meta name="usa_destinations" content="northern_oregon_coast" />
    <meta name="usa_destination_guides" content="northern_oregon_coast" />
    <meta name="oregon_attraction_guides" content="northern_coast" />
    <meta name="oregon_attraction_guides" content="cannon_beach" />
    <meta name="oregon_destinations" content="northern_coast" />
    <meta name="oregon_destinations" content="cannon_beach" />
    <meta name="oregon_destination_guides" content="northern_coast" />
    <meta name="oregon_destination_guides" content="cannon_beach" />
    <meta name="google_maps_list" content="northern_oregon_coast" />
    <meta name="google_maps_list" content="cannon_beach" />
    <meta property="og:title" content="Cannon Beach & Northern Oregon Coast Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg">
    <meta name="twitter:title" content="Cannon Beach & Northern Oregon Coast Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
    <title>Attractions Guide for Northern Oregon Coast & Cannon Beach</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Northern Oregon Coast &amp; Cannon Beach<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>
    
    
    <!-- Alternate Page Version Link -->
    <div class="alternate-version-flexbox">
        <div class="alternate-version-flex-link">
            <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">Northbound</a>
        </div>
        <div class="alternate-version-flex-current">
            <span>Southbound</span>
        </div>
    </div>

    
    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#astoria">Astoria</a></div>
            <div><a href="#fort-clastop">Fort Clastop</a></div>
            <div><a href="#ecola-state-park">Ecola State Park</a></div>
            <div><a href="#cannon-beach">Cannon Beach</a></div>
            <div><a href="#tillamook-and-manzanita">Tillamook &amp; Manzanita</a></div>
            <div><a href="#cape-meares">Cape Meares</a></div>
            <div><a href="#cape-kiwanda">Cape Kiwanda</a></div>
            <div><a href="#yaquina-head-lighthouse">Yaquina Lighthouse</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Northern Oregon Coast Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route down Highway 101 on the incredibly scenic Northern Oregon Coast, along which you'll find many different attractions. This portion of the coast begins in Astoria, which sits near the mouth of the Columbia River across from Washington. This route concludes near the center of the Oregon Coast in the city of Newport.</p>
    </section>



    <!-- Fort Clastop and Astoria Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="Towering Astoria Column covered in murals atop a mountain in Astoria, Oregon"
                        src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Astoria-Column.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Astoria Column</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View over Astoria, Oregon and the HWY 101 bridge spanning the Columbia River to Washington, seen from atop the Astoria Column"
                        src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Astoria-Column-View-from-Top.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Astoria Column (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Historically accurate replica of wooden Fort Clastop inhabited by Lewis and Clark near Astoria in Northern Oregon"
                        src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Fort-Clastop.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fort Clastop</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Astoria, Oregon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="astoria"></a>
        <h2 class="left-heading destination-section-heading">Astoria, Oregon</h2>
        <p>Near the very top of the Oregon Coast is the city of Astoria, which hosts a charming historic downtown center as well as many impressive Victorian homes. Astoria is famous for its use as the setting in the popular movie The Goonies.</p>
        <p>Atop a hill above the city you'll find the massive <strong>Astoria Column</strong>, which you can climb to the top of for breathtaking panoramic views over Astoria, the Pacific Coast, the Columbia River, and the surrounding rural landscape.</p>
    </section>


    <!-- Fort Clastop Historic Site Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fort-clastop"></a>
        <h2 class="left-heading destination-section-heading">Fort Clastop Historic Site</h2>
        <p>Nearby Astoria you can visit <strong>Fort Clastop</strong>, where you can admire a very historically accurate and fully-furnished wooden fort, modeled after the one built by the famous American explorers Lewis & Clark. These explorers were the first to venture across the vast United States and reach the Pacific Coast over 200 years ago, and this fort is where they resided along the coast before making the long journey back to the East Coast of the United States.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Northern Oregon Coast SB 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9546797978"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Cannon Beach and Ecola State Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ecola Point<br />(Ecola&nbsp;State&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/beach-ocean-landscape-sea-water-2737460/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/jbwilder75-4756122/" rel="noopener noreferrer" target="_blank">
                                    jbwilder</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking out over Indian Beach and the rocks sticking out of the ocean at Ecola State Park near Cannon Beach, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Indian-Beach-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Indian Beach<br />(Ecola&nbsp;State&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cloudy day looking directly at Haystack Rock at Cannon Beach along Oregon's Northern Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Cannon-Beach-Haystack-Rock-and-Beach-Aerial-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cannon Beach &amp; Haystack&nbsp;Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Haystack_Rock,_Oregon_(drone_photograph).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:DDima" rel="noopener noreferrer" target="_blank">
                                    DiscoverWithDima</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cloudy day looking directly at Haystack Rock at Cannon Beach along Oregon's Northern Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Cannon-Beach-Haystack-Rock-Misty.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Haystack Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/15558406@N03/11830734093/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/15558406@N03/" rel="noopener noreferrer" target="_blank">
                                    cjuneau</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view from Silver Point of the dense forests and cliffs meeting the sandy beaches and coast near Cannon Beach, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Silver-Point-Interpretive-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Silver Point Interpretive&nbsp;Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Foggy day looking down the sandy beach at the forest-covered cliffs and rocks of Hug Point near Cannon Beach, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Hug-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hug Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/elisfanclub/15590015665/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/elisfanclub/" rel="noopener noreferrer" target="_blank">
                                    Eli Duke</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ecola State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ecola-state-park"></a>
        <h2 class="left-heading destination-section-heading">Ecola State Park</h2>
        <p>Continue down towards Cannon Beach. Just before reaching the city you can visit Ecola State Park, which offers magnificent coastal views from <strong>Ecola Point</strong> as well as <strong>Indian Beach</strong>. Both of these viewpoints overlook the extremely scenic rocky coastline and can be enjoyed with a very short walk. The latter, Indian Beach, is a popular surf spot and an extremely beautiful location to relax on the beach and enjoy the views.</p>
    </section>


    <!-- Cannon Beach, Oregon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cannon-beach"></a>
        <h2 class="left-heading destination-section-heading">Cannon Beach, Oregon</h2>
        <h3>Haystack Rock</h3>
        <p>Just below Ecola State Park is Cannon Beach, which hosts beautiful long sandy beaches. Cannon Beach is most famous for hosting one of the Oregon Coast's most iconic sights, <strong>Haystack Rock</strong>. This massive rock sits on the beach just beyond the shoreline and can be accessed with a very quick walk from the parking alongside the road.</p>
        <h3>Silver Point</h3>
        <p>Just south of Cannon Beach you can stop at the incredibly scenic <strong>Silver Point Interpretive Overlook</strong>. This viewpoint is located atop a small point which seperates two extremely lomng sandy beaches to the north (Cannon Beach) and south (Arch Cape).</p>
        <h3>Hug Point Beach</h3>
        <p>Continue a bit further south to the extremely scenic <strong>Hug Point</strong> beach which you can walk along and explore. Be sure to walk north along the beach to the actual Hug Point rock, which has a small path hugging along the side of it above the water.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Northern Oregon Coast SB 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7013786367"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Cape Meares and Tillamook Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous views over the beaches and coastline of Manzanita and Newhalem Bay seen from popular roadside Neahkahnie Viewpoint"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Neahkahnie-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neahkahnie Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking Cape Meares and sea rocks from, high above along the Northern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Cape-Meares-State-Scenic-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Meares State Scenic&nbsp;Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/elisfanclub/4775223786/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/elisfanclub/" rel="noopener noreferrer" target="_blank">
                                    Eli Duke</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little Cape Meares Lighthouse seen behind some trees along Oregon's Northern Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Cape-Meares-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Meares Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Larson Creek Falls cascading over tall vibrant green cliffs onto Short Beach near Cape Meares, along Oregon's Northern Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Larson-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Larson Creek Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Tillamook and Manzanita, Oregon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="tillamook-and-manzanita"></a>
        <h2 class="left-heading destination-section-heading">Tillamook &amp; Manzanita, Oregon</h2>
        <h3>Neahkahnie Viewpoint</h3>
        <p>Continue along the coast towards the town of Manzanita, which hosts the picturesque long sandy beach of Newhalem Bay State Park. Just before reaching Manzanita you can stop at one of the most gorgeous viewpoints on the Oregon Coast, the <strong>Neahkahnie Viewpoint</strong>, which offers far-reaching views on a clear day.</p>
        <h3>Neahkahnie Mountain</h3>
        <p>If you have time, you can walk along the scenic Elk Flats coastal trails from the parking area just north of the Neahkahnie Viewpoint. From this parking area you can also hike up Neahkanie Mountain for even more incredible views over the coast.</p>
        <p>The round-trip hiking distance to the Neahkahnie Mountain Trail Viewpoint and back is about 4 miles (6.4 km), with a significant elevation gain of about 1,100 feet (330 m). If you like can hike this trail's full loop, which is twice the distance with even more elevation gain.</p>
        <h3>Tillamook Cheese Factory</h3>
        <p>Further south along Highway 101 is a very popular tourist attraction, the Tillamook Cheese Factory. There's not much to do here other than learn how the cheese is made and sample/purchase a variety of different cheeses, however the cheese and ice cream sold here is very delicious.</p>
    </section>


    <!-- Cape Meares Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cape-meares"></a>
        <h2 class="left-heading destination-section-heading">Cape Meares</h2>
        <p>Continue down towards Cape Meares, where you can take in marvelous coastal views from the <strong>Cape Meares State Scenic Viewpoint</strong>. At Cape Meares you can also admire the quaint <strong>Cape Meares Lighthouse</strong>, as well as the remarkable Octopus Tree with its intriguing octopus-like branches. This striking Octopus Tree is set amongst a small forest of trees in this lovely coastal area.</p>
       <h3>Larson Creek Falls</h3>
        <p>Just below Cape Meares, you might like to take a 0.8 mile (1.3 km) walk along the Short Beach, which leads to a giant lesser-known double waterfall that cascades onto the beach, called <strong>Larson Creek Falls</strong>.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Northern Oregon Coast SB 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7088866038"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Yaquina Head Lighthouse and Cape Kiwanda Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Strange desert-like sloped landscape of the Cape Kiwanda State Natural Area along the water of the Northern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Cape-Kiwanda-State-Natural-Area.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Kiwanda State Natural&nbsp;Area</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/n-dimensional/15293334435/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/n-dimensional/" rel="noopener noreferrer" target="_blank">
                                    Nick.Lewand</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning views looking down the Norther Oregon Coast and beaches from the Otter Crest State Scenic Viewpoint"
                        src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Otter-Crest-State-Scenic-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Otter Crest State Scenic&nbsp;Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kirt_edblom/14802702969/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kirt_edblom/" rel="noopener noreferrer" target="_blank">
                                    Kirt Edblom</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img alt="Overlooking the natural Devil's Punchbowl formation along the Northern Oregon Coast" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Devils-Punchbowl-State-Scenic-Area.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Punchbowl State&nbsp;Scenic&nbsp;Area</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kirt_edblom/14793073889/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kirt_edblom/" rel="noopener noreferrer" target="_blank">
                                    Kirt Edblom</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lovely idyllic Yaquina Head Lighthouse at golden hour atop the cliffs near Newport, Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Yaquina-Head-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Yaquina Head Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/esridatalibrary/33313460553/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/esridatalibrary/" rel="noopener noreferrer" target="_blank">
                                    Esri Public Domain Library</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cape Kiwanda State Natural Area Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cape-kiwanda"></a>
        <h2 class="left-heading destination-section-heading">Cape Kiwanda State Natural Area</h2>
        <p>Continue south towards the large town of Pacific City, which is known for its long sandy beaches. Pacific City hosts an exotic rocky coastal area known as the <strong>Cape Kiwanda State Natural Area</strong>. Along this cape you can hike the 0.8 mile (1.3 km) round-trip trail set amongst an incredibly beautiful landscape.</p>
    </section>


    <!-- Yaquina Head Lighthouse and More Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="yaquina-head-lighthouse"></a>
        <h2 class="left-heading destination-section-heading">Yaquina Head Lighthouse &amp; More</h2>
        <h3>Otter Crest &amp; Devil's Punchbowl</h3>
        <p>Continue much further south towards Newport, Oregon. Near the town of Otter Crest you can stop at the <strong>Otter Crest State Scenic Viewpoint</strong> for striking views over the coast. Nearby is the <strong>Devil's Punchbowl</strong>, a massive hole in the cliffs above the ocean. Be sure to take the very short hike along the cliffs for a very different perspective of this incredible natural formation.</p>
        <h3>Yaquina Head Lighthouse</h3>
        <p>You can conclude this day by visiting one of the most beautiful lighthouses on the American west coast, the <strong>Yaquina Head Lighthouse</strong>. Be sure to also briefly admire the adjacent black rock Cobble Beach, which hosts many tide pools. This highly photogenic lighthouse is located just north of Newport, Oregon.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Northern Oregon Coast SB Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8233716300"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Northern Oregon Coast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/cHrMLhdnWLG2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CEMpMBBH8iH2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-southbound-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view at Samuel H. Boardman's sandy Secret Beach of tall sea rocks along the Southern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Secret-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-southbound-attractions-guide">
                        Southern Oregon Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        Portland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                            Jeff Gunn</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        Columbia River Gorge
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                            AirHaake</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls-300x225.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        Silver Falls State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                            Ian Sane</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Vast fields below massive Mount St. Helens that were devastated by the 1980 eruption, seen from Johnston Ridge Observatory"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Johnson-Ridge-Observatory.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                       Mount St.&nbsp;Helens National Monument, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/raybouk/14718263011/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                            Ray Bouknight</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/olympic-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View along the idyllic Pacific Northwest Rialto Beach with giant log piles and dense forests on the Olympic Peninsula"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rialto-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/olympic-national-park-attractions-guide">
                        Olympic National Park, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/gusilu/7987056555/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/gusilu/" rel="noopener noreferrer" target="_blank">
                            Lucia Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive Mount Rainier towering above the dense forests with its perfect reflection seen in Reflection Lake in Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Reflection-Lake.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                        Mount Rainier National Park, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/abhinaba/9530073620/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                            Abhinaba Basu</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/seattle-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Seattle Space Needle seen among lit up Downtown Seattle with Mount Rainier in the background at sunset"
                        data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Downtown-Space-Needle-and-Mount-Rainier.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/seattle-attractions-guide">
                        Seattle, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/city-skyline-seattle-downtown-693502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                            272447</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    