<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View above PDX Downtown Portland, Oregon Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Portland, Oregon, and plan the perfect trip with our savable Portland Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="portland_oregon" />
    <meta name="usa_attraction_guides" content="portland_oregon" />
    <meta name="usa_destinations" content="portland_oregon" />
    <meta name="usa_destination_guides" content="portland_oregon" />
    <meta name="oregon_attraction_guides" content="portland" />
    <meta name="oregon_destinations" content="portland" />
    <meta name="oregon_destination_guides" content="portland" />
    <meta name="google_maps_list" content="portland" />
    <meta property="og:title" content="Portland, Oregon Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-View.jpg">
    <meta name="twitter:title" content="Portland, Oregon Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
    <title>Attractions Guide for Portland, Oregon</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Portland, Oregon<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    
    <!-- Introduction to Portland Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Oregon's capital city of Portland is located just south of the Washington border and over 60 miles (100 km) inland from the Pacific Coast.</p>
        <p>Portland has a renowned nightlife scene, with the most popular areas being Downtown Portland, Morrison Street, and Burnside Street. In these areas you'll find many great breweries, restaurants, and bars.</p>
    </section>



    <!-- Portland, Oregon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking Downtown Portland (PDX) and the university cable car in Portland, Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Portland</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/portland-oregon-usa-pdx-pnw-4474605/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Alayyan-1799175/" rel="noopener noreferrer" target="_blank">
                                    Alayyan</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Tall buildings located in Downtown Portland at night alongside fireworks in Portland, Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Portland-Downtown-Portland-PDX-Night-Lights-and-Fireworks.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downtown Portland (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ryanh/4766213807" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ryanh/" rel="noopener noreferrer" target="_blank">
                                    ryan harvey</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img alt="Lovely chateau-like exterior of the Pittock Mansion surrounded by the forests near Portland, Oregon" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Portland-Pittock-Mansion.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pittock Mansion</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glenbledsoe/5768528100/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glenbledsoe/" rel="noopener noreferrer" target="_blank">
                                    PhotoAtelier</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden" 
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Portland Japanese Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                                    Jeff Gunn</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rows of different colored roses at Portland's International Rose Test Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-International-Rose-Test-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">International Rose Test Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kkendall/3618214609/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kkendall/" rel="noopener noreferrer" target="_blank">
                                    K. Kendall</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Painting exhibit within the Portland Art Museum"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Portland-Art-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Portland Art Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sbeebe/33875269123/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sbeebe/" rel="noopener noreferrer" target="_blank">
                                    Sam Beebe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Chinese temple and gazebo behind a coi pond surrounded by Eastern plants at Portland's Lan Su Chinese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Lan-Su-Chinese-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lan Su Chinese Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmiske/22786796176/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmiske/" rel="noopener noreferrer" target="_blank">
                                    Jonathan Miske</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque evening view of Mount St. Helens framed between two lamp posts atop Portland's Rocky Butte Park"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Rocky-Butte.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rocky Butte Park View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/smcdevitt/3693399722/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/smcdevitt/" rel="noopener noreferrer" target="_blank">
                                    Sarah McDevitt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Western Portland Hills Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Western Portland Hills</h2>
        <p>One of the top sights within the Portland city limits is the chateau-style <strong>Pittock Mansion</strong>, with its fancy historic interiors and excellent views overlooking Downtown Portland.</p>
        <p>Nearby the Pittock Mansion is another popular attraction, the lush and tranquil <strong>Portland Japanese Garden</strong>. Adjacent to the Japanese Garden is the <strong>International Rose Test Garden</strong>, a massive well-maintained garden hosting thousands of roses.</p>
    </section>


    <!-- Downtown Portland Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Downtown Portland</h2>
        <p>In Downtown Portland you might like to visit the popular <strong>Portland Art Museum</strong>, which features a diverse collection of art exhibits from Asia and the USA, including Native American art.</p>
        <p>Also downtown is the beautiful <strong>Lan Su Chinese Garden</strong>, which hosts koi ponds and traditional Chinese structures. Nearby you might like to visit the famous Powell's City of Books, a massive multi-leveled bookstore that's extremely popular and hosts a countless collection of both new and used books.</p>
    </section>



    <!-- Rocky Butte Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Rocky Butte Park</h2>
        <p>On the northeastern side of Portland you might visit the <strong>Rocky Butte Park</strong>, a tall hilltop park that you can drive up to. This park hosts excellent views overlooking Portland, as well as views stretching to the towering Mount St. Helens and Mount Hood on clear days.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Portland , OR Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6083740277"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Portland Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/69ufgpsUHk22">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        Columbia River Gorge
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                            AirHaake</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls-300x225.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        Silver Falls State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                            Ian Sane</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                        Northern Oregon Coast &amp; Cannon&nbsp;Beach
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/beach-ocean-landscape-sea-water-2737460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jbwilder75-4756122/" rel="noopener noreferrer" target="_blank">
                            jbwilder</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Vast fields below massive Mount St. Helens that were devastated by the 1980 eruption, seen from Johnston Ridge Observatory"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Johnson-Ridge-Observatory.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
                       Mount St.&nbsp;Helens National Monument, Washington
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/raybouk/14718263011/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                            Ray Bouknight</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning view at Samuel H. Boardman's sandy Secret Beach of tall sea rocks along the Southern Oregon Coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Secret-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
                        Southern Oregon Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the river winding through the tall cliffs of Smith Rock State Park along Misery Ridge in Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Misery-Ridge-to-Summit-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        Bend
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/smith-rock-oregon-mountain-adventure-2114673/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheCADguy-4444606/" rel="noopener noreferrer" target="_blank">
                            TheCADguy</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View of the Sisters Mountains behind black volcanic desolate landscape seen atop the Dee Wright Observatory near Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Dee-Wright-Observatory.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
                        Williamette National&nbsp;Forest
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/131420410@N05/36451605974/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                            Lessa Clayton</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking the snowy mountains and edges of Crater Lake and Wizard Island in winter seen from atop Garfield Peak"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-Winter.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        Crater Lake National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/crater-lake-oregon-national-park-277123/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pogo_mm-174776/" rel="noopener noreferrer" target="_blank">
                            pogo_mm</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    