<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Natural Bridges and Islands at Natural Bridges Cove of the Samuel H. Boardman State Scenic Corridor along the Southern Oregon Coast, Oregon Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Brookings-Samuel-H-Boardman-State-Scenic-Corridor-Natural-Bridges-Cove-Bridges-and-Islands-Sunset-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along the Southern Oregon Coast + Cape Perpetua, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="southern_oregon_coast_oregon" />
    <meta name="usa_attraction_guides" content="southern_oregon_coast_oregon" />
    <meta name="usa_destinations" content="southern_oregon_coast_oregon" />
    <meta name="usa_destination_guides" content="southern_oregon_coast_oregon" />
    <meta name="oregon_attraction_guides" content="southern_coast" />
    <meta name="oregon_destinations" content="southern_coast" />
    <meta name="oregon_destination_guides" content="southern_coast" />
    <meta name="google_maps_list" content="southern_oregon_coast" />
    <meta property="og:title" content="Southern Oregon Coast Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Brookings-Samuel-H-Boardman-State-Scenic-Corridor-Natural-Bridges-Cove-Bridges-and-Islands-Sunset.jpg">
    <meta name="twitter:title" content="Southern Oregon Coast Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Brookings-Samuel-H-Boardman-State-Scenic-Corridor-Natural-Bridges-Cove-Bridges-and-Islands-Sunset.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-attractions-guide">
    <title>Attractions Guide for Southern Oregon Coast</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Southern Oregon Coast<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>
    
    
    <!-- Alternate Page Version Link -->
    <div class="alternate-version-flexbox">
        <div class="alternate-version-flex-current">
            <span>Northbound</span>
        </div>
        <div class="alternate-version-flex-link">
            <a href="https://travonga.com/destinations/usa/oregon/southern-oregon-coast-southbound-attractions-guide">Southbound</a>
        </div>
    </div>


    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#samuel-h-boardman-state-scenic-corridor">Samuel H. Boardman</a></div>
            <div><a href="#face-rock-and-oregon-dunes">Face Rock &amp; Dunes</a></div>
            <div><a href="#heceta-head">Heceta Head</a></div>
            <div><a href="#cape-perpetua">Cape Perpetua</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Southern Oregon Coast Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommend route along Highway 101 up the picturesque Southern Oregon Coast, along which you'll find many stunning natural formations. This portion of the coast is located just above the California border and up to Yachats or Newport, Oregon.</p>
    </section>


    <!-- Samuel H. Boardman State Scenic Corridor Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Striking whale-shaped rock seen off the coast from Whaleshead Viewpoint behind vibrant flower field along Oregon Coast" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Whaleshead-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Whaleshead Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking a natural sea bridge behind trees at Samuel H. Boardman Scenic Corridor along Southern Oregon Coast" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Natural-Bridges-Cove.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Bridges Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning view at Samuel H. Boardman's sandy Secret Beach of tall sea rocks along the Southern Oregon Coast"
                        src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Secret-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Secret Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful coastal views from the Arch Rock Picnic Area at Southern Oregon's Samuel H. Boardman Scenic Corridor"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Arch-Rock-Picnic-Area.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arch Rock Picnic Area</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Samuel H. Boardman State Scenic Corridor Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="samuel-h-boardman-state-scenic-corridor"></a>
        <h2 class="left-heading destination-section-heading">Samuel H. Boardman State Scenic Corridor</h2>
        <p>Just north of the California border is the Samuel H. Boardman State Scenic Corridor, an extremely scenic part of the coast. First you might like to briefly stop at the <strong>Whaleshead Viewpoint</strong>, which overlooks a massive whale-shaped rock just off the coast.</p>
        <h3>Natural Bridges Cove</h3>
        <p>Near Whaleshead you'll find two of the park's most highly recommended short hikes. First you'll encounter the <strong>Natural Bridges Cove</strong>, which features majestic tree-covered bridge formations along the coastline above the water. It's an easy 0.5 mile (0.8 km) round-trip walk to reach the viewpoint for the bridges, with the option of further hiking atop the bridges, although this small spur trail which leads over the bridges can be difficult to find.</p>
        <p>Just before reaching the Natural Bridges Cove you might like to pull off the highway for views over the beautiful adjacent cove.</p>
        <h3>Secret Beach</h3>
        <p>Nearby be sure to hike the 0.6 mile (1 km) round-trip <strong>Secret Beach Trail</strong>, which leads to a gorgeous beach. Just north of Secret Beach you can briefly stop to enjoy more amazing views of the coast at the <strong>Arch Rock Picnic Area</strong>.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern Oregon Coast NB 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4770658605"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Face Rock, Oregon Dunes, and Heceta Head Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunset view overlooking sea rocks from the beach at Southern Oregon's Face Rock Viewpoint"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Face-Rock-State-Scenic-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Face Rock State Scenic Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Deep sandy dunes meeting dense forests seen from the Oregon Dunes Overlook along Oregon's southern coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Oregon-Dunes-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oregon Dunes Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oregon_Dunes_Overlook_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Oregon_Dunes_Overlook_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Juergen Regel, Marian</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Balancing rock tower in front of lovely Cape Creek bridge seen from beach at Heceta Head, Southern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Creek-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Creek Bridge (Heceta&nbsp;Head)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the lovely little white and red Heceta Head Lighthouse from a trail along Oregon's southern coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Heceta-Head-Lighthouse.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heceta Head Lighthouse</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tomsaint/9353012084/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tomsaint/" rel="noopener noreferrer" target="_blank">
                                    Rennett Stowe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Face Rock and Oregon Dunes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="face-rock-and-oregon-dunes"></a>
        <h2 class="left-heading destination-section-heading">Face Rock &amp; Oregon Dunes</h2>
        <p>Afterwards you'll be driving up the coast for a long time before reaching the <strong>Face Rock State Scenic Viewpoint</strong>, which overlooks a majestic rocky part of the coastline.</p>
        <p>Continue to the <strong>Oregon Dunes Overlook</strong>, which offers views over a striking landscape of rolling sandy dunes which dominate this part of the coastline (between Coos Bay and Heceta Head). You might even consider further exploring the dunes via hiking trails.</p>
    </section>


    <!-- Heceta Head Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="heceta-head"></a>
        <h2 class="left-heading destination-section-heading">Heceta Head</h2>
        <p>Just before reaching Heceta Head you might visit the Sea Lion Caves, which offers an elevator ride down to a sea cave which is seasonally filled with seals and sea lions.</p>
        <p>Heceta Head hosts the charming little <strong>Heceta Head Lighthouse</strong>, which sits on one end of a stunning cove. The trailhead for the lighthouse is next to the very photogenic <strong>Cape Creek Bridge</strong>. Along the scenic walk to the lighthouse you can enjoy amazing views over the coast and admire the bridge framed behind the beach. The trail to the lighthouse is about 0.9 miles (1.4 km) round-trip.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern Oregon Coast NB 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5696727469"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Cape Perpetua Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sprouting Horn along Oregon's Cape Perpetua coastline seen spouting water up through a hole at high tide"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Perpetua-Sprouting-Horn.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sprouting Horn</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/discoveroregon/39766358112/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/discoveroregon/" rel="noopener noreferrer" target="_blank">
                                    Rick Obst</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning sunset colors in sky behind the famous Thor's Well coastal phenomenom at Oregon's Cape Perpetua"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Perpetua-Thors-Well.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thor's Well</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6066507677/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking water-filled coastal ridge of Devil's Churn at Southern Oregon's Cape Perpetua"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Perpetua-Devils-Churn.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Churn</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/peterme/4642302113/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/peterme/" rel="noopener noreferrer" target="_blank">
                                    Peter Merholz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Foggy coastal views seen between two trees from the Cape Perpetua Overlook along Oregon's southern coast"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Southern-Coast-Cape-Perpetua-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cape Perpetua Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forestservicenw/24514143983/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forestservicenw/" rel="noopener noreferrer" target="_blank">
                                    US Forest Service Pacific NW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cape Perpetua Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cape-perpetua"></a>
        <h2 class="left-heading destination-section-heading">Cape Perpetua</h2>
        <p>Afterwards head up to the incredible Cape Perpetua area, which features several amazing coastal formations within a small area. Just before reaching Cape Perpetua you might like to stop at the Neptune State Scenic Viewpoint, which overlooks the coastline leading up to Cape Perpetua.</p>
        <p>The first feature you'll encounter is the <strong>Sprouting Horn</strong>, which frequently sprays water up like a spout through a small hole when the waves hit the cliffs just right. Adjacent is the mesmerizing <strong>Thor's Well</strong>, which quickly fills up with water before emptying, rising and falling with the waves. This powerful well is among the most iconic sights along the Oregon Coast and is quite stunning to behold.</p>
        <p>Nearby is the <strong>Devil's Churn</strong> formation, which puts on a brilliant show during low tide. Drive up into the hills above the coast to the <strong>Cape Perpetua Overlook</strong> and walk along the 0.5 mile (0.8 km) round-trip Whispering Spruce Trail. The trail leads to a small stone structure from which you can enjoy fantastic views overlooking Cape Perpetua from high above.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern Oregon Coast NB Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9348197868"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Southern Oregon Coast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/YeWy54fewxv">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8WkH3Z6QK2t">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-attractions-guide">
                        Northern Oregon Coast &amp; Cannon&nbsp;Beach
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/beach-ocean-landscape-sea-water-2737460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jbwilder75-4756122/" rel="noopener noreferrer" target="_blank">
                            jbwilder</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Morning fog among the Prairie Creek Redwoods trees seen along the Lady Bird Johnson Grove Trail of Northern California"
                        data-src="https://www.travelimager.com/images/california/California-Upper-Northern-Coast-Lady-Bird-Johnson-Grove-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/upper-northern-california-coast-attractions-guide">
                        Upper Northern Coast, California
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking the snowy mountains and edges of Crater Lake and Wizard Island in winter seen from atop Garfield Peak"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-Winter.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        Crater Lake National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/crater-lake-oregon-national-park-277123/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pogo_mm-174776/" rel="noopener noreferrer" target="_blank">
                            pogo_mm</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls-300x225.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        Silver Falls State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                            Ian Sane</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        Portland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                            Jeff Gunn</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful Mossbrae Falls flowing over wide mossy green walls in Dunsmuir, Northern California near Mt. Shasta"
                        data-src="https://www.travelimager.com/images/california/California-Shasta-Trinity-National-Forest-Dunsmuir-Mossbrae-Falls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/california/lassen-national-park-and-mt-shasta-waterfalls-attractions-guide">
                        Lassen National Park &amp; Mt.&nbsp;Shasta Waterfalls, California
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/darkdenver/28483027055/in/photolist-KoWXBn-7nRbqb-ddcRN5-8copUw-4R6LQR-bbyREn-bbyRc4-bbyz6p-i5SXV1-9FqujX-d7kEjC-bbyeAk-bbytzg-8cooJj-bbycmF-bbyg5g-bbyaZT-bbxYVv-bbyacK" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/darkdenver/" rel="noopener noreferrer" target="_blank">
                            Steven Bratman</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    