<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Koosah Falls surrounded by lush trees of the Williamette National Forest, Oregon Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions and waterfalls of Williamette National Forest, Oregon, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="williamette_national_forest_oregon" />
    <meta name="usa_attraction_guides" content="williamette_national_forest_oregon" />
    <meta name="usa_destinations" content="williamette_national_forest_oregon" />
    <meta name="usa_destination_guides" content="williamette_national_forest_oregon" />
    <meta name="oregon_attraction_guides" content="williamette_national_forest" />
    <meta name="oregon_destinations" content="williamette_national_forest" />
    <meta name="oregon_destination_guides" content="williamette_national_forest" />
    <meta name="google_maps_list" content="williamette_national_forest" />
    <meta property="og:title" content="Williamette National Forest, Oregon Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls.jpg">
    <meta name="twitter:title" content="Williamette National Forest, Oregon Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/oregon/williamette-national-forest-attractions-guide">
    <title>Attractions Guide for Williamette National Forest, Oregon</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Williamette National Forest, Oregon<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    
    <!-- Introduction to Williamette National Forest Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route through Oregon's stunningly scenic Williamette National Forest, which is located northwest of the city of Bend.</p>
        <p>The closest town to most of these attractions is Sisters, which is named after the the two massive Sisters Mountains which sit between Bend and the Williamette National Forest.</p>
    </section>



    <!-- Williamette National Forest Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Powerful Sahalie Falls flowing throud a vibrant green dense landscape in Williamette National Forest" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Sahalie-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sahalie Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/acaben/617401938/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/acaben/" rel="noopener noreferrer" target="_blank">
                                    Ben Stanfield</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Koosah Falls and its vibrant light blue waters located downstream from Sahalie Falls in Williamette National Forest" 
                        src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Koosah-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Koosah Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/131420410@N05/37248594450/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                                    Lessa Clayton</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Tamlitch Falls flowing into the Tamolitch Blue Pool with snow on ground in Williamette National Forest"
                        src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Tamolitch-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tamolitch Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/32940952684/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Reflection of tall trees seen in the vibratn deep blue clear waters of the Tamolitch Blue Pool in Williamette National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Tamolitch-Blue-Pool.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tamolitch Blue Pool</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/49580580@N02/36891631960/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/49580580@N02/" rel="noopener noreferrer" target="_blank">
                                    Thomas Shahan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning string-like waters of Proxy Falls flowing over mossy cliff near Bend in Williamette National Forest"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Proxy-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Proxy Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/icetsarina/42927481391/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/icetsarina/" rel="noopener noreferrer" target="_blank">
                                    Bonnie Moreland</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Sisters Mountains behind black volcanic desolate landscape seen atop the Dee Wright Observatory near Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Williamette-National-Forest-Dee-Wright-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dee Wright Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/131420410@N05/36451605974/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/131420410@N05/" rel="noopener noreferrer" target="_blank">
                                    Lessa Clayton</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Sahalie Falls and Koosah Falls Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Sahalie Falls &amp; Koosah Falls</h2>
        <p>Begin you day by visiting the powerful <strong>Sahalie Falls</strong> set amongst the lush green forests. This waterfall is located just off the road, and if you take a short 0.8 mile (1.3 km) round-trip walk downstream you can also view the picturesque <strong>Koosah Falls</strong>.</p>
    </section>


    <!-- Tamolitch Blue Pool Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Tamolitch Blue Pool</h2>
        <p>Next you can do a very popular hike to see <strong>Tamolitch Falls</strong> and the <strong>Blue Pool</strong>, named for its captivatingly beautiful vibrant deep blue color. You can reach the falls and pool via an extremely scenic 3.7 mile (6 km) round-trip hike through the dense forest. Interestingly, the Blue Pool and Tamolitch Falls are located along the same McKenzie River that Sahalie and Koosah Falls flow through. This trail is highly recommended and is one of the most popular hikes in the area.</p>
    </section>



    <!-- Proxy Falls and Dee Wright Observatory Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Proxy Falls &amp; Dee Wright Observatory</h2>
        <p>Afterwards continue along Highway 242 (a sub-highway of the McKenzie Highway) to one of the most gorgeous waterfalls in Oregon, <strong>Proxy Falls</strong>, which can be reached via an easy 1.6 mile (2.6 km) round-trip trail through the forest.</p>
        <p>Now continue to the <strong>Dee Wright Observatory</strong>, an incredible structure built out of dark stones which offers stunning panoramic views over this vast volcanic landscape and many majestic mountains surrounding it. This must-see attraction is located just off the road.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Williamette NF Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3823698009"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Williamette National Forest Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/LY3LvSeypwC2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the river winding through the tall cliffs of Smith Rock State Park along Misery Ridge in Bend, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Bend-Misery-Ridge-to-Summit-Trail.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/bend-attractions-guide">
                        Bend
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/smith-rock-oregon-mountain-adventure-2114673/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/TheCADguy-4444606/" rel="noopener noreferrer" target="_blank">
                            TheCADguy</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View overlooking the snowy mountains and edges of Crater Lake and Wizard Island in winter seen from atop Garfield Peak"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Crater-Lake-National-Park-Wizard-Island-Winter.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/crater-lake-national-park-attractions-guide">
                        Crater Lake National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/crater-lake-oregon-national-park-277123/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/pogo_mm-174776/" rel="noopener noreferrer" target="_blank">
                            pogo_mm</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning Lower South Falls seen behind moss-covered trees along Trail of Ten Falls at Silver Falls State Park, Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Silver-Falls-State-Park-Lower-South-Falls-300x225.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/silver-falls-state-park-attractions-guide">
                        Silver Falls State&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/31246066@N04/40223190654/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/31246066@N04/" rel="noopener noreferrer" target="_blank">
                            Ian Sane</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        Portland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                            Jeff Gunn</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        Columbia River Gorge
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                            AirHaake</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    