<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View overlooking Central Lisbon Old Town from Miradouro das Portas do Sol Viewpoint, Lisbon, Portugal Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-das-Portas-do-Sol-Viewpoint-of-Church-of-Sao-Vicente-of-Fora-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Lisbon, Portugal, and plan the perfect trip with our savable Lisbon Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lisbon_portugal" />
    <meta name="europe_attraction_guides" content="lisbon_portugal" />
    <meta name="europe_destinations" content="lisbon_portugal" />
    <meta name="europe_destination_guides" content="lisbon_portugal" />
    <meta name="portugal_attraction_guides" content="lisbon" />
    <meta name="portugal_destinations" content="lisbon" />
    <meta name="portugal_destination_guides" content="lisbon" />
    <meta name="google_maps_list" content="lisbon" />
    <meta property="og:title" content="Lisbon, Portugal Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-das-Portas-do-Sol-Viewpoint-of-Church-of-Sao-Vicente-of-Fora.jpg">
    <meta name="twitter:title" content="Lisbon, Portugal Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-das-Portas-do-Sol-Viewpoint-of-Church-of-Sao-Vicente-of-Fora.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/portugal/lisbon-attractions-guide">
    <title>Attractions Guide for Lisbon, Portugal</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Lisbon, Portugal<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#alfama-castillo">Alfama-Castillo</a></div>
            <div><a href="#bairro-alto">Bairro-Alto</a></div>
            <div><a href="#baixa">Baixa</a></div>
            <div><a href="#belem">Belem</a></div>
            <div><a href="#almada-sanctuary">Almada</a></div>
            <div><a href="#queluz-palace">Queluz Palace</a></div>
            <div><a href="#museums">Museums</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
            <div><a href="#lisbon-oceanarium">Oceanarium</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lisbon Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Portugal's seaside capital city consists of many sprawling neighborhoods, spread out over a gorgeous hilly landscape with many lovely rustic buildings. Lisbon hosts an excellent cuisine and is also very rich in culture.</p>
    </section>


    <!-- Alfama-Castillo Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View of the imposing medieval walls of the vast hilltop Sao Jorge Castle complex seen from below in Lisbon, Portugal" 
                        src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Castelo-de-Sao-Jorge-Castle-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sao Jorge Castle​<br />Medieval Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/islandjoe/5580389329/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/islandjoe/" rel="noopener noreferrer" target="_blank">
                                    islandjoe</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View over the river coast of Lisbon seen from atop the medieval walls and towers of the Sao Jorge Castle" 
                        src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Castelo-de-Sao-Jorge-Castle-Walls-and-Towers-View-of-Coast.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sao Jorge Castle​<br />Medieval Walls &amp; View</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Beautiful white National Pantheon building set in front of the water in Lisbon, Portugal"
                        src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-National-Pantheon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Pantheon​</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Pante%C3%A3o_Nacional_Mosteiro_de_Sao_Vicente_de_Fora_zoom.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Pante%C3%A3o_Nacional_Mosteiro_de_Sao_Vicente_de_Fora_zoom.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    VanGore</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Distant view overlooking the elegant white Church of Sao Vicente of Fora with the river behind it, in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Church-of-Sao-Vicente-of-Fora-Igreja.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Sao Vicente of Fora</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lisbon,_view_from_Castelo_de_S%C3%A3o_Jorge_towards_Igreja_de_S%C3%A3o_Vicente_de_Fora.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dguendel" rel="noopener noreferrer" target="_blank">
                                    Dguendel</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Striking view overlooking the city and coastline of Lisbon from high above, seen from the garden-covered colonnade of the Miradouro de Santa Luzia"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-de-Santa-Luzia-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miradouro de Santa Luzia<br />Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/amanessinger/23159779874/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/24201453@N04" rel="noopener noreferrer" target="_blank">
                                    Andreas Manessinger</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking a highly urbanized part of Lisbon with the Pont 25 de Abril bridge in the background"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-da-Senhora-do-Monte-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nossa Senhora do<br />Monte Belvedere View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:O_Castelo_de_S%C3%A3o_Jorge_e_a_cidade_de_Lisboa_vistos_do_Miradouro_da_Senhora_do_Monte.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Reino_Baptista" rel="noopener noreferrer" target="_blank">
                                    Reino Baptista</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View overlooking a sea of white buildings and beige rooftops in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-Sophia-de-Mello-Breyner-Andresen-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">View Sophia de Mello<br />Breyner Andressen</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:A_Cheesy_Panorama_from_Miradouro_Sophia_de_Mello_Breyner_Andresen_(23901472335).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/24201453@N04" rel="noopener noreferrer" target="_blank">
                                    Andreas Manessinger</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Medieval Romanesque facade of the imposing Lisbon Cathedral, with a yellow cable car operating in front of it"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Lisbon-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lisbon Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/littlemisspurps/14667571866" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/littlemisspurps/" rel="noopener noreferrer" target="_blank">
                                    Becks</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Alfama-Castillo Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="alfama-castillo"></a>
        <h2 class="left-heading destination-section-heading">Alfama-Castillo Neighborhood &amp; Sao&nbsp;Jorge&nbsp;Castle</h2>
        <p>Within the Alfama Castillo neighborhood of Lisbon you'll find one of the city's most impressive sights, the imposing 11th century Moorish <strong>Sao Jorge Castle</strong>, where you can walk along the fortified walls and take in great views over the coast. Nearby be sure to see the nearby <strong>National Pantheon</strong> where many of Portugal's celebrities are buried, showcasing exceptional baroque architecture and stately interiors.</p>
        <p>Adjacent to the National Pantheon is the <strong>Church of Sao Vicente of Fora</strong>, which hosts fantastic views overlooking the coast within an elegantly decorated 17th century monastery.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>In the hilly neighborhood around the castle you'll find many great viewpoints overlooking the city and coast, some of the best include the <strong>Miradouro de Santa Luzia</strong>, as well as the <strong>Nossa Senhora do Monte Belvedere</strong> viewpoint. Another great viewpoint to consider in this area is the <strong>Viewpoint Sophia de Mello Breyner Andressen</strong>.</p>
            <p>More attractions near the castle that you might like to visit include the landmark <strong>Lisbon Cathedral</strong>, as well as the adjacent Museum of Lisbon Roman Theater, a museum housing the ruins of the ancient Roman theater of Olisipo as well as artifacts.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lisbon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1935707746"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Baixa Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Drone shot overlooking the vast Comercio Plaza from the river in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Comercio-Plaza-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Comercio Plaza</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lisbon_main_square_(36622604910).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/158619309@N03" rel="noopener noreferrer" target="_blank">
                                    Deensel</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Squiggly zebra-like tile patterns on the Rossio Plaza square and column monument, in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Rossio-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rossio Plaza</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/155335734@N04/38143017794/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/155335734@N04/" rel="noopener noreferrer" target="_blank">
                                    Brian Dooley</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beuaitfully tiled plaza called the Praca Luis de Camoes in Lisbon, Portgual"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Praca-Luis-de-Camoes-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Praca Luis de Camoes Plaza</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lisbon_10064_Lisboa_Pra%C3%A7a_Lu%C3%ADs_de_Cam%C3%B5es_2006_Luca_Galuzzi.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://www.galuzzi.it/" rel="noopener noreferrer" target="_blank">
                                    Luca Galuzzi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Columns and arches of the partially ruined Carmo Convent of Lisbon, with missing roof open to the outside"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Igreja-do-Carmo-Convent-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carmo Convent</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ruins_of_Igreja_do_Carmo_at_2009-06-15.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/22746515@N02" rel="noopener noreferrer" target="_blank">
                                    Bert Kaufmann</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic metal Santa Justa Lift with its observation deck at the top, in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Santa-Justa-Lift-Elevator.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Santa Justa Lift</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/64084569@N02/20494803916" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/64084569@N02/" rel="noopener noreferrer" target="_blank">
                                    Just Booked A Trip</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Painted interiors of the Church of Sao Roque in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Church-of-Sao-Roque.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Sao Roque</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daquellamanera/15563303588" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daquellamanera/" rel="noopener noreferrer" target="_blank">
                                    Daniel Lobo</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Baixa Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="baixa"></a>
        <h2 class="left-heading destination-section-heading">Baixa Neighborhood</h2>
        <p>Perhaps the city's most impressive public square is the massive <strong>Comercio Plaza</strong>, which is surrounded by grandiose buildings along the waterfront. Other great squares to see in this small neighborhood include <strong>Rossio Square</strong> and <strong>Praca Luis de Camoes</strong>, both of which are surrounded by fine historic structures.</p>
        <p>Near Rossio Square you can walk amongst the well-preserved 14th century ruins of the gothic <strong>Carmo Convent</strong>. Adjacent to the church is the <strong>Santa Justa Lift</strong>, an elevator connecting an observation deck which hosts panoramic views over the area.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Also in this neighborhood you'll find the <strong>Church of Sao Roque</strong>, which features stunning interiors filled with fine art and remarkable frescoed ceiling, as well as holy relics on display.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lisbon 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4531023443"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Belem Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking white exterior of Lisbon's expansive Jeronimos Monastery, one of the city's most popular attractions"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Jeronimos-Monastery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jeronimos Monastery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lisboa_(P)_-_Mosteiro_dos_Jer%C3%B3nimos_(tone-mapping).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Guido_Radig" rel="noopener noreferrer" target="_blank">
                                    Guido Radig</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive couryard cloister of the Jeronimos Monastery of the Belem neighborhood of Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Mosteiro-dos-Jeronimos-Monastery-Cloister-Courtyard-and-Towers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jeronimos Monastery<br />(Cloister)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegantly decorated window framing the cloister of Lisbon's Jeronimos Monastery of Belem"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Mosteiro-dos-Jeronimos-Monastery-Cloister-Courtyard-Viewed-behind-Window.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jeronimos Monastery<br />(Cloister Window)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway leading to the massive seaside Padrao dos Descrobimientos (Monument to the Discoveries) in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Monument-to-the-Discoveries-Padrao-dos-Descobrimentos.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Padrao dos Descrobimentos<br />Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:33221-Padr%C3%A3o_dos_Descobrimentos_(36739203755).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/7138083@N04" rel="noopener noreferrer" target="_blank">
                                    Xiquinho Silva</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant castle-like Belem Tower, one of Lisbon's most iconic sights, set amongst the riverfront"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Belem-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belem Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Torre_Bel%C3%A9m_April_2009-1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alvesgaspar" rel="noopener noreferrer" target="_blank">
                                    Alvesgaspar</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly elabroate palatial interior which formerly housed the colleciton of Lisbon's National Coach Museum, which now sits in a new modern structure nearby"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-National-Coach-Museum-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Coach Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museu_Nacional_dos_Coches_(4904043960).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/30273903@N05" rel="noopener noreferrer" target="_blank">
                                    Geerd-Olaf Freyer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior view of the Ajuda National Palace in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Ajuda-National-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ajuda National Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Pal%C3%A1cio_Nacional_da_Ajuda.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Pal%C3%A1cio_Nacional_da_Ajuda.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    JoaoMartinho63</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Belem and Jeronimos Monastery Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="belem"></a>
        <h2 class="left-heading destination-section-heading">Belem Neighborhood &amp; Jeronimos&nbsp;Monastery</h2>
        <p>In Lisbon's Belem neighborhood to the west of Central Lisbon are several more great attractions, including the massive 15th century <strong>Jeronimos Monastery</strong>, a UNESCO world heritage site. The monastery showcases brilliant and intricate gothic architecture and is quite stunning. Some of the main points of interest within the monastery include the meticulously detailed gorgeous cloister, the royal tombs, the highly ornate chapel, the archaeology museum, and the maritime museum.</p>
        <p>Nearby you can see the towering <strong>Padrao dos Descobrimentos</strong> (or Monument to the Discoveries) memorial statue on the coast. Another UNESCO site located just west along the coast is the elegant 16th century <strong>Belem Tower</strong>, a highly embellished gothic fort tower that is strikingly beautiful.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Other attractions in the Belem neighborhood include the <strong>National Coach Museum</strong> displaying fabulously ornate royal carriages amongst palatial interiors, as well as the <strong>Ajuda National Palace</strong>, an opulent neoclassical palace used by Portuguese royalty during the 19th century with decadent historical interiors.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lisbon 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8218987016"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Bairro Alto, Almada, and Queluz Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="massive balcony of the Miradouro de Santa Catarina overlooking Lisbon with the river behind it"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-de-Santa-Catarina-Viewpoint-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miradouro de Santa Catarina</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Miradouro_de_Santa_Catarina.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sacavem1" rel="noopener noreferrer" target="_blank">
                                    Sacavem1</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful hilltop gardens of the Miradouro de Sao Pedro de Alcantara overlooking the city, hills, and coast of Lisbon"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-de-Sao-Pedro-de-Alcantara-Viewpoint-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miradouro de Sao Pedro de<br />Alcantara</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/_pek_/7528538676/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/_pek_/" rel="noopener noreferrer" target="_blank">
                                    Bruno</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the river and the Pont 25 de Abril Bridge from high above, seen from the top of the National Sanctuary of Christ the King in Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Almada-National-Sanctuary-of-Christ-the-King-Ponte-25-de-Abril-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Sanctuary of<br />Christ the King (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lisboa,_Ponte_25_de_Abril_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Lisboa,_Ponte_25_de_Abril_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Palickap</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous Neptune Fountain in front of the majestic and colorful Queluz National Palace, located in a suburb of Lisbon"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Queluz-National-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Queluz National Palace<br />(Gardens)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pedrocaetano/29838154532/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pedrocaetano/" rel="noopener noreferrer" target="_blank">
                                    Pedro</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grand terrace and staircase of the Queluz National Palace facing the palace gardens outside Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Greater-Lisbon-Queluz-Queluz-National-Palace-Exterior-Garden-Terrace-and-Staircase.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Queluz National Palace<br />(Terrace)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Bairro Alto Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bairro-alto"></a>
        <h2 class="left-heading destination-section-heading">Bairro Alto Neighborhood</h2>
        <p>One of the city's oldest and most beautiful neighborhoods is the extremely hilly Bairro Alto located near the city center, which was among the first neighborhoods constructed outside of Lisbon's historic walled city (Alfama-Castillo).</p>
        <p>Spend some time exploring this area on foot if you like, especially the <strong>Miradouro de Santa Catarina viewpoint</strong>, which hosts sweeping views over the bay. Also nearby is the <strong>Miradouro de Sao Pedro de Alcantara</strong> viewpoint overlooking part of the city.</p>
    </section>


    <!-- Lisbon Almada Sanctuary of Christ the King Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="almada-sanctuary"></a>
        <h2 class="left-heading destination-section-heading">National Sanctuary of Christ&nbsp;the&nbsp;King</h2>
        <p>Across the Tagus River from Central Lisbon, adjacent to the Ponte 25 de Abril bridge, you'll find the monumental <strong>National Sanctuary of Christ the King</strong>. You can go to the top of this towering monument to take in sweeping panoramic views overlooking Lisbon from across the water from high above. The views from atop the monument are incredible and highly recommended to witness.</p>
    </section>


    <!-- Queluz National Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="queluz-palace"></a>
        <h2 class="left-heading destination-section-heading">Queluz National Palace</h2>
        <p>Another palace you should definitely visit is the breathtaking <strong>Queluz National Palace</strong> with its magnificent colorful rococo-style exteriors and 18th century interiors, surrounded by beautiful well-manicured formal gardens and monuments. This palace is located in the suburb of Queluz which can be easily reached via train.</p>
        <p>Due to the Queluz Palace not being very well-known, the palace's ticketing office is an excellent place to purchase a combination ticket which includes most of Sintra's Palaces.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lisbon 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8717680465"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Museums, Oceanarium, and More Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely azulejo tiled walls and historic paintings inside Lisbon's National Azulejo Museum"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Museu-Nacional-do-Azulejo-National-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Azulejo Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sinava/38593025510/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                                    Naval S</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Statues set amongst the gardens of the modern structure housing the Calouste Gulbenkian Museum in Lisbon"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Museu-Calouste-Gulbenkian-Foundation-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museu Calouste Gulbenkian<br />Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sheilaellen/3577784833/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sheilaellen/" rel="noopener noreferrer" target="_blank">
                                    Sheila Thomson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of Lisbon's National Museum of Ancient Art building"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Museu-Nacional-de-Arte-Antiga-Historic-Art-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museu Nacional de<br />Arte Antiga Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museu_Nacional_de_Arte_Antiga2075.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jo%C3%A3o_Carvalho" rel="noopener noreferrer" target="_blank">
                                    Joao Carvalho</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking night-time view of the riverside Lisbon Oceanarium aquarium building"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Lisbon-Oceanarium-Aquarium.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lisbon Oceanarium</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/danielsilva16/19529457521" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/danielsilva16/" rel="noopener noreferrer" target="_blank">
                                    Daniel Silva</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Amazing view of the sloped gardens of the Park Eduardo VII, which seem to lead all the way down to Lisbon's river"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Miradouro-Park-Eduardo-VII-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miradouro Park Eduardo VII<br />(View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/lisbon-portugal-europe-travel-938996/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Freesally-1311100/" rel="noopener noreferrer" target="_blank">
                                    Freesally</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side exterior view of Lisbon's lovely white Basilica da Estrela"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Basilica-de-Estrela.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica da Estrela</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Estrela_Basilica.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pierre5018" rel="noopener noreferrer" target="_blank">
                                    Pierre5018</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums"></a>
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>On the eastern edge of Central Lisbon near the coast is one of the city's best museums, the <strong>National Azulejo Museum</strong>, which displays beautiful intricate azulejo tile art within a lavish monastery and even features a lovely cloister.</p>
        <p>To the north of Central Lisbon is the the <strong>Museu Calouste Gulbenkian</strong> museum, which houses an incredible collection of art and artifacts ranging from ancient pieces from Egypt, Rome, and Greece, to medieval and Renaissance art from Europe, and much more, surrounded by beautiful gardens.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Another great museum is the <strong>Museu Nacional de Arte Antiga</strong>, which contains a wealth of paintings, sculptures, and other art works from the medieval era through the 19th century. This museum is located on the western side of Central Lisbon near the coast.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Lisbon Oceanarium Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lisbon-oceanarium"></a>
        <h2 class="left-heading destination-section-heading">Lisbon Oceanarium</h2>
        <p>On the outskirts of Lisbon you might also consider visiting the extremely popular <strong>Lisbon Oceanarium</strong>, which is the largest indoor aquarium in Europe and among the top aquariums in the world, with a vast amount of species and exhibits.</p>
    </section>


    <!-- Lisbon More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Edward VII Park</h3>
        <p>In Northern Lisbon you can visit the vast landmark Edward VII Park, from the top of which you can take in amazing views over the city and coast at the <strong>Miradouro Park Eduardo VII</strong>, a must-see attraction.</p>
        <h3>Basilica de Estrela</h3>
        <p>East of Central Lisbon is the <strong>Basilica da Estrela</strong>, a majestic baroque white church with fine details and exquisite interiors, which houses a royal tomb. You can also access the rooftop of this basilica for excellent views over the city.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lisbon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9481480681"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lisbon Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/n4pFBggo29K2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/RSVXuyv3uxq">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/sintra-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive and colorful fairytale-like exterior of Sintra's incredible National Palace of Pena, located atop a mountain north of Lisbon"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Park-and-National-Palace-of-Pena-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/sintra-attractions-guide">
                        Sintra
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Sintra_Portugal_Pal%C3%A1cio_da_Pena-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cccefalon/Profile" rel="noopener noreferrer" target="_blank">
                            CEphoto, Uwe Aranas</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/porto-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="The iconic fairytale-like staircase of Porto's Livrarie Lello Bookshop, which inspired settings for the Harry Potter books"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Livraria-Lello-Bookshop-Staircase.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/porto-attractions-guide">
                        Porto
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/windenric1/31470224023" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/windenric1/" rel="noopener noreferrer" target="_blank">
                            Enric Rubio Ros</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful and iconic natural arch formations along the coastal cliffs of Lagoa at the famous Praia da Marniha Beach, along Portugal's Algarve Coast"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Algarve-Coast-Lagoa-Praia-da-Marinha-Beach-Arco-Natural-Sea-Arches.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">
                        Algarve Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/107521854@N05/16307543387" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/107521854@N05/" rel="noopener noreferrer" target="_blank">
                            Luis Ascenso</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
        </div>

    </section>


    