<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View of Old Town Porto from along the Douro River, Porto, Portugal Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/portugal/Portugal-Porto-Old-Town-Douro-River-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Porto, Portugal, and plan the perfect trip with our savable Porto Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="porto_portugal" />
    <meta name="europe_attraction_guides" content="porto_portugal" />
    <meta name="europe_destinations" content="porto_portugal" />
    <meta name="europe_destination_guides" content="porto_portugal" />
    <meta name="portugal_attraction_guides" content="porto" />
    <meta name="portugal_destinations" content="porto" />
    <meta name="portugal_destination_guides" content="porto" />
    <meta name="google_maps_list" content="porto" />
    <meta property="og:title" content="Porto, Portugal Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/portugal/Portugal-Porto-Old-Town-Douro-River-View.jpg">
    <meta name="twitter:title" content="Porto, Portugal Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/portugal/Portugal-Porto-Old-Town-Douro-River-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/portugal/porto-attractions-guide">
    <title>Attractions Guide for Porto, Portugal</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Porto, Portugal<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#livraria-lello">Livraria Lello Bookstore</a></div>
            <div><a href="#clerigos-church">Clerigos Church</a></div>
            <div><a href="#azulejo-buildings">Azulejo Buildings</a></div>
            <div><a href="#ribeira-district">Ribeira District</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Porto Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Porto is Portugal's second largest city and located in the northern part of the country, with most of the city's attractions huddled around the historic centre of Porto, which is a UNESCO world heritage site earned from its beauty.</p>
    </section>


    <!-- Livraria Lello and Clerigos Church Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Central Old Town of Porto and colorful buildings seen from across the Douro River in Porto, Portugal"
                        src="https://www.travelimager.com/images/portugal/Portugal-Porto-Old-Town-Douro-River-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Central Porto &amp; Douro River</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/fr/photos/porto-portugal-la-rivi%C3%A8re-douro-2048724/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/fr/users/nathsegato-4491350/" rel="noopener noreferrer" target="_blank">
                                    nathsegato</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View looking up at the walls and extremely elegantly designed ceilings and carvings of the Livraria Lello Bookshop, whbich inspired Harry Potter, located in Porto, Porugal"
                        src="https://www.travelimager.com/images/portugal/Portugal-Porto-Livraria-Lello-Bookshop.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Livraria Lello Bookshop</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nanpalmero/27990938057/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nanpalmero/" rel="noopener noreferrer" target="_blank">
                                    Nan Palmero</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="The iconic fairytale-like staircase of Porto's Livrarie Lello Bookshop, which inspired settings for the Harry Potter books"
                        src="https://www.travelimager.com/images/portugal/Portugal-Porto-Livraria-Lello-Bookshop-Staircase.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Livraria Lello Bookshop Staircase</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/windenric1/31470224023" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/windenric1/" rel="noopener noreferrer" target="_blank">
                                    Enric Rubio Ros</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic buildings surrounding the impressive Carlos Alberto Plaaza of Porto, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Praca-de-Carlos-Alberto-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carlos Alberto Plaza</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oporto_-_Pra%C3%A7a_de_Carlos_Alberto_-_20110424_162946.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                                    Barcex</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking exterior of Porto's Clerigos Church with its famous Clerigos Tower"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Clerigos-Church-and-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Clerigos Church &amp; Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/albertodv/5997183955/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/albertodv/" rel="noopener noreferrer" target="_blank">
                                    Alberto D.V.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Livraria Lello Bookstore Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="livraria-lello"></a>
        <h2 class="left-heading destination-section-heading">Livraria Lello Bookstore</h2>
        <p>One of the city's most famous attractions is the highly intricate and gorgeous <strong>Livraria Lello</strong>, a bookstore which inspired settings for the Harry Potter movies. Nearby you can admire the lovely <strong>Square Carlos Alberto</strong> plaza, which is surrounded by colorful buildings.</p>
    </section>


    <!-- Clerigos Church Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="clerigos-church"></a>
        <h2 class="left-heading destination-section-heading">Clerigos Church</h2>
        <p>Nearby the Livraria Lello are two of the city's finest churches, the beautiful baroque <strong>Clerigos Church</strong> with its grandiose interiors and iconic <strong>Clerigos Tower</strong> (one of the symbols of Porto).</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Porto 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6940622415"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Azulejo Structures Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning exterior of the Igreja do Carmo Convent in Porto, with its painted azulejo tile side"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Igreja-do-Carmo-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Igreja do Carmo Convent</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/46604778@N00/14004037901/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/46604778@N00/" rel="noopener noreferrer" target="_blank">
                                    domjisch</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Strikingly beautiful painted azulejo tile facade of Porto's Church of Saint Ildefonso"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Saint-Ildefonso-Church-Igreja-Paroquial-de-Santo-Ildefonso.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of Saint&nbsp;Ildefonso</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/9084427@N07/7893827020/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/9084427@N07/" rel="noopener noreferrer" target="_blank">
                                    Yellow.Cat</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little Chapel of Souls, whose exterior is almost entirely covered in finely detailed painted azulejo tiles, in Porto, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Chapel-of-Souls-Capela-das-Almas.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chapel of Souls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Capela_de_Santa_Catarina_66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Capela_de_Santa_Catarina_66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Antonio Amen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful azulejo tile walls seen inside Porto's Sao Bento Rail Station"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Porto-Sao-Bento-Rail-Station.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Porto Sao Bento Rail&nbsp;Station</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/alainrouiller/33133611691/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/alainrouiller/" rel="noopener noreferrer" target="_blank">
                                    Alain Rouiller</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elegant azulejo tile facade of Porto's Saint Anthony's Church Congregados"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Saint-Anthony-Church-Igreja-de-Santo-Antonio-dos-Congregados.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Anthony's Church Congregados</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Igreja_de_Santo_Ant%C3%B3nio_dos_Congregados.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:HombreDHojalata" rel="noopener noreferrer" target="_blank">
                                    HombreDHoljalata</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Azulejo Structures Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="azulejo-buildings"></a>
        <h2 class="left-heading destination-section-heading">Azulejo Tiled Buildings</h2>
        <p>Nearby the Clerigos Church is <strong>Igreja do Carmo</strong> with its baroque facade and blue and white azulejo tiled exterior side, which creates a massive elegant art piece that's very complex.</p>
        <p>Around Porto you'll find several similar tiled churches, including the <strong>Church of Saint Ildefonso</strong> with its tiled facade, and the <strong>Chapel of Souls</strong> with its exterior completely covered in blue and white azulejo tiles that make up elaborate designs.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Another amazing azulejo structure is the <strong>Porto Sao Bento</strong> rail station, inside of which you'll find incredible blue and white tiled murals. Adjacent to the train station you can admire the azulejo facade of the <strong>Saint Anthony's Church Congregados</strong> as well.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Porto 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5627540747"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Ribeira District Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Castle-like Romanesque extrior of the Porto Cathedral paritally obscured by other buildings"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Se-Porto-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Porto Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/arqpalazzo/14683713283" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/arqpalazzo/" rel="noopener noreferrer" target="_blank">
                                    Pedro Paulo Palazzo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the fine white and brick Paco Episcopal do Porto Palace"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Paco-Episcopal-de-Porto-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Paco Episcopal do Porto Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Paco_Episcopal_(Porto).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Manuel_de_Sousa" rel="noopener noreferrer" target="_blank">
                                    Manuel de Sousa</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval hilltop walls of the former Fernandina Castle in Porto, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Muralha-Fernandina-Castle-Walls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Muralha Fernandina Castle&nbsp;Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Muralha_Fernandina.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Muralha_Fernandina.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Ruialbuquerque</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of Central Porto seen from the river side below the Luis I Bridge"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Ponte-Luis-I-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Luis I Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Don_Luis_I,_Oporto,_Portugal,_2012-05-09,_DD_19.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible Mosteiro da Serra do Pilar Monastery built into the hillside in Porto"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Mosteiro-da-Serra-do-Pilar-Monastery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mosteiro da Serra do Pilar Monastery</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ronmacphotos/18173321798/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ronmacphotos/" rel="noopener noreferrer" target="_blank">
                                    Ronnie Macdonald</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous view overlooking Central Porto and the Luis I Bridge from across the river, seen from atop the Serra do Pilar Monastery"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Miradouro-da-Serra-do-Pilar-Monastery-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Serra do Pilar Monastery Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://en.wikipedia.org/w/index.php?title=File:Puente_Don_Luis_I,_Oporto,_Portugal,_2012-05-09,_DD_13.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ribeira District Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ribeira-district"></a>
        <h2 class="left-heading destination-section-heading">Ribeira District</h2>
        <p>Porto's main church is the towering <strong>Porto Cathedral</strong>, which an imposing romanesque exterior and a remarkable gothic cloister.</p>
        <p>Nearby the cathedral you can tour the grand <strong>Paco Episcopal do Porto</strong> palace with its historic interiors and see the remnants of Porto's medieval <strong>Muralha Fernandina</strong> city walls (and walk along them). The walls tower above the Douro River below, which is spanned by another Porto landmark, the <strong>Luis I Bridge</strong>. Be sure to take in scenic views from below the bridge along the river.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>From across the bridge you can enjoy breathtaking panoramic views over Porto from the roof of the <strong>Mosteiro da Serra do Pilar</strong> monastery. You can also take in excellent views looking up at Porto from the riverside below the bridge.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Porto 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2115671140"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- More Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Extravagantly decorated room within Porto's Bolsa Palace"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Palacio-de-Bolsa-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bolsa Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/marcellosaponaro/16936695598" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/marcellosaponaro/" rel="noopener noreferrer" target="_blank">
                                    Marcello Saponaro</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Highly embellished interiors inside Porto's Monument Church of St. Francis"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Monument-Church-of-St-Francis-Igreja-de-Sao-Francisco.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monument Church of St.&nbsp;Francis</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Igreja_de_S%C3%A3o_Francisco_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Igreja_de_S%C3%A3o_Francisco_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Alegna13</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely clifftop Gardens of the Crystal Palace with vistas overlooking the suburbs of Porto in the background"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Gradens-of-the-Crystal-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gardens of the Crystal&nbsp;Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Garden_Of_The_Crystal_Palace_(35655357203).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Garden_Of_The_Crystal_Palace_(35655357203).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    xlibber</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Bolsa Palace</h3>
        <p>The city's most famous palace is the 19th century <strong>Bolsa Palace</strong>, which showcases incredibly lavish ornate interiors that you can tour. The Bolsa Palace is definitely a must-see attraction.</p>
        <h3>Monument Church os St.&nbsp;Francis</h3>
        <p>Next door to the palace is the impressive baroque 14th century <strong>Monument Church of St. Francis</strong>, which features extravagant interiors covered in gold and underground catacombs.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Gardens of the Crystal&nbsp;Palace</h3>
            <p>One more attraction to consider is the 19th century <strong>Gardens of the Crystal Palace</strong>, which feature beautiful manicured gardens overlooking the river from high above, located to the west of Porto's historic centre. Another great place to take in views over the river is from the Parque das Virtudes park.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Porto Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9591778432"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Porto Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/mXSq9bz5pkF2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/5qos5N1UmRv">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/lisbon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Elegant castle-like Belem Tower, one of Lisbon's most iconic sights, set amongst the riverfront"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Belem-Tower.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/lisbon-attractions-guide">
                        Lisbon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Torre_Bel%C3%A9m_April_2009-1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alvesgaspar" rel="noopener noreferrer" target="_blank">
                            Alvesgaspar</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/sintra-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive and colorful fairytale-like exterior of Sintra's incredible National Palace of Pena, located atop a mountain north of Lisbon"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Park-and-National-Palace-of-Pena-1.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/sintra-attractions-guide">
                        Sintra
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Sintra_Portugal_Pal%C3%A1cio_da_Pena-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cccefalon/Profile" rel="noopener noreferrer" target="_blank">
                            CEphoto, Uwe Aranas</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    