<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Medieval-esque Walls and Towers of the Castle of the Moors along the mountaintop above Sintra, Portugal Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-View-of-Hilltop-Medieval-Walls-and-Towers-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Sintra, Portugal + Beaches, and plan the perfect trip with our savable Sintra Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="sintra_portugal" />
    <meta name="europe_attraction_guides" content="sintra_portugal" />
    <meta name="europe_destinations" content="sintra_portugal" />
    <meta name="europe_destination_guides" content="sintra_portugal" />
    <meta name="portugal_attraction_guides" content="sintra" />
    <meta name="portugal_destinations" content="sintra" />
    <meta name="portugal_destination_guides" content="sintra" />
    <meta name="google_maps_list" content="sintra" />
    <meta property="og:title" content="Sintra, Portugal Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-View-of-Hilltop-Medieval-Walls-and-Towers.jpg">
    <meta name="twitter:title" content="Sintra, Portugal Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-View-of-Hilltop-Medieval-Walls-and-Towers.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/portugal/sintra-attractions-guide">
    <title>Attractions Guide for Sintra, Portugal</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Sintra, Portugal<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#transportation">Transportation</a></div>
            <div><a href="#sintra-national-palace">Sintra Palace</a></div>
            <div><a href="#quinta-da-regaleira">Quinta da Regaleira</a></div>
            <div><a href="#castle-of-the-moors">Castle of the Moors</a></div>
            <div><a href="#pena-palace">Pena Palace</a></div>
            <div><a href="#monserrate-palace">Monserrate Palace</a></div>
            <div><a href="#convent-of-the-capuchos">Capuchos Convent</a></div>
            <div><a href="#cabo-da-roca">Cabo da Roca</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Sintra Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>You'll find several brilliant fairytale-like castles and palaces within the UNESCO listed Sintra-Cascais Natural Park, which is located in the forest-covered mountains west of Lisbon. It's best to pre-purchase ticekts for the attractions you wish to visit in Sinta in order to avoid long lines at the more popular palaces.</p>
        <p>Be sure to time your visit around the late-afternoon fog that engulfs Sintra almost every day, which makes for a mystical setting but also takes away the incredible views. You'll definitely need at least 2-3 days if you wish to see most of the attractions Sintra has to offer.</p>
    </section>


    <!-- Sintra National Palace and Quinta da Regaleira Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Exterior of the massive and unique white Sintra National Palace with its massive cone chimneys"
                        src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Sintra-National-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sintra National Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palacio_Nacional_de_Sintra.jpeg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pedro_J_Pacheco" rel="noopener noreferrer" target="_blank">
                                    Pedro J Pacheco</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colorful buildings of Sintra below the Castle of the Moors framed behind an entry arch of the Sintra National Palace"
                        src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Sintra-National-Palace-Arch-View-of-Town.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sintra National Palace<br />(Entry Arch View of Town)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Striking building set amongst the gardens of the Quinta da Regaleira in Sinta"
                        src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Quinta-da-Regaleira-Palace-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Quinta da Regaleira Estate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sinava/39610221594/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sinava/" rel="noopener noreferrer" target="_blank">
                                    Naval S</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the deep rounded-staircase of the Inciatic Well of Sintra's Quinta da Regaleira gardens"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Quinta-da-Regaleira-Iniciatic-Well.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Iniciatic Well<br />(Quinta da Regaleira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/glynlowe/16277476688/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/glynlowe/16277476688/" rel="noopener noreferrer" target="_blank">
                                    Photo YourSpace</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of the stone steps within the grotto waters of the Quinta da Regaleira Palace of Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Quinta-da-Regaleira-Palace-Gardens-Grotto-Steps.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grotto Steps<br />(Quinta da Regaleira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fantastical grotto surrounded by rocky walls with rock step-path leading out of a long cave beneath the gardens of the Quinta da Regaleira in Sintra"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Quinta-da-Regaleira-Grotto.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Step Grotto<br />(Quinta da Regaleira)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/froderik/4750465788/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/froderik/" rel="noopener noreferrer" target="_blank">
                                    Fredrik Rubensson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Transportation / Getting Around Sintra Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="transportation"></a>
        <h2 class="left-heading destination-section-heading">Transportation / Getting Around Sintra</h2>
        <p>Sintra is linked directly to many neighborhoods in Lisbon via train, however as it is a very popular destination, you'll want to pre-book your train tickets before arriving at the train station.</p>
        <p>All of the attractions of Sintra are linked via multiple bus lines (excluding the Convent of the Capuchos but including Cabo da Roca). These buses are frequently over-crowded with long lines however, so be sure to bring some extra cash as there are many mini-taxis that can quickly get you between attractions.</p>
    </section>


    <!-- Sintra National Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sintra-national-palace"></a>
        <h2 class="left-heading destination-section-heading">Sintra National Palace</h2>
        <p>When you arrive in Sintra via train, the nearest attraction to the station is the medieval <strong>Sintra National Palace</strong>. This royal palace contains intricate azulejo tile-work and beautiful highly embellished interiors.</p>
        <p>Many people arrive and spend a very long time waiting in line to take the bus to the palace, instead of taking a quick 10 minute walk to reach it. Around the Sintra Palace you'll find many great shops and restaurants as well.</p>
    </section>

    <!-- Quinta da Regaleira Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="quinta-da-regaleira"></a>
        <h2 class="left-heading destination-section-heading">Quinta da Regaleira Palace</h2>
        <p>From the Sintra National Palace you can walk about 10 minutes to the extremely popular <strong>Quinta da Regaleira</strong>, a majestic and highly ornate gothic estate surrounded by dense forests and parkland. Within this parkland you'll find amazing features, including a series of labyrinth-like grottos connected via underground caves.</p>
        <p>Among the palace's most well-known features is the stunning <strong>Inciatic Well</strong>, which hosts a circular stone staircase leading to more underground tunnels that you can explore. You could easily spend hours walking around and enjoying this sprawling estate and its uniquely amazing, fairytale-like gardens.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sintra 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3922032241"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


 
    <!-- Castle of the Moors and National Palace of Pena Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vast winding walls along the mountaintop of the Castle of the Moors in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-View-of-Hilltop-Medieval-Walls-and-Towers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle of the Moors<br />Medieval Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stone tower and flag of the Caslte of the Moors with long stone walls in the background in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-Tower-and-Flag-with-Hillyop-Medieval-Walls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle of the Moors<br />Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Imposing medieval stone walls of the Castle of the Moors spanning across part of the mountaintop above Sintra"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle of the Moors<br />Tower &amp; Walls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Battlements_of_Moorish_Castle_-_Sintra_-_Portugal_(4635656953).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/41000732@N04" rel="noopener noreferrer" target="_blank">
                                    Adam Jones Ph.D.</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from the stone walls of Castle of the Moors of a hilltop castle tower and Pena National Palace in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Castle-of-the-Moors-Medieval-Walls-View-of-Castle-Tower-and-Pena-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle of the Moors &amp;<br />Pena National Palace View</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little hillside Villa Sassetti in Sinta"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Vila-Sassetti-Villa-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vila Sassetti</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/julien_maury/37761834046/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/julien_maury/" rel="noopener noreferrer" target="_blank">
                                    Julien Maury</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Castle of the Moors Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="castle-of-the-moors"></a>
        <h2 class="left-heading destination-section-heading">Castle of the Moors</h2>
        <p>Instead of taking a bus or taxi up the tall mountain to the Castle of the Moors and Pena Palace, you might choose to take a beautiful hike up the mountain. The trail is located between the Sintra National Palace and Quinta de Regaleira, near the Casa das Minas, a cafe located withing a lovely Sintra home surrounded by elegant gardens.</p>
        <p>The mountaintop <strong>Castle of the Moors</strong> was originally constructed in the 8th century out of stone but has been restored. You can walk along the vast expanse of this medieval castle's walls, which incline up and down the mountain with many towers and breathtaking views. It's highly recommended to walk and explore around the entirety of the walls, which offer many great photo opportunites and is quite an incredible experience.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>If you decide to hike up the mountain to the Castle of the Moors you'll be rewarded with excellent views and pass by the <strong>Villa Sassetti</strong>. This quiant fairytale-like villa is surrounded by many beautiful gardens which make-up the the actual trail you hike along up the the castle.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sintra 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7404598794"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Castle of the Moors and National Palace of Pena Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive and colorful fairytale-like exterior of Sintra's incredible National Palace of Pena, located atop a mountain north of Lisbon"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Park-and-National-Palace-of-Pena-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Palace of Pena</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sintra_Portugal_Pal%C3%A1cio_da_Pena-01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Cccefalon/Profile" rel="noopener noreferrer" target="_blank">
                                    CEphoto, Uwe Aranas</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the colorful buildings of Sintra National Palace below the castle's terrace in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Pena-National-Palace-Balconies.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Palace of Pena Terrace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/the-palace-castle-architecture-3662980/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Sylabo-3138889/" rel="noopener noreferrer" target="_blank">
                                    Sylabo</a><br />
                           <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking over the many fairytale-like balconies and terraces of the National Palace of Pena in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-National-Palace-of-Pena-Terrace-Balconies.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">National Palace of Pena Terrace&nbsp;Balconies</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Pena_Palace_2017.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MikkelH" rel="noopener noreferrer" target="_blank">
                                    Mikkel Houmoller</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely pond surrounded by lush greenery withing the gardens of the National Palace of Pena Park in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-National-Palace-of-Pena-Park-Gardens-Pond.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pena Palace Park &amp; Gardens</strong><br />
                        <span class="owl-item-credits">
                           <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tiny Swiss-inspired Chalet, set amongst the vast gardens of the National Palace of Pena in Sintra"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Chalet-e-Jardim-da-Condessa-DElda-Chalet-and-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chalet &amp; Garden of Condessa D'Elda (Pena&nbsp;Palace&nbsp;Park)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Chalet_da_Condessa.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Chalet_da_Condessa.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    HenGomes</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>





    <!-- National Palace of Pena Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="pena-palace"></a>
        <h2 class="left-heading destination-section-heading">National Park and Palace&nbsp;of&nbsp;Pena</h2>
        <p>About a 10 minute walk from the Castle of the Moors is the iconic multi-colored <strong>National Palace of Pena</strong>, a truly majestic, fairytale-like castle.</p>
        <p>After walking through the castle's historic rooms and taking in views from the many balconies surrounding it, you can explore the vast park surrounding the castle. The Pena Park is massive and contains many monuments, gardens, forests, bridges, ponds, and more. You could easily spend hours exploring this gorgeous expanse of rocky woodlands mixed with historic, beautiful structures.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Within the castle's park you'll even find the <strong>Chalet e Jardim da Condessa D'Edla</strong>, a royal 19th century chalet-like home built with intricate levels of detail.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sintra 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5515860100"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Monserrate Palace and Convent of the Capuchos Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunningly detailed Moorish architecture of the Palace of Monserrate in Sintra"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Park-and-Palace-of-Monserrate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palace of Monserrate</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29946195@N07/7730029906" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29946195@N07/" rel="noopener noreferrer" target="_blank">
                                    kkmarais</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the side of the stunning Moorish-style Palace of Monserrate in Sintra, Portugal atop a grassy hill"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Palace-of-Monserrate-Exterior-and-Gardens-Hillside-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Palace of Monserrate Hillside&nbsp;View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Monserate_2180128_1_(244152369).jpeg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://500px.com/nborges" rel="noopener noreferrer" target="_blank">
                                    Nuno Borges</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Artifical ruins of the facade of an overgrown medieval chapel seen in the gardens of Monserrate Palace in Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Park-and-Palace-of-Monserrate-Chapel-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chapel Ruins (Monserrate&nbsp;Palace&nbsp;Gardens)</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Old stone buildings of the Convent of the Capuchos partially reclaimed by the overgrowing forests of Sintra"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Convent-of-the-Capuchos.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Convent of the Capuchos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Capuchos_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Capuchos_3.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Mangelbenito</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Monserrate Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="monserrate-palace"></a>
        <h2 class="left-heading destination-section-heading">Monserrate Palace &amp; Gardens</h2>
        <p>Much deeper into the park you'll find the 19th century <strong>Monserrate Palace</strong>, which showcases a fine blend of Romanticist and Eclecticism architecture. The palace also displays many fine Moorish and Indian inspired elements, making it quite unique and captivating. Inside you'll find elegant posh interiors. This palace is surrounded by a vast expanse of lovely botanical gardens with many ponds and monuments, as well as many types of plants from around the world.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Within the Montserrate gardens you'll find a recreated ruined chapel covered in overgrown forests, waterfalls, themed botanical gardens, and many excellent photo opportunities. In order to reach this palace you'll need to either take the Sintra Bus or a much quicker taxi.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Convent of the Capuchos Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="convent-of-the-capuchos"></a>
        <h2 class="left-heading destination-section-heading">Convent of the Capuchos (Car or Tour Recommended)</h2>
        <p>Very deep into the forests of Sintra far away from the palaces is the 16th century <strong>Convent of the Capuchos</strong>. This convent features quaint medieval structures that have been partially reclaimed by the lush forests, with all types of overgrown greenery covering the buildings. The foliage makes this convent a surreal and fascinating place to explore.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>Due to its remote location in the mountains forests of Sintra, it's quite difficult to reach the convent by hiking from the nearest bus stop (about 4 hours round-trip). It also might be difficult to catch a taxi to return to Sintra from the convent, so the best option to reach it is by car or via an escorted tour from Sintra.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sintra 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6091517125"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>



    <!-- Cabo da Roca and Sintra Coast Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour sunset view overlooking Cabo da Roca Lighthouse and coastline near Sintra and Lisbon, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Coast-Colares-Cabo-da-Roca-Lighthouse-and-Praia-da-Ursa-Beach-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cabo da Roca Lighthouse &amp; View</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredibly picturesque view of the cliffs and rock formations along the coast seen from Cabo da Roca near Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Coast-Cabo-da-Roca-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cabo da Roca Cape View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cabo_da_Roca,_Sintra-Cascais_Natural_Park,_Portugal_(12_May_2007).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Husond" rel="noopener noreferrer" target="_blank">
                                    Husond</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking coastal pyramid-like rock formations seen from the sand below the cliffs at Ursa Beach near Sintra"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Coast-Praia-da-Ursa-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ursa Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rosino/4092828417/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rosino/" rel="noopener noreferrer" target="_blank">
                                    Rosino</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the unique rock formations along the coast of Ursa Beach during golden hours near Lisbon and Sintra, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Coast-Colares-Praia-da-Ursa-Beach-Northside-Overlook-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ursa Beach Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the sandy Praia da Adraga Beach and its rock formations along the Sintra Coastline of Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Coast-Colares-Praia-da-Adraga-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Praia da Adraga Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible sunset view overlookign the cliffs and coastline from Miradouro da Praia do Carneiro Viewpoint in Colares, Portugal"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Sintra-Coast-Colares-Miradouro-da-Praia-do-Caneiro-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miradouro da Praia do<br />Carneiro Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Cabo da Roca and Ursa Beach Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cabo-da-roca"></a>
        <h2 class="left-heading destination-section-heading">Cabo da Roca</h2>
        <p>After enjoying the many palaces and gardens of Sintra, you can take the bus or drive to the coast to see the sunset at <strong>Cabo da Roca</strong>, a lovely cape with a small lighthouse set atop striking cliffs, which marks continental Europe's westernmost point.</p>
        <h3>Ursa Beach &amp; Praia da Adraga</h3>
        <p>Nearby Cabo da Roca is the stunning <strong>Ursa Beach</strong>, which requires a walk of about 2 miles (3.2 km) round-trip to reach from the Cabo da Roca Busstop, with breataking clifftop views over the coast beach along the way. The views over the Atlantic here are best at Golden Hour, during the 1.5 hours before sunset (when the Sintra Mountains are also typically covered in fog).<p/>
        <p>If you were to continue walking along the cliffs from Ursa Beach you would reach the popular <strong>Praia da Adraga Beach</strong>, approximately 1.5 miles (2.4 km) north of Ursa Beach. The views along this walk are absolutely stunning, especially from the <strong>Miradouro Praia do Carneiro</strong> viewpoint.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Sintra Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8168399016"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Sintra Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ppedRzp3srq">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/lisbon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Elegant castle-like Belem Tower, one of Lisbon's most iconic sights, set amongst the riverfront"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Lisbon-Belem-Tower.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/lisbon-attractions-guide">
                        Lisbon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Torre_Bel%C3%A9m_April_2009-1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alvesgaspar" rel="noopener noreferrer" target="_blank">
                            Alvesgaspar</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/porto-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="The iconic fairytale-like staircase of Porto's Livrarie Lello Bookshop, which inspired settings for the Harry Potter books"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Porto-Livraria-Lello-Bookshop-Staircase.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/porto-attractions-guide">
                        Porto
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/windenric1/31470224023" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/windenric1/" rel="noopener noreferrer" target="_blank">
                            Enric Rubio Ros</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunningly beautiful and iconic natural arch formations along the coastal cliffs of Lagoa at the famous Praia da Marniha Beach, along Portugal's Algarve Coast"
                        data-src="https://www.travelimager.com/images/portugal/Portugal-Algarve-Coast-Lagoa-Praia-da-Marinha-Beach-Arco-Natural-Sea-Arches.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/portugal/algarve-coast-attractions-guide">
                        Algarve Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/107521854@N05/16307543387" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/107521854@N05/" rel="noopener noreferrer" target="_blank">
                            Luis Ascenso</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
        </div>

    </section>


    