<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Bikes lined up along the rail of a bridge over a canal at night in Amsterdam, Netherlands Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Amsterdam-Canals-Night-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Amsterdam, Netherlands, and plan the perfect trip with our savable Amsterdam Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="amsterdam_netherlands" />
    <meta name="europe_attraction_guides" content="amsterdam_netherlands" />
    <meta name="europe_destinations" content="amsterdam_netherlands" />
    <meta name="europe_destination_guides" content="amsterdam_netherlands" />
    <meta name="netherlands_attraction_guides" content="amsterdam" />
    <meta name="netherlands_destinations" content="amsterdam" />
    <meta name="netherlands_destination_guides" content="amsterdam" />
    <meta name="google_maps_list" content="amsterdam" />
    <meta property="og:title" content="Amsterdam, Netherlands Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Amsterdam-Canals-Night.jpg">
    <meta name="twitter:title" content="Amsterdam, Netherlands Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Amsterdam-Canals-Night.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
    <title>Attractions Guide for Amsterdam, Netherlands</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Amsterdam, Netherlands<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#canals">Canals</a></div>
            <div><a href="#dam-square">Dam Square</a></div>
            <div><a href="#de-wallen">De Wallen</a></div>
            <div><a href="#rembrandtplein">Rembrandtplein</a></div>
            <div><a href="#anne-frank-house">Anne Frank</a></div>
            <div><a href="#museumplein">Top Museums</a></div>
            <div><a href="#heineken-and-vondelpark">Heineken &amp; Vondelpark</a></div>
            <div><a href="#more-museums">More Museums</a></div>
            <div><a href="#more-attractions">More</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Amsterdam Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Amsterdam is a stunning city of countless canals lined with lovely historic homes, tress, and boats, as well as many medieval structures. Most of the city's main sights are concentrated around the city's center (near Dam Square) and Museumplein square located a bit south of Dam Square.</p>
    </section>


    <!-- Canals of Amsterdam Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge" 
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Prinsensluis Bridge Canal&nbsp;View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                                    neshom</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Daytime amongst the scenic Amsterdam canals with a bridge spanning a smaller canal, seen from across a larger canal"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Amsterdam-Canals-Day.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amsterdam Canals (Day)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amsterdam-center-town-netherlands-683534/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/0805edwin-864778/" rel="noopener noreferrer" target="_blank">
                                    0805edwin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Night time view of bicycles lined up along the railing on a bridge spanning over a small canal in Amsterdam"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Amsterdam-Canals-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amsterdam Canals (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amsterdam-canals-bike-netherlands-1243233/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/dolcece-1197596/" rel="noopener noreferrer" target="_blank">
                                    dolcece</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="House boats lined up along the sides of a lively canal in Central Amsterdam during the day"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Canal-Boats-Daytime.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amsterdam Canal Boats (Day)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/canal-waterway-barge-home-boat-2659062/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/djedj-59194/" rel="noopener noreferrer" target="_blank">
                                    djedj</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Golden hour sunset colors along a canal lined with boats and townhomes in Amsterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherland-Amsterdam-Canal-and-Boats-Sunset-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amsterdam Canal Boats (Sunset)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/amsterdam-canal-storm-city-sky-1910176/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Many small boats lined up along the sides of a smaller Amsterdam canal at night" 
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Canal-Boats-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amsterdam Canal Boats (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Amsterdam_(8698448254).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sergesegal/" rel="noopener noreferrer" target="_blank">
                                    Sergey Galyonkin</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Canals of Amsterdam Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="canals"></a>
        <h2 class="left-heading destination-section-heading">Canals of Amsterdam</h2>
        <p>The best way to enjoy Amsterdam is by walking around and exploring amongst its many picturesque canals, which make up a UNESCO world heritage site. Be sure to also take a boat tour through the canals for a different perspective.</p>
        <p>West of Dam Square near the Anne Frank House is a very photogenic canal bridge, the <strong>Prinsensluis Bridge</strong>. A bit to the south of this bridge is the especially scenic De 9 Straatjes (9 Streets) area, which hosts many charming canal homes, boutiques, gift shops, art galleries, cafes, and restaurants around a picturesque area of the city.</p>
    </section>


    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amsterdam 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4722595136"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    <!-- Dam Square and De Wallen Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lit up facade of the Royal Palace of Amsterdam seen at Dam Square at night"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Royal-Palace-of-Amsterdam-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Palace Amsterdam</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Palacio_Real,_%C3%81msterdam,_Pa%C3%ADses_Bajos,_2016-05-30,_DD_07-09_HDR.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.wikidata.org/wiki/Q28147777" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the impressive New Church of Amsterdam with its massive window, seen in the evening adjacent to the Royal Palace on Dam Square"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-De-Nieuwe-Kerk-New-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nieuwe Kerk (New&nbsp;Church)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Iglesia_Nueva,_%C3%81msterdam,_Pa%C3%ADses_Bajos,_2016-05-30,_DD_10-12_HDR.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.wikidata.org/wiki/Q28147777" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic crooked row townhouses along the Damrak Street Canal in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Damrak-Street-Canal-Crooked-Slanted-Houses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Damrak Street Crooked&nbsp;Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/amsterdam-netherlands-reflection-3031921/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/troverbay21-7468696/" rel="noopener noreferrer" target="_blank">
                                    troverbay21</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Scene along a tree-lined tiny canal in Amsterdam's De Wallen Red Light District during a cloudy day"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-De-Wallen-Red-Light-District-Day.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">De Wallen (Red&nbsp;Light&nbsp;District)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/22746515@N02/4871009963" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/22746515@N02/" rel="noopener noreferrer" target="_blank">
                                    Bert Kaufmann</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Red lighthing along the tightly packed buildings on either side of a small canal in Amsterdam's De Wallen Red Light District at night"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-De-Wallen-Red-Light-District-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">De Wallen (Red&nbsp;Light&nbsp;District)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Red-Light_District_at_night_-_Amsterdam,_Holland_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Red-Light_District_at_night_-_Amsterdam,_Holland_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Sergey Ashmarin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Facade of the old medieval Old Church, which is the oldest standing structure today in Amsterdam located in the De Wallen district" 
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-De-Oude-Kerk-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oude Kerk (Old&nbsp;Church)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jimmyg/6578772447/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jimmyg/" rel="noopener noreferrer" target="_blank">
                                    Jimmy G</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely pink attic chapel located inside the top floor of a townhome in Central Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Ons-Lieve-Heer-op-Solder-Church-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Ons’ Lieve Heer op Solder</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/garyullah/8807517167" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/garyullah/" rel="noopener noreferrer" target="_blank">
                                    Gary Campbell-Hall</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Iconic brown facade of the Basilica of St. Nicholas along the canal, one of the first structures one sees when exiting the Amsterdam Centraal train station" 
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Church-of-Saint-Nicholas.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basilica of St.&nbsp;Nicholas</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jrthibault/25809330783" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jrthibault/" rel="noopener noreferrer" target="_blank">
                                    Jean Robert Thibault</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Dam Square Amsterdam Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dam-square"></a>
        <h2 class="left-heading destination-section-heading">Dam Square</h2>
        <p>Dam Square is a large, lively place, often filled with many eccentric street performers. Lining Dam Square are several attractions, including the <strong>Royal Palace Amsterdam</strong>, a highly intricate 17th century palace still used for royal ceremonies today. Inside the palace you'll find lavish rooms with historic furnishings and artwork.</p>
        <p>Adjacent to the Royal Palace is the <strong>Nieuwe Kerk</strong> (New Church), an impressive 15th century church turned into a museum. This church hosts elaborate stained-glass windows and rotating exhibitions, but is best admired from outside.</p>
        <p>Between Dam Square and Amsterdam Central Station along Damrak  Street is one of the city’s most iconic row of canal homes, the <strong>Damrak Street Crooked Houses</strong>. These lovely old 5-6 story houses are famously tilted due to their own weight, similar to the Leaning Tower of Pisa. You can observe these houses along the Damrak Waterfront.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>If you’re interested in learning more about the city’s history, you can visit the nearby Amsterdam Museum, which offers multimedia exhibits housed within an historic former orphanage building.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- De Wallen Red Light Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="de-wallen"></a>
        <h2 class="left-heading destination-section-heading">De Wallen Red Light District</h2>
        <p>Just east of  Dam Square is Amsterdam’s famous <strong>De Wallen</strong> (Red Light District), an area in which legal prostitution and cannabis cafes are everywhere. The popular Red Light Secrets Museum hosts exhibits about this district’s history. The Red Light District also hosts many bars and a thriving nightlife scene. Apart from the debauchery, De Wallen is quite scenic and is also one of the oldest neighborhoods in the city.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>The De Wallen district is home to the oldest preserved building in Amsterdam, the 800 year-old <strong>Oude Kerk</strong> (or Old Church). This striking medieval structure contains beautiful stained-glass windows and the largest medieval wooden vaulted ceilings in all of Europe. Amongst the church's impressive architecture you'll find contemporary art collections as well as exhibits on the city's history.</p>
            <p>Near the Oude Kerk you can visit the <strong>Museum Ons’ Lieve Heer op Solder</strong> (Our Lord in the Attic Museum), a 17th century canal house hosting a lovely and elaborate pink catholic church on its top floor.</p>
            <p>One of the most stunning structures in De Wallen is the grand <strong>Basilica of St. Nicholas</strong>, a newer 19th century church which is one of the first sights you’ll see if arriving in the city at Amsterdam Centraal.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amsterdam 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1986134047"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Rembrandtplein and Anne Frank House Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous night watch scuplture scene inspired by a Rembrandt painting, located in the center of the square named after the great artist, Rembrandtplein, in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Rembrandtplein-Rembrandt-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rembrandtplein Square</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Amsterdam_-_Rembrandtplein.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe Benoist</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the Willet-Holthuysen Museum along the canal, located within a townhome in Central Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Museum-Willet-Holthuysen-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Willet-Holthuysen Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Willet-holthuysen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jvhertum" rel="noopener noreferrer" target="_blank">
                                    Jvhertum</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful fine garden of the Museum Van Loon canal house in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Museum-Van-Loon-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Van Loon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Amsterdam_-_Museum_Van_Loon_-_Gardens.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe Benoist</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Dutch branch of St. Petersburg, Russia's famous Hermitage Museum of art, located along a canal in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Hermitage-Museum-Amsterdam-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hermitage Amsterdam</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rollercoder/25672338854/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rollercoder/" rel="noopener noreferrer" target="_blank">
                                    Tobias Niepel</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior of the actual canal house in which Anne Frank hid in the attic of during WWII, which is now a museum in Amsterdam" 
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Anne-Frank-House-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Anne Frank House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Amsterdam_(NL),_Anne-Frank-Huis_--_2015_--_7185.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.wikidata.org/wiki/Q34788025" rel="noopener noreferrer" target="_blank">
                                    Dietmar Rabich</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Rembrandtplein Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="rembrandtplein"></a>
        <h2 class="left-heading destination-section-heading">Rembrandtplein Square Attractions</h2>
        <p>Just south of De Wallen and Amsterdam Centraal is <strong>Rembrandtplein Square</strong>, a popular public square known for it Night Watch sculptured figures, which are based off of Rembrandt’s most famous painting. Around this centrally located square are countless bars and restaurants.</p>
        <p>Next to the square is the <strong>Willet-Holthuysen Museum</strong>, a posh 17th century mansion with historic furniture and artworks. Visiting this well-preserved home is like stepping back in time to see what Amsterdam’s canal houses would have looked like inside hundreds of years ago. Another historic canal house nearby is the <strong>Museum Van Loon</strong>, which is known for its fine gardens and elegantly decorate interiors.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Hermitage Museum Amsterdam</h3>
            <p>Another museum nearby is the <strong>Hermitage Amsterdam</strong>, a branch of the famous Hermitage Museum in St. Petersburg, Russia. Inside the museum you can appreciate shifting art exhibits which frequently feature priceless works of art, fashion, jewelry, and more.</p>
            <h3>Rembrandt House Museum</h3>
            <p>The Rembrandt House Museum is located just northeast of Rembrantplein Square. This historic 17th century home is a former residence of the famous artist and was reconstructed and furnished to appear as it would have back when Rembrandt lived there. Connecting to the house is a museum area displaying many of Rembrandt’s artworks, as well as works of his contemporaries.</p>
            <p>Next to this house-museum you can walk through the famous 19th century Waterloopleinmarkt, a flea market in the middle of the city offering a wide array of goods for sale.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Anne Frank House Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="anne-frank-house"></a>
        <h2 class="left-heading destination-section-heading">Anne Frank House</h2>
        <p>To the west of Dam Square is one of the city's most popular attractions, the <strong>Anne Frank House</strong>. This it the actual house with the secret annex in which the girl hid with her family during the German occupation of Amsterdam in WWII. Unfortunately the house is extremely popular but not very large, so it's highly recommended to purchase a ticket ahead of time in order to avoid long lines and waiting times.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amsterdam 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9673052377"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Museumplein, Heineken Experience, and Vondelpark Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Grand exterior of the famous Rijksmuseum in Asmterdam seen during a partly cloudy day "
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Rijksmuseum-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rijksmuseum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/rijksmuseum-amsterdam-museum-2127625/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/kirkandmimi-763448/" rel="noopener noreferrer" target="_blank">
                                    kirkandmimi</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ultra-modern glass and metal structure housing the entrance to Amsterdam's Van Gogh Museum"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Van-Gogh-Museum-Amsterdam.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Van Gogh Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/callmewhatever/31371838831" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/callmewhatever/" rel="noopener noreferrer" target="_blank">
                                    Daniel Zimmermann</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking bathtub-like exterior of the Stedelijk Museum of modern art along Museumplein in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Stedelijk-Museum-Amsterdam.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stedelijk Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:De_nieuwe_vleugel_van_het_Stedelijk_Museum_Amsterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:De_nieuwe_vleugel_van_het_Stedelijk_Museum_Amsterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    John Lewis Marshall</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Exterior of the townhome housing the small Moco Museum near Museumplein in Amsterdam" 
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Moco-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Moco Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Moco_Museum_Amsterdam_2159.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:C_messier" rel="noopener noreferrer" target="_blank">
                                    C messier</a> <br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night-time view of the former brewery now housing the Heineken Experience Museum along a canal in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Heineken-Experience-Brewery-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Heineken Experience</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Heineken_Experience_AMS_12_2016_0562.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mariordo" rel="noopener noreferrer" target="_blank">
                                    Mario Roberto Duran Ortiz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely pond set amongst lush green trees and grass within Amsterdam's large Vondelpark public park"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Vondelpark.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Vondelpark</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Vondelpark_,_Amsterdam_,_Netherlands_-_panoramio_(53).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Vondelpark_,_Amsterdam_,_Netherlands_-_panoramio_(53).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Patrick Nouhailler's</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Amsterdam Top Museums of Museumplein Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="museumplein"></a>
        <h2 class="left-heading destination-section-heading">Museumplein: Top Museums</h2>
        <h3>Rijksmuseum</h3>
        <p>To the south of Central Amsterdam is a large green field known as Museumplein. This area is home to most of the city’s great museums, the most famous being the stunning palace-like <strong>Rijksmuseum</strong>. This museum hosts a massive collection of artistic masterpieces, especially those from Dutch painters such as Rembrandt and Van Gogh. The museum’s art collection ranges from the Middle Ages to the present, and also includes works from other European countries as well as from Asia.</p>
        <p>Additionally the Rijksmuseum hosts many impressive items in its historic arts and crafts exhibits, as well as the elegant Cuypers Library.</p>
        <h3>Van Gohh Museum</h3>
        <p>The next most popular museum is the incredible <strong>Van Gogh Museum</strong>. This giant museum is dedicated to detailing the history of the painter’s life, containing a wide array of Van Gogh’s personal belongings and trinkets. Most notably, the museums hosts a vast collection of Van Gogh’s art works, as well as many from his contemporaries.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Stedelijk Modern Art Museum</h3>
            <p>Next to the Van Gogh Museum is the striking <strong>Stedelijk Museum</strong>, with its eccentric giant white bathtub-like exterior. This museum specializes in modern and contemporary art and design exhibits from around the world.</p>
            <h3>Moco Museum</h3>
            <p>Also highly recommended along Museumplein is the smaller <strong>Moco Museum</strong>, a large photogenic townhouse hosting intriguing and unique modern exhibits by Salvador Dali, Banksy, and Andy Warhol.</p>
            <h3>Iamsterdam Sign</h3>
            <p>Museumplein was formerly most known for hosting the I Amsterdam Sign, however this popular art installation was moved to Amsterdam’s Schiphol International Airport. The spot where the sign was located still hosts the massive fountains however.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Heineken Experience and Vondelpark Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="heineken-and-vondelpark"></a>
        <h2 class="left-heading destination-section-heading">Heineken Experience &amp; Vondelpark</h2>
        <p>Nearby Museumplein is the <strong>Heineken Experience</strong>, housed within the first Heineken Brewery building (built in 1867). This historic industrial-era building hosts many multimedia exhibits and a brewery room, offering tours and tastings.</p>
        <p>Just west of Museumplein is <strong>Vondelpark</strong>, a vast urban park with many trees and grassy fields. Throughout this lovely park is a large network of streams and ponds surrounded by lush greenery with many pathways and bridges, making this park an excellent place to walk around and enjoy some leisure time.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amsterdam 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8501116099"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Amsterdam More Museums and More Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ship-like exterior of Amsterdam's popular NEMO Science Museum, surrounded by water"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-NEMO-Science-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">NEMO Science Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/nemo-amsterdam-the-netherlands-3429928/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Erik_Lyngsoe-6360452/" rel="noopener noreferrer" target="_blank">
                                    Erik_Lyngsoe</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant historic wooden ship replica parked in the water outside the Het Het Scheepvaartmuseum in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Het-Scheepvaartmuseum-Shipping-Museum-Exterior-Ship.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Het Scheepvaartmuseum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Het_Scheepvaartmuseum,_Amsterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Het_Scheepvaartmuseum,_Amsterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Nataliia Ieremieieva</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the Tropenmuseum in Amsterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Tropenmuseum-Tropen-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tropenmuseum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tropenmuseum,_Linnaeusstraat_foto_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Alfvanbeem" rel="noopener noreferrer" target="_blank">
                                    Alf van Beem</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ultra-modern architectural masterpiece housing the Eye Film Museum, seen along the river at night in Amsterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-EYE-Film-Museum-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Eye Film Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/143850343@N06/33136837454" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/143850343@N06/" rel="noopener noreferrer" target="_blank">
                                    Sam Amil</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Giant historic preserved De Gooyer Windmill in Amsterdam" 
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-De-Gooyer-Molen-Mill-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">De Gooyer Windmill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bellecastillo/11199958203/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bellecastillo/" rel="noopener noreferrer" target="_blank">
                                    Fro de maracuja!</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive Montelbaanstoren tower, a preserved section of Amsterdam's medieval walls"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Montelbaanstoren-Defensive-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Montelbaanstoren Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/51035655291@N01/2109079181" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/liberato/" rel="noopener noreferrer" target="_blank">
                                    Ricardo Liberato</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Amsterdam More Museums Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-museums"></a>
        <h2 class="left-heading destination-section-heading">More Museums</h2>
        <p>To the east of Central Amsterdam are servers popular museums, including the waterfront <strong>NEMO Science Museum</strong>. This museum is housed in a modern structure and features many interactive exhibits.</p>
        <p>Nearby is the <strong>Het Scheepvaartmuseum</strong>, a maritime museum housed within a 17th century naval storehouse. The most popular exhibit at this museum is its full-sized replica of the 18th century merchant ship called The Amsterdam. This incredible ship floats in the canal on the side of the museum and is open to explore. </p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <p>Further east from Central Amsterdam is the <strong>Tropenmuseum</strong> (or Museum of the Tropics). This ethnographic museum contains many interesting exhibits with objects from around the world, mainly consisting of artifacts from former European colonies. Additionally the museum hosts a large collection of musical instruments and theatrical objects, as well as a photography collection.</p>
            <p>Another interesting museum is the <strong>Eye Film Museum</strong>, which is housed in a stunning ultramodern structure along the water, across the river from Central Amsterdam. This museum specializes in film collections, historic filming equipment, and movie posters. </p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <p>Near Amsterdam Central is the city’s famous outdoor flower market, Bloemenmarkt, which hosts a wide array of locally-grown flowers for sale.</p>
        <p>Just south of the Heineken Experience is the long urban street Ferdinand Bolstraat, which is lined with countless stores and restaurants. This street is considered Amsterdam’s main shopping destination, hosting many branded stores from around the world.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content" class="destination-section">
            <p>Nearby the Tropenmuseum (east of Central Amsterdam) you can admire the largest wooden windmill in the Netherlands, called <strong>De Gooyer</strong>. This beautiful octagonally shaped windmill sits along the water and is quite photogenic.</p>
            <p>Also notable along the canals near the Rembrandt House Museum is the <strong>Montelbaanstoren</strong>, a striking 16th century defensive tower which is one of the few remaining structures of Amsterdam’s medieval walls.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Amsterdam Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3409513469"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Amsterdam Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8pcvUHBovE42">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/cWvdKn1x7E42">&rArr; Main Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/94GnMytf7Xz">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely colored windmills seen along the water in the Dutch countryside of Zaanse Schans, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Zaanse-Schans-Windmills.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        Greater Amsterdam
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachtehttps://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            cisko66</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Markthal marketplace exterior during the day in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Day.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        Rotterdam
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Markthal_-_Rotterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachte" rel="noopener noreferrer" target="_blank">
                            Erik Zachte</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        Bruges, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    