<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Flower gardens, streams, and parkland of the Keukenhof Gardens of Lisse, Greater Amsterdam, Netherlands Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Lisse-Keukenhof-Gardens-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions around Amsterdam like Zaanse Schans, Keukenhof, & Haarlem, and plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="greater_amsterdam_netherlands" />
    <meta name="attraction_guides" content="zaanse_schans_netherlands" />
    <meta name="attraction_guides" content="haarlem_netherlands" />
    <meta name="europe_attraction_guides" content="greater_amsterdam_netherlands" />
    <meta name="europe_destinations" content="greater_amsterdam_netherlands" />
    <meta name="europe_destination_guides" content="greater_amsterdam_netherlands" />
    <meta name="netherlands_attraction_guides" content="greater_amsterdam" />
    <meta name="netherlands_attraction_guides" content="zaanse_schans" />
    <meta name="netherlands_attraction_guides" content="haarlem" />
    <meta name="netherlands_destinations" content="greater_amsterdam" />
    <meta name="netherlands_destinations" content="zaanse_schans" />
    <meta name="netherlands_destinations" content="haarlem" />
    <meta name="netherlands_destination_guides" content="greater_amsterdam" />
    <meta name="netherlands_destination_guides" content="zaanse_schans" />
    <meta name="netherlands_destination_guides" content="haarlem" />
    <meta name="google_maps_list" content="greater_amsterdam" />
    <meta name="google_maps_list" content="zaanse_schans" />
    <meta name="google_maps_list" content="haarlem" />
    <meta property="og:title" content=" Greater Amsterdam, Netherlands Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Lisse-Keukenhof-Gardens.jpg">
    <meta name="twitter:title" content="Greater Amsterdam, Netherlands Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Lisse-Keukenhof-Gardens.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
    <title>Attractions Guide for Greater Amsterdam, Netherlands</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Greater Amsterdam, Netherlands<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#zaanse-schans">Zaanse Schans</a></div>
            <div><a href="#keukenhof-gardens">Keukenhof Gardens</a></div>
            <div><a href="#castles">Castles</a></div>
            <div><a href="#haarlem-attractions">Haarlem, Netherlands</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Greater Amsterdam Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Just outside of Amsterdam are many amazing attractions which are easily reached via public transportation or car. Additionally, tours from Amsterdam are available which combine several of these popular attractions.</p>
    </section>



    <!-- Zaanse Schans, Keukenhof, and Greater Amsterdam Castles Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Lovely colored windmills seen along the water in the Dutch countryside of Zaanse Schans, Netherlands"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Zaanse-Schans-Windmills.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zaanse Schans Windmills</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachtehttps://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    cisko66</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Vibrant flowers and streams surrounded by parkland within the Keukenhof Gardens of Lisse, Netherlands"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Lisse-Keukenhof-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Keukenhof Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/garden-flower-garden-flowers-3345970/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/MabelAmber-1377835/" rel="noopener noreferrer" target="_blank">
                                    MabelAmber</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Molen Windmill behind fields of flowers within the Keukenhof Gardens of Lisse, Netherlands"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Lisse-Keukenhof-Gardens-Keukenhofmolen-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Keukenhof Gardens Molen Windmill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Keukenhof,_view_to_the_windmill.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dguendel" rel="noopener noreferrer" target="_blank">
                                    Dguendel</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view of the fairytale-like Castle de Haar in Utrecht, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Utrecht-Kasteel-de-Haar-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle de Haar (Utrecht)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kasteel_de_Haar._Luchtfoto_5.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kasteel_de_Haar._Luchtfoto_5.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Jan Koning</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/nl/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 NL</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Muiderslot Castle seen behind a small moat in Muiden, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Muiden-Muiderslot-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Muiderslot Castle (Muiden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Muiderslot_2015.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Muiderslot_2015.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    WimBo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Zaanse Schans Windmills Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="zaanse-schans"></a>
        <h2 class="left-heading destination-section-heading">Zaanse Schans Windmills</h2>
        <p>One of the most iconic sights of the Netherlands is <strong>Zaanse Schans</strong>, which hosts many historic windmills and houses along the Zans River, set amongst the idyllic Dutch countryside and many small canals. The best way to explore Zaanse Schans walk along the riverside path, which connects many windmills of the area. Be sure to also visit the Zaans Museum detailing local history, and explore the paths along the smaller canals which host souvenir shops and restaurants.</p>
    </section>


    <!-- Keukenhof Gardens Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="keukenhof-gardens"></a>
        <h2 class="left-heading destination-section-heading">Keukenhof Gardens</h2>
        <p>Near the town of Lisse is one of the world's largest flower gardens, the famous <strong>Keukenhof Gardens</strong>, which hosts many vibrant colored flowers set amongst lush gardens and streams. The Keukenhof Gardens even hosts a small castle and a lovely traditional windmill.</p>
    </section>


    <!-- Greater Amsterdam Castles Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="castles"></a>
        <h2 class="left-heading destination-section-heading">Castles</h2>
        <p>You might also consider a visit to the country's most stunning castle, the <strong>Castle De Haar</strong>, which is located just outside of Utrecht. This fairytale-like castle sits atop a small lake surrounded by beautiful manicured gardens and woodlands.</p>
        <p>Just outside of Amsterdam in the town of Muiden is the <strong>Muiderslot Castle</strong>, a picturesque 13th century castle surrounded by a moat and lovely gardens. The castle along with its moat and gardens sit on a larger island in the middle of a river.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Amsterdam 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2096431798"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Haarlem, Netherlands Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="St. Bavo Church towering above Markt Square in Haarlem, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Haarlem-Grote-Markt-St-Bavo-Church-in-Haarlem.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Bavo Church Markt (Haarlem)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jrthibault/25626888916" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jrthibault/" rel="noopener noreferrer" target="_blank">
                                    Jean Robert Thibault</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Intricate colorful exterior of the fantastical Cathedral of St. Bavo in Haarlem, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Haarlem-Leidsevaart-Cathedral-of-St-Bavo.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of St. Bavo (Haarlem)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Haarlem_Kathedraal_Sint_Bavo_08.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Castle-like medieval gate, the Amsterdamse Poort, in Haarlem, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Haarlem-Amsterdamse-Poort-Medieval-Gate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Amsterdamse Poort (Haarlem)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Haarlem_Amsterdamse_Poort_03.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large Windmill de Adriaan along the waterfront in Haarlem, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Haarlem-Molen-de-Adriaan-Windmill.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Windmill de Adriaan (Haarlem)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/haarlem-water-holland-lake-city-3628302/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Nikon-2110-8762482/" rel="noopener noreferrer" target="_blank">
                                    Nikon-2110</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Haarlem, Netherlands Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="haarlem-attractions"></a>
        <h2 class="left-heading destination-section-heading">Haarlem, Netherlands</h2>
        <p>Just west of Amsterdam is the scenic city of Haarlem, which features canals and many medieval buildings, especially around the Grote Markt square. Towering above Grote Markt square is the giant gothic <strong>St. Bavo Church</strong>, which is known for its organ that Mozart performed on. On the western edge of the city is the breathtaking and colorful <strong>Basilica Cathedral of St. Bavo</strong>, which is very photogenic.</p>
        <p>On the eastern side of Haarlem closer to Grote Markt square you can walk through the imposing castle-like <strong>Amsterdamse Poort</strong>, the medieval gate to the city. Near the Amsterdamse Poort gate be sure to admire the charming riverfront <strong>Windmill De Adriaan</strong>.</p>
        <p>Haarlem also hosts popular museums, including the Teylers Museum with a wide variety of exhibits, and the Museum Corrie Ten Boomhuis, a home used to hide Jewish families during WWII.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Greater Amsterdam 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1768186783"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Greater Amsterdam Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8jiiRWB8hbB2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Markthal marketplace exterior during the day in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Day.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
                        Rotterdam
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Markthal_-_Rotterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachte" rel="noopener noreferrer" target="_blank">
                            Erik Zachte</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        Bruges, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    