<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View overlooking the city and port from atop Euromast Tower, Rotterdam, Netherlands Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Euromast-Tower-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Rotterdam, Netherlands + Kinderdijk & Gouda, and plan the perfect trip with savable Rotterdam Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="rotterdam_netherlands" />
    <meta name="europe_attraction_guides" content="rotterdam_netherlands" />
    <meta name="europe_destinations" content="rotterdam_netherlands" />
    <meta name="europe_destination_guides" content="rotterdam_netherlands" />
    <meta name="netherlands_attraction_guides" content="rotterdam" />
    <meta name="netherlands_attraction_guides" content="kinderdijk" />
    <meta name="netherlands_attraction_guides" content="gouda" />
    <meta name="netherlands_destinations" content="rotterdam" />
    <meta name="netherlands_destinations" content="kinderdijk" />
    <meta name="netherlands_destinations" content="gouda" />
    <meta name="netherlands_destination_guides" content="rotterdam" />
    <meta name="netherlands_destination_guides" content="kinderdijk" />
    <meta name="netherlands_destination_guides" content="gouda" />
    <meta name="google_maps_list" content="rotterdam" />
    <meta property="og:title" content="Rotterdam, Netherlands Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Euromast-Tower-View.jpg">
    <meta name="twitter:title" content="Rotterdam, Netherlands Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Euromast-Tower-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/netherlands/rotterdam-attractions-guide">
    <title>Attractions Guide for Rotterdam, Netherlands</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Rotterdam, Netherlands<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#markthal-and-cube-houses">Marthal &amp; Cube Houses</a></div>
            <div><a href="#museums-and-port">Museums &amp; Port</a></div>
            <div><a href="#kinderdijk-attractions">Kinderdijk Windmills</a></div>
            <div><a href="#gouda-attractions">Gouda, Netherlands</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>



    <!-- Introduction to Rotterdam Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Rotterdam is an amazing futuristic city filled with many ultra-modern structures. Additionally, Rotterdam is located very close to popular destinations such as Amsterdam, Kinderdijk, and Gouda.</p>
    </section>



    <!-- Rotterdam Markthal, Cube Houses, and Erasmusbrug Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Markthal marketplace exterior during the day in Rotterdam, Netherlands"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Day.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Markthal Market</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Markthal_-_Rotterdam.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachte" rel="noopener noreferrer" target="_blank">
                                    Erik Zachte</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Markthal Marktet exterior at night with lit up interior and colorful art-covered walls in Rotterdam, Netherlands"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Exterior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Markthal Market (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/slapers/15564386409/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/slapers/" rel="noopener noreferrer" target="_blank">
                                    Paul Arps</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Colorful art-covered walls inside the Markthal Market in Rotterdam, Netherlands"
                        src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Markthal-Market-Hall-Interior-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Markthal Market (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/28169156@N03/22618037555" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/28169156@N03/" rel="noopener noreferrer" target="_blank">
                                    Frans Berkelaar</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning geometrically designed Cube Houses structure in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Kijk-Kubus-Cube-Houses.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cube Houses</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/batintherain/3331913968" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/batintherain/" rel="noopener noreferrer" target="_blank">
                                    Andrea de Poda</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Industrial contemporary-designed exterior of the Central Library of Rotterdam"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Centrale-Bibliotheek-Central-Library-Rotterdam.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Central Library Rotterdam</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Rotterdam_bibliotheek.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Wikifrits" rel="noopener noreferrer" target="_blank">
                                    F.Eveleens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic stone-built Grote of Sint Laurenskerk Church in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Grote-of-Sint-Laurenskerk-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grote of Sint Laurenskerk Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/28169156@N03/22432552380" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/28169156@N03/" rel="noopener noreferrer" target="_blank">
                                    Frans Berkelaar</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful exterior of the Witte Huis (White House) building along the harbor in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Witte-Huis-White-House-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Witte Huis Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/rotterdam-white-house-netherlands-3514466/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/ddzphoto-5605533/" rel="noopener noreferrer" target="_blank">
                                    ddzphoto</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning ultra-modern and sleek Erasmusbrug Bridge spanning the river in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Erasmusbrug-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Erasmusbrug Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/rotterdam-bridge-architecture-2673519/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/sepalau59-6245044/" rel="noopener noreferrer" target="_blank">
                                    sepalau59</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lit-up Erasmusbrug bridge at night in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Erasmusbrug-Bridge-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Erasmusbrug Bridge (Night)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Erasmusbrug_-_panoramio_(2).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://web.archive.org/web/20161024024705/http://www.panoramio.com/user/5131101?with_photo_id=64732335" rel="noopener noreferrer" target="_blank">
                                    dswilbrink</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Rotterdam Markthal and Cube Houses Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="markthal-and-cube-houses"></a>
        <h2 class="left-heading destination-section-heading">Markthal &amp; Cube Houses</h2>
        <p>In the area around Black Station you'll find several of these unique structures, the most famous being the <strong>Markthal</strong>, a massive arched indoor market hall hosting cuisine from all over the world. The roof of the structure is covered in a massive vibrant work of art, which looks incredible when it is lit up at night.</p>
        <p>Across from the Markthal market are the iconic <strong>Cube Houses</strong>, which host shops and a hostel that you can stay in if you'd like to sleep inside of this work of art.</p>
        <p>Also near the Markthal market is the interesting industrial-esque building hosting the <strong>Central Library Rotterdam</strong>, as well as the impressive towering gothic <strong>Grote of Sint-Laurenskerk</strong> church.</p>
        <p>Just south of the Cube Houses is the elegant <strong>Witte Huis</strong> (White House) building near the harbor. You can walk along the scenic harbors near the Witte Huis and admire the many old wooden ships. Be sure to walk down the harbor to the iconic <strong>Erasmusbrug</strong> bridge, a beautiful architectural marvel that also hosts great city views and also lights up at night.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Rotterdam 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6739767274"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Rotterdam Museums and Port, Kinderdijk, and Gouda Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pond and grassy field in front of the Museum Boijmans Van Beuningen in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Museum-Boijmans-Van-Beuningen.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museum Boijmans Van Beuningen</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Museum_Boijmans_Van_Beuningen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Museum_Boijmans_Van_Beuningen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Davidh820</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over parkland, the port, and many modern buildings, seen from the top of the Euromast Tower in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-Euromast-Tower-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Euromast Tower View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/city-cityscape-aerial-view-building-2655108/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/djedj-59194/" rel="noopener noreferrer" target="_blank">
                                    djedj</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Uniquely-designed ultra-modern STC Group Building along the port in Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Rotterdam-STC-Group-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">STC Group Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/building-modern-architecture-2649518/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/djedj-59194/" rel="noopener noreferrer" target="_blank">
                                    djedj</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Historic Kinderdijk Windmills along the water in the Dutch countryside outside of Rotterdam, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Rotterdam-Kinderdijk-Kinderdijk-Nederwaard-Mills-Windmills.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kinderdijk Windmills</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kinderdijk_Mills1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kinderdijk_Mills1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Zet Watson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/nl/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 NL</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking medieval exterior of the Old Stadhuys City Hall building in Gouda, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Rotterdam-Gouda-Markt-Old-Stadhuys-Gouda-City-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Stadhuys City Hall (Gouda)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gouda2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Welleschik" rel="noopener noreferrer" target="_blank">
                                    Welleschik</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view over Gouda's historic city center and the Saint Janskerk Church in Gouda, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Rotterdam-Gouda-Sint-Janskerk-Chuch-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Saint Janskerk Church (Gouda)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/41406729@N05/4618429457/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/onega/" rel="noopener noreferrer" target="_blank">
                                    Ben Fitzgerald-O'Connor</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Rotterdam Museums and Port Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="museums-and-port"></a>
        <h2 class="left-heading destination-section-heading">Museums &amp; Port</h2>
        <p>Near Rotterdam's city center you can walk around the central area of Rotterdam where you'll see many works of art and ultramodern structures. In fact one of the neighborhoods of Central Amsterdam is literally called the "Cool District", although the name is of Dutch origin.</p>
        <p>Within the city center you might visit the <strong>Museum Boijmans Van Beuningen</strong>, which features a mix of historic art alongside modern art and is the city's top-rated museum. You might also consider the Kunsthal Rotterdam museum, which showcases temporary exhibits in art, photography, design, and more.</p>
        <p>Just south of the museums is the massive <strong>Euromast Tower</strong>, which offers sweeping panoramic views over Rotterdam and the surrounding area, from a height of over 600 feet. Nearby the Eurmoast Tower you can admire one of Rotterdam's most interesting buildings, the ultra-contemporary <strong>STC Group Building</strong> along the river.</p>
    </section>


    <!-- Kinderdijk Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kinderdijk-attractions"></a>
        <h2 class="left-heading destination-section-heading">Kinderdijk Windmills</h2>
        <p>One of Rotterdam's eastern suburbs is <strong>Kinderdijk</strong>, a gorgeous UNESCO world heritage site. This area is home to many historic wooden windmills set amongst the picturesque Dutch countryside.</p>
        <p>A popular way of experiencing Kinderdijk is by renting a bike and riding from windmill to windmill, or alternatively even taking a boat tour.</p>
    </section>


    <!-- Gouda, Netherlands Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="gouda-attractions"></a>
        <h2 class="left-heading destination-section-heading">Gouda, Netherlands</h2>
        <p>You might also consider visiting the nearby city of Gouda, which is famous for its cheese. Apart from the cheese, one of the city's main attractions is the Markt Square, which is surrounded by lovely medieval structures, such as the <strong>Old Stadhuys</strong> city hall building.
        Nearby the Markt Square you can admire the wide-windowed gothic <strong>Saint Janskerk Church</strong>. Be sure to also try some delicious Gouda cheese while you're in town. </p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Rotterdam Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9783350124"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Rotterdam Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/1nfETCBdGJR2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/r3mgPzrxkH42">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely evening views looking down a Central Amsterdam canal lined with historic row houses and trees, with an oncoming tour boat, seen from the Preisensluis Bridge"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Amsterdam-Prinsensluis-Prinsenstraat-Bridge-South-View-Sunset.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/amsterdam-attractions-guide">
                        Amsterdam
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/amsterdam-channel-netherlands-1089646/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/neshom-447256/" rel="noopener noreferrer" target="_blank">
                            neshom</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Lovely colored windmills seen along the water in the Dutch countryside of Zaanse Schans, Netherlands"
                        data-src="https://www.travelimager.com/images/netherlands/Netherlands-Greater-Amsterdam-Zaanse-Schans-Windmills.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/netherlands/greater-amsterdam-attractions-guide">
                        Greater Amsterdam
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Erik_Zachtehttps://commons.wikimedia.org/w/index.php?title=File:Zaanse_Schans_-_panoramio_-_cisko66.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            cisko66</a><br />
                    <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning assortment of colorful vast carpets of flower art laid out amongst Brussels's massive Grand Place Central Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Brussels-Grand-Place-Square-Flower-Carpet.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/brussels-attractions-guide">
                        Brussels, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Grand_Place_Bruselas.jpg&action=history" rel="noopener noreferrer" target="_blank">
                            Francisco Conde Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful and colorful medieval buildings lined up along Bruges's massive Markt Square"
                        data-src="https://www.travelimager.com/images/belgium/Belgium-Bruges-Markt-Market-Square-North-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/belgium/bruges-attractions-guide">
                        Bruges, Belgium
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/sgerner/24871559029/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/sgerner/" rel="noopener noreferrer" target="_blank">
                            Steven Gerner</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night view of the illuminated Cologne Cathedral, the largest gothic church in Northern Europe, located in Cologne, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Cologne-Cologne-Cathedral-Night.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/cologne-attractions-guide">
                        Cologne &amp; Bonn, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/dom-cologne-cathedral-cologne-2092871/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/taxicologne-2424203/" rel="noopener noreferrer" target="_blank">
                            taxicologne</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Drone view over the vast hilltop complex of the Festung Ehrenbreitstein Fortress above the Rhine River in Koblenz, Germany"
                        data-src="https://www.travelimager.com/images/germany/Germany-Koblenz-Festung-Ehrenbreitstein-Fortress-Aerial.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/koblenz-and-cochem-attractions-guide">
                        Koblenz &amp; Cochem, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Festung_Ehrenbreitstein_Bild_1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Phantom3Pix" rel="noopener noreferrer" target="_blank">
                            Phantom3Pix</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking Bacharach, Germany and the Rhine River Valley seen from the Postenturm medieval tower"
                        data-src="https://www.travelimager.com/images/germany/Germany-Rhine-River-Valley-Bacharach-Postenturm-Tower-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/germany/rhine-river-valley-attractions-guide">
                        Rhine River Valley, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Bacharach_from_the_Postenturm.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="http://jw.nebulis.org/" rel="noopener noreferrer" target="_blank">
                            Jiuguang Wang</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    