<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Medieval Schloss Oberhofen Castle along the coast of Thunersee Lake in Thun, Bernese Oberland, Switzerland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Oberhofen-Schloss-Oberhofen-Castle-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions of Bernese Oberland, Switzerland + Interlaken, Meiringen, Brienz, & Thun. Plan your trip with our Google Maps Attraction Lists" />
    <meta name="attraction_guides" content="bernese_oberland_switzerland" />
    <meta name="attraction_guides" content="interlaken_switzerland" />
    <meta name="attraction_guides" content="meiringen_switzerland" />
    <meta name="attraction_guides" content="brienz_switzerland" />
    <meta name="attraction_guides" content="thun_switzerland" />
    <meta name="europe_attraction_guides" content="bernese_oberland_switzerland" />
    <meta name="europe_destinations" content="bernese_oberland_switzerland" />
    <meta name="europe_destination_guides" content="bernese_oberland_switzerland" />
    <meta name="switzerland_attraction_guides" content="bernese_oberland" />
    <meta name="switzerland_attraction_guides" content="interlaken" />
    <meta name="switzerland_attraction_guides" content="meiringen" />
    <meta name="switzerland_attraction_guides" content="brienz" />
    <meta name="switzerland_attraction_guides" content="thun" />
    <meta name="switzerland_destinations" content="bernese_oberland" />
    <meta name="switzerland_destinations" content="interlaken" />
    <meta name="switzerland_destinations" content="meiringen" />
    <meta name="switzerland_destinations" content="brienz" />
    <meta name="switzerland_destinations" content="thun" />
    <meta name="switzerland_destination_guides" content="bernese_oberland" />
    <meta name="switzerland_destination_guides" content="interlaken" />
    <meta name="switzerland_destination_guides" content="meiringen" />
    <meta name="switzerland_destination_guides" content="brienz" />
    <meta name="switzerland_destination_guides" content="thun" />
    <meta name="google_maps_list" content="bernese_oberland" />
    <meta name="google_maps_list" content="interlaken" />
    <meta name="google_maps_list" content="meiringen" />
    <meta name="google_maps_list" content="brienz" />
    <meta name="google_maps_list" content="thun" />
    <meta property="og:title" content="Bernese Oberland, Switzerland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Oberhofen-Schloss-Oberhofen-Castle.jpg">
    <meta name="twitter:title" content="Bernese Oberland, Switzerland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Oberhofen-Schloss-Oberhofen-Castle.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
    <title>Attractions Guide for Bernese Oberland & Interlaken, Switzerland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Bernese Oberland &amp; Interlaken, Switzerland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#castles">Castles</a></div>
            <div><a href="#st-beatus-caves">St. Beatus Caves</a></div>
            <div><a href="#lauterbrunnen">Lauterbrunnen</a></div>
            <div><a href="#jungfraujoch">Jungfraujoch</a></div>
            <div><a href="#schlithorn-peak">Schlithorn</a></div>
            <div><a href="#oeschinensee-lake">Oeschinen Lake</a></div>
            <div><a href="#gelmersee-and-gelmerbahn">Gelmersee</a></div>
            <div><a href="#brienz">Brienz</a></div>
            <div><a href="#meiringen">Meiringen</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Bernese Oberland Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Just south of Bern is an area of outstanding natural beauty known as the Bernese Oberland (or Bernese Highlands) located along the northern edge of the Alps. The Bernese Oberland hosts many gorgeous waterfalls, lakes, mountains, castles, and much more to explore.</p>
        <p>The most well-known city of the Bernese Oberlands is the centrally located city of Interlaken, which sits in a valley between the long Thunersee and Brienzersee Lakes. Other significant cities hosting popular attractions include Thun (on the western end of Thunersee Lake), Brienz (on the eastern end of Brienzersee Lake), and Meiringen (near Thun).</p>
    </section>


    <!-- Bernese Oberland Castles and St. Beatus Caves Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning castle-like Thun Castle surrounded by other buildings on the Thunersee Lake of Switzerland" 
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Schloss-Thun-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thun Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schweiz,_Kanton_Bern,_Thun,_Schloss_Thun.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Schweiz,_Kanton_Bern,_Thun,_Schloss_Thun.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Spyri76</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Exterior of the Schloss Hunegg Castle and its quinat gardens in Hinterfingen, Switzerland"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Hilterfingen-Schloss-Huenegg-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Hunegg Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_H%C3%BCnegg.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gidoca" rel="noopener noreferrer" target="_blank">
                                    Gidoca</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Fairytale-like Schloss Oberhofen Castle seen along the stunning blue-green waters of a lake in Switzerland"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Oberhofen-Schloss-Oberhofen-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Oberhofen Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Oberhofen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Oberhofen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Alps</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the Schloss Spiez Castle behind a small marina on a lake surrounded by green mountains in Switzerland" 
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Thun-Spiez-Schloss-Spiez-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schloss Spiez Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Spiez_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Spiez_1.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Ungatoverde</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stone structure built into the cliffside atop several waterfalls near Interlaken, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Interlaken-Sundlauenen-St-Beatus-Hoehlen-Caves-Waterfalls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Beatus Caves Waterfalls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2011-07-22_Berna_Oberlando_(Foto_Dietrich_Michael_Weidmann)_043.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:DidiWeidmann" rel="noopener noreferrer" target="_blank">
                                    Dietrich Michael Weidmann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Small waterfalls flowing inside the St. Beatus Caves of Interlaken, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Interlaken-Sundlauenen-St-Beatus-Hoehlen-Caves-Interior-Waterfall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">St. Beatus Caves (Interior)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:ST.Beatush%C3%B6hlen,_innerer_Wasserfall.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:ST.Beatush%C3%B6hlen,_innerer_Wasserfall.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Versatile85</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Masssive mountain ridge with walkway and greenery high above a lush Swiss Valley and lake near Interlaken"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Interlaken-Wilderswil-Schynige-Platte-Alpengarten-Alpine-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schynige Platte Alpine&nbsp;Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:5843_-_Schynige_Platte_-_Interlaken,_Thunersee,_Abendberg,_and_Morgenberghorn_viewed_from_Oberberghorn.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Thisisbossi" rel="noopener noreferrer" target="_blank">
                                    Andrew Bossi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Castles Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="castles"></a>
        <h2 class="left-heading destination-section-heading">Castles</h2>
        <p>Between Thun and the neighboring town of Oberhofen you'll find three lovely castles. In the city of Thun is the majestic white 12th century <strong>Thun Castle</strong> which towers above the city. Between the cities os the quaint lakefront <strong>Schloss Hunegg</strong> that you can tour, which features a beautiful art nouveau castle and spectacular views over the lake from its elegant gardens.</p>
        <p>The most popular of the three castles is the 13th century <strong>Oberhofen Castle</strong> in the town of Oberhofen. This castle sits on the water and features stunning intricate architecture as well as decadent interiors, along with lakeside gardens and views.</p>
        <p>A fourth castle you might consider visiting is the <strong>Schloss Spiez</strong>, which is located across the Thunersee Lake from Oberhofen. This small medieval castle looks charming set aside the lake, but is best admired from outside in its picturesque setting.</p>
    </section>


    <!-- St. Beatus Caves and Schynige Platte Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="st-beatus-caves"></a>
        <h2 class="left-heading destination-section-heading">St. Beatus Caves &amp; Schynige&nbsp;Platte</h2>
        <p>Near the city of Interlaken along the Thunersee lake are the gorgeous <strong>St. Beatus Caves</strong>, which feature a highly photogenic structure built atop waterfalls that fall down into the lake below. Here you can take in excellent views of the surrounding scenery and tour the caves, which feature incredible indoor waterfalls and mini-lakes inside them.</p>
        <p>From the town of Wilderswil (next to Interlaken) you can take the train up to the <strong>Schynige Platte</strong> railway station in the mountains. Up here you'll have great views over the area as well as access to hiking trails through the lush meadows. Here you can also explore the beautiful Alpengarten botanical garden.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bernese Oberland 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9643942840"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Lauterbrunnen and Jungfraujoch Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive Staubbach waterfall flowing over a steep cliff above the town of Lauterbrunnen, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Staubbachfall-Staubbach-Waterfall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Staubbach Waterfall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/29237715@N05/7297409636" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/29237715@N05/" rel="noopener noreferrer" target="_blank">
                                    Noel Reynolds</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rapid Trummelbachfalle waterfalls flowing through a tight canyon gorge near Lauterbrunnen, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Truemmelbackfalle-Truemmelbach-Waterfalls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trummelbachfalle Waterfalls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Tr%C3%BCmmelbachf%C3%A4lle_im_Lauterbrunnental_29.07.2009_10-17-20.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Simisa" rel="noopener noreferrer" target="_blank">
                                    Simisa</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Incredible Sphinx Observatory atop Jungfraujoch mountain, set amonst the snow-covered Swiss Alps"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Jungfraujoch-Sphinx-Observatorium-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jungfraujoch Sphinx&nbsp;Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sphinx_Observatorium.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                                    Julius Silver</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Smooth hallway carved out of the ice into a large cave under Jungfraujoch mountain in the Swiss Alps"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Jungfraujoch-Ice-Palace-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jungfraujoch Ice&nbsp;Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Jungfraujoch_-_panoramio_-_Patrick_Nouhailler%27s%E2%80%A6_(131).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Jungfraujoch_-_panoramio_-_Patrick_Nouhailler%27s%E2%80%A6_(131).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Patrick Nouhailler's</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vast Aletsch Glacier surrounded by massive Swiss Alp mountains, seen from Jungfraujoch mountain"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Jungfraujoch-Aletschgletscher-Aletsch-Glacier-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jungfraujoch View of Aletsch&nbsp;Glacier</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rollercoasterphilosophy/26170835457/in/photolist-oCoa8d-26hjj1D-rRh1Db-Z1ejuY-V1c9cZ-s1WuEX-25wHFQz-FSCnAZ-22LTcqs-22LT9MS-aMDgwc-24s6kHC-24s6knC-EbUJ5W-25t1W5s-2116RYu-CYQoy5-rosPVZ-24s6fYC-25t1VBy-24s6mfE-CYQZQh-aMDhzz-LqcdZq-Kwbjsm-DpCbsS-DpCdHU-Bykd9Q-rweqEW-25wHFgt-GutqWU-rP6PKy-dvUqXs" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Hinterkappelen" rel="noopener noreferrer" target="_blank">
                                    Adrian Sulc</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Lauterbrunnen, Switzerland Waterfalls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lauterbrunnen"></a>
        <h2 class="left-heading destination-section-heading">Lauterbrunnen Waterfalls</h2>
        <p>To the south of Interlaken you'll find two great waterfalls and two great peaks of the Swiss Alps, all accessible from the village of Lauterbrunnen. From town you can view the very tall <strong>Staubbach Waterfall</strong>, with the option of hiking closer all the way to a cave behind the waterfall if you like.</p>
        <p>On the southern outskirts of town are the <strong>Trummelbachfalle</strong>, a series of stunning gorge waterfalls you can view via a fun winding cavernous trail.</p>
    </section>


    <!-- Jungfraujoch Mountain Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="jungfraujoch"></a>
        <h2 class="left-heading destination-section-heading">Jungfraujoch Mountain</h2>
        <p>Taking the rail to the top of the massive Jungfraujoch mountain is a very popular activity in this region of Switzerland. The Jungfraujoch railway station is the highest in Europe and features stunning views of the much taller neighboring 13,600 foot (4,200 m) Jungfrau Mountain. Jungfraujoch is frequently referred to as the Top of Europe, where you can take in amazing views over glaciers and mountains from the <strong>Sphinx Observatory</strong>.
        <p>Other attractions atop Jungfraujoch include the <strong>Jungfraujoch Ice Palace</strong>, a frozen wonderland of ice sculptures within an ice cave. Among the most impressive sights that you can admire from atop Jungfraujoch is the <strong>Aletsch Glacier</strong>, which is the largest glacier in the European Alps, with a massive length of about 14 miles (23km). This glacier stretches deep into a valley on the backside of Jungfraujoch and is quite a sight to behold.</p>
        <p>You can reach Jungfraujoch by taking the rail from the village of Wengen. Wengen can be reached quick and directly from the town of Lauterbrunnen via rail.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bernese Oberland 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5350965302"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Schlithorn Peak, Oeschinensee and Blausee Lakes, and Gelmersee / Gelmerbahn Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunrise over an observatory perched atop the snow-covered Schlithorn Peak surrounded by snowy Alps of Bernese Oberland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Schlithorn-Peak.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Schlithorn Peak</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Schilthorn_view_from_helicopter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                                    Julius Silver</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant gree-blue waters of the small Blausee lake with tall logs beneath its waters in Kandersteg, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Kandersteg-Kandergrund-Blausee-Blau-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Blausee Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fallen_Trees_in_Lake.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Fallen_Trees_in_Lake.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Agostonimi</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush meadows with grazing cows in front of the beautiful Oeschinensee lake surrounded by the Swiss Alps"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Kandersteg-Oeschinensee-Oeschinen-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oeschinensee Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oeschinensee_mit_K%C3%BChen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Oeschinensee_mit_K%C3%BChen.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Monika.frischknecht</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the stunning alpine Oeschinensee lake from above, set amongst a tiny green valley in Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Kandersteg-Oeschinensee-Oeschinen-Lake-Fruendenschnur-View-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Frundenschnur View (Oeschinensee&nbsp;Lake)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Oeschinensee_in_summer_2011_(9).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chmee2" rel="noopener noreferrer" target="_blank">
                                    Chmee2</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rocky coast of the alpine Gelmersee Lake near Meiringen, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Meiringen-Gelmersee-Gelmersee-Gelmer-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gelmersee Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gelmersee1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Gelmersee1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Silsbas</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the steep tracks of the Gelmerbahn Funicular as they descend into a Swiss Alp valley"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Meiringen-Gelmersee-Gelmerbahn-Tracks.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gelmerbahn Tracks</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gelmerbahn_tracks.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Gzzz" rel="noopener noreferrer" target="_blank">
                                    Gzzz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the Gelmerbahn Funicular on its steep decline down the mountain in the Swiss Alps near Meiringen"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Meiringen-Gelmersee-Gelmerbahn-Funicular.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gelmerbahn Funicular</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Gelmerbahn_Di_Renzo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="TheFotostudio.ch" rel="noopener noreferrer" target="_blank">
                                    Kraftwerke Oberhasli AG</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Long Handeckfall suspension bridge spanning over a forest valley beneath the mountains near Gelmersee lake in Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Meiringen-Gelmersee-Handeckfallbruecke-Handeckfall-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Handeckfall Suspension&nbsp;Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Handeckfallbr%C3%BCcke_Rolf_Neeser.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Handeckfallbr%C3%BCcke_Rolf_Neeser.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                    Kraftwerke Oberbasli</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/de/deed.en" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0 DE</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Schlithorn Peak Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="schlithorn-peak"></a>
        <h2 class="left-heading destination-section-heading">Schlithorn Peak</h2>
        <p>There's also the option of taking the gondola lifts up the opposite side of the valley to <strong>Schlithorn Peak</strong> for great views of the surrounding mountains. This mountain peak can be reached by rail from the village of Murren, which is located just south of Lauterbrunnen.</p>
    </section>


    <!-- Oeschinensee and Blausee Lakes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="oeschinensee-lake"></a>
        <h2 class="left-heading destination-section-heading">Oeschinensee &amp; Blausee Lakes</h2>
        <p>On the western side of Schlithorn and to the south of Thunersee you'll find two gorgeous lakes. These lakes include the breathtakingly clear blue <strong>Blausee</strong>, as well as the Oeschinen Lake (<strong>Oeschinensee</strong>), a beautiful deep blue lake surrounded by heavenly mountain peaks. Oeschinensee can be reached by taking the gondola lift from the town of Kandersteg and then walking 1 mile (1.6 km) each way to the lakeshore.</p>
        <p>Once at the lake you can explore along the shore, or perhaps take a 3.7 mile (6 km) round-trip hike up to the striking <strong>Frundenschnur</strong> viewpoint overlooking the alpine lake from high above. This trail follows along the lake leading up to a cliff that towers above the other side of Oeschinensee.</p>
    </section>


    <!-- Gelmersee Lake and Gelmerbahn Funicular Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="gelmersee-and-gelmerbahn"></a>
        <h2 class="left-heading destination-section-heading">Gelmersee Lake &amp; Gelmerbahn Funicular</h2>
        <p>Another beautiful lake you might consider visiting located quite far away along the eastern highway pass around Jungfraujoch (southeast of Brienz and Meiringen) is the <strong>Gelmersee Lake</strong>. This serene blue glacial lake is accessible via rail on the famous rollercoaster-like <strong>Gelmerbahn Funicular</strong>, which departs from Gelmerbahn station below the lake. Adjacent to the Gelmerbahn rail station you'll find the <strong>Handeckfall Suspension Bridge</strong> which spans a small canyon of the Aare River below.</p>
        <p>If you'd like to take a scenic walk around Gelmersee you might consider the 2.7 mile (4.3 km) round-trip trail which follows along the lake's shore as well as along the dam which holds it up. From the dam you can take in views overlooking the lush valley below.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bernese Oberland 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4037883635"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Brienz and Meiringen, Switzerland Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely white half-timbered homes in the Ballenberg Open-Air Museum recreating a Swiss village near Brienz"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Brienz-Ballenberg-Freilichtmuseum-Swiss-Open-Air-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ballenberg Swiss Open&#8209;Air&nbsp;Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:KGS_8545_-_Freilichtmuseum_Ballenberg_(Weinbauernhaus_Richterswil_und_Waschhaus_R%C3%BCschlikon).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Chme82" rel="noopener noreferrer" target="_blank">
                                    Chme82</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lush dense forests surrounding the powerful Giessbachfalle waterfalls near Brienz, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Brienz-GIessbachfalle-Giessbach-Waterfalls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Giessbachfalle Waterfalls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/erichvonallmen/15527160786/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/erichvonallmen/" rel="noopener noreferrer" target="_blank">
                                    Erich von Allmen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Roadside viewpoint overlooking a green valley and alpine lake with a small village near the Swiss Alps"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lungern-Aussichtspunkt-Chalrutirank-Viewing-Point-Schoenbuehel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lungern Viewpoint Schoenbuehel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lungern_2011-07.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Mussklprozz" rel="noopener noreferrer" target="_blank">
                                    Mussklprozz</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tall Reichenbachfall flowing over a cliff into a tiny light blue pond near Meiringen, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Meiringen-Reichenbachfall-Reichenbach-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reichenbachfall Waterfall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tambako/47030590381" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tambako/" rel="noopener noreferrer" target="_blank">
                                    Tambako The Jaguar</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Murky light blue waters of the Aare River gorge below a trail that hugs the cliffside along the canyon, near Meiringen"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Meiringen-Aareschlucht-Aare-Gorge-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aare Gorge Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schweiz_Aareschlucht_13.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Zairon" rel="noopener noreferrer" target="_blank">
                                    Zairon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Brienz, Switzerland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="brienz"></a>
        <h2 class="left-heading destination-section-heading">Brienz, Switzerland</h2>
        <p>To the east of Interlaken on the other side of the Brienzersee lake you might consider exploring the <strong>Ballenberg Swiss Open-Air Museum</strong>, which portrays traditional houses and furnishings in a rural Swiss setting.</p>
        <p>Near the lake you might also consider the short hike to view the <strong>Giessbachfalle</strong>, a series of waterfalls surrounded by lush scenery. Also in the area be sure to stop at the <strong>Lungern Viewing Point Schoenbuehel</strong> along the road just east of Brienz to take in views over Lungernersee lake.</p>
    </section>


    <!-- Meiringen, Switzerland Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="meiringen"></a>
        <h2 class="left-heading destination-section-heading">Meiringen, Switzerland</h2>
        <p>Further east near the town of Meiringen you can take the funicular up to view the striking <strong>Reichenbachfall</strong> waterfalls.</p>
        <p>Also near town you can hike through the stunning <strong>Aare Gorge</strong>, a river gorge with beautiful scenery along its 1.7 mile (2.8 km) round-trip path.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bernese Oberland Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9357836538"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Bernese Oberland &amp; Interlaken Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/371r8AZ6mhk">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/H6GRihFh2XT2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the deep blue-green waters of the Aare River circling the historic buildings of Bern's Altstadt Old Town"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        Bern
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic snow-covered Matterhorn Mountain seen towering high above the surrounding mountains, near Zermatt, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Zermatt-Matterhorn-Mountain.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        Zermatt &amp; Matterhorn
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/matterhorn-mountain-alps-984128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        Colmar, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic coloful half-timbered houses in the village of Eguisheim, Alsace region of France near Colmar"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        Alsace&nbsp;Villages &amp; Greater&nbsp;Colmar, France (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/xingxiyang/27568640486" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/xingxiyang/" rel="noopener noreferrer" target="_blank">
                            Kiefer</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
        </div>

    </section>


    