<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Kafigturm Clock tower behind flag-lined streets in Old Town of Bern, Switzerland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kafigturm-Clock-Tower-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Bern, Switzerland, and plan the perfect trip with our savable Bern Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="bern_switzerland" />
    <meta name="europe_attraction_guides" content="bern_switzerland" />
    <meta name="europe_destinations" content="bern_switzerland" />
    <meta name="europe_destination_guides" content="bern_switzerland" />
    <meta name="switzerland_attraction_guides" content="bern" />
    <meta name="switzerland_destinations" content="bern" />
    <meta name="switzerland_destination_guides" content="bern" />
    <meta name="google_maps_list" content="bern" />
    <meta property="og:title" content="Bern, Switzerland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kafigturm-Clock-Tower.jpg">
    <meta name="twitter:title" content="Bern, Switzerland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kafigturm-Clock-Tower.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/switzerland/bern-attractions-guide">
    <title>Attractions Guide for Bern, Switzerland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Bern, Switzerland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>


    
    <!-- Introduction to Bern Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The capital city of Switzerland is set around the gorgeous deep blue Aare River, which wraps around Bern's UNESCO listed medieval Old City (also known as Altstadt Von Bern). Be sure to explore this area on foot in order to appreciate its beauty.</p>
    </section>


    <!-- Altstadt Von Bern Old Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View overlooking the historic Altstadt Von Bern Old Town from atop a hill across the Aare River" 
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Altstadt-Von-Bern-Old-Town.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Altstadt Von Bern Old Town</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bern_capital_of_Swizerland.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Moroder" rel="noopener noreferrer" target="_blank">
                                    Wolfgang Moroder</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Massive tower of the Berner Munster Cathedral of Bern dwarfing the surrounding buildings"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Benrer-Muenster-Cathedral-of-Bern.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cathedral of Bern (Berner&nbsp;Muenster)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/city-of-berne-m%C3%BCnster-1442663/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/b1-foto-2445766/" rel="noopener noreferrer" target="_blank">
                                    b1-foto</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Facade of Bern's old Rathaus City Hall Building"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Rathaus-City-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rathaus City&nbsp;Hall Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Rathaus_(Bern).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Rathaus_(Bern).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Wladyslaw Sojka</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade and tower of Bern's St. Peter &amp; Paul Church at Golden Hour with snow-covered Alps in background" 
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kirche-St-Peter-and-Paul-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kirche St. Peter &amp; Paul Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:1_bern_2012.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:1_bern_2012.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    chensiyuan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Giant medieval Zytglogge clocktower seen at the end of a dense urban street in Old Town Bern"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Zytglogge-Clock-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zytglogge Clock Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pedrocaetano/3125629648/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pedrocaetano/" rel="noopener noreferrer" target="_blank">
                                    Pedro</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the iconic Kindlifresserbrunnen fountain in Bern's Old Town"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kindlifresserbrunnen-Fountain.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kindlifresserbrunnen Fountain</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/twicepix/986386673/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/twicepix/" rel="noopener noreferrer" target="_blank">
                                    Martin Abegglen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Evening view of the exterior of Bern's grandiose Bundeshaus Parliament Building"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Bundeshaus-Parliament-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bundeshaus Parliament Building</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bundeshaus_Bern.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Tohofo" rel="noopener noreferrer" target="_blank">
                                    Tobias Hoderlein</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning spire-topped Kafigturm clocktower at the end of a street lined with historic buildings and vibratn Swiss flags in Bern"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kafigturm-Clock-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kafigturm Clock&nbsp;Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/swiss-berne-the-old-town-1560619/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/pkh470-2685442/" rel="noopener noreferrer" target="_blank">
                                    pkh470</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Tall rounded medieval Hollanderturn Tower with a half-timbered square structure for its top floor in Bern's Old Town"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Hollanderurm-Medieval-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hollanderturm Medieval&nbsp;Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Holl%C3%A4nderturm1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Aliman5040" rel="noopener noreferrer" target="_blank">
                                    Aliman5040</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Altstadt Von Bern Old Town Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Altstadt Von Bern Old&nbsp;Town</h2>
        <p>One of the top attractions of the <strong>Altstadt Von Bern</strong> Old Town is the elaborate gothic <strong>Cathedral of Bern</strong> (or Berner Muenster), a towering 15th century church which you can climb to the top of for outstanding views over the Old Town. Nearby you can admire the exterior of the medieval <strong>Rathaus city</strong> hall building, as well as the remarkable <strong>Kirche St. Peter & Paul</strong> church.</p>
        <p>Another impressive sight is the stunning medieval <strong>Zytglogge</strong> clock tower, which is perhaps the most iconic landmark in Bern.</p>
        <p>Bern is also well-known for its many elaborate statue fountains you'll find spread across the city, including the controversial medieval <strong>Kindlifresserbrunnen</strong> fountain. This fountain is located next to the Zytglogge tower. Other historic fountains you might like to see in the Old Town include the Gerechtigkeitsbrunnen and Samsonbrunnen.</p>
        <p>Additional impressive structures within the Old Town include the grand neoclassical <strong>Parliament Building</strong>, as well as the nearby <strong>Kafigturm</strong> clock tower and half-timbered medieval <strong>Hollanderturm</strong> tower. All three of these structures sit on a long vast city plaza.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bern 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5083657409"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Bern Museums and More Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Furnished living room in Albert Einstein's former home in Bern, Switzerland, now the Einsteinhaus Museum"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Einsteinhaus-Bern-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Einsteinhaus Bern<br />Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mkisono/4886672035/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mkisono/" rel="noopener noreferrer" target="_blank">
                                    mkisono</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the castle-like Bern Historical Museum behind trees and a monument"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Bern-Historisches-Historical-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bern Historical&nbsp;Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bern_Historisches_Museum_DSC04967.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Krol:k" rel="noopener noreferrer" target="_blank">
                                    Krol:k</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Neoclassical facade of Bern's Kunstmuseum Fine Arts Museum"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Kunstmuseum-Bern-Fine-Arts-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kunstmuseum Bern<br />Fine Arts Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kunstmuseum_Bern,_exterior_view.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Kunstmuseum_Bern,_exterior_view.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    C. Schnellmann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the open Bear Pit with a brown bear in Bern, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Barengraben-Bear-Pit.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bear Pit</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bern_B%C3%A4rengraben.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Yesuitus2001" rel="noopener noreferrer" target="_blank">
                                    Yesuitus2001</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the deep blue-green waters of the Aare River circling the historic buildings of Bern's Altstadt Old Town"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Nydeggbruecke Bridge View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                                    xmax88</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Night time view from the Bern Rose Garden overlooking the lights of Bern's Altstadt Old Town behind the Aare River"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Bern-Rosengarten-Rose-Garden-Von-Bern-View-Night.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bern Rose Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/bern-switzerland-rose-garden-2189208/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/fxxu-199315/" rel="noopener noreferrer" target="_blank">
                                    fxxu</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bern Museums Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Museums</h2>
        <p>Near the Cathedral of Bern is the historic apartment which Albert Einstein once lived in, the <strong>Einsteinhaus Bern</strong>, which now serves as a furnished museum displaying many items and belonging to him.</p>
        <p>Be sure to visit the stunning castle-like <strong>Bern Historical Museum</strong> just south of Von Bern, which hosts interesting exhibits on the city's history, as well as a significant collection of artifacts from around the world. Also within this museum is the smaller Einstein Museum, which is dedicated to the life and work of Albert Einstein.</p>
        <p>On the northwestern side of the Altstadt Von Bern is the <strong>Kunstmuseum Bern</strong>, a museum containing a significant collection of fine art from the medieval era to the present, including works by Pablo Picasso.</p>
    </section>


    <!-- Bern More Attractions Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <p>Directly east across the Aare Rive from Von Bern is the 19th century <strong>Bear Pit</strong>, a large enclosure which houses many brown bears located between the river and a walkway. In order to reach the Bear Pit you'll likely cross over the elevated <strong>Nydeggbruecke Bridge</strong>, from which you can enjoy fantastic views over some of the medieval structures of the Old Town.</p>
        <p>Just up the hill from the Bear Pit is the <strong>Bern Rose Garden</strong>, a lovely garden of roses and ponds which also hosts excellent views looking over the river at the Old Town.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bern Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6039739754"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Bern Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Qa7KMjjTS7v">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/PVJACj7MFxr">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Sunrise over an observatory perched atop the snow-covered Schlithorn Peak surrounded by snowy Alps of Bernese Oberland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Schlithorn-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        Bernese Oberland &amp; Interlaken
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Schilthorn_view_from_helicopter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                            Julius Silver</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic snow-covered Matterhorn Mountain seen towering high above the surrounding mountains, near Zermatt, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Zermatt-Matterhorn-Mountain.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        Zermatt &amp; Matterhorn
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/matterhorn-mountain-alps-984128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        Colmar, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic coloful half-timbered houses in the village of Eguisheim, Alsace region of France near Colmar"
                        data-src="https://www.travelimager.com/images/france/France-Alsace-Region-Eguisheim-Village.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/alsace-towns-and-greater-colmar-attractions-guide">
                        Alsace&nbsp;Villages &amp; Greater&nbsp;Colmar, France (Car)
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/xingxiyang/27568640486" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/xingxiyang/" rel="noopener noreferrer" target="_blank">
                            Kiefer</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    