<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking the medieval buildings along Lake Lucerne of Old Town Lucerne, Switzerland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Lucerne, Switzerland, and plan the perfect trip with our savable Lucerne Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="lucerne_switzerland" />
    <meta name="europe_attraction_guides" content="lucerne_switzerland" />
    <meta name="europe_destinations" content="lucerne_switzerland" />
    <meta name="europe_destination_guides" content="lucerne_switzerland" />
    <meta name="switzerland_attraction_guides" content="lucerne" />
    <meta name="switzerland_destinations" content="lucerne" />
    <meta name="switzerland_destination_guides" content="lucerne" />
    <meta name="google_maps_list" content="lucerne" />
    <meta property="og:title" content="Lucerne, Switzerland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg">
    <meta name="twitter:title" content="Lucerne, Switzerland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/switzerland/lucerne-attractions-guide">
    <title>Attractions Guide for Lucerne, Switzerland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Main Section Links -->
    <h1>Lucerne, Switzerland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#altstadt-old-town">Old Town Lucerne</a></div>
            <div><a href="#more-attractions">More Lucerne</a></div>
            <div><a href="#pilatus-and-stanserhorn">Mt. Pilatus &amp; Stanserhorn</a></div>
            <div><a href="#mount-rigi">Mount Rigi</a></div>
            <div><a href="#hammetschwand-lift">Hammetschwand Lift</a></div>
            <div><a href="#mount-titlis">Mount Titlis</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Lucerne Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Lucerne is a majestic lakefront city located near the foot of the Swiss Alps with many attractions in town as well as the surrounding area. The city sits on the western shore of the massive and extremely scenic Lake Lucerne. Note that all of these attractions can be quite easily reached via car or public transportation from Lucerne.</p>
    </section>


    <!-- Altstadt Luzern Old Town Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland" 
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Altstadt Luzern Old Town</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                                    Werni</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Iconic covered Chapel Bridge with its pointed towers crossing the Reuss River in Lucerne, Switzerland"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Kapellbruecke-Chapel-Bridge-Southwest-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chapel Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luzern_Kapellbruecke.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Ikiwaner" rel="noopener noreferrer" target="_blank">
                                    Ikiwaner</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Smaller covered Spreuerbruecke bridge spanning over the light blue waters with old Lucerne buildings behind it"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Spreuerbruecke-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spreuerbruecke Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luzern-Spreuerbr%C3%BCcke.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Luzern-Spreuerbr%C3%BCcke.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Alessandro Gallo</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the baroque Jesuitenkirche church along the river in Lucerne, Switzerland" 
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Jesuitenkirche-Jesuit-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jesuitenkirche Church</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lucerne_Jesuitenkirche.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Leiju" rel="noopener noreferrer" target="_blank">
                                    Leiju</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Night time view of the medieval Altes Luzerner Rathaus, Lucerne's old town hall set along the river"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altes-Luzerner-Rathaus-City-Hall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Altes Luzerner Rathaus City&nbsp;Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/lucerne-town-hall-reuss-reussteg-952333/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Boenz-1057041/" rel="noopener noreferrer" target="_blank">
                                    Boenz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Striking medieval walls of Lucerne seen from their start point at the river"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Museggmauer-Luzern-Stadtmauer-City-Walls-River-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museggmauer City Walls (River&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stadtbefestigung_Luzern,_Luegislandturm,_M%C3%A4nnliturm,_N%C3%B6lliturm_IMG_4797.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stadtbefestigung_Luzern,_Luegislandturm,_M%C3%A4nnliturm,_N%C3%B6lliturm_IMG_4797.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    WES1947</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Lucerne's stunning medieval walls spanning along green hills, with tall mountains in the background"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Museggmauer-Luzern-Stadtmauer-City-Walls-Mountain-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Museggmauer City Walls (Mountain&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luzern,_Stadtmauer.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Lines_voisy" rel="noopener noreferrer" target="_blank">
                                    Lines voisy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Altstadt Luzern Old Town Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="altstadt-old-town"></a>
        <h2 class="left-heading destination-section-heading">Altstadt Luzern Old&nbsp;Town</h2>
        <p>Walk the streets of the <strong>Alstadt Old Town</strong> of Lucerne amongst the brilliant baroque and medieval structures, the most iconic of which is the majestic 700 year old <strong>Chapel Bridge</strong>, a covered wooden footbridge connecting the city over the Reuss River with a large medieval tower in the middle. A bit further back along the river from Lake Lucerne is another covered bridge, the lovely <strong>Spreuerbruecke</strong> Bridge.</p>
        <p>Be sure to walk along the Reuss River's edge on both sides of the Old Town to take in the sights, including the baroque <strong>Jesuitenkirche</strong> church with its highly embellished white interiors. Nearby you can also admire the <strong>Altes Luzerner Rathaus</strong>, which is the city's old medieval city hall which also features an impressive clocktower.</p>
        <p>The northern side of the Old Town is bordered by the stunning well-preserved <strong>Museggmauer</strong> medieval city walls, which is lined with nine large watch towers, some of which you can climb for views.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lucerne 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8421101331"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- More Lucerne Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Church of St. Leodegar with its twin spire-covered towers, seen along the river in Lucerne"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Hofkirche-St-Leodegar-Church.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Church of St.&nbsp;Leodegar</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hofkirche_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Hofkirche_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    trolvag</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Loewendenkmal Lion Monument carved into the side of a cliff above a small pond in Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Loewendenkmal-Lion-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lion Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/swiss-lucerne-empty-of-lion-1560621/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/pkh470-2685442/" rel="noopener noreferrer" target="_blank">
                                    pkh470</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Boulders left behind from a receding glacier housed under Lucerne's Gletschergarten or Glacier Garden Museum"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Gletschergarten-Luzern-Museum-Glacier-Rocks.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Gletschergarten Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luzern_Gletschergarten7.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Leiju" rel="noopener noreferrer" target="_blank">
                                    Leiju</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant colored real planes hanging from the ceiling of Lucerne's Swiss Museum of Transport"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Swiss-Transport-Museum-Interior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Swiss Museum of Transport</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Luftfahrt_Halle_Verkehrshaus_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Luftfahrt_Halle_Verkehrshaus_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Nnd</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Meggenhorn Castle set amongst a vineyard on the outskirts of Lucerne, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Meggen-Schloss-Meggenhorn-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Meggenhorn Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Meggenhorn.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Schloss_Meggenhorn.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Pilatus09</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- More Lucerne Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Lucerne Attractions</h2>
        <p>Other popular attractions in Lucerne outside of the Old Town include the <strong>Church of St. Leodegar</strong> with its tall spired roofs (which you can appreciate from outside), as well as the famous <strong>Lion Monument</strong> carved out of a rock cliff-face, a must-see attraction.</p>
        <p>Nearby the Lion Monument is the <strong>Gletschergarten</strong>, a museum where you can explore ice age boulder deposits, gardens, and an intricate 19th century mirror maze.</p>
        <p>Just outside of Lucerne to the east along Lake Lucerne is the massive <strong>Swiss Museum of Transport</strong> featuring many types of well-presented exhibits, and a bit further is the impressive <strong>Meggenhorn Castle</strong> best enjoyed from outside, which features gardens and great views over the lake.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lucerne 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8044754860"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Mount Rigi, Mount Pilatus, and Stanserhorn Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Far-reaching views over Lake Lucerne and many surrounding mountains seen from the top of Mount Pilatus"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Alpnach-Mount-Pilatus-Lake-Lucerne-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Pilatus</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:View_from_Pilatus.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:View_from_Pilatus.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Fabrice Blanc</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking much of Lake Lucerne and connecting smaller lakes seen from atop Stanserhorn Mountain"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Stans-Stanserhorn-Mountain-Lakes-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stanserhorn Lakes View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archer10/23742819589/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archer10/" rel="noopener noreferrer" target="_blank">
                                    Dennis Jarvis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Observation platform atop Stanserhorn Mountain offering views over towering snow-capped mountains near Lucerne"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Stans-Stanserhorn-Mountain-Observation-Platform.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stanserhorn Observation Platform</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stanserhorn.jpeg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stanserhorn.jpeg&action=history" rel="noopener noreferrer" target="_blank">
                                    Ronald J Scott</a><br />
                            <a href="https://creativecommons.org/licenses/by/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over Lake Lucerne and surrounding mountains seen from atop Rigi Mountain"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Rigi-Mountain-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rigi Mountain View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/alpine-rigi-rigi-kaltbad-2872095/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/Sarah_Loetscher-4248505/" rel="noopener noreferrer" target="_blank">
                                    Sarah_Loetscher</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View high above a triangular point of land reaching into Lake Lucerne seen from atop Rigi Mountain"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Rigi-Mountain-Aussichtplattform-Kanzeli-Observation-Deck.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aussichtsplattform Kaenzeli Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/stephi2006/5850291018/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/stephi2006/" rel="noopener noreferrer" target="_blank">
                                    Stephanie Kroos</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Mount Pilatus and Stanserhorn Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="pilatus-and-stanserhorn"></a>
        <h2 class="left-heading destination-section-heading">Mount Pilatus &amp; Stanserhorn</h2>
        <p>The nearest mountain to Lucerne is <strong>Mount Pilatus</strong> to the southwest, which can be reached via gondola lifts from Kriens, a suburb of Lucerne. From Mount Pilatus you can take in amazing panoramic views over the area and Lake Lucerne from the southwest.</p>
        <p>A bit further away from Lucerne is <strong>Stanserhorn Mountain</strong>, which can be reached via lift from Stans SthB station in the town of Stans to the south of Lucerne. This mountain offers picturesque views overlooking Lake Lucerne from the south, as well as the lush surrounding valleys.</p>
    </section>


    <!-- Rigi Mountain Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mount-rigi"></a>
        <h2 class="left-heading destination-section-heading">Rigi Mountain</h2>
        <p>To the north of Lake Lucerne (and east of the city of Lucerne) is <strong>Rigi Mountain</strong>, which can be reached via rail from the town of Vitznau, which sits on Lake Lucerne. It's also possible to reach the Vitznau rail station from Lucerne via ferry.</p>
        <p>Rigi Mountain offers majestic panoramic views overlooking Zugersee Lake and Lake Lucerne as well as the gorgeous rural landscape surrounding the lakes. If you visit Rigi, be sure to take the rail or walk down to the <strong>Aussichtsplattform Kaenzeli</strong> viewing platform as well so you can take in breathtaking close-up views overlooking Lake Lucerne.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lucerne 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6731673198"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Hammetschwand Lift, Mount Titlis, and Engelberg Monastery Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Top of the famous Hammetschwand Lift elevator connecting the lakeside to Buergenstock Mountain near Lucerne"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Greater-Lucerne-Buergenstock-Mountain-Hammetschwand-Lift-Elevator.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hammetschwand Lift</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Hammetschwand-Lift_Oben.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://de.wikipedia.org/wiki/Benutzer:Tschubby" rel="noopener noreferrer" target="_blank">
                                    Tschubby</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of an extremely steep mountain ridge towering above the green landscape seen from Titlis Mountain near Engelber, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Engelberg-Titlis-Mountain-Ice-Flyer-Top-Station-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Titlis Mountain View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mt._Titlis_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Mt._Titlis_-_panoramio_(1).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    pj soans</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Thrilling suspended Titlis Cliff Walk, which bridges two peaks high above the snow below, near Engelberg, Swtizerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Engelberg-Titlis-Mountain-Titlis-Cliff-Walk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Titlis Cliff Walk</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/takver/22562622336" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/takver/" rel="noopener noreferrer" target="_blank">
                                    Takver</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hallway inside the Titlis Glacier Cave carved out of the ice, illuminated a vibrant blue, near Engelberg, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Engelberg-Titlis-Mountain-Titlis-Glacier-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Titlis Glacier Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/timwithnall/30018792048" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/timwithnall/" rel="noopener noreferrer" target="_blank">
                                    Tim Withnall</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the massive Engelberg Abbey with snowy mountains towering behind the abbey, in Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Engelberg-Kloster-Engelberg-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Engelberg Abbey</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kloster_Engelberg-IMG_0998.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:JoachimKohlerBremen" rel="noopener noreferrer" target="_blank">
                                    JoachimKohlerBremen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Hammetschwand Lift Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hammetschwand-lift"></a>
        <h2 class="left-heading destination-section-heading">Hammetschwand Lift</h2>
        <p>On Lake Lucerne you'll find the <strong>Hammetschwand Lift</strong>, the tallest exterior elevator in Europe that has become quite a popular tourist attraction for the amazing views it offers just over the lake. To reach the elevator you'll have to hike up Buergenstock Mountain through the scenic forest from Buergenstock Resort Lake Lucerne.</p>
        <p>Note that you can take the ferry from Lucerne directly across the lake to Kehrsiten-Buergenstock terminal and take the rail from here up to the resort where the trail begins, making a large loop back to the ferry terminal.</p>
    </section>


    <!-- Mount Titlis and Engelberg Monastery Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="mount-titlis"></a>
        <h2 class="left-heading destination-section-heading">Mount Titlis</h2>
        <p>You can also travel further to the south of Lake Lucerne to Engelberg, where you can take a series of lifts up to popular Mount Titlis.</p>
        <p>At the top of the 10,600 foot (3,200 m) tall Mount Titlis you'll find one of the highest suspension bridges in Europe, the <strong>Titlis Cliff Walk</strong>, as well as the <strong>Titlis Glacier Cave</strong>, a fantastic ice cave you can walk through. From the top you can take in heavenly views over the Alps and surrounding lush landscapes.</p>
        <h3>Engelberg Abbey</h3>
        <p>In the town of Engelberg you might also visit the 800 year-old <strong>Engelberg Abbey</strong>, a beautiful Benedictine Monastery best appreciated from outside.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Lucerne Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9362647918"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Lucerne Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/tpTG3ZM4siD2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/f8DwkLXUvZS2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Sunrise over an observatory perched atop the snow-covered Schlithorn Peak surrounded by snowy Alps of Bernese Oberland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Schlithorn-Peak.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        Bernese Oberland &amp; Interlaken
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Schilthorn_view_from_helicopter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                            Julius Silver</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="lazy destination-image"
                        alt="View overlooking the deep blue-green waters of the Aare River circling the historic buildings of Bern's Altstadt Old Town"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        Bern
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic snow-covered Matterhorn Mountain seen towering high above the surrounding mountains, near Zermatt, Switzerland"
                        data-src="https://www.travelimager.com/images/switzerland/Switzerland-Zermatt-Matterhorn-Mountain.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        Zermatt &amp; Matterhorn
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/matterhorn-mountain-alps-984128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Beautiful multi-colored half-timbered houses along a canal in La Petite Venise Fishmonger District of Colmar, France"
                        data-src="https://www.travelimager.com/images/france/France-Colmar-La-Petite-Venise-Fishmonger-District-Rue-des-Escoles-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/colmar-attractions-guide">
                        Colmar, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:La_Petite_Venise_Colmar_Alsace_tunliweb_04.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Smtunli" rel="noopener noreferrer" target="_blank">
                            Svein-Magne Tunli</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Lovely half-timbered colorful homes along a river viewed from the Saint Martin Bridge in the Petite France district of Strasbourg, France"
                        data-src="https://www.travelimager.com/images/france/France-Strasbourg-Petite-France-Pont-Saint-Martin-Bridge-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/france/strasbourg-attractions-guide">
                        Strasbourg, France
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/alexprevot/8018851413/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/alexprevot/" rel="noopener noreferrer" target="_blank">
                            Alexandre Prevot</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode " rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Cloudy day at the Piazza del Duomo with the striking Milan Cathedral towering above it in Central Milan, Italy"
                        data-src="https://www.travelimager.com/images/italy/Italy-Milan-Duomi-di-Milano-Milan-Cathedral-and-Piazza-del-Duomo.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/milan-attractions-guide">
                        Milan, Italy
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/italy-milano-duomo-square-3523635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/dimitrisvetsikas1969-1857980/" rel="noopener noreferrer" target="_blank">
                            dimitrisvetsikas1969</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Picturesque view of Bellagio, Italy along the shores of Lake Como seen from the Lungolago Europa lakeside pathway"
                        data-src="https://www.travelimager.com/images/italy/Italy-Lake-Como-Bellagio-Lungolago-Europa-Path-Bellagio-Village-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/italy/lake-como-attractions-guide">
                        Lake Como, Italy
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/village-bellagio-italy-lake-1878351/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/gayulo-3585927/" rel="noopener noreferrer" target="_blank">
                            gayulo</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Night-time Neckar River view of illuminated Old Town Heidelberg, Alte Bruecke Old Bridge and Heidelberg Palace / Castle"
                        data-src="https://www.travelimager.com/images/germany/Germany-Heidelberg-Alte-Bruecke-Old-Bridge-Heidelberg-Night.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="/destinations/europe/germany/heidelberg-attractions-guide">
                        Heidelberg, Germany
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/heidelberg-castle-night-germany-3829261/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/kleinicke-10759686/" rel="noopener noreferrer" target="_blank">
                            kleinicke</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    