<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Switzerland's top destinations: Lucerne, Bern, Zermatt, Matterhorn, and Bernese Oberland towns of Interlaken, Meiringen, & Brienz" />
    <meta name="attraction_guides" content="switzerland" />
    <meta name="europe_destinations" content="switzerland" />
    <meta name="destination_guides" content="switzerland" />
    <meta property="og:title" content="Switzerland Attraction Guides">
    <meta name="twitter:title" content="Switzerland Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/europe/switzerland/switzerland-attraction-guides">
    <title>Switzerland Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>


    <!-- Page Heading and Total Trip Length -->
    <h1>Switzerland Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        <img class="destination-image"
                        alt="View overlooking the deep blue-green waters of the Aare River circling the historic buildings of Bern's Altstadt Old Town"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bern-Nydeggbruecke-Bridge-View.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/switzerland/bern-attractions-guide">
                        Bern
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/bern-switzerland-river-bridge-roof-1455139/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/xmax88-2745648/" rel="noopener noreferrer" target="_blank">
                            xmax88</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        <img class="destination-image" 
                        alt="Sunrise over an observatory perched atop the snow-covered Schlithorn Peak surrounded by snowy Alps of Bernese Oberland"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Bernese-Oberland-Lauterbrunnen-Schlithorn-Peak.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/switzerland/bernese-oberland-and-interlaken-attractions-guide">
                        Bernese Oberland &amp; Interlaken
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:1_Schilthorn_view_from_helicopter.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Julius_Sil" rel="noopener noreferrer" target="_blank">
                            Julius Silver</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 4.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        <img class="destination-image" 
                        alt="View above the lovely historic buildings along the water in the Alstadt Luzern Old Town in Lucerne, Switzerland"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Lucerne-Altstadt-Luzern-Old-Town.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/switzerland/lucerne-attractions-guide">
                        Lucerne
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/lucerne-lake-lucerne-region-3540529/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Werni-54897/" rel="noopener noreferrer" target="_blank">
                            Werni</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        <img class="destination-image" 
                        alt="Iconic snow-covered Matterhorn Mountain seen towering high above the surrounding mountains, near Zermatt, Switzerland"
                        src="https://www.travelimager.com/images/switzerland/Switzerland-Zermatt-Matterhorn-Mountain.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="/destinations/europe/switzerland/zermatt-and-matterhorn-attractions-guide">
                        Zermatt &amp; Matterhorn
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/matterhorn-mountain-alps-984128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>