<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Mt. St. Helens seen towering above low clouds at Mount St. Helens National Volcanic Monument, Washington Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Volcano-and-Low-Clouds-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Mt. St. Helens National Volcanic Monument, Washington and plan the perfect trip with savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="mt_st_helens_washington" />
    <meta name="usa_attraction_guides" content="mt_st_helens_washington" />
    <meta name="usa_destinations" content="mt_st_helens_washington" />
    <meta name="usa_destination_guides" content="mt_st_helens_washington" />
    <meta name="washington_attraction_guides" content="mt_st_helens_volcanic_national_monument" />
    <meta name="washington_destinations" content="mt_st_helens_volcanic_national_monument" />
    <meta name="washington_destination_guides" content="mt_st_helens_volcanic_national_monument" />
    <meta name="national_park_attraction_guides" content="mount_st_helens_volcanic" />
    <meta name="google_maps_list" content="mt_st_helens_volcanic_national_monument" />
    <meta property="og:title" content="Mount St. Helens, Washington Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Volcano-and-Low-Clouds.jpg">
    <meta name="twitter:title" content="Mount St. Helens, Washington Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Volcano-and-Low-Clouds.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/washington/mount-st-helens-attractions-guide">
    <title>Attractions Guide for Mount St. Helens National Monument, Washington</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Mount St. Helens<br />National&nbsp;Monument, Washington<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#johnston-ridge">Johnston Ridge</a></div>
            <div><a href="#windy-ridge">Windy Ridge</a></div>
            <div><a href="#ape-cave-lava-tubes">Ape Cave Lava Tubes</a></div>
            <div><a href="#lava-canyon-trail">Lava Canyon Trail</a></div>
            <div><a href="#lower-lewis-river-falls">Lower Lewis River Falls</a></div>
            <div><a href="#panther-creek-falls">Panther Creek Falls</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Mount St. Helens National Monument Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The famous Mount St. Helens is a massive active volcano that last erupted in a giant explosion in 1980. The volcano and surrounding dense forests were turned into a national monument to preserve the stunning landscape effected by the volcanic explosion.</p>
        <p>Mount St. Helens National Monument features two major areas from which you can enjoy stunning views of the volcano and the surrounding wilderness, Windy Ridge and Johnston Ridge. These areas however are located extremely far apart from one another by driving distance, making it very challenging to see both and enjoy the southern side of the mountain in the same day.</p>
    </section>



    <!-- Johnston Ridge and Windy Ridge Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Vast fields below massive Mount St. Helens that were devastated by the 1980 eruption, seen from Johnston Ridge Observatory" 
                        src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Johnson-Ridge-Observatory.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Johnston Ridge Observatory</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/raybouk/14718263011/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/raybouk/" rel="noopener noreferrer" target="_blank">
                                    Ray Bouknight</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Windy Ridge hills seen below Mount St. Helens Volcano" 
                        src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Windy-Ridge-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Windy Ridge Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/44534236@N00/9552756444/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/44534236@N00/" rel="noopener noreferrer" target="_blank">
                                    faungg's</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking the large remote Spirit Lake from Windy Ridge below Mount St. Helens"
                        src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Spirit-Lake.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spirit Lake</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brewbooks/6161018787/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brewbooks/" rel="noopener noreferrer" target="_blank">
                                    J Brew</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Johnston Ridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="johnston-ridge"></a>
        <h2 class="left-heading destination-section-heading">Johnston Ridge</h2>
        <p>On the western side of the volcano is the <strong>Johnston Ridge Observatory</strong>, which offers incredible panoramic views of Mount St. Helens, as well as views over some of the devastation caused by the volcano's eruption. The only way to reach this isolated part of the national monument is from Highway 5, which is extremely far to the west of Mount St. Helens.</p>
    </section>


    <!-- Windy Ridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="windy-ridge"></a>
        <h2 class="left-heading destination-section-heading">Windy Ridge</h2>
        <p>Approaching the volcano from the north or south you can see many more attractions within the national monument, such as the stunning <strong>Windy Ridge Viewpoint</strong> which overlooks the Mount St. Helens and <strong>Spirit Lake</strong>. Along the way up to Windy Ridge on the northern side of the volcano there are several great viewpoints to stop at and admire the scenic landscape.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mt. St. Helens 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7205250259"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Ape Cave Lava Tubes, Lava Canyon, and Waterfalls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stairway surrounded by mossy rocks leading to the surface above the Lower Ape Cave near Mount St. Helens"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lower-Ape-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Ape Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/abhinaba/4806542689/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                                    Abhinaba Basu</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the lava tube Upper Ape Cave of Washington's Mount St. Helens National Volcanic Monument"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Upper-Ape-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Ape Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/abhinaba/4806561339/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                                    Abhinaba Basu</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Suspension bridge spanning a river across Lava Canyon surrounded by dense forests near Mount St. Helens"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lava-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lava Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mtsthelens/38090757172/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mtsthelens/" rel="noopener noreferrer" target="_blank">
                                    Mt. St. Helens</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Short but very wide and beautiful waterfalls of the Lower Lewis River near Mount St. Helens, Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Lower-Lewis-River-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Lewis River Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/forestservicenw/23934375705/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/forestservicenw/" rel="noopener noreferrer" target="_blank">
                                    US Forest Service Pacific NW</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Panther Creek Falls flowing over lush mossy green cliffs in the middle of the Washington forests"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-St-Helens-National-Volcanic-Monument-Panther-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Panther Creek Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bala_/28136383158/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bala_/" rel="noopener noreferrer" target="_blank">
                                    Bala Sivakumar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ape Cave Lava Tubes Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ape-cave-lava-tubes""></a>
        <h2 class="left-heading destination-section-heading">Ape Cave Lava Tubes</h2>
        <p>On the southern side of Mount St. Helens are the popular Ape Caves, which are incredible long lava tubes created by previous volcanic eruptions. There are two lava caves, a shorter easier one located closer to the parking area, and a longer more challenging one that requires quite a bit of scrambling.</p>
        <p>The <strong>Lower Ape Cave</strong> is about 1.6 miles (2.6 km) round-trip from the parking area, and the more challenging <strong>Upper Ape Cave</strong> is 3 miles (4.8 km) round-trip. To combine both lava caves is a hike of approximately 4.2 miles (6.8 km) round-trip.</p>
    </section>


    <!-- Lava Canyon Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lava-canyon-trail"></a>
        <h2 class="left-heading destination-section-heading">Lava Canyon Trail</h2>
        <p>Also on the southern side of the volcano near the Ape Caves is the popular <strong>Lava Canyon Trail</strong>, which travels along a river gorge within a beautiful canyon, featuring waterfalls and a suspension footbridge.</p>
        <p>The ideal trail to take here is the easy 1.4 mile (2.3 km) round-trip loop combining the Easy and Moderate trails (which are the actual names of the routes), passing by most of the top points of interest within this scenic canyon.</p>
    </section>


    <!-- Lower Lewis River Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lower-lewis-river-falls"></a>
        <h2 class="left-heading destination-section-heading">Lower Lewis River Falls</h2>
        <p>If you're visiting the southern side of Mount St. Helens, you might also consider a detour to the breathtaking <strong>Lower Lewis River Falls</strong>, which is about 1 hour driving round-trip from the park's eastern road. The falls flow over a striking unique rock formation into vibrant blue waters, surrounded by a dense forest. These falls are also a very popular spot for swimming and also offer hiking opportunities along the Lewis River to see more waterfalls.</p>
    </section>


    <!-- Panther Creek Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="panther-creek-falls"></a>
        <h2 class="left-heading destination-section-heading">Panther Creek Falls</h2>
        <p>Much further south of the volcano (in between Mount St. Helens National Monument and the Columbia River Gorge) is the gorgeous <strong>Panther Creek Falls</strong>, which flows over a lush mossy green cliff, surrounded by a tall thick forest.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mt. St. Helens Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5217381169"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Mount St. Helens National&nbsp;Monument Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8SUJGxk6UN12">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Massive Mount Rainier towering above the dense forests with its perfect reflection seen in Reflection Lake in Washington"
                        data-src="https://www.travelimager.com/images/washington/Washington-Mount-Rainier-National-Park-Reflection-Lake.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/mount-rainier-national-park-attractions-guide">
                        Mount Rainier National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/abhinaba/9530073620/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/abhinaba/" rel="noopener noreferrer" target="_blank">
                            Abhinaba Basu</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic view of massive Multnomah Falls with bridge spanning over lower falls along Oregon's Columbia River Gorge"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Columbia-River-Gorge-Multnomah-Falls.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/columbia-river-gorge-attractions-guide">
                        Columbia River Gorge, Oregon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/80519348@N02/33861704144/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/80519348@N02/" rel="noopener noreferrer" target="_blank">
                            AirHaake</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Many vibrant colored plants and trees around a coi pond and bridge at Portland's Japanese Garden"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Portland-Japanese-Garden.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/portland-attractions-guide">
                        Portland, Oregon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/jeffgunn/8238705244/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/jeffgunn/" rel="noopener noreferrer" target="_blank">
                            Jeff Gunn</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/seattle-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Seattle Space Needle seen among lit up Downtown Seattle with Mount Rainier in the background at sunset"
                        data-src="https://www.travelimager.com/images/washington/Washington-Seattle-Downtown-Space-Needle-and-Mount-Rainier.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/seattle-attractions-guide">
                        Seattle
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/city-skyline-seattle-downtown-693502/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                            272447</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-southbound-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Forest-covered cliffs of Ecola State Park meeting the sandy beach at Ecola Point near Cannon Beach, Northern Oregon"
                        data-src="https://www.travelimager.com/images/oregon/Oregon-Northern-Coast-Ecola-State-Park-Ecola-Point-2.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/oregon/northern-oregon-coast-southbound-attractions-guide">
                        Cannon Beach &amp; Northern Coast, Oregon
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/beach-ocean-landscape-sea-water-2737460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/jbwilder75-4756122/" rel="noopener noreferrer" target="_blank">
                            jbwilder</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/washington/olympic-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="View along the idyllic Pacific Northwest Rialto Beach with giant log piles and dense forests on the Olympic Peninsula"
                        data-src="https://www.travelimager.com/images/washington/Washington-Olympic-National-Park-Rialto-Beach.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/washington/olympic-national-park-attractions-guide">
                        Olympic National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/gusilu/7987056555/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/gusilu/" rel="noopener noreferrer" target="_blank">
                            Lucia Sanchez</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    