<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">View overlooking Belfast and the sea from McArts Fort in Cave Hill Country Park, Belfast, Northern Ireland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Cave-Hill-Country-Park-McArts-Fort-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Belfast, Northern Ireland, and plan the perfect trip with our savable Belfast Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="belfast_northern_ireland" />
    <meta name="europe_attraction_guides" content="belfast_northern_ireland" />
    <meta name="europe_destinations" content="belfast_northern_ireland" />
    <meta name="europe_destination_guides" content="belfast_northern_ireland" />
    <meta name="uk_attraction_guides" content="belfast" />
    <meta name="uk_destinations" content="belfast" />
    <meta name="uk_destination_guides" content="belfast" />
    <meta name="northern_ireland_attraction_guides" content="belfast" />
    <meta name="northern_ireland_destinations" content="belfast" />
    <meta name="northern_ireland_destination_guides" content="belfast" />
    <meta name="ireland_attraction_guides" content="belfast" />
    <meta name="ireland_destinations" content="belfast" />
    <meta name="ireland_destination_guides" content="belfast" />
    <meta name="google_maps_list" content="belfast" />
    <meta property="og:title" content="Belfast, Northern Ireland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Cave-Hill-Country-Park-McArts-Fort.jpg">
    <meta name="twitter:title" content="Belfast, Northern Ireland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Cave-Hill-Country-Park-McArts-Fort.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/northern-ireland/belfast-attractions-guide">
    <title>Attractions Guide for Belfast, Northern Ireland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Belfast, Northern Ireland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#central-belfast">Central Belfast</a></div>
            <div><a href="#southern-belfast">Southern Belfast</a></div>
            <div><a href="#northern-belfast">Northern Belfast</a></div>
            <div><a href="#greater-belfast">Greater Belfast</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>




    <!-- Central Belfast Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Grandiose baroque exterior of the iconic Belfast City Hall building in Northern Ireland" 
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Belfast-City-Hall-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belfast City Hall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/macnolete/997055128/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/macnolete/" rel="noopener noreferrer" target="_blank">
                                    Macnolete</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Towering Albert Memorial Clock, an iconic sight of Belfast Northern Ireland"
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Albert-Memorial-Clock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Albert Memorial Clock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/16317666184" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Striking ultra-modern architecture of the Titanic Belfast Museum along the water in Belfast"
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Titanic-Belfast-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Titanic Belfast Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/27779258066" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Storefronts within the partially outdoor Victoria Square Mall, covered by a geodesic glass dome, in Belfast, Northern Ireland"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Victoria-Square-Shopping-Centre-Mall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Victoria Square Mall</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/22083975271/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Corridor and stairway lined with cells inside Belfast's historic Crumlin Road Gaol Prison"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Crumlin-Road-Gaol.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Crumlin Road Gaol Prison</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/4368094" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/12869" rel="noopener noreferrer" target="_blank">
                                    Rossographer</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Central Belfast Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="central-belfast"></a>
        <h2 class="left-heading destination-section-heading">Central Belfast</h2>
        <p>Northern Ireland's capital is a bustling port city of impressive architecture, including buildings such as the imposing baroque <strong>Belfast City Hall</strong> with its decadent interiors and the towering iconic <strong>Albert Memorial Clock</strong>.</p>
        <p>The city is home to the famous <strong>Titanic Belfast</strong> museum chronicling the ship's history in a remarkable contemporary structure atop the shipyard it was built in. There's also the popular <strong>Victoria Square</strong> mall and the historic St George's Market, a covered Victorian-era marketplace.</p>
        <p>Just north of Downtown Belfast is the <strong>Crumlin Road Gaol Prison</strong>, a Victorian-era prison turned museum.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Belfast 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1612876756"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Southern, Northern, and Central Belfast Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lavish exterior of Belfast's popular Ulster Museum"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Ulster-Museum-Exterior.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ulster Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Ulster_Museum_2.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bazonka" rel="noopener noreferrer" target="_blank">
                                    Bazonka</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning exterior of the Lanyon Building at Belfast's Queen's University"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Queens-University-Lanyon-Building.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lanyon Building (Queen's&nbsp;University)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/notaspy/33890329152/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/notaspy/" rel="noopener noreferrer" target="_blank">
                                    Nick Birse</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Balcony view overlooking the tropical plants inside the covered Botanic Gardens of Belfast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Belfast-Botanic-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Botanic Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/infomatique/42156878961/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/infomatique/" rel="noopener noreferrer" target="_blank">
                                    William Murphy</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful exterior of the Belfast Castle surrounded by its fine gardens near Cave Hill Park"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Belfast-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Belfast Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Belfast_Castle,_August_2011.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Johnnykimble" rel="noopener noreferrer" target="_blank">
                                    Johnnykimble</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="City of Belfast and the coastline framed behind the entrance to a small cave in Cave Hill above the city"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Cave-Hill-Country-Park-Cave-Hill-Cave.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cave Hill Cave</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View over Belfast and the lush green hills above the city, seen from McArt's Fort atop Cave Hill"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Cave-Hill-Country-Park-McArts-Fort.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">McArt's Fort (Cave&nbsp;Hill)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Medieval stone fortification of Carrickfergus Castle along the harbor of Carrickfergus near Belfast, Northern Ireland"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Carrickfergus-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carrickfergus Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/88831519@N00/369128715/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/88831519@N00/" rel="noopener noreferrer" target="_blank">
                                    Richard Luney</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Approaching the entrance to the lavish Mount Stewart House estate in Belfast, Northern Ireland"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Mount-Stewart-House-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mount Stewart House&nbsp;&amp;&nbsp;Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.geograph.ie/photo/511775" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/11271" rel="noopener noreferrer" target="_blank">
                                    Kay Atherton</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Southern Belfast Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="southern-belfast"></a>
        <h2 class="left-heading destination-section-heading">Southern Belfast</h2>
        <p>To the south of Central Belfast is the massive <strong>Ulster Museum</strong>, containing many exhibits across a wide array of fields including fine art, zoology, archaeological finds, and much more, which is free to visit. Very close-by be sure to admire the exterior of the striking <strong>Lanyon Building</strong> of Queen's University Belfast, which is quite impressive.</p>
        <p>Behind the Ulster Museum and Queens University are the elegant <strong>Botanic Gardens</strong> sprawling over a large area.</p>
    </section>


    <!-- Northern Belfast Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="northern-belfast"></a>
        <h2 class="left-heading destination-section-heading">Northern Belfast</h2>
        <p>To the north of Central Belfast you'll find the stunning <strong>Belfast Castle</strong> overlooking the ocean. Although the castle's interiors are lacking, the exterior is gorgeous set amongst its quaint gardens.</p>
        <p>From the castle you can hike up through Cave Hill County Park, which features lush forests, the <strong>Cave Hill Cave</strong>, and sweeping panoramic views over the city and the ocean, with views out to Scotland on a clear day taken in from <strong>McArt's Fort</strong>. The trail length starting from the castle, passing the cave and along the top of the hill, then looping back to the castle is approximately 3.3 miles (5.3 km) total.</p>
    </section>


    <!-- Greater Belfast Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="greater-belfast"></a>
        <h2 class="left-heading destination-section-heading">Greater Belfast</h2>
        <p>Further northeast along the coast is the <strong>Carrickfergus Castle</strong>, a small Norman medieval fortress made of stone you might like to explore. To the east of Belfast is the <strong>Mount Stewart House &amp; Gardens</strong>, featuring a beautiful 19th century estate with posh interiors and lovely gardens.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Belfast Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1649477721"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Belfast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/CdpXYN5kqr52">&rArr; Top Attractions (Train)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/b4EKgu9dKR42">&rArr; Top Attractions (Car)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/northern-ireland/causeway-coast-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Famous Giant's Causeway coastal formations consisting of thousands of perfect geometric rock columns rising out of the sea"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Bushmills-Giants-Causeway.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/northern-ireland/causeway-coast-attractions-guide">
                        Causeway Coast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/38703275@N06/4617532691/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/38703275@N06/" rel="noopener noreferrer" target="_blank">
                            rosario fiore</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/ireland/dublin-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Covered stone bridge connecting the Christ Church Cathedral and Dublinia Museum of St. Michael's Church in Dublin, Ireland"
                        data-src="https://www.travelimager.com/images/ireland/Ireland-Dublin-St-Michaels-Church-Dublinia.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/ireland/dublin-attractions-guide">
                        Dublin, Ireland
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://commons.wikimedia.org/w/index.php?title=File:Dublin_-_Christ_Church_Cathedral_-_110508_143136.jpg&action=history" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Barcex" rel="noopener noreferrer" target="_blank">
                            Barcex</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    