<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Columnar formations along the coast of the Giant's Causeway on Ireland's Causeway Coast, Northern Ireland Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Giants-Causeway-Columnar-Formations-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along Causeway Coast, Northern Ireland, and plan the perfect trip with our savable Causeway Coast Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="causeway_coast_northern_ireland" />
    <meta name="europe_attraction_guides" content="causeway_coast_northern_ireland" />
    <meta name="europe_destinations" content="causeway_coast_northern_ireland" />
    <meta name="europe_destination_guides" content="causeway_coast_northern_ireland" />
    <meta name="uk_attraction_guides" content="causeway_coast" />
    <meta name="uk_destinations" content="causeway_coast" />
    <meta name="uk_destination_guides" content="causeway_coast" />
    <meta name="northern_ireland_attraction_guides" content="causeway_coast" />
    <meta name="northern_ireland_destinations" content="causeway_coast" />
    <meta name="northern_ireland_destination_guides" content="causeway_coast" />
    <meta name="ireland_attraction_guides" content="causeway_coast" />
    <meta name="ireland_destinations" content="causeway_coast" />
    <meta name="ireland_destination_guides" content="causeway_coast" />
    <meta name="google_maps_list" content="causeway_coast" />
    <meta property="og:title" content="Causeway Coast, Northern Ireland Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Giants-Causeway-Columnar-Formations.jpg">
    <meta name="twitter:title" content="Causeway Coast, Northern Ireland Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Giants-Causeway-Columnar-Formations.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/europe/northern-ireland/causeway-coast-attractions-guide">
    <title>Attractions Guide for Causeway Coast, Northern Ireland</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Causeway Coast, Northern&nbsp;Ireland<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#dark-hedges">Dark Hedges</a></div>
            <div><a href="#ballycastle">Ballycastle</a></div>
            <div><a href="#carrick-a-rede-rope-bridge">Carrick-a-Rede Bridge</a></div>
            <div><a href="#ballintoy-and-dunseverick">Ballintoy &amp; Dunseverick</a></div>
            <div><a href="#giants-causeway">Giant's Causeway</a></div>
            <div><a href="#downhill-demesne">Downhill Demesne</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Causeway Coast Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended route located between Belfast and Coleraine along Northern Ireland's extremely scenic northern coast, known as the Causeway Coast.</p>
    </section>


    <!-- Dark Hedges and Ballycastle Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Iconic tree-lined road of The Dark Hedges where tree branches almost form a cave over the road in Stranocum, Northern Ireland" 
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Stranocum-The-Dark-Hedges.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Dark Hedges</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/5221846" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/4335" rel="noopener noreferrer" target="_blank">
                                    Colin Park</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Waves crashing on the long sandy Ballycastle Beach with steep cliffs in background along Ireland's Causeway Coast"
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballycastle-Ballycastle-Beach-Fair-Head.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ballycastle Beach</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/stevecadman/68242737/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/stevecadman/" rel="noopener noreferrer" target="_blank">
                                    Steve Cadman</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Grassy field and farm covered hills at Torr Head meeting the coastal cliffs of Northern Ireland near Ballycastle"
                        src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballycastle-Torr-Head.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Torr Head</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Torr_Head_-_Northern_Ireland_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Torr_Head_-_Northern_Ireland_-_panoramio.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    diego_cue</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruins of the Kinbane Castle near the tip of a rugged beautiful peninsula near Ballycastle along the Causeway Coast" 
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballycastle-Kinbane-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kinbane Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chrisbrooks/26647114965/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chrisbrooks/" rel="noopener noreferrer" target="_blank">
                                    Chris Brooks</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Dark Hedges Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dark-hedges"></a>
        <h2 class="left-heading destination-section-heading">Dark Hedges</h2>
        <p>First you can visit the picturesque <strong>Dark Hedges</strong>, a stunning long tunnel of trees which was also used as a filming location for Game of Thrones. This iconic sight is set a bit back from the coast but is a highly photogenic location worth visiting, among the most popular attractions of the Causeway Coast.</p>
    </section>
    
    
    <!-- Ballycastle, Northern Ireland Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ballycastle"></a>
        <h2 class="left-heading destination-section-heading">Ballycastle, Northern Ireland</h2>
        <p>If you're traveling on a clear day you might like to stop next at <strong>Ballycastle Beach</strong> where you can take a short 0.4 mile (0.6 km) round-trip walk out to a tiny rocky peninsula to take in striking views of the massive cliffs of Fair Head and nearby Rathlin Island (which can also be seen from further away at Kinbane Castle on a very clear day).</p>
        <p>Afterwards continue up to a headland called <strong>Torr Head</strong>, where you can admire spectacular views of a scenic landscape of grassy rolling hills meeting the ocean, requiring only a very short walk. Torr Head is a short detour away from the route but is worth the time to visit.</p>
        <p>Next you can visit the mostly-ruined <strong>Kinbane Castle</strong> which sits atop a small breathtaking headland with amazing panoramic coastal views, with a round-trip hiking distance of only 0.6 miles (1 km) to the tip of the Kinbane Headland from the parking area.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Causeway Coast 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9336396058"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Carrick-a-Rede Rope Bridge, Ballintoy, and Dunseverick Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Clifftop view of the Carrick-a-Rede Rope Bridge spanning the water connecting a small island along Ireland's Causeway Coast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballycastle-Carrick-a-Rede-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carrick-a-Rede Rope Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Carrick-a-Rede_Rope_Bridge,_Northern_Ireland_-_Diliff.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Diliff" rel="noopener noreferrer" target="_blank">
                                    David Iliff</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="White cliffs of the Larrybane Quarry near the coast, a famous Game of Thrones filming location"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballycastle-Larrybane-Quarry.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Larrybane Quarry</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/williamjm/8374184974/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/williamjm/" rel="noopener noreferrer" target="_blank">
                                    William Marnoch</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small beautiful Ballintoy Harbour with stone breakwaters protecting the small boats along Ireland's Causeway Coast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballintoy-Ballintoy-Harbour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ballintoy Harbour</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/4142198" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/636" rel="noopener noreferrer" target="_blank">
                                    Bob Jones</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elephant Rock resembling an elephant and its trunk just off the coast of Ballintoy along Ireland's Causeway Coast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballintoy-Elephant-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Elephant Rock (Ballintoy)</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/3742003" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.geograph.ie/profile/7056" rel="noopener noreferrer" target="_blank">
                                    Eric Jones</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sandy beaches of White Park Bay below rocky grass-covered cliffs near Ballintoy along Ireland's Causeway Coast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Ballintoy-White-Park-Bay-Beach.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Park Bay (Ballintoy)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/oisin_patenall/14164745097/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/oisin_patenall/" rel="noopener noreferrer" target="_blank">
                                    Oisin Patenall</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient ruins of Dunseverick Castle visited by the great St. Patrick, located atop the cliffs of a tiny coastal peninsula"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Bushmills-Dunseverick-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunseverick Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:DunseverickCastle.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Pdean" rel="noopener noreferrer" target="_blank">
                                    Pdean</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.5/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.5</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small but beautiful Dunseverick Falls which flow into the ocean along the Causeway Coast near Dunseverick Castle"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Bushmills-Dunseverick-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunseverick Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/johanwieland/42804894202" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/johanwieland/" rel="noopener noreferrer" target="_blank">
                                    Johan Wieland</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Carrick-a-Rede Rope Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="carrick-a-rede-rope-bridge"></a>
        <h2 class="left-heading destination-section-heading">Carrick-a-Rede Rope Bridge</h2>
        <p>Afterwards you can head to one of Northern Ireland's most popular attractions, the nearby <strong>Carrick-a-Rede Rope Bridge</strong>. This bridge connects to a tiny island and can be reached via a walk of approximately 1.5 miles (2.4 km) round-trip that provides views over one of the most gorgeous parts of the coast in Ireland, with vivid blue-green water and lush grassy cliffs.</p>
        <h3>Larrybane Quarry</h3>
        <p>Also notable is the <strong>Larrybane Quarry</strong>, another Game of Thrones filming location that you can practically see from the parking lot that connects to the Rope Bridge parking lot.</p>
    </section>


    <!-- Ballintoy &amp; Dunseverick Castle Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ballintoy-and-dunseverick"></a>
        <h2 class="left-heading destination-section-heading">Ballintoy &amp; Dunseverick Castle</h2>
        <p>Next you can visit the picturesque <strong>Balintoy Harbour</strong>, which you can stop to admire from a small pull-off on the hill just before you reach the parking lot. From Ballintoy Harbour you can walk westwards along the scenic coastline to see the impressive <strong>Elephant Rock</strong>, which sits just off the coast next to a small sea arch. The round-trip distance for this walk is approximately 1.2 miles (1.9 km).</p>
        <p>Near the Ballintoy Harbour you might like to visit <strong>White Park Bay</strong>, a beautiful beach with stunning cliffs that can be reached with a short walk of approximately 0.9 miles (1.4 km) round-trip from the parking lot, with the option of walking along the beach to get closer to the cliffs.
        <h3>Dunseverick Castle &amp; Falls</h3>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>A bit further up the coast are the extraordinary ancient ruins of <strong>Dunseverick Castle</strong>, which was visited by the great Saint Patrick in the 5th century. Very little of the castle remains today, however the site is very interesting and the ruins sit on a small peninsula over the sea surrounded by picturesque coastline, accessible via a walk of only 0.4 miles (0.6 km) round-trip from the car park.</p>
            <p>Nearby the castle you can take a short walk to the beautiful <strong>Dunseverick Falls</strong>, which flow over the cliffs into the ocean.</p>
        </div>
        <button type="button" class="collapsible-content read-more-header-padding">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Causeway Coast 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3036804916"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Giant's Causeway and Downhill Demesne Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Giant's Causeway coastal formations consisting of thousands of perfect geometric rock columns rising out of the sea"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Bushmills-Giants-Causeway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Giant's Causeway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/38703275@N06/4617532691/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/38703275@N06/" rel="noopener noreferrer" target="_blank">
                                    rosario fiore</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large ruined site of the 13th century Dunluce Castle atop the cliffs above Ireland's Causeway Coast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Bushmills-Dunluce-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dunluce Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/dunluce-castle-northern-ireland-3795208/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/hhach-146898/" rel="noopener noreferrer" target="_blank">
                                    hhach</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior shell of the empty Hezlett House at Downhill Demesne in Castlerock along Ireland's Causeway Coast"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Castlerock-Downhill-Demesne-and-Hezlett-House-Bishops-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Downhill Demesne &amp Hezlett&nbsp;House</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.ie/photo/342105" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://sites.google.com/site/kennyallenswebsite/home" rel="noopener noreferrer" target="_blank">
                                    Kenneth Allen</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the top of the grassy cliffs at the lovely stone Mussenden Temple with wide sandy beach and coastline below"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Causeway-Coast-Castlerock-Downhill-Demesne-Mussenden-Temple.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mussenden Temple</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mussenden_Temple_overlooking_Downhill_beach._Northern_Ireland.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Mussenden_Temple_overlooking_Downhill_beach._Northern_Ireland.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    D LN</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Giant's Causeway Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="giants-causeway"></a>
        <h2 class="left-heading destination-section-heading">Giant's Causeway</h2>
        <p>Continue to one of the top sights in all of Ireland and today's main attraction, the <strong>Giant's Causeway</strong>, where you can admire the breathtaking natural step formations consisting of geometric rock columns along the coast. The round-trip distance hiking along these surreal formations is approximately 2.4 miles (3.9 km) round-trip.</p>
        <h3>Dunluce Castle</h3>
        <p>Just east of the Giant's Causeway you can stop to explore the ruins of the incredible 13th century <strong>Dunluce Castle</strong> which sits atop tall sheer cliffs.</p>
    </section>


    <!-- Downhill Demesne &amp; Hezlett House Dropdown-->
    <section class="destination-section">
        <a class="anchor" id="downhill-demesne"></a>
        <h2 class="left-heading destination-section-heading">Downhill Demesne &amp; Hezlett House</h2>
        <p>The final attraction along this route is the <strong>Downhill Demesne & Hezlett House</strong>, the spooky ruins of an 18th century estate which is mostly an empty hull, located right on the coast near the city of Coleraine.</p>
        <p>Just behind this house is the small romanesque <strong>Mussenden Temple</strong> which sits atop the cliffs over the sea providing excellent coastal views. The house is a very short walk from the parking lot, and to see the house and temple requires a round-trip walk of approximately 0.8 miles (1.3 km).</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Causeway Coast Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8023314386"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Causeway Coast Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/X3szfCZ5R7F2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/G2i3UYkSxQR2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/europe/northern-ireland/belfast-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Grandiose baroque exterior of the iconic Belfast City Hall building in Northern Ireland"
                        data-src="https://www.travelimager.com/images/northern-ireland/Northern-Ireland-Belfast-Belfast-City-Hall-Exterior.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/europe/northern-ireland/belfast-attractions-guide">
                        Belfast
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/macnolete/997055128/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/macnolete/" rel="noopener noreferrer" target="_blank">
                            Macnolete</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    