<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Striking red rock formations of the Garden of the Gods seen from a distance in Colorado Springs, Colorado Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods-and-Brush-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Colorado National Monument + McInnis Canyons Arches and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="colorado_national_monument_colorado" />
    <meta name="usa_attraction_guides" content="colorado_national_monument_colorado" />
    <meta name="usa_destinations" content="colorado_national_monument_colorado" />
    <meta name="usa_destination_guides" content="colorado_national_monument_colorado" />
    <meta name="colorado_attraction_guides" content="colorado_national_monument" />
    <meta name="colorado_destinations" content="colorado_national_monument" />
    <meta name="colorado_destination_guides" content="colorado_national_monument" />
    <meta name="national_park_attraction_guides" content="colorado_national_monument" />
    <meta name="google_maps_list" content="colorado_national_monument" />
    <meta property="og:title" content="Colorado National Monument, Colorado Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods-and-Brush.jpg">
    <meta name="twitter:title" content="Colorado National Monument, Colorado Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods-and-Brush.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
    <title>Attractions Guide for Colorado National Monument, Colorado</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Colorado National Monument, Colorado<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#fruita-canyon">Fruita Canyon</a></div>
            <div><a href="#monument-canyon-overlooks">Monument Canyon</a></div>
            <div><a href="#coke-ovens">Coke Ovens</a></div>
            <div><a href="#monument-canyon-trails">Canyon Trails</a></div>
            <div><a href="#ute-canyon">Ute Canyon</a></div>
            <div><a href="#devils-kitchen">Devil's Kitchen</a></div>
            <div><a href="#devils-canyon-loop-trail">Devils Canyon Trail</a></div>
            <div><a href="#mcinnis-canyons-rattlesnake-arches">Rattlesnake Arches</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Colorado National Monument Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Colorado National Monument is a stunning landscape of canyons and complex rock formations, located next to the Colorado River and the city of Grand Junction in Western Colorado, adjacent to the Utah border. Colorado National Monument is postioned about halfway between Moab and Glenwood Springs, about 1.5 hours by car from either city.</p>
        <p>Next to this national monument are the McInnis Canyons, which are home to the second largest concentration of natural arches in the world, second only to the nearby Arches National Park of Utah.</p>
    </section>


    <!-- Fruita Canyon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="View of the barely standing Balanced Rock along Rimrock Drive through Colorado National Monument" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Balanced-Rock-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balanced Rock View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/56181704@N00/10568900505" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dph1110/" rel="noopener noreferrer" target="_blank">
                                    David Herrera</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking Rimrock Drive as it winds up Fruita Canyon at Colorado National Monument" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Fruita-Canyon-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fruita Canyon View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Fruita-canyon-view.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Fruita-canyon-view.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Jgoetter</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Zoomed in view od the natural Window Rock formation amongst the cliffs below Colorado National Monument's Book Cliffs View"
                        src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Window-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Window Rock (Book&nbsp;Cliffs&nbsp;View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.needpix.com/photo/763747/window-rock-scenic-colorado-national-monument-usa-landscape-geology-sandstone-formation-natural" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                                    skeeze</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking down the road as it enters a dark tunnel through the cliffs of Colorado National Monument along Rimrock Drive"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Rimrock-Drive-Road-Tunnel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rimrock Drive Tunnel </strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Colorado_National_Monument_(8a342dee-adc1-484f-8dc6-a14ad6327f25).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://npgallery.nps.gov/" rel="noopener noreferrer" target="_blank">
                                    National Park Service</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Fruita Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fruita-canyon"></a>
        <h2 class="left-heading destination-section-heading">Fruita Canyon</h2>
        <p>To reach Colorado National Monument, you’ll cross a bridge over the Colorado River, before reaching Rimrock Drive and ascending up to the top of the canyon cliffs. Along this windy road to the top are several viewpoints, including the <strong>Balanced Rock View</strong> which provides a picturesque view of a balancing rock formation. After this viewpoint are several road tunnels, before reaching the <strong>Fruita Canyon View</strong> near the top, which overlooks the canyon you just summited.</p>
        <h3>Book Cliffs View &amp; Window Rock</h3>
        <p>A bit further along the road is the national monument’s visitor center. Near here you can take a short detour along a one-way road to the marvelous Book Cliffs View, from which you can also admire <strong>Window Rock</strong>, a small natural window formed between the clifftops.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado National Monument 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9929941358"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Monument Canyon Overlooks and Coke Ovens Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning view overlooking Independence Monument and surrounding mesas in Colorado National Monument"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Independence-Monument-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Independence Monument View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kimon/22372689366/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kimon/" rel="noopener noreferrer" target="_blank">
                                    Kimon Berlin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning view over the mesas and buttes of Monument Canyon from Grand View in Colorado National Monument of Western Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-West.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grand View (West)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/58869428@N05/34667838504/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                                    Todd Petrie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking complex rock pillars and cliffs of Monument Canyon from Colorado National Monument's Grand View"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-East.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grand View (East)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kairologic/8580835836" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kairologic/" rel="noopener noreferrer" target="_blank">
                                    Brendan Bombaci</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Amazing view over many buttes, mesas, and rock pillars from the clifftop Monument Canyon View of Colorado National Monument"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Monument-Canyon-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monument Canyon View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/72213316@N00/4475645162/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/72213316@N00/" rel="noopener noreferrer" target="_blank">
                                    Frank Kovalchek</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Amazing Coke Ovens rock formations of Monument Canyon in Colorado National Monument"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Coke-Ovens-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coke Ovens Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Co_nat_mon.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Bosman111" rel="noopener noreferrer" target="_blank">
                                    Bosman111</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Monument Canyon Overlooks Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="monument-canyon-overlooks"></a>
        <h2 class="left-heading destination-section-heading">Monument Canyon Overlooks</h2>
        <p>After the Colorado National Monument Visitor Center Rimrock Drive continues for miles along the edge of the cliffs, hosting countless viewpoints.  All of the major viewpoints will be listed here. First be sure to stop at the <strong>Independence Monument View</strong>, which overlooks a highly photogenic towering stone pillar called Independence Monument.</p>
        <h3>Grand View</h3>
        <p>The next viewpoint is probably the best in the entire national monument, <strong>Grand View</strong>. This viewpoint offers incredibly majestic views in almost every direction, overlooking many complex formations, buttes, and cliffs. Just a bit further down the roads is <strong>Monument Canyon View</strong>, which overlooks some of the same formations from a different perspective.</p>
    </section>


    <!-- Coke Ovens Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="coke-ovens"></a>
        <h2 class="left-heading destination-section-heading">Coke Ovens</h2>
        <p>Now continue to the <strong>Coke Ovens Overlook</strong>, from which you can admire some highly unusual rounded stone oven-shaped rock formations set amongst the beautiful canyon. The views of Monument Canyon between Independence Monument View and the Coke Ovens View overlook some of the most incredible scenery this area has to offer. A bit further along the road from the Coke Ovens are two more notable viewpoints, Artist Point View and Highland View.</p>
    </section>


    <!-- Monument Canyon Trails Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="monument-canyon-trails"></a>
        <h2 class="left-heading destination-section-heading">Monument Canyon Trails</h2>
        <h3>Upper Monument Canyon Trail</h3>
        <p>Nearby the Coke Ovens is the trailhead for the Upper Monument Canyon Trail, which descends down into the canyon, venturing alongside the monument-like rock formations. The full trail length out and back is about 9.5 miles (15.3 km) round-trip with significant elevation gain coming back up the canyon, however you can also turn around at any point along the trail to make this hike shorter.</p>
        <h3>Monument Canyon Loop Trail</h3>
        <p>A shorter hiking option for exploring Monument Canyon is the Monument Canyon Loop Trail, which circles around a large mesa formation, passing right by the Independence Monument and passing near the cliffs below Grand View. This trail is about 4.6 miles (7.4 km) round-trip and actually begins outside of the national monument at the Monument Canyon Trailhead. This trailhead is located at the edge of town along Highway 340, several miles to the east of Colorado National Monument’s western entrance.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado National Monument 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8616859681"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Ute Canyon and Eastern Viewpoints Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking a natural alcove carved out of the long canyon walls of Upper Ute Canyon at Colorado National Monument"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Upper-Ute-Canyon-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Ute Canyon View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Colorado_National_Monument_(2e0539e4-0d83-4984-ab3a-c59787a830a3).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://npgallery.nps.gov/" rel="noopener noreferrer" target="_blank">
                                    National Park Service</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning viewpoint overlooking Colorado National Monument's Ute Canyon at a bend in the canyon"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Ute-Canyon-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ute Canyon View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Scenery_at_Colorado_National_Monument,_a_preserve_of_vast_plateaus,_canyons,_and_towering_monoliths_in_Mesa_County,_Colorado,_near_Grand_Junction_LCCN2015633000.tif&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.loc.gov/pictures/collection/highsm/" rel="noopener noreferrer" target="_blank">
                                    Carol M. Highsmith</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking down the center of the long Red Canyon from above at Colorado National Monument"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Red-Canyon-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Canyon Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Colorado_National_Monument_(9392909d-3471-4b1a-85e1-eb41b20f81b9).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://npgallery.nps.gov/" rel="noopener noreferrer" target="_blank">
                                    National Park Service</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Small rock platform at the Cold Shivers Point Overlook along the cliffs at Colorado National Monument"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Cold-Shivers-Point-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cold Shivers Point Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kimon/22398639945/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kimon/" rel="noopener noreferrer" target="_blank">
                                    Kimon Berlin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ute Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ute-canyon"></a>
        <h2 class="left-heading destination-section-heading">Ute Canyon</h2>
        <p>Much further along Rimrock Drive is the stunning Ute Canyon, which is several miles long and very scenic. You can stop at the <strong>Upper Ute Canyon View</strong> to admire the beginning of the canyon, and then continue along to the <strong>Ute Canyon View</strong> to enjoy the most picturesque views over this canyon. The Ute Canyon View offers wide 180 degree views looking down two long corridors of the canyon from the point where it bends.</p>
        <h3>Eastern Viewpoints</h3>
        <p>Just beyond Ute Canyon, be sure to stop at the <strong>Red Canyon Overlook</strong>, which is located at the beginning of another long scenic canyon. Further down the road is another highly recommended stop, the <strong>Cold Shivers Point Overlook</strong>. Near this viewpoint, Rimrock Drive becomes Monument Road and descends back down the canyon.</p>
    </section>


    <!-- Devil's Kitchen Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="devils-kitchen"></a>
        <h2 class="left-heading destination-section-heading">Devil's Kitchen</h2>
        <p>Near the eastern exit/entrance to Colorado National Monument is the most popular short trail, the Devil’s Kitchen. This 1.5 mile (2.4 km) round-trip trail ventures to the Devil’s Kitchen, an area hosting many striking and unusual rock formations, however the trail is a bit difficult to follow so make sure to pay attention.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado National Monument 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7205358052"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Rattlesnake Arches Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Golden hour view overlooking small natural arches of Black Ridge Canyon Wilderness at Colorado's McInnis Canyons"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-McInnis-Canyons-Black-Ridge-Canyons-Wilderness-Rattlesnake-Arches-Trail-Black-Ridge-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Black Ridge Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://flickr.com/photos/50212228@N08/49758424847" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/blmcolorado/" rel="noopener noreferrer" target="_blank">
                                    BLM-Colorado</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the large East Rim Arch along the Rattlesnake Arches Trail of Black Ridge Canyons at Colorado's McInnis Canyons"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-McInnis-Canyons-Black-Ridge-Canyons-Wilderness-Rattlesnake-Arches-Trail-East-Rim-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">East Rim Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iagoarchangel/14703677325/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iagoarchangel/" rel="noopener noreferrer" target="_blank">
                                    jimmy thomas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Golden hour glow of the backside of East Rim Arch along the Rattlesnake Arches Trail of the Black Ridge Canyons Wilderness"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-McInnis-Canyons-Black-Ridge-Canyons-Wilderness-Rattlesnake-Arches-Trail-East-Rim-Arch-Behind.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">East Rim Arch (Behind)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/blmcolorado/49758424847/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/blmcolorado/" rel="noopener noreferrer" target="_blank">
                                    BLM-Colorado</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the Cedar Tree Atch from behind along the Rattlesnake Arches Trail of Colorado's McInnis Canyons"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-McInnis-Canyons-Black-Ridge-Canyons-Wilderness-Rattlesnake-Arches-Trail-Cedar-Tree-Arch-Behind.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cedar Tree Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://flickr.com/photos/50212228@N08/49758424847" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/blmcolorado/" rel="noopener noreferrer" target="_blank">
                                    BLM-Colorado</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the Bridge Arch with a small hole in it along the Rattlesnake Arches Trail of Colorado's Black Ridge Canyon"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-McInnis-Canyons-Black-Ridge-Canyons-Wilderness-Rattlesnake-Arches-Trail-Bridge-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bridge Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bridge_arch.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Pretzelpaws" rel="noopener noreferrer" target="_blank">
                                    Pretzelpaws</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    
    <!-- Devils Canyon Loop Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="devils-canyon-loop-trail"></a>
        <h2 class="left-heading destination-section-heading">Devils Canyon Loop Trail</h2>
        <p>In the more remote western section of the national monument (west of Rimrock Drive) is the 6.7 mile (10.8 km) round-trip Devils Canyon Loop Trail (not to be confused with the Devil's Kitchen). The Devils Canyon is stunning, surrounded by incredible rock formations. Despite the long length, this trail isn't very challenging and is relatively flat. You'll find the trailhead for the Devils Canyon Trail off of Kingsview Road.</p>
    </section>



    <!-- McInnis Canyons Rattlesnake Arches Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mcinnis-canyons-rattlesnake-arches"></a>
        <h2 class="left-heading destination-section-heading">McInnis Canyons Rattlesnake Arches</h2>
        <p>McInnis Canyon hosts the second largest concentration of natural rock arches in the world, with nine natural arches. Nearby Arches National Park in Utah is the record holder, however this arch-filled area is largely unknown and rarely seen by humans. The trail connecting these arches is known as the Rattlesnake Arches Trail, along which you can see arches including the <strong>East Rim Arch</strong>, <strong>Cedar Tree Arch</strong>, <strong>Bridge Arch</strong>, and more.</p>
        <p>Unfortunately the Rattlesnake Arches area is extremely under-developed and thus if you have a high clearance four-wheel drive vehicle, you can easily access the trail, making it roughly a 7 mile (11.3 km) round-trip hike from the Upper Trailhead.</p>
        <p>Accessing the hike with a regular vehicle the hike is about 14 miles (22.5 km), with the added length being what you would cover with a 4x4 vehicle. If you manage to get to the trail, you likely won't see many other people around. The longer version of this trail begins from the Pollock Bench Trailhead.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado National Monument Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9827544161"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Colorado National Monument Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/gsrxHdgkghiLSaQb6">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/F9QgEM7TiP6VzXn7A">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        Arches National&nbsp;Park &amp; Moab
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                            webpascal</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        Canyonlands National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredible natural stripes across the walls seen from the Painted Wall View above Colorado's Black Canyon of the Gunnison"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Black-Canyon-of-the-Gunnison-National-Park-Painted-Wall-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        Black Canyon of the Gunnison &amp; Million Dollar Highway
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mobili/38841672072/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                            Mobilus in Mobili</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/aspen-and-glenwood-springs-to-denver-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Reflection of the Maroon Bells mountains of Aspen in Maroon Lake set amongst fall colors of White River National Forest"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-White-River-National-Forest-Aspen-Maroon-Lake.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/aspen-and-glenwood-springs-to-denver-attractions-guide">
                        Aspen &amp; Denver to Glenwood&nbsp;Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/13493355475" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    