<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Wild elk at Great Sand Dunes National Park and Preserve in the San Luis Valley, Southern Colorado Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Colorado Springs, Colorado + Pikes Peak, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="colorado_springs_colorado" />
    <meta name="usa_attraction_guides" content="colorado_springs_colorado" />
    <meta name="usa_destinations" content="colorado_springs_colorado" />
    <meta name="usa_destination_guides" content="colorado_springs_colorado" />
    <meta name="colorado_attraction_guides" content="colorado_springs" />
    <meta name="colorado_destinations" content="colorado_springs" />
    <meta name="colorado_destination_guides" content="colorado_springs" />
    <meta name="google_maps_list" content="colorado_springs" />
    <meta property="og:title" content="Colorado Springs, Colorado Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes.jpg">
    <meta name="twitter:title" content="Colorado Springs, Colorado Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
    <title>Attractions Guide for Colorado Springs, Colorado</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Colorado Springs, Colorado<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#downtown-colorado-springs">Downtown</a></div>
            <div><a href="#garden-of-the-gods">Garden of the Gods</a></div>
            <div><a href="#red-rock-canyon">Red Rock Canyon</a></div>
            <div><a href="#southwest-colorado-springs">More Colorado Springs</a></div>
            <div><a href="#pikes-peak">Pikes Peak</a></div>
            <div><a href="#manitou-springs">Manitou Springs</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Colorado Springs Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>There are many great things to do around the scenic Colorado Springs and Manitou Springs area, with the most famous attractions being the Garden of the Gods and Pikes Peak.</p>
    </section>


    <!-- Downtown Colorado Springs, Garden of the Gods, and Red Rock Canyon Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Facade of the Colorado Springs Pioneer Museum" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Pioneers-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Colorado Springs Pioneers Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brokentaco/3498772836" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brokentaco/" rel="noopener noreferrer" target="_blank">
                                    David</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stunning view of the famous red rocks of Colorado Springs's Garden of the Gods towering above the lush green landscape" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Garden of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6174065038/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Striking red rocks amongst the green landscape of the Red Rock Canyon Trails in Colorado Springs"
                        src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Red-Rock-Canyon-Trails.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Rock Canyon Trails</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/aryehalex/34853161440/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/aryehalex/" rel="noopener noreferrer" target="_blank">
                                    Aryeh Alex</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Close-up view of the giant seeminly gravity-defying Balanced Rock of Colorado Springs, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Balanced-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balanced Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Balanced_Rock.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Balanced_Rock.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    EvanS</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Downtown Colorado Springs Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="downtown-colorado-springs"></a>
        <h2 class="left-heading destination-section-heading">Downtown Colorado Springs</h2>
        <p>Downtown Colorado Springs is a lovely historic area hosting many great restaurants and bars. In Downtown you'll also find the popular <strong>Colorado Spring Pioneers Museum</strong>, which is free to visit and features various rotating exhibits.</p>
    </section>


    <!-- Garden of the Gods Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="garden-of-the-gods"></a>
        <h2 class="left-heading destination-section-heading">Garden of the Gods</h2>
        <p>The iconic <strong>Garden of the Gods</strong> is the most popular attraction around Colorado Springs, featuring striking steep red rock formations that you can walk amongst.</p>
        <p>The most popular trails here include the 0.5 mile (0.8 km) round-trip Siamese Twins Loop Trail, the 1.1 mile (1.8 km) round-trip Perkins Central Garden Trail, and the 3.7 mile (6 km) Garden of the Gods Loop Trail which outlines most of the area allowing you to view many formations.</p>
        <p>You can also drive around Juniper Way Loop, parking at the various viewpoints and taking short walks to admire many of the stunning formations. This street encircles the most massive and interesting structures in the Garden of the Gods.</p>
    </section>


    <!-- Red Rock Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="red-rock-canyon"></a>
        <h2 class="left-heading destination-section-heading">Red Rock Canyon</h2>
        <p>Just across the highway from the Garden of the Gods is <strong>Red Rock Canyon</strong>, which hosts some excellent hiking trails that venture through breathtaking scenery. Red Rock Canyon contains a network of many overlapping trails, so the bets way to see the area is to zig-zag through the park from north to south starting from the northern side of the park which will take you on a journey of approximately 5.4 miles (8.7 km).</p>
        <h3>Balanced Rock</h3>
        <p>Also nearby Red Rock Canyon and the Garden of the Gods is the seemingly gravity-defying <strong>Balanced Rock</strong> formation. Balanced Rock is located just off the highway near the western entrance to Garden of the Gods.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado Springs 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4590695208"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Southwestern Colorado Springs Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Bridge over a small lake leading to the lavish Broadmoor Hotel of Colorado Springs"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Broadmoor-Hotel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Broadmoor Hotel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/davidcjones/8325077213/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/davidcjones/" rel="noopener noreferrer" target="_blank">
                                    David Jones</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Tall staircase ascending the canyon beside the tall waterfalls along the Broadmoor Seven Falls Trail in Colorado Springs"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Broadmoor-Seven-Falls-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Broadmoor Seven Falls Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/joevare/3744426670/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/joevare/" rel="noopener noreferrer" target="_blank">
                                    joevare</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the forests and suburbs of Colorado Springs from the Will Rogers Shrine of the Sun"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Will-Rogers-Shrine-of-the-Sun-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Will Rogers Shrine of the Sun (View)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/just1page/36445509420/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/just1page/" rel="noopener noreferrer" target="_blank">
                                    surprise truck</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of small waterfall along the Seven Bridges Trail in Colorado Springs"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Seven-Bridges-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Seven Bridges Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/markbyzewski/15795526578/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/markbyzewski/" rel="noopener noreferrer" target="_blank">
                                    mark byzewski</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Southwestern Colorado Springs Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="southwest-colorado-springs"></a>
        <h2 class="left-heading destination-section-heading">Southwestern Colorado Springs</h2>
        <h3>Broadmoor Hotel &amp; Seven Falls Trail</h3>
        <p>In the southern part of Colorado Spring is the elegant <strong>Broadmoor Hotel</strong>, featuring a pretty lake and offering free shuttles to the <strong>Broadmoor Seven Falls Trail</strong>, which takes you up to a majestic forested canyon where you'll see multiple incredible waterfalls. There is no parking allowed at the trailhead so the shuttle is highly recommended for this beautiful hike.</p>
        <h3>Zoo &amp; Will Rogers Shrine of the Sun</h3>
        <p>Nearby the hotel is the highly rated Cheyenne Mountain Zoo and the castle-tower-like <strong>Will Rogers Shrine of the Sun</strong> from which you can take in exceptional views over the city.</p>
        <h3>Seven Bridges Trail</h3>
        <p>Located nearby to the west, the <strong>Seven Bridges Trail</strong> in North Cheyenne Canon Park takes you on a 3.8 mile (6.1 km) journey through a scenic wilderness area featuring waterfalls, red rock forests, and seven bridges over the creek.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado Springs 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7954514705"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Pikes Peak and Manitou Springs Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Red train cars of the Pikes Peak Cog Railway at the station atop Pikes Peak above Colorado Springs"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Pikes-Peak-Cog-Railway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pikes Peak Cog Railway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/squeaks2569/5925080890/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/squeaks2569/" rel="noopener noreferrer" target="_blank">
                                    Alan Stark</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vast green forests and mountainous landscape of Colorado from atop Pikes Peak"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Pikes-Peak.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pikes Peak</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/adifferentbrian/36106346260/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/adifferentbrian/" rel="noopener noreferrer" target="_blank">
                                    adifferentbrian</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Replicas of 800 year old Native American structures at the Manitou Cliff Dwellings at Manitou Springs, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Manitou-Cliff-Dwellings.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Manitou Cliff Dwellings</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/inthe-arena/39339804752/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/inthe-arena/" rel="noopener noreferrer" target="_blank">
                                    Andrew Seaman</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Facade of the lovely Miramont Castle of Manitou Springs near Colorado Springs"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Miramont-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Miramont Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Miramont_(Manitou_Springs,_Colorado).JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Denverjeffrey" rel="noopener noreferrer" target="_blank">
                                    Jeffrey Beall</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Pikes Peak Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="pikes-peak"></a>
        <h2 class="left-heading destination-section-heading">Pikes Peak</h2>
        <p>To the west of Colorado Springs you'll find famous <strong>Pikes Peak Cog Railway</strong>, which takes you all the way to the top of <strong>Pikes Peak</strong> mountain for incredible views. Unfortunately the Cog Railway isn't set to re-open until 2021, however you can take a long scenic drive up to the top, from which you can enjoy gorgeous panoramic views.</p>
    </section>


    <!-- Manitou Springs, Colorado Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="manitou-springs"></a>
        <h2 class="left-heading destination-section-heading">Manitou Springs, Colorado</h2>
        <p>To the west of Colorado Springs in the suburb of Manitou Springs are several more amazing attractions (in addition to the Pikes Peak Cog Railway). Manitou Springs hosts the popular Cave of the Winds, which offers tours of the cave as well as outdoor zip-lining and other activities.</p>
        <p>Also in this suburb you'll find the fascinating recreated <strong>Manitou Cliff Dwellings</strong> which are modeled after 800 year old Native American ruins. You might also consider visiting Manitou Springs's beautiful <strong>Miramont Castle</strong>, which you should stop to admire from outside.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Colorado Springs Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6641433030"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Colorado Springs Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/5tYQPcBK1y32">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/r6hxg1fW9y42">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the Red Rocks Amphitheater near Denver, Colorado from the top row"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Red-Rock-Amphitheater.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
                        Denver &amp; Boulder
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/chris_pelliccione/10558219635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/chris_pelliccione/" rel="noopener noreferrer" target="_blank">
                            Chris Pelliccione</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/rocky-mountain-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view of Colorado's Loch Lake at Rocky Mountains National Park surrounded by dense forests and tall mountains"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Rocky-Mountain-National-Park-The-Loch.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/rocky-mountain-national-park-attractions-guide">
                        Rocky Mountain National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/collins_family/36524220733/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/collins_family/" rel="noopener noreferrer" target="_blank">
                            Chris Collins</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        San Luis Valley &amp; Ca&#241;on&nbsp;City
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                            Wasif Malik</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth giant sand dunes amongst the blue sky at Great Sand Dunes National Park in Southern Colorado's San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        Southern Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                            Hans Watson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/aspen-and-glenwood-springs-to-denver-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Reflection of the Maroon Bells mountains of Aspen in Maroon Lake set amongst fall colors of White River National Forest"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-White-River-National-Forest-Aspen-Maroon-Lake.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/aspen-and-glenwood-springs-to-denver-attractions-guide">
                        Aspen &amp; Denver to Glenwood&nbsp;Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/13493355475" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Light blue doors and windows contrast the sand-colored multi-story Hlaukwima South Houseadobe structure at Taos Pueblo, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlaukwima-South-Adobe-House.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        Taos &amp; Abiquiu, New&nbsp;Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/22711505@N05/9583764825/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                            Ron Cogswell</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    