<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Aerial view overlooking Downtown Denver with Rocky Mountains in background, Denver, Colorado Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/colorado/Colorado-Denver-Downtown-Denver-and-Mountains-Aerial-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions & hiking trails in Denver & Boulder, Colorado, and plan the perfect trip with our savable Denver Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="denver_colorado" />
    <meta name="attraction_guides" content="boulder_colorado" />
    <meta name="usa_attraction_guides" content="denver_colorado" />
    <meta name="usa_attraction_guides" content="boulder_colorado" />
    <meta name="usa_destinations" content="denver_colorado" />
    <meta name="usa_destinations" content="boulder_colorado" />
    <meta name="usa_destination_guides" content="denver_colorado" />
    <meta name="usa_destination_guides" content="boulder_colorado" />
    <meta name="colorado_attraction_guides" content="denver" />
    <meta name="colorado_attraction_guides" content="boulder" />
    <meta name="colorado_destinations" content="denver" />
    <meta name="colorado_destinations" content="boulder" />
    <meta name="colorado_destination_guides" content="denver" />
    <meta name="colorado_destination_guides" content="boulder" />
    <meta name="google_maps_list" content="denver" />
    <meta name="google_maps_list" content="boulder" />
    <meta property="og:title" content="Denver & Boulder, Colorado Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/colorado/Colorado-Denver-Downtown-Denver-and-Mountains-Aerial-View.jpg">
    <meta name="twitter:title" content="Denver & Boulder, Colorado Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/colorado/Colorado-Denver-Downtown-Denver-and-Mountains-Aerial-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
    <title>Attractions Guide for Denver & Boulder, Colorado</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Denver &amp; Boulder, Colorado<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#denver-attractions">Denver, CO</a></div>
            <div><a href="#roxborough-state-park">Roxborough State Park</a></div>
            <div><a href="#boulder-attractions">Boulder, CO</a></div>
            <div><a href="#royal-arch-trail">Royal Arch Trail</a></div>
            <div><a href="#eldorado-canyon-state-park">Eldorado Canyon</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Denver and Boulder Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Denver is the capital city of Colorado and is located just east of Rocky Mountain National Park. The national park is adjacent to the nearby suburb of Boulder, another popular destination. In addition to the Rocky Mountain National Park, several state parks and excellent hiking trails surround Denver and Boulder.</p>
    </section>


    <!-- Denver Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning ultramodern architecture of the Denver Art Museum in Downtown Denver, Colorado" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Denver-Art-Museum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Denver Art Museum</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/saturnism/749692920/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/saturnism/" rel="noopener noreferrer" target="_blank">
                                    saturnism</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Pond surrounded by beautiful trees at the Denver Botanic Gardens in Downtown Denver, Colorado" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Denver-Botanic-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Denver Botanic Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/markbyzewski/34836571376/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/markbyzewski/" rel="noopener noreferrer" target="_blank">
                                    mark byzewski</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Thousands of hanging lights at night along an historic street at Larimer Square in Downtown Denver, Colorado"
                        src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Larimer-Square.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Larimer Square (Denver)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/geoliv/13995017808" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/geoliv/" rel="noopener noreferrer" target="_blank">
                                    Geoff Livingston</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Sunset view overlooking the Red Rocks Amphitheater near Denver, Colorado from the top row"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Red-Rock-Amphitheater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Rocks Amphitheater</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chris_pelliccione/10558219635/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chris_pelliccione/" rel="noopener noreferrer" target="_blank">
                                    Chris Pelliccione</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Devner, Colorado Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="denver-attractions"></a>
        <h2 class="left-heading destination-section-heading">Denver, Colorado</h2>
        <p>Downtown Denver has a few noteworthy attractions worth visiting including the Denver Art Museum and the beautiful Denver Botanic Gardens. The <strong>Denver Art Museum</strong> is an incredible ultra-contepoaray structure featuring a vast array of great exhibits. Nearby are the <strong>Denver Botanic Gardens</strong>, which feature an array of lush and diverse gardens and tranquil ponds, as well as many abstract and modern art pieces on display.</p>
        <p><strong>Larimer Square</strong> in Denver has many great shops and restaurants in an old-town Main Street setting, similar to the Pearl Street Mall in Boulder. Both of these historic downtown centers are highly recommended to visit. The real beauty in the area however lies outside of the cities within the surrounding mountains.</p>
        <h3>Red Rocks Amphitheater</h3>
        <p>Just outside of Denver to the west is the famous <strong>Red Rocks Amphitheater</strong>, a gorgeous outdoor venue surrounded by majestic red rock scenery, which you can even visit without paying to see a show.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Denver 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8514462499"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Roxborough State Park and Boulder Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rock walls towering above the green landscape seen along Fountain Valley Loop Trail at Roxborough State Park in Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Roxborough-State-Park-Fountain-Valley-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fountain Valley Loop Trail (Roxborough)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/5974714678/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Many large sloped rocks emerging from the green landscape seen along Roxborough State Park's South Rim Loop Trail in Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Roxborough-State-Park-South-Rim-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">South Rim Loop Trail (Roxborough)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/5974710916/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Pedestrian walkways surrounded by shops along Boulder, Colorado's Pearl Street Mall"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Pearl-Street-Mall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pearl Street Mall (Boulder)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/15829678320/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Circular stone seating of Boulder, Colorado's Sunrise Amphitheater offering views overlooking Boulder from high above"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Sunrise-Amphitheater.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sunrise Amphitheater (Boulder)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/drewtarvin/35718124740/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/drewtarvin/" rel="noopener noreferrer" target="_blank">
                                    Drew Tarvin</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Expansive forests covering the rolling hills and mountains of Colorado seen from the Lost Gulch Overlook above Boulder, CO"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Lost-Gulch-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lost Gulch Overlook (Boulder)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brady_wieland/36859907692" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brady_wieland/" rel="noopener noreferrer" target="_blank">
                                    Brady Wieland</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Roxborough State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="roxborough-state-park"></a>
        <h2 class="left-heading destination-section-heading">Roxborough State Park</h2>
        <p>South of Denver you'll find Roxborough State Park with striking and dramatic red rock formations coming out of the ground, set amongst a beautiful landscape. The best trails to hike here include the 2.1 mile (3.4 km) round-trip F<strong>ountain Valley Loop Trail</strong> which offers gorgeous scenery and a high probability of seeing wild deer.</p>
        <p>You might also consider the 2.7 mile (3.9 km) round-trip <strong>South Rim Loop Trail</strong> which tours the stunning formations within the southern side of the park.</p>
    </section>


    <!-- Boulder, Colorado Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="boulder-attractions"></a>
        <h2 class="left-heading destination-section-heading">Boulder, Colorado</h2>
        <p>Boulder is a popular vacation destination due to its outdoorsy nature and close proximity to Rocky Mountain National Park. When visiting the city of Boulder, be sure to visit its historic downtown center, the <strong>Pearl Street Mall</strong> promenade.</p>
        <p>Just outside of Boulder is the cliffside <strong>Sunrise Amphitheater</strong> which offer amazing views overlooking the city from high above. Nearby you can stop at the <strong>Lost Gulch Overlook</strong> for magnificent views overlooking an incredible landscape of mountains covered in vast forests.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Denver 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4654274383"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Royal Arch and Eldorado Canyon State Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the stuinning Royal Arch formation which Boulder, Colorado's Royal Arch Trail traverses under"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Royal-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Arch Trail (Boulder)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/collins_family/37417921536/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/collins_family/" rel="noopener noreferrer" target="_blank">
                                    Chris Collins</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rugged rocky mountains and forests seen along the Rattlesnake Gulch Trail of Eldorado Canyon State Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Eldorado-Canyon-Rattlesnake-Gulch-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rattlesnake Gulch Trail (Eldorado&nbsp;Canyon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/krossbow/4001240278/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/krossbow/" rel="noopener noreferrer" target="_blank">
                                    F Delventhal</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Snowy moutnainous landscape admired from the Continental Divide Overlook at Eldorado Canyon State Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Eldorado-Canyon-Continental-Divide-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Continental Divide Overlook (Eldorado&nbsp;Canyon)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lhanaphotography/6315191977/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lhanaphotography/" rel="noopener noreferrer" target="_blank">
                                    Max and Dee Bernt</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Royal Arch Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="royal-arch-trail"></a>
        <h2 class="left-heading destination-section-heading">Royal Arch Trail</h2>
        <p>A very popular hike to consider just outside of Boulder is the 3.2 mile (5.1 km) round-trip <strong>Royal Arch Trail</strong>. This trail travels through a rocky lush forest and concludes with an incredible delicate rock arch that looks like it could collapse at any moment.</p>
    </section>


    <!-- Eldorado Canyon State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="eldorado-canyon-state-park"></a>
        <h2 class="left-heading destination-section-heading">Eldorado Canyon State Park</h2>
        <p>Another popular hike to consider near Boulder is the 3.5 mile (5.6 km) round-trip <strong>Rattlesnake Gulch Trail</strong> in Eldorado Canyon State Park. This trail travels through a scenic rugged canyon with forests and a stream, concluding with amazing panoramic views from the <strong>Continental Divide Overlook</strong>.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Denver Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4677614677"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Denver &amp; Boulder Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Cz1Hfujk6Vr">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/VH1T9omkWs92">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/rocky-mountain-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque view of Colorado's Loch Lake at Rocky Mountains National Park surrounded by dense forests and tall mountains"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Rocky-Mountain-National-Park-The-Loch.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/rocky-mountain-national-park-attractions-guide">
                        Rocky Mountain National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/collins_family/36524220733/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/collins_family/" rel="noopener noreferrer" target="_blank">
                            Chris Collins</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view of the famous red rocks of Colorado Springs's Garden of the Gods towering above the lush green landscape"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        Colorado Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6174065038/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        San Luis Valley &amp; Ca&#241;on&nbsp;City
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                            Wasif Malik</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/aspen-and-glenwood-springs-to-denver-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Reflection of the Maroon Bells mountains of Aspen in Maroon Lake set amongst fall colors of White River National Forest"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-White-River-National-Forest-Aspen-Maroon-Lake.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/aspen-and-glenwood-springs-to-denver-attractions-guide">
                        Aspen &amp; Denver to Glenwood&nbsp;Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/13493355475" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view over the mesas and buttes of Monument Canyon from Grand View in Colorado National Monument of Western Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-West.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        Colorado National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/34667838504/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            <div class="destination-container"></div>
            
        </div>

    </section>


    