<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Overlooking the vast Cliff Palace cliff dwellings of Mesa Verde National Park, Colorado Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace-Cliff-Dwellings-View-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Mesa Verde National Park, Colorado, and plan the perfect trip with our savable Mesa Verde Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="mesa_verde_national_park_colorado" />
    <meta name="usa_attraction_guides" content="mesa_verde_national_park_colorado" />
    <meta name="usa_destinations" content="mesa_verde_national_park_colorado" />
    <meta name="usa_destination_guides" content="mesa_verde_national_park_colorado" />
    <meta name="colorado_attraction_guides" content="mesa_verde_national_park" />
    <meta name="colorado_destinations" content="mesa_verde_national_park" />
    <meta name="colorado_destination_guides" content="mesa_verde_national_park" />
    <meta name="national_park_attraction_guides" content="mesa_verde" />
    <meta name="national_park_attraction_guides" content="aztec_ruins" />
    <meta name="google_maps_list" content="mesa_verde_national_park" />
    <meta property="og:title" content="Mesa Verde National Park, Colorado Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace-Cliff-Dwellings-View.jpg">
    <meta name="twitter:title" content="Mesa Verde National Park, Colorado Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace-Cliff-Dwellings-View.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
    <title>Attractions Guide for Mesa Verde National Park, Colorado</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Mesa Verde National&nbsp;Park, Colorado<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#ranger-tours">Ranger Tours</a></div>
            <div><a href="#far-view-ruins-and-coyote-village">Far View Ruins</a></div>
            <div><a href="#spruce-tree-house">Spruce Tree House</a></div>
            <div><a href="#mesa-top-loop">Mesa Top Loop</a></div>
            <div><a href="#cliff-palace">Cliff Palace</a></div>
            <div><a href="#balcony-house">Balcony House</a></div>
            <div><a href="#wetherill-mesa">Wetherill Mesa</a></div>
            <div><a href="#four-corners-monument">Four Corners</a></div>
            <div><a href="#aztec-ruins-national-monument">Aztec Ruins N.M.</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Mesa Verde National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Mesa Verde National Park is the largest archaeological preserve in the USA, containing a high concentration of very old and impressive Native American structures and sites.</p>
        <p>The following attractions are listed in order along a recommended route through the park. The drive through the park is quite scenic with countless viewpoints and ruins to stop at along the way, however the most impressive sights within the park are listed here.</p>
    </section>


    <!-- Far View / Coyote Village and Spruce Tree House Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Vast forests of Southwestern Colorado seen from above the Montezuma Valley Overlook at Mesa Verde National Park" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Montezuma-Valley-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Montezuma Valley Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/24707395@N02/2576613848/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/24707395@N02/" rel="noopener noreferrer" target="_blank">
                                    Caitlyn Willows</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Amazing brick ruins of the Coyote Village at Colorado's Mesa Verde National Park" 
                        src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Coyote-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coyote Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23155134@N06/5913057362/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                                    Don Graham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Stone circles and sturctures of the Far View Ruins at Mesa Verde National Park, Colorado"
                        src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Far-View-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Far View Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/4848691874/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the many structures of the Spruce Tree House cliff dwellings within an alcove at Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Spruce-Tree-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spruce Tree House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/twiga_swala/24278381577/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/twiga_swala/" rel="noopener noreferrer" target="_blank">
                                    Dan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Ranger Tours Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="ranger-tours"></a>
        <h2 class="left-heading destination-section-heading">Ranger Tours</h2>
        <p>Several famous sites within the park (listed in order by popularity) including the Cliff Palace, Balcony House, and Long House can only be properly appreciated up-close with a ranger-led tour. In order to secure your spot, you'll need to pre-book these popular tours ahead of time online and pick-up your tickets in person 2 hours before your tour begins.</p>
        <p>Pick-up and in-person ticketing locations include the park's Visitor Center and a couple other places within Mesa Verde, as well as the Welcome Center in the town of Durango. If you have't pre-booked tickets, a limited amount are available to book on the day of at the main Visitor Center, but be sure to arrive very early before the park even opens, as long lines are common and few tickets are often available.</p>
    </section>


    <!-- Far View Ruins Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="far-view-ruins-and-coyote-village"></a>
        <h2 class="left-heading destination-section-heading">Far View Ruins</h2>
        <p>First you'll encounter the <strong>Montezuma Valley Overlook</strong>, followed by the Park Point Overlook and Geologic Overlook, all of which are easily accessible and provide amazing views.</p>
        <p>Now drive around to the main section of the park, where the first stop you'll encounter are the incredible ruins of the <strong>Coyote Village</strong> and <strong>Far View House</strong>. In order to admire these ruins you can take a 0.9 mile (1.4 km) round-trip walk, which also includes several other structures such as the Far View Tower and Far View Reservoir.</p>
    </section>


    <!-- Spruce Tree House Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="spruce-tree-house"></a>
        <h2 class="left-heading destination-section-heading">Spruce Tree House</h2>
        <p>Continue to the Visitor Center where you can browse artifacts found from the area at the Chapin Mesa Archaeological Museum. From the Visitor Center you can also take the short 0.6 mile (1 km) round-trip walk to see the <strong>Spruce Tree House</strong>.</p>
        <p>Alternatively from the Visitor Center you can hike through a beautiful canyon that offers views of ancient petroglyphs as well as the Spruce Tree House, via the 2.6 mile (4.2 km) round-trip Petroglyph Point Trail.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mesa Verde 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3364533002"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Mesa Top Loop, Cliff Palace, and Balcony House Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the stunning Square Tower House ancestral Puebloan ruins below the canyon at Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Square-Tower-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Square Tower House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/vironevaeh/22533402995/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/vironevaeh/" rel="noopener noreferrer" target="_blank">
                                    Karen Blaha</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a forest canyon filled with Native American cliff dwellings from Mesa Verde National Park's Sun Point View"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Sun-Point-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sun Point View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/4848756856/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View from Mesa Top Loop Road overlooking the Oak Tree House cliff dwellings at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Oak-Tree-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Oak Tree House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/4848649246/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the walkway between the walls of the Sun Temple at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Sun-Temple.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sun Temple</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/namoscato/32601200035/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/namoscato/" rel="noopener noreferrer" target="_blank">
                                    Nick Amoscato</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the Cliff Palace cliff dwelling mini city below the canyon in Mesa Verde National Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace-Cliff-Dwellings-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cliff Palace Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.pexels.com/photo/64581/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.pexels.com/@nick-byrd-13584" rel="noopener noreferrer" target="_blank">
                                    Nick Byrd</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cliff Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view looking along the cliff dwelling ruins of the Balcony House at Mesa Verde National Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Balcony-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balcony House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/vironevaeh/22533423475/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/vironevaeh/" rel="noopener noreferrer" target="_blank">
                                    Karen Blaha</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Mesa Top Loop Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mesa-top-loop"></a>
        <h2 class="left-heading destination-section-heading">Mesa Top Loop</h2>
        <p>Next you can drive along Mesa Top Loop Road, which hosts countless viewpoints and ruins. Among the most impressive are the <strong>Square Tower House</strong>, which can be viewed with a very short walk along the canyon from the parking area, as well as the <strong>Sun Point View</strong>, from which you can see many different cliff dwellings hidden amongst the canyon's cliffs, including the Cliff Palace. From the Sun Point View and the nearby <strong>Oak Tree House</strong> viewpoint, you can admire several more cliff dwellings including the Sunset House, Fire Temple, New Fire House, Oak Tree House, and more.</p>
        <p>Further along the Mesa Top Loop is the <strong>Sun Temple</strong>, which is one of the largest ruined structures set atop the cliffs in the park, which you can also walk along the perimeter of.</p>
    </section>


    <!-- Cliff Palace Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cliff-palace"></a>
        <h2 class="left-heading destination-section-heading">Cliff Palace</h2>
        <p>Not far from the Mesa Top Loop is the Mesa Top Ruins Road loop, which hosts two of Mesa Verde's most iconic ruins, the most famous being the <strong>Cliff Palace</strong>. This massive cliff dwelling is the largest on the continent and contains about 150 rooms which houses a small village. The Cliff Palace is best seen as a pre-booked ranger led tour allowing you to venture inside of the ruins and see them up-close.</p>
    </section>


    <!-- Balcony House Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="balcony-house"></a>
        <h2 class="left-heading destination-section-heading">Balcony House</h2>
        <p>Further along the loop road from the Cliff Palace you can stop to hike the 1.3 mile (2.1 km) round-trip Soda Springs Canyon Overlook Trail to enjoy distant views overlooking the <strong>Balcony House</strong>. Similarly to the Cliff Palace, you'll need to pre-book a ranger-led tour if you wish to see the amazing Balcony House up-close.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mesa Verde 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3748386821"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Wetherill Mesa, Four Corners, and Aztec Ruins Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Long cliff dwelling site of Wetherill Mesa known as the Long House viewed close-up at Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Long-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Long House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daveynin/9469696834/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daveynin/" rel="noopener noreferrer" target="_blank">
                                    David Fulmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Alcove cliff swelling ruins of the Step House at Wetherill Mesa, at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Step-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Step House</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/4851664137/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Meeting point of four US state corners of Arizona, New Mexico, Colorado, and Utah, known as Four Corners Monument"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Northeastern-Arizona-Four-Corners-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Four Corners Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dougtone/7680425438/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dougtone/" rel="noopener noreferrer" target="_blank">
                                    Doug Kerr</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruined site of a vast old Puebloan structure called Aztec Ruins National Monument in Northwestern New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Northwestern-New-Mexico-Aztec-Ruins-National-Monument.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aztec Ruins National&nbsp;Monument</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dougtone/22428606204/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dougtone/" rel="noopener noreferrer" target="_blank">
                                    Doug Kerr</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Long House and Wetherill Mesa Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="wetherill-mesa"></a>
        <h2 class="left-heading destination-section-heading">Long House &amp; Wetherill Mesa</h2>
        <p>Consider driving down Wetherhill Mesa Road to the most remote and westerly section of the park, which is actually quite far from the park's main attractions. Here you'll find the stunning <strong>Long House</strong> cliff dwelling, which can only be visited via a pre-booked ranger led tour.</p>
        <p>Nearby the Long House you can walk the 0.9 miles (1.4 km) round-trip to see the <strong>Step House</strong> ruins up-close. This section of the park hosts other smaller ruins and viewpoints as well, however you might consider skipping it if you have limited time to visit Mesa Verde, especially if you can't tour the Long House.</p>
    </section>


    <!-- Four Corners Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="four-corners-monument"></a>
        <h2 class="left-heading destination-section-heading">Four Corners Monument</h2>
        <p>After enjoying Mesa Verde you might like to visit the popular <strong>Four Corners Monument</strong>, where four US states meet at one point. It's not much more than a small park/monument built around an imaginary point in the ground and there is not much to see, however the site remains a popular tourist destination.</p>
    </section>


    <!-- Aztec Ruins National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="aztec-ruins-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Aztec Ruins National Monument</h2>
        <p>Another extremely impressive site in the Mesa Verde area is <strong>Aztec Ruins National Monument</strong>, which features the ruins of a vast Puebloan (not Aztec) structure built between the 11th and 13th centuries, along with several smaller structures nearby that you can explore amongst. Be sure to also see the monument's Visitor Center if you have time, which will help you understand what the original structure would have looked like.</p>
        <p>Aztec Ruins National Monument is located in a remote part of New Mexico near the town of Farmington, located approximately 1.3 hours by car from the Mesa Verde Vistor Center. Note that Aztec Ruins N.M. is only located about 40 minutes away from the town of Durango, Colorado.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Mesa Verde Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5153801989"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Mesa Verde National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZvrFKxeQre22">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/BsbJ5FQdMtD2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley, Utah/Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        Valley of the Gods &amp; Natural&nbsp;Bridges, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredible natural stripes across the walls seen from the Painted Wall View above Colorado's Black Canyon of the Gunnison"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Black-Canyon-of-the-Gunnison-National-Park-Painted-Wall-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        Black Canyon of the Gunnison &amp; Million Dollar Highway
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mobili/38841672072/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                            Mobilus in Mobili</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth giant sand dunes amongst the blue sky at Great Sand Dunes National Park in Southern Colorado's San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        Southern Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                            Hans Watson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        Arches National&nbsp;Park &amp; Moab
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                            webpascal</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        Canyonlands National&nbsp;Park, Utah
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view over the mesas and buttes of Monument Canyon from Grand View in Colorado National Monument of Western Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-West.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        Colorado National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/34667838504/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    