<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Wild elk at Great Sand Dunes National Park and Preserve in the San Luis Valley, Southern Colorado Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions along the route from Colorado to New Mexico, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="san_luis_valley_colorado" />
    <meta name="attraction_guides" content="canon_city_colorado" />
    <meta name="usa_attraction_guides" content="san_luis_valley_colorado" />
    <meta name="usa_attraction_guides" content="canon_city_colorado" />
    <meta name="usa_destinations" content="san_luis_valley_colorado" />
    <meta name="usa_destinations" content="canon_city_colorado" />
    <meta name="usa_destination_guides" content="san_luis_valley_colorado" />
    <meta name="usa_destination_guides" content="canon_city_colorado" />
    <meta name="colorado_attraction_guides" content="san_luis_valley" />
    <meta name="colorado_attraction_guides" content="canon_city" />
    <meta name="colorado_destinations" content="san_luis_valley" />
    <meta name="colorado_destinations" content="canon_city" />
    <meta name="colorado_destination_guides" content="san_luis_valley" />
    <meta name="colorado_destination_guides" content="canon_city" />
    <meta name="google_maps_list" content="san_luis_valley" />
    <meta name="google_maps_list" content="canon_city" />
    <meta property="og:title" content="San Luis Valley & Canon City, Colorado Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes.jpg">
    <meta name="twitter:title" content="San Luis Valley & Canon City, Colorado Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
    <title>Attractions Guide for San Luis Valley & Canon City, Colorado</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>San Luis Valley &amp; Ca&#241;on City, Colorado<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#canon-city-area">Ca&#241;on City, Colorado</a></div>
            <div><a href="#san-luis-valley">San Luis Valley</a></div>
            <div><a href="#great-sand-dunes-national-park">Great Sand Dunes N.P.</a></div>
            <div><a href="#taos-attractions">Taos, New Mexico</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to San Luis Valley and Canon City Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The following attractions are listed in order along a recommended passing route between Colorado Springs and Santa Fe, New Mexico, passing through Ca&#241;on City, and the San Luis Valley. These attractions can be followed in reverse order if driving south from New Mexico to Colorado instead.</p>
    </section>


    
    <!-- Canon City and San Luis Valley, Colorado Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Gorge Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                                    Wasif Malik</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking up at the stone Bishop Castle built by one man over many years in Rye, Colorado in Bishop County outside Pueblo"
                        src="https://www.travelimager.com/images/colorado/Colorado-Greater-Pueblo-Rye-Fairview-Bishop-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bishop Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chriswaits/21932491930/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chriswaits/" rel="noopener noreferrer" target="_blank">
                                    Chris Waits</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Lots of alligators swimming in close proximity seen at Mosca's Colorado Gators Reptile Park in the San Luis Valley"
                        src="https://www.travelimager.com/images/colorado/Colorado-San-Luis-Valley-Mosca-Colorado-Gators-Reptile-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Colorado Gators Reptile&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Co_mosca_gator_farm1.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Dk4hb~commonswiki" rel="noopener noreferrer" target="_blank">
                                    Dk4hb</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Canon City Area Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="canon-city-area"></a>
        <h2 class="left-heading destination-section-heading">Ca&#241;on City Area</h2>
        <h3>Royal Gorge Bridge</h3>
        <p>You might begin your day by visiting the <strong>Royal Gorge Bridge</strong> near Ca&#241;on City, not too far from Colorado Springs. This very high foot bridge spans a massive rocky canyon of the Arkansas River and features a small adjacent theme park along the canyon rim.</p>
        <h3>Bishop Castle</h3>
        <p>To the south of Ca&#241;on City is a must-see attraction, the famous <strong>Bishop Castle</strong>, an incredible structure which has been built out of stone by one man over many years.</p>
    </section>



    <!-- San Luis Valley Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="san-luis-valley"></a>
        <h2 class="left-heading destination-section-heading">San Luis Valley</h2>
        <p>Further south of Colorado Springs is the vast San Luis Valley, which is surrounded by mountains and sits on the border with New Mexico. This massive valley is home to the lesser-known Great Sand Dunes National Park.</p>
        <p>In the center of the San Luis Valley is the <strong>Colorado Gators Reptile Park</strong>, a sanctuary where you can view many alligators and birds up-close.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Luis Valley 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5600524543"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Great Sand Dunes National Park, Colorado, Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Picturesque view of giant sand dunes set amongst the blue sky at Great Sand Dunes National Park in Colorado's San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Sand Dunes National&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                                    Hans Watson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Herd of elk seen amongst the wildlife living in Colorado's Great Sand Dunes National Park in the San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Sand Dunes Wildlife</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/greatsanddunesnpp/16519301272/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/greatsanddunesnpp/" rel="noopener noreferrer" target="_blank">
                                    Great Sand Dunes N.P.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="People provide a reference size for the massive scale of the dunes at Great Sand Dunes National Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-People.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Sand Dunes National&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/greatsanddunesnpp/23088833242/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/greatsanddunesnpp/" rel="noopener noreferrer" target="_blank">
                                    Great Sand Dunes N.P.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Crane birds seen at the wetlands during golden hour at Great Sand Dunes National Park, Colorado with Mt. Herard in background"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Wetlands-Cranes-Sand-Dunes-and-Mount-Herard-Sunset-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mt. Herard &amp; Wetlands<br />(Great&nbsp;Sand&nbsp;Dunes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/greatsanddunesnpp/25111268635/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/greatsanddunesnpp/" rel="noopener noreferrer" target="_blank">
                                    Great Sand Dunes N.P.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Visitors enjoying the waters of Medano Creek beside the dunes of Colorado's Great Sand Dunes National Park and Mt. Herard in background"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Medano-Creek-Sand-Dunes-and-Mount-Herard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medano Creek<br />(Great&nbsp;Sand&nbsp;Dunes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Great_Sand_Dunes_National_Park_-_Medano_Creek,_dunes_and_Sangre_de_Cristo_Mountains.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pimlico27" rel="noopener noreferrer" target="_blank">
                                    Pimlico27</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Large dune field and Mt. Herard seen behind Medano Creek at Great Sand Dunes National Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-Medano-Creek-and-Mount-Herard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medano Creek<br />(Great&nbsp;Sand&nbsp;Dunes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/acwa/48257161496/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/acwa/" rel="noopener noreferrer" target="_blank">
                                    PEO ACWA</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Close-up view of the beautiful rocky waters of Zapata Falls near Great Sand Dunes in Colorado's Rio Grande National Forest"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Rio-Grande-National-Forest-Zapata-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zapata Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brokentaco/2605177741/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brokentaco/" rel="noopener noreferrer" target="_blank">
                                    David</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>





    <!-- Great Sand Dunes National Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="great-sand-dunes-national-park"></a>
        <h2 class="left-heading destination-section-heading">Great Sand Dunes National Park</h2>
        <p>Southern Colorado's <strong>Great Sand Dunes National Park</strong>, is another highly recommended attraction, featuring a massive sea of giant natural sand dunes set amongst the mountains. Create your own hiking path in the sand while exploring these stunning vast dunes while enjoying the scenery, such as the abundant wildlife and the beautiful <strong>Mount Herard</strong> which towers above the dunes.</p>
        <p>The tallest dune in the national park is known as the High Dune. There's also the <strong>Medano Creek</strong> on the side of the dunes, a popular location for visitors to cool off and relax while enjoying the stunning scenery.</p>
        <h3>Zapata Falls</h3>
        <p>Nearby the Great Sand Dunes you might hike the short 1 mile (1.6 km) round-trip trail up to rocky and beautiful <strong>Zapata Falls</strong>, which is located just outside the national park.</p>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Luis Valley 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2028111048"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Taos, New Mexico Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Light blue doors and windows contrast the sand-colored multi-story Hlaukwima South Houseadobe structure at Taos Pueblo, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlaukwima-South-Adobe-House.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hlakwima South House<br />(Taos&nbsp;Pueblo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/22711505@N05/9583764825/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                                    Ron Cogswell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hlauuma North House anicent adobe structure of Taos Pueblo seen behind the river at Taos, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlauuma-North-Adobe-House-and-Rio-Pueblo-de-Taos-River.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hlauuma North House<br />(Taos&nbsp;Pueblo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Taos_north_pueblo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Taos_north_pueblo.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Obiwannm</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ruins of the colonial Spanish mission church of San Geronimo and cemetery at Taos Pueblo, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-San-Geronimo-Mission-Church-Ruins-and-Cemetery.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">San Geronimo Mission Ruins<br />(Taos&nbsp;Pueblo)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:DSC_1708_Taos_Pueblo,_New_Mexico.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:DSC_1708_Taos_Pueblo,_New_Mexico.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Hasselblad500CM</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful adobe structures line the walkways near Taos Plaza at the Downtown Taos Historic District in Taos, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Downtown-Taos-Historic-District-Taos-Plaza.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Taos Plaza<br />(Downtown&nbsp;Historic&nbsp;District)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Taos_Plaza_13.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:CaroleHenson" rel="noopener noreferrer" target="_blank">
                                    CaroleHenson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking one of the highest bridges in the USA, the Rio Grande Gorge Bridge, located near Taos, New Mexico" 
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Carson-National-Forest-Taos-El-Prado-Rio-Grande-Gorge-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rio Grande Gorge Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/eekim/5750183265/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/eekim/" rel="noopener noreferrer" target="_blank">
                                    Eugene Kim</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>





    <!-- Taos, New Mexico Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="taos-attractions"></a>
        <h2 class="left-heading destination-section-heading">Taos, New Mexico</h2>
        <p>To the south of the San Luis Valley and about 1.5 hours north of Santa Fe is the beautiful town of Taos, New Mexico. Taos is famous for its UNESCO world heritage site, the <strong>Taos Pueblo</strong>, which features two incredible multi-story adobe houses which are between 600-1,000 years old.</p>
        <p>These very old adobe structures include the <strong>Hlauuma</strong> (North House) and <strong>Hlaukwima</strong> (South House). You can also admire the nearby ruins of the <strong>San Jeronimo Mission Church</strong>, built by the Spanish in the early 1600s.</p>
        <p>Be sure to also visit the Downtown Taos Historic District to see impressive adobe architecture, centered around Taos Plaza. In this area you'll find shops selling Native American crafts, as well as cafes, restaurants, and art galleries. This area also hosts several historic homes which have been preserved as museums.</p>
        <h3>Rio Grande Gorge Bridge</h3>
        <p>Just west of Taos is the impressive <strong>Rio Grande Gorge Bridge</strong>, which you can look out over after you drive across it. This striking bridge spans a deep canyon gorge of the Rio Grande River in the middle of the desert. Depending on which route you take from the San Luis Valley, it might be better to visit the bridge before Taos.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- San Luis Valley Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5892276385"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Taos &amp; Abiquiu Attraction&nbsp;List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/RNDumBSU35A2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view of the famous red rocks of Colorado Springs's Garden of the Gods towering above the lush green landscape"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        Colorado Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6174065038/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Smooth giant sand dunes amongst the blue sky at Great Sand Dunes National Park in Southern Colorado's San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
                        Southern Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                            Hans Watson</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Light blue doors and windows contrast the sand-colored multi-story Hlaukwima South Houseadobe structure at Taos Pueblo, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlaukwima-South-Adobe-House.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        Taos &amp; Abiquiu, New&nbsp;Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/22711505@N05/9583764825/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                            Ron Cogswell</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning white tent-like formations seen along Tent Rocks Trail at Kasha-Katuwe Tent Rocks National Monument in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Santa-Fe-Kasha-Katuwe-Tent-Rocks-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        Santa Fe, New Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mypubliclands/9406434519/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                            Bureau of Land Management</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the Red Rocks Amphitheater near Denver, Colorado from the top row"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Red-Rock-Amphitheater.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
                        Denver &amp; Boulder
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/chris_pelliccione/10558219635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/chris_pelliccione/" rel="noopener noreferrer" target="_blank">
                            Chris Pelliccione</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Colorful balloons above the Rio Grande River during the Albuquerque International Balloon Fiesta Festival in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        Albuquerque, New&nbsp;Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/albuquerque-balloons-ballooning-sky-4643828/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/lyssascott-14367714/" rel="noopener noreferrer" target="_blank">
                            lyssascott</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredible natural stripes across the walls seen from the Painted Wall View above Colorado's Black Canyon of the Gunnison"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Black-Canyon-of-the-Gunnison-National-Park-Painted-Wall-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        Black Canyon of the Gunnison &amp; Million Dollar Highway
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mobili/38841672072/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                            Mobilus in Mobili</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    