<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Cranes in the waters of the wetlands of Great Sand Duens National Park and Preserve in Southern Colorado Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Wetlands-Cranes-Sand-Dunes-and-Mount-Herard-Sunset-Golden-Hour-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Southern Colorado + Great Sand Dunes National Park, and plan the perfect trip with savable Google Maps Attraction Lists" />
    <meta name="attraction_guides" content="great_sand_dunes_colorado" />
    <meta name="attraction_guides" content="southern_colorado_colorado" />
    <meta name="usa_attraction_guides" content="great_sand_dunes_colorado" />
    <meta name="usa_attraction_guides" content="southern_colorado_colorado" />
    <meta name="usa_destinations" content="great_sand_dunes_colorado" />
    <meta name="usa_destinations" content="southern_colorado_colorado" />
    <meta name="usa_destination_guides" content="great_sand_dunes_colorado" />
    <meta name="usa_destination_guides" content="southern_colorado_colorado" />
    <meta name="colorado_attraction_guides" content="great_sand_dunes" />
    <meta name="colorado_attraction_guides" content="southern_colorado" />
    <meta name="colorado_destinations" content="great_sand_dunes" />
    <meta name="colorado_destinations" content="southern_colorado" />
    <meta name="colorado_destination_guides" content="great_sand_dunes" />
    <meta name="colorado_destination_guides" content="southern_colorado" />
    <meta name="national_park_attraction_guides" content="great_sand_dunes" />
    <meta name="google_maps_list" content="great_sand_dunes" />
    <meta name="google_maps_list" content="southern_colorado" />
    <meta property="og:title" content="Great Sand Dunes & Southern Colorado Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Wetlands-Cranes-Sand-Dunes-and-Mount-Herard-Sunset-Golden-Hour.jpg">
    <meta name="twitter:title" content="Great Sand Dunes & Southern Colorado Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Wetlands-Cranes-Sand-Dunes-and-Mount-Herard-Sunset-Golden-Hour.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/colorado/southern-colorado-attractions-guide">
    <title>Attractions Guide for Great Sand Dunes & Southern Colorado</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Great Sand Dunes &amp; Southern&nbsp;Colorado<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>



    
    <!-- Introduction to Southern Colorado Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Then following attractions are listed in order along a recommended route through Southern Colorado, between Mesa Verde National Park / Durango and Colorado Springs. This drive is quite scenic and has several notable attractions along the way, including one of the least known national parks, the Great Sand Dunes National Park.</p>
        <p>You can also follow this destination guide in the opposite order if driving west towards Durango / Mesa Verde instead of east towards Colorado Springs through Southern Colorado.</p>
    </section>


    <!-- Southern Colorado Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Beautiful Treasure Falls seen flowing over a rocky cliff near Pagosa Spring in Southern Colorado's San Juan National Forest" 
                        src="https://www.travelimager.com/images/colorado/Colorado-San-Juan-National-Forest-Pagosa-Springs-Treasure-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Treasure Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/genesisscience/42610718385/in/photolist-27Vn53n-bkucth-fqbw61-NSStWa-29StYjw-29StYij-83zVE7-pMvXjH-pMsA4e-q3prTZ-pLJ3uC-pMuDzY-q44n9T-HfqmQ-5P9UU6-q4cpqC-q4SRRi-cbcygU-pLCRg4-q2L7Ni-p6BXMS-q44oog-EgTqv-pN5sFs-2bfkF3i-2cyC7ys-QvhwCb-2bfkFfn-29StYgA-2bfkEBP-29StYnC-29StY1A-NSSu7R-29StYx7-NSSu6P-2bfkEYv-29StXPo-Qvhw7S-2cyC763-NSSu2R-NSStTz-2bfkEFg-29StXLN-NSStUB-2bfkF6e-2bfkEHR" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/genesisscience/" rel="noopener noreferrer" target="_blank">
                                    Nate Looper</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking a lush green valley surrounded by the San Juan National Forest from Wolf Creek Pass Overlook in Southern Colorado" 
                        src="https://www.travelimager.com/images/colorado/Colorado-San-Juan-National-Forest-Pagosa-Springs-Wolf-Creek-Pass-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wolf Creek Pass Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Wolf_Creek_Pass_View_on_West_towards_West_by_Erik_Voss_IMG_4012.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Erikvoss" rel="noopener noreferrer" target="_blank">
                                    Erik Voss</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Smooth giant sand dunes amongst the blue sky at Great Sand Dunes National Park in Southern Colorado's San Luis Valley"
                        src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-Sky.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Sand Dunes National&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/watsonsinelgin/28244777805/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/watsonsinelgin/" rel="noopener noreferrer" target="_blank">
                                    Hans Watson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Herd of elk seen amongst the wildlife living in Colorado's Great Sand Dunes National Park in the San Luis Valley"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Elk-Herd-on-Sand-Dunes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Sand Dunes Wildlife</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/greatsanddunesnpp/16519301272/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/greatsanddunesnpp/" rel="noopener noreferrer" target="_blank">
                                    Great Sand Dunes N.P.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="People provide a reference size for the massive scale of the dunes at Great Sand Dunes National Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-and-People.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Great Sand Dunes National&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/greatsanddunesnpp/23088833242/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/greatsanddunesnpp/" rel="noopener noreferrer" target="_blank">
                                    Great Sand Dunes N.P.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Crane birds seen at the wetlands during golden hour at Great Sand Dunes National Park, Colorado with Mt. Herard in background"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Wetlands-Cranes-Sand-Dunes-and-Mount-Herard-Sunset-Golden-Hour.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mt. Herard &amp; Wetlands<br />(Great&nbsp;Sand&nbsp;Dunes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/greatsanddunesnpp/25111268635/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/greatsanddunesnpp/" rel="noopener noreferrer" target="_blank">
                                    Great Sand Dunes N.P.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Visitors enjoying the waters of Medano Creek beside the dunes of Colorado's Great Sand Dunes National Park and Mt. Herard in background"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Medano-Creek-Sand-Dunes-and-Mount-Herard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medano Creek<br />(Great&nbsp;Sand&nbsp;Dunes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Great_Sand_Dunes_National_Park_-_Medano_Creek,_dunes_and_Sangre_de_Cristo_Mountains.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Pimlico27" rel="noopener noreferrer" target="_blank">
                                    Pimlico27</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Large dune field and Mt. Herard seen behind Medano Creek at Great Sand Dunes National Park, Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Great-Sand-Dunes-National-Park-Sand-Dunes-Medano-Creek-and-Mount-Herard.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Medano Creek<br />(Great&nbsp;Sand&nbsp;Dunes)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/acwa/48257161496/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/acwa/" rel="noopener noreferrer" target="_blank">
                                    PEO ACWA</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Rocky stream of below the waters of Zapata Falls close-by Great Sand Dunes National Park in Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Rio-Grande-National-Forest-Zapata-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zapata Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/brokentaco/2605177741/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/brokentaco/" rel="noopener noreferrer" target="_blank">
                                    David</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the stone Bishop Castle built by one man over many years in Rye, Colorado in Bishop County outside Pueblo"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Greater-Pueblo-Rye-Fairview-Bishop-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bishop Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chriswaits/21932491930/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chriswaits/" rel="noopener noreferrer" target="_blank">
                                    Chris Waits</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Royal Gorge Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                                    Wasif Malik</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Southern San Juan National Forest Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Southern San Juan National Forest</h2>
        <p>As you make your way up Highway 160 through the southern part of the San Juan National Forest, be sure to pull-off to view the beautiful <strong>Treasure Falls</strong>, which can be reached with a very short walk from the parking lot. Very close-by you can stop to admire the striking views over the valley you just drove through from the <strong>Wolf Creek Pass Overlook</strong>. Afterwards continue east to the massive San Luis Valley.</p>
    </section>


    <!-- Great Sand Dunes National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Great Sand Dunes National Park</h2>
        <p>Southern Colorado's <strong>Great Sand Dunes National Park</strong>, is another highly recommended attraction, featuring a massive sea of giant natural sand dunes set amongst the mountains. Create your own hiking path in the sand while exploring these stunning vast dunes while enjoying the scenery, such as the abundant wildlife and the beautiful <strong>Mount Herard</strong> which towers above the dunes.</p>
        <p>The tallest dune in the national park is known as the High Dune. There's also the <strong>Medano Creek</strong> on the side of the dunes, a popular location for visitors to cool off and relax while enjoying the stunning scenery.</p>
        <h3>Zapata Falls</h3>
        <p>Nearby the Great Sand Dunes you might hike the short 1 mile (1.6 km) round-trip trail up to rocky and beautiful <strong>Zapata Falls</strong>, which is located just outside the national park.</p>
    </section>


    <!-- Canon City Area Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Ca&#241;on City Area</h2>
        <h3>Bishop Castle</h3>
        <p>Much further northeast (before Ca&#241;on City) is the famous <strong>Bishop Castle</strong>, an incredible structure which has been built out of stone by one man over many years.</p>
        <h3>Royal Gorge Bridge</h3>
        <p>Finally, if you still have time you might consider visiting the <strong>Royal Gorge Bridge</strong> further north near Ca&#241;on City. This very high foot bridge spans a massive rocky canyon of the Arkansas River and features a small adjacent theme park along the canyon rim.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern Colorado Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2435305155"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Southern Colorado Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/GtFLUPi8WSE2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant Royal Gorge Bridge spanning a deep canyon over the Arkansas River in Canon City, Southern Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Canon-City-Royal-Gorge-Bridge.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/san-luis-valley-and-canon-city-attractions-guide">
                        San Luis Valley &amp; Ca&#241;on&nbsp;City
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/wasifmalik/21362377242/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/wasifmalik/" rel="noopener noreferrer" target="_blank">
                            Wasif Malik</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Light blue doors and windows contrast the sand-colored multi-story Hlaukwima South Houseadobe structure at Taos Pueblo, New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Taos-Taos-Pueblo-Hlaukwima-South-Adobe-House.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/taos-and-abiquiu-attractions-guide">
                        Taos &amp; Abiquiu, New&nbsp;Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/22711505@N05/9583764825/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/22711505@N05/" rel="noopener noreferrer" target="_blank">
                            Ron Cogswell</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning white tent-like formations seen along Tent Rocks Trail at Kasha-Katuwe Tent Rocks National Monument in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Santa-Fe-Kasha-Katuwe-Tent-Rocks-National-Monument.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/santa-fe-attractions-guide">
                        Santa Fe, New Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mypubliclands/9406434519/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                            Bureau of Land Management</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view of the famous red rocks of Colorado Springs's Garden of the Gods towering above the lush green landscape"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-Springs-Garden-of-the-Gods.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-springs-attractions-guide">
                        Colorado Springs
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6174065038/in/photostream/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredible natural stripes across the walls seen from the Painted Wall View above Colorado's Black Canyon of the Gunnison"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Black-Canyon-of-the-Gunnison-National-Park-Painted-Wall-View.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/black-canyon-of-the-gunnison-and-million-dollar-highway-attractions-guide">
                        Black Canyon of the Gunnison &amp; Million Dollar Highway
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/mobili/38841672072/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/mobili/" rel="noopener noreferrer" target="_blank">
                            Mobilus in Mobili</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Colorful balloons above the Rio Grande River during the Albuquerque International Balloon Fiesta Festival in New Mexico"
                        data-src="https://www.travelimager.com/images/new-mexico/New-Mexico-Albuquerque-Hot-Air-Balloon-Festival-Aerial-View-of-Balloons-over-River.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/new-mexico/albuquerque-attractions-guide">
                        Albuquerque, New&nbsp;Mexico
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/albuquerque-balloons-ballooning-sky-4643828/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/lyssascott-14367714/" rel="noopener noreferrer" target="_blank">
                            lyssascott</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunset view overlooking the Red Rocks Amphitheater near Denver, Colorado from the top row"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Denver-Boulder-Red-Rock-Amphitheater.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/denver-and-boulder-attractions-guide">
                        Denver &amp; Boulder
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/chris_pelliccione/10558219635/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/chris_pelliccione/" rel="noopener noreferrer" target="_blank">
                            Chris Pelliccione</a><br />
                    <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-ND 2.0</a> | <i>Resized</i>
                </p>
            </div>

        </div>

    </section>


    