<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Big Ben and Palace of Westminster along the River Thames behind a lampost in the early evening in London, Southern England Travel Itinerary</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/england/England-London-Big-Ben-and-Palace-of-Westminster-Evening-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Top destinations of Southern England Itinerary: London, Dover, Stonehenge, Bath, Cotswolds, Stratford, Oxford, Cambridge, Castles + Top Attractions" />
    <meta name="travel_itineraries" content="southern_england" />
    <meta name="europe_itineraries" content="southern_england" />
    <meta name="train_itineraries" content="southern_england" />
    <meta name="road_trip_itineraries" content="southern_england" />
    <meta property="og:title" content="Southern England Travel Itinerary">
    <meta property="og:image" content="https://www.travelimager.com/images/england/England-London-Big-Ben-and-Palace-of-Westminster-Evening.jpg">
    <meta name="twitter:title" content="Southern England Travel Itinerary">
    <meta name="twitter:image" content="https://www.travelimager.com/images/england/England-London-Big-Ben-and-Palace-of-Westminster-Evening.jpg">
    <link rel="canonical" href="https://travonga.com/itineraries/europe/southern-england-travel-itinerary-and-top-attractions">
    <title>Southern England Travel Itinerary + Top Attractions</title>
</head>

<body>
    <!-- Navbar -->
    <% let rootPath = '../'; %>
    <%- include(rootPath + '../partials/navbar') %>




    <!-- Page Heading and Total Trip Length -->
    <h1>Southern England Travel&nbsp;Itinerary<br /><span class="itinerary-inner-title">+ Top Attractions</span></h1>

    <!-- 1 - 3 Weeks -->   
    <div class="itinerary-trip-length">
        Recommended Travel Time: 1&nbsp;&#8209;&nbsp;3&nbsp;Weeks
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="itinerary-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#london-england">London</a></div>
            <div>&#8674;</div>
            <div><a href="#kent-england">Kent</a></div>
            <div>&#8674;</div>
            <div><a href="#stonehenge-england">Stonehenge</a></div>
            <div>&#8674;</div>
            <div><a href="#bath-england">Bath</a></div>
            <div>&#8674;</div>
            <div><a href="#cotswolds-england">Cotswolds</a></div>
            <div>&#8674;</div>
            <div><a href="#stratford-upon-avon-england">Stratford-upon-Avon</a></div>
            <div>&#8674;</div>
            <div><a href="#oxford-england">Oxford</a></div>
            <div>&#8674;</div>
            <div><a href="#cambridge-england">Cambridge</a></div>
            <div>&nbsp;</div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>

    <!-- London, England - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="london-england"></a>
        <h2 class="itinerary-location-title">London, England</h2>
        <p class="itinerary-location-days">4 - 8 Days</p>
    </section>

    <!-- London, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Big Ben towering above the street with the Palace of Westmisnter behind it in London, England" 
                        src="https://www.travelimager.com/images/england/England-London-Big-Ben.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Big Ben &amp;<br />Westminster Palace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kurt-b/8037548736/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kurt-b/" rel="noopener noreferrer" target="_blank">
                                    Kurt Bauschardt</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img alt="Vast Tower of London castle surrounded by its imposing medieval walls seen from above in London, England"
                        src="https://www.travelimager.com/images/england/England-London-Tower-of-London-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tower of London Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/duncanh1/8515883950/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/duncanh1/" rel="noopener noreferrer" target="_blank">
                                    Dun.can</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View of the London Shard skyscraper surrounded by other modern buildings, seen from across the Thames River in London, England"
                        src="https://www.travelimager.com/images/england/England-London-The-Shard-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">London Shard Skyscraper</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:The_Shard,_11_Novembre_2012_(tone).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Keraunoscopia" rel="noopener noreferrer" target="_blank">
                                    Keraunoscopia</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Tower Bridge seen from the river side in London, England"
                        data-src="https://www.travelimager.com/images/england/England-London-Tower-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tower Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gianlucaponti/16039522147/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gianlucaponti/" rel="noopener noreferrer" target="_blank">
                                    Gian Luca Ponti</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Towering Westminster Abbey and its intricately designed facade in London, England"
                        data-src="https://www.travelimager.com/images/england/England-London-Westminster-Abbey.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Westminster Abbey</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/64352026@N02/8830926880/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/64352026@N02/" rel="noopener noreferrer" target="_blank">
                                    EOTours</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Stunning view of the Millenium Bridge lit up at night, seen from below, with St. Paul's Cathedral towering in the background" 
                        data-src="https://www.travelimager.com/images/england/England-London-Millenium-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Millenium Bridge &amp;<br />St. Paul's Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/benjamingillet/16484823825" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/benjamingillet/" rel="noopener noreferrer" target="_blank">
                                    Benjamin Gillet</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vibrant and intricate Leadenhall Market, which was portrayed as Diagon Alley in Harry Potter"
                        data-src="https://www.travelimager.com/images/england/England-London-Leadenhall-Market.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Leadenhall Market</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Leadenhall_Market_In_London_-_Feb_2006_rotated.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Diliff" rel="noopener noreferrer" target="_blank">
                                    David Iliff</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view of the vast Windsor Castle and its gardens outside of London, England"
                        data-src="https://www.travelimager.com/images/england/England-Greater-London-Windsor-Windsor-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Windsor Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Windsor_Castle_-_panoramio_(11).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Windsor_Castle_-_panoramio_(11).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Heikki Immonen</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- London, England Tab Section -->
    <section class="tab-section" id="tab-section-1">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'england-london-iconic-attractions', 'tab-section-1')">Iconic Attractions &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-london-museums', 'tab-section-1')">Museums &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-london-greater-london', 'tab-section-1')">Greater London &#9662</button>
        </div>

        <!-- Iconic Attractions -->
        <div id="england-london-iconic-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>London is a massive urban metropolis with thousands of years of history and countless things to do. The city is also known for its extremely diverse cuisine offerings from around the world, which includes an amazing variety of street food as well.</p>
                <p>You'll find many of London's most iconic sights in the Westminster neighborhood, including the Big Ben clock tower, the breathtaking Palace of Westminster, and the royal Buckingham Palace where you can witness the changing of the guard. Be sure to also visit the magnificent 900 year-old Westminster Abbey, which hosts the tombs of Charles Darwin, Isaac Newton, Charles Dickens, and more. Just across the River Thames from Big Ben is the famous London Eye Ferris Wheel, which offers stunning views high above the city.</p>
                <p>In the City of London neighborhood you'll find the famous riverfront Tower of London, a royal fortress and castle with an extensive 900 year-old history. Here you'll find many exhibitions and rooms to explore, including the priceless Crown Jewels collection.</p>
                <p>Adjacent to the Tower of London is the iconic Tower Bridge, which hosts a transparent glass floor you can walk along suspended between the bridge's towers. This area also hosts the Leadenhall Market, which was used portrayed as Diagon Alley in the Harry Potter films, as well as the colossal and extravagant St. Paul's Cathedral, which offers amazing views from the top. Just across the river is the tallest building in the European Union, the London Shard, which hosts incredible views over the city.</p>
            </div>
        </div>
        <!-- Museums -->
        <div id="england-london-museums" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>London is also home to some of the best museums in the world, many of which are free to enter. The most notable of these free museums are the British Museum (which houses priceless treasures from around the world), the Victoria & Albert Museum (the world's largest decorative arts museum), the National Gallery (a fine art museum which sits on the iconic Trafalgar Square), and the Tate Museum of modern art.</p>
                <p>Additional major free museums include the Museum of Natural History, the Imperial War Museum, the Science Museum, and the British Library, which hosts a copy of the Magna Carta and original hand-written scores and lyrics by Mozart, Beethoven, and the Beatles.</p>
                <p>Be sure to also visit the gorgeous Hyde Park (near the Victoria & Albert Museum), a massive urban park where many famous historical figures once walked. The park also hosts the posh royal Kensington Palace.</p>
            </div>
        </div>
        <!-- Greater London -->
        <div id="england-london-greater-london" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>If you're visiting London you should strongly consider visiting the 11th century Windsor Castle, a vast royal residence with ultra-lavish interiors located west of London. Also popular just outside London is the Warner Bros. Studio Tour London, where Harry Potter Fans can tour many of the sets used in the movie series and view important props from the films.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/europe/england/london-attractions-guide">
                Attractions Guide for London,&nbsp;England
            </a>
        </h4>
        <p class="save-attractions-header">Save London Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/wAYbx8qKLpC2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/6DjJLAbN2bm">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>




    <!-- Kent, England - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="kent-england"></a>
        <h2 class="itinerary-location-title">Kent, England</h2>
        <p class="itinerary-location-days">Day-Trips</p>
    </section>

    <!-- Kent, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view of the medieval Leeds Castle surrounded by a large pond in Maidstone, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Maidstone-Leeds-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Leeds Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sugarmonster/5792680987" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sugarmonster/" rel="noopener noreferrer" target="_blank">
                                    Marc Evans</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Side-view of the iconic White Cliffs of Dover seen from atop the green grassy cliffs in Dover, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-White-Cliffs-of-Dover.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Cliffs of Dover</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/en/white-cliffs-cliffs-dover-sea-123476/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/en/users/loggawiggler-15/" rel="noopener noreferrer" target="_blank">
                                    LoggaWiggler</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Imposing exterior of the medieval Rochester Castke in Rochester, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Medway-Rochester-Rochester-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rochester Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/locosteve/6906948172" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/locosteve/" rel="noopener noreferrer" target="_blank">
                                    Loco Steve</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view of the vast Canterbury Cathedral of Canterbury, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Canterbury-Canterbury-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Canterbury Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/john_fielding/8636098050/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/john_fielding/" rel="noopener noreferrer" target="_blank">
                                    John Fielding</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view over the imposing fortress of Dover Castle along the coast in Dover, Kent, England"
                        data-src="https://www.travelimager.com/images/england/England-Southeastern-England-Kent-Dover-Dover-Castle-Aerial.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dover Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dover_Castle_aerial_view.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Lieven_Smits" rel="noopener noreferrer" target="_blank">
                                    Lieven Smits</a><br />
                           <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Kent, England Tab Section -->
    <section class="tab-section" id="tab-section-2">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'england-kent-summary', 'tab-section-2')">Kent &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-kent-rochester', 'tab-section-2')">Rochester &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-kent-leeds-and-canterbury', 'tab-section-2')">Leeds &amp; Canterbury &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-kent-dover', 'tab-section-2')">Dover &#9662</button>
        </div>
        <!-- Summary -->
        <div id="england-kent-summary" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Near the most southeastern point of England are several amazing attractions including stunning castles and cathedrals, as well as the White Cliffs of Dover. Several day-trip tours from London are available that combine many of these sights. Otherwise you might choose to see a few of these attractions on your own day-trip from London via rail.</p>
            </div>
        </div>
        <!-- Rochester -->
        <div id="england-kent-rochester" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Closest to London is Rochester, which hosts the imposing Romanesque Rochester Cathedral and the medieval Rochester Castle, an impressive 11th century riverside fortification.</p>
            </div>
        </div>
        <!-- Leeds and Canterbury -->
        <div id="england-kent-leeds-and-canterbury" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>A bit further southeast is the majestic Leeds Castle, one of the most popular castles to visit in England. This gorgeous structure sits atop an island on a small lake and contains lavish interiors.</p>
                <p>Further east you might visit the magnificent 950 year-old Canterbury Cathedral, an ornate medieval cathedral that has been designated as a UNESCO world heritage site.</p>
            </div>
        </div>
        <!-- Dover -->
        <div id="england-kent-dover" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Furthest from London is the city of Dover, which is home to the massive Dover Castle, an important medieval stone fortress built in the 12th century. This well-preserved structure is the largest castle in England but is only open on certain days of the week.</p>
                <p>Nearby the Dover Castle are the famous White Cliffs of Dover, a breathtaking series of steep cliffs made of white chalk, which you can walk along while enjoying stunning views over the sea. It's also possible to take a boat tour in order to see these towering cliffs from below.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/europe/england/kent-and-dover-attractions-guide">
                Attractions Guide for Kent&nbsp;&amp;&nbsp;Dover,&nbsp;England
            </a>
        </h4>
        <p class="save-attractions-header">Save Kent &amp; Dover Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/hKGdCJkbKKF2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern England Itinerary 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8932554458"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

 



    <!-- Stonehenge and Salisbury, England - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="stonehenge-england"></a>
        <h2 class="itinerary-location-title">Stonehenge &amp; Salisbury, England</h2>
        <p class="itinerary-location-days">Day-Trips</p>
    </section>

    <!-- Stonehenge and Salisbury, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning cloudy day view of the ancient Stonehenge, a wonder of the world, located in Amesbury, England"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Amesbury-Stonehenge-Sun-Shining-through-Clouds.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stonehenge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stonehenge,Amesbury,_Wiltshire.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Udit Kapoor</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering exterior of the historic Salisbury Cathedral, which houses a copy of the Magna Carta"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Salisbury-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Salisbury Cathedral (Magna&nbsp;Carta)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/8411024@N08/26987845298/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/8411024@N08/" rel="noopener noreferrer" target="_blank">
                                    Tony Buckley</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning facade of the grand Winchester Cathedral in Winchester, England"
                        data-src="https://www.travelimager.com/images/england/England-Hampshire-Winchester-Winchester-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Winchester Cathedral</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.maxpixel.net/Cathedral-Winchester-Historic-Britain-Sky-England-723474" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.maxpixel.net/" rel="noopener noreferrer" target="_blank">
                                    Max Pixel</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of several of the up-right standing stones of the massive Avebury Stone Circle in Wiltshire, England"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Malborough-Avebury-Stone-Circle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Avebury Stone Circle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gordon_robertson/5620659988" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gordon_robertson/" rel="noopener noreferrer" target="_blank">
                                    Gordon Robertson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Aerial view of the Old Sarum ancient henge ruins in Salisbury, England near Stonehenge"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Salisbury-Old-Sarum.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Old Sarum Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Aerial_photograph_of_Old_Sarum_site,_on_departure_from_Old_Sarum_airfield.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Aerial_photograph_of_Old_Sarum_site,_on_departure_from_Old_Sarum_airfield.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Mark Edwards</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Stonehenge &amp; Salisbury, England Tab Section -->
    <section class="tab-section" id="tab-section-3">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'england-wiltshire-salisbury', 'tab-section-3')">Salisbury &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-wiltshire-stonehenge', 'tab-section-3')">Stonehenge &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-hampshire-winchester', 'tab-section-3')">Winchester &#9662</button>
        </div>

        <!-- Salisbury -->
        <div id="england-wiltshire-salisbury" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Note that it's possible to visit Stonehenge (along with Salisbury) via an inexpensive tour directly from London or Bath. Alternatively you might choose to visit the site via public transportation and include a few more sights along the way.</p>
                <p>Salisbury is home to the impressive Salisbury Cathedral, which houses the best surviving copy of the Magna Carta document, a very important historical document. You'll also find a beautiful ornate cloister here, which is the largest in England. Salisbury also hosts the Salisbury Museum, displaying archaeological finds from Stonehenge.</p>
            </div>
        </div>
        <!-- Stonehenge -->
        <div id="england-wiltshire-stonehenge" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>From Salisbury you can take a short bus ride to the mystical 5,000 year old Stonehenge. Only during the Summer Solstice Festival in mid-June can you get up close to the stones and walk amongst them, otherwise you can still admire these massive stones from approximately 100 feet (30 m) away. Also of interest near Salisbury is the Old Sarum site, the remains of a 2,400 year old hilltop fortress from the Iron Age.</p>
            </div>
        </div>
        <!-- Winchester -->
        <div id="england-hampshire-winchester" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>After experiencing Stonehenge and Salisbury, you might consider visiting the city of Winchester, which is home to the magnificent 11th century Winchester Cathedral. This gothic church is one of the largest cathedrals in all of Europe, hosts the tomb of Jane Austen, and was one of the filming locations for the Da Vinci Code movie. Also in Winchester is the Great Hall, a medieval structure containing the alleged Round Table of the legendary King Arthur.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/europe/england/stonehenge-and-salisbury-attractions-guide">
                Attractions Guide for Stonehenge &amp; Salisbury,&nbsp;England
            </a>
        </h4>
        <p class="save-attractions-header">Save Stonehenge &amp; Salisbury Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/w1g5CQjkvq72">&rArr; Top Attractions (Train)</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/X8kmZ7MDWZ42">&rArr; Top Attractions (Car)</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>





    <!-- Bath, England - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="bath-england"></a>
        <h2 class="itinerary-location-title">Bath, England</h2>
        <p class="itinerary-location-days">1 - 3 Days</p>
    </section>

    <!-- Bath, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view of the old Pulteney Bridge spanning the river running through Bath, England with the Pulteney Weir in the foreground"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Pulteney-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pulteney Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Puente_Pulteney,_Bath,_Inglaterra,_2014-08-12,_DD_51.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="http://delso.photo/" rel="noopener noreferrer" target="_blank">
                                    Diego Delso</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful grassy field surrounded by historic structures of the Parade Gardens in Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-Parade-Gardens-1.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parade Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/2399718776/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Ancient Roman bath surroudned by columns, part of the ancient bath complex of Bath, England"
                        data-src="https://www.travelimager.com/images/england/England-Bath-The-Roman-Baths-Complex.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Roman Baths Complex</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dgoomany/9514210171/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dgoomany/" rel="noopener noreferrer" target="_blank">
                                    Dineshraj Goomany</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful rustic homes along a country road in the Cotswold village of Castle Combe in England near Bath"
                        data-src="https://www.travelimager.com/images/england/England-Wiltshire-Castle-Combe-Village.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Castle Combe Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/364932291/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Bath, England Tab Section -->
    <section class="tab-section" id="tab-section-4">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'england-bath-attractions', 'tab-section-4')">Bath Attractions &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-castle-combe-village', 'tab-section-4')">Castle Combe Village &#9662</button>
        </div>

        <!-- Bath Attractions -->
        <div id="england-bath-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Bath is an ancient city known for its Roman bath complexes and stunning Georgian architecture that is also listed as a UNESCO world heritage site. The city's most popular attraction is The Roman Baths, a well-preserved ancient bath complex that also includes a Roman temple and museum. Next door is the imposing Bath Abbey, a gothic church with a very ornate exterior.</p>
                <p>One of the most popular modern baths is the Thermae Bath Spa, with several impressive pools and its famed balcony pool overlooking the city. Nearby you can also enjoy the riverfront Parade Gardens and view the marvelous shop-lined Pulteney Bridge. Adjacent to the bridge is the beautiful waterfall-like Pulteney Weir of the River Avon, which is best viewed from the eastern side of the river, set amongst a gorgeous Roman-style colonnade which lines the western side of the river.</p>
                <p>On the northern side of the city, you'll find several interesting curved structures, including the Royal Crescent and the Circus.</p>
            </div>
        </div>
        <!-- Castle Combe Village -->
        <div id="england-castle-combe-village" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Another sight to consider is the picturesque Cotswolds village of Castle Combe, with its charming rustic English homes that line its main street and a small river that runs through town. Castle Combe is located about 1 hour north of Bath via public transportation.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/europe/england/bath-attractions-guide">
                Attractions Guide for Bath,&nbsp;England
            </a>
        </h4>
        <p class="save-attractions-header">Save Bath Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/orMTsd7DZNR2">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern England Itinerary 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7190714485"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>





    <!-- Cotswolds, England - Trip Extension -->
    <section class="trip-extension">
        <a class="anchor" id="cotswolds-england"></a>
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (2&nbsp;&#8209;&nbsp;5&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Cotswolds, England (Car&nbsp;Recommended)</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/europe/england/cotswolds-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Cotswolds, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic Arlington Row of country homes along the road at Bilbury, a small Cotswolds village" 
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bilbury-Arlington-Row.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Arlington Row (Bilbury)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/wildlife_encounters/15143014488/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/wildlife_encounters/" rel="noopener noreferrer" target="_blank">
                                    Steve Slater</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely little stone bridge spanning the river near High Street with townhomes in background in the Cotswolds town of Bourton-on-the-Water"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Bourton-on-the-Water-High-Street-Bridge-and-Homes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">High Street Bridge (Bourton&#8209;on&#8209;the&#8209;Water)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Bourton_on_the_water.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Bourton_on_the_water.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Pieter wts wikivoyage</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the lovely townhomes along Hill Street seen from the sidewalk in the Cotswolds town of Burford"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Burford-The-Hill-Street-Sidewalk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Hill Street (Burford)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/david_e_smith/6493240281/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/david_e_smith/" rel="noopener noreferrer" target="_blank">
                                    Dave_S.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely rustic Hidcote Manor house with overgrown greenery in the Cotswolds countryside"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Hidcote-Bartrim-Hidcote-Manor-and-Gardens.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hidcote Manor &amp; Gardens</strong><br />
                        <span class="owl-item-credits">
                            <a href="http://www.geograph.org.uk/photo/3547560" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/davedixonphotos/" rel="noopener noreferrer" target="_blank">
                                    David Dixon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Quaint bridge and lovely river with a swimming duck and old homes in the Cotswolds village of Lower Slaughter"
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Lower-Slaughter-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Slaughter Village</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Lower_Slaughter_Bridge.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Saffron_Blaze" rel="noopener noreferrer" target="_blank">
                                    Saffron Blaze</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Small Sudeley Castle hidden behind its green gardens and hedges near Winchcombe, England" 
                        data-src="https://www.travelimager.com/images/england/England-Cotswolds-Winchcombe-Sudeley-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sudeley Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gordon_robertson/5627973981/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gordon_robertson/" rel="noopener noreferrer" target="_blank">
                                    Gordon Robertson</a> <br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>



    <!-- Itinerary Note - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title">Itinerary Order Note</h2>
        <p class="itinerary-note">If traveling by train you'll want to visit Oxford before Stratford-upon-Avon, as both are well-connected to London by train. If you're planning a road trip with all the trip extensions, you'll want to visit Bath, followed by the Cotswolds, Stratford-upon-Avon, and then Oxford.</p>
    </section>
    <div class="bottom-border"></div>





    <!-- Stratford-upon-Avon, England - Trip Extension -->
    <section class="trip-extension">
        <a class="anchor" id="stratford-upon-avon-england"></a>
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (1&nbsp;&#8209;&nbsp;2&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Stratford-upon-Avon, England</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/europe/england/stratford-upon-avon-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Stratford-upon-Avon, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Half-timbered home in which William Shakespeare was born in Stratford-upon-Avon, England" 
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Shakespeares-Birthplace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shakespeare's Birthplace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ell-r-brown/3639951854/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ell-r-brown/" rel="noopener noreferrer" target="_blank">
                                    Elliott Brown</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Impressive medieval Holy Trinity Church with its tall spired topped tower in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Church-of-the-Holy-Trinity.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Holy Trinity Church (Shakespeare's&nbsp;Tomb)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Stratford-upon-Avon,_Church_of_the_Holy_Trinity_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Stratford-upon-Avon,_Church_of_the_Holy_Trinity_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Palickap</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Thatched roof half-timbered house in which William Shakespeare's wife grew up, located in Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Anne-Hathaways-Cottage.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Anne Hathaway's Cottage</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/informationtakesover/7221692868/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/informationtakesover/" rel="noopener noreferrer" target="_blank">
                                    Tim Hodson</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Lovely half-timbered home belonging to the step-mother of William Shakespeare in Wilmcote, England"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Mary-Ardens-Farm.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mary Arden's Farm</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Mary-Arden-s-01.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Immanuel_Giel" rel="noopener noreferrer" target="_blank">
                                    Immanuel Giel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="16th century Charlecote Park estate and gardens near Stratford-upon-Avon"
                        data-src="https://www.travelimager.com/images/england/England-Stratford-upon-Avon-Charlecote-Park.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Charlecote Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Charlecote_Park_2015.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Bs0u10e01" rel="noopener noreferrer" target="_blank">
                                    Bs0u10e01</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast 1,000 year old Warwick Castle with its medieval walls seen behind a stream and lush greenery"
                        data-src="https://www.travelimager.com/images/england/England-Warwick-Warwick-Castle.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Warwick Castle</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/chinagirlsz/4936193956/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/chinagirlsz/" rel="noopener noreferrer" target="_blank">
                                    gabriella szekely</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Southern England Itinerary Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="7619472786"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
 




    <!-- Oxford, England - Header/Tabs -->
    <section class="itinerary-heading">
        <a class="anchor" id="oxford-england"></a>
        <h2 class="itinerary-location-title">Oxford, England</h2>
        <p class="itinerary-location-days">1 - 3 Days</p>
    </section>

    <!-- Oxford, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant tower of the University Church of St. Mary the Virgin at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-University-Church-of-St-Mary-the-Virgin.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">University Church St. Mary the&nbsp;Virgin</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hrathmann/37545614281/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hrathmann/" rel="noopener noreferrer" target="_blank">
                                    Hanno Rathmann</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Multi-level historic bookshelves spanning long corridors within the Bodelian Library of Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Bodleian-Library.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bodleian Library</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Duke_Humfrey%27s_Library_Interior_5,_Bodleian_Library,_Oxford,_UK_-_Diliff.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://en.wikipedia.org/wiki/User:Diliff" rel="noopener noreferrer" target="_blank">
                                    David Iliff</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Exterior of the impressive rounded Radclfife Camera building at Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Radcliffe-Camera.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Radcliffe Camera</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/levettday/31957874423/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/levettday/" rel="noopener noreferrer" target="_blank">
                                    Alison Day</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Tom Tower building and part of the campus of Oxford University"
                        data-src="https://www.travelimager.com/images/england/England-Oxford-Tom-Tower.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tom Tower</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nothingpersonal/36286499483/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nothingpersonal/" rel="noopener noreferrer" target="_blank">
                                    Dmitry Dzhus</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Gorgeous castle-like Waddesdon Manor with an extravagant monumental fountain in front of it, in Waddesdon, Buckinghamshire, England"
                        data-src="https://www.travelimager.com/images/england/England-Buckinghamshire-Waddesdon-Waddesdon-Manor.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Waddesdon Manor</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pikerslanefarm/2952143805/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pikerslanefarm/" rel="noopener noreferrer" target="_blank">
                                    Amanda Slater</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>

    <!-- Oxford, England Tab Section -->
    <section class="tab-section" id="tab-section-5">

        <!-- Tab Link Buttons -->
        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'england-oxford-attractions', 'tab-section-5')">Oxford Attractions &#9662</button>
            <button class="tablinks" onclick="openTab(event, 'england-oxford-waddesdon-manor', 'tab-section-5')">Waddesdon Manor &#9662</button>
        </div>

        <!-- Oxford Attractions -->
        <div id="england-oxford-attractions" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Oxford is known for its elegant University of Oxford, the second oldest university in the world, as well as the city's many impressive buildings, which are best admired by walking around and exploring the city center, especially via a free walking tour. Among the university's most famous features is the historic Bodleian Library, which is the second largest library in the UK and hosts incredibly gorgeous finely detailed interiors.</p>
                <p>Nearby the Bodleian Library is the iconic Radcliffe Camera building, as well as the towering 13th century gothic University Church of St.Mary the Virgin, which is quite beautiful. On the southern side of the university you'll find the mesmerizing Tom Tower, as well as the remarkable Christ Church Cathedral. Both of these structures showcase fantastic medieval architecture.</p>
                <p>In the center of Oxford you can admire the 12th century Carfax Tower, a bell tower which you can climb for outstanding views over the city. Oxford also hosts excellent museums, including the Oxford University Museum of Natural History, and the Ashmolean Museum featuring many artifacts and sculptures in a grand neoclassical building. Also noteworthy in town is the lovely 18th century Covered Market and the partially-ruined medieval Oxford Castle.</p>
            </div>
        </div>
        <!-- Waddesdon Manor -->
        <div id="england-oxford-waddesdon-manor" class="tabcontent">
            <div class="tabcontent-text-container">
                <p>Nearby Oxford is the beautiful Waddesdon Manor, a stunning Renaissance palace which bears resemblance to the chateaus of France's Loire Valley. This incredible estate features extravagant interiors and lovely gardens. Waddesdon Manor is about 40 minutes from Oxford by car, or 2-2.5 hours via public transportation.</p>
            </div>
        </div>
    </section>

    <!-- Attractions Guides and Google Maps Links -->
    <section class="attraction-lists tab-align">
        <h4 class="destination-guide-links">
            <a class="destination-guide-link" 
                href="https://travonga.com/destinations/europe/england/oxford-attractions-guide">
                Attractions Guide for Oxford,&nbsp;England
            </a>
        </h4>
        <p class="save-attractions-header">Save Oxford Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/2FVp2rPdtDn">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google&nbsp;Maps.</span>
    </section>






    <!-- Cambridge, England - Trip Extension -->
    <section class="trip-extension">
        <a class="anchor" id="cambridge-england"></a>
        <h5 class="trip-extension-days">Possible Trip&nbsp;Extension (1&nbsp;&#8209;&nbsp;2&nbsp;Days)</h5>
        <h2 class="itinerary-location-title">Cambridge, England</h2>
        <div class="trip-extension-guide-links">
            <span>
                <a class="destination-guide-link" 
                    href="https://travonga.com/destinations/europe/england/cambridge-attractions-guide">
                    Attractions Guide
                </a>
            </span>
        </div>
    </section>

    <!-- Cambridge, England Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded owl-dots-top">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning castle-like King's College Chapel at sunset, part of Cambridge University"
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Kings-College-Chapel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">King's College Chapel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mtl_shag/2513910013/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mtl_shag/" rel="noopener noreferrer" target="_blank">
                                    Oliver Mallich</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Paddleboat in front of the iconic Bridge of Sighs, a covered bridge connecting buildings above a river at Cambridge University" 
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Bridge-of-Sighs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bridge of Sighs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Cambridge_-_Bridge_of_Sighs.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Jean-Christophe_BENOIST" rel="noopener noreferrer" target="_blank">
                                    Jean-Christophe Benoist</a><br />
                            <a href="https://creativecommons.org/licenses/by/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cambridge University buildings of Trinity College surrounding the Great Court" 
                        data-src="https://www.travelimager.com/images/england/England-Cambridge-Trinity-College-Great-Court.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Trinity College Great Court</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/godhelm/21485662382/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/godhelm/" rel="noopener noreferrer" target="_blank">
                                    Richard August</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elaborate 900 year-old Ely Cathedral near Cambridge, England"
                        data-src="https://www.travelimager.com/images/england/England-Greater-Cambridge-Ely-Ely-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ely Cathedral (Ely)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/hunky_punk/7706770078/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/hunky_punk/" rel="noopener noreferrer" target="_blank">
                                    Spencer Means</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful brick exterior of the 17th century Wimpole Hall Estate in Arrington near Cambridge"
                        data-src="https://www.travelimager.com/images/england/England-Greater-Cambridge-Arrington-Wimpole-Hall-Estate.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wimpole Hall Estate (Arrington)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/24874528@N04/28623823881/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/24874528@N04/" rel="noopener noreferrer" target="_blank">
                                    Airwolfhound</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>
    <div class="bottom-border"></div>




    
    <!-- Departure - Header/Tabs -->
    <section class="itinerary-heading">
        <h2 class="itinerary-location-title">Depart from London</h2>
        <p class="itinerary-location-days">&nbsp;</p>
    </section>



    