<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Attraction Guides for Wyoming's top destinations: Yellowstone National Park and Grand Teton National Park" />
    <meta name="attraction_guides" content="wyoming" />
    <meta name="usa_destinations" content="wyoming" />
    <meta name="destination_guides" content="wyoming" />
    <meta property="og:title" content="Wyoming Attraction Guides">
    <meta name="twitter:title" content="Wyoming Attraction Guides">
    <link rel="canonical" href="https://travonga.com/destinations/usa/wyoming/wyoming-attraction-guides">
    <title>Wyoming Attraction Guides</title>
</head>


<body>

<div class="short-page-container">

    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Total Trip Length -->
    <h1>Wyoming Attraction&nbsp;Guides</h1>



    <h2 class="destinations-list-heading">Destinations A&nbsp;&#8209;&nbsp;Z</h2>


     <!-- Row 1 -->
    <section class="nearby-destinations">
        <div class="destinations-flexbox" id="destinations-last-row">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/wyoming/grand-teton-national-park-attractions-guide">
                        <img class="destination-image" 
                        alt="Golden hour colors lighting up the Grand Teton mountains and their reflection in the Snake River seen from Oxbow Bend"
                        src="https://www.travelimager.com/images/wyoming/Wyoming-Grand-Teton-National-Park-Oxbow-Bend.jpg"/>
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/wyoming/grand-teton-national-park-attractions-guide">
                        Grand Teton National&nbsp;Park
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/iip-photo-archive/36716598475/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/iip-photo-archive/" rel="noopener noreferrer" target="_blank">
                            IIP Photo Archive</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>
            
            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/wyoming/yellowstone-national-park-attractions-guide">
                        <img class="destination-image"
                        alt="Hilltop view overlooking the vibrant rainbow-like Grand Prismatic Spring at Yellowstone National Park's Midway Geyser Basin"
                        src="https://www.travelimager.com/images/wyoming/Wyoming-Yellowstone-National-Park-Grand-Prismatic-Spring-Overlook.jpg" />
                    </a>
                </div>
                <h3 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/wyoming/yellowstone-national-park-attractions-guide">
                        Yellowstone National&nbsp;Park
                    </a>
                </h3>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/con4tini/40846427611/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/con4tini/" rel="noopener noreferrer" target="_blank">
                            dconvertini</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>
        
    </section>

</div>


    <footer class="short-page-footer">
        <div class="footer-flexbox">
            <h4 class="site-identity">
                <a href="https://travonga.com">
                    TRAVONGA.COM
                </a>
            </h4>
            <p class="site-identity-copyright">
                Copyright &copy; 2017&#8209;2020 by Travonga.com<br />
                Travonga Travel Itineraries &amp; Attraction&nbsp;Guides
            </p>
        </div>
    </footer>



    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@14.0.0/dist/lazyload.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/tools.js"></script>
    <script src="/assets/resources/owlcarousel/owl.carousel.min.js"></script>

</body>

</html>