<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Delicate Arch glowing in Arches National Park, Moab, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions & hiking trails in Arches National Park & Moab, Utah, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="arches_national_park_utah" />
    <meta name="attraction_guides" content="moab_utah" />
    <meta name="usa_attraction_guides" content="arches_national_park_utah" />
    <meta name="usa_attraction_guides" content="moab_utah" />
    <meta name="usa_destinations" content="arches_national_park_utah" />
    <meta name="usa_destinations" content="moab_utah" />
    <meta name="usa_destination_guides" content="arches_national_park_utah" />
    <meta name="usa_destination_guides" content="moab_utah" />
    <meta name="utah_attraction_guides" content="arches_national_park" />
    <meta name="utah_attraction_guides" content="moab" />
    <meta name="utah_destinations" content="arches_national_park" />
    <meta name="utah_destinations" content="moab" />
    <meta name="utah_destination_guides" content="arches_national_park" />
    <meta name="utah_destination_guides" content="moab" />
    <meta name="national_park_attraction_guides" content="arches" />
    <meta name="google_maps_list" content="arches_national_park" />
    <meta name="google_maps_list" content="moab" />
    <meta property="og:title" content="Arches National Park & Moab, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg">
    <meta name="twitter:title" content="Arches National Park & Moab, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
    <title>Attractions Guide for Arches National Park & Moab, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Arches National Park &amp; Moab, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-9 in-page-nav" id="sticky-header">
            <div><a href="#park-avenue">Park Avenue</a></div>
            <div><a href="#balanced-rock">Balanced Rock</a></div>
            <div><a href="#window-arches-and-double-arch">Windows &amp; Double Arch</a></div>
            <div><a href="#delicate-arch">Delicate Arch</a></div>
            <div><a href="#skyline-arch-and-more">Skyline Arch</a></div>
            <div><a href="#devils-garden">Devil's Garden</a></div>
            <div><a href="#corona-arch">Corona Arch</a></div>
            <div><a href="#canyonlands-needles-overlook">Needles Overlook</a></div>
            <div><a href="#wilson-arch">Wilson Arch</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Arches National Park and Moab, Utah Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Arches National Park is home to the largest concentration of natural arches on Earth, along with many other unique rock formations surround by picturesque scenery and red rock.</p>
    </section>


    <!-- Park Avenue and Balanced Rock Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Sheer cliff formations and buttes known as Park Avenue in Utah's Arches National Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Park-Avenue.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Park Avenue</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39908901@N06/27454744684/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39908901@N06/" rel="noopener noreferrer" target="_blank">
                                    m01229</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking directly down the road at the Courthouse Towers buttes of Arches National Park near Moab" 
                        src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Courthouse-Towers.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Courthouse Towers</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/adifferentbrian/36333949832/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/adifferentbrian/" rel="noopener noreferrer" target="_blank">
                                    adifferentbrian</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Rocky rolling hills of the Petrified Dunes with La Sal Mountains in the background at Arches National Park"
                        src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Petrified-Dunes-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Petrified Dunes Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/shepard4711/23323056214/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/shepard4711/" rel="noopener noreferrer" target="_blank">
                                    Simon</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the stunning natural formation of the massive Balanced Rock in Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Balanced-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Balanced Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/banduki/18184649814/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/banduki/" rel="noopener noreferrer" target="_blank">
                                    Chetan Kolluri</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Park Avenue Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="park-avenue"></a>
        <h2 class="left-heading destination-section-heading">Park Avenue</h2>
        <p>As you enter the national park you'll first encounter the highly educational Visitor Center. Continue along the incredibly scenic road through the park, stopping at <strong>Park Avenue</strong>, which is named for the steep sheer cliffs resemblance to a city skyline. You can take in great views from the parking lot or hike through this canyon as far as you like, the Park Avenue Trail has a round-trip distance of 2 miles (3.2 km).</p>
    </section>


    <!-- Balanced Rock Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="balanced-rock"></a>
        <h2 class="left-heading destination-section-heading">Balanced Rock</h2>
        <p>The next viewpoints you can stop along your journey through the park include the La Sal Mountains Viewpoint followed, the imposing <strong>Courthouse Towers Viewpoint</strong>, and the strange <strong>Petrified Dunes Viewpoint</strong>. All of these viewpoints look out over different regions of the otherworldly high-elevation landscape of this beautiful national park, so stop at as many as possible.</p>
        <p>Next you should stop at the astounding <strong>Balanced Rock</strong> formation, which requires a very short walk to see up-close. The Balanced Rock is one of the most iconic sights of Arches National Park despite not even being an arch. Be sure to walk around for different perspectives of this delicate natural formation, which will surely fall someday.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Arches NP 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3070564123"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Window Arches and Double Arch Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant natural formations of the North and South Windows side-by-side seen from the Window Trail at Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-North-and-South-Windows-Arches.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">North &amp; South Windows</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/north-and-south-window-arches-arches-3894694/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/MikeGoad-29415/" rel="noopener noreferrer" target="_blank">
                                    MikeGoad</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning Turret Arch formation seen behind the North Window Arch in snowy Winter at Arches National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Turret-Arch-from-North-Window-Winter.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Turret Arch Behind North&nbsp;Window</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/landscape-scenic-rock-arch-2114188/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                                    skeeze</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking fantastical rock formations around the Turret Arch at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Turret-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Turret Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ian-arlett/29390746870/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ian-arlett/" rel="noopener noreferrer" target="_blank">
                                    Ian D. Keating</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Red glowing Double Arch formation seen at golden hour at Arches National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Double-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Double Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/soupaloop/9545020479/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/soupaloop/" rel="noopener noreferrer" target="_blank">
                                    Alec</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at massive Double Arch, an extremely rare formation with two side-by-side arches at Arches National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Double-Arch-Noon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Double Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/double-arch-landscape-nature-scenic-1865417/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                                    skeeze</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the starry night sky framed behind Double Arch at Arches National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Double-Arch-Night-Sky.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Double Arch &amp; Night&nbsp;Sky</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/night-sky-double-arch-sandstone-1740567/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                                    skeeze</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elephant herd-like rock formations known as the Parade of Elephants near The Windows at Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Parade-of-Elephants-Arches.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Parade of Elephants</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:2013-09-23_09_42_18_View_of_rocks_west_of_Double_Arch_in_Arches_National_Park.JPG&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Famartin" rel="noopener noreferrer" target="_blank">
                                    Famartin</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Window Arches and Double Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="window-arches-and-double-arch"></a>
        <h2 class="left-heading destination-section-heading">Window Arches &amp; Double Arch</h2>
        <p>Now continue to one of the park's two highest concentrations of natural formations, including the <strong>North and South Windows</strong>. These two side-by-side arches are named windows because they provide stunning views overlooking the beautiful landscape, with the option of easily walking/climbing up into the windows if you like.</p>
        <p>You can see the the North and South Windows along with the <strong>Turret Arch</strong> via the 1 mile (1.6 km) round-trip The Windows Trail.</p>
        <p>Adjacent to these arches you'll find the breathtaking rare <strong>Double Arch</strong>. The trail to reach this unbelievable massive arch is only 0.5 miles (0.8 km) round-trip. Along this hike you can admire the stunning <strong>Parade of Elephants</strong> formation.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Arches NP 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2510616336"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Delicate Arch Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking the rugged formations of the Fiery Furnace from Panorama Point in Arches National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Panorama-Point-View-of-Fiery-Furnace.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Panorama Point View of Fiery&nbsp;Furnace</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/utah-arches-national-park-1802037/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/derwiki-562673/" rel="noopener noreferrer" target="_blank">
                                    derwiki</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Delicate Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                                    webpascal</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Golden hour view of Delicate Arch against snowy mountains in the background at Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Delicate Arch (Winter&nbsp;Sunset)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/arches-national-park-utah-landscape-113092/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/12019-12019/" rel="noopener noreferrer" target="_blank">
                                    12019</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wide cloudy sunset view of Delicate Arch and adjacent bowl formation at Arches National Park in Moab, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-and-Bowl-Cloudy-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Delicate Arch &amp; Bowl</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/archesnps/8520706358/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/archesnps/" rel="noopener noreferrer" target="_blank">
                                    Arches National Park</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view of Delicate Arch set amongst the cliffs from the Upper Delicate Arch Viewpoint at Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Upper-Delicate-Arch-Viewpoint.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Delicate Arch Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/miguelvaca/7216660550/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/miguelvaca/" rel="noopener noreferrer" target="_blank">
                                    Miguel Vaca</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Delicate Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="delicate-arch"></a>
        <h2 class="left-heading destination-section-heading">Delicate Arch</h2>
        <p>Next you can drive up to <strong>Panorama Point</strong> for sweeping views over this beautiful landscape, and then drive to the trailhead for the park's most famous arch, <strong>Delicate Arch</strong>.</p>
        <p>There's a few different options for seeing the iconic Delicate Arch, with the most accessible being the Lower Viewpoint next to the parking lot, which views the arch from afar set amongst striking scenery.</p>
        <p>For a closer view you can head to the <strong>Upper Viewpoint</strong> and take in views of a majestic canyon while looking out at the arch (0.5 miles/0.8 km round-trip), or hike the full 3 mile (4.8 km) round-trip trail that leads directly to the arch. It's highly recommended however to see the arch via the longer trail as the distant viewpoint doesn't do the arch justice. Additionally the arch may collapse in the near future, due to erosion and its truly delicate nature, so see it up-close while it still stands.</p>
        <p>If you hike up to the Delicate Arch, it's highly recommended do so around sunset, to witness the the beautiful red and orange shades that light up the arch. Ideally you'd want to arrive at the arch one hour before sunset, and then sit down and relax while watching the amazing spectacle.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Arches NP 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5607552962"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- More Viewpoints and Skyline Arch and Sand Dune Arch Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking rounded pillar-like rock formations known as the Fiery Furnace at Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Fiery-Furnace-Pinnacles.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fiery Furnace Viewpoint</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Arches_National_Park%E2%80%A6pinnacles_of_the_Fiery_Furnace_(6294484466).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/61456446@N06" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small Sand Dune Arch hidden back in a canyon above fine deep sand at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Sand-Dune-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sand Dune Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Sanddune_arch_01.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:MatthiasKabel" rel="noopener noreferrer" target="_blank">
                                    MatthiasKabel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="View of Skyline Arch behind a thistle tree at Utah's Arches National Park" 
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Skyline-Arch-and-Tree.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Skyline Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Skyline_Arch_at_Arches_National_Park-Unburnsky.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Sanjay_ach" rel="noopener noreferrer" target="_blank">
                                    Sanjay Acharya</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>




    <!-- Skyline Arch and More Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="skyline-arch-and-more"></a>
        <h2 class="left-heading destination-section-heading">Skyline Arch &amp; Fiery Furnace</h2>
        <p>Afterwards you can stop and take in more amazing views at the Salt Valley Overlook and <strong>Fiery Furnace Viewpoint</strong>, with the latter overlooking quite an incredible and complex landscape.</p>
        <p>Next you might consider seeing the smaller <strong>Sand Dune Arch</strong>, which sits in a little canyon and can be accessed via a short walk. This walk is surprisingly difficult in shoes however, as the trail consists of fine deep sand, so you might want to do this walk barefoot.</p>
        <p>Before reaching the Devil's Garden at the end of the road, you might want to take a very short 0.4 mile (0.6 km) round-trip walk to see the <strong>Skyline Arch</strong>. This is one of the park's more impressive easily-accessible arches, which can even be admired well near the trailhead.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Arches NP 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8617570127"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Devil's Garden Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the rugged rocky landscape of the Devil's Garden at Arches National Park which contains many natural arches"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Devils-Garden.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Devil's Garden</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ronmacphotos/4119056933/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ronmacphotos/" rel="noopener noreferrer" target="_blank">
                                    Ronnie Macdonald</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the extremely wide and thin Landscape Arch set amongst the cloudy sky at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Landscape-Arch-Distant.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Landscape Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/landscape-arch-arches-national-park-1199210/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/escapedesign-2029666/" rel="noopener noreferrer" target="_blank">
                                    escapedesign</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of the wild Utah landscape framed by Partition Arch in Arches National Park's Devil's Garden"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Partition-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Partition Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Arches_National_Park%E2%80%A6Partition_arch_(6294491188).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/people/61456446@N06" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Double O Arch consisting of a giant O-shaped arch above a tiny one seen along Arches National Park's Devil's Garden Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Double-O-Arch-Formations.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Double O Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Double-O-Arch_Arches_National_Park_2.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Double-O-Arch_Arches_National_Park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Flicka</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the two hole-like arches of Double O Arch in the Devil's garden at Arches National Park's, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Double-O-Arch-from-Below.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Double O Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Double-O-Arch_Arches_National_Park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Double-O-Arch_Arches_National_Park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Flicka</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC-BY-SA 3.0</a> &amp; 
                            <a href="https://commons.wikimedia.org/wiki/Commons:GNU_Free_Documentation_License,_version_1.2" rel="noopener noreferrer" target="_blank">
                                GNU 1.2</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Large dark rock pillar known as the Dark Angel located amongst the Devil's Garden of Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Dark-Angel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dark Angel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/robglover/9546723088/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/robglover/" rel="noopener noreferrer" target="_blank">
                                    Rob Glover</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Devil's Garden and Landscape Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="devils-garden"></a>
        <h2 class="left-heading destination-section-heading">Devil's Garden &amp; Landscape Arch</h2>
        <p>At the very end of the road is the area of Arches National Park with the high concentration of arches, known as the <strong>Devil's Garden</strong>.</p>
        <p>Within the Devil's Garden is one of the park's most famous arches, the gorgeous <strong>Landscape Arch</strong>, which is located next to the much smaller <strong>Partition Arch</strong>. Along the approximately 2.3 mile (3.7 km) round-trip trail to the Landscape Arch you can take short detours to see several more impressive arches, including Tunnel Arch and Pine Tree Arch.</p>
        <p>You can extend this to a hike of approximately 4.5 miles (6.8 km) round-trip to see the mesmerizing <strong>Double O Arch</strong> much further into the Devils Garden, and another 0.8 miles (1.3 km) round-trip to get up-close to the striking <strong>Dark Angel</strong> formation. You can actually admire the Dark Angel from afar before descending down to the Double O Arch if you don't wish to hike any further.</p>
        <p>Another popular option is to do hike the entire Devil's Garden Loop, which descends down into a scenic and much more remote area with additional arches, such as Private Arch, Black Cave Arch, and more. This entire route is approximately 7.8 miles (12.6) round-trip, and is quite challenging with a significant elevation gain over 1,000 feet (300 m) in an already high-elevation environment. Despite the difficulties, this route is quite amazing and provides much privacy, as very few people choose to do this hike.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Arches NP 5 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4294471296"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Corona Arch, Needles Overlook, and Wilson Arch Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous Corona Arch formation located near the Colorado River just outside of Moab, Utah near Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Moab-Corona-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Corona Arch (Moab)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/bumeister/38223173234/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/bumeister/" rel="noopener noreferrer" target="_blank">
                                    John Buie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Round hole in the rocky canyon ceiling known as the Bowtie Arch, located along the Corona Arch Trail near Moab, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Moab-Bowtie-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bowtie Arch (Moab)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/matthewjsimpson/36413959355/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/matthewjsimpson/" rel="noopener noreferrer" target="_blank">
                                    Matthew Simpson</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast landscape of Colorado River-sculpted canyons seen from Needles Overlook in Canyonlands National Park's Needles District"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Needles-District-Needles-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Needles Overlook (Canyonlands)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Popular giant natutral Wilson Arch located along Highway 191 south of Moab and Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Moab-Wilson-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wilson Arch (HWY 191)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/41746732524/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Corona Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="corona-arch"></a>
        <h2 class="left-heading destination-section-heading">Corona Arch</h2>
        <p>Just outside of Moab you should strongly consider the 2.3 mile (3.7 km) round-trip hike to see the stunning <strong>Corona Arch</strong> and adjacent <strong>Bowtie Arch</strong>. The Corona Arch is among the most amazing and famous arches in Utah and is massive. Be sure to walk underneath the arch to view it from the other side, from which you can admire the arch's most photogenic angle.</p>
        <p>The hike to the Corona Arch is also quite scenic and interesting, even passing by over an old railroad track carved into a canyon.</p>
    </section>


    <!-- Needles Overlook (Canyonlands) Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="canyonlands-needles-overlook"></a>
        <h2 class="left-heading destination-section-heading">Needles Overlook (Canyonlands)</h2>
        <p>If you're approaching Moab from the south, you might consider a significant detour from Highway 191 to visit the <strong>Needles Overlook</strong> along the way. Due to its extreme remoteness, the Needles Overlook offers far-reaching and breathtaking views overlooking a vast and complex network of canyons, located within the Needles District of Canyonlands National Park.</p>
        <p>From the Needles Overlook you can truly appreciate the grandness and scale of the many winding canyons created by the Colorado River, which stretch on for miles and miles.</p>
        <p>The detour from the highway to visit the Needles Overlook requires about 70 extra minutes of driving. If you're visiting Moab from the north, you should visit this overlook later when you're heading south to your next destination, as it's even located quite far from Moab.</p>
    </section>


    <!-- Wilson Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="wilson-arch"></a>
        <h2 class="left-heading destination-section-heading">Wilson Arch</h2>
        <p>Approximately 30 minutes south of Moab along the is the stunning <strong>Wilson Arch</strong>, which can be admired from the roadside pull-off. This arch also offers the option of taking a very short hike to stand under it. Be sure to briefly stop at this arch along your way up north to Moab, or after leaving Moab if you're heading south. The Wilson Arch is located north of the road you would take to reach the Needles Overlook.</p>
        <p>A bit further north up the highway from the Wilson Arch is the Hole N the Rock, a roadside attraction which features all types of interesting outdoor art pieces you might briefly admire.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Arches NP Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1761459688"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Arches National Park &amp; Moab Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/9MNZ9Gzvju12">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/sfhsw1NZweK2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        Canyonlands National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view over the mesas and buttes of Monument Canyon from Grand View in Colorado National Monument of Western Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-West.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        Colorado National&nbsp;Monument, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/34667838504/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        Valley of the Gods &amp; Natural&nbsp;Bridges
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    