<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Bryce Point Overlook view over a sea of hoodoo formations along the cliffs of Bryce Canyon National Park, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Bryce-Point-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Bryce Canyon National Park, Utah + Kodachrome Basin and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="bryce_canyon_national_park_utah" />
    <meta name="attraction_guides" content="kodachrome_basin_utah" />
    <meta name="usa_attraction_guides" content="bryce_canyon_national_park_utah" />
    <meta name="usa_destinations" content="bryce_canyon_national_park_utah" />
    <meta name="usa_destination_guides" content="bryce_canyon_national_park_utah" />
    <meta name="utah_attraction_guides" content="bryce_canyon_national_park" />
    <meta name="utah_attraction_guides" content="kodachrome_basin_state_park" />
    <meta name="utah_destinations" content="bryce_canyon_national_park" />
    <meta name="utah_destinations" content="kodachrome_basin_state_park" />
    <meta name="utah_destination_guides" content="bryce_canyon_national_park" />
    <meta name="utah_destination_guides" content="kodachrome_basin_state_park" />
    <meta name="national_park_attraction_guides" content="bryce_canyon" />
    <meta name="google_maps_list" content="bryce_canyon_national_park" />
    <meta name="google_maps_list" content="kodachrome_basin_state_park" />
    <meta property="og:title" content="Bryce Canyon National Park, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Bryce-Point.jpg">
    <meta name="twitter:title" content="Bryce Canyon National Park, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Bryce-Point.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
    <title>Attractions Guide for Bryce Canyon National Park, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Bryce Canyon National Park, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#red-canyon">Red Canyon</a></div>
            <div><a href="#fairyland-point">Fairyland Point</a></div>
            <div><a href="#sunrise-and-sunset-points">Sunrise &amp; Sunset Points</a></div>
            <div><a href="#bryce-point">Bryce Point</a></div>
            <div><a href="#upper-bryce-canyon-viewpoints">Upper Viewpoints</a></div>
            <div><a href="#mossy-cave-trail">Mossy Cave</a></div>
            <div><a href="#willis-creek-slot-canyon">Willis Creek Slot</a></div>
            <div><a href="#kodachrome-basin-state-park">Kodachrome Basin</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Bryce Canyon National Park, Utah Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Bryce Canyon National Park is a truly unique and incredible landscape, which is riddled with hoodoo formations and natural amphitheaters. These stunning formations are especially beautiful as they are made of red rock and covered in tall forests. Despite the many tourists. Bryce Canyon also offers a great chance of observing wildlife such as deer during your visit.</p>
        <p>Most of the sights within the park are along Highway 63, which travels south from the town of Bryce into the park, gaining in elevation as you make you way up the plateau with countless viewpoints along the way.</p>
    </section>


    <!-- Red Canyon, Fairyland Point, and Fairyland Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Stunning red rock walls and hoodoos admired from the Red Canyon Visitor Center near Bryce Canyon, Utah" 
                        src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Red-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Canyon Visitor&nbsp;Center</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/44534236@N00/9158716279/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/44534236@N00/" rel="noopener noreferrer" target="_blank">
                                    faungg's photos</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Sunset looking up at the hoodoo formations along the cliffs of Red Canyon surrounded by forests near Bryce Canyon, Utah" 
                        src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Red-Canyon-Cliffs-and-Hoodoos-Sunset.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Canyon Cliff Hoodoos</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/23342296840/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Red rock arch covered in snow spanning over the road of Red Canyon near Bryce Canyon, Utah" 
                        src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Red-Canyon-Road-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Canyon Road Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/street-arch-stone-red-3357183/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/ThuyHaBich-6663646/" rel="noopener noreferrer" target="_blank">
                                    ThuyHaBich</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking many hoodoo formations and forests from Fairyland Point before the entrance to Bryce Canyon National Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Fairyland-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairyland Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at some red rock hoodoo fomrations from Bryce Canyon National Park's Fairyland Loop Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Fairyland-Loop.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fairyland Loop Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/nicolas_vollmer_photo/9157989946/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/nicolas_vollmer_photo/" rel="noopener noreferrer" target="_blank">
                                    Nicholas Vollmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Red Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="red-canyon"></a>
        <h2 class="left-heading destination-section-heading">Red Canyon</h2>
        <p>The drive along Highway 12 (between Highway 89 and Bryce Canyon) is very scenic, passing underneath two arches while surrounded by majestic forested red rock. If driving along this route, be sure to stop at the <strong>Red Canyon Visitor Center</strong> to admire the surrounding red rock hoodoos and scenery. This area even offers a few easygoing hiking trails.</p>
    </section>


    <!-- Fairyland Point and Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fairyland-point"></a>
        <h2 class="left-heading destination-section-heading">Fairyland Point &amp; Trail</h2>
        <p>Just before entering the national park is <strong>Fairyland Point</strong>, which features a striking viewpoint over this gorgeous and complex landscape.</p>
        <p>If you'd like to explore this otherworldly landscape, you can hike part of the the 8 mile (12.9 km) round-trip <strong>Fairyland Loop Trail</strong>, which is one of the best hikes in the park featuring stunning scenery along the entire route. This hike begins from Fairyland Point, before descending deep into the hoodoo canyons, passing by striking formations such as the Sinking Ship and Tower Bridge.</p>
        <p>After winding through this hoodoo wonderland, the trail descends back up to Sunrise Point, from which you walk along the edge fo the canyon back to the trailhead. It's highly recommended to at least explore part of the route if you don't wish to hike the entire length of the trail.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bryce Canyon 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1197534661"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Sunrise and Sunset Points Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sunrise Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                                    Todd Petrie</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a massive sea of hoodoo rock formations along the cliffs from Bryce Canyon National Park's Sunset Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunset-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sunset Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/easethemain/34605435024/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/easethemain/" rel="noopener noreferrer" target="_blank">
                                    Darold Massaro</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful view along the trail beneath the hoodoos of the Queens Garden Trail in Bryce Canyon National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Queens-Garden-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Queens Garden Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/daveynin/6067244915/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/daveynin/" rel="noopener noreferrer" target="_blank">
                                    David Fulmer</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the switchback walkways surrounded by towering hoodoos of Wall Street along Bryce Canyon's Navajo Loop Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Navajo-Loop-Wall-Street.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wall Street (Navajo&nbsp;Loop&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andrewasmith/7593027076/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andrewasmith/" rel="noopener noreferrer" target="_blank">
                                    Andrew Smith</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Iconic rocky hoodoo formation resembling Thor's Hammer seen near the top of Bryce Canyon's Navajo Loop Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Thors-Hammer.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Thors Hammer (Navajo&nbsp;Loop&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/lifeisadventure/37333826935/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/lifeisadventure/" rel="noopener noreferrer" target="_blank">
                                    Dan Milter</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Sunrise and Sunset Points Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="sunrise-and-sunset-points"></a>
        <h2 class="left-heading destination-section-heading">Sunrise &amp; Sunset Points</h2>
        <p>Just after the entrance to Bryce Canyon are two of the park's most iconic viewpoints, <strong>Sunrise Point</strong> and <strong>Sunset Point</strong>.</p>
        <h3>Queens Garden Trail &amp; Wall&nbsp;Street</h3>
        <p>Starting from Sunrise Point you can explore the park's most popular hiking route. The route descends down the <strong>Queens Garden Trail</strong> before circling around to connect to the far (south) side of Navajo Loop Trail before ascending back up to Sunset Point. The incredible portion of the trail leading up to Sunset Point is known as <strong>Wall Street</strong>, named for the towering red hoodoo walls which surround it.</p>
        <p>After ascending up to Sunset Point, be sure to walk about two minutes down the northern side of Navajo Loop Trail to view the Bryce Canyon's iconic <strong>Thor's Hammer</strong> formation. Afterwards it's a short and scenic walk along the canyon rim to return to your starting point, Sunrise Point. The total route length of this loop is about 3 miles (4.8 km).</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bryce Canyon 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9448378018"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>




    <!-- Bryce Point and Inspiration Point Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Snowy covered red rock hoodoo formations of Bryce Canyon National Park seen from Upper Inspiration Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Inspiration-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Inspiration Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/captainfaulkers/34814551831/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/captainfaulkers/" rel="noopener noreferrer" target="_blank">
                                    James Faulkner</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sunrise over Bryce Point overlooking countless hoodoos from high above, near the top of Bryce Canyon National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Bryce-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bryce Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/easethemain/34605408014/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/easethemain/" rel="noopener noreferrer" target="_blank">
                                    Darold Massaro</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="looking down the Peekaboo Loop Trail with hoodoo formations on both sides at Bryce Canyon National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Peek-a-Boo-Loop-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Peekaboo Loop Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/26336554291/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Bryce Point and Inspiration Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="bryce-point"></a>
        <h2 class="left-heading destination-section-heading">Bryce Point &amp; Inspiration Point</h2>
        <p>Next you can take a short 0.6 mile (1 km) round-trip walk up to <strong>Upper Inspiration Point</strong> located close-by, before heading to the grandiose <strong>Bryce Point</strong>, which overlooks everything you've seen so far from a very high elevation with incredibly gorgeous views.</p>
        <h3>Peekaboo Loop Trail</h3>
        <p>From Bryce Point you might consider the challenging 4.8 mile (7.7 km) round-trip <strong>Peekaboo Loop Trail</strong> that descends down the cliffs and walks amongst the many hoodoos you were looking over. This trail even connects with Navajo Loop if you're looking for a longer hike.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bryce Canyon 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3086041848"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Upper Bryce Canyon Formations and Viewpoints Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Afternoon sun giving glowing colors to the Natural Bridge along the cliffs of Bryce Canyon National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Natural-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Natural Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/photommo/30575334653/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/photommo/" rel="noopener noreferrer" target="_blank">
                                    Thomas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the vast dark green forests of Ponderosa Canyon below the cliffs of Bryce Canyon National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Ponderosa-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ponderosa Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rainbow Point view over vast forests and rolling hills surrounded by the red cliffs of Bryce Canyon National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Rainbow-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Rainbow Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jared422/35058223493/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jared422/" rel="noopener noreferrer" target="_blank">
                                    Jared</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a portion of Utah's epic grand staircase geologic formation covered in forests from Bryce Canyon's Yovimpa Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Yovimpa-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Yovimpa Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ian-arlett/31613314163/in/photolist-QayuUK-k2DUxr-AAE5yZ-caraUs-HyGkjh-aupBu9-9d2QYq-6f3QRo-A26FV7-QLoq2S-QLoyZG-HBCuxM-QPQAeV-HBCupR-ePAu9U-827YJ4-k2EXop-8H9XZ-aPYgwB-dbseNr-ajXFWH-c6UaBY-e7hazh-e7hb6C-VayCt5-TZ8qbK-8HbVq-c2YPLJ-c2YQ1h-c2YPTE-k2EX84-8Ha3P-ke9hS4-cbxnCj-pMb2zh-c2YQxw-dcERPA-V8LDaJ-9cYJMa-9cYJH6-ePp5yv-cariR9-9d2QeS-9d2QL9-dDYMdL-8Rigid-bPrfN6-cbx84Y-9d2QS1-9d2QGS" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ian-arlett/" rel="noopener noreferrer" target="_blank">
                                    Ian D. Keating</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Upper Bryce Canyon Formations and Viewpoints Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="upper-bryce-canyon-viewpoints"></a>
        <h2 class="left-heading destination-section-heading">Upper Bryce Canyon Formations &amp; Viewpoints</h2>
        <p>Much further south into the park (and higher in elevation) along the rim you'll find the <strong>Natural Bridge</strong> viewpoint overlooking a giant arch. Not far from here you can stop along at the <strong>Ponderosa Canyon</strong> viewpoint along the road, which provides excellent far-reaching views over the vast forests and mountains in the distance.</p>
        <h3>Rainbow Point</h3>
        <p>Continue up to the very top of the park at <strong>Rainbow Point</strong>, which overlooks hoodoos and tall red rock cliffs set amongst dense forests.</p>
        <h3>Yovimpa Point</h3>
        <p>On the opposite side of the cliffs from Rainbow Point is <strong>Yovimpa Point</strong>, which is considered the best place to appreciate the massive geological scale of the Grand Staircase-Esclante, which descends down over vast plateaus as far as the eye can see like a massive staircase, best seen with very clear weather.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bryce Canyon 4 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1772960172"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Mossy Cave, Willis Creek Slot Canyon, and Kodachrome Basin State Park Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Walkway and bridge near the start of the Mossy Cave Trail below Bryce Canyon near Tropic, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Mossy-Cave-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mossy Cave Trail<br />(Tropic)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/twbuckner/1902601120/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/twbuckner/" rel="noopener noreferrer" target="_blank">
                                    -ted</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful Mossy Cave Falls flowing through the hoodoo forest landscape below Bryce Canyon near Tropic, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Mossy-Cave-Waterfall.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mossy Cave Falls<br />(Mossy&nbsp;Cave&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/easethemain/35280507822/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/easethemain/" rel="noopener noreferrer" target="_blank">
                                    Darold Massaro</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the canyon walls of the winding Willis Creek Slot Canyon near Bryce Canyon and Cannonville, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Willis-Creek-Slot-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Willis Creek Slot&nbsp;Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/achillifamily/20760631513/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/achillifamily/" rel="noopener noreferrer" target="_blank">
                                    Achilli Family Journeys</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the red rock wall formations towering above the valley from Kodachrome Basin State Park's Panorama Loop Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Kodachrome-Basin-State-Park-Panorama-Loop.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Panorama Long Loop Trail<br />(Kodachrome Basin)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/achillifamily/21168885320/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/achillifamily/" rel="noopener noreferrer" target="_blank">
                                    Achilli Family Journeys</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning rocky cliffs of the Angel's Palace change from sandy red to concrete white in Utah's Kodachrome Basin State Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Kodachrome-Basin-State-Park-Angels-Palace-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Angel's Palace Trail<br />(Kodachrome Basin)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/achillifamily/21343446752/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/achillifamily/" rel="noopener noreferrer" target="_blank">
                                    Achilli Family Journeys</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Mossy Cave Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mossy-cave-trail"></a>
        <h2 class="left-heading destination-section-heading">Mossy Cave Trail</h2>
        <p>On the eastern side of the national park down below the cliffs near the town of Tropic is a fantastic short-stance hike that follows along a gorgeous red rock landscape of hoodoos along a stream, leading to the <strong>Mossy Cave</strong> and a beautiful red rock waterfall. The Mossy Cave Trail is only about 1 mile (1.6 km) round-trip and highly recommended.</p>
    </section>



    <!-- Willis Creek Slot Canyon Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="willis-creek-slot-canyon"></a>
        <h2 class="left-heading destination-section-heading">Willis Creek Slot Canyon Trail</h2>
        <p>To the southeast of Bryce Canyon are several more great hiking opportunities, including the <strong>Willis Creek Slot Canyon Trail</strong> which travels amongst an extremely scenic canyon gorge along a small stream. The total in-and-back distance for this slot canyon trail is about 7.4 miles/11.9 km (or much less as you can turn back whenever you like). Just be sure to bring waterproof boots.</p>
    </section>



    <!-- Kodachrome Basin State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kodachrome-basin-state-park"></a>
        <h2 class="left-heading destination-section-heading">Kodachrome Basin State Park</h2>
        <p>In the area near Willis Creek Slot Canyon you might consider hiking amongst the otherworldly landscape of Kodachrome Basin State Park. The best longer distance hike in this park is the 6.1 mile (9.8 km) round-trip <strong>Panorama Loop Long Trail</strong>.</p>
        <p>The most rewarding short length trail in the park is the 1.6 mile (2.6 km) round-trip <strong>Angel's Palace Trail</strong>, which is highly recommended and features outstanding views overlooking the surreal natural features of the Kodachrome Basin.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Bryce Canyon Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8884452992"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Bryce Canyon National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/fQgEAr8AiCS2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/5rPFgTeuW5q">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        Cedar&nbsp;Breaks &amp; Kolob&nbsp;Canyons
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>
            <div class="destination-container"></div>

        </div>

    </section>


    