<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Mesa Arch glowing during sunrise framing the canyons of Canyonlands National Park, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch-Sunrise-and-Canyons-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Canyonlands National Park, Utah + Dead Horse Point, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="canyonlands_national_park_utah" />
    <meta name="attraction_guides" content="dead_horse_point_utah" />
    <meta name="usa_attraction_guides" content="canyonlands_national_park_utah" />
    <meta name="usa_destinations" content="canyonlands_national_park_utah" />
    <meta name="usa_destination_guides" content="canyonlands_national_park_utah" />
    <meta name="utah_attraction_guides" content="canyonlands_national_park" />
    <meta name="utah_attraction_guides" content="dead_horse_point_state_park" />
    <meta name="utah_destinations" content="canyonlands_national_park" />
    <meta name="utah_destinations" content="dead_horse_point_state_park" />
    <meta name="utah_destination_guides" content="canyonlands_national_park" />
    <meta name="utah_destination_guides" content="dead_horse_point_state_park" />
    <meta name="national_park_attraction_guides" content="canyonlands" />
    <meta name="google_maps_list" content="dead_horse_point_state_park" />
    <meta property="og:title" content="Canyonlands National Park, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch-Sunrise-and-Canyons.jpg">
    <meta name="twitter:title" content="Canyonlands National Park, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch-Sunrise-and-Canyons.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
    <title>Attractions Guide for Canyonlands National Park, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Canyonlands National Park, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#dead-horse-point-state-park">Dead Horse Point</a></div>
            <div><a href="#mesa-arch">Mesa Arch</a></div>
            <div><a href="#southern-overlooks">Southern Overlooks</a></div>
            <div><a href="#green-river-overlook">Green River</a></div>
            <div><a href="#upheaval-dome">Upheaval Dome</a></div>
            <div><a href="#4x4-attractions">4x4 Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Canyonlands National Park Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Canyonlands is a vast national park carved out by the Green River and Colorado River (upstream from the Grand Canyon) that contains many unique natural formations amongst the mesas, buttes, and canyons that make up this gorgeous landscape.</p>
        <p>A majority of the park's best and most easily accessible sights are located in the Island in the Sky District of the park. This area is a giant towering plateau which is almost completely surrounded by winding rivers and canyons, essentially creating an island. This area of Canyonlands is just a short drive from the town of Moab.</p>
    </section>


    <!-- Dead Horse Point, Mesa Arch, and Southern Canyonlands Overlooks Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Overlooking the iconic massive scale bend in the Colorado River known from Dead Horse Point State Park near Canyonlands, Utah" 
                        src="https://www.travelimager.com/images/utah/Utah-Dead-Horse-Point-State-Park-Dead-Horse-Point-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Dead Horse Point Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/banduki/18389020859/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/banduki/" rel="noopener noreferrer" target="_blank">
                                    Chetan Kolluri</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Distant view from Basin Overlook of the vibrant blue potash ponds set amongst desert canyons from Dead Horse Point State Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Dead-Horse-Point-State-Park-Basin-Overlook-View-of-Potash-Ponds.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Basin Overlook &amp; Potash&nbsp;Ponds (Dead&nbsp;Horse&nbsp;Point)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Dead_horse_point_state_park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/w/index.php?title=File:Dead_horse_point_state_park.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                    Danny Marcantel</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 4.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Snowy slanted cliffs of Shafer Canyon above the desolate desert of Canyonlands National Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Shafer-Canyon-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Shafer Canyon Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/66215279/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mesa Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Vast canyonous landscape carved by the confluence of the Colorado and Green Rivers viewed from Canyonlands's Grand View Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Grand-View-Point-Panoramic.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Grand View Point Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/31720359690/in/album-72157663102550963/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the white rimmed canyons above the Colorado River from the White Rim Overlook at Canyonlands National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-White-Rim-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">White Rim Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/garylizwindust/7557728308/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/garylizwindust/" rel="noopener noreferrer" target="_blank">
                                    Gary Windust</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Close-up view of a buck deer set amongst the canyons of Buck Canyon at Canyonlands with La Sal Mountains in background"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Buck-Canyon-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Buck Canyon Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/39422575@N02/32230460681/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/39422575@N02/" rel="noopener noreferrer" target="_blank">
                                    Robb Hannawacker</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Dead Horse Point State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="dead-horse-point-state-park"></a>
        <h2 class="left-heading destination-section-heading">Dead Horse Point State Park</h2>
        <p>Before entering the Island in the Sky District, be sure to stop at <strong>Dead Horse Point State Park</strong>, which offers magnificent views over a behemoth river bend in the Colorado River and countless surrounding canyons from high above. Be sure to also stop for views at the state park's Basin Overlook, from which you can see the famous vibrant blue potash ponds set amongst the desert and canyons.</p>
    </section>


    <!-- Mesa Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="mesa-arch"></a>
        <h2 class="left-heading destination-section-heading">Mesa Arch</h2>
        <p>The first attraction you'll encounter upon entering Canyonlands National park is the striking <strong>Shafer Canyon Overlook</strong>. This viewpoint is located just after the Island in the Sky Visitor Center.</p>
        <p>Further into the park is Canyonlands' most iconic sight, the breathtaking <strong>Mesa Arch</strong>. This incredible arch sits over the edge of the canyon framing the glorious landscape behind it, and is best seen during sunrise when the sun can be seen rising underneath the arch, or even sunset when the arch frames the glowing red canyon landscape. The arch is accessible via a short 0.5 mile (0.8 km) round-trip trail.</p>
    </section>


    <!-- Southern Canyon Overlooks Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="southern-overlooks"></a>
        <h2 class="left-heading destination-section-heading">Southern Canyon Overlooks</h2>
        <h3>Grand View Point Overlook</h3>
        <p>If you continue south along the road you'll find two more incredible viewpoints overlooking the Canyonlands, the more popular being the <strong>Grand View Point Overlook</strong>, which provides sweeping panoramic views, accessed via a 2 mile (3.2 km) round-trip trail.
        <h3>White Rim &amp; Buck Canyon Overlooks</h3>
        <p>Nearby Grand View Point you might consider walking the 1.8 mile (2.9 km) round-trip distance to the <strong>White Rim Overlook</strong> if you have plenty of time, which is also quite impressive. Be sure to also stop at the <strong>Buck Canyon Overlook</strong> along this road, where you can take in great canyon views practically from the parking lot.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Canyonlands 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2981389629"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Green River, Upheaval Dome, and 4x4 Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast desolate canyon landscape carved out by the Green River, seen from the Green River Overlook at Canyonlands National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Green-River-Overlook-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Green River Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mark_land/5602057288/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mark_land/" rel="noopener noreferrer" target="_blank">
                                    Mark Land</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking a canyon behind the ruins of an Ancestral Puebloan Granary along the Aztec Butte Trail of Canyonlands, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Aztec-Butte-Puebloan-Granary-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Aztec Butte Trail View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Canyonlands_from_Ancestral_Puebloan_Granary_at_the_Top_of_Aztec_Butte.jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://commons.wikimedia.org/wiki/User:Wingchi" rel="noopener noreferrer" target="_blank">
                                    Wing-Chi Poon</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Giant white rock of the Upheaval Dome rising out of a massive crater-like formation in Canyonlands National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Upheaval-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upheaval Dome</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/40347731642/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jeffhollettvancouverwa/" rel="noopener noreferrer" target="_blank">
                                    Jeff Hollett</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking along the top of the long ridgy Whale Rock at Canyonlands National Park's Island in the Sky District"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Whale-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Whale Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/quinnanya/2648328510/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/quinnanya/" rel="noopener noreferrer" target="_blank">
                                    Quinn Dombrowski</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking over the canyons framed by the alcove opening of the secret False Kiva stone circle at Canyonlands National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-False-Kiva.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">False Kiva</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/andrew_kearns_photography/25835486043/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/andrew_kearns_photography/" rel="noopener noreferrer" target="_blank">
                                    Andrew Kearns</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hiker walking across the top of the flat Musselman Arch spanning a canyon below at Canyonlands National Park in Shafer Canyon"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Musselman-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Musselman Arch (4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/7257508334/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Green River Overlook Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="green-river-overlook"></a>
        <h2 class="left-heading destination-section-heading">Green River Overlook</h2>
        <p>Near the Mesa Arch is the Island in the Sky's western road which leads to several more amazing sights, including the breathtaking <strong>Green River Overlook</strong>, which requires only a very short walk to view.</p>
        <h3>Aztec Butte Trail</h3>
        <p>Nearby the Green River Overlook you might consider the 1.8 mile (2.9 km) round-trip <strong>Aztec Butte Trail</strong>, which features ancient Native American ruins and views over a smaller canyon.</p>
    </section>


    <!-- Upheaval Dome Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="upheaval-dome"></a>
        <h2 class="left-heading destination-section-heading">Upheaval Dome</h2>
        <p>Near the end of Upheaval Dome Road (which spurs out from Grand View Point Road) you'll find several great hikes, including the 1.5 mile (2.4 km) round-trip <strong>Upheaval Dome Trail</strong>. This hike offers views over an otherworldly sight that looks like a white mountain rising up out of a massive red crater. It's not actually known exactly what caused this unique geological formation.</p>
        <p>The Upheaval Dome Trail also offers the option of adding an extra 1 mile (1.6 km) round-trip if you'd like to hike to the Second Overlook over the crater. Also nearby you might consider the 0.8 mile (1.3 km) round-trip hike atop <strong>Whale Rock</strong>.</p>
        <h3>False Kiva</h3>
        <p>In the Upheaval Dome area you'll also find the legendary False Kiva Trail, which is somewhat of a secret and not officially marked. The <strong>False Kiva</strong> is an old stone circle of unknown origin that sits within a cave, with the cave's entrance acting like a frame overlooking the Canyonlands, providing breathtaking views.</p>
    </section>


    <!-- 4x4 Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="4x4-attractions"></a>
        <h2 class="left-heading destination-section-heading">4x4 Attractions</h2>
        <p>If you have a high-clearance or 4x4 vehicle you might consider the extremely scenic drive along Highway 142 through Shafer Canyon, which is approximately 25 miles (40 km) one-way from Corona Arch and ends near the Island in the Sky Visitor Center where you enter the park.</p>
        <p>Highway 142 travels below Dead Horse Point and allows you to see the Goosenecks Overlook giving a direct close-up view of the massive river bend (just a short 0.5 mile/0.8 km round-trip walk) as well as the bridge-like <strong>Musselman Arch</strong>, which you can park right next to. The detour to this viewpoint and arch is about 7 miles (11 km) round-trip from Highway 142.</p>
        <p>Beyond the Musselman Arch and viewpoint you have the option of further exploring along the bottom of Canyonlands via White Rim Road, which traverses around most of the "island in the sky" along a 4x4 road for many miles.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Canyonlands Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5408952854"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Canyonlands National Park Attraction Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/8gCAqwY8Q512">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/5ZwFhQe9x862">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        Arches National&nbsp;Park &amp; Moab
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                            webpascal</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view over the mesas and buttes of Monument Canyon from Grand View in Colorado National Monument of Western Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-West.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        Colorado National&nbsp;Monument, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/34667838504/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        Valley of the Gods &amp; Natural&nbsp;Bridges
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
                        Monument Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                            Free-Photos</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    