<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Capitol Dome formation seen along the road through Capitol Reef National Park, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Capitol Reef National Park & Goblin Valley, Utah, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="capitol_reef_national_park_utah" />
    <meta name="attraction_guides" content="goblin_valley_utah" />
    <meta name="attraction_guides" content="san_rafael_reef_utah" />
    <meta name="usa_attraction_guides" content="capitol_reef_national_park_utah" />
    <meta name="usa_attraction_guides" content="goblin_valley_utah" />
    <meta name="usa_destinations" content="capitol_reef_national_park_utah" />
    <meta name="usa_destinations" content="goblin_valley_utah" />
    <meta name="usa_destination_guides" content="capitol_reef_national_park_utah" />
    <meta name="usa_destination_guides" content="goblin_valley_utah" />
    <meta name="utah_attraction_guides" content="capitol_reef_national_park" />
    <meta name="utah_attraction_guides" content="goblin_valley" />
    <meta name="utah_attraction_guides" content="san_rafael_reef" />
    <meta name="utah_destinations" content="capitol_reef_national_park" />
    <meta name="utah_destinations" content="goblin_valley" />
    <meta name="utah_destinations" content="san_rafael_reef" />
    <meta name="utah_destination_guides" content="capitol_reef_national_park" />
    <meta name="utah_destination_guides" content="goblin_valley" />
    <meta name="utah_destination_guides" content="san_rafael_reef" />
    <meta name="national_park_attraction_guides" content="capitol_reef" />
    <meta name="google_maps_list" content="capitol_reef_national_park" />
    <meta name="google_maps_list" content="goblin_valley" />
    <meta name="google_maps_list" content="san_rafael_reef" />
    <meta property="og:title" content="Capitol Reef & Goblin Valley, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg">
    <meta name="twitter:title" content="Capitol Reef & Goblin Valley, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
    <title>Attractions Guide for Capitol Reef National Park & Goblin Valley, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Capitol Reef National Park &amp; Goblin&nbsp;Valley, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#fishlake-national-forest">Fishlake Forest</a></div>
            <div><a href="#chimney-rock">Chimney Rock</a></div>
            <div><a href="#fruita-area">Fruita Area</a></div>
            <div><a href="#hickman-natural-bridge">Hickman Bridge</a></div>
            <div><a href="#cathedral-valley">Cathedral Valley</a></div>
            <div><a href="#goblin-valley-state-park">Goblin Valley</a></div>
            <div><a href="#wild-horse-window">Wild Horse Window</a></div>
            <div><a href="#little-wild-horse-and-bell-canyon">Wild Horse Canyon</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Capitol Reef National Park and Goblin Valley, Utah Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Despite being the least popular of Utah's five national parks. Captiol Reef National Park offers a great amount of natural beauty set amongst striking red rock formations, in a very remote part of the state. Just northeast of Capitol Reef is Goblin Valley State Park and the San Rafael Swell, an epicly large natural formation which hosts the lesser-known Wild Horse Window and the scenic Little Wild Horse / Bell Canyon trail.</p>
        <p>If approaching from the south, you'll likely want to visit Captiol Reef before Goblin Valley and the San Rafael Reef. However if you're coming from Colorado or Arches/Canyonlands National Park, you might first visit Goblin Valley and the San Rafael Swell.</p>
    </section>


    <!-- Fishlake National Forest, Chimney Rock, Goosenecks Overlook, and Fruita Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Epic-scale red rock formations of Capitol Reef National Park seen from afar from the Larb Hollow Overlook of Fishlake Forest" 
                        src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Fishlake-National-Forest-Larb-Hollow-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Larb Hollow Overlook (HWY&nbsp;12)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jsjgeology/8434766068/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jsjgeology/" rel="noopener noreferrer" target="_blank">
                                    James St. John</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking up at the glowing red rock Chimney Rock with contrasting snow at Capitol Reef National Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Chimney-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chimney Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/47096398@N08/4735790802/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/47096398@N08/" rel="noopener noreferrer" target="_blank">
                                    Esther Lee</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking the winding canyons of Capitol Reef National Park from the Goosenecks Overlook"
                        src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Goosenecks-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Goosenecks Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Native American drawings on the sheer cliff walls known as the Fruita Petroglyphs at Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Petroglyphs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Fruita Petroglyphs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/15708236@N07/6318711187/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/15708236@N07/" rel="noopener noreferrer" target="_blank">
                                    jphilipg</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beehive-like rounded rock walls seen along the Cohab Canyon Trail of Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Cohab-Canyon-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cohab Canyon Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/travelourplanet/31863529002/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/travelourplanet/" rel="noopener noreferrer" target="_blank">
                                    Fabio Achilli</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the Cassidy Arch carved out of the side of the cliff with only one opening at Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Cassidy-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cassidy Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iagoarchangel/14809616686/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iagoarchangel/" rel="noopener noreferrer" target="_blank">
                                    jimmy thomas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Fishlake National Forest Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fishlake-national-forest"></a>
        <h2 class="left-heading destination-section-heading">Fishlake National Forest</h2>
        <p>Approaching Capitol Reef National Park via Highway 12 from Bryce Canyon or Grand Staircase-Escalante National Monument, you'll be able to enjoy an incredibly scenic drive through the high-elevation forested mountains of the Fishlake National Forest. Along this highway are majestic views overlooking Capitol Reef, especially the <strong>Larb Hollow Overlook</strong>. Be sure to stop at this amazing viewpoint along the road as well as others.</p>
        <p>If approaching from the northwest you might consider a detour to the breathtaking Larb Hollow Overlook, as it is an excellent vantage point from which to admire the national park's massive reef formation. This route through the Fishlake National Forest is longer but definitely worth it if you have the time to spare.</p>
    </section>


    <!-- Chimney Rock and Goosenecks Overlook Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="chimney-rock"></a>
        <h2 class="left-heading destination-section-heading">Chimney Rock &amp; Goosenecks&nbsp;Overlook</h2>
        <p>On the western side of Captiol Reef you might consider hiking the 3.4 mile (5.5 km) round-trip Chimney Rock Loop Trail which climbs up into the cliffs above the <strong>Chimney Rock</strong> formation, offering amazing views over the area. Alternatively you can enjoy views of Chimney Rock from the trailhead. Nearby Chimney Rock you can stop at the popular <strong>Goosenecks Overlook</strong>, which offers views over Sulphur Creek Canyon.</p>
    </section>


    <!-- Fruita Area Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="fruita-area"></a>
        <h2 class="left-heading destination-section-heading">Fruita Area Attractions</h2>
        <p>Near the center of the park is the tiny town of Fruita, which hosts Capitol Reef's visitor center along with several interesting attractions. Here you can admire the historic Fruita Schoolhouse that was last used in 1941, and stop to view Native American <strong>Petroglyphs</strong> carved into the red wall of the canyon. A popular hike beginning near Fruita is the 1.7 mile (2.7 km) round-trip <strong>Cohab Canyon Trail</strong>, which offers strange and beautiful scenery, along with views over Fruita.</p>
        <h3>Cassidy Arch</h3>
        <p>Just south of Fruita is Capitol Reef's second most popular trail, the 3.2 mile (5.1 km) round-trip hike to <strong>Cassidy Arch</strong>. This hike ventures through a vibrant canyon, before gaining elevation and offering stunning views over the scenic surrounding landscape.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Pioneer Register</h3>
            <p>Also noteworthy in this section of the park are the old inscriptions of past settlers in the area carved into a rock wall, called the Pioneer Register.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capitol Reef 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5991406781"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Hickman Natural Bridge, Capitol Dome, and Factory Butte Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the stunning giant Hickman Natural Bridge at Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Hickman-Natural-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hickman Natural Bridge</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/19414390@N04/31126651036/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/19414390@N04/" rel="noopener noreferrer" target="_blank">
                                    Christian Keller</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hickman Natural Bridge Trail view overlooking the beautiful green valleys of Capitol Reef surrounded by red rock cliffs"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Hickman-Natural-Bridge-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Hickman Natural Bridge Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning pointed Capital Dome formation seen along the road traveling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Capital Dome</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Distant view of the massive Factory Butte under the shade of a cloud, located near Caineville outside Capitol Reef"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Factory-Butte.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Factory Butte</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Hickman Natural Bridge Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="hickman-natural-bridge"></a>
        <h2 class="left-heading destination-section-heading">Hickman Natural Bridge</h2>
        <p>Just east of Fruita is the park's most popular hike, the 1.7 mile (2.7 km) round-trip Hickman Bridge Trail. This hike offers beautiful scenery with gorgeous views over the park and concludes at the <strong>Hickman Natural Bridge</strong> formation.</p>
        <h3>Capital Dome</h3>
        <p>A bit further east along the road from the Hickman Bridge is the iconic <strong>Captial Dome</strong> formation, which you can admire along the road to the national park's exit.</p>
        <h3>Factory Butte</h3>
        <p>To the east of Capitol Reef along the highway near Caineville you can admire the towering <strong>Factory Butte</strong> formation from afar, which looks like a massive castle atop a mesa rising above the desert. You can drive closer to it if you'd like a better view, as it sits about 5 miles (8 km) back from the highway.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capitol Reef 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4095871185"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Cathedral Valley and Northern Capitol Reef Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Colorful shades of the Bentonite Hills of Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Bentonite-Hills.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bentonite Hills (4x4)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/3723677310/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the Jailhouse Rock formation from Capitol Reef National Park's Lower South Desert Overlook"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Lower-South-Desert-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower South Desert Overlook (4x4)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gsec/19286353515/in/photolist-4MzP3a-wC6pk3-vogBh4-vkY4Pm-vogAYt-vogB1x-v6No6t/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gsec/" rel="noopener noreferrer" target="_blank">
                                    Greater SW Exploration Co.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the Walls of Jericho natural formation of Capitol Reef National Park from the Upper Cathedral Valley Overlook"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Upper-Cathedral-Valley-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Upper Cathedral Valley Overlook (4x4)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gsec/19099978229/in/photolist-4MzP3a-wC6pk3-vogBh4-vkY4Pm-vogAYt-vogB1x-v6No6t/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gsec/" rel="noopener noreferrer" target="_blank">
                                    Greater SW Exploration Co.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive temple-shaped Temple of the Sun formation towering above the Cathedral Valley of Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Temple-of-the-Sun.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of the Sun (4x4)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gsec/18663877584/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gsec/" rel="noopener noreferrer" target="_blank">
                                    Greater SW Exploration Co.</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Temple of the Moon Formation adjacent to Temple of the Sun in Capitol Reef National Park's Cathedral Valley"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Temple-of-the-Moon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Temple of the Moon (4x4)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/32095914565/in/photolist-NxxahX-ndou8K-7aKZDF-6EYFN6-6EYFFD-7aL2xM-6F3QUy-QUcXck-v6G7Ld-PBRDLG-urgfyQ/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cathedral Valley and Northern Capitol Reef Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cathedral-valley"></a>
        <h2 class="left-heading destination-section-heading">Cathedral Valley (4x4&nbsp;or&nbsp;Tour&nbsp;Only)</h2>
        <p>The following attractions are only recommended for a 4x4 high-clearance vehicle, which you can use to explore some lesser-known and more remote parts of Northern Capitol Reef National Park and its Cathedral Valley. Alternatively you can pay for a private tour through this gorgeous landscape.</p>
        <p>The entire 4x4 route is approximately 65 miles (105 km) round-trip but takes a very long time due to the very rough road conditions, therefore the it's recommended to set aside most of a day in order to see this are of the park.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <h3>Finding the 4x4 Route Entrance</h3>
            <p>These attractions are listed in order along a highly recommended route through the northern part of Capitol Reef. To the east of Fruita off of Highway 24 you'll find Heartnet Road from which you'll need to drive across the Fremont River and continue north towards the first sight, the Water Well Oasis, which consists of an interesting deserted old truck along the road.</p>
            <h3>Overlooks &amp; Formations</h3>
            <p>Next you'll drive through the beautiful multi-colored <strong>Bentonite Hills</strong>. From here you can continue to the first viewpoint along the route, the <strong>Lower South Desert Overlook</strong>, which provides views over the impressive Jailhouse Rock formation.</p>
            <p>Continue along the road now to the Upper South Desert Overlook which provides fantastic views over an untouched landscape, accessible via a 0.5 mile (0.8 km) round-trip trail. Just across from this viewpoint is the <strong>Upper Cathedral Valley Overlook</strong>, from which you can see several major rock formations including Cathedral Mountain and Needle Mountain.</p>
            <p>Next you'll turn onto Cathedral Valley Road and pass these sights up close as well as the stunning Walls of Jericho formation before arriving at the giant Gypsum Sinkhole in the ground.</p>
            <h3>Temple of the Sun &amp; Moon</h3>
            <p>Continue through scenic Cathedral Valley to see its most famous sights which are all right next to each other, including the stunning <strong>Temple of the Sun</strong> and <strong>Temple of the Moon</strong> rocks, as well as the glass-like Glass Mountain gypsum rock formation. Lastly you can look out to the colorful Black Mountain before leaving Cathedral Valley and returning to Highway 24 via Caineville Wash.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capitol Reef 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9459878503"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Goblin Valley and San Rafael Swell Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning reddish-brown hoodoo formations of Goblin Valley State Park in Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Goblin-Valley-State-Park-Goblin-Valley.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Goblin Valley</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/26103496626/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Towering red rock formation of Molly's Castle seen along Carmel Canyon Loop Trail at Utah's Goblin Valley State Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Goblin-Valley-State-Park-Carmel-Canyon-Loop-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Carmel Canyon Loop (Goblin&nbsp;Valley)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the stunning Wild Horse Window framing the blue sky, found along Utah's San Rafael Swell near Goblin Valley"
                        data-src="https://www.travelimager.com/images/utah/Utah-San-Rafael-Swell-Recreation-Area-Wild-Horse-Window.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wild Horse Window</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hikers walking through the rugged slot-like Little Wildhorse Canyon located in Utah's San Rafael Swell Recreation Area"
                        data-src="https://www.travelimager.com/images/utah/Utah-San-Rafael-Swell-Recreation-Area-Little-Wild-Horse-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Little Wildhorse Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/4048405321/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sandy pathway below the walls of Bell Canyon which connects to Little Wildhorse Canyon along Utah's San Rafael Swell"
                        data-src="https://www.travelimager.com/images/utah/Utah-San-Rafael-Swell-Recreation-Area-Bell-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Bell Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gsec/19099978229/in/photolist-4MzP3a-wC6pk3-vogBh4-vkY4Pm-vogAYt-vogB1x-v6No6t/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Goblin Valley State Park Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="goblin-valley-state-park"></a>
        <h2 class="left-heading destination-section-heading">Goblin Valley State Park</h2>
        <p>To the northeast of Capitol Reef National Park is the otherworldly <strong>Goblin Valley State Park</strong>, where you can admire countless mushroom-shaped hoodoo formations set amongst a strange but scenic landscape. The best way to experience these alien-like formations is to wander around them on foot, choosing your own path.</p>
        <p>A great short hike the park offers is the 1.4 mile (2.3 km) round-trip <strong>Carmel Canyon Loop Trail</strong>, which includes a walk amongst some of the hoodoos, the striking Molly's Castle formation, a small slot canyon, and the Three Sisters formation.</p>
    </section>


    <!-- Wild Horse Window Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="wild-horse-window"></a>
        <h2 class="left-heading destination-section-heading">Wild Horse Window</h2>
        <p>Just north of Goblin Valley you might consider hiking an amazing lesser-known trail, the 1.9 mile (3.1 km) round-trip hike to the <strong>Wild Horse Window</strong>, a huge cave with a giant hole in the top of it that's quite stunning. The window is part of the massive San Rafael Swell formation, and the finding the trail can be a little bit challenging.</p>
        <!-- Read More Read Less Tab -->
        <div class="hidden-content">
            <p>From the parking area you'll be able to make out a faint trail that travels mostly straight directly in front of you, before it reaches the giant rock of the swell formation.</p>
            <p>Once reaching the rock swell you'll need to walk up along the swell heading almost completely straight up the rock, towards the two giant holes which look like eyes (the window is inside of one). The window is only a little bit to the right, so just make sure to keep walking up the rock and not into the canyon wash on your left. You'll see more dirt trails as you get closer to the window that you'll follow.</p>
        </div>
        <button type="button" class="collapsible-content">Read More...</button>
    </section>


    <!-- Little Wild Horse and Bell Canyons Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="little-wild-horse-and-bell-canyon"></a>
        <h2 class="left-heading destination-section-heading">Little Wild Horse &amp; Bell Canyons</h2>
        <p>Also popular in the San Rafael Swell area is the extraordinary <strong>Little Wild Horse Bell Canyon Trail</strong>, a 7.8 mile (12.6 km) round-trip loop through a slot canyon that's quite popular but also time-consuming. The trailhead for this beautiful winding slot canyon is located just west of Goblin Valley.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Capitol Reef Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8146796838"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Capitol Reef National Park &amp; Goblin&nbsp;Valley Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Adr45mU7RRG2">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/rqc29t3hH1A2">&rArr; All Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/JdU3kMBGt412">&rArr; 4x4 or Tour Only</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        Canyonlands National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        Arches National&nbsp;Park &amp; Moab
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                            webpascal</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        Bryce Canyon National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        Cedar&nbsp;Breaks &amp; Kolob&nbsp;Canyons
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning view over the mesas and buttes of Monument Canyon from Grand View in Colorado National Monument of Western Colorado"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Colorado-National-Monument-Grand-View-West.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/colorado-national-monument-attractions-guide">
                        Colorado National&nbsp;Monument, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/34667838504/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    