<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Kanarra Creek Canyon Trail Waterfall and Ladder near Kolob Canyons of Southeastern Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Southwestern-Utah-Kanarraville-Kanarra-Creek-Canyon-Trail-Waterfall-and-Ladder-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Cedar Breaks National Monument & Kolob Canyons, Utah, & plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="cedar_breaks_national_monument_utah" />
    <meta name="attraction_guides" content="kolob_canyons_utah" />
    <meta name="usa_attraction_guides" content="cedar_breaks_national_monument_utah" />
    <meta name="usa_destinations" content="cedar_breaks_national_monument_utah" />
    <meta name="usa_destination_guides" content="cedar_breaks_national_monument_utah" />
    <meta name="utah_attraction_guides" content="cedar_breaks_national_monument" />
    <meta name="utah_attraction_guides" content="kolob_canyons" />
    <meta name="utah_destinations" content="cedar_breaks_national_monument" />
    <meta name="utah_destinations" content="kolob_canyons" />
    <meta name="utah_destination_guides" content="cedar_breaks_national_monument" />
    <meta name="utah_destination_guides" content="kolob_canyons" />
    <meta name="national_park_attraction_guides" content="cedar_breaks" />
    <meta name="national_park_attraction_guides" content="kolob_canyons" />
    <meta name="google_maps_list" content="cedar_breaks_national_monument" />
    <meta name="google_maps_list" content="kolob_canyons" />
    <meta property="og:title" content="Cedar Breaks & Kolob Canyons, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Southwestern-Utah-Kanarraville-Kanarra-Creek-Canyon-Trail-Waterfall-and-Ladder.jpg">
    <meta name="twitter:title" content="Cedar Breaks & Kolob Canyons, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Southwestern-Utah-Kanarraville-Kanarra-Creek-Canyon-Trail-Waterfall-and-Ladder.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
    <title>Attractions Guide for Cedar Breaks & Kolob Canyons, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Cedar Breaks &amp; Kolob Canyons, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#zion-kolob-canyons">Kolob Canyons (Zion)</a></div>
            <div><a href="#kanarra-creek-falls">Kanarra Creek Falls</a></div>
            <div><a href="#cedar-breaks-national-monument">Cedar Breaks</a></div>
            <div><a href="#red-cliffs-recreation-area">Red Cliffs</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Southwestern Utah Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>In the area of Southwestern Utah around Zion Canyon you'll find many great attractions, including Cedar Breaks National Monument, the Kolob Canyons of West Zion National Park, the Kanarra Creek Canyon Waterfalls, and more. This entire area of Utah is especially scenic and rich in natural beauty, everywhere you look.</p>
    </section>


    <!-- Kolob Canyons (Zion) and Kanarraville Falls Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Red street leading to the scenic landscape of West Zion National Park's Kolob Canyons" 
                        src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Scenic-Drive.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kolob Canyon Scenic&nbsp;Drive</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23155134@N06/26830325717/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                                    Don Graham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah" 
                        src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Middle Fork Taylor&nbsp;Creek Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Overlooking the sheer massive cliffs of West Zion's Kolob Canyons from atop the Timber Creek Overlook Trail"
                        src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Timber-Creek-Overlook-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Timber Creek Overlook Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dknuth/8097244616/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dknuth/" rel="noopener noreferrer" target="_blank">
                                   Doug Knuth</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Gorgeous slot canyon waterfalls of the Kanarra Creek Canyon trail beside a laddernear Kanarraville, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Southwestern-Utah-Kanarraville-Kanarra-Creek-Canyon-Trail-Waterfall-and-Ladder.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kanarra Creek Canyon Falls Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://commons.wikimedia.org/w/index.php?title=File:Kanarraville,_United_States_(Unsplash).jpg&action=history" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://unsplash.com/@jakeufkes" rel="noopener noreferrer" target="_blank">
                                    Jacob Ufkes</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Kolob Canyons Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="zion-kolob-canyons"></a>
        <h2 class="left-heading destination-section-heading">Kolob Canyons of Zion</h2>
        <p>In West Zion National Park off of Highway 15 you can drive along <strong>Kolob Canyon Scenic Drive</strong>, which offers views over the stunning Kolob Canyons of Zion.</p>
        <p>Along the road you might stop to hike the beautiful <strong>Middle Fork Taylor Creek Trail</strong> which travels through one of the colorful Kolob Canyons alongside a creek and lush vegetation, with a round-trip distance of 5.2 miles (8.4 km).</p>
        <p>At the end of the road is a viewpoint over more of these striking canyons, with an optional 1.2 mile (1.9 km) round-trip hike to get an even better view via the <strong>Timber Creek Overlook Trail</strong>.</p>
    </section>



    <!-- Kanarra Creek Falls of Kanarraville Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="kanarra-creek-falls"></a>
        <h2 class="left-heading destination-section-heading">Kanarra Creek Falls of Kanarraville</h2>
        <p>Just north of the Kolob Canyons is one of the most popular hikes outside of Zion, the 2.8 mile (4.5 km) round-trip <strong>Kanarra Creek Canyon Trail</strong>. This trail travels along another stunning creek through a tall red canyon, with several gorgeous waterfalls along the path and step ladders in place to climb above the falls. Be sure to bring waterproof hiking boots as you will need to walk through the creek.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cedar Breaks Kolob Canyons 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3457576933"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Cedar Breaks National Monument and Red Cliffs Recreation Area Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Snowy red rock cliffs of Cedar Breaks National Monument seen from the North View Lookout"
                        data-src="https://www.travelimager.com/images/utah/Utah-Cedar-Breaks-National-Monument-North-View-Lookout.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">North View Lookout</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/44733853@N00/2508774623/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/44733853@N00/" rel="noopener noreferrer" target="_blank">
                                    jrcahoon</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>
                
                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the tall red cliffs of Utah's Cedar Breaks National Monument from the Chessman Ridge Overlook"
                        data-src="https://www.travelimager.com/images/utah/Utah-Cedar-Breaks-National-Monument-Chessman-Ridge-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Chessman Ridge Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/twbuckner/2583869085/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/twbuckner/" rel="noopener noreferrer" target="_blank">
                                    -ted</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Vast landscape of red and white cliffs of Cedar Braks National Monument admired from the Point Supreme Overlook"
                        data-src="https://www.travelimager.com/images/utah/Utah-Cedar-Breaks-National-Monument-Point-Supreme-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Point Supreme Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ciamabue/4956199795/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ciamabue/" rel="noopener noreferrer" target="_blank">
                                    Jon Connell</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Striking hoodoo formations set amongst red rock cliffs and canyons, seen from Cedar Breaks National Monument's Spectra Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Cedar-Breaks-National-Monument-Spectra-Point-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spectra Point Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/124215355@N02/14654833633/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/124215355@N02/" rel="noopener noreferrer" target="_blank">
                                    Walt Haas</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Hoodoo formations amongst the red rock cliffs of Utah's Cedar Breaks National Monument seen from the Ramparts Overlook"
                        data-src="https://www.travelimager.com/images/utah/Utah-Cedar-Breaks-National-Monument-Ramparts-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ramparts Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/sloanpix/37220708686/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/sloanpix/" rel="noopener noreferrer" target="_blank">
                                    Chris Sloan</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking vast forests and mountains of Southwestern Utah from atop Brian Head Peak, near Cedar Breaks National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Cedar-Breaks-National-Monument-Brian-Head-Peak-Observation.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Brian Head Peak Observation</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mfoubister/40682168360/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mfoubister/" rel="noopener noreferrer" target="_blank">
                                    Murray Foubister</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Cliffside trail leading to Cascade Falls, the source of the Virgin River which flows through Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Southwestern-Utah-Duck-Creek-Village-Cascade-Falls-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cascade Falls Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/3942419929/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small waterfall flowing through the river gorge Red Reef Trail of Southwestern Utah in the Red Cliffs Recreation Area"
                        data-src="https://www.travelimager.com/images/utah/Utah-Southwestern-Utah-Red-Cliffs-Recreation-Area-Red-Reef-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Red Reef Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/peruvianprincess/13974073743/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/peruvianprincess/" rel="noopener noreferrer" target="_blank">
                                    Lara Farhadi</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Cedar Breaks National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cedar-breaks-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Cedar Breaks National Monument</h2>
        <p>North of Zion National Park is a magnificent hoodoo landscape similar to Bryce Canyon, called Cedar Breaks National Monument. You can drive around the rim of this incredible geological feature to take in multiple viewpoints from the <strong>North View Lookout</strong>, <strong>Chessman Ridge Overlook</strong>, and <strong>Point Supreme Overlook</strong>.</p>
        <p>From Point Supreme, you can take a 1.6 mile (2.6 km) round-trip hike to <strong>Spectra Point Lookout</strong>, or extend this trail to a 3.3 mile (5.3 km) round-trip hike that includes the <strong>Ramparts Overlook</strong>, which offer different perspectives looking over this breathtaking natural amphitheater.</p>
        <h3>Brian Head Peak</h3>
        <p>You can also take in distant views over Cedar Breaks set amongst the surrounding forests from nearby <strong>Brian Head Peak Observation</strong> (near North View Lookout).</p>
        <h3>Cascade Falls (Virgin River)</h3>
        <p>Also in this area is the highly recommended 1.2 mile (1.9 km) round-trip <strong>Cascade Falls Trail</strong>, which provides amazing views overlooking North Zion National Park and leads to Cascade Falls, the spring source for the North Fork of the Virgin River that flows through the Zion Narrows and through Zion Canyon.</p>
    </section>


    <!-- Red Cliffs Recreation Area Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="red-cliffs-recreation-area"></a>
        <h2 class="left-heading destination-section-heading">Red Cliffs Recreation Area</h2>
        <p>Southwest of Zion National Park is a stunning red river gorge with waterfalls that you can hike via the easy 2.2 mile (3.5 km) round-trip <strong>Red Reef Trail</strong>, which starts behind the Red Cliffs Campground.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Cedar Breaks Kolob Canyons Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4462702698"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Cedar Breaks &amp; Kolob Canyons Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/GyhgtZW2WMr">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/wMQ7CbQNzgw">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        Bryce Canyon National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/valley-of-fire-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredibly beautiful pink wave-like patterns on the rocks of the Fire Wave Trail in Nevada's Valley of Fire at golden hour"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Valley-of-Fire-State-Park-Fire-Wave-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/valley-of-fire-attractions-guide">
                        Valley of Fire State&nbsp;Park, Nevada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/34755886070/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Half-size replica of the Eiffel Tower at Paris Casino seen behind the Fountains of Bellagio at night along Las Vegas Strip"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Las-Vegas-Paris-Casino.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        Las Vegas, Nevada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/las-vegas-paris-night-tourism-864881/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    