<% layout('layouts/boilerplate') %>
    
    <meta name="description" content="Discover top attractions and hiking trails in Grand Staircase Escalante, Utah, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="grand_staircase_escalante_utah" />
    <meta name="usa_attraction_guides" content="grand_staircase_escalante_utah" />
    <meta name="usa_destinations" content="grand_staircase_escalante_utah" />
    <meta name="usa_destination_guides" content="grand_staircase_escalante_utah" />
    <meta name="utah_attraction_guides" content="grand_staircase_escalante" />
    <meta name="utah_destinations" content="grand_staircase_escalante" />
    <meta name="utah_destination_guides" content="grand_staircase_escalante" />
    <meta name="national_park_attraction_guides" content="grand_staircase_escalante" />
    <meta name="national_park_attraction_guides" content="glen_canyon" />
    <meta name="google_maps_list" content="grand_staircase_escalante" />
    <meta property="og:title" content="Grand Staircase Escalante, Utah Attractions Guide">
    <meta name="twitter:title" content="Grand Staircase Escalante, Utah Attractions Guide">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
    <title>Attractions Guide for Grand Staircase Escalante National Monument, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Grand Staircase Escalante National&nbsp;Monument, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#lower-calf-creek-falls">Calf Creek Falls</a></div>
            <div><a href="#slot-canyons">Slot Canyons</a></div>
            <div><a href="#jacob-hamblin-arch">Jacob Hamblin Arch</a></div>
            <div><a href="#reflection-canyon">Reflection Canyon</a></div>
            <div><a href="#cosmic-ashtray">Cosmic Ashtray</a></div>
            <div><a href="#golden-cathedral">Golden Cathedral</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Grand Staircase-Escalante National Monument Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Grand Staircase-Escalante National Monument is massive and very remote, located about half-way between Bryce Canyon and Capitol Reef National Parks in an area of outstanding natural beauty.</p>
        <p>The larger town within the park is Escalante, which is a great hub point for exploring the park. South of Escalante along BLM 200 (Hole in the Rock Road) is where you'll find a majority of the area's greatest hikes. The road is a dirt washboard and is a bit rough, however it can be driven along slowly with almost any car.</p>
    </section>


    <!-- Lower Calf Creek Falls and Slot Canyons Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Beautiful Lower Calf Creek Falls flowing over the cliffs near Escalante, Utah" 
                        src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Lower-Calf-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Lower Calf Creek Falls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/usgeologicalsurvey/15310834533/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/usgeologicalsurvey/" rel="noopener noreferrer" target="_blank">
                                    U.S. Geological Survey</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Looking along the stunning striped canyon walls of the Zebra Slot Canyon in Grand Staircase-Escalante National Monument" 
                        src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Zebra-Slot-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Zebra Slot Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/3684624275/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Sandy trail below the tunnel-like walls of Tunnel Slot Canyon in Grand Staircase-Escalante National Monument, Utah"
                        src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Tunnel-Slot-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Tunnel Slot Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/dsoltesz/3570458281/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/dsoltesz/" rel="noopener noreferrer" target="_blank">
                                    Deborah Lee Saltesz</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Thin bone-like Metate Arch located in the Devils Garden Area of Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Devils-Garden-Metate-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Metate Arch (Devils&nbsp;Garden)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/2519294355/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking along the smooth red walls of Peek-a-Boo Slot Canyon in Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Peek-a-Boo-Slot-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Peek-a-Boo Slot&nbsp;Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/achillifamily/29320667370/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/achillifamily/" rel="noopener noreferrer" target="_blank">
                                    Achilli Family Journeys</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Beautiful rounded red rock walls of the Spooky Slot Canyon in Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Spooky-Slot-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Spooky Slot Canyon</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/theobine/4039518753/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/theobine/" rel="noopener noreferrer" target="_blank">
                                    theobine</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Lower Calf Creek Falls Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="lower-calf-creek-falls"></a>
        <h2 class="left-heading destination-section-heading">Lower Calf Creek Falls</h2>
        <p>Along Highway 12 between Escalante and Boulder (northeast of Escalante) is one of the park's most popular hikes, the 5.5 mile (8.9 km) round-trip <strong>Lower Calf Creek Falls Trail</strong>, which winds alongside Calf Creek through a beautiful canyon with an impressive waterfall at the end.</p>
    </section>


    <!-- Slot Canyons Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="slot-canyons"></a>
        <h2 class="left-heading destination-section-heading">Slot Canyons</h2>
        <h3>Zebra &amp; Tunnel Slot Canyons</h3>
        <p>South of Escalante along BLM 200 (Hole in the Rock Road) is where you'll find a majority of the area's greatest hikes. The road is a dirt washboard and is a bit rough, however it can be driven along slowly with almost any car.</p>
        <p>The first slot canyon trail you'll encounter is the 6.6 mile (10.6 km) round-trip Zebra/Tunnel Slots Trail, which combines the <strong>Zebra Slot Canyon</strong> and <strong>Tunnel Slot Canyon</strong> by making a loop. Be prepared to get wet with this trail as there's lots of water in these slots, and make sure to know the proper hiking route before you take on this trail.</p>
        <h3>Devils Garden</h3>
        <p>The next attraction you'll encounter heading south along Hole in the Rock Road is the bizarre <strong>Devils Garden</strong>, which contains multi-colored hoodoo formations, two of which form the unique <strong>Metate Arch</strong>.</p>
        <h3>Peek-a-Boo &amp; Spooky Slot&nbsp;Canyons</h3>
        <p>Continue much further down the road to the area's most popular slot canyon trail, which combines the <strong>Peek-a-Boo Slot Canyon</strong> and <strong>Spooky Slot Canyon</strong>. The round-trip trail length is approximately 4.8 miles (7.7 km) with most vehicles, or 3 miles (4.8 km) total if you have a 4x4 or high-clearance vehicle and park at the closer trailhead.</p>
        <p>The optimal hiking route for this trail is to start with Peek-a-Book Canyon, and once you exit the slot canyon turn right (east) and walk over the rock hill to the large sandy area of Spooky Gulch Top, where you'll now traverse Spooky Gulch Canyon and then turn right (west) upon leaving the canyon to reconnect to the trail which leads to the parking area.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Grand Staircase Escalante 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1836539357"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Jacob Hamblin Arch, Coyote Gulch, and Sunset Arch Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Massive Jacob Hamblin Arch spanning over the stream of Coyote Gulch in Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Jacob-Hamblin-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Jacob Hamblin Arch<br />(Coyote&nbsp;Gulch)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6055747551/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small portal shaped Coyote Natural Bridge spanning over the Coyote Gulch in Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Coyote-Natural-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coyote Natural Bridge<br />(Coyote&nbsp;Gulch)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6092653229" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Coyote Gulch Waterfalls</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Elusive cliffside Cliff Arch found along the Coyote Gulch at Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Cliff-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cliff Arch<br />(Coyote&nbsp;Gulch)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregw66/3684629545/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregw66/" rel="noopener noreferrer" target="_blank">
                                    Greg Willis</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the hole-like Stevens Arch caved out of the massive canyon wall above the Escalante River near Coyote Gulch"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Stevens-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Stevens Arch<br />(Coyote&nbsp;Gulch)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mccaughan/7543000548/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mccaughan/" rel="noopener noreferrer" target="_blank">
                                    Doug McCaughan</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Close-up view of rugged sunset arch seen at Golden Hour in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Sunset-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sunset Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/ajithdauk/30908708393/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/ajithdauk/" rel="noopener noreferrer" target="_blank">
                                    Ajith Kumar</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Jacob Hamblin Arch Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="jacob-hamblin-arch"></a>
        <h2 class="left-heading destination-section-heading">Jacob Hamblin Arch &amp; Coyote&nbsp;Gulch</h2>
        <p>Further south into the national monument along Road BLM 200 is the incredible Coyote Gulch trail, which has several options for hiking. When hiking the Coyote Gulch Trail it's strongly recommended to bring a rope just in case you may need to use it for support on the ascent/descent to the Coyote Gulch canyon.</p>
        <p>Parking at the Moki Stairs Sneaker Route near the water tank off of Road you can hike approximately 4 miles (6.4 km) round-trip to see the breathtaking <strong>Jacob Hamblin Arch</strong>, which is located inside the gulch. This parking area is located off of Road BLM 270, which is accessed via Road BLM 200.</p>
        <h3>Coyote Natural Bridge &amp; Black&nbsp;Lagoon</h3>
        <p>You can add on an additional 5 miles (8 km) round-trip if you'd like to continue along this gorgeous gulch creek trail for a serene walk to another massive arch, the <strong>Coyote Natural Bridge</strong> and the stunning hidden Black Lagoon, both of which are highly recommended. This route is approximately 9 miles (14.5 km) round-trip.</p>
        <h3>Escalante River &amp; Stevens&nbsp;Arch</h3>
        <p>The full route following the Coyote Gulch to the confluence of the Escalante River passes tiny stunning waterfalls and the striking <strong>Cliff Arch</strong>, before offering views of the massive <strong>Stevens Arch</strong>, which sits above the Escalante River. This full route is approximately 14 miles (22.5 km) round-trip, returning up Crack in the Wall from the Escalante River and then walking along the desert back to the parking lot.</p>
        <p>In order to see Stevens Arch up-close you'll need to cross the Escalante River. Note that it's also possible to do this route backwards if you like by starting at the Crack in the Wall.</p>  
    </section>


    <!-- Sunset Arch Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-section-heading">Sunset Arch</h2>
        <p>Also notable is the 2.7 mile (4.3 km) round-trip walk from the Moki Stairs Sneaker Route Trailhead (also known as the Water Tank Trailhead) to <strong>Sunset Arch</strong>, which is located directly to the south of the trailhead.</p>  
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Grand Staircase Escalante 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="8962127001"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Reflection Canyon, Cosmic Ashtray, and Golden Cathedral Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down over the rounded white and brown canyon walls and pillars of Reflection Canyon along Lake Powell"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Reflection-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reflection Canyon<br />(4x4&nbsp;or&nbsp;Boat&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pxhere.com/en/photo/1126542" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pxhere.com" rel="noopener noreferrer" target="_blank">
                                    pxhere</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the winding Reflection Canyon of Lake Powell reached via hike from Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Reflection-Canyon-Boat.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Reflection Canyon<br />(4x4&nbsp;or&nbsp;Boat&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/colorado-river-boat-recreation-2141844/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/272447-272447/" rel="noopener noreferrer" target="_blank">
                                    272447</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning white bowl-like Cosmic Ashtray formation filled with dark brown sand at Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Cosmic-Ashtray.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Cosmic Ashtray<br />(4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/17174746499/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Sun shining through the hole in the rocky ceiling of the Golden Cathedral at Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Golden-Cathedral.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Golden Cathedral<br />(4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/3874296733/in/album-72157622064749453/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Beautiful red rock mountain formation seen along Grand Staircase-Escalante National Monument's Neon Canyon"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Neon-Canyon.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Neon Canyon<br />(4x4&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/3871418159/in/album-72157622189355274/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Reflection Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="reflection-canyon"></a>
        <h2 class="left-heading destination-section-heading">Reflection Canyon (4x4&nbsp;or&nbsp;Boat&nbsp;Only)</h2>
        <p>Near the very end of Hole in the Rock Road (BLM 200) is the trailhead for the grandiose <strong>Reflection Canyon</strong>, which is quite a long journey along an unmarked trail to reach. The round-trip length for this trail is approximately 15-18 miles (24-29 km) depending on the route you take.</p>
        <p>Just be sure that before you venture out to see Reflection Canyon that the water levels in Lake Powell are at their lowest, otherwise the iconic canyon may not look as it is suppose to, or the formations may even be completely submerged underwater.</p>
        <p>You can also reach the canyon much easier (but more expensively) by renting a boat on Lake Powell and parking it within the tiny inlet that's located on the west side of the entrance to Reflection Canyon, about 0.5 miles (0.8 km) west of the entrance. This hike has a round-trip distance of approximately 2 miles (3.2 km) to the viewpoint.</p>
    </section>


    <!-- Cosmic Ashtray Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="cosmic-ashtray"></a>
        <h2 class="left-heading destination-section-heading">Cosmic Ashtray (4x4&nbsp;Only)</h2>
        <p>Another hike to consider is to the strange <strong>Cosmic Ashtray</strong> formation, for which the trailhead is located at the end of Spencer Flat Road which connects to Highway 12, southeast from Escalante. This large navel-like formation is filled with vivid brown waters and is very unique. The round-trip distance for this hike is approximately 8.4 miles (13.5 km).</p>
    </section>


    <!-- Golden Cathedral and Neon Canyon Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="golden-cathedral"></a>
        <h2 class="left-heading destination-section-heading">Golden Cathedral &amp; Neon&nbsp;Canyon (4x4&nbsp;Only)</h2>
        <p>Another amazing sight is the breathtaking <strong>Golden Cathedral</strong>, the trailhead for which can be found near the end of Egypt Road (BLM 240), which spurs off of Hole in the Rock Road (BLM 200). This beautiful formation can be found by hiking through Fence Canyon to the Escalante River and then into <strong>Neon Canyon</strong> which leads to the Golden Cathedral.</p>
        <p>Unfortunately it can be very challenging to hike the proper route and find the Cathedral, so be sure you know exactly where you're going beforehand. Also be prepared to cross rivers and get very wet. The round-trip distance for this hike is approximately 9.2 miles (14.8 km). You'll also need climbing gear</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Grand Staircase Escalante Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="4678325116"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Grand Staircase&#8209;Escalante Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/q3ie7C814V92">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/bFG734fHpHM2">&rArr; Coyote Gulch</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/f7BwXH3XQDp">&rArr; 4x4 Only Hikes</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <b>Follow</b>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        Bryce Canyon National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        Cedar&nbsp;Breaks &amp; Kolob&nbsp;Canyons
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
                        Zion National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    