<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Sunrise over the iconic Buttes of Monument Valley, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Monument Valley, Utah / Arizona and plan the perfect trip with our savable Monument Valley Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="monument_valley_utah" />
    <meta name="usa_attraction_guides" content="monument_valley_utah" />
    <meta name="usa_destinations" content="monument_valley_utah" />
    <meta name="usa_destination_guides" content="monument_valley_utah" />
    <meta name="utah_attraction_guides" content="monument_valley" />
    <meta name="utah_destinations" content="monument_valley" />
    <meta name="utah_destination_guides" content="monument_valley" />
    <meta name="google_maps_list" content="monument_valley" />
    <meta property="og:title" content="Monument Valley, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg">
    <meta name="twitter:title" content="Monument Valley, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/monument-valley-attractions-guide">
    <title>Attractions Guide for Monument Valley, Utah/Arizona</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Monument Valley, Utah&nbsp;/&nbsp;Arizona<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-6 in-page-nav" id="sticky-header">
            <div><a href="#self-tour">Self-Tour</a></div>
            <div><a href="#john-ford-point">John Ford Point</a></div>
            <div><a href="#wildcat-trail">Wildcat Trail</a></div>
            <div><a href="#guided-tours">Guided Tours</a></div>
            <div><a href="#forrest-gump-point">Forrest Gump Point</a></div>
            <div><a href="#more-attractions">More Attractions</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Monument Valley Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The famous Monument Valley is a stunning desert landscape with massive sandstone buttes and mesas that rise above rise high above the valley floor. This valley has been depicted in many films and TV shows as an idyllic portrayal of the great American Southwest. The valley has been featured in a large percentage of Western films, as well as newer films such as Cars, The Lone Ranger, Fantastic Beasts, Jurassic World, and the Westworld TV show.</p>
        <p>Monument Valley sits along the border of Arizona and Utah and is a Navajo Tribal Park, separate from America's national park system.</p>
    </section>


    <!-- Monument Valley, John Ford Point, and Wildcat Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Overlooking the iconic Merrick Butte and Mittens of Monument Valley in the shade along the border of Utah and Arizona" 
                        src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monument Valley View</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kenlund/66047730/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                                    Ken Lund</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Sunrise behind the Mittens and Merrick Butte of Monument Valley Tribal Park along the border of Utah and Arizona" 
                        src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monument Valley View (Sunrise)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/monument-valley-utah-landscape-1081996/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/Free-Photos-242387/" rel="noopener noreferrer" target="_blank">
                                    Free-Photos</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Golden hour sunset colors over the Mittens and Merrick Butte of Monument Valley, along the border of Utah and Arizona"
                        src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Monument-Valley-Buttes-2.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Monument Valley View (Sunset)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://pixabay.com/photos/monument-valley-towers-rocky-towers-3753/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://pixabay.com/users/PDPhotos-16/" rel="noopener noreferrer" target="_blank">
                                    PDPhotos</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Iconic view overlooking the buttes and mesas of Monument Valley from the ledge at John Ford Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-John-Ford-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">John Ford Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/2387986170/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the West Mitten butte along Monument Valley's Wildcat Trail along the Arizona and Utah border"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Wildcat-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Wildcat Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gee01/15279475582/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gee01/" rel="noopener noreferrer" target="_blank">
                                    Graeme Maclean</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Monument Valley Self-Tour Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="self-tour"></a>
        <h2 class="left-heading destination-section-heading">Monument Valley Self-Tour</h2>
        <p>One of the best views in Monument Valley can actually be admired near the <strong>Visitor Center</strong>, which overlooks three iconic buttes, the Merrick Butte and the West and East Mittens. These buttes are especially picturesque at sunrise and sunset, as well as under the moonlight.</p>
        <p>From the Visitor Center you can drive along the 17 mile (27.5 km) dirt road loop through the valley, which is incredibly scenic and offers many viewpoints along the way. This road can be driven by practically any vehicle as long as it's not very low to the ground, nor a motorhome or bus.</p>
        <p>Within Monument Valley and especially at John Ford Point you'll find many vendors selling beautiful handmade Navajo jewelry and crafts at low prices, just be sure to purchase within the park as the vendors along the highway outside of Monument Valley charge much higher prices for very similar items.</p>
    </section>


    <!-- John Ford Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="john-ford-point"></a>
        <h2 class="left-heading destination-section-heading">John Ford Point</h2>
        <p>The most iconic part of Monument Valley is <strong>John Ford Point</strong>, which looks out over many buttes and mesas. John Ford Point is frequently used as a setting in many western movies where the cowboys sit on their horses looking out over the wild desert landscape. In fact, you can even pay to have your picture taken sitting atop a horse at John Ford Point.</p>
    </section>


    <!-- Wildcat Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="wildcat-trail"></a>
        <h2 class="left-heading destination-section-heading">Wildcat Trail</h2>
        <p>The only hiking trail within the park is the 3.9 mile (6.3 km) round-trip <strong>Wildcat Trail</strong> which loops around the stunning West Mitten butte, while also passing close by the East Mitten and Merrick Butte. You'll fined the trailhead for the Wildcat Trail just north of the Visitors Center near the View Campground parking lot.</p>
    </section>





    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Monument Valley 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6833715162"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    
    <!-- Monument Valley Guided Tours, Forrest Gump Point, and More Nearby Attractions Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque view of the Ear of the Wind Arch in the cliffs framed behind the branches of a tree in Monument Valley"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Ear-of-the-Wind.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Ear of the Wind Arch (Tour)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gee01/9906065263/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gee01/" rel="noopener noreferrer" target="_blank">
                                    Graeme Maclean</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking up at the Suns Eye Arch framed against the sky, only accessible via tour in Monument Valley"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Suns-Eye.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Suns Eye Arch (Tour)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/kevygee/6373777691/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/kevygee/" rel="noopener noreferrer" target="_blank">
                                    Kevin Galens</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Looking down the iconic stretch of Highway 163 towards Monument Valley from Gorrest Gump Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Monument-Valley-Forrest-Gump-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Forrest Gump Point&nbsp;/&nbsp;Hill</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/123727295@N07/15028504708/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/123727295@N07/" rel="noopener noreferrer" target="_blank">
                                    Tehani Schroeder</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Appropriately-named Mexican Hat rock formation located near Monument Valley and Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Area-Mexican-Hat-Rock-Formation.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Mexican Hat Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/at2000/7552534364/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/at2000/" rel="noopener noreferrer" target="_blank">
                                    Jim Lemire</a><br />
                            <a href="https://creativecommons.org/licenses/by-nd/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-ND 2.0</a> | <i>Resized</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking the winding gooseneck bends of the San Juan River in Utah's Goosenecks State Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Goosenecks-State-Park-San-Juan-River-Goosenecks-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Goosenecks State&nbsp;Park</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/markbyzewski/20601549984/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/markbyzewski/" rel="noopener noreferrer" target="_blank">
                                    mark byzewski</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>


    <!-- Monument Valley Guided Tours Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="guided-tours"></a>
        <h2 class="left-heading destination-section-heading">Monument Valley Guided Tours</h2>
        <p>To see more of Monument Valley you can book one of several Navajo-led tours, which will take you through parts of Lower Monument Valley that you can't access without a tour. It's highly recommended to book these tours ahead of time, as they are often in high demand (especially the shorter tours).</p>
        <p>Most of these amazing tours include sights such as the <strong>Ear of the Wind Arch</strong>, Moccasin Arch, <strong>Big Hogan</strong>, <strong>Suns Eye Arch</strong>, Anasazi ruins, petroglyphs, and even a cultural performance. The longer tours (2-3 hours) include all of these sights, with the longest adding more time for exploring at photos at each stop.</p>
        <p>Another way to experience the majestic beauty of Monument Valley is via guided horseback tour around the mesas, along trails reserved for horseback only. These tours are a great way to feel like a cowboy experiencing the great American Wild West.</p>
    </section>



    <!-- Forrest Gump Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="forrest-gump-point"></a>
        <h2 class="left-heading destination-section-heading">Forrest Gump Point</h2>
        <p>About 20 minutes north of the Monument Valley Visitor Center along Highway 163 is <strong>Forrest Gump Point / Hill</strong>, which is the famous viewpoint looking down the long desert road featured in many movies, the most notable obviously being Forrest Gump.</p>
        <p>Just be sure that you're cautious when taking photos on this road, as it is part of a highway. Luckily you can see cars coming from miles away, and there are often times with no vehicles around for miles so that you can take a great photo.</p>
    </section>


    <!-- More Attractions Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="more-attractions"></a>
        <h2 class="left-heading destination-section-heading">More Attractions</h2>
        <h3>Mexican Hat</h3>
        <p>North of Monument Valley and Forrest Gump Point you might like to stop to view the interesting <strong>Mexican Hat</strong> rock formation, located just off the highway near the town of Mexican Hat, which was named after the formation.</p>
        <h3>Goosenecks State Park</h3>
        <p>To the east of Mexican Hat is <strong>Goosenecks State Park</strong>, where you can drive right up to a stunning viewpoint which overlooks several massive deep winding canyons carved out by the San Juan River. Notably this state park hosts several very inexpensive primitive campsites, a possible alternative to the more developed hotels and campsites around Monument Valley.</p>
        <h3>Valley of the Gods, Natural Bridges, &amp; More</h3>
        <p>To the north of Monument Valley is the similar Valley of the Gods, which is free to drive through. A bit further north is Utah's Natural bridges State Park. Due to their extremely remote locations, you'd want an addtional day to properly explore these incredible places after seeing Monument Valley. A destination guide for this can be found below.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Monument Valley Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="6818237443"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Monument Valley Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/ZNjRxMqFjXL8vbpn7">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        Valley of the Gods &amp; Natural&nbsp;Bridges
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        Arches National&nbsp;Park &amp; Moab
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                            webpascal</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        Canyonlands National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    