<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Stunning Buttes and Mesas of Valley of the Gods with Bears Ears Nationak Monument, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Distant-Buttes-and-Formations-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions around Valley of the Gods & Natural Bridges, Utah, and plan the perfect trip with our savable Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="valley_of_the_gods_utah" />
    <meta name="attraction_guides" content="natural_bridges_national_monument_utah" />
    <meta name="attraction_guides" content="bears_ears_national_monument_utah" />
    <meta name="usa_attraction_guides" content="valley_of_the_gods_utah" />
    <meta name="usa_attraction_guides" content="natural_bridges_national_monument_utah" />
    <meta name="usa_attraction_guides" content="bears_ears_national_monument_utah" />
    <meta name="usa_destinations" content="valley_of_the_gods_utah" />
    <meta name="usa_destinations" content="natural_bridges_national_monument_utah" />
    <meta name="usa_destinations" content="bears_ears_national_monument_utah" />
    <meta name="usa_destination_guides" content="valley_of_the_gods_utah" />
    <meta name="usa_destination_guides" content="natural_bridges_national_monument_utah" />
    <meta name="usa_destination_guides" content="bears_ears_national_monument_utah" />
    <meta name="utah_attraction_guides" content="valley_of_the_gods" />
    <meta name="utah_attraction_guides" content="natural_bridges_national_monument" />
    <meta name="utah_attraction_guides" content="bears_ears_national_monument" />
    <meta name="utah_destinations" content="valley_of_the_gods" />
    <meta name="utah_destinations" content="natural_bridges_national_monument" />
    <meta name="utah_destinations" content="bears_ears_national_monument" />
    <meta name="utah_destination_guides" content="valley_of_the_gods" />
    <meta name="utah_destination_guides" content="natural_bridges_national_monument" />
    <meta name="utah_destination_guides" content="bears_ears_national_monument" />
    <meta name="national_park_attraction_guides" content="natural_bridges" />
    <meta name="national_park_attraction_guides" content="bears_ears" />
    <meta name="google_maps_list" content="valley_of_the_gods" />
    <meta name="google_maps_list" content="natural_bridges_national_monument" />
    <meta name="google_maps_list" content="bears_ears_national_monument" />
    <meta property="og:title" content="Valley of the Gods & Natural Bridges, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Distant-Buttes-and-Formations.jpg">
    <meta name="twitter:title" content="Valley of the Gods & Natural Bridges, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Distant-Buttes-and-Formations.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
    <title>Attractions Guide for Valley of the Gods & Natural Bridges, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Valley of the Gods &amp; Natural Bridges, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-4 in-page-nav" id="sticky-header">
            <div><a href="#valley-of-the-gods">Valley of the Gods</a></div>
            <div><a href="#moki-dugway-and-muley-point">Moki Dugway &amp; Muley Point</a></div>
            <div><a href="#natural-bridges-national-monument">Natural Bridges</a></div>
            <div><a href="#butler-wash-ruins">Butler Wash Ruins</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Valley of the Gods and Natural Bridges National Monument Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>The Valley of the Gods and Natural Bridges National Monument are located nearby each other in Southeastern Utah, just north of Monument Valley. This area of Utah is quite scenic and extremely remote, however there is much natural beauty to enjoy.</p>
    </section>


    <!-- Valley of the Gods and Natural Bridges National Monument Area Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Cloudy view over the reddish butte formations of the Valley of the Gods in Utah's Bears Ears National Monument" 
                        src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Cloudy.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valley of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mypubliclands/31136244633/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                                    Bureau of Land Management</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Golden hour glow of the buttes and cliffs of Utah's Valley of the Gods within Bears Ears National Monument" 
                        src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Distant-Buttes-and-Formations.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valley of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/iip-photo-archive/35263542523/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/iip-photo-archive/" rel="noopener noreferrer" target="_blank">
                                    GPA Photo Archive</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valley of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                   John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Dirt road towered over by buttes in Utah's Valley of the Gods within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Dirt-Road.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Valley of the Gods</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/131830853@N05/35289409756/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/131830853@N05/" rel="noopener noreferrer" target="_blank">
                                    didier.camus</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Valley of the Gods Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="valley-of-the-gods"></a>
        <h2 class="left-heading destination-section-heading">Valley of the Gods</h2>
        <p>To the north of Monument Valley and Mexican Hat you'll find another gorgeous landscape of buttes and mesas called the <strong>Valley of the Gods</strong>. This valley is similar to Monument Valley and is free to visit, featuring a scenic 17 mile (27.5 km) dirt road that you can drive along to tour the park.</p>
        <p>Be sure to take the eastern entrance to Valley of the Gods Road from Highway 163 north of Mexican Hat, which is only marked by a small sign. The road can be traversed by almost any vehicle in good weather (when mud is not present after the rain) and is highly recommended in addition to Monument Valley.</p>
        <p>The steepest part along the entire dirt road is a small dried-up wash that you'll cross immediately after turning from the highway. If you can make cross this wash without it bumping the bottom of your vehicle, you'll have no issues along the rest of the road. Unless your car sits extremely low to the ground (lower than a Toyota Prius) you should have no issues whatsoever.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valley of the Gods 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="3365243442"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- Valley of the Gods and Natural Bridges National Monument Area Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Overlooking the desert from atop the steep winding Moki Dugway Road at Utah's Bears Ears National Monument" 
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Moki-Dugway-View.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Moki Dugway</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/4074709631/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                   John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Desolate canyons of the San Juan River seen from Muley Point atop Cedar Mesa in Bear Ears National Monument" 
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Cedar-Mesa-Muley-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Muley Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/rjshade/15485279077/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/rjshade/" rel="noopener noreferrer" target="_blank">
                                    Robbie Shade</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the Sipapu Bridge, one of the world's largest natural bridges, in Utah's Natural Bridges National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Natural-Bridges-National-Monument-Sipapu-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Sipapu Bridge<br />(Natural&nbsp;Bridges)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/naturalbridgesnps/9472070625/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/naturalbridgesnps/" rel="noopener noreferrer" target="_blank">
                                   Natural Bridges Nat'l. Mon.</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking along the dried river bed below the Kachina Bridge in Utah's Natural Bridges National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Natural-Bridges-National-Monument-Kachina-Bridge.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kachina Bridge<br />(Natural&nbsp;Bridges)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/32075143476/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Looking up at the Owachomo Bridge framed against the sky in Utah's Natural Bridges National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Natural-Bridges-National-Monument-Owachomo-Bridge-View-from-Below.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Owachomo Bridge<br />(Natural&nbsp;Bridges)</strong><br />
                        <span class="owl-item-credits">
                            <a href="flickr.com/photos/naturalbridgesnps/9472011077/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/naturalbridgesnps/" rel="noopener noreferrer" target="_blank">
                                    Natural Bridges National Monument</a><br />
                            <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy"
                        alt="Anasazi Puebloan cliff dwelling ruins located at Butler Wash in Utah's Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Butler-Wash-Ruins.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Butler Wash Anasazi&nbsp;Ruins</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/mypubliclands/33151734346/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/mypubliclands/" rel="noopener noreferrer" target="_blank">
                                    Bureau of Land Management</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Moki Dugway and Muley Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="moki-dugway-and-muley-point"></a>
        <h2 class="left-heading destination-section-heading">Moki Dugway &amp; Muley Point</h2>
        <p>The western end of Valley of the Gods Road connects to Highway 261, from which you'll head north after reaching. Just after reaching the highway you'll encounter a one-of-a-kind mountain pass within the USA, called the <strong>Moki Dugway</strong>. This steep desert road rises up to a much higher elevation in  a short time and is partially unpaved with no railings, however the road is wide and very safe to drive at low speeds. Along the way up to the top you might stop to enjoy the incredible far-reaching views over the landscape and the buttes and mesa of Monument Valley in the distance.</p>
        <p>Just after reaching the top of the Moki Dugway you can take a short detour from the highway to <strong>Muley Point</strong>, which provides majestic views overlooking more of the vast winding canyons along the San Juan River, upstream from Goosenecks State Park. Muley Point has a very interesting geology of square-shaped pillar rocks eroding along the cliffs and is a fun place to explore on foot.</p>
    </section>


    <!-- Natural Bridges National Monument Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="natural-bridges-national-monument"></a>
        <h2 class="left-heading destination-section-heading">Natural Bridges National Monument</h2>
        <p>After enjoying the Valley of the Gods you can continue much further north up Highway 261 to Natural Bridges National Monument, where you can admire several massive giant bridge within a small scenic area. You can tour through this national momnuemnt along a loop road, along which you can stop to see the three natural bridges along with various viewpoints over the canyon in which the bridges all span above.</p>
        <h3>Sipapu Bridge</h3>
        <p>The first bridge you'll encounter is perhaps the most beautiful, the <strong>Sipapu Bridge</strong>. To properly view this bridge by standing below it, you'll need to hike about 1.3 miles (2.1 km) round-trip with quite a bit of elevation gain (along the way back out the canyon).</p>
        <h3>Three Bridges Trail</h3>
        <p>If you'd like to see all of the bridges via a single hike, you can continue west from the Sipapu Bridge along the canyon floor, before exiting the canyon at the Kachina Bridge. From the Kachina Bridge you would return to your starting point via the Mesa Trail, which is relatively flat and easy after exiting the canyon. The entire length of this route is about 5.9 miles (9.5 km) round-trip.</p>
        <h3>Kachina Bridge</h3>
        <p>The second bridge you'll encounter along the road is the <strong>Kachina Bridge</strong>, which is the least recommended of the three bridges. You can enjoy descent views of the bridge from above at the overlook, or descend into the canyon again via a 1.4 mile (2.3 km) round-trip trail. This bridge is worth the effort if you have plenty of time and energy to spare.</p>
        <h3>Owachomo Bridge</h3>
        <p>The last bridge along the road, the <strong>Owachomo Bridge</strong>, is relatively easy to hike down to, as it is located in a more shallow part of the canyon. The Owachomo Bridge is quite wide and flat, giving it an interesting look. The hike to reach this bridge is about 0.8 miles (1.3 km) round-trip.</p>
    </section>


    <!-- Butler Wash Ruins Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="butler-wash-ruins"></a>
        <h2 class="left-heading destination-section-heading">Butler Wash Ruins</h2>
        <p>One more attraction you might stop at as you head east along Highway 95 from the Natural Bridges is the <strong>Butler Wash Ruins</strong>, an 800 year old Puebloan cliff dwelling.</p>
        <p>You can view the ruins of Butler Wash via a round-trip walk of 0.9 miles from the parking lot off of Highway 95. Make sure you pay attention to reach the proper Butler Wash Ruins Trailhead, as GPS's frequently route to the inaccessible backside of the ridge in which these ruins are located.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Valley of the Gods Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="5520633495"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;List</h3>

        <p class="destinations-save-attractions-header">Save Valley of the Gods &amp; Natural&nbsp;Bridges Attraction List to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/XB6KfDLfD6QUbB5BA">&rArr; Top Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Hand-shaped butte formation in Utah's scenic Valley of the Gods, located within Bears Ears National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bears-Ears-National-Monument-Valley-of-the-Gods-Hand.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/valley-of-the-gods-and-natural-bridges-attractions-guide">
                        Valley of the Gods &amp; Natural&nbsp;Bridges
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/7279723030/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Vast ancestral Puebloan cliff dwelling site known as the Cliff Palace at Colorado's Mesa Verde National Park"
                        data-src="https://www.travelimager.com/images/colorado/Colorado-Mesa-Verde-National-Park-Cliff-Palace.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/colorado/mesa-verde-national-park-attractions-guide">
                        Mesa Verde National&nbsp;Park, Colorado
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/kenlund/4848099059/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/kenlund/" rel="noopener noreferrer" target="_blank">
                            Ken Lund</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic giant Delicate Arch natural arch formation barely supporting its own weight, at Utah's Arches National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Arches-National-Park-Delicate-Arch-Glowing.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/arches-national-park-and-moab-attractions-guide">
                        Arches National&nbsp;Park &amp; Moab
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/sunset-blue-sky-sky-nature-summer-2854724/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/users/webpascal-5370447/" rel="noopener noreferrer" target="_blank">
                            webpascal</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Breathtaking view of the sunrise glowing the underside of iconic Mesa Arch at Canyonlands National Park, Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-Canyonlands-National-Park-Mesa-Arch.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/canyonlands-national-park-attractions-guide">
                        Canyonlands National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/4923407833/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Iconic view overlooking the massive towers of Spider Rock in Canyon de Chelly National Monument, Northern Arizona"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Canyon-de-Chelly-National-Monument-Spider-Rock-Overlook-Wide-View.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/canyon-de-chelly-national-monument-attractions-guide">
                        Canyon de Chelly National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/photos/spider-rock-canyon-de-chelly-3022990/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/fr/users/ducken99-6930886/" rel="noopener noreferrer" target="_blank">
                            ducken99</a><br />
                    <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Stunning wide views over the Grand Canyon from Ooh Aah Point seen along the South Rim's South Kaibab Trail" 
                        data-src="https://www.travelimager.com/images/arizona/Arizona-South-Rim-Grand-Canyon-National-Park-Ooh-Aah-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/south-rim-grand-canyon-attractions-guide">
                        Grand Canyon South&nbsp;Rim, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/nasonurb/6247654391/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/nasonurb/" rel="noopener noreferrer" target="_blank">
                            Bruno S.-Andrade Nuno</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <!-- Extra Div Space -->
            <div class="destination-container"></div>

        </div>

    </section>


    