<% layout('layouts/boilerplate') %>

    <!--
        <PageMap>
            <DataObject type="thumbnail">
                <Attribute name="title">Virgin River flowing through Zion Canyon at sunset from Kayenta Trail of Zion National Park, Utah Attractions Guide</Attribute>
                <Attribute name="src" value="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Zion-Canyon-Kayenta-Trail-View-and-Virgin-River-Sunset-150x150.jpg"/>
                <Attribute name="width" value="150"/>
                <Attribute name="height" value="150"/>
            </DataObject>
        </PageMap>
    -->
    
    <meta name="description" content="Discover top attractions in Zion National Park, Utah and plan the perfect trip with our savable Zion National Park Attraction Lists for Google Maps" />
    <meta name="attraction_guides" content="zion_national_park_utah" />
    <meta name="usa_attraction_guides" content="zion_national_park_utah" />
    <meta name="usa_destinations" content="zion_national_park_utah" />
    <meta name="usa_destination_guides" content="zion_national_park_utah" />
    <meta name="utah_attraction_guides" content="zion_national_park" />
    <meta name="utah_destinations" content="zion_national_park" />
    <meta name="utah_destination_guides" content="zion_national_park" />
    <meta name="national_park_attraction_guides" content="zion" />
    <meta name="google_maps_list" content="zion_national_park" />
    <meta property="og:title" content="Zion National Park, Utah Attractions Guide">
    <meta property="og:image" content="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Zion-Canyon-Kayenta-Trail-View-and-Virgin-River-Sunset.jpg">
    <meta name="twitter:title" content="Zion National Park, Utah Attractions Guide">
    <meta name="twitter:image" content="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Zion-Canyon-Kayenta-Trail-View-and-Virgin-River-Sunset.jpg">
    <link rel="canonical" href="https://travonga.com/destinations/usa/utah/zion-national-park-attractions-guide">
    <title>Attractions Guide for Zion National Park, Utah</title>
</head>


<body>
    <!-- Navbar -->
    <% let rootPath = '../../'; %>
    <%- include(rootPath + '../partials/navbar') %>



    <!-- Page Heading and Main Section Links -->
    <h1>Zion National Park, Utah<br /><span class="destination-inner-title">Attractions&nbsp;Guide</span></h1>

    <div class="destination-page-section-links">
        <div><a href="#nearby-destinations">Nearby Destinations</a></div>
        <div><a href="#attractions-maps">Google Maps Attractions</a></div>
    </div>

    <!-- In-Page Navigation -->
    <nav>
        <div class="destination-page-nav-8 in-page-nav" id="sticky-header">
            <div><a href="#zion-shuttles">Zion Shuttles</a></div>
            <div><a href="#parus-and-watchman-trails">Pa'rus &amp; Wacthman</a></div>
            <div><a href="#emerald-pools">Emerald Pools</a></div>
            <div><a href="#the-narrows">The Narrows</a></div>
            <div><a href="#angels-landing">Angel's Landing</a></div>
            <div><a href="#observation-point">Observation Point</a></div>
            <div><a href="#east-zion">East Zion</a></div>
            <div><a href="#subway-trail">Subway Trail</a></div>
        </div>
    </nav>

    <div class="nav-spacer">&nbsp;</div>


    
    <!-- Introduction to Zion National Park, Utah Dropdown -->
    <section class="destination-section">
        <h2 class="left-heading destination-introduction-heading">Introduction</h2>
        <p>Zion National Park is centered around the majestic red rock Zion Canyon, which is surrounded by many incredible natural features. The Virgin River flows through this lush canyon which is filled with abundant wildlife such as elk, deer, and turkeys that you're quite likely to see. The canyon walls are up to 0.5 miles (0.8 km) tall and are very impressive.</p>
    </section>


    <!-- Zion Canyon and Pa'rus and Wacthman Trails Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">

                <div class="owl-item">
                    <img alt="Looking up at the Sentinel mountain along Zion Canyon in the heart of Zion National Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-The-Sentinel.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Sentinel</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jmenard48/3139696264/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jmenard48/" rel="noopener noreferrer" target="_blank">
                                    John Menard</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="Three mountains towering above the valley known as the Court of the Patriarchs in Zion National Park" 
                        src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Court-of-the-Patriarchs.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Court of the Patriarchs</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/23155134@N06/14229395532/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/23155134@N06/" rel="noopener noreferrer" target="_blank">
                                    Don Graham</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img alt="View along the Virgin River in Zion Canyon from Zion National park's Pa'rus Trail"
                        src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Parus-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Pa'rus Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/oliverdodd/30329657615/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/oliverdodd/" rel="noopener noreferrer" target="_blank">
                                    oliver.dodd</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Overlooking Zion Canyon near the entrance to Zion National Park from atop The Watchman Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Watchman-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Watchman Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/au_ears/15785573975/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/au_ears/" rel="noopener noreferrer" target="_blank">
                                    au_ears</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Zion Shuttles and Canyon Features Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="zion-shuttles"></a>
        <h2 class="left-heading destination-section-heading">Zion Shuttles &amp; Canyon Features</h2>
        <p>Most of the canyon is closed off to cars, but frequent shuttle buses runs quite deep into the canyon and are a great way to take a scenic tour through the park. The shuttle buses also connect to many trailheads making hiking very convenient within the canyon.</p>
        <p>During your trip to Zion it's highly recommended to take the shuttle ride through the entire canyon. Be sure to sit in the bus's window seat so that you may admire the stunning beauty of this national park and all its picturesque natural features, including the <strong>Sentinel</strong>, <strong>Court of the Patriarchs</strong>, and much more.</p>
    </section>


    <!-- Pa'rus and Watchman Trails Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="parus-and-watchman-trails"></a>
        <h2 class="left-heading destination-section-heading">Pa'rus &amp; Watchman Trails</h2>
        <p>Near the entrance to the national park are two great easy hikes, including the 1.8 mile (2.9 km) one-way <strong>Pa'rus Trail</strong> which takes a pleasant walk along the river. This trail starts from the park's pedestrian entrance and ending at the Canyon Junction shuttle stop.</p>
        <p>You might also consider the 3.2 mile (5.1 km) round-trip <strong>Watchman Trail</strong> which offers spectacular views over part of the Zion Valley, and also starts near the pedestrian entrance to the park (near the main parking lot).</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Zion NP 1 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2052161777"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>


    
    <!-- Emerald Pools, Kayenta Trail, and The Narrows Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Light waterfalls flowing over the red cliffs along the Emerald Pools Trail of Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Emerald-Pools.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Emerald Pools Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/94674772@N03/33601599290/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/94674772@N03/" rel="noopener noreferrer" target="_blank">
                                    Jack Miller</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Picturesque sunset view looking out over Zion Canyon from the Kayenta Trail in Utah's Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Kayenta-Trail.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Kayenta Trail</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                                    Travonga.com</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 3.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Wooden posts along the Riverside Walk pathway along the Virgin River leading to The Narrows of Zion Canyon "
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Riverside-Walk.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Riverside Walk</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/94674772@N03/33602079650/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/94674772@N03/" rel="noopener noreferrer" target="_blank">
                                    Jack Miller</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Fall colored foliage along the Virgin River of Zion National Park's The Narrows beneath tall sheer red canyons walls"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-The-Narrows.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Narrows</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/larry1732/5478617479/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/larry1732/" rel="noopener noreferrer" target="_blank">
                                    Larry Lamsa</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Emerald Pools and Kayenta Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="emerald-pools"></a>
        <h2 class="left-heading destination-section-heading">Emerald Pools &amp; Kayenta Trail</h2>
        <p>One of the park's most popular easy to moderate hiking trails is to combine the Lower and Upper <strong>Emerald Pools</strong> with the <strong>Kayenta Trail</strong>. This hike begins at the The Grotto shuttle stop and ending at the Zion Lodge shuttle stop, with a total hiking distance of about 2.2 miles (3.5 km).</p>
        <p>You can also extend this route to a 3.4 mile (5.5 km) hike by walking further along the river on Emerald Pools Trail to the Court of the Patriarchs shuttle stop. The Kayneta Trail is an excellent place to watch the sunset in Zion.</p>
    </section>


    <!-- The Narrows Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="the-narrows"></a>
        <h2 class="left-heading destination-section-heading">The Narrows</h2>
        <p>Another must-see is the 2 mile (3.2 km) round-trip <strong>Riverside Walk Trail</strong> which winds through the canyon beginning from the last shuttle stop. This easy trail begins at the beautiful Temple of Sinawa formation and ends at the trailhead for The Narrows, another popular hike.</p>
        <p>The hike through <strong>The Narrows</strong> is quite strenuous and travels through a gorgeous canyon following the river, often requiring one to tread through waist-deep water. From the Temple of Sinawa you can hike to Orderville Canyon (5 miles/8 km round-trip) or to Big Springs (9 miles/14.5 km round-trip) or even beyond if you like.</p>
        <p>Just be sure that there's no chance of flash flooding or even rain when you hike this trail as this can be extremely dangerous.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Zion NP 2 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="9156626173"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Angel's Landing and Observation Point Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Stunning view overlooking Zion Canyon from the central Angel's Landing mountain in Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Angels-Landing.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Angel's Landing</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/gregstawicki/30416055331/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/gregstawicki/" rel="noopener noreferrer" target="_blank">
                                    Greg Stawicki</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View overlooking much of Zion Canyon from high above atop Observation Point Trail in Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Observation-Point.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Observation Point</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/tydence/28413422006/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/tydence/" rel="noopener noreferrer" target="_blank">
                                    Tydence Davis</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Alcove below the Zion Canyon cliffs behind a light seasonal waterfall at Weeping Rock"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Weeping-Rock.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Weeping Rock</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/pocheco/27488150695/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/pocheco/" rel="noopener noreferrer" target="_blank">
                                    Sarah Nichols</a><br />
                            <a href="https://creativecommons.org/licenses/by-sa/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY-SA 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- Angel's Landing Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="angels-landing"></a>
        <h2 class="left-heading destination-section-heading">Angel's Landing</h2>
        <p>The most famous challenging hike in Zion is the 4.5 mile (7.2 km) round-trip <strong>Angel's Landing Trail</strong>, which is very physically demanding with an elevation gain of approximately 1,500 feet (450 m). The trail can be a bit frightening for some people, as you'll be hiking along a narrow ridge with steep cliffs on either side and chains for support.</p>
        <p>The panoramic views from the top of Angel's Landing are incredibly breathtaking, as the top of the peak is located high above the center of the canyon. This trail starts and ends at The Grotto shuttle stop via West Rim Trail.</p>
    </section>


    <!-- Observation Point Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="observation-point"></a>
        <h2 class="left-heading destination-section-heading">Observation Point</h2>
        <p>A great alternative or additional challenging hike to Angel's Landing is the 7 mile (11.3 km) round-trip <strong>Observation Point Trail</strong>. This hike has a massive elevation gain of approximately 2,150 feet (650 m) and offers astounding panoramic views from atop Zion Canyon. The trail starts and ends at the Weeping Rock shuttle stop and is accessible via East Rim Trail.</p>
        <p>You might also walk the very short 0.4 mile (0.6 km) round-trip trail here to see the interesting <strong>Weeping Rock</strong>.</p>
    </section>



    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Zion NP 3 -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="1668307951"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <!-- East Zion and Subway Trail Image Carousel -->
    <div class="owl-carousel owl-carousel-standard owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage carousel-slide">

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="View of the massive Great Arch along the walls of Zion Canyon in Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-The-Great-Arch.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Great Arch</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/jsjgeology/8424687427/in/photostream/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/jsjgeology/" rel="noopener noreferrer" target="_blank">
                                    James St. John</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Famous viewpoint overlooking a leg of Zion Canyon from the Canyon Overlook Trail above Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Canyon-Overlook.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Canyon Overlook</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6193268729/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Rounded cone-like Checkerboard Mesa named for the the nautral carved lines in the rock, in Zion National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Checkerboard-Mesa.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Checkerboard Mesa</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/fchelaru/3737547647/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/fchelaru/" rel="noopener noreferrer" target="_blank">
                                    Florin Chelaru</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small pools of water along the subway tunnel-shaped Subway Trail of Zion National Park, accessible only by permit"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-The-Subway.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">The Subway (Permit&nbsp;Only)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6309410786/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

                <div class="owl-item">
                    <img class="owl-lazy" 
                        alt="Small staircase-like waterfalls of Left Fork Creek Falls seen along Zion National Park's Subway Trail"
                        data-src="https://www.travelimager.com/images/utah/Utah-Zion-National-Park-Subway-Trail-Left-Fork-Creek-Falls.jpg" />
                    <p class="owl-item-text">
                        <strong class="owl-item-title">Left Fork Creek Falls (The&nbsp;Subway&nbsp;Trail)</strong><br />
                        <span class="owl-item-credits">
                            <a href="https://www.flickr.com/photos/snowpeak/6426025737/" rel="noopener noreferrer" target="_blank">
                                Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                                    John Fowler</a><br />
                            <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                                CC BY 2.0</a> | <i>Edited</i>
                        </span>
                    </p>
                </div>

            </div>
        </div>
    </div>



    <!-- East Zion Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="east-zion"></a>
        <h2 class="left-heading destination-section-heading">East Zion</h2>
        <h3>Great Arch &amp; Canyon&nbsp;Overlook Trail</h3>
        <p>Driving through the canyon heading east you'll encounter a viewpoint for the massive <strong>Great Arch</strong> before entering a long tunnel. Just after the Great Arch at the end of the tunnel is another amazing hike, the 1 mile (1.6 km) round-trip <strong>Canyon Overlook Trail</strong>. At the end of this trail you're rewarded with stunning views looking out over part of Zion Canyon from high above. The trail is also a fantastic place to enjoy the sunset from.</p>
        <h3>Many Pools Trail</h3>
        <p>Further east along the road is a much lesser-known hike, the beautiful <strong>Many Pools Trail</strong>. This  2.3 mile (3.7 km) round-trip hike travels alongside many small pools of water that sit within a scenic canyon. Much further east be sure to stop to admire the striking <strong>Checkerboard Mesa</strong> mountain.</p>
    </section>


    <!-- Subway Trail Dropdown -->
    <section class="destination-section">
        <a class="anchor" id="subway-trail"></a>
        <h2 class="left-heading destination-section-heading">The Subway Trail</h2>
        <p>If you're visiting Zion you should definitely enter into the lottery to attempt to win permits that allow you to hike the park's most gorgeous trail, the 7 mile (11.3 km) round-trip <strong>Subway Trail</strong>, which is located in a different part of the park.</p>
        <p>This serene trail passes picturesque staircase waterfalls along the lush <strong>Left Fork Creek</strong> canyon. The canyon eventually leads to the subway-like river gorge where you'll find incredible bright pools surrounded by colorful rock walls.</p>
    </section>




    <!-- Google Display Ad - Square -->
    <div align="center" class="center-ad">
        <!-- Zion NP Bottom -->
        <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-4475491996225753"
        data-ad-slot="2144495266"
        data-ad-format="auto"
        data-full-width-responsive="true"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>




    <!-- Google Maps Links -->
    <section class="attraction-lists">
        <a class="anchor" id="attractions-maps"></a>
        <h3 class="section-heading left-heading">Google Maps Attraction&nbsp;Lists</h3>

        <p class="destinations-save-attractions-header">Save Zion National Park Attraction&nbsp;Lists to your Google&nbsp;Maps&nbsp;Account:</p>
        <div class="attraction-links-container block">
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Vx9G42m3uem">&rArr; Top Attractions</a>
            </p>
            <p class="attractions-link">
                <a href="https://goo.gl/maps/Xhp2ouZU4oN2">&rArr; All Attractions</a>
            </p>
        </div>
        <span class="save-attractions-instructions">1. Click Link above while logged into Google account on your device.<br /> 2. Click <strong>Follow</strong>, and the attraction pins will be saved in your Google Maps.</span>
    </section>



    <!-- Nearby Destination and Day-Trips -->
    <section class="nearby-destinations">
        <a class="anchor" id="nearby-destinations"></a>
        <h3 class="section-heading left-heading">Nearby Destinations &amp; Day&#8209;Trips</h3>
        
        <!-- Row 1 -->
        <div class="destinations-flexbox">

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Giant red rock alcoves amongst the cliffs seen along the Middle Fork Taylor Creek Trail of West Zion's Kolob Canyons in Utah"
                        data-src="https://www.travelimager.com/images/utah/Utah-West-Zion-National-Park-Kolob-Canyons-Middle-Fork-Taylor-Creek-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/cedar-breaks-and-kolob-canyons-attractions-guide">
                        Cedar&nbsp;Breaks &amp; Kolob&nbsp;Canyons
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/6302213787/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Beautiful red sunrise colors lighting up the countless hoodoo formations of Bryce Canyon National Park's Sunrise Point"
                        data-src="https://www.travelimager.com/images/utah/Utah-Bryce-Canyon-National-Park-Sunrise-Point.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/bryce-canyon-national-park-attractions-guide">
                        Bryce Canyon National&nbsp;Park
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/58869428@N05/7707900382/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/58869428@N05/" rel="noopener noreferrer" target="_blank">
                            Todd Petrie</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        <img class="lazy destination-image"
                        alt="Picturesque waterfalls of the Coyote Gulch flowing over smooth rock in Utah's Grand Staircase-Escalante National Monument"
                        data-src="https://www.travelimager.com/images/utah/Utah-Grand-Staircase-Escalante-National-Monument-Coyote-Gulch-Waterfalls.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/grand-staircase-escalante-attractions-guide">
                        Grand Staircase Escalante National&nbsp;Monument
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/5984283275/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Stunning pointed Capital Dome formation seen along the road travelling through Utah's Capitol Reef National Park"
                        data-src="https://www.travelimager.com/images/utah/Utah-Capitol-Reef-National-Park-Capitol-Dome.jpg" />
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/utah/capitol-reef-and-goblin-valley-attractions-guide">
                        Capitol Reef National&nbsp;Park &amp; Goblin&nbsp;Valley
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://travonga.com/" rel="noopener noreferrer" target="_blank">
                            Travonga</a><br />
                    <a href="https://creativecommons.org/licenses/by-sa/3.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY-SA 3.0</a> | <i>Edited</i>
                </p>
            </div>

        </div>

        <!-- Row 2 -->
        <div class="destinations-flexbox">

            <div class="destination-container ">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Red glowing canyons of the Colorado River's Horseshoe Bend along Glen Canyon near Page, Arizona and Lake Powell"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-Page-Horseshoe-Bend.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/page-attractions-guide">
                        Page, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/35131425@N08/37429674460/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/35131425@N08/" rel="noopener noreferrer" target="_blank">
                            nieman und nichts</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Iconic Cape Royal viewpoint along the Grand Canyon's North Rim overlooking the massive Wotans Throne butte"
                        data-src="https://www.travelimager.com/images/arizona/Arizona-North-Rim-Grand-Canyon-National-Park-Cape-Royal.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/arizona/north-rim-grand-canyon-attractions-guide">
                        Grand Canyon North&nbsp;Rim, Arizona
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/grand_canyon_nps/9346181170/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/grand_canyon_nps/" rel="noopener noreferrer" target="_blank">
                            Grand Canyon National Park</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/valley-of-fire-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Incredibly beautiful pink wave-like patterns on the rocks of the Fire Wave Trail in Nevada's Valley of Fire at golden hour"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Valley-of-Fire-State-Park-Fire-Wave-Trail.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/valley-of-fire-attractions-guide">
                        Valley of Fire State&nbsp;Park, Nevada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://www.flickr.com/photos/snowpeak/34755886070/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://www.flickr.com/photos/snowpeak/" rel="noopener noreferrer" target="_blank">
                            John Fowler</a><br />
                    <a href="https://creativecommons.org/licenses/by/2.0/legalcode" rel="noopener noreferrer" target="_blank">
                        CC BY 2.0</a> | <i>Edited</i>
                </p>
            </div>

            <div class="destination-container">
                <div class="image-wrapper">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        <img class="lazy destination-image" 
                        alt="Half-size replica of the Eiffel Tower at Paris Casino seen behind the Fountains of Bellagio at night along Las Vegas Strip"
                        data-src="https://www.travelimager.com/images/nevada/Nevada-Las-Vegas-Paris-Casino.jpg"/>
                    </a>
                </div>
                <h4 class="destination-title">
                    <a href="https://travonga.com/destinations/usa/nevada/las-vegas-attractions-guide">
                        Las Vegas, Nevada
                    </a>
                </h4>
                <p class="destination-credits">
                    <a href="https://pixabay.com/en/las-vegas-paris-night-tourism-864881/" rel="noopener noreferrer" target="_blank">
                        Photo</a> by <a href="https://pixabay.com/en/users/skeeze-272447/" rel="noopener noreferrer" target="_blank">
                            skeeze</a><br />
                    <i>Edited</i>
                </p>
            </div>

        </div>

    </section>


    